<body class="page-500-full-page" style="">
	
<div class="row">
	<div class="col-md-12 page-500">
		<div class=" number">
			 <?php echo $this->request; ?>
		</div>
		<div class=" details">
			<h3>Oops! Something went wrong.</h3>
			<p>
				You Dont Have Authorize to Access This Page!<br/>
				Please check your privilege.<br/><br/>
			</p>
		</div>

		<!-- BEGIN COPYRIGHT -->
		<div class="copyright" style="color:white">
			 2017 &copy; Domas- Prabaetch.
		</div>
		<!-- END COPYRIGHT -->
	</div>
</div>

<script>
jQuery(document).ready(function() {
$('body').addClass('page-500-full-page');
App.init();
});
</script>
