<body class="page-404-3" style="">
<div class="page-inner">
	<!--img src="/assets/nextone/skins/default/img/pages/earth.jpg" class="img-responsive" alt=""-->
</div>
<div class="container error-404">
	<h1>500</h1>
	<h2>Sorry, we have a problem.</h2>
	<p>
		 Actually, the page you are looking for does not exist.
	</p>
	<p>
		<a href="/">Return home</a>
		<br>
	</p>

<!-- BEGIN COPYRIGHT -->
<div class="copyright" style="color:white">
	2017 &copy; Domas- Prabaetch.

</div>
<!-- END COPYRIGHT -->

</div>

<script>
jQuery(document).ready(function() {
$('body').addClass('page-404-3');
App.init();
});
</script>
