<div class="page-content">
<!-- BEGIN PAGE HEADER-->
<div class="row">
	<div class="col-md-12">
		<!-- BEGIN PAGE TITLE & BREADCRUMB-->
		<h3 class="page-title">
		Manage Roles <small>PrabaC</small>
		</h3>
		
	<!-- END PAGE TITLE & BREADCRUMB-->
	</div>
</div>
<!-- END PAGE HEADER-->
	
<!-- BEGIN PAGE CONTENT-->
<div class="row">
<div class="col-md-12">
	<!-- START USER TABLE PORTLET-->
	<div class="portlet box grey">
		<div class="portlet-title">
			<div class="caption">
				Menu Datalist
			</div>
			<div class="tools">
			</div>
		</div>
		<div class="portlet-body">
			<div class="form-actions right">
				<a href="/admin/managerole/" id="btn-addnew" class="btn green"><i class="fa fa-plus"></i> <span>Add New</span></a>
				<!-- <a onclick="location = '/kpu/system/manage4users-upload'" class="btn blue delete"><i class="fa fa-upload"></i> <span>Upload</span></a> -->
				<a class="btn red btn-delete"><i class="fa fa-trash-o"></i> <span>Delete</span></a>
			</div>
			<div class="table-responsive">
				<form  method="post" id="form">
				<table class="table table-striped dataTable" id="rolelist">
				<thead>
					<tr>
						<th width="1" style="text-align: center;">
							<input type="checkbox" onclick="checkclick(this)" value=""/>
						</th>
						<th class="">Role Id</th>
						<th class="" style="">Role</th>
						<th class="" style="">Description</th>
						<th class="" style="text-align:right">Action</th>
					</tr>
				</thead>	  
				<tbody>
<?php
foreach ($this->roles as $row) {
?>
					<tr class="nochild">
						<td style="text-align: center;" width="1">
							<input type="checkbox" class="child" name="selected[<?php echo $row['gid']; ?>]" value="<?php echo $row['gid']; ?>" />
						</td>
						<td class=""><?php echo $row['gid']; ?></td>
						<td class=""><?php echo $row['group_name']; ?></td>
						<td class="" style=""><?php echo $row['desc']; ?></td>
						<td class="" style="text-align:right">
							<a class="edit btn blue" data-id='<?php echo $row['gid'];?>' href="/admin/managerole/gid/<?php echo $row['gid'];?>" style="padding:5px 10px;font-size:10px">
								<i class="fa fa-pencil"></i> <span>Edit</span>
							</a>
						</td>
					</tr>
<?php
}
?>
				</tbody>
				</table>
				</form>
			</div>
		</div>
		<!-- static -->
		<div id="static" class="modal fade" tabindex="-1" data-backdrop="static" data-keyboard="false">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
				<h4 class="modal-title">Are you sure to delete selected roles?</h4>
			</div>
			<div class="modal-body" style="padding:0px">
				<div class="alert alert-success alert-dismissable hidden" id="alertinfo2">
					<button type="button" class="close" data-dismiss="alert" aria-hidden="true"></button>
					<span id="alertmsg2"><strong>Warning!</strong> Something went wrong. Please check.</span>
				</div>
				<div style="margin:0px auto;text-align:center" id="processbar2" class="hidden">
				</div>
			</div>
			<div class="modal-footer" style="margin-top:0px">
				<button type="button" data-dismiss="modal" class="btn btn-default">Cancel</button>
				<button type="button" id="deleteconfirm" class="btn red">Yes</button>
			</div>
		</div>
	</div>
</div>
</div> 
<script>
function checkclick(me){
	if($(me).is(':checked')){
		$("input[type='checkbox'].child").attr('checked', true);
		$("input[type='checkbox'].child").parent().addClass('checked');
	}else{
		$("input[type='checkbox'].child").attr('checked', false);
		$("input[type='checkbox'].child").parent().removeClass('checked');
	}
}
jQuery(document).ready(function() {

var UIExtendedModals6 = function () {
    
    return {
        //main function to initiate the module
        init: function () {
        
            // general settings
            $.fn.modal.defaults.spinner = $.fn.modalmanager.defaults.spinner = 
              '<div class="loading-spinner" style="width: 200px; margin-left: -100px;">' +
                '<div class="progress progress-striped active">' +
                  '<div class="progress-bar" style="width: 100%;"></div>' +
                '</div>' +
              '</div>';

            $.fn.modalmanager.defaults.resize = true;
            
            //static demo:
            var $modal2 = $('#static');

			// handle record edit/remove
            $('body').on('click', '.btn-delete', function() {
				var check = $("input[type='checkbox'].child:checked");
				//console.log(check);
				if(check.length>0){
					$modal2.modal();  
				}else{
					alert('Please choose the role to be deleted.');
				}              
            });
			
            $modal2.on('click', 'button#deleteconfirm', function(){
				var check = $("input[type='checkbox'].child:checked");
				//console.log(check);
				var send = "";
				for(var i = 0;i<check.length;i++){
					if(i==0){
						send += $(check[i]).val();
					}else{
						send += ","+$(check[i]).val();
					}
				}
				//console.log(send);
				
				$.ajax({
					url:"/ajax/deleteroles",
					content:'json',
					type:'post',
					data:{data:send},
					beforeSend:function(){
						$('#processbar2').removeClass('hidden');
						$('#alertinfo2').removeClass('alert-success');
						$('#alertinfo2').removeClass('alert-warning');
						$('#alertinfo2').removeClass('alert-danger');
						$('#alertinfo2').removeClass('alert-info');
					},
					complete:function(result){
						$('#processbar2').addClass('hidden');
					},
					success: function(data){
						//console.log(data);
						if(data.result!=undefined){
							if(data.result==true){
								$('#alertinfo2').addClass('alert-success');
								$('#alertmsg2').html("<strong>Success!</strong> "+data.retMsg+"<br>Please wait page will be refresh...");
								setTimeout(function(){location.href="/admin/manageroles"},2000);
							}else{
								$('#alertinfo2').addClass('alert-warning');
								$('#alertmsg2').html("<strong>Failed!</strong> "+data.retMsg);
							}
						}else{
							$('#alertinfo2').addClass('alert-info');
							$('#alertmsg2').html("<strong>Error!</strong> System is busy, please try again.");
						}
						$('#alertinfo2').removeClass('hidden');
					},
					error:function(){
						$('#alertinfo2').addClass('alert-info');
						$('#alertmsg2').html("<strong>Error!</strong> System is busy, please try again.");
						$('#alertinfo2').removeClass('hidden');
					}
				});
            });
        }

    };

}();

UIExtendedModals6.init();
});
</script>
