<style>
.feeds li .col1, .feeds li .col1>.cont>.cont-col2{
float:none;	
}

</style>

<?php
//Zend_Debug::dump($this->getpages); die();
?>

<div class="page-content">
<!-- BEGIN PAGE HEADER-->
<div class="row">
<div class="col-md-12">
	<!-- BEGIN PAGE TITLE & BREADCRUMB-->
	<h3 class="page-title">
		Role Management
	</h3>
	<ul class="page-breadcrumb breadcrumb">
		<li>
			<i class="fa fa-rss"></i>
			<a href="/">PraBAC</a>
			<i class="fa fa-angle-right"></i>
		</li>
		<li>
			<i class="fa fa-cogs"></i>
			<a href="/">Administration</a>
			<i class="fa fa-angle-right"></i>
		</li>
		<li>
			<i class="fa fa-check-square-o"></i>
			<a href="/admin/manageroles">Manage Roles</a>
			<i class="fa fa-angle-right"></i>
		</li>
	</ul>
	<!-- END PAGE TITLE & BREADCRUMB-->
</div>
</div>
<!-- END PAGE HEADER-->

<form method="post" id="form" class="form-horizontal">
<input type="hidden" name="rid" id="rid" value="<?php echo (isset($this->role['gid']))?$this->role['gid']:''; ?>"  />

<div class="row">
<div class="col-md-12 form">
	<div class="alert alert-success alert-dismissable hidden" id="alertinfo">
		<button type="button" class="close" data-dismiss="alert" aria-hidden="true"></button>
		<span id="alertmsg"><strong>Warning!</strong> Something went wrong. Please check.</span>
	</div>
	
	<div style="margin:0px auto;text-align:center" id="processbar" class="hidden">
		<div class="progress progress-striped active" style="margin:0px auto;text-align:center">
			<div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
				<span class="sr-only">
					On Process
				</span>
			</div>
		</div>
		<span style="margin:0px auto;">Please wait...processing request</span>
	</div><br>
	<div class="form-actions right" style="margin-top: 0px;">
		<select onchange="location='/admin/managerole/'+$(this).val();" class="select2_category form-control input-medium" name="gid" id="gid" data-placeholder="Choose Role" tabindex="1"  style="display:inline-block;margin: 5px 0px 5px -10px;">
			<option value=""  >Create New Role</option>
<?php
foreach($this->roles as $k=>$v){
	$select = '';
	if(isset($this->role['gid']) && $v['gid']==$this->role['gid']){
		$select = 'selected=""';
	}
?>
			<option value="gid/<?php echo $v['gid']; ?>" <?php echo $select; ?> ><?php echo $v['group_name']; ?></option>
<?php
}
?>
		</select>
		<a href="#" class="btn green" id="submitBtn"><i class="fa fa-check"></i> Save</a>
		<a href="/admin/manageroles" class="btn default"><i class="fa fa-ban"></i> Cancel</a>
	</div>
</div>
</div><br>

<!-- START ROLE PORTLET  -->
<div class="row">
<div class="col-md-12">
	<div class="portlet box grey">
		<div class="portlet-title">
			<div class="caption">
				ROLE	  
			</div>
			<div class="tools">
				<!--a href="javascript:;" class="reload"></a-->
			</div>
		</div>
		<div class="portlet-body">
			<div>
			<div class="form-group">
				<label class="col-md-3 control-label">Role Name</label>
				<div class="col-md-9">
					<input type="text" class="form-control" placeholder="Role Name" id="role_name" name="role_name" value="<?php echo (isset($this->role['group_name']))?$this->role['group_name']:''; ?>">
				</div>
			</div>
			<div class="form-group">
				<label class="col-md-3 control-label">Description</label>
				<div class="col-md-9">
					<input type="text" class="form-control" placeholder="Description" id="role_description" name="role_description" value="<?php echo (isset($this->role['desc']))?$this->role['desc']:''; ?>">
				</div>
			</div>
			<div class="form-group">
				<label class="col-md-3 control-label">Landing Page</label>
				<div class="col-md-9">
					<input type="text" class="form-control" placeholder="Landing Page" id="landing" name="landing" value="<?php echo (isset($this->role['landing_page']))?$this->role['landing_page']:''; ?>">
				</div>
			</div>
			</div>
		</div>
	</div>
</div>
</div>
<!-- END ROLE PORTLET -->

<!-- START PERMISSIONS PORTLET -->
<div class="row">
<div class="col-md-12">
	<div class="portlet box grey">
		<div class="portlet-title">
			<div class="caption">
				PERMISSIONS	  
			</div>
			<div class="tools">
				<a href="javascript:;" class="collapse"></a>
			</div>
		</div>
		<div class="portlet-body">
		<div class="row">
<?php
$perms = array();
if(isset($this->role['perms'])){
	$perms = unserialize($this->role['perms']);
}
//Zend_Debug::dump($perms);die();
foreach($this->app as $k=>$v){
?>
			<div class="col-md-4">
			<div class="portlet box red">
				<div class="portlet-title">
					<div class="caption">
						<?php echo $k; ?>
					</div>
					<div class="tools">
						<a href="javascript:;" class="collapse"></a>
					</div>
				</div>
				<div class="portlet-body">
				<div class="scroller" style="height: 200px;" data-always-visible="1" data-rail-visible="0">
					<ul class="feeds">
				<?php
					foreach($v as $k2=>$v2){
						$check = '';
						if(isset($perms[$k]) && in_array($v2,$perms[$k])){
							$check = 'checked="checked"';
						}
				?>
									<li>
						<div class="col1">
							<div class="cont">
								<div class="cont-col1">
									<div class="label label-sm <?php echo ($check=='')?'label-default':'label-success'; ?>">
										<input onclick="changeCheck(this)" type="checkbox" class="liChild controller<?php echo $k; ?>" id="<?php echo $k.'_'.$v2; ?>" name="perm[<?php echo $k; ?>][<?php echo $v2; ?>]" value="1" <?php echo $check; ?>/>
									</div>
								</div>
								<div class="cont-col2">
									<div class="desc">
										 <?php echo $v2; ?>/
									</div>
								</div>
							</div>
						</div>
					</li>
<?php
	}
?>
					</ul>
				</div>			
				</div>
			</div>
			</div>
<?php
}
?>
		</div>
		</div>
	</div>
</div>
</div>
<!-- END PERMISSIONS PORTLET -->

<!-- START MENU PORTLET  -->
<div class="row">
<div class="col-md-12">
	<div class="portlet box grey">
		<div class="portlet-title">
			<div class="caption">
				MODIFY MENUS	  
			</div>
			<div class="tools">
			</div>
		</div>
		<div class="portlet-body">
		<div class="scroller" style="height: 300px;" data-always-visible="1" data-rail-visible="0">
			<div class="dd" id="nestable_list_3">
				<ol class="dd-list menulist">
<?php
foreach($this->menus as $k=>$v){
	if($v['is_active']=='1'){
		$check = '';
		if(in_array($v['id'],$this->activemenus)){
			$check = 'checked="checked"';
		}
?>
					<li class="dd-item dd3-item" data-id="<?php echo $v['id']; ?>">
						<div class="dd-handle dd3-handle">
							<input type="checkbox" name="menus[<?php echo $v['id']; ?>]" value="<?php echo $v['id']; ?>" <?php echo $check; ?>>
						</div>
						<div class="dd3-content">
							<b><?php echo $v['menu_name']; ?></b> [<?php echo $v['menu_link']; ?>]
						</div>
<?php
		if(isset($v['child']) && count($v['child'])>0){
?>
						<ol class="dd-list">
<?php
			foreach($v['child'] as $k2=>$v2){
				if($v2['is_active']=='1'){
					$check2 = '';
					if(in_array($v2['id'],$this->activemenus)){
						$check2 = 'checked="checked"';
					}
?>
							<li class="dd-item dd3-item" data-id="<?php echo $v2['id']; ?>">
								<div class="dd-handle dd3-handle">
									<input type="checkbox" name="menus[<?php echo $v2['id']; ?>]" value="<?php echo $v2['id']; ?>" <?php echo $check2; ?>>
								</div>
								<div class="dd3-content">
									<b><?php echo $v2['menu_name']; ?></b> [<?php echo $v2['menu_link']; ?>]
								</div>
<?php
				if(isset($v2['child']) && count($v2['child'])>0){
?>
								<ol class="dd-list">
<?php
					foreach($v2['child'] as $k3=>$v3){
						if($v3['is_active']=='1'){
							$check3 = '';
							if(in_array($v3['id'],$this->activemenus)){
								$check3 = 'checked="checked"';
							}
?>
									<li class="dd-item dd3-item" data-id="<?php echo $v3['id']; ?>">
										<div class="dd-handle dd3-handle">
											<input type="checkbox" name="menus[<?php echo $v3['id']; ?>]" value="<?php echo $v3['id']; ?>" <?php echo $check3; ?>>
										</div>
										<div class="dd3-content">
											<b><?php echo $v3['menu_name']; ?></b> [<?php echo $v3['menu_link']; ?>]
										</div>
									</li>
<?php
				}
			}
?>
								</ol>
<?php
		}
?>
							</li>
<?php
				}
			}
?>
						</ol>
<?php
		}
?>
					</li>
<?php
	}
}
?>
				</ol>
			</div>
		</div>
		</div>
	</div>
</div>
</div>
<!-- END MENU PORTLET -->
<div class="row">
<div class="col-md-12">
	<div class="portlet box grey">
		<div class="portlet-title">
			<div class="caption">
				PAGES	  
			</div>
			<div class="tools">
				<!--a href="javascript:;" class="reload"></a-->
			</div>
		</div>
		<div class="portlet-body">
				<div style="padding:20px" class="form-group">
					
											
										<select  name="get_pages[]" id="get_pages" class="form-control" placeholder="Get Api" multiple>
										<?php  foreach($this->pages as $k=>$v){
												$sel="";
												if(in_array($v['id'], $this->getpages)) {$sel="selected";}
												echo "<option $sel value='".$v['id']."'>".$v['id']."-".$v['name_alias']."</option>";	
												
										
										
											
										} ?>
										</select>
											
										
						
						
					</div>
		</div>
	</div>
</div>
</div>		
</form>

</div>

<script>
function changeCheck(me){
	
	//var check = $(me).prop('checked');
	//if(check){
		//$(me).parent().parent().parent().removeClass('label-default');
		//$(me).parent().parent().parent().addClass('label-success');
	//}else{
		//$(me).parent().parent().parent().removeClass('label-success');
		//$(me).parent().parent().parent().addClass('label-default');
	//}
}

$('#submitBtn').click(function(e){
	e.preventDefault();
	//alert("s");
	$.ajax({
		url:"/ajax/updaterole/rid/"+$('#rid').val(),
		content:'json',
		type:'post',
		data:$('#form').serialize(),
		beforeSend:function(){
			$('#alertinfo').addClass('hidden');
			$('#processbar').removeClass('hidden');
			$('body,html').animate({
				scrollTop: $('.page-title').offset().top
			}, 500);
			$('#processbar').removeClass('hidden');
			$('#alertinfo').removeClass('alert-success');
			$('#alertinfo').removeClass('alert-warning');
			$('#alertinfo').removeClass('alert-danger');
			$('#alertinfo').removeClass('alert-info');
		},
		complete:function(result){
			$('#processbar').addClass('hidden');
		},
		success: function(data){
			//console.log(data);
			if(data.result!=undefined){
				if(data.result==true){
					$('#alertinfo').addClass('alert-success');
					if(data.gid!=undefined){
						$('#alertmsg').html("<strong>Success!</strong> "+data.retMsg+"<br>Please wait the page will be refresh....");
						setTimeout(function(){location.href="/admin/managerole/"+gid},4000);
					}else{
						$('#alertmsg').html("<strong>Success!</strong> "+data.retMsg);
					}
				}else{
					$('#alertinfo').addClass('alert-warning');
					$('#alertmsg').html("<strong>Failed!</strong> "+data.retMsg);
				}
			}else{
				$('#alertinfo').addClass('alert-info');
				$('#alertmsg').html("<strong>Error!</strong> System is busy, please try again.");
			}
			$('#alertinfo').removeClass('hidden');
			setTimeout(function(){$('#alertinfo').addClass('hidden');},4000);
		},
		error:function(){
			$('#alertinfo').addClass('alert-info');
			$('#alertmsg').html("<strong>Error!</strong> System is busy, please try again.");
			$('#alertinfo').removeClass('hidden');
			setTimeout(function(){$('#alertinfo').addClass('hidden');},4000);
		}
	});
});
	
jQuery(document).ready(function() {

$('#get_pages').select2();
});
</script>
