<?php
	//die('www');
?>
<div class="page-content">

<!-- BEGIN PAGE HEADER-->
<div class="row">
	<div class="col-md-12">
		<!-- BEGIN PAGE TITLE & BREADCRUMB-->
		<h3 class="page-title">
		Users Management <small>Prabac</small>
		</h3>
	
		<!-- END PAGE TITLE & BREADCRUMB-->
	</div>
</div>
<!-- END PAGE HEADER-->

<div class="row" style="margin-bottom:15px">
	<div class="col-md-12">
		<h4>User Filter</h4>
		<form class="form-inline" role="form">
			<div class="form-group">
				<label class="sr-only" for="filteruname">User Name</label>
				<div class="input-icon">
					<i class="fa fa-user"></i>
					<input type="text" class="form-control" id="filteruname" name="filteruname" placeholder="User Name">
				</div>
			</div>
			<div class="form-group">
				<label class="sr-only" for="filterfullname">Full Name</label>
				<div class="input-icon">
					<i class="fa fa-user"></i>
					<input type="text" class="form-control" id="filterfullname" name="filterfullname" placeholder="Full Name">
				</div>
			</div>
			<div class="form-group">
				<label class="sr-only" for="filteremail">Email</label>
				<div class="input-icon">
					<i class="fa fa-envelope"></i>
					<input type="text" class="form-control" id="filteremail" name="filteremail" placeholder="Email">
				</div>
			</div>
			<!--button type="submit" class="btn btn-default">Filter</button-->
		</form>
		<br>
		<form class="form-inline" role="form">
			<div class="form-group">
				<label class="sr-only" for="filterubis">Ubis</label>
				<div class="input-icon">
					<i class="fa fa-circle-o"></i>
					<input type="text" class="form-control" id="filterubis" name="filterubis" placeholder="Ubis">
				</div>
			</div>
			<div class="form-group">
				<label class="sr-only" for="filtersub_ubis">Sub Ubis</label>
				<div class="input-icon">
					<i class="fa fa-dot-circle-o"></i>
					<input type="text" class="form-control" id="filtersub_ubis" name="filtersub_ubis" placeholder="Sub Ubis">
				</div>
			</div>
			<!--div class="form-group">
				<label class="sr-only" for="position">Position</label>
				<div class="input-icon">
					<i class="fa fa-circle"></i>
					<input type="text" class="form-control" id="position" name="position" placeholder="Position">
				</div>
			</div-->
			<!--button type="submit" class="btn btn-default">Filter</button-->
		</form>
	</div>
</div>

<div class="row">
	<div class="col-md-12">
	<!-- BEGIN EXAMPLE TABLE PORTLET-->
	<div class="portlet box grey">
		<div class="portlet-title">
			<div class="caption">
				<i class="fa fa-edit"></i>User Datatable
			</div>
			<div class="actions">
				<a href="#" class="btn green" data-target="static2" data-toggle="modal" id="btn-addnew"><i class="fa fa-plus"></i> Add New</a>
				<a href="#" class="btn blue reload"><i class="fa fa-refresh"></i> Reload</a>
				<div class="btn-group">
					<a class="btn default" href="#" data-toggle="dropdown">
					Columns <i class="fa fa-angle-down"></i>
					</a>
					<div id="sample_2_column_toggler" class="dropdown-menu hold-on-click dropdown-checkboxes pull-right">
						<label><input type="checkbox" checked data-column="0">No</label>
						<label><input type="checkbox" checked data-column="1">ID</label>
						<label><input type="checkbox" checked data-column="7">Position</label>
						<label><input type="checkbox" checked data-column="8">Mobile Phone</label>
						<label><input type="checkbox" checked data-column="9">Fixed Phone</label>
					</div>
				</div>
			</div>
			<!--div class="tools">
				<a href="javascript:;" class="reload"></a>
			</div-->
		</div>
		<div class="portlet-body">
			
			<table class="table table-striped table-bordered table-hover" id="user_table">
			<thead>
			<tr>
				<th>
					 No
				</th>
				<th>
					 ID
				</th>
				<th>
					 User Name
				</th>
				<th>
					 Full Name
				</th>
				<th>
					 Email
				</th>
				<th>
					 Ubis
				</th>
				<th>
					 Sub Ubis
				</th>
				<th>
					 Position
				</th>
				<th>
					 Mobile Phone
				</th>
				<th>
					 Fixed Phone
				</th>
				<th>
					 
				</th>
			</tr>
			</thead>
			<tbody>
			</tbody>
			</table>
			
			<!-- ajax -->
			<div id="ajax-modal" class="modal container fade modal-scroll modal-overflow in" tabindex="-1">
			</div>
			<!-- static -->
			<div id="static" class="modal fade" tabindex="-1" data-backdrop="static" data-keyboard="false">
				<div class="modal-body" style="padding:0px">
				<div class="portlet box red" style="margin:0px">
					<div class="portlet-title">
						<div class="caption">
							Are you sure to delete this user?
						</div>
						<div class="tools">
						</div>
					</div>
					<div class="portlet-body">
						<div class="alert alert-success alert-dismissable hidden" id="alertinfo2">
							<button type="button" class="close" data-dismiss="alert" aria-hidden="true"></button>
							<span id="alertmsg2"><strong>Warning!</strong> Something went wrong. Please check.</span>
						</div>
						
						<div style="margin:0px auto;text-align:center" id="processbar2" class="hidden">
							<div class="progress progress-striped active" style="margin:0px auto;text-align:center">
								<div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
									<span class="sr-only">
										On Process
									</span>
								</div>
							</div>
							<span style="margin:0px auto;">Please wait...processing request</span>
							<br>
						</div>
					<table>
						<tr>
							<td>
								 ID
							</td>
							<td>
								 :
							</td>
							<td id="static_id">
								 
							</td>
						</tr>
						<tr>
							<td>
								 User Name
							</td>
							<td>
								 :
							</td>
							<td id="static_uname">
								 
							</td>
						</tr>
						<tr>
							<td>
								 Full Name
							</td>
							<td>
								 :
							</td>
							<td id="static_fullname">
								 
							</td>
						</tr>
						<tr>
							<td>
								 Email
							</td>
							<td>
								 :
							</td>
							<td id="static_email">
								 
							</td>
						</tr>
						<tr>
							<td>
								 Ubis
							</td>
							<td>
								 :
							</td>
							<td id="static_ubis">
								 
							</td>
						</tr>
						<tr>
							<td>
								 Sub Ubis
							</td>
							<td>
								 :
							</td>
							<td id="static_sububis">
								 
							</td>
						</tr>
						<tr>
							<td>
								 Position
							</td>
							<td>
								 :
							</td>
							<td id="static_position">
								 
							</td>
						</tr>
						<tr>
							<td>
								 Mobile Phone
							</td>
							<td>
								 :
							</td>
							<td id="static_mobilephone">
								 
							</td>
						</tr>
						<tr>
							<td>
								 Fixed Phone
							</td>
							<td>
								 :
							</td>
							<td id="static_fixedphone">
								 
							</td>
						</tr>
					</table>
					</div>
				</div>
				</div>
				<div class="modal-footer" style="margin-top:0px">
					<button type="button" data-dismiss="modal" class="btn btn-default">Cancel</button>
					<button type="button" id="deleteconfirm" class="btn red">Yes</button>
				</div>
			</div>
			<!-- static -->
			<div id="static2" class="modal container fade modal-scroll modal-overflow in" tabindex="-1" data-backdrop="static" data-keyboard="false">
				<div class="modal-body" style="padding:5px">
					<div class="portlet box green" style="margin:0px">
						<div class="portlet-title">
							<div class="caption">
								Add new user
							</div>
							 <div class="actions">
								 <a href="#" class="btn reload" data-dismiss="modal"><i class="fa fa-times"></i></a>
							 </div>
							<div class="tools">
							</div>
						</div>
						<div class="portlet-body" style="padding:15px">
							<form action="" class="form-horizontal" id="edituser" method="post">
							<input type="hidden" name="id" value="" />
							<input type="hidden" name="pid" value="" />
							<!-- BEGIN FORM-->
							<div class="form-body">
								<div class="alert alert-success alert-dismissable hidden" id="alertinfo">
									<button type="button" class="close" data-dismiss="alert" aria-hidden="true"></button>
									<span id="alertmsg"><strong>Warning!</strong> Something went wrong. Please check.</span>
								</div>
								
								<div style="margin:0px auto;text-align:center" id="processbar" class="hidden">
									<div class="progress progress-striped active" style="margin:0px auto;text-align:center">
										<div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
											<span class="sr-only">
												On Process
											</span>
										</div>
									</div>
									<span style="margin:0px auto;">Please wait...processing request</span>
								</div>
								
								<h3 class="form-section" id="formtitle">User Info</h3>
								
								<div class="row" style="padding:0px 15px;">
									<div class="col-md-5">
										<div class="form-group">
											<label for="uname">User Name</label>
											<input type="text" name="uname" id="uname" class="form-control" placeholder="User Name" value="<?php echo (isset($this->data['uname'])?$this->data['uname']:'') ?>">
											<span class="help-block">
												<span class="label label-danger"><i class="fa fa-warning"> </i>This is inline help</span>
											</span>
										</div>
									</div>
									<div class="col-md-offset-1 col-md-5">
										<div class="form-group">
											<label for="fullname">Full Name</label>
											<input type="text" name="fullname" id="fullname" class="form-control" placeholder="Full Name" value="<?php echo (isset($this->data['fullname'])?$this->data['fullname']:'') ?>">
											<span class="help-block">
												<span class="label label-danger"><i class="fa fa-warning"> </i>This is inline help</span>
											</span>
										</div>
									</div>
								</div>
								<div class="row" style="padding:0px 15px;">
									<div class="col-md-5">
										<div class="form-group">
											<label for="pass">Password [NonLDAP]</label>
											<input type="password" name="pass" id="pass" class="form-control" placeholder="Password" value="<?php echo (isset($this->data['upassword'])?$this->data['upassword']:'') ?>">
											<span class="help-block">
												<span class="label label-danger"><i class="fa fa-warning"> </i>This is inline help</span>
											</span>
										</div>
									</div>
									<div class="col-md-offset-1 col-md-5">
										<div class="form-group">
											<label for="position">Position</label>
											<input type="text" name="position" id="position" class="form-control" placeholder="Position" value="<?php echo (isset($this->data['jabatan'])?$this->data['jabatan']:'') ?>">
											<span class="help-block">
												<span class="label label-danger"><i class="fa fa-warning"> </i>This is inline help</span>
											</span>
										</div>
									</div>
								</div>
								<div class="row" style="padding:0px 15px;">
									<div class="col-md-5">
										<div class="form-group">
											<label for="email">Email</label>
											<input type="email" name="email" id="email" class="form-control" placeholder="Email" value="<?php echo (isset($this->data['email'])?$this->data['email']:'') ?>">
											<span class="help-block">
												<span class="label label-danger"><i class="fa fa-warning"> </i>This is inline help</span>
											</span>
										</div>
									</div>
									<div class="col-md-offset-1 col-md-5">
										<div class="form-group">
											<label for="mobile">Mobile Phone</label>
											<input type="text" name="mobile" id="mobile" class="form-control" placeholder="Mobile Phone" value="<?php echo (isset($this->data['mobile_phone'])?$this->data['mobile_phone']:'') ?>">
											<span class="help-block">
												<span class="label label-danger"><i class="fa fa-warning"> </i>This is inline help</span>
											</span>
										</div>
									</div>
								</div>
								<div class="row" style="padding:0px 15px;">
									<div class="col-md-5">
										<div class="form-group">
											<label for="flexi">Flexi</label>
											<input type="text" name="flexi" id="flexi" class="form-control" placeholder="Flexi" value="<?php echo (isset($this->data['fixed_phone'])?$this->data['fixed_phone']:'') ?>">
											<span class="help-block">
												<span class="label label-danger"><i class="fa fa-warning"> </i>This is inline help</span>
											</span>
										</div>
									</div>
								   <div class="col-md-offset-1 col-md-5">
									
									</div>
								</div>
								<div class="row" style="padding:0px 15px;">
									<div class="col-md-5">
										<div class="form-group">
											<label for="ubis">Business Unit (UBIS)</label>
											<select onchange="changeSubUbis(this)" class="select2_category form-control" name="ubis" id="ubis" data-placeholder="Choose Business Unit" tabindex="1">
<?php
foreach($this->ubisarr as $k=>$v){
?>
												<option value="<?php echo $v['id']; ?>" ><?php echo $v['name']; ?></option>
<?php
}
?>
											</select>
											<span class="help-block">
												<span class="label label-danger"><i class="fa fa-warning"> </i>This is inline help</span>
											</span>
										</div>
									</div>
									<div class="col-md-offset-1 col-md-5">
										<div class="form-group">
											<label for="sububis">Sub Business Unit (SubUBIS)</label>
											<select class="select2_category form-control" name="sububis" id="sububis" data-placeholder="Choose Sub Business Unit" tabindex="1">
												<option value="" >none</option>
<?php
foreach($this->sububisarr as $k=>$v){
?>
												<option value="<?php echo $v['id']; ?>" ><?php echo $v['name']; ?></option>
<?php
}
?>
											</select>
											<span class="help-block">
												<span class="label label-danger"><i class="fa fa-warning"> </i>This is inline help</span>
											</span>
										</div>
									</div>
								</div>
								<div class="row" style="padding:0px 15px;">
									<div class="col-md-5">
										<div class="form-group">
										   <label for="isldap">LDAP</label>
										   <div  style="display:block">
												<input class="make-switch" data-on="success" data-off="danger" id="isldap" type="checkbox" name="isldap" value="isldap" class="toggle" <?php echo ($this->data['isldap']=='1'?'checked':'') ?>>
										   </div>
											<span class="help-block">
												<span class="label label-danger"><i class="fa fa-warning"> </i>This is inline help</span>
											</span>
									   </div>
								   </div>
								</div>
								<div class="row" style="padding:0px 15px;">
									<div class="col-md-5">
										<div class="form-group">
											<label for="">Modify Roles</label>
											<select name="roles[]" class="multi-select" multiple="" id="my_multi_select3" onchange="rolesChange()">
<?php
foreach($this->roles as $k=>$v){
?>
												<option class="roleslist" value="<?php echo $v['gid']; ?>" name="roles[<?php echo $v['gid']; ?>]" ><?php echo $v['group_name']; ?></option>
<?php
}
?>
											</select>
											<span class="help-block">
												<span class="label label-danger"><i class="fa fa-warning"> </i>This is inline help</span>
											</span>
										</div>
									</div>
									<div class="col-md-offset-1 col-md-5">
										<div class="form-group">
											<label for="mainrole">Main Role</label>
											<select class="select2_category form-control" name="mainrole" id="mainrole" data-placeholder="Choose Main Role" tabindex="1">
												<option value="0-selection" id="role0-selection">none</option>
											</select>
											<span class="help-block">
												<span class="label label-danger"><i class="fa fa-warning"> </i>This is inline help</span>
											</span>
										</div>
												<div class="form-group last">
											<label for="app">Application</label>
											<select class="select2_category form-control" name="apps"  data-placeholder="Choose App" tabindex="1">
												<?php 
												foreach ($this->apps as $v) {
													echo '<option value="'.$v.'">'.$v.'</option>';

												}

												?>
											</select>
											<span class="help-block">
												<span class="label label-danger"><i class="fa fa-warning"> </i>This is inline help</span>
											</span>
										</div>
									</div>
								</div>
								<!--/row-->
							</div>
							<div class="form-actions" style="margin:0px">
							   <div class="row">
								   <div class="col-md-6">
									   <div class="col-md-offset-3 col-md-9">
										   <button type="submit" class="btn green">Submit</button>
										   <button type="button" type="button" data-dismiss="modal" class="btn default">Cancel</button>
									   </div>
								   </div>
								   <div class="col-md-6">
								   </div>
							   </div>
							</div>
							</form>
							<!-- END FORM-->
						</div>
					</div>
				</div>
				<!--div class="modal-footer">
					<button type="button" data-dismiss="modal" class="btn btn-default">Cancel</button>
					<button type="button" data-dismiss="modal" class="btn green">Submit</button>
				</div-->
			</div>
		</div>
	</div>
	<!-- END EXAMPLE TABLE PORTLET-->
	</div>
</div>

</div>

<script>
	
function changeSubUbis(me){
	var $me = $(me);
	var $val = $me.val();
	//alert($val);
	var $element = $('#sububis');
	var next = $element.next('span.help-block'); 
	
	$.ajax({
		url:"/ajax/getsububis/id/"+$val+"/sub/<?php echo $this->data['sub_ubis_id'];?>",
		content:'json',
		type:'get',
		beforeSend:function(){
			$element.hide();
			$(next).children('span.label').html('<i class="fa fa-coffee"></i>&nbsp;Retrieve data...');
			$($element).next().slideDown();
		},
		complete:function(result){
					
		},
		success: function(data){
			$($element).next().hide();
			$element.html(data);
			$element.slideDown();
		},
		error:function(){
			$(next).children('span.label').html('<i class="fa fa-warning"></i>&nbsp;Failed to retrieve data.');
		}
	});
}

function rolesChange(){
	var $element = $('#mainrole');
	var next = $element.next('span.help-block'); 
	$element.hide();
	$(next).children('span.label').html('<i class="fa fa-coffee"></i>&nbsp;Retrieve data...');
	$($element).next().slideDown();

	var list = $('.ms-selection').find('li:visible');
	//console.log(list);
	var html = "<option value='0-selection' id='role0-selection'>none</option>";
	for(var i = 0; i<list.length; i++){
		html += "<option value='"+list[i].id+"' id='role"+list[i].id+"'>"+list[i].innerText+"</option>";
	}
	$($element).next().hide();
	$element.html(html);
	$element.slideDown();
}

jQuery(document).ready(function() {

var TableAjax4 = function () {

    return {

        //main function to initiate the module
        init: function () {
            
            if (!jQuery().dataTable) {
                return;
            }

            // begin first table	
            var oTable = $('#user_table').dataTable({
               // "sDom" : "<'row'<'col-md-6 col-sm-12'l><'col-md-6 col-sm-12'f>r>t<'row'<'col-md-5 col-sm-12'i><'col-md-7 col-sm-12'p>>", //default layout without horizontal scroll(remove this setting to enable horizontal scroll for the table)
                "aLengthMenu": [
                    [10,50, 200, 500 -1],
                    [10,50, 200, 500, "All"] // change per page values here
                ],
                "bProcessing": true,
                "bServerSide": true,
                "sAjaxSource": "/ajax/table1/app/<?php echo $this->varams['app'];?>",
                // set the initial value
                "iDisplayLength": 50,
                "sPaginationType": "bootstrap_full_number",
                "oLanguage": {
                    "sProcessing": '<i class="fa fa-coffee"></i>&nbsp;Please wait...',
                    "sLengthMenu": "_MENU_ records",
                    "oPaginate": {
                        "sPrevious": "Prev",
                        "sNext": "Next"
                    },
			"sSearch": "Search all columns:"
                },
                "aoColumnDefs": [{
                        'bSortable': false,
                        'aTargets': [0,7]
                    }
                ]
            });

            jQuery('#user_table_wrapper .dataTables_filter input').addClass("form-control input-medium"); // modify table search input
            jQuery('#user_table_wrapper .dataTables_length select').addClass("form-control input-small"); // modify table per page dropdown

            // handle record edit/remove
            //$('body').on('click', '#graph_table_wrapper .btn-graph', function() {
            //    alert('Edit record with id:' + $(this).attr("data-id"));
            //});

		
		$("input#filterid").keyup( function () {
			/* Filter on the column (the index) of this element */
			oTable.fnFilter( this.value, 1 );
		} );
		$("input#filteruname").keyup( function () {
			/* Filter on the column (the index) of this element */
			oTable.fnFilter( this.value, 2 );
		} );
		$("input#filterfullname").keyup( function () {
			/* Filter on the column (the index) of this element */
			oTable.fnFilter( this.value, 3 );
		} );
		$("input#filteremail").keyup( function () {
			/* Filter on the column (the index) of this element */
			oTable.fnFilter( this.value, 4 );
		} );
		$("input#filterubis").keyup( function () {
			/* Filter on the column (the index) of this element */
			oTable.fnFilter( this.value, 5 );
		} );
		$("input#filtersub_ubis").keyup( function () {
			/* Filter on the column (the index) of this element */
			oTable.fnFilter( this.value, 6 );
		} );
		$("input#filterposition").keyup( function () {
			/* Filter on the column (the index) of this element */
			oTable.fnFilter( this.value, 7 );
		} );
		$("a.reload").click( function () {
			/* Filter on the column (the index) of this element */
			oTable.fnDraw();
		} );

        $('#sample_2_column_toggler input[type="checkbox"]').change(function(){
            /* Get the DataTables object again - this is not a recreation, just a get of the object */
            var iCol = parseInt($(this).attr("data-column"));
            var bVis = oTable.fnSettings().aoColumns[iCol].bVisible;
            oTable.fnSetColumnVis(iCol, (bVis ? false : true));
        });


        }

    };

}();
	
var UIExtendedModals3 = function () {
    
    return {
        //main function to initiate the module
        init: function () {
        
            // general settings
         
            $.fn.modal.defaults.spinner = $.fn.modalmanager.defaults.spinner = 
              '<div class="loading-spinner" style="width: 200px; margin-left: -100px;">' +
                '<div class="progress progress-striped active">' +
                  '<div class="progress-bar" style="width: 100%;"></div>' +
                '</div>' +
              '</div>';

            $.fn.modalmanager.defaults.resize = true;
            //static demo:
            var $modal2 = $('#static');

			// handle record edit/remove
            $('body').on('click', '#user_table_wrapper .btn-delete', function() {
              var id =  $(this).attr("data-id");
              var uname =  $(this).attr("data-uname");
              var fullname =  $(this).attr("data-fullname");
              var email =  $(this).attr("data-email");
              var ubis =  $(this).attr("data-ubis");
              var sububis =  $(this).attr("data-sububis");
              var position =  $(this).attr("data-position");
              var mobilephone =  $(this).attr("data-mobilephone");
              var fixedphone =  $(this).attr("data-fixedphone");
              
              if($modal2.find('td#static_id')!=undefined){
                $modal2.find('td#static_id').html(id);
              }
              
              if($modal2.find('td#static_uname')!=undefined){
                $modal2.find('td#static_uname').html(uname);
              }
              
              if($modal2.find('td#static_fullname')!=undefined){
                $modal2.find('td#static_fullname').html(fullname);
              }
              
              if($modal2.find('td#static_email')!=undefined){
                $modal2.find('td#static_email').html(email);
              }
              
              if($modal2.find('td#static_ubis')!=undefined){
                $modal2.find('td#static_ubis').html(ubis);
              }
              
              if($modal2.find('td#static_sububis')!=undefined){
                $modal2.find('td#static_sububis').html(sububis);
              }
              
              if($modal2.find('td#static_position')!=undefined){
                $modal2.find('td#static_position').html(position);
              }
              
              if($modal2.find('td#static_mobilephone')!=undefined){
                $modal2.find('td#static_mobilephone').html(mobilephone);
              }
              
              if($modal2.find('td#static_fixedphone')!=undefined){
                $modal2.find('td#static_fixedphone').html(fixedphone);
              }
              $modal2.modal();                
            });
			
            $modal2.on('click', 'button#deleteconfirm', function(){
				var id = $modal2.find('td#static_id').html();
				//alert(id);
				$.ajax({
					url:"/ajax/deleteuser",
					content:'json',
					type:'post',
					data:{uid:id},
					beforeSend:function(){
						$('#processbar2').removeClass('hidden');
						$('#alertinfo2').removeClass('alert-success');
						$('#alertinfo2').removeClass('alert-warning');
						$('#alertinfo2').removeClass('alert-danger');
						$('#alertinfo2').removeClass('alert-info');
					},
					complete:function(result){
						$('#processbar2').addClass('hidden');
					},
					success: function(data){
						//console.log(data);
						if(data.result!=undefined){
							if(data.result==true){
								$('#alertinfo2').addClass('alert-success');
								$('#alertmsg2').html("<strong>Success!</strong> "+data.retMsg);
								$("a.reload").click();
								$modal2.modal('hide');
							}else{
								$('#alertinfo2').addClass('alert-warning');
								$('#alertmsg2').html("<strong>Failed!</strong> "+data.retMsg);
							}
						}else{
							$('#alertinfo2').addClass('alert-info');
							$('#alertmsg2').html("<strong>Error!</strong> System is busy, please try again.");
						}
						$('#alertinfo2').removeClass('hidden');
					},
					error:function(){
						$('#alertinfo2').addClass('alert-info');
						$('#alertmsg2').html("<strong>Error!</strong> System is busy, please try again.");
						$('#alertinfo2').removeClass('hidden');
					}
				});
            });
            
            var $modal3 = $('#static2');

			// handle record edit/remove
            $('body').on('click', '#btn-addnew', function() {
              $modal3.modal();   
            });
            
            $modal3.on('hide.bs.modal', function (e) {
				$('#processbar').addClass('hidden');   
				$('#alertinfo').addClass('hidden'); 
			});
            
            $modal3.on('hidden.bs.modal', function (e) {
				$('#processbar').addClass('hidden');   
				$('#alertinfo').addClass('hidden');
			});
        }

    };

}();

var FormComponents3 = function () {

    var handleMultiSelect = function () {

        $('#my_multi_select3').multiSelect();
    }

    return {
        //main function to initiate the module
        init: function () {
            handleMultiSelect();
        }
    };

}();
	
var AddUser = function () {

	var handleAdd = function() {
		
		$('form#edituser').validate({
	            //errorElement: 'span', //default input error message container
	            //errorClass: 'help-block', // default input error message class
	            focusInvalid: false, // do not focus the last invalid input
	            rules: {
	                uname: {
	                    required: true
	                },
	                fullname: {
	                    required: true
	                },
	                pass: {
	                    required: true
	                },
	                email: {
	                    email: true
	                }
	            },

	            messages: {
					
	            },

	            invalidHandler: function (event, validator) { //display error alert on form submit   
	                //$('.alert-danger', $('.login-form')).show();
	                //console.log(event);
	                //console.log(validator);
	                
					//$('span.help-block').show();
					$('span.help-block').hide();
	                var errorlist = validator.errorList;
	                if(errorlist.length>0){
						for(var i = 0; i<errorlist.length; i++){
							//console.log(errorlist[i].element);
							var el = errorlist[i].element; 
							var next = $(el).next('span.help-block'); 
							$(next).slideDown();
						}
						$('.modal-scrollable:visible').animate({
							scrollTop: $(el).offset().top
						}, 800);
					}
	            },

	            highlight: function (element) { // hightlight error inputs
	                $(element)
	                    .closest('.form-group').addClass('has-error'); // set error class to the control group
	            },

	            success: function (label) {
	                label.closest('.form-group').removeClass('has-error');
	                //label.remove();
	            },

	            errorPlacement: function (error, element) {
					$('span.help-block').hide();
					var next = element.next('span.help-block'); 
					//console.log(error);
	                if(error[0].textContent!=""){
						$(next).children('span.label').html("<i class='fa fa-warning'></i> "+ error[0].textContent);
						$(element).next().slideDown();
						$('.modal-scrollable:visible').animate({
							scrollTop: $(element).offset().top
						}, 800);
					}
	            },

	            submitHandler: function (form) {
						$('#alertinfo').addClass('hidden');
					$('span.help-block').hide();
					$('.form-group').removeClass('has-error');
	                //form.submit(); // form validation success, call ajax form submit
	                submitForm();
	                return false;
	            }
	        });

	        $('form#edituser input').keypress(function (e) {
	            if (e.which == 13) {
					$('span.help-block').hide();
					$('.form-group').removeClass('has-error');
	                if ($('form#edituser').validate().form()) {
	                   //$('form#edituser').submit(); //form validation success, call ajax form submit
	                   submitForm();
	                }
	                return false;
	            }
	        });
	}
	
	var submitForm = function(){
		//console.log($('form#edituser').serialize());
		$.ajax({
			url:"/ajax/adduser",
			content:'json',
			type:'post',
			data:$('form#edituser').serialize(),
			beforeSend:function(){
				$('#alertinfo').addClass('hidden');
				$('#processbar').removeClass('hidden');
				$('.modal-scrollable:visible').animate({
					scrollTop: $('#formtitle').offset().top
				}, 800);
				$('#alertinfo').removeClass('alert-success');
				$('#alertinfo').removeClass('alert-warning');
				$('#alertinfo').removeClass('alert-danger');
				$('#alertinfo').removeClass('alert-info');
			},
			complete:function(result){
				$('#processbar').addClass('hidden');
			},
			success: function(data){
				//console.log(data);
				if(data.result!=undefined){
					if(data.result==true){
						$('#alertinfo').addClass('alert-success');
						$('#alertmsg').html("<strong>Success!</strong> "+data.retMsg);
						resetForm();
					}else{
						$('#alertinfo').addClass('alert-warning');
						$('#alertmsg').html("<strong>Failed!</strong> "+data.retMsg);
					}
				}else{
					$('#alertinfo').addClass('alert-info');
					$('#alertmsg').html("<strong>Error!</strong> System is busy, please try again.");
				}
				$('#alertinfo').removeClass('hidden');
			},
			error:function(){
				$('#alertinfo').addClass('alert-info');
				$('#alertmsg').html("<strong>Error!</strong> System is busy, please try again.");
				$('#alertinfo').removeClass('hidden');
			}
		});
	}
	
	

	var resetForm = function(){
		$('input','form#edituser')
			.not(':button, :submit, :reset, :hidden')
			.val('');
			
		$('select,option','form#edituser')
			.removeAttr('checked')
			.removeAttr('selected');
		
		//$('.make-switch').bootstrapSwitch('setState',false);
		
		$('.ms-selectable').find('li').removeClass('ms-selected');
		$('.ms-selection').find('li').removeClass('ms-hover');
		$('.ms-selectable').find('li').removeAttr('style');
		
		$('.ms-selection').find('li').removeClass('ms-selected');
		$('.ms-selection').find('li').removeClass('ms-hover');
		$('.ms-selection').find('li').css({display:'none'});
	}
    
    return {
        //main function to initiate the module
        init: function () {
            handleAdd();
        }

    };

}();

	
	TableAjax4.init();
	UIExtendedModals3.init();
	FormComponents3.init();
	AddUser.init();
	$('span.help-block').hide();
});
</script>
