<?php
	//die('www');
	//Zend_Debug::dump($this->data);die();
?>
<div class="page-content">

<!-- BEGIN PAGE HEADER-->
<div class="row">
	<div class="col-md-12">
		<!-- BEGIN PAGE TITLE & BREADCRUMB-->
		<h3 class="page-title">
		Edit User <small>Domas</small>
		</h3>
		<ul class="page-breadcrumb breadcrumb">
			<li>
				<i class="fa fa-rss"></i>
				<a href="/">Home</a>
				<i class="fa fa-angle-right"></i>
			</li>
			<li>
				<i class="fa fa-cogs"></i>
				<a href="/">Admin Area</a>
				<i class="fa fa-angle-right"></i>
			</li>
			<li>
				<i class="fa fa-group"></i>
				<a href="/admin/manageusers">Manage Users</a>
				<i class="fa fa-angle-right"></i>
			</li>
			<li>
				<i class="fa fa-user"></i>
				Edit User
			</li>
			<!--li class="btn-group pull-right">
				<button type="button" class="btn red">
					<span>
				<?php echo Zend_Auth::getInstance()->getIdentity()->fullname; ?>
					</span>
				</button>
			</li-->
		</ul>
		<!-- END PAGE TITLE & BREADCRUMB-->
	</div>
</div>
<!-- END PAGE HEADER-->

<div class="row">
	<div class="col-md-12">
	<!-- BEGIN EXAMPLE TABLE PORTLET-->
	<div class="portlet box grey" style="margin:0px">
		<div class="portlet-title">
			<div class="caption">
				Edit <?php echo ' - '.(isset($this->data['fullname'])?$this->data['fullname']:'') ?>
			</div>
			 <div class="actions">
				 <!--a href="#" class="btn reload" data-dismiss="modal"><i class="fa fa-times"></i></a-->
			 </div>
			<div class="tools">
			</div>
		</div>
		<div class="portlet-body" style="padding:15px">
			<form action="" class="form-horizontal" id="edituser" method="post">
			<input type="hidden" name="id" value="<?php echo (isset($this->data['id'])?$this->data['id']:'') ?>" />
			<input type="hidden" name="pid" value="<?php echo (isset($this->data['person_id'])?$this->data['person_id']:'') ?>" />
			<!-- BEGIN FORM-->
			<div class="form-body">
				<div class="alert alert-success alert-dismissable hidden" id="alertinfo">
					<button type="button" class="close" data-dismiss="alert" aria-hidden="true"></button>
					<span id="alertmsg"><strong>Warning!</strong> Something went wrong. Please check.</span>
				</div>
				<div style="margin:0px auto;text-align:center" id="processbar" class="hidden">
					<div class="progress progress-striped active" style="margin:0px auto;text-align:center">
						<div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
							<span class="sr-only">
								On Process
							</span>
						</div>
					</div>
					<span style="margin:0px auto;">Please wait...processing request</span>
				</div>
				<h3 class="form-section" id="formtitle">User Info</h3>
				<div class="row" style="padding:0px 15px;">
					<div class="col-md-5">
						<div class="form-group">
							<label for="uname">User Name</label>
							<input type="text" name="uname" id="uname" class="form-control" placeholder="User Name" value="<?php echo (isset($this->data['uname'])?$this->data['uname']:'') ?>">
							<span class="help-block">
								<span class="label label-danger"><i class="fa fa-warning"> </i>This is inline help</span>
							</span>
						</div>
					</div>
					<div class="col-md-offset-1 col-md-5">
						<div class="form-group">
							<label for="fullname">Full Name</label>
							<input type="text" name="fullname" id="fullname" class="form-control" placeholder="Full Name" value="<?php echo (isset($this->data['fullname'])?$this->data['fullname']:'') ?>">
							<span class="help-block">
								<span class="label label-danger"><i class="fa fa-warning"> </i>This is inline help</span>
							</span>
						</div>
					</div>
				</div>
				<div class="row" style="padding:0px 15px;">
					<div class="col-md-5">
						<div class="form-group">
							<label for="pass">Password [NonLDAP]</label>
							<input type="input" name="pass" id="pass" class="form-control" placeholder="Password" value="<?php echo (isset($this->data['upassword'])?'':'') ?>">
							<span class="help-block">
								<span class="label label-danger"><i class="fa fa-warning"> </i>This is inline help</span>
							</span>
						</div>
					</div>
					<div class="col-md-offset-1 col-md-5">
						<div class="form-group">
							<label for="position">Position</label>
							<input type="text" name="position" id="position" class="form-control" placeholder="Position" value="<?php echo (isset($this->data['jabatan'])?$this->data['jabatan']:'') ?>">
							<span class="help-block">
								<span class="label label-danger"><i class="fa fa-warning"> </i>This is inline help</span>
							</span>
						</div>
					</div>
				</div>
				<div class="row" style="padding:0px 15px;">
					<div class="col-md-5">
						<div class="form-group">
							<label for="email">Email</label>
							<input type="email" name="email" id="email" class="form-control" placeholder="Email" value="<?php echo (isset($this->data['email'])?$this->data['email']:'') ?>">
							<span class="help-block">
								<span class="label label-danger"><i class="fa fa-warning"> </i>This is inline help</span>
							</span>
						</div>
					</div>
					<div class="col-md-offset-1 col-md-5">
						<div class="form-group">
							<label for="mobile">Mobile Phone</label>
							<input type="text" name="mobile" id="mobile" class="form-control" placeholder="Mobile Phone" value="<?php echo (isset($this->data['mobile_phone'])?$this->data['mobile_phone']:'') ?>">
							<span class="help-block">
								<span class="label label-danger"><i class="fa fa-warning"> </i>This is inline help</span>
							</span>
						</div>
					</div>
				</div>
				<div class="row" style="padding:0px 15px;">
					<div class="col-md-5">
						<div class="form-group">
							<label for="flexi">Flexi</label>
							<input type="text" name="flexi" id="flexi" class="form-control" placeholder="Flexi" value="<?php echo (isset($this->data['fixed_phone'])?$this->data['fixed_phone']:'') ?>">
							<span class="help-block">
								<span class="label label-danger"><i class="fa fa-warning"> </i>This is inline help</span>
							</span>
						</div>
					</div>
				   <div class="col-md-offset-1 col-md-5">
					
					</div>
				</div>
				<div class="row" style="padding:0px 15px;">
					<div class="col-md-5">
						<div class="form-group">
							<label for="ubis">Business Unit (UBIS)</label>
							<select onchange="changeSubUbis(this)" class="select2_category form-control" name="ubis" id="ubis" data-placeholder="Choose Business Unit" tabindex="1">
<?php
foreach($this->ubisarr as $k=>$v){
?>
								<option value="<?php echo $v['id']; ?>" <?php echo (($v['id'] == $this->data['ubis_id'])?'selected':'') ?>><?php echo $v['name']; ?></option>
<?php
}
?>
							</select>
							<span class="help-block">
								<span class="label label-danger"><i class="fa fa-warning"> </i>This is inline help</span>
							</span>
						</div>
					</div>
					<div class="col-md-offset-1 col-md-5">
						<div class="form-group">
							<label for="sububis">Sub Business Unit (SubUBIS)</label>
							<select class="select2_category form-control" name="sububis" id="sububis" data-placeholder="Choose Sub Business Unit" tabindex="1">
								<option value="" >none</option>
<?php
foreach($this->sububisarr as $k=>$v){
?>
								<option value="<?php echo $v['id']; ?>" <?php echo (($v['id'] == $this->data['sub_ubis_id'])?'selected':'') ?>><?php echo $v['name']; ?></option>
<?php
}
?>
							</select>
							<span class="help-block">
								<span class="label label-danger"><i class="fa fa-warning"> </i>This is inline help</span>
							</span>
						</div>
					</div>
				</div>
				<div class="row" style="padding:0px 15px;">
					<div class="col-md-5">
						<div class="form-group">
							<label for="isldap">LDAP</label>
							<div  style="display:block">
								<input class="make-switch switch-radio1" data-on="success" data-off="danger" id="isldap" type="checkbox" name="isldap" value="isldap"  <?php echo ($this->data['isldap']=='1'?'checked':'') ?>>
							</div>
							<span class="help-block">
								<span class="label label-danger"><i class="fa fa-warning"> </i>This is inline help</span>
							</span>
						</div>
					</div>
				</div>
				<div class="row" style="padding:0px 15px;">
					<div class="col-md-5">
						<div class="form-group">
							<label for="">Modify Roles</label>
							<select name="roles[]" class="multi-select" multiple="" id="my_multi_select3" onchange="rolesChange()">
<?php
foreach($this->roles as $k=>$v){
?>
								<option class="roleslist" value="<?php echo $v['gid']; ?>" name="roles[<?php echo $v['gid']; ?>]" <?php echo (in_array($v['gid'],$this->rolearr)?'selected':'') ?> ><?php echo $v['group_name']; ?></option>
<?php
}
?>
							</select>
							<span class="help-block">
								<span class="label label-danger"><i class="fa fa-warning"> </i>This is inline help</span>
							</span>
						</div>
					</div>
					<div class="col-md-offset-1 col-md-5">
						<div class="form-group last">
							<label for="mainrole">Main Role</label>
							<select class="select2_category form-control" name="mainrole" id="mainrole" data-placeholder="Choose Main Role" tabindex="1">
								<option value="0-selection" id="role0-selection">none</option>
							</select>
							<span class="help-block">
								<span class="label label-danger"><i class="fa fa-warning"> </i>This is inline help</span>
							</span>
						</div>

						<div class="form-group last">
							<label for="app">Application</label>
							<select class="select2_category form-control" name="apps"  data-placeholder="Choose App" tabindex="1">
								<?php 
								foreach ($this->apps as $v) {
									echo '<option value="'.$v.'">'.$v.'</option>';

								}

								?>
							</select>
							<span class="help-block">
								<span class="label label-danger"><i class="fa fa-warning"> </i>This is inline help</span>
							</span>
						</div>




					</div>
				</div>
				<!--/row-->
			</div>
			<div class="form-actions" style="margin:0px">
			   <div class="row">
				   <div class="col-md-6">
					   <div class="col-md-offset-3 col-md-9">
						   <button type="submit" class="btn green">Submit</button>
						  <a  href="javascript:history.back()"  class="btn default">Cancel</a>
					   </div>
				   </div>
				   <div class="col-md-6">
				   </div>
			   </div>
			</div>
		</form>
		<!-- END FORM-->
		</div>
	</div>
				
	<!-- END EXAMPLE TABLE PORTLET-->
	</div>
</div>

</div>

<script>
	
function changeSubUbis(me){
	var $me = $(me);
	var $val = $me.val();
	//alert($val);
	var $element = $('#sububis');
	var next = $element.next('span.help-block'); 
	
	$.ajax({
		url:"/ajax/getsububis/id/"+$val+"/sub/<?php echo $this->data['sub_ubis_id'];?>",
		content:'json',
		type:'get',
		beforeSend:function(){
			$element.hide();
			$(next).children('span.label').html('<i class="fa fa-coffee"></i>&nbsp;Retrieve data...');
			$($element).next().slideDown();
		},
		complete:function(result){
					
		},
		success: function(data){
			$($element).next().hide();
			$element.html(data);
			$element.slideDown();
		},
		error:function(){
			$(next).children('span.label').html('<i class="fa fa-warning"></i>&nbsp;Failed to retrieve data.');
		}
	});
}

function rolesChange(){
	var $element = $('#mainrole');
	var next = $element.next('span.help-block'); 
	$element.hide();
	$(next).children('span.label').html('<i class="fa fa-coffee"></i>&nbsp;Retrieve data...');
	$($element).next().slideDown();

	var list = $('.ms-selection').find('li:visible');
	//console.log(list);
	var html = "<option value='0-selection' id='role0-selection'>none</option>";
	for(var i = 0; i<list.length; i++){
		select = '';
     
       
		if(list[i].attributes[1].value == "roles[<?php echo $this->data['main_role'];?>]"){
			select = 'selected';
            //alert(list[i].id);
		}
        //console.log(list[i].attributes[1].value);
		html += "<option value='"+list[i].attributes[1].value+"' id='role"+list[i].id+"' "+select+">"+list[i].innerText+"</option>";
	}
	$($element).next().hide();
	$element.html(html);
	$element.slideDown();
}
	
jQuery(document).ready(function() {
	$('#my_multi_select3').multiSelect();
     $('.make-switch').on('switch-change', function () {
            $('.make-switch').bootstrapSwitch('toggleRadioState');
        });
        
  
var FormComponents3 = function () {

    var handleMultiSelect = function () {

        $('#my_multi_select3').multiSelect({
            selectableHeader: "<input type='text' class='form-control search-input' autocomplete='off' placeholder='search...'>",
            selectionHeader: "<input type='text' class='form-control search-input' autocomplete='off' placeholder='search...'>",
            afterInit: function (ms) {
                var that = this,
                    $selectableSearch = that.$selectableUl.prev(),
                    $selectionSearch = that.$selectionUl.prev(),
                    selectableSearchString = '#' + that.$container.attr('id') + ' .ms-elem-selectable:not(.ms-selected)',
                    selectionSearchString = '#' + that.$container.attr('id') + ' .ms-elem-selection.ms-selected';

                that.qs1 = $selectableSearch.quicksearch(selectableSearchString)
                    .on('keydown', function (e) {
                        if (e.which === 40) {
                            that.$selectableUl.focus();
                            return false;
                        }
                    });

                that.qs2 = $selectionSearch.quicksearch(selectionSearchString)
                    .on('keydown', function (e) {
                        if (e.which == 40) {
                            that.$selectionUl.focus();
                            return false;
                        }
                    });
            },
            afterSelect: function () {
                this.qs1.cache();
                this.qs2.cache();
            },
            afterDeselect: function () {
                this.qs1.cache();
                this.qs2.cache();
            }
        });
    }

    return {
        //main function to initiate the module
        init: function () {
            handleMultiSelect();
        }
    };

}();

var EditUser = function () {

	var handleAdd = function() {

		$('form#edituser').validate({
	            //errorElement: 'span', //default input error message container
	            //errorClass: 'help-block', // default input error message class
	            focusInvalid: false, // do not focus the last invalid input
	            rules: {
	                uname: {
	                    required: true
	                },
	                fullname: {
	                    required: true
	                },
	                
	                /*pass: {
	                    required: true
	                },*/
	                email: {
	                    email: true
	                },
                    sububis:{
                         required: true
                        }
	            },

	            messages: {
					
	            },

	            invalidHandler: function (event, validator) { //display error alert on form submit   
	                //$('.alert-danger', $('.login-form')).show();
	                //console.log(event);
	                //console.log(validator);
	                
					//$('span.help-block').show();
					$('span.help-block').hide();
	                var errorlist = validator.errorList;
	                if(errorlist.length>0){
						for(var i = 0; i<errorlist.length; i++){
							//console.log(errorlist[i].element);
							var el = errorlist[i].element; 
							var next = $(el).next('span.help-block'); 
							$(next).slideDown();
						}
						$('html,body').animate({
							scrollTop: $(el).offset().top-100
						}, 800);
					}
	            },

	            highlight: function (element) { // hightlight error inputs
	                $(element)
	                    .closest('.form-group').addClass('has-error'); // set error class to the control group
	            },

	            success: function (label) {
	                label.closest('.form-group').removeClass('has-error');
	                //label.remove();
	            },

	            errorPlacement: function (error, element) {
					$('span.help-block').hide();
					var next = element.next('span.help-block'); 
					//console.log(error);
	                if(error[0].textContent!=""){
						$(next).children('span.label').html("<i class='fa fa-warning'></i> "+ error[0].textContent);
						$(element).next().slideDown();
						$('html,body').animate({
							scrollTop: $(element).offset().top-100
						}, 800);
					}
	            },

	            submitHandler: function (form) {
					$('span.help-block').hide();
					$('.form-group').removeClass('has-error');
	                //form.submit(); // form validation success, call ajax form submit
	                submitForm();
	                return false;
	            }
	        });

	        $('form#edituser input').keypress(function (e) {
	            if (e.which == 13) {
					$('span.help-block').hide();
					$('.form-group').removeClass('has-error');
	                if ($('form#edituser').validate().form()) {
	                   //$('form#edituser').submit(); //form validation success, call ajax form submit
	                   submitForm();
	                }
	                return false;
	            }
	        });
	}
	
	var submitForm = function(){
		//console.log($('form#edituser').serialize());
		$.ajax({
			url:"/ajax/adduser",
			content:'json',
			type:'post',
			data:$('form#edituser').serialize(),
			beforeSend:function(){
				$('#alertinfo').addClass('hidden');
				$('#processbar').removeClass('hidden');
				$('html,body').animate({
					scrollTop: $('h3.page-title').offset().top
				}, 800);
				$('#alertinfo').removeClass('alert-success');
				$('#alertinfo').removeClass('alert-warning');
				$('#alertinfo').removeClass('alert-danger');
				$('#alertinfo').removeClass('alert-info');
			},
			complete:function(result){
				$('#processbar').addClass('hidden');
			},
			success: function(data){
				//console.log(data);
				if(data.result!=undefined){
					if(data.result==true){
						$('#alertinfo').addClass('alert-success');
						$('#alertmsg').html("<strong>Success!</strong> "+data.retMsg);
                        setTimeout(function(){location.href="/domas/adminapp/manageusers"},2000);  
					}else{
						$('#alertinfo').addClass('alert-warning');
						$('#alertmsg').html("<strong>Failed!</strong> "+data.retMsg);
					}
				}else{
					$('#alertinfo').addClass('alert-info');
					$('#alertmsg').html("<strong>Error!</strong> System is busy, please try again.");
				}
				$('#alertinfo').removeClass('hidden');
			},
			error:function(){
				$('#alertinfo').addClass('alert-info');
				$('#alertmsg').html("<strong>Error!</strong> System is busy, please try again.");
				$('#alertinfo').removeClass('hidden');
			}
		});
	}
	
	

	var resetForm = function(){
		$('input','form#edituser')
			.not(':button, :submit, :reset, :hidden')
			.val('');
			
		$('select,option','form#edituser')
			.removeAttr('checked')
			.removeAttr('selected');
		
	
		$('.ms-selectable').find('li').removeClass('ms-selected');
		$('.ms-selection').find('li').removeClass('ms-hover');
		$('.ms-selectable').find('li').removeAttr('style');
		
		$('.ms-selection').find('li').removeClass('ms-selected');
		$('.ms-selection').find('li').removeClass('ms-hover');
		$('.ms-selection').find('li').css({display:'none'});
	}
    
    return {
        //main function to initiate the module
        init: function () {
            handleAdd();
        }

    };

}();
FormComponents3.init();
EditUser.init();
$('span.help-block').hide();
rolesChange();

});
</script>
