<style>
/*Initialize*/
ul#menu, ul#menu ul.sub-menu {
    padding:0;
    margin: 0;
}
ul#menu li, ul#menu ul.sub-menu li {
    list-style-type: none;
    display: inline-block;
}
/*Link Appearance*/
ul#menu li a, ul#menu li ul.sub-menu li a {
    text-decoration: none;
    color: #fff;
    background: #666;
    padding: 5px;
    display:inline-block;
}
/*Make the parent of sub-menu relative*/
ul#menu li {
    position: relative;
}
/*sub menu*/
ul#menu li ul.sub-menu {
    display:none;
    position: absolute;
    top: 30px;
    left: 0;
    width: 100px;
}
ul#menu li:hover ul.sub-menu {
    display:block;
	height:100px;
	width:100px;
	overflow:auto;
}
.dataTable .row-details {
    margin-top: 3px;
    display: inline-block;
    cursor: pointer;
    width: 14px;
    height: 14px;
}
</style>
<div class="page-content">
<!-- BEGIN PAGE HEADER-->
<div class="row">
	<div class="col-md-12">
		<!-- BEGIN PAGE TITLE & BREADCRUMB-->
		<h1 class="page-title">
		Manage Menus <small>DOMAS</small>
		</h1>
		<ul class="page-breadcrumb breadcrumb">
			<li>
				<i class="fa fa-rss"></i>
				<a href="/">Home</a>
				<i class="fa fa-angle-right"></i>
			</li>
			<li>
				<i class="fa fa-cogs"></i>
				<a href="/">Admin Area</a>
				<i class="fa fa-angle-right"></i>
			</li>
			<li>
				<i class="fa fa-reorder"></i>
				Manage Menus
			</li>
		</ul>
	<!-- END PAGE TITLE & BREADCRUMB-->
	</div>
</div>
<!-- END PAGE HEADER-->
	
<!-- BEGIN PAGE CONTENT-->
<div class="row">
	<div class="col-md-12">
		<!-- START USER TABLE PORTLET-->
		<div class="portlet box grey">
			<div class="portlet-title">
				<div class="caption">
					Menu Datalist
				</div>
				<div class="tools">
				</div>
			</div>
			<div class="portlet-body">
				<div class="form-actions right">
					<a id="btn-addnew" class="btn green"><i class="fa fa-plus"></i> <span>Add New</span></a>
					<!-- <a onclick="location = '/kpu/system/manage4users-upload'" class="btn blue delete"><i class="fa fa-upload"></i> <span>Upload</span></a> -->
					<a class="btn red btn-delete"><i class="fa fa-trash-o"></i> <span>Delete</span></a>
				</div>
				<div class="table-responsive">
					<form  method="post" id="form">
					<table class="table table-striped dataTable" id="menulist">
					<thead>
						<tr>
							<th width="1"></th>
							<th width="1" style="text-align: center;">
								<input type="checkbox" onclick="checkclick(this)" value=""/>
							</th>
							<th class="">Menu Name</th>
							<th class="" style="text-align:right">Link</th>
							<th width="1" class="" style="text-align:right">Action</th>
						</tr>
					</thead>	  
					<tbody>
<?php
$parentlist = array();
foreach ($this->menus as $row) {
	$data = $row;
	$data['child'] = false;
	if($row['is_active']=='1'){
		$parentlist[$row['id']] = $row['menu_name'];
	}
?>

						<tr class="nochild">
							<td class=" " width="1">
<?php
	if(isset($row['child']) && count($row['child'])>0){
		$data['child'] = true;
?>
								<span class="row-details row-details-close" onclick="toggle(this)" data-id="<?php echo $row['id']; ?>" data-open="false"></span>
<?php
	}
?>
							</td>
							<td style="text-align: center;" width="1">
								<input onclick="checkclick(this)" type="checkbox" class="child" name="selected[<?php echo $row['id']; ?>]" value="<?php echo $row['id']; ?>" />
							</td>
							<!--td style=""><?php echo $row['id']; ?></td-->
							<td class=""><?php echo $row['menu_name']; ?></td>
							<!--td class=""><?php echo $row['menu_desc']; ?></td-->
							<td class="" style="text-align:right"><?php echo $row['menu_link']; ?></td>
							<!--td class=""><?php echo $row['parent_id']; ?></td-->
							<!--td class=""><?php echo $row['is_active']; ?></td-->				
							<!--td class=""><?php echo $row['weight']; ?></td-->	
							<td width="161px" class="" style="text-align:right">
								<a data-id="<?php echo $row['id']; ?>" href="#" class="activate btn <?php echo ($row['is_active']=='0')?'green':'red'; ?>" style="padding:5px 10px;font-size:10px" isActive="<?php echo ($row['is_active']=='1')?'true':'false'; ?>">
									<i class="fa fa-<?php echo ($row['is_active']=='0')?'check':'times'; ?>"></i> <span><?php echo ($row['is_active']=='1')?'Deactivate':'Activate'; ?></span>
								</a>
								<a class="edit btn blue" data-row='<?php echo json_encode($data);?>' href="#" style="padding:5px 10px;font-size:10px"><i class="fa fa-pencil"></i> <span>Edit</span></a>
							</td>
						</tr>

<?php
	if(isset($row['child']) && count($row['child'])>0){
?>
						<tr class="child child<?php echo $row['id']; ?>">
							<td colspan="10" style="padding-left:50px;padding-right:0px;">
						<table width="100%" class="table table-striped dataTable">  
							<tbody>
<?php
		foreach ($row['child'] as $row2) {
			$data2 = $row2;
			$data2['child'] = false;
			if($row2['is_active']=='1'){
				$parentlist[$row2['id']] = $row['menu_name'].' >> '.$row2['menu_name'];
			}
?>

						<tr class="nochild">
							<td class="" style="" width="1">
<?php
			if(isset($row2['child']) && count($row2['child'])>0){
				$data2['child'] = true;
?>
								<span class="row-details detail<?php echo $row['id']; ?> row-details-close" onclick="toggle(this)" data-id="<?php echo $row2['id']; ?>" data-open="false"></span>
<?php
			}
?>
							</td>
							<td style="text-align: center;" width="1">
								<input onclick="checkclick(this)" type="checkbox" class="child child<?php echo $row['id']; ?>" name="selected[<?php echo $row2['id']; ?>]" value="<?php echo $row2['id']; ?>" />
							</td>
							<!--td style=""><?php echo $row2['id']; ?></td-->
							<td class=""><?php echo $row2['menu_name']; ?></td>
							<!--td class=""><?php echo $row2['menu_desc']; ?></td-->
							<td class="" style="text-align:right"><?php echo $row2['menu_link']; ?></td>
							<!--td class=""><?php echo $row2['parent_id']; ?></td-->
							<!--td class=""><?php echo $row2['is_active']; ?></td-->				
							<!--td class=""><?php echo $row2['weight']; ?></td-->	
							<td width="161px" class="" style="text-align:right">
								<a data-id="<?php echo $row2['id']; ?>" href="#" class="activate btn <?php echo ($row2['is_active']=='0')?'green':'red'; ?>" style="padding:5px 10px;font-size:10px" isActive="<?php echo ($row2['is_active']=='1')?'true':'false'; ?>">
									<i class="fa fa-<?php echo ($row2['is_active']=='0')?'check':'times'; ?>"></i> <span><?php echo ($row2['is_active']=='1')?'Deactivate':'Activate'; ?></span>
								</a>
								<a class="edit btn blue" data-row='<?php echo json_encode($data2);?>' href="#" style="padding:5px 10px;font-size:10px">
									<i class="fa fa-pencil"></i> <span>Edit</span>
								</a>
							</td>
						</tr>

<?php

			if(isset($row2['child']) && count($row2['child'])>0){
?>

						<tr class="child child2<?php echo $row2['parent_id']; ?> child<?php echo $row2['id']; ?>">
							<td colspan="10" style="padding-left:50px;padding-right:0px;">
						<table width="100%" class="table table-striped dataTable">  
							<tbody>

<?php
				
				foreach ($row2['child'] as $row3) {
					$data3 = $row3;
					$data3['child'] = false;
?>

						<tr class="nochild">
							<td class=" " width="1">
							</td>
							<td style="text-align: center;" width="1">
								<input type="checkbox" class="child child2<?php echo $row2['parent_id']; ?> child<?php echo $row2['id']; ?>" name="selected[<?php echo $row3['id']; ?>]" value="<?php echo $row3['id']; ?>" />
							</td>
							<!--td style=""><?php echo $row3['id']; ?></td-->
							<td class=""><?php echo $row3['menu_name']; ?></td>
							<!--td class=""><?php echo $row3['menu_desc']; ?></td-->
							<td class="" style="text-align:right"><?php echo $row3['menu_link']; ?></td>
							<!--td class=""><?php echo $row3['parent_id']; ?></td-->
							<!--td class=""><?php echo $row3['is_active']; ?></td-->				
							<!--td class=""><?php echo $row3['weight']; ?></td-->	
							<td width="161px" class="" style="text-align:right">
								<a data-id="<?php echo $row3['id']; ?>" href="#" class="activate btn <?php echo ($row3['is_active']=='0')?'green':'red'; ?>" style="padding:5px 10px;font-size:10px" isActive="<?php echo ($row3['is_active']=='1')?'true':'false'; ?>">
									<i class="fa fa-<?php echo ($row3['is_active']=='0')?'check':'times'; ?>"></i> <span><?php echo ($row3['is_active']=='1')?'Deactivate':'Activate'; ?></span>
								</a>
								<a class="edit btn blue" data-row='<?php echo json_encode($data3);?>' href="#" style="padding:5px 10px;font-size:10px"><i class="fa fa-pencil"></i> <span>Edit</span></a>
							</td>
						</tr>
<?php
				}
?>
							<tbody>
						</table>
							</td>
						</tr>
						<tr class="hidden"></tr>
<?php
				
			}
		}
?>
							<tbody>
						</table>
							</td>
						</tr>
						<tr class="hidden"></tr>
<?php
	}
}
?>
					</tbody>
					</table>
					</form>
					</div>
				</div>
				<!-- static -->
				<div id="static" class="modal fade" tabindex="-1" data-backdrop="static" data-keyboard="false">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
						<h4 class="modal-title">Are you sure to delete selected menu?</h4>
					</div>
					<div class="modal-body" style="padding:0px">
						<div class="alert alert-success alert-dismissable hidden" id="alertinfo2">
							<button type="button" class="close" data-dismiss="alert" aria-hidden="true"></button>
							<span id="alertmsg2"><strong>Warning!</strong> Something went wrong. Please check.</span>
						</div>
						<div style="margin:0px auto;text-align:center" id="processbar2" class="hidden">
						</div>
					</div>
					<div class="modal-footer" style="margin-top:0px">
						<button type="button" data-dismiss="modal" class="btn btn-default">Cancel</button>
						<button type="button" id="deleteconfirm" class="btn red">Yes</button>
					</div>
				</div>
				<!-- static -->
			<div id="static2" class="modal container fade modal-scroll modal-overflow in" tabindex="-1" data-backdrop="static" data-keyboard="false">
				<div class="modal-body" style="padding:5px">
					<div class="portlet box green" style="margin:0px">
						<div class="portlet-title">
							<div class="caption" id="formtitle">
								Add new menu
							</div>
							 <div class="actions">
								 <a href="#" class="btn reload" data-dismiss="modal"><i class="fa fa-times"></i></a>
							 </div>
							<div class="tools">
							</div>
						</div>
						<div class="portlet-body" style="padding:15px">
							<form action="" class="form-horizontal" id="addmenu" method="post">
							<input type="hidden" name="id" id="id" value="" />
							<!-- BEGIN FORM-->
							<div class="form-body">
								<div class="alert alert-success alert-dismissable hidden" id="alertinfo">
									<button type="button" class="close" data-dismiss="alert" aria-hidden="true"></button>
									<span id="alertmsg"><strong>Warning!</strong> Something went wrong. Please check.</span>
								</div>
								
								<div style="margin:0px auto;text-align:center" id="processbar" class="hidden">
									<div class="progress progress-striped active" style="margin:0px auto;text-align:center">
										<div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
											<span class="sr-only">
												On Process
											</span>
										</div>
									</div>
									<span style="margin:0px auto;">Please wait...processing request</span>
								</div>
								
								<div class="row" style="padding:0px 15px;">
									<div class="col-md-5">
										<div class="form-group">
											<label for="name">Menu Name</label>
											<input type="text" name="name" id="name" class="form-control" placeholder="Menu Name" value="">
											<span class="help-block">
												<span class="label label-danger"><i class="fa fa-warning"> </i>This is inline help</span>
											</span>
										</div>
									</div>
									<div class="col-md-offset-1 col-md-5">
										<div class="form-group">
											<label for="parent">Parent Menu</label>
											<select class="select2_category form-control" name="parent" id="parent" data-placeholder="Choose Parent Menu" tabindex="1">
												<option value="0" >none</option>
<?php
asort($parentlist);
foreach($parentlist as $k=>$v){
?>
												<option value="<?php echo $k; ?>" id="parent<?php echo $k; ?>"><?php echo $v; ?></option>
<?php
}
?>
											</select>
											<span class="help-block">
												<span class="label label-danger"><i class="fa fa-warning"> </i>This is inline help</span>
											</span>
										</div>
									</div>
								</div>
								<div class="row" style="padding:0px 15px;">
									<div class="col-md-5">
										<div class="form-group">
											<label for="link">Menu Link</label>
											<input type="text" name="link" id="link" class="form-control" placeholder="Menu Link" value="">
											<span class="help-block">
												<span class="label label-danger"><i class="fa fa-warning"> </i>This is inline help</span>
											</span>
										</div>
									</div>
									<div class="col-md-offset-1 col-md-2">
										<div class="form-group">
											<label for="weight">Menu Weight/Order</label>
											<div id="spinner1">
												<div class="input-group input-small">
													<input type="text" name="weight" id="weight" class="spinner-input form-control" maxlength="3" readonly>
													<div class="spinner-buttons input-group-btn btn-group-vertical">
														<button type="button" class="btn spinner-up btn-xs green">
														<i class="fa fa-angle-up"></i>
														</button>
														<button type="button" class="btn spinner-down btn-xs green">
														<i class="fa fa-angle-down"></i>
														</button>
													</div>
												</div>
											</div>
											<span class="help-block">
												<span class="label label-danger"><i class="fa fa-warning"> </i>This is inline help</span>
											</span>
										</div>
									</div>
									<div class="col-md-3">
										<div class="form-group">
											<label class="icon_cls">Icon Menu</label>
											
				<div class="actions">
					<div class="form-control">
						<a href="#" id="icon_cls" name="icon_cls" data-toggle="dropdown" style="padding:2px 5px">
						none <i class="fa fa-angle-down pull-right"></i><input type="hidden" id="icon_cls_send" name="icon_cls_send" value="">
						</a>
						<div id="sample_2_column_toggler" class="dropdown-menu hold-on-click dropdown-checkboxes pull-right"style="width:277px; height:300px;overflow:auto;">
							<?php
							$i=1;
							foreach($this->icon as $k=>$v){
							?>
							<a href="#" onclick="aclick(this); return false;" data-value="<?php echo $v; ?>" data-display="<?php echo $v; ?>"><i class="<?php echo $v; ?>" style="float:left;"></i><label> &nbsp;&nbsp;<?php echo $v; ?></label></a>
							<?php } ?>
						</div>
					</div>
				</div>

											
										</div>
									</div>
								</div>
								<div class="row" style="padding:0px 15px;">
									<div class="col-md-5">
										<div class="form-group">
											<label for="desc">Menu Description</label>
											<input type="text" name="desc" id="desc" class="form-control" placeholder="Description" value="">
											<span class="help-block">
												<span class="label label-danger"><i class="fa fa-warning"> </i>This is inline help</span>
											</span>
										</div>
									</div>
								   <div class="col-md-offset-1 col-md-5">
										<div class="form-group">
											<label for="isactive">Menu Status</label>
											<div style="display:block">
												  <input id="isactive" type="checkbox" name="isactive" value="isactive" class="make-switch"  data-on="success" data-off="danger" data-on-label=" Active " data-off-label=" Non-Active " >
											</div>
											<span class="help-block">
												<span class="label label-danger"><i class="fa fa-warning"> </i>This is inline help</span>
											</span>
										</div>
									</div>
								</div>
								<!--/row-->
							</div>
							<div class="form-actions" style="margin:0px">
							   <div class="row">
								   <div class="col-md-12">
									   <div class="col-md-offset-3 col-md-9">
										   <button type="submit" class="btn green">Submit</button>
										   <button type="button" type="button" data-dismiss="modal" class="btn default">Cancel</button>
									   </div>
								   </div>
							   </div>
							</div>
							</form>
							<!-- END FORM-->
						</div>
					</div>
				</div>
				<!--div class="modal-footer">
					<button type="button" data-dismiss="modal" class="btn btn-default">Cancel</button>
					<button type="button" data-dismiss="modal" class="btn green">Submit</button>
				</div-->
			</div>
		</div>
	</div>
</div> 
<script>
function checkclick(me){
	var val = $(me).val();
	
	if(val==""){
		if($(me).is(':checked')){
			$("input[type='checkbox'].child").attr('checked', true);
			$("input[type='checkbox'].child").parent().addClass('checked');
		}else{
			$("input[type='checkbox'].child").attr('checked', false);
			$("input[type='checkbox'].child").parent().removeClass('checked');
		}
	}else{
		if($(me).is(':checked')){
			$("input[type='checkbox'].child"+val).attr('checked', true);
			$("input[type='checkbox'].child"+val).parent().addClass('checked');
			$("input[type='checkbox'].child2"+val).attr('checked', true);
			$("input[type='checkbox'].child2"+val).parent().addClass('checked');
		}else{
			$("input[type='checkbox'].child"+val).attr('checked', false);
			$("input[type='checkbox'].child"+val).parent().removeClass('checked');
			$("input[type='checkbox'].child2"+val).attr('checked', false);
			$("input[type='checkbox'].child2"+val).parent().removeClass('checked');
		}
	}
}
	
function toggle(me){
	
	var id = $(me).data('id');
	var open = $(me).hasClass('row-details-open');
	
	if(open==false){
		//$('tr.child'+id).show();
		$(me).data('open','true');
		$(me).removeClass('row-details-close');
		$(me).addClass('row-details-open');
	}else{
		//$('tr.child'+id+',tr.child2'+id).hide();
		$(me).data('open','false');
		$('span.detail'+id).removeClass('row-details-open');
		$('span.detail'+id).addClass('row-details-close');
		$(me).removeClass('row-details-open');
		$(me).addClass('row-details-close');
	}
	$(me).parent().parent().next().toggle();
}
	
jQuery(document).ready(function() {

var AddMenu = function () {

	var handleAdd = function() {

		$('form#addmenu').validate({
	            //errorElement: 'span', //default input error message container
	            //errorClass: 'help-block', // default input error message class
	            focusInvalid: false, // do not focus the last invalid input
	            rules: {
	                name: {
	                    required: true
	                },
	                parent: {
	                    required: true
	                },
	                link: {
	                    required: true
	                },
	                weight: {
	                    required: true
	                },
	                desc: {
	                    required: true
	                }
	            },

	            messages: {
					
	            },

	            invalidHandler: function (event, validator) { //display error alert on form submit   
	                //$('.alert-danger', $('.login-form')).show();
	                //console.log(event);
	                //console.log(validator);
	                
					//$('span.help-block').show();
					$('span.help-block').hide();
	                var errorlist = validator.errorList;
	                if(errorlist.length>0){
						for(var i = 0; i<errorlist.length; i++){
							//console.log(errorlist[i].element);
							var el = errorlist[i].element; 
							var next = $(el).next('span.help-block'); 
							$(next).slideDown();
						}
						$('.modal-scrollable:visible').animate({
							scrollTop: $(el).offset().top
						}, 800);
					}
	            },

	            highlight: function (element) { // hightlight error inputs
	                $(element)
	                    .closest('.form-group').addClass('has-error'); // set error class to the control group
	            },

	            success: function (label) {
	                label.closest('.form-group').removeClass('has-error');
	                //label.remove();
	            },

	            errorPlacement: function (error, element) {
					$('span.help-block').hide();
					var next = element.next('span.help-block'); 
					//console.log(error);
	                if(error[0].textContent!=""){
						$(next).children('span.label').html("<i class='fa fa-warning'></i> "+ error[0].textContent);
						$(element).next().slideDown();
						$('.modal-scrollable:visible').animate({
							scrollTop: $(element).offset().top
						}, 800);
					}
	            },

	            submitHandler: function (form) {
					$('span.help-block').hide();
					$('.form-group').removeClass('has-error');
	                //form.submit(); // form validation success, call ajax form submit
	                submitForm();
	                return false;
	            }
	        });

	        $('form#edituser input').keypress(function (e) {
	            if (e.which == 13) {
					$('span.help-block').hide();
					$('.form-group').removeClass('has-error');
	                if ($('form#edituser').validate().form()) {
	                   //$('form#edituser').submit(); //form validation success, call ajax form submit
	                   submitForm();
	                }
	                return false;
	            }
	        });
	}
	
	var submitForm = function(){
		//console.log($('form#edituser').serialize());
		$.ajax({
			url:"/ajax/addmenu",
			content:'json',
			type:'post',
			data:$('form#addmenu').serialize(),
			beforeSend:function(){
				$('#alertinfo').addClass('hidden');
				$('#processbar').removeClass('hidden');
				$('.modal-scrollable:visible').animate({
					scrollTop: $('#formtitle').offset().top
				}, 800);
				$('#alertinfo').removeClass('alert-success');
				$('#alertinfo').removeClass('alert-warning');
				$('#alertinfo').removeClass('alert-danger');
				$('#alertinfo').removeClass('alert-info');
			},
			complete:function(result){
				$('#processbar').addClass('hidden');
			},
			success: function(data){
				//console.log(data);
				if(data.result!=undefined){
					if(data.result==true){
						$('#alertinfo').addClass('alert-success');
						$('#alertmsg').html("<strong>Success!</strong> "+data.retMsg+"<br>Please wait page will be refresh...");
						setTimeout(function(){location.href="/domas/adminapp/managemenus"},2000);
					}else{
						$('#alertinfo').addClass('alert-warning');
						$('#alertmsg').html("<strong>Failed!</strong> "+data.retMsg);
					}
				}else{
					$('#alertinfo').addClass('alert-info');
					$('#alertmsg').html("<strong>Error!</strong> System is busy, please try again.");
				}
				$('#alertinfo').removeClass('hidden');
			},
			error:function(){
				$('#alertinfo').addClass('alert-info');
				$('#alertmsg').html("<strong>Error!</strong> System is busy, please try again.");
				$('#alertinfo').removeClass('hidden');
			}
		});
	}
    
    return {
        //main function to initiate the module
        init: function () {
            handleAdd();
        }

    };

}();

var FormComponents4 = function () {

    var handleSpinners = function () {
        $('#spinner1').spinner({value:0, min: 0});
    }

    return {
        //main function to initiate the module
        init: function () {
            handleSpinners();
        }
    };

}();

var UIToastr2 = function () {

    return {
        //main function to initiate the module
        init: function () {

            var i = -1,
                toastCount = 0,
                $toastlast;

            showToast = function (type,msg,title) {
                var toastIndex = toastCount++;

                toastr.options = {
				  "closeButton": true,
				  "debug": false,
				  "positionClass": "toast-top-full-width",
				  "onclick": null,
				  "showDuration": "1000",
				  "hideDuration": "1000",
				  "timeOut": "5000",
				  "extendedTimeOut": "1000",
				  "showEasing": "swing",
				  "hideEasing": "linear",
				  "showMethod": "fadeIn",
				  "hideMethod": "fadeOut"
				};

                toastr.options.onclick = function () {
					//alert('You can perform some custom action after a toast goes away');
                };

                var $toast = toastr[type](msg, title);
                $toastlast = $toast;
                if ($toast.find('#okBtn').length) {
                    $toast.delegate('#okBtn', 'click', function () {
                        //alert('you clicked me. i was toast #' + toastIndex + '. goodbye!');
                        $toast.remove();
                    });
                }
				
                if ($toast.find('#surpriseBtn').length) {
                    $toast.delegate('#surpriseBtn', 'click', function () {
                        //alert('Surprise! you clicked me. i was toast #' + toastIndex + '. You could perform an action here.');
                    });
                }

                //toastr.clear($toastlast);
				//toastr.clear();
			}
        }

    };

}();

var UIExtendedModals5 = function () {
    
    return {
        //main function to initiate the module
        init: function () {
        
            // general settings
            $.fn.modal.defaults.spinner = $.fn.modalmanager.defaults.spinner = 
              '<div class="loading-spinner" style="width: 200px; margin-left: -100px;">' +
                '<div class="progress progress-striped active">' +
                  '<div class="progress-bar" style="width: 100%;"></div>' +
                '</div>' +
              '</div>';

            $.fn.modalmanager.defaults.resize = true;
            
            //static demo:
            var $modal2 = $('#static');

			// handle record edit/remove
            $('body').on('click', '.btn-delete', function() {
				var check = $("input[type='checkbox'].child:checked");
				//console.log(check);
				if(check.length>0){
					$modal2.modal();  
				}else{
					alert('Please choose the menu to be deleted.');
				}    
            });
			
            $modal2.on('click', 'button#deleteconfirm', function(){
				var check = $("input[type='checkbox'].child:checked");
				//console.log(check);
				var send = "";
				for(var i = 0;i<check.length;i++){
					if(i==0){
						send += $(check[i]).val();
					}else{
						send += ","+$(check[i]).val();
					}
				}
				//console.log(send);
				
				$.ajax({
					url:"/ajax/deletemenu",
					content:'json',
					type:'post',
					data:{data:send},
					beforeSend:function(){
						$('#processbar2').removeClass('hidden');
						$('#alertinfo2').removeClass('alert-success');
						$('#alertinfo2').removeClass('alert-warning');
						$('#alertinfo2').removeClass('alert-danger');
						$('#alertinfo2').removeClass('alert-info');
					},
					complete:function(result){
						$('#processbar2').addClass('hidden');
					},
					success: function(data){
						//console.log(data);
						if(data.result!=undefined){
							if(data.result==true){
								$('#alertinfo2').addClass('alert-success');
								$('#alertmsg2').html("<strong>Success!</strong> "+data.retMsg+"<br>Please wait page will be refresh...");
								setTimeout(function(){location.href="/domas/adminapp/managemenus"},2000);
							}else{
								$('#alertinfo2').addClass('alert-warning');
								$('#alertmsg2').html("<strong>Failed!</strong> "+data.retMsg);
							}
						}else{
							$('#alertinfo2').addClass('alert-info');
							$('#alertmsg2').html("<strong>Error!</strong> System is busy, please try again.");
						}
						$('#alertinfo2').removeClass('hidden');
					},
					error:function(){
						$('#alertinfo2').addClass('alert-info');
						$('#alertmsg2').html("<strong>Error!</strong> System is busy, please try again.");
						$('#alertinfo2').removeClass('hidden');
					}
				});
            });
            
            var $modal3 = $('#static2');

			// handle record edit/remove
            $('body').on('click', '#btn-addnew', function(e) {
              $modal3.modal();   
              resetForm();
				e.preventDefault();
            });
            
            $('body').on('click', '.edit', function(e) {
              var row =  $(this).data("row");
              $modal3.modal();   
				$('#processbar').addClass('hidden');   
				$('#alertinfo').addClass('hidden');
              //console.log(row);
              $('#static2').find('.green,.blue').removeClass('green').addClass('blue');
              $('#formtitle').html("Edit Menu");
              $('input#id').val(row.id);
              $('input#name').val(row.menu_name);
              $('select#parent').children().removeAttr('selected');
              //console.log('#parent'+row.parent_id);
              $('#parent'+row.parent_id).attr('selected','selected');
              $('input#link').val(row.menu_link);
              $('#spinner1').spinner('value', row.weight);
              $('input#desc').val(row.menu_desc);
              if(row.is_active=='1'){
				$('.make-switch').bootstrapSwitch('setState',true);
				//$('.switch-animate').removeClass('switch-off');
				//$('.switch-animate').addClass('switch-on');
			  }else{
				$('.make-switch').bootstrapSwitch('setState',false);
				//$('.switch-animate').removeClass('switch-on');
				//$('.switch-animate').addClass('switch-off');
			  }
			  //$('.make-switch').bootstrapSwitch('setState',true);
			  //console.log($('.make-switch')['bootstrapSwitch']('status'));
			  e.preventDefault();
            });
            
            $('.make-switch').on('switch-change', function (e, data) {
			  var $element = $(data.el),
				  value = data.value;

			  //$('.make-switch').bootstrapSwitch('setState',true);
			  //console.log(value);
			});
            
            $modal3.on('hide.bs.modal', function (e) {
				resetForm();
			});
            
            $modal3.on('hidden.bs.modal', function (e) {
				resetForm();
			});
			
			
			var resetForm = function(){
				$('#processbar').addClass('hidden');   
				$('#alertinfo').addClass('hidden');
              //console.log(row);
              $('#static2').find('.green,.blue').removeClass('blue').addClass('green');
              $('#formtitle').html("Add new menu");
              $('input#id').val("");
              $('input#name').val("");
              $('select#parent').children().removeAttr('selected');
              $('input#link').val("");
              $('#spinner1').spinner('value', 0);
              $('input#desc').val("");
				//$('.make-switch').bootstrapSwitch('setState',false);
			}
        }

    };

}();
UIExtendedModals5.init();
FormComponents4.init();
AddMenu.init();
UIToastr2.init();
//showToast('success','yow yow','Toast toast');

$('tr.child').hide();
$('span.help-block').hide();

$('body').on('click', 'a.activate', function(e) {
	//var row = $(this).data('row');
	//console.log(row);
	var me = $(this);
	var html = me.html();
	var idx = me.data('id');
	var active = me.attr('isActive');
	//console.log(active);
	if(active==false||active=='false'){
		send = {id:idx,newstat:1};
	}else{
		send = {id:idx,newstat:0};
	}
	
	$.ajax({
		url:"/ajax/activatemenu",
		content:'json',
		type:'post',
		data:send,
		beforeSend:function(){
			me.children('i').hide();
			me.children('span').html('Please wait...');
		},
		complete:function(result){
			me.children('i').show();
		},
		success: function(data){
			//console.log(data);
			if(data.result!=undefined){
				if(data.result==true){
					showToast('success',data.retMsg,'<strong>Success!</strong>');
					if(active==false||active=='false'){
						me.attr('isActive','true');
						me.removeClass('green');
						me.addClass('red');
						
						me.children('i').removeClass('fa-check');
						me.children('i').addClass('fa-times');
						
						me.children('span').html("Deactivate");
					}else{
						me.attr('isActive','false');
						me.removeClass('red');
						me.addClass('green');
						
						me.children('i').removeClass('fa-times');
						me.children('i').addClass('fa-check');
						
						me.children('span').html("Activate");
					}
				}else{
					showToast('warning',data.retMsg,'<strong>Failed!</strong>');
					me.html(html);
				}
			}else{
				showToast('info','System is busy, please try again.','<strong>Error!</strong>');
				me.html(html);
			}
		},
		error:function(){
			showToast('info','System is busy, please try again.','<strong>Error!</strong>');
			me.html(html);
		}
	});
	e.preventDefault();
});

});


function aclick(me){
	var icon_cls = $('#icon_cls');
	var value = $(me).data('value');
	var display = $(me).data('display');
	icon_cls.html('<a href="#" id="icon_cls" data-toggle="dropdown" style="padding:2px 5px" data-value="'+value+'" data-display="'+display+'"><i class="'+value+'"></i>&nbsp;&nbsp;'+display+'<i class="fa fa-angle-down pull-right"></i><input type="hidden" id="icon_cls_send" name="icon_cls_send" value="'+value+'"></a><div id="sample_2_column_toggler" class="dropdown-menu hold-on-click dropdown-checkboxes pull-right"style="width:277px; height:100px;overflow:auto;"><?php foreach($this->icon as $k=>$v){ ?><a href="#" onclick="aclick(this); return false;" data-value="<?php echo $k; ?>" data-display="<?php echo $v; ?>"><i class="<?php echo $k; ?>" style="float:left;"></i><label> &nbsp;&nbsp;<?php echo $v; ?></label></a><?php } ?></div>');
	
}
</script>
