
<div class="page-content">


<div class="row">
	<div class="col-md-12">
		<div class="portlet box green">
			<div class="portlet-title">
				<div class="caption">
					<i class="fa fa-plus"></i>Add Target Layanan
				</div>
				<div class="tools">
					<a href="javascript:;" class="collapse"></a>
				</div>
			</div>
			<div class="portlet-body form">
				<!-- BEGIN FORM-->
				<form class="form-horizontal" method="post" id="form">
					<div class="form-body">

						<input type="text" class="form-control" id="id" name="id" value=<?php echo $this->data['id'];?> >

						<div class="form-group">
							<label class="col-md-3 control-label">Number</label>
								<div class="col-md-4">
									<input type="text" class="form-control" id="c_number" name="c_number" value=<?php echo $this->data['c_number'];?> placeholder="Enter phone number">
								</div>
						</div>

						<div class="form-group">
							<label class="col-md-3 control-label">Chanel</label>
								<div class="col-md-4">
									<select class="form-control input-sm" id="t_chanel" name="t_chanel" value=<?php echo $this->data['t_chanel'];?>>
										<option value="wa">Whatsapp</option>
										<option value="telegram">Telegram</option>
									</select>
								<span class="help-block"></span>
								</div>
						</div>

						<div class="form-group">
							<label class="col-md-3 control-label">URL Api</label>
								<div class="col-md-6">
									<input type="text" class="form-control" id="url_api" name="url_api" value=<?php echo $this->data['url_api'];?> placeholder="Enter URL">
								</div>
						</div>

						<div class="form-group">
							<label class="col-md-3 control-label">Type</label>
								<div class="col-md-4">
									<select class="form-control input-sm" id="p_type" name="p_type" value=<?php echo $this->data['p_type'];?>>
										<option value="getgroups">Get groups</option>
										<option value="send">Send</option>
									</select>
								</div>
						</div>

						<div class="form-group">
							<label class="col-md-3 control-label">Active?</label>
								<div class="col-md-4">
									<select class="form-control input-sm" id="is_active" name="is_active" value=<?php echo $this->data['is_active'];?>>
										<option value="1">Ya</option>
										<option value="0">Tidak</option>
									</select>
								</div>
						</div>
<!--
						<div class="make-switch switch-small has-switch">
							<div class="switch-animate switch-on">
								<input type="checkbox" checked="" class="toggle">
								<span class="switch-left switch-small">ON</span>
								<label class="switch-small">&nbsp;</label>
								<span class="switch-right switch-small">OFF</span>
							</div>
						</div>
-->
					<div class="form-actions fluid">
						<div class="col-md-offset-3 col-md-9">
							<button type="submit" class="btn blue">Submit</button>
							<a href="/inbox/addprahu" type="button" class="btn default">Back</a>
						</div>
					</div>
				</form>
				<!-- END FORM-->
			</div>
		</div>
	</div>
</div>



</div>


<script>
jQuery(document).ready(function() {
$('body').addClass('page-header-fixed page-sidebar-fixed page-footer-fixed');
App.init();
});

</script>