<?php
	//Zend_Debug::dump($this->data['c_name']); //die();
?>
<div class="page-content">

<!-- BEGIN PAGE HEADER-->
<div class="row">
	<div class="col-md-12">
		<!-- BEGIN PAGE TITLE & BREADCRUMB-->
		<h3 class="page-title">
		Inbox <small>PrabaC</small>
		</h3>
		<ul class="page-breadcrumb breadcrumb">
			<li>
				<i class="fa fa-rss"></i>
				<a href="/">PrabaCore</a>
				<i class="fa fa-angle-right"></i>
			</li>
			<li>
				<i class="fa fa-cogs"></i>
				<a href="/">Workflow</a>
				<i class="fa fa-angle-right"></i>
			</li>
			
			<li>
				<i class="fa fa-user"></i>
				Inbox			</li>
			<!--li class="btn-group pull-right">
				<button type="button" class="btn red">
					<span>
				<?php echo Zend_Auth::getInstance()->getIdentity()->fullname; ?>
					</span>
				</button>
			</li-->
		</ul>
		<!-- END PAGE TITLE & BREADCRUMB-->
	</div>
</div>
<!-- END PAGE HEADER-->

<div class="row">
	<div class="col-md-12">
	<!-- BEGIN EXAMPLE TABLE PORTLET-->
	<div class="portlet box grey" style="margin:0px">
		<div class="portlet-title">
			<div class="caption">
				Inbox			</div>
			 <div class="actions">
				 <!--a href="#" class="btn reload" data-dismiss="modal"><i class="fa fa-times"></i></a-->
			 </div>
			<div class="tools">
			</div>
		</div>
		<div class="portlet-body" style="padding:15px">
		
	<table class="table table-striped table-advance table-hover">
<thead>
<tr>
	<th colspan="3">
		<div class="checker"><span><input type="checkbox" class="mail-checkbox mail-group-checkbox"></span></div>
		<div class="btn-group">
			<a class="btn btn-sm blue" href="#" data-toggle="dropdown"> More <i class="fa fa-angle-down"></i>
			</a>
			<ul class="dropdown-menu">
				<li>
					<a href="#"><i class="fa fa-pencil"></i> Mark as Read</a>
				</li>
				<li>
					<a href="#"><i class="fa fa-ban"></i> Spam</a>
				</li>
				<li class="divider">
				</li>
				<li>
					<a href="#"><i class="fa fa-trash-o"></i> Delete</a>
				</li>
			</ul>
		</div>
	</th>
	<th class="pagination-control" colspan="3">
		<!--
		<span class="pagination-info">
		
		</span>
		<a class="btn btn-sm blue"><i class="fa fa-angle-left"></i></a>
		<a class="btn btn-sm blue"><i class="fa fa-angle-right"></i></a>
		-->
	</th>
</tr>
</thead>
<tbody>

	<?php 
#		die($this->data);
		foreach ($this->data  as $k => $v) {
		
#		$msg=nl2br(implode(" ", array_slice(explode(" ", $v['message']), 0, 50)));
		$msg=substr(nl2br(str_replace('<br>',' ',$v['message'])),0,100);
		$tgl=$v['incoming_date'];

		echo '
			<tr class="inbox-small-cells">
				<td class="inbox-small-cells">
					<div class="checker"><span><input type="checkbox" class="mail-checkbox"></span></div>
				</td>
				<td class="inbox-small-cells">
					<i class="fa fa-star"></i>
				</td>
				<td class="view-message hidden-xs">
					 '.$v['fullname'].'
				</td>
				<td class="view-message ">
					 <a href="/inbox/message/id/'.$v['id'].'">'.$msg.'</a>
				</td>
				<td class="view-message inbox-small-cells">
					<i class="fa fa-paper-clip"></i>
				</td>
				<td class="view-message text-right">
					 '.$tgl.'
				</td>
			</tr>

		';

		?>

		<?php

		}

	?>


</tbody>
</table>

		</div>
		</div>
				
	<!-- END EXAMPLE TABLE PORTLET-->
	</div>
</div>

</div>

<script>

jQuery(document).ready(function() {
$('body').addClass('page-header-fixed page-sidebar-fixed page-footer-fixed');


App.init();



});
</script>


