

<table id=vdata class="table table-striped table-advance table-hover">
<thead>
<tr><th>
			<input type="checkbox" class="mail-checkbox mail-group-checkbox">
	</th>
	<th>
	
	</th>
	<th>
	From
	</th>
	<th>
	
	</th>
	<th>
	
	</th>
	<th >
		
	</th>
</tr>
</thead>
<tbody>
<?php	
foreach ($this->data  as $k => $v) {
		
#		$msg=nl2br(implode(" ", array_slice(explode(" ", $v['message']), 0, 50)));
		$msg=substr(nl2br(str_replace('<br>',' ',$v['message'])),0,100);
		$tgl=$v['incoming_date'];	
		
	
		
echo '<tr class="unread">
	<td class="inbox-small-cells">
		<input type="checkbox" class="mail-checkbox">
	</td>
	<td class="inbox-small-cells">
		<i class="fa fa-star"></i>
	</td>
	<td class="view-message hidden-xs">
		 '.$v['fullname'].'
	</td>
	<td class="view-message ">
		 <a href="/inbox/message/id/'.$v['id'].'">'.$msg.'</a>
	</td>
	<td class="view-message inbox-small-cells">
		<i class="fa fa-paper-clip"></i>
	</td>
	<td class="view-message text-right">
			 '.$tgl.'
	</td>
</tr>';
}
?>	
</tbody>
</table>
<script>
jQuery(document).ready(function() {       
   $('#vdata').dataTable({
                "aoColumns": [
					{ "bSortable": false },
					null, null, null, null, null
					
				
                ],
                "aLengthMenu": [
                    [5, 15, 50, -1],
                    [5, 15, 50, "All"] // change per page values here
                ],
                // set the initial value
                "iDisplayLength": 50,
                "sPaginationType": "bootstrap",
                "oLanguage": {
                    "sLengthMenu": "_MENU_ records",
                    "oPaginate": {
                        "sPrevious": "Prev",
                        "sNext": "Next"
                    }
                },
                "aoColumnDefs": [{
                        'bSortable': false,
                        'aTargets': [0]
                    }
                ]
            });
});
</script>
