<?php
	//Zend_Debug::dump($this->data['c_name']); //die();
?>
<?php
	$msg=$this->data;
?>

<div class="page-content">

<!-- BEGIN PAGE HEADER-->
<div class="row">
	<div class="col-md-12">
		<!-- BEGIN PAGE TITLE & BREADCRUMB-->
		<h3 class="page-title">
		Inbox <small>PrabaC</small>
		</h3>
		<ul class="page-breadcrumb breadcrumb">
			<li>
				<i class="fa fa-rss"></i>
				<a href="/">PrabaCore</a>
				<i class="fa fa-angle-right"></i>
			</li>
			<li>
				<i class="fa fa-cogs"></i>
				<a href="/inbox">Inbox</a>
				<i class="fa fa-angle-right"></i>
			</li>
			
			<li>
				<i class="fa fa-user"></i>
				Detail			</li>
			<!--li class="btn-group pull-right">
				<button type="button" class="btn red">
					<span>
				<?php echo Zend_Auth::getInstance()->getIdentity()->fullname; ?>
					</span>
				</button>
			</li-->
		</ul>
		<!-- END PAGE TITLE & BREADCRUMB-->
	</div>
</div>
<!-- END PAGE HEADER-->

<div class="row">
	<div class="col-md-12">
	<!-- BEGIN EXAMPLE TABLE PORTLET-->
	<div class="portlet box grey" style="margin:0px">
		<div class="portlet-title">
			<div class="caption">
				Inbox			</div>
			 <div class="actions">
				 <!--a href="#" class="btn reload" data-dismiss="modal"><i class="fa fa-times"></i></a-->
			 </div>
			<div class="tools">
			</div>
		</div>
		<div class="portlet-body" style="padding:15px">
		<div class="inbox-view-info">
	<div class="row">
		<div class="col-md-7">
			<img src="/assets/core/img/avatar1_small.jpg">
			<span class="bold">
				 <?php echo $msg['fullname'];?> 
			</span>
			<span>
				 
			</span>
			 to
			<span class="bold">
				 me
			</span>
			 on  <?php echo $msg['incoming_date'];?>
		</div>
		<div class="col-md-5 inbox-info-btn">
			<div class="btn-group">
				<button class="btn blue reply-btn">
				<i class="fa fa-reply"></i> Reply </button>
				<button class="btn blue dropdown-toggle" data-toggle="dropdown">
				<i class="fa fa-angle-down"></i>
				</button>
				<ul class="dropdown-menu pull-right">
					<li>
						<a href="#"><i class="fa fa-reply reply-btn"></i> Reply</a>
					</li>
					<li>
						<a href="#"><i class="fa fa-arrow-right reply-btn"></i> Forward</a>
					</li>
					<li>
						<a href="#"><i class="fa fa-print"></i> Print</a>
					</li>
					<li class="divider">
					</li>
					<li>
						<a href="#"><i class="fa fa-ban"></i> Spam</a>
					</li>
					<li>
						<a href="#"><i class="fa fa-trash-o"></i> Delete</a>
					</li>
					<li>
					</li></ul></div>
				</div>
			</div>
		</div>
		<div class="inbox-view">
			<?php echo $msg['message'];?><br><br>
			
			Klik  untuk follow up <?php echo $msg['href'];?>
			
<!--
			<p>
				<strong>Lorem ipsum</strong>dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.
			</p>
			<p>
				 Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et <a href="#">iusto odio dignissim</a> qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi. Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet doming id quod mazim placerat facer possim assum. Typi non habent claritatem insitam; est usus legentis in iis qui facit eorum claritatem.
			</p>
			<p>
				 Investigationes demonstraverunt lectores legere me lius quod ii legunt saepius.
			</p>
			<p>
				 Claritas est etiam processus dynamicus, qui sequitur mutationem consuetudium lectorum. Mirum est notare quam littera gothica, quam nunc putamus parum claram, anteposuerit litterarum formas humanitatis per seacula quarta decima et quinta decima. Eodem modo typi, qui nunc nobis videntur parum clari, fiant sollemnes in futurum.
			</p>
-->
		</div>
		<hr>
		<div class="inbox-attached">
			<div class="margin-bottom-15">
				<span>
					 3 attachments —
				</span>
				<a href="#">Download all attachments</a>
			</div>
		</div>
	</div>

		</div>
		</div>
				
	<!-- END EXAMPLE TABLE PORTLET-->
	</div>
</div>

</div>

<script>

jQuery(document).ready(function() {
$('body').addClass('page-header-fixed page-sidebar-fixed page-footer-fixed');


App.init();



});
</script>


