<?php 
 // Zend_Debug::dump($this->media);
 // Zend_Debug::dump($this->sosial);die();
?>

<style> 
.portlet.light {
    padding: 12px 5px 15px;
    background-color: transparent;
	 color: white;
}
.portlet.light>
.portlet-title>
.caption>
.caption-subject {
    color: white;
}
.page-container {
    padding: 20px 20px 5px 5px;
}
body{
	color: white !important;
}
.dataTables_wrapper .dataTables_length, .dataTables_wrapper .dataTables_filter, 
.dataTables_wrapper .dataTables_info, 
.dataTables_wrapper .dataTables_processing,
 .dataTables_wrapper .dataTables_paginate
{
  color : #1C6EA7;
}
.table-striped>tbody>tr:nth-of-type(odd) {
    background-color: rgba(39, 76, 95, 0.64);
}
.table {
    border: 1px solid #666;
}
.table-scrollable {
	border: 1px solid #666;	
}
.table-scrollable>.table {
	background-color: #0c1d2b;
}
.table-striped>tbody>tr:nth-of-type(even){
	background-color: #274c5f;
}
.portlet.light.bordered {
	background-color:rgba(17, 38, 55, 0.8);
}
table.dataTable td.sorting_1, table.dataTable td.sorting_2, table.dataTable td.sorting_3, table.dataTable th.sorting_1, table.dataTable th.sorting_2, table.dataTable th.sorting_3 {
    background: #35383c!important;
}
 
.pagination>li>a, .pagination>li>span{
color : #337ab7;
background-color : transparent;
border:transparent;
}

.pagination>.active>a, .pagination>.active>a:hover
{
  color : #333;
  background-color : #ffffff;
}

.pagination>li>a:hover
{ 
  color : #ffffff;
  background-color : #2f353b;
}
.pagination>.disabled>a, .pagination>.disabled>a:hover,.pagination>.disabled>span
{
   background-color:transparent;
   color : #1C6EA7;
}
</style>
<div class="page-content" style="min-height:800px">
	<div class="col-md-12" style="padding-right: 0px;">
		<div class="portlet light" style="background-color:rgba(17, 38, 55, 0.8);">
			<div class="portlet-title">
				<div class="caption font-white">
					<!--i class="icon-bubble font-dark hide"></i>
					<span class="caption-subject font-hide bold uppercase">ORGANISASI</span-->
				</div>
				<div class="actions">					
				</div>
			</div>
			<div class="portlet-body">
				<table class="table table-striped table-bordered table-hover" id="user_table2">
					<thead>
						<tr>
							<th>No</th>
							<th>SUMBER</th>
							<th>TANGGAL</th>
							<th>COUNT</th>
						</tr>
					</thead>
					<tbody>
						<?php
						$no = 1;
						foreach($this->media as $k=>$value)
						{
							?>											
							<tr class="portlet light" style="background-color:#274c5f;opacity: 0.9;">
								<td><?php echo $no;?></td>
								<td>DIGITAL MEDIA</td>
								<td><?php echo substr($value[0],0,10);?></td>
								<td><?php echo $value[1];?></td>
							</tr>
							<?php
							$no++;
						}
						?>				
					</tbody>
				</table>
			</div>
		</div>
		
		<div class="portlet light" style="background-color:rgba(17, 38, 55, 0.8);">
			<div class="portlet-title">
				<div class="caption font-white">
					<!--i class="icon-bubble font-dark hide"></i>
					<span class="caption-subject font-hide bold uppercase">ORGANISASI</span-->
				</div>
				<div class="actions">					
				</div>
			</div>
			<div class="portlet-body">
				<table class="table table-striped table-bordered table-hover" id="user_table2">
					<thead>
						<tr>
							<th>No</th>
							<th>SUMBER</th>
							<th>TANGGAL</th>
							<th>COUNT</th>
						</tr>
					</thead>
					<tbody>
						<?php
						$no = 1;
						foreach($this->sosial as $k=>$value)
						{
							?>											
							<tr class="portlet light" style="background-color:#274c5f;opacity: 0.9;">
								<td><?php echo $no;?></td>
								<td>SOSIAL MEDIA</td>
								<td><?php echo substr($value[0],0,10);?></td>
								<td><?php echo $value[1];?></td>
							</tr>
							<?php
							$no++;
						}
						?>				
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>