<style>
body {
	color: white;
}
.cd-horizontal-timeline .events a{
	color: white;
}
.chats li .name {
    color: #d5ff5b;
}
</style>
<div class="page-content">

<div class="row">
<div class="col-md-12">
	<div class="portlet light" style="background-color:rgba(17, 38, 55, 0.8);">
		<div class="portlet-title">
			<div class="caption font-white">
				Laporan
			</div>
			<div class="actions">
				<a href="javascript:;" class="btn btn-primary btn-sm" onclick="getCloud('laporan');">
					<i class="fa fa-refresh"></i></a>
			</div>
		</div>
		<div class="portlet-body">
	
	<div class="cd-horizontal-timeline mt-timeline-horizontal">
		<div class="timeline">
			<div class="events-wrapper">
				<div class="events">
					<ol>
<?php
$html ='';
$c = count($this->timeline);
foreach($this->timeline as $k=>$v){

$data_date = date("d/m/Y", strtotime($v));	
	
$html .='<li>';
$html .='<a href="#0" id="tm'.$k.'" data-date="'.$data_date.'" class="border-after-red bg-after-red '.($k==($c-1)?"selected":"").'" data-tgl="'.$v.'" onclick="getTimeline(this);">'.date("d M", strtotime($v)).'<br>'.date("Y",strtotime($v)).'</a>';
$html .='</li>';	
}
echo $html;
?>
						<!--<li>
							<a href="#0" data-date="16/01/2014" class="border-after-red bg-after-red selected" data-tgl="ok" onclick="getTimeline(this);">16 Jan</a>
						</li>
						<li>
							<a href="#0" data-date="28/02/2014" class="border-after-red bg-after-red"data-tgl="ok1" onclick="getTimeline(this);">28 Feb</a>
						</li>
						<li>
							<a href="#0" data-date="20/04/2014" class="border-after-red bg-after-red" data-tgl="ok2" onclick="getTimeline(this);">20 Mar</a>
						</li>
						<li>
							<a href="#0" data-date="20/05/2014" class="border-after-red bg-after-red">20 May</a>
						</li>
						<li>
							<a href="#0" data-date="09/07/2014" class="border-after-red bg-after-red">09 Jul</a>
						</li>
						<li>
							<a href="#0" data-date="30/08/2014" class="border-after-red bg-after-red">30 Aug</a>
						</li>
						<li>
							<a href="#0" data-date="15/09/2014" class="border-after-red bg-after-red">15 Sep</a>
						</li>
						<li>
							<a href="#0" data-date="01/11/2014" class="border-after-red bg-after-red">01 Nov</a>
						</li>
						<li>
							<a href="#0" data-date="10/12/2014" class="border-after-red bg-after-red">10 Dec</a>
						</li>
						<li>
							<a href="#0" data-date="19/01/2015" class="border-after-red bg-after-red">29 Jan</a>
						</li>
						<li>
							<a href="#0" data-date="03/03/2015" class="border-after-red bg-after-red">3 Mar</a>
						</li>-->
					</ol>
					<span class="filling-line bg-red" aria-hidden="true"></span>
				</div>
				<!-- .events -->
			</div>                            
			<!-- .events-wrapper -->
			<ul class="cd-timeline-navigation mt-ht-nav-icon">
				<li>
					<a href="#0" class="prev inactive btn btn-outline red md-skip">
						<i class="fa fa-chevron-left"></i>
					</a>
				</li>
				<li>
					<a href="#0" class="next btn btn-outline red md-skip">
						<i class="fa fa-chevron-right"></i>
					</a>
				</li>
			</ul>
			<!-- .cd-timeline-navigation -->
		</div>
		<!-- .timeline -->
		<div class="events-content" id="xxx">
					<div class="row">
					<div class="col-md-4">
					<div class="portlet light " style="background-color:rgba(17, 38, 55, 0.8);">
						 <div class="portlet-title" style="height:10px;">
							<div class="caption">
								<i class="icon-equalizer font-dark hide"></i>
								<span class="caption-subject font-dark bold uppercase" ><font color="white">Latest Laporan</font></span>
								<span class="caption-helper">...</span>
							</div>
							<div class="tools">
								<a href="" class="collapse" data-original-title="" title=""> </a>
							</div>
						</div>
						<div class="portlet-body">
							<div class="scroller" id="l_lap" style="height: 525px;" data-always-visible="1" data-rail-visible1="1">
							</div>
						</div>
					</div>
					</div>

					<div class="col-md-4">
					<div class="portlet light " style="background-color:rgba(17, 38, 55, 0.8);">
						 <div class="portlet-title">
							<div class="caption">
								<i class="icon-equalizer font-dark hide"></i>
								<span class="caption-subject font-dark bold uppercase"><font color="white">Latest News</font></span>
								<span class="caption-helper">...</span>
							</div>
							<div class="tools">
								<a href="" class="collapse" data-original-title="" title=""> </a>
							</div>
						</div>
						<div class="portlet-body">
							<div class="scroller" id="l_news" style="height: 525px;" data-always-visible="1" data-rail-visible1="1">
							</div>
							
						</div>
					</div>
					</div>
					<div class="col-md-4">
					<div class="portlet light " style="background-color:rgba(17, 38, 55, 0.8);">
						 <div class="portlet-title">
								<div class="caption">
									<i class="icon-equalizer font-dark hide"></i>
									<span class="caption-subject font-dark bold uppercase"><font color="white">Latest Socmed</font></span>
									<span class="caption-helper">...</span>
								</div>
								<div class="tools">
									<a href="" class="collapse" data-original-title="" title=""> </a>
								</div>
							</div>
							<div class="portlet-body" id="chats">
								<div class="scroller" id="l_socmed" style="height: 525px;" data-always-visible="1" data-rail-visible1="1">
								</div>								
							</div>
						</div>
					</div>
					</div>
				
		</div>
		<!-- .events-content -->
	</div>
		</div>
	</div>
</div>
</div>








</div>
<script>
function getTimeline(me){

$("#xxx").addClass("selected");
var tgl = $(me).data("tgl");

getLatest("lap",tgl);
getLatest("news",tgl);
getLatest("socmed",tgl);
	
// $.ajax({  
	// type: "GET",
	// url: '/analis/ajaxhome/timeline/tgl/'+tgl,
	// data: {}, //last_id kita berarti 15
	// dataType: "html",  //sesuai keinginan, di sini saya pengen ngambil langsung data dalam bentuk html langsung dari file data_per_load.php
	// success: function(data){
		// // console.log(data);
		// $("#xxx").html(data);
	// }
// });
	
	
}

function getLatest(l,tgl){

App.blockUI({target:"#l_"+l,boxed:!0});

// var formData = $("#form").serialize();
var formData = {};

$.ajax({  
	type: "GET",
	url: '/analis/ajaxhome/latest/l/'+l+'/skey/<?php echo $_GET["search"] ?>/startdate/'+tgl+'/enddate/'+tgl+'/',
	data: formData, //last_id kita berarti 15
	dataType: "html",  //sesuai keinginan, di sini saya pengen ngambil langsung data dalam bentuk html langsung dari file data_per_load.php
	success: function(data){
		// console.log(data);
		$("#l_"+l).html(data);
		App.unblockUI("#l_"+l);
	}
});
	
	
}

jQuery(document).ready(function() {

$("#tm<?php echo ($c-1); ?>").click();

});
</script>