<style>
</style>
<?php
echo '<form id="formp">';
echo '<input type="hidden" id="t" name="t" value="'.$this->varams["t"].'">';
echo '</form>';

// Zend_Debug::dump();die();

?>
<div class="page-content">

<div class="row">
<div class="col-md-12">
	<div class="portlet light" >
		<div class="portlet-title">
			<div class="caption font-white">
				<i class="fa fa-edit"></i> Training Set Prediksi
			</div> 
			<div class="tools">
				<a href="javascript:;" class="collapse" data-original-title="" title=""> </a>
			</div>
		</div>
		<div class="portlet-body">
			<div class="row">
			<div class="col-md-12">
			<form role="form" id="formf">
			<div class="form-body">
				<div class="row">
				<div class="col-md-3">
					<div class="form-group">
						<label>Tema</label>
						<select class="form-control select2me" data-placeholder="Select..." id="cat" name="cat" onchange="getTopik(this.value);">
							<?php
							
							foreach ($this->cat as $k=>$v) {
							echo '<option value="'.$v.'" '.(isset($this->varams["cat"]) && $this->varams["cat"]!="" && $this->varams["cat"]==$v?"selected":"").'>'.$k.'</option>';    
							}
							?>
						</select>
					</div>
				</div>
				<div class="col-md-3">
					<div class="form-group">
						<label>Topik</label>
						<select class="form-control select2me" data-placeholder="Select..." id="topik" name="topik">
										<option value="">SEMUA TOPIK</option>
									</select>
					</div>
				</div>
				<div class="col-md-3">
					<div class="form-group">
						<label>Tipe</label>
						<select class="form-control" id="type" name="type">
							<option value="2">Digital Media</option>
							<option value="6">Laporan</option>
							<option value="5">Social Media</option>
						</select>
					</div>
				</div>
				<div class="col-md-2">
					<div class="form-group">
						<label>Keyword</label>
						<input type="text" class="form-control" id="keyword" name="keyword" placeholder="Keyword...">
					</div>
				</div>
				<div class="col-md-2">
					<div class="form-group">
						<label>Mulai Dari</label>
						<input type="text" class="form-control" id="mulai" name="mulai" placeholder="Mulai Dari...">
					</div>
				</div>
				<div class="col-md-2">
					<div class="form-group">
						<label>Kuantitas</label>
						<input type="text" class="form-control" id="quantity" name="quantity" placeholder="Quantity...">
					</div>
				</div>
				<div class="col-md-1">
					<div class="form-group" style="margin: 25px 0 0 0">
						<button type="button" class="btn green" id="btnGenerate">Generate</button>
					</div>
				</div>
				<div class="col-md-1">
					
				</div>
				<div class="col-md-1">
				
				</div>
				<div class="col-md-1">
					<div class="form-group" style="margin: 25px 0 0 0">
						<button type="button" class="btn red" id="btnGenerateModel">Re Generate All model</button>
					</div>
				</div>
				</div>
			</div>
			</form>
			</div>
			</div>

			<div class="row">
			<div class="col-md-12" id="gendata">
			<div class="row">
			<div class="col-md-12">
			<table class="table table-bordered">
				<thead>
				<tr>
					<th>No</th>
					<th>Konten</th>
					<th>Prediksi</th>
					<th>Nilai</th>
				</tr>
				</thead>
				<tbody>
				<?php
				foreach($this->isi_prediksi as $k=>$v){ ?>
				<tr>
					<td><?php echo $k+1; ?></td>
					<td><?php echo $v["text"]; ?></td>
					<td><?php echo $v["Prediksi"]; ?></td>
					<td><?php echo $v["nilai2"]; ?></td>
				</tr>
				<?php } ?>
				
				</tbody>
			</table>
			</div>
			</div>
			
			</div>
			</div>

		</div>
	</div>
</div>
</div>

<?php
if(strtolower($this->varams["t"])=="unigram"){
?>
<div class="row">
<div class="col-md-12">
	<div class="portlet light" style="background-color:rgba(17,24,31,0.8);">
		<div class="portlet-title">
			<div class="caption font-white">
				<i class="fa fa-edit"></i>Unigram Datatables
			</div> 
			<div class="tools">
				<a href="javascript:;" class="collapse" data-original-title="" title=""> </a>
			</div>
			<div class="actions">
				<a href="javascript:;" class="btn blue btn-sm reload">
					<i class="fa fa-refresh"></i> Reload</a>
			</div>
		</div>
		<div class="portlet-body">
			
			<table class="table table-bordered table-hover" id="user_table">
			<thead>
			<tr>
				<th style="width:30px;">
					 No
				</th>
				<th>
					 id
				</th>
				<th>
					 pre
				</th>
				<th>
					 root
				</th>
				<th>
					 word
				</th>
				<th>
					 sentiment
				</th>
			</tr>
			</thead>
			<tbody>
			</tbody>
			</table>
		</div>
	</div>
</div>
</div>
<?php
} else if(strtolower($this->varams["t"])=="ngram"){
?>
<div class="row">
<div class="col-md-12">
	<div class="portlet light" style="background-color:rgba(17,24,31,0.8);">
		<div class="portlet-title">
			<div class="caption font-white">
				<i class="fa fa-edit"></i>Ngram Datatables
			</div>
			<div class="tools">
				<a href="javascript:;" class="collapse" data-original-title="" title=""> </a>
			</div>
			<div class="actions">
				<a href="javascript:;" class="btn blue btn-sm reload">
					<i class="fa fa-refresh"></i> Reload</a>
			</div>
		</div>
		<div class="portlet-body">
			
			<table class="table table-bordered table-hover" id="user_table">
			<thead>
			<tr>
				<th style="width:30px;">
					 No
				</th>
				<th>
					 id
				</th>
				<th>
					 words
				</th>
				<th>
					 sentiment
				</th>
				<th>
					 attrs
				</th>
			</tr>
			</thead>
			<tbody>
			</tbody>
			</table>
		</div>
	</div>
</div>
</div>
<?php
}
?>

</div>
<script>

var xhr_tema = null;
var xhr = null;
var xhr_gt = null;

function getTopik(id){
	
	if(xhr_gt!=null && xhr_gt!="undefined"){
		xhr_gt.abort;
	}

	var formData = {};

	xhr_gt = $.ajax({  
		type: "GET",
		url: '/domas/home/select456/id/'+id+'/topik/<?php echo $this->varams["topik"]; ?>',
		// url: '/analis/ajax/gettopik/id/'+id+'/topik/<?php echo $this->varams["topik"]; ?>',
		data: formData, //last_id kita berarti 15
		dataType: "html",  //sesuai keinginan, di sini saya pengen ngambil langsung data dalam bentuk html langsung dari file data_per_load.php
		success: function(data){
			//alert("xxx");
			// console.log("ok");
			$("#topik").html(data);
		}
	});

}

jQuery(document).ready(function(){
	getTopik(<?php echo $this->cat["Ideologi"] ?>);
	
var TableAjax4 = function () {

    return {

        //main function to initiate the module
        init: function () {
            
            if (!jQuery().dataTable) {
                return;
            }

			var param = $("#formp").serialize();
			console.log(param);

            // begin first table	
            var oTable = $('#user_table').dataTable({
               // "sDom" : "<'row'<'col-md-6 col-sm-12'l><'col-md-6 col-sm-12'f>r>t<'row'<'col-md-5 col-sm-12'i><'col-md-7 col-sm-12'p>>", //default layout without horizontal scroll(remove this setting to enable horizontal scroll for the table)
                "aLengthMenu": [
                    [10,50, 200, 500 -1],
                    [10,50, 200, 500, "All"] // change per page values here
                ],
                "bProcessing": true,
                "bServerSide": true,
                "sAjaxSource": "/domas/home/trainingsetpredictive?"+param,
                // set the initial value
                "iDisplayLength": 50,
                "sPaginationType": "bootstrap_full_number",
                "oLanguage": {
                    "sProcessing": '<i class="fa fa-coffee"></i>&nbsp;Please wait...',
                    "sLengthMenu": "_MENU_ records",
                    "oPaginate": {
                        "sPrevious": "Prev",
                        "sNext": "Next"
                    },
			"sSearch": "Search all columns:"
                },
                "aoColumnDefs": [{
                        'bSortable': false,
                        'aTargets': [0]
                    }
                ]
            });

            jQuery('#user_table_wrapper .dataTables_filter input').addClass("form-control input-medium"); // modify table search input
            jQuery('#user_table_wrapper .dataTables_length select').addClass("form-control input-small"); // modify table per page dropdown

            // handle record edit/remove
            //$('body').on('click', '#graph_table_wrapper .btn-graph', function() {
            //    alert('Edit record with id:' + $(this).attr("data-id"));
            //});
		
		$("input#filterid").keyup( function () {
			/* Filter on the column (the index) of this element */
			oTable.fnFilter( this.value, 1 );
		} );
		$("input#filteruname").keyup( function () {
			/* Filter on the column (the index) of this element */
			oTable.fnFilter( this.value, 2 );
		} );
		$("input#filterfullname").keyup( function () {
			/* Filter on the column (the index) of this element */
			oTable.fnFilter( this.value, 3 );
		} );
		$("input#filteremail").keyup( function () {
			/* Filter on the column (the index) of this element */
			oTable.fnFilter( this.value, 4 );
		} );
		$("input#filterubis").keyup( function () {
			/* Filter on the column (the index) of this element */
			oTable.fnFilter( this.value, 5 );
		} );
		$("input#filtersub_ubis").keyup( function () {
			/* Filter on the column (the index) of this element */
			oTable.fnFilter( this.value, 6 );
		} );
		$("input#filterposition").keyup( function () {
			/* Filter on the column (the index) of this element */
			oTable.fnFilter( this.value, 7 );
		} );
		$("a.reload").click( function () {
			/* Filter on the column (the index) of this element */
			oTable.fnDraw();
		} );

        $('#sample_2_column_toggler input[type="checkbox"]').change(function(){
            /* Get the DataTables object again - this is not a recreation, just a get of the object */
            var iCol = parseInt($(this).attr("data-column"));
            var bVis = oTable.fnSettings().aoColumns[iCol].bVisible;
            oTable.fnSetColumnVis(iCol, (bVis ? false : true));
        });

        }

    };

}();

TableAjax4.init();

$("#btnGenerate").on("click",function(){

if(xhr!="" && xhr!=null){
	xhr.abort();
}

App.blockUI({target:"#gendata",boxed:!0});

var formData = $("#formf").serialize();

$.ajax({
	type: "GET",
	url: '/domas/home/generatepredictive',
	data: formData, //last_id kita berarti 15
	dataType: "html",  //sesuai keinginan, di sini saya pengen ngambil langsung data dalam bentuk html langsung dari file data_per_load.php
	success: function(data){
		// console.log(data);
		App.unblockUI("#gendata");
		$("#gendata").html(data);
	}
});

});

$("#btnGenerateModel").on("click",function(){

if(xhr!="" && xhr!=null){
	xhr.abort();
}

App.blockUI({target:"#gendata",boxed:!0});

var formData = $("#formf").serialize();

$.ajax({
	type: "GET",
	url: '/domas/home/generatepredictivemodel',
	dataType: "html", 
	success: function(data){
		// console.log(data);
		//App.unblockUI("#gendata");
		//$("#gendata").html(data);
		alert("finsh");
         location.reload();

	}
});

});
});
</script>