<?php
	//die('www');

//Zend_Debug::dump($this->messages); die();
?>

<div class="page-content">

<!-- BEGIN PAGE HEADER-->
<div class="row" id="headertitle">
	<div class="col-md-12">
		<!-- BEGIN PAGE TITLE & BREADCRUMB-->
		<h3 class="page-title">
		Manage <small>System Cron </small>
		</h3>
		<ul class="page-breadcrumb breadcrumb">

			<li>
				<i class="fa fa-home"></i>
				<a href="/">Home</a>
				<i class="fa fa-angle-"></i>
			</li>
			<li>
				<i class="fa fa-bullhorn"></i>
				List Crons
			</li>
		</ul>
	</div>
</div>
<!-- END PAGE HEADER-->

<div class="row">
	<div class="col-md-12">
		<div class="portlet box grey">
						<div class="portlet-title">
							<div class="caption">
								<i class="fa fa-reorder"></i>Portlet1
							</div>
							<div class="actions">
								<a href="/domas/q/addcron" class="btn green btn-sm"><i class="fa fa-plus"></i> Add New Cron</a>
							</div>
						</div>
						<div class="portlet-body">
							<div id="messages">
							<?php foreach ($this->messages as $z) {	
							$var = explode("|", $z) ;?>
							<div class="alert alert-<?php echo $var[1]; ?>">
								<?php echo $var[0]; ?>
							</div>
							<?php } ?>

							</div>
<div class="table-scrollable">
			<table class="table table-striped table-bordered table-hover">
			<thead>
			<tr>
				<th>
					No
				</th>
				<th>
					ID
				</th>
				<th>
					Created By
				</th>
				<th>
					Created At
				</th>
				<th>
					File
				</th>
				<th>
					Start
				</th>
				<th>
					End
				</th>
				<th>
					Interval
				</th>
				<th style="min-width: 195px;">
				
				</th>
			</tr>
			</thead>
			<tbody>
<?php
$idx = 0;
foreach($this->alert as $k=>$v){
$idx++
?>
			<tr>
				<td style="text-align:center">
					<?php echo $idx++; ?>
				</td>
				<td>
					
                    <?php
$idx = 1;
if($v['status']=='enable'){
?>
	 <span class="label label-sm label-info"> On </span>				
<?php
}else{
?>
	<span class="label label-sm label-danger"> Off </span>					
<?php
}
?>

                    <?php echo $v['id']; ?>
                    
                   
				</td>
				<td>
					<?php echo $v['user']; ?>
				</td>
				<td>
					<?php echo $v['created_at']; ?>
				</td>
				<td>
					<?php echo $v['file']; ?>
				</td>
				<td>
					<?php echo $v['start']; ?>
				</td>
				<td>
					<?php echo $v['end']; ?>
				</td>
				<td>
					<?php echo $v['interval']; ?>
				</td>
				<td style="text-align:center">
					<div class="btn-group btn-group-solid">
						<button type="button" class="btn red btn-sm" onclick="location.href='/domas/q/listcron/id/<?php echo $v['id']; ?>/act/deleted'">Delete</button>
						<button type="button" class="btn blue btn-sm" onclick="location.href='/domas/q/detailcron/id/<?php echo $v['id']; ?>'">Detail</button>
<?php
$idx = 1;
if($v['status']=='enable'){
?>
						<button type="button" class="btn yellow btn-sm" onclick="location.href='/domas/q/listcron/id/<?php echo $v['id']; ?>/act/disabled'">Disabled</button>
<?php
}else{
?>
						<button type="button" class="btn yellow btn-sm" onclick="location.href='/domas/q/listcron/id/<?php echo $v['id']; ?>/act/enabled'">Enabled</button>
<?php
}
?>
					</div>
				</td>
			</tr>
<?php
}
?>
			</tbody>
			</table>
		</div>
						</div>
					</div>
	</div>
</div>

</div>

<script>
jQuery(document).ready(function() {
//$('body').addClass('page-header-fixed page-sidebar-fixed page-footer-fixed');
//App.init();
});
</script>



