<?php
	
	$params=array();
	
	#Zend_Debug::dump($this->data);die();
	
	
?>
<div class="page-content">

<!-- BEGIN PAGE HEADER-->
<div class="row">
	<div class="col-md-12">
		<!-- BEGIN PAGE TITLE & BREADCRUMB-->
		<h3 class="page-title">
		Action Discovery <small>Search, view and edit Action of some API</small>
		</h3>
			<ul class="page-breadcrumb breadcrumb">
			<li>
				<i class="fa fa-rss"></i>
				<a href="/">PraBAC</a>
				<i class="fa fa-angle-right"></i>
			</li>
			<li>
				<i class="fa fa-cogs"></i>
				<a href="/">Action Management</a>
				<i class="fa fa-angle-right"></i>
			</li>
			
			<li>
				<i class="fa fa-list-ol"></i>
				Action List
			</li>
			<!--li class="btn-group pull-right">
				<button type="button" class="btn red">
					<span>
				<?php echo Zend_Auth::getInstance()->getIdentity()->fullname; ?>
					</span>
				</button>
			</li-->
		</ul>
	
		<?php /*
		<ul class="page-breadcrumb breadcrumb">
			<li>
				<i class="fa fa-rss"></i>
				<a href="/">TelkomCare</a>
				<i class="fa fa-angle-right"></i>
			</li>
			<li>
				<i class="fa fa-cogs"></i>
				<a href="/">Admin Area</a>
				<i class="fa fa-angle-right"></i>
			</li>
			<li>
				<i class="fa fa-group"></i>
				Manage Users
			</li>
			<!--li class="btn-group pull-right">
				<button type="button" class="btn red">
					<span>
				<?php echo Zend_Auth::getInstance()->getIdentity()->fullname; ?>
					</span>
				</button>
			</li-->
		</ul> */ ?>
		<!-- END PAGE TITLE & BREADCRUMB-->
	</div>
</div>

<div class="row">
	<div class="col-md-12">
	<!-- BEGIN EXAMPLE TABLE PORTLET-->
	<div class="portlet box grey">
		<div class="portlet-title">
			<div class="caption">
			Action List	
			</div>
			<div class="actions">
				<a href="/prabaqueue/addqueue" class="btn green"  id="btn-addnew"><i class="fa fa-plus"></i> Add New</a>
				<a href="#" class="btn blue reload"><i class="fa fa-refresh"></i> Reload</a>
			
			</div>
			<!--div class="tools">
				<a href="javascript:;" class="reload"></a>
			</div-->
		</div>
		<div class="portlet-body">
			<!--div class="table-toolbar">
				<div class="btn-group">
					<button id="sample_editable_1_new" class="btn green">
					Add New <i class="fa fa-plus"></i>
					</button>
				</div>
				<!--div class="btn-group pull-right">
					<button class="btn dropdown-toggle" data-toggle="dropdown">Tools <i class="fa fa-angle-down"></i>
					</button>
					<ul class="dropdown-menu pull-right">
					<li>
						<a href="#">Print</a>
					</li>
					<li>
						<a href="#">Save as PDF</a>
					</li>
					<li>
						<a href="#">Export to Excel</a>
					</li>
					</ul>
				</div>
			</div-->
			<table class="table table-striped table-bordered table-hover" id="table_portlet_17">
							<thead>
<tr>

	<th>No</th><th> Queue Template Name </th><th>Interval (second)</th><th>Count</th><th>file</th><th></th>											
</tr>
			</thead>
			<tbody>
								
<?php 
$i=1;
foreach ($this->data as $v) {
	echo '<tr class="gradeX"><td>'.$i.'</td><td>'.$v['NAME'].'</td><td>'.$v['INTERVAL'].'</td><td>'.$v['COUNT'].'</td><td>'.$v['LINK'].'</td><td><div style="text-align:center"><a href="javascript:;" data-id="3" class="btn btn-xs red btn-delete"><i class="fa fa-times"></i> Delete</a></div></td></tr>';	

$i++;
}
?>								
								
</tbody>
			

		
	</div>

	</div>
</div>

</div>

<script>
	
jQuery(document).ready(function() {
$('body').addClass('page-header-fixed page-sidebar-fixed page-footer-fixed');
App.init();


 $('#table_portlet_17').dataTable({
                "aoColumns": [
				{ "bSortable": false },
					null, null, null, null, null				
					
				
                ],
                "aLengthMenu": [
                    [5, 15, 20, -1],
                    [5, 15, 20, "All"] // change per page values here
                ],
                // set the initial value
                "iDisplayLength": 10,
                "sPaginationType": "bootstrap",
                "oLanguage": {
                    "sLengthMenu": "_MENU_ records",
                    "oPaginate": {
                        "sPrevious": "Prev",
                        "sNext": "Next"
                    }
                },
                "aoColumnDefs": [{
                        'bSortable': false,
                        'aTargets': [0]
                    }
                ]
            });		
         


FormComponents3.init();
AddApi.init();
$('span.help-block').hide();
});



</script>
