<?php
//$this->layout()->nestedLayout = "metronictopnav";
?>
<style type="text/css">
span.fancytree-icon {
  position: relative;
}
span.fancytree-childcounter {
  color: #fff;
  background: #428BCA;
/*  border: 1px solid gray; */
  position: absolute;
  top: -6px;
  right: -6px;
  min-width: 10px;
  height: 10px;
  line-height: 1;
  vertical-align: baseline;
  border-radius: 10px; /*50%;*/
  padding: 2px;
  text-align: center;
  font-size: 9px;
}
</style>

<div class="page-content">

<!-- BEGIN PAGE HEADER-->
<div class="row">
	<div class="col-md-4">
		<div id="tree">
		</div>
	</div>
	<div class="col-md-8">
		<pre id="source"></pre>
	</div>
</div>

</div>

<script>
jQuery(document).ready(function() {
$('body').addClass('page-header-fixed page-footer-fixed page-full-width');
App.init();
$("#tree").fancytree({
  extensions: ["childcounter", "contextMenu"],
  source: {
	url: "/mdata/q/sourceserver/ajax/0"
  },
  contextMenu: {
        menu: {
          'edit': { 'name': 'Download and Index', 'icon': 'edit' },
          //'cut': { 'name': 'Cut', 'icon': 'cut' },
          //'copy': { 'name': 'Copy', 'icon': 'copy' }
	  }
	},
  childcounter: {
	deep: true,
	hideZeros: true,
	hideExpanded: true
  },
  lazyLoad: function(event, data) {
	  // console.log(event);
	  // console.log(data.node);
	data.result = {url: "/mdata/q/sourceserver/ajax/"+data.node.data.md5+'/node/'+data.node.data.nd+'/key/'+data.node.key}
  },
  click: function(event, data) {
	  // console.log(event);
	  // console.log(data.node.folder);
	  if(!data.node.folder){
		$( "#source" ).html("");
		  $.get( "/mdata/q/sourceserver/open/"+data.node.data.md5+"/node/"+data.node.data.nd, function( data ) {
			  // console.log(data);
			  $( "#source" ).html("<div>"+data+"</div>");
				// $("#source").children().first().linedtextarea();
			});
	  }
	}
});
});
</script>
