<?php

$m = new Model_System();
$cc = new Survey_Model_General();
$vdat = $cc->get_survey_id(1);
//Zend_Debug::dump($vdat);
$auth = Zend_Auth::getInstance();
$identity = $auth->getIdentity();
$vf = $_SERVER['REQUEST_URI'];
$var = explode("/", $vf);
$uname = $identity->uname;
$uid = $identity->uid;
$cabang = $m->call_api(171)['data'];
$gerbang = $m->call_api(173)['data'];
$c = new Survey_Model_General();
$data = $c->get_attr_name();
$loc = $c->get_location();
//Zend_Debug::dump($data);
//Zend_Debug::dump($this); die('tes123');
//Zend_Debug::dump($data ); //die('tes123');
// $tahun = (int) date("Y", strtotime($data['tgl_lahir']));
$lahir = substr($data['tgl_lahir'],4,4);
$tahun = date('Y')-$lahir;
// echo $tahun; die();
//die();
$grade = array("F.3" => "F",
			   "5." => "5",
			   "4.C" => "4,",
               "3.C" => "3",
			   "2.A" => "2",
               "2.B" => "2",
               "2.C" => "2",
               "1.A" => "1",
               "1.B" => "1",
               "1.C" => "1",
			   "E.1" => "E",
               "E.2" => "E",
               "E.3" => "E",
               "M." => "M",
               "O3.A" => "O",
               "O3.B" => "O",
               "O3.C" => "O",
               "O3.D" => "O",
               "O2.A" => "O",
               "O2.B" => "O",
               "O2.C" => "O",
               "O1.A" => "O",
               "O1.B" => "O",
               "O1.C" => "O",
			   "P." => "P");
$sex = array('M' => 'Laki-laki',
             'F' => 'Perempuan');
$argrade = array("E" => "E",
                 "F" => "F",
                 "O" => "O",
                 "P" => "P",
                 "M" => "M",
                 "1" => "1",
                 "2" => "2",
                 "3" => "3",
                 "4" => "4",
                 "5" => "5");

?>

<div class="col-md-offset-3 col-md-6 col-md-offset-3">
	<div class="portlet light bordered">
		<div class="portlet-title">
			<span class="caption-subject font-dark sbold uppercase"><center><H3>Data Responden</H3></center></span>
		</div>
		
		<div class="portlet-body form">
			<form role="form" class="form-horizontal" id="respondenform" method="post">
             <input type="hidden" name="class" value="Survey_Model_General" />
             <input type="hidden" name="function" value="addresponden" />
               <input type="hidden" name="survey_id" value="<?php

echo $var[5];

?>" />
            <input type="hidden" name="page_id" value="<?php

echo $var[7];

?>" />
            <input type="hidden" name="uid" value="<?php

echo $identity->uid;

?>" />
				<div class="form-body">
					<strong><p align="left">Instruksi:<br>Klik pada pilihan yang sesuai data diri anda</p></strong>
				<?php
					if($identity) {
				?>
					<div class="form-group">
						<label class="col-md-4 control-label">Lokasi Kerja</label>
						<div class="col-md-8">
							<input type="hidden" id="lokasi_kerja" name="lokasi_kerja" value="">
							<select class="form-control required" id="lokasi" name="lokasi_kerja_v" disabled="">
                            <option>-- Pilih Lokasi --</option>
                            <?php

							foreach($loc as $v) {
								$se = "";
								if($data['location_name'] == $v['loc_name']) {
									$se = "selected";
								}
								echo '<option ' . $se . ' value="' . $v['id'] . '">' . $v['loc_name'] . '</option>';
							}

							?>
							</select>
							<span class="help-block"></span>
						</div>
					</div>
				<?php    
					}else{
				?> 
					<div class="form-group">
						<label class="col-md-4 control-label">Lokasi Kerja</label>
						<div class="col-md-8">
							<select class="form-control required" id="lokasi" name="lokasi_kerja">
                            <option>-- Pilih Lokasi --</option>
                            <?php

							foreach($loc as $v) {
								$se = "";
								if($data['location_name'] == $v['loc_name']) {
									$se = "selected";
								}
								echo '<option ' . $se . ' value="' . $v['id'] . '">' . $v['loc_name'] . '</option>';
							}

							?>
							</select>
							<span class="help-block"></span>
						</div>
					</div>
				<?php    
					}
				?>
					
                <?php

					if($identity) {
					
				?>
					<div class="form-group">
						<label class="col-md-4 control-label">Grade</label>
						<div class="col-md-8">
							<input type="hidden" id="grade" name="grade" value="">
							<select class="required form-control" id="grade_v" name="grade_v" disabled="">
								<option>-- Grade--</option>
								<?php    

								foreach($argrade as $k => $v) {
									$sel = "";
									if($grade[$data['grade']] == $k) {
										$sel = " selected ";
									}
									echo "<option " . $sel . " value='" . $k . "'>" . $v . "</option>";
								}
								
								?>
							</select>
							<span class="help-block"></span>
						</div>
					</div>
                <?php
    
					}

				?>
				<?php
					if($identity) {					
				?>
                    <div class="form-group">
						<label class="col-md-4 control-label">Masa Kerja</label>
						<div class="col-md-8">
							<input type="hidden" id="klasifikasi_masa_bakti" name="klasifikasi_masa_bakti" value="">
							<select class="form-control required" id="masakerja" name="klasifikasi_masa_bakti_v" disabled="">
								<option>-- Pilih Masa Kerja --</option>
								<option value="30" <?php

								if((int) $data['masa_bakti'] > 30) {
									echo "selected";
								}

								?>>> 30 tahun</option>
								
								<option value="25" <?php

								if((int) $data['masa_bakti'] >= 26 && (int) $data['masa_bakti'] <= 30) {
									echo "selected";
								}

								?>>26 - 30 tahun</option>
								
								<option value="20" <?php

								if((int) $data['masa_bakti'] >= 21 && (int) $data['masa_bakti'] <= 25) {
									echo "selected";
								}

								?>>21 - 25 tahun</option>
								
								<option value="15" <?php

								if((int) $data['masa_bakti'] >= 16 && (int) $data['masa_bakti'] <= 20) {
									echo "selected";
								}

								?>>16 - 20 tahun</option>
								
								<option value="10" <?php

								if((int) $data['masa_bakti'] >= 11 && (int) $data['masa_bakti'] <= 15) {
									echo "selected";
								}

								?>>11 - 15 tahun</option>
								
								<option value="5" <?php

								if((int) $data['masa_bakti'] >= 5 && (int) $data['masa_bakti'] <= 10) {
									echo "selected";
								}

								?>>5 - 10 tahun</option>
								
								<option value="0" <?php

								if((int) $data['masa_bakti'] < 5) {
									echo "selected";
								}

								?>>< 5 tahun</option>
							</select>
							<span class="help-block"></span>
						</div>
					</div>
				<?php    
					}else{
				?>
					<div class="form-group">
						<label class="col-md-4 control-label">Masa Kerja</label>
						<div class="col-md-8">
							<select class="form-control required" id="masakerja" name="klasifikasi_masa_bakti">
								<option>-- Pilih Masa Kerja --</option>
								<option value="30" <?php

								if((int) $data['masa_bakti'] > 30) {
									echo "selected";
								}

								?>>> 30 tahun</option>
								
								<option value="25" <?php

								if((int) $data['masa_bakti'] >= 26 && (int) $data['masa_bakti'] <= 30) {
									echo "selected";
								}

								?>>26 - 30 tahun</option>
								
								<option value="20" <?php

								if((int) $data['masa_bakti'] >= 21 && (int) $data['masa_bakti'] <= 25) {
									echo "selected";
								}

								?>>21 - 25 tahun</option>
								
								<option value="15" <?php

								if((int) $data['masa_bakti'] >= 16 && (int) $data['masa_bakti'] <= 20) {
									echo "selected";
								}

								?>>16 - 20 tahun</option>
								
								<option value="10" <?php

								if((int) $data['masa_bakti'] >= 11 && (int) $data['masa_bakti'] <= 15) {
									echo "selected";
								}

								?>>11 - 15 tahun</option>
								
								<option value="5" <?php

								if((int) $data['masa_bakti'] >= 5 && (int) $data['masa_bakti'] <= 10) {
									echo "selected";
								}

								?>>5 - 10 tahun</option>
								
								<option value="0" <?php

								if((int) $data['masa_bakti'] < 5) {
									echo "selected";
								}

								?>>< 5 tahun</option>
							</select>
							<span class="help-block"></span>
						</div>
					</div>
				<?php    
					}
				?>
				<?php
					if($identity) {					
				?>
					<div class="form-group">
						<label class="col-md-4 control-label">Usia</label>
						<div class="col-md-8">
							<input type="hidden" id="klasifikasi_umur" name="klasifikasi_umur" value="">
							<select class="required form-control" id="usia" name="klasifikasi_umur_v" disabled="">
								<option>-- Pilih Usia --</option>
								<option value="52" <?php

								if($tahun >= 52) {
									echo "selected";
								}

								?>>52 tahun keatas</option>
								
								<option value="46" <?php

								if($tahun >= 46 && $tahun <= 51) {
									echo "selected";
								}

								?>>46 - 51 tahun</option>
								
								<option value="36" <?php

								if($tahun >= 36 && $tahun <= 45) {
									echo "selected";
								}

								?>>36 - 45 tahun</option>
								
								<option value="28" <?php

								if($tahun >= 28 && $tahun <= 35) {
									echo "selected";
								}

								?>>28 - 35 tahun</option>
								
								<option value="23" <?php

								if($tahun >= 23 && $tahun <= 27) {
									echo "selected";
								}

								?>>23 - 27 tahun</option>
								
								<option value="18" <?php

								if($tahun >= 18 && $tahun <= 23) {
									echo "selected";
								}

								?>>18 - 23 tahun</option>
							</select>
							<span class="help-block"></span>
						</div>
					</div>
				<?php    
					}else{
				?>
					<div class="form-group">
						<label class="col-md-4 control-label">Usia</label>
						<div class="col-md-8">
							<select class="required form-control" id="usia" name="klasifikasi_umur">
								<option>-- Pilih Usia --</option>
								<option value="52" <?php

								if($tahun >= 52) {
									echo "selected";
								}

								?>>52 tahun keatas</option>
								
								<option value="46" <?php

								if($tahun >= 46 && $tahun <= 51) {
									echo "selected";
								}

								?>>46 - 51 tahun</option>
								
								<option value="36" <?php

								if($tahun >= 36 && $tahun <= 45) {
									echo "selected";
								}

								?>>36 - 45 tahun</option>
								
								<option value="28" <?php

								if($tahun >= 28 && $tahun <= 35) {
									echo "selected";
								}

								?>>28 - 35 tahun</option>
								
								<option value="23" <?php

								if($tahun >= 23 && $tahun <= 27) {
									echo "selected";
								}

								?>>23 - 27 tahun</option>
								
								<option value="18" <?php

								if($tahun >= 18 && $tahun <= 23) {
									echo "selected";
								}

								?>>18 - 23 tahun</option>
							</select>
							<span class="help-block"></span>
						</div>
					</div>
				<?php    
					}
				?>
				<?php
					if($identity) {					
				?>
					<div class="form-group">
						<label class="col-md-4 control-label">Jenis Kelamin</label>
						<div class="col-md-8">
							<input type="hidden" id="sex" name="sex" value="<?php echo $data['sex']; ?>">
							<label class="radio-inline"><input <?php

							if($data['sex'] == "M") {
								echo " checked ";
							}

							?> type="radio" name="sex_v" id="optionsRadios1" value="M" disabled="">Laki-laki</label>
							<label class="radio-inline"><input <?php

							if($data['sex'] == "F") {
								echo " checked ";
							}

							?> type="radio" name="sex_v" id="optionsRadios2" value="F" disabled="">Perempuan</label>
							<span class="help-block"></span>
						</div>
					</div>
				<?php    
					}else{
				?>
					<div class="form-group">
						<label class="col-md-4 control-label">Jenis Kelamin</label>
						<div class="col-md-8">
							<label class="radio-inline"><input <?php

							if($data['sex'] == "M") {
								echo " checked ";
							}

							?> type="radio" name="sex" id="optionsRadios1" value="M">Laki-laki</label>
							<label class="radio-inline"><input <?php

							if($data['sex'] == "F") {
								echo " checked ";
							}

							?> type="radio" name="sex" id="optionsRadios2" value="F">Perempuan</label>
							<span class="help-block"></span>
						</div>
					</div>
				<?php    
					}
				?>
					<div class="form-group">
						<label class="col-md-4 control-label">Status Karyawan</label>
                        <?php

						if(!$identity) {
						
						?> 
						<div class="col-md-8">
             
							<select class="form-control required" id="status" name="employment_category">
								<option value="" >-- Pilih Status Karyawan --</option>
								<option value="Alih Daya/KSPT/Pultol">Alih Daya / KSPT / Pultol</option>
								<option value="Outsourcing">Outsourcing</option>
							</select>
							<span class="help-block"></span>
                            
						</div>
                        <?php
    
						} else {
    
						?>
						<div class="col-md-8">
							<input type="hidden" id="employment_category" name="employment_category" value="<?php echo $data['employment_category']; ?>">
							<input class="form-control" type="text" value="<?php echo $data['employment_category']; ?>" name="employment_category_v" disabled="">
							<span class="help-block"></span>
						</div>
                       
						<?php
    
						}

						?> 
					</div>
                    <?php

					if(!$identity) {
					
					?> 
					<div class="form-group">
						<label class="col-md-4 control-label">Perusahaan</label>
                        
          
						<div class="col-md-8">
							<label class="radio-inline"><input type="radio" name="perusahaan" id="optionsRadios3" value="1">PT JLO</label>
							<label class="radio-inline"><input type="radio" name="perusahaan" id="optionsRadios4" value="0">Non PT JLO</label>
							<span class="help-block"></span>
						</div>
                     
					</div>
					<?php
						
					}

					?> 
					<div class="form-group" id="select_cluster" style="display:none">
						<label class="col-md-4 control-label">Cluster</label>
						<div class="col-md-8">
							<select class="form-control" id="cabang" onchange="cabangChange()" name="cluster">
								<option value="">-- Pilih Cluster --</option>
								<?php

								foreach($cabang as $k => $v) {
									echo '<option value="' . $v['cluster'] . '">' . $v['cluster'] . '</option>';
								}

								?>
							</select>
							<span class="help-block"></span>
						</div>
					</div>
					
					<div class="form-group" id="select_gerbang" style="display:none">
						<label class="col-md-4 control-label">Gerbang Tol</label>
						<div class="col-md-8">
							<select class="form-control" id="gerbang" name="gerbang">
								<option value="">-- Pilih Gerbang Tol --</option>
								<?php

								foreach($gerbang as $k => $v) {
									echo '<option value="' . $v['gerbang'] . '">' . $v['gerbang'] . '</option>';
								}

								?>
							</select>
							<span class="help-block"></span>
						</div>
					</div>
					
					<div class="form-group" id="select_petugas" style="display:none">
						<label class="col-md-4 control-label">Petugas</label>
						<div class="col-md-8">
							<label class="radio-inline"><input type="radio" name="petugas" id="optionsRadios5" value="Petugas Keamanan">Keamanan dan ketertiban</label>
							<label class="radio-inline"><input type="radio" name="petugas" id="optionsRadios6" value="Petugas Kebersihan">Kebersihan</label>
							<span class="help-block"></span>
						</div>
					</div>
					
					<div class="form-group">
						<label class="col-md-4 control-label">Pendidikan</label>
						<div class="col-md-8">
							<div class="radio">
								<label><input <?php if($data['pendidikan']==4 ){echo " checked ";}?> class="required" type="radio" name="pendidikan" id="optionsRadios5" value="4">S3/S2</label>
							</div>
							<div class="radio">
								<label><input <?php if($data['pendidikan']==3 ){echo " checked ";}?> class="required" type="radio" name="pendidikan" id="optionsRadios6" value="3">S1/D4</label>
							</div>
							<div class="radio">
								<label><input class="required" type="radio" <?php if($data['pendidikan']==2 ){echo " checked ";}?> name="pendidikan" id="optionsRadios7" value="2">Diploma</label>
							</div>
							<div class="radio">
								<label><input class="required" type="radio" <?php if($data['pendidikan']==1 ){echo " checked ";}?> name="pendidikan" id="optionsRadios8" value="1">SMA/SMK/SMP</label>
							</div>
						</div>
					</div>
					
					
				</div>
				<div class="form-actions">
					<div class="row" align="center">
                        <a href="/survey/z/index/id/1/pid/<?php

						echo $vdat['summary_page'];

						?>" class="btn green">Summary</a>   
                        <button class="btn green" type="button">&lt;&lt; Prev</button>
                        <button class="btn green submitform" type="submit">Next &gt;&gt;</button>
                        
					</div>
				</div>
			</form>
		</div>
		
	</div>
</div>

<script>

jQuery(document).ready(function() {
	
	var lokasi = $("#lokasi").val();
	$("#lokasi_kerja").val(lokasi);
	
	var grade_v = $("#grade_v").val();
	$("#grade").val(grade_v);
	
	var masakerja = $("#masakerja").val();
	$("#klasifikasi_masa_bakti").val(masakerja);
	
	var usia = $("#usia").val();
	$("#klasifikasi_umur").val(usia);
     
	var resetForm = function(){
		$('#select_cluster,#select_gerbang,#select_petugas','form#respondenform')
			.not(':button, :submit, :reset, :hidden')
			.val('');
			
		$('#select_cluster,#select_gerbang,#select_petugas','form#respondenform')
			.removeAttr('checked')
			.removeAttr('selected');
		
		//$('.make-switch').bootstrapSwitch('setState',false);
		
		$('.ms-selectable').find('li').removeClass('ms-selected');
		$('.ms-selection').find('li').removeClass('ms-hover');
		$('.ms-selectable').find('li').removeAttr('style');
		
		$('.ms-selection').find('li').removeClass('ms-selected');
		$('.ms-selection').find('li').removeClass('ms-hover');
		$('.ms-selection').find('li').css({display:'none'});
	}
	
	$("#optionsRadios3").click(function(){
		$("#select_cluster").show();
		$("#select_gerbang").show();
		$("#select_petugas").hide();
		$('input[name="petugas"]').prop('checked', false);
	});
	
	$("#optionsRadios4").click(function(){
		$("#select_petugas").show();
		$("#select_cluster").hide();
		$("#select_gerbang").hide();
		// resetForm();
		// $('#select_cluster')[0].reset();
		// $('#select_gerbang')[0].reset();
		$('#cabang').prop('selectedIndex',0);
		$('#gerbang').prop('selectedIndex',0);
	});
	
});
	
$("#save_button").click(function(){	
	console.log($('form#respondenform').serialize());
	$.ajax({
		url:"/survey/general/addresponden",
		content:'json',
		type:'post',
		data:$('form#respondenform').serialize(),
		beforeSend:function(){
			$('#alertinfo').addClass('hidden');
			$('#processbar').removeClass('hidden');
			$('#alertinfo').removeClass('alert-success');
			$('#alertinfo').removeClass('alert-warning');
			$('#alertinfo').removeClass('alert-danger');
			$('#alertinfo').removeClass('alert-info');
		},
		complete:function(result){
			$('#processbar').addClass('hidden');
		},
		success: function(data){
			//console.log(data);
			if(data.result!=undefined){
				if(data.result==true){
					$('#alertinfo').addClass('alert-success');
					$('#alertmsg').html("<strong>Success!</strong> " + data.retMsg);
					// resetForm();
					// location.reload();					
					setTimeout(function(){location.href="#"},9000);
				}else{
					$('#alertinfo').addClass('alert-warning');
					$('#alertmsg').html("<strong>Failed!</strong> " + data.retMsg);
				}
			}else{
				$('#alertinfo').addClass('alert-info');
				$('#alertmsg').html("<strong>Error!</strong> System is busy, please try again.");
			}
			$('#alertinfo').removeClass('hidden');
		},
		error:function(){
			$('#alertinfo').addClass('alert-info');
			$('#alertmsg').html("<strong>Error!</strong> System is busy, please try again.");
			$('#alertinfo').removeClass('hidden');
		}
	});
});

function cabangChange(){
	var cab = $("#cabang").val();
	// alert("tes");
	// console.log(cab);
	$.ajax({
		url:"/survey/z/callapi/api/173",
		content:'json',
		type:'post',
		data: {cluster:cab},
		beforeSend:function(data){
	
		},
		complete:function(result){
					
		},
		success: function(data){
			var html="";
			 $.each(data.data, function(i, value) {
				html += "<option value='" + value.gerbang + "' >" + value.gerbang + "</option>";
			});
			$('#gerbang').html(html);
		},
		error:function(){
			
		}
	});
}

</script>