<?php
	//die('www');
?>
<style>
div.checker{
    display:none;
}

.custom-combobox {
	position: relative;
	display: inline-block;
	width:100%;
}

.custom-combobox-input {
	height:20px;
	width:100%;
}

.custom-combobox-toggle {
	position: absolute;
	top: 0;
	bottom: 0;
	margin-left: -1px;
	padding: 0;
	/* support: IE7 */
	*height: 1.7em;
	*top: 0.1em;
}
.custom-combobox-input {
	margin: 0;
	padding: 0.3em;
}

span.smallauto{
	font-size:9px;
	font-weight:bold;
}

li.ui-menu-item{
	border-bottom:1px solid grey;
}

.ui-autocomplete {
max-height: 150px;
overflow-y: auto;
/* prevent horizontal scrollbar */
overflow-x: hidden;
}

/* IE 6 doesn't support max-height
* we use height instead, but this forces the menu to always be this tall
*/
* html .ui-autocomplete {
height: 100px;
}

.bold{
font-weight:bold !important;
}

a.lista{
	cursor:pointer;
}
</style>

<div class="page-content">

<!-- BEGIN PAGE HEADER-->
<div class="row" id="headertitle">
	<div class="col-md-12">
		<!-- BEGIN PAGE TITLE & BREADCRUMB-->
		<h3 class="page-title">
		Add <small>Alert Group</small>
		</h3>
		<ul class="page-breadcrumb breadcrumb">
			<li>
				<i class="fa fa-rss"></i>
				<a href="/messaging/managegroups">Messaging</a>
				<i class="fa fa-angle-right"></i>
			</li>
			<li>
				<i class="fa fa-group"></i>
				<a href="/messaging/managegroups">Manage Groups</a>
				<i class="fa fa-angle-right"></i>
			</li>
			<li>
				<i class="fa fa-plus"></i>
				Add Group
			</li>
		</ul>
	</div>
</div>
<!-- END PAGE HEADER-->

<div class="row">
	<div class="col-md-12">
	<!-- BEGIN EXAMPLE TABLE PORTLET-->
	<div class="portlet box grey">
		<div class="portlet-title">
			<div class="caption">
				Alert Group Profile
			</div>
			<div class="actions">
			</div>
		</div>
		<div class="portlet-body">
			<div class="alert alert-success alert-dismissable hidden" id="alertinfo">
				<button type="button" class="close" data-dismiss="alert" aria-hidden="true"></button>
				<span id="alertmsg"><strong>Warning!</strong> Something went wrong. Please check.</span>
			</div>
			
			<div style="margin:0px auto;text-align:center" id="processbar" class="hidden">
				<div class="progress progress-striped active" style="margin:0px auto;text-align:center">
					<div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
						<span class="sr-only">
							On Process
						</span>
					</div>
				</div>
				<span style="margin:0px auto;">Please wait...processing request</span>
				<br><br>
			</div>
			<div class="form-group">
				<form id="formgroupprofile" name="formgroupprofile">
				<div class="row">
					<div class="col-md-6">
						<label>GROUP :</label>
						<input name="filtercheck" type="checkbox" id="filtergroup" value="group" checked="checked">
						<input type="text" class="form-control" maxlength="25" name="gname" id="user" style="display:inline-block;">
						<input type="hidden" class="form-control" maxlength="25" name="gid" id="gid" style="display:inline-block;">
					</div>
				</div>
<?php
$idx = 0;
foreach($this->group['type'] as $k=>$v){
	if($idx%2==0){
?>
				<div class="row">
<?php
	}
?>
					<div class="col-md-6">
						<label><?php echo strtoupper($k);?> :</label>
						<input type="text" class="form-control" id="<?php echo $k;?>" name="<?php echo $k;?>" value="<?php echo $v;?>">
					</div>
<?php
	if($idx%2!=0){
?>
				</div>
<?php
	}
	$idx++;
}
?>
				<br>
				<div class="row">
					<div class="col-md-12">
						<button type="button" onclick="location.href='/messaging/managegroups'" class="btn btn-default">Cancel</button>
						<button type="button" onclick="addGroup()" id="updategroup" class="btn red">Add Alert Profile</button>
					</div>
				</div>
				</form>
			</div>
		</div>
	</div>
	<!-- END EXAMPLE TABLE PORTLET-->
	</div>
</div>

</div>

<script>
var el = jQuery(".page-content").first();

function addGroup(){

$.ajax({
		type: "POST",
		url: '/messaging/ajaxaddgroup',
		data : $('#formgroupprofile').serialize(),
		beforeSend : function(){
			$('#alertinfo').addClass('hidden');
			$('#alertinfo').hide();
			$('#processbar').removeClass('hidden');
			$('#processbar').show();
			App.blockUI(el);
		},
		success: function(data){
			$('#alertmsg').html(data.retmsg);
		},
		complete: function(msg){
			App.unblockUI(el);
			$('#alertinfo').removeClass('hidden');
			$('#alertinfo').show();
			$('#processbar').addClass('hidden');
			$('#processbar').hide();
		},
		error: function(fnc,msg){
			console.log(msg);
			$('#alertmsg').html('Failed to added Group Profile.');
		}
	});

}

jQuery(document).ready(function() {
$('body').addClass('page-header-fixed page-sidebar-fixed page-footer-fixed');
App.init();


$( "#user" ).autocomplete({
  minLength: 2,
  source: function( request, response ) {
          $.getJSON( "/api/getlist", {
            term: request.term,
            user: $('#filteruser').is(':checked'),
            group: $('#filtergroup').is(':checked')
          }, response );
        },
  focus: function( event, ui ) {
	$( "#user" ).val( ui.item.uname );
	return false;
  },
  select: function( event, ui ) {
	console.log(ui.item);
	$( "#user" ).val( ui.item.uname+'|'+ui.item.fullname );
	$( "#gid" ).val( ui.item.id);
	//$( "#user-description" ).html( JSON.stringify(ui.item)).show();
	tempuser = ui.item;
	return false;
  }
}).data( "ui-autocomplete" )._renderItem = function( ul, item ) {
	if (item.ubis==null || item.ubis=="null"){
		var ubis = "";
	}else{
		var ubis = item.ubis;
	}
	
	if (item.sub_ubis==null || item.sub_ubis=="null"){
		var sub_ubis = "";
	}else{
		var sub_ubis = item.sub_ubis;
	}
	
  return $( "<li>" )
	.append( "<a class='lista'>" + item.fullname + " [" + item.uname + "]<br><span class='smallauto'>" + ubis + " [" + sub_ubis + "]</span></a>" )
	.appendTo( ul );
};

});
</script>
