<?php
	//die('www');
?>

<div class="page-content">

<!-- BEGIN PAGE HEADER-->
<div class="row" id="headertitle">
	<div class="col-md-12">
		<!-- BEGIN PAGE TITLE & BREADCRUMB-->
		<h3 class="page-title">
		Detail Alert <small><?php echo $this->alert['id']; ?></small>
		</h3>
		<ul class="page-breadcrumb breadcrumb">
			<li>
				<i class="fa fa-rss"></i>
				<a href="/messaging/manageusers">Messaging</a>
				<i class="fa fa-angle-right"></i>
			</li>
			<li>
				<i class="fa fa-bullhorn"></i>
				<a href="/messaging/managealerts">Manage Alerts</a>
				<i class="fa fa-angle-right"></i>
			</li>
			<li>
				<i class="fa fa-info"></i>
				<a href="/messaging/managealerts">Detail Alert</a>
			</li>
		</ul>
	</div>
</div>
<!-- END PAGE HEADER-->

<div class="row">
	<div class="col-md-12">
<?php
foreach($this->alert as $k=>$v){
?>
		<div class="panel panel-info">
			<!-- Default panel contents -->
			<div class="panel-heading">
				<h3 class="panel-title"><b><?php echo strtoupper($k); ?></b></h3>
			</div>
			<div class="panel-body" style="padding:5px">
<?php
if($k=='target'){
	foreach($v as $k2=>$v2){
		echo "<b>".strtoupper($k2)."</b>"." : <br>".$v2."<br>";
	}
}else{
	echo $v; 
}
?>
			</div>
			<!-- List group -->
			<!--ul class="list-group">
				<!--li class="list-group-item">
					Cras justo odio
					<span class="badge badge-default">
						3
					</span>
				</li>
				<li class="list-group-item">
					Vestibulum at eros
				</li>
			</ul-->
		</div>
<?php
}
?>
	</div>
</div>

</div>

<script>
jQuery(document).ready(function() {
$('body').addClass('page-header-fixed page-sidebar-fixed page-footer-fixed');
App.init();
});
</script>
