<?php
	//die('www');
?>

<div class="page-content">

<!-- BEGIN PAGE HEADER-->
<div class="row" id="headertitle">
	<div class="col-md-12">
		<!-- BEGIN PAGE TITLE & BREADCRUMB-->
		<h3 class="page-title">
		<?php echo $this->group['uname']; ?> <small>Alert User</small>
		</h3>
		<ul class="page-breadcrumb breadcrumb">
			<li>
				<i class="fa fa-rss"></i>
				<a href="/messaging/manageusers">Messaging</a>
				<i class="fa fa-angle-right"></i>
			</li>
			<li>
				<i class="fa fa-group"></i>
				<a href="/messaging/manageusers">Manage Users</a>
				<i class="fa fa-angle-right"></i>
			</li>
			<li>
				<i class="fa fa-edit"></i>
				Edit User
			</li>
		</ul>
	</div>
</div>
<!-- END PAGE HEADER-->

<div class="row">
	<div class="col-md-12">
	<!-- BEGIN EXAMPLE TABLE PORTLET-->
	<div class="portlet box grey">
		<div class="portlet-title">
			<div class="caption">
				Alert User Profile
			</div>
			<div class="actions">
			</div>
		</div>
		<div class="portlet-body">
			<div class="alert alert-success alert-dismissable hidden" id="alertinfo">
				<button type="button" class="close" data-dismiss="alert" aria-hidden="true"></button>
				<span id="alertmsg"><strong>Warning!</strong> Something went wrong. Please check.</span>
			</div>
			
			<div style="margin:0px auto;text-align:center" id="processbar" class="hidden">
				<div class="progress progress-striped active" style="margin:0px auto;text-align:center">
					<div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
						<span class="sr-only">
							On Process
						</span>
					</div>
				</div>
				<span style="margin:0px auto;">Please wait...processing request</span>
				<br><br>
			</div>
			<div class="form-group">
				<form id="formuserprofile" name="formuserprofile">
					<input type="hidden" class="form-control" name="uid" id="uid" value="<?php echo $this->group['uid']; ?>">
					<input type="hidden" class="form-control" name="uname" id="uname" value="<?php echo $this->group['uname']; ?>">
<?php
$idx = 0;
foreach($this->group['type'] as $k=>$v){
	if($idx%2==0){
?>
				<div class="row">
<?php
	}
?>
					<div class="col-md-6">
						<label><?php echo strtoupper($k);?> :</label>
						<input type="text" class="form-control" id="<?php echo $k;?>" name="<?php echo $k;?>" value="<?php echo $v;?>">
					</div>
<?php
	if($idx%2!=0){
?>
				</div>
<?php
	}
	$idx++;
}
?>
				<br>
				<div class="row">
					<div class="col-md-12">
						<button type="button" onclick="location.href='/messaging/manageusers'" class="btn btn-default">Cancel</button>
						<button type="button" onclick="updateUser()" id="updateuser" class="btn red">Update Alert Profile</button>
					</div>
				</div>
				</form>
			</div>
		</div>
	</div>
	<!-- END EXAMPLE TABLE PORTLET-->
	</div>
</div>

</div>

<script>
jQuery(document).ready(function() {
$('body').addClass('page-header-fixed page-sidebar-fixed page-footer-fixed');
App.init();
});
</script>
