<?php
	//die('www');
?>
<style>
.dataTables_filter{
	visibility:hidden;
	display:none;
}

.dataTables_length {
	visibility:hidden;
	display:none;
}
</style>
<div class="page-content">


<!-- BEGIN PAGE HEADER-->
<div class="row">
	<div class="col-md-12">
		<!-- BEGIN PAGE TITLE & BREADCRUMB-->
		<h3 class="page-title">
		Recepient Management <small>manage nonusers target number for broadcast</small>
		</h3>
		<ul class="page-breadcrumb breadcrumb">
			<li>
				<i class="fa fa-anchor"></i>
				<a href="/">PraHu</a>
				<i class="fa fa-angle-right"></i>
			</li>
			<li>
				<i class="fa fa-crosshairs"></i>
				<a href="/">Messaging Hub</a>
				<i class="fa fa-angle-right"></i>
			</li>
			
			<li>
				<i class="fa fa-male"></i>
				Recepient
			</li>
			<!--li class="btn-group pull-right">
				<button type="button" class="btn red">
					<span>
				<?php echo Zend_Auth::getInstance()->getIdentity()->fullname; ?>
					</span>
				</button>
			</li-->
		</ul>
		<!-- END PAGE TITLE & BREADCRUMB-->
	</div>
</div>
<!-- END PAGE HEADER-->
	

<!-- BEGIN PAGE HEADER>
<div class="row">
	<div class="col-md-12">
		< BEGIN PAGE TITLE & BREADCRUMB>
		<h3 class="page-title">
		Users Management <small>for broadcasting alert messages</small>
		</h3>
	</div>
</div>
< END PAGE HEADER-->

<div class="row">
	<div class="col-md-12">
	<!-- BEGIN EXAMPLE TABLE PORTLET-->
	<div class="portlet box grey">
		<div class="portlet-title">
			<div class="caption">
				Recepient
			</div>
			<div class="actions">
				<a href="/messaging/adduser" class="btn green adduser" id="adduser"><i class="fa fa-plus"></i> </a>
				<a href="#" class="btn blue reload"><i class="fa fa-refresh"></i> </a>
				<div class="btn-group">
					<a class="btn default" href="#" data-toggle="dropdown">
					<i class="fa fa-angle-down"></i>
					</a>
					<div id="column_toggler" class="dropdown-menu hold-on-click dropdown-checkboxes pull-right">
						<label><input type="checkbox" checked data-column="1">No</label>
						<label><input type="checkbox" checked data-column="2">User Name</label>
						<label><input type="checkbox" checked data-column="3">Full Name</label>
<?
$idx = 3;
foreach($this->types as $k=>$v){
?>
						<label><input type="checkbox" checked data-column="<?php echo $idx; ?>"><?php echo strtoupper($v); ?></label>
<?
	$idx++;
}
?>
						</div>
				</div>
			</div>
		</div>
		<div class="portlet-body">
				
			<table class="table-scrollable table-striped table-bordered table-hover mytable" id="users_table">
			<thead>
			<tr>
				<th colspan="2">
				
				</th>
				<th>
					 <input type="text" value="" name="uname" class="headfilter" data-col="2"/>
				</th>
				<th>
					 <input type="text" value="" name="fullname" class="headfilter" data-col="3"/>
				</th>
<?
$idx = 4;
foreach($this->types as $k=>$v){
?>
				<th>
					 <input type="text" value="" name="<?php echo $v; ?>" class="headfilter" data-col="<?php echo $idx; ?>"/>
				</th>
<?
	$idx++;
}
?>
			</tr>
			<tr>
				<th>
				
				</th>
				<th>
					 No
				</th>
				<th>
					 User Name
				</th>
				<th>
					 Full Name
				</th>
<?
$idx = 4;
foreach($this->types as $k=>$v){
?>
				<th>
					 <?php echo strtoupper($v); ?>
				</th>
<?
	$idx++;
}
?>
			</tr>
			</thead>
			<tbody>
			</tbody>
			</table>
		</div>
	</div>
	<!-- END EXAMPLE TABLE PORTLET-->
	</div>
</div>

</div>

<script>
jQuery(document).ready(function() {
$('body').addClass('page-header-fixed page-sidebar-fixed page-footer-fixed');
App.init();
tableAjax1.init();
});
</script>
