<style>
.custom-combobox {
	position: relative;
	display: inline-block;
	width:100%;
}

.custom-combobox-input {
	height:20px;
	width:100%;
}

.custom-combobox-toggle {
	position: absolute;
	top: 0;
	bottom: 0;
	margin-left: -1px;
	padding: 0;
	/* support: IE7 */
	*height: 1.7em;
	*top: 0.1em;
}
.custom-combobox-input {
	margin: 0;
	padding: 0.3em;
}

span.smallauto{
	font-size:9px;
	font-weight:bold;
}

li.ui-menu-item{
	border-bottom:1px solid grey;
}

.ui-autocomplete {
max-height: 150px;
overflow-y: auto;
/* prevent horizontal scrollbar */
overflow-x: hidden;
}

/* IE 6 doesn't support max-height
* we use height instead, but this forces the menu to always be this tall
*/
* html .ui-autocomplete {
height: 100px;
}

.bold{
font-weight:bold !important;
}

a.lista{
	cursor:pointer;
}
</style>
<?php
	//die('www');
?>
<div class="page-content">

<!-- BEGIN PAGE HEADER-->
<div class="row">
	<div class="col-md-12">
		<!-- BEGIN PAGE TITLE & BREADCRUMB-->
		<h3 class="page-title">
		Alert Management <small>Schedulling message to users or groups using any messaging platform</small>
		</h3>
		<ul class="page-breadcrumb breadcrumb">
			<li>
				<i class="fa fa-anchor"></i>
				<a href="/">PraHu</a>
				<i class="fa fa-angle-right"></i>
			</li>
			<li>
				<i class="fa fa-crosshairs"></i>
				<a href="/">Messaging Hub</a>
				<i class="fa fa-angle-right"></i>
			</li>
			
			<li>
				<i class="fa fa-volume-up"></i>
				Alert
			</li>
			<!--li class="btn-group pull-right">
				<button type="button" class="btn red">
					<span>
				<?php echo Zend_Auth::getInstance()->getIdentity()->fullname; ?>
					</span>
				</button>
			</li-->
		</ul>
		<!-- END PAGE TITLE & BREADCRUMB-->
	</div>
</div>
<!-- END PAGE HEADER-->
	
<!-- BEGIN PAGE HEADER>
<div class="row">
	<div class="col-md-12">
		<h3 class="page-title">
		Alert Management <small>Manage message broadcast time schedulling</small>
		</h3>
	</div>
</div>
< END PAGE HEADER-->

<!-- BEGIN PAGE CONTENT-->
<form role="form" method="post">

<div class="row">
	<div class="col-md-6">
	</div>
</div>

<div class="row">
	<div class="col-md-7">
		<input name="filtercheck" type="checkbox" id="filteruser" value="user"> User
		<input name="filtercheck" type="checkbox" id="filtergroup" value="group"> Group
		<div id="user-label">Please type User or Group keyword (id, name, etc) to add</div>
		<input type="text" class="form-control" maxlength="25" name="defaultconfig" id="user" style="width:65%;display:inline-block;">
		<button type="button" class="btn btn-success" onclick="adduser()"><i class="fa fa-plus"></i> Add</button>
		<span class="help-block" id="user-description">
		</span><br><br>
		<label>Selected User or Group for broadcast</label>
		<div class="form-group" style="vertical-align:top">
			<select id="selecteduser" name="selecteduser[]" multiple="" class="form-control" style="width:65%;display:inline-block;height: 140px;">
			</select>
			<div style="display:inline-block;vertical-align:top">
				<button type="button" class="btn btn-danger" onclick="removeuser()" style="vertical-align:top"><i class="fa fa-times"></i> Remove</button>
			</div>
		</div>
	</div>
	<div class="col-md-4" id="user-desc">
	</div>
</div>
<br>
<hr>
<div class="row">
	<div class="col-md-4">
		<span style="margin-right:10px;font-weight:bold">Send to:</span><br>
		<input name="sendto[]" type="checkbox" id="filterwa" value="wa" checked> WhatsApp
		<input name="sendto[]" type="checkbox" id="filtertelegram" value="telegram" checked> Telegram
		<input name="sendto[]" type="checkbox" id="filteremail" value="email" checked> Email
		<input name="sendto[]" type="checkbox" id="filtergtalk" value="gtalk" checked> GTalk
	</div>
	<div class="col-md-4">
		<span style="margin-right:10px;font-weight:bold">Every:</span><br>
		<input type="checkbox" id="filtermonthy" name="sch[]" value="monthly">Monthly
		<input type="checkbox" id="filterweekly" name="sch[]" value="weekly">Weekly
		<input type="checkbox" id="filterdaily" name="sch[]" value="daily">Daily
		<input type="checkbox" id="filterhourly" name="sch[]" value="hourly">Hourly
	</div>
	<div class="col-md-4" style="padding-left: 0px;">
		<span style="margin-right:10px;font-weight:bold;margin-left: 15px;">Range:</span><br>
		<div class="form-group">
			<div class="input-group input-large date-timepicker input-daterange" data-date="<?php echo $fromx; ?>" data-date-format="Y/m/d H:i" style="margin-left:15px;">
				<input type="text" class="form-control input-sm date date-picker" name="tgl1" id="tgl1" data-date-format="yyyy/mm/dd H:i">
				<span class="input-group-addon">
					s/d
				</span>								
				<input type="text" class="form-control input-sm date date-picker" name="tgl2" id="tgl2" 
					value="<?php echo (!isset($_POST['tgl2'])) ? $today : $_POST['tgl2'];?>" 
					data-date-format="yyyy/mm/dd">
			</div>
		</div>
	</div>
</div>
<br>
<!--div class="row">
	<div class="col-md-2">
			<span style="margin-right:10px;font-weight:bold">Time:</span>
			<div class="form-group" style="max-width:130px;">
					<div class="input-group bootstrap-timepicker">
						<input type="text" class="form-control timepicker-24" id="tp" name="waktu">
						<span class="input-group-btn">
							<button class="btn default" type="button"><i class="fa fa-clock-o"></i></button>
						</span>
					</div>
			</div>
	</div>
</div>
<br-->
<div class="row">
	<div class="col-md-12">
		<span style="margin-right:40px;font-weight:bold">Text messages:</span>
		<br>
		<textarea style="width:100%;height:150px;display:inline-block;" id="sendtxt" name="sendtxt"></textarea>
	</div>
</div>
<br>
<div class="row">
		<div class="col-md-12"style="padding-top: 15px;padding-left: 15px;">
			<span class="help-block"></span>
			<button class="btn btn-success" onclick="sendmsg()"><i class="fa fa-share-square-o"></i> Submit</button>
			<!--button type="submit" class="btn green btn-block">SUBMIT</button-->
				
		</div>
</div>
<!-- END PAGE CONTENT-->
</form>
</div>

<script>
Object.size = function(obj) {
    var size = 0, key;
    for (key in obj) {
        if (obj.hasOwnProperty(key)) size++;
    }
    return size;
};

var selecteduser = {};
var tempuser = {};
var el = jQuery(".page-content").first();

function userclick(me){
	$.each($('#selecteduser').children(),function(key,val){
		$(val).removeAttr('selected');
	});
	$(me).attr('selected','selected');
	
	var item = selecteduser[$(me).val()];
	var html = '';
	if(item.type=='user'){
		html = '<h3>User Detail</h3><table><tr><td>Username</td><td> : </td><td>'+item.uname+'</td></tr><tr><td>Full Name</td><td> : </td><td>'+item.fullname+'</td></tr><tr><td>Unit Business</td><td> : </td><td>'+item.ubis+'</td></tr><tr><td>Sub Unit Business</td><td> : </td><td>'+item.sub_ubis+'</td></tr></table>';
		//console.log(Object.size(item.attr));
		if(Object.size(item.attr)>0){
			html += '<hr><table>';
			$.each(item.attr, function(idx,valx){
				html += '<tr><td>'+idx+'</td><td> : </td><td>'+valx+'</td></tr>';
			});
			html += '</table>';
		}
	}else if(item.type=='group'){
		html = '<h3>Group Detail</h3><table><tr><td>Group Name</td><td> : </td><td>'+item.fullname+'</td></tr></table>';
		if(Object.size(item.attr)>0){
			html += '<hr><table>';
			$.each(item.attr, function(idx,valx){
				html += '<tr><td>'+idx+'</td><td> : </td><td>'+valx+'</td></tr>';
			});
			html += '</table>';
		}
		//console.log(item.attr);
	}
	$('#user-desc').html(html);
}

function adduser(){
	if(Object.size(tempuser)>0){
		var templbl = "";
		var temptype = "";
		if(tempuser.uname==tempuser.fullname && tempuser.ubis=='Group' && tempuser.sub_ubis=='User Group'){
			templbl = tempuser.fullname+' - Group';
			temptype = "group";
		}else{
			templbl = tempuser.fullname+' ['+tempuser.uname+'] - User';
			temptype = "user";
		}
	
		tempuser.type = temptype;

		if(selecteduser[temptype+'_'+tempuser.id]==undefined){
			selecteduser[temptype+'_'+tempuser.id] = tempuser;
			//console.log(selecteduser);
			$('#selecteduser').append('<option id="'+temptype+'_'+tempuser.id+'" value="'+temptype+'_'+tempuser.id+'" onclick="userclick(this)" selected>'+templbl+'</option>');
		}else{
			alert("The User or group has been selected.");
		}
	}else{
		alert("Please choose the user or group.");
	}
}

function removeuser(){
	var tempsel = $('#selecteduser').val();
	if(Object.size(tempsel)>0 && tempsel!=null){
		console.log(tempsel);
		$('#'+tempsel[0]).remove();
		delete selecteduser[tempsel[0]];
		$('#user-desc').html("");
		//console.log(selecteduser);
	}else{
		alert("Please choose the user or group.");
	}
}

jQuery(document).ready(function() {
$('body').addClass('page-header-fixed page-sidebar-fixed page-footer-fixed');
App.init();


$('body').find('#tgl1').datetimepicker({
		isRTL: App.isRTL(),
		format: "yyyy-mm-dd hh:ii",
		autoclose: true,
		todayBtn: true,
		//startDate: "2013-02-14 10:00",
		pickerPosition: (App.isRTL() ? "top-left" : "top-right"),
		minuteStep: 5
	});

$('body').find('#tgl2').datetimepicker({
		isRTL: App.isRTL(),
		format: "yyyy-mm-dd hh:ii",
		autoclose: true,
		todayBtn: true,
		//startDate: "2013-02-14 10:00",
		pickerPosition: (App.isRTL() ? "to-left" : "top-right"),
		minuteStep: 5
	});
$('body').find('#tp').timepicker({
		isRTL: App.isRTL(),
		format: "hh:ii",
		autoclose: true,
		todayBtn: true,
		//startDate: "2013-02-14 10:00",
		pickerPosition: (App.isRTL() ? "to-left" : "top-right"),
		minuteStep: 5
	});


$('span.help-block').hide();

$( "#user" ).autocomplete({
  minLength: 2,
  source: function( request, response ) {
          $.getJSON( "/api/getlist2", {
            term: request.term,
            user: $('#filteruser').is(':checked'),
            group: $('#filtergroup').is(':checked')
          }, response );
        },
  focus: function( event, ui ) {
	$( "#user" ).val( ui.item.uname );
	return false;
  },
  select: function( event, ui ) {
	$( "#user" ).val( ui.item.uname );
	//$( "#user-description" ).html( JSON.stringify(ui.item)).show();
	tempuser = ui.item;
	return false;
  }
}).data( "ui-autocomplete" )._renderItem = function( ul, item ) {
	if (item.ubis==null || item.ubis=="null"){
		var ubis = "";
	}else{
		var ubis = item.ubis;
	}
	
	if (item.sub_ubis==null || item.sub_ubis=="null"){
		var sub_ubis = "";
	}else{
		var sub_ubis = item.sub_ubis;
	}
	
  return $( "<li>" )
	.append( "<a class='lista'>" + item.fullname + " [" + item.uname + "]<br><span class='smallauto'>" + ubis + " [" + sub_ubis + "]</span></a>" )
	.appendTo( ul );
};

});
</script>
