<style>
	.m-body .m-content{
		padding:0;
	}
</style>
<div class="m-grid__item m-grid__item--fluid m-wrapper">
	<div class="m-content">
		<iframe src="<?php echo $this->iframeUrl; ?>" style="width: 100%; height: 550px;" frameborder="0" scrolling="auto" seamless="seamless" allowfullscreen="true"></iframe>
	</div>
</div>