<?php
	$params=array();
	foreach($this->params as $v) 
	{
		$params[$v['value_param']] = $v['display_param'];	
		
	}
	$conns=array();
	foreach($this->conns as $v) 
	{
		$conns[$v['conn_name']] = $v['conn_name'];	
		
	}

$vapi = explode(',',$this->data['content_attrs']['api_id']);
//Zend_Debug::dump(unserialize($this->data['content_attrs']['data']));die();
?>
<div class="page-content">

<!-- BEGIN PAGE HEADER-->
<div class="row">
	<div class="col-md-12">
		<!-- BEGIN PAGE TITLE & BREADCRUMB-->
		<h3 class="page-title">
		Graph Builder<small>PrabaCore</small>
		</h3>
		<ul class="page-breadcrumb breadcrumb">
			<li>
				<i class="fa fa-rss"></i>
				<a href="/">PrabaCore</a>
				<i class="fa fa-angle-right"></i>
			</li>
			<li>
				<i class="fa fa-cogs"></i>
				<a href="/">Prabaeditor</a>
				<i class="fa fa-angle-right"></i>
			</li>
			
			<li>
				<i class="fa fa-user"></i>
				Graph Builder
			</li>
			<!--li class="btn-group pull-right">
				<button type="button" class="btn red">
					<span>
				<?php echo Zend_Auth::getInstance()->getIdentity()->fullname; ?>
					</span>
				</button>
			</li-->
		</ul>
		<!-- END PAGE TITLE & BREADCRUMB-->
	</div>
</div>
<!-- END PAGE HEADER-->

<div class="row">
	<div class="col-md-12">
	<!-- BEGIN EXAMPLE TABLE PORTLET-->
	<div class="portlet box grey" style="margin:0px">
		<div class="portlet-title">
			<div class="caption">
				Graphic Builder
			</div>
			 <div class="actions">
				 <!--a href="#" class="btn reload" data-dismiss="modal"><i class="fa fa-times"></i></a-->
			 </div>
			<div class="tools">
			</div>
		</div>
		<div class="portlet-body" style="padding:15px">
						
		<div class="tabbable tabs-left">
								
									<form action="" id="addapi" method="post" class="form-horizontal form-bordered">
											<input type="hidden" name="pid" value="<?php echo $this->varams['id'];?>" />
									<input type="hidden" name="idtime" value="<?php echo mktime(); ?>" />	
										
									<div class="form-body">
									
								<ul class="nav nav-tabs">
									<li class="active">
										<a href="#set1" data-toggle="tab">Settings</a>
									</li>
									<li >
										<a href="#setapi" data-toggle="tab">Data</a>
									</li>
									<li class="">
										<a href="#set2" data-toggle="tab">Appereance</a>
									</li>
									<li class="">
										<a href="#set3" data-toggle="tab">Miscellaneous</a>
									</li>	
									<li>
										<a href="#set4" data-toggle="tab">Number Formatting</a>
									</li>
									<li class="">
										<a href="#set5" data-toggle="tab">Legend</a>
									</li>
									<li class="">
										<a href="#set6" data-toggle="tab">Baloon</a>
									</li>
									<li class="">
										<a href="#set7" data-toggle="tab">Category Axis</a>
									</li>
								</ul>
								<div class="tab-content">
									<div class="tab-pane active" id="set1">
										<div class="form-group">
										<label class="col-md-3 control-label">Chart Type</label>
										<div class="col-md-9">
											
											
											<select name="ctype" class="form-control">
												
												<?php 
												foreach ($this->chartType as $k=> $v) {
												echo 	'<optgroup  label="'.$k.'">';
													foreach ($v as $vv) {
															echo "<option '".$vv."'>".$vv."</option>";
													}
												echo "</optgroup>";
												}
												?>
												
												
												
												
											</select>
										</div>
										</div>
										
										<div class="form-group">
										<label class="col-md-3 control-label">Themes</label>
										<div class="col-md-9">
											<select name="theme" class="form-control">
												<?php 
												foreach ($this->chartTheme as $v) {
													echo "<option '".$v."'>".$v."</option>";	
												}
												?>
												
											</select>
										</div>
										</div>
										
										
										<div class="form-group">
										<label class="col-md-3 control-label">Rotates</label>
										<div class="col-md-9">
											<div class="checkbox-list">
												<label>
												<input name=rotate value=1 type="checkbox"> </label>
											
											</div>
										</div>
										</div>
										
										<div class="form-group">
										<label class="col-md-3 control-label">Date Format</label>
										<div class="col-md-9">
											<input type="text" name="dformat" class="form-control" placeholder="Enter text">
											<span class="help-block">
											</span>
										</div>
										</div>
									
										
										
									</div>
									<div class="tab-pane fade" id="set2">
										<div class="form-group">
										<label class="col-md-3 control-label">Colors</label>
										<div class="col-md-9">
											<input name="colors"  value="#FF6600,#FCD202,#B0DE09,#0D8ECF,#2A0CD0,#CD0D74,#CC0000,#00CC00,#0000CC,#DDDDDD,#999999,#333333,#990000" type="text" class="form-control" placeholder="Enter text">
											<span class="help-block">
											</span>
										</div>
										</div>
										<div class="form-group">
										<label class="col-md-3 control-label col-md-3">Default</label>
										<div class="col-md-9">
											<input type="text" class="colorpicker-default form-control" value="#8fff00"/>
										</div>
										</div>
										
										
										<div class="form-group">
										<label class="control-label col-md-3">Font-size</label>

										<div id="spinner3" class="col-md-9">
										<div class="input-group input-small">
										<input type="text" name="fsize" class="spinner-input form-control" maxlength="3" readonly>
										<div class="spinner-buttons input-group-btn btn-group-vertical">
										<button type="button" class="btn spinner-up btn-xs blue">
										<i class="fa fa-angle-up"></i>
										</button>
										<button type="button" class="btn spinner-down btn-xs blue">
										<i class="fa fa-angle-down"></i>
										</button>
										</div>

										</div>

										</div>

										<span class="help-block">

										</span>


										</div>
											
											<div class="form-group">
											<label class="col-md-3 control-label">Hand Drawn</label>
											<div class="col-md-9">
											<div class="checkbox-list">
												<label>
												<input name=hdr value=1 type="checkbox"> </label>

											</div>
											</div>
											</div>
											
										<div class="form-group">
										<label class="control-label col-md-3">Hand Drawn Scatter</label>

										<div id="spinner4" class="col-md-9">
										<div class="input-group input-small">
										<input type="text" name="hdrscatter" class="spinner-input form-control" maxlength="3" readonly>
										<div class="spinner-buttons input-group-btn btn-group-vertical">
										<button type="button" class="btn spinner-up btn-xs blue">
										<i class="fa fa-angle-up"></i>
										</button>
										<button type="button" class="btn spinner-down btn-xs blue">
										<i class="fa fa-angle-down"></i>
										</button>
										</div>

										</div>

										</div>

										<span class="help-block">

										</span>


										</div>
											
										<div class="form-group">
										<label class="control-label col-md-3">Hand draw thickness</label>

										<div id="spinner5" class="col-md-9">
										<div class="input-group input-small">
										<input type="text" name="hdrthick" class="spinner-input form-control" maxlength="3" readonly>
										<div class="spinner-buttons input-group-btn btn-group-vertical">
										<button type="button" class="btn spinner-up btn-xs blue">
										<i class="fa fa-angle-up"></i>
										</button>
										<button type="button" class="btn spinner-down btn-xs blue">
										<i class="fa fa-angle-down"></i>
										</button>
										</div>

										</div>

										</div>

										<span class="help-block">

										</span>


										</div>

											
									</div><!--end tab1-->
									<div class="tab-pane fade" id="set3">
									
										<div class="form-group">
										<label class="col-md-3 control-label">Baloon Date Format</label>
										<div class="col-md-9">
											<input name="bdateformat"  value="MMM DD, YYYY" placeholder="">
											<span class="help-block">
											</span>
										</div>
										</div>
										<div class="form-group">
										<label class="col-md-3 control-label">Grid above graphs</label>
										<div class="col-md-9">
										<div class="checkbox-list">
											<label>
											<input name=gridgraph value=1 type="checkbox"> </label>

										</div>
										</div>
										</div>
										
										<div class="form-group">
										<label class="col-md-3 control-label">Url Target</label>
										<div class="col-md-9">
											<input name="colors"  value="_self" placeholder="">
											<span class="help-block">
											</span>
										</div>
										</div>
										
										
										<div class="form-group">
										<label class="col-md-3 control-label">Credits position</label>
										<div class="col-md-9">
											<select name="crposition" class="form-control">
												<option value="topleft">top-left</option>
												<option value="topleft">top-right</option>
												<option value="topleft">bottom-left</option>
												<option value="topleft">bottom-right</option>	
												
											</select>
										</div>
										</div>
										
										<div class="form-group">
										<label class="control-label col-md-3">Hide balloon after</label>
										<div id="spinner6" class="col-md-9">
										<div class="input-group input-small">
										<input type="text" name="hidebaloon" class="spinner-input form-control" maxlength="3" readonly>
										<div class="spinner-buttons input-group-btn btn-group-vertical">
										<button type="button" class="btn spinner-up btn-xs blue">
										<i class="fa fa-angle-up"></i>
										</button>
										<button type="button" class="btn spinner-down btn-xs blue">
										<i class="fa fa-angle-down"></i>
										</button>
										</div></div></div>
										<span class="help-block"></span></div>
										
										<div class="form-group">
										<label class="col-md-3 control-label">Pan events enabled</label>
										<div class="col-md-9">
										<div class="checkbox-list">
											<label>
											<input name=panevent value=1 type="checkbox"> </label>

										</div>
										</div>
										</div>
										<div class="form-group">
										<label class="control-label col-md-3">Column spacing</label>

										<div id="spinner7" class="col-md-9">
										<div class="input-group input-small">
										<input type="text" name="colspacing" class="spinner-input form-control" maxlength="3" readonly>
										<div class="spinner-buttons input-group-btn btn-group-vertical">
										<button type="button" class="btn spinner-up btn-xs blue">
										<i class="fa fa-angle-up"></i>
										</button>
										<button type="button" class="btn spinner-down btn-xs blue">
										<i class="fa fa-angle-down"></i>
										</button>
										</div>

										</div>

										</div>

										<span class="help-block">

										</span>


										</div>
									
										<div class="form-group">
										<label class="control-label col-md-3">Column spacing 3d</label>

										<div id="spinner8" class="col-md-9">
										<div class="input-group input-small">
										<input type="text" name="colspacing3d" class="spinner-input form-control" maxlength="3" readonly>
										<div class="spinner-buttons input-group-btn btn-group-vertical">
										<button type="button" class="btn spinner-up btn-xs blue">
										<i class="fa fa-angle-up"></i>
										</button>
										<button type="button" class="btn spinner-down btn-xs blue">
										<i class="fa fa-angle-down"></i>
										</button>
										</div>

										</div>

										</div>

										<span class="help-block">

										</span>


										</div>
									
										
										
										<div class="form-group">
										<label class="col-md-3 control-label">Maximum</label>
										<div class="col-md-4">
											
											<div id="slider-range-max" class="slider bg-purple">
											</div>
											<input type="hidden" id="cwidth" name="cwidth" value="20" />
											<div class="slider-value">
												 Maximum Value:
												<span id="slider-range-max-amount">
												</span>
											</div>
										</div>
									</div>
										
									</div>
									<div class="tab-pane fade" id="set4">
										<div class="form-group">
										<label class="col-md-3 control-label">Decimal separator</label>
										<div class="col-md-9">
											<input name="dseparator"  value="." placeholder="">
											<span class="help-block">
											</span>
										</div>
										</div>
										<div class="form-group">
										<label class="control-label col-md-3">Percent precision</label>
										<div id="percentprec" class="col-md-9">
										<div class="input-group input-small">
										<input type="text" name="percentprec" class="spinner-input form-control" maxlength="3" readonly>
										<div class="spinner-buttons input-group-btn btn-group-vertical">
										<button type="button" class="btn spinner-up btn-xs blue">
										<i class="fa fa-angle-up"></i>
										</button>
										<button type="button" class="btn spinner-down btn-xs blue">
										<i class="fa fa-angle-down"></i>
										</button>
										</div></div></div>
										<span class="help-block"></span></div>
										<div class="form-group">
										<label class="control-label col-md-3">Precision</label>
										<div id="precision" class="col-md-9">
										<div class="input-group input-small">
										<input type="text" name="percentprec" class="spinner-input form-control" maxlength="3" readonly>
										<div class="spinner-buttons input-group-btn btn-group-vertical">
										<button type="button" class="btn spinner-up btn-xs blue">
										<i class="fa fa-angle-up"></i>
										</button>
										<button type="button" class="btn spinner-down btn-xs blue">
										<i class="fa fa-angle-down"></i>
										</button>
										</div></div></div>
										<span class="help-block"></span></div>
										<div class="form-group">
											<label class="col-md-3 control-label">Prefixes of big numbers</label>
											<div class="col-md-9">
												<textarea class="form-control" name="prefbignum" rows="3">{"number":1000,"prefix":"k"},{"number":1000000,"prefix":"M"},{"number":1000000000,"prefix":"G"},{"number":1000000000000,"prefix":"T"},{"number":1000000000000000,"prefix":"P"},{"number":1000000000000000000,"prefix":"E"},{"number":1e+21,"prefix":"Z"},{"number":1e+24,"prefix":"Y"}</textarea>
											</div>
										</div>
										<div class="form-group">
											<label class="col-md-3 control-label">Prefixes of small numbers</label>
											<div class="col-md-9">
												<textarea class="form-control" rows="3" name="prefsmall">"number":1e-24,"prefix":"y"},{"number":1e-21,"prefix":"z"},{"number":1e-18,"prefix":"a"},{"number":1e-15,"prefix":"f"},{"number":1e-12,"prefix":"p"},{"number":1e-9,"prefix":"n"},{"number":0.000001,"prefix":"μ"},{"number":0.001,"prefix":"m"}</textarea>
											</div>
											<div class="form-group">
											<label class="col-md-3 control-label">Use prefixes</label>
											<div class="col-md-9">
											<div class="checkbox-list">
												<label>
												<input name=prefixes value=1 type="checkbox"> </label>

											</div>
											</div>
											</div>
												
										</div>
										<div class="form-group">
										<label class="col-md-3 control-label">Thousand separator</label>
										<div class="col-md-9">
											<input name="dseparator"  value="," placeholder="">
											<span class="help-block">
											</span>
										</div>
										</div>
									</div>
									<div class="tab-pane fade" id="setapi">
										<div class="form-group">
										<label class="col-md-3 control-label">Get Api</label>
										<div class="col-md-9">
											
											
										<select  name="get_api[]" id="get_api" multiple class="form-control" placeholder="Get Api">
										<?php  foreach($this->apis as $k=>$v){
										$vapi=array(28);	
										echo "<optgroup label='".$k."'>";	
										foreach($v as $v2) 
										{
											$sel="";
											if(in_array($v2['id'], $vapi)){$sel="selected";}	
											echo "<option $sel value='".$v2['id']."'>".$v2['id']."-".$v2['text']."</option>";	
										}
										
										echo "</optgroup>";
											
										} ?>
										</select>
											</div>
												<div class="form-group">
						<label ></label>
					</div>
					
					<?php for($i=0;$i<=count($this->data['content_attrs']['field']);$i++) { ?>
					<div class="form-group  breadcrump" id="breadcrump1" data-id="1">
							<div class="col-md-10">
								<div class="col-md-4">
								<input class="form-control input-sm" name="key[<?php echo $i; ?>]" value="<?php echo $this->data['content_attrs']['field'][$i]['key']; ?>" placeholder="Key">
							
								</div>
								
								<div class="col-md-4">
								<input class="form-control input-sm" name="varx[<?php echo $i; ?>]" value="<?php echo $this->data['content_attrs']['field'][$i]['name']; ?>" placeholder="ColumnName">
								</div>
								<div class="col-md-4">
								<input class="form-control input-sm" name="api[<?php echo $i; ?>]" value="<?php echo $this->data['content_attrs']['field'][$i]['api']; ?>" placeholder="Api Id">
								</div>
							</div>
							<div class="col-md-2">
								<button type="button" class="btn grey addGC" onclick="addGC(this); return false;" data-act="addGC" data-id="1" style="padding: 5px;">Add</button>
							</div>
					</div>
					<?php } ?>
											
											
										</div>	
									</div>
								</div>
								</div>
							
							
								
							</div>
							
								<div class="col-md-9"></div><div class="col-md-3"><a class="btn default" id="xsaub" href="/prabajax/graphplus/id/<?php echo mktime(); ?>" target="graf">View Graphic</a><button type="submit" class="btn green">Submit</button></div>
								</form>
									


					
								
		</div>
	</div>
					<iframe  name="graf" height="200px" width=100% frameborder=0  ></iframe>				
								
	<!-- END EXAMPLE TABLE PORTLET-->
	</div>
</div>

</div>




<script>
var gamasidx2=<?php echo count($this->data['content_attrs']['field']); ?>;
var elem=1;


function addEl(me){
	var id = $(me).data('id');
	var currow = $('body').find('.element:last');

<?php
echo 'var str = \'<div class="form-group row element" id="element\'+(parseInt(elem)+1)+\'" data-id="\'+(parseInt(gamasidx2)+1)+\'" >\'
							
						+\'<div class="col-md-10">\'
								+\'<div class="col-md-4">\'
									+\'<input type="hidden" class="select2_sample6 form-control select2" name="col1[]" placeholder="Col1">\'
									+\'<br>\'
									+\'<input class="form-control input-sm" name="col4[]" placeholder="Col4">\'
								+\'</div>\'
								+\'<div class="col-md-4">\'
									+\'<input class="form-control input-sm" name="col2[]" placeholder="Col2">\'
									+\'<br>\'
									+\'<input class="form-control input-sm" name="col5[]" placeholder="Col5">\'
								+\'</div>\'
								+\'<div class="col-md-4">\'
									+\'<input class="form-control input-sm" name="col3[]" placeholder="Col3">\'
									+\'<br>\'
									+\'<input class="form-control input-sm" name="col6[]" placeholder="Col6">\'
								+\'</div>\'
							+\'</div>\'
							
					+\'<div class="col-md-2">\'
						+\'<button type="button" class="btn red removeEl" onclick="removeEl(this); return false;" data-act="removeEl" data-id="\'+(parseInt(elem)+1)+\'" style="padding: 5px;">Remove</button>\'
					+\'</div>\'
				+\'</div>\';';
?>
	elem++;
	//console.log(str);
	currow.after(str);
}


function addGC(me){
	var id = $(me).data('id');
	var currow = $('body').find('.breadcrump:last');

<?php
echo 'var str = \'<div class="form-group row breadcrump" id="breadcrump\'+(parseInt(gamasidx2)+1)+\'" data-id="\'+(parseInt(gamasidx2)+1)+\'" >\'
					+\'<div class="col-md-10">\'
								+\'<div class="col-md-4">\'
								+\'<input class="form-control input-sm" name="key[\'+parseInt(gamasidx2)+\']" placeholder="Key">\'
								+\'</div>\'
								+\'<div class="col-md-4">\'
								+\'<input class="form-control input-sm" name="varx[\'+parseInt(gamasidx2)+\']" placeholder="ColumnName">\'
								+\'</div>\'
								+\'<div class="col-md-4">\'
								+\'<input class="form-control input-sm" name="api[\'+parseInt(gamasidx2)+\']" placeholder="Api Id">\'
								+\'</div>\'										
					+\'</div>\'
					+\'<div class="col-md-2">\'
					+\'<button type="button" class="btn red removeGC" onclick="removeGC(this); return false;" data-act="removeGC" data-id="\'+(parseInt(gamasidx2)+1)+\'" style="padding: 5px;">Remove</button>\'
					+\'</div>\'
				+\'</div>\';';
?>
	gamasidx2++;
	//console.log(str);
	currow.after(str);
	
	 $(".select2_sample6").select2();
}


function removeGC(me){
	var id = $(me).data('id');
	//console.log(id);
	$('body').find('#breadcrump'+id+':first').remove();
}

function removeEl(me){
	var id = $(me).data('id');
	//console.log(id);
	$('body').find('#element'+id+':first').remove();
}

jQuery(document).ready(function() {
$('body').addClass('page-header-fixed page-sidebar-fixed page-footer-fixed');

$('.colorpicker-default').colorpicker({
	format: 'hex'
});
$("#slider-range-max").slider({
                isRTL: App.isRTL(),
                range: "max",
                min: 1,
                max: 100,
                value: 20,
                slide: function (event, ui) {
					
					$( "#cwidth" ).val(ui.value);
                    $("#slider-range-max-amount").text(ui.value);
                }
            });
$('#spinner3').spinner({value:11, min: 5, max: 30});
$('#spinner5').spinner({value:2, min: 0, max: 30});
$('#spinner4').spinner({value:2, min: 0, max: 30});
$('#spinner6').spinner({value:150, min: 0, max: 300});
$('#spinner7').spinner({value:2, min: 0, max: 30});
$('#spinner8').spinner({value:0, min: 0, max: 30});
var EditApi = function () {
	
	var handleAdd = function() {

		$('form#addapi').validate({
			
	
	            //errorElement: 'span', //default input error message container
	            //errorClass: 'label-danger', // default input error message class
	            focusInvalid: false, // do not focus the last invalid input
	            rules: {
	                pagealias: {
	                    required: true
	                },
	                title: {
	                    required: true
	                }
	            },
	         

	            messages: {
					
	            },

	            invalidHandler: function (event, validator) { //display error alert on form submit   
	                //$('.alert-danger', $('.login-form')).show();
	                //console.log(event);
	                //console.log(validator);
	                
					//$('span.help-block').show();
					$('span.help-block').hide();
	                var errorlist = validator.errorList;
	                if(errorlist.length>0){
						for(var i = 0; i<errorlist.length; i++){
							//console.log(errorlist[i].element);
							var el = errorlist[i].element; 
							var next = $(el).next('span.help-block'); 
							$(next).slideDown();
						}
						$('html,body').animate({
							scrollTop: $(el).offset().top-100
						}, 800);
					}
	            },

	            highlight: function (element) { // hightlight error inputs
	                $(element)
	                    .closest('.form-group').addClass('has-error'); // set error class to the control group
	            },

	            success: function (label) {
	                label.closest('.form-group').removeClass('has-error');
	                //label.remove();
	            },

	            errorPlacement: function (error, element) {
					$('span.help-block').hide();
					var next = element.next('span.help-block'); 
					//console.log(error);
	                if(error[0].textContent!=""){
						$(next).html("<i class='fa fa-warning'></i> "+ error[0].textContent);
						$(element).next().slideDown();
						$('html,body').animate({
							scrollTop: $(element).offset().top-100
						}, 800);
					}
	            },

	            submitHandler: function (form) {
					$('span.help-block').hide();
					$('.form-group').removeClass('has-error');
	                //form.submit(); // form validation success, call ajax form submit
	                submitForm();
	                return false;
	            }
	        });

	        $('form#addapi input').keypress(function (e) {
	            if (e.which == 13) {
					$('span.help-block').hide();
					$('.form-group').removeClass('has-error');
	                if ($('form#addapi').validate().form()) {
	                   //$('form#addapi').submit(); //form validation success, call ajax form submit
	                   submitForm();
	                }
	                return false;
	            }
	        });
	}
	
	var submitForm = function(){
		
		
		//console.log($('form#addapi').serialize());
		$.ajax({
			url:"/prabajax/graphbuilder",
			content:'json',
			type:'post',
			data:$('form#addapi').serialize(),
			beforeSend:function(){
				$('#alertinfo').addClass('hidden');
				$('#processbar').removeClass('hidden');
				$('html,body').animate({
					scrollTop: $('h3.page-title').offset().top
				}, 800);
				$('#alertinfo').removeClass('alert-success');
				$('#alertinfo').removeClass('alert-warning');
				$('#alertinfo').removeClass('alert-danger');
				$('#alertinfo').removeClass('alert-info');
			},
			complete:function(result){
				$('#processbar').addClass('hidden');
			},
			success: function(data){
				//console.log(data);
				if(data.result!=undefined){
					if(data.result==true){
						$('#alertinfo').addClass('alert-success');
						$('#alertmsg').html("<strong>Success!</strong> "+data.retMsg);
					}else{
						$('#alertinfo').addClass('alert-warning');
						$('#alertmsg').html("<strong>Failed!</strong> "+data.retMsg);
					}
				}else{
					$('#alertinfo').addClass('alert-info');
					$('#alertmsg').html("<strong>Error!</strong> System is busy, please try again.");
				}
				$('#alertinfo').removeClass('hidden');
			},
			error:function(){
				$('#alertinfo').addClass('alert-info');
				$('#alertmsg').html("<strong>Error!</strong> System is busy, please try again.");
				$('#alertinfo').removeClass('hidden');
			}
		});
	}
	
	

	var resetForm = function(){
		$('input','form#addapi')
			.not(':button, :submit, :reset, :hidden')
			.val('');
			
		$('select,option','form#addapi')
			.removeAttr('checked')
			.removeAttr('selected');
		
		$('.make-switch').bootstrapSwitch('setState',false);
		
		$('.ms-selectable').find('li').removeClass('ms-selected');
		$('.ms-selection').find('li').removeClass('ms-hover');
		$('.ms-selectable').find('li').removeAttr('style');
		
		$('.ms-selection').find('li').removeClass('ms-selected');
		$('.ms-selection').find('li').removeClass('ms-hover');
		$('.ms-selection').find('li').css({display:'none'});
	}
    
    return {
        //main function to initiate the module
        init: function () {
            handleAdd();
        }

    };

}();


App.init();

$('span.help-block').hide();


EditApi.init();



$('#get_api').select2();
$('#post_api').select2();
  $("#xsaub").click(function(){ 
	 alert("s");
	$.ajax({
			url:"/prabajax/dumpbuilder",
			//content:'json',
			type:'post',
			data:$('form#addapi').serialize(),
			beforeSend:function(){
				$('#alertinfo').addClass('hidden');
				$('#processbar').removeClass('hidden');
				$('html,body').animate({
					scrollTop: $('h3.page-title').offset().top
				}, 800);
				$('#alertinfo').removeClass('alert-success');
				$('#alertinfo').removeClass('alert-warning');
				$('#alertinfo').removeClass('alert-danger');
				$('#alertinfo').removeClass('alert-info');
			},
			complete:function(result){
				$('#processbar').addClass('hidden');
			},
			success: function(data){
				//console.log(data);
				if(data.result!=undefined){
					if(data.result==true){
						$('#alertinfo').addClass('alert-success');
						$('#alertmsg').html("<strong>Success!</strong> "+data.retMsg);
					}else{
						$('#alertinfo').addClass('alert-warning');
						$('#alertmsg').html("<strong>Failed!</strong> "+data.retMsg);
					}
				}else{
					$('#alertinfo').addClass('alert-info');
					$('#alertmsg').html("<strong>Error!</strong> System is busy, please try again.");
				}
				$('#alertinfo').removeClass('hidden');
			},
			error:function(){
				$('#alertinfo').addClass('alert-info');
				$('#alertmsg').html("<strong>Error!</strong> System is busy, please try again.");
				$('#alertinfo').removeClass('hidden');
			}
		});
	
	
	 
  });


});
</script>

