
  <div class="content">
    
  <div id="maestro_ajax_indicator" class="maestro_ajax_indicator" style="display: none;">
	 <img src="http://localhost/drupal7/sites/all/modules/maestro/images/admin/status-active.gif"></div>

  <div class="maestro_heading">asdasd</div>

  <form name="frm_animate" action="#" method="post">
      Enable Animation: <input type="checkbox" name="animateFlag" value="1" checked="checked">&nbsp;&nbsp;&nbsp;
      Snap to Grid: <input type="checkbox" name="snapToGrid" value="1" onclick="update_snap_to_grid();">&nbsp;&nbsp;&nbsp;
      Snap to Objects: <input type="checkbox" name="snapToObjects" value="1" onclick="update_snap_to_objects();" checked="checked">
  </form>

  <div id="maestro_tool_tip_container" class="maestro_tool_tip" style="display: none;"><div class="t"><div class="b"><div class="r"><div class="l"><div class="bl-bge"><div class="br-bge"><div class="tl-bge"><div class="tr-bge">
  <div id="maestro_tool_tip" class="maestro_tool_tip_inner"></div>
  </div></div></div></div></div></div></div></div></div>

  <div id="maestro_workflow_container" class="maestro_workflow_container" style="position: abosolute; height: 500px;">
    
  <div id="task56" class="MaestroTaskInterfaceStart maestro_task_container" onclick="draw_line_to(this);" style="left: 34px; top: 38px;">
    
<div class="maestro_task">
  <div class="t"><div class="b"><div class="r"><div class="l"><div class="bl"><div class="br"><div class="tl-grn"><div class="tr-grn">

    <div id="task_title56" class="tm-grn maestro_task_title">
      Start    </div>
    <div class="maestro_task_body">
      Start of Workflow    </div>

  </div></div></div></div></div></div></div></div>
</div>
  </div>

  <div id="maestro_task56_context_menu" class="maestro_context_menu"><ul>
<li style="white-space: nowrap;" id="draw_line">Draw Line</li>
<li style="white-space: nowrap;" id="clear_lines">Clear Adjacent Lines</li>
</ul></div>

  <script type="text/javascript">
    (function ($) {
$('#task56').contextMenu('maestro_task56_context_menu', {
menuStyle: {
width: 175,
fontSize: 12,
},
itemStyle: {
padding: 0,
paddingLeft: 10,
},
bindings: {
'draw_line': function(t) {
tkn = 'LQd2h_L7r2TRuWCGEy1yIicNTDgeZkEq3qdGtm-ksjk'; draw_status = 1; draw_type = 1; line_start = document.getElementById('task56'); set_tool_tip('Select a task to draw the line to.');
},
'clear_lines': function(t) {
clear_task_lines(document.getElementById('task56'),'LQd2h_L7r2TRuWCGEy1yIicNTDgeZkEq3qdGtm-ksjk');
},
}
});
})(jQuery);
  </script>
  <div id="task57" class="MaestroTaskInterfaceEnd maestro_task_container" onclick="draw_line_to(this);" style="left: 280px; top: 200px;">
    
<div class="maestro_task">
  <div class="t"><div class="b"><div class="r"><div class="l"><div class="bl"><div class="br"><div class="tl-red"><div class="tr-red">

    <div id="task_title57" class="tm-red maestro_task_title">
      End    </div>
    <div class="maestro_task_body">
      End of Workflow    </div>

  </div></div></div></div></div></div></div></div>
</div>
  </div>

  <div id="maestro_task57_context_menu" class="maestro_context_menu"><ul>
<li style="white-space: nowrap;" id="clear_lines">Clear Adjacent Lines</li>
</ul></div>

  <script type="text/javascript">
	  (function($){$(function() { $(".maestro_task_container").draggable( {snap: true} ); })})(jQuery);
    (function ($) {
$('#task57').contextMenu('maestro_task57_context_menu', {
menuStyle: {
width: 175,
fontSize: 12,
},
itemStyle: {
padding: 0,
paddingLeft: 10,
},
bindings: {
'clear_lines': function(t) {
clear_task_lines(document.getElementById('task57'),'LQd2h_L7r2TRuWCGEy1yIicNTDgeZkEq3qdGtm-ksjk');
},
}
});
})(jQuery);
  </script>  </div>

  <div id="maestro_main_context_menu" class="maestro_context_menu"><ul>
<li style="white-space: nowrap;" id="And">And Task</li>
<li style="white-space: nowrap;" id="If">If Task</li>
<li style="white-space: nowrap;" id="Batch">Batch Task</li>
<li style="white-space: nowrap;" id="BatchFunction">Batch Function Task</li>
<li style="white-space: nowrap;" id="InteractiveFunction">Interactive Function Task</li>
<li style="white-space: nowrap;" id="SetProcessVariable">Set Process Variable Task</li>
<li style="white-space: nowrap;" id="ManualWeb">Manual Web Task</li>
<li style="white-space: nowrap;" id="ContentType">Content Type Task</li>
<li style="white-space: nowrap;" id="FireTrigger">Fire Trigger Task</li>
<li style="white-space: nowrap;" id="InlineFormAPI">Inline Form API Task</li>
</ul></div>

  <div>
    <a href="#" onClick="grow_canvas(); return false;">Grow Canvas</a>
    <a href="#" onClick="shrink_canvas(); return false;">Shrink Canvas</a>
  </div>

  <script type="text/javascript">
    var ajax_url = '/drupal7/admin/structure/maestro/ajax/';
    var template_id = 8;
    existing_tasks[0] = ['task56', 34, 38];
existing_tasks[1] = ['task57', 280, 200];
var move_tkn = 'LQd2h_L7r2TRuWCGEy1yIicNTDgeZkEq3qdGtm-ksjk';
    (function ($) {
$('#maestro_workflow_container').contextMenu('maestro_main_context_menu', {
menuStyle: {
width: 175,
fontSize: 12,
},
itemStyle: {
padding: 0,
paddingLeft: 10,
},
bindings: {
'And': function(t) {
enable_ajax_indicator();
$.ajax({
        type: 'POST',
        url: ajax_url + 'MaestroTaskInterfaceAnd/0/8/create/LQd2h_L7r2TRuWCGEy1yIicNTDgeZkEq3qdGtm-ksjk',
        cache: false,
        data: {task_type: 'And', offset_left: posx, offset_top: posy},
        dataType: 'json',
        success: add_task_success,
        error: editor_ajax_error
      });
},
'If': function(t) {
enable_ajax_indicator();
$.ajax({
        type: 'POST',
        url: ajax_url + 'MaestroTaskInterfaceIf/0/8/create/LQd2h_L7r2TRuWCGEy1yIicNTDgeZkEq3qdGtm-ksjk',
        cache: false,
        data: {task_type: 'If', offset_left: posx, offset_top: posy},
        dataType: 'json',
        success: add_task_success,
        error: editor_ajax_error
      });
},
'Batch': function(t) {
enable_ajax_indicator();
$.ajax({
        type: 'POST',
        url: ajax_url + 'MaestroTaskInterfaceBatch/0/8/create/LQd2h_L7r2TRuWCGEy1yIicNTDgeZkEq3qdGtm-ksjk',
        cache: false,
        data: {task_type: 'Batch', offset_left: posx, offset_top: posy},
        dataType: 'json',
        success: add_task_success,
        error: editor_ajax_error
      });
},
'BatchFunction': function(t) {
enable_ajax_indicator();
$.ajax({
        type: 'POST',
        url: ajax_url + 'MaestroTaskInterfaceBatchFunction/0/8/create/LQd2h_L7r2TRuWCGEy1yIicNTDgeZkEq3qdGtm-ksjk',
        cache: false,
        data: {task_type: 'BatchFunction', offset_left: posx, offset_top: posy},
        dataType: 'json',
        success: add_task_success,
        error: editor_ajax_error
      });
},
'InteractiveFunction': function(t) {
enable_ajax_indicator();
$.ajax({
        type: 'POST',
        url: ajax_url + 'MaestroTaskInterfaceInteractiveFunction/0/8/create/LQd2h_L7r2TRuWCGEy1yIicNTDgeZkEq3qdGtm-ksjk',
        cache: false,
        data: {task_type: 'InteractiveFunction', offset_left: posx, offset_top: posy},
        dataType: 'json',
        success: add_task_success,
        error: editor_ajax_error
      });
},
'SetProcessVariable': function(t) {
enable_ajax_indicator();
$.ajax({
        type: 'POST',
        url: ajax_url + 'MaestroTaskInterfaceSetProcessVariable/0/8/create/LQd2h_L7r2TRuWCGEy1yIicNTDgeZkEq3qdGtm-ksjk',
        cache: false,
        data: {task_type: 'SetProcessVariable', offset_left: posx, offset_top: posy},
        dataType: 'json',
        success: add_task_success,
        error: editor_ajax_error
      });
},
'ManualWeb': function(t) {
enable_ajax_indicator();
$.ajax({
        type: 'POST',
        url: ajax_url + 'MaestroTaskInterfaceManualWeb/0/8/create/LQd2h_L7r2TRuWCGEy1yIicNTDgeZkEq3qdGtm-ksjk',
        cache: false,
        data: {task_type: 'ManualWeb', offset_left: posx, offset_top: posy},
        dataType: 'json',
        success: add_task_success,
        error: editor_ajax_error
      });
},
'ContentType': function(t) {
enable_ajax_indicator();
$.ajax({
        type: 'POST',
        url: ajax_url + 'MaestroTaskInterfaceContentType/0/8/create/LQd2h_L7r2TRuWCGEy1yIicNTDgeZkEq3qdGtm-ksjk',
        cache: false,
        data: {task_type: 'ContentType', offset_left: posx, offset_top: posy},
        dataType: 'json',
        success: add_task_success,
        error: editor_ajax_error
      });
},
'FireTrigger': function(t) {
enable_ajax_indicator();
$.ajax({
        type: 'POST',
        url: ajax_url + 'MaestroTaskInterfaceFireTrigger/0/8/create/LQd2h_L7r2TRuWCGEy1yIicNTDgeZkEq3qdGtm-ksjk',
        cache: false,
        data: {task_type: 'FireTrigger', offset_left: posx, offset_top: posy},
        dataType: 'json',
        success: add_task_success,
        error: editor_ajax_error
      });
},
'InlineFormAPI': function(t) {
enable_ajax_indicator();
$.ajax({
        type: 'POST',
        url: ajax_url + 'MaestroTaskInterfaceInlineFormAPI/0/8/create/LQd2h_L7r2TRuWCGEy1yIicNTDgeZkEq3qdGtm-ksjk',
        cache: false,
        data: {task_type: 'InlineFormAPI', offset_left: posx, offset_top: posy},
        dataType: 'json',
        success: add_task_success,
        error: editor_ajax_error
      });
},
}
});
})(jQuery);
  </script>
  </div>
</div>
  </div>
    </div>
