<?php

$params = array();

foreach($this->params as $v) {
    $params[$v['value_param']] = $v['display_param'];
}
$conns = array();

foreach($this->conns as $v) {
    $conns[$v['id']] = $v['conn_name'];
}
$modes = array();

foreach($this->modes as $v) {
    $modes[$v['value_param']] = $v['display_param'];
}
$varin2 = "";
if($this->data['array_input'] != "") {
    $varin = explode(",", $this->data['array_input']);
    $varin2 = implode("~", $varin);
}
//Zend_Debug::dump($this->data);die();

?>
<div class="page-content">

<!-- BEGIN PAGE HEADER-->
<div class="row">
	<div class="col-md-12">
		<!-- BEGIN PAGE TITLE & BREADCRUMB-->
		<h3 class="page-title">
		Edit Api <small>DOMAS</small>
		</h3>
		<ul class="page-breadcrumb breadcrumb">
			<li>
				<i class="fa fa-rss"></i>
				<a href="/">DOMAS</a>
				<i class="fa fa-angle-right"></i>
			</li>
			
			<li>
				<i class="fa fa-user"></i>
				Edit Api
			</li>
			<!--li class="btn-group pull-right">
				<button type="button" class="btn red">
					<span>
				<?php

echo Zend_Auth::getInstance()->getIdentity()->fullname;

?>
					</span>
				</button>
			</li-->
		</ul>
		<!-- END PAGE TITLE & BREADCRUMB-->
	</div>
</div>
<!-- END PAGE HEADER-->

<div class="row">
	<div class="col-md-12">
	<!-- BEGIN EXAMPLE TABLE PORTLET-->
	<div class="portlet box grey" style="margin:0px">
		<div class="portlet-title">
			<div class="caption">
				Edit Api<?php

echo ' - ' . $this->data['id'];

?>
			</div>
			 <div class="actions">
				 <!--a href="#" class="btn reload" data-dismiss="modal"><i class="fa fa-times"></i></a-->
			 </div>
			<div class="tools">
			</div>
		</div>
		<div class="portlet-body" style="padding:15px">
        <div class="alert alert-success alert-dismissable hidden" id="alertinfo">
									<button type="button" class="close" data-dismiss="alert" aria-hidden="true"></button>
									<span id="alertmsg"><strong>Warning!</strong> Something went wrong. Please check.</span>
								</div>
								
								<div style="margin:0px auto;text-align:center" id="processbar" class="hidden">
									<div class="progress progress-striped active" style="margin:0px auto;text-align:center">
										<div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
											<span class="sr-only">
												On Process
											</span>
										</div>
									</div>
									<span style="margin:0px auto;">Please wait...processing request</span>
								</div>
							<form action="" class="form-horizontal" id="addapi" method="post">
							<input type="hidden" name="id" value="<?php

echo $this->data['id'];

?>" />
							<input type="hidden" name="pid" value="" />
							<!-- BEGIN FORM-->
                             <ul class="nav nav-tabs">
                                            <li class="active">
                                                <a href="#tab_1_1" data-toggle="tab"> Input </a>
                                            </li>
                                            <li>
                                                <a href="#tab_1_2" data-toggle="tab"> Test API</a>
                                            </li>
                                           <li>
                                                <a href="#tab_1_3" data-toggle="tab"> Grant API</a>
                                            </li>
                                </ul>
                            
                            <div class="tab-content">
                                       <div class="tab-pane fade active in" id="tab_1_1">
                                       <div class="form-body">
								
								
								
								<div class="row" style="padding:0px 15px;">
									<div class="col-md-5">
										<div class="form-group">
											<label for="conname">Conn Name</label>
											<select  name="conname" id="conname" class="form-control" placeholder="Conn Name" >
											<?php


foreach($conns as $k => $v) {
    if($k == $this->data['conn_id']) {
        $sel = "selected";
    } else {
        $sel = "";
    }
    echo "<option $sel value='" . $k . "'>" . $v . "</option>";
}

?>
											
											</select>	
												
											<span class="help-block">
												<span class="label label-danger"><i class="fa fa-warning"> </i>This is inline help</span>
											</span>
										</div>
									</div>
									<div class="col-md-offset-1 col-md-5">
										<div class="form-group">
											<label for="sqltext">Sql Text</label>
											<textarea name="sqltext" id="sqltext" class="form-control" placeholder="Sql text" value=""><?php

echo $this->data['sql_text'];

?></textarea>
											<span class="help-block">
												<span class="label label-danger"><i class="fa fa-warning"> </i>This is inline help</span>
											</span>
										</div>
									</div>
								</div>
								<div class="row" style="padding:0px 15px;">
									<div class="col-md-5">
										<div class="form-group">
											<label for="apidesc">Api Desc</label>
											<textarea name="apidesc" id="apidesc" class="form-control" placeholder="Api Desc" value=""><?php

echo $this->data['api_desc'];

?></textarea>
											<span class="help-block">
												<span class="label label-danger"><i class="fa fa-warning"> </i>This is inline help</span>
											</span>
										</div>
										
									</div>
									
									<div class="col-md-offset-1 col-md-5">
										<div class="form-group">
											<label for="apitype">Api Type</label>
											<select  name="apitype" onchange="changeType(this)"  id="apitype" class="form-control" placeholder="Api Type" >
											<?php


foreach($params as $k => $var) {
    if($k == $this->data['api_type']) {
        $sel = "selected";
    } else {
        $sel = "";
    }
    echo "<option $sel value='" . $k . "'>" . $var . "</option>";
}

?>
											
											</select>
											
											<span class="help-block">
												<span class="label label-danger"><i class="fa fa-warning"> </i>This is inline help</span>
											</span>
										</div>
									</div>
								</div>
								<div class="row getmodel" style="padding:0px 15px;">
								
								</div>
								
								
								<div class="row" style="padding:0px 15px;">
									<div class="col-md-5">
										<div class="form-group">
											<label for="str">Api Str Replace</label>
											<input type="text" name="str" id="str" class="form-control" placeholder="Api Str Replace"  value="<?php

echo $this->data['api_str_replace'];

?>">
											<span class="help-block">
												<span class="label label-danger"><i class="fa fa-warning"> </i>This is inline help</span>
											</span>
										</div>
									</div>
									<div class="col-md-offset-1 col-md-5">
										<div class="form-group">
											<label for="attrs1">Attrs1</label>
											<input type="text" name="attrs1" id="attrs1" class="form-control" placeholder="Attrs" value="<?php

echo $this->data['attrs1'];

?>">
											<span class="help-block">
												<span class="label label-danger"><i class="fa fa-warning"> </i>This is inline help</span>
											</span>
										</div>
									</div>
								</div>
								<div class="row" style="padding:0px 15px;">
									<div class="col-md-5">
										<div class="form-group">
											<label for="cache">Cache Time</label>
											<input type="text" name="cache" id="cache" class="form-control" value="<?php

echo $this->data['cache_time'];

?>"  placeholder="Cache Time" >
											<span class="help-block">
												<span class="label label-danger"><i class="fa fa-warning"> </i>This is inline help</span>
											</span>
										</div>
									</div>
								  
									<div class="col-md-offset-1 col-md-5">
										<div class="form-group">
											<label for="mode">Api Mode</label>
											<select  onchange="changeApimode(this)"   name="mode" id="mode" class="form-control" placeholder="Api Mode" >
											<?php


foreach($modes as $k => $var) {
    $sel = "";
    if($k == $this->data['api_mode']) {
        $sel = "selected";
    }
    echo "<option $sel value='" . $k . "'>" . $var . "</option>";
}

?>
											
											</select>
											
											<span class="help-block">
												<span class="label label-danger"><i class="fa fa-warning"> </i>This is inline help</span>
											</span>
										</div>
									</div>
								</div>
								
									
								
								<div class="row" style="padding:0px 15px;">
									<div class="col-md-5">
										<div class="form-group">
											<label for="checking">Check Before Call API</label>
											<div class="checkbox-list">
												<label>
												<input name="check" id="check" value=1  type="checkbox"> Ping Server and Port </label>

											</div>
										</div>
									</div>
									<div class="col-md-offset-1 col-md-5">
											
										<div class="form-group">
										
											<label for="backendcache">CacheBackEnd Type</label>
											<select  name="backendcache" id="backendcache" class="form-control" placeholder="CacheBackEnd Type" >
											
												<option <?php

if($this->data['backendcache'] == 'file') {
    echo "selected";
}
;

?>  value='file'>file</option>
												<option <?php

if($this->data['backendcache'] == 'memcached') {
    echo "selected";
}
;

?>  value='memcached'>Memory with memcahed</option>
												<option <?php

if($this->data['backendcache'] == 'libmemcached') {
    echo "selected";
}
;

?>  value='libmemcached'>Memory with libmemcahed </option>
												<option  <?php

if($this->data['backendcache'] == 'mongodb') {
    echo "selected";
}
;

?> value='mongodb'>mongodb</option>
										
											
											</select>	
												
											<span class="help-block">
												<span class="label label-danger"><i class="fa fa-warning"> </i>This is inline help</span>
											</span>
										
											</div>
										
										
										
									</div>
								</div>
								
							
								
								<div class="row" style="padding:0px 15px;">
									<div class="col-md-10">
										<div class="form-group">
										<label class=""><b><a href="/domas/editor/get-url/id/<?php

echo $this->data['id'];

?>" >GENERATED URL API</a></b></label>
										</div>
									</div>
								</diV>	
								
								<!--/row-->
								
								
								
							</div>
							
                                       </div>
                                        <div class="tab-pane fade" id="tab_1_2">
                                        
                                        	<div style="background-color:none;padding:20px">
								<div class="row" style="padding:0px 15px;">
									<div class="col-md-10">
										<div class="form-group">
										</div>
									</div>
								</diV>	
									<div class="row" style="padding:0px 15px;">
									<div class="col-md-5">
										<div class="form-group">
											<label for="inputsqltext">Input (example => :input1=12~:input2=23 )</label>
											<textarea name="inputsqltext" id="inputsqltext" class="form-control" placeholder="input" value=""><?php

echo $varin2;

?></textarea>
										 <button type="button" id="testig" class="btn blue">Test</button>
											<span class="help-block">
												<span class="label label-danger"><i class="fa fa-warning"> </i>This is inline help</span>
											</span>
										</div>
									</div>
									<div class="col-md-offset-1 col-md-5">
										<div class="form-group">
											<label for="outputsqltext">Output</label>
											<textarea name="outputsqltext" id="outputsqltext" class="form-control" placeholder="Output" value=""></textarea>
											<span class="help-block">
												<span class="label label-danger"><i class="fa fa-warning"> </i>This is inline help</span>
											</span>
										</div>
									</div>
								</div>
								<div class="row" id = "divapimode" style="padding:0px 15px;">
									<div class="col-md-5">
									
									</div>
									<div class="col-md-offset-1 col-md-5">
										<div class="form-group">
										
											<label for="arrayout">Output Array</label>
												
												<textarea name="arrayout" id="arrayout" class="form-control" placeholder="(out1, out2, out3)" value=""><?php

echo $this->data['array_output'];

?></textarea>
												
											<span class="help-block">
												<span class="label label-danger"><i class="fa fa-warning"> </i>This is inline help</span>
											</span>
										
											</div>
										
									</div>
								</div>
								</div>
                                       </div>
                                        <div class="tab-pane fade" id="tab_1_3">
                                        
                                         <div class="row">
                            <div class="col-md-12">
                                <!-- BEGIN EXAMPLE TABLE PORTLET-->
                                <div class="portlet light bordered">
                                    <div class="portlet-title">
                                        
                                    </div>
                                    <div class="portlet-body">
                                        <div class="table-toolbar">
                                            <div class="row">
                                                <div class="col-md-6">
                                                  
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="btn-group pull-right">
                                                     
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <table class="table table-striped table-bordered table-hover table-checkable order-column" id="sample_1">
                                            <thead>
                                                <tr>
                                                    <th>Access API<br>
                                                        <label class="mt-checkbox mt-checkbox-single mt-checkbox-outline">
                                                           
                                                            <input type="checkbox" class="group-checkable" data-set="#sample_1 .checkboxes" />
                                                            <span></span>
                                                        </label>
                                                    </th>
                                                    <th> Username/IP </th>
                                                    <th> Restricted IP   </th>
                                                    <th> View Sql </th>
                                                    <th> View Parsing Data Time </th>
                                                
                                                </tr>
                                            </thead>
                                            <tbody>
                                                
                                                <?php


foreach($this->userapp as $v) {
    if($this->data['grant'][$v['id']]['access'] != 1) {
        $sel1 = "";
    } else {
        $sel1 = "checked";
        $urluname = $v['user_name'];
    }
   ($this->data['grant'][$v['id']]['view_sql'] != 1)? $sel2 = "" : $sel2 = "checked";
   ($this->data['grant'][$v['id']]['view_parsing'] != 1)? $sel3 = "" : $sel3 = "checked";
   ($this->data['grant'][$v['id']]['restricted_ip'] != 1)? $sel4 = "" : $sel4 = "checked";
    
    ?>
                                                <tr class="even gradeX">
                                                    <td>
                                                        <label class="mt-checkbox mt-checkbox-single mt-checkbox-outline">
                                                            <input type="checkbox" class="checkboxes"  name="access_api[<?php
    
    echo $v['id'];
    
    ?>]" <?php
    
    echo $sel1;
    
    ?> value="1" />
                                                            <span></span>
                                                        </label>
                                                    </td>
                                                    <td> <?php
    
    echo $v['user_name'];
    
    ?>/<?php
    
    echo $v['user_ip'];
    
    ?> </td>
                                                    <td>
                                                         <label class="mt-checkbox mt-checkbox-single mt-checkbox-outline">
                                                            <input type="checkbox" class="checkboxes"  name="restricted_ip[<?php
    
    echo $v['id'];
    
    ?>]" <?php
    
    echo $sel4;
    
    ?> value="1" />
                                                            <span></span>
                                                        </label>
                                                    </td>
                                                    <td>
                                                         <label class="mt-checkbox mt-checkbox-single mt-checkbox-outline">
                                                            <input type="checkbox" class="checkboxes" name="access_vsql[<?php
    
    echo $v['id'];
    
    ?>]" <?php
    
    echo $sel2;
    
    ?> value="1" />
                                                            <span></span>
                                                        </label>
                                                    </td>
                                                    <td class="center">    <label class="mt-checkbox mt-checkbox-single mt-checkbox-outline">
                                                            <input type="checkbox" class="checkboxes" name="access_vparsing[<?php
    
    echo $v['id'];
    
    ?>]" <?php
    
    echo $sel3;
    
    ?> value="1" />
                                                            <span></span>
                                                        </label></td>
                                                  
                                                </tr>
                                                <?php
    
}

?>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <!-- END EXAMPLE TABLE PORTLET-->
                            </div>
                        </div>
                        
                                       
								
                                       </div>


                                       
                            </div>           
                            <div class="form-actions" style="margin:0px">
							   <div class="row">
								   <div class="col-md-6">
									   <div class="col-md-offset-3 col-md-9">
										   <button type="submit" class="btn green">Submit</button>
										   <a href="/domas/editor/listapi" class="btn default">Cancel</a>
									   </div>
								   </div>
								   <div class="col-md-6">
								   </div>
							   </div>
							</div>
                            
							
							</form>
							<!-- END FORM-->
						</div>
	</div>
				
	<!-- END EXAMPLE TABLE PORTLET-->
	</div>
</div>

</div>

<script>
	
	
function changeType(me){
	var $me = $(me);
	var $val = $me.val();
	//alert($val);
	var $element = $('.getmodel');
	var next = $element.next('span.help-block'); 
	var con = $('#conname').val();
	if($val == 4){
	
	$.ajax({
		url:"/domas/adminajax/getmodels/xxxid/"+$val,
		content:'json',
		type:'get',
		beforeSend:function(){
			$element.hide();
			$(next).children('span.label').html('<i class="fa fa-coffee"></i>&nbsp;Retrieve data...');
			$($element).next().slideDown();
		},
		complete:function(result){
					
		},
		success: function(data){
			$($element).next().hide();
			$element.html(data);
			$element.slideDown();
		},
		error:function(){
			$(next).children('span.label').html('<i class="fa fa-warning"></i>&nbsp;Failed to retrieve data.');
		}
		});
	} else if($val == 2||$val == 3 ) { 
				
				$.ajax({
					url:"/domas/adminajax/getmodels/xxxid/"+$val+'/conn/'+con,
					content:'json',
					type:'get',
					beforeSend:function(){
						$element.hide();
						$(next).children('span.label').html('<i class="fa fa-coffee"></i>&nbsp;Retrieve data...');
						$($element).next().slideDown();
					},
					complete:function(result){
								
					},
					success: function(data){
						$($element).next().hide();
						$element.html(data);
						$element.slideDown();
					},
					error:function(){
						$(next).children('span.label').html('<i class="fa fa-warning"></i>&nbsp;Failed to retrieve data.');
					}
					});
	} else {
		$('.resType').hide();
	}
	
}


function changeApimode(me){
	var $me = $(me);
	var $val = $me.val();
	
	if($val == '2' || $val == '3'  ) 
	{
		$('#divapimode').show();	
	} else {
		$('#divapimode').hide();	
		}
		
	
}

function changeMethod(me){
	var $me = $(me);
	var $val = $me.val();
	var $model = $('#model').val();
	
	//alert($isi);
	
	var apitype = $('#apitype').val();	
	if (apitype =='4') {
		var $isi = ""+$model + "::"+ $val;
	} else {
		var $isi = $val;
		}
	$('#sqltext').html($isi);
	//alert($model);
}
function changeModel(me){
	var $me = $(me);
	var $val = $me.val();
	var $element = $('#method');
	var next = $element.next('span.help-block'); 
	var con = $('#conname').val();	
	var apitype = $('#apitype').val();	
	
	$.ajax({
		url:"/domas/adminajax/getmethods/xxxid/"+$val+'/conn/'+con + '/apitype/' + apitype,
		content:'json',
		type:'get',
		beforeSend:function(){
			$element.hide();
			$(next).children('span.label').html('<i class="fa fa-coffee"></i>&nbsp;Retrieve data...');
			$($element).next().slideDown();
		},
		complete:function(result){
					
		},
		success: function(data){
			$($element).next().hide();
			$element.html(data);
			
			
			
			$element.slideDown();
		},
		error:function(){
			$(next).children('span.label').html('<i class="fa fa-warning"></i>&nbsp;Failed to retrieve data.');
		}
		});
}
jQuery(document).ready(function() {
var table = $('#sample_1');

        // begin first table
        table.dataTable({

            // Internationalisation. For more info refer to http://datatables.net/manual/i18n
            "language": {
                "aria": {
                    "sortAscending": ": activate to sort column ascending",
                    "sortDescending": ": activate to sort column descending"
                },
                "emptyTable": "No data available in table",
                "info": "Showing _START_ to _END_ of _TOTAL_ records",
                "infoEmpty": "No records found",
                "infoFiltered": "(filtered1 from _MAX_ total records)",
                "lengthMenu": "Show _MENU_",
                "search": "Search:",
                "zeroRecords": "No matching records found",
                "paginate": {
                    "previous":"Prev",
                    "next": "Next",
                    "last": "Last",
                    "first": "First"
                }
            },

            // Or you can use remote translation file
            //"language": {
            //   url: '//cdn.datatables.net/plug-ins/3cfcc339e89/i18n/Portuguese.json'
            //},

            // Uncomment below line("dom" parameter) to fix the dropdown overflow issue in the datatable cells. The default datatable layout
            // setup uses scrollable div(table-scrollable) with overflow:auto to enable vertical scroll(see: assets/global/plugins/datatables/plugins/bootstrap/dataTables.bootstrap.js). 
            // So when dropdowns used the scrollable div should be removed. 
            //"dom": "<'row'<'col-md-6 col-sm-12'l><'col-md-6 col-sm-12'f>r>t<'row'<'col-md-5 col-sm-12'i><'col-md-7 col-sm-12'p>>",

            "bStateSave": true, // save datatable state(pagination, sort, etc) in cookie.

            "lengthMenu": [
                [5, 15, 20, -1],
                [5, 15, 20, "All"] // change per page values here
            ],
            // set the initial value
            "pageLength": 5,            
            "pagingType": "bootstrap_full_number",
            "columnDefs": [
                {  // set default column settings
                    'orderable': false,
                    'targets': [0]
                }, 
                {
                    "searchable": false,
                    "targets": [0]
                },
                {
                    "className": "dt-right", 
                    //"targets": [2]
                }
            ],
            "order": [
                [1, "asc"]
            ] // set first column as a default sort by asc
        });

        var tableWrapper = jQuery('#sample_1_wrapper');

        table.find('.group-checkable').change(function () {
            var set = jQuery(this).attr("data-set");
            var checked = jQuery(this).is(":checked");
            jQuery(set).each(function () {
                if (checked) {
                    $(this).prop("checked", true);
                    $(this).parents('tr').addClass("active");
                } else {
                    $(this).prop("checked", false);
                    $(this).parents('tr').removeClass("active");
                }
            });
        });

        table.on('change', 'tbody tr .checkboxes', function () {
            $(this).parents('tr').toggleClass("active");
        });
$( "#testig" ).click(function() {
 $.ajax({
		
		url:"/domas/adminajax/tesapi",
		content:'html',
		type:'post',
		data:$('form#addapi').serialize(),
		
		complete:function(result){
					
		},
		success: function(result){
			//alert("ok");
			//var jsonObj = $.parseJSON('[' + result + ']');
			//alert (jsonObj); 
			
			
			//	$outputsqltext.html(result);
		//	$('#outputsqltext').html(result);
			
			$('#outputsqltext').html(result);
				$.ajax({
				
				url:"/domas/adminajax/getout",
				content:'html',
				type:'post',
				data:$('form#addapi').serialize(),
				
				complete:function(result){
							
				},
				success: function(result){
					
					$('#arrayout').html(result);
					
					
				},
				error:function(){
					$(next).children('span.label').html('<i class="fa fa-warning"></i>&nbsp;Failed to retrieve data.');
				}
				});
				
		},
		error:function(){
			$(next).children('span.label').html('<i class="fa fa-warning"></i>&nbsp;Failed to retrieve data.');
		}
		});
});

var EditApi = function () {

	var handleAdd = function() {

		$('form#addapi').validate({
	            //errorElement: 'span', //default input error message container
	            //errorClass: 'help-block', // default input error message class
	            focusInvalid: false, // do not focus the last invalid input
	            rules: {
	                sqltext: {
	                    required: true
	                }
	            },
	         

	            messages: {
					
	            },

	            invalidHandler: function (event, validator) { //display error alert on form submit   
	                //$('.alert-danger', $('.login-form')).show();
	                //console.log(event);
	                //console.log(validator);
	                
					//$('span.help-block').show();
					$('span.help-block').hide();
	                var errorlist = validator.errorList;
	                if(errorlist.length>0){
						for(var i = 0; i<errorlist.length; i++){
							//console.log(errorlist[i].element);
							var el = errorlist[i].element; 
							var next = $(el).next('span.help-block'); 
							$(next).slideDown();
						}
						$('html,body').animate({
							scrollTop: $(el).offset().top-100
						}, 800);
					}
	            },

	            highlight: function (element) { // hightlight error inputs
	                $(element)
	                    .closest('.form-group').addClass('has-error'); // set error class to the control group
	            },

	            success: function (label) {
	                label.closest('.form-group').removeClass('has-error');
	                //label.remove();
	            },

	            errorPlacement: function (error, element) {
					$('span.help-block').hide();
					var next = element.next('span.help-block'); 
					//console.log(error);
	                if(error[0].textContent!=""){
						$(next).children('span.label').html("<i class='fa fa-warning'></i> "+ error[0].textContent);
						$(element).next().slideDown();
						$('html,body').animate({
							scrollTop: $(element).offset().top-100
						}, 800);
					}
	            },

	            submitHandler: function (form) {
					$('span.help-block').hide();
					$('.form-group').removeClass('has-error');
	                //form.submit(); // form validation success, call ajax form submit
	                submitForm();
	                return false;
	            }
	        });

	        $('form#addapi input').keypress(function (e) {
	            if (e.which == 13) {
					$('span.help-block').hide();
					$('.form-group').removeClass('has-error');
	                if ($('form#addapi').validate().form()) {
	                   //$('form#addapi').submit(); //form validation success, call ajax form submit
	                   submitForm();
	                }
	                return false;
	            }
	        });
	}
	
	var submitForm = function(){
		//console.log($('form#addapi').serialize());
		$.ajax({
			url:"/domas/adminajax/editapi",
			content:'json',
			type:'post',
			data:$('form#addapi').serialize(),
			beforeSend:function(){
				$('#alertinfo').addClass('hidden');
				$('#processbar').removeClass('hidden');
				$('html,body').animate({
					scrollTop: $('h3.page-title').offset().top
				}, 800);
				$('#alertinfo').removeClass('alert-success');
				$('#alertinfo').removeClass('alert-warning');
				$('#alertinfo').removeClass('alert-danger');
				$('#alertinfo').removeClass('alert-info');
			},
			complete:function(result){
				$('#processbar').addClass('hidden');
			},
			success: function(data){
				//console.log(data);
				if(data.result!=undefined){
					if(data.result==true){
						$('#alertinfo').addClass('alert-success');
						$('#alertmsg').html("<strong>Success!</strong> "+data.retMsg);
                             setTimeout(function(){location.href="/domas/editor/listapi"},2000);
					}else{
						$('#alertinfo').addClass('alert-warning');
						$('#alertmsg').html("<strong>Failed!</strong> "+data.retMsg);
					}
				}else{
					$('#alertinfo').addClass('alert-info');
					$('#alertmsg').html("<strong>Error!</strong> System is busy, please try again.");
				}
				$('#alertinfo').removeClass('hidden');
			},
			error:function(){
				$('#alertinfo').addClass('alert-info');
				$('#alertmsg').html("<strong>Error!</strong> System is busy, please try again.");
				$('#alertinfo').removeClass('hidden');
			}
		});
	}
	
	

	var resetForm = function(){
		$('input','form#addapi')
			.not(':button, :submit, :reset, :hidden')
			.val('');
			
		$('select,option','form#addapi')
			.removeAttr('checked')
			.removeAttr('selected');
		
		$('.make-switch').bootstrapSwitch('setState',false);
		
		$('.ms-selectable').find('li').removeClass('ms-selected');
		$('.ms-selection').find('li').removeClass('ms-hover');
		$('.ms-selectable').find('li').removeAttr('style');
		
		$('.ms-selection').find('li').removeClass('ms-selected');
		$('.ms-selection').find('li').removeClass('ms-hover');
		$('.ms-selection').find('li').css({display:'none'});
	}
    
    return {
        //main function to initiate the module
        init: function () {
            handleAdd();
        }

    };

}();



var FormComponents3 = function () {

    var handleMultiSelect = function () {

        $('#my_multi_select3').multiSelect({
            selectableHeader: "<input type='text' class='form-control search-input' autocomplete='off' placeholder='search...'>",
            selectionHeader: "<input type='text' class='form-control search-input' autocomplete='off' placeholder='search...'>",
            afterInit: function (ms) {
                var that = this,
                    $selectableSearch = that.$selectableUl.prev(),
                    $selectionSearch = that.$selectionUl.prev(),
                    selectableSearchString = '#' + that.$container.attr('id') + ' .ms-elem-selectable:not(.ms-selected)',
                    selectionSearchString = '#' + that.$container.attr('id') + ' .ms-elem-selection.ms-selected';

                that.qs1 = $selectableSearch.quicksearch(selectableSearchString)
                    .on('keydown', function (e) {
                        if (e.which === 40) {
                            that.$selectableUl.focus();
                            return false;
                        }
                    });

                that.qs2 = $selectionSearch.quicksearch(selectionSearchString)
                    .on('keydown', function (e) {
                        if (e.which == 40) {
                            that.$selectionUl.focus();
                            return false;
                        }
                    });
            },
            afterSelect: function () {
                this.qs1.cache();
                this.qs2.cache();
            },
            afterDeselect: function () {
                this.qs1.cache();
                this.qs2.cache();
            }
        });
    }

    return {
        //main function to initiate the module
        init: function () {
            handleMultiSelect();
        }
    };

}();
FormComponents3.init();

$('span.help-block').hide();
EditApi.init();



});
</script>
