<?php
	
	$params=array();
	foreach($this->params as $v) 
	{
		$params[$v['value_param']] = $v['display_param'];	
		
	}
	$conns=array();
	foreach($this->conns as $v) 
	{
		$conns[$v['conn_name']] = $v['conn_name'];	
		
	}
	//Zend_Debug::dump($this->conns);die();	
	
	
?>
<div class="page-content">

<!-- BEGIN PAGE HEADER-->
<div class="row">
	<div class="col-md-12">
		<!-- BEGIN PAGE TITLE & BREADCRUMB-->
		<h3 class="page-title">
		Portlet Discovery <small>Find, search, and add new portlet </small>
		</h3>
			<ul class="page-breadcrumb breadcrumb">
			<li>
				<i class="fa fa-rss"></i>
				<a href="/">PraBAC</a>
				<i class="fa fa-angle-right"></i>
			</li>
			<li>
				<i class="fa fa-desktop"></i>
				<a href="/">Content Management</a>
				<i class="fa fa-angle-right"></i>
			</li>
			
			<li>
				<i class="fa fa-list-ol"></i>
				Portlets List
			</li>
			<!--li class="btn-group pull-right">
				<button type="button" class="btn red">
					<span>
				<?php echo Zend_Auth::getInstance()->getIdentity()->fullname; ?>
					</span>
				</button>
			</li-->
		</ul>
		
		
		<!-- END PAGE TITLE & BREADCRUMB-->
	</div>
</div>
<!-- END PAGE HEADER-->
<!--
<div class="row" style="margin-bottom:15px">
	<div class="col-md-12">
		<h4>User Filter</h4>
		<form class="form-inline" role="form">
			<div class="form-group">
				<label class="sr-only" for="filterid">ID</label>
				<div class="input-icon">
					<i class="fa fa-user"></i>
					<input type="text" class="form-control" id="filterid" name="filterid" placeholder="ID">
				</div>
			</div>
			<div class="form-group">
				<label class="sr-only" for="filterconn">Connection Name</label>
				<div class="input-icon">
					<i class="fa fa-user"></i>
					<input type="text" class="form-control" id="filterconn" name="filterconn" placeholder="Connection Name">
				</div>
			</div>
			<div class="form-group">
				<label class="sr-only" for="filtersql">Sql Text</label>
				<div class="input-icon">
					<i class="fa fa-envelope"></i>
					<input type="text" class="form-control" id="filtersql" name="filtersql" placeholder="Sql Text">
				</div>
			</div>
			<!--button type="submit" class="btn btn-default">Filter</button
		</form>
		<br>
		<form class="form-inline" role="form">
			<div class="form-group">
				<label class="sr-only" for="filterdesc">Description</label>
				<div class="input-icon">
					<i class="fa fa-circle-o"></i>
					<input type="text" class="form-control" id="filterdesc" name="filterdesc" placeholder="Description">
				</div>
			</div>
		
		</form>
	</div>
</div>
-->
<div class="row">
	<div class="col-md-12">
	<!-- BEGIN EXAMPLE TABLE PORTLET-->
	<div class="portlet box grey">
		<div class="portlet-title">
			<div class="caption">
			Portlets List	
			</div>
			<div class="actions">
				<a href="/prabacontent/prabaeditor/addportlet" class="btn green"  id="btn-addnew"><i class="fa fa-plus"></i> Add New</a>
				<a href="#" class="btn blue reload"><i class="fa fa-refresh"></i> Reload</a>
				<div class="btn-group">
					<a class="btn default" href="#" data-toggle="dropdown">
					Columns <i class="fa fa-angle-down"></i>
					</a>
					<div id="sample_2_column_toggler" class="dropdown-menu hold-on-click dropdown-checkboxes pull-right">
						<label><input type="checkbox" checked data-column="0">No</label>
						<label><input type="checkbox" checked data-column="1">ID</label>
						<label><input type="checkbox" checked data-column="2">Name Alias</label>
				
					</div>
				</div>
			</div>
			<!--div class="tools">
				<a href="javascript:;" class="reload"></a>
			</div-->
		</div>
		<div class="portlet-body">
			<!--div class="table-toolbar">
				<div class="btn-group">
					<button id="sample_editable_1_new" class="btn green">
					Add New <i class="fa fa-plus"></i>
					</button>
				</div>
				<!--div class="btn-group pull-right">
					<button class="btn dropdown-toggle" data-toggle="dropdown">Tools <i class="fa fa-angle-down"></i>
					</button>
					<ul class="dropdown-menu pull-right">
					<li>
						<a href="#">Print</a>
					</li>
					<li>
						<a href="#">Save as PDF</a>
					</li>
					<li>
						<a href="#">Export to Excel</a>
					</li>
					</ul>
				</div>
			</div-->
		
			<table class="table table-striped table-bordered table-hover" id="user_table">
			<thead>
			<tr>
				<th>
					 No
				</th>
				<th>
					 ID
				</th>
				<th>
					
					 Name 
				</th>
				<th>
					Title
				</th>
				<th>
				Type
				</th>
				<th>
				Custom View
				</th>
				<th>
					 
				</th>
			</tr>
			</thead>
			<tbody>
			</tbody>
			</table>
			
			<!-- ajax -->
			<div id="ajax-modal" class="modal container fade modal-scroll modal-overflow in" tabindex="-1">
			</div>
			<!-- static -->
			<div id="static" class="modal fade" tabindex="-1" data-backdrop="static" data-keyboard="false">
				<div class="modal-body" style="padding:0px">
				<div class="portlet box red" style="margin:0px">
					<div class="portlet-title">
						<div class="caption">
							Are you sure to delete this api?
						</div>
						<div class="tools">
						</div>
					</div>
					<div class="portlet-body">
						<div class="alert alert-success alert-dismissable hidden" id="alertinfo2">
							<button type="button" class="close" data-dismiss="alert" aria-hidden="true"></button>
							<span id="alertmsg2"><strong>Warning!</strong> Something went wrong. Please check.</span>
						</div>
						
						<div style="margin:0px auto;text-align:center" id="processbar2" class="hidden">
							<div class="progress progress-striped active" style="margin:0px auto;text-align:center">
								<div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
									<span class="sr-only">
										On Process
									</span>
								</div>
							</div>
							<span style="margin:0px auto;">Please wait...processing request</span>
							<br>
						</div>
					<table>
						<tr>
							<td>
								 ID
							</td>
							<td>
								 :
							</td>
							<td id="static_id">
								 
							</td>
						</tr>
						
					</table>
					</div>
				</div>
				</div>
				<div class="modal-footer" style="margin-top:0px">
					<button type="button" data-dismiss="modal" class="btn btn-default">Cancel</button>
					<button type="button" id="deleteconfirm" class="btn red">Yes</button>
				</div>
			</div>
			<!-- static -->
			<div id="static2" class="modal container fade modal-scroll modal-overflow in" tabindex="-1" data-backdrop="static" data-keyboard="false">
				<div class="modal-body" style="padding:5px">
					<div class="portlet box green" style="margin:0px">
						<div class="portlet-title">
							<div class="caption">
								Add new Api
							</div>
							 <div class="actions">
								 <a href="#" class="btn reload" data-dismiss="modal"><i class="fa fa-times"></i></a>
							 </div>
							<div class="tools">
							</div>
						</div>
						<div class="portlet-body" style="padding:15px">
							<form action="" class="form-horizontal" id="addapi" method="post">
							<input type="hidden" name="id" value="" />
							<input type="hidden" name="pid" value="" />
							<!-- BEGIN FORM-->
							<div class="form-body">
								<div class="alert alert-success alert-dismissable hidden" id="alertinfo">
									<button type="button" class="close" data-dismiss="alert" aria-hidden="true"></button>
									<span id="alertmsg"><strong>Warning!</strong> Something went wrong. Please check.</span>
								</div>
								
								<div style="margin:0px auto;text-align:center" id="processbar" class="hidden">
									<div class="progress progress-striped active" style="margin:0px auto;text-align:center">
										<div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
											<span class="sr-only">
												On Process
											</span>
										</div>
									</div>
									<span style="margin:0px auto;">Please wait...processing request</span>
								</div>
								
								<h3 class="form-section" id="formtitle">Input Api </h3>
								
								<div class="row" style="padding:0px 15px;">
									<div class="col-md-5">
										<div class="form-group">
											<label for="conname">Conn Name</label>
											<select  name="conname" id="conname" class="form-control" placeholder="Conn Name" >
											<?php 
											
											foreach ($conns as $k=>$v) 
											{
												echo "<option value='".$k."'>".$v."</option>";	
											}
											?>
											
											</select>	
												
											<span class="help-block">
												<span class="label label-danger"><i class="fa fa-warning"> </i>This is inline help</span>
											</span>
										</div>
									</div>
									<div class="col-md-offset-1 col-md-5">
										<div class="form-group">
											<label for="sqltext">Sql Text</label>
											<textarea name="sqltext" id="sqltext" class="form-control" placeholder="Sql text" value=""></textarea>
											<span class="help-block">
												<span class="label label-danger"><i class="fa fa-warning"> </i>This is inline help</span>
											</span>
										</div>
									</div>
								</div>
								<div class="row" style="padding:0px 15px;">
									<div class="col-md-5">
										<div class="form-group">
											<label for="apidesc">Api Desc</label>
											<textarea name="apidesc" id="apidesc" class="form-control" placeholder="Api Desc" value=""></textarea>
											<span class="help-block">
												<span class="label label-danger"><i class="fa fa-warning"> </i>This is inline help</span>
											</span>
										</div>
										
									</div>
									
									<div class="col-md-offset-1 col-md-5">
										<div class="form-group">
											<label for="apitype">Api Type</label>
											<select  name="apitype" id="apitype" class="form-control" placeholder="Api Type" >
											<?php 
											foreach ($params as $k=>$var) 
											{
												echo "<option value='".$k."'>".$var."</option>";	
											}
											?>
											
											</select>
											
											<span class="help-block">
												<span class="label label-danger"><i class="fa fa-warning"> </i>This is inline help</span>
											</span>
										</div>
									</div>
								</div>
								<div class="row" style="padding:0px 15px;">
									<div class="col-md-5">
										<div class="form-group">
											<label for="str">Api Str Replace</label>
											<input type="text" name="str" id="str" class="form-control" placeholder="Api Str Replace"  >
											<span class="help-block">
												<span class="label label-danger"><i class="fa fa-warning"> </i>This is inline help</span>
											</span>
										</div>
									</div>
									<div class="col-md-offset-1 col-md-5">
										<div class="form-group">
											<label for="attrs1">Attrs1</label>
											<input type="text" name="attrs1" id="attrs1" class="form-control" placeholder="Attrs">
											<span class="help-block">
												<span class="label label-danger"><i class="fa fa-warning"> </i>This is inline help</span>
											</span>
										</div>
									</div>
								</div>
								<div class="row" style="padding:0px 15px;">
									<div class="col-md-5">
										<div class="form-group">
											<label for="cache">Cache Time</label>
											<input type="text" name="cache" id="cache" class="form-control" placeholder="Cache Time" >
											<span class="help-block">
												<span class="label label-danger"><i class="fa fa-warning"> </i>This is inline help</span>
											</span>
										</div>
									</div>
								  
								</div>
								
								<!--/row-->
							</div>
							<div class="form-actions" style="margin:0px">
							   <div class="row">
								   <div class="col-md-6">
									   <div class="col-md-offset-3 col-md-9">
										   <button type="submit" class="btn green">Submit</button>
										   <button type="button" type="button" data-dismiss="modal" class="btn default">Cancel</button>
									   </div>
								   </div>
								   <div class="col-md-6">
								   </div>
							   </div>
							</div>
							</form>
							<!-- END FORM-->
						</div>
					</div>
				</div>
				<!--div class="modal-footer">
					<button type="button" data-dismiss="modal" class="btn btn-default">Cancel</button>
					<button type="button" data-dismiss="modal" class="btn green">Submit</button>
				</div-->
			</div>
		</div>
	</div>
	<!-- END EXAMPLE TABLE PORTLET-->
	</div>
</div>

</div>

<script>
	
jQuery(document).ready(function() {

var oTable = $('#user_table').dataTable({
               // "sDom" : "<'row'<'col-md-6 col-sm-12'l><'col-md-6 col-sm-12'f>r>t<'row'<'col-md-5 col-sm-12'i><'col-md-7 col-sm-12'p>>", //default layout without horizontal scroll(remove this setting to enable horizontal scroll for the table)
                "aLengthMenu": [
                    [10,50, 200, 500 -1],
                    [10,50, 200, 500, "All"] // change per page values here
                ],
                "bProcessing": true,
                "bServerSide": true,
                "sAjaxSource": "/prabacontent/ajax/listportlet",
                // set the initial value
                "iDisplayLength": 10,
                "sPaginationType": "bootstrap_full_number",
                "oLanguage": {
                    "sProcessing": '<i class="fa fa-coffee"></i>&nbsp;Please wait...',
                    "sLengthMenu": "_MENU_ records",
                    "oPaginate": {
                        "sPrevious": "Prev",
                        "sNext": "Next"
                    },
			"sSearch": "Search all columns:"
                },
                "aoColumnDefs": [{
                        'bSortable': false,
                        'aTargets': [0,6]
                    }
                ]
            });

  jQuery('#user_table_wrapper .dataTables_filter input').addClass("form-control input-medium"); // modify table search input
            jQuery('#user_table_wrapper .dataTables_length select').addClass("form-control input-small"); // modify table per page dropdown

            // handle record edit/remove
            //$('body').on('click', '#graph_table_wrapper .btn-graph', function() {
            //    alert('Edit record with id:' + $(this).attr("data-id"));
            //});

		
		$("input#filterid").keyup( function () {
			/* Filter on the column (the index) of this element */
			oTable.fnFilter( this.value, 1);
		} );
		
		$("input#filterconn").keyup( function () {
			/* Filter on the column (the index) of this element */
			oTable.fnFilter( this.value, 2 );
		} );
		$("input#filtersql").keyup( function () {
			/* Filter on the column (the index) of this element */
			oTable.fnFilter( this.value, 3 );
		} );
		$("input#filterdesc").keyup( function () {
			/* Filter on the column (the index) of this element */
			oTable.fnFilter( this.value, 4 );
		} );
		
		
		$("a.reload").click( function () {
			/* Filter on the column (the index) of this element */
			oTable.fnDraw();
		} );
		
		$('#sample_2_column_toggler input[type="checkbox"]').change(function(){
            /* Get the DataTables object again - this is not a recreation, just a get of the object */
            var iCol = parseInt($(this).attr("data-column"));
            var bVis = oTable.fnSettings().aoColumns[iCol].bVisible;
            oTable.fnSetColumnVis(iCol, (bVis ? false : true));
        });

UIExtendedModals3.init();


$('span.help-block').hide();
});


 //ajax demo:
	


var UIExtendedModals3 = function () {
    
    return {
        //main function to initiate the module
        init: function () {
        
            // general settings
            $.fn.modal.defaults.spinner = $.fn.modalmanager.defaults.spinner = 
              '<div class="loading-spinner" style="width: 200px; margin-left: -100px;">' +
                '<div class="progress progress-striped active">' +
                  '<div class="progress-bar" style="width: 100%;"></div>' +
                '</div>' +
              '</div>';

            $.fn.modalmanager.defaults.resize = true;
            
            var $modal = $('#ajax-modal');
			

           // $('.ajax-demo').on('click', function(){
              $('body').on('click', '#user_table_wrapper .getscript', function() {

            	  var id =  $(this).attr("data-id");
                //  alert(id);  
              // create the backdrop and wait for next modal to be triggered
              $('body').modalmanager('loading');

              setTimeout(function(){
                  $modal.load('/prabagen/getscript/id/'+id , '', function(){
                  $modal.modal();
                });
              }, 1000);
            });

			
			var $modal2 = $('#static');
		
            
            //static demo:
            var $modal2 = $('#static');

			// handle record edit/remove
            $('body').on('click', '#user_table_wrapper .btn-delete', function() {
              var id =  $(this).attr("data-id");
             
              if($modal2.find('td#static_id')!=undefined){
                $modal2.find('td#static_id').html(id);
              }
              
              $modal2.modal();                
            });
			
            $modal2.on('click', 'button#deleteconfirm', function(){
				var id = $modal2.find('td#static_id').html();
				//alert(id);
				$.ajax({
					url:"/prabacontent/ajax/deleteportlet",
					content:'json',
					type:'post',
					data:{uid:id},
					beforeSend:function(){
						$('#processbar2').removeClass('hidden');
						$('#alertinfo2').removeClass('alert-success');
						$('#alertinfo2').removeClass('alert-warning');
						$('#alertinfo2').removeClass('alert-danger');
						$('#alertinfo2').removeClass('alert-info');
					},
					complete:function(result){
						$('#processbar2').addClass('hidden');
					},
					success: function(data){
						//console.log(data);
						if(data.result!=undefined){
							if(data.result==true){
								$('#alertinfo2').addClass('alert-success');
								$('#alertmsg2').html("<strong>Success!</strong> "+data.retMsg);
								$("a.reload").click();
								$modal2.modal('hide');
							}else{
								$('#alertinfo2').addClass('alert-warning');
								$('#alertmsg2').html("<strong>Failed!</strong> "+data.retMsg);
							}
						}else{
							$('#alertinfo2').addClass('alert-info');
							$('#alertmsg2').html("<strong>Error!</strong> System is busy, please try again.");
						}
						$('#alertinfo2').removeClass('hidden');
					},
					error:function(){
						$('#alertinfo2').addClass('alert-info');
						$('#alertmsg2').html("<strong>Error!</strong> System is busy, please try again.");
						$('#alertinfo2').removeClass('hidden');
					}
				});
            });
            
            var $modal3 = $('#static2');

			// handle record edit/remove
            $('body').on('click', '#btn-addnew', function() {
              $modal3.modal();   
            });
            
            $modal3.on('hide.bs.modal', function (e) {
				$('#processbar').addClass('hidden');   
				$('#alertinfo').addClass('hidden'); 
			});
            
            $modal3.on('hidden.bs.modal', function (e) {
				$('#processbar').addClass('hidden');   
				$('#alertinfo').addClass('hidden');
			});
        }

    };

}();


</script>
