  <!-- BEGIN PORTLET-->
  
  <div class="page-content">
  
  <div class="row>
  
                            <div class="portlet light bordered">
                                <div class="portlet-title">
                                    <div class="caption">
                                        <i class="icon-social-dribbble font-dark"></i>
                                        <span class="caption-subject font-dark bold uppercase">Demo 1</span>
                                        <span class="caption-helper">javascript syntax</span>
                                    </div>
                                    <div class="actions">
                                        <a class="btn btn-circle btn-icon-only btn-default" href="javascript:;">
                                            <i class="icon-cloud-upload"></i>
                                        </a>
                                        <a class="btn btn-circle btn-icon-only btn-default" href="javascript:;">
                                            <i class="icon-wrench"></i>
                                        </a>
                                        <a class="btn btn-circle btn-icon-only btn-default" href="javascript:;">
                                            <i class="icon-trash"></i>
                                        </a>
                                    </div>
                                </div>
                                <div class="portlet-body">
                                    <textarea id="code_editor_demo_1"> Zend_Debug::dump($path);die();
			$config = new Zend_Config_Ini(APPLICATION_PATH . '/configs/application.ini', 'production');
			$config = $config->toArray();
		 </textarea>
                                </div>
                            </div>
                            <!-- END PORTLET-->
</div>
</div>
<script>
jQuery(document).ready(function() {    
   var myTextArea = document.getElementById('code_editor_demo_1');
        var myCodeMirror = CodeMirror.fromTextArea(myTextArea, {
            lineNumbers: true,
            matchBrackets: true,
            styleActiveLine: true,
            theme:"ambiance",
            mode: 'javascript'
        });
});
</script>
 
