<!-- BEGIN SIDEBAR -->
<div class="page-sidebar-wrapper">
	<div class="page-sidebar navbar-collapse collapse">
		<!-- BEGIN SIDEBAR MENU -->
		<ul class="page-sidebar-menu">
			<li class="sidebar-toggler-wrapper">
				<!-- BEGIN SIDEBAR TOGGLER BUTTON -->
				<div class="sidebar-toggler hidden-phone">
				</div>
				<!-- BEGIN SIDEBAR TOGGLER BUTTON -->
			</li>
			<li class="sidebar-search-wrapper">
				<!-- BEGIN RESPONSIVE QUICK SEARCH FORM -->
				<!--form class="sidebar-search" action="extra_search.html" method="POST">
					<div class="form-container">
						<div class="input-box">
							<a href="javascript:;" class="remove"></a>
							<input type="text" placeholder="Search..."/>
							<input type="button" class="submit" value=" "/>
						</div>
					</div>
				</form-->
				<!-- END RESPONSIVE QUICK SEARCH FORM -->
			</li>
			<li class="start">
				<a href="/" data-id="0">
					<i class="fa fa-home"></i><span class="title">Home</span>
				</a>
			</li>	
<?php 
//Zend_Debug::dump($this->menu);die();
//var_dump($this->menu);die();
foreach($this->menu as $k=>$v) {
	if($v['class']==null || $v['class']==''){
		$v['class']='fa fa-info-circle';
	}
	if($v['child']!="" && $v['child']!=null && is_array($v['child']) &&$v['is_active']==1 ){
		echo '<li class="">
				<a href="javascript:;">
					<i class="'.$v['class'].'"></i> <span class="title">'.$v['menu_name'].'</span><span class="arrow "></span>
				</a>';
		
		echo '<ul class="sub-menu">';
		foreach  ($v['child'] as $k2=>$v2 ) {	
			if($v2['class']==null || $v2['class']==''){
				$v2['class']='fa fa-info-circle';
			}
			if($v2['child']!="child" && $v2['child']!=null && is_array($v2['child'])){		
				echo '<li class="child">
						<a href="javascript:;">
							<i class="'.$v2['class'].'"></i> <span class="title">'.$v2['menu_name'].'</span><span class="arrow "></span>
						</a>';
			
				echo '<ul class="sub-menu">';
				foreach  ($v2['child'] as $k3=>$v3 ) {
					if($v3['class']==null || $v3['class']==''){
						$v3['class']='fa fa-info-circle';
					}
					if($v3['child']!="" && $v3['child']!=null && is_array($v3['child'])){				
						echo '<li>
								<a href="javascript:;">
									<i class="'.$v3['class'].'"></i> <span class="title">'.$v3['menu_name'].'</span><span class="arrow "></span>
								</a>';
						
						echo '<ul class="sub-menu">';
						foreach  ($v3['child'] as $k4=>$v4 ) {
							if($v4['class']==null || $v4['class']==''){
								$v4['class']='fa fa-info-circle';
							}
							echo '<li><a href="javascript:;"><i class="'.$v4['class'].'"></i> '.$v4['menu_name'].'</a>';
						}
						echo '</ul>';
						echo '</li>';
					}else{
						echo '<li class="">
								<a href="'.$v3['menu_link'].'" '.(((int)$v3['id']==237)?'target="blank"':'').'>
									<i class="'.$v3['class'].'"></i> <span class="title">'.$v3['menu_name'].'</span>
								</a>
							</li>';
					}
				}
				echo '</ul>';
				echo '</li>';
			}else{
				echo '<li class="">
						<a href="'.$v2['menu_link'].'">
							<i class="'.$v2['class'].'"></i> <span class="title">'.$v2['menu_name'].'</span>
						</a>
					</li>';
			}
			
		}
		echo '</ul>';
		echo '</li>';
	}else if ($v['is_active']==1){
		echo '<li class="">
				<a href="'.$v['menu_link'].'">
					<i class="'.$v['class'].'"></i> <span class="title">'.$v['menu_name'].'</span>
				</a>
			</li>';
	}
} 
?>
		
		</ul>
		<!-- END SIDEBAR MENU -->
	</div>
</div>
<!-- END SIDEBAR -->
