<?php
$dd = new CMS_Functions ();
foreach ($this->varams as $k=>$v) {
	$this->data ['title'] = str_replace(":".$k, $v, $this->data ['title']);
}

$ti = explode ( '|', $this->data ['title'] );
$vxin = "";
if (isset ( $this->varams ['xin'] )) {
	$vxin = $this->varams ['xin'];
}


 $id = $this->identity;
?>
<div class="page-content">

	<!-- BEGIN PAGE HEADER-->
	<div class="row" >
		<div class="col-md-12">
			<!-- BEGIN PAGE TITLE & BREADCRUMB-->
			<h3 class="page-title">
			
		<?php echo $ti[0]; ?> <small><?php echo $ti[1]; ?></small>
<?php if(isset($this->varams['debug'])&&$this->varams['debug']==1){?>
<div class="col-md-12">
					<i style="font-size: 40px; color: #CCC" class="fa fa-align-justify"><a
						style="color: #CCC"
						href="/prabacontent/prabaeditor/editpage/id/<?php echo $this->varams['page']; ?>">PageID :<?php echo $this->varams['page'];?></a></i>
				</div>	
<?php } ?>	
		</h3>

			<ul class="page-breadcrumb breadcrumb">
				<?php if(in_array(1, $this->identity->roles)) { ?>
				
				<?php } ?>
		<?php
		$cumb = unserialize ( $this->data ['breadcrumb'] );
		foreach ( $cumb as $v ) {
			
			?>
		<li><i class="fa <?php echo $v['class'];?>"></i> <a
					href="<?php echo $v['href'];?>"><?php echo $v['name'];?></a> <i
					class="fa fa-angle-right"></i></li>
		<?php
		}
		?>
			
		</ul>
			<!-- END PAGE TITLE & BREADCRUMB-->
		</div>
	</div>
	<!-- END PAGE HEADER-->
<div class="row ui-sortable" id= "sortable_portlets">
	
	
<!--h1><div id="filtera">FILTER</div></h1>-->	
<?php
 
$VV = new Model_Prabasystem ();


foreach ( $this->element as $k => $v ) {
ksort($v);	

	?>		

		<div class="col-md-12">
			<div class="alert alert-success alert-dismissable hidden"
				id="alertinfo">
				<button type="button" class="close" data-dismiss="alert"
					aria-hidden="true"></button>
				<span id="alertmsg"><strong>Warning!</strong> Something went wrong.
					Please check.</span>
			</div>
	
<?php
	
	foreach ( $v as $vv ) {
		
		?>
	
<?php if(isset($this->varams['debug'])&&$this->varams['debug']==1){?>
<div class="col-md-12">
			<i style="font-size: 40px; color: #CCC"
				class="fa fa-arrow-circle-o-down"><a style="color: #CCC"
				href="/prabacontent/prabaeditor/editportlet/id/<?php echo $vv; ?>"> PortletId : <?php echo $vv;?></a></i>
		</div>	
<?php } ?>	
<span id='portlet_<?php echo $vv;?>'>	
<?php
		if (is_numeric ( $vv )) {
			echo $this->action ( 'index', 'prabaportlet', 'default', array (
					'id' => $vv,
					'xin' => $vxin,
					'pparam'=> $this->varams
			) );
		} else {
			$cat = $VV->connvert ( $vv );
			if (! isset ( $cat [3] )) {
				$cat = array ();
			}
			echo $this->action ( $cat [2], $cat [1], $cat [0], $cat [3], array (
					'xin' => $vxin, 'pparam'=> $this->varams 
			) );
		}
		echo '</span>';
	}
	
	?>
</div>		
<?php
}
?>
</div>
</div>
<!--end page-content-->


<div id="ajax-modal" class="modal fade" tabindex="-1"></div>
<script>
	
jQuery(document).ready(function() {
$("#filtera").click(function(){
	
	$.ajax({
			url:"/prabagen/portletajax/id/566/view/ajax",
			type:'html',
			beforeSend:function(){
				
			},
			complete:function(result){
			
			},
			success: function(data){
				alert("ok");
				$("#portlet_567").html(data);	
			},
			error:function(){
			
			}
		});
	
	
});	

	//$("#sortable_portlets").sortable({
		//connectWith: ".portlet",
		//items: ".portlet",
		//opacity: 0.8,
		//coneHelperSize: true,
		//placeholder: 'sortable-box-placeholder round-all',
		//forcePlaceholderSize: true,
		//tolerance: "pointer"
	//});

	//$(".column").disableSelection();

 $("#getdebug").click(function(){
		     var url = document.URL + "/debug/1";
		     var res = url.replace("#", "");
		     window.open(res, '', '');
			return false;
		     
		     
		});
     
         

});
</script>
