<?php //$this->layout()->nestedLayout = 'norightcol'; 
//print_r($this->data);die();

//Zend_Debug::dump($this->params);
?>
<script type="text/javascript">
    $(document).ready(function(){
	     $(".toconfirmdel").click(function(){
		     rel = $(this).attr('rel');
		     if(rel=='detail'){
				return true;
		     }
		     else{
			 	var answer = confirm("Are you sure ?");
			 	if(answer){
					return true;
				}else{
					return false;
				}
		     }
		});
     
     
$("#generated").click(function(){
	var answer = confirm("Anda yakin akan melakukan generate script dan menjalankan cron?");
			 	if(answer){
					getSecond();      
				}else{
					return false;
				}
	 

});	
	
getSecond= function() {

	
	
	$('#loader').show();
	$.ajax({
	url: "/pm/allert/pmajaxer",
	dataType: "json",
	success: function(data) {
			if(data.success){
				$('#loader').hide().delay(5000);
				alert("ok");
			} else {
				$('#loader').hide().delay(5000);
				alert("nok");
				}
    },
	timeout:900,
	error:function(){
			$('#loader').hide().delay(5000);
			alert("eror");
	},
});

	
}
     
     
  });
</script> 

<div class="pageHead">
List Allerts
    
</div>

<form enctype="application/x-www-form-urlencoded" action="" method="get"><dl class="zend_form">

<dt id="query-label"><label>Allert Type</label></dt>
<dd id="query-element">
<?php 

	$selected =  array(
	1=>'selected',
	2=>'selected',
	3=>'selected',
	);
?>	

	
<select name="cat" id="fsearch" class="formSelect">
<option    value="">ALL</option>
<option  <?php echo ($this->cat=='SMS') ? "selected":"" ; ?> value="SMS">SMS</option>
<option   <?php echo ($this->cat=='EMAIL') ? "selected":"" ; ?> value="EMAIL" >EMAIL</option>
<!--
<option   <?php echo ($this->cat=='INBOX')? "selected":"" ; ?> value="INBOX">INBOX</option>
-->
</select>
<!--
<select name="seg">		
	  <option value="">ALL</option>
		<option value="CMS">CMS</option>
		<option value="FMS">FMS</option>
		<option value="GPS">GPS</option>
		<option value="NWS">NWS</option>
		<option value="PMS">PMS</option>
		<option value="RUS">RUS</option>
		<option value="TBS">TBS</option>
</select>

<tr><td>No Order :</td>
	<td>
		<input type="text" name="noorder" id="noorder" value="" size="30" />
	</td>
</tr>
-->
<input type="submit" name="filter" id="search" value="Filter ">
</dd>
</dl>

</form>

<br>
<span style="margin-left=20px;" id="generated" class="toconfirm">
&nbsp;&nbsp;&nbsp;
<a href=#>Cron Generate</a>
</span>
<?php

//echo $this->form;
if($this->proj){

    ?>
<table width="100%" align="left" class='spreadsheet' cellspacing='1'>
<tr>
<th  width="2%">No</th>

<th width="25%">ALERT_NAME</th>
<th >Status</th>
<th>ALERT_FORMULA</th>
<th>ALERT_TYPE</th>

<th>Action</th>
</tr>
<?php
   $i = 1;
   foreach($this->proj as $data){
   ($i%2==0) ? $c='evenrow': $c='oddrow';
       
  ?>  
    
<tr class="<?php echo $c; ?>" >
<td><?php 
  echo $i;
?></td>


<td><!--<a href="/pm/parentwf/createproject/ID/<?=$data['PROJECT_ID'];?>"> -->
	<?php
echo $data['ALERT_NAME'];
?></a></td>

<td><?php

echo ($data['STATUS']=='1')? 'Active' : 'Not Active';
?></td>

<td><?php
echo $data['ALERT_FORMULA'];
?></td>


<td><?php
echo $data['ALERT_TYPE'];
?>
</td>
<td>
<?php
 
if($data['NIK_PM'] == $this->nik || in_array('ADMIN PM', $this->roles)) { ?>


<span class="toconfirm">
<a href="/pm/parentwf/createalerts/ID/<?=$data['ID'];?>">Update</a></span>
<span class="toconfirm">&nbsp;
<span class="toconfirm toconfirmdel">
<a href="/pm/parentwf/createalerts/ID/<?=$data['ID'];?>/act/del">delete</a></span>
<span class="toconfirm">
<?php } ?>
</td>
</tr>
<?  
  $i++;
   }  

?>

</table>
<? } ?>
<?php 
if($this->edit)
{
echo $this->form;
}

?>
