<?php
$dd = new CMS_Functions ();

?>
<?php // $this->layout()->nestedLayout = 'login'; ?>
<div class="page-content">

	<!-- BEGIN PAGE HEADER-->
	<div class="row" id="sortable_portlets">
		<div class="col-md-12">
			<!-- BEGIN PAGE TITLE & BREADCRUMB-->
			<h3 class="page-title">View Portlet : <?php echo $this->varams['id']; ?> <small></small></h3>

			<ul class="page-breadcrumb breadcrumb">
				
		<!-- 
		<?php
		$cumb = unserialize ( $this->data ['breadcrumb'] );
		foreach ( $cumb as $v ) {
			
			?>
		<li><i class="fa <?php echo $v['class'];?>"></i> <a
					href="<?php echo $v['href'];?>"><?php echo $v['name'];?></a> <i
					class="fa fa-angle-right"></i></li>
		<?php
		}
		?>
		 -->
		</ul>
			<!-- END PAGE TITLE & BREADCRUMB-->
		</div>
	</div>
	<!-- END PAGE HEADER-->
<?php
// Zend_Debug::dump($this->element);
$VV = new Model_Prabasystem ();

?>		
<div class="row">
		<div class="col-md-12">
			<div class="alert alert-success alert-dismissable hidden"
				id="alertinfo">
				<button type="button" class="close" data-dismiss="alert"
					aria-hidden="true"></button>
				<span id="alertmsg"><strong>Warning!</strong> Something went wrong.
					Please check.</span>
			</div>
		</div>	
		<?php
		$vv = $this->varams['id'];
		?>
	
<?php if(isset($this->varams['debug'])&&$this->varams['debug']==1){?>
<div class="col-md-12">
			<i style="font-size: 40px; color: #CCC"
				class="fa fa-arrow-circle-o-down"><a style="color: #CCC"
				href="/prabacontent/prabaeditor/editportlet/id/<?php echo $vv; ?>"> PortletId : <?php echo $vv;?></a></i>
		</div>	
<?php } ?>	
	
<?php
	// Zend_Debug::dump($vv);die();
		if (is_numeric ( $vv )) {
			echo $this->action ( 'index', 'prabaportlet', 'default', array (
					'id' => $vv,
					'xin' => $vxin 
			) );
		} else {
			$cat = $VV->connvert ( $vv );
			if (! isset ( $cat [3] )) {
				$cat = array ();
			}
			echo $this->action ( $cat [2], $cat [1], $cat [0], $cat [3], array (
					'xin' => $vxin 
			) );
		}
	
	
	?>
</div>		


</div>
<!--end page-content-->


<div id="ajax-modal" class="modal fade" tabindex="-1"></div>
<script>
	
jQuery(document).ready(function() {
$('body').addClass('page-header-fixed page-sidebar-fixed page-footer-fixed');
App.init();


            $("#sortable_portlets").sortable({
                connectWith: ".portlet",
                items: ".portlet",
                opacity: 0.8,
                coneHelperSize: true,
                placeholder: 'sortable-box-placeholder round-all',
                forcePlaceholderSize: true,
                tolerance: "pointer"
            });

            $(".column").disableSelection();

 $("#getdebug").click(function(){
		     var url = document.URL + "/debug/1";
		     var res = url.replace("#", "");
		     window.open(res, '', '');
			return false;
		     
		     
		});
     
         

});
</script>
