<?php
if ($this->pageCount) {
    // you need to add each of the request parameters to url
    $params = Zend_Controller_Front::getInstance()->getRequest()->getParams();
    //Zend_Debug::dump($params); die();
    // remove the system parameters
    unset($params['module']);
    unset($params['controller']);
    unset($params['action']);
    unset($params['v']);
?>

<div class="" style="margin:0px">
	<ul class="pagination pagination-sm" style="margin:0px">
	<!-- Previous page link -->
<?php
if (isset($this->previous)) {
?>
	<li>
		<a href="<?php echo $this->url(array_merge($params, array('page' => $this->first)));?>">First</a>
	</li>
	<li>
		<a href="<?php echo $this->url(array_merge($params, array('page' => $this->previous)));?>"><i class="fa fa-angle-left"></i></a>
	</li>
<?php
} else {
?>

<?php
}
?>

<!-- Numbered page links -->
<?php
//Zend_Debug::dump($this->pagesInRange); die();
$k=0;
foreach ($this->pagesInRange as $page) {
	//if($k>=2 && $k<7){
	if ($page != $this->current) {
?>
	<li>
		<a href="<?php echo $this->url(array_merge($params, array('page' => $page)));?>"><?php echo $page;?></a>
	</li>
<?php
	} else {
?>
	<li class="disabled">
		<a href="#"><?php echo $page;?></a>
	</li>
<?php
	}
	//}
	$k++;
}
?>

<!-- Next page link -->
<?php
if (isset($this->next)) {
?>
	<li>
		<a href="<?php echo $this->url(array_merge($params, array('page' => $this->next)));?>"><i class="fa fa-angle-right"></i></a>
	</li>
	<li>
		<a href="<?php echo $this->url(array_merge($params, array('page' => $this->last))); ?>">Last</a>
	</li>
<?php
} else {
?>

<?php
}
?>

	</ul>
</div>
<?php
}
?>
