<?php

	$m = new Model_System();
	$auth = Zend_Auth::getInstance();
	$identity = $auth->getIdentity();
	$uname = $identity->uname;
	$uid = $identity->uid;
	$unit = $this->dataglobal[173]['data'];
	//$unit = $m->call_api(173);
	//Zend_Debug::dump($cek); die("tes123");
	//Zend_Debug::dump($identity);
?>

<div class="col-md-12">
	<div class="portlet light">
		<div class="portlet-title">
			<div class="caption">
				<i class="icon-pencil font-blue-sharp"></i>
				<span class="caption-subject font-blue-sharp bold uppercase">
					Hasil Test
				</span>
			</div>
			<!--<div class="actions">
				<img src="/images/jasamarga.jpg" height="50px">
			</div>-->
		</div>
		
		<div class="portlet-body">
			<form id="filtermodul" class="" novalidate="novalidate">
			<div class="form-group">
				<label class="col-sm-1 control-label bold">Modul :</label>
				<div class="col-sm-4">
					<select name="modul" class="form-control " id="modul">
						<!--<option value="">ALL</option>-->
						<option value="a">Petugas Pengumpul Tol</option>
						<option value="b">Petugas Layanan Jalan Tol</option>
						<option value="c">Petugas Paramedis</option>
						<option value="d">Petugas Rescue</option>
					</select>
				</div>
				<label class="col-sm-1 control-label bold">Unit Kerja :</label>
				<div class="col-sm-4">
					<select name="unit" class="form-control " id="unit">
						<option value="">ALL</option>
					<?php
						foreach($unit as $k=>$v){
							echo '<option value="'.$v['work_unit'].'">'.$v['work_unit'].'</option>';
						}
					?>						
					</select>
				</div>
					<button id="btnsubmit" class="btn blue" type="button">Go</button>
			</div>
			</form>
		</div>
	</div>
</div>

<script>

jQuery(document).ready(function() {
	
	$('.page-head').remove();
	$('.page-title').remove();
	$('.page-breadcrumb').remove();
		
});

/*function detail(){
	
	// var modul1 = $("#select_modul").val();
	// alert("tes");
	//console.log(modul1);
		$.ajax({
			url:"/prabajax/postform/xxxxid/164",
			content:'json',
			type:'POST',
			data:$('form#filtermodul').serialize(),
			beforeSend:function(data){
			},
			
			success: function(){
			},
				
			complete: function(){
			},
		
		timeout:9000,
		error:function(e){
			console.log(e);
		},
		});

}*/
</script>
