<?php 
if($_GET[x]){
  $authAdapter = Zend_Auth::getInstance();
	$identity = $authAdapter->getIdentity();
	Zend_Debug::dump($identity);
}
	$authAdapter = Zend_Auth::getInstance();
	$identity = $authAdapter->getIdentity();
	$uname = $identity->uname;
?>
<div class="col-md-12">
	<div class="portlet light">
		<div class="portlet-title">
			<div class="caption">
				<i class="icon-pencil font-blue-sharp"></i>
				<span class="caption-subject font-blue-sharp bold uppercase">
					Selamat Datang di Uji Kompetensi Petugas Operasional Online
				</span>
			</div>
			<div class="actions">
				<!--<img src="/images/jasamarga.jpg" height="50px">-->
				<img src="http://hr.jasamarga.co.id:8001/msdm6/foto/<?php echo $uname; ?>.JPG" height="100px">
			</div>
		</div>
		<div class="portlet-body">
			<ul>
				<li>Uji Kompetensi ini dilakukan di Cabang masing-masing pada tanggal 25-Juli-2016 mulai pukul 08.00 - 17.00 WIB (jadwal menyesuaikan dari SDM masing-masing Cabang).</li>
				<li>Uji kompetensi ini berisikan 30 soal dengan durasi pengerjaan selama 60 menit terhitung saat soal pertama terbuka.</li>
				<li>Mekanisme pengerjaan soal adalah pilihan ganda, Anda diminta untuk memilih satu jawaban yang paling tepat dengan cara menekan (klik) pada bulatan yang tertera untuk setiap pilihan jawaban.</li>
				<li>Jika semua soal telah terisi maka, tekan tombol 'Kirim' yang ada pada bagian bawah halaman soal. Apabila waktu masih memungkinkan dan ada soal yang belum terjawab maka, Anda diijinkan untuk menyelesaikan semua soal yg ada.</li>
				<li>Namun, apabila waktu 60 menit yang diberikan telah habis maka, secara otomatis tes uji kompetensi ini sudah berakhir dan jawaban Anda sudah tersimpan secara otomatis dalam sistem.</li>
			</ul>
			<span class="caption-subject font-blue-sharp bold uppercase">
				Selamat Bekerja dan Semoga Sukses
			</span><br><br>
			<p class="bold">
				Untuk memulai Uji Kompetensi Petugas Operasional silahkan klik tombol di bawah ini.
			</p>
			<a class="btn klik blue" href="#">MULAI</a>
			
			<!--<a class="btn blue" href="/kompetensi/prabagen/index/page/142">MULAI</a>-->
		</div>
	</div>
</div>
</div>

</div>

<script>
jQuery(document).ready(function() {
	
	$('.page-head').remove();
	$('.page-title').remove();
	$('.page-breadcrumb').remove();
	
	$('.klik').click(function(){
		
		
		$.ajax({
			url:"/kompetensi/ajax/klik",
			content:'json',
			type:'get',
		beforeSend:function(){
			
		},
		complete:function(result){
					
		},
		success: function(data){
			if(data.result==true) {
							window.location.href = "/kompetensi/prabagen/index/page/178";
			}
		},
		error:function(){
		
		}
	});

		
		
		
	});
	
	<?php
	$current_ts  = time();
	$deadline_ts = mktime(21,0,0,7,25,2018);
	if ($current_ts > $deadline_ts){
	?>
	   $('.klik').hide();
	   alert("Maaf, Anda sudah terlambat untuk melakukan tes uji kompetensi");
	<?php
	}
	?>
	
});	
</script>
