<?php 
// Zend_Debug::dump($this->varams);

$cc = new Model_System();
$sel = $cc->call_api(168);
$el = array (
	'a'=>'b',
	'b'=>'c',
	'c'=>'d',
	'd'=>'e',
	'e'=>'f',
	'f'=>'g',
	'g'=>'h',
	'h'=>'i',
	'i'=>'j',
	'j'=>'k',
	'k'=>'l',
	'l'=>'m',
	'm'=>'n',
	'n'=>'o',
	'o'=>'p',
	'p'=>'q',
	'q'=>'r',
	'r'=>'s',
	's'=>'t',
	't'=>'u',
	'u'=>'v',
	'v'=>'w',
	'w'=>'x');


// Zend_Debug::dump($sel); //die();

?>		
		
		<div class="col-md-8 ">
                    <!-- BEGIN EXAMPLE TABLE PORTLET-->
                    <div class="portlet box green">
                        <div class="portlet-title">
                            <div class="caption">
                                <i class="fa fa-user"></i>Input Modul</div>
                            <div class="tools">
                                <a href="javascript:;" class="collapse"></a>                                
                            </div>
                            <div class="actions">
                                                            </div>
                            
                        </div>
                        <div class="portlet-body form">
                        <form id="id450" class="class450">
					<input type="hidden" value="169" name="xxxxid">
        
    <div class="form-body">
    <div class="form-group">
                    <label for="ID">Modul Name</label>
                    <input type="hidden" name="modhid" placeholder="" id="modhid" class="form-control " value="<?php echo $el[$sel['data']['module_name']]; ?>">
                    <span class="help-block">
					<input type="text" name="modul" placeholder="" id="ID" class="form-control " value="<?php echo $el[$sel['data']['module_name']]; ?>"><span class="help-block">
                        
                    </span>
                    </div>
                    <div class="form-group">
                    <label for="mdescr">Modul Description</label><input type="text" name="mdescr" placeholder="" id="mdescr" class="form-control " value=""><span class="help-block">
                        
                    </span>
                    </div>
                    
                    <div class="form-group">
                    <label for="startdate">Start Date</label><input type="text" name="startdate" placeholder="" id="startdate" class="form-control date-picker " value=""><span class="help-block">
                        
                    </span>
                    </div>
                    
                    <div class="form-group">
                    <label for="enddate">End Date</label><input type="text" name="enddate" placeholder="" id="enddate" class="form-control date-picker " value=""><span class="help-block">
                        
                    </span>
                    </div>
                    
                    
                    
                  <div class="form-group">
                    <label for="startdate">Jumlah Pertanyaan</label><input type="text" name="count" placeholder="" id="count" class="form-control " value=""><span class="help-block">
                        
                    </span>
                    </div>
                    
                    
                    
                    </div>    
    <div class="form-actions">
    <button type="submit" class="btn red">Submit</button></div>    
    


</form>

<script>

jQuery(document).ready(function() {

    var Functid450 = function () {

    


    var handleAdd = function() {
      
            var formid450 = $('#id450');
            var error1 = $('.alert-danger', formid450);
            var success1 = $('.alert-success', formid450);

            formid450.validate({
                errorElement: 'span', //default input error message container
                errorClass: 'help-block', // default input error message class
                focusInvalid: false, // do not focus the last invalid input
                ignore: "",
                rules: {
                    
                    mdescr: {
                        required :true
                    },
                    
					count: {
                        required :true
                    },
                    startdate: {
                        required :true
                    },
                    enddate: {
                        required :true
                    },
                    },

                invalidHandler: function (event, validator) { //display error alert on form submit              
                    success1.hide();
                    error1.show();
                    App.scrollTo(error1, -200);
                },

                highlight: function (element) { // hightlight error inputs
                    $(element)
                        .closest('.form-group').addClass('has-error'); // set error class to the control group
                },

                unhighlight: function (element) { // revert the change done by hightlight
                    $(element)
                        .closest('.form-group').removeClass('has-error'); // set error class to the control group
                },

                success: function (label) {
                    label
                        .closest('.form-group').removeClass('has-error'); // set success class to the control group
                },

                submitHandler: function (form) {
                    success1.show();
                    error1.hide();
                       submitForm();
                    return false;
                }
            });
    }
    
    var submitForm = function(){
        
        var data = $('form#id450');
        
        //alert("s");
        $.ajax({
            url:"/prabajax/postform/xxxxid/",
            content:'json',
            type:'post',
            data:data.serialize(),
            beforeSend:function(){
                $('#alertinfo').addClass('hidden');
                $('#processbar').removeClass('hidden');
                $('html,body').animate({
                    scrollTop: $('h3.page-title').offset().top
                }, 800);
                $('#alertinfo').removeClass('alert-success');
                $('#alertinfo').removeClass('alert-warning');
                $('#alertinfo').removeClass('alert-danger');
                $('#alertinfo').removeClass('alert-info');
            },
            complete:function(result){
                //alert("done");
                $('#processbar').addClass('hidden');
            },
            success: function(data){
                //alert("ok");
                //console.log(data);
                if(data.transaction!=undefined){
                    if(data.transaction==true){
                    
                        $('#alertinfo').addClass('alert-success');
                        $('#alertmsg').html("<strong>Success!</strong> Sukes");
                    }else{
                        
                        $('#alertinfo').addClass('alert-warning');
                        $('#alertmsg').html("<strong>Failed!</strong> "+data.message);
                    }
                }else{
                        
                    $('#alertinfo').addClass('alert-info');
                    $('#alertmsg').html("<strong>Error!</strong> System is busy, please try again.");
                }
                $('#alertinfo').removeClass('hidden');
            },
            error:function(){
                //alert("not");
                $('#alertinfo').addClass('alert-info');
                $('#alertmsg').html("<strong>Error!</strong> System is busy, please try again.");
                $('#alertinfo').removeClass('hidden');
            }
        });
    }
    
    return {
        //main function to initiate the module
        init: function () {
            handleAdd();
        }

    };

}();
Functid450.init();
 $('.date-picker').datepicker({
                rtl: App.isRTL(),
                orientation: "left",
                autoclose: true,
                format: 'yyyy-mm-dd',
            });
});
</script>
    
                        </div>
                    </div>
                    <!-- END EXAMPLE TABLE PORTLET-->
</div>


