<?php
	$m = new Model_System();
	$auth = Zend_Auth::getInstance();
	$identity = $auth->getIdentity();
	$uname = $identity->uname;
	$uid = $identity->uid;
	//$data = $this->dataglobal[164];
	//$cek = $m->call_api(164);
	//Zend_Debug::dump($cek); die("tes123");
	//Zend_Debug::dump($identity);

?>

<style>

.easyPieChart {
    position: relative;
    text-align: center;
}

.easyPieChart canvas {
    position: absolute;
    top: 0;
    left: 0;
}

</style>

<script src="/assets/core/global/plugins/jquery.min.js"></script>
<script src="/assets/core/global/plugins/highcharts/js/highcharts.js"></script>
<script src="/assets/core/global/plugins/highcharts/js/modules/exporting.js"></script>

<div class="page-content">
	
	<div class="row">
		<div class="col-md-12">
			<div class="portlet light">
				<div class="portlet-title">
					<div class="caption">
						<i class="icon-pencil font-blue-sharp"></i>
						<span class="caption-subject font-blue-sharp bold uppercase">
							Report Uji Kompetensi Online
						</span>
					</div>
				</div>
					
			<div class="portlet-body">
				<div class="row">
					<div class="col-md-6">
						<div class="portlet">
							<div class="portlet-title">
								<div class="caption">
									<i class="fa fa-reorder"></i>Jumlah Peserta
								</div>
								<div class="tools">
									<a href="#portlet-config" data-toggle="modal" class="config">
									</a>
									<a href="javascript:;" class="reload">
									</a>
								</div>
							</div>
							<div class="portlet-body">
								<div id="chart_1" class="chart"></div>
							</div>
						</div>
					</div>
					<div class="col-md-6">
						<div class="portlet">
							<div class="portlet-title">
								<div class="caption">
									<i class="fa fa-reorder"></i>Status Test
								</div>
								<div class="tools">
									<a href="#portlet-config" data-toggle="modal" class="config">
									</a>
									<a href="javascript:;" class="reload">
									</a>
								</div>
							</div>
							<div class="portlet-body">
								<div id="chart_2" class="chart"></div>
							</div>
						</div>
					</div>
				</div>
			</div>
			</div>
		</div>
	</div>
	
	<div class="row">
		<div class="col-md-12">
			<div class="portlet box grey">
				<div class="portlet-title">
					<div class="caption">
						<i class="fa fa-user"></i>List Peserta
					</div>
					<div class="tools">
						
					</div>
					<div class="actions">
					
					</div>
				</div>
				<div class="portlet-body">
					<table class="table table-striped table-bordered table-hover" id="user_table">
						<thead>
							<tr>
								<th style="text-align:center"> NPP </th>
								<th style="text-align:center"> NAMA </th>
								<th style="text-align:center"> LOKASI KERJA </th>
								<th style="text-align:center"> JABATAN </th>
								<th style="text-align:center"> STATUS </th>
							</tr>
						</thead>
						<tbody>
							
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
			
</div>

<script>

jQuery(document).ready(function() {
	
	$('.page-head').remove();
	$('.page-title').remove();
	$('.page-breadcrumb').remove();
	
	$('#user_table').dataTable({
		ajax:"",
		"aLengthMenu": [
			[5, 15, 20, -1],
			[5, 15, 20, "All"] // change per page values here
		],
		// set the initial value
		"iDisplayLength": 10,
		//"sPaginationType": "bootstrap",
		"bProcessing": true,
		"ordering": false,
		"language": {
			"sProcessing": '<div class="loading-spinner" style="width: 200px; margin-left: -100px; ">' +
			'<div class="progress progress-striped active">' +
			  '<div class="progress-bar" style="width: 100%;"></div>' +
			'</div>' +
		  '</div>',
		"emptyTable": "No data available in table",
		"info": "Showing _START_ to _END_ of _TOTAL_ entries",
		"infoEmpty": "No entries found",
		"infoFiltered": "(filtered1 from _MAX_ total entries)",
		"lengthMenu": "Show _MENU_ entries",
		"search": "Search:",
		"zeroRecords": "No matching records found",
		"sSearch": "Search all columns:"
		},
		
		buttons: [
		{ extend: 'print', className: 'btn dark btn-outline' },
		{ extend: 'copy', className: 'btn red btn-outline' },
		{ extend: 'pdf', className: 'btn green btn-outline' },
		{ extend: 'excel', className: 'btn yellow btn-outline ' },
		{ extend: 'csv', className: 'btn purple btn-outline ' },
		{ extend: 'colvis', className: 'btn dark btn-outline', text: 'Columns'}
		],
		"dom": "<'row' <'col-md-12'B>><'row'<'col-md-6 col-sm-12'l><'col-md-6 col-sm-12'f>r><'table-scrollable't><'row'<'col-md-5 col-sm-12'i><'col-md-7 col-sm-12'p>>", 
		"aoColumnDefs": [{
				'bSortable': false,
				'aTargets': [0]
			}
		]
	});
	
});

	var jml_user = new Highcharts.Chart({
		colors: ["red", "orange", "green", "blue"],
		chart: {
			renderTo: 'chart_1',
			type: 'pie',
			marginRight: 30
		},
		title: {
			text: ''
		},
		tooltip: {
			pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b><br> Jumlah: {point.y}'
		},
		plotOptions: {
			pie: {
				size: 250,
				allowPointSelect: true,
				cursor: 'pointer',
				dataLabels: {
					enabled: false,
					format: '<b>{point.name}</b>: {point.percentage:.1f} % <br> Jumlah: {point.y}',
					style: {
						color: (Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black'
					}
				}
			}
		},
		credits: {
			enabled: false
		},
		series: [{
			name: 'Percentage',
			colorByPoint: true,
			data: [{
				name: 'Petugas Pengumpul Tol',
				y: 30,
				sliced: true,
				selected: true
			}, {
				name: 'Petugas Layanan Jalan Tol',
				y: 43
			}, {
				name: 'Petugas Paramedis',
				y: 17
			}, {
				name: 'Petugas Rescue',
				y: 10
			}]
		}]
	});

	var status_test = new Highcharts.Chart({
		colors: ["#80d4ff", "#8a8a5c"],
		chart: {
			renderTo: 'chart_2',
			type: 'pie',
			marginRight: 30
		},
		title: {
			text: ''
		},
		tooltip: {
			pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b><br> Jumlah: {point.y}'
		},
		plotOptions: {
			pie: {
				size: 250,
				allowPointSelect: true,
				cursor: 'pointer',
				dataLabels: {
					enabled: false,
					format: '<b>{point.name}</b>: {point.percentage:.1f} % <br> Jumlah: {point.y}',
					style: {
						color: (Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black'
					}
				}
			}
		},
		credits: {
			enabled: false
		},
		series: [{
			name: 'Jumlah',
			colorByPoint: true,
			data: [{
				name: 'Sudah Test',
				y: 35
			}, {
				name: 'Belum Test',
				y: 65,
				sliced: true,
				selected: true
			}]
		}]
	});
	
</script>