<?php

	$m = new Model_System();
	$auth = Zend_Auth::getInstance();
	$identity = $auth->getIdentity();
	$uname = $identity->uname;
	$uid = $identity->uid;
	// $data = $this->dataglobal[164]['data'];
	//$cek = $m->call_api(164);
	//Zend_Debug::dump($cek); die("tes123");
	//Zend_Debug::dump($identity);
?>

<div class="col-md-12">
	<div class="portlet light">
		<div class="portlet-title">
			<div class="caption">
				<i class="fa fa-user"></i>List Hasil Test
			</div>
			<div class="tools">
				
			</div>
			<div class="actions">
			
			</div>
		</div>
		<div class="portlet-body">
			<table class="table table-striped table-bordered table-hover" id="modul_table">
				<thead>
					<tr>
						<th style="text-align:center"> ID </th>
						<th style="text-align:center"> NPP </th>
						<th style="text-align:center"> NAMA </th>
						<th style="text-align:center"> LOKASI KERJA </th>
						<th style="text-align:center"> JABATAN </th>
						<th style="text-align:center"> NILAI </th>
						<th style="text-align:center"> HASIL </th>
					</tr>
				</thead>
				<tbody>
					
				</tbody>
			</table>
		</div>
	</div>
</div>


<script>

jQuery(document).ready(function() {
	
	$('.page-head').remove();
	$('.page-title').remove();
	$('.page-breadcrumb').remove();
	/*
	$('#modul_table').dataTable({
		ajax: "/prabajax/callapi/api/164",
		"columns": [
			{ "data": "user_id"},
            { "data": "uname"},
            { "data": "fullname"},
            { "data": "work_unit"},
            { "data": "jabatan"},            
			{ "data": "hasil"}
		],
		"aLengthMenu": [
			[5, 15, 20, -1],
			[5, 15, 20, "All"] // change per page values here
		],
		// set the initial value
		"iDisplayLength": 10,
		//"sPaginationType": "bootstrap",
		"bProcessing": true,
		"ordering": false,
		"language": {
			"sProcessing": '<div class="loading-spinner" style="width: 200px; margin-left: -100px; ">' +
			'<div class="progress progress-striped active">' +
			  '<div class="progress-bar" style="width: 100%;"></div>' +
			'</div>' +
		  '</div>',
		"emptyTable": "No data available in table",
		"info": "Showing _START_ to _END_ of _TOTAL_ entries",
		"infoEmpty": "No entries found",
		"infoFiltered": "(filtered1 from _MAX_ total entries)",
		"lengthMenu": "Show _MENU_ entries",
		"search": "Search:",
		"zeroRecords": "No matching records found",
		"sSearch": "Search all columns:"
		},
		
		buttons: [
		{ extend: 'print', className: 'btn dark btn-outline' },
		{ extend: 'copy', className: 'btn red btn-outline' },
		{ extend: 'pdf', className: 'btn green btn-outline' },
		{ extend: 'excel', className: 'btn yellow btn-outline ' },
		{ extend: 'csv', className: 'btn purple btn-outline ' },
		{ extend: 'colvis', className: 'btn dark btn-outline', text: 'Columns'}
		],
		"dom": "<'row' <'col-md-12'B>><'row'<'col-md-6 col-sm-12'l><'col-md-6 col-sm-12'f>r><'table-scrollable't><'row'<'col-md-5 col-sm-12'i><'col-md-7 col-sm-12'p>>", 
		"aoColumnDefs": [{
				'bSortable': false,
				'aTargets': [0]
			}
		]
	});
	*/
});

$("#btnsubmit").click(function(){
	detail();
});
	
function detail(){
	
	var table = $('#modul_table');
	var modul = $("#modul").val();
	var unit = $("#unit").val();
	table.dataTable().fnDestroy();
	var oTable = table.dataTable({
		ajax: "/prabajax/callapi/api/164/modul/"+modul+"/unit/"+unit,
		"columns": [
			{ "data": "user_id"},
			{ "data": "uname"},
			{ "data": "fullname"},
			{ "data": "work_unit"},
			{ "data": "jabatan"},            
			{ "data": "nilai"},
			{ "data": "hasil",
				"createdCell": function (td, cellData, rowData, row, col) {			
				  if (rowData.hasil == 'LULUS') {
					$(td).css('color', 'green').css('font-weight', 'bold')
				  }
				  else if(rowData.hasil == 'TIDAK LULUS') {
					$(td).css('color', 'red').css('font-weight', 'bold')
				  }
				}
			}
		],
		/*
		"fnRowCallback": function( nRow, aData, iDisplayIndex, iDisplayIndexFull ) {
			if ( aData[6] == "LULUS" )
			{
				$('td', nRow).css('background-color', 'Green');
			}
			else if ( aData[6] == "TIDAK LULUS" )
			{
				$('td', nRow).css('background-color', 'Red');
			}
		},
		*/
		"aLengthMenu": [
			[5, 15, 20, -1],
			[5, 15, 20, "All"] // change per page values here
		],
		// set the initial value
		"iDisplayLength": 10,
		//"sPaginationType": "bootstrap",
		"bProcessing": true,
		"ordering": false,
		"language": {
			"sProcessing": '<div class="loading-spinner" style="width: 200px; margin-left: -100px; ">' +
			'<div class="progress progress-striped active">' +
			  '<div class="progress-bar" style="width: 100%;"></div>' +
			'</div>' +
		  '</div>',
		"emptyTable": "No data available in table",
		"info": "Showing _START_ to _END_ of _TOTAL_ entries",
		"infoEmpty": "No entries found",
		"infoFiltered": "(filtered1 from _MAX_ total entries)",
		"lengthMenu": "Show _MENU_ entries",
		"search": "Search:",
		"zeroRecords": "No matching records found",
		"sSearch": "Search all columns:"
		},
		
		buttons: [
		{ extend: 'print', className: 'btn dark btn-outline' },
		{ extend: 'copy', className: 'btn red btn-outline' },
		{ extend: 'pdf', className: 'btn green btn-outline' },
		{ extend: 'excel', className: 'btn yellow btn-outline ' },
		{ extend: 'csv', className: 'btn purple btn-outline ' },
		{ extend: 'colvis', className: 'btn dark btn-outline', text: 'Columns'}
		],
		"dom": "<'row' <'col-md-12'B>><'row'<'col-md-6 col-sm-12'l><'col-md-6 col-sm-12'f>r><'table-scrollable't><'row'<'col-md-5 col-sm-12'i><'col-md-7 col-sm-12'p>>", 
		"aoColumnDefs": [{
				'bSortable': false,
				'aTargets': [0]
			}
		]
	});
		
}
</script>