<?php

	$auth = Zend_Auth::getInstance();
	$identity = $auth->getIdentity();
	$fullname = $identity->fullname;
	$uname = $identity->uname;
	$uid = $identity->uid;
	$jabatan = $identity->jabatan;
	//Zend_Debug::dump($identity);
?>

<div class="col-md-12">
	<div class="portlet light">
		<div class="portlet-title">
			<div class="caption">
				<i class="icon-pencil font-blue-sharp"></i>
				<span class="caption-subject font-blue-sharp bold uppercase">
					Summary
				</span>
			</div>
			<!--<div class="actions">
				<img src="/images/jasamarga.jpg" height="50px">
			</div>-->
		</div>
		
		<div class="portlet-body">
			<form class="form-horizontal" role="form">
			<div class="form-body">
				<div class="form-group">
					<label class="col-sm-1 control-label bold">Nama:</label>
					<div class="col-sm-5">
						<p class="form-control-static"> <?php echo $fullname; ?> </p>
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-1 control-label bold">NPP:</label>
					<div class="col-sm-5">
						<p class="form-control-static"> <?php echo $uname; ?> </p>
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-1 control-label bold">Jabatan:</label>
					<div class="col-sm-5">
						<p class="form-control-static"> <?php echo $jabatan; ?> </p>
					</div>
				</div>
			</div>
			</form>
			
			<form class="form-horizontal" role="form">
			<div class="form-body">
				<div class="form-group">
					<label class="col-sm-1 control-label bold" style="color: blue">Status:</label>
					<div class="col-sm-6">
					<?php
						$status = $this->dataglobal[210]['data'];
						//Zend_Debug::dump($status);
						$status_isi = $status['active'];
						if($status_isi==1){
							$lbl_status = 'Sudah Submit On Line Test Pada Tanggal '.$status['answare_date'].'';
						}else{
							$lbl_status = 'Belum Submit On Line Test';
						}
					?>
						<p class="form-control-static"><span class="caption-subject font-red-thunderbird bold"> <?php echo $lbl_status; ?> </span></p>
					</div>
				</div>
			</div>
			</form>
			<?php
				$answer = $this->dataglobal[205]['data'];
				Zend_Debug::dump($answer);
				$answered = 0;				
				for($i=1;$i<=30;$i++) {
					if($answer['P1.'.$i]>0) $answered = $answered+1;
				}
			?>
			<!--<h4 style="color: blue">Status : <font color=red><?php //echo $status_isi; ?></font></h4>-->
			<span class="caption-subject font-blue-sharp bold" style="font-size:16px;line-height:0px;">
				Anda menjawab <?php echo $answered; ?> pertanyaan dari 30 pertanyaan
			</span>
			<!--<h4><font color=black>Anda menjawab <?php //echo $answered; ?> pertanyaan dari 30 pertanyaan</font></h4>--> 
			
		</div>
	</div>
</div>

<script>
jQuery(document).ready(function() {
	
	$('.page-head').remove();
	$('.page-title').remove();
	$('.page-breadcrumb').remove();
	
});
	
</script>