<?php 
$c = new Kompetensi_Model_Tanya();
$c->get_pertanyaan(1);

?>

<div class="col-md-12">
	  <!-- BEGIN ACCORDION PORTLET-->
	<div class="portlet box yellow">
		<div class="portlet-title">
			<div class="caption">
				<i class="fa fa-gift"></i>Modul </div>
			<div class="tools">
				<a href="javascript:;" class="collapse"> </a>
				<a href="#portlet-config" data-toggle="modal" class="config"> </a>
				<a href="javascript:;" class="reload"> </a>
				<a href="javascript:;" class="remove"> </a>
			</div>
		</div>
		<div class="portlet-body">
			<div class="panel-group accordion" id="accordion3">
				
				
				<form id="sub">	
				<input type="hidden" value="171" name="xxxxid">
	
				<?php for($i=1;$i<=30;$i++) { ?>
					
				
				<div class="panel panel-default">
					<div class="panel-heading">
						<h4 class="panel-title">
							<a class="accordion-toggle accordion-toggle-styled collapsed" data-toggle="collapse" data-parent="#accordion3" href="#collapse_3_<?php echo $i;?>"> Pertanyaan  <?php echo $i;?></a>
						</h4>
					</div>
					<div id="collapse_3_<?php echo $i;?>" class="panel-collapse collapse">
						<div class="panel-body">
											<div class="form-group">
                                                <label>Pertanyaan </label>
                                                <textarea name="tanya[<?php echo $i;?>]" class="form-control" rows="3"></textarea>
                                            </div>
											<div class="form-group">
                                                <label>Jawaban  a</label>
                                                <input name="a[<?php echo $i;?>]"class="form-control" />
                                            </div>
                                            <div class="form-group">
                                                <label>Jawaban  b</label>
                                                <input name="b[<?php echo $i;?>]" class="form-control" />
                                            </div>
                                            <div class="form-group">
                                                <label>Jawaban  c</label>
                                                <input name="c[<?php echo $i;?>]" class="form-control" />
                                            </div>
                                            <div class="form-group">
                                                <label>Jawaban  d</label>
                                                <input name="d[<?php echo $i;?>]" class="form-control" />
                                            </div>
                                            <div class="form-group">
                                                <label class="col-md-3 control-label">Jawaban yang benar</label>
                                                <div class="col-md-9">
                                                    <div class="mt-radio-inline">
                                                        <label class="mt-radio">
                                                            <input type="radio" name="jawab[<?php echo $i;?>]" id="optionsRadios25" value="1" checked=""> a
                                                            <span></span>
                                                        </label>
                                                        <label class="mt-radio">
                                                            <input type="radio" name="jawab[<?php echo $i;?>]" id="optionsRadios26" value="2" checked=""> b
                                                            <span></span>
                                                        </label>
                                                         <label class="mt-radio">
                                                            <input type="radio" name="jawab[<?php echo $i;?>]" id="optionsRadios25" value="3" checked=""> c
                                                            <span></span>
                                                        </label>
                                                        <label class="mt-radio">
                                                            <input type="radio" name="jawab[<?php echo $i;?>]" id="optionsRadios26" value="4" checked=""> c
                                                            <span></span>
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>
						</div>
					</div>
					
				</div>
				
				<?php } ?>
				<button type="submit" class="btn red">Submit</button>
				</form>
			</div>
			
			
		</div>
	</div>
	<!-- END ACCORDION PORTLET-->


</div>

<script>



jQuery(document).ready(function() {

    var Functid450 = function () {


    var handleAdd = function() {
      
            var formid450 = $('#sub');
            var error1 = $('.alert-danger', formid450);
            var success1 = $('.alert-success', formid450);

            formid450.validate({
                errorElement: 'span', //default input error message container
                errorClass: 'help-block', // default input error message class
                focusInvalid: false, // do not focus the last invalid input
                ignore: "",
                rules: {
                    
                    'tanya[]': {
                        required :true
                    },
                    
					'jawab[]': {
                        required :true
                    },
                    'a[]': {
                        required :true
                    },
                    'b[]': {
                        required :true
                    },
                    'c[]': {
                        required :true
                    },
                    'd[]': {
                        required :true
                    }
                    //startdate: {
                        //required :true
                    //},
                    //enddate: {
                        //required :true
                    //},
                    },

                invalidHandler: function (event, validator) { //display error alert on form submit              
                    $('.panel-collapse').addClass("in");
                    success1.hide();
                    error1.show();
                    App.scrollTo(error1, -200);
                },

                highlight: function (element) { // hightlight error inputs
                    $(element)
                        .closest('.form-group').addClass('has-error'); // set error class to the control group
                },

                unhighlight: function (element) { // revert the change done by hightlight
                    $(element)
                        .closest('.form-group').removeClass('has-error'); // set error class to the control group
                },

                success: function (label) {
                    label
                        .closest('.form-group').removeClass('has-error'); // set success class to the control group
                },

                submitHandler: function (form) {
                    success1.show();
                    error1.hide();
                       submitForm();
                    return false;
                }
            });
    }
    
    var submitForm = function(){
        
        var data = $('form#sub');
		
		alert("s");
        //alert("s");
        $.ajax({
            url:"/prabajax/postform/xxxxid/",
            content:'json',
            type:'post',
            data:data.serialize(),
            beforeSend:function(){
                $('#alertinfo').addClass('hidden');
                $('#processbar').removeClass('hidden');
                $('html,body').animate({
                    scrollTop: $('h3.page-title').offset().top
                }, 800);
                $('#alertinfo').removeClass('alert-success');
                $('#alertinfo').removeClass('alert-warning');
                $('#alertinfo').removeClass('alert-danger');
                $('#alertinfo').removeClass('alert-info');
            },
            complete:function(result){
                //alert("done");
                $('#processbar').addClass('hidden');
            },
            success: function(data){
                //alert("ok");
                //console.log(data);
                if(data.transaction!=undefined){
                    if(data.transaction==true){
                    
                        $('#alertinfo').addClass('alert-success');
                        $('#alertmsg').html("<strong>Success!</strong> Sukes");
                    }else{
                        
                        $('#alertinfo').addClass('alert-warning');
                        $('#alertmsg').html("<strong>Failed!</strong> "+data.message);
                    }
                }else{
                        
                    $('#alertinfo').addClass('alert-info');
                    $('#alertmsg').html("<strong>Error!</strong> System is busy, please try again.");
                }
                $('#alertinfo').removeClass('hidden');
            },
            error:function(){
                //alert("not");
                $('#alertinfo').addClass('alert-info');
                $('#alertmsg').html("<strong>Error!</strong> System is busy, please try again.");
                $('#alertinfo').removeClass('hidden');
            }
        });
    }
    
    return {
        //main function to initiate the module
        init: function () {
            handleAdd();
        }

    };

}();
Functid450.init();
 $('.date-picker').datepicker({
                rtl: App.isRTL(),
                orientation: "left",
                autoclose: true,
                format: 'yyyy-mm-dd',
            });
});
</script>


