<?php
	$auth = Zend_Auth::getInstance();
	$identity = $auth->getIdentity();
	$fullname = $identity->fullname;
	$uname = $identity->uname;
	$uid = $identity->uid;
	$jabatan = $identity->jabatan;
	$work_unit = $identity->work_unit;	
	$status = $identity->status;	
	//$roles = $identity->roles;
	//Zend_Debug::dump($identity);
	
?>
<script>
//var TimeLimit = <?php echo $_SESSION['TIMER2']; ?>;
var TimeLimit = 3600;
function countdownto() {

	/* 
	var date = Math.round((TimeLimit-new Date())/1000);
	var hours = Math.floor(date/3600);
	date = date - (hours*3600);
	var mins = Math.floor(date/60);
	date = date - (mins*60);
	var secs = date;
	if (hours<10) hours = '0'+hours;
	if (mins<10) mins = '0'+mins;
	if (secs<10) secs = '0'+secs;
	*/
	TimeLimit = TimeLimit - 1;
	var label = 'Waktu Tersisa:<br>';
	var hours = parseInt((TimeLimit/3600));
	var mins = parseInt(TimeLimit / 60) % 60;
	var secs = TimeLimit % 60;
  
	//document.getElementById("timer").innerHTML = label+hours+':'+mins+':'+secs;
	document.getElementById("menit").innerHTML = mins;
	document.getElementById("detik").innerHTML = secs;
	// document.getElementById("val_sisa_waktu").value = hours+':'+mins+':'+secs;
	if(hours == 0 && mins == 0 && secs == 0){
	//document.getElementById("timer").innerHTML = label+hours+':'+mins+':'+secs;
	//window.location.href = 'timeout.php';
		//$("#form_kuisioner").submit();
		$.ajax({
			url:"/kompetensi/admin/addkuisioner",
			content:'json',
			type:'post',
			data:$('form#form_kuisioner').serialize(),	
			beforeSend:function(){
				$('#processbar2').removeClass('hidden');
				$('#alertinfo2').removeClass('alert-success');
				$('#alertinfo2').removeClass('alert-warning');
				$('#alertinfo2').removeClass('alert-danger');
				$('#alertinfo2').removeClass('alert-info');
			},
			complete:function(result){
				$('#processbar2').addClass('hidden');
			},
			success: function(data){
				//console.log(data);
				if(data.result!=undefined){
					if(data.result==true){
						$('#alertinfo2').addClass('alert-success');
						setTimeout(function(){$('#alertmsg2').html("<strong>Success!</strong> "+data.retMsg+"<br>Please wait the page will be refresh....");},2000);
						//$modal2.modal('hide');
						setTimeout(function(){location.href="/kompetensi/prabagen/index/page/140"},2000);
					}else{
						$('#alertinfo2').addClass('alert-warning');
						$('#alertmsg2').html("<strong>Failed!</strong> "+data.retMsg);
					}
				}else{
					$('#alertinfo2').addClass('alert-info');
					$('#alertmsg2').html("<strong>Error!</strong> System is busy, please try again.");
				}
				$('#alertinfo2').removeClass('hidden');
			},
			error:function(){
				$('#alertinfo2').addClass('alert-info');
				$('#alertmsg2').html("<strong>Error!</strong> System is busy, please try again.");
				$('#alertinfo2').removeClass('hidden');
			}
			
		});
	}else{
		setTimeout("countdownto()",1000);
	}
}

</script>

<div class="col-md-12">
	<div class="portlet light">
		<div class="portlet-title">
			<div class="caption">
				<i class="icon-pencil font-blue-sharp"></i>
				<span class="caption-subject font-blue-sharp bold uppercase">
					Uji Kompetensi Petugas Operasional Online
				</span>
			</div>
			<div class="actions">
				
			</div>
		</div>
		<div class="portlet-body form">
			<form class="form-horizontal" role="form">
				<div class="form-body">
					<div class="row">
						<div class="col-md-6">
							<div class="form-group">
								<label class="col-md-3 control-label">Nama:</label>
								<div class="col-md-9">
									<p class="form-control-static"> <?php echo $fullname; ?> </p>
								</div>
							</div>
							<div class="form-group">
								<label class="col-md-3 control-label">NPP:</label>
								<div class="col-md-9">
									<p class="form-control-static"> <?php echo $uname; ?> </p>
								</div>
							</div>
							<div class="form-group">
								<label class="col-md-3 control-label">Jabatan:</label>
								<div class="col-md-9">
									<p class="form-control-static"> <?php echo $jabatan; ?> </p>
								</div>
							</div>
						</div>
						<div class="col-md-6">
							<div class="form-group">
								<label class="col-md-6 control-label font-blue-sharp bold">Contact:</label>
								<div class="col-md-6">
									<p class="form-control-static"> </p>
								</div>
							</div>
							<div class="form-group">
								<label class="col-md-6 control-label">Telp:</label>
								<div class="col-md-6">
									<p class="form-control-static"> </p>
								</div>
							</div>
							<div class="form-group">
								<label class="col-md-6 control-label">Email:</label>
								<div class="col-md-6">
									<p class="form-control-static"> </p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>

<div class="col-md-12" id="kuisioner">
	<div class="portlet light">	
		<div class="portlet-title">
			<div class="caption">
				<i class="icon-pencil font-blue-sharp"></i>
				<span class="caption-subject font-blue-sharp bold">
					Klik pada salah satu pilihan A,B,C, atau D pada kolom jawaban yang menurut Anda paling benar untuk setiap pertanyaan.
				</span><br>			
				<!--<div>
					<a class="btn btn-circle btn-icon-only btn-info btn-sm" href="javascript:;" onclick="showQuestion(1)">1</a>
					<a class="btn btn-circle btn-icon-only btn-default" href="javascript:;" onclick="showQuestion(2)">2</a>
					<a class="btn btn-circle btn-icon-only btn-default" href="javascript:;" onclick="showQuestion(3)">3</a>
					<a class="btn btn-circle btn-icon-only btn-default" href="javascript:;" onclick="showQuestion(4)">4</a>
					<a class="btn btn-circle btn-icon-only btn-default" href="javascript:;" onclick="showQuestion(4)">5</a>
					<a class="btn btn-circle btn-icon-only btn-default" href="javascript:;" onclick="showQuestion(4)">6</a>
					<a class="btn btn-circle btn-icon-only btn-default" href="javascript:;" onclick="showQuestion(4)">7</a>
					<a class="btn btn-circle btn-icon-only btn-default" href="javascript:;">8</a>
					<a class="btn btn-circle btn-icon-only btn-default" href="javascript:;">9</a>
					<a class="btn btn-circle btn-icon-only btn-default" href="javascript:;">10</a>
					<a class="btn btn-circle btn-icon-only btn-default" href="javascript:;">11</a>
					<a class="btn btn-circle btn-icon-only btn-default" href="javascript:;">12</a>
					<a class="btn btn-circle btn-icon-only btn-default" href="javascript:;">13</a>
					<a class="btn btn-circle btn-icon-only btn-default" href="javascript:;">14</a>
					<a class="btn btn-circle btn-icon-only btn-default" href="javascript:;">15</a>
					<a class="btn btn-circle btn-icon-only btn-default" href="javascript:;">16</a>
					<a class="btn btn-circle btn-icon-only btn-default" href="javascript:;">17</a>
					<a class="btn btn-circle btn-icon-only btn-default" href="javascript:;">18</a>
					<a class="btn btn-circle btn-icon-only btn-default" href="javascript:;">19</a>
					<a class="btn btn-circle btn-icon-only btn-default" href="javascript:;">20</a>
				</div>-->
			</div>
			<div class="actions" style="text-align:center">
				<span class="bold text-danger" style="line-height:0px;">Waktu Tersisa</span><br><br>
				<div style="display:inline-block">
					<span id="menit" class="bold text-danger" style="font-size:35px;line-height:0px;"></span><br>
					<span class="bold text-danger">menit</span>
				</div>
				<div style="display:inline-block">
					<span class="bold text-danger" style="font-size:35px;line-height:0px;">:</span><br>
					<span class="text-danger">&nbsp;</span>
				</div>
				<div style="display:inline-block">
					<span id="detik" class="bold text-danger" style="font-size:35px;line-height:0px;"></span><br>
					<span class="bold text-danger">detik</span>
				</div>
			</div>
		</div>
		<div class="portlet-body">
		<form id="form_kuisioner" action="">
			<span class="caption-subject font-red-thunderbird bold">
				Klik setiap nomor untuk beralih ke pertanyaan selanjutnya.
			</span><br><br>
			<div class="row">
				<div class="col-md-12">
				<?php
					$data = $this->dataglobal[213]['data'];
					//Zend_Debug::dump($data);
					foreach($data as $k=>$v) {
						$modul = $v['modul'];
						echo '<a class="btn button'.($k+1).' btn-circle btn-icon-only btn-default" href="javascript:;" onclick="showQuestion('.($k+1).')">'.($k+1).'</a>';
					}
				?>
				</div>
			</div>
			<input type="hidden" name="val_user_id" id="val_user_id" value="<?php echo $uid; ?>" />
			<input type="hidden" name="val_organisasi" id="val_organisasi" value="<?php //echo $_SESSION['organisasi']; ?>" />
			<input type="hidden" name="val_location" id="val_location" value="<?php //echo $_SESSION['location']; ?>" />
			<input type="hidden" name="val_unit_kerja" id="val_unit_kerja" value="<?php echo $work_unit; ?>" />
			<input type="hidden" name="val_job_name" id="val_job_name" value="<?php echo $jabatan; ?>" />
			<input type="hidden" name="modul" id="modul" value="<?php echo $modul;?>" />
			<div class="row">
				<?php
					foreach($data as $k=>$v) {
						$pilihan_jawaban = explode("~",$v['jawaban']);
						echo
						'<div class="col-md-12 question" id="question'.($k+1).'">
							<h2 class="ng-binding">Pertanyaan '.($k+1).'</h2>
							<p>'.$v['pertanyaan'].'</p>
							<div class="answers">';
							$pos = strpos($v['tipe'],"/");
							if($pos!==FALSE)
							{
								$tipe_jawaban = explode("/",$v['tipe']);
								//$label_jawaban = explode("/",$v['label_jawaban']);	
								for($i=0;$i<count($tipe_jawaban);$i++)
								{
									$pilihan = array("A", "B", "C", "D");
									echo '<label>
										<input data-id='.($k+1).' type="radio" id="val_'.strtolower($v['kode']).'" class="'.($k+1).'-'.$i.' answer soal'.($k+1).'" name="val_'.strtolower($v['kode']).'" value="'.$tipe_jawaban[$i].'">
										<span>'.$pilihan[$i].'.</span>
										<span>'.$pilihan_jawaban[$i].'</span>										
									</label><br>';
								}
							}
							echo '<span class="help-block">
									<span class="label label-danger"><i class="fa fa-warning"> </i>Pilih salah satu jawaban</span>
								</span>
							</div>
						</div>';
					}
				?>
			</div>
		</div>
			<button type="button" id="prev" class="btn grey"><< Prev</button> <button type="button" id="next" class="btn grey">Next >></button>
		<hr>
		<span class="caption-subject font-red-thunderbird bold">
			Periksa kembali jawaban anda sebelum kirim, jawaban tidak dapat ditarik kembali.
		</span>
		<div class="portlet-footer" style="text-align:right">
			<!--<a class="btn green" href="#">KIRIM</a>-->
			<button type="button" id="save_button" class="btn green">KIRIM</button>
		</div>
		</form>
	</div>	
</div>	

<div class="col-md-12" id="status">
	<div class="portlet light">
		<div class="portlet-title">
			<div class="caption">
				<i class="icon-pencil font-blue-sharp"></i>
				<span class="caption-subject font-blue-sharp bold uppercase">
					Status
				</span>
			</div>
			<div class="actions">
				
			</div>
		</div>
		<div class="portlet-body">
		<?php
			$status = $this->dataglobal[210]['data'];
			$status_isi = $status['active'];
			//Zend_Debug::dump($status);
			$answer = $this->dataglobal[205]['data'];
			//Zend_Debug::dump($answer);
			$answered = 0;
			for($i=1;$i<=30;$i++) {
				if($answer['P1.'.$i]>0) $answered = $answered+1;
			}
			echo '<span class="caption-subject font-red-thunderbird bold" style="font-size:16px;line-height:0px;">
					Anda telah menyelesaikan uji kompetensi online dengan menjawab '.$answered.' pertanyaan dari total 30 pertanyaan
				</span><br><br>
				<span class="caption-subject font-blue-sharp bold" style="font-size:16px;line-height:0px;">
					Pada tanggal '.$status['answare_date'].'
				</span>';
		?>
		</div>
	</div>
</div>

<div class="alert alert-success alert-dismissable hidden" id="alertinfo2">
	<button type="button" class="close" data-dismiss="alert" aria-hidden="true"></button>
	<span id="alertmsg2"></span>
</div>

<div style="margin:0px auto;text-align:center" id="processbar2" class="hidden">
	<div class="progress progress-striped active" style="margin:0px auto;text-align:center">
		<div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
			<span class="sr-only">
				On Process
			</span>
		</div>
	</div>
	<span style="margin:0px auto;">Please wait...processing request</span>
	<br>
</div>

<div id="timer" align="center" style="position:fixed;font-weight:bold;font-size:25px"></div>
<script>
	countdownto();
</script>

<script>

jQuery(document).ready(function() {
	$('.answer').click(function() {
		//alert($(this).data("id"));
		$('.button'+$(this).data("id")).addClass("blue");
		
	});
	$('#next').click(function() {
		//alert($(this).data("id"));
		var stj = ($(".question:visible").attr("id"));
		//$('.button'+$(this).data("id")).addClass("blue");
		
		var sth = stj.substr(8, 3);
		var next = parseInt(sth)+1;
		//alert(next);	
		$(".question").hide();
		$("#question"+parseInt(next)).show();
		
		if($('#question1').is(':visible')) {
			$("#prev").hide();
		}else{
			$("#prev").show();
		}
		
		if($('#question30').is(':visible')) {
			$("#next").hide();
		}else{
			$("#next").show();
		}
	});
	$('#prev').click(function() {
		//alert($(this).data("id"));
		var stj = ($(".question:visible").attr("id"));
		//$('.button'+$(this).data("id")).addClass("blue");
		
		var sth = stj.substr(8, 3);
		var prev = parseInt(sth)-1;
		//alert(prev);	
		$(".question").hide();
		$("#question"+parseInt(prev)).show();		
		
		if($('#question1').is(':visible')) {
			$("#prev").hide();
		}else{
			$("#prev").show();
		}
		
		if($('#question30').is(':visible')) {
			$("#next").hide();
		}else{
			$("#next").show();
		}
	});
	
	$('.page-head').remove();
	$('.page-title').remove();
	$('.page-breadcrumb').remove();
	$('span.help-block').hide();
	//$('.sub-menu').css('display','block');
	showQuestion(1);
	<?php
		if($status_isi==1){
	?>
		$("#kuisioner").hide();
		$("#status").show();
	<?php
		}else{
	?>
		$("#kuisioner").show();
		$("#status").hide();
	<?php
		}
	?>
});

var active = 1;
function showQuestion(id){
	//console.log(id);
	active = id;
	$(".question").hide();
	$("#question"+id).show();
	
	if($('#question1').is(':visible')) {
		$("#prev").hide();
	}else{
		$("#prev").show();
	}
	
	if($('#question30').is(':visible')) {
		$("#next").hide();
	}else{
		$("#next").show();
	}
}

$("#save_button").click(function(){
	var flag_alert = 0;
	var alert_msg = "";
	var nilai_ptl = 0; 
	var nilai_ptpt = 0;
	var cek_radio = 0;
	var no = 0;
		
	var isi = 0;
	
	var datakosong = 0;
	var kosong = new Array();
		
	for(var j=1;j<31;j++) {
		
		var isi2 = 0;
		for(var k=0;k<4;k++) {
			
			if(document.getElementsByClassName(j+"-"+k)[0].checked) {
				isi2 += 1;
			}
		}
		
		if(isi2<1) {
			isi = 1;
			kosong[datakosong] = j;
			datakosong++;
		}
	}
	
	if(isi == 0) {
		//return true;
		$.ajax({
			url:"/kompetensi/admin/addkuisioner",
			content:'json',
			type:'post',
			data:$('form#form_kuisioner').serialize(),	
			beforeSend:function(){
				$('#processbar2').removeClass('hidden');
				$('#alertinfo2').removeClass('alert-success');
				$('#alertinfo2').removeClass('alert-warning');
				$('#alertinfo2').removeClass('alert-danger');
				$('#alertinfo2').removeClass('alert-info');
			},
			complete:function(result){
				$('#processbar2').addClass('hidden');
			},
			success: function(data){
				//console.log(data);
				if(data.result!=undefined){
					if(data.result==true){
						$('#alertinfo2').addClass('alert-info');
						setTimeout(function(){$('#alertmsg2').html("<strong>Sukses! Terima kasih telah mengisi tes uji kompetensi online.</strong> "+data.retMsg+"<br>Silakan tunggu, halaman akan segera direfresh...");},4000);
						//$modal2.modal('hide');
						setTimeout(function(){location.href="/kompetensi/prabagen/index/page/179"},2000);
					}else{
						$('#alertinfo2').addClass('alert-warning');
						$('#alertmsg2').html("<strong>Failed!</strong> "+data.retMsg);
					}
				}else{
					$('#alertinfo2').addClass('alert-info');
					$('#alertmsg2').html("<strong>Error!</strong> System is busy, please try again.");
				}
				$('#alertinfo2').removeClass('hidden');
			},
			error:function(){
				$('#alertinfo2').addClass('alert-info');
				$('#alertmsg2').html("<strong>Error!</strong> System is busy, please try again.");
				$('#alertinfo2').removeClass('hidden');
			}
			
		});
	} else {
		var textkosong = "";
		for(var m=0;m<kosong.length;m++) {
			if(m == (kosong.length - 1)) {
				textkosong += kosong[m];
			} else {
				textkosong += kosong[m] + ", ";
			}
		}
		alert("Jawaban harus diisi semua. Jawaban masih kosong : " + textkosong);
		return false;
	}
	
	/*
	var handleAdd = function() {
		
		$('form#form_kuisioner').validate({
	            //errorElement: 'span', //default input error message container
	            //errorClass: 'help-block', // default input error message class
	            focusInvalid: false, // do not focus the last invalid input
	            rules: {
				<?php
					foreach($data as $k=>$v) {
				?>
	                val_<?php echo strtolower($v['kode']); ?>: {
	                    required: true
	                },
				<?php
					}
				?>
	            },

	            messages: {
					
	            },

	            invalidHandler: function (event, validator) { //display error alert on form submit   
	                //$('.alert-danger', $('.login-form')).show();
	                //console.log(event);
	                //console.log(validator);
	                
					//$('span.help-block').show();
					$('span.help-block').hide();
	                var errorlist = validator.errorList;
	                if(errorlist.length>0){
						for(var i = 0; i<errorlist.length; i++){
							//console.log(errorlist[i].element);
							var el = errorlist[i].element; 
							var next = $(el).next('span.help-block'); 
							$(next).slideDown();
						}
						$('.modal-scrollable:visible').animate({
							scrollTop: $(el).offset().top
						}, 800);
					}
	            },

	            highlight: function (element) { // hightlight error inputs
	                $(element)
	                    .closest('.form-group').addClass('has-error'); // set error class to the control group
	            },

	            success: function (label) {
	                label.closest('.form-group').removeClass('has-error');
	                //label.remove();
	            },

	            errorPlacement: function (error, element) {
					$('span.help-block').hide();
					var next = element.next('span.help-block'); 
					//console.log(error);
	                if(error[0].textContent!=""){
						$(next).children('span.label').html("<i class='fa fa-warning'></i> "+ error[0].textContent);
						$(element).next().slideDown();
						$('.modal-scrollable:visible').animate({
							scrollTop: $(element).offset().top
						}, 800);
					}
	            },

	            submitHandler: function (form) {
						$('#alertinfo').addClass('hidden');
					$('span.help-block').hide();
					$('.form-group').removeClass('has-error');
	                //form.submit(); // form validation success, call ajax form submit
	                submitForm();
	                return false;
	            }
	        });

	        $('form#form_kuisioner input').keypress(function (e) {
	            if (e.which == 13) {
					$('span.help-block').hide();
					$('.form-group').removeClass('has-error');
	                if ($('form#form_kuisioner').validate().form()) {
	                   //$('form#form_kuisioner').submit(); //form validation success, call ajax form submit
	                   submitForm();
	                }
	                return false;
	            }
	        });
	}
	
	var submitForm = function(){
		//console.log($('form#form_kuisioner').serialize());
		$.ajax({
			url:"/kompetensi/admin/addkuisioner",
			content:'json',
			type:'post',
			data:$('form#form_kuisioner').serialize(),	
			beforeSend:function(){
				$('#processbar2').removeClass('hidden');
				$('#alertinfo2').removeClass('alert-success');
				$('#alertinfo2').removeClass('alert-warning');
				$('#alertinfo2').removeClass('alert-danger');
				$('#alertinfo2').removeClass('alert-info');
			},
			complete:function(result){
				$('#processbar2').addClass('hidden');
			},
			success: function(data){
				//console.log(data);
				if(data.result!=undefined){
					if(data.result==true){
						$('#alertinfo2').addClass('alert-success');
						setTimeout(function(){$('#alertmsg2').html("<strong>Success!</strong> "+data.retMsg+"<br>Please wait the page will be refresh....");},2000);
						//$modal2.modal('hide');
						setTimeout(function(){location.href="/kompetensi/prabagen/index/page/140"},2000);
					}else{
						$('#alertinfo2').addClass('alert-warning');
						$('#alertmsg2').html("<strong>Failed!</strong> "+data.retMsg);
					}
				}else{
					$('#alertinfo2').addClass('alert-info');
					$('#alertmsg2').html("<strong>Error!</strong> System is busy, please try again.");
				}
				$('#alertinfo2').removeClass('hidden');
			},
			error:function(){
				$('#alertinfo2').addClass('alert-info');
				$('#alertmsg2').html("<strong>Error!</strong> System is busy, please try again.");
				$('#alertinfo2').removeClass('hidden');
			}
			
		});
	}
    
    return {
        //main function to initiate the module
        init: function () {
            handleAdd();
        }

    };
	*/
});

</script>