#center_box
{
background-color:#1a1a1a !important;

}



.control_title
{
text-align:center;
font-size:14px !important;
font-weight:bold;
text-transform:capitalize;
color:#222 !important;
text-shadow: 0px 1px 1px #4d4d4d;


}

.html_grid_title
{
text-align:center;
font-size:14px !important;
text-transform:capitalize;
color:#222 !important;
text-shadow: 0px 1px 1px #4d4d4d;


}

.map_title
{
text-align:center;
font-size:14px !important;
text-transform:capitalize;
color:#222 !important;
text-shadow: 0px 1px 1px #4d4d4d;


}

.pivot_title
{
text-align:center;
font-size:14px !important;
text-transform:capitalize;
color:#222 !important;
text-shadow: 0px 1px 1px #4d4d4d;

}

.dash_obj
{
background-color:#393939 !important;
color:orange !important;
border:0 !important;
/*  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1), inset 0 1px 1px rgba(0, 0, 0, 0.2);

border:1px solid rgba(0,0,0,0.2);
	
	border-radius:1px 0 0 1px;
	box-shadow:1px 1px 2px -1px #000;
*/
margin:2px;
}


.pivot_grid
{
background-color:#393939 !important;
color:orange !important;

  /*box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1), inset 0 1px 1px rgba(0, 0, 0, 0.2);*/
}

label
{
color:steelblue;
}

.control_label
{
color:#4A4A4A;
}

.holder_div
{
color:#ebebeb !important;
}