#center_box
{
background-color:#ffffff !important;

}



.control_title
{
text-align:center;
font-size:14px !important;
font-weight:bold;
text-transform:capitalize;
color:steelblue !important;


}

.html_grid_title
{
text-align:center;
font-size:14px !important;
text-transform:capitalize;
color:steelblue !important;


}

.pivot_title
{
text-align:center;
font-size:14px !important;
text-transform:capitalize;
color:steelblue !important;

}

.dash_obj
{
background-color:#ffffff !important;
color:steelblue !important;

/*  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1), inset 0 1px 1px rgba(0, 0, 0, 0.2);

border:1px solid rgba(0,0,0,0.2);
	
	border-radius:1px 0 0 1px;
	box-shadow:1px 1px 2px -1px #000;
*/
margin:2px;
}

.dash_border
{
border:2px groove white !important;
}

/*
.mt_obj:nth-child(n+2){
	border-top:0;
}

.mt_obj:after{
		
	border-radius:1px 0 0 1px;
	border:1px solid rgba(255,255,255,0.1);
	border-bottom:0;	
}
*/

.pivot_grid
{
background-color:#ffffff !important;

color:black !important;

  /*box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1), inset 0 1px 1px rgba(0, 0, 0, 0.2);*/
}




label
{
color:steelblue;
}

.control_label
{
color:steelblue;
}

.holder_div
{
color:#4A4A4A !important;
}