

  fieldset legend div { margin: 5px}
 .field { margin: 5px; padding: 5px; font-size:90%; }
  fieldset  label {	
	
	display:block;
	float:left;
	width:200px;
	text-align:right;
	margin:6px 5px 0px 0px;
	}
canvas { border: 1px solid black; }  
#st1 {
    height: 100px;
    width: 100px;
	border: 1px solid black;
}

#stretch1 canvas {
    width: 100%;
    height: 100%;
}	

a.iconclick { display: block; height:28px; border-radius: 15px;}
a.iconclick:hover{ display: block;height:28px; background-color:yellow; border-radius: 15px; }
a.iconclick_selected{ display: block;height:28px;background-color:yellow;border-radius: 15px;}

.iconSelected { border: 3px solid red; margin:5px; }
.mt_icon { 
      outline: 0; 
   margin-right:1px; 
   padding: .1em ; 
   text-decoration:none !important; 
   cursor:pointer; 
   position: relative; 
   text-align: center; 
   background-color:white;

   }
.mt_icon_hover {border:1px solid red;}   
.mt_icon img {border:0px;}   
body {
	background: white;
	font-size:10px;
	}

	
.mt_prj_upload_images{
display:block;
width:200px;
float:left;
margin:10px;
font-size:120%;
}


/*
a.look {

    text-decoration: none;
    color:black;
}
a.look img {
       border: 0;
}
a.look:hover {
    background-color: #ffffff;
	
}*/