body 
{ font-size:12px;
 font-family:arial;
 
}

.link {
  fill: none !important;
  stroke: #000  !important;
  stroke-opacity: .2  !important;
}

.link:hover {
  stroke-opacity: .5  !important;
}