#center_box
{
background-color:#BDBDBD !important;
}



.control_title
{
color:orange !important;
font-size:14px !important;
text-shadow: 2px 2px 2px #000000;
}

.html_grid_title
{
color:orange !important;
font-size:14px !important;
text-shadow: 2px 2px 2px #000000;
}

.pivot_title
{
text-align:center;font-size:14px;
text-transform:capitalize;
color:white !important;
text-shadow: 2px 2px 2px #000000;
}

.dash_obj
{
background-color:#064c06 !important;
color:white !important;
border-radius: 3px;

margin:2px;
}


.dash_border
{
border:2px groove white !important;
}


/*
.mt_obj:nth-child(n+2){
	border-top:0;
}

.mt_obj:after{
		
	border-radius:1px 0 0 1px;
	border:1px solid rgba(255,255,255,0.1);
	border-bottom:0;	
}
*/

.pivot_grid
{
background-color:#EEEEEE !important;
color:white !important;
border-radius: 3px;
/*border:2px inset !important; */
  /*box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1), inset 0 1px 1px rgba(0, 0, 0, 0.2);*/
}

label
{
color:white;
}

.control_label
{
color:white;
}

.holder_div
{
color:white !important;
}