#nav, #nav ul{
margin:0;
padding:0;
list-style-type:none;
list-style-position:outside;
position:relative;
line-height:1.5em; 
}

#nav a{
display:block;
padding:0 5px;
/*border:1px solid #333;*/

text-decoration:none;

}
/*
#nav a:hover{
background-color:#fff;
color:#333;
}*/

#nav li{
float:left;
position:relative;
}

#nav ul {
position:absolute;
display:none;
width:auto;
top:1.5em;

}

#nav li ul a{
width:100%;
height:auto;

}

#nav ul ul{
top:auto;
}	

#nav li ul ul {
left:12em;
margin:0px 0 0 10px;
}

#nav li:hover ul ul, #nav li:hover ul ul ul, #nav li:hover ul ul ul ul{
display:none;
}
#nav li:hover ul, #nav li li:hover ul, #nav li li li:hover ul, #nav li li li li:hover ul{
display:block;
}