button {
font-size:110%; font-weight:bold;height: 25px;text-align:center;margin-right:5px;
}




.coldim_divlabel{text-align: center;cursor:default;}
.coldim_label{text-align: center;cursor:default;}

.rowdim_divlabel{text-align: left;cursor:default;}
.rowdim_label{text-align: left;cursor:default;}

.leaf_column_label{text-align: right;cursor:default;}
.corner_coldim_label{font-weight:bold;text-align:right;cursor:default;}
.corner_rowdim_label{font-weight:bold;cursor:default;}
.corner_blank_cell{border:0px solid white;}
.pivot_title_viz{font-weight:bold;margin:auto;padding-bottom:2px;
text-align:center;font-size:14px;
text-transform:capitalize;
color:steelblue;
}
.pivot_title{font-weight:bold;margin:auto;padding-bottom:2px;
text-align:center;font-size:14px;
text-transform:capitalize;
color:steelblue;
}
/* #1f77b4 #ff7f0e #2ca02c #d62728 #9467bd #8c564b #e377c2 #7f7f7f #bcbd22 #17becf*/
.level0 {background-color:white;}
.level1 {background-color:white;}
.level2 {background-color:white;}
.level3 {background-color:white;}
.level4 {background-color:white;}
.level5 {background-color:white;}
.level6 {background-color:white;}

/*
.grand_total 
{
background-color:#FAFFE3; font-weight:bold;font-size:105%;
color:#6978FF;
}
*/

.grand_total 
{
font-weight:bold;font-size:105%;

}

.total_row
{
  font-weight:bold;
}

.total_column
{
  font-weight:bold;
}


.toggle_close 
{
background-image:url('../icons/minus-white.png');
background-repeat:no-repeat;   
padding-left:20px;  
vertical-align:top; 
}

.toggle_expand 
{
background-image:url('../icons/plus-white.png');
background-repeat:no-repeat;   
padding-left:20px;  
vertical-align:top; 
}

.any_toggle_close 
{
background-image:url('../icons/minus-white.png');
background-repeat:no-repeat;   
padding-left:20px;  
}

.any_toggle_expand 
{
background-image:url('../icons/plus-white.png');
background-repeat:no-repeat;   
padding-left:20px;  
}

.color_square{
display:inline-block;width:20px;height:20px;background-color:white;
}

#ic_pivot {font-size:110%;}
.ic_pivot {font-size:110%; }
.ic_chart  td.rowdim_label{ vertical-align:center; margin:5px;padding:2px; font-weight:bold;}
.ic_pivot td.rowdim_label{ vertical-align:top; margin:5px;padding:2px; font-weight:bold;}

table.ic_pivot
{
border-collapse:collapse;
border: 1px solid #EAE6FF;
}

.ic_pivot td
{
	border: 1px solid #EAE6FF;
}

/*
table.ic_pivot tr:first-child td {
  border-top: 0;
}
table.ic_pivot tr:last-child td {
  border-bottom: 0;
}
table.ic_pivot tr td:first-child,
table.ic_pivot tr th:first-child {
  border-left: 0;
}
table.ic_pivot tr td:last-child,
table.ic_pivot tr th:last-child {
  border-right: 0;
}
*/
/*
#tabs-nohdr { 
    padding: 0px; 
    background: none; 
    border-width: 0px; 

} 
#tabs-nohdr .ui-tabs-nav { 
    padding-left: 0px; 
    background: transparent; 
    border-width: 0px 0px 0px 0px; 
    -moz-border-radius: 0px; 
    -webkit-border-radius: 0px; 
    border-radius: 0px; 
} 
#tabs-nohdr .ui-tabs-panel { 
    background-color:white; 
	color:black;
    border-width: 0px;
}

#tabs-min { 
    background: transparent; 
    border: none; 
} 
#tabs-min .ui-widget-header { 
    background: transparent; 
    border: none; 
    border-bottom: 0px solid #c0c0c0; 
    -moz-border-radius: 0px; 
    -webkit-border-radius: 0px; 
    border-radius: 0px; 
} 
#tabs-min .ui-tabs-nav .ui-state-default { 
    background: transparent; 
    border: none; 
} 
#tabs-min .ui-tabs-nav .ui-state-active { 
    background: transparent url(img/uiTabsArrow.png) no-repeat bottom center; 
    border: none; 
} 
#tabs-min .ui-tabs-nav .ui-state-default a { 
    color: #c0c0c0; 
} 
#tabs-min .ui-tabs-nav .ui-state-active a { 
    color: #459e00; 
}
*/

.left_panel_header
{
   clear: both;
    margin-bottom: 5px;
    margin-top: 5px;
    padding: 3px;
	width:80%;
	font-size:13px;
	cursor:pointer;
}

.icpivotEditor_header
{
   clear: both;
	width:80%;
	font-size:13px;
	cursor:pointer;
}
.filter_header
{
   clear: both;
    margin-bottom: 5px;
    margin-top: 5px;
    padding: 3px;
	width:80%;

}

.excluded_member
{
text-decoration:line-through;
}

.keep_this_member
{
text-decoration:none;
}

.filtered_dim
{
margin-top:5px;
font-size:95%;
overflow:hidden;
}

.left_panel_detail
{
padding:0px 0px 5px 10px;
font-size:13px;
}

.leftpanel_fields
{
cursor:pointer;
/*display:inline-block;
clear:both;
float:left;*/
margin:1px;
padding-right:10px;
padding-left:10px;
border:0px;
white-space:nowrap;
}

.leftpanel_fields:hover
{
color:blue;
cursor:pointer;
}

.context-menu-item:hover
{
border-top:1px solid gray;
border-bottom:1px solid gray;
}

.sortable_fields
{
display:inline-block;
cursor:pointer;
white-space:nowrap;
}
  .sortable { list-style-type: none; margin: 0; padding: 0; width: 100%; }
  .sortable div { margin: 3px 3px 3px 0; padding: 1px; float: left; width: auto;  text-align: center; }

.connect_list_ul
{
    font-size: 110%;
    list-style: none;
    margin: 0 0 0 -0.8125em;
    padding-left: 0;
}

.connect_list_ul li
{
  line-height: 20px;
  font-size:110%;
  cursor:pointer;
}

.connect_node_parent
{
  font-weight:bold;
 
}

.connect_subnode_parent li
{
  line-height: 15px;
  font-size:100%;
  cursor:pointer;
}

.connect_node_selected
{
  font-weight:bold;
 color:blue;  
}
  
.connect_subnode_parent li:hover
{
 color:blue;
}   
 
.formula_operators
{
 font-weight:bold;float:left;width:24px;height: 24px;text-align:center;margin-right:0px;
}  

h2.horiz_line {
   width: 100%; 
   text-align: center; 
   border-bottom: 1px solid #000; 
   line-height: 0.1em;
   margin: 10px 0 20px; 
   /*padding-left:30px;*/
} 

h2.horiz_line span { 
    background:#fff; 
    padding:0 10px; 
}

.data_section_lines 
{
  padding:5px;
  margin-top:10px;
  margin-bottom:10px;
  font-size:14px;
  width:60%;
}

.sample_table_header td {background-color:#DDDDDD;color:black;font-size:13px;font-weight:bold;}

/*tr.subtotal_row  {color:white;background-color:white;}*/

.vertical_text
{
  -webkit-transform: rotate(270deg);
    -webkit-transform-origin: bottom;
    -moz-transform: rotate(270deg);
    -moz-transform-origin: bottom;
    -ms-transform: rotate(270deg);
    -ms-transform-origin: bottom;
    -o-transform: rotate(270deg);
    -o-transform-origin: bottom;
    transform: rotate(270deg);
    transform-origin: bottom;
}

#tab_data{
margin-top:40px;
margin-left:20px;
font-size:110%;
}

#tab_visualizer
{
font-size:120%;
}

#tab_data
{
font-size:120%;
}

.firstDiv_hover
{
border: 1px solid #ccc; 
}

.svgChartDiv
{
border: 1px solid #fff; 
}

 .text_input
 {
 width:80%;
 }
 
.number_input
 {
 width:30px;
 } 
 
 .float_input
 {
 width:30px;
 } 
 
.pivotPropertyLabel
{
width:100px;text-align:right;font-weight:bold;
} 

.pivotPropertyButton
{
 font-weight:bold;width:24px;height: 24px;text-align:center;margin-right:0px;
}

#vizSelectionDisplay
{
/*
margin-left:10%;
display:block;
width:100px;
height:50px;
background-image:url("../img/viz_img/normal_pivot.png");
background-size: contain;
background-repeat:no-repeat;*/
cursor:pointer;
}

.viz_img_selector
{
  cursor:pointer;
  border:1px solid white;
}

.viz_img_selector:hover
{
  border:1px solid gray;
}

#viz_browser_dialog_div
{
 color:gray;
 font-size:12px;
 
}

.viz_img_selector_detail
{
padding-top:3px;
padding-bottom:3px;
border-bottom:1px solid gray;

}

.vizPickerDialog
{ dialogClass: 'myPosition' }

.viz_dim_box
{
float:left;min-width: 200px;width:auto;max-width:300px; min-height: 25px;height:auto; background:transparent;padding-left:10px;overflow:auto;
}

.viz_box_label
{
width:50px; float:left;height: 25px;text-align:center;
}

/*color picker block*/
.xyz
{
display:inline-block;
width:10px;height:10px;
}

.abcDiv
{
color:black;
border:1px solid white;
cursor:pointer;
}

.abcDiv:hover
{
 border:1px solid gray;
}

.abcColors
{
white-space:nowrap;	
}

#background_color_div
{
cursor:pointer;
}
#data_color_div
{
cursor:pointer;
}

.etched{

	border-top:1px groove gray;
	margin-top:10px;
	margin-bottom:2px;
}

.load_server_json_csv_data
{
cursor:pointer;

}

.load_server_json_csv_data:hover
{
color:blue;
}

.load_server_csv_info
{
font-size:80%;color:gray;
}

.tooltip_box
{
position:absolute;
display:block;
z-index:10000;
border:2px solid black;
background-color:rgba(255,255,255,0.8);
margin:auto;
padding:3px 5px 3px 5px;
color:black;
font-size:14px;
font-family:arial;
border-radius: 5px;
vertical-align: middle;
text-align: left;
min-width:50px;
overflow:auto;

}

.tooltipmesg
{
border-collapse:collapse;
border: 0px;

}

td.tooltipmesg
{
	
	border: 0px solid #EAE6FF;
	color:black;
	font-size:14px;font-family:arial;
}