/* In chrome when you click on any div it adds a blue border around the page etc, so to stop it use the below */
*:focus {
    outline: none;
}

/*
#north_box
{
	   overflow:hidden;
	   		position:fixed;
		left: 0px;
		top:0px;;
		z-index:1;
}

#west_box
{
		position:fixed;
		left: 0%;
		top:55px;
		width: 200px;
		height: 1800px;
		display:block;
		overflow: auto;
		z-index:2;
}


#center_box
{ 
	display:block;
	position:absolute;
	left:200px;
	top:55px;
	width:900px;
	height:900px;
	border:2px solid red;
	z-index:3;
}
*/

/*
#north_box
{
	   overflow:hidden;
	   		position:fixed;
		left: 0px;
		top:0px;;
		z-index:1000;
}

#west_box
{
		position:fixed;
		left: 0%;
		top:55px;
		width: 200px;
		height: 100%;
	
		overflow: auto;
		z-index:1000;
}


#center_box
{ 
   position:absolute;
    top:55px;
	left:200px;
    min-height:100%;  

	z-index:3;
}
*/

/*latest
#north_box
{
	   overflow:hidden;
	   		position:fixed;
		left: 200px;
		top:0px;;
		z-index:1000;
}

#west_box
{
		position:fixed;
		left: 0%;
		top:55px;
		width: 200px;
		height: 100%;
	
		overflow: auto;
		z-index:1000;
}


#center_box
{ 
   position:absolute;
    top:55px;
	left:200px;
    min-height:100%;  

	z-index:3;
}
*/

  fieldset legend div { margin: 5px}
 .field { margin: 5px; padding: 5px; font-size:90%; }
  fieldset  label {	
	
	display:block;
	float:left;
	width:200px;
	text-align:right;
	margin:6px 5px 0px 0px;
	}
canvas { border: 0px solid black; }  

.mt_obj {border: 3px solid transparent; margin:0px;}
.mt_obj_hover 
{
  border: 3px dashed blue ; margin:0px;
}



#st1 {
    height: 100px;
    width: 100px;
	border: 1px solid black;
}

#stretch1 canvas {
    width: 100%;
    height: 100%;
}	

a.iconclick { display: block; height:28px; border-radius: 15px;}
a.iconclick:hover{ display: block;height:28px; background-color:yellow; border-radius: 15px; }
a.iconclick_selected{ display: block;height:28px;background-color:yellow;border-radius: 15px;}

.iconSelected { border: 3px solid red; margin:5px; }
.mt_icon { 
      outline: 0; 
   
   padding: .1em ; 
   text-decoration:none !important; 
   cursor:pointer; 
   position: relative; 
   text-align: center; 
   background-color:white;

   }
.mt_icon_hover {border:1px solid red;}   
.mt_icon img {border:0px;}   

.mt_toolbar_divider  
{
height:16px;
width:1px;

border:1px outset #ccc;
float:left;
margin-right:5px;
margin-left:5px;
}

#mt_toolbar
{
  overflow: hidden;
  float:left;
  padding:5px;
}

.mt_toolbar_group
{

  overflow: hidden;
  white-space: nowrap;
  padding:5px;
  margin-right:5px;
  float:left;
  background-repeat:no-repeat;
}

 .topbar_popmenu
 {
 font-size:105%;
 color:black;
 font-weight:bold;
 cursor:pointer;
 
 }

.topbar_popmenu:hover
 {
 
 text-shadow: 0 0 10px #A8B1FF;
 } 
 
.mt_toolbar_group span {
  display: block;
  position: absolute;
  top: 24px;
  left: -6px;
  right: 2px;
  line-height: 12px;
  text-align: center;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding: 0 2px;
  
}
/*
.mt_toolbar_group div{ float:left;

}

.mt_toolbar_group div:hover
{ 
border:1px solid #ccc;
margin: -1px;

}
*/


.mt_toolbar_button
{
padding:1px;
width:16px;
height:16px;
float:left;
border:1px solid transparent;
cursor:pointer;
}

.mt_toolbar_button:hover
{
/*border:1px solid #ccc;*/
box-shadow: 0 0 10px  #A8B1FF;;
}

.mt_toolbar_button_selected
{
background-color:white;
border:1px solid blue;
padding:1px;
width:16px;
height:16px;
}

.mt_toolbar_button_disabled
{
opacity:0.2;
border:1px solid blue;
padding:1px;

}


/*
body {
	background: white;
	font-size:10px;
	}
	*/

	html {
	height: 1300px;
	}
	body { font-size:62.5%; margin:0; padding:0; height: 1300px; border:0px; font-family:arial;}
	
	.hidden { position:absolute; top:0; left:-9999px; width:1px; height:1px; overflow:hidden; }
	
	.fg-button { clear:left; margin:0 4px 40px 20px; padding: .4em 1em; text-decoration:none !important; cursor:pointer; position: relative; text-align: center; zoom: 1; }
	.fg-button .ui-icon { position: absolute; top: 50%; margin-top: -8px; left: 50%; margin-left: -8px; }
	a.fg-button { float:left;  }
	button.fg-button { width:auto; overflow:visible; } /* removes extra button width in IE */
	
	.fg-button-icon-left { padding-left: 2.1em; }
	.fg-button-icon-right { padding-right: 2.1em; }
	.fg-button-icon-left .ui-icon { right: auto; left: .2em; margin-left: 0; }
	.fg-button-icon-right .ui-icon { left: auto; right: .2em; margin-left: 0; }
	.fg-button-icon-solo { display:block; width:8px; text-indent: -9999px; }	 /* solo icon buttons must have block properties for the text-indent to work */	
	
	.fg-button.ui-state-loading .ui-icon { background: url(spinner_bar.gif) no-repeat 0 0; }
		
/*
a.look {

    text-decoration: none;
    color:black;
}
a.look img {
       border: 0;
}
a.look:hover {
    background-color: #ffffff;
	
}*/

.ui-selected {  border-color: blue !important;}
.mt_locked {   border-color: red !important;}




.ui-selectable-helper {border: 3px dashed blue ;  }

.hidden {visibility:hidden}

.ui-autocomplete {
		max-height: 100px;
		overflow-y: auto;
		/* prevent horizontal scrollbar */
		overflow-x: hidden;
		/* add padding to account for vertical scrollbar */
		padding-right: 20px;
	}
	/* IE 6 doesn't support max-height
	 * we use height instead, but this forces the menu to always be this tall
	 */
	* html .ui-autocomplete {
		height: 100px;
	}
	
.accordion_header {
text-align:'center';
padding:5px;
margin-top:10px;
margin-bottom:10px;
clear:both;
cursor:pointer;
font-size:110%;
}	

.project_header {
text-align:'center';
padding:5px;
margin-bottom:10px;
clear:both;
font-size: 1.3em;
}	


.project_detail {
padding:5px;
}

.expand_state {
background-image: url(../icons/bullet_toggle_plus.png) no-repeat;
}	
/*
.project_accord_content
{
float:left;width: 150px; height: 50px; padding: 0.5em;text-align: center; margin:5px;max-height: 50px;max-width: 150px;
			overflow: hidden;
}*/

.mt_page{
/*used in the left panel to display list of pages*/
padding:3px;
margin-bottom:2px;
border: 1px solid transparent;

}

.editCellBorder{
border: 3px solid #F8F2FF;

}

.editCellMeta{
background:#EBEBFF;
}

.dock_top{
position: fixed; top: 0px; right:300px;
}

.browse_project_page{
padding:2px 4px 2px 10px;

cursor:pointer;
}

textarea{
white-space:pre;
}
   
.no-close .ui-dialog-titlebar-close {display: none }   

.even {background:#E6E6FF;}
.odd {background:#FFFFFF;}
.row_highlight {background:#F7FFBF;border:1px;}
.row_footer{background:white;color:black;font-weight:bold;}

tr.row_odd:hover{background-color:#FEFFD4 !important; }
tr.row_even:hover{background-color:#FEFFD4  !important; }

.row_selected{ background-color: #FCFCB1 !important; color:black !important; }

/*th, td { padding: 0.25em; }*/

.top_link /*dashboard*/
{
float:right;
padding-left:10px;
padding-right:10px;
border-left:1px solid #CCCCCC;
border-right:1px solid #CCCCCC;
border-top:0;
border-bottom:0;
border-style: groove;
}

.window { 

   text-align:left;
	margin:15px;
	cursor:pointer;
	width:auto;
	height:auto;
	box-shadow: 2px 2px 19px #aaa;
   -o-box-shadow: 2px 2px 19px #aaa;
   -webkit-box-shadow: 2px 2px 19px #aaa;
   -moz-box-shadow: 2px 2px 19px #aaa;
}

.white_box {
display:block;
width:200px;
/* default background colour, for all layout engines that don't implement gradients */
background: #FFFFFF;

/* gecko based browsers */
/*background: -moz-linear-gradient(top, #F0EDEB, #FFFFFF);*/

/* webkit based browsers */
/*background: -webkit-gradient(linear, left top, left bottom, from( #F0EDEB), to(#FFFFFF));*/


height: auto; /* gradient uses the full height of the element */
padding: 0px; /* distance from border edge to text */
}
.left_stack
{
float:left;
}
.window_img
  {
  margin:10px 15px 3px 15px;
  border:1px solid #0000ff;
  height:100px;
  width:170px;

  text-align:center;
  }

  .browse_img
  {
  margin:5px;
  border:1px solid #0000ff;
  height:75px;
  width:75px;

  text-align:center;
  }
  
.window_img a:hover img
  {
  border:1px solid #0000ff;
  }
  
.page_shots
{
margin:auto;
}

.refresh_working
{
background: url("img/horiz_stripe_progress.gif") no-repeat right top;
}

.jvectormap-region:hover
  {
    fill:CornflowerBlue;
  }
.jvectormap-label {
    position: absolute;
    display: none;
    border: solid 1px #CDCDCD;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    background: #292929;
    color: white;
    font-family: sans-serif, Verdana;
    font-size: smaller;
    padding: 3px;
}

.jvectormap-zoomin, .jvectormap-zoomout {
    position: absolute;
    left: 10px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    background: #292929;
    padding: 3px;
    color: white;
    width: 10px;
    height: 10px;
    cursor: pointer;
    line-height: 10px;
    text-align: center;
}

.jvectormap-zoomin {
    top: 10px;
}

.jvectormap-zoomout {
    top: 30px;
}

.ui-timepicker-div .ui-widget-header { margin-bottom: 8px; }
.ui-timepicker-div dl { text-align: left; }
.ui-timepicker-div dl dt { float: left; clear:left; padding: 0 0 0 5px; }
.ui-timepicker-div dl dd { margin: 0 10px 10px 40%; }
.ui-timepicker-div td { font-size: 90%; }
.ui-tpicker-grid-label { background: none; border: none; margin: 0; padding: 0; }

.ui-timepicker-rtl{ direction: rtl; }
.ui-timepicker-rtl dl { text-align: right; padding: 0 5px 0 0; }
.ui-timepicker-rtl dl dt{ float: right; clear: right; }
.ui-timepicker-rtl dl dd { margin: 0 40% 10px 10px; }

.ic_tabs
{
font-size:140%; 
height:20px;
text-align:center;
margin:0 1px 0 2px;
padding-top:2px;
padding-bottom:2px;
cursor:pointer;
}

.stop-scrolling {
  height: 100%;
  overflow: hidden;
}

.export_excel_img
{
display:inline-block;
width:16px;
height:16px;
cursor:pointer;
background-image:url('../icons/page_excel.png');
}

.mt_left_icon
{
z-index:201;
}

a.padlink
{
text-decoration:none;
font-size:120%;
margin-top:5px;
}

.any_toggle_close 
{
background-image:url('../icons/minus-white.png');
background-repeat:no-repeat;   
padding-left:20px; 
padding-bottom:5px; 
 
}

.any_toggle_expand 
{
background-image:url('../icons/plus-white.png');
background-repeat:no-repeat;   
padding-left:20px;  
padding-bottom:5px; 
}
