body {font-family:arial;
border: 0 none;
font-size: 62.5%;
height: 1300px;
margin: 0;
padding: 0;
}

button {
font-size:110%; font-weight:bold;height: 25px;text-align:center;margin-right:5px;
}

table
{
border-collapse:collapse;
border: 1px solid #EAE6FF;
}
td, th
{
    
	border: 1px solid #EAE6FF;
}
/*
table tr:first-child td {
  border-top: 0;
}
table tr:last-child td {
  border-bottom: 0;
}
table tr td:first-child,
table tr th:first-child {
  border-left: 0;
}
table tr td:last-child,
table tr th:last-child {
  border-right: 0;
}
*/
.tooltipmesg
{
border-collapse:collapse;
border: 0px;

}

td.tooltipmesg
{
	
	border: 0px solid #EAE6FF;
	color:white;
	font-size:12px;font-family:arial;
}

.coldim_divlabel{text-align: center;cursor:default;}
.coldim_label{text-align: center;cursor:default;}

.coldim_divlabel{text-align: center;cursor:default;}
.coldim_label{text-align: center;cursor:default;}

.leaf_column_label{text-align: right;cursor:default;}
.corner_coldim_label{font-weight:bold;text-align:right;cursor:default;}
.corner_rowdim_label{font-weight:bold;cursor:default;}
.corner_blank_cell{border:0px solid white;}

/* #1f77b4 #ff7f0e #2ca02c #d62728 #9467bd #8c564b #e377c2 #7f7f7f #bcbd22 #17becf*/
.level0 {background-color:white;}
.level1 {background-color:white;}
.level2 {background-color:white;}
.level3 {background-color:white;}
.level4 {background-color:white;}
.level5 {background-color:white;}
.level6 {background-color:white;}

/*
.grand_total 
{
background-color:#FAFFE3; font-weight:bold;font-size:105%;
color:#6978FF;
}
*/

.grand_total 
{
font-weight:bold;font-size:105%;

}

.total_row
{
  font-weight:bold;
}

.total_column
{
  font-weight:bold;
}

#ic_chart td.rowdim_label{ vertical-align:center; margin:5px;padding:2px; font-weight:bold;}

#ic_pivot  td.rowdim_label{ vertical-align:top; margin:5px;padding:2px; font-weight:bold;}




.toggle_close 
{
background-image:url('../icons/minus-white.png');
background-repeat:no-repeat;   
padding-left:20px;  
vertical-align:top; 
}

.toggle_expand 
{
background-image:url('../icons/plus-white.png');
background-repeat:no-repeat;   
padding-left:20px;  
vertical-align:top; 
}

.any_toggle_close 
{
background-image:url('../icons/minus-white.png');
background-repeat:no-repeat;   
padding-left:20px;  
}

.any_toggle_expand 
{
background-image:url('../icons/plus-white.png');
background-repeat:no-repeat;   
padding-left:20px;  
}

.color_square{
display:inline-block;width:20px;height:20px;background-color:white;
}

#ic_pivot {font-size:110%;}
.ic_pivot {font-size:110%;}
.ic_chart  td.rowdim_label{ vertical-align:center; margin:5px;padding:2px; font-weight:bold;}
.ic_pivot td.rowdim_label{ vertical-align:top; margin:5px;padding:2px; font-weight:bold;}

#tabs-nohdr { 
    padding: 0px; 
    background: none; 
    border-width: 0px; 
} 
#tabs-nohdr .ui-tabs-nav { 
    padding-left: 0px; 
    background: transparent; 
    border-width: 0px 0px 0px 0px; 
    -moz-border-radius: 0px; 
    -webkit-border-radius: 0px; 
    border-radius: 0px; 
} 
#tabs-nohdr .ui-tabs-panel { 
    background-color:white; 
	color:black;
    border-width: 0px;/* 1px 1px 1px; */
}

#tabs-min { 
    background: transparent; 
    border: none; 
} 
#tabs-min .ui-widget-header { 
    background: transparent; 
    border: none; 
    border-bottom: 0px solid #c0c0c0; 
    -moz-border-radius: 0px; 
    -webkit-border-radius: 0px; 
    border-radius: 0px; 
} 
#tabs-min .ui-tabs-nav .ui-state-default { 
    background: transparent; 
    border: none; 
} 
#tabs-min .ui-tabs-nav .ui-state-active { 
    background: transparent url(img/uiTabsArrow.png) no-repeat bottom center; 
    border: none; 
} 
#tabs-min .ui-tabs-nav .ui-state-default a { 
    color: #c0c0c0; 
} 
#tabs-min .ui-tabs-nav .ui-state-active a { 
    color: #459e00; 
}

.left_panel_header
{
   clear: both;
    margin-bottom: 5px;
    margin-top: 5px;
    padding: 3px;
	width:80%;
	font-size:13px;
}

.filter_header
{
   clear: both;
    margin-bottom: 5px;
    margin-top: 5px;
    padding: 3px;
	width:80%;

}

.excluded_member
{
text-decoration:line-through;
}

.keep_this_member
{
text-decoration:none;
}

.filtered_dim
{
margin-top:5px;
font-size:95%;
overflow:hidden;
}

.left_panel_detail
{
padding:0px 0px 5px 10px;
font-size:13px;
}

.leftpanel_fields
{
cursor:pointer;
/*display:inline-block;
clear:both;
float:left;*/
margin:1px;
padding-right:10px;
padding-left:10px;
border:0px;
}

.leftpanel_fields:hover
{
color:blue;


cursor:pointer;
}

.context-menu-item:hover
{
border-top:1px solid gray;
border-bottom:1px solid gray;
}

.sortable_fields
{
display:inline-block;
cursor:pointer;
}
  .sortable { list-style-type: none; margin: 0; padding: 0; width: 100%; }
  .sortable div { margin: 3px 3px 3px 0; padding: 1px; float: left; width: auto;  text-align: center; }

.connect_list_ul
{
    font-size: 110%;
    list-style: none;
    margin: 0 0 0 -0.8125em;
    padding-left: 0;
}

.connect_list_ul li
{
  line-height: 20px;
  font-size:110%;
  cursor:pointer;
}

.connect_node_parent
{
  font-weight:bold;
 
}

.connect_subnode_parent li
{
  line-height: 15px;
  font-size:100%;
  cursor:pointer;
}

.connect_node_selected
{
  font-weight:bold;
 color:blue;  
}
  
.connect_subnode_parent li:hover
{
 color:blue;
}   
 
.formula_operators
{
 font-weight:bold;float:left;width:24px;height: 24px;text-align:center;margin-right:0px;
}  

h2.horiz_line {
   width: 100%; 
   text-align: center; 
   border-bottom: 1px solid #000; 
   line-height: 0.1em;
   margin: 10px 0 20px; 
   /*padding-left:30px;*/
} 

h2.horiz_line span { 
    background:#fff; 
    padding:0 10px; 
}

.data_section_lines 
{
  padding:5px;
  margin-top:10px;
  margin-bottom:10px;
  font-size:14px;
}

.sample_table_header td {background-color:#DDDDDD;color:black;font-size:13px;font-weight:bold;}

/*tr.subtotal_row  {color:white;background-color:white;}*/

.vertical_text
{
  -webkit-transform: rotate(270deg);
    -webkit-transform-origin: bottom;
    -moz-transform: rotate(270deg);
    -moz-transform-origin: bottom;
    -ms-transform: rotate(270deg);
    -ms-transform-origin: bottom;
    -o-transform: rotate(270deg);
    -o-transform-origin: bottom;
    transform: rotate(270deg);
    transform-origin: bottom;
}

.firstDiv_hover
{
border: 1px solid #000; 
}