#center_box
{
background-color:#4F211E !important;

}



.control_title
{
text-align:center;
font-size:14px !important;
font-weight:bold;
text-transform:capitalize;
color:#ebebeb !important;



}

.html_grid_title
{
text-align:center;
font-size:14px !important;
text-transform:capitalize;
color:#ebebeb !important;



}

.map_title
{
text-align:center;
font-size:14px !important;
text-transform:capitalize;
color:#ebebeb !important;



}

.pivot_title
{
text-align:center;
font-size:14px !important;
text-transform:capitalize;
color:#ebebeb !important;


}

.dash_obj
{
background-color:#7A332E !important;
background-image:url(bg.png) !important;


color:orange !important;

/*  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1), inset 0 1px 1px rgba(0, 0, 0, 0.2);

border:1px solid rgba(0,0,0,0.2);
	
	border-radius:1px 0 0 1px;
	box-shadow:1px 1px 2px -1px #000;
*/
margin:2px;
}

.dash_border
{
border:0 !important;
}

.pivot_grid
{
background-color:#7A332E !important;
background-image:url(bg.png) !important;

color:black !important;

  /*box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1), inset 0 1px 1px rgba(0, 0, 0, 0.2);*/
}

label
{
color:steelblue;
}

.control_label
{
color:#4A4A4A;
}

.holder_div
{
color:#ebebeb !important;
}