<?php 

// Zend_Debug::dump($this->usr->roles);die();

$api=array();
$var_array = Zend_Controller_Front::getInstance()->getRequest()->getParams();
// Zend_Debug::dump($var_array);die();
foreach($this->session as $k=>$v) 
{
 foreach($v as $k2=>$vv2){
	foreach($vv2 as $k3=>$vv3){ 
	$api[$k3]=$vv3;
	$api[$k3]['type']=$k;	
	$api[$k3]['portlet']=$k2;
	}
	}	
}

$page =array(
'initApi'=>'fa-file',
'datafield'=>'fa-list',
'vglobal'=>'fa-list',
'form'=>'fa-list',
'table'=>'fa-list',
'graphic'=>'fa-list',
'html'=>'fa-list',
);
$wpage =array(
'vglobal'=>'GLOBAL API',
'initApi'=>'INIT API',
'form'=>'FORM API',
'table'=>'TABLE API',
'graphic'=>'GRAPH API',
'html'=>'HTML API',
'datafield'=>'FORM FIELD API',
);
$spage =array(
false=>'danger',
true=>'success',
);
$db =array(
'Oracle'=>'/assets/core/img/db/oracle.png',
'Mysql'=>'/assets/core/img/db/mysql.png',
'Mysqli'=>'/assets/core/img/db/mysql.png',
'Pdo_Mssql'=>'/assets/core/img/db/mssql.png',
'Pdo_Netezza'=>'/assets/core/img/db/netezza.png',
'Pdo_Pgsql'=>'/assets/core/img/db/postgresql.png'
);

?>

 <!-- BEGIN HEADER -->
        <div class="page-header navbar navbar-fixed-top">
            <!-- BEGIN HEADER INNER -->
            <div class="page-header-inner ">
                <!-- BEGIN LOGO -->
				<div class="page-logo">
					<a href="/">
						<!-- <img src="../assets/layouts/layout/img/logo.png" alt="logo" class="logo-default" /> -->
						<?php
						if(in_array(46,$this->usr->roles)){
							echo '<img src="/images/bigbox-logo/BigQuery_white.png" style="height: 50px;; padding: 5px 0px;"/>';
						} else if(in_array(47,$this->usr->roles)){
							echo '<img src="/images/bigbox-logo/BigAction_white.png" style="height: 50px;; padding: 5px 0px;"/>';
						} else if(in_array(48,$this->usr->roles)){
							echo '<img src="/images/bigbox-logo/BigBuilder_white.png" style="height: 50px;; padding: 5px 0px;"/>';
						} else if(in_array(49,$this->usr->roles)){
							echo '<img src="/images/bigbox-logo/BigEnvelope_white.png" style="height: 50px;; padding: 5px 0px;"/>';
						} else if(in_array(50,$this->usr->roles)){
							echo '<img src="/images/bigbox-logo/BigFlow_white.png" style="height: 50px;; padding: 5px 0px;"/>';
						} else if(in_array(51,$this->usr->roles)){
							echo '<img src="/images/bigbox-logo/BigSpider_white.png" style="height: 50px;; padding: 5px 0px;"/>';
						} else if(in_array(52,$this->usr->roles)){
							echo '<img src="/images/bigbox-logo/BigSearch_white.png" style="height: 50px;; padding: 5px 0px;"/>';
						}  else if(in_array(53,$this->usr->roles)){
							echo '<img src="/images/bigbox-logo/BigLake_white.png" style="height: 50px;; padding: 5px 0px;"/>';
						} else {

							if($this->apid!=""){
								echo $this->apid;}else{ echo '<img src="/images/bigbox-logo/BigBox_logo.png" style="height: 50px;; padding: 5px 0px;"/>';
							}						
						}
						?>
					</a>
					<div class="menu-toggler sidebar-toggler">
						<span></span>
					</div>
				</div>
                <!-- END LOGO -->
                <!-- BEGIN RESPONSIVE MENU TOGGLER -->
                <a href="javascript:;" class="menu-toggler responsive-toggler" data-toggle="collapse" data-target=".navbar-collapse">
                    <span></span>
                </a>
			<?php if(in_array(52,$this->usr->roles)){ ?>
				<form id="search4all" action="#"  role="form">
		            <div class="hor-menu  hor-menu-light hidden-sm hidden-xs">
		                <ul class="nav navbar-nav">
		                    <li class="classic-menu-dropdown">
		                        <a href="javascript:;" data-hover="megamenu-dropdown" data-close-others="true"> Filter Search
		                            <i class="fa fa-angle-down"></i>
		                        </a>
		                        <ul class="dropdown-menu pull-left">
		                            <li>
		                                <a href="javascript:;">
		                                    <i class="icon-docs"></i>&nbsp;<input name="fk[]" value="doc" checked type="checkbox" />&nbsp;&nbsp;Docoument </a>
		                            </li>
		                            <li>
		                                <a href="javascript:;">
		                                    <i class="icon-tag"></i> <input name="fk[]" value="news" checked type="checkbox" />&nbsp;&nbsp;Digital News&nbsp;&nbsp; </a>
		                            </li>
		                            <li>
		                                <a href="javascript:;">
		                                    <i class="icon-share"></i> <input name="fk[]" value="socmed" checked type="checkbox" />&nbsp;&nbsp;Social Media&nbsp;&nbsp; </a>
		                            </li>
		                             <li>
		                                <a href="javascript:;">
		                                    <i class="icon-share"></i> <input name="fk[]" value="metadata" checked type="checkbox" />&nbsp;&nbsp; Metadata&nbsp;&nbsp; </a>
		                            </li>
		                            <li class="divider"> </li>
		                        </ul>
		                    </li>
		                </ul>
		            </div>
		            <div class="search-form search-form-expanded">
		                <div class="input-group">
		                    <input type="text" class="form-control" placeholder="Search..." name="skey">
		                    <span class="input-group-btn">
		                        <a href="javascript:;" class="btn submit">
		                            <i class="icon-magnifier"></i>
		                        </a>
		                    </span>
		                </div>
	                </div>
	            </form>
            <?php } ?>
                <!-- END RESPONSIVE MENU TOGGLER -->
                <!-- BEGIN TOP NAVIGATION MENU -->
                <div class="top-menu">
                    <ul class="nav navbar-nav pull-right">
                        <!-- BEGIN NOTIFICATION DROPDOWN -->
                        <!-- DOC: Apply "dropdown-dark" class after below "dropdown-extended" to change the dropdown styte -->
                        <?php if($var_array['controller']=='prabagen'){ ?>
                        <li class="dropdown dropdown-extended dropdown-notification" id="header_notification_bar">
                            <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
                                <i class="icon-magnifier"></i>
                                <span class="badge badge-default"> Called <?php echo count($api); ?>  API </span>
                            </a>
                            <ul class="dropdown-menu">
                                <li class="external">
                                    <h3>
                                        Called<span class="bold"> <?php echo count($api); ?>  API</span> </h3>
										
                                </li>
                                <?php foreach($api as $var=>$key){ ?>
                                <li>
                                    <ul class="dropdown-menu-list scroller" style="height: 250px;" data-handle-color="#637283">
                                        <li>
                                            <a href="javascript:;">
                                               
												<span class="label label-sm label-icon label-<?php echo $spage[$key['transaction']]; ?>">
                                                        <i class="fa <?php echo $page[$key['type']]; ?>"></i>
                                                 </span> 
                                                  <b><?php echo $wpage[$key['type']].".</b><b><a href='/prabaeditor/editportlet/id/".$key['portlet']."'> PortlId:".$key['portlet']."</a></b><a href='#'>Msg:".$key['message'].'</a><a href="#">Sql:'.$key['sql'].'</a> <a href="#">Cache:'.$key['is_cache'].'</a><a href="#">CacheTime: '.$key['cache_time'].'</a><a href="#"> ParsingDataTime: '.$key['parsing_data_time'].' ms. </a><a  href="/prabaeditor/editapi/id/'.$var.'"> ID : '. $var	.'</a><a  href="#">Host : '.$key['host']; ?></a></i>
								<span style="float:right;margin-top:-5px;">
									<?php echo '<img src="'.$db[$key['adapter']].'" />';?>
								</span>	
                                            </a>
                                        </li>
                                       
                                    </ul>
                                </li>
                                	<?php } ?>
							
                            </ul>
                        </li>
                        	<?php } ?>
                        <!-- END NOTIFICATION DROPDOWN -->
                        <!-- BEGIN INBOX DROPDOWN -->
                        <!-- DOC: Apply "dropdown-dark" class after below "dropdown-extended" to change the dropdown styte -->
                        <li class="dropdown dropdown-extended dropdown-inbox" id="header_inbox_bar">
                          
                        </li>
                        <!-- END INBOX DROPDOWN -->
                        <!-- BEGIN TODO DROPDOWN -->
                        <!-- DOC: Apply "dropdown-dark" class after below "dropdown-extended" to change the dropdown styte -->
                        <li class="dropdown dropdown-extended dropdown-tasks" id="header_task_bar">
                            
                        </li>
                        <!-- END TODO DROPDOWN -->
                        <!-- BEGIN USER LOGIN DROPDOWN -->
                        <!-- DOC: Apply "dropdown-dark" class after below "dropdown-extended" to change the dropdown styte -->
                        <li class="dropdown dropdown-user">
						<?php
						try{
							$identity = Zend_Auth::getInstance()->getIdentity();
						}catch(Exception $e){
							
						}

						if(strlen($identity->fullname)>13){
							$username = substr($identity->fullname,0,15).'...';
						}
						?>

                            <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
                                <img alt="" class="img-circle" src="/assets/core/layouts/layout/img/avatar.png" />
                                <span class="username username-hide-on-mobile"> <?php echo $identity->fullname; ?> </span>
                                <i class="fa fa-angle-down"></i>
                            </a>
                            <ul class="dropdown-menu dropdown-menu-default">
								<li class="divider">
								</li>
									
								<li>
									<a id="cacheall" href="javascript:;"><i class="fa fa-bomb"></i> ClearAllCache
									
									</a>
								</li>
									
								<li>
									<a id="cachesys" href="javascript:;"><i class="fa fa-eraser"></i> ClearSysCache
									
									</a>
								</li>
								<li>
									<a id="savetheme" href="javascript:;"><i class="fa fa-eraser"></i> Save Theme Settings
									
									</a>
								</li>
								<li>
									<a id="chlep" href="javascript:;"><i class="fa fa-info"></i> Contextual Help
									
									</a>
								</li>								
                                <li class="divider"> </li>
			                    <li>
			                        <a href="/prabaeditor/inbox">
			                            <i class="icon-envelope-open"></i> My Inbox
			                            <span class="badge badge-danger"> 3 </span>
			                        </a>
			                    </li>
                                <li>
                                    <a href="/prabaeditor/calendar">
                                        <i class="icon-calendar"></i> My Calendar </a>
                                </li>
                                <li class="divider"> </li>
			                    <li>
			                        <a href="/public/logout">
			                            <i class="icon-key"></i> Log Out </a>
			                    </li>
		                    </ul>
		                </li>
                        <!-- END USER LOGIN DROPDOWN -->
                        <!-- BEGIN QUICK SIDEBAR TOGGLER -->
                        <!-- DOC: Apply "dropdown-dark" class after below "dropdown-extended" to change the dropdown styte -->
                        <!--
                        <li class="dropdown dropdown-quick-sidebar-toggler">
                            <a href="javascript:;" class="dropdown-toggle">
                                <i class="icon-logout"></i>
                            </a>
                        </li>-->
                        <!-- END QUICK SIDEBAR TOGGLER -->
                    </ul>
                </div>
                <!-- END TOP NAVIGATION MENU -->
            </div>
            <!-- END HEADER INNER -->
        </div>
        <!-- END HEADER -->
        <script>
jQuery(document).ready(function() {
	
	
	$("#cacheall").click(function(){
		    
		 $.ajax({
			url:"/prabajax/clearcacheall",
			//content:'json',
			dataType: "json",
			beforeSend:function(){
				$('#alertinfo').addClass('hidden');
				$('#processbar').removeClass('hidden');
				$('html,body').animate({
					scrollTop: $('h3.page-title').offset().top
				}, 800);
				$('#alertinfo').removeClass('alert-success');
				$('#alertinfo').removeClass('alert-warning');
				$('#alertinfo').removeClass('alert-danger');
				$('#alertinfo').removeClass('alert-info');
			},
			complete:function(result){
				$('#processbar').addClass('hidden');
			},
			success: function(data){
				//console.log(data);
				if(data.result!=undefined){
					if(data.result==true){
						$('#alertinfo').addClass('alert-success');
						$('#alertmsg').html("<strong>Success!</strong> "+data.retMsg);
					}else{
						$('#alertinfo').addClass('alert-warning');
						$('#alertmsg').html("<strong>Failed!</strong> "+data.retMsg);
					}
				}else{
					$('#alertinfo').addClass('alert-info');
					$('#alertmsg').html("<strong>Error!</strong> System is busy, please try again.");
				}
				$('#alertinfo').removeClass('hidden');
			},
			error:function(){
				$('#alertinfo').addClass('alert-info');
				$('#alertmsg').html("<strong>Error!</strong> System is busy, please try again.");
				$('#alertinfo').removeClass('hidden');
			}
		});
		     
		     
		});
     
	$("#cachesys").click(function(){
		 $.ajax({
			url:"/prabajax/clearcachesys",
			dataType: "json",
			beforeSend:function(){
				$('#alertinfo').addClass('hidden');
				$('#processbar').removeClass('hidden');
				$('html,body').animate({
					scrollTop: $('h3.page-title').offset().top
				}, 800);
				$('#alertinfo').removeClass('alert-success');
				$('#alertinfo').removeClass('alert-warning');
				$('#alertinfo').removeClass('alert-danger');
				$('#alertinfo').removeClass('alert-info');
			},
			complete:function(result){
				$('#processbar').addClass('hidden');
			},
			success: function(data){
				//console.log(data);
				if(data.result!=undefined){
					if(data.result==true){
						$('#alertinfo').addClass('alert-success');
						$('#alertmsg').html("<strong>Success!</strong> "+data.retMsg);
					}else{
						$('#alertinfo').addClass('alert-warning');
						$('#alertmsg').html("<strong>Failed!</strong> "+data.retMsg);
					}
				}else{
					$('#alertinfo').addClass('alert-info');
					$('#alertmsg').html("<strong>Error!</strong> System is busy, please try again.");
				}
				$('#alertinfo').removeClass('hidden');
			},
			error:function(){
				$('#alertinfo').addClass('alert-info');
				$('#alertmsg').html("<strong>Error!</strong> System is busy, please try again.");
				$('#alertinfo').removeClass('hidden');
			}
		});
		     
		     
		});
     
 
 
	$("#chlep").click(function(){
		 $.ajax({
			url:"/prabajax/chelp/ctl/<?php echo $var_array['controller'] ?>/act/<?php echo $var_array['action'] ?>",
			dataType: "json",
			beforeSend:function(){
				$('#alertinfo').addClass('hidden');
				$('#processbar').removeClass('hidden');
				$('html,body').animate({
					scrollTop: $('h3.page-title').offset().top
				}, 800);
				$('#alertinfo').removeClass('alert-success');
				$('#alertinfo').removeClass('alert-warning');
				$('#alertinfo').removeClass('alert-danger');
				$('#alertinfo').removeClass('alert-info');
			},
			complete:function(result){
				$('#processbar').addClass('hidden');
			},
			success: function(data){
				//console.log(data);
				if(data.result!=undefined){
					if(data.result==true){
						$('#alertinfo').addClass('alert-success note note-success');
						$('#alertmsg').html(data.retMsg);
					}else{
						$('#alertinfo').addClass('alert-warning');
						$('#alertmsg').html("<strong>Failed!</strong> "+data.retMsg);
					}
				}else{
					$('#alertinfo').addClass('alert-info');
					$('#alertmsg').html("<strong>Error!</strong> System is busy, please try again.");
				}
				$('#alertinfo').removeClass('hidden');
			},
			error:function(){
				$('#alertinfo').addClass('alert-info');
				$('#alertmsg').html("<strong>Error!</strong> System is busy, please try again.");
				$('#alertinfo').removeClass('hidden');
			}
		});
		     
		     
		});
     
 
		(function worker() {
		
			$.ajax({
				url: '/ajax/notif', 
				dataType: "html",
				success: function(res) {
				//console.log(res);
				$('#header_task_bar').html(res);      
				
				

			},
			complete: function() {
			// Schedule the next request when the current one's complete
			setTimeout(worker, 3000);
			}
			});
		})();

	
		(function worker() {
		
			$.ajax({
			
				url: '/ajax/inbox', 
				dataType: "html",
				success: function(res) {
				//console.log(res);
				$('#header_inbox_bar').html(res);      
				
				

			},
			complete: function() {
			// Schedule the next request when the current one's complete
			setTimeout(worker, 3000);
			}
			});
		})();




});	
</script>

