 <!-- BEGIN SIDEBAR -->
            <div class="page-sidebar-wrapper">
                <!-- BEGIN SIDEBAR -->
                <!-- DOC: Set data-auto-scroll="false" to disable the sidebar from auto scrolling/focusing -->
                <!-- DOC: Change data-auto-speed="200" to adjust the sub menu slide up/down speed -->
                <div class="page-sidebar navbar-collapse collapse">
                    <!-- BEGIN SIDEBAR MENU -->
                    <!-- DOC: Apply "page-sidebar-menu-light" class right after "page-sidebar-menu" to enable light sidebar menu style(without borders) -->
                    <!-- DOC: Apply "page-sidebar-menu-hover-submenu" class right after "page-sidebar-menu" to enable hoverable(hover vs accordion) sub menu mode -->
                    <!-- DOC: Apply "page-sidebar-menu-closed" class right after "page-sidebar-menu" to collapse("page-sidebar-closed" class must be applied to the body element) the sidebar sub menu mode -->
                    <!-- DOC: Set data-auto-scroll="false" to disable the sidebar from auto scrolling/focusing -->
                    <!-- DOC: Set data-keep-expand="true" to keep the submenues expanded -->
                    <!-- DOC: Set data-auto-speed="200" to adjust the sub menu slide up/down speed -->
                      <ul class="page-sidebar-menu   " data-keep-expanded="false" data-auto-scroll="true" data-slide-speed="200">
                        <!-- DOC: To remove the sidebar toggler from the sidebar you just need to completely remove the below "sidebar-toggler-wrapper" LI element -->
                        <li class="nav-item start active open">
                            <!-- BEGIN SIDEBAR TOGGLER BUTTON -->
                            <div class="sidebar-toggler">
                                <span></span>
                            </div>
                            <!-- END SIDEBAR TOGGLER BUTTON -->
                        </li>
                        <!-- DOC: To remove the search box from the sidebar you just need to completely remove the below "sidebar-search-wrapper" LI element -->
                        
                     
						<li class="nav-item start active open">
                              <a href="/" class="nav-link ">
                                        <i class="icon-home"></i>
                                        <span class="title">Home</span>
                                        <span class="selected"></span>
                             </a>
                          
                        </li>
						<?php 
						foreach($this->menu as $k=>$v) {
								if($v['class']==null || $v['class']==''){
									$v['class']='fa fa-info-circle';
								}
								if($v['child']!="" && $v['child']!=null && is_array($v['child']) &&$v['is_active']==1 ){
									echo '<li class="nav-item">
										<a href="javascript:;" class="nav-link nav-toggle">
											<i class="icon-folder"></i>
											<span class="title">'.$v['menu_name'].'</span>
											<span class="arrow "></span>
										</a>';
								

								echo '<ul class="sub-menu">';
								
								foreach  ($v['child'] as $k2=>$v2 ) {	
									if($v2['class']==null || $v2['class']==''){
										$v2['class']='fa fa-info-circle';
								}
								
								if($v2['child']!="child" && $v2['child']!=null && is_array($v2['child'])){		
								
								echo '<li class="nav-item">
                                    <a href="javascript:;" class="nav-link nav-toggle">
                                        <i class="icon-settings"></i> '.$v2['menu_name'].'
                                        <span class="arrow"></span>
                                    </a>';
								

								echo '<ul class="sub-menu">';
								foreach  ($v2['child'] as $k3=>$v3 ) {
								if($v3['class']==null || $v3['class']==''){
								$v3['class']='fa fa-info-circle';
								}
								if($v3['child']!="" && $v3['child']!=null && is_array($v3['child'])){	
									
									
								echo  '<li class="nav-item">
                                    <a href="javascript:;" class="nav-link nav-toggle">
                                        <i class="icon-settings"></i> '.$v3['menu_name'].'
                                        <span class="arrow"></span>
                                    </a>';
								
												

								echo '<ul class="sub-menu">';
								foreach  ($v3['child'] as $k4=>$v4 ) {
								if($v4['class']==null || $v4['class']==''){
									$v4['class']='fa fa-info-circle';
								}
									echo '<li class="nav-item">
										<a href="'.$v4['menu_link'].'" class="nav-link">
											<i class="icon-star"></i> '.$v4['menu_name'].'</a>
										</li>';
								
								}
								echo '</ul>';
								echo '</li>';
								}else{
								echo '<li class="nav-item">
										<a href="'.$v3['menu_link'].'" class="nav-link">
											<i class="icon-star"></i> '.$v3['menu_name'].'</a>
										</li>';
								}
								}
								echo '</ul>';
								echo '</li>';
								}else{
										echo '<li class="nav-item">
										<a href="'.$v2['menu_link'].'" class="nav-link">
											<i class="icon-star"></i> '.$v2['menu_name'].'</a>
										</li>';
								}

								}
								echo '</ul>';
								echo '</li>';
								}else if ($v['is_active']==1){
									echo '<li class="nav-item">
										<a href="'.$v['menu_link'].'" class="nav-link">
											<i class="icon-star"></i> '.$v['menu_name'].'</a>
										</li>';
								}
						} 
						?>
                       
                    </ul>
                    <!-- END SIDEBAR MENU -->
                    <!-- END SIDEBAR MENU -->
                </div>
                <!-- END SIDEBAR -->
            </div>
            <!-- END SIDEBAR -->
