.label {
    text-shadow: none!important;
    font-size: 12px;
    font-weight: 300;
    padding: 3px 6px;
    color: #fff;
    font-family: "Open Sans",sans-serif;
display:inline-block;
}
.label-info {
    background-color: #8B7777;
}
.bootstrap-tagsinput {
  background-color:#FAFAFA;
    border: none; 
    box-shadow: none; 
    display: inline-block;
   
    padding: 2px 2px;
    margin-bottom: 0px;
    /* color: #555; */
    vertical-align: middle;
    border-radius: 4px;
    width: 100%;
    line-height: 22px;
    cursor: text;
     position: relative;
    white-space:normal;
}
.icon-btn>div {
    margin-top: 5px;
    margin-bottom: 20px;
    color: white;
    font-size: 10px;
    font-weight: 700;
}
.icon-btn {
    height: 70px;
    min-width: 70px;
    background-color:#E7505A;
    color:white;
    border:none;
}
.sub-menu .active{
    
    background-color:#B11621;
    
}
.icon-btn>i {
    font-size: 30px;
}
.btn-circle {
    border-radius: 75px!important;
    overflow: hidden;
}    

.badge {
    font-size: 11px!important;
    font-weight: 300;
    height: 18px;
    color: #fff;
    padding: 3px 6px;
     -webkit-border-radius: 12px!important; */
    -moz-border-radius: 12px!important;
    border-radius: 12px!important; 
    text-shadow: none!important; 
    text-align: center;
}
.icon-btn>.badge {
    position: absolute;
    font-size: 11px;
    font-weight: 300;
    top: 7px;
    right: 10px;
    padding: 3px 6px;
    color: #fff;
    text-shadow: none;
    border-width: 0;
    border-style: solid;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    border-radius: 12px;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}
