 
 <!-- BEGIN LOGO -->
        <div class="logo">
			<span id="login-title1" style="color:white;font-size:26px"><span class="font-red1"> HCIS JSMR-<?php

echo date(' Y');

?></span></span>
       
        </div>
        <!-- END LOGO -->
        <!-- BEGIN LOGIN -->
        <div class="content">
            <!-- BEGIN LOGIN FORM -->
            
            <div class="note note-success">
                                      <p> Karyawan Jasa Marga </p>
                                        </div>
            
            <?php

echo $this->form->renderForm(false);

?>
            <?php

echo $this->form->ID->renderViewHelper();

?>
            <?php

echo $this->form->csrf->renderViewHelper();

?>
				
                <h3 class="form-title font-green">Sign In</h3>
				<?php

if(isset($_GET['msg'])) {
    
    ?>
				<div class="alert alert-danger" id="alert2">
				<button class="close" data-close="alert"></button>
				<span>
				<?php
    
    echo strip_tags($_GET['msg']);
    
    ?>
				</span>
				</div>
				<?php
    
}

?>
                
                <div class="alert alert-danger display-hide">
                    <button class="close" data-close="alert"></button>
                    <span> Enter any username and password. </span>
                </div>
                <div class="form-group">
                 
					<?php

echo $this->form->uname->renderLabel();

?>
                    <?php

echo $this->form->uname->renderViewHelper();

?>
                  
                   
                   </div>
                <div class="form-group">
					<?php

echo $this->form->passw->renderLabel();

?>
                    <?php

echo $this->form->passw->renderViewHelper();

?>
                </div>
                   <?php

echo $this->form->captcha;

?>    
                <div class="form-actions">
                    <!--<button type="submit" class="btn green uppercase">Login</button>-->
                     <?php

echo $this->form->submit;

?>    
                   
                </div>
              
               
            </form>
           	<?php

//echo $this->form;

?>
            <!-- END LOGIN FORM -->
           
         
       
         <div class="note note-success">
                                            
                                            <!--<p> Non-Karyawan Jasa Marga. </p>-->
                                            
                                         <!--   <a href="/survey/z/index/id/1/pid/0" class="green btn" >Masuk</a>-->
                                            <a href="/survey/z/index/id/1/pid/1" class="green btn">Karyawan Alih Daya/OS JM Klik Disini</a>
                                        </div>
                                                                                
</div>
        <div class="copyright"> 2016  PT Jasa Marga. </div>
<!--[if lt IE 9]>
<script src="/assets/core/global/plugins/respond.min.js"></script>
<script src="/assets/core/global/plugins/excanvas.min.js"></script> 
<![endif]-->


<script>
jQuery(document).ready(function() {
$('body').addClass('login');

  $("#uname").attr("placeholder","NPP");
  $("#passw").attr("placeholder","Password (tgl lahir : dd-mm-yyyy)");
  

});
</script>

