<!DOCTYPE html>
<!-- Template Name: Clip-One - Responsive Admin Template build with Twitter Bootstrap 3.x Version: 1.4 Author: ClipTheme -->
<!--[if IE 8]><html class="ie8 no-js" lang="en"><![endif]-->
<!--[if IE 9]><html class="ie9 no-js" lang="en"><![endif]-->
<!--[if !IE]><!-->
<html lang="en" class="no-js">
	<!--<![endif]-->
	<!-- start: HEAD -->
	<head>
		<?php 
		echo $this->headMeta();
		echo $this->headTitle();
		?>
		<!-- start: META -->
		<meta charset="utf-8" />
		<!--[if IE]><meta http-equiv='X-UA-Compatible' content="IE=edge,IE=9,IE=8,chrome=1" /><![endif]-->
		<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<meta content="" name="description" />
		<meta content="" name="author" />
		<script src="/assets/neclip/plugins/jQuery-lib/2.0.3/jquery.min.js"></script>
		<!--<![endif]-->
		<script src="/assets/neclip/plugins/jquery-ui/jquery-ui-1.10.2.custom.min.js"></script>
		<!-- end: META -->
		<!-- start: MAIN CSS -->
		<link rel="stylesheet" href="/assets/neclip/plugins/bootstrap/css/bootstrap.min.css">
		<link rel="stylesheet" href="/assets/neclip/plugins/font-awesome/css/font-awesome.min.css">
		<link rel="stylesheet" href="/assets/neclip/fonts/style.css">
		<link rel="stylesheet" href="/assets/neclip/css/main.css">
		<link rel="stylesheet" href="/assets/neclip/css/main-responsive.css">
		<link rel="stylesheet" href="/assets/neclip/plugins/iCheck/skins/all.css">
		<link rel="stylesheet" href="/assets/neclip/plugins/bootstrap-colorpalette/css/bootstrap-colorpalette.css">
		<link rel="stylesheet" href="/assets/neclip/plugins/perfect-scrollbar/src/perfect-scrollbar.css">
		<link rel="stylesheet" href="/assets/neclip/css/theme_light.css" type="text/css" id="skin_color">
		<link rel="stylesheet" href="/assets/neclip/css/print.css" type="text/css" media="print"/>
		<!--[if IE 7]>
		<link rel="stylesheet" href="/assets/neclip/plugins/font-awesome/css/font-awesome-ie7.min.css">
		<![endif]-->
		<!-- end: MAIN CSS -->
		<!-- start: CSS REQUIRED FOR THIS PAGE ONLY -->
		<link rel="stylesheet" href="/assets/neclip/plugins/fullcalendar/fullcalendar/fullcalendar.css">
		<!-- end: CSS REQUIRED FOR THIS PAGE ONLY -->
		<link rel="shortcut icon" href="favicon.ico" />
		
<?php
try{
	$var_array = Zend_Controller_Front::getInstance()->getRequest()->getParams();
}catch(Exception $e){
	
}

$module =null;
if($var_array['module'] != 'default') {
	$module =$var_array['module'];	
}

echo $this->headLink();
?>



	</head>
	<!-- end: HEAD -->
	<!-- start: BODY -->
	<body>
		
<?php 
if($this->layout()->nestedLayout){
	$this->layout()->setLayout($this->layout()->nestedLayout); 
}else{
	$this->layout()->setLayout('neclipbody');
}                             
echo $this->layout()->render();  
?>

<!-- start: MAIN JAVASCRIPTS -->
		<!--[if lt IE 9]>
		<script src="/assets/neclip/plugins/respond.min.js"></script>
		<script src="/assets/neclip/plugins/excanvas.min.js"></script>
		<script type="text/javascript" src="/assets/neclip/plugins/jQuery-lib/1.10.2/jquery.min.js"></script>
		<![endif]-->
		<!--[if gte IE 9]><!-->
		<script src="/assets/neclip/plugins/jQuery-lib/2.0.3/jquery.min.js"></script>
		<!--<![endif]-->
		<script src="/assets/neclip/plugins/jquery-ui/jquery-ui-1.10.2.custom.min.js"></script>
		<script src="/assets/neclip/plugins/bootstrap/js/bootstrap.min.js"></script>
		<script src="/assets/neclip/plugins/bootstrap-hover-dropdown/bootstrap-hover-dropdown.min.js"></script>
		<script src="/assets/neclip/plugins/blockUI/jquery.blockUI.js"></script>
		<script src="/assets/neclip/plugins/iCheck/jquery.icheck.min.js"></script>
		<script src="/assets/neclip/plugins/perfect-scrollbar/src/jquery.mousewheel.js"></script>
		<script src="/assets/neclip/plugins/perfect-scrollbar/src/perfect-scrollbar.js"></script>
		<script src="/assets/neclip/plugins/less/less-1.5.0.min.js"></script>
		<script src="/assets/neclip/plugins/jquery-cookie/jquery.cookie.js"></script>
		<script src="/assets/neclip/plugins/bootstrap-colorpalette/js/bootstrap-colorpalette.js"></script>
		<script src="/assets/neclip/js/main.js"></script>
		<!-- end: MAIN JAVASCRIPTS -->
<?php 
echo $this->headScript();
?>
</body>
	<!-- end: BODY -->
	
	
	
</html>
