<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8 no-js"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9 no-js"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en" class="no-js">
<!--<![endif]-->

<!-- BEGIN HEAD -->
<head>
<meta charset="utf-8"/>
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta content="width=device-width, initial-scale=1.0" name="viewport"/>
<meta content="" name="description"/>
<meta content="" name="author"/>
<meta name="MobileOptimized" content="320">

<?php 
echo $this->headMeta();
echo $this->headTitle();
?>
<link rel="shortcut icon" href="/images/telkom-logo-small.png"/>
<link rel="stylesheet" href="/assets/solution/plugins/jquery-ui/jquery-ui-1.10.3.custom.min.css" type="text/css" media="screen" />
<link rel="stylesheet" href="/assets/solution/plugins/font-awesome/css/font-awesome.min.css" type="text/css" media="screen" />
<link rel="stylesheet" href="/assets/solution/plugins/bootstrap/css/bootstrap.css" type="text/css" media="screen" />
<link rel="stylesheet" href="/assets/solution/plugins/uniform/css/uniform.default.css" type="text/css" media="screen" />

<script type="text/javascript" src="/assets/solution/plugins/jquery-1.11.0.min.js"></script>
<script type="text/javascript" src="/assets/solution/plugins/jquery-ui/jquery-ui-1.10.3.custom.min.js"></script>

<link href="/assets/solution/skins/default/css/style-metronic.css" media="screen" rel="stylesheet" type="text/css" />
<link href="/assets/solution/skins/default/css/style.css" media="screen" rel="stylesheet" type="text/css" />
<link href="/assets/solution/skins/default/css/style-responsive.css" media="screen" rel="stylesheet" type="text/css" />
<link href="/assets/solution/skins/default/css/plugins.css" media="screen" rel="stylesheet" type="text/css" />
<link href="/assets/solution/skins/default/css/pages/tasks.css" media="screen" rel="stylesheet" type="text/css" />
<link href="/assets/solution/skins/default/css/themes/blue.css" media="screen" rel="stylesheet" type="text/css" />
<link href="/assets/solution/skins/default/css/custom.css" media="screen" rel="stylesheet" type="text/css" />
<?php
try{
	$var_array = Zend_Controller_Front::getInstance()->getRequest()->getParams();
}catch(Exception $e){
	
}

$module =null;
if($var_array['module'] != 'default') {
	$module =$var_array['module'];	
}

//echo $this->jQuery();
//$this->loadSkin($this->skin, $module);
echo $this->headLink();
?>

<script src="/assets/solution/plugins/jquery-migrate-1.2.1.min.js" type="text/javascript"></script>
</head>

<body>

<?php 
if($this->layout()->nestedLayout){
	$this->layout()->setLayout($this->layout()->nestedLayout); 
}else{
	$this->layout()->setLayout('metronic');
}                             
echo $this->layout()->render();  

?>
	<?php 
     //$view->setScriptPath('/path/to/view/scripts')
   // $this->setScriptPath(APPLICATION_PATH . '/views/theme/core/');
    //echo $this->render('util/profiler.phtml');
?>
<!-- BEGIN JAVASCRIPTS(Load javascripts at bottom, this will reduce page load time) -->
<script src="/assets/solution/plugins/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
<script src="/assets/solution/plugins/bootstrap-hover-dropdown/twitter-bootstrap-hover-dropdown.min.js" type="text/javascript"></script>
<script src="/assets/solution/plugins/jquery-slimscroll/jquery.slimscroll.min.js" type="text/javascript"></script>
<script src="/assets/solution/plugins/jquery.blockui.min.js" type="text/javascript"></script>
<script src="/assets/solution/plugins/jquery.cokie.min.js" type="text/javascript"></script>
<script src="/assets/solution/plugins/uniform/jquery.uniform.min.js" type="text/javascript"></script>
<!-- END CORE PLUGINS -->
<!-- BEGIN PAGE LEVEL SCRIPTS -->
<script src="/assets/solution/scripts/app.js" type="text/javascript"></script>
<!-- END PAGE LEVEL SCRIPTS -->
<?php 
echo $this->headScript();
?>
</body>

</html>
