<!DOCTYPE html>
<html lang="en">
    <!--<![endif]-->
    <!-- BEGIN HEAD -->

    <head>
        <meta charset="utf-8" />
     
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta content="width=device-width, initial-scale=1" name="viewport" />
        <meta content="" name="description" />
        <meta content="" name="author" />
		
		<?php 
		echo $this->headMeta();
		//echo $this->headTitle();
		?>
        <title>BigBox</title>
         <script src="/assets/core/global/plugins/jquery.min.js" type="text/javascript"></script>
         <script src="/assets/core/global/plugins/jquery-ui/jquery-ui.min.js" type="text/javascript"></script>
        <link href="/assets/core/global/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
        <link href="/assets/core/global/plugins/simple-line-icons/simple-line-icons.min.css" rel="stylesheet" type="text/css" />
        <link href="/assets/core/global/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
        <link href="/assets/core/global/plugins/bootstrap-switch/css/bootstrap-switch.min.css" rel="stylesheet" type="text/css" />
        <!-- END GLOBAL MANDATORY STYLES -->
        <!-- BEGIN PAGE LEVEL PLUGINS -->
        <link href="/assets/core/global/plugins/bootstrap-daterangepicker/daterangepicker.min.css" rel="stylesheet" type="text/css" />
        <link href="/assets/core/global/plugins/morris/morris.css" rel="stylesheet" type="text/css" />
        <link href="/assets/core/global/plugins/fullcalendar/fullcalendar.min.css" rel="stylesheet" type="text/css" />
        <link href="/assets/core/global/plugins/jqvmap/jqvmap/jqvmap.css" rel="stylesheet" type="text/css" />
        <!-- END PAGE LEVEL PLUGINS -->
        <!-- BEGIN THEME GLOBAL STYLES -->
        <link href="/assets/core/global/css/components-rounded.min.css" rel="stylesheet" id="style_components" type="text/css" />
        <link href="/assets/core/global/css/plugins.min.css" rel="stylesheet" type="text/css" />
        <!-- END THEME GLOBAL STYLES -->
        <!-- BEGIN THEME LAYOUT STYLES -->
        <link href="/assets/core/layouts/layout/css/layout.min.css" rel="stylesheet" type="text/css" />
        <link href="/assets/core/layouts/layout/css/themes/darkblue.min.css" rel="stylesheet" type="text/css" id="style_color" />
        <link href="/assets/core/layouts/layout/css/custom.min.css" rel="stylesheet" type="text/css" />
        <!-- END THEME LAYOUT STYLES -->
         <link rel="shortcut icon" href="/favicon.ico" /> 
		<?php
		try{
			$var_array = Zend_Controller_Front::getInstance()->getRequest()->getParams();
		}catch(Exception $e){
			
		}

		$module =null;
		if($var_array['module'] != 'default') {
			$module =$var_array['module'];	
		}

		echo $this->headLink();
		?>
        </head>
    <!-- END HEAD -->

    <body class="page-header-fixed page-sidebar-closed page-content-white">
       
		<?php 
		if($this->layout()->nestedLayout){
			$this->layout()->setLayout($this->layout()->nestedLayout); 
		}else{
			$this->layout()->setLayout('l1');
		}                             
		echo $this->layout()->render();  

		?>        
        <div class="modal fade in" id="basic" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                        <h4 class="modal-title font-blue-chambray" id="ext_modaltitle"></h4>
                        <h5 id="author_publisher" class="font-blue-chambray"></h5>
                        <!-- <i class="fa fa-file-word-o"></i>download</a> -->
                    </div>
                    <div class="modal-body" id="div-extract" style="background-color:#17C4BB;"> Modal body goes here </div>
                    <div class="modal-footer">
                        <button type="button" class="btn dark btn-outline" data-dismiss="modal">Tutup</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- END FOOTER -->
        <!--[if lt IE 9]>
<script src="/assets/core/global/plugins/respond.min.js"></script>
<script src="/assets/core/global/plugins/excanvas.min.js"></script> 
<![endif]-->
        <!-- BEGIN CORE PLUGINS -->
		<script src="/assets/core/global/plugins/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
        <script src="/assets/core/global/plugins/js.cookie.min.js" type="text/javascript"></script>
        <script src="/assets/core/global/plugins/bootstrap-hover-dropdown/bootstrap-hover-dropdown.min.js" type="text/javascript"></script>
        <script src="/assets/core/global/plugins/jquery-slimscroll/jquery.slimscroll.min.js" type="text/javascript"></script>
        <script src="/assets/core/global/plugins/jquery.blockui.min.js" type="text/javascript"></script>
        <script src="/assets/core/global/plugins/bootstrap-switch/js/bootstrap-switch.min.js" type="text/javascript"></script>
        <!-- END CORE PLUGINS -->
        <!-- BEGIN THEME GLOBAL SCRIPTS -->
        <script src="/assets/core/global/scripts/app.min.js" type="text/javascript"></script>
        <!-- END THEME GLOBAL SCRIPTS -->
		<!-- BEGIN THEME LAYOUT SCRIPTS -->
        <script src="/assets/core/layouts/layout/scripts/layout.min.js" type="text/javascript"></script>
        <script src="/assets/core/layouts/layout/scripts/demo.min.js" type="text/javascript"></script>
        <script src="/assets/core/layouts/global/scripts/quick-sidebar.min.js" type="text/javascript"></script>
        <script src="/assets/core/global/plugins/jquery-validation/js/jquery.validate.min.js"></script>
        <!-- END THEME LAYOUT SCRIPTS -->
        <?php 
			echo $this->headScript();



            $auth = Zend_Auth::getInstance();
            $identity = $auth->getIdentity();

            if(in_array(52, $identity->roles)){
            ?>
            
        <script>

            var xhr_extract=null;

            function getExtract(me){



                if(xhr_extract!=null && xhr_extract!=undefined){

                    xhr_extract.abort();

                }



                $(".modal-dialog").removeClass("modal-full");

                $(".modal-dialog").addClass("modal-lg");



                $("#div-extract").html("");

                App.blockUI({target:"#div-extract",boxed:!0});

                $("#ext_modaltitle").html("");



                var formData = {}

                var param = "";

                param +="&entity="+$(me).data("entity");;

                param +="&id="+$(me).data("id");

                // console.log(param);



                xhr_extract = $.ajax({  

                    type: "GET",

                    url: '/domas/ajaxhome/extract?'+param,

                    data: formData, //last_id kita berarti 15

                    dataType: "html",  //sesuai keinginan, di sini saya pengen ngambil langsung data dalam bentuk html langsung dari file data_per_load.php

                    success: function(data){

                         // console.log(data);

                        $("#div-extract").html(data);

                        App.unblockUI("#div-extract");

                    }

                });
            }
            jQuery(document).ready(function(){
                
            var SearchingTab = function() {

                var handleAdd = function() {

                    $('form#search4all').validate({
                        //errorElement: 'span', //default input error message container
                        //errorClass: 'help-block', // default input error message class
                        focusInvalid: false, // do not focus the last invalid input
                        rules: {
                            sqltext: {
                                required: true
                            }
                        },
                        messages: {
                        },
                        invalidHandler: function(event, validator) {

                            $('span.help-block').hide();
                            var errorlist = validator.errorList;
                            if (errorlist.length > 0) {
                                for (var i = 0; i < errorlist.length; i++) {
                                    //console.log(errorlist[i].element);
                                    var el = errorlist[i].element;
                                    var next = $(el).next('span.help-block');
                                    $(next).slideDown();
                                }
                                $('.modal-scrollable:visible').animate({
                                    scrollTop: $(el).offset().top
                                }, 800);
                            }
                        },
                        highlight: function(element) { // hightlight error inputs
                            $(element)
                                    .closest('.form-group').addClass('has-error'); // set error class to the control group
                        },
                        success: function(label) {
                            label.closest('.form-group').removeClass('has-error');
                            //label.remove();
                        },
                        errorPlacement: function(error, element) {
                            $('span.help-block').hide();
                            var next = element.next('span.help-block');
                            //console.log(error);
                            if (error[0].textContent != "") {
                                $(next).children('span.label').html("<i class='fa fa-warning'></i> " + error[0].textContent);
                                $(element).next().slideDown();
                                $('.modal-scrollable:visible').animate({
                                    scrollTop: $(element).offset().top
                                }, 800);
                            }
                        },
                        submitHandler: function(form) {
                            $('#alertinfo').addClass('hidden');
                            $('span.help-block').hide();
                            $('.form-group').removeClass('has-error');
                            //form.submit(); // form validation success, call ajax form submit
                            submitForm();
                            return false;
                        }
                    });

                    $('form#search4all input').keypress(function(e) {
                        if (e.which == 13) {
                            $('span.help-block').hide();
                            $('.form-group').removeClass('has-error');
                            if ($('form#search4all').validate().form()) {
                                //$('form#addapi').submit(); //form validation success, call ajax form submit
                                submitForm();
                            }
                            return false;
                        }
                    });
                }

                var submitForm = function() {

                    //console.log($('form#addapi').serialize());
                    $.ajax({
                        url: "/domas/ajax1/latestall",
                        content: 'json',
                        type: 'get',
                        data: $('form#search4all').serialize(),
                        beforeSend: function() {
                            $('#alertinfo').addClass('hidden');
                            $('#processbar').removeClass('hidden');

                            //$('.modal-scrollable:visible').animate({
                            //  scrollTop: $('#formtitle').offset().top
                            //}, 800);
                            $('#alertinfo').removeClass('alert-success');
                            $('#alertinfo').removeClass('alert-warning');
                            $('#alertinfo').removeClass('alert-danger');
                            $('#alertinfo').removeClass('alert-info');
                        },
                        complete: function(result) {
                            $('#processbar').addClass('hidden');
                        },
                        success: function(data) {
                            //console.log(data);
                            if (data!= undefined) {
                                if (data) {
                                    //alert("ok");
                                    $('#alertinfo').addClass('alert-success');
                                    $('.page-content').html(data);
                                    //resetForm();
                                } else {
                                    $('#alertinfo').addClass('alert-warning');
                                    $('#alertmsg').html("<strong>Failed!</strong> " + data.retMsg);
                                }
                            } else {
                                $('#alertinfo').addClass('alert-info');
                                $('#alertmsg').html("<strong>Error!</strong> System is busy, please try again.");
                            }
                            $('#alertinfo').removeClass('hidden');

                        },
                        error: function() {
                            $('#alertinfo').addClass('alert-info');
                            $('#alertmsg').html("<strong>Error!</strong> System is busy, please try again.");
                            $('#alertinfo').removeClass('hidden');
                        }
                    });
                }



                var resetForm = function() {
                    //$('input','form#addapi')


                    $('select,option', 'form#search4all')
                    //.removeAttr('checked')
                    //.removeAttr('selected');

                    $('.make-switch').bootstrapSwitch('setState', false);

                    $('.ms-selectable').find('li').removeClass('ms-selected');
                    $('.ms-selection').find('li').removeClass('ms-hover');
                    $('.ms-selectable').find('li').removeAttr('style');

                    $('.ms-selection').find('li').removeClass('ms-selected');
                    $('.ms-selection').find('li').removeClass('ms-hover');
                    $('.ms-selection').find('li').css({display: 'none'});
                }

                return {
                    //main function to initiate the module
                    init: function() {
                        handleAdd();
                    },
                    submit: function() {

                        submitForm();
                    }

                };

            }();
          

            SearchingTab.init();
            });
        </script>
            <?php
            }
		?>
</body>
</html>
