<style>
    .feeds .col2 .date {
        padding:0px;
    }
</style>

<div class="page-content">

    <!-- BEGIN PAGE HEADER-->
    <div class="row">
        <div class="col-md-12">
            <!-- BEGIN PAGE TITLE & BREADCRUMB-->
            <h3 class="page-title">
                Edit User <small>PrabaC</small>
            </h3>
            <ul class="page-breadcrumb breadcrumb">
                <li>
                    <i class="fa fa-rss"></i>
                    <a href="/">PrabaC</a>
                    <i class="fa fa-angle-right"></i>
                </li>
                <li>
                    <i class="fa fa-cogs"></i>
                    <a href="/">Admin Area</a>
                    <i class="fa fa-angle-right"></i>
                </li>
                <li>
                    <i class="fa fa-group"></i>
                    <a href="/admin/manageusers">Manage Users</a>
                    <i class="fa fa-angle-right"></i>
                </li>
                <li>
                    <i class="fa fa-user"></i>
                    Edit User
                </li>
                <!--li class="btn-group pull-right">
                        <button type="button" class="btn red">
                                <span>
                <?php echo Zend_Auth::getInstance()->getIdentity()->fullname; ?>
                                </span>
                        </button>
                </li-->
            </ul>
            <!-- END PAGE TITLE & BREADCRUMB-->
        </div>
    </div>
    <!-- END PAGE HEADER-->

    <div class="row">
        <div class="col-md-12">
            <!-- BEGIN PORTLET-->
            <div class="portlet paddingless">
                <div class="portlet-title line">
                    <div class="caption">
                        <i class="fa fa-bell-o"></i>Feeds
                    </div>
                    <div class="tools">
                        <a href="" class="collapse"></a>
                        <a href="#portlet-config" data-toggle="modal" class="config"></a>
                        <a href="" class="reload"></a>
                        <a href="" class="remove"></a>
                    </div>
                </div>
                <div class="portlet-body">
                    <div class="scroller" style="height: 290px;" data-always-visible="1" data-rail-visible="0">
                        <ul class="feeds">


                        </ul>
                    </div>
                </div>
            </div>
            <!-- END PORTLET-->

        </div>
    </div>

</div>

<script>
    var data = {};
    jQuery(document).ready(function() {
        $('body').addClass('page-header-fixed page-sidebar-fixed page-footer-fixed');
        App.init();
        var str = "";
        //wss://localhost:9998/logshttp://103.16.199.56/
        var wsSocRcv = "ws://localhost:9998/logs";
        var wsRcv = new WebSocket(wsSocRcv);
        wsRcv.onopen = function() {
            console.log("Connection established, message sent ...");
        };
        wsRcv.onmessage = function(evt) {

            var data = JSON.parse(evt.data);
            console.log(data);
            var level = {
                '100': 'fa-search-plus',
                '200': 'fa-info-circle',
                '250': 'fa-bullhorn',
                '300': 'fa-warning',
                '500': 'fa-bug',
                '550': 'fa-minus-circle',
                '600': 'fa-bell'};
            var colors = {
                '100': 'success',
                '200': 'default',
                '250': 'info',
                '300': 'warning',
                '500': 'warning',
                '550': 'danger',
                '600': 'danger'};
            if (data.data != undefined) {
                var id = 0;
                $.each(data.data, function(key, val) {

                    if (!jQuery("#" + key).length) {
                        var context = "";
                        var extra = "";
                        if (val.context != undefined) {
                            $.each(val.context, function(key, val) {
                                context = context + ' ' + key + '=' + val + '; ';

                            });
                        }
                        if (val.extra != undefined) {
                            $.each(val.extra, function(key, val) {
                                extra = extra + ' ' + key + '=' + val + '; ';

                            });
                        }

                        //context =+ context;
                        console.log(context);
                        var str = '<li id="' + key + '"><div class="col1"><div class="cont"><div class="cont-col1">'
                                + '<div class = "label label-sm label-' + colors[val.level] + '" >'
                                + '<i class = "fa ' + level[val.level] + '" > </i></div></div>'
                                + '<div class = "cont-col2" >'
                                + '<div class = "desc" ><span class="label label-sm label-' + colors[val.level] + ' label-mini">' + val.channel + '</span> <a>' + val.message + '</a>' + context + ' ' + extra + ' </div></div></div></div>'
                                + '<div class = "col2" >'
                                + '<div class = "date" > ' + val.datetime.date + '</div></div></li>';
                        jQuery(".feeds").prepend(str).show('slow');
                    }
                });
            }
        };
        wsRcv.onclose = function() {
            // websocket is closed.
            console.log("Connection is closed...");
            wsRcv = null;
        };
        //  map.setZoom(5);
    });


</script>
