<?php
	//die('www');
?>
<div class="page-content">

<!-- BEGIN PAGE HEADER-->
<div class="row">
	<div class="col-md-12">
		<!-- BEGIN PAGE TITLE & BREADCRUMB-->
		<h3 class="page-title">
		Logs <small>Domas</small>
		</h3>
	
		<!-- END PAGE TITLE & BREADCRUMB-->
	</div>
</div>
<!-- END PAGE HEADER-->
<!--
<div class="row" style="margin-bottom:15px">
	<div class="col-md-12">
		<h4>User Filter</h4>
		<form class="form-inline" role="form">
			<div class="form-group">
				<label class="sr-only" for="filteruname">User Name</label>
				<div class="input-icon">
					<i class="fa fa-user"></i>
					<input type="text" class="form-control" id="filteruname" name="filteruname" placeholder="User Name">
				</div>
			</div>
			<div class="form-group">
				<label class="sr-only" for="filterfullname">Full Name</label>
				<div class="input-icon">
					<i class="fa fa-user"></i>
					<input type="text" class="form-control" id="filterfullname" name="filterfullname" placeholder="Full Name">
				</div>
			</div>
			<div class="form-group">
				<label class="sr-only" for="filteremail">Email</label>
				<div class="input-icon">
					<i class="fa fa-envelope"></i>
					<input type="text" class="form-control" id="filteremail" name="filteremail" placeholder="Email">
				</div>
			</div>
			
		</form>
		<br>
		<form class="form-inline" role="form">
			<div class="form-group">
				<label class="sr-only" for="filterubis">Ubis</label>
				<div class="input-icon">
					<i class="fa fa-circle-o"></i>
					<input type="text" class="form-control" id="filterubis" name="filterubis" placeholder="Ubis">
				</div>
			</div>
			<div class="form-group">
				<label class="sr-only" for="filtersub_ubis">Sub Ubis</label>
				<div class="input-icon">
					<i class="fa fa-dot-circle-o"></i>
					<input type="text" class="form-control" id="filtersub_ubis" name="filtersub_ubis" placeholder="Sub Ubis">
				</div>
			</div>
			<div class="form-group">
				<label class="sr-only" for="position">Position</label>
				<div class="input-icon">
					<i class="fa fa-circle"></i>
					<input type="text" class="form-control" id="position" name="position" placeholder="Position">
				</div>
			</div>
			
		</form>
	</div>
</div>
-->
<div class="row">
	<div class="col-md-12">
	<!-- BEGIN EXAMPLE TABLE PORTLET-->
	<div class="portlet box grey">
		<div class="portlet-title">
			<div class="caption">
				<i class="fa fa-edit"></i>User Datatable
			</div>
           <!--
			<div class="actions">
            
				<a href="#" class="btn green" data-target="static2" data-toggle="modal" id="btn-addnew"><i class="fa fa-plus"></i> Add New</a>
				<a href="#" class="btn blue reload"><i class="fa fa-refresh"></i> Reload</a>
				<div class="btn-group">
					<a class="btn default" href="#" data-toggle="dropdown">
					Columns <i class="fa fa-angle-down"></i>
					</a>
					<div id="sample_2_column_toggler" class="dropdown-menu hold-on-click dropdown-checkboxes pull-right">
						<label><input type="checkbox" checked data-column="0">No</label>
						<label><input type="checkbox" checked data-column="1">ID</label>
						<label><input type="checkbox" checked data-column="7">Position</label>
						<label><input type="checkbox" checked data-column="8">Mobile Phone</label>
						<label><input type="checkbox" checked data-column="9">Fixed Phone</label>
					</div>
				</div>
			</div>-->
			<!--div class="tools">
				<a href="javascript:;" class="reload"></a>
			</div-->
		</div>
		<div class="portlet-body">
			
			<table class="table table-striped table-bordered table-hover" id="user_table">
			<thead>
			<tr>
				<th>
					 No
				</th>
				<th>
					 log_type
				</th>
				<th>
					 subject
				</th>
				<th>
					 reff id
				</th>
				<th>
					 log date
				</th>
				<th>
					 description
				</th>
				<th>
					 by
				</th>
				
			</tr>
			</thead>
			<tbody>
			</tbody>
			</table>
			
		
		</div>
	</div>
	<!-- END EXAMPLE TABLE PORTLET-->
	</div>
</div>

</div>

<script>
	
jQuery(document).ready(function() {

var TableAjax4 = function () {

    return {

        //main function to initiate the module
        init: function () {
            
            if (!jQuery().dataTable) {
                return;
            }

            // begin first table	
            var oTable = $('#user_table').dataTable({
               // "sDom" : "<'row'<'col-md-6 col-sm-12'l><'col-md-6 col-sm-12'f>r>t<'row'<'col-md-5 col-sm-12'i><'col-md-7 col-sm-12'p>>", //default layout without horizontal scroll(remove this setting to enable horizontal scroll for the table)
                "aLengthMenu": [
                    [10,50, 200, 500 -1],
                    [10,50, 200, 500, "All"] // change per page values here
                ],
                "bProcessing": true,
                "bServerSide": true,
                "sAjaxSource": "/domas/ajax/ajaxlogs/app/<?php echo $this->varams['app'];?>",
                // set the initial value
                "iDisplayLength": 50,
                "sPaginationType": "bootstrap_full_number",
                "oLanguage": {
                    "sProcessing": '<i class="fa fa-coffee"></i>&nbsp;Please wait...',
                    "sLengthMenu": "_MENU_ records",
                    "oPaginate": {
                        "sPrevious": "Prev",
                        "sNext": "Next"
                    },
			"sSearch": "Search all columns:"
                },
                "aoColumnDefs": [{
                        'bSortable': false,
                        'aTargets': [0,6]
                    }
                ]
            });

            jQuery('#user_table_wrapper .dataTables_filter input').addClass("form-control input-medium"); // modify table search input
            jQuery('#user_table_wrapper .dataTables_length select').addClass("form-control input-small"); // modify table per page dropdown

            // handle record edit/remove
            //$('body').on('click', '#graph_table_wrapper .btn-graph', function() {
            //    alert('Edit record with id:' + $(this).attr("data-id"));
            //});

		
		$("input#filterid").keyup( function () {
			/* Filter on the column (the index) of this element */
			oTable.fnFilter( this.value, 1 );
		} );
		$("input#filteruname").keyup( function () {
			/* Filter on the column (the index) of this element */
			oTable.fnFilter( this.value, 2 );
		} );
		$("input#filterfullname").keyup( function () {
			/* Filter on the column (the index) of this element */
			oTable.fnFilter( this.value, 3 );
		} );
		$("input#filteremail").keyup( function () {
			/* Filter on the column (the index) of this element */
			oTable.fnFilter( this.value, 4 );
		} );
		$("input#filterubis").keyup( function () {
			/* Filter on the column (the index) of this element */
			oTable.fnFilter( this.value, 5 );
		} );
		$("input#filtersub_ubis").keyup( function () {
			/* Filter on the column (the index) of this element */
			oTable.fnFilter( this.value, 6 );
		} );
		$("input#filterposition").keyup( function () {
			/* Filter on the column (the index) of this element */
			oTable.fnFilter( this.value, 7 );
		} );
		$("a.reload").click( function () {
			/* Filter on the column (the index) of this element */
			oTable.fnDraw();
		} );

        $('#sample_2_column_toggler input[type="checkbox"]').change(function(){
            /* Get the DataTables object again - this is not a recreation, just a get of the object */
            var iCol = parseInt($(this).attr("data-column"));
            var bVis = oTable.fnSettings().aoColumns[iCol].bVisible;
            oTable.fnSetColumnVis(iCol, (bVis ? false : true));
        });


        }

    };

}();

	
	TableAjax4.init();
	
});
</script>
