<?php
	//die('www');
?>
<div class="page-content">

<!-- BEGIN PAGE HEADER-->
<div class="row">
	<div class="col-md-12">
		<!-- BEGIN PAGE TITLE & BREADCRUMB-->
		<h3 class="page-title">
		Users Management <small>Prabac</small>
		</h3>
		
		<!-- END PAGE TITLE & BREADCRUMB-->
	</div>
</div>
<!-- END PAGE HEADER-->

<div class="row" style="margin-bottom:15px">
	<div class="col-md-12">
		<h4>User Filter</h4>
		<form class="form-inline" role="form">
			<div class="form-group">
				<label class="sr-only" for="filteruname">User Name</label>
				<div class="input-icon">
					<i class="fa fa-user"></i>
					<input type="text" class="form-control" id="filteruname" name="filteruname" placeholder="User Name">
				</div>
			</div>
			<div class="form-group">
				<label class="sr-only" for="filterfullname">Full Name</label>
				<div class="input-icon">
					<i class="fa fa-user"></i>
					<input type="text" class="form-control" id="filterfullname" name="filterfullname" placeholder="Full Name">
				</div>
			</div>
			<div class="form-group">
				<label class="sr-only" for="filteremail">Email</label>
				<div class="input-icon">
					<i class="fa fa-envelope"></i>
					<input type="text" class="form-control" id="filteremail" name="filteremail" placeholder="Email">
				</div>
			</div>
			<!--button type="submit" class="btn btn-default">Filter</button-->
		</form>
		<br>
		<form class="form-inline" role="form">
			<div class="form-group">
				<label class="sr-only" for="filterubis">Ubis</label>
				<div class="input-icon">
					<i class="fa fa-circle-o"></i>
					<input type="text" class="form-control" id="filterubis" name="filterubis" placeholder="Ubis">
				</div>
			</div>
			<div class="form-group">
				<label class="sr-only" for="filtersub_ubis">Sub Ubis</label>
				<div class="input-icon">
					<i class="fa fa-dot-circle-o"></i>
					<input type="text" class="form-control" id="filtersub_ubis" name="filtersub_ubis" placeholder="Sub Ubis">
				</div>
			</div>
			<!--div class="form-group">
				<label class="sr-only" for="position">Position</label>
				<div class="input-icon">
					<i class="fa fa-circle"></i>
					<input type="text" class="form-control" id="position" name="position" placeholder="Position">
				</div>
			</div-->
			<!--button type="submit" class="btn btn-default">Filter</button-->
		</form>
	</div>
</div>

<div class="row">
	<div class="col-md-12">
	<!-- BEGIN EXAMPLE TABLE PORTLET-->
	<div class="portlet box grey">
		<div class="portlet-title">
			<div class="caption">
				<i class="fa fa-edit"></i>User Datatable
			</div>
			<div class="actions">
				<a href="#" class="btn green" data-target="static2" data-toggle="modal" id="btn-addnew"><i class="fa fa-plus"></i> Add New</a>
				<a href="#" class="btn blue reload"><i class="fa fa-refresh"></i> Reload</a>
				<div class="btn-group">
					<a class="btn default" href="#" data-toggle="dropdown">
					Columns <i class="fa fa-angle-down"></i>
					</a>
					<div id="sample_2_column_toggler" class="dropdown-menu hold-on-click dropdown-checkboxes pull-right">
						<label><input type="checkbox" checked data-column="0">No</label>
						<label><input type="checkbox" checked data-column="1">ID</label>
						<label><input type="checkbox" checked data-column="7">Position</label>
						<label><input type="checkbox" checked data-column="8">Mobile Phone</label>
						<label><input type="checkbox" checked data-column="9">Fixed Phone</label>
					</div>
				</div>
			</div>
			<!--div class="tools">
				<a href="javascript:;" class="reload"></a>
			</div-->
		</div>
		<div class="portlet-body">
			<!--div class="table-toolbar">
				<div class="btn-group">
					<button id="sample_editable_1_new" class="btn green">
					Add New <i class="fa fa-plus"></i>
					</button>
				</div>
				<!--div class="btn-group pull-right">
					<button class="btn dropdown-toggle" data-toggle="dropdown">Tools <i class="fa fa-angle-down"></i>
					</button>
					<ul class="dropdown-menu pull-right">
					<li>
						<a href="#">Print</a>
					</li>
					<li>
						<a href="#">Save as PDF</a>
					</li>
					<li>
						<a href="#">Export to Excel</a>
					</li>
					</ul>
				</div>
			</div-->
			<table class="table table-striped table-bordered table-hover" id="user_table">
			<thead>
			<tr>
				<th>
					 No
				</th>
				<th>
					 ID
				</th>
				<th>
					 User Name
				</th>
				<th>
					 Full Name
				</th>
				<th>
					 Email
				</th>
				<th>
					 Ubis
				</th>
				<th>
					 Sub Ubis
				</th>
				<th>
					 Position
				</th>
				<th>
					 Mobile Phone
				</th>
				<th>
					 Fixed Phone
				</th>
				<th>
					 
				</th>
			</tr>
			</thead>
			<tbody>
			</tbody>
			</table>
			
			<!-- ajax -->
			<div id="ajax-modal" class="modal container fade modal-scroll modal-overflow in" tabindex="-1">
			</div>
			<!-- static -->
			<div id="static" class="modal fade" tabindex="-1" data-backdrop="static" data-keyboard="false">
				<div class="modal-body" style="padding:0px">
				<div class="portlet box red" style="margin:0px">
					<div class="portlet-title">
						<div class="caption">
							Are you sure to delete this user?
						</div>
						<div class="tools">
						</div>
					</div>
					<div class="portlet-body">
						<div class="alert alert-success alert-dismissable hidden" id="alertinfo2">
							<button type="button" class="close" data-dismiss="alert" aria-hidden="true"></button>
							<span id="alertmsg2"><strong>Warning!</strong> Something went wrong. Please check.</span>
						</div>
						
						<div style="margin:0px auto;text-align:center" id="processbar2" class="hidden">
							<div class="progress progress-striped active" style="margin:0px auto;text-align:center">
								<div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
									<span class="sr-only">
										On Process
									</span>
								</div>
							</div>
							<span style="margin:0px auto;">Please wait...processing request</span>
							<br>
						</div>
					<table>
						<tr>
							<td>
								 ID
							</td>
							<td>
								 :
							</td>
							<td id="static_id">
								 
							</td>
						</tr>
						<tr>
							<td>
								 User Name
							</td>
							<td>
								 :
							</td>
							<td id="static_uname">
								 
							</td>
						</tr>
						<tr>
							<td>
								 Full Name
							</td>
							<td>
								 :
							</td>
							<td id="static_fullname">
								 
							</td>
						</tr>
						<tr>
							<td>
								 Email
							</td>
							<td>
								 :
							</td>
							<td id="static_email">
								 
							</td>
						</tr>
						<tr>
							<td>
								 Ubis
							</td>
							<td>
								 :
							</td>
							<td id="static_ubis">
								 
							</td>
						</tr>
						<tr>
							<td>
								 Sub Ubis
							</td>
							<td>
								 :
							</td>
							<td id="static_sububis">
								 
							</td>
						</tr>
						<tr>
							<td>
								 Position
							</td>
							<td>
								 :
							</td>
							<td id="static_position">
								 
							</td>
						</tr>
						<tr>
							<td>
								 Mobile Phone
							</td>
							<td>
								 :
							</td>
							<td id="static_mobilephone">
								 
							</td>
						</tr>
						<tr>
							<td>
								 Fixed Phone
							</td>
							<td>
								 :
							</td>
							<td id="static_fixedphone">
								 
							</td>
						</tr>
					</table>
					</div>
				</div>
				</div>
				<div class="modal-footer" style="margin-top:0px">
					<button type="button" data-dismiss="modal" class="btn btn-default">Cancel</button>
					<button type="button" id="deleteconfirm" class="btn red">Yes</button>
				</div>
			</div>
			<!-- static -->
			<div id="static2" class="modal container fade modal-scroll modal-overflow in" tabindex="-1" data-backdrop="static" data-keyboard="false">
				<div class="modal-body" style="padding:5px">
					<div class="portlet box green" style="margin:0px">
						<div class="portlet-title">
							<div class="caption">
								Add new user
							</div>
							 <div class="actions">
								 <a href="#" class="btn reload" data-dismiss="modal"><i class="fa fa-times"></i></a>
							 </div>
							<div class="tools">
							</div>
						</div>
						<div class="portlet-body" style="padding:15px">
							<form action="" class="form-horizontal" id="edituser" method="post">
							<input type="hidden" name="id" value="" />
							<input type="hidden" name="pid" value="" />
							<!-- BEGIN FORM-->
							<div class="form-body">
								<div class="alert alert-success alert-dismissable hidden" id="alertinfo">
									<button type="button" class="close" data-dismiss="alert" aria-hidden="true"></button>
									<span id="alertmsg"><strong>Warning!</strong> Something went wrong. Please check.</span>
								</div>
								
								<div style="margin:0px auto;text-align:center" id="processbar" class="hidden">
									<div class="progress progress-striped active" style="margin:0px auto;text-align:center">
										<div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
											<span class="sr-only">
												On Process
											</span>
										</div>
									</div>
									<span style="margin:0px auto;">Please wait...processing request</span>
								</div>
								
								<h3 class="form-section" id="formtitle">User Info</h3>
								
								<div class="row" style="padding:0px 15px;">
									<div class="col-md-5">
										<div class="form-group">
											<label for="uname">User Name</label>
											<input type="text" name="uname" id="uname" class="form-control" placeholder="User Name" value="<?php echo (isset($this->data['uname'])?$this->data['uname']:'') ?>">
											<span class="help-block">
												<span class="label label-danger"><i class="fa fa-warning"> </i>This is inline help</span>
											</span>
										</div>
									</div>
									<div class="col-md-offset-1 col-md-5">
										<div class="form-group">
											<label for="fullname">Full Name</label>
											<input type="text" name="fullname" id="fullname" class="form-control" placeholder="Full Name" value="<?php echo (isset($this->data['fullname'])?$this->data['fullname']:'') ?>">
											<span class="help-block">
												<span class="label label-danger"><i class="fa fa-warning"> </i>This is inline help</span>
											</span>
										</div>
									</div>
								</div>
								<div class="row" style="padding:0px 15px;">
									<div class="col-md-5">
										<div class="form-group">
											<label for="pass">Password [NonLDAP]</label>
											<input type="password" name="pass" id="pass" class="form-control" placeholder="Password" value="<?php echo (isset($this->data['upassword'])?$this->data['upassword']:'') ?>">
											<span class="help-block">
												<span class="label label-danger"><i class="fa fa-warning"> </i>This is inline help</span>
											</span>
										</div>
									</div>
									<div class="col-md-offset-1 col-md-5">
										<div class="form-group">
											<label for="position">Position</label>
											<input type="text" name="position" id="position" class="form-control" placeholder="Position" value="<?php echo (isset($this->data['jabatan'])?$this->data['jabatan']:'') ?>">
											<span class="help-block">
												<span class="label label-danger"><i class="fa fa-warning"> </i>This is inline help</span>
											</span>
										</div>
									</div>
								</div>
								<div class="row" style="padding:0px 15px;">
									<div class="col-md-5">
										<div class="form-group">
											<label for="email">Email</label>
											<input type="email" name="email" id="email" class="form-control" placeholder="Email" value="<?php echo (isset($this->data['email'])?$this->data['email']:'') ?>">
											<span class="help-block">
												<span class="label label-danger"><i class="fa fa-warning"> </i>This is inline help</span>
											</span>
										</div>
									</div>
									<div class="col-md-offset-1 col-md-5">
										<div class="form-group">
											<label for="mobile">Mobile Phone</label>
											<input type="text" name="mobile" id="mobile" class="form-control" placeholder="Mobile Phone" value="<?php echo (isset($this->data['mobile_phone'])?$this->data['mobile_phone']:'') ?>">
											<span class="help-block">
												<span class="label label-danger"><i class="fa fa-warning"> </i>This is inline help</span>
											</span>
										</div>
									</div>
								</div>
								<div class="row" style="padding:0px 15px;">
									<div class="col-md-5">
										<div class="form-group">
											<label for="flexi">Flexi</label>
											<input type="text" name="flexi" id="flexi" class="form-control" placeholder="Flexi" value="<?php echo (isset($this->data['fixed_phone'])?$this->data['fixed_phone']:'') ?>">
											<span class="help-block">
												<span class="label label-danger"><i class="fa fa-warning"> </i>This is inline help</span>
											</span>
										</div>
									</div>
								   <div class="col-md-offset-1 col-md-5">
										<div class="form-group">
											<label for="istelkom">User Status</label>
											<div class="make-switch" data-on="success" data-off="danger" data-on-label=" Telkom " data-off-label=" Non-Telkom " style="display:block">
												  <input id="istelkom" type="radio" name="istelkom" value="istelkom" class="toggle" <?php echo ($this->data['is_telkom']=='1'?'checked':'') ?>>
											</div>
											<span class="help-block">
												<span class="label label-danger"><i class="fa fa-warning"> </i>This is inline help</span>
											</span>
										</div>
									</div>
								</div>
								<div class="row" style="padding:0px 15px;">
									<div class="col-md-5">
										<div class="form-group">
											<label for="ubis">Business Unit (UBIS)</label>
											<select onchange="changeSubUbis(this)" class="select2_category form-control" name="ubis" id="ubis" data-placeholder="Choose Business Unit" tabindex="1">
<?php
foreach($this->ubisarr as $k=>$v){
?>
												<option value="<?php echo $v['id']; ?>" ><?php echo $v['name']; ?></option>
<?php
}
?>
											</select>
											<span class="help-block">
												<span class="label label-danger"><i class="fa fa-warning"> </i>This is inline help</span>
											</span>
										</div>
									</div>
									<div class="col-md-offset-1 col-md-5">
										<div class="form-group">
											<label for="sububis">Sub Business Unit (SubUBIS)</label>
											<select class="select2_category form-control" name="sububis" id="sububis" data-placeholder="Choose Sub Business Unit" tabindex="1">
												<option value="" >none</option>
<?php
foreach($this->sububisarr as $k=>$v){
?>
												<option value="<?php echo $v['id']; ?>" ><?php echo $v['name']; ?></option>
<?php
}
?>
											</select>
											<span class="help-block">
												<span class="label label-danger"><i class="fa fa-warning"> </i>This is inline help</span>
											</span>
										</div>
									</div>
								</div>
								<div class="row" style="padding:0px 15px;">
									<div class="col-md-5">
										<div class="form-group">
										   <label for="isldap">LDAP</label>
										   <div class="make-switch" data-on="success" data-off="danger" style="display:block">
												<input id="isldap" type="radio" name="isldap" value="isldap" class="toggle" <?php echo ($this->data['isldap']=='1'?'checked':'') ?>>
										   </div>
											<span class="help-block">
												<span class="label label-danger"><i class="fa fa-warning"> </i>This is inline help</span>
											</span>
									   </div>
								   </div>
								</div>
								<div class="row" style="padding:0px 15px;">
									<div class="col-md-5">
										<div class="form-group">
											<label for="">Modify Roles</label>
											<select name="roles[]" class="multi-select" multiple="" id="my_multi_select3" onchange="rolesChange()">
<?php
foreach($this->roles as $k=>$v){
?>
												<option class="roleslist" value="<?php echo $v['gid']; ?>" name="roles[<?php echo $v['gid']; ?>]" ><?php echo $v['group_name']; ?></option>
<?php
}
?>
											</select>
											<span class="help-block">
												<span class="label label-danger"><i class="fa fa-warning"> </i>This is inline help</span>
											</span>
										</div>
									</div>
									<div class="col-md-offset-1 col-md-5">
										<div class="form-group">
											<label for="mainrole">Main Role</label>
											<select class="select2_category form-control" name="mainrole" id="mainrole" data-placeholder="Choose Main Role" tabindex="1">
												<option value="0-selection" id="role0-selection">none</option>
											</select>
											<span class="help-block">
												<span class="label label-danger"><i class="fa fa-warning"> </i>This is inline help</span>
											</span>
										</div>
										<div class="form-group last">
											<label for="app">Application</label>
											<select class="select2_category form-control" name="apps"  data-placeholder="Choose App" tabindex="1">
												<?php 
												foreach ($this->apps as $v) {
													echo '<option value="'.$v.'">'.$v.'</option>';

												}

												?>
											</select>
											<span class="help-block">
												<span class="label label-danger"><i class="fa fa-warning"> </i>This is inline help</span>
											</span>
										</div>
									</div>
								</div>
								<!--/row-->
							</div>
							<div class="form-actions" style="margin:0px">
							   <div class="row">
								   <div class="col-md-6">
									   <div class="col-md-offset-3 col-md-9">
										   <button type="submit" class="btn green">Submit</button>
										   <button type="button" type="button" data-dismiss="modal" class="btn default">Cancel</button>
									   </div>
								   </div>
								   <div class="col-md-6">
								   </div>
							   </div>
							</div>
							</form>
							<!-- END FORM-->
						</div>
					</div>
				</div>
				<!--div class="modal-footer">
					<button type="button" data-dismiss="modal" class="btn btn-default">Cancel</button>
					<button type="button" data-dismiss="modal" class="btn green">Submit</button>
				</div-->
			</div>
		</div>
	</div>
	<!-- END EXAMPLE TABLE PORTLET-->
	</div>
</div>

</div>

<script>
	
function changeSubUbis(me){
	var $me = $(me);
	var $val = $me.val();
	//alert($val);
	var $element = $('#sububis');
	var next = $element.next('span.help-block'); 
	
	$.ajax({
		url:"/c4/ajax/getsububis/id/"+$val+"/sub/<?php echo $this->data['sub_ubis_id'];?>",
		content:'json',
		type:'get',
		beforeSend:function(){
			$element.hide();
			$(next).children('span.label').html('<i class="fa fa-coffee"></i>&nbsp;Retrieve data...');
			$($element).next().slideDown();
		},
		complete:function(result){
					
		},
		success: function(data){
			$($element).next().hide();
			$element.html(data);
			$element.slideDown();
		},
		error:function(){
			$(next).children('span.label').html('<i class="fa fa-warning"></i>&nbsp;Failed to retrieve data.');
		}
	});
}

function rolesChange(){
	var $element = $('#mainrole');
	var next = $element.next('span.help-block'); 
	$element.hide();
	$(next).children('span.label').html('<i class="fa fa-coffee"></i>&nbsp;Retrieve data...');
	$($element).next().slideDown();

	var list = $('.ms-selection').find('li:visible');
	//console.log(list);
	var html = "<option value='0-selection' id='role0-selection'>none</option>";
	for(var i = 0; i<list.length; i++){
		html += "<option value='"+list[i].id+"' id='role"+list[i].id+"'>"+list[i].innerText+"</option>";
	}
	$($element).next().hide();
	$element.html(html);
	$element.slideDown();
}

jQuery(document).ready(function() {
$('body').addClass('page-header-fixed page-sidebar-fixed page-footer-fixed');
App.init();

UIExtendedModals3.init();
FormComponents3.init();
AddUser.init();
$('span.help-block').hide();

            
var oTable = $('#user_table').dataTable({

    "aLengthMenu": [
        [10,50, 200, 500 -1],
        [10,50, 200, 500, "All"] // change per page values here
    ],
    "bProcessing": true,
    "bServerSide": true,
    "sAjaxSource": "/ajax/tableapp/app/<?php echo $this->varams['app'] ;  ?>",
    // set the initial value
    "iDisplayLength": 50,
    "sPaginationType": "bootstrap_full_number",
    "oLanguage": {
        "sProcessing": '<i class="fa fa-coffee"></i>&nbsp;Please wait...',
        "sLengthMenu": "_MENU_ records",
        "oPaginate": {
            "sPrevious": "Prev",
            "sNext": "Next"
        },
"sSearch": "Search all columns:"
    },
    "aoColumnDefs": [{
            'bSortable': false,
            'aTargets': [0,7]
        }
    ]
});

jQuery('#user_table_wrapper .dataTables_filter input').addClass("form-control input-medium"); // modify table search input
jQuery('#user_table_wrapper .dataTables_length select').addClass("form-control input-small"); // modify table per page dropdown

// handle record edit/remove
//$('body').on('click', '#graph_table_wrapper .btn-graph', function() {
//    alert('Edit record with id:' + $(this).attr("data-id"));
//});

		
	$("input#filterid").keyup( function () {
		/* Filter on the column (the index) of this element */
		oTable.fnFilter( this.value, 1 );
	} );
	$("input#filteruname").keyup( function () {
		/* Filter on the column (the index) of this element */
		oTable.fnFilter( this.value, 2 );
	} );
	$("input#filterfullname").keyup( function () {
		/* Filter on the column (the index) of this element */
		oTable.fnFilter( this.value, 3 );
	} );
	$("input#filteremail").keyup( function () {
		/* Filter on the column (the index) of this element */
		oTable.fnFilter( this.value, 4 );
	} );
	$("input#filterubis").keyup( function () {
		/* Filter on the column (the index) of this element */
		oTable.fnFilter( this.value, 5 );
	} );
	$("input#filtersub_ubis").keyup( function () {
		/* Filter on the column (the index) of this element */
		oTable.fnFilter( this.value, 6 );
	} );
	$("input#filterposition").keyup( function () {
		/* Filter on the column (the index) of this element */
		oTable.fnFilter( this.value, 7 );
	} );
	$("a.reload").click( function () {
		/* Filter on the column (the index) of this element */
		oTable.fnDraw();
	} );

    $('#sample_2_column_toggler input[type="checkbox"]').change(function(){
        /* Get the DataTables object again - this is not a recreation, just a get of the object */
        var iCol = parseInt($(this).attr("data-column"));
        var bVis = oTable.fnSettings().aoColumns[iCol].bVisible;
        oTable.fnSetColumnVis(iCol, (bVis ? false : true));
    });


});
</script>
