<div 
id="m_ver_menu" 
class="m-aside-menu  m-aside-menu--skin-dark m-aside-menu--submenu-skin-dark " 
data-menu-vertical="true"
data-menu-scrollable="false" data-menu-dropdown-timeout="500"  
>
	<ul class="m-menu__nav  m-menu__nav--dropdown-submenu-arrow ">		
		<?php
		// echo '<li class="m-menu__item  m-menu__item--active" aria-haspopup="true" >'.
		// 		'<a  href="/bigbox" class="m-menu__link ">'.
		// 			'<i class="m-menu__link-icon flaticon-line-graph"></i>'.
		// 			'<span class="m-menu__link-title">'.
		// 				'<span class="m-menu__link-wrap">'.
		// 					'<span class="m-menu__link-text">'.
		// 						'Home'.
		// 					'</span>'.
		// 					'<span class="m-menu__link-badge">'.
		// 						'<span class="m-badge m-badge--danger">'.
		// 							'2'.
		// 						'</span>'.
		// 					'</span>'.
		// 				'</span>'.
		// 			'</span>'.
		// 		'</a>'.
		// 	'</li>';
		// echo '<li class="m-menu__item  m-menu__item--active" aria-haspopup="true" >'.
		// 		'<a  href="/" class="m-menu__link ">'.
		// 			'<i class="m-menu__link-bullet m-menu__link-bullet--dot"><span></span></i>'.
		// 			'<span class="m-menu__link-title">'.
		// 				'<span class="m-menu__link-wrap">'.
		// 					'<span class="m-menu__link-text">'.
		// 						'Old Theme'.
		// 					'</span>'.
		// 				'</span>'.
		// 			'</span>'.
		// 		'</a>'.
		// 	'</li>';

		// Zend_Debug::dump(count($this->menu));die();
		if(count($this->menu)==1){
			foreach ($this->menu as $k => $v) {
				foreach ($v['sub-menu'] as $k1 => $v1) {
					echo '<li class="m-menu__item m-menu__item--submenu m-menu__item--open" aria-haspopup="true" data-menu-submenu-toggle="hover">'.
							'<a href="'.$v1['menu_link'].'" class="m-menu__link ">'.
								'<i class="m-menu__link-icon '.($v1['class']!=''?$v1['class']:'flaticon-exclamation').'"></i>'.
								'<span class="m-menu__link-title">'.
									'<span class="m-menu__link-wrap">'.
										'<span class="m-menu__link-text">'.
											$v1['menu_name'].
										'</span>'.
									'</span>'.
								'</span>'.
							'</a>'.
							'<div class="m-menu__submenu " style="display: block;">'.
								'<span class="m-menu__arrow"></span>'.
								'<ul class="m-menu__subnav">'.									
									'<li class="m-menu__item  m-menu__item--parent" aria-haspopup="true" >'.
										'<span class="m-menu__link">'.
											'<span class="m-menu__link-text">'.
												$v1['menu_name'].
											'</span>'.
										'</span>'.
									'</li>'.
								'</ul>'.
							'</div>'.
						'</li>';
				}
			}
		} else if(count($this->menu)>1){
			foreach ($this->menu as $k => $v) {
				// Zend_Debug::dump($v);die();
				foreach ($v as $k1 => $v1) {
					// Zend_Debug::dump($v1);die();
					echo '<li class="m-menu__item m-menu__item--submenu m-menu__item--open" aria-haspopup="true" data-menu-submenu-toggle="hover">'.
							'<a href="#" class="m-menu__link m-menu__toggle">'.
								'<i class="m-menu__link-icon flaticon-layers"></i>'.
								'<span class="m-menu__link-text">'.
									$k1.
								'</span>'.
								'<i class="m-menu__ver-arrow la la-angle-right"></i>'.
							'</a>'.
							'<div class="m-menu__submenu " style="display: block;">'.
								'<span class="m-menu__arrow"></span>'.
								'<ul class="m-menu__subnav">';
					foreach ($v1['sub-menu'] as $k2 => $v2) {
						echo 		'<li class="m-menu__item " aria-haspopup="true">'.
										'<a href="'.$v2['menu_link'].'" class="m-menu__link ">'.
											'<i class="m-menu__link-bullet m-menu__link-bullet--dot">'.
												'<span></span>'.
											'</i>'.
											'<span class="m-menu__link-text">'.
												$v2['menu_name'].
											'</span>'.
										'</a>'.
									'</li>';
					}
					echo		'</ul>'.
							'</div>'.
						'</li>';
				}
			}
		}
		?>
	</ul>
</div>