<?php
	$params=array();
	foreach($this->params as $v) 
	{
		$params[$v['value_param']] = $v['display_param'];	
	}
	$modes=array();
	foreach($this->modes as $v) 
	{
		$modes[$v['value_param']] = $v['display_param'];	
	}
	$conns=array();
	foreach($this->conns as $v) 
	{
		$conns[$v['id']] = $v['conn_name'];	
	}
	//Zend_Debug::dump($this->userapp);die();
?>

<div class="m-grid__item m-grid__item--fluid m-wrapper">
	<div class="m-subheader ">
		<div class="d-flex align-items-center">
			<div class="mr-auto">
				<h3 class="m-subheader__title m-subheader__title--separator">
					API Publishing   <small>Create, manage and publish API</small>
				</h3>
				<ul class="m-subheader__breadcrumbs m-nav m-nav--inline">
					<li class="m-nav__item m-nav__item--home">
						<a href="#" class="m-nav__link m-nav__link--icon">
							<i class="m-nav__link-icon flaticon-app"></i>
						</a>
					</li>
					<li class="m-nav__item">
						<a href="http://10.62.165.147:90/" class="m-nav__link">
							<span class="m-nav__link-text">
								PraBACore >
							</span>
						</a>
					</li>
					<li class="m-nav__item">
						<a href="http://10.62.165.147:90/" class="m-nav__link">
							<span class="m-nav__link-text">
								Prabaeditor >
							</span>
						</a>
					</li>
					<li class="m-nav__item">
						<a href="" class="m-nav__link">
							<span class="m-nav__link-text">
								Edit Api
							</span>
						</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
	<div class="m-content">
		<div class="m-portlet m-portlet--mobile">
			<div class="m-portlet">
				<div class="m-portlet__head">
					<div class="m-portlet__head-caption">
						<div class="m-portlet__head-title">
							<h3 class="m-portlet__head-text">
								Add New API
							</h3>
						</div>
					</div>
				</div>
				<div class="m-portlet__body">
					<form class="m-form m-form--state m-form--fit m-form--label-align-right" id="addapi" method="post">
							<input type="hidden" name="id" value="<?php echo $this->data['id'];?>" />
							<input type="hidden" name="pid" value="" />
							<h5 class="form-section" id="formtitle">API Definition and Attributes </h5>	
								<div class="m-alert m-alert--icon alert alert-danger m--hide" role="alert" id="m_form_1_msg">
									<div class="m-alert__icon">
										<i class="la la-warning"></i>
									</div>
									<div class="m-alert__text">
										<span id="alertmsg"><strong>Warning!</strong> Something went wrong. Please check.</span>
									</div>
									<div class="m-alert__close">
										<button type="button" class="close" data-close="alert" aria-label="Close"></button>
									</div>
								</div>
								
								<div class='m--hide' id="processbar">
									<div class="progress">
										<div class="progress-bar progress-bar-striped progress-bar-animated " role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
											<span class="sr-only">
												On Process
											</span>
										</div>
									</div>
									<span style="margin:0px auto;">Please wait...processing request</span>
								</div>
								
							
								<div class="row" style="padding:0px 15px;">
									<div class="col-md-6">
										<div class="form-group">
											<label for="conname">Conn Name</label>
											<select  name="conname" id="conname" class="form-control" placeholder="Conn Name" >
											<?php 
											
											foreach ($conns as $k=>$v) 
											{
												echo "<option value='".$k."'>".$v."</option>";	
											}
											?>
											
											</select>	
												
											<span class="m-form__help">
												
											</span>
										</div>
									</div>
									<div class="col-md-offset-1 col-md-6">
										<div class="form-group">
											<label for="sqltext">Sql Text</label>
											<textarea name="sqltext" id="sqltext" class="form-control" placeholder="Sql text" value=""></textarea>
											<span class="m-form__help">
												
											</span>
										</div>
									</div>
								</div>
								<div class="row" style="padding:0px 15px;">
									<div class="col-md-6">
										<div class="form-group">
											<label for="apidesc">Api Desc</label>
											<textarea name="apidesc" id="apidesc" class="form-control" placeholder="Api Desc" value=""></textarea>
											<span class="m-form__help">
												
											</span>
										</div>
										
									</div>
									
									<div class="col-md-offset-1 col-md-6">
										<div class="form-group">
											<label for="apitype">Api Type</label>
											<select onchange="changeType(this)"  name="apitype" id="apitype" class="form-control" placeholder="Api Type" >
											<?php 
											foreach ($params as $k=>$var) 
											{
												echo "<option value='".$k."'>".$var."</option>";	
											}
											?>
											
											</select>
											
											<span class="m-form__help">
												
											</span>
										</div>
									</div>
								</div>
								<div class="row getmodel" style="padding:0px 15px;">
								
								</div>
								
								
								<div class="row" style="padding:0px 15px;">
									<div class="col-md-6">
										<div class="form-group">
											<label for="str">Api Str Replace</label>
											<input type="text" name="str" id="str" class="form-control" placeholder="Api Str Replace"  >
											<span class="m-form__help">
												
											</span>
										</div>
									</div>
									<div class="col-md-offset-1 col-md-6">
										<div class="form-group">
											<label for="attrs1">Attrs1</label>
											<input type="text" name="attrs1" id="attrs1" class="form-control" placeholder="Attrs">
											<span class="m-form__help">
												
											</span>
										</div>
									</div>
								</div>
								<div class="row" style="padding:0px 15px;">
									<div class="col-md-6">
										<div class="form-group">
											<label for="cache">Cache Time</label>
											<input type="text" name="cache" id="cache" class="form-control" placeholder="Cache Time" >
											<span class="m-form__help">
												
											</span>
										</div>
									</div>
								  
									<div class="col-md-offset-1 col-md-6">
										<div class="form-group">
											<label for="mode">Api Mode</label>
											<select  onchange="changeApimode(this)"  name="mode" id="mode" class="form-control" placeholder="Api Mode" >
											<?php 
											foreach ($modes as $k=>$var) 
											{
												$sel="";
												if($k=="2"){$sel="selected";}
												echo "<option $sel value='".$k."'>".$var."</option>";	
											}
											?>
											
											</select>
											
											<span class="m-form__help">
												
											</span>
										</div>
									</div>
								</div>
								
									
								
								<div class="row" style="padding:0px 15px;">
									<div class="col-md-6">
										<div class="form-group">
											<label for="checking">Check Before Call API</label>
											<div class="checkbox-list">
												<label>
												<input name="check" id="check" value=1  type="checkbox"> Ping Server and Port </label>

											</div>
										</div>
									</div>
									<div class="col-md-offset-1 col-md-6">
											
										<div class="form-group">
										
											<label for="backendcache">CacheBackEnd Type</label>
											<select  name="backendcache" id="backendcache" class="form-control" placeholder="CacheBackEnd Type" >
											
												<option  value='file'>file</option>
												<option  value='memcached'>Memory with memcahed</option>
												<option  value='libmemcached'>Memory with libmemcahed </option>
												<option  value='mongodb'>mongodb</option>
										
											
											</select>	
												
											<span class="m-form__help">
												
											</span>
										
											</div>
										
										
										
									</div>
								</div>
								<div class="row" style="padding:0px 15px;">
									<div class="col-md-12">
										<button type="button" class="m-btn btn btn-accent" data-toggle="modal" data-target="#static2" id="btn-addnew">
											<i class="fa fa-plus"></i> Test API
										</button>
									</div>
								</div>
								<div id="static2" class="modal fade" tabindex="-1" data-backdrop="static" data-keyboard="false" role="dialog" aria-labelledby="addListapi" aria-hidden="true">
								<div class="modal-dialog modal-lg"" role="document">
									<div class="modal-content">
										<div class="modal-header">
											<h5 class="modal-title" id="addListApp">
														Add new Api
											</h5>
											<button type="button" class="close reload" data-dismiss="modal" aria-label="Close">
												<span aria-hidden="true">
													&times;
												</span>
											</button>
										</div>
										<div class="modal-body">
											<div style="background-color:#F57575;padding:20px">
													<div class="row" style="padding:0px 15px;">
														<div class="col-md-10">
															<div class="form-group">
															<label class=""><b>APITEST </b></label>
															</div>
														</div>
													</diV>	
													<div class="row" style="padding:0px 15px;">
														<div class="col-md-6">
															<div class="form-group">
																<label for="inputsqltext">Input (example => :input1=12~:input2=23 )</label>
																<textarea name="inputsqltext" id="inputsqltext" class="form-control" placeholder="input" value=""></textarea>
															 <button type="button" id="testig" class="btn">Test Api</button>
																<span class="m-form__help">
																	
																</span>
															</div>
														</div>
														<div class="col-md-offset-1 col-md-6">
															<div class="form-group">
																<label for="outputsqltext">Output</label>
																<textarea name="outputsqltext" id="outputsqltext" class="form-control" placeholder="Output" value=""></textarea>
																<span class="m-form__help">
																	
																</span>
															</div>
														</div>
													</div>
													<div class="row" id = "divapimode" style="padding:0px 15px;">
														<div class="col-md-6">
														
														</div>
														<div class="col-md-offset-1 col-md-6">
															<div class="form-group">
															
																<label for="arrayout">Output Array</label>
																	
																	<textarea name="arrayout" id="arrayout" class="form-control" placeholder="(out1, out2, out3)" value=""><?php echo $this->data['array_output'];?></textarea>
																	
																<span class="m-form__help">
																	
																</span>
															
																</div>
															
														</div>
													</div>
											</div>
										</div>
									</div>
								</div>
								</div>
								<div class="row" style="padding:0px 15px;">
									<div class="col-md-10">
										<div class="form-group">
										<label class=""><b>Grant Access Published API</b></label>
										</div>
									</div>
								</diV>	
								
								<div class="row" style="padding:0px 15px;">
									<div class="col-md-10">
									<?php  foreach($this->userapp as $v) { 
										
									
									if($this->data['grant'][$v['id']]['access']!=1){$sel1=""; }else{ $sel1 ="checked"; $urluname =$v['user_name'];}
										
									($this->data['grant'][$v['id']]['view_sql']!=1)? $sel2="":$sel2 ="checked";
									($this->data['grant'][$v['id']]['view_parsing']!=1)? $sel3="":$sel3 ="checked";
									($this->data['grant'][$v['id']]['restricted_ip']!=1)? $sel4="":$sel4 ="checked";
									
									?>	
										<div class="form-group">
											
											
											<label class=""><span style="color:#5D7E4F;font-weight:bold;"><?php echo $v['user_name'];?></span>-<span style="color:#6D1F1B"><?php echo $v['user_ip'];?></span></label>
											<div class="checkbox-list">
												<label class="checkbox-inline">
												<input type="checkbox"  <?php echo $sel1;?> name="access_api[<?php echo $v['id'];?>]" value="1"> Access API </label>
												<label class="checkbox-inline">
												<input type="checkbox"  <?php echo $sel4;?> name="restricted_ip[<?php echo $v['id'];?>]" value="1" > Restricted IP  </label>
												<input type="checkbox"  <?php echo $sel2;?> name="access_vsql[<?php echo $v['id'];?>]"  value="1"> View Sql </label>
												<label class="checkbox-inline">
												<input type="checkbox"  <?php echo $sel3;?> name="access_vparsing[<?php echo $v['id'];?>]" value="1" > View Parsing Data Time </label>
												<label class="checkbox-inline">Security :</label>
												<select name="secur">
													<option value=0>None</option>
													<option value=1>HTTP Basic Auth</option>
													<option value=2>HTTP Digest</option>
													<option value=3>OAuth2</option>
												</select>
												
												
											</div>
										</div>
										<?php } ?>
									
										
									</div>
								</div>
								
								<div class="row" style="padding:0px 15px;">
									<div class="col-md-10">
										<div class="form-group">
										<label class=""><b><a href="/prabaeditor/get-url/id/<?php echo $this->data['id'];?>" >GENERATED URL API</a></b></label>
										</div>
									</div>
								</diV>	
								
								<!--/row-->
							<div class="form-actions" style="margin:0px">
							   <div class="row">
								   <div class="col-md-6">
									   <div class="col-md-offset-3 col-md-9">
										   <button type="submit" class="btn btn-accent">Submit</button>
										   <button type="button" type="button" data-dismiss="modal" class="btn btn-secondary">Cancel</button>
									   </div>
								   </div>
								   <div class="col-md-6">
								   </div>
							   </div>
							</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>

<script>
function changeType(me){
	var $me = $(me);
	var $val = $me.val();
	//alert($val);
	var $element = $('.getmodel');
	var next = $element.next('span.help-block'); 
	var con = $('#conname').val();
	//var con = $('#conname').val();
	//alert(con);
	
	if($val == 4){
	
	$.ajax({
		url:"/bigbox/bigenvelope/getmodels/xxxid/"+$val,
		content:'json',
		type:'get',
		beforeSend:function(){
			$element.hide();
			$(next).children('span.label').html('<i class="fa fa-coffee"></i>&nbsp;Retrieve data...');
			$($element).next().slideDown();
		},
		complete:function(result){
					
		},
		success: function(data){
			$($element).next().hide();
			$element.html(data);
			$element.slideDown();
		},
		error:function(){
			$(next).children('span.label').html('<i class="fa fa-warning"></i>&nbsp;Failed to retrieve data.');
		}
		});
	} else if($val == 2||$val == 3 ) { 
				
				$.ajax({
					url:"/bigbox/bigenvelope/getmodels/xxxid/"+$val+'/conn/'+con,
					content:'json',
					type:'get',
					beforeSend:function(){
						$element.hide();
						$(next).children('span.label').html('<i class="fa fa-coffee"></i>&nbsp;Retrieve data...');
						$($element).next().slideDown();
					},
					complete:function(result){
								
					},
					success: function(data){
						$($element).next().hide();
						$element.html(data);
						$element.slideDown();
					},
					error:function(){
						$(next).children('span.label').html('<i class="fa fa-warning"></i>&nbsp;Failed to retrieve data.');
					}
					});
	} else {
		$('.resType').hide();
	}
	
}
function changeMethod(me){
	var $me = $(me);
	var $val = $me.val();
	var $model = $('#model').val();
	
	//alert($isi);
	
	var apitype = $('#apitype').val();	
	if (apitype =='4') {
		var $isi = ""+$model + "::"+ $val;
	} else {
		var $isi = $val+"(:in1, :in2, ...)";
		}
	$('#sqltext').html($isi);
	//alert($model);
}
function changeApimode(me){
	var $me = $(me);
	var $val = $me.val();
	
	if($val == '2' || $val == '3'  ) 
	{
		$('#divapimode').show();	
	} else {
		$('#divapimode').hide();	
		}
		
	
}
function changeModel(me){
	
	
	var $me = $(me);
	var $val = $me.val();
	var $element = $('#method');
	var next = $element.next('span.help-block'); 
	var con = $('#conname').val();	
	var apitype = $('#apitype').val();	
	
	$.ajax({
		url:"/bigbox/bigenvelope/getmethods/xxxid/"+$val+'/conn/'+con + '/apitype/' + apitype,
		content:'json',
		type:'get',
		beforeSend:function(){
			$element.hide();
			$(next).children('span.label').html('<i class="fa fa-coffee"></i>&nbsp;Retrieve data...');
			$($element).next().slideDown();
		},
		complete:function(result){
					
		},
		success: function(data){
			$($element).next().hide();
			$element.html(data);
			
			
			
			$element.slideDown();
		},
		error:function(){
			$(next).children('span.label').html('<i class="fa fa-warning"></i>&nbsp;Failed to retrieve data.');
		}
		});
}


// jQuery(document).ready(function() {
// $('body').addClass('page-header-fixed page-sidebar-fixed page-footer-fixed');
// App.init();

// UIExtendedModals3.init();

// $( "#testig" ).click(function() {
 // $.ajax({
		
		// url:"/prabajax/tesapi",
		// content:'html',
		// type:'post',
		// data:$('form#addapi').serialize(),
		
		// complete:function(result){
					
		// },
		// success: function(result){
			// //alert("ok");
			// //var jsonObj = $.parseJSON('[' + result + ']');
			// //alert (jsonObj); 
			// //console.log(result);
			
			
			// $('#outputsqltext').html(result);
				// $.ajax({
				
				// url:"/prabajax/getout",
				// content:'html',
				// type:'post',
				// data:$('form#addapi').serialize(),
				
				// complete:function(data){
							
				// },
				// success: function(data){
					// //alert("ok");
					// //var jsonObj = $.parseJSON('[' + result + ']');
					// //alert (jsonObj); 
					// //console.log(result);
					
					// //	$outputsqltext.html(result);
					// $('#arrayout').html(data);
					
					
					
				// },
				// error:function(){
					// $(next).children('span.label').html('<i class="fa fa-warning"></i>&nbsp;Failed to retrieve data.');
				// }
				// });
				
			
			
			
		// },
		// error:function(){
			// $(next).children('span.label').html('<i class="fa fa-warning"></i>&nbsp;Failed to retrieve data.');
		// }
		// });
		
		
		
		
// });

  // jQuery('#user_table_wrapper .dataTables_filter input').addClass("form-control input-medium"); // modify table search input
            // jQuery('#user_table_wrapper .dataTables_length select').addClass("form-control input-small"); // modify table per page dropdown

            // // handle record edit/remove
            // //$('body').on('click', '#graph_table_wrapper .btn-graph', function() {
            // //    alert('Edit record with id:' + $(this).attr("data-id"));
            // //});

		
		// $("input#filterid").keyup( function () {
			// /* Filter on the column (the index) of this element */
			// oTable.fnFilter( this.value, 1);
		// } );
		
		// $("input#filterconn").keyup( function () {
			// /* Filter on the column (the index) of this element */
			// oTable.fnFilter( this.value, 2 );
		// } );
		// $("input#filtersql").keyup( function () {
			// /* Filter on the column (the index) of this element */
			// oTable.fnFilter( this.value, 3 );
		// } );
		// $("input#filterdesc").keyup( function () {
			// /* Filter on the column (the index) of this element */
			// oTable.fnFilter( this.value, 4 );
		// } );
		
		
		// $("a.reload").click( function () {
			// /* Filter on the column (the index) of this element */
			// oTable.fnDraw();
		// } );
		
		// $('#sample_2_column_toggler input[type="checkbox"]').change(function(){
            // /* Get the DataTables object again - this is not a recreation, just a get of the object */
            // var iCol = parseInt($(this).attr("data-column"));
            // var bVis = oTable.fnSettings().aoColumns[iCol].bVisible;
            // oTable.fnSetColumnVis(iCol, (bVis ? false : true));
        // });

// //FormComponents3.init();
// AddApi.init();
// $('span.help-block').hide();
// });





// var AddApi = function () {

	// var handleAdd = function() {
		
		// $('form#addapi').validate({
	            // //errorElement: 'span', //default input error message container
	            // //errorClass: 'help-block', // default input error message class
	            // focusInvalid: false, // do not focus the last invalid input
	            // rules: {
	                // sqltext: {
	                    // required: true
	                // }
	            // },

	            // messages: {
					
	            // },

	            // invalidHandler: function (event, validator) { 
				
					// $('span.help-block').hide();
	                // var errorlist = validator.errorList;
	                // if(errorlist.length>0){
						// for(var i = 0; i<errorlist.length; i++){
							// //console.log(errorlist[i].element);
							// var el = errorlist[i].element; 
							// var next = $(el).next('span.help-block'); 
							// $(next).slideDown();
						// }
						// $('.modal-scrollable:visible').animate({
							// scrollTop: $(el).offset().top
						// }, 800);
					// }
	            // },

	            // highlight: function (element) { // hightlight error inputs
	                // $(element)
	                    // .closest('.form-group').addClass('has-error'); // set error class to the control group
	            // },

	            // success: function (label) {
	                // label.closest('.form-group').removeClass('has-error');
	                // //label.remove();
	            // },

	            // errorPlacement: function (error, element) {
					// $('span.help-block').hide();
					// var next = element.next('span.help-block'); 
					// //console.log(error);
	                // if(error[0].textContent!=""){
						// $(next).children('span.label').html("<i class='fa fa-warning'></i> "+ error[0].textContent);
						// $(element).next().slideDown();
						// $('.modal-scrollable:visible').animate({
							// scrollTop: $(element).offset().top
						// }, 800);
					// }
	            // },

	            // submitHandler: function (form) {
					// $('#alertinfo').addClass('hidden');
					// $('span.help-block').hide();
					// $('.form-group').removeClass('has-error');
	                // //form.submit(); // form validation success, call ajax form submit
	                // submitForm();
	                // return false;
	            // }
	        // });

	        // $('form#addapi input').keypress(function (e) {
	            // if (e.which == 13) {
					// $('span.help-block').hide();
					// $('.form-group').removeClass('has-error');
	                // if ($('form#addapi').validate().form()) {
	                   // //$('form#addapi').submit(); //form validation success, call ajax form submit
	                   // submitForm();
	                // }
	                // return false;
	            // }
	        // });
	// }
	
	// var submitForm = function(){
		// //console.log($('form#addapi').serialize());
		// $.ajax({
			// url:"/prabajax/addapi",
			// content:'json',
			// type:'post',
			// data:$('form#addapi').serialize(),
			// beforeSend:function(){
				// $('#alertinfo').addClass('hidden');
				// $('#processbar').removeClass('hidden');
				// $('.modal-scrollable:visible').animate({
					// scrollTop: $('#formtitle').offset().top
				// }, 800);
				// $('#alertinfo').removeClass('alert-success');
				// $('#alertinfo').removeClass('alert-warning');
				// $('#alertinfo').removeClass('alert-danger');
				// $('#alertinfo').removeClass('alert-info');
			// },
			// complete:function(result){
				// $('#processbar').addClass('hidden');
			// },
			// success: function(data){
				// //console.log(data);
				// if(data.result!=undefined){
					// if(data.result==true){
						// $('#alertinfo').addClass('alert-success');
						// $('#alertmsg').html("<strong>Success!</strong> "+data.retMsg);
						// //resetForm();
					// }else{
						// $('#alertinfo').addClass('alert-warning');
						// $('#alertmsg').html("<strong>Failed!</strong> "+data.retMsg);
					// }
				// }else{
					// $('#alertinfo').addClass('alert-info');
					// $('#alertmsg').html("<strong>Error!</strong> System is busy, please try again.");
				// }
				// $('#alertinfo').removeClass('hidden');
				
			// },
			// error:function(){
				// $('#alertinfo').addClass('alert-info');
				// $('#alertmsg').html("<strong>Error!</strong> System is busy, please try again.");
				// $('#alertinfo').removeClass('hidden');
			// }
		// });
	// }
	
	

	// var resetForm = function(){
		// //$('input','form#addapi')
			// //.not(':button, :submit, :reset, :hidden')
			// //.val('');
			
		// $('select,option','form#addapi')
			// //.removeAttr('checked')
		    // //.removeAttr('selected');
		
		// $('.make-switch').bootstrapSwitch('setState',false);
		
		// $('.ms-selectable').find('li').removeClass('ms-selected');
		// $('.ms-selection').find('li').removeClass('ms-hover');
		// $('.ms-selectable').find('li').removeAttr('style');
		
		// $('.ms-selection').find('li').removeClass('ms-selected');
		// $('.ms-selection').find('li').removeClass('ms-hover');
		// $('.ms-selection').find('li').css({display:'none'});
	// }
    
    // return {
        // //main function to initiate the module
        // init: function () {
            // handleAdd();
        // }

    // };

// }();




// var EditApi = function () {

	// var handleAdd = function() {

		// $('form#addapi').validate({
	            // //errorElement: 'span', //default input error message container
	            // //errorClass: 'help-block', // default input error message class
	            // focusInvalid: false, // do not focus the last invalid input
	            // rules: {
	                // uname: {
	                    // required: true
	                // },
	                // fullname: {
	                    // required: true
	                // },
	                // pass: {
	                    // required: true
	                // },
	                // email: {
	                    // email: true
	                // }
	            // },

	            // messages: {
					
	            // },

	            // invalidHandler: function (event, validator) { //display error alert on form submit   
	                // //$('.alert-danger', $('.login-form')).show();
	                // //console.log(event);
	                // //console.log(validator);
	                
					// //$('span.help-block').show();
					// $('span.help-block').hide();
	                // var errorlist = validator.errorList;
	                // if(errorlist.length>0){
						// for(var i = 0; i<errorlist.length; i++){
							// //console.log(errorlist[i].element);
							// var el = errorlist[i].element; 
							// var next = $(el).next('span.help-block'); 
							// $(next).slideDown();
						// }
						// $('html,body').animate({
							// scrollTop: $(el).offset().top-100
						// }, 800);
					// }
	            // },

	            // highlight: function (element) { // hightlight error inputs
	                // $(element)
	                    // .closest('.form-group').addClass('has-error'); // set error class to the control group
	            // },

	            // success: function (label) {
	                // label.closest('.form-group').removeClass('has-error');
	                // //label.remove();
	            // },

	            // errorPlacement: function (error, element) {
					// $('span.help-block').hide();
					// var next = element.next('span.help-block'); 
					// //console.log(error);
	                // if(error[0].textContent!=""){
						// $(next).children('span.label').html("<i class='fa fa-warning'></i> "+ error[0].textContent);
						// $(element).next().slideDown();
						// $('html,body').animate({
							// scrollTop: $(element).offset().top-100
						// }, 800);
					// }
	            // },

	            // submitHandler: function (form) {
					// $('span.help-block').hide();
					// $('.form-group').removeClass('has-error');
	                // //form.submit(); // form validation success, call ajax form submit
	                // submitForm();
	                // return false;
	            // }
	        // });

	        // $('form#addapi input').keypress(function (e) {
	            // if (e.which == 13) {
					// $('span.help-block').hide();
					// $('.form-group').removeClass('has-error');
	                // if ($('form#addapi').validate().form()) {
	                   // //$('form#addapi').submit(); //form validation success, call ajax form submit
	                   // submitForm();
	                // }
	                // return false;
	            // }
	        // });
	// }
	
	// var submitForm = function(){
		// //console.log($('form#addapi').serialize());
		// $.ajax({
			// url:"/prabajax/addapi",
			// content:'json',
			// type:'post',
			// data:$('form#addapi').serialize(),
			// beforeSend:function(){
				// $('#alertinfo').addClass('hidden');
				// $('#processbar').removeClass('hidden');
				// $('html,body').animate({
					// scrollTop: $('h3.page-title').offset().top
				// }, 800);
				// $('#alertinfo').removeClass('alert-success');
				// $('#alertinfo').removeClass('alert-warning');
				// $('#alertinfo').removeClass('alert-danger');
				// $('#alertinfo').removeClass('alert-info');
			// },
			// complete:function(result){
				// $('#processbar').addClass('hidden');
			// },
			// success: function(data){
				// //console.log(data);
				// if(data.result!=undefined){
					// if(data.result==true){
						// $('#alertinfo').addClass('alert-success');
						// $('#alertmsg').html("<strong>Success!</strong> "+data.retMsg);
					// }else{
						// $('#alertinfo').addClass('alert-warning');
						// $('#alertmsg').html("<strong>Failed!</strong> "+data.retMsg);
					// }
				// }else{
					// $('#alertinfo').addClass('alert-info');
					// $('#alertmsg').html("<strong>Error!</strong> System is busy, please try again.");
				// }
				// $('#alertinfo').removeClass('hidden');
			// },
			// error:function(){
				// $('#alertinfo').addClass('alert-info');
				// $('#alertmsg').html("<strong>Error!</strong> System is busy, please try again.");
				// $('#alertinfo').removeClass('hidden');
			// }
		// });
	// }
	
	

	// var resetForm = function(){
		// $('input','form#addapi')
			// .not(':button, :submit, :reset, :hidden')
			// .val('');
			
		// $('select,option','form#addapi')
			// .removeAttr('checked')
			// .removeAttr('selected');
		
		// $('.make-switch').bootstrapSwitch('setState',false);
		
		// $('.ms-selectable').find('li').removeClass('ms-selected');
		// $('.ms-selection').find('li').removeClass('ms-hover');
		// $('.ms-selectable').find('li').removeAttr('style');
		
		// $('.ms-selection').find('li').removeClass('ms-selected');
		// $('.ms-selection').find('li').removeClass('ms-hover');
		// $('.ms-selection').find('li').css({display:'none'});
	// }
    
    // return {
        // //main function to initiate the module
        // init: function () {
            // handleAdd();
        // }

    // };

// }();

// var UIExtendedModals3 = function () {
    
    // return {
        // //main function to initiate the module
        // init: function () {
        
            // // general settings
            // $.fn.modal.defaults.spinner = $.fn.modalmanager.defaults.spinner = 
              // '<div class="loading-spinner" style="width: 200px; margin-left: -100px;">' +
                // '<div class="progress progress-striped active">' +
                  // '<div class="progress-bar" style="width: 100%;"></div>' +
                // '</div>' +
              // '</div>';

            // $.fn.modalmanager.defaults.resize = true;
            
            // //static demo:
            // var $modal2 = $('#static');

			// // handle record edit/remove
            // $('body').on('click', '#user_table_wrapper .btn-delete', function() {
              // var id =  $(this).attr("data-id");
             
              // if($modal2.find('td#static_id')!=undefined){
                // $modal2.find('td#static_id').html(id);
              // }
              
              // $modal2.modal();                
            // });
			
            // $modal2.on('click', 'button#deleteconfirm', function(){
				// var id = $modal2.find('td#static_id').html();
				// //alert(id);
				// $.ajax({
					// url:"/prabajax/deleteapi",
					// content:'json',
					// type:'post',
					// data:{uid:id},
					// beforeSend:function(){
						// $('#processbar2').removeClass('hidden');
						// $('#alertinfo2').removeClass('alert-success');
						// $('#alertinfo2').removeClass('alert-warning');
						// $('#alertinfo2').removeClass('alert-danger');
						// $('#alertinfo2').removeClass('alert-info');
					// },
					// complete:function(result){
						// $('#processbar2').addClass('hidden');
					// },
					// success: function(data){
						// //console.log(data);
						// if(data.result!=undefined){
							// if(data.result==true){
								// $('#alertinfo2').addClass('alert-success');
								// $('#alertmsg2').html("<strong>Success!</strong> "+data.retMsg);
								// $("a.reload").click();
								// $modal2.modal('hide');
							// }else{
								// $('#alertinfo2').addClass('alert-warning');
								// $('#alertmsg2').html("<strong>Failed!</strong> "+data.retMsg);
							// }
						// }else{
							// $('#alertinfo2').addClass('alert-info');
							// $('#alertmsg2').html("<strong>Error!</strong> System is busy, please try again.");
						// }
						// $('#alertinfo2').removeClass('hidden');
					// },
					// error:function(){
						// $('#alertinfo2').addClass('alert-info');
						// $('#alertmsg2').html("<strong>Error!</strong> System is busy, please try again.");
						// $('#alertinfo2').removeClass('hidden');
					// }
				// });
            // });
            
            // var $modal3 = $('#static2');

			// // handle record edit/remove
            // $('body').on('click', '#btn-addnew', function() {
              // $modal3.modal();   
            // });
            
            // $modal3.on('hide.bs.modal', function (e) {
				// $('#processbar').addClass('hidden');   
				// $('#alertinfo').addClass('hidden'); 
			// });
            
            // $modal3.on('hidden.bs.modal', function (e) {
				// $('#processbar').addClass('hidden');   
				// $('#alertinfo').addClass('hidden');
			// });
        // }

    // };

// }();

</script>
