<?php


	$params=array();
	foreach($this->params as $v) 
	{
		$params[$v['value_param']] = $v['display_param'];	
		
	}
	$conns=array();
	foreach($this->conns as $v) 
	{
	$conns[$v['id']] = $v['conn_name'];	
		
	}
	
	
	$modes=array();
	foreach($this->modes as $v) 
	{
		$modes[$v['value_param']] = $v['display_param'];	
		
	}
		$varin2 ="";
	  if($this->data['array_input']!="") {
			$varin = explode("," , $this->data['array_input']);
			$varin2 = implode("~", $varin);
		  
		}
	 
//Zend_Debug::dump($this->data);die();

?>

<div class="m-grid__item m-grid__item--fluid m-wrapper">
	<div class="m-subheader ">
		<div class="d-flex align-items-center">
			<div class="mr-auto">
				<h3 class="m-subheader__title m-subheader__title--separator">
					Edit Api  <small>PraBACore</small>
				</h3>
				<ul class="m-subheader__breadcrumbs m-nav m-nav--inline">
					<li class="m-nav__item m-nav__item--home">
						<a href="#" class="m-nav__link m-nav__link--icon">
							<i class="m-nav__link-icon flaticon-app"></i>
						</a>
					</li>
					<li class="m-nav__item">
						<a href="http://10.62.165.147:90/" class="m-nav__link">
							<span class="m-nav__link-text">
								BigEnvelope >
							</span>
						</a>
					</li>
					<li class="m-nav__item">
						<a href="" class="m-nav__link">
							<span class="m-nav__link-text">
								Edit Api
							</span>
						</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
	<div class="m-content">
		<div class="m-portlet m-portlet--mobile">
			<div class="m-portlet">
				<div class="m-portlet__head">
					<div class="m-portlet__head-caption">
						<div class="m-portlet__head-title">
							<h3 class="m-portlet__head-text">
								Edit Api : <span class="m--font-primary"><?php echo ' - '.$this->data['id']; ?></span>
							</h3>
						</div>
					</div>
				</div>
				<div class="m-portlet__body">
					<form action="" class="m-form m-form--state m-form--fit m-form--label-align-right" id="addapi" method="post">
						<div class="m-portlet__body">
							<input type="hidden" name="id" value="<?php echo $this->data['id'];?>" />
							<input type="hidden" name="pid" value="" />
								<div class="m-alert m-alert--icon alert alert-danger m--hide" role="alert" id="m_form_1_msg">
									<div class="m-alert__icon">
										<i class="la la-warning"></i>
									</div>
									<div class="m-alert__text">
										<span id="alertmsg"><strong>Warning!</strong> Something went wrong. Please check.</span>
									</div>
									<div class="m-alert__close">
										<button type="button" class="close" data-close="alert" aria-label="Close"></button>
									</div>
								</div>
								
								<div class='m--hide' id="processbar">
									<div class="progress">
										<div class="progress-bar progress-bar-striped progress-bar-animated " role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
											<span class="sr-only">
												On Process
											</span>
										</div>
									</div>
									<span style="margin:0px auto;">Please wait...processing request</span>
								</div>
							
								<div class="row" style="padding:0px 15px;">
									<div class="col-md-6">
										<div class="form-group m-form__group">
											<label for="conname">Conn Name</label>
											<select  name="conname" id="conname" class="form-control" placeholder="Conn Name" >
											<?php 
											
											foreach ($conns as $k=>$v) 
											{
												
												if($k==$this->data['conn_id']){$sel = "selected";}else{$sel = "";}
												echo "<option $sel value='".$k."'>".$v."</option>";	
											}
											?>
											
											</select>	
												
											<span class="m-form__help">
												
											</span>
										</div>
									</div>
									<div class="col-md-offset-1 col-md-6">
										<div class="form-group m-form__group">
											<label for="sqltext">Sql Text</label>
											<textarea name="sqltext" id="sqltext" class="form-control" placeholder="Sql text" value=""><?php echo $this->data['sql_text'];?></textarea>
											<span class="m-form__help">
												
											</span>
										</div>
									</div>
								</div>
								<div class="row" style="padding:0px 15px;">
									<div class="col-md-6">
										<div class="form-group m-form__group">
											<label for="apidesc">Api Desc</label>
											<textarea name="apidesc" id="apidesc" class="form-control" placeholder="Api Desc" value=""><?php echo $this->data['api_desc'];?></textarea>
											<span class="m-form__help">
												
											</span>
										</div>
										
									</div>
									
									<div class="col-md-offset-1 col-md-6">
										<div class="form-group m-form__group">
											<label for="apitype">Api Type</label>
											<select  name="apitype" onchange="changeType(this)"  id="apitype" class="form-control" placeholder="Api Type" >
											<?php 
											foreach ($params as $k=>$var) 
											{
												if($k==$this->data['api_type']){$sel = "selected";}else{$sel = "";}
												echo "<option $sel value='".$k."'>".$var."</option>";	
												
												
											}
											?>
											
											</select>
										</div>
									</div>
								</div>
								<div class="row getmodel" style="padding:0px 15px;">
								
								</div>
								
								
								<div class="row" style="padding:0px 15px;">
									<div class="col-md-6">
										<div class="form-group m-form__group">
											<label for="str">Api Str Replace</label>
											<input type="text" name="str" id="str" class="form-control" placeholder="Api Str Replace"  value="<?php echo $this->data['api_str_replace'];?>">
											<span class="m-form__help">
												
											</span>
										</div>
									</div>
									<div class="col-md-offset-1 col-md-6">
										<div class="form-group m-form__group">
											<label for="attrs1">Attrs1</label>
											<input type="text" name="attrs1" id="attrs1" class="form-control" placeholder="Attrs" value="<?php echo $this->data['attrs1'];?>">
											<span class="m-form__help">
												
											</span>
										</div>
									</div>
								</div>
								<div class="row" style="padding:0px 15px;">
									<div class="col-md-6">
										<div class="form-group m-form__group">
											<label for="cache">Cache Time</label>
											<input type="text" name="cache" id="cache" class="form-control" value="<?php echo $this->data['cache_time'];?>"  placeholder="Cache Time" >
											<span class="m-form__help">
												
											</span>
										</div>
									</div>
								  
									<div class="col-md-offset-1 col-md-6">
										<div class="form-group m-form__group">
											<label for="mode">Api Mode</label>
											<select  onchange="changeApimode(this)"   name="mode" id="mode" class="form-control" placeholder="Api Mode" >
											<?php 
											foreach ($modes as $k=>$var) 
											{
												$sel="";
												if($k==$this->data['api_mode']){$sel="selected";}
												echo "<option $sel value='".$k."'>".$var."</option>";	
											}
											?>
											
											</select>
											
											<span class="m-form__help">
												
											</span>
										</div>
									</div>
								</div>
								
									
								
								<div class="row" style="padding:0px 15px;">
									<div class="col-md-6">
										<div class="form-group m-form__group">
											<label for="checking">Check Before Call API</label>
											<div class="checkbox-list">
												<label>
												<input name="check" id="check" value=1  type="checkbox"> Ping Server and Port </label>

											</div>
										</div>
									</div>
									<div class="col-md-offset-1 col-md-6">
											
										<div class="form-group m-form__group">
										
											<label for="backendcache">CacheBackEnd Type</label>
											<select  name="backendcache" id="backendcache" class="form-control" placeholder="CacheBackEnd Type" >
											
												<option <?php if($this->data['backendcache']=='file'){echo "selected";};?>  value='file'>file</option>
												<option <?php if($this->data['backendcache']=='memcached'){echo "selected";};?>  value='memcached'>Memory with memcahed</option>
												<option <?php if($this->data['backendcache']=='libmemcached'){echo "selected";};?>  value='libmemcached'>Memory with libmemcahed </option>
												<option  <?php if($this->data['backendcache']=='mongodb'){echo "selected";}; ?> value='mongodb'>mongodb</option>
										
											
											</select>	
												
											<span class="m-form__help">
												
											</span>
										
											</div>
										
										
										
									</div>
								</div>
								<div style="background-color:#F57575;padding:20px">
										<div class="row" style="padding:0px 15px;">
											<div class="col-md-10">
												<div class="form-group m-form__group">
												<label class=""><b>APITEST </b></label>
												</div>
											</div>
										</diV>	
										<div class="row" style="padding:0px 15px;">
											<div class="col-md-6">
												<div class="form-group m-form__group">
													<label for="inputsqltext">Input (example => :input1=12~:input2=23 )</label>
													<textarea name="inputsqltext" id="inputsqltext" class="form-control" placeholder="input" value=""><?php echo $varin2;?></textarea>
												 <button type="button" id="testig" class="btn">Test Api</button>
													<span class="m-form__help">
														
													</span>
												</div>
											</div>
											<div class="col-md-offset-1 col-md-6">
												<div class="form-group m-form__group">
													<label for="outputsqltext">Output</label>
													<textarea name="outputsqltext" id="outputsqltext" class="form-control" placeholder="Output" value=""></textarea>
													<span class="m-form__help">
														
													</span>
												</div>
											</div>
										</div>
										<div class="row" id = "divapimode" style="padding:0px 15px;">
											<div class="col-md-6">
											
											</div>
											<div class="col-md-offset-1 col-md-6">
												<div class="form-group m-form__group">
												
													<label for="arrayout">Output Array</label>
														
														<textarea name="arrayout" id="arrayout" class="form-control" placeholder="(out1, out2, out3)" value=""><?php echo $this->data['array_output'];?></textarea>
														
													<span class="m-form__help">
														
													</span>
												
													</div>
												
											</div>
										</div>
								</div>
								<div class="row" style="padding:0px 15px;">
									<div class="col-md-10">
										<div class="form-group m-form__group">
										<label class=""><b>Grant Access Published API</b></label>
										</div>
									</div>
								</diV>	
								
								<div class="row" style="padding:0px 15px;">
									<div class="col-md-10">
									<?php  foreach($this->userapp as $v) { 
										
									
									if($this->data['grant'][$v['id']]['access']!=1){$sel1=""; }else{ $sel1 ="checked"; $urluname =$v['user_name'];}
										
									($this->data['grant'][$v['id']]['view_sql']!=1)? $sel2="":$sel2 ="checked";
									($this->data['grant'][$v['id']]['view_parsing']!=1)? $sel3="":$sel3 ="checked";
									($this->data['grant'][$v['id']]['restricted_ip']!=1)? $sel4="":$sel4 ="checked";
									
									?>	
										<div class="form-group m-form__group">
											
											
											<label class=""><span style="color:#5D7E4F;font-weight:bold;"><?php echo $v['user_name'];?></span>-<span style="color:#6D1F1B"><?php echo $v['user_ip'];?></span></label>
											<div class="checkbox-list">
												<label class="checkbox-inline">
												<input type="checkbox"  <?php echo $sel1;?> name="access_api[<?php echo $v['id'];?>]" value="1"> Access API </label>
												<label class="checkbox-inline">
												<input type="checkbox"  <?php echo $sel4;?> name="restricted_ip[<?php echo $v['id'];?>]" value="1" > Restricted IP  </label>
												<input type="checkbox"  <?php echo $sel2;?> name="access_vsql[<?php echo $v['id'];?>]"  value="1"> View Sql </label>
												<label class="checkbox-inline">
												<input type="checkbox"  <?php echo $sel3;?> name="access_vparsing[<?php echo $v['id'];?>]" value="1" > View Parsing Data Time </label>
												<label class="checkbox-inline">Security :</label>
												<select name="secur">
													<option value=0>None</option>
													<option value=1>HTTP Basic Auth</option>
													<option value=2>HTTP Digest</option>
													<option value=3>OAuth2</option>
												</select>
												
												
											</div>
										</div>
										<?php } ?>
									
										
									</div>
								</div>
								
								<div class="row" style="padding:0px 15px;">
									<div class="col-md-10">
										<div class="form-group m-form__groupx	">
										<label class=""><b><a href="/prabaeditor/get-url/id/<?php echo $this->data['id'];?>" >GENERATED URL API</a></b></label>
										</div>
									</div>
								</diV>	
								
								<!--/row-->
							<div class="form-actions" style="margin:0px">
							   <div class="row">
								   <div class="col-md-6">
									   <div class="col-md-offset-3 col-md-9">
										   <button type="submit" class="btn btn-accent">Submit</button>
										   <button type="button" type="button" data-dismiss="modal" class="btn btn-secondary">Cancel</button>
									   </div>
								   </div>
								   <div class="col-md-6">
								   </div>
							   </div>
							</div>
							
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>

<script>
	
	
function changeType(me){
	var $me = $(me);
	var $val = $me.val();
	//alert($val);
	var $element = $('.getmodel');
	var next = $element.next('span.m-form__help'); 
	var con = $('#conname').val();
	if($val == 4){
	
	$.ajax({
		url:"/prabajax/getmodels/xxxid/"+$val,
		content:'json',
		type:'get',
		beforeSend:function(){
			$element.hide();
			$(next).children('span.label').html('<i class="fa fa-coffee"></i>&nbsp;Retrieve data...');
			$($element).next().slideDown();
		},
		complete:function(result){
					
		},
		success: function(data){
			$($element).next().hide();
			$element.html(data);
			$element.slideDown();
		},
		error:function(){
			$(next).children('span.label').html('<i class="fa fa-warning"></i>&nbsp;Failed to retrieve data.');
		}
		});
	} else if($val == 2||$val == 3 ) { 
				
				$.ajax({
					url:"/prabajax/getmodels/xxxid/"+$val+'/conn/'+con,
					content:'json',
					type:'get',
					beforeSend:function(){
						$element.hide();
						$(next).children('span.label').html('<i class="fa fa-coffee"></i>&nbsp;Retrieve data...');
						$($element).next().slideDown();
					},
					complete:function(result){
								
					},
					success: function(data){
						$($element).next().hide();
						$element.html(data);
						$element.slideDown();
					},
					error:function(){
						$(next).children('span.label').html('<i class="fa fa-warning"></i>&nbsp;Failed to retrieve data.');
					}
					});
	} else {
		$('.resType').hide();
	}
	
}


function changeApimode(me){
	var $me = $(me);
	var $val = $me.val();
	
	if($val == '2' || $val == '3'  ) 
	{
		$('#divapimode').show();	
	} else {
		$('#divapimode').hide();	
		}
		
	
}

function changeMethod(me){
	var $me = $(me);
	var $val = $me.val();
	var $model = $('#model').val();
	
	//alert($isi);
	
	var apitype = $('#apitype').val();	
	if (apitype =='4') {
		var $isi = ""+$model + "::"+ $val;
	} else {
		var $isi = $val;
		}
	$('#sqltext').html($isi);
	//alert($model);
}
function changeModel(me){
	var $me = $(me);
	var $val = $me.val();
	var $element = $('#method');
	var next = $element.next('span.m-form__help'); 
	var con = $('#conname').val();	
	var apitype = $('#apitype').val();	
	
	$.ajax({
		url:"/prabajax/getmethods/xxxid/"+$val+'/conn/'+con + '/apitype/' + apitype,
		content:'json',
		type:'get',
		beforeSend:function(){
			$element.hide();
			$(next).children('span.label').html('<i class="fa fa-coffee"></i>&nbsp;Retrieve data...');
			$($element).next().slideDown();
		},
		complete:function(result){
					
		},
		success: function(data){
			$($element).next().hide();
			$element.html(data);
			
			
			
			$element.slideDown();
		},
		error:function(){
			$(next).children('span.label').html('<i class="fa fa-warning"></i>&nbsp;Failed to retrieve data.');
		}
		});
}

</script>
