<?php
	
//Zend_Debug::dump($this->data);die();

?>
<div class="m-grid__item m-grid__item--fluid m-wrapper">
	<div class="m-subheader ">
		<div class="d-flex align-items-center">
			<div class="mr-auto">
				<h3 class="m-subheader__title m-subheader__title--separator">
					Job Editor <small>Define and PraBAC</small>
				</h3>
				<ul class="m-subheader__breadcrumbs m-nav m-nav--inline">
					<li class="m-nav__item m-nav__item--home">
						<a href="#" class="m-nav__link m-nav__link--icon">
							<i class="m-nav__link-icon flaticon-app"></i>
						</a>
					</li>
					<li class="m-nav__item">
						<a href="http://10.62.165.147:90/" class="m-nav__link">
							<span class="m-nav__link-text">
								PraBAC >
							</span>
						</a>
					</li>
					<li class="m-nav__item">
						<a href="http://10.62.165.147:90/" class="m-nav__link">
							<span class="m-nav__link-text">
								Action Management >
							</span>
						</a>
					</li>
					<li class="m-nav__item">
						<a href="" class="m-nav__link">
							<span class="m-nav__link-text">
								Background Management 
							</span>
						</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
	<div class="m-content">
		<div class="m-portlet m-portlet--mobile">
			<div class="m-portlet">
				<div class="m-portlet__head">
					<div class="m-portlet__head-caption">
						<div class="m-portlet__head-title">
							<h3 class="m-portlet__head-text">
								Edit Connection : <span class="m--font-primary"><?php echo $this->data['conn_name'];?><?php echo ' - '.$this->data['id']; ?></span>
							</h3>
						</div>
					</div>
				</div>
				<div class="m-portlet__body">
					<form action="" class="m-form m-form--state m-form--fit m-form--label-align-right" id="editconn" method="post">
						<div class="m-portlet__body">
							<input type="hidden" name="id" value="<?php echo $this->data['id'];?>" />
							<input type="hidden" name="pid" value="" />
							
							<div class="m-alert m-alert--icon alert alert-danger m--hide" role="alert" id="m_form_1_msg">
								<div class="m-alert__icon">
									<i class="la la-warning"></i>
								</div>
								<div class="m-alert__text" id="alertinfo">
									<span id="alertmsg"><strong>Warning!</strong> Something went wrong. Please check.</span>
								</div>
								<div class="m-alert__close">
									<button type="button" class="close" data-close="alert" aria-label="Close"></button>
								</div>
							</div>
							
							<div class='m--hide' id="processbar">
								<div class="progress">
									<div class="progress-bar progress-bar-striped progress-bar-animated " role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
										<span class="sr-only">
											On Process
										</span>
									</div>
								</div>
								<span style="margin:0px auto;">Please wait...processing request</span>
							</div>
							<div class='row'>
								<div class="col-md-6">
									<div class="form-group">
										<label for="conn">Connection Name</label>
										<input type="text" name="conn" id="conn" value="<?php echo $this->data['conn_name'];?>"  class="form-control m-input"placeholder="Connection Name" data-toggle="m-tooltip" title="" >
										<span class="m-form__help">
											
										</span>
									</div>
								</div>
								<div class="col-md-offset-1 col-md-6">
										<div class="form-group">
											<label for="adapter">Adapter</label>
											<select   name="adapter" id="adapter"  class="form-control m-input"placeholder="Adapter" data-toggle="m-tooltip" title="">
												
											<?php foreach ($this->adapts as $k=>$v) {
												$sel="";
												if($this->data['cparams']['adapter']==$k){$sel = "selected";}
													echo "<option $sel value='".$k."'>".$v."</option>"; 	
												}
											?>	
											</select>
										</div>
								</div>
							</div>
							<div class='row'>
								<div class="col-md-6">
									<div class="form-group">
										<label for="host">Host Name</label>
										<input type="text" name="host" id="host"  class="form-control m-input"value="<?php echo $this->data['cparams']['host'];?>"   placeholder="Host Name" data-toggle="m-tooltip" title="" >
										<span class="m-form__help">
											
										</span>
									</div>
								</div>
								<div class="col-md-offset-1 col-md-6">
									<div class="form-group">
										<label for="dbname">DbName</label>
										<textarea name="dbname" id="dbname"  class="form-control m-input"  placeholder="DbName" ><?php echo $this->data['cparams']['dbname'];?></textarea>
										<span class="m-form__help">
											
										</span>
									</div>
								</div>
							</div>
							<div class="row" style="padding:0px 15px;">
								<div class="col-md-6">
									<div class="form-group">
										<label for="port">Port</label>
										<input type="text" name="port" id="port" value="<?php echo $this->data['cparams']['port'];?>"   class="form-control m-input"placeholder="Port" data-toggle="m-tooltip" title="" >
										<span class="m-form__help">
											
										</span>
									</div>
								</div>
								<div class="col-md-offset-1 col-md-6">
									<div class="form-group">
										<label for="username">Username</label>
										<input type="text" name="username" value="<?php echo $this->data['cparams']['username'];?>" id="username"  class="form-control m-input"placeholder="Username" data-toggle="m-tooltip" title="">
										<span class="m-form__help">
											
										</span>
									</div>
								</div>
							</div>
							<div class="row" style="padding:0px 15px;">
								<div class="col-md-6">
									<div class="form-group">
										<label for="password">Password</label>
										<input type="text" name="password" id="password" value="<?php echo $this->data['cparams']['password'];?>"  class="form-control m-input"placeholder="Password" data-toggle="m-tooltip" title="">
										<span class="m-form__help">
											
										</span>
									</div>
								</div>
							  
								<div class="col-md-offset-1 col-md-6">
									<div class="form-group">
										<label for="descr">Optional Params</label>
										<input type="text"  value="<?php echo $this->data['desc'];?>" name="descr" id="descr"  class="form-control m-input"placeholder="Optional Params" data-toggle="m-tooltip" title="">
										<span class="m-form__help">
											
										</span>
									</div>
								</div>
							</div>
							<div class="row" style="padding:0px 15px;">
								<div class="col-md-6">
									
									<div class="form-group">
										<label class="">Connection Status</label>
										<div class="checkbox-list">
											<label>
											<input name="dis" id="dis" value=1 <?php if($this->data['is_deactivate']==1){echo "checked";}?> type="checkbox"> Deactivate </label>
											
										</div>
									</div>
									<div class="form-group">
										<label class="">One Session Connection</label>
										<div class="checkbox-list">
											<label>
											<input name="asession" id="asession" value=1 <?php if($this->data['is_asession']==1){echo "checked";}?> type="checkbox">  Activate</label>
										</div>
									</div>
									
									
								</div>
								<div class="col-md-offset-1 col-md-6">
									
								</div>
							</div>
							<div class="form-actions" style="margin:0px">
							   <div class="row">
								   <div class="col-md-12">
									   <div class="col-md-offset-3 col-md-9">
										   <button type="submit" class="btn btn-accent">Submit</button>
										    <button  type="button"  onclick="tescon(this);" class="btn btn-accent">Test Connection</button>
										   <button type="button" type="button" data-dismiss="modal" class="btn btn-secondary">Cancel</button>
									   </div>
								   </div>
								   <div class="col-md-6">
								   </div>
							   </div>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>

<script>
	
function tescon(me){
	var $me = $(me);
	var $val = $me.val();
	if ($('form#addapi').validate().form()) {
		$.ajax({
			url:"/prabajax/testconn",
			content:'json',
			type:'post',
			data:$('form#addapi').serialize(),
			beforeSend:function(){
				$('#alertinfo').addClass('m--hide');
				$('#processbar').removeClass('m--hide');
				// $('html,body').animate({
					// scrollTop: $('h3.page-title').offset().top
				// }, 800);
				$('#alertinfo').removeClass('alert-success');
				$('#alertinfo').removeClass('alert-warning');
				$('#alertinfo').removeClass('alert-danger');
				$('#alertinfo').removeClass('alert-info');
			},
			complete:function(result){
				$('#processbar').addClass('m--hide');
			},
			success: function(data){
				//console.log(data);
				if(data.result!=undefined){
					if(data.result==true){
						$('#alertinfo').addClass('alert-success');
						$('#alertmsg').html("<strong>Success!</strong> "+data.retMsg);
					}else{
						$('#alertinfo').addClass('alert-warning');
						$('#alertmsg').html("<strong>Failed!</strong> "+data.retMsg);
					}
				}else{
					$('#alertinfo').addClass('alert-info');
					$('#alertmsg').html("<strong>Error!</strong> System is busy, please try again.");
				}
				$('#alertinfo').removeClass('m--hide');
			},
			error:function(){
				$('#alertinfo').addClass('alert-info');
				$('#alertmsg').html("<strong>Error!</strong> System is busy, please try again.");
				$('#alertinfo').removeClass('m--hide');
			}
		});
		
	
	
	
	
	}
}
function changeType(me){
	var $me = $(me);
	var $val = $me.val();
	//alert($val);
	var $element = $('.getmodel');
	var next = $element.next('span.m-form__help'); 
	
	if($val == 4){
	
	$.ajax({
		url:"/prabajax/getmodels/xxxid/"+$val,
		content:'json',
		type:'get',
		beforeSend:function(){
			$element.hide();
			$(next).children('span.label').html('<i class="fa fa-coffee"></i>&nbsp;Retrieve data...');
			$($element).next().slideDown();
		},
		complete:function(result){
					
		},
		success: function(data){
			$($element).next().hide();
			$element.html(data);
			$element.slideDown();
		},
		error:function(){
			$(next).children('span.label').html('<i class="fa fa-warning"></i>&nbsp;Failed to retrieve data.');
		}
		});
	} else {
		$('.resType').hide();
	}
	
}
function changeMethod(me){
	var $me = $(me);
	var $val = $me.val();
	var $model = $('#model').val();
	var $isi = ""+$model + "::"+ $val;
	//alert($isi);
	$('#sqltext').html($isi);
	//alert($model);
}
function changeModel(me){
	var $me = $(me);
	var $val = $me.val();
	var $element = $('#method');
	var next = $element.next('span.m-form__help'); 
		
	$.ajax({
		url:"/prabajax/getmethods/xxxid/"+$val,
		content:'json',
		type:'get',
		beforeSend:function(){
			$element.hide();
			$(next).children('span.label').html('<i class="fa fa-coffee"></i>&nbsp;Retrieve data...');
			$($element).next().slideDown();
		},
		complete:function(result){
					
		},
		success: function(data){
			$($element).next().hide();
			$element.html(data);
			
			
			
			$element.slideDown();
		},
		error:function(){
			$(next).children('span.label').html('<i class="fa fa-warning"></i>&nbsp;Failed to retrieve data.');
		}
		});
}

</script>
