<?php
	$params=array();
	foreach($this->params as $v) 
	{
		$params[$v['value_param']] = $v['display_param'];	
	}
	$modes=array();
	foreach($this->modes as $v) 
	{
		$modes[$v['value_param']] = $v['display_param'];	
	}
	$conns=array();
	foreach($this->conns as $v) 
	{
		$conns[$v['id']] = $v['conn_name'];	
	}
	//Zend_Debug::dump($this->userapp);die();
?>
<div id='json_data' style='display:none;'></div>
<div class="m-grid__item m-grid__item--fluid m-wrapper">
	<div class="m-subheader ">
		<div class="d-flex align-items-center">
			<div class="mr-auto">
				<h3 class="m-subheader__title m-subheader__title--separator">
					API Discovery <small>Find, search, and add new API</small>
				</h3>
				<ul class="m-subheader__breadcrumbs m-nav m-nav--inline">
					<li class="m-nav__item m-nav__item--home">
						<a href="#" class="m-nav__link m-nav__link--icon">
							<i class="m-nav__link-icon flaticon-app"></i>
						</a>
					</li>
					<li class="m-nav__item">
						<a href="http://10.62.165.147:90/" class="m-nav__link">
							<span class="m-nav__link-text">
								BigEnvelope >
							</span>
						</a>
					</li>
					<li class="m-nav__item">
						<a href="" class="m-nav__link">
							<span class="m-nav__link-text">
								API's List
							</span>
						</a>
					</li>
					
				</ul>
			</div>
			
		</div>
	</div>
	<div class="m-content">
			<div class="m-portlet m-portlet--mobile">
				<div class="m-portlet__head">
					<div class="m-portlet__head-caption">
						<div class="m-portlet__head-title">
							<h3 class="m-portlet__head-text">
								API's List
							</h3>
						</div>
					</div>
					<div class="m-portlet__head-tools">
						<div class="btn-group" role="group" aria-label="Button group with nested dropdown">
							<button type="button" class="m-btn btn btn-success" data-toggle="modal" data-target="#static2" id="btn-addnew">
								<i class="fa fa-plus"></i> Add New
							</button>
							<button type="button" class="m-btn btn btn-success" id='reload'>
								<i class="fa fa-refresh"></i> Reload
							</button>
							<div class="btn-group" role="group">
								<button id="btnGroupDrop1" type="button" class="btn  dropdown-toggle btn-success" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
									Column
								</button>
								<div class="dropdown-menu" aria-labelledby="btnGroupDrop1" id="sample_2_column_toggler">
									<label class="dropdown-item"><input type="checkbox" checked="" data-column="isNo" data-column="NO"> No</label>
									<label class="dropdown-item"><input type="checkbox" checked="" data-column="isId" data-column="id"> ID</label>
									<label class="dropdown-item"><input type="checkbox" checked="" data-column="isAlias" data-column="conn_name"> Conn Name</label>
									<label class="dropdown-item"><input type="checkbox" checked="" data-column="isAlias" data-column="sql_text"> SQLText</label>
									<label class="dropdown-item"><input type="checkbox" checked="" data-column="isAlias" data-column="api_desc"> API Desc</label>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="m-portlet__body">
					<!--begin: Search Form -->
					<div class="m-form m-form--label-align-right m--margin-top-20 m--margin-bottom-30">
						<div class="row align-items-center">
						
							<div class="col-xl-12 order-1 order-xl-1">
								<div class="form-group m-form__group row align-items-center m_form_s">
									<div class="col-md-12">
										<h5 class="m-portlet__head-text">
											<small>
												Filter by Column
											</small>
										</h5>
									</div>
									<div class="col-md-3">
										<div class="m-input-icon m-input-icon--left">
											<input type="text" class="form-control m-input" placeholder="ID" id="filterid">
											<span class="m-input-icon__icon m-input-icon__icon--left">
												<span>
													<i class="la la-user"></i>
												</span>
											</span>
										</div>
									</div>
									<div class="col-md-3">
										<div class="m-input-icon m-input-icon--left">
											<input type="text" class="form-control m-input" placeholder="Connection Name" id="filterconn">
											<span class="m-input-icon__icon m-input-icon__icon--left">
												<span>
													<i class="la la-user"></i>
												</span>
											</span>
										</div>
									</div>
									<div class="col-md-3">
										<div class="m-input-icon m-input-icon--left">
											<input type="text" class="form-control m-input" placeholder="SQL Text" id="filtersql">
											<span class="m-input-icon__icon m-input-icon__icon--left">
												<span>
													<i class="la la-envelope"></i>
												</span>
											</span>
										</div>
									</div>
									<div class="col-md-3">
										<div class="m-input-icon m-input-icon--left">
											<input type="text" class="form-control m-input" placeholder="Description" id="filterdesc">
											<span class="m-input-icon__icon m-input-icon__icon--left">
												<span>
													<i class="la la-circle-o"></i>
												</span>
											</span>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<!--end: Search Form -->
					<!--begin: Search Form -->
					<div class="m-form m-form--label-align-right m--margin-top-20 m--margin-bottom-30">
						<div class="row align-items-center">
							<div class="col-xl-8 order-2 order-xl-1">
								<div class="form-group m-form__group row align-items-center">
									<div class="col-md-4">
										<div class="m-input-icon m-input-icon--left">
											<input type="text" class="form-control m-input" placeholder="Search All Column..." id="generalSearch">
											<span class="m-input-icon__icon m-input-icon__icon--left">
												<span>
													<i class="la la-search"></i>
												</span>
											</span>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<!--end: Search Form -->
					<!--begin: Datatable -->
					<div class="m_datatable" id="listapi" width="100%"></div>
					
					<!--end: Datatable -->
				</div>
			</div>
			<!-- ajax -->
			<div id="ajax-modal" class="modal container fade modal-scroll modal-overflow in" tabindex="-1">
			</div>
			<!-- static -->
			<div id="static" class="modal fade" tabindex="-1" data-backdrop="static" data-keyboard="false" role="dialog" aria-labelledby="addListapi" aria-hidden="true">
				<div class="modal-dialog modal-lg"" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<div class="caption">
							Are you sure to delete this api?
						</div>
						<div class="tools">
						</div>
						<button type="button" class="close reload" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">
								&times;
							</span>
						</button>
					</div>
					<div class="modal-body">
						<div class="m-alert m-alert--icon alert alert-danger m--hide" role="alert" id="alertinfo2">
							<div class="m-alert__icon">
								<i class="la la-warning"></i>
							</div>
							<div class="m-alert__text">
								<span id="alertmsg"><strong>Warning!</strong> Something went wrong. Please check.</span>
							</div>
							<div class="m-alert__close">
								<button type="button" class="close" data-close="alert" aria-label="Close"></button>
							</div>
						</div>
						
						<div class='m--hide' id="processbar">
							<div class="progress">
								<div class="progress-bar progress-bar-striped progress-bar-animated " role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
									<span class="sr-only">
										On Process
									</span>
								</div>
							</div>
							<span style="margin:0px auto;">Please wait...processing request</span>
						</div>
						<table>
							<tr>
								<td>
									 ID
								</td>
								<td>
									 :
								</td>
								<td id="static_id">
									 
								</td>
							</tr>
						</table>
					</div>
					<div class="modal-footer">
						<button type="button" data-dismiss="modal" class="btn btn-accent">Cancel</button>
						<button type="button" id="deleteconfirm" class="btn btn-danger">Yes</button>
					</div>
				</div>
				
				</div>
				<!--div class="modal-footer" style="margin-top:0px">
					
				</div-->
			</div>
			<!-- static -->
			<div id="static2" class="modal fade" tabindex="-1" data-backdrop="static" data-keyboard="false" role="dialog" aria-labelledby="addListapi" aria-hidden="true">
				<div class="modal-dialog modal-lg"" role="document">
					<div class="modal-content">
						<div class="modal-header">
							<h5 class="modal-title" id="addListApp">
										Add new Api
							</h5>
							<button type="button" class="close reload" data-dismiss="modal" aria-label="Close">
								<span aria-hidden="true">
									&times;
								</span>
							</button>
						</div>
						<div class="modal-body">
							<form action="" class="m-form m-form--fit m-form--label-align-right" id="addapi" method="post">
							<input type="hidden" name="id" value="" />
							<input type="hidden" name="pid" value="" />
							<!-- BEGIN FORM-->
							<div class="m-form__content">
								<div class="m-alert m-alert--icon alert alert-danger m--hide" role="alert" id="m_form_1_msg">
									<div class="m-alert__icon">
										<i class="la la-warning"></i>
									</div>
									<div class="m-alert__text">
										<span id="alertmsg"><strong>Warning!</strong> Something went wrong. Please check.</span>
									</div>
									<div class="m-alert__close">
										<button type="button" class="close" data-close="alert" aria-label="Close"></button>
									</div>
								</div>
							</div>
							<div class='m--hide' id="processbar">
								<div class="progress">
									<div class="progress-bar progress-bar-striped progress-bar-animated " role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
										<span class="sr-only">
											On Process
										</span>
									</div>
								</div>
								<span style="margin:0px auto;">Please wait...processing request</span>
							</div>
							<div class="row">
								<div class="col-md-6">
									<div class="form-group m-form__group">
										<label for="conname">Conn Name</label>
										<select  name="conname" id="conname" class="form-control" placeholder="Conn Name" >
										<?php 
										
										foreach ($conns as $k=>$v) 
										{
											echo "<option value='".$k."'>".$v."</option>";	
										}
										?>
										
										</select>	
									</div>
								</div>
								<div class="col-md-offset-1 col-md-6">
									<div class="form-group m-form__group">
										<label for="sqltext">Sql Text</label>
										<textarea name="sqltext" id="sqltext" class="form-control m-form--state" placeholder="Sql text" value=""></textarea>
									</div>
								</div>								
								<div class="col-md-6">
									<div class="form-group m-form__group">
										<label for="apidesc">Api Desc</label>
										<textarea name="apidesc" id="apidesc" class="form-control m-form--state" placeholder="Api Desc" value=""></textarea>
										<span class="m-form__help">
											
										</span>
									</div>
									
								</div>							
								<div class="col-md-offset-1 col-md-6">
									<div class="form-group m-form__group">
										<label for="apitype">Api Type</label>
										<select onchange="changeType(this)"  name="apitype" id="apitype" class="form-control" placeholder="Api Type" >
										<?php 
										foreach ($params as $k=>$var) 
										{
											echo "<option value='".$k."'>".$var."</option>";	
										}
										?>
										
										</select>
									</div>
								</div>	
								<div class="col-md-12">								
								<div class="getmodel">
								
								</div>
								</div>
								<div class="col-md-offset-1 col-md-6">
									<div class="form-group m-form__group">
										<label for="str">Api Str Replace</label>
										<input type="text" name="str" id="str" class="form-control" placeholder="Api Str Replace"  >
										<span class="m-form__help">
											
										</span>
									</div>
								</div>
								<div class="col-md-offset-1 col-md-6">
									<div class="form-group m-form__group">
										<label for="attrs1">Attrs1</label>
										<input type="text" name="attrs1" id="attrs1" class="form-control" placeholder="Attrs">
										<span class="m-form__help">
											
										</span>
									</div>
								</div>
								<div class="col-md-6">
									<div class="form-group m-form__group">
										<label for="cache">Cache Time</label>
										<input type="text" name="cache" id="cache" class="form-control" placeholder="Cache Time" >
										<span class="m-form__help">
											
										</span>
									</div>
								</div>
								<div class="col-md-offset-1 col-md-6">
									<div class="form-group m-form__group">
										<label for="mode">Api Mode</label>
										<select  onchange="changeApimode(this)"  name="mode" id="mode" class="form-control" placeholder="Api Mode" >
										<?php 
										foreach ($modes as $k=>$var) 
										{
											$sel="";
											if($k=="2"){$sel="selected";}
											echo "<option $sel value='".$k."'>".$var."</option>";	
										}
										?>
										
										</select>
										
										<span class="m-form__help">
											
										</span>
									</div>
								</div>
								<div class="col-md-6">
									<div class="form-group m-form__group">
										<label for="checking">Check Before Call API</label>
										<div class="checkbox-list">
											<label>
											<input name="check" id="check" value=1  type="checkbox"> Ping Server and Port </label>

										</div>
									</div>
								</div>
								<div class="col-md-offset-1 col-md-6">
									<div class="form-group m-form__group">
									
										<label for="backendcache">CacheBackEnd Type</label>
										<select  name="backendcache" id="backendcache" class="form-control" placeholder="CacheBackEnd Type" >
										
											<option  value='file'>file</option>
											<option  value='memcached'>Memory with memcahed</option>
											<option  value='libmemcached'>Memory with libmemcahed </option>
											<option  value='mongodb'>mongodb</option>
									
										
										</select>	
											
										<span class="m-form__help">
											
										</span>
									
										</div>
									
								</div>
								<div class="col-md-12 row" style="background-color:#F57575;margin-left:1px;padding-bottom:20px;">
									<div class="col-md-12">
										<div class="form-group m-form__group">
										<label class=""><b>APITEST </b></label>
										</div>
									</div>
									<div class="col-md-6">
										<div class="form-group m-form__group">
											<label style='text-align:left;'>Contoh Input (:variable): variable1=12~variable2=23 )</label>
											<textarea name="inputsqltext" id="inputsqltext" class="form-control" placeholder="input" value=""></textarea>
										 <button type="button" id="testig" class="btn">Test Api</button>
											<span class="m-form__help">
												
											</span>
										</div>
									</div>
									<div class="col-md-6">
										<div class="form-group m-form__group"><br>
											<label for="outputsqltext">Output</label>
											<textarea name="outputsqltext" id="outputsqltext" class="form-control" placeholder="Sql text" value=""></textarea>
											<span class="m-form__help">
												
											</span>
										</div>
									</div>
									<div class="col-md-6"></div>
									<div class="col-md-offset-1 col-md-6 divapimode">
										<div class="form-group m-form__group">
												<label for="arrayout">Output Array</label>
												<textarea name="arrayout" id="arrayout" class="form-control" placeholder="(out1, out2, out3)" value="">
												</textarea>
										</div>
									</div>
								
								</div>
								<div class="col-md-12">
									<div class="form-group m-form__group">
									<label class=""><b>Grant Access Published API</b></label>
									</div>
								</div>
								<div class="col-md-10">
								<?php  foreach($this->userapp as $v) { ?>	
									<div class="form-group m-form__group">
										
										
										<label class=""><span style="color:#5D7E4F;font-weight:bold;"><?php echo $v['user_name'];?></span>-<span style="color:#6D1F1B"><?php echo $v['user_ip'];?></span></label>
										<div class="checkbox-list">
											<label class="checkbox-inline">
											<input type="checkbox"  name="access_api[<?php echo $v['id'];?>]" value="1"> Access API </label>
											<label class="checkbox-inline">
											<input type="checkbox"  name="restricted_ip[<?php echo $v['id'];?>]" value="1" > Restricted IP  </label>
											<input type="checkbox"  name="access_vsql[<?php echo $v['id'];?>]"  value="1"> View Sql </label>
											<label class="checkbox-inline">
											<input type="checkbox"  name="access_vparsing[<?php echo $v['id'];?>]" value="1" > View Parsing Data Time </label>
											
										</div>
									</div>
									<?php } ?>
								</div>
							</div>
							<div class="form-actions" style="margin:0px">
							   <div class="row">
								   <div class="col-md-6">
									   <div class="col-md-offset-3 col-md-9">
										   <button type="submit" class="btn btn-accent">Submit</button>
										   <button type="button" type="button" data-dismiss="modal" class="btn btn-secondary">Cancel</button>
									   </div>
								   </div>
								   <div class="col-md-6">
								   </div>
							   </div>
							</div>
							</form>
						</div>
					</div>
				</div>
			</div>
	</div>
	
</div>
<script>
function changeType(me){
	var $me = $(me);
	var $val = $me.val();
	//alert($val);
	var $element = $('.getmodel');
	var next = $element.next('span.m-form__help'); 
	var con = $('#conname').val();
	//var con = $('#conname').val();
	//alert(con);
	
	if($val == 4){
	
	$.ajax({
		url:"/bigbox/bigenvelope/getmodels/xxxid/"+$val,
		content:'json',
		type:'get',
		beforeSend:function(){
			$element.hide();
			$(next).children('span.label').html('<i class="fa fa-coffee"></i>&nbsp;Retrieve data...');
			$($element).next().slideDown();
		},
		complete:function(result){
					
		},
		success: function(data){
			$($element).next().hide();
			$element.html(data);
			$element.slideDown();
		},
		error:function(){
			$(next).children('span.label').html('<i class="fa fa-warning"></i>&nbsp;Failed to retrieve data.');
		}
		});
	} else if($val == 2||$val == 3 ) { 
				
				$.ajax({
					url:"/bigbox/bigenvelope/getmodels/xxxid/"+$val+'/conn/'+con,
					content:'json',
					type:'get',
					beforeSend:function(){
						$element.hide();
						$(next).children('span.label').html('<i class="fa fa-coffee"></i>&nbsp;Retrieve data...');
						$($element).next().slideDown();
					},
					complete:function(result){
								
					},
					success: function(data){
						$($element).next().hide();
						$element.html(data);
						$element.slideDown();
					},
					error:function(){
						$(next).children('span.label').html('<i class="fa fa-warning"></i>&nbsp;Failed to retrieve data.');
					}
					});
	} else {
		$('.resType').hide();
	}
	
}
function changeMethod(me){
	var $me = $(me);
	var $val = $me.val();
	var $model = $('#model').val();
	
	//alert($isi);
	
	var apitype = $('#apitype').val();	
	if (apitype =='4') {
		var $isi = ""+$model + "::"+ $val;
	} else {
		var $isi = $val+"(:in1, :in2, ...)";
		}
	$('#sqltext').html($isi);
	//alert($model);
}
function changeApimode(me){
	var $me = $(me);
	var $val = $me.val();
	
	if($val == '2' || $val == '3'  ) 
	{
		$('#divapimode').show();	
	} else {
		$('#divapimode').hide();	
		}
		
	
}
function changeModel(me){
	var $me = $(me);
	var $val = $me.val();
	var $element = $('#method');
	var next = $element.next('span.m-form__help'); 
	var con = $('#conname').val();	
	var apitype = $('#apitype').val();	
	
	$.ajax({
		url:"/bigbox/bigenvelope/getmethods/xxxid/"+$val+'/conn/'+con + '/apitype/' + apitype,
		content:'json',
		type:'get',
		beforeSend:function(){
			$element.hide();
			$(next).children('span.label').html('<i class="fa fa-coffee"></i>&nbsp;Retrieve data...');
			$($element).next().slideDown();
		},
		complete:function(result){
					
		},
		success: function(data){
			$($element).next().hide();
			$element.html(data);
			
			
			
			$element.slideDown();
		},
		error:function(){
			$(next).children('span.label').html('<i class="fa fa-warning"></i>&nbsp;Failed to retrieve data.');
		}
		});
}
</script>
<style>
.table-scrollable > .table > thead > tr > th, .table-scrollable > .table > tbody > tr > th, .table-scrollable > .table > tfoot > tr > th, .table-scrollable > .table > thead > tr > td, .table-scrollable > .table > tbody > tr > td, .table-scrollable > .table > tfoot > tr > td {
     white-space: normal; 
}
</style>
