<?php
	$params=array();
	foreach($this->params as $v) 
	{
		$params[$v['value_param']] = $v['display_param'];	
	}
	$modes=array();
	foreach($this->modes as $v) 
	{
		$modes[$v['value_param']] = $v['display_param'];	
	}
	$conns=array();
	foreach($this->conns as $v) 
	{
		$conns[$v['conn_name']] = $v['conn_name'];	
	}
	//Zend_Debug::dump($this->adapts);die();
?>

<div class="m-grid__item m-grid__item--fluid m-wrapper">
	<div class="m-subheader ">
		<div class="d-flex align-items-center">
			<div class="mr-auto">
				<h3 class="m-subheader__title m-subheader__title--separator">
					Connection List
				</h3>
				<ul class="m-subheader__breadcrumbs m-nav m-nav--inline">
					<li class="m-nav__item m-nav__item--home">
						<a href="/" class="m-nav__link m-nav__link--icon">
							<i class="m-nav__link-icon la la-home"></i>
						</a>
					</li>
					<li class="m-nav__separator">
						>
					</li>
					<li class="m-nav__item">
						<a href="http://10.62.165.147:90/" class="m-nav__link">
							<span class="m-nav__link-text">
								PraBAC
							</span>
						</a>
					</li>
					<li class="m-nav__separator">
						> 
					</li>
					<li class="m-nav__item">
						<a href="http://10.62.165.147:90/" class="m-nav__link">
							<span class="m-nav__link-text">
								Data Management
							</span>
						</a>
					</li>
					<li class="m-nav__separator">
						> 
					</li>
					<li class="m-nav__item">
						<a href="" class="m-nav__link">
							<span class="m-nav__link-text">
								Connection
							</span>
						</a>
					</li>
				</ul>
			</div>
			
		</div>
	</div>
	<div class="m-content">
			<div class="m-portlet m-portlet--mobile">
			<div class="m-portlet__head">
				<div class="m-portlet__head-caption">
					<div class="m-portlet__head-title">
						<h3 class="m-portlet__head-text">
							Connection
							<small>Define and manage connection to all system related</small>
						</h3>
					</div>
				</div>
				<div class="m-portlet__head-tools">
					<div class="btn-group" role="group" aria-label="Button group with nested dropdown">
						<button type="button" class="m-btn btn btn-success" data-toggle="modal" data-target="#static2" id="btn-addnew">
							<i class="fa fa-plus"></i> Add New
						</button>
						<div class="btn-group" role="group">
							<button id="btnGroupDrop1" type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
								<i class="fa fa-cogs"></i> Tools
							</button>
							<div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
								<a class="dropdown-item" href="#">
									Dropdown link
								</a>
								<a class="dropdown-item" href="#">
									Dropdown link
								</a>
								<a class="dropdown-item" href="#">
									Dropdown link
								</a>
								<a class="dropdown-item" href="#">
									Dropdown link
								</a>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="m-portlet__body">
				<div class="table-responsive">
					<table class="table table-striped table-hover">
						<thead>
								<tr>
									<th>
										#
									</th>
									<th>
										Connection Name
									</th>
									<th>
										Adapter
									</th>
									<th>
										Host
									</th>
									<th>
										DbName
									</th>
									<th>
										
									</th>
								</tr>
								</thead>
								<tbody>
									
								<?php 
								$i=1;
								foreach ($this->conns as $k=>$v) {
								?>	
								<tr>
									<td>
										<?php   echo $i; ?>
									</td>
									<td>
										<?php   echo $v['conn_name']; ?>
									</td>
									<td>
										<?php   echo $v['conn']['adapter']; ?>
									</td>
										<td>
										<?php   echo $v['conn']['host']; ?>
									</td>
									<td>
										<?php   echo $v['conn']['dbname']; ?> 
									</td>
									<td>
										<a href="/bigbox/bigenvelope/editconn/id/<?php   echo $v['id']; ?>" class="m-portlet__nav-link btn m-btn m-btn--hover-accent m-btn--icon m-btn--icon-only m-btn--pill" title="Edit ">                   
											<i class="la la-edit"></i>                        
										</a>
									</td>
								</tr>
								
								<?php  
								$i++;
								 } ?>
								
								</tbody>
					</table>
						
						<!-- static -->
									
					<div id="ajax-modal" class="modal fade" tabindex="-1" data-backdrop="static" data-keyboard="false" role="dialog" aria-labelledby="" aria-hidden="true">
					</div>
				
					
					<div id="static2" class="modal fade" tabindex="-1" data-backdrop="static" data-keyboard="false" role="dialog" aria-labelledby="addListConn" aria-hidden="true">
						<div class="modal-dialog modal-lg"" role="document">
							<div class="modal-content">
								<div class="modal-header">
									<h5 class="modal-title" id="addListApp">
										Add new Conn
									</h5>
									<button type="button" class="close reload" data-dismiss="modal" aria-label="Close">
										<span aria-hidden="true">
											&times;
										</span>
									</button>
								</div>
								<div class="modal-body">
									<form action="" class="m-form m-form--fit m-form--label-align-left" id="addconn" method="post">
										<input type="hidden" name="id" value="" />
										<input type="hidden" name="pid" value="" />
										<!-- BEGIN FORM-->
										
										<div class="">
												<div class="m-alert m-alert--icon alert alert-danger m--hide" role="alert" id="m_form_1_msg">
													<div class="m-alert__icon">
														<i class="la la-warning"></i>
													</div>
													<div class="m-alert__text" id="alertinfo">
														<span id="alertmsg"><strong>Warning!</strong> Something went wrong. Please check.</span>
													</div>
													<div class="m-alert__close">
														<button type="button" class="close" data-close="alert" aria-label="Close"></button>
													</div>
												</div>
											
											<div class='m--hide' id="processbar">
												<div class="progress">
													<div class="progress-bar progress-bar-striped progress-bar-animated " role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
														<span class="sr-only">
															On Process
														</span>
													</div>
												</div>
												<span style="margin:0px auto;">Please wait...processing request</span>
											</div>
											<div class="row" style="padding:0px 15px;">
												<div class="col-md-6">
													<div class="form-group">
														<label for="conn">Connection Name</label>
														<input type="text" name="conn" id="conn" class="form-control m-input" placeholder="Connection Name" data-toggle="m-tooltip" title="">
														<span class="m-form__help">
															
														</span>
													</div>
												</div>
												
												
												<div class="col-md-offset-1 col-md-6">
													<div class="form-group">
														<label for="adapter">Adapter</label>
														<select   name="adapter" id="adapter" class="form-control m-input" placeholder="Adapter" >
														<?php 
														foreach ($this->adapts as $k=>$v) {
															
															echo "<option value='".$k."'>".$v."</option>"; 	
															
														}
														?>
														</select>
													</div>
												</div>
											</div>
											<div class="row" style="padding:0px 15px;">
												<div class="col-md-6">
													<div class="form-group">
														<label for="host">Host Name</label>
														<input type="text" name="host" id="host" class="form-control m-input" placeholder="Host Name"  data-toggle="m-tooltip" title="">
														<span class="m-form__help">
															
														</span>
													</div>
													
												</div>
												<div class="col-md-offset-1 col-md-6">
													<div class="form-group">
														<label for="dbname">DbName</label>
														<textarea name="dbname" id="dbname" class="form-control m-input" placeholder="DbName" value=""></textarea>
														<span class="m-form__help">
															
														</span>
													</div>
												</div>
												
											</div>
										
											
											<div class="row" style="padding:0px 15px;">
												<div class="col-md-6">
													<div class="form-group">
														<label for="port">Port</label>
														<input type="text" name="port" id="port" class="form-control m-input" placeholder="Port" data-toggle="m-tooltip" title="">
														<span class="m-form__help">
															
														</span>
													</div>
												</div>
												<div class="col-md-offset-1 col-md-6">
													<div class="form-group">
														<label for="username">Username</label>
														<input type="text" name="username" id="username" class="form-control m-input" placeholder="Username" data-toggle="m-tooltip" title="">
														<span class="m-form__help">
															
														</span>
													</div>
												</div>
											</div>
											<div class="row" style="padding:0px 15px;">
												<div class="col-md-6">
													<div class="form-group">
														<label for="password">Password</label>
														<input type="text" name="password" id="password" class="form-control m-input" placeholder="Password" data-toggle="m-tooltip" title="">
														<span class="m-form__help">
															
														</span>
													</div>
												</div>
											  
												<div class="col-md-offset-1 col-md-6">
													<div class="form-group">
														<label for="descr">Optional Params</label>
														<input type="text" name="descr" id="descr" class="form-control m-input" placeholder="Optional Params">
														<span class="m-form__help">
															
														</span>
													</div>
												</div>
											</div>
											<div class="row" style="padding:0px 15px;">
												<div class="col-md-6">
													<div class="form-group">
														<label for="dis">Disable Connection</label>
														<input type="checkbox" name="dis" id="dis" value=1 class="form-control m-input" placeholder="Disable Connection" style='margin-top:-23px!important'>
														<span class="m-form__help">
															
														</span>
													</div>
												</div>
												<div class="col-md-offset-1 col-md-6">
													
												</div>
											</div>
											<div class="">
												<div class="m-form__actions m-form__actions">
													<div class="row">
														<div class="col-lg-12 ml-lg-auto">
															<button type="submit" class="btn btn-accent">
																Submit
															</button>
															<button  type="button"  onclick="tescon(this);" class="btn btn-accent">
																Test Connection
															</button>
															<button type="reset" class="btn btn-secondary" onclick="tescon(this)"  data-dismiss="modal">
																Cancel
															</button>
														</div>
													</div>
												</div>
											</div>
										</div>
									</form>
								</div>
							</div>
						</div>
					</div>
					<!--div class="modal-footer">
						<button type="button" data-dismiss="modal" class="btn btn-default">Cancel</button>
						<button type="button" data-dismiss="modal" class="btn green">Submit</button>
					</div-->
				</div>
			</div>
		</div>
	</div>
</div>
