<style>

.modal.bootbox .modal-dialog{
	width:auto;
}

.modal.bootbox {
	border: none;
	background: none;
	box-shadow: none;
}

#tax{
	width:100%;
}

#tax .jstree-container-ul{
	width:100%;
}

</style>   

<div class="page-content">
    <div class="row">
        <div class="col-md-12">

            <div id="ajax-loader"  style="z-index:9999;  position: absolute; left: 0; top:1; width: 100%; display:none; opacity: 0.5; overflow:hidden;">
                <img style="margin: 15% auto; opacity: 1; display: block;" src="/assets/core/img/gears.gif">
            </div>

            <!-- BEGIN PAGE TITLE & BREADCRUMB-->
            <h4 class="page-title">
                Mapping Raw Sources<small></small>
            </h4>
            <!--
            <ul class="page-breadcrumb breadcrumb">
                <li>
                    <i class="fa fa-home"></i>
                    <a href="/">Home</a>
                    <i class="fa fa-angle-right"></i>
                </li>

                <li class="btn-group pull-right">
                        <button type="button" class="btn red">
                                <span>
                <?php

echo Zend_Auth::getInstance()->getIdentity()->fullname;

?>
                                </span>
                        </button>
                    </li>
                    <li class="btn-group">
                        <button type="button" class="btn grey dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-delay="1000" data-close-others="true">
                            <span>
                                Actions
                            </span>
                            <i class="fa fa-angle-down"></i>
                        </button>
                        <ul class="dropdown-menu pull-right" role="menu">
                            <li>
                                <a id="btn-addnew" href="#">Add Documents</a>
                            </li>

                            <li class="divider">
                            </li>

                        </ul>
                    </li>
                </ul>
                -->
                <!-- END PAGE TITLE & BREADCRUMB-->
            </div>
        </div>
         
         <div class="row">
                                     <div class="col-md-4">
                                  
                                <div class="portlet light bordered">
                                    <div class="portlet-title">
                                        <div class="caption">
                                            <i class="icon-social-dribbble font-blue-sharp"></i>
                                            <span class="caption-subject font-blue-sharp bold uppercase">Categories</span>
                                        </div>
                                        <div class="actions">
                                          
                                        </div>
                                    </div>
                                    <div class="portlet-body">
                                            <div id="tax">
                                             
                                         </div>  
                                    </div>
                                </div>
                           
                                         
                                     </div>
        <!--                             
        <div class="col-md-4" >
            <div class="portlet box purple">
                <div class="portlet-title">

                    <div class="col-md-9" >
                        <div class="input-group">

                            <span class="input-group-addon">
                                <i class="fa fa-search"></i>
                            </span>
                            <input name="keyw" id="searching" class="form-control" placeholder="SearchContents">

                        </div>


                    </div>
                    <div class="col-md-3" >
                        <div class="input-group" style="margin-top:3px;">
                            <span class="checked sfilter"><input id="sfilter" name="sfilter" type="checkbox" value="1"  class="input-small"></span>

                        </div>
                

                </div>


            </div>
            <div class="portlet-body">
                <div class="note note-info">
                    <p>
                        Raw Sources
                    </p>
                </div>
                <div id="using_json_2" style="overflow-x:scroll;width:100%;min-height:400px" class="tree-demo">
                </div> 
            </div>
        </div>
    </div>
    -->
    <div class="col-md-8">
        <div id="rightcol">

        </div>
        <div class="portlet-title">

                    <div class="col-md-9">
                        <div class="input-group">

                            <span class="input-group-addon">
                                <i class="fa fa-search"></i>
                            </span>
                            <input name="keyw" id="searching" class="form-control" placeholder="SearchContents">

                        </div>


                    </div>
                    <div class="col-md-3">
                        <!--
                        <div class="input-group" style="margin-top:3px;">
                            <span class="checked sfilter"><input id="sfilter" name="sfilter" type="checkbox" value="1"  class="input-small"></span>

                        </div>
                    -->

                </div>


            </div>
        <div class="portlet-body">
        
                <div class="note note-info">
                    <p>
                        Raw Sources
                    </p>
                </div>
                <div id="using_json_2" style="overflow-x:scroll;width:100%;min-height:400px" class="tree-demo">
                </div> 
            </div>
    </div>
</div>
</div>

<!--modal-->
<div id="static2" class="modal container fade modal-scroll modal-overflow in" tabindex="-1" data-backdrop="static" data-keyboard="false">
    <div class="modal-body" style="padding:5px">
        <div class="portlet box purple" style="margin:0px">
            <div class="portlet-title">
                <div class="caption">
                    Add new Document
                </div>
                <div class="actions">
                    <a href="#" class="btn reload" data-dismiss="modal"><i class="fa fa-times"></i></a>
                </div>
                <div class="tools">
                </div>
            </div>
            <div class="portlet-body" style="padding:15px">
                <form action="" class="form-horizontal" id="add" method="post">
                    <input type="hidden" name="id" value="" />
                    <input type="hidden" name="pid" value="" />
                    <!-- BEGIN FORM-->
                    <div class="form-body">
                        <div class="alert alert-success alert-dismissable hidden" id="alertinfo">
                            <button type="button" class="close" data-dismiss="alert" aria-hidden="true"></button>
                            <span id="alertmsg"><strong>Warning!</strong> Something went wrong. Please check.</span>
                        </div>

                        <div style="margin:0px auto;text-align:center" id="processbar" class="hidden">
                            <div class="progress progress-striped active" style="margin:0px auto;text-align:center">
                                <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
                                    <span class="sr-only">
                                        On Process
                                    </span>
                                </div>
                            </div>
                            <span style="margin:0px auto;">Please wait...processing request</span>
                        </div>


                        <div class="row" style="padding:0px 15px;">
                            <div class="col-md-5">
                                <div class="form-group">
                                    <label for="dname">Doc Name</label>
                                    <input type="text" name="dname" id="dname" class="form-control" placeholder="Doc Name"  >
                                    <span class="help-block">
                                        <span class="label label-danger"><i class="fa fa-warning"> </i>This is inline help</span>
                                    </span>
                                </div>
                            </div>


                            <div class="col-md-offset-1 col-md-5">
                                <div class="form-group">
                                    <label for="adapter">Doc Type</label>

                                    <select   name="dtype" onchange="changeType(this)" id="dtype" class="form-control" placeholder="Doc Type" >
                                        <option value=""">--</option>    
                                        <?php


foreach($this->sources as $k => $v) {
    echo "<option value='" . $k . "'>   " . $v . "</option>";
}

?>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="row" style="padding:0px 15px;">
                            <div class="col-md-5">
                                <div class="form-group">
                                    <label for="doccat"></label>
                                    <select   name="doccat" id="doccat" class="form-control" placeholder="Doc Type" >

                                    </select>

                                </div>
                            </div>

                            <div class="col-md-offset-1 col-md-5">
                                <div class="form-group">
                                    <label for="docdesc">Doc Description</label>
                                    <textarea name="docdesc" id="docdesc" class="form-control" placeholder="Doc Description" value=""></textarea>
                                    <span class="help-block">
                                        <span class="label label-danger"><i class="fa fa-warning"> </i>This is inline help</span>
                                    </span>
                                </div>
                            </div>

                        </div>


                        <div class="row" style="padding:0px 15px;">
                            <div class="col-md-5">
                                <div class="form-group">

                                </div>
                            </div>
                            <div class="col-md-offset-1 col-md-5">
                                <div class="form-group">

                                </div>
                            </div>
                        </div>
                        <div class="row" style="padding:0px 15px;">
                            <div class="col-md-5">
                                <div class="form-group">

                                </div>
                            </div>

                            <div class="col-md-offset-1 col-md-5">
                                <div class="form-group">

                                </div>
                            </div>
                        </div>
                        <div class="row" style="padding:0px 15px;">
                            <div class="col-md-5">
                                <div class="form-group">

                                </div>
                            </div>
                            <div class="col-md-offset-1 col-md-5">

                            </div>
                        </div>



                    </div>


                    <!--/row-->
                    <div class="row">
                        <div class="form-group  bread" id="bread1" data-id="1">
                            <div class="col-md-10">
                                <div class="col-md-4">
                                    <div class="input-icon right">
                                        <input class="form-control input-sm" name="fname[]" placeholder="Field Name">

                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="input-icon right">

                                        <select class="form-control input-sm" name="ftype[]"  placeholder="Type">
                                            <option value="">Choose Type</option>
                                            <option value="string">String</option>
                                            <option value="integer">Integer</option>
                                            <option value="date">Date</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="input-icon right">
                                        <input class="form-control input-sm" name="fvalue[]" placeholder="Value(dateformat: 1995-12-31 23:59:59)">
                                    </div>	
                                </div>
                            </div>
                            <div class="col-md-2">
                                <button type="button" class="btn grey addGC2" onclick="addGC2(this);
                                return false;" data-act="addGC2" data-id="1" style="padding: 5px;">Add</button>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="form-actions" style="margin:0px">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="col-md-offset-3 col-md-9">
                                <button type="submit" class="btn green">Submit</button>

                                <button type="button" type="button"   data-dismiss="modal" class="btn default">Cancel</button>

                            </div>
                        </div>
                        <div class="col-md-6">
                        </div>
                    </div>
                </div>
            </form>
            <!-- END FORM-->
        </div>
    </div>
</div>
<!--div class="modal-footer">
    <button type="button" data-dismiss="modal" class="btn btn-default">Cancel</button>
    <button type="button" data-dismiss="modal" class="btn green">Submit</button>
</div-->
</div>

</div>
</div>
<!-- END EXAMPLE TABLE PORTLET-->
</div>


</div>

<!--end modal-->

</div>

<script>

    function changeType(me) {
    var $me = $(me);
    var $val = $me.val();

    $.ajax({
    url: "/pendem/ajax/getcate/xxxid/" + $val,
    content: 'html',
    type: 'get',
    beforeSend: function() {
    //                $element.hide();
    //                $(next).children('span.label').html('<i class="fa fa-coffee"></i>&nbsp;Retrieve data...');
    //                $($element).next().slideDown();
},
complete: function(result) {

},
success: function(data) {
//                $($element).next().hide();
$("#doccat").html(data);
//                $element.slideDown();
},
error: function() {
//  $(next).children('span.label').html('<i class="fa fa-warning"></i>&nbsp;Failed to retrieve data.');
}
});


}



var gamasidx2 = 1;
var elem = 1;

function addGC2(me) {
var id = $(me).data('id');
var currow = $('body').find('.bread:last');
var str = '<div class="form-group row bread" id="bread' + (parseInt(gamasidx2) + 1) + '" data-id="' + (parseInt(gamasidx2) + 1) + '" >'
+ '<div class="col-md-10">'
+ '<div class="col-md-4">'
+ '<input  class="form-control input-sm" name="fname[]" placeholder="Field Name"  />'
+ '</div>'
+ '<div class="col-md-4">'
+ '<select class = "form-control input-sm" name = "ftype[]"  placeholder = "Type" >'
+ '<option value = "" > Choose Type</option>'
+ '<option value = "string">String</option>'
+ '<option value = "integer">Integer</option>'
+ '<option value = "date">Date</option>'
+ ' </select>'
+ '</div>'
+ '<div class="col-md-4">'
+ '<input   class="form-control input-sm"  name="fvalue[]" placeholder="Value (dateformat: 1995-12-31 23:59:59)" />'
+ '</div>'
+ '</div>'
+ '<div class="col-md-2">'
+ '<button type="button" class="btn red removeGC2" onclick="removeGC2(this); return false;" data-act="removeGC2" data-id="' + (parseInt(gamasidx2) + 1) + '" style="padding: 5px;">Remove</button>'
+ '</div>'
+ '</div>';
gamasidx2++;
//console.log(str);
currow.after(str);
}


function removeGC2(me) {
var id = $(me).data('id');
//console.log(id);
$('body').find('#bread' + id + ':first').remove();
}

jQuery(document).ready(function() {
//    alert("xxx");
$('.sfilter').hover(function(e) {
toastr.info('Check for Advanced Search');
});
$('#searching').keypress(function(e) {
if (e.which == 13) {
//                    $('#using_json_2').jstree(true).settings.core.data = {
//                    'url': '/pendem/meta2/searching/keyw/'+($(this).val()),
//                    'data': function(node) {
//                        console.log(node);
//                        return {'id': node.id};
//                    }
//                    }   ;
$('#using_json_2').jstree(true).refresh();
}
});

$('span.help-block').hide();
$('#tax').jstree({
"core": {
'data': {
'url': '/pendem/index/gethtml',
'data': function(node) {
return {'id': node.id};
}
},
"themes": {
"responsive": false
},
// so that create works
"check_callback": true
},
"types": {
"default": {
"icon": "fa fa-folder icon-state-warning icon-lg"
},
"file": {
"icon": "fa fa-file icon-state-warning icon-lg"
}
},
"contextmenu": {
items: function(o, cb) { // Could be an object directly
var tree = $("#tax").jstree(true);
return {
"create": {
"separator_before": false,
"separator_after": true,
"_disabled": false, //(this.check("create_node", data.reference, {}, "last")),
"label": "Create",
"action": function(data) {
var inst = $.jstree.reference(data.reference),
obj = inst.get_node(data.reference);
inst.create_node(obj, {}, "last", function(new_node) {
setTimeout(function() {
inst.edit(new_node);
}, 0);
});
}
},
"rename": {
"separator_before": false,
"separator_after": false,
"_disabled": false, //(this.check("rename_node", data.reference, this.get_parent(data.reference), "")),
"label": "Rename",
"action": function(data) {
var inst = $.jstree.reference(data.reference),
obj = inst.get_node(data.reference);
obj.text =$(obj.text).text();
//  obj.text =obj.text.replace(/[|]/g, '');
inst.edit(obj);
}
},
"remove": {
"separator_before": false,
"icon": false,
"separator_after": false,
"_disabled": false, //(this.check("delete_node", data.reference, this.get_parent(data.reference), "")),
"label": "Delete",
"action": function(data) {
var inst = $.jstree.reference(data.reference),
obj = inst.get_node(data.reference);
if (inst.is_selected(obj)) {
inst.delete_node(inst.get_selected());
}
else {
inst.delete_node(obj);
}
//console.log(obj);
// console.log(data);
bootbox.confirm("Are you sure to remove?", function(result) {
if (result) {
$.ajax({
url: "/pendem/index/deltax",
content: 'json',
type: 'post',
data: {
id: obj.id
},
beforeSend: function() {
},
complete: function(result) {


},
success: function(data) {
//jQuery('#rightcol').html(data);
toastr.info('Succed removing');
},
error: function() {

}
});



}
});

}
},
"ccp": {
"separator_before": true,
"icon": false,
"separator_after": false,
"label": "Avanced",
"action": false,
"submenu": {
"map": {
"separator_before": false,
"separator_after": false,
"label": "MAP",
"action": function(data) {
var inst = $.jstree.reference(data.reference),
obj = inst.get_node(data.reference);

var raws = ($("#tax").jstree("get_checked", null, true));
var raws2 = ($("#using_json_2").jstree("get_checked", null, true));

if (raws.length === 0 || raws2.length === 0) {
bootbox.alert("Please check source and target");
} else {
bootbox.confirm("Are you sure for mapping?", function(result) {
if (result) {
$.ajax({
url: "/pendem/index/mapgroup",
content: 'json',
type: 'post',
data: {
raw0: raws,
raw1: raws2
},
beforeSend: function() {
},
complete: function(result) {


},
success: function(data) {
//  jQuery('#rightcol').html(data);
},
error: function() {

}
});


toastr.info('Succed Mapping');
}
});

}

}
}

}
}
};
}
},
"plugins": ["contextmenu", "checkbox", "search", "types"]
});

var $tree = $('#tax')

.on("move_node.jstree", function(e, data) {

})
.on('loaded.jstree', function() {
    if(!$("body" ).hasClass('page-sidebar-closed')){

			//		$( ".menu-toggler" ).click();

				}
$tree.jstree('open_all');
})
/*
.on('changed.jstree', function(e, data) {

$("#ajax-loader").show();

var raws = ($("#tax").jstree("get_checked", null, true));
var mapp = {
treecek: raws
};
$.ajax({
url: "/pendem/index/filtering",
content: 'json',
type: 'post',
data: mapp,
beforeSend: function() {
},
complete: function(result) {


},
success: function(data) {
jQuery('#rightcol').html(data);
$("#ajax-loader").hide();
},
error: function() {

}
});



})*/
.on('rename_node.jstree', function(e, data) {
//  console.log(data);
var datay = {
parent: data.node.parent,
old: data.old,
text: data.text,
parents: (data.node.parents)
};
$.ajax({
url: "/pendem/index/createnode",
content: 'json',
type: 'get',
data: datay,
beforeSend: function() {
},
complete: function(result) {

},
success: function(data) {
//jQuery('#rightcol').html(data);
//alert('s');

$('#tax').jstree('open_all');
// $('#tax').jstree(true).refresh();
},
error: function() {

}
});
$('#tax').jstree("refresh");
})
.on('delete_node.jstree', function(e, data) {

//delete_item(data.node.id);
})
.on('create_node.jstree', function(e, data) {
//  console.log(data);

});

$('#using_json_2').jstree({'core': {
'data': {
'url': function(node) {
return node.id === '#' ?
'/pendem/index/jsontree/xx/' + $("#searching").val() :
'/pendem/index/jsontree/nested/1/xid/' + node.id + '/bundle/' + node.original.bundle + '/xx/' + $("#searching").val();
},
'data': function(node) {
return {'id': node.id};
}
},
"check_callback": true

},
"types": {
"default": {
"icon": "fa fa-folder icon-state-warning icon-lg"
},
"file": {
"icon": "fa fa-file icon-state-warning icon-lg"
}
},
"state": {"key": "dem"},
"plugins": ["types", "checkbox"]

});



// handle link clicks in tree nodes(support target="_blank" as well)
$('#using_json_2')
.on("copy_node.jstree", function(e, data) {
// alert("s");
//console.log(data);
$.ajax({
url: "/pendem/index/mapping",
content: 'json',
type: 'post',
data: {text: data.node.text, parent: data.node.parent},
beforeSend: function() {
},
complete: function(result) {


},
success: function(data) {

$('#tax').jstree("refresh");
$('#using_json_2').jstree("refresh");
},
error: function() {

}
});

})
/*
.on('select_node.jstree', function(e, data) {
$("#ajax-loader").show();
var datay = {
id: data.node.original.id
};

$.ajax({
url: "/pendem/index/getid",
content: 'html',
type: 'get',
data: datay,
beforeSend: function() {
},
complete: function(result) {


},
success: function(data) {
jQuery('#rightcol').html(data);
$("#ajax-loader").hide();
},
error: function() {

}
});


});

*/

var UIExtendedModals3 = function() {

return {
//main function to initiate the module
init: function() {

// general settings
$.fn.modal.defaults.spinner = $.fn.modalmanager.defaults.spinner =
'<div class="loading-spinner" style="width: 200px; margin-left: -100px;">' +
'<div class="progress progress-striped active">' +
'<div class="progress-bar" style="width: 100%;"></div>' +
'</div>' +
'</div>';

$.fn.modalmanager.defaults.resize = true;

//static demo:
var $modal2 = $('#static');

// handle record edit/remove
$('body').on('click', '#user_table_wrapper .btn-delete', function() {
var id = $(this).attr("data-id");

if ($modal2.find('td#static_id') != undefined) {
$modal2.find('td#static_id').html(id);
}

$modal2.modal();
});

$modal2.on('click', 'button#deleteconfirm', function() {
var id = $modal2.find('td#static_id').html();
//alert(id);
$.ajax({
url: "/prabajax/deleteapi",
content: 'json',
type: 'post',
data: {uid: id},
beforeSend: function() {
$('#processbar2').removeClass('hidden');
$('#alertinfo2').removeClass('alert-success');
$('#alertinfo2').removeClass('alert-warning');
$('#alertinfo2').removeClass('alert-danger');
$('#alertinfo2').removeClass('alert-info');
},
complete: function(result) {
$('#processbar2').addClass('hidden');
},
success: function(data) {
//console.log(data);
if (data.result != undefined) {
if (data.result == true) {
$('#alertinfo2').addClass('alert-success');
$('#alertmsg2').html("<strong>Success!</strong> " + data.retMsg);
$("a.reload").click();
$modal2.modal('hide');
} else {
$('#alertinfo2').addClass('alert-warning');
$('#alertmsg2').html("<strong>Failed!</strong> " + data.retMsg);
}
} else {
$('#alertinfo2').addClass('alert-info');
$('#alertmsg2').html("<strong>Error!</strong> System is busy, please try again.");
}
$('#alertinfo2').removeClass('hidden');
},
error: function() {
$('#alertinfo2').addClass('alert-info');
$('#alertmsg2').html("<strong>Error!</strong> System is busy, please try again.");
$('#alertinfo2').removeClass('hidden');
}
});
});

var $modal3 = $('#static2');
$('body').on('click', '#btn-addnew', function() {
$modal3.modal();
});

$modal3.on('hide.bs.modal', function(e) {
$('#processbar').addClass('hidden');
$('#alertinfo').addClass('hidden');
});

$modal3.on('hidden.bs.modal', function(e) {
$('#processbar').addClass('hidden');
$('#alertinfo').addClass('hidden');
});
}

};

}();

UIExtendedModals3.init();

var Add = function() {
var handleAdd = function() {
$('form#add').validate({
focusInvalid: false, // do not focus the last invalid input
rules: {
dname: {
required: true
},
dtype: {
required: true
},
docdesc: {
required: true
}
},
messages: {
},
invalidHandler: function(event, validator) {

$('span.help-block').hide();
var errorlist = validator.errorList;
if (errorlist.length > 0) {
for (var i = 0; i < errorlist.length; i++) {
//console.log(errorlist[i].element);
var el = errorlist[i].element;
var next = $(el).next('span.help-block');
$(next).slideDown();
}
$('.modal-scrollable:visible').animate({
scrollTop: $(el).offset().top
}, 800);
}
},
highlight: function(element) { // hightlight error inputs
$(element)
.closest('.form-group').addClass('has-error'); // set error class to the control group
},
success: function(label) {
label.closest('.form-group').removeClass('has-error');
//label.remove();
},
errorPlacement: function(error, element) {
$('span.help-block').hide();
var next = element.next('span.help-block');
//console.log(error);
if (error[0].textContent != "") {
$(next).children('span.label').html("<i class='fa fa-warning'></i> " + error[0].textContent);
$(element).next().slideDown();
$('.modal-scrollable:visible').animate({
scrollTop: $(element).offset().top
}, 800);
}
},
submitHandler: function(form) {
$('#alertinfo').addClass('hidden');
$('span.help-block').hide();
$('.form-group').removeClass('has-error');
//form.submit(); // form validation success, call ajax form submit
submitForm();
return false;
}
});

$('form#add input').keypress(function(e) {
if (e.which == 13) {
$('span.help-block').hide();
$('.form-group').removeClass('has-error');
if ($('form#addapi').validate().form()) {
//$('form#addapi').submit(); //form validation success, call ajax form submit
submitForm();
}
return false;
}
});
}

var submitForm = function() {

$.ajax({
url: "/pendem/index/adddoc",
content: 'json',
type: 'post',
data: $('form#add').serialize(),
beforeSend: function() {
$('#alertinfo').addClass('hidden');
$('#processbar').removeClass('hidden');

$('#alertinfo').removeClass('alert-success');
$('#alertinfo').removeClass('alert-warning');
$('#alertinfo').removeClass('alert-danger');
$('#alertinfo').removeClass('alert-info');
},
complete: function(result) {
$('#processbar').addClass('hidden');
},
success: function(data) {
//console.log(data);
if (data.result != undefined) {
if (data.result == true) {
$('#alertinfo').addClass('alert-success');
$('#alertmsg').html("<strong>Success!</strong> " + data.retMsg);
//resetForm();
} else {
$('#alertinfo').addClass('alert-warning');
$('#alertmsg').html("<strong>Failed!</strong> " + data.retMsg);
}
} else {
$('#alertinfo').addClass('alert-info');
$('#alertmsg').html("<strong>Error!</strong> System is busy, please try again.");
}
$('#alertinfo').removeClass('hidden');

},
error: function() {
$('#alertinfo').addClass('alert-info');
$('#alertmsg').html("<strong>Error!</strong> System is busy, please try again.");
$('#alertinfo').removeClass('hidden');
}
});
}



var resetForm = function() {
//$('input','form#addapi')
//.not(':button, :submit, :reset, :hidden')
//.val('');

$('select,option', 'form#addapi')
//.removeAttr('checked')
//.removeAttr('selected');

$('.make-switch').bootstrapSwitch('setState', false);

$('.ms-selectable').find('li').removeClass('ms-selected');
$('.ms-selection').find('li').removeClass('ms-hover');
$('.ms-selectable').find('li').removeAttr('style');

$('.ms-selection').find('li').removeClass('ms-selected');
$('.ms-selection').find('li').removeClass('ms-hover');
$('.ms-selection').find('li').css({display: 'none'});
}

return {
//main function to initiate the module
init: function() {
handleAdd();
}

};

}();

Add.init();

});
</script>
