<div class="nav-collapse collapse navbar-collapse navbar-responsive-collapse">
                           
                           
                           
                            <ul class="nav navbar-nav">
								
								<?php 
								$i=1;
								foreach($this->menu as $k=>$v) {
								$tam = "";
								if($i==1) {
								$tam = "active open selected";	
								}	
								if($v['class']==null || $v['class']==''){
									$v['class']='icon-folder';
								}
								if($v['child']!="" && $v['child']!=null && is_array($v['child']) &&$v['is_active']==1 ){
								echo '<li class="dropdown dropdown-fw '.$tam.'">
										<a href="javascript:;" class="text-uppercase">
                                        <i class="'.$v['class'].'"></i> '.$v['menu_name'].' </a>';
								
								echo '<ul class="dropdown-menu dropdown-menu-fw">';
								
								foreach  ($v['child'] as $k2=>$v2 ) {	
									if($v2['class']==null || $v2['class']==''){
										$v2['class']='icon-folder';
								}
								
								if($v2['child']!="child" && $v2['child']!=null && is_array($v2['child'])){		
								
								echo '<li class="dropdown more-dropdown-sub">
									<a href="javascript:;">
                                    <i class="'.$v2['class'].'"></i> '.$v2['menu_name'].' </a>';
								

								echo ' <ul class="dropdown-menu">';
								foreach  ($v2['child'] as $k3=>$v3 ) {
								if($v3['class']==null || $v3['class']==''){
								$v3['class']='icon-folder';
								}
								if($v3['child']!="" && $v3['child']!=null && is_array($v3['child'])){	
									
						
												

								echo '<ul class="dropdown-menu">';
								foreach  ($v3['child'] as $k4=>$v4 ) {
								if($v4['class']==null || $v4['class']==''){
									$v4['class']='icon-folder';
								}
									echo '<li class="nav-item">
										<a href="'.$v4['menu_link'].'" class="nav-link">
											<i class="'.$v4['class'].'"></i> '.$v4['menu_name'].'</a>
										</li>';
								
								}
								echo '</ul>';
								echo '</li>';
								}else{
									
								echo '<li class="nav-item">
										<a href="'.$v3['menu_link'].'" class="nav-link">
											<i class="'.$v3['class'].'"></i> '.$v3['menu_name'].'</a>
										</li>';
								}
								}
								echo '</ul>';
								echo '</li>';
								}else{
										echo '<li class="nav-item">
										<a href="'.$v2['menu_link'].'" class="nav-link">
											<i class="'.$v2['class'].'"></i> '.$v2['menu_name'].'</a>
										</li>';
								}

								}
								echo '</ul>';
								echo '</li>';
								}else if ($v['is_active']==1){
									echo '<li class="nav-item">
										<a href="'.$v['menu_link'].'" class="nav-link">
											<i class="'.$v['class'].'"></i> '.$v['menu_name'].'</a>
										</li>';
								}
						
							$i++;
						} 
						?>
                             
                               
                            </ul>
                        </div>
