<?php 
	// Zend_Debug::dump($_SERVER['REDIRECT_URL']); die();
?>
<form 
	<?php
	//Zend_Debug::dump($this->params); die();
	// Zend_Debug::dump('aa'); die();
	$getapi = explode ( ',', $this->data ['content_attrs'] ['api_id'] ); // die();
	
	$posturl = '/prabajax/postform/xxxxid/133';
		
	//cek upload or not
	$uploaded=0;
	foreach($this->data ['field']  as $vzzz) {
		
		if(array_search('file', $vzzz['detail'])!=""){
			$uploaded = 1;
		}
		
	}
	if($uploaded==1) {echo "enctype='multipart/form-data' ";}
	
	echo "id = 'create_content' ";
	echo "class= 'create_content' ";
	echo "method= 'post' ";
	
	if ($this->data ['content_attrs'] ['action'] != "") {
		echo "action= '" . $this->data ['content_attrs'] ['action'] . "' ";
	}
	
	?>>
	
	
	<div class="alert alert-success alert-dismissable hidden" id="alertinfo">
	
		<button type="button" class="close" data-dismiss="alert" aria-hidden="true"></button>
		<span id="alertmsg"><strong>Warning!</strong> Something went wrong. Please check.</span>
	</div>

<div style="margin:0px auto;text-align:center" id="processbar" class="hidden">
	<div class="progress progress-striped active" style="margin:0px auto;text-align:center">
	
		<div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
			<span class="sr-only">
				On Process
			</span>
		</div>
	
	</div>
	<span style="margin:0px auto;">Please wait...processing request</span>
</div>

	<input type="hidden" value="<?php echo  $this->data['content_attrs']['post_api'];?>" name="xxxxid" />
	<input type="hidden" value="<?php echo  $this->params['ctype'];?>" name="xxxxid_type_content" />
	<input type="hidden" value="<?php echo  $this->params['pidin'];?>" name="pidin" />
	<input type="hidden" value="<?php echo  $this->params['qid'];?>" name="qid" />
	<input type="hidden" value="<?php echo  $this->params['pid'];?>" name="pid" />
	<input type="hidden" value="<?php echo  $this->params['content_id'];?>" name="cid" />
	
	<?php
	if ($this->data['table_field_zip']!="" && $this->data['table_name']!="") {
		echo 	'<input type="hidden" value="'.$this->data['table_name'].'" name="is_table_custom" />';
	}
	
	
	
	$varRules = "";
	foreach ( $this->data ['form-element'] as $kk => $vf ) {?>
	
	
	
	<div class='<?php echo $kk;?>'>
	
	<?php
		
		foreach ( $vf as $v ) {
			#Zend_Debug::dump($v);die();
			$val = "";
			$reqs = "";
			if ($v ['detail'] ['required'] == 1) {
				$reqs = "required :true";
			}
			
			if (isset ( $this->dataV [$getapi [0]] ['data'] [$v ['detail']['id']] )) {
				$val = $this->dataV [$getapi [0]] ['data'] [$v ['detail']['id']];
			} elseif ($v ['initvalue'] != "") {
				$val = $v ['initvalue'];
			}
			if (isset ( $v ['datafieldinit'] ) && count($v ['datafieldinit'])>0) {
				$val = $v ['datafieldinit'];
			}
			if (isset ( $this->initial [$v['fname']]['initial'] )) {
				$val =$this->initial [$v['fname']]['initial'];
			}
			if(is_array($val)) {$val="";}
			#var_dump($val);die();
			switch ($v ['detail']['type']) {
				case 'text' :
					echo "<div class='form-group' id='id-".$v ['detail']['id']."'>
					<label for='" . $v ['detail']['id'] . "' >" . $v ['detail']['label'] . "
					<i class='fa fa-info-circle tooltips' data-toggle='tooltip' title='FYI'></i></label>";
					
					if ($v  ['detail']['classicon'] != "") {
						echo "<div class='input-group'>
						<span class='input-group-addon'>
							<i class='" . $v ['detail']['classicon'] . "'></i>
						</span>
						
					<input type='text'  name='" . $v ['detail']['name'] . "' placeholder='" . $v ['detail']['placeholder'] . "' id='" . $v  ['detail']['id'] . "' placeholder='" . $v  ['detail']['placeholder'] . "' class='form-control " . $v  ['detail']['class'] . "' value='$val' >
				
				</div>";
					} else {
						echo "<input type='text'  name='" . $v ['detail']['name'] . "' placeholder='" . $v  ['detail']['detail']['placeholder'] . "' id='" . $v  ['detail']['id'] . "' placeholder='" . $v ['detail'] ['placeholder'] . "' class='form-control " . $v ['detail'] ['class'] . "' value='$val' >";
					}
					echo "<span class='help-block'>
						" . $v ['detail']['help'] . "
					</span>
					</div>";
					if (isset ( $v ['detail']['name'] ) && $v ['detail']['name'] != "") {
						$varRules .= "" . $v ['detail']['name'] . ": {
                        " . $reqs . "
                    },";
					}
					
					break;
				case 'select' :
				case 'multipleselect' :
					
					($v ['detail']['type'] == "multipleselect") ? $multi = "multiple" : $multi = "";
					
					echo "<div class='form-group' id='id-".$v ['detail']['id']."'>
					<label for='" . $v ['detail'] ['id'] . "' >" . $v ['detail'] ['label'] . "
					<i class='fa fa-info-circle tooltips' data-toggle='tooltip' title='FYI'></i></label>";
					
					$pos = strpos ( $val, ',' );
					if ($pos !== false) {
					}
					
					echo "<select $multi name='" . $v ['detail']['name'] . "' placeholder='" . $v ['detail']['placeholder'] . "' id='" . $v ['detail']['id'] . "' placeholder='" . $v ['detail']['placeholder'] . "' class='form-control " . $v ['placeholder'] . "'>";
					
					foreach ( $v ['datafieldinit'] as $g ) {
						$check="";
						if($val==$g['xkey']) {
							$check =" selected ";
						}
						
						echo "<option ".$check." value='" . $g ['xkey'] . "'>" . $g ['xvalue'] . "</option>";
					}
					
					echo "</select>";
					echo "<span class='help-block'>
						" . $v ['detail']['help'] . "
					</span>
					</div>";
					if (isset ( $v ['detail']['name'] ) && $v ['detail']['name'] != "") {
						$varRules .= "" . $v ['detail']['name'] . ": {
                        " . $reqs . "
                    },";
					}
					break;
					case 'radio' :
				
						echo "<div class='form-group' id='id-".$v ['detail']['id']."'>
								<label for='" . $v ['detail']['id'] . "' >" . $v ['detail']['label'] . "</label>
						<div class='radio-list'  id='" . $v ['detail']['id'] . "' placeholder='" . $v ['detail']['placeholder'] . "'>";
							
						$pos = strpos ( $val, ',' );
						if ($pos !== false) {
						}

						foreach ( $v ['datafieldinit'] as $g ) {
						$check="";
						if($val==$g['xkey']) {
							$check =" checked ";
						}
						echo '<label><input '.$check.' type="radio" name="'.$v ['detail']['name'].'"  id="'.$g['xkey'].'" value="'.$g['xkey'].'">'.$g['xvalue'].'</label>';
						}
								
							
						echo "</div><span class='help-block'>
						" . $v ['detail']['help'] . "</span>
						</div>";
					
					break;
					case 'checkbox' :
					
						echo "<div class='form-group' id='id-".$v ['detail']['id']."'>
						<label for='" . $v ['detail']['id'] . "' >" . $v ['detail']['label'] . "</label>
						<div class='checkbox-list'  id='" . $v['detail'] ['id'] . "' placeholder='" . $v['detail'] ['placeholder'] . "'>";
							
						$pos = strpos ( $val, ',' );
						if ($pos !== false) {
						}
					
						foreach ( $v ['datafieldinit'] as $g ) {
					
							echo '<label><input type="checkbox" name="'.$v ['detail']['name'][$g['xkey']].'"  id="'.$g['xkey'].'" value="'.$g['xkey'].'">'.$g['xvalue'].'</label>';
						}
					
							
						echo "</div><span class='help-block'>
						" . $v ['detail']['help'] . "</span>
						</div>";
							
						break;
				case 'textarea' :
					echo "<div class='form-group' id='id-".$v ['detail']['id']."'>
					<label for='" . $v  ['detail']['id'] . "' >" . $v ['detail'] ['label'] . "
					<i class='fa fa-info-circle tooltips' data-toggle='tooltip' title='FYI'></i></label>";
						
					if ($v ['detail'] ['classicon'] != "") {
						echo "<div class='input-group'>
						<span class='input-group-addon'>
							<i class='" . $v  ['detail']['classicon'] . "'></i>
						</span>
					<textarea rows='10' type='text'   name='" . $v ['detail']['name'] . "' placeholder='" . $v  ['detail']['placeholder'] . "' id='" . $v ['detail']['id'] . "' placeholder='" . $v  ['detail']['placeholder'] . "' class='wysihtml5 form-control " . $v ['detail'] ['placeholder'] . "' >$val</textarea> 
										</div>";
					} else {
					echo "<textarea rows='10'  type='text'  name='" . $v ['detail']['name'] . "' placeholder='" . $v ['placeholder'] . "' id='" . $v ['detail']['id'] . "' placeholder='" . $v ['detail']['placeholder'] . "' class='wysihtml5 form-control " . $v ['detail']['placeholder'] . "' >$val</textarea>";
					}
					echo "<span class='help-block'>
						" . $v ['detail']['help'] . "
							</span>
									</div>";
					if (isset ( $v ['detail']['name'] ) && $v ['detail']['name'] != "") {
										$varRules .= "" . $v ['detail']['name'] . ": {
										" . $reqs . "
					},";
					}
					break;
					case 'file' :
					$nfile[]=$v;
					
					break;
				case 'filebackup' :
				
					$fl = new Model_Zprabadoc();
					$download = $fl->get_afile($v['fname'], $this->params['content_id']);
					//Zend_Debug::dump($download); //die();
					$files[] = $v ['detail']['name']; 
					echo "<div class='form-group' id='id-".$v ['detail']['id']."'>
					<label for='" . $v ['detail']['id'] . "' >" . $v ['detail']['label'] . "</label>";
					if ($v ['detail']['classicon'] != "") {
						echo "<div class='input-group'>
						<span class='input-group-addon'>
							<i class='" . $v ['detail']['classicon'] . "'></i>
						</span>
					<input type='file'  name='" . $v ['detail']['name'] . "' placeholder='" . $v ['detail']['placeholder'] . "' id='" . $v ['detail']['id'] . "' placeholder='" . $v ['detail']['placeholder'] . "' class='form-control " . $v ['detail']['placeholder'] . "' value=$val >
										</div>";
					} else {
					echo "<input type='file'  name='" . $v ['detail']['name'] . "' placeholder='" . $v ['detail']['placeholder'] . "' id='" . $v ['detail']['id'] . "' placeholder='" . $v ['detail']['placeholder'] . "' class='form-control " . $v ['detail']['placeholder'] . "' value=$val >";
					
					//echo "<br><b>Attachments</b><br><a href='".$download['http_url']."' >$val</a>";
					}
					echo "<span class='help-block'>
						" . $v ['detail']['help'] . "
							</span>
									</div>";
					if (isset ( $v ['detail']['name'] ) && $v ['detail']['name'] != "") {
										$varRules .= "" . $v ['detail']['name'] . ": {
										" . $reqs . "
					},";
					}
					
					
					break;
				
				case 'submit' :
					echo '<button type="' . $v ['detail']['type'] . '" class="btn green ' . $v ['detail']['class'] . '">' . $v ['detail']['label'] . '</button>';
					break;
			}
		}
		if($this->data['showapproval']) {
		echo '<button id="sub" style="position: absolute;bottom:-10px;" type="submit" class="btn green" >Submit</button>'; 
	
		if($this->params['pid']=='554') {
		   echo '<button id="rej" type="submit" style="position: absolute;bottom:-10px;left:120px;" name="rej" value="reject" class="btn red" >Return</button>';	
			}
		//<!--<button type="button" class="btn red ">Reject</button>-->';
		}
		
		echo "";
	}
	?>
</form>


<?php 
$i=1;
foreach ($nfile as $v) {
					if(1==1) {
		echo 
		'<div   id="'.$v['fname'].'"  data-upload-template-id="template-upload-'.$i.'" data-download-template-id="template-download-'.$i.'" enctype="multipart/form-data" >


					<div class="form-group"><div class="row fileupload-buttonbar">
							<div class="col-lg-12">
								<!-- The fileinput-button span is used to style the file input field as button -->
								<span class="btn green fileinput-button">
									<i class="fa fa-plus"></i>
									<span>
										Add '.$v['label'].'...
									</span>
									<input type="file"  id="filex" name="files[]" multiple>
								</span>
								<button type="submit" class="btn blue start">
								<i class="fa fa-upload"></i>
								<span>
									Start upload
								</span>
								</button>
								<button type="reset" class="btn yellow cancel">
								<i class="fa fa-ban"></i>
								<span>
									Cancel upload
								</span>
								</button>
								<button type="button" class="btn red delete">
								<i class="fa fa-trash-o"></i>
								<span>
									Delete
								</span>
								</button>
								<input type="checkbox" class="toggle">
								<!-- The loading indicator is shown during file processing -->
								<span class="fileupload-loading">
								</span>
							</div>
							<!-- The global progress information -->
							<div class="col-lg-12 fileupload-progress fade">
								<!-- The global progress bar -->
								<div class="progress progress-striped active" role="progressbar" aria-valuemin="0" aria-valuemax="100">
									<div class="progress-bar progress-bar-success" style="width:0%;">
									</div>
								</div>
								<!-- The extended global progress information -->
								<div class="progress-extended">
									&nbsp;
								</div>
							</div>
						</div>
						<!-- The table listing the files available for upload/download -->
						<table role="presentation" class="table table-striped clearfix">
						<tbody class="files">
						</tbody>
						</table>
						</div>
						</div>
						<script>					
jQuery(document).ready(function() {
	
	 $(\'#'.$v['fname'].'\').fileupload({
				url: \'/mgt/ajax/xuploader/pidin/'.$this->params['pidin'].'/ftype/'.$v['fname'].'\',
                disableImageResize: false,
                autoUpload: false,
                disableImageResize: /Android(?!.*Chrome)|Opera/.test(window.navigator.userAgent),
                maxFileSize: 5000000,
                       //url: $(\'.upload_satu\').fileupload(\'option\', \'url\'),
                acceptFileTypes: /(\.|\/)(gif|jpe?g|png|xls|xlsx|pdf|docx|doc|ppt|pptx)$/i,
                // Uncomment the following to send cross-domain cookies:
                //xhrFields: {withCredentials: true},       
				 success: function (data) {
					 var datax = data.files.length;
					if(datax >= 1){
					 $("#filex").prop("required",false);
					
						}else{
						$("#filex").prop("required",true);
					
						}
					},
            });

            // Enable iframe cross-domain access via redirect option:
            $(\'#'.$v['fname'].'\').fileupload(
                \'option\',
                \'redirect\',
                window.location.href.replace(
                    /\/[^\/]*$/,
                    \'/cors/result.html?%s\'
                )
            );

            // Upload server status check for browsers with CORS support:
            if ($.support.cors) {
                $.ajax({
                    type: \'HEAD\'
                }).fail(function () {
                    $(\'<div class="alert alert-danger"/>\')
                        .text(\'Upload server currently unavailable - \' +
                                new Date())
                        .appendTo(\'#fileupload\');
                });
            }

            // Load & display existing files:
            $(\'#'.$v['fname'].'\').addClass(\'fileupload-processing\');
            $.ajax({
                // Uncomment the following to send cross-domain cookies:
                //xhrFields: {withCredentials: true},
                url: \'/mgt/ajax/xuploader/pidin/'.$this->params['pidin'].'/ftype/'.$v['fname'].'\',
                dataType: \'json\',
                context: $(\'#'.$v['fname'].'\')[0]
            }).always(function () {
				
                $(this).removeClass(\'fileupload-processing\');
            }).success(function(data){
				// console.log(data);
				var datax = data.files.length;
				// console.log(datax);
				if(datax >= 1){
					 $("#filex").prop("required",false);
					
				}else{
					 $("#filex").prop("required",true);
					
				}

			}).done(function (result) {
				
				// console.log(this);
                $(this).fileupload(\'option\', \'done\')
                .call(this, $.Event(\'done\'), {result: result});
            });
		});
		
		
</script>
<script id="template-upload-'.$i.'" type="text/x-tmpl">
{% for (var i=0, file; file=o.files[i]; i++) { %}
    <tr class="template-upload fade">
        <td>
            <span class="preview"></span>
        </td>
        <td>
            <p class="name">{%=file.name%}</p>
            {% if (file.error) { %}
                <div><span class="label label-danger">Error</span> {%=file.error%}</div>
            {% } %}
        </td>
        <td>
            <p class="size">{%=o.formatFileSize(file.size)%}</p>
            {% if (!o.files.error) { %}
                <div class="progress progress-striped active" role="progressbar" aria-valuemin="0" aria-valuemax="100" aria-valuenow="0">
                <div class="progress-bar progress-bar-success" style="width:0%;"></div>
                </div>
            {% } %}
        </td>
        <td>
            {% if (!o.files.error && !i && !o.options.autoUpload) { %}
                <button class="btn blue start">
                    <i class="fa fa-upload"></i>
                    <span>Start</span>
                </button>
            {% } %}
            {% if (!i) { %}
                <button class="btn red cancel">
                    <i class="fa fa-ban"></i>
                    <span>Cancel</span>
                </button>
            {% } %}
        </td>
    </tr>
{% } %}
</script>
<!-- The template to display files available for download -->
<script id="template-download-'.$i.'" type="text/x-tmpl">
{% for (var i=0, file; file=o.files[i]; i++) { %}
    <tr class="template-download fade">
        <td>
            <span class="preview">
                {% if (file.thumbnailUrl) { %}
                    <a href="{%=file.url%}" title="{%=file.name%}" download="{%=file.name%}" data-gallery><img src="{%=file.thumbnailUrl%}"></a>
                {% } %}
            </span>
        </td>
        <td>
            <p class="name">
                {% if (file.url) { %}
                    <a href="{%=file.url%}" title="{%=file.name%}" download="{%=file.name%}" {%=file.thumbnailUrl?\'data-gallery\':\'\'%}>{%=file.name%}</a>
                {% } else { %}
                    <span>{%=file.name%}</span>
                {% } %}
            </p>
            {% if (file.error) { %}
                <div><span class="label label-danger">Error</span> {%=file.error%}</div>
            {% } %}
        </td>
        <td>
            <span class="size">{%=o.formatFileSize(file.size)%}</span>
        </td>
        <td>
            {% if (file.deleteUrl) { %}
                <button class="btn red delete" data-type="{%=file.deleteType%}" data-url="{%=file.deleteUrl%}"{% if (file.deleteWithCredentials) { %} data-xhr-fields=\'{"withCredentials":true}\'{% } %}>
                    <i class="fa fa-trash-o"></i>
                    <span>Delete</span>
                </button>
                <input type="checkbox" name="delete" value="1" class="toggle">
            {% } else { %}
                <button class="btn yellow cancel">
                    <i class="fa fa-ban"></i>
                    <span>Cancel</span>
                </button>
            {% } %}
        </td>
    </tr>
{% } %}

           </script> 
           ';
	}
			$i++;
	
}
echo "</div>";			
?>


<script>

	$(".datepicker").datepicker({
    minDate: 0,
	dateFormat: 'yy-mm-dd'	
});

 
</script>


<script>
$(document).ready(function(){
    $('[data-toggle="tooltip"]').tooltip(); 
	
	});

jQuery(document).ready(function() {
<?php
if($this->identity->temp_app=='DSS') {
?>
$('#id-cumemu').hide();
$('#id-codename').hide();
<?php    
}
?>
	

var files = {};



	var Functcreate_content = function () {

	var handleAdd = function() {
      
			var formcreate_content = $('#create_content');
            var error1 = $('.alert-danger', formcreate_content);
            var success1 = $('.alert-success', formcreate_content);

            formcreate_content.validate({
                errorElement: 'span', //default input error message container
                errorClass: 'help-block', // default input error message class
                focusInvalid: false, // do not focus the last invalid input
                ignore: "",             
                rules: {
					
					<?php echo $varRules; ?>
                    est_revenue: {
                         required: true,
                        number: true
                    },
                    owner_estimate: {
                            required: true,
                        number: true
                    }
                },

                invalidHandler: function (event, validator) { //display error alert on form submit              
                    success1.hide();
                    error1.show();
                    App.scrollTo(error1, -200);
                },

                highlight: function (element) { // hightlight error inputs
                    $(element)
                        .closest('.form-group').addClass('has-error'); // set error class to the control group
                },

                unhighlight: function (element) { // revert the change done by hightlight
                    $(element)
                        .closest('.form-group').removeClass('has-error'); // set error class to the control group
                },

                success: function (label) {
                    label
                        .closest('.form-group').removeClass('has-error'); // set success class to the control group
                },

                submitHandler: function (form) {
					$('.btn').addClass('hidden');
                    success1.show();
                    error1.hide();
                       submitForm();
	                return false;
                }
            });
	}
	
	var submitForm = function(){
	 
	
//
var data = new FormData();
//console.log(files);
//console.log(JSON.stringify($('#create_content').serializeArray()));
files['json'] = JSON.stringify($('#create_content').serializeArray());;
$.each(files, function(key, value){
	data.append(key, value);
});

	$.ajax({
		url:"<?php echo $posturl; ?>",
		content:'json',
		type:'post',
		data:data,
		processData: false, // Don't process the files
		contentType: false,
		beforeSend:function(){
			$('#alertinfo').addClass('hidden');
			$('#processbar').removeClass('hidden');
			$('html,body').animate({
				scrollTop: $('h3.page-title').offset().top
			}, 800);
			$('#alertinfo').removeClass('alert-success');
			$('#alertinfo').removeClass('alert-warning');
			$('#alertinfo').removeClass('alert-danger');
			$('#alertinfo').removeClass('alert-info');
			 $('div.hor-menu').block({ message: null });
			 $('li.dropdown.user').block({ message: null }); 
			 $('a.navbar-brand').block({ message: null }); 
							 $.blockUI({ css: { baseZ: 99999,
							border: 'none', 
							padding: '15px', 
							backgroundColor: '#000', 
							'-webkit-border-radius': '10px', 
							'-moz-border-radius': '10px', 
							opacity: .5, 
			 color: '#fff'}, message: 'Please Wait' });
		},
		complete:function(result){
		$('div.hor-menu').unblock();
		$('li.dropdown.user').unblock(); 
		$('a.navbar-brand').unblock(); 
		$.unblockUI();
			$('#processbar').addClass('hidden');
		},
		success: function(data){
			
			console.log(data);
			if(data.transaction!=undefined){
				if(data.transaction==true){
					$('#processbar').addClass('hidden');
					
					console.log(data);
						
						<?php 
							if($this->varams['refresh']==1) {
								
							echo	'  
						//alert(data.statusclosed);
							if(data.message== "closed") {
								bootbox.alert(data.message, function() {
									location.reload();
								}); 
							
									
							
							} else {
						
							bootbox.alert(data.message, function() {
						
									//	location.reload();
										  window.history.back();
								}); 
							}
								';   
								
								//echo 'location.reload();';
								
								} else {
									
											
							echo	'  
						
							bootbox.alert(data.message, function() {
						
										location.reload();
										window.location.href = "/mgt/prabigtech/mydash1";
								}); ';   
								}
							
							
							?>
						
						if(data.message !='closed') {
							//window.location.replace("/");
							
						}
				}else{
					
					//$('#alertinfo').addClass('alert-warning');
					//$('#alertmsg').html("<strong>Failed!</strong> "+data.message);
					//alert(data.message);
					//bootbox.alert(data.message);
					bootbox.alert(data.message, function() {
					//alert("Hello world callback");
						window.location.href = "/";
					});    
					
				}	
			}else{
					
				//$('#alertinfo').addClass('alert-info');
				//$('#alertmsg').html("<strong>Error!</strong> System is busy, please try again.");
			}
			$('#alertinfo').removeClass('hidden');
		},
		error:function(){
			//alert("eror");
			$('#alertinfo').addClass('alert-info');
			$('#alertmsg').html("<strong>Error!</strong> System is busy, please try again.");
			$('#alertinfo').removeClass('hidden');
		}
	});


	}
	
    return {
        //main function to initiate the module
        init: function () {
            handleAdd();
        }

    };
}();
Functcreate_content.init();
 if ($('.wysihtml5').size() > 0) {
            $('.wysihtml5').wysihtml5({
                "stylesheets": ["/assets/core//plugins/bootstrap-wysihtml5/wysiwyg-color.css"]
            });
        }

 <?php 
 
 ?>       
});
$(document).ready(function(){
	
	if($($('.files').children('tr')).hasClass('template-download') == true){
		// $($('.files').children('tr')).remove();
		// $($('.files').children('tr')).remove();
		console.log($($('.files').children('tr')).hasClass('template-download'));
		}
	// $('.template-download').remove();
	 console.log($('.file tr').hasClass('.template-download'));
});

</script>
