<form 
	<?php
	//Zend_Debug::dump($this->params); die();
	// Zend_Debug::dump('aa'); die();
	$getapi = explode ( ',', $this->data ['content_attrs'] ['api_id'] ); // die();
	$posturl = '/prabajax/postform/xxxxid/133';
	//cek upload or not
	$uploaded=0;
	foreach($this->data ['field']  as $vzzz) {
		if(array_search('file', $vzzz['detail'])!=""){
			$uploaded = 1;
		}
	}
	if($uploaded==1) {echo "enctype='multipart/form-data' ";}
	
	echo "id = 'create_content' ";
	echo "class= 'create_content' ";
	echo "method= 'post' ";
	
	if ($this->data ['content_attrs'] ['action'] != "") {
		echo "action= '" . $this->data ['content_attrs'] ['action'] . "' ";
	}
	
	?>>
	
	
	<div class="alert alert-success alert-dismissable hidden" id="alertinfo">
	
		<button type="button" class="close" data-dismiss="alert" aria-hidden="true"></button>
		<span id="alertmsg"><strong>Warning!</strong> Something went wrong. Please check.</span>
	</div>

<div style="margin:0px auto;text-align:center" id="processbar" class="hidden">
	<div class="progress progress-striped active" style="margin:0px auto;text-align:center">
	
		<div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
			<span class="sr-only">
				On Process
			</span>
		</div>
	
	</div>
	<span style="margin:0px auto;">Please wait...processing request</span>
</div>

	<input type="hidden" value="<?php echo  $this->data['content_attrs']['post_api'];?>" name="xxxxid" />
	<input type="hidden" value="<?php echo  $this->params['ctype'];?>" name="xxxxid_type_content" />
	<input type="hidden" value="<?php echo  $this->params['pidin'];?>" name="pidin" />
	<input type="hidden" value="<?php echo  $this->params['qid'];?>" name="qid" />
	<input type="hidden" value="<?php echo  $this->params['pid'];?>" name="pid" />
	<input type="hidden" value="<?php echo  $this->params['content_id'];?>" name="cid" />
	
	<?php
	if ($this->data['table_field_zip']!="" && $this->data['table_name']!="") {
		echo 	'<input type="hidden" value="'.$this->data['table_name'].'" name="is_table_custom" />';
	}
	
	
	
	$varRules = "";
	foreach ( $this->data ['form-element'] as $kk => $vf ) {?>
	
	<div class='<?php echo $kk;?>'>
	<?php
		
		foreach ( $vf as $v ) {
			#Zend_Debug::dump($v); //die();
			$val = "";
			$reqs = "";
			if ($v ['detail'] ['required'] == 1) {
				$reqs = "required :true";
			}
			
			if (isset ( $this->dataV [$getapi [0]] ['data'] [$v ['detail']['id']] )) {
				$val = $this->dataV [$getapi [0]] ['data'] [$v ['detail']['id']];
			} elseif ($v ['initvalue'] != "") {
				$val = $v ['initvalue'];
			}
			if (isset ( $v ['datafieldinit'] ) && count($v ['datafieldinit'])>0) {
				$val = $v ['datafieldinit'];
			}
			if (isset ( $this->initial [$v['fname']]['initial'] )) {
				$val =$this->initial [$v['fname']]['initial'];
			}
			if(is_array($val)) {$val="";}
			//var_dump($val); //die();
			switch ($v ['detail']['type']) {
				case 'text' :
					echo "<div class='form-group'>
					<label for='" . $v ['detail']['id'] . "' >" . $v ['detail']['label'] . "
					<i class='fa fa-info-circle tooltips' data-toggle='tooltip' title='FYI'></i></label>";
					
					if ($v  ['detail']['classicon'] != "") {
						echo "<div class='input-group'>
						<span class='input-group-addon'>
							<i class='" . $v ['detail']['classicon'] . "'></i>
						</span>
						
					<input type='text'  name='" . $v ['detail']['name'] . "' placeholder='" . $v ['detail']['placeholder'] . "' id='" . $v  ['detail']['id'] . "' placeholder='" . $v  ['detail']['placeholder'] . "' class='form-control " . $v  ['detail']['class'] . "' value='$val' >
				
				</div>";
					} else {
						echo "<input type='text'  name='" . $v ['detail']['name'] . "' placeholder='" . $v  ['detail']['detail']['placeholder'] . "' id='" . $v  ['detail']['id'] . "' placeholder='" . $v ['detail'] ['placeholder'] . "' class='form-control " . $v ['detail'] ['class'] . "' value='$val' >";
					}
					echo "<span class='help-block'>
						" . $v ['detail']['help'] . "
					</span>
					</div>";
					if (isset ( $v ['detail']['name'] ) && $v ['detail']['name'] != "") {
						$varRules .= "" . $v ['detail']['name'] . ": {
                        " . $reqs . "
                    },";
					}
					
					break;
				case 'select' :
				case 'multipleselect' :
					
					($v ['detail']['type'] == "multipleselect") ? $multi = "multiple" : $multi = "";
					
					echo "<div class='form-group'>
					<label for='" . $v ['detail'] ['id'] . "' >" . $v ['detail'] ['label'] . "
					<i class='fa fa-info-circle tooltips' data-toggle='tooltip' title='FYI'></i></label>";
					
					$pos = strpos ( $val, ',' );
					if ($pos !== false) {
					}
					
					echo "<select $multi name='" . $v ['detail']['name'] . "' placeholder='" . $v ['detail']['placeholder'] . "' id='" . $v ['detail']['id'] . "' placeholder='" . $v ['detail']['placeholder'] . "' class='form-control " . $v ['placeholder'] . "'>";
					
					foreach ( $v ['datafieldinit'] as $g ) {
						$check="";
						if($val==$g['key']) {
							$check =" selected ";
						}
						
						echo "<option ".$check." value='" . $g ['key'] . "'>" . $g ['value'] . "</option>";
					}
					
					echo "</select>";
					echo "<span class='help-block'>
						" . $v ['detail']['help'] . "
					</span>
					</div>";
					if (isset ( $v ['detail']['name'] ) && $v ['detail']['name'] != "") {
						$varRules .= "" . $v ['detail']['name'] . ": {
                        " . $reqs . "
                    },";
					}
					break;
					case 'radio' :
				
						echo "<div class='form-group'>
								<label for='" . $v ['detail']['id'] . "' >" . $v ['detail']['label'] . "</label>
						<div class='radio-list'  id='" . $v ['detail']['id'] . "' placeholder='" . $v ['detail']['placeholder'] . "'>";
							
						$pos = strpos ( $val, ',' );
						if ($pos !== false) {
						}

						foreach ( $v ['datafieldinit'] as $g ) {
						$check="";
						if($val==$g['key']) {
							$check =" checked ";
						}
						echo '<label><input '.$check.' type="radio" name="'.$v ['detail']['name'].'"  id="'.$g['key'].'" value="'.$g['key'].'">'.$g['value'].'</label>';
						}
								
							
						echo "</div><span class='help-block'>
						" . $v ['detail']['help'] . "</span>
						</div>";
					
					break;
					case 'checkbox' :
					
						echo "<div class='form-group'>
						<label for='" . $v ['detail']['id'] . "' >" . $v ['detail']['label'] . "</label>
						<div class='checkbox-list'  id='" . $v['detail'] ['id'] . "' placeholder='" . $v['detail'] ['placeholder'] . "'>";
							
						$pos = strpos ( $val, ',' );
						if ($pos !== false) {
						}
					
						foreach ( $v ['datafieldinit'] as $g ) {
					
							echo '<label><input type="checkbox" name="'.$v ['detail']['name'][$g['key']].'"  id="'.$g['key'].'" value="'.$g['key'].'">'.$g['value'].'</label>';
						}
					
							
						echo "</div><span class='help-block'>
						" . $v ['detail']['help'] . "</span>
						</div>";
							
						break;
				case 'textarea' :
					echo "<div class='form-group'>
					<label for='" . $v  ['detail']['id'] . "' >" . $v ['detail'] ['label'] . "
					<i class='fa fa-info-circle tooltips' data-toggle='tooltip' title='FYI'></i></label>";
						
					if ($v ['detail'] ['classicon'] != "") {
						echo "<div class='input-group'>
						<span class='input-group-addon'>
							<i class='" . $v  ['detail']['classicon'] . "'></i>
						</span>
					<textarea rows='10' type='text'   name='" . $v ['detail']['name'] . "' placeholder='" . $v  ['detail']['placeholder'] . "' id='" . $v ['detail']['id'] . "' placeholder='" . $v  ['detail']['placeholder'] . "' class='wysihtml5 form-control " . $v ['detail'] ['placeholder'] . "' >$val</textarea> 
										</div>";
					} else {
					echo "<textarea rows='10'  type='text'  name='" . $v ['detail']['name'] . "' placeholder='" . $v ['placeholder'] . "' id='" . $v ['detail']['id'] . "' placeholder='" . $v ['detail']['placeholder'] . "' class='wysihtml5 form-control " . $v ['detail']['placeholder'] . "' >$val</textarea>";
					}
					echo "<span class='help-block'>
						" . $v ['detail']['help'] . "
							</span>
									</div>";
					if (isset ( $v ['detail']['name'] ) && $v ['detail']['name'] != "") {
										$varRules .= "" . $v ['detail']['name'] . ": {
										" . $reqs . "
					},";
					}
					break;
				
				case 'file' :
				
					$fl = new Model_Zprabadoc();
					$download = $fl->get_afile($v['fname'], $this->params['content_id']);
					//Zend_Debug::dump($download); //die();
					$files[] = $v ['detail']['name']; 
					echo "<div class='form-group'>
					<label for='" . $v ['detail']['id'] . "' >" . $v ['detail']['label'] . "</label>";
					if ($v ['detail']['classicon'] != "") {
						echo "<div class='input-group'>
						<span class='input-group-addon'>
							<i class='" . $v ['detail']['classicon'] . "'></i>
						</span>
					<input type='file'  name='" . $v ['detail']['name'] . "' placeholder='" . $v ['detail']['placeholder'] . "' id='" . $v ['detail']['id'] . "' placeholder='" . $v ['detail']['placeholder'] . "' class='form-control " . $v ['detail']['placeholder'] . "' value=$val >
										</div>";
					} else {
					echo "<input type='file'  name='" . $v ['detail']['name'] . "' placeholder='" . $v ['detail']['placeholder'] . "' id='" . $v ['detail']['id'] . "' placeholder='" . $v ['detail']['placeholder'] . "' class='form-control " . $v ['detail']['placeholder'] . "' value=$val >";
					
					//echo "<br><b>Attachments</b><br><a href='".$download['http_url']."' >$val</a>";
					}
					echo "<span class='help-block'>
						" . $v ['detail']['help'] . "
							</span>
									</div>";
					if (isset ( $v ['detail']['name'] ) && $v ['detail']['name'] != "") {
										$varRules .= "" . $v ['detail']['name'] . ": {
										" . $reqs . "
					},";
					}
					
					
					break;
				
				case 'submit' :
					echo '<button type="' . $v ['detail']['type'] . '" class="btn green ' . $v ['detail']['class'] . '">' . $v ['detail']['label'] . '</button>';
					break;
			}
		}
		if($this->data['showapproval']) {
		echo '<button type="submit" class="btn green ">Submit</button> 
		<!--<button type="button" class="btn red ">Reject</button>-->';
		}
		
		echo "</div>";
	}
	?>
	
	


</form>

<script>


	$("#target_implementasi").datepicker({
    minDate: 0,
	dateFormat: 'yy-mm-dd'	
});
jQuery(document).ready(function() {
    $('[data-toggle="tooltip"]').tooltip(); 

var files = {};
<?php
foreach ($files as $z) {
echo 	"$('#$z').on('change', function prepareUpload(event){
	files['$z'] = event.target.files[0];});"; 
}	
?>


	var Functcreate_content = function () {

	var handleAdd = function() {
      
			var formcreate_content = $('#create_content');
            var error1 = $('.alert-danger', formcreate_content);
            var success1 = $('.alert-success', formcreate_content);

            formcreate_content.validate({
                errorElement: 'span', //default input error message container
                errorClass: 'help-block', // default input error message class
                focusInvalid: false, // do not focus the last invalid input
                ignore: "",
                rules: {
					
					<?php echo $varRules; ?>
                },

                invalidHandler: function (event, validator) { //display error alert on form submit              
                    success1.hide();
                    error1.show();
                    App.scrollTo(error1, -200);
                },

                highlight: function (element) { // hightlight error inputs
                    $(element)
                        .closest('.form-group').addClass('has-error'); // set error class to the control group
                },

                unhighlight: function (element) { // revert the change done by hightlight
                    $(element)
                        .closest('.form-group').removeClass('has-error'); // set error class to the control group
                },

                success: function (label) {
                    label
                        .closest('.form-group').removeClass('has-error'); // set success class to the control group
                },

                submitHandler: function (form) {
					$('.btn').addClass('hidden');
                    success1.show();
                    error1.hide();
                       submitForm();
	                return false;
                }
            });
	}
	
	var submitForm = function(){
		
		
	var data = new FormData();
	//console.log(files);
	//console.log(JSON.stringify($('#create_content').serializeArray()));
	files['json'] = JSON.stringify($('#create_content').serializeArray());;
	$.each(files, function(key, value){
		data.append(key, value);
	});
	//console.log(data);
	
	
		
		//var data = $('form#create_content');
		
		
		
		$.ajax({
			url:"<?php echo $posturl; ?>",
			content:'json',
			type:'post',
			data:data,
			processData: false, // Don't process the files
			contentType: false,
			beforeSend:function(){
				$('#alertinfo').addClass('hidden');
				$('#processbar').removeClass('hidden');
				$('html,body').animate({
					scrollTop: $('h3.page-title').offset().top
				}, 800);
				$('#alertinfo').removeClass('alert-success');
				$('#alertinfo').removeClass('alert-warning');
				$('#alertinfo').removeClass('alert-danger');
				$('#alertinfo').removeClass('alert-info');
				setTimeout(function(){
					$('#processbar').removeClass('hidden');
				}, 100);
			},
			complete:function(result){
				
				$('#processbar').addClass('hidden');
			},
			success: function(data){
				
				console.log(data);
				if(data.transaction!=undefined){
					if(data.transaction==true){
						$('#processbar').addClass('hidden');
						//$('#alertinfo').addClass('alert-success');
						//$('#alertmsg').html("<strong>Success!</strong>"+data.message);
							//alert(data.message);
						
						//	  bootbox.alert(data.message, function() {
									// window.location.href = "/mgt/prabigtech/mydash1";
						//		});    
						console.log(data);
							
							<?php 
								if($this->varams['refresh']==1) {
									
								echo	'  
							//alert(data.statusclosed);
								if(data.message== "closed") {
									bootbox.alert(data.message, function() {
										location.reload();
										
									}); 
								
										
								
								} else {
							
								bootbox.alert(data.message, function() {
							
										//	location.reload();
											  window.location.href = "/mgt/prabigtech/mydash1";
											  
											  
									}); 
								}
									';   
									
									//echo 'location.reload();';
									
									} else {
										
												
								echo	'  
							
								bootbox.alert(data.message, function() {
							
											//location.reload();
											window.location.href = "/mgt/prabigtech/mydash1";
									}); ';   
									}
								
								
								?>
							
							if(data.message !='closed') {
								window.location.replace("/mgt/prabigtech/mydash1");
								
							}
					}else{
						
						//$('#alertinfo').addClass('alert-warning');
						//$('#alertmsg').html("<strong>Failed!</strong> "+data.message);
						//alert(data.message);
						//bootbox.alert(data.message);
						bootbox.alert(data.message, function() {
						//alert("Hello world callback");
							window.location.href = "/mgt/prabigtech/mydash1";
						});    
						
					}	
				}else{
						
					//$('#alertinfo').addClass('alert-info');
					//$('#alertmsg').html("<strong>Error!</strong> System is busy, please try again.");
				}
				$('#alertinfo').removeClass('hidden');
			},
			error:function(){
				//alert("eror");
				$('#alertinfo').addClass('alert-info');
				$('#alertmsg').html("<strong>Error!</strong> System is busy, please try again.");
				$('#alertinfo').removeClass('hidden');
			}
		});
	}
	
    return {
        //main function to initiate the module
        init: function () {
            handleAdd();
        }

    };

}();
Functcreate_content.init();
 if ($('.wysihtml5').size() > 0) {
            $('.wysihtml5').wysihtml5({
                "stylesheets": ["/assets/core//plugins/bootstrap-wysihtml5/wysiwyg-color.css"]
            });
        }

 <?php 
 
 ?>       
});
</script>
