<form 
	<?php
	//Zend_Debug::dump($this->varams); die();
	$getapi = explode ( ',', $this->data ['content_attrs'] ['api_id'] ); // die();
	
	
	$posturl = '/prabajax/postform/xxxxid/133';
		
	//cek upload or not
	$uploaded=0;
	foreach($this->data ['field']  as $vzzz) {
		
		if(array_search('file', $vzzz['detail'])!=""){
			$uploaded = 1;
		}
		
	}
	if($uploaded==1) {echo "enctype='multipart/form-data' ";}
	
	echo "id = 'create_content' ";
	echo "class= 'create_content' ";
	echo "method= 'post' ";
	
	if ($this->data ['content_attrs'] ['action'] != "") {
		echo "action= '" . $this->data ['content_attrs'] ['action'] . "' ";
	}
	
	?>>
	
	<div class="alert alert-success alert-dismissable hidden" id="alertinfo">
		<button type="button" class="close" data-dismiss="alert" aria-hidden="true"></button>
		<span id="alertmsg"><strong>Warning!</strong> Something went wrong. Please check.</span>
	</div>
	
<div style="margin:0px auto;text-align:center" id="processbar" class="hidden">
	<div class="progress progress-striped active" style="margin:0px auto;text-align:center">
		<div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
			<span class="sr-only">
				On Process
			</span>
		</div>
	</div>
	<span style="margin:0px auto;">Please wait...processing request</span>
</div>
	<input type="hidden" value="<?php echo  $this->data['content_attrs']['post_api'];?>" name="xxxxid" />
	<input type="hidden" value="<?php echo  $this->params['ctype'];?>" name="xxxxid_type_content" />
	<input type="hidden" value="<?php echo  $this->params['pidin'];?>" name="pidin" />
	<input type="hidden" value="<?php echo  $this->params['qid'];?>" name="qid" />
	<input type="hidden" value="<?php echo  $this->params['pid'];?>" name="pid" />
	<input type="hidden" value="<?php echo  $this->params['content_id'];?>" name="cid" />
	
	<?php
	if ($this->data['table_field_zip']!="" && $this->data['table_name']!="") {
		echo 	'<input type="hidden" value="'.$this->data['table_name'].'" name="is_table_custom" />';
	}
	
	
	
	$varRules = "";
	foreach ( $this->data ['form-element'] as $kk => $vf ) {?>
	
	<div class='<?php echo $kk;?>'>
	<?php
		
		foreach ( $vf as $v ) {
			#Zend_Debug::dump($v); //die();
			$val = "";
			$reqs = "";
			if ($v ['detail'] ['required'] == 1) {
				$reqs = "required :true";
			}
			
			if (isset ( $this->dataV [$getapi [0]] ['data'] [$v ['detail']['id']] )) {
				$val = $this->dataV [$getapi [0]] ['data'] [$v ['detail']['id']];
			} elseif ($v ['initvalue'] != "") {
				$val = $v ['initvalue'];
			}
			if (isset ( $v ['datafieldinit'] ) && count($v ['datafieldinit'])>0) {
				$val = $v ['datafieldinit'];
			}
			if (isset ( $this->initial [$v['fname']]['initial'] )) {
				$val =$this->initial [$v['fname']]['initial'];
			}
			if(is_array($val)) {$val="";}
			//var_dump($val); //die();
			switch ($v ['detail']['type']) {
				case 'text' :
					echo "<div class='form-group'>
					<label for='" . $v ['detail']['id'] . "' >" . $v ['detail']['label'] . "</label>";
					if ($v  ['detail']['classicon'] != "") {
						echo "<div class='input-group'>
						<span class='input-group-addon'>
							<i class='" . $v ['detail']['classicon'] . "'></i>
						</span>
					<input type='text'  name='" . $v ['detail']['name'] . "' placeholder='" . $v ['detail']['placeholder'] . "' id='" . $v  ['detail']['id'] . "' placeholder='" . $v  ['detail']['placeholder'] . "' class='form-control " . $v  ['detail']['class'] . "' value='$val' >
				</div>";
					} else {
						echo "<input type='text'  name='" . $v ['detail']['name'] . "' placeholder='" . $v  ['detail']['detail']['placeholder'] . "' id='" . $v  ['detail']['id'] . "' placeholder='" . $v ['detail'] ['placeholder'] . "' class='form-control " . $v ['detail'] ['class'] . "' value='$val' >";
					}
					echo "<span class='help-block'>
						" . $v ['detail']['help'] . "
					</span>
					</div>";
					if (isset ( $v ['detail']['name'] ) && $v ['detail']['name'] != "") {
						$varRules .= "" . $v ['detail']['name'] . ": {
                        " . $reqs . "
                    },";
					}
					
					break;
				case 'select' :
				case 'multipleselect' :
					
					($v ['detail']['type'] == "multipleselect") ? $multi = "multiple" : $multi = "";
					
					echo "<div class='form-group'>
					<label for='" . $v ['detail'] ['id'] . "' >" . $v ['detail'] ['label'] . "</label>";
					
					$pos = strpos ( $val, ',' );
					if ($pos !== false) {
					}
					
					echo "<select $multi name='" . $v ['detail']['name'] . "' placeholder='" . $v ['detail']['placeholder'] . "' id='" . $v ['detail']['id'] . "' placeholder='" . $v ['detail']['placeholder'] . "' class='form-control " . $v ['placeholder'] . "'>";
					
					foreach ( $v ['datafieldinit'] as $g ) {
						$check="";
						if($val== $g['xkey']) {
							$check =" selected ";
						}
						
						echo "<option ".$check." value='" . $g ['xkey'] . "'>" . $g ['xvalue'] . "</option>";
					}
					
					echo "</select>";
					echo "<span class='help-block'>
						" . $v ['detail']['help'] . "
					</span>
					</div>";
					if (isset ( $v ['detail']['name'] ) && $v ['detail']['name'] != "") {
						$varRules .= "" . $v ['detail']['name'] . ": {
                        " . $reqs . "
                    },";
					}
					break;
					case 'radio' :
				
						echo "<div class='form-group'>
								<label for='" . $v ['detail']['id'] . "' >" . $v ['detail']['label'] . "</label>
						<div class='radio-list'  id='" . $v ['detail']['id'] . "' placeholder='" . $v ['detail']['placeholder'] . "'>";
							
						$pos = strpos ( $val, ',' );
						if ($pos !== false) {
						}

						foreach ( $v ['datafieldinit'] as $g ) {
						$check="";
						if($val== $g['xkey']) {
							$check =" checked ";
						}
						echo '<label><input '.$check.' type="radio" name="'.$v ['detail']['name'].'"  id="'. $g['xkey'].'" value="'. $g['xkey'].'">'. $g['xvalue'].'</label>';
						}
								
							
						echo "</div><span class='help-block'>
						" . $v ['detail']['help'] . "</span>
						</div>";
					
					break;
					case 'checkbox' :
					
						echo "<div class='form-group'>
						<label for='" . $v ['detail']['id'] . "' >" . $v ['detail']['label'] . "</label>
						<div class='checkbox-list'  id='" . $v['detail'] ['id'] . "' placeholder='" . $v['detail'] ['placeholder'] . "'>";
							
						$pos = strpos ( $val, ',' );
						if ($pos !== false) {
						}
					
						foreach ( $v ['datafieldinit'] as $g ) {
					
							echo '<label><input type="checkbox" name="'.$v ['detail']['name'][ $g['xkey']].'"  id="'. $g['xkey'].'" value="'. $g['xkey'].'">'. $g['xvalue'].'</label>';
						}
					
							
						echo "</div><span class='help-block'>
						" . $v ['detail']['help'] . "</span>
						</div>";
							
						break;
				case 'textarea' :
					echo "<div class='form-group'>
					<label for='" . $v  ['detail']['id'] . "' >" . $v ['detail'] ['label'] . "</label>";
						
					if ($v ['detail'] ['classicon'] != "") {
						echo "<div class='input-group'>
						<span class='input-group-addon'>
							<i class='" . $v  ['detail']['classicon'] . "'></i>
						</span>
					<textarea type='text'  name='" . $v ['detail']['name'] . "' placeholder='" . $v  ['detail']['placeholder'] . "' id='" . $v ['detail']['id'] . "' placeholder='" . $v  ['detail']['placeholder'] . "' class='form-control " . $v ['detail'] ['placeholder'] . "' >$val</textarea> 
										</div>";
					} else {
					echo "<textarea type='text'  name='" . $v ['detail']['name'] . "' placeholder='" . $v ['placeholder'] . "' id='" . $v ['detail']['id'] . "' placeholder='" . $v ['detail']['placeholder'] . "' class='form-control " . $v ['detail']['placeholder'] . "' >$val</textarea>";
					}
					echo "<span class='help-block'>
						" . $v ['detail']['help'] . "
							</span>
									</div>";
					if (isset ( $v ['detail']['name'] ) && $v ['detail']['name'] != "") {
										$varRules .= "" . $v ['detail']['name'] . ": {
										" . $reqs . "
					},";
					}
					break;
                    
                case 'location' :
                    ?>
                    <script>
                    var map;

                        var marker;

                        var markers = [];

                        function initMap() {

                            var indonesia = {lat: -6.2297264, lng: 106.6894312};

                            map = new google.maps.Map(document.getElementById('gmap1'), {

                                zoom: 6,

                                center: indonesia

                            });

                            

                            var input = document.getElementById('pac-input');



                            var autocomplete = new google.maps.places.Autocomplete(input);

                            autocomplete.bindTo('bounds', map);



                            map.controls[google.maps.ControlPosition.TOP_LEFT].push(input);

                            

                            autocomplete.addListener('place_changed', function() {

                                  // infowindow.close();

                                  var place = autocomplete.getPlace();

                                  if (!place.geometry) {

                                    return;

                                  }



                                  if (place.geometry.viewport) {

                                    map.fitBounds(place.geometry.viewport);

                                  } else {

                                    map.setCenter(place.geometry.location);

                                    map.setZoom(17);

                                  }

                                  

                             });

                            

                            

                            if (navigator.geolocation) {

                              navigator.geolocation.getCurrentPosition(function(position) {

                                var pos = {

                                  lat: position.coords.latitude,

                                  lng: position.coords.longitude

                                };	

                                

                                map.setCenter(pos);

                                map.setZoom(10);

                              });

                            }

                            

                            var service = new google.maps.places.PlacesService(map);

                            


                            google.maps.event.addListener(map, 'click', function(e) {

                                

                                // console.log(this);

                                

                                

                                

                                var loc = e.latLng;		

                                $("#<?php echo $v  ['detail']['id'];?>").val(loc.lat()+","+loc.lng());

                                //$("#lng").val(loc.lng());

                                

                                addMarker(e.latLng);

                                

                                

                                marker.addListener('click', function(e) {

                                    

                                    map.setZoom(8);

                                    map.setCenter(marker.getPosition());

                                });

                            });

                            

                        }



                        function addMarker(location) {

                            deleteMarkers();
                        geocoder.geocode({'location': location}, function(results, status) {

                                console.log(status);

                                

                            });

                            

                            marker = new google.maps.Marker({

                                position: location,

                                map: map

                            });

                            markers.push(marker);

                        }



                        // Sets the map on all markers in the array.

                        function setMapOnAll(map) {

                            for (var i = 0; i < markers.length; i++) {

                                markers[i].setMap(map);

                            }

                        }



                        // Removes the markers from the map, but keeps them in the array.

                        function clearMarkers() {

                            setMapOnAll(null);

                        }



                        // Shows any markers currently in the array.

                        function showMarkers() {

                            setMapOnAll(map);

                        }



                        // Deletes all markers in the array by removing references to them.

                        function deleteMarkers() {

                            clearMarkers();

                            markers = [];

                        }



                        function showCoords(c){

                            $('#x1').val(c.x);

                            $('#y1').val(c.y);

                            $('#x2').val(c.x2);

                            $('#y2').val(c.y2);

                            $('#w').val(c.w);

                            $('#h').val(c.h);

                            var x1 = $('#x1').val(),

                            x2 = $('#x2').val(),

                            y1 = $('#y1').val(),

                            y2 = $('#y2').val();

                            // jcrop_api2.animateTo([x1,y1,x2,y2]);

                        };



                        function clearCoords(){

                            $('#coords input').val('');

                            $('#name').val('');

                            $('#url').val('');

                        };

                    </script>
                    <?php
					echo "<div class='form-group'>
                    <input id='pac-input' class='controls' type='text' placeholder='Enter a location'>

                    	<div id='gmap1' class='gmaps'></div>

                    
					<label for='" . $v  ['detail']['id'] . "' >" . $v ['detail'] ['label'] . "</label>";
					if ($v  ['detail']['classicon'] != "") {
						echo "<div class='input-group'>
						<span class='input-group-addon'>
							<i class='" . $v ['detail']['classicon'] . "'></i>
						</span>
					<input type='text'  name='" . $v ['detail']['name'] . "' placeholder='" . $v ['detail']['placeholder'] . "' id='" . $v  ['detail']['id'] . "' placeholder='" . $v  ['detail']['placeholder'] . "' class='form-control " . $v  ['detail']['class'] . "' value='$val' >
				</div>";
					} else {
						echo "<input type='text'  name='" . $v ['detail']['name'] . "' placeholder='" . $v  ['detail']['detail']['placeholder'] . "' id='" . $v  ['detail']['id'] . "' placeholder='" . $v ['detail'] ['placeholder'] . "' class='form-control " . $v ['detail'] ['class'] . "' value='$val' >";
					}
					echo "<span class='help-block'>
						" . $v ['detail']['help'] . "
							</span>
									</div>";
					if (isset ( $v ['detail']['name'] ) && $v ['detail']['name'] != "") {
										$varRules .= "" . $v ['detail']['name'] . ": {
										" . $reqs . "
					},";
					}
					break;    
				
				case 'file' :
				
					$fl = new Model_Zprabadoc();
					$download = $fl->get_afile($v['fname'], $this->params['content_id']);
					//Zend_Debug::dump($download); //die();
					$files[] = $v ['detail']['name']; 
					echo "<div class='form-group'>
					<label for='" . $v ['detail']['id'] . "' >" . $v ['detail']['label'] . "</label>";
					if ($v ['detail']['classicon'] != "") {
						echo "<div class='input-group'>
						<span class='input-group-addon'>
							<i class='" . $v ['detail']['classicon'] . "'></i>
						</span>
					<input type='file'  name='" . $v ['detail']['name'] . "' placeholder='" . $v ['detail']['placeholder'] . "' id='" . $v ['detail']['id'] . "' placeholder='" . $v ['detail']['placeholder'] . "' class='form-control " . $v ['detail']['placeholder'] . "' value=$val >
										</div>";
					} else {
					echo "<input type='file'  name='" . $v ['detail']['name'] . "' placeholder='" . $v ['detail']['placeholder'] . "' id='" . $v ['detail']['id'] . "' placeholder='" . $v ['detail']['placeholder'] . "' class='form-control " . $v ['detail']['placeholder'] . "' value=$val >";
					
					echo "<br><b>Attachments</b><br><a href='".$download['http_url']."' >$val</a>";
					}
					echo "<span class='help-block'>
						" . $v ['detail']['help'] . "
							</span>
									</div>";
					if (isset ( $v ['detail']['name'] ) && $v ['detail']['name'] != "") {
										$varRules .= "" . $v ['detail']['name'] . ": {
										" . $reqs . "
					},";
					}
					
					
					break;
				
				case 'submit' :
					echo '<button type="' . $v ['detail']['type'] . '" class="btn green ' . $v ['detail']['class'] . '">' . $v ['detail']['label'] . '</button>';
					break;
			}
		}
		if($this->data['showapproval']) {
		echo '<button type="submit" class="btn green ">Approve</button> <button type="button" class="btn red ">Reject</button>';
		}
		
		echo "</div>";
	}
	?>
	
	


</form>

<script>
jQuery(document).ready(function() {

var files = {};
<?php
foreach ($files as $z) {
echo 	"$('#$z').on('change', function prepareUpload(event){
	files['$z'] = event.target.files[0];});"; 
}	
?>


	var Functcreate_content = function () {

	var handleAdd = function() {
      
			var formcreate_content = $('#create_content');
            var error1 = $('.alert-danger', formcreate_content);
            var success1 = $('.alert-success', formcreate_content);

            formcreate_content.validate({
                errorElement: 'span', //default input error message container
                errorClass: 'help-block', // default input error message class
                focusInvalid: false, // do not focus the last invalid input
                ignore: "",
                rules: {
					
					<?php echo $varRules; ?>
                },

                invalidHandler: function (event, validator) { //display error alert on form submit              
                    success1.hide();
                    error1.show();
                    App.scrollTo(error1, -200);
                },

                highlight: function (element) { // hightlight error inputs
                    $(element)
                        .closest('.form-group').addClass('has-error'); // set error class to the control group
                },

                unhighlight: function (element) { // revert the change done by hightlight
                    $(element)
                        .closest('.form-group').removeClass('has-error'); // set error class to the control group
                },

                success: function (label) {
                    label
                        .closest('.form-group').removeClass('has-error'); // set success class to the control group
                },

                submitHandler: function (form) {
                    success1.show();
                    error1.hide();
                       submitForm();
	                return false;
                }
            });
	}
	
	var submitForm = function(){
		
		
	var data = new FormData();
	//console.log(files);
	//console.log(JSON.stringify($('#create_content').serializeArray()));
	files['json'] = JSON.stringify($('#create_content').serializeArray());;
	$.each(files, function(key, value){
		data.append(key, value);
	});
	//console.log(data);
	
	
		
		//var data = $('form#create_content');
		
		
		
		$.ajax({
			url:"<?php echo $posturl; ?>",
			content:'json',
			type:'post',
			data:data,
			processData: false, // Don't process the files
			contentType: false,
			beforeSend:function(){
				$('#alertinfo').addClass('hidden');
				$('#processbar').removeClass('hidden');
//				$('html,body').animate({
//					scrollTop: $('h3.page-title').offset().top
//				}, 800);
				$('#alertinfo').removeClass('alert-success');
				$('#alertinfo').removeClass('alert-warning');
				$('#alertinfo').removeClass('alert-danger');
				$('#alertinfo').removeClass('alert-info');
			},
			complete:function(result){
			
				$('#processbar').addClass('hidden');
			},
			success: function(data){
				
				//console.log(data);
				if(data.transaction!=undefined){
					if(data.transaction==true){
					
						$('#alertinfo').addClass('alert-success');
						$('#alertmsg').html("<strong>Success!</strong>"+data.message);
							if(data.message !='closed') {
								//window.location.replace("/inbox");
							}
					}else{
						
						$('#alertinfo').addClass('alert-warning');
						$('#alertmsg').html("<strong>Failed!</strong> "+data.message);
						
					}	
				}else{
						
					$('#alertinfo').addClass('alert-info');
					$('#alertmsg').html("<strong>Error!</strong> System is busy, please try again.");
				}
				$('#alertinfo').removeClass('hidden');
			},
			error:function(){
				
				$('#alertinfo').addClass('alert-info');
				$('#alertmsg').html("<strong>Error!</strong> System is busy, please try again.");
				$('#alertinfo').removeClass('hidden');
			}
		});
	}
	
    return {
        //main function to initiate the module
        init: function () {
            handleAdd();
        }

    };

}();
Functcreate_content.init();

});
</script>
