<?php
	#Zend_Debug::dump($this->show['Name']); die();
	//Zend_Debug::dump('aa'); die();
	#Zend_Debug::dump($this->d); die();
	
	$authAdapter = Zend_Auth::getInstance ();
	$identity = $authAdapter->getIdentity ();
	#Zend_Debug::dump($identity); 

?>
<div class="page-content">

<!-- BEGIN PAGE HEADER-->
<div class="row">
	<div class="col-md-12">
		<!-- BEGIN PAGE TITLE & BREADCRUMB-->
		<h3 class="page-title">
		Solution  <small>Management</small>
		</h3>
		<ul class="page-breadcrumb breadcrumb">
			<li>
				<i class="fa fa-rss"></i>
				<a href="/">Home</a>
				<i class="fa fa-angle-right"></i>
			</li>
			<!-- <li>
				<i class="fa fa-cogs"></i>
				<a href="/">Prabaeditor</a>
				<i class="fa fa-angle-right"></i>
			</li> -->
			
			<li>
				<i class="fa fa-user"></i>
				 <?php echo $this->show['Name']." ". $this->data['c_name'];?>
			</li>
			<!--li class="btn-group pull-right">
				<button type="button" class="btn red">
					<span>
				<?php echo Zend_Auth::getInstance()->getIdentity()->fullname; ?>
					</span>
				</button>
			</li-->
		</ul>
		<!-- END PAGE TITLE & BREADCRUMB-->
	</div>
</div>
<!-- END PAGE HEADER-->

<div class="row">
	<div class="col-md-8">
	<!-- BEGIN EXAMPLE TABLE PORTLET-->
	<div class="portlet box grey" style="margin:0px">
		<div class="portlet-title">
			<div class="caption">
				 <?php echo $this->show['Name']." ". $this->data['c_name'];?>
			</div>
			 <div class="actions">
				 <!--a href="#" class="btn reload" data-dismiss="modal"><i class="fa fa-times"></i></a-->
			 </div>
			<div class="tools">
			</div>
		</div>
		<div class="portlet-body" style="padding:15px">
		<?php
		
			echo $this->partial('typecontent/formelement2.phtml', array('data'=>$this->data, 'params'=>$this->varams,
			'initial'=>$this->initial, 'identity'=>$identity));
		
		?>	
		</div>
		</div>
				
	<!-- END EXAMPLE TABLE PORTLET-->
	</div>
</div>

</div>

<script>

jQuery(document).ready(function() {


$('[data-toggle="tooltip"]').tooltip(); 

	
$('.datepicker').datepicker({
                rtl: App.isRTL(),
                autoclose: true,
                format: "yyyy-mm-dd",
            });


	
$('body').addClass('page-header-fixed page-sidebar-fixed page-footer-fixed');



var EditApi = function () {
	
	var handleAdd = function() {

		$('form#addapi').validate({
	            //errorElement: 'span', //default input error message container
	            //errorClass: 'label-danger', // default input error message class
	            focusInvalid: false, // do not focus the last invalid input
	            rules: {
	                pagealias: {
	                    required: true
	                },
	                title: {
	                    required: true
	                }
	            },
	         

	            messages: {
					
	            },

	            invalidHandler: function (event, validator) { //display error alert on form submit   
	                //$('.alert-danger', $('.login-form')).show();
	                //console.log(event);
	                //console.log(validator);
	                
					//$('span.help-block').show();
					$('span.help-block').hide();
	                var errorlist = validator.errorList;
	                if(errorlist.length>0){
						for(var i = 0; i<errorlist.length; i++){
							//console.log(errorlist[i].element);
							var el = errorlist[i].element; 
							var next = $(el).next('span.help-block'); 
							$(next).slideDown();
						}
						$('html,body').animate({
							scrollTop: $(el).offset().top-100
						}, 800);
					}
	            },

	            highlight: function (element) { // hightlight error inputs
	                $(element)
	                    .closest('.form-group').addClass('has-error'); // set error class to the control group
	            },

	            success: function (label) {
	                label.closest('.form-group').removeClass('has-error');
	                //label.remove();
	            },

	            errorPlacement: function (error, element) {
					$('span.help-block').hide();
					var next = element.next('span.help-block'); 
					//console.log(error);
	                if(error[0].textContent!=""){
						$(next).html("<i class='fa fa-warning'></i> "+ error[0].textContent);
						$(element).next().slideDown();
						$('html,body').animate({
							scrollTop: $(element).offset().top-100
						}, 800);
					}
	            },

	            submitHandler: function (form) {
					$('span.help-block').hide();
					$('.form-group').removeClass('has-error');
	                //form.submit(); // form validation success, call ajax form submit
	                submitForm();
	                return false;
	            }
	        });

	        $('form#addapi input').keypress(function (e) {
	            if (e.which == 13) {
					$('span.help-block').hide();
					$('.form-group').removeClass('has-error');
	                if ($('form#addapi').validate().form()) {
	                   //$('form#addapi').submit(); //form validation success, call ajax form submit
	                   submitForm();
	                }
	                return false;
	            }
	        });
	}
	
	var submitForm = function(){
		
		
		//console.log($('form#addapi').serialize());
		$.ajax({
			url:"/prabadoc/formbuilder",
			content:'json',
			type:'post',
			data:$('form#addapi').serialize(),
			beforeSend:function(){
				$('#alertinfo').addClass('hidden');
				$('#processbar').removeClass('hidden');
				$('html,body').animate({
					scrollTop: $('h3.page-title').offset().top
				}, 800);
				$('#alertinfo').removeClass('alert-success');
				$('#alertinfo').removeClass('alert-warning');
				$('#alertinfo').removeClass('alert-danger');
				$('#alertinfo').removeClass('alert-info');
			},
			complete:function(result){
				$('#processbar').addClass('hidden');
			},
			success: function(data){
				//console.log(data);
				if(data.result!=undefined){
					if(data.result==true){
						$('#alertinfo').addClass('alert-success');
						//$('#alertmsg').html("<strong>Success!</strong> "+data.retMsg);
						alert(data.retMsg);
					}else{
						$('#alertinfo').addClass('alert-warning');
						//$('#alertmsg').html("<strong>Failed!</strong> "+data.retMsg);
						alert(data.retMsg);
					}
				}else{
					$('#alertinfo').addClass('alert-info');
					$('#alertmsg').html("<strong>Error!</strong> System is busy, please try again.");
				}
				$('#alertinfo').removeClass('hidden');
			},
			error:function(){
				$('#alertinfo').addClass('alert-info');
				$('#alertmsg').html("<strong>Error!</strong> System is busy, please try again.");
				$('#alertinfo').removeClass('hidden');
			}
		});
	}
	
	

	var resetForm = function(){
		$('input','form#addapi')
			.not(':button, :submit, :reset, :hidden')
			.val('');
			
		$('select,option','form#addapi')
			.removeAttr('checked')
			.removeAttr('selected');
		
		$('.make-switch').bootstrapSwitch('setState',false);
		
		$('.ms-selectable').find('li').removeClass('ms-selected');
		$('.ms-selection').find('li').removeClass('ms-hover');
		$('.ms-selectable').find('li').removeAttr('style');
		
		$('.ms-selection').find('li').removeClass('ms-selected');
		$('.ms-selection').find('li').removeClass('ms-hover');
		$('.ms-selection').find('li').css({display:'none'});
	}
    
    return {
        //main function to initiate the module
        init: function () {
            handleAdd();
        }

    };

}();


App.init();

$('span.help-block').hide();
EditApi.init();
<?php if($identity->jabatan!='AM'){ ?>

 $(".get_am").select2({
            placeholder: "Search ",
            minimumInputLength: 1,
            ajax: { // instead of writing the function to execute the request we use Select2's convenient helper
				
                  url: "/prabigtech/ajaxgetam",
                dataType: 'jsonp',
                data: function (term, page) {
                    return {
                        q: term, // search term
						segmen : $("#segment").val(),
                        apikey: "hywgwknh7ppvr3ent6anauxn" // please do not use so this example keeps working
                    };
                },
                results: function (data, page) { // parse the results into the format expected by Select2.
                    // since we are using custom formatting functions we do not need to alter remote JSON data
                    return {
                        results: data.items
                    };
                }
            },
            initSelection: function (element, callback) {
                // the input tag has a value attribute preloaded that points to a preselected movie's id
                // this function resolves that id attribute to an object that select2 can render
                // using its formatResult renderer - that way the movie name is shown preselected
              //  alert($("#segment").val());
                var id = $(element).val();
                if (id !== "") {
                    $.ajax("/prabigtech/ajaxgetcustomer/" + id + ".json", {
                        data: {
                            apikey: "hywgwknh7ppvr3ent6anauxn"
                        },
                        dataType: "jsonp"
                    }).done(function (data) {
                        callback(data);
                    });
                }
            },
            formatResult: movieFormatResult3, // omitted for brevity, see the source of this page
            formatSelection: movieFormatSelection3, // omitted for brevity, see the source of this page
            dropdownCssClass: "bigdrop", // apply css that makes the dropdown taller
            escapeMarkup: function (m) {
                return m;
            } // we do not want to escape markup since we are displaying html in results
        });
  <?php } elseif($identity->jabatan=='AM') { ?> 

$(".get_am").val("<?php echo $identity->fullname; ?>");

  	<?php } ?>

<?php if($identity->jabatan!='SE'){ ?>
$(".get_pic").select2({
            placeholder: "Search ",
            minimumInputLength: 1,
            ajax: { // instead of writing the function to execute the request we use Select2's convenient helper
				
                url: "/prabigtech/ajaxgetam/act/pic",
                dataType: 'jsonp',
                data: function (term, page) {
                    return {
                        q: term, // search term
						segmen : $("#segment").val(),
                        apikey: "hywgwknh7ppvr3ent6anauxn" // please do not use so this example keeps working
                    };
                },
                results: function (data, page) { // parse the results into the format expected by Select2.
                    // since we are using custom formatting functions we do not need to alter remote JSON data
                    return {
                        results: data.items
                    };
                }
            },
            initSelection: function (element, callback) {
                // the input tag has a value attribute preloaded that points to a preselected movie's id
                // this function resolves that id attribute to an object that select2 can render
                // using its formatResult renderer - that way the movie name is shown preselected
              //  alert($("#segment").val());
                var id = $(element).val();
                if (id !== "") {
                    $.ajax("/prabigtech/ajaxgetcustomer/" + id + ".json", {
                        data: {
                            apikey: "hywgwknh7ppvr3ent6anauxn"
                        },
                        dataType: "jsonp"
                    }).done(function (data) {
                        callback(data);
                    });
                }
            },
            formatResult: movieFormatResult3, // omitted for brevity, see the source of this page
            formatSelection: movieFormatSelection3, // omitted for brevity, see the source of this page
            dropdownCssClass: "bigdrop", // apply css that makes the dropdown taller
            escapeMarkup: function (m) {
                return m;
            } // we do not want to escape markup since we are displaying html in results
        });

<?php }elseif($identity->jabatan=='SE') { ?>

$(".get_pic").val("<?php echo $identity->fullname; ?>");
<?php } ?>

 $( "#corporate_customer" ).autocomplete({
  placeholder: "Search ",
        source: function( request, response ) {
            $.ajax({
                url: "/prabigtech/ajaxgetcustomer",
                dataType: "jsonp",
                data: {
                    featureClass: "P",
                    style: "full",
                    maxRows: 12,
                    segmen : $("#segment").val(),
                    name_startsWith: request.term
                },
                success: function( data ) {
					console.log(data);
                    response( $.map( data, function( item ) {
                        return {	
                            label: item.id,
                            value: item.id 
                        }
                    }));
                }
            });
        },
		
        minLength: 1,
        select: function( event, ui ) {

        },
            open: function() {
                $( this ).removeClass( "ui-corner-all" ).addClass( "ui-corner-top" );
            },
            close: function() {
                $( this ).removeClass( "ui-corner-top" ).addClass( "ui-corner-all" );
            }
       });
	   
//Autucomplete Mitra

$( "#mitra" ).autocomplete({
  placeholder: "Search ",
        source: function( request, response ) {
            $.ajax({
                url: "/prabigtech/ajaxgetmitra",
                dataType: "jsonp",
                data: {
                    featureClass: "P",
                    style: "full",
                    maxRows: 12,
                    segmen : $("#segment").val(),
                    name_startsWith: request.term
                },
                success: function( data ) {
					console.log(data);
                    response( $.map( data, function( item ) {
                        return {	
                            label: item.id_mitra,
                            value: item.id_mitra 
                        }
                    }));
                }
            });
        },
		
        minLength: 1,
        select: function( event, ui ) {

        },
            open: function() {
                $( this ).removeClass( "ui-corner-all" ).addClass( "ui-corner-top" );
            },
            close: function() {
                $( this ).removeClass( "ui-corner-top" ).addClass( "ui-corner-all" );
            }
       });
// End Autocomplete Mitra

 $("#corporate_customer_X").select2({
            placeholder: "Search ",
            minimumInputLength: 1,
            ajax: { // instead of writing the function to execute the request we use Select2's convenient helper
				
                  url: "/prabigtech/ajaxgetcustomer",
                dataType: 'jsonp',
                data: function (term, page) {
                    return {
                        q: term, // search term
						segmen : $("#segment").val(),
                        apikey: "hywgwknh7ppvr3ent6anauxn" // please do not use so this example keeps working
                    };
                },
                results: function (data, page) { // parse the results into the format expected by Select2.
                    // since we are using custom formatting functions we do not need to alter remote JSON data
                    return {
                        results: data.items
                    };
                }
            },
            initSelection: function (element, callback) {
                // the input tag has a value attribute preloaded that points to a preselected movie's id
                // this function resolves that id attribute to an object that select2 can render
                // using its formatResult renderer - that way the movie name is shown preselected
              //  alert($("#segment").val());
                var id = $(element).val();
                if (id !== "") {
                    $.ajax("/prabigtech/ajaxgetcustomer/" + id + ".json", {
                        data: {
                            apikey: "hywgwknh7ppvr3ent6anauxn"
                        },
                        dataType: "jsonp"
                    }).done(function (data) {
                        callback(data);
                    });
                }
            },
            formatResult: movieFormatResult, // omitted for brevity, see the source of this page
            formatSelection: movieFormatSelection, // omitted for brevity, see the source of this page
            dropdownCssClass: "bigdrop", // apply css that makes the dropdown taller
            escapeMarkup: function (m) {
                return m;
            } // we do not want to escape markup since we are displaying html in results
        });
        
        function movieFormatResult(movie) {
          var markup = "<table class='movie-result'><tr>";
           
            markup += "<td valign='top'><h5>" + movie.STANDARD_NAME + "</h5>";
           
            markup += "</td></tr></table>"
            return markup;

        }

        function movieFormatSelection(movie) {
            return movie.STANDARD_NAME;
        }

  function movieFormatResult3(movie) {
          var markup = "<table class='movie-result'><tr>";
           
            markup += "<td valign='top'><h5>" + movie.NAMA + "</h5>";
           
            markup += "</td></tr></table>"
            return markup;

        }

        function movieFormatSelection3(movie) {
            return movie.NAMA;
        }



});
</script>

