<?php
//Zend_Debug::dump($this->data);die();
//$this->data['twitter']="/assets/pmas/images/media/twitter.png"
?>
<h1 class="page-title"> Search
                        <small>result</small>
                    </h1>
               <div class="page-bar">
                        <ul class="page-breadcrumb">
                            <li>
                                <i class="icon-home"></i>
                                <a href="index.html">Home</a>
                                <i class="fa fa-angle-right"></i>
                            </li>
                            <li>
                                <span>Search</span>
                            </li>
                        </ul>
                        <div class="page-toolbar">
                           
                        </div>
                    </div>     
<ul class="chats <?php echo $this->params["l"]; ?>">
<?php
$cc = new CMS_General();
$i=1;
$cx = 0;
foreach($this->data as $v) {
	
	
	$timestamp = strtotime($v["content_date"]);

	$pattern = array (
		'/Mon[^day]/','/Tue[^sday]/','/Wed[^nesday]/','/Thu[^rsday]/',
		'/Fri[^day]/','/Sat[^urday]/','/Sun[^day]/','/Monday/','/Tuesday/',
		'/Wednesday/','/Thursday/','/Friday/','/Saturday/','/Sunday/',
		'/Jan[^uary]/','/Feb[^ruary]/','/Mar[^ch]/','/Apr[^il]/','/May/',
		'/Jun[^e]/','/Jul[^y]/','/Aug[^ust]/','/Sep[^tember]/','/Oct[^ober]/',
		'/Nov[^ember]/','/Dec[^ember]/','/January/','/February/','/March/',
		'/April/','/June/','/July/','/August/','/September/','/October/',
		'/November/','/December/',
	);
	$replace = array ( 'Sen','Sel','Rab','Kam','Jum','Sab','Min',
		'Senin','Selasa','Rabu','Kamis','Jumat','Sabtu','Minggu',
		'Jan','Feb','Mar','Apr','Mei','Jun','Jul','Ags','Sep','Okt','Nov','Des',
		'Januari','Februari','Maret','April','Juni','Juli','Agustus','Sepember',
		'Oktober','November','Desember',
	);
	
	if($v['entity_id']==9){
		$content_date = gmdate("l, j F Y | H:i", $timestamp);
		$content_date = preg_replace ($pattern, $replace, $content_date);
		
		$cl = "in";
		if($i%2==0) {
			$cl = "out";
		}
?>
			
<li class="<?php echo $cl;?>">
<?php
	echo '<img  class="avatar" style="width:45px;" src="/images/pdf.png" />';
?>
	<div class="message" >
		<span class="arrow"> </span>
<?php
	echo '<a href="javascript:;" class="name" target="_blank">'.$v["sm_what"][0].'</a>';			
									
	$c2 = new CMS_LIB_parse();
	$outtext = $c2->remove($v['content'], "<!--", "</style>");

	// Zend_Debug::dump($outtext);die();

	if($outtext!=""){
		// die("i");
		$outtext = str_replace("\n","<br />",$outtext); 
	} else {
		// die("e");
		$outtext = str_replace("\n","<br />",$v['content']); 
	}
	
	// $outtext = htmlspecialchars($v['content']);
	// echo $outtext;
?>
	<span class="body" ><?php echo $content_date;?> WIB</span>
	<span class="body" >  
		<?php 
		// echo $cc->chop_string(str_replace("\n","<br />",htmlspecialchars($v['content'])), 200);
		echo $cc->chop_string($outtext, 200);
		?>...</span>
	<a href="#basic" class="btn btn-sm btn-circle red easy-pie-chart-reload"  data-toggle="modal" href="#basic" data-id="<?php echo $v["id"]; ?>" data-entity="<?php echo $this->params["l"]; ?>" onclick="getExtract(this);">
		<i class="fa fa-search"></i> Lihat </a>

	</div>
</li>

<?php
	$cx++;
} else {
		$content_date = date("l, j F Y | H:i", $timestamp);
		$content_date = preg_replace ($pattern, $replace, $content_date);
			$cl = "in";
			if($i%2==0) {
			$cl = "out";
			}			
			?>
			
				<li class="<?php echo $cl;?>">
<?php
if($v['entity_id']==3){
	if($v['ss_icon']!=""){
		echo '<img src="'.  $cc->get_string_between($v['ss_icon'], "<img src=\"","\" align") .'"  style="width: 100%; height: 200px; display: block;" >';
	} else { 
		// echo '<img  class="avatar" style="width:45px;" src="'.$this->logo[$v['bundle']].'" />';
		echo '<img  class="avatar" style="width:45px;" src="/images/pdf.png" />';
   }
} else if($v['entity_id']==2){
	// if($v['ss_icon']!=""){                                                            
		// // echo '<img src="'.  $cc->get_string_between($v['ss_icon'], "<img src=\"","\" align") .'"  style="width: 100%; height: 200px; display: block;" >';
		// echo '<img  class="avatar" style="width:45px;" src="'.$v['ss_icon'].'" />';
	// } else { 
		echo '<img  class="avatar" style="width:45px;" src="'.$this->logo[$v['bundle']].'" />';
	// }	
} else if($v['entity_id']==5){
    
	if($v['ss_user_profile_imageurl']!=""){
		echo '<img class="avatar" style="width:45px;" src="'.$v['ss_user_profile_imageurl'].'">';		
	} else {
		echo '<img class="avatar" style="width:45px;" src="/assets/pmas/images/media/twitter.png">';
	}
}

?>
					<div class="message"  >
						<span class="arrow"> </span>
<?php
// https://twitter.com/ladydelulu/status/780682362317266944
if($v['entity_id']==2){
	echo '<a href="'.$v["id"].'" class="name" target="_blank">'.($v["label"]!=""?$v["label"]:$v["id"]).'</a>';
} else if($v['entity_id']==5){
	echo '<a href="https://twitter.com/'.$v["ss_user_screenname"].'/status/'.$v["id"].'" class="name" target="_blank">'.$v["label"].' @'.$v["ss_user_screenname"].'</a>';
} else {
	echo '<a href="'.$v['ss_httpurl'].'" class="name" target="_blank">'.$v['label'].'</a>';
}
?>
						<!--a href="<?php echo $v['id'];?>" class="name" target="_blank"><?php echo $v['label'];?></a-->
						<span class="body"  ><?php echo $content_date;?> WIB</span>
						<span class="body"  >  <?php echo ($this->params["l"]=="socmed"?$v["content"]:$cc->chop_string($v['content'], 200));?> </span>
<?php
if($v['entity_id']==2){
?>
<a href="#basic" class="btn btn-sm btn-circle red easy-pie-chart-reload"  data-toggle="modal" href="#basic" data-id="<?php echo $v["id"]; ?>" data-entity="<?php echo $this->params["l"]; ?>" onclick="getExtract(this);">
	<i class="fa fa-search"></i> Lihat </a>
<?php
}
?>
					</div>
				</li>
			   <?php
				$cx++;
				}
				$i++;

			}
			   ?>
			   <?php
			   if(count($this->data)==10){
			   ?>
			   <li class="load">
				<span class="ajaxload" style="display:none">
			<img src="/assets/core/img/ajax-loading.gif"></span>
		   <button class="btn btn-circle blue" ><span>Lebih Lanjut</span></button>
			   </li>
			   <?php
			   } else if(count($this->data)==0){
				   echo "<li>no data available.</li>";
			   }
			   ?>
			</ul>

<script>
$(".page-content .load").click(function(){
	//$(".<?php echo $this->params["l"]; ?> .ajaxload").show();
	
	var param = "";
	
	param +="";
	//param +="l=<?php echo $this->params["l"]; ?>";
	param +="skey=<?php echo $this->params["skey"]; ?>";
	param +="&last=<?php echo $this->params["last"]; ?>";
	
	$.ajax({
	url: "/domas/ajax1/getall/page/1?"+param,
	// url: "/domas/ajax1/get/page/1/type/<?php echo $this->params["x"]; ?>/d1/<?php echo $this->params["d1"]; ?>/d2/<?php echo $this->params["d2"]; ?>/skey/<?php echo urlencode($this->params["skey"]); ?>/is_sentiment/<?php echo $this->params["is_sentiment"]; ?>/is_mediatype/<?php echo $this->params["is_mediatype"]; ?>/last/<?php echo $this->params["last"]; ?>/tf/<?php echo $this->params["tf"]; ?>/",
	content: 'html',
	beforeSend: function() {
	},
	complete: function(result) {
	},
	success: function(data) {
		//$(".<?php echo $this->params["l"]; ?> .load").hide();
		jQuery('.chats').append(data);
		//$(".<?php echo $this->params["l"]; ?> .ajaxload").hide();
	},
	error: function() {
	//$(".<?php echo $this->params["l"]; ?> .ajaxload").hide();
	}
	});
});

</script>