<?php
// Zend_Debug::dump($this->params);die();
?>
<div id="chart_sentiment" style="min-width: 310px; height: 235px; margin: 0 auto"></div>
<script>
var org= <?php echo (isset($this->params["org"]) && $this->params["org"]=="1" ? 1 : 0 ) ?>;
var t= <?php echo json_encode($this->params["t"]); ?>;
jQuery(document).ready(function() {

// console.log(t);
	
$('#chart_sentiment').highcharts({
	chart: {
		type: 'column',
		zoomType: 'xy',
		options3d: {
			enabled: true,
			alpha: 15,
			beta: -15,
			// viewDistance: 25,
			depth: 50
		}
	},
	title: {
		text: ''
	},
	xAxis: {
		// categories :<?php echo json_encode($this->cat); ?>,
		type: 'datetime',
		crosshair: true
	},
	yAxis: [{
		min: 0,
		// type: 'logarithmic',
		title: {
			text: ''
		}
	}, {
		title: {
			text: ''
		},
		opposite: true
	}],
	legend: {
		shadow: false
	},
	tooltip: {
		// shared: true,
		// split: true,
		// headerFormat: '<b>{point.key}</b><br>',
		// pointFormat: '<span style="color:{series.color}">\u25CF</span> {series.name}: {point.y}<br />'
		headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
		pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
			'<td style="padding:0"><b>{point.y}</b></td></tr>',
		footerFormat: '</table>',
		// shared: true,
		useHTML: true
	},
	plotOptions: {
		column: {
			pointPadding: 0.2,
			borderWidth: 0,
		},
		series: {
			cursor: 'pointer',
			// allowPointSelect: true,
			point: {
				events: {
					click: function (e) {
						// var tgl = this.category;
						var vlu = this.y;
						var snm = this.series.name;
						var month = new Array();
						month[0] = "01";
						month[1] = "02";
						month[2] = "03";
						month[3] = "04";
						month[4] = "05";
						month[5] = "06";
						month[6] = "07";
						month[7] = "08";
						month[8] = "09";
						month[9] = "10";
						month[10] = "11";
						month[11] = "12";
						// var n = month[d.getMonth()];
						
						var date = new Date(this.category);
						var thn = date.getFullYear();
						var bln = month[date.getMonth()];
						var tgl = date.getDate();
						
						// bln = bln+1;
						
						// console.log(t);
						
						// console.log(date);
						// console.log(thn);
						// console.log(bln);
						// console.log(tgl);
						
						// if(bln < 10){
							// bln = "0"+bln;
						// }
						if(tgl < 10){
							tgl = "0"+tgl;
						}
						
						var d1 = thn+'-'+bln+'-'+tgl;
						
						$("#is_sentiment").val(snm);
						
						if(org==0){
							if(t=="News"){
								getCloud("digmed",d1,d1);	
								getLatest("news",d1,d1);	
								showMarkers(map,d1,d1,"News");
							} else if(t=="Laporan"){
								getCloud("laporan",d1,d1);
								getLatest("lap",d1,d1);
								showMarkers(map,d1,d1,"Laporan");
							} else if(t=="Social Media"){
								getCloud("socmed",d1,d1);
								getLatest("socmed",d1,d1);
								showMarkers(map,d1,d1,"Social Media");
							}							
						}

						getTrendline(d1,d1);
						get5w1h(t,'',d1,d1);
						getLink(d1,d1);
						// console.log(e);
						// alert('Category: ' + this.category + ', value: ' + this.y+', x: ' + this.series.name);
					}
				}
			},
			dataLabels: {
				enabled: true,
				format: '{point.y}',
				color: '#ffffff'
			}
		}
	},
	series: <?php echo json_encode($this->vpos); ?>,
});
});
</script>