<?php
// Zend_Debug::dump($this->vparams["ano"]);die();
// Zend_Debug::dump($_GET);die();

$series = $this->series;
if(isset($_GET["sii"]) && ($_GET["sii"]==1 || $_GET["sii"]=="1")){
$series = array();
$i=0;
foreach($this->series as $k=>$v){
	if($v["name"]=="Laporan"){
		$series[$i] = $v;		
		$i++;
	}
}
}
// Zend_Debug::dump($series);die();

?>
<div id="chart_trendline" style="min-width: 310px; height: 235px; margin: 0 auto"></div>
<script>
var ano = <?php echo json_encode($this->vparams["ano"]); ?>;
jQuery(document).ready(function() {
	
$('#chart_trendline').highcharts({
	chart: {
		type: 'spline',
		zoomType: 'xy'
	},
	title: {
		text: ''
	},
	xAxis: {
		// categories :<?php echo json_encode($this->cat); ?>,
		type: 'datetime'
	},
	yAxis: {
		min: 0,
		// type: 'logarithmic',
		title: {
			text: ''
		}
	},
	legend: {
		shadow: false
	},
	tooltip: {
		// shared: true
		// headerFormat: '<b>{point.key}</b><br>',
		// pointFormat: '<span style="color:{series.color}">\u25CF</span> {series.name}: {point.y}'
		headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
		pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
			'<td style="padding:0"><b>{point.y}</b></td></tr>',
		footerFormat: '</table>',
		// shared: true,
		useHTML: true
	},
	plotOptions: {
		spline: {
			pointStart: 1940,
			// stacking: 'normal',
			marker: {
				enabled: false,
				symbol: 'circle',
				radius: 2,
				states: {
					hover: {
						enabled: true
					}
				}
			}
		},
		areaspline: {
			pointStart: 1940,
			// stacking: 'normal',
			marker: {
				enabled: false,
				symbol: 'circle',
				radius: 2,
				states: {
					hover: {
						enabled: true
					}
				}
			}
		},
		series: {
			cursor: 'pointer',
			// allowPointSelect: true,
			point: {
				events: {
					click: function (e) {
						// var tgl = this.category;
						var vlu = this.y;
						var snm = this.series.name;
						var month = new Array();
						month[0] = "01";
						month[1] = "02";
						month[2] = "03";
						month[3] = "04";
						month[4] = "05";
						month[5] = "06";
						month[6] = "07";
						month[7] = "08";
						month[8] = "09";
						month[9] = "10";
						month[10] = "11";
						month[11] = "12";
						
						// console.log(this.category);
						var date = new Date(this.category);
						// console.log(date.getFullYear());
						// console.log(date.getMonth());
						// console.log(date.getDate());
						var thn = date.getFullYear();
						var bln = month[date.getMonth()];
						var tgl = date.getDate();
						
						// // bln = bln+1
						
						// console.log(this.series.name);
						// console.log(thn);
						// console.log(bln);
						// console.log(ano);
						
						// if(bln < 10){
							// bln = "0"+bln;
						// }
						if(tgl < 10){
							tgl = "0"+tgl;
						}
						
						var d1 = thn+'-'+bln+'-'+tgl;
						
						// $("#is_sentiment").val(snm);
						$("#is_sentiment").val('');
						if(ano==0){
							if(snm=="Social Media"){							
								getLatest("socmed",d1,d1);
								getCloud("socmed",d1,d1);
								showMarkers(map,d1,d1,"Social Media");
							} else if(snm=="News"){
								getLatest("news",d1,d1);
								getCloud("digmed",d1,d1,$("#typecloud_news").val());
								showMarkers(map,d1,d1,"News");
							} else if(snm=="Laporan"){
								getLatest("lap",d1,d1);
								getCloud("laporan",d1,d1,$("#typecloud_lap").val());
								showMarkers(map,d1,d1,"Laporan");
							}
							
							getSentiment(d1,d1,snm);
							get5w1h(snm,'',d1,d1);
							getLink(d1,d1);
						
						}else{
							get5w1h(snm,'',d1,d1);
							get5w1h1(snm,'',d1,d1);
						}
						// console.log(e);
						// alert('Category: ' + this.category + ', value: ' + this.y+', x: ' + this.series.name);
					}
				}
			},
			dataLabels: {
				enabled: true,
				format: '{point.y}',
				color: '#ffffff'
			}
		}
	},
	series: <?php echo json_encode($series); ?>,
});
});
</script>