<?php //Zend_Debug::dump($this->filter );
?>
<table class="table table-bordered">
	<thead>
	<tr>
		<th></th>
		<th></th>
		<th></th>
		<th></th>
		<th><button class="btn green" onclick="gens();">Submit</button></th>
	</tr>
	<tr>
		<th>#</th>
		<th>Kata</th>
		<th>Bahasa</th>
		<th>Topik</th>
		<th>sentiment</th>
	</tr>
	</thead>
	<tbody>
	<form id="forms">
<?php
$html ='';
foreach($this->data as $k=>$v){
	
	$arr_sentiment = array("netral","negatif","positif");
	
	
	$sentiment ='';
	$sentiment .='<div class="mt-radio-inline">
		<label class="mt-radio">
			<input type="radio" class="sentimentR" name="oR['.$k.']" id="oR0'.$k.'" value="0" '.($v["is_sentiment"]==0?"checked":"").'> netral
			<span></span>
		</label>
		<label class="mt-radio">
			<input type="radio" class="sentimentR" name="oR['.$k.']" id="oR1'.$k.'" value="1" '.($v["is_sentiment"]==1?"checked":"").'> negatif
			<span></span>
		</label>
		<label class="mt-radio">
			<input type="radio" class="sentimentR" name="oR['.$k.']" id="oR2'.$k.'" value="2" '.($v["is_sentiment"]==2?"checked":"").'> positif
			<span></span>
		</label>
	</div>';
	
	$html .='<tr>';
	$html .='	<td>'.($k+1).'</td>';
	$html .='	<td>'.($v["content"]).'</td>';
	$html .='	<td>Id</td>';
	$html .='	<td>'.($v["content"]).'</td>';
	$html .='	<td>'.($sentiment).'</td>';
	$html .='</tr>';
}
$html .='<tr>';
$html .='	<td></td>';
$html .='	<td></td>';
$html .='	<td></td>';
$html .='	<td></td>';
$html .='	<td><button class="btn green" onclick="gens();">Submit</button></td>';
$html .='</tr>';
echo $html;
?>
	</form>
	</tbody>
</table>
<script>
function gens(){
	console.log("ok");
	var inputs = document.getElementsByClassName( 'sentimentR' ), res  = {}, i;
    for( i = 0; i < inputs.length; i++ ) {
        if( inputs[i].checked ) {
            console.log(inputs);
        }
    }
	
};
</script>