<style>
body{
	color: #b7b7b7;
}
.mt-author-name h3{
	margin: 0px;
}
.chats li .name {
    color: #d5ff5b;
}
.portlet.light.navtab {  
     background-color: rgba(12, 29, 43, 0.9);
	 color: white; 
}
.nav-tabs>li.active>a{
  background-color: #203c4a;
  border : 1px solid #203c4a;	
  color : #9eacb4;
}
.nav-tabs
{
 border-bottom:1.88px solid #203c4a;	
}

.dataTables_wrapper .dataTables_length, .dataTables_wrapper .dataTables_filter, 
.dataTables_wrapper .dataTables_info, 
.dataTables_wrapper .dataTables_processing,
 .dataTables_wrapper .dataTables_paginate
{
  color : #1C6EA7;
 
}
.table-striped>tbody>tr:nth-of-type(odd) {
    background-color: rgba(39, 76, 95, 0.64);
}
.table {
    border: 1px solid #666;
}
.table-scrollable {
	border: 1px solid #666;	
}
.table-scrollable>.table {
	background-color: #0c1d2b;
}
.portlet.light.bordered {
	background-color:rgba(17, 38, 55, 0.8);
}
table.dataTable td.sorting_1, table.dataTable td.sorting_2, table.dataTable td.sorting_3, table.dataTable th.sorting_1, table.dataTable th.sorting_2, table.dataTable th.sorting_3 {
    background: #35383c!important;
}
 
.pagination>li>a, .pagination>li>span{
color : #337ab7;
background-color : transparent;
border:transparent;
}

.pagination>.active>a, .pagination>.active>a:hover
{
  color : #333;
  background-color : #ffffff;
}

.pagination>li>a:hover
{ 
  color : #ffffff;
  background-color : #2f353b;
}
.pagination>.disabled>a, .pagination>.disabled>a:hover,.pagination>.disabled>span
{
   background-color:transparent;
   color : #1C6EA7;
}
   table.dataTable tbody tr {
    background-color: #1c3a4b;
}
   
</style>
<div class="page-content">

<div class="row">
<div class="col-md-3">
<?php
if( $this->varams["media_type"]=="internasional"){
	$mt = "internasional";
}else{ $mt = "nasional";}
?>
</div>
</div>   

	<div class="row" style="margin-bottom: 20px;">
		<div class="col-md-2 col-sm-2" style="padding-right: 0px;">
			<button type="button" class="nasional btn grey-cascade" onclick="setMT('nasional');" <?php echo ($mt=="internasional"?"style='opacity: .65;'":"")?> >Nasional</button>
			<button type="button" class="internasional btn grey-cascade" onclick="setMT('internasional');" <?php echo ($mt=="nasional"?"style='opacity: .65;'":"")?> >Internasional</button>
		</div>
		<form action="" id="form">
			<div class="col-md-2 col-sm-2">
				<select id="select" style="display:none;" class="form-control " name="reg" data-placeholder="Select..." >
					<option value="" <?php echo($this->varams["reg"]==""?"selected":""); ?>>ALL</option>
					<option value="ASIA" <?php echo($this->varams["reg"]=="ASIA"?"selected":""); ?>>ASIA</option>
					<option value="AFRIKA" <?php echo($this->varams["reg"]=="AFRIKA"?"selected":""); ?>>AFRIKA</option>
					<option value="AMERIKA" <?php echo($this->varams["reg"]=="AMERIKA"?"selected":""); ?>>AMERIKA</option>
					<option value="EROPA" <?php echo($this->varams["reg"]=="EROPA"?"selected":""); ?>>EROPA</option>
					<option value="AUSTRALIA" <?php echo($this->varams["reg"]=="AUSTRALIA"?"selected":""); ?>>AUSTRALIA</option>
				</select>
			</div>
			<div class="col-md-8 col-sm-8">
				<input class="form-control hidden" id="skey" name="search" placeholder="skey" value="<?php echo $this->varams["search"]; ?>">
				<input class="form-control hidden" id="is_sentiment" name="is_sentiment" placeholder="is_sentiment" value="<?php echo $this->varams["is_sentiment"]; ?>">
				<input class="form-control hidden" id="media_type" name="media_type" value="<?php echo $this->varams["media_type"]; ?>">
				<div class="col-md-5 col-sm-5">
					<select class="form-control input-large select2me" data-placeholder="Select..." id="cat" name="cat">
						<option value="">ALL</option>
						<?php 
						foreach ($this->cat as $k=>$v) {
						echo '<option value="'.$v.'" '.(isset($this->varams["cat"]) && $this->varams["cat"]!="" && $this->varams["cat"]==$v?"selected":"").'>'.$k.'</option>';    
						}
						?>
					</select>
				</div>				
				<div class="col-md-5 col-sm-5">
					<div id="datepicker3" class="input-group input-large date-picker input-daterange" data-date="10/11/2012" data-date-format="yyyy-mm-dd">
						<input id="from" type="text" class="form-control" name="startdate" value='<?php echo $this->varams["startdate"]; ?>'>
						<span class="input-group-addon"> to </span>
						<input id="to" type="text" class="form-control" name="enddate" value='<?php echo $this->varams["enddate"]; ?>'>
					</div>    
				</div>		
				<div class="col-md-2 col-sm-2" style="padding: 0px;">
				<button class="btn btn-circle red-sunglo" type="reset" onclick="resetSubmit();">Hapus</button>
				<button class="btn btn-circle blue-madison">Filter</button>
				</div>
			</div>
		</form>
	</div>

<div class="row">
<div class="col-md-3">
	<div class="portlet light" style="background-color:rgba(17, 38, 55, 0.8);">
		<div class="portlet-title">
			<div class="caption font-white">
				Laporan
			</div>
			<div class="actions">
				<a href="javascript:;" class="btn btn-primary btn-sm" onclick="getCloud('laporan');">
					<i class="fa fa-refresh"></i></a>
			</div>
		</div>
		<div class="portlet-body" id="laporan">
		</div>
	</div>
	<div class="portlet light" style="background-color:rgba(17, 38, 55, 0.8);">
		<div class="portlet-title">
			<div class="caption font-white">
				Media Digital
			</div>
			<div class="actions">
				<a href="javascript:;" class="btn btn-primary btn-sm" onclick="getCloud('digmed');">
					<i class="fa fa-refresh"></i></a>
			</div>
		</div>
		<div class="portlet-body">
			<div id="digmed" style="height:100px;"></div>
		</div>
	</div>
	<div class="portlet light" style="background-color:rgba(17, 38, 55, 0.8);">
		<div class="portlet-title">
			<div class="caption font-white">
				Media Sosial
			</div>
			<div class="actions">
				<a href="javascript:;" class="btn btn-primary btn-sm" onclick="getCloud('socmed');"> 
					<i class="fa fa-refresh"></i></a>
			</div>
		</div>
		<div class="portlet-body">
			<div id="socmed" style="height:100px;"></div>
		</div>
	</div>
</div>

<div class="col-md-9">
	<div class="row">
		<div class="col-md-12">
			<div class="portlet">
				<div class="portlet-body">
					<div id="gmap_marker" class="gmaps"></div>
				</div>
			</div>
		</div>
		<!--div class="col-md-4">
			<div class="portlet light" style="background-color:rgba(17, 38, 55, 0.8);">
				<div class="portlet-title">
					<div class="caption">
						Laporan Terkini
					</div>
					<div class="actions">
						<a href="javascript:;" class="btn btn-primary btn-sm" onclick="getLapterkini();"> 
							<i class="fa fa-refresh"></i></a>
					</div>
				</div>				
				<div class="portlet-body" id="chats">
					<div class="scroller" style="height: 190px;" data-always-visible="1" data-rail-visible1="1" id="lapterkini"></div>
				</div>
			</div>
		</div-->
	</div>
	<div class="row">
		<div class="col-md-6">
			<div class="portlet light" style="background-color:rgba(17, 38, 55, 0.8);">
				<div class="portlet-title">
					<div class="caption font-white">
						Sentimen
					</div>
					<div class="actions">
						<a href="javascript:;" class="btn btn-primary btn-sm" onclick="getSentiment();">
							<i class="fa fa-refresh"></i></a>
					</div>
				</div>
				<div class="portlet-body" id="sentiment">
				</div>
			</div>
		</div>
		<div class="col-md-6">
			<div class="portlet light" style="background-color:rgba(17, 38, 55, 0.8);">
				<div class="portlet-title">
					<div class="caption font-white">
						Tren Line
					</div>
					<div class="actions">
						<a href="javascript:;" class="btn btn-primary btn-sm" onclick="getTrendline();">
							<i class="fa fa-refresh"></i></a>
					</div>
				</div>
				<div class="portlet-body" id="trendline">					
				</div>
			</div>
		</div>
	</div>
</div>

</div>
<div class="row">
	<div class="col-md-12">
		<div class="portlet light" style="background-color:rgba(17, 38, 55, 0.8);">
			<div class="portlet-title" style="border-bottom: none;">
				<div class="caption font-white">
					RINGKASAN
				</div>
				<div class="actions">
					<a href="javascript:;" class="btn btn-primary btn-sm" >
						<i class="fa fa-refresh"></i></a>
				</div>
			</div>
			<div class="portlet light navtab">
					<ul class="nav nav-tabs">
						<li class="active">
							<a href="#who" data-toggle="tab">SIAPA</a>
						</li>
						<li>
							<a href="#when" data-toggle="tab">BILAMANA </a>
						</li>
						<li>
							<a href="#where" data-toggle="tab">DIMANA </a>
						</li>
						<li>
							<a href="#what" data-toggle="tab">APA </a>
						</li>
						<li>
							<a href="#why" data-toggle="tab">MENGAPA </a>
						</li>
						<li>
							<a href="#how" data-toggle="tab">BAGAIMANA</a>
						</li>
					</ul>
					<div class="tab-content">
						<div class="tab-pane active" id="who">
							<table class="table table-striped table-bordered table-hover" id="table_who">
								<thead>
								<tr>
									<th width="20">No</th>  
									<th>Siapa</th>
								</tr>
								</thead>
								<tbody>
									<tr>			
										<td style="background-color: transparent;">1</td>
										<td><a href="/analis/profile/profile?nik=3213291105100012&kk=3213292503064618"><font color="white">M. Rofi Fahrudin</font></a></td>
									</tr>
									<tr>
										<td style="background-color: transparent;">2</td>
										<td><a href="/analis/profile/profile?nik=3213291711630007&kk=3213292503064618"><font color="white">Muryanto</font></a></td>									
									</tr>
									<tr>
										<td style="background-color: transparent;">3</td>
										<td><a href="/analis/profile/profile?nik=3212152604960010&kk=3212150306091568"><font color="white">Adi Adhari A. Nugraha</font></a></td>
									</tr>
									<tr>
										<td style="background-color: transparent;">4</td>
										<td><a href="/analis/profile/profile?nik=3274030605660007&kk=3274032604070112"><font color="white">Murad Abdullah</font></a></td>
									</tr>
									<tr>
										<td style="background-color: transparent;">5</td>
										<td><a href="/analis/profile/profile?nik=3274035505360001&kk=3274032604070112"><font color="white">Suaedi</font></a></td>
									</tr>
									<tr>
										<td style="background-color: transparent;">6</td>
										<td><a href="/analis/profile/profile?nik=3302242307490001&kk=3302242202056963"><font color="white">Badrul Himam Mufid</font></a></td>
									</tr>
								</tbody>
							</table>
						</div>

						<div class="tab-pane" id="when">
							<table class="table">
								<tbody>
									<tr>
										<td><font color="white">Senin, 10 Okt 2016</font></td>
									</tr>
									<tr>
										<td><font color="white">Rabu</font></td>
									</tr>
									<tr>
										<td><font color="white">Sabtu 15/10/16</font></td>
									</tr>
								</tbody>
							</table>
						</div>

						<div class="tab-pane" id="where">
							<table class="table">
								<tbody>
									<tr>
										<td><font color="white">Kota Cirebon</font></td>
									</tr>
									<tr>
										<td><font color="white">Purbalingga</font></td>
									</tr>
									<tr>
										<td><font color="white">Surabaya</font></td>
									</tr>
									<tr>
										<td><font color="white">Banda Aceh</font></td>
									</tr>
									<tr>
										<td><font color="white">Jakarta</font></td>
									</tr>
									<tr>
										<td><font color="white">Bandung</font></td>
									</tr>
								</tbody>
							</table>
						</div>
						<div class="tab-pane " id="what">
							

						</div>
						<div class="tab-pane" id="why">
							
						</div>
						<div class="tab-pane" id="how">
							

						</div>
					</div>
				</div>
		</div>
	</div>
</div>

<div class="row">
<div class="col-md-4">
<div class="portlet light " style="background-color:rgba(17, 38, 55, 0.8);">
     <div class="portlet-title" style="height:10px;">
		<div class="caption">
			<i class="icon-equalizer font-dark hide"></i>
			<span class="caption-subject font-dark bold uppercase" ><font color="white">Laporan Terbaru</font></span>
		</div>
		<div class="tools">
			<a href="" class="collapse" data-original-title="" title=""> </a>
		</div>
		<div class="actions">
			<a href="javascript:;" class="btn btn-primary btn-sm" onclick="getLatest('lap');">
				<i class="fa fa-refresh"></i></a>
		</div>
	</div>
	<div class="portlet-body">
		<div class="scroller" id="l_lap" style="height: 525px;" data-always-visible="1" data-rail-visible1="1">
		</div>
	</div>
</div>
</div>

<div class="col-md-4">
<div class="portlet light " style="background-color:rgba(17, 38, 55, 0.8);">
     <div class="portlet-title">
		<div class="caption">
			<i class="icon-equalizer font-dark hide"></i>
			<span class="caption-subject font-dark bold uppercase"><font color="white">Berita Terbaru</font></span>
		</div>
		<div class="tools">
			<a href="" class="collapse" data-original-title="" title=""> </a>
		</div>
		<div class="actions">
			<a href="javascript:;" class="btn btn-primary btn-sm" onclick="getLatest('news');">
				<i class="fa fa-refresh"></i></a>
		</div>
	</div>
	<div class="portlet-body">
		<div class="scroller" id="l_news" style="height: 525px;" data-always-visible="1" data-rail-visible1="1">
		</div>
		
	</div>
</div>
</div>
<div class="col-md-4">
<div class="portlet light " style="background-color:rgba(17, 38, 55, 0.8);">
     <div class="portlet-title">   
		<div class="caption">
			<i class="icon-equalizer font-dark hide"></i>
			<span class="caption-subject font-dark bold uppercase"><font color="white">Media Sosial Terbaru</font></span>
		</div>
		<div class="tools">
			<a href="" class="collapse" data-original-title="" title=""> </a>
		</div>
		<div class="actions">
			<a href="javascript:;" class="btn btn-primary btn-sm" onclick="getLatest('socmed');">
				<i class="fa fa-refresh"></i></a>
		</div>
	</div>
	<div class="portlet-body" id="chats">
		<div class="scroller" id="l_socmed" style="height: 525px;" data-always-visible="1" data-rail-visible1="1">
		</div>
		
	</div>
</div>
</div>

</div>







	
</div>
<script>
var words = {};
var map;
function resetSubmit(){
	// setTimeout(function(){ location.href = "/analis/home"; }, 500);
	getCloud("laporan");
	getCloud("digmed");
	getCloud("socmed");
	// getLapterkini();
	getSentiment();
	getTrendline();
	getLatest("lap","","");
	getLatest("news","","");
	getLatest("socmed","","");
}
function setMT(mt){
//style="opacity: .5;"
	
	// console.log(mt);
	$("#media_type").val(mt);
	// console.log($("#media_type").val());
	$("#form").submit();
}
function getCloud(t,sdate="",edate=""){

App.blockUI({target:"#"+t,boxed:!0});

// var formData = $("#form").serialize();
var formData = {};

var param ="";
param +="t="+t;
param +="&skey="+$("#skey").val();
param += "&cat="+$("#cat").val();
param += "&is_mediatype="+$("#media_type").val();

if(sdate!="" && edate!=""){
	param += "&d1="+sdate+"&d2="+edate;	
	param +="&is_sentiment="+$("#is_sentiment").val();
} else {	
	$("#is_sentiment").val("");
	param +="&d1="+$("#from").val()+"&d2="+$("#to").val();
	param +="&is_sentiment="+$("#is_sentiment").val();
}
// param += is_se;
// param += sedate;


$.ajax({  
	type: "GET",
	url: '/analis/ajaxhome/wordcloud/ajax/1?'+param,
	data: formData, //last_id kita berarti 15
	dataType: "html",  //sesuai keinginan, di sini saya pengen ngambil langsung data dalam bentuk html langsung dari file data_per_load.php
	success: function(data){
		// console.log(data);
		$("#"+t).html(data);
		App.unblockUI("#"+t);
	}
});
	
}
function getLapterkini(){
	
	
App.blockUI({target:"#lapterkini",boxed:!0});

$.ajax({  
	type: "GET",
	url: '/analis/ajaxhome/lapterkini/',
	data: {}, //last_id kita berarti 15
	dataType: "html",  //sesuai keinginan, di sini saya pengen ngambil langsung data dalam bentuk html langsung dari file data_per_load.php
	success: function(data){
		// console.log(data);
		$("#lapterkini").html(data);
		App.unblockUI("#lapterkini");
	}
});

}
function getSentiment(sdate="",edate="",l=""){

var formData = {};
var param ="";
param +="&skey="+$("#skey").val();
param += "&cat="+$("#cat").val();
param += "&is_mediatype="+$("#media_type").val();
param += "&t="+l;

if(sdate!="" && edate!=""){
	param += "&d1="+sdate+"&d2="+edate;	
	param +="&is_sentiment="+$("#is_sentiment").val();
} else {	
	$("#is_sentiment").val("");
	param +="&d1="+$("#from").val()+"&d2="+$("#to").val();
	param +="&is_sentiment="+$("#is_sentiment").val();
}
	
App.blockUI({target:"#sentiment",boxed:!0});

//var formData = $("#form").serialize();

$.ajax({  
	type: "GET",
	url: '/analis/ajaxhome/sentiment?'+param,
	data: formData, //last_id kita berarti 15
	dataType: "html",  //sesuai keinginan, di sini saya pengen ngambil langsung data dalam bentuk html langsung dari file data_per_load.php
	success: function(data){
		// console.log(data);
		$("#sentiment").html(data);
		App.unblockUI("#sentiment");
	}
});

}
function getTrendline(sdate="",edate=""){

App.blockUI({target:"#trendline",boxed:!0});

var formData = {};
var param ="";
param +="&skey="+$("#skey").val();
param += "&cat="+$("#cat").val();
param += "&is_mediatype="+$("#media_type").val();

if(sdate!="" && edate!=""){
	// console.log("t");
	param += "&d1="+sdate+"&d2="+edate;	
	param +="&is_sentiment="+$("#is_sentiment").val();
} else {
	// console.log("f");
	$("#is_sentiment").val("");
	param +="&d1="+$("#from").val()+"&d2="+$("#to").val();
	param +="&is_sentiment="+$("#is_sentiment").val();
}	

// console.log(param);

$.ajax({  
	type: "GET",
	url: '/analis/ajaxhome/trendline?'+param,
	data: formData, //last_id kita berarti 15
	dataType: "html",  //sesuai keinginan, di sini saya pengen ngambil langsung data dalam bentuk html langsung dari file data_per_load.php
	success: function(data){
		// console.log(data);
		$("#trendline").html(data);
		App.unblockUI("#trendline");
	}
});

}
function getLatest(l,sdate="",edate=""){

App.blockUI({target:"#l_"+l,boxed:!0});

// var formData = $("#form").serialize();
var formData = {};
var param = "";
param +="";
param +="l="+l;
param +="&skey="+$("#skey").val();
param += "&cat="+$("#cat").val();
param += "&is_mediatype="+$("#media_type").val();

if(sdate!="" && edate!=""){
	param += "&d1="+sdate+"&d2="+edate;	
	param +="&is_sentiment="+$("#is_sentiment").val();
} else {	
	$("#is_sentiment").val("");
	param +="&d1="+$("#from").val()+"&d2="+$("#to").val();
	param +="&is_sentiment="+$("#is_sentiment").val();
}

$.ajax({  
	type: "GET",
	url: '/analis/ajaxhome/latest?'+param,
	data: formData, //last_id kita berarti 15
	dataType: "html",  //sesuai keinginan, di sini saya pengen ngambil langsung data dalam bentuk html langsung dari file data_per_load.php
	success: function(data){
		 // console.log(data);
		$("#l_"+l).html(data);
		App.unblockUI("#l_"+l);
	}
});
	
	
}
function getExtract(me){
	
App.blockUI({target:"#div-extract",boxed:!0});

var formData = {}
var param = "";
param +="&entity="+$(me).data("entity");;
param +="&id="+$(me).data("id");;

$.ajax({  
	type: "GET",
	url: '/analis/ajaxhome/extract?'+param,
	data: formData, //last_id kita berarti 15
	dataType: "html",  //sesuai keinginan, di sini saya pengen ngambil langsung data dalam bentuk html langsung dari file data_per_load.php
	success: function(data){
		 // console.log(data);
		$("#div-extract").html(data);
		App.unblockUI("#div-extract");
	}
});
}
jQuery(document).ready(function(){

$('#table_who').dataTable({
		"aoColumns": [
			null,null,
		],
		"aLengthMenu": [
			[5, 10, 20, -1],
			[5, 10, 20, "All"] // change per page values here
		],
		 "order": [
			[0, 'asc']
			],

		// set the initial value
		"iDisplayLength": 5,
		//"sPaginationType": "bootstrap",
		"oLanguage": {
			"sLengthMenu": "_MENU_ records",
			"oPaginate": {
				"sPrevious": "Prev",
				"sNext": "Next"
			}
		},
		buttons: [
		],
		 "dom": "<'row' <'col-md-12'B>><'row'<'col-md-6 col-sm-12'l><'col-md-6 col-sm-12'f>r><'table-scrollable't><'row'<'col-md-5 col-sm-12'i><'col-md-7 col-sm-12'p>>", 
		"aoColumnDefs": [{
				'bSortable': false,
				'aTargets': [0]
			}
		]
	});

var param = <?php echo json_encode($this->varams["media_type"]); ?>;
// console.log(param);
if(param=='internasional'){
		$("#select").show();
	}
$( ".date-picker" ).datepicker({ minDate: -20, maxDate: "+1M +10D" });
getCloud("laporan");
getCloud("digmed");
getCloud("socmed");
// getLapterkini();
getSentiment("");
getTrendline();
getLatest("lap","","");
getLatest("news","","");
getLatest("socmed","","");

map = new GMaps({
	div: '#gmap_marker',
   lat: -1.131695, 
	lng: 119.503078,
});
map.addMarker({
   lat: -1.131695, 
	lng: 119.503078,
	title: 'Lima',
	details: {
		database_id: 42,
		author: 'HPNeo'
	},
	click: function (e) {
		if (console.log) console.log(e);
		alert('You clicked in this marker');
	}
});

map.setZoom(4);
map.setOptions({ minZoom: 2, maxZoom: 15,mapTypeId: google.maps.MapTypeId.SATELLITE });


});
</script>