<h1>TEST</h1>

<?php 

$result=  file_get_contents('http://10.62.165.147/post_tab_dev.php'); //die();
//Zend_Debug::dump($this->dataVV);

?>



<script type='text/javascript' src='http://10.62.175.37:8081/javascripts/api/viz_v1.js'></script><div class='tableauPlaceholder' style='width: 1004px; height: 804px;'><object class='tableauViz' width='1004' height='804' style='display:none;'><param name='host_url' value='http%3A%2F%2F10.62.175.37%3A8081%2F' /> <param name='site_root' value='' /><param name='name' value='Book3_1&#47;DashboardCustomer' /><param name='tabs' value='no' /><param name='toolbar' value='no' /><param name="ticket" value="<?php echo $result; ?>"></object></div>
