<?php
	
	$params=array();
	
	
?>

<div class="m-grid__item m-grid__item--fluid m-wrapper">
	<div class="m-subheader ">
		<div class="d-flex align-items-center">
			<div class="mr-auto">
				<h3 class="m-subheader__title m-subheader__title--separator">
					Big Action
				</h3>
				<ul class="m-subheader__breadcrumbs m-nav m-nav--inline">
					<li class="m-nav__item m-nav__item--home">
						<a href="/" class="m-nav__link m-nav__link--icon">
							<i class="m-nav__link-icon la la-home"></i>
						</a>
					</li>
					<li class="m-nav__separator">
						-
					</li>
					<li class="m-nav__item">
						<a href="#" class="m-nav__link">
							<span class="m-nav__link-text">
								Big Action
							</span>
						</a>
					</li>
					<li class="m-nav__separator">
						-
					</li>
					<li class="m-nav__item">
						<a href="" class="m-nav__link">
							<span class="m-nav__link-text">
								Action Discovery
							</span>
						</a>
					</li>
					
				</ul>
			</div>
			
		</div>
	</div>
	<div class="m-content">
		<!--::Portlet-->
			<div class="m-portlet">
				<div class="m-portlet__head">
					<div class="m-portlet__head-caption">
						<div class="m-portlet__head-title">
							<h3 class="m-portlet__head-text">
								Action Discovery 
								<small>Search, view and edit Action of some API</small>
							</h3>
							
						</div>
					</div>
					<div class="m-portlet__head-tools">
						<div class="btn-group" role="group" aria-label="Button group with nested dropdown">
							<a href="/bigbox/bigaction/addaction" type="button" class="m-btn btn btn-success">
								<i class="fa fa-plus"></i> Add New
							</a>
							<button type="button" class="m-btn btn btn-success" id='reload'>
								<i class="fa fa-refresh"></i> Reload
							</button>
							<div class="btn-group" role="group">
								<button id="btnGroupDrop1" type="button" class="btn  dropdown-toggle btn-success" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
									Column
								</button>
								<div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
									<label class="dropdown-item"><input type="checkbox" checked="" data-column="0"> No</label>
									<label class="dropdown-item"><input type="checkbox" checked="" data-column="1"> ID</label>
									<label class="dropdown-item"><input type="checkbox" checked="" data-column="2"> Name Alias</label>
								</div>
							</div>
						</div>
					</div>
				</div>
					
				<div class="m-portlet__body">
					<!--begin: Search Form -->
					<div class="m-form m-form--label-align-right m--margin-top-20 m--margin-bottom-30">
						<div class="row align-items-center">
							<div class="col-xl-8 order-2 order-xl-1">
								<div class="form-group m-form__group row align-items-center">
									<div class="col-md-4">
										<div class="m-input-icon m-input-icon--left">
											<input type="text" class="form-control m-input" placeholder="Search..." id="generalSearch">
											<span class="m-input-icon__icon m-input-icon__icon--left">
												<span>
													<i class="la la-search"></i>
												</span>
											</span>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<!--end: Search Form -->
					<div class="m_datatable" id="listpage" width="100%"></div>
				</div>
			</div>
			<!--end::Portlet-->
	</div>
	<!-- static -->
	<div id="static" class="modal fade" tabindex="-1" data-backdrop="static" data-keyboard="false" role="dialog" aria-labelledby="addListapi" aria-hidden="true">
		<div class="modal-dialog modal-lg"" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<div class="caption">
					Are you sure to delete this api?
				</div>
				<div class="tools">
				</div>
				<button type="button" class="close reload" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">
						&times;
					</span>
				</button>
			</div>
			<div class="modal-body">
				<div class="m-alert m-alert--icon alert alert-danger m--hide" role="alert" id="alertinfo2">
					<div class="m-alert__icon">
						<i class="la la-warning"></i>
					</div>
					<div class="m-alert__text">
						<span id="alertmsg"><strong>Warning!</strong> Something went wrong. Please check.</span>
					</div>
					<div class="m-alert__close">
						<button type="button" class="close" data-close="alert" aria-label="Close"></button>
					</div>
				</div>
				
				<div class='m--hide' id="processbar">
					<div class="progress">
						<div class="progress-bar progress-bar-striped progress-bar-animated " role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
							<span class="sr-only">
								On Process
							</span>
						</div>
					</div>
					<span style="margin:0px auto;">Please wait...processing request</span>
				</div>
				<table>
					<tr>
						<td>
							 ID
						</td>
						<td>
							 :
						</td>
						<td id="static_id">
							 
						</td>
					</tr>
				</table>
			</div>
			<div class="modal-footer">
				<button type="button" data-dismiss="modal" class="btn btn-accent">Cancel</button>
				<button type="button" id="deleteconfirm" class="btn btn-danger">Yes</button>
			</div>
		</div>
		
		</div>
		<!--div class="modal-footer" style="margin-top:0px">
			
		</div-->
	</div>
	
</div>


<script>

function changeType(me){
	var $me = $(me);
	var $val = $me.val();
	//alert($val);
	var $element = $('.getmodel');
	var next = $element.next('span.help-block'); 
	var con = $('#conname').val();
	//var con = $('#conname').val();
	//alert(con);
	
	if($val == 4){
	
	$.ajax({
		url:"/prabajax/getmodels/xxxid/"+$val,
		content:'json',
		type:'get',
		beforeSend:function(){
			$element.hide();
			$(next).children('span.label').html('<i class="fa fa-coffee"></i>&nbsp;Retrieve data...');
			$($element).next().slideDown();
		},
		complete:function(result){
					
		},
		success: function(data){
			$($element).next().hide();
			$element.html(data);
			$element.slideDown();
		},
		error:function(){
			$(next).children('span.label').html('<i class="fa fa-warning"></i>&nbsp;Failed to retrieve data.');
		}
		});
	} else if($val == 2||$val == 3 ) { 
				
				$.ajax({
					url:"/prabajax/getmodels/xxxid/"+$val+'/conn/'+con,
					content:'json',
					type:'get',
					beforeSend:function(){
						$element.hide();
						$(next).children('span.label').html('<i class="fa fa-coffee"></i>&nbsp;Retrieve data...');
						$($element).next().slideDown();
					},
					complete:function(result){
								
					},
					success: function(data){
						$($element).next().hide();
						$element.html(data);
						$element.slideDown();
					},
					error:function(){
						$(next).children('span.label').html('<i class="fa fa-warning"></i>&nbsp;Failed to retrieve data.');
					}
					});
	} else {
		$('.resType').hide();
	}
	
}
function changeMethod(me){
	var $me = $(me);
	var $val = $me.val();
	var $model = $('#model').val();
	
	//alert($isi);
	
	var apitype = $('#apitype').val();	
	if (apitype =='4') {
		var $isi = ""+$model + "::"+ $val;
	} else {
		var $isi = $val+"(:in1, :in2, ...)";
		}
	$('#sqltext').html($isi);
	//alert($model);
}



function changeApimode(me){
	var $me = $(me);
	var $val = $me.val();
	
	if($val == '2' || $val == '3'  ) 
	{
		$('#divapimode').show();	
	} else {
		$('#divapimode').hide();	
		}
		
	
}

function changeModel(me){
	
	
	var $me = $(me);
	var $val = $me.val();
	var $element = $('#method');
	var next = $element.next('span.help-block'); 
	var con = $('#conname').val();	
	var apitype = $('#apitype').val();	
	
	$.ajax({
		url:"/prabajax/getmethods/xxxid/"+$val+'/conn/'+con + '/apitype/' + apitype,
		content:'json',
		type:'get',
		beforeSend:function(){
			$element.hide();
			$(next).children('span.label').html('<i class="fa fa-coffee"></i>&nbsp;Retrieve data...');
			$($element).next().slideDown();
		},
		complete:function(result){
					
		},
		success: function(data){
			$($element).next().hide();
			$element.html(data);
			
			
			
			$element.slideDown();
		},
		error:function(){
			$(next).children('span.label').html('<i class="fa fa-warning"></i>&nbsp;Failed to retrieve data.');
		}
		});
}


jQuery(document).ready(function() {
$('body').addClass('page-header-fixed page-sidebar-fixed page-footer-fixed');
App.init();

$( "#testig" ).click(function() {
 $.ajax({
		
		url:"/prabajax/tesapi",
		content:'html',
		type:'post',
		data:$('form#addapi').serialize(),
		
		complete:function(result){
					
		},
		success: function(result){
			//alert("ok");
			//var jsonObj = $.parseJSON('[' + result + ']');
			//alert (jsonObj); 
			//console.log(result);
			
			
			$('#outputsqltext').html(result);
				$.ajax({
				
				url:"/prabajax/getout",
				content:'html',
				type:'post',
				data:$('form#addapi').serialize(),
				
				complete:function(data){
							
				},
				success: function(data){
					//alert("ok");
					//var jsonObj = $.parseJSON('[' + result + ']');
					//alert (jsonObj); 
					//console.log(result);
					
					//	$outputsqltext.html(result);
					$('#arrayout').html(data);
					
					
					
				},
				error:function(){
					$(next).children('span.label').html('<i class="fa fa-warning"></i>&nbsp;Failed to retrieve data.');
				}
				});
				
			
			
			
		},
		error:function(){
			$(next).children('span.label').html('<i class="fa fa-warning"></i>&nbsp;Failed to retrieve data.');
		}
		});
		
		
		
		
});

  jQuery('#user_table_wrapper .dataTables_filter input').addClass("form-control input-medium"); // modify table search input
            jQuery('#user_table_wrapper .dataTables_length select').addClass("form-control input-small"); // modify table per page dropdown

            // handle record edit/remove
            //$('body').on('click', '#graph_table_wrapper .btn-graph', function() {
            //    alert('Edit record with id:' + $(this).attr("data-id"));
            //});

		
		$("input#filterid").keyup( function () {
			/* Filter on the column (the index) of this element */
			oTable.fnFilter( this.value, 1);
		} );
		
		$("input#filterconn").keyup( function () {
			/* Filter on the column (the index) of this element */
			oTable.fnFilter( this.value, 2 );
		} );
		$("input#filtersql").keyup( function () {
			/* Filter on the column (the index) of this element */
			oTable.fnFilter( this.value, 3 );
		} );
		$("input#filterdesc").keyup( function () {
			/* Filter on the column (the index) of this element */
			oTable.fnFilter( this.value, 4 );
		} );
		
		
		$("a.reload").click( function () {
			/* Filter on the column (the index) of this element */
			oTable.fnDraw();
		} );
		
		$('#sample_2_column_toggler input[type="checkbox"]').change(function(){
            /* Get the DataTables object again - this is not a recreation, just a get of the object */
            var iCol = parseInt($(this).attr("data-column"));
            var bVis = oTable.fnSettings().aoColumns[iCol].bVisible;
            oTable.fnSetColumnVis(iCol, (bVis ? false : true));
        });

//FormComponents3.init();
AddApi.init();
$('span.help-block').hide();
});





var AddApi = function () {

	var handleAdd = function() {
		
		$('form#addapi').validate({
	            //errorElement: 'span', //default input error message container
	            //errorClass: 'help-block', // default input error message class
	            focusInvalid: false, // do not focus the last invalid input
	            rules: {
	                sqltext: {
	                    required: true
	                }
	            },

	            messages: {
					
	            },

	            invalidHandler: function (event, validator) { 
				
					$('span.help-block').hide();
	                var errorlist = validator.errorList;
	                if(errorlist.length>0){
						for(var i = 0; i<errorlist.length; i++){
							//console.log(errorlist[i].element);
							var el = errorlist[i].element; 
							var next = $(el).next('span.help-block'); 
							$(next).slideDown();
						}
						$('.modal-scrollable:visible').animate({
							scrollTop: $(el).offset().top
						}, 800);
					}
	            },

	            highlight: function (element) { // hightlight error inputs
	                $(element)
	                    .closest('.form-group').addClass('has-error'); // set error class to the control group
	            },

	            success: function (label) {
	                label.closest('.form-group').removeClass('has-error');
	                //label.remove();
	            },

	            errorPlacement: function (error, element) {
					$('span.help-block').hide();
					var next = element.next('span.help-block'); 
					//console.log(error);
	                if(error[0].textContent!=""){
						$(next).children('span.label').html("<i class='fa fa-warning'></i> "+ error[0].textContent);
						$(element).next().slideDown();
						$('.modal-scrollable:visible').animate({
							scrollTop: $(element).offset().top
						}, 800);
					}
	            },

	            submitHandler: function (form) {
					$('#alertinfo').addClass('hidden');
					$('span.help-block').hide();
					$('.form-group').removeClass('has-error');
	                //form.submit(); // form validation success, call ajax form submit
	                submitForm();
	                return false;
	            }
	        });

	        $('form#addapi input').keypress(function (e) {
	            if (e.which == 13) {
					$('span.help-block').hide();
					$('.form-group').removeClass('has-error');
	                if ($('form#addapi').validate().form()) {
	                   //$('form#addapi').submit(); //form validation success, call ajax form submit
	                   submitForm();
	                }
	                return false;
	            }
	        });
	}
	
	var submitForm = function(){
		//console.log($('form#addapi').serialize());
		$.ajax({
			url:"/prabajax/addapi",
			content:'json',
			type:'post',
			data:$('form#addapi').serialize(),
			beforeSend:function(){
				$('#alertinfo').addClass('hidden');
				$('#processbar').removeClass('hidden');
				$('.modal-scrollable:visible').animate({
					scrollTop: $('#formtitle').offset().top
				}, 800);
				$('#alertinfo').removeClass('alert-success');
				$('#alertinfo').removeClass('alert-warning');
				$('#alertinfo').removeClass('alert-danger');
				$('#alertinfo').removeClass('alert-info');
			},
			complete:function(result){
				$('#processbar').addClass('hidden');
			},
			success: function(data){
				//console.log(data);
				if(data.result!=undefined){
					if(data.result==true){
						$('#alertinfo').addClass('alert-success');
						$('#alertmsg').html("<strong>Success!</strong> "+data.retMsg);
						//resetForm();
					}else{
						$('#alertinfo').addClass('alert-warning');
						$('#alertmsg').html("<strong>Failed!</strong> "+data.retMsg);
					}
				}else{
					$('#alertinfo').addClass('alert-info');
					$('#alertmsg').html("<strong>Error!</strong> System is busy, please try again.");
				}
				$('#alertinfo').removeClass('hidden');
				
			},
			error:function(){
				$('#alertinfo').addClass('alert-info');
				$('#alertmsg').html("<strong>Error!</strong> System is busy, please try again.");
				$('#alertinfo').removeClass('hidden');
			}
		});
	}
	
	

	var resetForm = function(){
		//$('input','form#addapi')
			//.not(':button, :submit, :reset, :hidden')
			//.val('');
			
		$('select,option','form#addapi')
			//.removeAttr('checked')
		    //.removeAttr('selected');
		
		$('.make-switch').bootstrapSwitch('setState',false);
		
		$('.ms-selectable').find('li').removeClass('ms-selected');
		$('.ms-selection').find('li').removeClass('ms-hover');
		$('.ms-selectable').find('li').removeAttr('style');
		
		$('.ms-selection').find('li').removeClass('ms-selected');
		$('.ms-selection').find('li').removeClass('ms-hover');
		$('.ms-selection').find('li').css({display:'none'});
	}
    
    return {
        //main function to initiate the module
        init: function () {
            handleAdd();
        }

    };

}();




var EditApi = function () {

	var handleAdd = function() {

		$('form#addapi').validate({
	            //errorElement: 'span', //default input error message container
	            //errorClass: 'help-block', // default input error message class
	            focusInvalid: false, // do not focus the last invalid input
	            rules: {
	                uname: {
	                    required: true
	                },
	                fullname: {
	                    required: true
	                },
	                pass: {
	                    required: true
	                },
	                email: {
	                    email: true
	                }
	            },

	            messages: {
					
	            },

	            invalidHandler: function (event, validator) { //display error alert on form submit   
	                //$('.alert-danger', $('.login-form')).show();
	                //console.log(event);
	                //console.log(validator);
	                
					//$('span.help-block').show();
					$('span.help-block').hide();
	                var errorlist = validator.errorList;
	                if(errorlist.length>0){
						for(var i = 0; i<errorlist.length; i++){
							//console.log(errorlist[i].element);
							var el = errorlist[i].element; 
							var next = $(el).next('span.help-block'); 
							$(next).slideDown();
						}
						$('html,body').animate({
							scrollTop: $(el).offset().top-100
						}, 800);
					}
	            },

	            highlight: function (element) { // hightlight error inputs
	                $(element)
	                    .closest('.form-group').addClass('has-error'); // set error class to the control group
	            },

	            success: function (label) {
	                label.closest('.form-group').removeClass('has-error');
	                //label.remove();
	            },

	            errorPlacement: function (error, element) {
					$('span.help-block').hide();
					var next = element.next('span.help-block'); 
					//console.log(error);
	                if(error[0].textContent!=""){
						$(next).children('span.label').html("<i class='fa fa-warning'></i> "+ error[0].textContent);
						$(element).next().slideDown();
						$('html,body').animate({
							scrollTop: $(element).offset().top-100
						}, 800);
					}
	            },

	            submitHandler: function (form) {
					$('span.help-block').hide();
					$('.form-group').removeClass('has-error');
	                //form.submit(); // form validation success, call ajax form submit
	                submitForm();
	                return false;
	            }
	        });

	        $('form#addapi input').keypress(function (e) {
	            if (e.which == 13) {
					$('span.help-block').hide();
					$('.form-group').removeClass('has-error');
	                if ($('form#addapi').validate().form()) {
	                   //$('form#addapi').submit(); //form validation success, call ajax form submit
	                   submitForm();
	                }
	                return false;
	            }
	        });
	}
	
	var submitForm = function(){
		//console.log($('form#addapi').serialize());
		$.ajax({
			url:"/prabajax/addapi",
			content:'json',
			type:'post',
			data:$('form#addapi').serialize(),
			beforeSend:function(){
				$('#alertinfo').addClass('hidden');
				$('#processbar').removeClass('hidden');
				$('html,body').animate({
					scrollTop: $('h3.page-title').offset().top
				}, 800);
				$('#alertinfo').removeClass('alert-success');
				$('#alertinfo').removeClass('alert-warning');
				$('#alertinfo').removeClass('alert-danger');
				$('#alertinfo').removeClass('alert-info');
			},
			complete:function(result){
				$('#processbar').addClass('hidden');
			},
			success: function(data){
				//console.log(data);
				if(data.result!=undefined){
					if(data.result==true){
						$('#alertinfo').addClass('alert-success');
						$('#alertmsg').html("<strong>Success!</strong> "+data.retMsg);
					}else{
						$('#alertinfo').addClass('alert-warning');
						$('#alertmsg').html("<strong>Failed!</strong> "+data.retMsg);
					}
				}else{
					$('#alertinfo').addClass('alert-info');
					$('#alertmsg').html("<strong>Error!</strong> System is busy, please try again.");
				}
				$('#alertinfo').removeClass('hidden');
			},
			error:function(){
				$('#alertinfo').addClass('alert-info');
				$('#alertmsg').html("<strong>Error!</strong> System is busy, please try again.");
				$('#alertinfo').removeClass('hidden');
			}
		});
	}
	
	

	var resetForm = function(){
		$('input','form#addapi')
			.not(':button, :submit, :reset, :hidden')
			.val('');
			
		$('select,option','form#addapi')
			.removeAttr('checked')
			.removeAttr('selected');
		
		$('.make-switch').bootstrapSwitch('setState',false);
		
		$('.ms-selectable').find('li').removeClass('ms-selected');
		$('.ms-selection').find('li').removeClass('ms-hover');
		$('.ms-selectable').find('li').removeAttr('style');
		
		$('.ms-selection').find('li').removeClass('ms-selected');
		$('.ms-selection').find('li').removeClass('ms-hover');
		$('.ms-selection').find('li').css({display:'none'});
	}
    
    return {
        //main function to initiate the module
        init: function () {
            handleAdd();
        }

    };

}();

</script>
