<?php
try{
	$params = Zend_Controller_Front::getInstance()->getRequest()->getParams();
	$control=  Zend_Controller_Front::getInstance()->getRequest()->getControllerName();
	$act=  Zend_Controller_Front::getInstance()->getRequest()->getActionName();
}catch(Exception $e){
	
}
?>     <!-- BEGIN CONTAINER -->
        <div class="wrapper">
			<!-- BEGIN HEADER -->
			<?php 
			if($control!='error' && ($control!='public' && $act!='login' && $act!='loginsoft')){
			echo $this->action('header', 'general', 'default', array('app'=>$params['module'], 'layout'=>'5'));
			?>
            <!-- END HEADER -->
            <div class="container-fluid">
                 <?php 
							echo $this->layout()->content;
							?>
                <!-- BEGIN FOOTER -->
              <?php echo $this->action('footer', 'general', 'default', array('app'=>$params['module']));?>
                <!-- END FOOTER -->
            </div>
        </div>
        <!-- END CONTAINER -->
 <?php 
}
 if(
	($control=='public' && ($act=='login' || $act=='loginsoft'))
	||
	$control=='error'
){
	echo $this->layout()->content;
}
 
 ?>     
