<?php
try{
	$params = Zend_Controller_Front::getInstance()->getRequest()->getParams();
	$control=  Zend_Controller_Front::getInstance()->getRequest()->getControllerName();
	$act=  Zend_Controller_Front::getInstance()->getRequest()->getActionName();
}catch(Exception $e){
	
}
//Zend_Debug::dump($this->data['l_app']);die();
//Zend_Debug::dump($act);die();



switch ($control) {
	
	case 'public':

	if($act=='login' || $act=='loginsoft') {
		
	}

	break;

	case 'error':

	break;


	default	:

	break;

}

?>

		<!-- start: HEADER -->
		<?php
		echo $this->action('header', 'metronic', 'default', array('app'=>$params['module'], 'apid'=>$this->data['l_app']));
		?>
		<!-- end: HEADER -->
		<!-- start: MAIN CONTAINER -->
		<div class="main-container">
			<div class="navbar-content">
				<!-- start: SIDEBAR -->
		<?php 
			echo $this->action('sidebar', 'metronic', 'default', array('app'=>$params['module']));
		?>
						
						
				<!-- end: SIDEBAR -->
			</div>
			<!-- start: PAGE -->
			<div class="main-content">
				<!-- start: PANEL CONFIGURATION MODAL FORM -->
				<div class="modal fade" id="panel-config" tabindex="-1" role="dialog" aria-hidden="true">
					<div class="modal-dialog">
						<div class="modal-content">
							<div class="modal-header">
								<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
									&times;
								</button>
								<h4 class="modal-title">Panel Configuration</h4>
							</div>
							<div class="modal-body">
								Here will be a configuration form
							</div>
							<div class="modal-footer">
								<button type="button" class="btn btn-default" data-dismiss="modal">
									Close
								</button>
								<button type="button" class="btn btn-primary">
									Save changes
								</button>
							</div>
						</div>
						<!-- /.modal-content -->
					</div>
					<!-- /.modal-dialog -->
				</div>
				<!-- /.modal -->
				<!-- end: SPANEL CONFIGURATION MODAL FORM -->
				<div class="container">
					<!-- start: PAGE HEADER -->
					<div class="row">
						<div class="col-sm-12">
							<!-- start: STYLE SELECTOR BOX -->
						
							<!-- end: STYLE SELECTOR BOX -->
							<!-- start: PAGE TITLE & BREADCRUMB -->
							
					
							<!-- end: PAGE TITLE & BREADCRUMB -->
						</div>
					</div>
					<!-- end: PAGE HEADER -->
					<!-- start: PAGE CONTENT -->
					
	<?php 
	echo $this->layout()->content;
?>
					
					
					<!-- end: PAGE CONTENT-->
				</div>
			</div>
			<!-- end: PAGE -->
		</div>
		<!-- end: MAIN CONTAINER -->
		<!-- start: FOOTER -->
		<div class="footer clearfix">
			<div class="footer-inner">
				2014 &copy; clip-one by cliptheme.
			</div>
			<div class="footer-items">
				<span class="go-top"><i class="clip-chevron-up"></i></span>
			</div>
		</div>
		<!-- end: FOOTER -->
		
		<div id="event-management" class="modal fade" tabindex="-1" data-width="760" style="display: none;">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
							&times;
						</button>
						<h4 class="modal-title">Event Management</h4>
					</div>
					<div class="modal-body"></div>
					<div class="modal-footer">
						<button type="button" data-dismiss="modal" class="btn btn-light-grey">
							Close
						</button>
						<button type="button" class="btn btn-danger remove-event no-display">
							<i class='fa fa-trash-o'></i> Delete Event
						</button>
						<button type='submit' class='btn btn-success save-event'>
							<i class='fa fa-check'></i> Save
						</button>
					</div>
				</div>
			</div>
		</div>
		<!-- start: MAIN JAVASCRIPTS -->
		<!--[if lt IE 9]>
		<script src="/assets/neclip/plugins/respond.min.js"></script>
		<script src="/assets/neclip/plugins/excanvas.min.js"></script>
		<script type="text/javascript" src="/assets/neclip/plugins/jQuery-lib/1.10.2/jquery.min.js"></script>
		<![endif]-->
		<!--[if gte IE 9]><!-->
		<script src="/assets/neclip/plugins/jQuery-lib/2.0.3/jquery.min.js"></script>
		<!--<![endif]-->
		<script src="/assets/neclip/plugins/jquery-ui/jquery-ui-1.10.2.custom.min.js"></script>
		<script src="/assets/neclip/plugins/bootstrap/js/bootstrap.min.js"></script>
		<script src="/assets/neclip/plugins/bootstrap-hover-dropdown/bootstrap-hover-dropdown.min.js"></script>
		<script src="/assets/neclip/plugins/blockUI/jquery.blockUI.js"></script>
		<script src="/assets/neclip/plugins/iCheck/jquery.icheck.min.js"></script>
		<script src="/assets/neclip/plugins/perfect-scrollbar/src/jquery.mousewheel.js"></script>
		<script src="/assets/neclip/plugins/perfect-scrollbar/src/perfect-scrollbar.js"></script>
		<script src="/assets/neclip/plugins/less/less-1.5.0.min.js"></script>
		<script src="/assets/neclip/plugins/jquery-cookie/jquery.cookie.js"></script>
		<script src="/assets/neclip/plugins/bootstrap-colorpalette/js/bootstrap-colorpalette.js"></script>
		<script src="/assets/neclip/js/main.js"></script>
		<!-- end: MAIN JAVASCRIPTS -->
		<!-- start: JAVASCRIPTS REQUIRED FOR THIS PAGE ONLY -->
		<script src="/assets/neclip/plugins/flot/jquery.flot.js"></script>
		<script src="/assets/neclip/plugins/flot/jquery.flot.pie.js"></script>
		<script src="/assets/neclip/plugins/flot/jquery.flot.resize.min.js"></script>
		<script src="/assets/neclip/plugins/jquery.sparkline/jquery.sparkline.js"></script>
		<script src="/assets/neclip/plugins/jquery-easy-pie-chart/jquery.easy-pie-chart.js"></script>
		<script src="/assets/neclip/plugins/jquery-ui-touch-punch/jquery.ui.touch-punch.min.js"></script>
		<script src="/assets/neclip/plugins/fullcalendar/fullcalendar/fullcalendar.js"></script>
		<script src="/assets/neclip/js/index.js"></script>
		<!-- end: JAVASCRIPTS REQUIRED FOR THIS PAGE ONLY -->
		<script>
			jQuery(document).ready(function() {
				Main.init();
				Index.init();
			});
		</script>
	</body>
