<?php
	$params=array();
	foreach($this->params as $v) 
	{
		$params[$v['value_param']] = $v['display_param'];	
		
	}
	$conns=array();
	foreach($this->conns as $v) 
	{
		$conns[$v['conn_name']] = $v['conn_name'];	
		
	}

$vapi = explode(',',$this->data['content_attrs']['api_id']);
//Zend_Debug::dump($this->data['content_attrs']['graph_lib']);die();
?>
<div class="page-content">

<!-- BEGIN PAGE HEADER-->
<div class="row">
	<div class="col-md-12">
		<!-- BEGIN PAGE TITLE & BREADCRUMB-->
		<h3 class="page-title">
		Graph Builder<small>PrabaCore</small>
		</h3>
		<ul class="page-breadcrumb breadcrumb">
			<li>
				<i class="fa fa-rss"></i>
				<a href="/">PrabaCore</a>
				<i class="fa fa-angle-right"></i>
			</li>
			<li>
				<i class="fa fa-cogs"></i>
				<a href="/">Prabaeditor</a>
				<i class="fa fa-angle-right"></i>
			</li>
			
			<li>
				<i class="fa fa-user"></i>
				Graph Builder
			</li>
			<!--li class="btn-group pull-right">
				<button type="button" class="btn red">
					<span>
				<?php echo Zend_Auth::getInstance()->getIdentity()->fullname; ?>
					</span>
				</button>
			</li-->
		</ul>
		<!-- END PAGE TITLE & BREADCRUMB-->
	</div>
</div>
<!-- END PAGE HEADER-->

<div class="row">
	<div class="col-md-12">
	<!-- BEGIN EXAMPLE TABLE PORTLET-->
	<div class="portlet box grey" style="margin:0px">
		<div class="portlet-title">
			<div class="caption">
				Graphic Builder
			</div>
			 <div class="actions">
				 <!--a href="#" class="btn reload" data-dismiss="modal"><i class="fa fa-times"></i></a-->
			 </div>
			<div class="tools">
			</div>
		</div>
		<div class="portlet-body" style="padding:15px">
							<form action="" class="form-horizontal" id="addapi" method="post">
							<input type="hidden" name="pid" value="<?php echo $this->varams['id'];?>" />
							<!-- BEGIN FORM-->
							<div class="form-body">
								<div class="alert alert-success alert-dismissable hidden" id="alertinfo">
									<button type="button" class="close" data-dismiss="alert" aria-hidden="true"></button>
									<span id="alertmsg"><strong>Warning!</strong> Something went wrong. Please check.</span>
								</div>
								
								<div style="margin:0px auto;text-align:center" id="processbar" class="hidden">
									<div class="progress progress-striped active" style="margin:0px auto;text-align:center">
										<div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
											<span class="sr-only">
												On Process
											</span>
										</div>
									</div>
									<span style="margin:0px auto;">Please wait...processing request</span>
								</div>
								
							<!--
								<div class="row" style="padding:0px 15px;">
									<div class="col-md-5">
										<div class="form-group">
											<label for="graph_id">GRAPHIC ID</label>
											<input type="text" name="graph_id" id="graph_id" value="<?php echo $this->data['content_attrs']['graph_id'];?>" class="form-control" placeholder="Form Id"  >
											<span class="help-block">
												 <span> This is inline help</span>
											</span>
										</div>
									</div>
									<div class="col-md-offset-1 col-md-5">
										<div class="form-group">
											<label for="graph_class">GRAPHIC CLASS</label>
											<input type="text" name="graph_class" id="graph_class" class="form-control" placeholder="Graphic Class" value="<?php echo $this->data['content_attrs']['class'];?>">
											
										</div>
									</div>
								</div>
								-->		
								<div class="row" style="padding:0px 15px;">
									<div class="col-md-5">
										<div class="form-group">
											<label for="get_api">Get Api</label>
											
										<select  name="get_api[]" id="get_api" multiple class="form-control" placeholder="Get Api">
										<?php  foreach($this->apis as $k=>$v){
											
										echo "<optgroup label='".$k."'>";	
										foreach($v as $v2) 
										{
											$sel="";
											if(in_array($v2['id'], $vapi)){$sel="selected";}	
											echo "<option $sel value='".$v2['id']."'>".$v2['id']."-".$v2['text']."</option>";	
										}
										
										echo "</optgroup>";
											
										} ?>
										</select>
											
										</div>
									</div>
									<div class="col-md-offset-1 col-md-5">
										<div class="form-group">
											<label for="graph_type">Graphic Type</label>
											<select  name="graph_type" id="graph_type" class="form-control" placeholder="Graph Type" >
										
										<option value=''>----------</option>
										<optgroup label="Bar Chart">
											<option <?php if($this->data['content_attrs']['graph_type']=="simplebar"){echo"selected";}	?> value="simplebar">Simple Bar Chart</option>
											<option <?php if($this->data['content_attrs']['graph_type']=="horizontalbar"){echo"selected";}	?> value="horizontalbar">Horizontal Bar Chart</option>
											<option <?php if($this->data['content_attrs']['graph_type']=="stackchart"){echo"selected";} ?> value="stackchart">Stack Chart</option>
										</optgroup>
										<optgroup label="Pie Chart">
											<option <?php if($this->data['content_attrs']['graph_type']=="simplepie"){echo"selected";} ?> value="simplepie">Simple Pie Chart</option>
											<option <?php if($this->data['content_attrs']['graph_type']=="pieplus"){echo"selected";} ?> value="pieplus">Pie Chart Plus</option>
											
										</optgroup>
										
										<optgroup label="Others">
											<option <?php if($this->data['content_attrs']['graph_type']=="interactive"){echo"selected";} ?> value="interactive">Interactive Chart</option>
											
										</optgroup>
										
										</select>
												
											
										</div>
									</div>
								</div>
										
								
							<div class="row" style="padding:0px 15px;">
									<div class="col-md-5">
									
									</div>
									<div class="col-md-offset-1 col-md-5">
										<div class="form-group">
										<label for="graph_lib">Graphic Lib</label>
										<select id="graph_lib" name="graphlib" class="form-control" placeholder="GraphLib">
										<option value="">----</option>
										<option <?php if($this->data['content_attrs']['graph_lib']=="plot"){echo"selected";} ?>  value="plot" >PlotChart</option>
										<option  <?php if($this->data['content_attrs']['graph_lib']=="am"){echo"selected";} ?>  value="am">AmChart</option>
										</select>
										
											
										</div>
									</div>
								</div>
										
								
							
								
								
			<div class="row" style="padding:0px 15px;">
				<div class="col-md-12">
					<div class="form-group">
						<label >Key&Value</label>
					</div>
					
					<?php for($i=0;$i<=count($this->data['content_attrs']['field']);$i++) { ?>
					<div class="form-group  breadcrump" id="breadcrump1" data-id="1">
							<div class="col-md-10">
								<div class="col-md-3">
								<input class="form-control input-sm" name="key[<?php echo $i; ?>]" value="<?php echo $this->data['content_attrs']['field'][$i]['key']; ?>" placeholder="Key">
							
								</div>
								<div class="col-md-3">
								<input class="form-control input-sm" name="xvalue[<?php echo $i; ?>]" value="<?php echo $this->data['content_attrs']['field'][$i]['value']; ?>" placeholder="Value">
								</div>
								<div class="col-md-3">
								<input class="form-control input-sm" name="varx[<?php echo $i; ?>]" value="<?php echo $this->data['content_attrs']['field'][$i]['name']; ?>" placeholder="VarName">
								</div>
								<div class="col-md-3">
								<input class="form-control input-sm" name="api[<?php echo $i; ?>]" value="<?php echo $this->data['content_attrs']['field'][$i]['api']; ?>" placeholder="Api Id">
								</div>
							</div>
							<div class="col-md-2">
								<button type="button" class="btn grey addGC" onclick="addGC(this); return false;" data-act="addGC" data-id="1" style="padding: 5px;">Add</button>
							</div>
					</div>
					<?php } ?>
				</div>
			</div>	
			
			
								
								<!--/row-->
							</div>
							<div class="form-actions" style="margin:0px">
							   <div class="row">
								   <div class="col-md-6">
									   <div class="col-md-offset-3 col-md-9">
										   <button type="submit" class="btn green">Submit</button>
										   <button type="button" type="button" data-dismiss="modal" class="btn default">Cancel</button>
									   </div>
								   </div>
								   <div class="col-md-6">
								   </div>
							   </div>
							</div>
							</form>
							<!-- END FORM-->
						</div>
	</div>
				
	<!-- END EXAMPLE TABLE PORTLET-->
	</div>
</div>

</div>

<script>
var gamasidx2=<?php echo count($this->data['content_attrs']['field']); ?>;
var elem=1;


function addEl(me){
	var id = $(me).data('id');
	var currow = $('body').find('.element:last');

<?php
echo 'var str = \'<div class="form-group row element" id="element\'+(parseInt(elem)+1)+\'" data-id="\'+(parseInt(gamasidx2)+1)+\'" >\'
							
						+\'<div class="col-md-10">\'
								+\'<div class="col-md-4">\'
									+\'<input type="hidden" class="select2_sample6 form-control select2" name="col1[]" placeholder="Col1">\'
									+\'<br>\'
									+\'<input class="form-control input-sm" name="col4[]" placeholder="Col4">\'
								+\'</div>\'
								+\'<div class="col-md-4">\'
									+\'<input class="form-control input-sm" name="col2[]" placeholder="Col2">\'
									+\'<br>\'
									+\'<input class="form-control input-sm" name="col5[]" placeholder="Col5">\'
								+\'</div>\'
								+\'<div class="col-md-4">\'
									+\'<input class="form-control input-sm" name="col3[]" placeholder="Col3">\'
									+\'<br>\'
									+\'<input class="form-control input-sm" name="col6[]" placeholder="Col6">\'
								+\'</div>\'
							+\'</div>\'
							
					+\'<div class="col-md-2">\'
						+\'<button type="button" class="btn red removeEl" onclick="removeEl(this); return false;" data-act="removeEl" data-id="\'+(parseInt(elem)+1)+\'" style="padding: 5px;">Remove</button>\'
					+\'</div>\'
				+\'</div>\';';
?>
	elem++;
	//console.log(str);
	currow.after(str);
}


function addGC(me){
	var id = $(me).data('id');
	var currow = $('body').find('.breadcrump:last');

<?php
echo 'var str = \'<div class="form-group row breadcrump" id="breadcrump\'+(parseInt(gamasidx2)+1)+\'" data-id="\'+(parseInt(gamasidx2)+1)+\'" >\'
					+\'<div class="col-md-10">\'
								+\'<div class="col-md-3">\'
								+\'<input class="form-control input-sm" name="key[\'+parseInt(gamasidx2)+\']" placeholder="Key">\'
								+\'</div>\'
								+\'<div class="col-md-3">\'
								+\'<input class="form-control input-sm" name="xvalue[\'+parseInt(gamasidx2)+\']" placeholder="Value">\'
								+\'</div>\'
								+\'<div class="col-md-3">\'
								+\'<input class="form-control input-sm" name="varx[\'+parseInt(gamasidx2)+\']" placeholder="VarName">\'
								+\'</div>\'
								+\'<div class="col-md-3">\'
								+\'<input class="form-control input-sm" name="api[\'+parseInt(gamasidx2)+\']" placeholder="Api Id">\'
								+\'</div>\'										
					+\'</div>\'
					+\'<div class="col-md-2">\'
					+\'<button type="button" class="btn red removeGC" onclick="removeGC(this); return false;" data-act="removeGC" data-id="\'+(parseInt(gamasidx2)+1)+\'" style="padding: 5px;">Remove</button>\'
					+\'</div>\'
				+\'</div>\';';
?>
	gamasidx2++;
	//console.log(str);
	currow.after(str);
	
	 $(".select2_sample6").select2();
}


function removeGC(me){
	var id = $(me).data('id');
	//console.log(id);
	$('body').find('#breadcrump'+id+':first').remove();
}

function removeEl(me){
	var id = $(me).data('id');
	//console.log(id);
	$('body').find('#element'+id+':first').remove();
}

jQuery(document).ready(function() {
$('body').addClass('page-header-fixed page-sidebar-fixed page-footer-fixed');




var EditApi = function () {
	
	var handleAdd = function() {

		$('form#addapi').validate({
	            //errorElement: 'span', //default input error message container
	            //errorClass: 'label-danger', // default input error message class
	            focusInvalid: false, // do not focus the last invalid input
	            rules: {
	                pagealias: {
	                    required: true
	                },
	                title: {
	                    required: true
	                }
	            },
	         

	            messages: {
					
	            },

	            invalidHandler: function (event, validator) { //display error alert on form submit   
	                //$('.alert-danger', $('.login-form')).show();
	                //console.log(event);
	                //console.log(validator);
	                
					//$('span.help-block').show();
					$('span.help-block').hide();
	                var errorlist = validator.errorList;
	                if(errorlist.length>0){
						for(var i = 0; i<errorlist.length; i++){
							//console.log(errorlist[i].element);
							var el = errorlist[i].element; 
							var next = $(el).next('span.help-block'); 
							$(next).slideDown();
						}
						$('html,body').animate({
							scrollTop: $(el).offset().top-100
						}, 800);
					}
	            },

	            highlight: function (element) { // hightlight error inputs
	                $(element)
	                    .closest('.form-group').addClass('has-error'); // set error class to the control group
	            },

	            success: function (label) {
	                label.closest('.form-group').removeClass('has-error');
	                //label.remove();
	            },

	            errorPlacement: function (error, element) {
					$('span.help-block').hide();
					var next = element.next('span.help-block'); 
					//console.log(error);
	                if(error[0].textContent!=""){
						$(next).html("<i class='fa fa-warning'></i> "+ error[0].textContent);
						$(element).next().slideDown();
						$('html,body').animate({
							scrollTop: $(element).offset().top-100
						}, 800);
					}
	            },

	            submitHandler: function (form) {
					$('span.help-block').hide();
					$('.form-group').removeClass('has-error');
	                //form.submit(); // form validation success, call ajax form submit
	                submitForm();
	                return false;
	            }
	        });

	        $('form#addapi input').keypress(function (e) {
	            if (e.which == 13) {
					$('span.help-block').hide();
					$('.form-group').removeClass('has-error');
	                if ($('form#addapi').validate().form()) {
	                   //$('form#addapi').submit(); //form validation success, call ajax form submit
	                   submitForm();
	                }
	                return false;
	            }
	        });
	}
	
	var submitForm = function(){
		
		
		//console.log($('form#addapi').serialize());
		$.ajax({
			url:"/prabajax/graphbuilder",
			content:'json',
			type:'post',
			data:$('form#addapi').serialize(),
			beforeSend:function(){
				$('#alertinfo').addClass('hidden');
				$('#processbar').removeClass('hidden');
				$('html,body').animate({
					scrollTop: $('h3.page-title').offset().top
				}, 800);
				$('#alertinfo').removeClass('alert-success');
				$('#alertinfo').removeClass('alert-warning');
				$('#alertinfo').removeClass('alert-danger');
				$('#alertinfo').removeClass('alert-info');
			},
			complete:function(result){
				$('#processbar').addClass('hidden');
			},
			success: function(data){
				//console.log(data);
				if(data.result!=undefined){
					if(data.result==true){
						$('#alertinfo').addClass('alert-success');
						$('#alertmsg').html("<strong>Success!</strong> "+data.retMsg);
					}else{
						$('#alertinfo').addClass('alert-warning');
						$('#alertmsg').html("<strong>Failed!</strong> "+data.retMsg);
					}
				}else{
					$('#alertinfo').addClass('alert-info');
					$('#alertmsg').html("<strong>Error!</strong> System is busy, please try again.");
				}
				$('#alertinfo').removeClass('hidden');
			},
			error:function(){
				$('#alertinfo').addClass('alert-info');
				$('#alertmsg').html("<strong>Error!</strong> System is busy, please try again.");
				$('#alertinfo').removeClass('hidden');
			}
		});
	}
	
	

	var resetForm = function(){
		$('input','form#addapi')
			.not(':button, :submit, :reset, :hidden')
			.val('');
			
		$('select,option','form#addapi')
			.removeAttr('checked')
			.removeAttr('selected');
		
		$('.make-switch').bootstrapSwitch('setState',false);
		
		$('.ms-selectable').find('li').removeClass('ms-selected');
		$('.ms-selection').find('li').removeClass('ms-hover');
		$('.ms-selectable').find('li').removeAttr('style');
		
		$('.ms-selection').find('li').removeClass('ms-selected');
		$('.ms-selection').find('li').removeClass('ms-hover');
		$('.ms-selection').find('li').css({display:'none'});
	}
    
    return {
        //main function to initiate the module
        init: function () {
            handleAdd();
        }

    };

}();


App.init();

$('span.help-block').hide();
EditApi.init();



$('#get_api').select2();
$('#post_api').select2();
        


});
</script>

