<?php
	
//Zend_Debug::dump($this->data);die();
	
//$vdata = (unserialize($this->data['extended_data']));
//die();
?>
<div class="page-content">

<!-- BEGIN PAGE HEADER-->
<div class="row">
	<div class="col-md-12">
		<!-- BEGIN PAGE TITLE & BREADCRUMB-->
		<h3 class="page-title">
		Custom Application <small>Custom and enhance existing application</small>
		</h3>
		<ul class="page-breadcrumb breadcrumb">
			<li>
				<i class="fa fa-rss"></i>
				<a href="/">PraBAC</a>
				<i class="fa fa-angle-right"></i>
			</li>
			<li>
				<i class="fa fa-cogs"></i>
				<a href="/">Content Management</a>
				<i class="fa fa-angle-right"></i>
			</li>
			
			<li>
				<i class="fa fa-user"></i>
				Application Editor
			</li>
			<!--li class="btn-group pull-right">
				<button type="button" class="btn red">
					<span>
				<?php echo Zend_Auth::getInstance()->getIdentity()->fullname; ?>
					</span>
				</button>
			</li-->
		</ul>
		<!-- END PAGE TITLE & BREADCRUMB-->
	</div>
</div>
<!-- END PAGE HEADER-->

<div class="row">
	<div class="col-md-12">
	<!-- BEGIN EXAMPLE TABLE PORTLET-->
	<div class="portlet box grey" style="margin:0px">
		<div class="portlet-title">
			<div class="caption">
				Application Editor : <?php 
				$vdata= unserialize($this->data['extended_login']);
				echo $this->data['l_app'];
				
				?>
			</div>
			 <div class="actions">
				 <!--a href="#" class="btn reload" data-dismiss="modal"><i class="fa fa-times"></i></a-->
			 </div>
			<div class="tools">
			</div>
		</div>
		<div class="portlet-body" style="padding:15px">
							<form action="" class="form-horizontal" id="addapi" method="post">
							<input type="hidden" name="id" value="<?php echo $this->data['id'];?>" />
							<input type="hidden" name="pid" value="" />
				
					
							
							<div class="form-body">
								<div class="alert alert-success alert-dismissable hidden" id="alertinfo">
									<button type="button" class="close" data-dismiss="alert" aria-hidden="true"></button>
									<span id="alertmsg"><strong>Warning!</strong> Something went wrong. Please check.</span>
								</div>
								
								<div style="margin:0px auto;text-align:center" id="processbar" class="hidden">
									<div class="progress progress-striped active" style="margin:0px auto;text-align:center">
										<div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
											<span class="sr-only">
												On Process
											</span>
										</div>
									</div>
									<span style="margin:0px auto;">Please wait...processing request</span>
								</div>
									<div class="row" style="padding:0px 15px;">
									<div class="col-md-5">
										<div class="form-group">
										<label for="themes">Themes</label>
										<select  name="themes" id="themes" class="form-control" placeholder="Themes" >
										<?php 
										
										foreach($this->themes as $k=>$v) 
										{
										if($k==$vdata['themes']){$sel = "selected";}else{$sel = "";}
										echo "<option $sel value='".$v."'>".$v."</option>";	
										}
										?>
										
										</select>
										
										<span class="help-block">
											<span class="label label-danger"><i class="fa fa-warning"> </i>This is inline help</span>
										</span>
										
										
										</div>
										
									</div>
									<div class="col-md-offset-1 col-md-5">
										<div class="form-group">
											<label for="position">Position</label>
											<select  name="position" id="position" class="form-control" placeholder="Position" >
											<?php 
											
											foreach($this->lays as $k=>$v) 
											{
												if($k==$vdata['position']){$sel = "selected";}else{$sel = "";}
												echo "<option $sel value='".$v."'>".$v."</option>";	
											}
											?>
										
										</select>
										
										<span class="help-block">
											<span class="label label-danger"><i class="fa fa-warning"> </i>This is inline help</span>
										</span>
											
											
										</div>
									</div>
									
								</div>
								
								
					
								<div class="row" style="padding:0px 15px;">
									<div class="col-md-5">
										<div class="form-group">
											<label for="signin">Sign In Label</label>
											<input value="<?php echo $vdata['signin']; ?>" type="text" name="signin" id="signin" class="form-control" placeholder="Sign In Label"  >
											<span class="help-block">
												<span class="label label-danger"><i class="fa fa-warning"> </i>This is inline help</span>
											</span>
										</div>
									</div>
									
									
									<div class="col-md-offset-1 col-md-5">
										<div class="form-group">
											<label for="uname">User Name Label</label>
											<input value="<?php echo $vdata['uname']; ?>" type="text" name="uname" id="uname" class="form-control" placeholder="User Name Label"  >
											<span class="help-block">
												<span class="label label-danger"><i class="fa fa-warning"> </i>This is inline help</span>
											</span>
										</div>
									</div>
								</div>
								
									<div class="row" style="padding:0px 15px;">
									<div class="col-md-5">
										<div class="form-group">
											<label for="passlabel">Password Label</label>
											<input value="<?php echo $vdata['passlabel']; ?>" type="text" name="passlabel" id="passlabel" class="form-control" placeholder="Password Label"  >
											<span class="help-block">
												<span class="label label-danger"><i class="fa fa-warning"> </i>This is inline help</span>
											</span>
										</div>
									</div>
									
									
									<div class="col-md-offset-1 col-md-5">
										<div class="form-group">
											<label for="loginlabel">Login Button Label</label>
											<input value="<?php echo $vdata['loginlabel']; ?>" type="text" name="loginlabel" id="loginlabel" class="form-control" placeholder="Login Button Label"  >
											<span class="help-block">
												<span class="label label-danger"><i class="fa fa-warning"> </i>This is inline help</span>
											</span>
										</div>
									</div>
								</div>
								
									<div class="row" style="padding:0px 15px;">
									<div class="col-md-5">
										<div class="form-group">
											<label for="forgot">Forgot Password Label</label>
											<input value="<?php echo $vdata['forgot']; ?>" type="text" name="forgot" id="forgot" class="form-control" placeholder="Forgot Password Label"  >
											<span class="help-block">
												<span class="label label-danger"><i class="fa fa-warning"> </i>This is inline help</span>
											</span>
										</div>
									</div>
									
									
									<div class="col-md-offset-1 col-md-5">
										<div class="form-group">
												<label for="createaccount">Create Account Label</label>
											<input value="<?php echo $vdata['createaccount']; ?>" type="text" name="createaccount" id="createaccount" class="form-control" placeholder="Create Account Label"  >
											<span class="help-block">
												<span class="label label-danger"><i class="fa fa-warning"> </i>This is inline help</span>
											</span>
										</div>
									</div>
								</div>
							
									<div class="row" style="padding:0px 15px;">
									<div class="col-md-5">
										<div class="form-group">
											<label for="footer">Footer Label</label>
											<input value="<?php echo $vdata['footer']; ?>" type="text" name="footer" id="footer" class="form-control" placeholder="Footer Label Label"  >
											<span class="help-block">
												<span class="label label-danger"><i class="fa fa-warning"> </i>This is inline help</span>
											</span>
										</div>
									</div>
									
									
									<div class="col-md-offset-1 col-md-5">
									
									</div>
								</div>
								
								  
									<div class="col-md-offset-1 col-md-5">
										<div class="form-group">
										
										</div>
									</div>
								</div>
								
								<!--/row-->
							</div>
							<div class="form-actions" style="margin:0px">
							   <div class="row">
								   <div class="col-md-6">
									   <div class="col-md-offset-3 col-md-9">
										   <button type="submit" class="btn green">Submit</button>
										   
										   <button type="button" type="button" onclick="tescon(this)"  data-dismiss="modal" class="btn default">Cancel</button>
										   
									   </div>
								   </div>
								   <div class="col-md-6">
								   </div>
							   </div>
							</div>
							</form>
							<!-- END FORM-->
						</div>
	</div>
				
	<!-- END EXAMPLE TABLE PORTLET-->
	</div>
</div>

</div>

<script>
	
	
jQuery(document).ready(function() {
$('body').addClass('page-header-fixed page-sidebar-fixed page-footer-fixed');


var EditApi = function () {

	var handleAdd = function() {

		$('form#addapi').validate({
	            //errorElement: 'span', //default input error message container
	            //errorClass: 'help-block', // default input error message class
	            focusInvalid: false, // do not focus the last invalid input
	            rules: {
	                sqltext: {
	                    required: true
	                }
	            },
	         

	            messages: {
					
	            },

	            invalidHandler: function (event, validator) { //display error alert on form submit   
	                //$('.alert-danger', $('.login-form')).show();
	                //console.log(event);
	                //console.log(validator);
	                
					//$('span.help-block').show();
					$('span.help-block').hide();
	                var errorlist = validator.errorList;
	                if(errorlist.length>0){
						for(var i = 0; i<errorlist.length; i++){
							//console.log(errorlist[i].element);
							var el = errorlist[i].element; 
							var next = $(el).next('span.help-block'); 
							$(next).slideDown();
						}
						$('html,body').animate({
							scrollTop: $(el).offset().top-100
						}, 800);
					}
	            },

	            highlight: function (element) { // hightlight error inputs
	                $(element)
	                    .closest('.form-group').addClass('has-error'); // set error class to the control group
	            },

	            success: function (label) {
	                label.closest('.form-group').removeClass('has-error');
	                //label.remove();
	            },

	            errorPlacement: function (error, element) {
					$('span.help-block').hide();
					var next = element.next('span.help-block'); 
					//console.log(error);
	                if(error[0].textContent!=""){
						$(next).children('span.label').html("<i class='fa fa-warning'></i> "+ error[0].textContent);
						$(element).next().slideDown();
						$('html,body').animate({
							scrollTop: $(element).offset().top-100
						}, 800);
					}
	            },

	            submitHandler: function (form) {
					$('span.help-block').hide();
					$('.form-group').removeClass('has-error');
	                //form.submit(); // form validation success, call ajax form submit
	                submitForm();
	                return false;
	            }
	        });

	        $('form#addapi input').keypress(function (e) {
	            if (e.which == 13) {
					$('span.help-block').hide();
					$('.form-group').removeClass('has-error');
	                if ($('form#addapi').validate().form()) {
	                   //$('form#addapi').submit(); //form validation success, call ajax form submit
	                   submitForm();
	                }
	                return false;
	            }
	        });
	}
	
	var submitForm = function(){
		//console.log($('form#addapi').serialize());
		$.ajax({
			url:"/prabajax/editloginapp",
			content:'json',
			type:'post',
			data:$('form#addapi').serialize(),
			beforeSend:function(){
				$('#alertinfo').addClass('hidden');
				$('#processbar').removeClass('hidden');
				$('html,body').animate({
					scrollTop: $('h3.page-title').offset().top
				}, 800);
				$('#alertinfo').removeClass('alert-success');
				$('#alertinfo').removeClass('alert-warning');
				$('#alertinfo').removeClass('alert-danger');
				$('#alertinfo').removeClass('alert-info');
			},
			complete:function(result){
				$('#processbar').addClass('hidden');
			},
			success: function(data){
				//console.log(data);
				if(data.result!=undefined){
					if(data.result==true){
						$('#alertinfo').addClass('alert-success');
						$('#alertmsg').html("<strong>Success!</strong> "+data.retMsg);
					}else{
						$('#alertinfo').addClass('alert-warning');
						$('#alertmsg').html("<strong>Failed!</strong> "+data.retMsg);
					}
				}else{
					$('#alertinfo').addClass('alert-info');
					$('#alertmsg').html("<strong>Error!</strong> System is busy, please try again.");
				}
				$('#alertinfo').removeClass('hidden');
			},
			error:function(){
				$('#alertinfo').addClass('alert-info');
				$('#alertmsg').html("<strong>Error!</strong> System is busy, please try again.");
				$('#alertinfo').removeClass('hidden');
			}
		});
	}
	
	

	var resetForm = function(){
		$('input','form#addapi')
			.not(':button, :submit, :reset, :hidden')
			.val('');
			
		$('select,option','form#addapi')
			.removeAttr('checked')
			.removeAttr('selected');
		
		$('.make-switch').bootstrapSwitch('setState',false);
		
		$('.ms-selectable').find('li').removeClass('ms-selected');
		$('.ms-selection').find('li').removeClass('ms-hover');
		$('.ms-selectable').find('li').removeAttr('style');
		
		$('.ms-selection').find('li').removeClass('ms-selected');
		$('.ms-selection').find('li').removeClass('ms-hover');
		$('.ms-selection').find('li').css({display:'none'});
	}
    
    return {
        //main function to initiate the module
        init: function () {
            handleAdd();
        }

    };

}();


App.init();

$('span.help-block').hide();
EditApi.init();

});
</script>
