<?php
 $this->layout()->nestedLayout = 'login'; 
 ?>	


<div id="satu" class="chart">
</div>	


<script>
jQuery(document).ready(function() {
	
App.init();
	 var chart = AmCharts.makeChart("satu",{
	"type": "serial",
	"pathToImages": "/assets/core/plugins/amcharts/amcharts/images/",
	"categoryField": "category",
	"rotate": true,
	"colors": [
		"#FF6600",
		"#CCCCCC",
		"#B0DE09",
		"#0D8ECF",
		"#2A0CD0",
		"#CD0D74",
		"#CC0000",
		"#00CC00",
		"#0000CC",
		"#DDDDDD",
		"#999999",
		"#333333",
		"#990000"
	],
	"startDuration": 1,
	"addClassNames": true,
	"color": "#439F43",
	"fontFamily": "Times  new roman",
	"handDrawn": true,
	"handDrawScatter": 5,
	"handDrawThickness": 3,
	"percentPrecision": 8,
	"categoryAxis": {
		"gridPosition": "start"
	},
	"trendLines": [],
	"graphs": [
		{
			"balloonText": "[[title]] of [[category]]:[[value]]",
			"fillAlphas": 1,
			"id": "AmGraph-1",
			"title": "graph 1",
			"type": "column",
			"valueField": "column-1"
		},
		{
			"balloonText": "[[title]] of [[category]]:[[value]]",
			"fillAlphas": 1,
			"id": "AmGraph-2",
			"title": "graph 2",
			"type": "column",
			"valueField": "column-2"
		}
	],
	"guides": [],
	"valueAxes": [
		{
			"id": "ValueAxis-1",
			"title": "Axis title"
		}
	],
	"allLabels": [],
	"balloon": {},
	"legend": {
		"useGraphSettings": true
	},
	"titles": [
		{
			"id": "Title-1",
			"size": 15,
			"text": "Chart Title"
		}
	],
	"dataProvider": [
		{
			"category": "category 1",
			"column-1": 8,
			"column-2": 5
		},
		{
			"category": "category 2",
			"column-1": 6,
			"column-2": 7
		},
		{
			"category": "category 3",
			"column-1": 2,
			"column-2": 3
		},
		{
			"category": null,
			"column-1": null,
			"column-2": null
		}
	]
}
	 
	 );

        $("#satu").closest(".portlet").find(".fullscreen").click(function() {
            chart.invalidateSize();
        });

	
});
</script>

<style>
body {
  background-color: white !important;
}
</style>
