<?php
	$params=array();
	#Zend_Debug::dump($this->data3);die();
?>
<div class="page-content">

<!-- BEGIN PAGE HEADER-->
<div class="row">
	<div class="col-md-12">
		<!-- BEGIN PAGE TITLE & BREADCRUMB-->
		<h3 class="page-title">
		Queue Process <small></small>
		</h3>
			<ul class="page-breadcrumb breadcrumb">
			<li>
				<i class="fa fa-rss"></i>
				<a href="/">Home</a>
				<i class="fa fa-angle-right"></i>
			</li>
			<li>
				<i class="fa fa-cogs"></i>
				<a href="/">Queue Process</a>
				<i class="fa fa-angle-right"></i>
			</li>
			
			<li>
				<i class="fa fa-list-ol"></i>
				Queue List
			</li>
			
		</ul>
	
	</div>
</div>

<div class="row">
	<div class="col-md-12">
	<!-- BEGIN EXAMPLE TABLE PORTLET-->
	<div class="portlet box grey">
		<div class="portlet-title">
			<div class="caption">
			Action List	
			</div>
			<div class="actions">
				<a href="/domas/q/addqueue" class="btn green"  id="btn-addnew"><i class="fa fa-plus"></i> Add New</a>
				<a href="#" class="btn blue reload"><i class="fa fa-refresh"></i> Reload</a>
			
			</div>
			<!--div class="tools">
				<a href="javascript:;" class="reload"></a>
			</div-->
		</div>
		<div class="portlet-body">
			<div class="alert alert-success alert-dismissable hidden" id="alertinfo">
									<button type="button" class="close" data-dismiss="alert" aria-hidden="true"></button>
									<span id="alertmsg"><strong>Warning!</strong> Something went wrong. Please check.</span>
								</div>
								
								<div style="margin:0px auto;text-align:center" id="processbar" class="hidden">
									<div class="progress progress-striped active" style="margin:0px auto;text-align:center">
										<div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
											<span class="sr-only">
												On Process
											</span>
										</div>
									</div>
									<span style="margin:0px auto;">Please wait...processing request</span>
								</div>
			
			<table class="table table-striped table-bordered table-hover" id="table_portlet_17">
							<thead>
<tr>

	<th>No</th><th>Status</th><th> Queue Template Name </th><th>Interval (second)</th><th>Count</th><th>file</th><th></th>											
</tr>
			</thead>
			<tbody>
								
<?php 
$i=1;
foreach ($this->data as $v) {
	
	
	echo '<tr class="gradeX"><td>'.$i.'</td><td>';
	if(isset($this->data2[$v['NAME']]['array_pid'])) {
		$zzz=array();
		$zzz = explode (",", $this->data2[$v['NAME']]['array_pid']);
		$run="off";	
		foreach ($zzz as $z) {
			if(in_array($z, $this->data3)) {
					$run="on";
					
					echo '<a href="#" class="btn btn-xs blue"><i class="fa fa-play"></i>'.$z.'</a>&nbsp;';
			}else {
				echo '<a href="#" class="btn btn-xs red"><i class="fa fa-stop"></i>'.$z.'</a>&nbsp;';
				}	
		}
	}

#echo $this->data2[$v['NAME']]['array_pid'];
	
echo 	'</td><td>'.$v['NAME'].'</td><td>'.$v['INTERVAL'].'</td><td>'.$v['COUNT'].'</td><td>'.$v['LINK'].'</td><td><div style="text-align:center"><a href="/domas/q/deletall/id/'.$v['NAME'].'" data-id="3" class="btn btn-xs red btn-click"><i class="fa fa-times"></i> Delete&Stop </a>&nbsp;';
if($run=="on") {
	echo '<a href="/domas/q/stop/id/'.$v['NAME'].'" data-id="3" class="btn btn-xs yellow btn-click"><i class="fa fa-stop"></i>Stop All</a>';
	
	}else {
		echo '<a href="/domas/q/running/id/'.$v['NAME'].'" data-id="3" class="btn btn-xs green btn-click"><i class="fa fa-play"></i>Run All</a>';	
	}

echo '</div></td></tr>';	

$i++;
}
?>								
								
</tbody>
		</table>	

		
	</div>

	</div>
</div>

</div>

<script>
	
jQuery(document).ready(function() {

$(".btn-click" ).click(function() {
	$('#processbar').removeClass('hidden');
});




 $('#table_portlet_17').dataTable({
               "language": {
                "aria": {
                    "sortAscending": ": activate to sort column ascending",
                    "sortDescending": ": activate to sort column descending"
                },
                "emptyTable": "No data available in table",
                "info": "Showing _START_ to _END_ of _TOTAL_ records",
                "infoEmpty": "No records found",
                "infoFiltered": "(filtered1 from _MAX_ total records)",
                "lengthMenu": "Show _MENU_",
                "search": "Search:",
                "zeroRecords": "No matching records found",
                "paginate": {
                    "previous":"Prev",
                    "next": "Next",
                    "last": "Last",
                    "first": "First"
                }
            },

            // Or you can use remote translation file
            //"language": {
            //   url: '//cdn.datatables.net/plug-ins/3cfcc339e89/i18n/Portuguese.json'
            //},

            // Uncomment below line("dom" parameter) to fix the dropdown overflow issue in the datatable cells. The default datatable layout
            // setup uses scrollable div(table-scrollable) with overflow:auto to enable vertical scroll(see: assets/global/plugins/datatables/plugins/bootstrap/dataTables.bootstrap.js). 
            // So when dropdowns used the scrollable div should be removed. 
            //"dom": "<'row'<'col-md-6 col-sm-12'l><'col-md-6 col-sm-12'f>r>t<'row'<'col-md-5 col-sm-12'i><'col-md-7 col-sm-12'p>>",

            "bStateSave": true, // save datatable state(pagination, sort, etc) in cookie.

            "lengthMenu": [
                [5, 15, 20, -1],
                [5, 15, 20, "All"] // change per page values here
            ],
            // set the initial value
            "pageLength": 5,            
            "pagingType": "bootstrap_full_number",
            "columnDefs": [
                {  // set default column settings
                    'orderable': false,
                    'targets': [0]
                }, 
                {
                    "searchable": false,
                    "targets": [0]
                },
                {
                    "className": "dt-right", 
                    //"targets": [2]
                }
            ],
            "order": [
                [1, "asc"]
            ] // set first column as a default sort by asc
        });

           
         


//FormComponents3.init();

$('span.help-block').hide();
});



</script>
