<?php

	$m = new Model_System();
	$auth = Zend_Auth::getInstance();
	$identity = $auth->getIdentity();
	$uname = $identity->uname;
	$uid = $identity->uid;
	// $grup = $this->dataglobal[163]['data'];
	// $data = $this->dataglobal[163]['data'];
	// Zend_Debug::dump($grup); //die("asdasd");
	// Zend_Debug::dump($identity);
	$grup = $m->call_api(163)['data'];
	// Zend_Debug::dump($grup); //die();
?>

<div class="portlet box blue">
	<div class="portlet-title">
		<div class="caption">
			<i class="fa fa-edit"></i> ADD SURVEY ITEM </div>
		<div class="tools">
			<a class="collapse" href="javascript:;" data-original-title="" title=""> </a>
			<a class="config" data-toggle="modal" href="#portlet-config" data-original-title="" title=""> </a>
			<a class="reload" href="javascript:;" data-original-title="" title=""> </a>
		</div>
	</div>
	
	<div class="portlet-body form">
		<form role="form" class="form-horizontal" id="addsurveyform" method="post">
			<div class="form-body">
				<div class="form-group">
					<label class="col-md-2 control-label">Main Group</label>
					<div class="col-md-9">
						<select class="form-control" id="main_group" name="main_group">
							<option value="1">BAGIAN I - KEPUASAN KARYAWAN (EMPLOYEE SATISFACTION)</option>
							<option value="3">BAGIAN II - KETERIKATAN KARYAWAN (EMPLOYEE ENGAGEMENT)</option>
						</select>
					</div>
				</div>
				
				<div class="form-group">
					<label class="col-md-2 control-label">Survey Group</label>
					<div class="col-md-9">
						<select class="form-control" id="group" name="group">
							<option value="">ALL</option>
					<?php
						foreach($grup as $k=>$v){
							echo '<option value="'.$v['id'].'">'.$v['group_name'].'</option>';
						}
					?>
						</select>
					</div>
				</div>
				
				<div class="form-group">
					<label class="col-md-2 control-label">Code</label>
					<div class="col-md-9">
						<input type="text" placeholder="Code item" class="form-control" id="code" name="code">
						<span class="help-block"> contoh:PEK01,PKM03,LOY05 </span>
					</div>
				</div>
				
				<div class="form-group">
					<label class="col-md-2 control-label">Survey Type</label>
					<div class="col-md-9">
						<label class="radio-inline"><input type="radio" name="survey_type" id="optionsRadios1" value="1">Option (TS/S/SS)</label>
						<label class="radio-inline"><input type="radio" name="survey_type" id="optionsRadios5" value="3">Essay</label>
						<span class="help-block"></span>
					</div>
				</div>
								
				<div class="form-group">
					<label class="col-md-2 control-label">Survey Text</label>
					<div class="col-md-9">
						<textarea rows="3" class="form-control" id="survey_text" name="survey_text"></textarea>
					</div>
				</div>
				
				
			</div>
			<div class="form-actions">
				<div class="row">
					<div class="col-md-offset-3 col-md-9">
						<button class="btn green" type="button" id="add_button">ADD</button>
						<button class="btn default" type="button">Cancel</button>
					</div>
				</div>
			</div>
		</form>
	</div>
</div>

<script>

jQuery(document).ready(function() {
	
	// AddResponden.init();

});
	
	$("#add_button").click(function(){	
		console.log($('form#addsurveyform').serialize());
		$.ajax({
			url:"/survey/general/addsurvey",
			content:'json',
			type:'post',
			data:$('form#addsurveyform').serialize(),
			beforeSend:function(){
				$('#alertinfo').addClass('hidden');
				$('#processbar').removeClass('hidden');
				$('#alertinfo').removeClass('alert-success');
				$('#alertinfo').removeClass('alert-warning');
				$('#alertinfo').removeClass('alert-danger');
				$('#alertinfo').removeClass('alert-info');
			},
			complete:function(result){
				$('#processbar').addClass('hidden');
			},
			success: function(data){
				//console.log(data);
				if(data.result!=undefined){
					if(data.result==true){
						$('#alertinfo').addClass('alert-success');
						$('#alertmsg').html("<strong>Success!</strong> " + data.retMsg);
						// resetForm();
						// location.reload();					
						// setTimeout(function(){location.href="http://dev.prabatech.com/prabagen/index/page/151"},9000);
					}else{
						$('#alertinfo').addClass('alert-warning');
						$('#alertmsg').html("<strong>Failed!</strong> " + data.retMsg);
					}
				}else{
					$('#alertinfo').addClass('alert-info');
					$('#alertmsg').html("<strong>Error!</strong> System is busy, please try again.");
				}
				$('#alertinfo').removeClass('hidden');
			},
			error:function(){
				$('#alertinfo').addClass('alert-info');
				$('#alertmsg').html("<strong>Error!</strong> System is busy, please try again.");
				$('#alertinfo').removeClass('hidden');
			}
		});
	});
	
</script>