<!--<script src="/assets/core/plugins/highcharts/js/highcharts.js"></script>
<script src="/assets/core/plugins/highcharts/js/modules/exporting.js"></script>-->

<?php

$cc = new Survey_Model_General();
$locs = $cc->get_location($this->varams['locid']);
$dd = new Survey_Model_Data();
$data = $dd->get_dash($this->varams['id']);
$mon =$cc->get_survey_id($this->varams['id']);
$datanon = $dd->get_dash_non($this->varams['id'],$this->varams['locid']);
//Zend_Debug::dump($mon); //die();


foreach($locs as $v) {
    $narr[$v['id']] = $v['loc_name'];
}
//Zend_Debug::dump($this->varams);//die();

?>
<div class="col-md-12">
	<div class="portlet light">
		<div class="portlet-title">
			<div class="caption">
				<i class="icon-pencil font-blue-sharp"></i>
				<span class="caption-subject font-blue-sharp bold uppercase">
					<?php echo $mon['survey_name'];?> (<?php echo $mon['survey_description'];?>)
				</span>
			</div>
			<div class="actions">
				
			</div>
		</div>
		
		<div class="portlet-body">
			<div id="jm" style="min-width: 310px; height: 450px; margin: 0 auto"></div>
			<div id="nonjm" style="min-width: 310px; height: 170px; margin: 0 auto"></div>
			<div align="center"><button type="button" id="expexcel" class="btn blue">Export Excel Data Survey</button></div>
		</div>
	</div>
</div>

<script>
jQuery(document).ready(function() {	
	$('.page-head').remove();
	$('.page-title').remove();
	$('.page-breadcrumb').remove();
	$('#filtera').remove();
	
	$('#jm').highcharts({
        chart: {
            type: 'bar'
        },
        title: {
            text: 'Per Lokasi'
        },
        xAxis: {
            categories: [
            <?php


foreach($narr as $v) {
    echo "'" . $v . "',";
}

?>
            
            ]
        },
        yAxis: {
            min: 0,
            title: {
                text: ''
            },
            reversedStacks: false,
            stackLabels: {
            		enabled: true,
                style: {
                    fontWeight: 'bold',
                    color: (Highcharts.theme && Highcharts.theme.textColor) || 'gray'
                }
            }
        },
        legend: {
            reversed: false
        },
		tooltip: {
            headerFormat: '<b>{point.x}</b><br/>',
            pointFormat: '{series.name}: {point.y}<br/>Total: {point.stackTotal}'
        },
        plotOptions: {
            series: {
                stacking: 'percent',
                dataLabels: {
                    enabled: true,
                    color: (Highcharts.theme && Highcharts.theme.dataLabelsColor) || 'white',
                    style: {
                        textShadow: '0 0 3px black'
                    }
                }
            }
        },
    
        series: [{
            name: 'E',
            data: [<?php
                foreach($narr as $k=> $v) {
                    //echo "" .isset($data [1][$k]['E']) ? $data [1][$k]['E']:0 . ",";
					if(isset($data [1][$k]['E'])) {echo "",$data [1][$k]['E'].",";}else{echo "0,";}
                }

                ?>]
        }
        ,{ name: 'F',
            data: [<?php
                foreach($narr as $k=> $v) {
					if(isset($data [1][$k]['F'])) {echo "",$data [1][$k]['F'].",";}else{echo "0,";}
                }

                ?>]
        },
        { name: 'M',
            data: [<?php
                foreach($narr as $k=> $v) {
					if(isset($data [1][$k]['M'])) {echo "",$data [1][$k]['M'].",";}else{echo "0,";}
                }

                ?>]
        },
        { name: 'O',
            data: [<?php
                foreach($narr as $k=> $v) {
					if(isset($data [1][$k]['O'])) {echo "",$data [1][$k]['O'].",";}else{echo "0,";}
                }

                ?>]
        },
         { name: 'P',
            data: [<?php
                foreach($narr as $k=> $v) {
					if(isset($data [1][$k]['P'])) {echo "",$data [1][$k]['P'].",";}else{echo "0,";}
                }

                ?>]
        },
        {
            name: '1',
            data: [<?php
                foreach($narr as $k=> $v) {
					if(isset($data [1][$k]['1'])) {echo "",$data [1][$k]['1'].",";}else{echo "0,";}
                }

                ?>]
        }, {
            name: '2',
            data: [<?php
                foreach($narr as $k=> $v) {
					//echo "" .isset($data [1][$k]['2']) ? $data [1][$k]['2']:0 . ",";
					if(isset($data [1][$k]['2'])) {echo "",$data [1][$k]['2'].",";}else{echo "0,";}
                }

                ?>]
        }, {
            name: '3',
            data: [<?php
                foreach($narr as $k=> $v) {
					if(isset($data [1][$k]['3'])) {echo "",$data [1][$k]['3'].",";}else{echo "0,";}
                }

                ?>]
        }, {
            name: '4',
            data: [<?php
                foreach($narr as $k=> $v) {
					if(isset($data [1][$k]['4'])) {echo "",$data [1][$k]['4'].",";}else{echo "0,";}
                }

                ?>]
        }, {
            name: '5',
            data: [<?php                
                foreach($narr as $k=> $v) {              
                    if(isset($data [1][$k]['5'])) {echo "",$data [1][$k]['5'].",";}else{echo "0,";}                    
                }

                ?>]
        }, {
            name: 'belum mengisi',
            data: [<?php
                foreach($narr as $k=> $v) {
                 echo "" .(int)$data [0][$k]-(int)$data [2][$k] . ",";
                }

                ?>]
        }],
		credits: false
    });
	
	$('#nonjm').highcharts({
        chart: {
            type: 'bar'
        },
        title: {
            text: ''
        },
        xAxis: {
            categories: ['Non JM']
        },
        yAxis: {
            min: 0,
            title: {
                text: ''
            },
            reversedStacks: false,
            stackLabels: {
            		enabled: true,
                style: {
                    fontWeight: 'bold',
                    color: (Highcharts.theme && Highcharts.theme.textColor) || 'gray'
                }
            }
        },
        legend: {
            reversed: false
        },
		tooltip: {
            headerFormat: '<b>{point.x}</b><br/>',
            pointFormat: '{series.name}: {point.y}<br/>Total: {point.stackTotal}'
        },
        plotOptions: {
            series: {
                stacking: 'percent',
                dataLabels: {
                    enabled: true,
                    color: (Highcharts.theme && Highcharts.theme.dataLabelsColor) || 'white',
                    style: {
                        textShadow: '0 0 3px black'
                    }
                }
            }
        },
        series: [
        <?php 
        foreach ($datanon as $k=>$v) {
            echo "{name: '".$k."', data: [".$v."]},"; 
            }
        ?>
        ],
		credits: false
    });
	
	<?php 
		if($this->varams['locid']==14){
	?>
		$('#jm').hide();
	<?php 
		}
	?>
});

$("#expexcel").on("click", function(){
<?php 
	if($this->varams['locid']!=null){
?>
	window.location.replace("/survey/admin/exportexcel/survey_id/"+<?php echo $this->varams['id']; ?>+"/locid/"+<?php echo $this->varams['locid']; ?>);
<?php 
	}else{
?>
	window.location.replace("/survey/admin/exportexcel/survey_id/"+<?php echo $this->varams['id']; ?>);
<?php 
	}
?>  
   
});

</script>