<?php 
if($_GET[x]){
	$authAdapter = Zend_Auth::getInstance();
	$identity = $authAdapter->getIdentity();
	Zend_Debug::dump($identity);
}
	$authAdapter = Zend_Auth::getInstance();
	$identity = $authAdapter->getIdentity();
	$uname = $identity->uname;
?>
<style>
#foto {
    width: 80px;
	height: 100px;
}
</style>
<div class="col-md-12">
	<div class="portlet light">
		<div class="portlet-title">
			<div class="caption">
				<!--<i class="icon-pencil font-blue-sharp"></i>-->
				<span class="caption-subject font-blue-sharp bold uppercase">
					A. Pernyataan Survey
				</span>
			</div>
			<div class="actions">
				<!--<img src="/images/jasamarga.jpg" height="50px">-->
				<!--<img src="/assets/core/layouts/layout/img/avatar.png" class="img-circle" alt="">-->
				<!--<img src="http://hr.jasamarga.co.id:8001/msdm6/foto/<?php //echo $uname; ?>.JPG" height="100px">-->
				<!--<div id="foto"></div>-->
			</div>
		</div>
		<div class="portlet-body">
			<p>
				Jakarta,  Agustus  2016<br><br>
				
				Assalamu’alaikum Wr. Wb<br>
				Salam Sejahtera,<br><br>
				
				Manajemen PT. Jasa Marga (Persero) Tbk berkomitmen untuk terus berupaya memberikan pelayanan terbaik, termasuk kepada karyawannya, melalui penerapan Good Corporate Governance, Efisiensi dan pembentukan Sumber Daya Manusia yang handal. Perbaikan-perbaikan yang muncul diharapkan dapat berkontribusi pada peningkatan nilai perusahaan dan mendukung Jasa Marga menjadi perusahan terkemuka di industri jalan tol.<br><br>

				Survei Kepuasan dan Keterikatan Karyawan (Employee Satisfaction & Engagement Survey) yang dilakukan setiap tahun merupakan salah satu bentuk masukan yang dapat diberikan oleh Karyawan Tetap, Karyawan Tidak Tetap, Alih Daya (Pemborongan), dan Outsourcing kepada Manajemen. Tujuan survei ini  adalah untuk   memperoleh gambaran  secara  obyektif  mengenai  kepuasan  dan keterikatan Karyawan terhadap  PT Jasa Marga (Persero) Tbk, sekaligus memberikan informasi mengenai dampak perubahan yang dilakukan selama ini dan alternatif  arahan perbaikan di masa depan.<br><br> 

				Partisipasi Bapak/Ibu/Sdr/i dalam survei ini sangat berarti dalam memberikan penilaian yang objektif sehingga hasil dapat menjadi cerminan pencapaian pelaksanaan praktek-praktek manajemen di perusahaan.<br><br>

				Terimakasih atas kerjasama dan partisipasinya.<br><br> 

				Wassalamu’alaikum Wr. Wb<br>
				Salam,<br><br>

				Christantio Prihambodo<br> 
				Direktur SDM dan Umum<br>
			</p>
			<!--<a class="btn klik blue" href="#">MULAI</a>-->
			
			<!--<a class="btn blue" href="/kompetensi/prabagen/index/page/142">MULAI</a>-->
		</div>
	</div>
</div>
<div class="col-md-12">
	<div class="portlet light">
		<div class="portlet-title">
			<div class="caption">
				<!--<i class="icon-pencil font-blue-sharp"></i>-->
				<span class="caption-subject font-blue-sharp bold uppercase">
					B. Kerahasiaan dan Independensi
				</span>
			</div>
			<div class="actions">
				
			</div>
		</div>
		<div class="portlet-body">
			<p>
				Seluruh Informasi yang Bapak/Ibu/Sdr/i dijaga kerahasiaannya. Informasi masuk langsung ke dalam sistem dengan akses sangat terbatas hanya oleh konsultan pelaksana survei. Analisis data dilakukan secara keseluruhan sehingga informasi individu tidak akan muncul dalam laporan.<br><br>

				Survei ini juga TIDAK TERKAIT dengan penilaian kinerja karyawan. Anda dapat mengisi secara objektif sesuai dengan pengamatan dan pengalaman Anda selama bekerja di PT. Jasa Marga (Persero) Tbk.
			</p>
		</div>
	</div>
</div>
<div class="col-md-12">
	<div class="portlet light">
		<div class="portlet-title">
			<div class="caption">
				<!--<i class="icon-pencil font-blue-sharp"></i>-->
				<span class="caption-subject font-blue-sharp bold uppercase">
					C. Instruksi
				</span>
			</div>
			<div class="actions">
				
			</div>
		</div>
		<div class="portlet-body">
			<p>
				Survei ini terdiri dari 3 (tiga) bagian, yaitu Bagian I - Data responden, Bagian II - Kepuasan Karyawan (Employee Satisfaction), dan Bagian III - Keterikatan Karyawan (Employee Engagement). Keseluruhannya perlu diisi secara lengkap. Pengisian jawaban dilakukan dengan :<br><br>

				1. Memilih (meng-klik) yang sesuai kondisi/pendapat Anda.<br>
				2. Mengisikan jawaban dengan mengetikkan di area kosong yang disediakan untuk memberi masukan (sangat disarankan mengisinya)<br><br>

				Keterangan pilihan opini:<br>
				STS = Sangat Tidak Setuju<br> 
				TS  = Tidak Setuju<br> 
				ATS = Agak Tidak Setuju<br> 
				AS  = Agak Setuju<br> 
				S   = Setuju<br> 
				SS  = Sangat Setuju<br><br> 

				TERIMAKASIH ATAS KERJASAMA DAN PARTISIPASINYA
			</p>
			<!--<a class="btn klik blue" href="#">MULAI</a>-->
			
			<!--<a class="btn blue" href="/kompetensi/prabagen/index/page/142">MULAI</a>-->
		</div>
	</div>
</div>
<div align="center">
<button type="" class="btn next4page green">Next &gt;&gt;</button>   
</a>
</div>

<script>
jQuery(document).ready(function() {
	
	$('.page-head').remove();
	$('.page-title').remove();
	$('.page-breadcrumb').remove();
	/*
	$('.klik').click(function(){		
		
		$.ajax({
			url:"/kompetensi/ajax/klik",
			content:'json',
			type:'get',
			beforeSend:function(){
				
			},
			complete:function(result){
						
			},
			success: function(data){
				if(data.result==true) {
								window.location.href = "/kompetensi/prabagen/index/page/142";
				}
			},
			error:function(){
			
			}
		});		
		
	});
	*/
	
	<?php
	/*
	$current_ts  = time();
	$deadline_ts = mktime(21,0,0,7,25,2016);
	if ($current_ts > $deadline_ts){
	?>
	   $('.klik').hide();
	   alert("Maaf, Anda sudah terlambat untuk melakukan tes uji kompetensi");
	<?php
	}
	*/
	?>
	
});
/*
function checkImage(src) {
	var img = new Image();
	img.onload = function() {
		// code to set the src on success
		$('#foto').css('background', 'url(' + src + ') no-repeat 50% 50%');
	};
	img.onerror = function() {
		// doesn't exist or error loading
		$('#foto').css('background', 'url("/assets/core/layouts/layout/img/avatar.png") no-repeat 50% 50%');
	};

	img.src = src; // fires off loading of image
}

checkImage('http://hr.jasamarga.co.id:8001/msdm6/foto/<?php echo $uname; ?>.JPG');
*/
</script>
