<?php
	
	$cc = new Survey_Model_General();
	$vdat = $cc->get_survey_id(6);
	$auth = Zend_Auth::getInstance();
	$identity = $auth->getIdentity();
	$vf = $_SERVER['REQUEST_URI'];
	$var = explode("/", $vf);
	$uname = $identity->uname;
	$uid = $identity->uid;
	$data = $cc->get_attr_iklan_utilitas();
	$resp = $cc->get_resp_tip();
	// Zend_Debug::dump($resp); //die();
	foreach($resp as $k=>$v){
		// Zend_Debug::dump(json_decode($v)); //die();
		if(json_decode($v)){
			$resp[$k] = json_decode($v);
		}
	}
	// Zend_Debug::dump($resp); die();
?>

<style>
	ul.checkbox li { 
		border: 1px transparent solid; 
		display:inline-block;
		width:12em;
	}
</style>

<div class="col-md-offset-2 col-md-8 col-md-offset-2">
	<div class="portlet light bordered">
		<div class="portlet-title">
			<span class="caption-subject font-dark sbold uppercase"><center><H3>Data Umum Usaha</H3></center></span>
		</div>
		
		<div class="portlet-body form">
			<form role="form" class="form-horizontal" id="respondenform" method="post">
				<input type="hidden" name="class" value="Survey_Model_General" />
				<input type="hidden" name="function" value="addrespondeniklan" />
				<input type="hidden" name="survey_id" value="<?php
					echo $var[5];
				?>" />
				<input type="hidden" name="page_id" value="<?php
					echo $var[7];
				?>" />
				<input type="hidden" name="uid" value="<?php
					echo $identity->uid;
				?>" />
				
				<div class="form-body">
					<strong><p align="left">Silakan isi data diri Anda sebelum mulai mengisi survei</p></strong>
					<div class="form-group">
						<label class="col-md-5 control-label">Ruas Jalan Tol</label>
						<div class="col-md-7">
							<input type="hidden" id="ruas_tol" name="ruas_tol" value="<?php echo $data['loc_name']; ?>">
							<input class="form-control" type="text" value="<?php echo $data['loc_name']; ?>" name="nama_perusahaan_v" disabled="">
							<span class="help-block"></span>
						</div>
					</div>
					<div class="form-group">
						<label class="col-md-5 control-label">Nama Perusahaan</label>
						<div class="col-md-7">
							<input type="hidden" id="nama_perusahaan" name="nama_perusahaan" value="<?php echo $data['fullname']; ?>">
							<input class="form-control" type="text" value="<?php echo $data['fullname']; ?>" name="nama_perusahaan_v" disabled="">
							<span class="help-block"></span>
						</div>
					</div>
					<div class="form-group">
						<label class="col-md-5 control-label">Nama Koresponden<span class="required" aria-required="true"> * </span></label>
						<div class="col-md-7">
							<input class="form-control" type="text" value="<?php echo (isset($resp['koresponden_tip'])?$resp['koresponden_tip']:'') ?>" id="koresponden_tip" name="koresponden_tip">
							<span class="help-block"></span>
						</div>
					</div>
					<div class="form-group">
						<label class="col-md-5 control-label">Jabatan dalam Perusahaan<span class="required" aria-required="true"> * </span></label>
						<div class="col-md-7">
							<input class="form-control" type="text" value="<?php echo (isset($resp['jabatan_tip'])?$resp['jabatan_tip']:'') ?>" id="jabatan_tip" name="jabatan_tip">
							<span class="help-block"></span>
						</div>
					</div>
					<div class="form-group">
						<label class="col-md-12"><strong>1. Berapa jumlah Iklan yang Bapak/Ibu pasang di Jasa Marga? <span class="required" aria-required="true"> * </span></strong></label>
						<div class="col-md-12">
							<label class="radio-inline"><input type="radio" id="optionsRadios1" name="jml_iklan" value="1" required <?php
								if($resp['q1'] == '1') {
									echo "checked";
								}
							?>>1</label>
							<label class="radio-inline"><input type="radio" id="optionsRadios2" name="jml_iklan" value="2-4" required <?php
								if($resp['q1'] == '2-4') {
									echo "checked";
								}
							?>>2 - 4</label>
							<label class="radio-inline"><input type="radio" id="optionsRadios3" name="jml_iklan" value="5-7" required <?php
								if($resp['q1'] == '5-7') {
									echo "checked";
								}
							?>>5 - 7</label>
							<label class="radio-inline"><input type="radio" id="optionsRadios4" name="jml_iklan" value="8-10" required <?php
								if($resp['q1'] == '8-10') {
									echo "checked";
								}
							?>>8 - 10</label>
							<label class="radio-inline"><input type="radio" id="optionsRadios5" name="jml_iklan" value=">10" required <?php
								if($resp['q1'] == '>10') {
									echo "checked";
								}
							?>>lebih dari 10</label>
							<span class="help-block"></span>
						</div>
					</div>
					<div class="form-group">
						<label class="col-md-12"><strong>2. Konten iklan yang Bapak/Ibu pasang (boleh mengisi lebih dari satu): <span class="required" aria-required="true">*</span></strong></label>
						<div class="col-md-12">
						<ul class="checkbox">
							<li><label><input type="checkbox" name="konten[]" value="Properti" class="Checkbox" required <?php
								if(in_array("Properti",$resp['q2'])) {
									echo "checked";
								}
							?>>Properti</label></li>
							<li><label><input type="checkbox" name="konten[]" value="Telekomunikasi" class="Checkbox" required <?php
								if(in_array("Telekomunikasi",$resp['q2'])) {
									echo "checked";
								}
							?>>Telekomunikasi</label></li>
							<li><label><input type="checkbox" name="konten[]" value="Pusat Perbelanjaan" class="Checkbox" required <?php
								if(in_array("Pusat Perbelanjaan",$resp['q2'])) {
									echo "checked";
								}
							?>>Pusat Perbelanjaan</label></li>
							<li><label><input type="checkbox" name="konten[]" value="Food & Beverage" class="Checkbox" required <?php
								if(in_array("Food & Beverage",$resp['q2'])) {
									echo "checked";
								}
							?>>Food & Beverage</label></li>
							<li><label><input type="checkbox" name="konten[]" value="Pusat Hiburan" class="Checkbox" required <?php
								if(in_array("Pusat Hiburan",$resp['q2'])) {
									echo "checked";
								}
							?>>Pusat hiburan</label></li>
							<li><label><input type="checkbox" name="konten[]" value="Elektronik" class="Checkbox" required <?php
								if(in_array("Elektronik",$resp['q2'])) {
									echo "checked";
								}
							?>>Elektronik</label></li>
							<li><label><input type="checkbox" name="konten[]" value="Otomotif" class="Checkbox" required <?php
								if(in_array("Otomotif",$resp['q2'])) {
									echo "checked";
								}
							?>>Otomotif</label></li>
							<li><label><input type="checkbox" name="konten[]" value="Jasa Keuangan" class="Checkbox" required <?php
								if(in_array("Jasa Keuangan",$resp['q2'])) {
									echo "checked";
								}
							?>>Jasa Keuangan</label></li>
							<li><label><input type="checkbox" name="konten[]" value="Jasa Pendidikan" class="Checkbox" required <?php
								if(in_array("Jasa Pendidikan",$resp['q2'])) {
									echo "checked";
								}
							?>>Jasa Pendidikan</label></li>
							<li><label><input type="checkbox" name="konten[]" value="Rokok" class="Checkbox" required <?php
								if(in_array("Rokok",$resp['q2'])) {
									echo "checked";
								}
							?>>Rokok</label></li>
							<li><label><input type="checkbox" name="konten[]" value="Layanan Masyarakat" class="Checkbox" required <?php
								if(in_array("Layanan Masyarakat",$resp['q2'])) {
									echo "checked";
								}
							?>>Layanan Masyarakat</label></li>
							<li><label><input type="checkbox" name="konten[]" value="Lainnya" class="Checkbox" required <?php
								if(in_array("Lainnya",$resp['q2'])) {
									echo "checked";
								}
							?>>Lainnya</label></li>
							<span class="help-block"></span>
						</ul>
						</div>
					</div>
					<div class="form-group">
						<label class="col-md-12"><strong>3. Berapa lama Bapak/Ibu menjalin kerjasama dalam pemasangan iklan dengan Jasa Marga? <span class="required" aria-required="true"> * </span></strong></label>
						<div class="col-md-12">
							<label class="radio-inline"><input type="radio" id="optionsRadios6" name="durasi" value="<1" required <?php
								if($resp['q3'] == '<1') {
									echo "checked";
								}
							?>>kurang dari 1 tahun</label>
							<label class="radio-inline"><input type="radio" id="optionsRadios7" name="durasi" value="1-2" required <?php
								if($resp['q3'] == '1-2') {
									echo "checked";
								}
							?>>1 - 2 tahun</label>
							<label class="radio-inline"><input type="radio" id="optionsRadios8" name="durasi" value="2-3" required <?php
								if($resp['q3'] == '2-3') {
									echo "checked";
								}
							?>>2 - 3 tahun</label>
							<label class="radio-inline"><input type="radio" id="optionsRadios9" name="durasi" value="3-4" required <?php
								if($resp['q3'] == '3-4') {
									echo "checked";
								}
							?>>3 - 4 tahun</label>
							<label class="radio-inline"><input type="radio" id="optionsRadios10" name="durasi" value=">4" required <?php
								if($resp['q3'] == '>4') {
									echo "checked";
								}
							?>>lebih dari 4 tahun</label>
							<span class="help-block"></span>
						</div>
					</div>
					
				</div>
				<div class="form-actions">
					<div class="row" align="center">
                        <a href="/survey/z/index/id/6/pid/<?php

						echo $vdat['summary_page'];

						?>" class="btn green">Summary</a>   
                        <!--<button class="btn green" type="button">&lt;&lt; Prev</button>-->
                        <button class="btn green submitform" type="submit">Next &gt;&gt;</button>
						<!--<input type="button" id="test" value="cc">-->
                        
					</div>
				</div>
			</form>
		</div>
		
	</div>
</div>

<script>
// $('#test').click(function() {
// console.log($('.Checkbox:checked').map(function() {
    // return this.value;
// }).get().join());
// });

</script>