<?php

	$m = new Model_System();
	$auth = Zend_Auth::getInstance();
	$identity = $auth->getIdentity();
	$uname = $identity->uname;
	$uid = $identity->uid;
	// $grup = $this->dataglobal[163]['data'];
	// $data = $this->dataglobal[163]['data'];
	// Zend_Debug::dump($grup); //die("asdasd");
	// Zend_Debug::dump($identity);
	// $cc = new Model_System();
	// $grup = $cc->call_api(163)['data'];
	// Zend_Debug::dump($grup); //die();
?>

<div class="portlet box blue">
	<div class="portlet-title">
		<div class="caption">
			<i class="fa fa-edit"></i> SUMMARY </div>
		<div class="tools">
			<a class="collapse" href="javascript:;" data-original-title="" title=""> </a>
			<a class="config" data-toggle="modal" href="#portlet-config" data-original-title="" title=""> </a>
			<a class="reload" href="javascript:;" data-original-title="" title=""> </a>
		</div>
	</div>
	
	<div class="portlet-body form">
		<div class="row">
			<div class="col-md-3">
				<?php 
					for ($x = 1; $x <= 20; $x++) {
						echo '<br><a href="#">Pertanyaan nomor '.$x.' <i class="fa fa-check-circle"></i></a>';
					} 
				?>
			</div>
			<div class="col-md-3">
				<?php 
					for ($x = 21; $x <= 40; $x++) {
						echo '<br><a href="#">Pertanyaan nomor '.$x.' <i class="fa fa-check-circle"></i></a>';
					} 
				?>
			</div>
			<div class="col-md-3">
				<?php 
					for ($x = 41; $x <= 60; $x++) {
						echo '<br><a href="#">Pertanyaan nomor '.$x.' <i class="fa fa-check-circle"></i></a>';
					} 
				?>
			</div>
			<div class="col-md-3">
				<?php 
					for ($x = 61; $x <= 80; $x++) {
						echo '<br><a href="#">Pertanyaan nomor '.$x.' <i class="fa fa-check-circle"></i></a>';
					} 
				?>	
			</div>
		</div>
	
		<div class="form-actions">
			<div class="row">
				<div class="col-md-9">
					<p><i class="fa fa-check-circle"></i> Pertanyaan sudah dijawab
					<br>*) Klik untuk menjawab atau mereview pertanyaan </p>
					<p>Disclaimer:
					<br>Saya menyatakan bahwa seluruh jawaban yang saya berikan adalah benar dan obyektif. 
					<br>Saya memberikan jawabannya dalam keadaan sadar dan tidak ada paksaan dari pihak manapun. Terima kasih.</p>
				</div>
				<div class="col-md-3">
					<button class="btn green" type="submit">SUBMIT</button>
				</div>
			</div>
		</div>
	</div>
</div>

<script>
jQuery(document).ready(function() {
	
	$("#lid-198").remove();
	
});
</script>