<div class="col-md-12">	
	<?php
		$m = new Model_System();
		$prioritas = $m->call_api(175);
		$main = $this->dataglobal[167]['data'];
		$group = $this->dataglobal[169]['data'];
		$item = $this->dataglobal[165]['data'];
		//Zend_Debug::dump($data);
		foreach($main as $k=>$v) {
			
	?>
	<div class="portlet light main" id="main<?php echo ($k+1); ?>">
		<div class="portlet-title">
			<div class="caption">
				<!--<i class="icon-pencil font-blue-sharp"></i>-->
				<span class="caption-subject font-blue-sharp bold uppercase">
					<?php echo $v['main_group_name']; ?>
				</span>
			</div>
			<div class="actions">
				
			</div>
		</div>
		<div class="portlet-body">
		<?php 
			foreach($group as $k1=>$v1) {
				if($v['id']==$v1['main_group']){
		?>			
			<div class="portlet light group" id="group<?php echo ($k1+1); ?>">
				<div class="portlet-title">
					<div class="caption">					
						<!--<i class="icon-pencil font-blue-sharp"></i>-->
						<span class="caption-subject font-blue-sharp bold uppercase">
							<?php echo $v1['group_name']; ?>
						</span>
					</div>
					<div class="actions">
						
					</div>
				</div>
				<div class="portlet-body">
					<table class="table table-striped table-bordered table-hover" id="survey_table">
						<thead>
							<tr>
								<th style="text-align:center"> </th>
								<th style="text-align:center"> Sangat Tidak Setuju </th>
								<th style="text-align:center"> Tidak Setuju </th>
								<th style="text-align:center"> Kurang Setuju </th>
								<th style="text-align:center"> Setuju </th>
								<th style="text-align:center"> Sangat Setuju </th>
							</tr>
						</thead>
						<tbody>
						<?php 
							foreach($item as $k2=>$v2) {
								if($v1['id']==$v2['group']){
									if($v2['survey_type']==1){
										echo '<tr>
											<td>'.$v2['survey_text'].'</td>
											<td style="text-align:center"><input data-id="" type="radio" id="val_'.strtolower($v2['code']).'" class="" name="val_'.strtolower($v2['code']).'" value="-2"></td>
											<td style="text-align:center"><input data-id="" type="radio" id="val_'.strtolower($v2['code']).'" class="" name="val_'.strtolower($v2['code']).'" value="-1"></td>
											<td style="text-align:center"><input data-id="" type="radio" id="val_'.strtolower($v2['code']).'" class="" name="val_'.strtolower($v2['code']).'" value="0"></td>
											<td style="text-align:center"><input data-id="" type="radio" id="val_'.strtolower($v2['code']).'" class="" name="val_'.strtolower($v2['code']).'" value="1"></td>
											<td style="text-align:center"><input data-id="" type="radio" id="val_'.strtolower($v2['code']).'" class="" name="val_'.strtolower($v2['code']).'" value="2"></td>
										</tr>';
									}else if($v2['survey_type']==3){
										echo '<tr>
												<td colspan="6">'.$v2['survey_text'].'</td>
											</tr>
											<tr>
												<td colspan="6" style="text-align:center"><textarea rows="4" id="val_'.strtolower($v2['code']).'" class="form-control" name="val_'.strtolower($v2['code']).'"></textarea></td>
											</tr>';
									}else if($v2['survey_type']==4){
										echo '<tr>
												<td colspan="6">'.$v2['survey_text'].'</td>
											</tr>
											<tr>
												<td colspan="6" style="text-align:center">
													<div class="col-md-9">
														<select name="val_'.strtolower($v2['code']).'[]" class="multi-select" multiple="" id="item_multi_select" >';
														foreach($prioritas['data'] as $k3=>$v3){
															echo '<option class="prioritaslist" value="'.strtolower($v3['code']).'" name="prioritas['.strtolower($v3['code']).']" >'.strtolower($v3['survey_text']).'</option>';
														}
														echo '</select>
													</div>
												</td>
											</tr>';
									}									
								}
							}
						?>
						</tbody>
					</table>					
				</div>
			</div>
		<?php
				}
			}
		?>
		</div>
	</div>
	<?php
		}
	?>
	<div align="right"><button type="button" id="prev" class="btn green"><< Prev</button> <button type="button" id="next" class="btn green">Next >></button></div>
</div>

<script>
jQuery(document).ready(function() {	
	$('.page-head').remove();
	$('.page-title').remove();
	$('.page-breadcrumb').remove();
	$('#item_multi_select').multiSelect({
		/*
		selectableHeader: "<input type='text' class='form-control search-input' autocomplete='off' placeholder='search...'>",
		selectionHeader: "<input type='text' class='form-control search-input' autocomplete='off' placeholder='search...'>",
		afterInit: function (ms) {
			var that = this,
				$selectableSearch = that.$selectableUl.prev(),
				$selectionSearch = that.$selectionUl.prev(),
				selectableSearchString = '#' + that.$container.attr('id') + ' .ms-elem-selectable:not(.ms-selected)',
				selectionSearchString = '#' + that.$container.attr('id') + ' .ms-elem-selection.ms-selected';

			that.qs1 = $selectableSearch.quicksearch(selectableSearchString)
				.on('keydown', function (e) {
					if (e.which === 40) {
						that.$selectableUl.focus();
						return false;
					}
				});

			that.qs2 = $selectionSearch.quicksearch(selectionSearchString)
				.on('keydown', function (e) {
					if (e.which == 40) {
						that.$selectionUl.focus();
						return false;
					}
				});
		},
		afterSelect: function () {
			this.qs1.cache();
			this.qs2.cache();
		},
		afterDeselect: function () {
			this.qs1.cache();
			this.qs2.cache();
		},
		*/
		keepOrder: true
	});
	//showMain(1);
	showGroup(1);
	$('#next').click(function() {
		//alert($(this).data("id"));
		var stj = ($(".group:visible").attr("id"));
		//$('.button'+$(this).data("id")).addClass("blue");
		
		var sth = stj.substr(5, 3);
		var next = parseInt(sth)+1;
		//alert(next);	
		$(".group").hide();
		$("#group"+parseInt(next)).show();
		
		if($('#group1').is(':visible')) {
			$("#prev").hide();
		}else{
			$("#prev").show();
		}
		
		if($('#group16').is(':visible')) {
			$("#next").hide();
		}else{
			$("#next").show();
		}
	});
	$('#prev').click(function() {
		//alert($(this).data("id"));
		var stj = ($(".group:visible").attr("id"));
		//$('.button'+$(this).data("id")).addClass("blue");
		
		var sth = stj.substr(5, 3);
		var prev = parseInt(sth)-1;
		//alert(prev);	
		$(".group").hide();
		$("#group"+parseInt(prev)).show();		
		
		if($('#group1').is(':visible')) {
			$("#prev").hide();
		}else{
			$("#prev").show();
		}
		
		if($('#group16').is(':visible')) {
			$("#next").hide();
		}else{
			$("#next").show();
		}
	});
});

var active = 1;
function showMain(id){
	//console.log(id);
	active = id;
	$(".main").hide();
	$("#main"+id).show();
	/*
	if($('#group1').is(':visible')) {
		$("#prev").hide();
	}else{
		$("#prev").show();
	}
	
	if($('#group16').is(':visible')) {
		$("#next").hide();
	}else{
		$("#next").show();
	}
	*/
}
function showGroup(id){
	//console.log(id);
	active = id;
	$(".group").hide();
	$("#group"+id).show();
	
	if($('#group1').is(':visible')) {
		$("#prev").hide();
	}else{
		$("#prev").show();
	}
	
	if($('#group16').is(':visible')) {
		$("#next").hide();
	}else{
		$("#next").show();
	}
}
</script>