<?php
	$params=array();
	foreach($this->params as $v) 
	{
		$params[$v['value_param']] = $v['display_param'];	
		
	}
	$conns=array();
	foreach($this->conns as $v) 
	{
		$conns[$v['conn_name']] = $v['conn_name'];	
		
	}
//Zend_Debug::dump($this->data);

?>

<div class="m-grid__item m-grid__item--fluid m-wrapper">
	<div class="m-subheader ">
		<div class="d-flex align-items-center">
			<div class="mr-auto">
				<h3 class="m-subheader__title m-subheader__title--separator">
					Big Builder
				</h3>
				<ul class="m-subheader__breadcrumbs m-nav m-nav--inline">
					<li class="m-nav__item m-nav__item--home">
						<a href="#" class="m-nav__link m-nav__link--icon">
							<i class="m-nav__link-icon flaticon-app"></i>
						</a>
					</li>
					<li class="m-nav__item">
						<a href="" class="m-nav__link">
							<span class="m-nav__link-text">
								Portlets Creation <small>Define and create reusable portlet for any page</small>
							</span>
						</a>
					</li>
					
				</ul>
			</div>
		</div>
	</div>
	<div class="m-content">
		<div class="m-portlet m-portlet--mobile">
			<div class="m-portlet">
				<div class="m-portlet__head">
					<div class="m-portlet__head-caption">
						<div class="m-portlet__head-title">
							<h3 class="m-portlet__head-text">
								Add Portlet
							</h3>
						</div>
					</div>
				</div>
				<form action="" class="m-form m-form--state m-form--fit m-form--label-align-right" id="addapi" method="post">
				<div class="m-portlet__body">
					<input type="hidden" name="id" value="<?php echo $this->data['id'];?>" />
					<input type="hidden" name="pid" value="" />
					<div class="m-form__content">
						<div class="m-alert m-alert--icon alert alert-warning m--hide" role="alert" id="alertinfo">
							<div class="m-alert__icon">
								<i class="la la-warning"></i>
							</div>
							<div class="m-alert__text">
								<strong>Warning!</strong> Something went wrong. Please check.
							</div>
							<div class="m-alert__close">
								<button type="button" class="close" data-close="alert" aria-label="Close"></button>
							</div>
						</div>
					</div>
					<div style="margin:0px auto;text-align:center;display:none;" id="processbar">
						<div class="progress">
							<div class="progress-bar progress-bar-striped progress-bar-animated " role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
								<span class="sr-only">
									On Process
								</span>
							</div>
						</div>
						<span style="margin:0px auto;">Please wait...processing request</span>
					</div>
					<div class="form-group m-form__group row">
						<div class="col-md-6">
							<div class="form-group">
								<label for="pagealias">Portlet Name</label>
								<div class="input-icon right">
								<input type="text" name="name" id="name" class="form-control" placeholder="Portlet Name"  value="<?php echo $this->data['portlet_name'];?>" data-toggle="m-tooltip" title="isikan dengan nama">
								</div>
								<!--span class="help-block">
									<span class="label label-danger"><i class="fa fa-warning"> </i>This is inline help</span>
								</span-->
							</div>
						</div>
						<div class="col-md-offset-1 col-md-6">
							<div class="form-group">
								<label for="title">Title</label>
								<div class="input-icon right">
								<input type="text" name="title" id="title" class="form-control" placeholder="Title" value="<?php echo $this->data['portlet_title'];?>" data-toggle="m-tooltip" title="isikan dengan judul">
								</div>
								<!--span class="help-block">
									<span class="label label-danger"><i class="fa fa-warning"> </i>This is inline help</span>
								</span-->
							</div>
						</div>
						<div class="col-md-12"> 
							<div class="form-group">
								<label for="title">Attributes</label>
								<div class="form-group m-form__group row breadcrump" id="breadcrump1" data-id="1">
									<div class="col-md-4 m-form__group-sub">
										<select class="form-control s-input" name="color" placeholder="Color">
											<option value="">--Choose color--</option>';
											<option value="red">Red</option>
											<option value="blue">Blue</option>
											<option value="green">Green</option>
											<option value="purple">Purple</option>
											<option value="yellow">Yellow</option>
											<option value="grey">Grey</option>
										</select>
									</div>
									<div class="col-md-4 m-form__group-sub">
										<select class="form-control s-input" name="type" placeholder="Type">
											<option value="">--Choose type--</option>';
											<option value="">empty</option>
											<option value="box">Box</option>
											<option value="solid">Solid</option>
										</select>
									</div>
									<div class="col-md-4 m-form__group-sub">
										<select class="form-control s-input" name="width" placeholder="Width">
											<option value="">--Choose width--</option>';
											<option value="3">3</option>
											<option value="4">4</option>
											<option value="6">6</option>
											<option value="8">8</option>
											<option value="9">9</option>
											<option value="12">12</option>
										</select>
									</div>
								</div>
								<div class="form-group m-form__group row breadcrump" id="breadcrump1" data-id="1">
									<div class="col-md-5 m-form__group-sub">
										<div class="input-icon right">
										<input class="form-control s-input" name="atr_key[]" placeholder="Key" data-toggle="m-tooltip" title="isikan dengan key">
										</div>
									</div>
									<div class="col-md-5 m-form__group-sub">
										<div class="input-icon right">
										<input class="form-control s-input" name="atr_val[]" placeholder="Value" data-toggle="m-tooltip" title="isikan dengan vgal">
										</div>
									</div>
									<div class="col-md-2 m-form__group-sub">
										<button type="button" class="btn btn-md grey addGC" onclick="addGC(this); return false;" data-act="addGC" data-id="1" style="padding: 5px;width:100%">Add</button>
									</div>
								</div>
							</div>
						</div>
						<div class="col-md-12"> 
							<div class="form-group">
								<label for="title">Action</label>
								<div class="form-group m-form__group row element" id="element1" data-id="1">
									<div class="col-md-3">
										<input class="form-control s-input" name="act_label[]" placeholder="Label">
										<br>
										<input class="form-control s-input" name="act_target[]" placeholder="Data-target">
									</div>
									<div class="col-md-3">
										<input class="form-control s-input" name="act_class[]" placeholder="Class">
										<br>
										<input class="form-control s-input" name="act_modal[]" placeholder="Data-modal">
										
									</div>
									<div class="col-md-4">
										<input class="form-control s-input" name="act_clsicon[]" placeholder="Class Icon">
										<br>
										<input class="form-control s-input" name="act_id[]" placeholder="Id">
									</div>
									<div class="col-md-2">
										<button type="button" class="btn btn-md grey addGC" onclick="addEl(this); return false;" data-act="addGC" data-id="1" style="padding: 5px;width:100%">Add</button>
									</div>
								</div>
							</div>
						</div>
						<div class="col-md-6"> 
							<div class="form-group">
								<label for="pagealias">Tools</label>
								<select multiple="" class="form-control" name="tools[]">		
									<option value="collapse">Collapse</option>
									<option value="config">Config</option>		
									<option value="reload">Reload</option>
									<option value="remove">Remove</option>													
								</select>
							</div>
						</div>
						<div class="col-md-6"> 
							<div class="form-group">
								<label for="pagealias">Type</label>
								<select class="form-control" name="maintype">
									<option value="websocket">WEBSCOKET</option>
									<option value="table">TABLE</option>
									<option value="form">FORM</option>		
									<option value="html">HTML</option>
									<option value="graphic">GRAPHIC</option>		
									<option  value="graphicplus">GRAPHIC PLUS</option>															
								</select>
							</div>
						</div>
						<div class="col-md-6"> 
							<div class="form-group">
								<label for="pagealias">Weight</label>
								<input class="form-control input-sm" name="weight" placeholder="Weight">
							</div>
						</div>
						<div class="col-md-6"> 
							<div class="form-group">
								<label for="pagealias">Custom View</label>
								<input class="form-control input-sm" name="customview" placeholder="Custom View">
							</div>
						</div>
						<div class="col-md-6"> 
							<div class="form-group">
								<label for="pagealias">Get Api</label>
								<select  name="get_api[]" id="get_api" class="form-control" placeholder="Get Api" multiple>
								<?php  foreach($this->apis as $k=>$v){
									
										echo "<optgroup label='".$k."'>";	
										foreach($v as $v2) 
										{
											$sel="";
											if(in_array($v2['id'], $vapi)){$sel="selected";}	
											echo "<option $sel value='".$v2['id']."'>".$v2['id']."-".$v2['text']."</option>";	
										}
								
								echo "</optgroup>";
									
								} ?>
								</select>
							</div>
						</div>
					</div>
				</div>
				<div class="m-portlet__foot m-portlet__foot--fit">
					<div class="m-form__actions">
						<button type="submit" class="btn btn-accent">
							Submit
						</button>
						<button type="reset" class="btn btn-secondary" data-dismiss="modal">
							Cancel
						</button>
					</div>
				</div>
				</form>
			</div>
		</div>
	</div>
</div>

<script>
var gamasidx2=1;
var elem=1;


function addEl(me){
	var id = $(me).data('id');
	var currow = $('body').find('.element:last');

<?php
echo 'var str = \'<div class="form-group m-form__group row element" id="element\'+(parseInt(elem)+1)+\'" data-id="\'+(parseInt(gamasidx2)+1)+\'" >\'
							
								+\'<div class="col-md-3">\'
									+\'<input class="form-control s-input" name="act_label[]" placeholder="Label">\'
									+\'<br>\'
									+\'<input class="form-control s-input" name="act_target[]" placeholder="Data-target">\'
								+\'</div>\'
								+\'<div class="col-md-3">\'
									+\'<input class="form-control s-input" name="act_class[]" placeholder="Class">\'
									+\'<br>\'
									+\'<input class="form-control s-input" name="act_modal[]" placeholder="Data-modal">\'
								+\'</div>\'
								+\'<div class="col-md-4">\'
									+\'<input class="form-control s-input" name="act_clsicon[]" placeholder="Class Icon">\'
									+\'<br>\'
									+\'<input class="form-control s-input" name="act_id[]" placeholder="Id">\'
								+\'</div>\'
							
					+\'<div class="col-md-2">\'
						+\'<button type="button" class="btn btn-md btn-danger red removeEl" onclick="removeEl(this); return false;" data-act="removeEl" data-id="\'+(parseInt(elem)+1)+\'" style="padding: 5px;width:100%">Remove</button>\'
					+\'</div>\'
				+\'</div>\';';
?>
	elem++;
	//console.log(str);
	currow.after(str);
}

function addGC(me){
	var id = $(me).data('id');
	var currow = $('body').find('.breadcrump:last');

<?php
echo 'var str = \'<div class="form-group m-form__group row breadcrump" id="breadcrump\'+(parseInt(gamasidx2)+1)+\'" data-id="\'+(parseInt(gamasidx2)+1)+\'" >\'
						+\'<div class="col-md-5 m-form__group-sub">\'
							+\'<div class="input-icon right"><input  class="form-control input-sm"  name="atr_key[]"  placeholder="Key" data-toggle="m-tooltip" title="isikan dengan key" /></div>\'
						+\'</div>\'
						+\'<div class="col-md-5 m-form__group-sub>\'
							+\'<div class="input-icon right"><input class="form-control input-sm"  name="atr_val[]" placeholder="Value" data-toggle="m-tooltip" title="isikan dengan vgal" /></div>\'
						+\'<div class="col-md-2 m-form__group-sub">\'
							+\'<button type="button" class="btn btn-md btn-danger btn-md btn red removeGC" onclick="removeGC(this); return false;" data-act="removeGC" data-id="\'+(parseInt(gamasidx2)+1)+\'" style="padding: 5px;width:100%">Remove</button>\'
						+\'</div>\'
					+\'</div>\';';
?>
	gamasidx2++;
	//console.log(str);
	currow.after(str);
}


function removeGC(me){
	var id = $(me).data('id');
	//console.log(id);
	$('body').find('#breadcrump'+id+':first').remove();
}

function removeEl(me){
	var id = $(me).data('id');
	//console.log(id);
	$('body').find('#element'+id+':first').remove();
}

jQuery(document).ready(function() {
$('body').addClass('page-header-fixed page-sidebar-fixed page-footer-fixed');




var EditApi = function () {
	
	var handleAdd = function() {

		$('form#addapi').validate({
	            //errorElement: 'span', //default input error message container
	            //errorClass: 'help-block', // default input error message class
	            focusInvalid: false, // do not focus the last invalid input
	            rules: {
	                name: {
	                    required: true
	                },
	                title: {
	                    required: true
	                }
	            },
	         

	            messages: {
					
	            },

	            invalidHandler: function (event, validator) { //display error alert on form submit   
	                //$('.alert-danger', $('.login-form')).show();
	                //console.log(event);
	                //console.log(validator);
	                
					//$('span.help-block').show();
					$('span.help-block').hide();
	                var errorlist = validator.errorList;
	                if(errorlist.length>0){
						for(var i = 0; i<errorlist.length; i++){
							//console.log(errorlist[i].element);
							var el = errorlist[i].element; 
							var next = $(el).next('span.help-block'); 
							$(next).slideDown();
						}
						$('html,body').animate({
							scrollTop: $(el).offset().top-100
						}, 800);
					}
	            },

	            highlight: function (element) { // hightlight error inputs
	                $(element)
	                    .closest('.form-group').addClass('has-error'); // set error class to the control group
	            },

	            success: function (label) {
	                label.closest('.form-group').removeClass('has-error');
	                //label.remove();
	            },

	            errorPlacement: function (error, element) {
					$('span.help-block').hide();
					var next = element.next('span.help-block'); 
					//console.log(error);
	                if(error[0].textContent!=""){
						$(next).children('span.label').html("<i class='fa fa-warning'></i> "+ error[0].textContent);
						$(element).next().slideDown();
						$('html,body').animate({
							scrollTop: $(element).offset().top-100
						}, 800);
					}
	            },

	            submitHandler: function (form) {
					$('span.help-block').hide();
					$('.form-group').removeClass('has-error');
	                //form.submit(); // form validation success, call ajax form submit
	                submitForm();
	                return false;
	            }
	        });

	        $('form#addapi input').keypress(function (e) {
	            if (e.which == 13) {
					$('span.help-block').hide();
					$('.form-group').removeClass('has-error');
	                if ($('form#addapi').validate().form()) {
	                   //$('form#addapi').submit(); //form validation success, call ajax form submit
	                   submitForm();
	                }
	                return false;
	            }
	        });
	}
	
	var submitForm = function(){
		
		
		//console.log($('form#addapi').serialize());
		$.ajax({
			url:"/prabajax/addportlet",
			content:'json',
			type:'post',
			data:$('form#addapi').serialize(),
			beforeSend:function(){
				$('#alertinfo').addClass('hidden');
				$('#processbar').removeClass('hidden');
				$('html,body').animate({
					scrollTop: $('h3.page-title').offset().top
				}, 800);
				$('#alertinfo').removeClass('alert-success');
				$('#alertinfo').removeClass('alert-warning');
				$('#alertinfo').removeClass('alert-danger');
				$('#alertinfo').removeClass('alert-info');
			},
			complete:function(result){
				$('#processbar').addClass('hidden');
			},
			success: function(data){
				//console.log(data);
				if(data.result!=undefined){
					if(data.result==true){
						$('#alertinfo').addClass('alert-success');
						$('#alertmsg').html("<strong>Success!</strong> "+data.retMsg);
						if(data.data['maintype']=='form')
						{
						  window.location.href = "/prabaeditor/builderform/id/"+data.data['id'];		
						} else if (data.data['maintype']=='table') {
						window.location.href = "/prabaeditor/buildertable/id/"+data.data['id'];	
							
						} else if (data.data['maintype']=='html')  {
							window.location.href = "/prabaeditor/builderhtml/id/"+data.data['id'];
							
						}else if (data.data['maintype']=='graphic')  {
							window.location.href = "/prabaeditor/buildergraphic/id/"+data.data['id'];
						
						}else if (data.data['maintype']=='graphicplus')  {
							window.location.href = "/prabaeditor/buildergraphicplus/id/"+data.data['id'];
						
						
						}else if (data.data['maintype']=='websocket')  {
							window.location.href = "/prabaeditor/websocket/id/"+data.data['id'];
						}
						
					}else{
						$('#alertinfo').addClass('alert-warning');
						$('#alertmsg').html("<strong>Failed!</strong> "+data.retMsg);
						
						
					}
				}else{
					$('#alertinfo').addClass('alert-info');
					$('#alertmsg').html("<strong>Error!</strong> System is busy, please try again.");
				}
				$('#alertinfo').removeClass('hidden');
			},
			error:function(){
				$('#alertinfo').addClass('alert-info');
				$('#alertmsg').html("<strong>Error!</strong> System is busy, please try again.");
				$('#alertinfo').removeClass('hidden');
			}
		});
	}
	
	

	var resetForm = function(){
		$('input','form#addapi')
			.not(':button, :submit, :reset, :hidden')
			.val('');
			
		$('select,option','form#addapi')
			.removeAttr('checked')
			.removeAttr('selected');
		
		$('.make-switch').bootstrapSwitch('setState',false);
		
		$('.ms-selectable').find('li').removeClass('ms-selected');
		$('.ms-selection').find('li').removeClass('ms-hover');
		$('.ms-selectable').find('li').removeAttr('style');
		
		$('.ms-selection').find('li').removeClass('ms-selected');
		$('.ms-selection').find('li').removeClass('ms-hover');
		$('.ms-selection').find('li').css({display:'none'});
	}
    
    return {
        //main function to initiate the module
        init: function () {
            handleAdd();
        }

    };

}();


App.init();
FormComponents3.init();

$('span.help-block').hide();
EditApi.init();
$('#get_api').select2();
});
</script>
