<?php
	$params=array();
	foreach($this->params as $v) 
	{
		$params[$v['value_param']] = $v['display_param'];	
		
	}
	$conns=array();
	foreach($this->conns as $v) 
	{
		$conns[$v['conn_name']] = $v['conn_name'];	
		
	}

$vapi = explode(',',$this->data['content_attrs']['api_id']);
//Zend_Debug::dump(unserialize($this->data['content_attrs']['data']));die();
?>
<style>
	.col-md-2, .col-md-3, .col-md-4 {float: left;}
</style>

<div class="m-grid__item m-grid__item--fluid m-wrapper">
	<div class="m-subheader ">
		<div class="d-flex align-items-center">
			<div class="mr-auto">
				<h3 class="m-subheader__title m-subheader__title--separator">
					Big Builder
				</h3>
				<ul class="m-subheader__breadcrumbs m-nav m-nav--inline">
					<li class="m-nav__item m-nav__item--home">
						<a href="#" class="m-nav__link m-nav__link--icon">
							<i class="m-nav__link-icon flaticon-app"></i>
						</a>
					</li>
					<li class="m-nav__item">
						<a href="" class="m-nav__link">
							<span class="m-nav__link-text">
								Add Page <small>Graph Builder</small>
							</span>
						</a>
					</li>
					
				</ul>
			</div>
		</div>
	</div>
	<div class="m-content">
		<div class="m-portlet m-portlet--mobile">
			<div class="m-portlet">
				<div class="m-portlet__head">
					<div class="m-portlet__head-caption">
						<div class="m-portlet__head-title">
							<h3 class="m-portlet__head-text">
								Graph Builder
							</h3>
						</div>
					</div>
				</div>
				<form action="" class="m-form m-form--state m-form--fit m-form--label-align-right" id="addapi" method="post">
				<div class="m-portlet__body">
					<input type="hidden" name="pid" value="<?php echo $this->varams['id'];?>" />
					<input type="hidden" name="idtime" value="<?php echo mktime(); ?>" />	
					<div class="m-form__content">
						<div class="m-alert m-alert--icon alert alert-danger m--hide" role="alert" id="alertinfo">
							<div class="m-alert__icon">
								<i class="la la-warning"></i>
							</div>
							<div class="m-alert__text" id="alertmsg">
								<strong>Warning!</strong> Something went wrong. Please check.
							</div>
							<div class="m-alert__close">
								<button type="button" class="close" data-close="alert" aria-label="Close"></button>
							</div>
						</div>
					</div>
					<div style="margin:0px auto;text-align:center;" class="m--hide" id="processbar">
						<div class="progress">
							<div class="progress-bar progress-bar-striped progress-bar-animated " role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
								<span class="sr-only">
									On Process
								</span>
							</div>
						</div>
						<span style="margin:0px auto;">Please wait...processing request</span>
					</div>
					
					<ul class="nav nav-tabs" role="tablist">
						<li class="nav-item">
							<a class="nav-link active" data-toggle="tab" href="#set1">Settings</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" data-toggle="tab" href="#setapi">Data</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" data-toggle="tab" href="#set2">Appereance</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="#set3" data-toggle="tab">Miscellaneous</a>
						</li>	
						<li class="nav-item">
							<a class="nav-link" href="#set4" data-toggle="tab">Number Formatting</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="#set5" data-toggle="tab">Legend</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="#set6" data-toggle="tab">Baloon</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="#set7" data-toggle="tab">Category Axis</a>
						</li>
					</ul>
					
					<div class="tab-content">
						<div class="tab-pane active" id="set1">
							<div class="form-group m-form__group row">
								<div class="col-md-12">
									<div class="form-group">
										<label for="ctype">Chart Type</label>
										<div class="input-icon right">
											<select  name="ctype" id="ctype" class="form-control" placeholder="Chart Type">
											<?php 
											foreach ($this->chartType as $k=> $v) {
											echo 	'<optgroup  label="'.$k.'">';
												foreach ($v as $vv) {
														echo "<option '".$vv."'>".$vv."</option>";
												}
											echo "</optgroup>";
											}
											?>
											</select>
										</div>
									</div>
									<div class="form-group">
										<label for="theme">Themes</label>
										<div class="input-icon right">
											<select  name="theme" id="theme" class="form-control" placeholder="Graph Lib" >
												<?php 
												foreach ($this->chartTheme as $v) {
													echo "<option '".$v."'>".$v."</option>";	
												}
												?>
											</select>
										</div>
									</div>
									<div class="form-group">
										<div class="input-icon right">
											<label class="m-checkbox">
												<input type="checkbox"  name="rotate" value=1 placeholder="Rotates">
												Rotates
												<span></span>
											</label>
										</div>
									</div>
									<div class="form-group">
										<label for="rotate">Date Format</label>
										<div class="input-icon right">
											<input class="form-control s-input" name="dformat" placeholder="Enter text">
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="tab-pane" id="setapi" role="tabpanel">
							<div class="form-group m-form__group row">
								<div class="col-md-12">
									<div class="form-group">
										<label for="get_api">Get Api</label>
										<div class="input-icon right">
											<select  name="get_api[]" id="get_api" class="form-control" placeholder="Get Api">
											<?php  foreach($this->apis as $k=>$v){
											$vapi=array(28);	
											echo "<optgroup label='".$k."'>";	
											foreach($v as $v2) 
											{
												$sel="";
												if(in_array($v2['id'], $vapi)){$sel="selected";}	
												echo "<option $sel value='".$v2['id']."'>".$v2['id']."-".$v2['text']."</option>";	
											}
											
											echo "</optgroup>";
												
											} ?>
											</select>
										</div>
									</div>
									
									<div class="form-group">
										<label for="title"></label>
										<?php for($i=0;$i<=count($this->data['content_attrs']['field']);$i++) { ?>
											<div class="input-icon right breadcrump" id="breadcrump<?php echo $i+1;?>" data-id="1">
												<div class="col-md-offset-1 col-md-10" style="float: left;">
													<div class="col-md-4">
														<input class="form-control s-input" name="key[<?php echo $i; ?>]" value="<?php echo $this->data['content_attrs']['field'][$i]['key']; ?>" placeholder="Key">
													</div>
													<div class="col-md-4">
														<input class="form-control s-input" name="varx[<?php echo $i;?>]" value="<?php echo $this->data['content_attrs']['field'][$i]['name'];?>" placeholder="ColumnName">
													</div>
													<div class="col-md-4">
														<input class="form-control  s-input" value="<?php echo $this->data['content_attrs']['field'][$i]['api'];?>" name="api[<?php echo $i;?>]" placeholder="Api Id">
													</div>
												</div>
												<div class="col-md-2">
													<button type="button" class="btn grey addGC" onclick="addGC(this); return false;" data-act="addGC" data-id="1" style="padding: 5px;">Add</button>
												</div>
												<div class="clearfix"></div><br>
											</div>
										<?PHP } ?>
										
									</div>
								</div>
							</div>
						</div>
						<div class="tab-pane" id="set2" role="tabpanel">
							<div class="form-group m-form__group row">
								<div class="col-md-12">
									<div class="form-group">
										<label for="colors">Colors</label>
										<div class="input-icon right">
											<input class="form-control s-input" name="colors" placeholder="Enter text" value="#FF6600,#FCD202,#B0DE09,#0D8ECF,#2A0CD0,#CD0D74,#CC0000,#00CC00,#0000CC,#DDDDDD,#999999,#333333,#990000">
										</div>
									</div>
									<div class="form-group">
										<label for="colors">Default</label>
										<div class="input-icon right">
											<input class="form-control s-input colorpicker-default" placeholder="Enter text" value="#8fff00">
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="tab-pane" id="set3" role="tabpanel">
							
						</div>
						<div class="tab-pane" id="set4" role="tabpanel">
							
						</div>
						<div class="tab-pane" id="set5" role="tabpanel">
							
						</div>
						<div class="tab-pane" id="set6" role="tabpanel">
							
						</div>
						<div class="tab-pane" id="set7" role="tabpanel">
							
						</div>
					</div>
				</div>
				<div class="m-portlet__foot m-portlet__foot--fit">
					<div class="m-form__actions">
						<button type="reset" class="btn btn-secondary" data-dismiss="modal">
							View Graphic
						</button>
						<button type="submit" class="btn btn-accent">
							Submit
						</button>
					</div>
				</div>
				</form>
			</div>
		</div>
	</div>
</div>

<script>
var gamasidx2=<?php echo count($this->data['content_attrs']['field']); ?>;
var elem=1;


function addEl(me){
	var id = $(me).data('id');
	var currow = $('body').find('.element:last');

<?php
echo 'var str = \'<div class="form-group row element" id="element\'+(parseInt(elem)+1)+\'" data-id="\'+(parseInt(gamasidx2)+1)+\'" >\'
							
						+\'<div class="col-md-10">\'
								+\'<div class="col-md-4">\'
									+\'<input type="hidden" class="select2_sample6 form-control select2" name="col1[]" placeholder="Col1">\'
									+\'<br>\'
									+\'<input class="form-control input-sm" name="col4[]" placeholder="Col4">\'
								+\'</div>\'
								+\'<div class="col-md-4">\'
									+\'<input class="form-control input-sm" name="col2[]" placeholder="Col2">\'
									+\'<br>\'
									+\'<input class="form-control input-sm" name="col5[]" placeholder="Col5">\'
								+\'</div>\'
								+\'<div class="col-md-4">\'
									+\'<input class="form-control input-sm" name="col3[]" placeholder="Col3">\'
									+\'<br>\'
									+\'<input class="form-control input-sm" name="col6[]" placeholder="Col6">\'
								+\'</div>\'
							+\'</div>\'
							
					+\'<div class="col-md-2">\'
						+\'<button type="button" class="btn red removeEl" onclick="removeEl(this); return false;" data-act="removeEl" data-id="\'+(parseInt(elem)+1)+\'" style="padding: 5px;">Remove</button>\'
					+\'</div>\'
				+\'</div>\';';
?>
	elem++;
	//console.log(str);
	currow.after(str);
}


function addGC(me){
	var id = $(me).data('id');
	var currow = $('body').find('.breadcrump:last');

<?php
echo 'var str = \'<div class="form-group row breadcrump" id="breadcrump\'+(parseInt(gamasidx2)+1)+\'" data-id="\'+(parseInt(gamasidx2)+1)+\'" >\'
					+\'<div class="col-md-10">\'
								+\'<div class="col-md-4">\'
								+\'<input class="form-control input-sm" name="key[\'+parseInt(gamasidx2)+\']" placeholder="Key">\'
								+\'</div>\'
								+\'<div class="col-md-4">\'
								+\'<input class="form-control input-sm" name="varx[\'+parseInt(gamasidx2)+\']" placeholder="ColumnName">\'
								+\'</div>\'
								+\'<div class="col-md-4">\'
								+\'<input class="form-control input-sm" name="api[\'+parseInt(gamasidx2)+\']" placeholder="Api Id">\'
								+\'</div>\'										
					+\'</div>\'
					+\'<div class="col-md-2">\'
					+\'<button type="button" class="btn btn-danger removeGC" onclick="removeGC(this); return false;" data-act="removeGC" data-id="\'+(parseInt(gamasidx2)+1)+\'" style="padding: 5px;">Remove</button>\'
					+\'</div>\'
				+\'</div>\';';
?>
	gamasidx2++;
	//console.log(str);
	currow.after(str);
	
	 $(".select2_sample6").select2();
}


function removeGC(me){
	var id = $(me).data('id');
	//console.log(id);
	$('body').find('#breadcrump'+id+':first').remove();
}

function removeEl(me){
	var id = $(me).data('id');
	//console.log(id);
	$('body').find('#element'+id+':first').remove();
}
</script>