<?php
	$params=array();
	foreach($this->params as $v) 
	{
		$params[$v['value_param']] = $v['display_param'];	
		
	}
	$conns=array();
	foreach($this->conns as $v) 
	{
		$conns[$v['conn_name']] = $v['conn_name'];	
		
	}

$vapi = explode(',',$this->data['content_attrs']['api_id']);
//Zend_Debug::dump($this->data['content_attrs']['graph_lib']);die();
?>
<style>
	.col-md-2, .col-md-3 {float: left;}
</style>

<div class="m-grid__item m-grid__item--fluid m-wrapper">
	<div class="m-subheader ">
		<div class="d-flex align-items-center">
			<div class="mr-auto">
				<h3 class="m-subheader__title m-subheader__title--separator">
					Big Builder
				</h3>
				<ul class="m-subheader__breadcrumbs m-nav m-nav--inline">
					<li class="m-nav__item m-nav__item--home">
						<a href="#" class="m-nav__link m-nav__link--icon">
							<i class="m-nav__link-icon flaticon-app"></i>
						</a>
					</li>
					<li class="m-nav__item">
						<a href="" class="m-nav__link">
							<span class="m-nav__link-text">
								Add Page <small>Graph Builder</small>
							</span>
						</a>
					</li>
					
				</ul>
			</div>
		</div>
	</div>
	<div class="m-content">
		<div class="m-portlet m-portlet--mobile">
			<div class="m-portlet">
				<div class="m-portlet__head">
					<div class="m-portlet__head-caption">
						<div class="m-portlet__head-title">
							<h3 class="m-portlet__head-text">
								Graph Builder
							</h3>
						</div>
					</div>
				</div>
				<form action="" class="m-form m-form--state m-form--fit m-form--label-align-right" id="addapi" method="post">
				<div class="m-portlet__body">
					<input type="hidden" name="pid" value="<?php echo $this->varams['id'];?>" />
					<div class="m-form__content">
						<div class="m-alert m-alert--icon alert alert-danger m--hide" role="alert" id="alertinfo">
							<div class="m-alert__icon">
								<i class="la la-warning"></i>
							</div>
							<div class="m-alert__text" id="alertmsg">
								<strong>Warning!</strong> Something went wrong. Please check.
							</div>
							<div class="m-alert__close">
								<button type="button" class="close" data-close="alert" aria-label="Close"></button>
							</div>
						</div>
					</div>
					<div style="margin:0px auto;text-align:center;" class="m--hide" id="processbar">
						<div class="progress">
							<div class="progress-bar progress-bar-striped progress-bar-animated " role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
								<span class="sr-only">
									On Process
								</span>
							</div>
						</div>
						<span style="margin:0px auto;">Please wait...processing request</span>
					</div>
					<div class="form-group m-form__group row">
						<div class="col-md-6">
							<div class="form-group">
								<label for="get_api">Get Api</label>
								<div class="input-icon right">
									<select  name="get_api[]" id="get_api" class="form-control" placeholder="Get Api">
									<?php  foreach($this->apis as $k=>$v){
											
									echo "<optgroup label='".$k."'>";	
									foreach($v as $v2) 
									{
										$sel="";
										if(in_array($v2['id'], $vapi)){$sel="selected";}	
										echo "<option $sel value='".$v2['id']."'>".$v2['id']."-".$v2['text']."</option>";	
									}
									
									echo "</optgroup>";
										
									} ?>
									</select>
								</div>
							</div>
						</div>
						<div class="col-md-offset-1 col-md-6">
							<div class="form-group">
								<label for="graph_type">Graphic Type</label>
								<div class="input-icon right">
									<select  name="graph_type" id="graph_type" class="form-control" placeholder="Graph Type" >
										<option value=''>----------</option>
										<optgroup label="Bar Chart">
											<option <?php if($this->data['content_attrs']['graph_type']=="simplebar"){echo"selected";}	?> value="simplebar">Simple Bar Chart</option>
											<option <?php if($this->data['content_attrs']['graph_type']=="horizontalbar"){echo"selected";}	?> value="horizontalbar">Horizontal Bar Chart</option>
											<option <?php if($this->data['content_attrs']['graph_type']=="stackchart"){echo"selected";} ?> value="stackchart">Stack Chart</option>
										</optgroup>
										<optgroup label="Pie Chart">
											<option <?php if($this->data['content_attrs']['graph_type']=="simplepie"){echo"selected";} ?> value="simplepie">Simple Pie Chart</option>
											<option <?php if($this->data['content_attrs']['graph_type']=="pieplus"){echo"selected";} ?> value="pieplus">Pie Chart Plus</option>
											
										</optgroup>
										
										<optgroup label="Others">
											<option <?php if($this->data['content_attrs']['graph_type']=="interactive"){echo"selected";} ?> value="interactive">Interactive Chart</option>
											
										</optgroup>
									</select>
								</div>
							</div>
						</div>
						<div class="col-md-offset-1 col-md-6">
							<div class="form-group">
								<label for="graph_lib">Graphic Lib</label>
								<div class="input-icon right">
									<select  name="graph_lib" id="graph_lib" class="form-control" placeholder="Graph Lib" >
										<option value="">----</option>
										<option <?php if($this->data['content_attrs']['graph_lib']=="plot"){echo"selected";} ?>  value="plot" >PlotChart</option>
										<option  <?php if($this->data['content_attrs']['graph_lib']=="am"){echo"selected";} ?>  value="am">AmChart</option>
									</select>
								</div>
							</div>
						</div>
						<div class="col-md-offset-1 col-md-6">
						</div>
						<div class="col-md-offset-1 col-md-6">
							<div class="form-group">
								<label for="extendedjs">Extended js</label>
								<div class="input-icon right">
									<textarea class="form-control m-input" name="extendedjs" id="extendedjs" placeholder="Enter Extended Js">
										<?php echo $this->data['content_attrs']['extendedjs'];?>
									</textarea>
								</div>
							</div>
						</div>
						<div class="col-md-offset-1 col-md-6"></div>
						
						<div class="col-md-offset-1 col-md-12"> 
							<div class="form-group">
								<label for="title">Key & Value</label>
								<?php for($i=0;$i<=count($this->data['content_attrs']['field']);$i++) { ?>
									<div class="input-icon right breadcrump" id="breadcrump<?php echo $i+1;?>" data-id="1">
										<div class="col-md-offset-1 col-md-10" style="float: left;">
											<div class="col-md-3">
												<input class="form-control s-input" name="key[<?php echo $i;?>]" value="<?php echo $this->data['content_attrs']['field'][$i]['key'];?>" placeholder="Key">
											</div>
											<div class="col-md-3">
												<input class="form-control s-input" name="xvalue[<?php echo $i;?>]" value="<?php echo $this->data['content_attrs']['field'][$i]['value'];?>" placeholder="Value">
											</div>
											<div class="col-md-3">
												<input class="form-control  s-input" value="<?php echo $this->data['content_attrs']['field'][$i]['name'];?>" name="varx[<?php echo $i;?>]" placeholder="VarName">
											</div>
											<div class="col-md-3">
												<input class="form-control  s-input" value="<?php echo $this->data['content_attrs']['field'][$i]['api'];?>" name="api[<?php echo $i;?>]" placeholder="Api Id">
											</div>
										</div>
										<div class="col-md-2">
											<button type="button" class="btn grey addGC" onclick="addGC(this); return false;" data-act="addGC" data-id="1" style="padding: 5px;">Add</button>
										</div>
										<div class="clearfix"></div><br>
									</div>
								<?PHP } ?>
								
							</div>
						</div>
					</div>
				</div>
				<div class="m-portlet__foot m-portlet__foot--fit">
					<div class="m-form__actions">
						<button type="submit" class="btn btn-accent">
							Submit
						</button>
						<button type="reset" class="btn btn-secondary" data-dismiss="modal">
							Cancel
						</button>
					</div>
				</div>
				</form>
			</div>
		</div>
	</div>
</div>

<script>
var gamasidx2=<?php echo count($this->data['content_attrs']['field']); ?>;
var elem=1;


function addEl(me){
	var id = $(me).data('id');
	var currow = $('body').find('.element:last');

<?php
echo 'var str = \'<div class="form-group row element" id="element\'+(parseInt(elem)+1)+\'" data-id="\'+(parseInt(gamasidx2)+1)+\'" >\'
							
						+\'<div class="col-md-10">\'
								+\'<div class="col-md-4">\'
									+\'<input type="hidden" class="select2_sample6 form-control select2" name="col1[]" placeholder="Col1">\'
									+\'<br>\'
									+\'<input class="form-control input-sm" name="col4[]" placeholder="Col4">\'
								+\'</div>\'
								+\'<div class="col-md-4">\'
									+\'<input class="form-control input-sm" name="col2[]" placeholder="Col2">\'
									+\'<br>\'
									+\'<input class="form-control input-sm" name="col5[]" placeholder="Col5">\'
								+\'</div>\'
								+\'<div class="col-md-4">\'
									+\'<input class="form-control input-sm" name="col3[]" placeholder="Col3">\'
									+\'<br>\'
									+\'<input class="form-control input-sm" name="col6[]" placeholder="Col6">\'
								+\'</div>\'
							+\'</div>\'
							
					+\'<div class="col-md-2">\'
						+\'<button type="button" class="btn red removeEl" onclick="removeEl(this); return false;" data-act="removeEl" data-id="\'+(parseInt(elem)+1)+\'" style="padding: 5px;">Remove</button>\'
					+\'</div>\'
				+\'</div>\';';
?>
	elem++;
	//console.log(str);
	currow.after(str);
}


function addGC(me){
	var id = $(me).data('id');
	var currow = $('body').find('.breadcrump:last');

<?php
echo 'var str = \'<div class="form-group row breadcrump" id="breadcrump\'+(parseInt(gamasidx2)+1)+\'" data-id="\'+(parseInt(gamasidx2)+1)+\'" >\'
					+\'<div class="col-md-10">\'
								+\'<div class="col-md-3">\'
								+\'<input class="form-control input-sm" name="key[\'+parseInt(gamasidx2)+\']" placeholder="Key">\'
								+\'</div>\'
								+\'<div class="col-md-3">\'
								+\'<input class="form-control input-sm" name="xvalue[\'+parseInt(gamasidx2)+\']" placeholder="Value">\'
								+\'</div>\'
								+\'<div class="col-md-3">\'
								+\'<input class="form-control input-sm" name="varx[\'+parseInt(gamasidx2)+\']" placeholder="VarName">\'
								+\'</div>\'
								+\'<div class="col-md-3">\'
								+\'<input class="form-control input-sm" name="api[\'+parseInt(gamasidx2)+\']" placeholder="Api Id">\'
								+\'</div>\'										
					+\'</div>\'
					+\'<div class="col-md-2">\'
					+\'<button type="button" class="btn btn-danger removeGC" onclick="removeGC(this); return false;" data-act="removeGC" data-id="\'+(parseInt(gamasidx2)+1)+\'" style="padding: 5px;">Remove</button>\'
					+\'</div>\'
				+\'</div>\';';
?>
	gamasidx2++;
	//console.log(str);
	currow.after(str);
	
	 $(".select2_sample6").select2();
}


function removeGC(me){
	var id = $(me).data('id');
	//console.log(id);
	$('body').find('#breadcrump'+id+':first').remove();
}

function removeEl(me){
	var id = $(me).data('id');
	//console.log(id);
	$('body').find('#element'+id+':first').remove();
}
</script>