<?php
	$params=array();
	foreach($this->params as $v) 
	{
	$params[$v['value_param']] = $v['display_param'];	

	}
	$conns=array();
	foreach($this->conns as $v) 
	{
	$conns[$v['conn_name']] = $v['conn_name'];	

	}
	
	
if(!isset($this->data['content_attrs']['field'])) 
{
 $fald = 1;
} else {
	$fald = count($this->data['content_attrs']['field']);
}	
//Zend_Debug::dump($this->data['content_attrs']['field']);die();
$vapi = explode(',',$this->data['content_attrs']['api_id']);
?>
<style>
	.col-md-2 {float: left;}
</style>

<div class="m-grid__item m-grid__item--fluid m-wrapper">
	<div class="m-subheader ">
		<div class="d-flex align-items-center">
			<div class="mr-auto">
				<h3 class="m-subheader__title m-subheader__title--separator">
					Big Builder
				</h3>
				<ul class="m-subheader__breadcrumbs m-nav m-nav--inline">
					<li class="m-nav__item m-nav__item--home">
						<a href="#" class="m-nav__link m-nav__link--icon">
							<i class="m-nav__link-icon flaticon-app"></i>
						</a>
					</li>
					<li class="m-nav__item">
						<a href="" class="m-nav__link">
							<span class="m-nav__link-text">
								Add Page <small>Form Builder</small>
							</span>
						</a>
					</li>
					
				</ul>
			</div>
		</div>
	</div>
	<div class="m-content">
		<div class="m-portlet m-portlet--mobile">
			<div class="m-portlet">
				<div class="m-portlet__head">
					<div class="m-portlet__head-caption">
						<div class="m-portlet__head-title">
							<h3 class="m-portlet__head-text">
								Form Builder
							</h3>
						</div>
					</div>
				</div>
				<form action="" class="m-form m-form--state m-form--fit m-form--label-align-right" id="addapi" method="post">
				<div class="m-portlet__body">
					<input type="hidden" name="pid" value="<?php echo $this->varams['id'];?>" />
					<input type="hidden" name="form_id" value="<?php echo "id".$this->varams['id'];?>" />
					<input type="hidden" name="formclass" value="<?php echo "class".$this->varams['id'];?>" />
					<div class="m-form__content">
						<div class="m-alert m-alert--icon alert alert-danger m--hide" role="alert" id="alertinfo">
							<div class="m-alert__icon">
								<i class="la la-warning"></i>
							</div>
							<div class="m-alert__text" id="alertmsg">
								<strong>Warning!</strong> Something went wrong. Please check.
							</div>
							<div class="m-alert__close">
								<button type="button" class="close" data-close="alert" aria-label="Close"></button>
							</div>
						</div>
					</div>
					<div style="margin:0px auto;text-align:center;" class="m--hide" id="processbar">
						<div class="progress">
							<div class="progress-bar progress-bar-striped progress-bar-animated " role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
								<span class="sr-only">
									On Process
								</span>
							</div>
						</div>
						<span style="margin:0px auto;">Please wait...processing request</span>
					</div>
					<div class="form-group m-form__group row">
						<div class="col-md-6">
							<div class="form-group">
								<label for="pagealias">Get Api</label>
								<div class="input-icon right">
									<select  name="get_api[]" id="get_api" class="form-control" placeholder="Get Api">
											<option value="">-------</option>
									<?php  foreach($this->apis as $k=>$v){
										
											echo "<optgroup label='".$k."'>";	
											foreach($v as $v2) 
											{
												$sel="";
												if(in_array($v2['id'], $vapi)){$sel="selected";}	
												echo "<option $sel value='".$v2['id']."'>".$v2['id']."-".$v2['text']."</option>";	
											}
									
									echo "</optgroup>";
										
									} ?>
									</select>
								</div>
							</div>
						</div>
						<div class="col-md-offset-1 col-md-6">
							<div class="form-group">
								<label for="post_api">Post Api</label>
								<div class="input-icon right">
									<select  name="post_api" id="post_api" class="form-control" placeholder="Post Api" >
										<?php  foreach($this->apis as $k=>$v){
										echo "<option value=''>----------</option>"	;
										echo "<optgroup label='".$k."'>";	
										foreach($v as $v2) 
										{			
											
												$sel="";
												if($v2['id']==$this->data['content_attrs']['post_api']){$sel="selected";}	
												echo "<option $sel value='".$v2['id']."'>".$v2['id']."-".$v2['text']."</option>";	
										}
										
										echo "</optgroup>";
											
										} ?>
									</select>
								</div>
							</div>
						</div>
						<div class="col-md-offset-1 col-md-6">
							<div class="form-group">
								<label for="pagealias">Post Url</label>
								<div class="input-icon right">
									<input class="form-control s-input" name="post_url" id="post_url" placeholder="Post Url" value="<?php echo $this->data['content_attrs']['post_url'];?>">
								</div>
							</div>
						</div>
						<div class="col-md-offset-1 col-md-6">
							<div class="form-group">
								<label for="post_message">Post Message</label>
								<div class="input-icon right">
									<input class="form-control s-input" name="post_message" id="post_message" placeholder="Post Message" value="<?php echo $this->data['content_attrs']['postmessage'];?>">
								</div>
							</div>
						</div>
						<div class="col-md-offset-1 col-md-6">
							<div class="form-group">
								<label for="extendedjs">Extended js</label>
								<div class="input-icon right">
									<textarea class="form-control m-input" name="extendedjs" id="extendedjs" placeholder="Enter Extended Js">
										<?php echo $this->data['content_attrs']['extendedjs'];?>
									</textarea>
								</div>
							</div>
						</div>
						<div class="col-md-offset-1 col-md-6"></div>
						
						<div class="col-md-offset-1 col-md-12"> 
							<div class="form-group">
								<label for="title">Fields</label>
								<?php for($i=0;$i<($fald);$i++){?>
								<div class="input-icon right breadcrump" id="breadcrump<?php echo $i+1;?>" data-id="1">
										<div class="col-md-offset-1 col-md-10" style="float: left;">
											<div class="col-md-2">
												<input class="form-control s-input" name="id[<?php echo $i;?>]" value="<?php echo $this->data['content_attrs']['field'][$i]['name'];?>" placeholder="Name/Id">
												<br>
												
												<select  name="area[<?php echo $i;?>]" id="type" class="form-control" placeholder="Area" >
													<option value="">--Choose Area--</option>
													<?php
													foreach($this->area as $v ) 
													{
														$sel="";
														if ($v['value_param']=="form-body"){$sel="selected";}
														elseif (isset($this->data['content_attrs']['field'][$i]['area'])&&$this->data['content_attrs']['field'][$i]['area']==$v['value_param']){$sel="selected";}
														echo "<option $sel  value='".$v['value_param']."'>".$v['display_param']."</option>";	
													}
													?>	
												</select>	
											</div>
											<div class="col-md-2">
												
												<select  name="type[<?php echo $i;?>]" id="type"  class="form-control" placeholder="Type" >
												<option value="">--Choose Type--</option>
												<option <?php if($this->data['content_attrs']['field'][$i]['type']=='text'){echo "selected";};?> value='text'>text</option>
												<option <?php if($this->data['content_attrs']['field'][$i]['type']=='select'){echo "selected";};?> value='select'>select</option>
												<option <?php if($this->data['content_attrs']['field'][$i]['type']=='multipleselect'){echo "selected";};?> value='multipleselect'>multiple select</option>
												<option <?php if($this->data['content_attrs']['field'][$i]['type']=='date'){echo "selected";};?> value='date'>datepicker</option>
												<option <?php if($this->data['content_attrs']['field'][$i]['type']=='textarea'){echo "selected";};?> value='textarea'>textarea</option>
												<option <?php if($this->data['content_attrs']['field'][$i]['type']=='radio'){echo "selected";};?> value='radio'>radio</option>
												<option <?php if($this->data['content_attrs']['field'][$i]['type']=='checkbox'){echo "selected";};?> value='checkbox'>checkbox</option>
												<option <?php if($this->data['content_attrs']['field'][$i]['type']=='file'){echo "selected";};?> value='file'>file</option>
												<option <?php if($this->data['content_attrs']['field'][$i]['type']=='date'){echo "selected";};?> value='date'>submit</option>
												<option <?php if($this->data['content_attrs']['field'][$i]['type']=='submit'){echo "selected";};?> value='submit'>submit</option>
												</select>	
												<br>
												<select  name="initapi[<?php echo $i;?>]" id="initapi" class="form-control" placeholder="Init Api" >
													<?php  foreach($this->apis as $k=>$v){
													echo "<option value=''>--Init Api--</option>"	;
													echo "<optgroup label='".$k."'>";	
													foreach($v as $v2) 
													{
														$sel="";
														if($this->data['content_attrs']['field'][$i]['initApi']==$v2['id']){$sel="selected";}
														echo "<option $sel 	value='".$v2['id']."'>".$v2['id']."-".$v2['text']."</option>";	
													}
													
													echo "</optgroup>";
														
													} ?>
												</select>
											</div>
											<div class="col-md-2">
												<input class="form-control  s-input" value="<?php echo $this->data['content_attrs']['field'][$i]['class'];?>" name="class[<?php echo $i;?>]" placeholder="Class">
												<br>
												<input class="form-control  s-input" value="<?php echo $this->data['content_attrs']['field'][$i]['initvalue'];?>" name="initvalue[<?php echo $i;?>]" placeholder="Initvalue">
											</div>
										
											<div class="col-md-2">
												<input class="form-control  s-input" value="<?php echo $this->data['content_attrs']['field'][$i]['label'];?>"  name="label[<?php echo $i;?>]" placeholder="Label">
												<br>
												<label class="m-checkbox">
													<input type="checkbox" <?php if($this->data['content_attrs']['field'][$i]['required']==1){echo "checked";}?>  name="req[<?php echo $i;?>]" value=1 placeholder="Required">
													Required
													<span></span>
												</label>
											</div>
											<div class="col-md-2">
												<select  name="classicon[<?php echo $i;?>]" id="type" class="form-control" placeholder="Classicon" >
												<option value="">--Choose Classicon--</option>
												<?php
												foreach($this->classicon as $v ) 
												{
													$sel="";
													if($this->data['content_attrs']['field'][$i]['classicon']==$v['value_param']){$sel= "selected";}
													echo "<option $sel value='".$v['value_param']."'>".$v['display_param']."</option>";	
												}
												?>	
												</select>
												<br>
												<input  value="<?php echo $this->data['content_attrs']['field'][$i]['help'];?>"  class="form-control  s-input" name="help[<?php echo $i;?>]" placeholder="Inline Help">	
											</div>
										</div>
										<div class="col-md-2">
											<?php if($i==0){?>
											<button type="button" class="btn grey addGC" onclick="addGC(this); return false;" data-act="addGC" data-id="1" style="padding: 5px;">Add</button>
											
											<?php } else { ?>
											<button type="button" class="btn red removeGC" onclick="removeGC(this); return false;" data-act="removeEl" data-id="<?php echo $i+1;?>" style="padding: 5px;">Remove</button>
										
											<?php } ?>
										</div>
										<div class="clearfix"></div><br>
								</div>
								
								<?php } ?>
							</div>
						</div>
					</div>
				</div>
				<div class="m-portlet__foot m-portlet__foot--fit">
					<div class="m-form__actions">
						<button type="submit" class="btn btn-accent">
							Submit
						</button>
						<button type="reset" class="btn btn-secondary" data-dismiss="modal">
							Cancel
						</button>
					</div>
				</div>
				</form>
			</div>
		</div>
	</div>
</div>

<script>
var gamasidx2=<?php echo $fald;?>;
var elem=1;


function addEl(me){
	var id = $(me).data('id');
	var currow = $('body').find('.element:last');

<?php
echo 'var str = \'<div class="form-group row element" id="element\'+(parseInt(elem)+1)+\'" data-id="\'+(parseInt(gamasidx2)+1)+\'" >\'
							
						+\'<div class="col-md-10">\'
								+\'<div class="col-md-4">\'
									+\'<input type="hidden" class="select2_sample6 form-control select2" name="col1[]" placeholder="Col1">\'
									+\'<br>\'
									+\'<input class="form-control input-sm" name="col4[]" placeholder="Col4">\'
								+\'</div>\'
								+\'<div class="col-md-4">\'
									+\'<input class="form-control input-sm" name="col2[]" placeholder="Col2">\'
									+\'<br>\'
									+\'<input class="form-control input-sm" name="col5[]" placeholder="Col5">\'
								+\'</div>\'
								+\'<div class="col-md-4">\'
									+\'<input class="form-control input-sm" name="col3[]" placeholder="Col3">\'
									+\'<br>\'
									+\'<input class="form-control input-sm" name="col6[]" placeholder="Col6">\'
								+\'</div>\'
							+\'</div>\'
							
					+\'<div class="col-md-2">\'
						+\'<button type="button" class="btn red btn-danger removeEl" onclick="removeEl(this); return false;" data-act="removeEl" data-id="\'+(parseInt(elem)+1)+\'" style="padding: 5px;">Remove</button>\'
					+\'</div>\'
				+\'</div>\';';
?>
	elem++;
	//console.log(str);
	currow.after(str);
}


function addGC(me){
	var id = $(me).data('id');
	var currow = $('body').find('.breadcrump:last');

<?php
echo 'var str = \'<div class="form-group row breadcrump" id="breadcrump\'+(parseInt(gamasidx2)+1)+\'" data-id="\'+(parseInt(gamasidx2)+1)+\'" >\'
					+\'<div class="col-md-10">\'
								+\'<div class="col-md-2">\'
								+\'<input class="form-control input-sm" name="id[\'+parseInt(gamasidx2)+\']" placeholder="Id">\'
								+\'<br>\'
								+\'<select  name="area[\'+parseInt(gamasidx2)+\']" id="type" class="form-control" placeholder="Area" >\'
								+\'<option value="">--Choose Area--</option>\'';
								
								foreach($this->area as $v ) 
								{
								$sel="";
								if($v['value_param']=="form-body"){$sel="selected";}	
								
									
								echo '+\'<option '.$sel.' value="'.$v['value_param'].'">'.$v['display_param'].'</option>\'';	
								}
									
						echo	'+\'</select>\'	
								+\'</div>\'
								+\'<div class="col-md-2">\'
									+\'<select  name="type[\'+parseInt(gamasidx2)+\']" id="type" class="form-control" placeholder="Type" >\'
									+\'<option value="">--Choose Type--</option>\'
									+\'<option value="text">text</option>\'
									+\'<option value="select">select</option>\'
									+\'<option value="multipleselect">multiple select</option>\'
									+\'<option value="date">datepicker</option>\'
									+\'<option value="textarea">textarea</option>\'
									+\'<option value="radio">radio</option>\'
									+\'<option value="checkbox">checkbox</option>\'
									+\'<option value="file">file</option>\'
									+\'<option value="submit">submit</option>\'
									+\'</select>\'
									+\'<br>\'
									+\'<select  name="initapi[\'+parseInt(gamasidx2)+\']" id="initapi" class="form-control" placeholder="Init Api">\'';
									
								foreach($this->apis as $k=>$v){
								echo '+\'<option value="">--Init Api--</option>\'
								+\'<optgroup label="'.$k.'">\'
								';	
								;
								foreach($v as $v2) 
								{
								echo '+\'<option value="'.$v2['id'].'">'.$v2['id'].'-'.trim(preg_replace('/\s\s+/', ' ', $v2['text'])).'</option>\'';	
								}
								echo '
								+\'</optgroup>\'';
										} 
								echo '+\'</select>\'
								+\'</div>\'
								+\'<div class="col-md-2">\'
								+\'<input class="form-control input-sm" name="class[\'+parseInt(gamasidx2)+\']" placeholder="Class">\'
								+\'<br>\'
								+\'<input class="form-control input-sm" name="initvalue[\'+parseInt(gamasidx2)+\']" placeholder="Initvalue">\'
								+\'</div>\'
								+\'<div class="col-md-2">\'
								+\'<input class="form-control input-sm" name="label[\'+parseInt(gamasidx2)+\']" placeholder="Label">\'
								+\'<br>\'
								+\'<label class="m-checkbox">\'
									+\'<input type="checkbox" name="req[\'+parseInt(gamasidx2)+\']" value=1 placeholder="Required">\'
									+\'Required\'
									+\'<span></span>\'
								+\'</label>\'
								+\'</div>\'
								+\'<div class="col-md-2">\'
								+\'<select  name="classicon[\'+parseInt(gamasidx2)+\']" id="type" class="form-control" placeholder="Classicon" >\'
								+\'<option value="">--Choose Classicon--</option>\'';
								
								foreach($this->classicon as $v ) 
								{
								echo '+\'<option value="'.$v['value_param'].'">'.$v['display_param'].'</option>\'';	
								}
							
								echo '+\'</select>\'	
								+\'<br>	\'
								+\'<input class="form-control input-sm" name="help[\'+parseInt(gamasidx2)+\']" placeholder="Inline Help">\'
								+\'</div>\'
								+\'</div>\'
								+\'<div class="col-md-2">\'
						+\'<button type="button" class="btn btn-danger removeGC" onclick="removeGC(this); return false;" data-act="removeGC" data-id="\'+(parseInt(gamasidx2)+1)+\'" style="padding: 5px;">Remove</button>\'
					+\'</div>\'
				+\'</div>\';';
?>
	gamasidx2++;
	//console.log(str);
	currow.after(str);
	
	 $(".select2_sample6").select2();
}


function removeGC(me){
	var id = $(me).data('id');
	//console.log(id);
	$('body').find('#breadcrump'+id+':first').remove();
}

function removeEl(me){
	var id = $(me).data('id');
	//console.log(id);
	$('body').find('#element'+id+':first').remove();
}
</script>