<?php
	$params=array();
	foreach($this->params as $v) 
	{
		$params[$v['value_param']] = $v['display_param'];	
		
	}
	$conns=array();
	foreach($this->conns as $v) 
	{
		$conns[$v['conn_name']] = $v['conn_name'];	
		
	}
//Zend_Debug::dump($this->data);die();
$vapi = explode(',',$this->data['content_attrs']['api_id']);
?>
<style>
	.col-md-2 {float: left;}
</style>

<div class="m-grid__item m-grid__item--fluid m-wrapper">
	<div class="m-subheader ">
		<div class="d-flex align-items-center">
			<div class="mr-auto">
				<h3 class="m-subheader__title m-subheader__title--separator">
					Big Builder
				</h3>
				<ul class="m-subheader__breadcrumbs m-nav m-nav--inline">
					<li class="m-nav__item m-nav__item--home">
						<a href="#" class="m-nav__link m-nav__link--icon">
							<i class="m-nav__link-icon flaticon-app"></i>
						</a>
					</li>
					<li class="m-nav__item">
						<a href="" class="m-nav__link">
							<span class="m-nav__link-text">
								Add Page <small>Html Builder</small>
							</span>
						</a>
					</li>
					
				</ul>
			</div>
		</div>
	</div>
	<div class="m-content">
		<div class="m-portlet m-portlet--mobile">
			<div class="m-portlet">
				<div class="m-portlet__head">
					<div class="m-portlet__head-caption">
						<div class="m-portlet__head-title">
							<h3 class="m-portlet__head-text">
								Html Builder
							</h3>
						</div>
					</div>
				</div>
				<form action="" class="m-form m-form--state m-form--fit m-form--label-align-right" id="addapi" method="post">
				<div class="m-portlet__body">
					<input type="hidden" name="pid" value="<?php echo $this->varams['id'];?>" />
					<div class="m-form__content">
						<div class="m-alert m-alert--icon alert alert-danger m--hide" role="alert" id="alertinfo">
							<div class="m-alert__icon">
								<i class="la la-warning"></i>
							</div>
							<div class="m-alert__text" id="alertmsg">
								<strong>Warning!</strong> Something went wrong. Please check.
							</div>
							<div class="m-alert__close">
								<button type="button" class="close" data-close="alert" aria-label="Close"></button>
							</div>
						</div>
					</div>
					<div style="margin:0px auto;text-align:center;" class="m--hide" id="processbar">
						<div class="progress">
							<div class="progress-bar progress-bar-striped progress-bar-animated " role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
								<span class="sr-only">
									On Process
								</span>
							</div>
						</div>
						<span style="margin:0px auto;">Please wait...processing request</span>
					</div>
					<div class="form-group m-form__group row">
						<div class="col-md-6">
							<div class="form-group">
								<label for="html_id">ID</label>
								<div class="input-icon right">
									<input class="form-control s-input" name="html_id" id="html_id" placeholder="HTML ID" value="<?php echo $this->data['content_attrs']['html_id'];?>">
								</div>
							</div>
						</div>
						<div class="col-md-offset-1 col-md-6">
							<div class="form-group">
								<label for="html_class">CLASS</label>
								<div class="input-icon right">
									<input class="form-control s-input" name="html_class" id="html_class" placeholder="CLASS" value="<?php echo $this->data['content_attrs']['html_class'];?>">
								</div>
							</div>
						</div>
						<div class="col-md-offset-1 col-md-6">
							<div class="form-group">
								<label for="get_api">Get Api</label>
								<div class="input-icon right">
									<select  name="get_api[]" id="get_api" class="form-control" placeholder="Get Api">
									<?php  foreach($this->apis as $k=>$v){
									echo "<option value=''>--none--</option>"	;	
									echo "<optgroup label='".$k."'>";	
									foreach($v as $v2) 
									{
										$sel="";	
										if(in_array($v2['id'], $vapi)){$sel="selected";}	
										echo "<option $sel value='".$v2['id']."'>".$v2['id']."-".$v2['text']."</option>";	
									}
									
									echo "</optgroup>";
										
									} ?>
									</select>
								</div>
							</div>
						</div>
						<div class="col-md-offset-1 col-md-6">
							<div class="form-group">
								<label for="schtml">Html Script</label>
								<div class="input-icon right">
									<textarea class="form-control m-input" name="schtml" id="schtml" placeholder="Enter Extended Js"><?php echo $this->data['content_attrs']['contents'];?></textarea>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="m-portlet__foot m-portlet__foot--fit">
					<div class="m-form__actions">
						<button type="submit" class="btn btn-accent">
							Submit
						</button>
						<button type="reset" class="btn btn-secondary" data-dismiss="modal">
							Cancel
						</button>
					</div>
				</div>
				</form>
			</div>
		</div>
	</div>
</div>