<?php
	$params=array();
	foreach($this->params as $v) 
	{
		$params[$v['value_param']] = $v['display_param'];	
		
	}
	$conns=array();
	foreach($this->conns as $v) 
	{
		$conns[$v['conn_name']] = $v['conn_name'];	
		
	}
//Zend_Debug::dump($this->data);die();

$arbread = unserialize($this->data['breadcrumb']);
$arel = unserialize($this->data['element']);
//	Zend_Debug::dump(($arel));die();
//$cntr = 0;
if(count($arel)>0)
{
	if($this->varams['row']<=count($arel))
	{
		//$this->varams['row']=count($arel);
	}
}

?>
<div class="m-grid__item m-grid__item--fluid m-wrapper">
	<div class="m-subheader ">
		<div class="d-flex align-items-center">
			<div class="mr-auto">
				<h3 class="m-subheader__title m-subheader__title--separator">
					Big Builder 
				</h3>
				<ul class="m-subheader__breadcrumbs m-nav m-nav--inline">
					<li class="m-nav__item m-nav__item--home">
						<a href="#" class="m-nav__link m-nav__link--icon">
							<i class="m-nav__link-icon flaticon-app"></i>
						</a>
					</li>
					<li class="m-nav__item">
						<a href="" class="m-nav__link">
							<span class="m-nav__link-text">
								Edit Page <small>Edit a page using reused portlets</small>
							</span>
						</a>
					</li>
					
				</ul>
			</div>
		</div>
	</div>
	<div class="m-content">
		<div class="m-portlet m-portlet--mobile">
			<div class="m-portlet">
				<div class="m-portlet__head">
					<div class="m-portlet__head-caption">
						<div class="m-portlet__head-title">
							<h3 class="m-portlet__head-text">
								Edit Page
							</h3>
						</div>
					</div>
				</div>
				<div id="chelp"></div>
				<form action="" class="m-form m-form--state m-form--fit m-form--label-align-right" id="addapi" method="post">
				<div class="m-portlet__body">
					<input type="hidden" name="id" value="<?php echo $this->data['id'];?>" />
					<input type="hidden" name="pid" value="" />
					
					<div class="m-form__content">
						<div class="m-alert m-alert--icon alert alert-danger m--hide" role="alert" id="alertinfo">
							<div class="m-alert__icon">
								<i class="la la-warning"></i>
							</div>
							<div class="m-alert__text">
								<span id="alertmsg"><strong>Warning!</strong> Something went wrong. Please check.</span>
							</div>
							<div class="m-alert__close">
								<button type="button" class="close" data-close="alert" aria-label="Close"></button>
							</div>
						</div>
					</div>
					
					<div style="margin:0px auto;text-align:center;display:none;" id="processbar">
						<div class="progress">
							<div class="progress-bar progress-bar-striped progress-bar-animated " role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
								<span class="sr-only">
									On Process
								</span>
							</div>
						</div>
						<span style="margin:0px auto;">Please wait...processing request</span>
					</div>
					
					<div class="form-group m-form__group row">
						<div class="col-md-12">
							<div class="form-group">
								<label for="pagealias">Portlets Management</label>
								<div class="col-md-3">
									<div class="form-group">
										<label >Number of Portlet Row <?PHP echo $this->varams['row']; ?></label>
										<select id=jml  placeholder="Col1"  name=jml class="form-control">
										<option <?php echo  ($this->varams['row']=='1')?  "selected":""; ?> value=1>1</option>
										<option <?php echo  ($this->varams['row']=='2')?  "selected":""; ?> value=2>2</option>
										<option <?php echo  ($this->varams['row']=='3')?   "selected":""; ?> value=3>3</option>
										<option <?php echo  ($this->varams['row']=='4')?   "selected":""; ?> value=4>4</option>
										<option <?php echo  ($this->varams['row']=='5')?  "selected":""; ?> value=5>5</option>
										<option <?php echo  ($this->varams['row']=='6')?  "selected":""; ?> value=6>6</option>
										</select>
									
									</div>
								</div>
								<div class="form-group m-form__group row element" id="element1" data-id="1">
									<?php for($i=1;$i<=$this->varams['row'];$i++) { ?>
									<div class="col-md-12 row">
										<div class="col-md-2 m-form__group-sub">
											<select class="form-control m-select2 select2_sample6"  value="<?php echo $arel[$i][1]; ?>" id="" name="col1[]"></select>
											<!--input type="hidden"  name="col1[]" placeholder="Col1" class="select2_sample6 form-control select2"-->
										</div>	
										<div class="col-md-2 m-form__group-sub">
											<select class="form-control m-select2 select2_sample6"  value="<?php echo  $arel[$i][2]; ?>" id="" name="col2[]"></select>
											<!--input type="hidden"  name="col2[]" placeholder="Col2" class="select2_sample6 form-control select2"-->
										</div>	
										<div class="col-md-2 m-form__group-sub">
											<select class="form-control m-select2 select2_sample6" id="" value="<?php echo  $arel[$i][3]; ?>" name="col3[]"></select>
											<!--input type="hidden"  name="col3[]" placeholder="Col3" class="select2_sample6 form-control select2"-->
										</div>	
										<div class="col-md-2 m-form__group-sub">
											<select class="form-control m-select2 select2_sample6" id="" value="<?php echo $arel[$i][4]; ?>" name="col4[]"></select>
											<!--input type="hidden"  name="col4[]" placeholder="Col4" class="select2_sample6 form-control select2"-->
										</div>	
										<div class="col-md-2 m-form__group-sub">
											<select class="form-control m-select2 select2_sample6" id="" value="<?php echo $arel[$i][5] ?>" name="col5[]"></select>
											<!--input type="hidden"  name="col5[]" placeholder="Col5" class="select2_sample6 form-control select2"-->
										</div>	
										<div class="col-md-2 m-form__group-sub">
											<select class="form-control m-select2 select2_sample6" id="" value="<?php echo $arel[$i][6] ?>" name="col6[]"></select>
											<!--input type="hidden"  name="col6[]" placeholder="Col6" class="select2_sample6 form-control select2"-->
										</div>		
											
									</div>
									
									<?php } ?>
								</div>
							</div>
						</div>
						<div class="col-md-6">
							<div class="form-group">
								<label for="pagealias">Page Alias</label>
								<div class="input-icon right">
								<input type="text" name="pagealias" id="pagealias" class="form-control" placeholder="Page Alias"  value="<?php echo $this->data['name_alias'];?>" data-toggle="m-tooltip" title="">
								</div>
								<!--span class="help-block">
									 <span> This is inline help</span>
								</span-->
							</div>
						</div>
						<div class="col-md-offset-1 col-md-6">
							<div class="form-group">
								<label for="title">Title</label>
								<div class="input-icon right">
								<input type="text" name="title" id="title" class="form-control" placeholder="Page Title" value="<?php echo $this->data['title'];?>" data-toggle="m-tooltip" title="Ex: 
								Page Composer <small>Compose a page using reused portlets</small>">
								</div>
								<!--span class="help-block">
								<span> "This is inline help"</span>	 
								</span-->
							</div>
						</div>
						<div class="col-md-12"> 
							<div class="form-group">
								<label for="title">Breadcrump</label>
								<?php 
								$x=1;
								foreach($arbread as $k=>$v ) {?>
								<div class="form-group m-form__group row breadcrump" id="breadcrump1" data-id="1">
									<div class="col-md-3 m-form__group-sub">
										<div class="input-icon right">
										<input class="form-control input-sm" name="name[]" placeholder="Name" data-toggle="m-tooltip" title="isikan dengan nama" value="<?php echo $v['name'];?>">
										
										</div>
									</div>
									<div class="col-md-3 m-form__group-sub">
										<div class="input-icon right">
										
										<input class="form-control input-sm" name="href[]" placeholder="Href" data-toggle="m-tooltip" title="isikan dengan url" value="<?php echo $v['name'];?>">
										</div>
									</div>
									<div class="col-md-3 m-form__group-sub">
									<div class="input-icon right">
										<input class="form-control input-sm" name="class[]" placeholder="Class" data-toggle="m-tooltip" title="isikan dengan class" value="<?php echo $v['class'];?>" name="class[]">
									</div>	
									</div>
									<?php if($x==count($arbread)){?>
									<div class="col-md-3 m-form__group-sub">
										<button type="button" class="btn btn-md grey addGC" onclick="addGC(this); return false;" data-act="addGC" data-id="1" style="padding: 5px;width:100%">Add</button>
									</div>
									<?php } ?>
								</div>
								<?php 
								$x++;
								} ?>
							</div>
						</div>
						<div class="col-md-6">
							<div class="form-group">
								<label for="layout">Layout</label>
								<select  name="layout" id="layout" class="form-control" placeholder="Layout Id" >
								<?php 
								foreach($this->lay as $k=>$v) 
								{
									if($k==$this->data['layout_id']){$sel = "selected";}else{$sel = "";}
									echo "<option $sel value='".$k."'>".$v."</option>";	
								}
								?>
								
								</select>
								
								<!--span class="help-block">
									 <span> This is inline help</span>
								</span-->
								
							</div>
							
						</div>
						
						<div class="col-md-offset-1 col-md-6">
							<div class="form-group">
								<label for="workspace">Workspace</label>
								<select  name="workspace" id="workspace" class="form-control" placeholder="Workspace" >
								<?php 
								foreach($this->ws as $k=>$v) 
								{
									if($k==$this->data['workspace_id']){$sel = "selected";}else{$sel = "";}
									echo "<option $sel value='".$k."'>".$v."</option>";	
								}
								?>
								</select>
								
								<!--span class="help-block">
									 <span> This is inline help</span>
								</span-->
							</div>
						</div>
						<div class="col-md-6">
					
							<div class="form-group">
								<label for="apitype">Application</label>
								<select  name="app" id="app" class="form-control" placeholder="App" >
								<?php 
								foreach ($this->apps as $k=>$var) 
								{
									if($k==$this->data['app_id']){$sel = "selected";}else{$sel = "";}
									echo "<option $sel value='".$k."'>".$var."</option>";	
									
									
								}
								?>
								
								</select>
								
								<!--span class="help-block">
									 <span> This is inline help</span>
								</span-->
							</div>
							
						</div>
					</div>
					<div class="m-portlet__foot m-portlet__foot--fit">
						<div class="m-form__actions">
							<button type="submit" class="btn btn-accent">
								Submit
							</button>
							<button type="reset" class="btn btn-secondary" data-dismiss="modal">
								Cancel
							</button>
						</div>
					</div>
				</div>
				</form>
			</div>
		</div>
	</div>
</div>
<script>
var gamasidx2=1;
var elem=1;


function addEl(me){
	var id = $(me).data('id');
	var currow = $('body').find('.element:last');

<?php
echo 'var str = \'<div class="form-group m-form__group row element" id="element\'+(parseInt(elem)+1)+\'" data-id="\'+(parseInt(gamasidx2)+1)+\'" >\'
							
						
								+\'<div class="col-md-4">\'
									+\'<input type="hidden" class="select2_sample6 form-control select2" name="col1[]" placeholder="Col1">\'
									+\'<br>\'
									+\'<input class="form-control input-sm" name="col4[]" placeholder="Col4">\'
								+\'</div>\'
								+\'<div class="col-md-4">\'
									+\'<input class="form-control input-sm" name="col2[]" placeholder="Col2">\'
									+\'<br>\'
									+\'<input class="form-control input-sm" name="col5[]" placeholder="Col5">\'
								+\'</div>\'
								+\'<div class="col-md-4">\'
									+\'<input class="form-control input-sm" name="col3[]" placeholder="Col3">\'
									+\'<br>\'
									+\'<input class="form-control input-sm" name="col6[]" placeholder="Col6">\'
								+\'</div>\'
							
					+\'<div class="col-md-2">\'
						+\'<button type="button" class="btn red removeEl" onclick="removeEl(this); return false;" data-act="removeEl" data-id="\'+(parseInt(elem)+1)+\'" style="padding: 5px;">Remove</button>\'
					+\'</div>\'
				+\'</div>\';';
?>
	elem++;
	//console.log(str);
	currow.after(str);
}

function addGC(me){
	var id = $(me).data('id');
	var currow = $('body').find('.breadcrump:last');

<?php
echo 'var str = \'<div class="form-group m-form__group row breadcrump" id="breadcrump\'+(parseInt(gamasidx2)+1)+\'" data-id="\'+(parseInt(gamasidx2)+1)+\'" >\'
						+\'<div class="col-md-3 m-form__group-sub">\'
							+\'<input   class="form-control input-sm"  name="name[]"  placeholder="Name" />\'
						+\'</div>\'
						+\'<div class="col-md-3 m-form__group-sub">\'
							+\'<input   class="form-control input-sm"  name="href[]" placeholder="Href" />\'
						+\'</div>\'
						+\'<div class="col-md-3 m-form__group-sub">\'
							+\'<input   class="form-control input-sm"  name="class[]" placeholder="Class" />\'
						+\'</div>\'
					+\'<div class="col-md-3 m-form__group-sub">\'
						+\'<button type="button" class="btn btn-md btn-danger red removeGC" onclick="removeGC(this); return false;" data-act="removeGC" data-id="\'+(parseInt(gamasidx2)+1)+\'" style="padding: 5px;width:100%">Remove</button>\'
					+\'</div>\'
				+\'</div>\';';
?>
	gamasidx2++;
	//console.log(str);
	currow.after(str);
}


function removeGC(me){
	var id = $(me).data('id');
	//console.log(id);
	$('body').find('#breadcrump'+id+':first').remove();
}

function removeEl(me){
	var id = $(me).data('id');
	//console.log(id);
	$('body').find('#element'+id+':first').remove();
}
</script>