<?php
	
//Zend_Debug::dump($this->data);die();
	
$vdata = (unserialize($this->data['extended_data']));
//die();
?>
<div class="m-grid__item m-grid__item--fluid m-wrapper">
	<div class="m-subheader ">
		<div class="d-flex align-items-center">
			<div class="mr-auto">
				<h3 class="m-subheader__title m-subheader__title--separator">
					Big Builder
				</h3>
				<ul class="m-subheader__breadcrumbs m-nav m-nav--inline">
					<li class="m-nav__item m-nav__item--home">
						<a href="/" class="m-nav__link m-nav__link--icon">
							<i class="m-nav__link-icon la la-home"></i>
						</a>
					</li>
					<li class="m-nav__separator">
						-
					</li>
					<li class="m-nav__item">
						<a href="#" class="m-nav__link">
							<span class="m-nav__link-text">
								Big Builder
							</span>
						</a>
					</li>
					<li class="m-nav__separator">
						-
					</li>
					<li class="m-nav__item">
						<a href="" class="m-nav__link">
							<span class="m-nav__link-text">
								Application Editor
							</span>
						</a>
					</li>
				</ul>
			</div>
			
		</div>
	</div>
	<div class="m-content">
		<!--::Portlet-->
			<div class="m-portlet">
				<div class="m-portlet__head">
					<div class="m-portlet__head-caption">
						<div class="m-portlet__head-title">
							<h3 class="m-portlet__head-text">
								Application Editor : 
								<small><?php echo $this->data['l_app'];?></small>
							</h3>
							
						</div>
					</div>
				</div>
				<!--begin::Form-->
				<form class="m-form" id="m_form_1" method="post">
					<input type="hidden" name="id" value="<?php echo $this->data['id'];?>" />
					<input type="hidden" name="pid" value="" />
					<div class="m-portlet__body">
						<div class="m-form__content">
							<div class="m-alert m-alert--icon alert alert-danger m--hide" role="alert" id="m_form_1_msg">
								<div class="m-alert__icon">
									<i class="la la-warning"></i>
								</div>
								<div class="m-alert__text">
									<span id='alertmsg'><strong>Warning!</strong> Something went wrong. Please check.</span>
								</div>
								<div class="m-alert__close">
									<button type="button" class="close" data-close="alert" aria-label="Close"></button>
								</div>
							</div>
						</div>
						
						<div style="margin:0px auto;text-align:center;display:none;" id="processbar">
							<div class="progress">
								<div class="progress-bar progress-bar-striped progress-bar-animated " role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
									<span class="sr-only">
										On Process
									</span>
								</div>
							</div>
							<span style="margin:0px auto;">Please wait...processing request</span>
						</div>
						
						<div class="form-group m-form__group row">
							<div class="col-md-6">
								<div class="form-group m-form__group row">
									<label class="col-form-label col-lg-3 col-sm-12">
										Short Name
									</label>
									<div class="col-lg-9 col-md-9 col-sm-12">
										<input type="text" class="form-control m-input" name="short" id="short" placeholder="Enter your Short Name" data-toggle="m-tooltip" title="" value="<?php echo $this->data['s_app'];?>" readonly>
									</div>
								</div>
							</div>
							<div class="col-md-6">
								<div class="form-group m-form__group row">
									<label class="col-form-label col-lg-3 col-sm-12">
										Long Name
									</label>
									<div class="col-lg-9 col-md-9 col-sm-12">
										<input type="text" class="form-control m-input" name="long" id="long" placeholder="Enter your Long Name" data-toggle="m-tooltip" title="" value="<?php echo $this->data['l_app'];?>">
									</div>
								</div>
							</div>
						</div>
						
						<div class="form-group m-form__group row">
							<div class="col-md-6">
								<div class="form-group m-form__group row">
									<label class="col-form-label col-lg-3 col-sm-12">
										Description
									</label>
									<div class="col-lg-9 col-md-9 col-sm-12">
										<input type="text" class="form-control m-input" name="descr" id="descr" placeholder="Enter Description" data-toggle="m-tooltip" title="" value="<?php echo $this->data['app_desc'];?>">
									</div>
								</div>
							</div>
							<div class="col-md-6">
								<div class="form-group m-form__group row">
									<label class="col-form-label col-lg-3 col-sm-12">
										Extended CSS
									</label>
									<div class="col-lg-9 col-md-9 col-sm-12">
										<textarea name="extended" id="extended" class="form-control m-input" placeholder="Extended" ><?php echo $this->data['extended_css'];?></textarea>
									</div>
								</div>
							</div>
						</div>
						
						<div class="form-group m-form__group row">
							<div class="col-md-6">
								<div class="form-group m-form__group row">
									<label class="col-form-label col-lg-3 col-sm-12">
										Themes
									</label>
									<div class="col-lg-9 col-md-9 col-sm-12">
										<select class="form-control m-input" name="themes" id="themes">
											<?php 
											foreach($this->themes as $k=>$v) {
												if($k==$vdata['themes']){$sel = "selected";}else{$sel = "";}
												echo "<option $sel value='".$v."'>".$v."</option>";	
											}
											?>
										</select>
									</div>
								</div>
							</div>
							<div class="col-md-6">
								<div class="form-group m-form__group row">
									<label class="col-form-label col-lg-3 col-sm-12">
										Layout
									</label>
									<div class="col-lg-9 col-md-9 col-sm-12">
										<select class="form-control m-input" name="layout" id="layout">
											<?php 
											foreach($this->lays as $k=>$v) {
												if($k==$vdata['layout']){$sel = "selected";}else{$sel = "";}
												echo "<option $sel value='".$v."'>".$v."</option>";	
											}
											?>
										</select>
									</div>
								</div>
							</div>
						</div>
						
						<div class="form-group m-form__group row">
							<div class="col-md-6">
								<div class="form-group m-form__group row">
									<label class="col-form-label col-lg-3 col-sm-12">
										Skin
									</label>
									<div class="col-lg-9 col-md-9 col-sm-12">
										<select class="form-control m-input" name="skin" id="skin">
											<?php 
											foreach($this->skins as $k=>$v) {
												if($k==$vdata['skin']){$sel = "selected";}else{$sel = "";}
												echo "<option $sel value='".$v."'>".$v."</option>";	
											}
											?>
										</select>
									</div>
								</div>
							</div>
							<div class="col-md-6">
							</div>
						</div>
						
					</div>
					
					<div class="m-portlet__foot m-portlet__foot--fit">
						<div class="m-form__actions m-form__actions">
							<div class="row">
								<div class="col-lg-9 ml-lg-auto">
									<button type="submit" class="btn btn-success">
										Submit
									</button>
									<button type="button" data-dismiss="modal" class="btn btn-default">
										Cancel
									</button>
								</div>
							</div>
						</div>
					</div>
				</form>
				<!--end::Form-->
			</div>
			<!--end::Portlet-->
	</div>
</div>