<script type="text/javascript" src="/assets/core/js/d3.v3.min.js"></script>

<style>
.node rect {
  cursor: pointer;
  fill: #fff;
  fill-opacity: .5;
  stroke: #3182bd;
  stroke-width: 1.5px;
}

.node text {
  font: 10px sans-serif;
  pointer-events: none;
}

path.link {
  fill: none;
  stroke: #9ecae1;
  stroke-width: 1.5px;
}

</style>	
<div class="m-grid__item m-grid__item--fluid m-wrapper">
	<div class="m-subheader ">
		<div class="d-flex align-items-center">
				<div class="mr-auto">
					<h3 class="m-subheader__title m-subheader__title--separator">
						Dashboard
					</h3>
					<ul class="m-subheader__breadcrumbs m-nav m-nav--inline">
						<li class="m-nav__item m-nav__item--home">
							<a href="#" class="m-nav__link m-nav__link--icon">
								<i class="m-nav__link-icon flaticon-app"></i>
							</a>
						</li>
						<li class="m-nav__item">
							<a href="" class="m-nav__link">
								<span class="m-nav__link-text">
									Dashboard & Statistics
								</span>
							</a>
						</li>
						
					</ul>
				</div>
		</div>
	</div>
	<div class="m-content">
		<div class="m-portlet m-portlet--mobile">
			<div class="m-portlet__body">
				<div id=frontend></div>	
				<script>	
				var margin = {top: 30, right: 20, bottom: 30, left: 20},
				width = 960 - margin.left - margin.right,
				barHeight = 20,
				barWidth = width * .8;

				var i = 0,
				duration = 400,
				root;

				var tree = d3.layout.tree()
				.nodeSize([0, 20]);

				var diagonal = d3.svg.diagonal()
				.projection(function(d) { return [d.y, d.x]; });

				var svg = d3.select("#frontend").append("svg")
				.attr("width", width + margin.left + margin.right)
				.append("g")
				.attr("transform", "translate(" + margin.left + "," + margin.top + ")");

				d3.json("/prabajax/frontend", function(error, flare) {
				  flare.x0 = 0;
				  flare.y0 = 0;
				  update(root = flare);
				});

				function update(source) {

				  // Compute the flattened node list. TODO use d3.layout.hierarchy.
				  var nodes = tree.nodes(root);

				  var height = Math.max(500, nodes.length * barHeight + margin.top + margin.bottom);

				  d3.select("svg").transition()
					  .duration(duration)
					  .attr("height", height);

				  d3.select(self.frameElement).transition()
					  .duration(duration)
					  .style("height", height + "px");

				  // Compute the "layout".
				  nodes.forEach(function(n, i) {
					n.x = i * barHeight;
				  });

				  // Update the nodes…
				  var node = svg.selectAll("g.node")
					  .data(nodes, function(d) { return d.id || (d.id = ++i); });

				  var nodeEnter = node.enter().append("g")
					  .attr("class", "node")
					  .attr("transform", function(d) { return "translate(" + source.y0 + "," + source.x0 + ")"; })
					  .style("opacity", 1e-6);

				  // Enter any new nodes at the parent's previous position.
				  nodeEnter.append("rect")
					  .attr("y", -barHeight / 2)
					  .attr("height", barHeight)
					  .attr("width", barWidth)
					  .style("fill", color)
					  .on("click", click);

				  nodeEnter.append("text")
					  .attr("dy", 3.5)
					  .attr("dx", 5.5)
					  .text(function(d) { return d.name; });

				  // Transition nodes to their new position.
				  nodeEnter.transition()
					  .duration(duration)
					  .attr("transform", function(d) { return "translate(" + d.y + "," + d.x + ")"; })
					  .style("opacity", 1);

				  node.transition()
					  .duration(duration)
					  .attr("transform", function(d) { return "translate(" + d.y + "," + d.x + ")"; })
					  .style("opacity", 1)
					.select("rect")
					  .style("fill", color);

				  // Transition exiting nodes to the parent's new position.
				  node.exit().transition()
					  .duration(duration)
					  .attr("transform", function(d) { return "translate(" + source.y + "," + source.x + ")"; })
					  .style("opacity", 1e-6)
					  .remove();

				  // Update the links…
				  var link = svg.selectAll("path.link")
					  .data(tree.links(nodes), function(d) { return d.target.id; });

				  // Enter any new links at the parent's previous position.
				  link.enter().insert("path", "g")
					  .attr("class", "link")
					  .attr("d", function(d) {
						var o = {x: source.x0, y: source.y0};
						return diagonal({source: o, target: o});
					  })
					.transition()
					  .duration(duration)
					  .attr("d", diagonal);

				  // Transition links to their new position.
				  link.transition()
					  .duration(duration)
					  .attr("d", diagonal);

				  // Transition exiting nodes to the parent's new position.
				  link.exit().transition()
					  .duration(duration)
					  .attr("d", function(d) {
						var o = {x: source.x, y: source.y};
						return diagonal({source: o, target: o});
					  })
					  .remove();

				  // Stash the old positions for transition.
				  nodes.forEach(function(d) {
					d.x0 = d.x;
					d.y0 = d.y;
				  });
				}

				// Toggle children on click.
				function click(d) {
				  if (d.children) {
					d._children = d.children;
					d.children = null;
				  } else {
					d.children = d._children;
					d._children = null;
				  }
				  update(d);
				}

				function color(d) {
				  return d._children ? "#3182bd" : d.children ? "#c6dbef" : "#fd8d3c";
				}
			</script>
					
			</div>
		</div>
	</div>
</div>


