<?php
	$params=array();
	foreach($this->params as $v) 
	{
		$params[$v['value_param']] = $v['display_param'];	
	}
	$modes=array();
	foreach($this->modes as $v) 
	{
		$modes[$v['value_param']] = $v['display_param'];	
	}
	
	//Zend_Debug::dump($this->userapp);die();
?>

<div class="m-grid__item m-grid__item--fluid m-wrapper">
	<div class="m-subheader ">
		<div class="d-flex align-items-center">
			<div class="mr-auto">
				<h3 class="m-subheader__title m-subheader__title--separator">
					Big Builder
				</h3>
				<ul class="m-subheader__breadcrumbs m-nav m-nav--inline">
					<li class="m-nav__item m-nav__item--home">
						<a href="/" class="m-nav__link m-nav__link--icon">
							<i class="m-nav__link-icon la la-home"></i>
						</a>
					</li>
					<li class="m-nav__separator">
						-
					</li>
					<li class="m-nav__item">
						<a href="#" class="m-nav__link">
							<span class="m-nav__link-text">
								Big Builder
							</span>
						</a>
					</li>
					<li class="m-nav__separator">
						-
					</li>
					<li class="m-nav__item">
						<a href="" class="m-nav__link">
							<span class="m-nav__link-text">
								Application List
							</span>
						</a>
					</li>
				</ul>
			</div>
			
		</div>
	</div>
	<div class="m-content">
		<div class="m-portlet m-portlet--mobile">
			<div class="m-portlet__head">
				<div class="m-portlet__head-caption">
					<div class="m-portlet__head-title">
						<h3 class="m-portlet__head-text">
							Application List
							<small>Application Service running on PraBAC</small>
						</h3>
					</div>
				</div>
				<div class="m-portlet__head-tools">
					<div class="btn-group" role="group" aria-label="Button group with nested dropdown">
						<button type="button" class="m-btn btn btn-success" data-toggle="modal" data-target="#static2" id="btn-addnew">
							<i class="fa fa-plus"></i> Add New
						</button>
						<div class="btn-group" role="group">
							<button id="btnGroupDrop1" type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
								<i class="fa fa-cogs"></i> Tools
							</button>
							<div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
								<a class="dropdown-item" href="#">
									Dropdown link
								</a>
								<a class="dropdown-item" href="#">
									Dropdown link
								</a>
								<a class="dropdown-item" href="#">
									Dropdown link
								</a>
								<a class="dropdown-item" href="#">
									Dropdown link
								</a>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="m-portlet__body">
				<div class="table-responsive">
					<table class="table table-striped table-hover">
						<thead>
							<tr>
								<th>
									#
								</th>
								<th>
									ShortName
								</th>
								<th>
									LongName
								</th>
								<th>
									Description
								</th>
							
								<th>
									
								</th>
							</tr>
						</thead>
						<tbody>
							
						<?php 
						$i=1;
						foreach ($this->conns as $k=>$v) {
						?>	
						<tr>
							<td>
								<?php   echo $i; ?>
							</td>
							<td>
								<?php   echo $v['s_app']; ?>
							</td>
							<td>
								<?php   echo $v['l_app']; ?>
							</td>
								<td>
								<?php   echo $v['app_desc']; ?>
							</td>
							
							<td>
								<a href="/bigbox/bigbuilder/editapp/id/<?php   echo $v['id']; ?>" class="m-portlet__nav-link btn m-btn m-btn--hover-accent m-btn--icon m-btn--icon-only m-btn--pill" title="Edit ">                   
									<i class="la la-edit"></i>                        
								</a>
								<a href="/bigbox/bigbuilder/loginapp/id/<?php   echo $v['id']; ?>" class="m-portlet__nav-link btn m-btn m-btn--hover-accent m-btn--icon m-btn--icon-only m-btn--pill" title="Setup Login ">                   
									<i class="fa fa-search"></i>                        
								</a>
								<a  class="m-portlet__nav-link btn m-btn m-btn--hover-accent m-btn--icon m-btn--icon-only m-btn--pill ajax-demo" rel=<?php   echo $v['id']; ?> data-toggle="modal" title="Detail ">                   
									<i class="fa fa-cogs"></i>                       
								</a>
								

							</td>
						</tr>
						
						<?php  
						$i++;
						 } ?>
						
						</tbody>
					</table>
						
						<!-- static -->
									
					<div id="ajax-modal" class="modal fade" tabindex="-1" data-backdrop="static" data-keyboard="false" role="dialog" aria-labelledby="" aria-hidden="true">
					</div>
				
					
					<div id="static2" class="modal fade" tabindex="-1" data-backdrop="static" data-keyboard="false" role="dialog" aria-labelledby="addListApp" aria-hidden="true">
						<div class="modal-dialog modal-lg"" role="document">
							<div class="modal-content">
								<div class="modal-header">
									<h5 class="modal-title" id="addListApp">
										Add new Application
									</h5>
									<button type="button" class="close reload" data-dismiss="modal" aria-label="Close">
										<span aria-hidden="true">
											&times;
										</span>
									</button>
								</div>
								<div class="modal-body">
									<form action="" class="m-form m-form--fit m-form--label-align-left" id="addconn" method="post">
										<input type="hidden" name="id" value="" />
										<input type="hidden" name="pid" value="" />
										<!-- BEGIN FORM-->
										
										<div class="">
											<div class="m-form__content">
												<div class="m-alert m-alert--icon alert alert-danger m--hide" role="alert" id="alertinfo">
													<div class="m-alert__icon">
														<i class="la la-warning"></i>
													</div>
													<div class="m-alert__text">
														<span id="alertmsg"><strong>Warning!</strong> Something went wrong. Please check.</span>
													</div>
													<div class="m-alert__close">
														<button type="button" class="close" data-close="alert" aria-label="Close"></button>
													</div>
												</div>
											</div>
											
											<div style="margin:0px auto;text-align:center;" id="processbar" class="m--hide">
												<div class="progress">
													<div class="progress-bar progress-bar-striped progress-bar-animated " role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
														<span class="sr-only">
															On Process
														</span>
													</div>
												</div>
												<span style="margin:0px auto;">Please wait...processing request</span>
											</div>
											
											<div class="row">
												<div class="col-md-6">
													<div class="form-group m-form__group row">
														<label class="col-form-label col-lg-12 col-sm-12">
															Short Name *
														</label>
														<div class="col-lg-12 col-md-12 col-sm-12">
															<input type="text" class="form-control m-input" name="short" id="short" placeholder="Enter Short Name" data-toggle="m-tooltip" title="">
															<span class="m-form__help">
																
															</span>
														</div>
													</div>
												</div>
												
												<div class="col-md-6">
													<div class="form-group m-form__group row">
														<label class="col-form-label col-lg-12 col-sm-12">
															Long Name *
														</label>
														<div class="col-lg-12 col-md-12 col-sm-12">
															<input type="text" class="form-control m-input" name="long" id="long" placeholder="Enter Long Name" data-toggle="m-tooltip" title="">
															<span class="m-form__help">
																
															</span>
														</div>
													</div>
												</div>
											</div>
											
											<div class="row">
												<div class="col-md-6">
													<div class="form-group m-form__group row">
														<label class="col-form-label col-lg-12 col-sm-12">
															Description *
														</label>
														<div class="col-lg-12 col-md-12 col-sm-12">
															<input type="text" class="form-control m-input" name="descr" id="descr" placeholder="Enter Description" data-toggle="m-tooltip" title="">
															<span class="m-form__help">
																
															</span>
														</div>
													</div>
												</div>
												
												<div class="col-md-6">
													<div class="form-group m-form__group row">
														<label class="col-form-label col-lg-12 col-sm-12">
															Extended CSS
														</label>
														<div class="col-lg-12 col-md-12 col-sm-12">
															<textarea class="form-control m-input" name="xtended" placeholder="Enter Extended CSS"></textarea>
															<span class="m-form__help">
																
															</span>
														</div>
													</div>
												</div>
											</div>
											
											<div class="row">
												<div class="col-md-6">
													<div class="form-group m-form__group row">
														<label class="col-form-label col-lg-12 col-sm-12">
															Themes *
														</label>
														<div class="col-lg-12 col-md-12 col-sm-12">
															<select class="form-control m-input" name="themes" id="themes">
																<?php 
																foreach($this->themes as $k=>$v) {
																	echo "<option $sel value='".$v."'>".$v."</option>";	
																}
																?>
															</select>
															<span class="m-form__help">
																
															</span>
														</div>
													</div>
												</div>
												
												<div class="col-md-6">
													<div class="form-group m-form__group row">
														<label class="col-form-label col-lg-12 col-sm-12">
															Layout *
														</label>
														<div class="col-lg-12 col-md-12 col-sm-12">
															<select class="form-control m-input" name="layout" id="layout">
																<?php 
																foreach($this->lays as $k=>$v) {
																	echo "<option $sel value='".$v."'>".$v."</option>";	
																}
																?>
															</select>
															<span class="m-form__help">
																
															</span>
														</div>
													</div>
												</div>
											</div>
											
											<div class="row">
												<div class="col-md-6">
													<div class="form-group m-form__group row">
														<label class="col-form-label col-lg-12 col-sm-12">
															Skin *
														</label>
														<div class="col-lg-12 col-md-12 col-sm-12">
															<select class="form-control m-input" name="skin" id="skin">
																<?php 
																foreach($this->skins as $k=>$v) {
																	if($k==$vdata['skin']){$sel = "selected";}else{$sel = "";}
																	echo "<option $sel value='".$v."'>".$v."</option>";	
																}
																?>
															</select>
															<span class="m-form__help">
																
															</span>
														</div>
													</div>
												</div>
												
												<div class="col-md-6">
												</div>
											</div>
											
											<div class="">
												<div class="m-form__actions m-form__actions">
													<div class="row">
														<div class="col-lg-12 ml-lg-auto">
															<button type="submit" class="btn btn-accent">
																Submit
															</button>
															<button type="reset" class="btn btn-secondary" onclick="tescon(this)"  data-dismiss="modal">
																Cancel
															</button>
														</div>
													</div>
												</div>
											</div>
										</div>
									</form>
								</div>
							</div>
						</div>
					</div>
					<!--div class="modal-footer">
						<button type="button" data-dismiss="modal" class="btn btn-default">Cancel</button>
						<button type="button" data-dismiss="modal" class="btn green">Submit</button>
					</div-->
				</div>
			</div>
		</div>
	</div>
</div>