<?php
	
//Zend_Debug::dump($this->data);die();
	
//$vdata = (unserialize($this->data['extended_data']));
//die();
?>
<div class="m-grid__item m-grid__item--fluid m-wrapper">
	<div class="m-subheader ">
		<div class="d-flex align-items-center">
			<div class="mr-auto">
				<h3 class="m-subheader__title m-subheader__title--separator">
					Big Builder
				</h3>
				<ul class="m-subheader__breadcrumbs m-nav m-nav--inline">
					<li class="m-nav__item m-nav__item--home">
						<a href="/" class="m-nav__link m-nav__link--icon">
							<i class="m-nav__link-icon la la-home"></i>
						</a>
					</li>
					<li class="m-nav__separator">
						-
					</li>
					<li class="m-nav__item">
						<a href="#" class="m-nav__link">
							<span class="m-nav__link-text">
								Big Builder
							</span>
						</a>
					</li>
					<li class="m-nav__separator">
						-
					</li>
					<li class="m-nav__item">
						<a href="" class="m-nav__link">
							<span class="m-nav__link-text">
								Application Editor
							</span>
						</a>
					</li>
				</ul>
			</div>
			
		</div>
	</div>
	<div class="m-content">
		<!--::Portlet-->
			<div class="m-portlet">
				<div class="m-portlet__head">
					<div class="m-portlet__head-caption">
						<div class="m-portlet__head-title">
							<h3 class="m-portlet__head-text">
								Application Editor : 
								<small><?php $vdata= unserialize($this->data['extended_login']); echo $this->data['l_app']; ?></small>
							</h3>
							
						</div>
					</div>
				</div>
				<!--begin::Form-->
				<form class="m-form" id="addapi">
					<input type="hidden" name="id" value="<?php echo $this->data['id'];?>" />
					<input type="hidden" name="pid" value="" />
					
					<div class="m-portlet__body">
						<div class="m-form__content">
							<div class="m-alert m-alert--icon alert alert-danger m--hide" role="alert" id="m_form_1_msg">
								<div class="m-alert__icon">
									<i class="la la-warning"></i>
								</div>
								<div class="m-alert__text">
									<strong>Warning!</strong> Something went wrong. Please check.
								</div>
								<div class="m-alert__close">
									<button type="button" class="close" data-close="alert" aria-label="Close"></button>
								</div>
							</div>
						</div>
						
						<div style="margin:0px auto;text-align:center;display:none;" id="processbar">
							<div class="progress">
								<div class="progress-bar progress-bar-striped progress-bar-animated " role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
									<span class="sr-only">
										On Process
									</span>
								</div>
							</div>
							<span style="margin:0px auto;">Please wait...processing request</span>
						</div>
						
						<div class="form-group m-form__group row">
							<div class="col-md-6">
								<div class="form-group m-form__group row">
									<label class="col-form-label col-lg-12 col-sm-12">
										Themes
									</label>
									<div class="col-lg-12 col-md-12 col-sm-12">
										<select class="form-control m-input" name="themes" id="themes">
											<?php 
											foreach($this->themes as $k=>$v) {
												if($k==$vdata['themes']){$sel = "selected";}else{$sel = "";}
												echo "<option $sel value='".$v."'>".$v."</option>";	
											}
											?>
										</select>
									</div>
								</div>
							</div>
							<div class="col-md-6">
								<div class="form-group m-form__group row">
									<label class="col-form-label col-lg-12 col-sm-12">
										Position
									</label>
									<div class="col-lg-12 col-md-12 col-sm-12">
										<select class="form-control m-input" name="position" id="position">
											<?php 
											foreach($this->lays as $k=>$v) {
												if($k==$vdata['position']){$sel = "selected";}else{$sel = "";}
												echo "<option $sel value='".$v."'>".$v."</option>";	
											}
											?>
										</select>
									</div>
								</div>
							</div>
						</div>
						
						<div class="form-group m-form__group row">
							<div class="col-md-6">
								<div class="form-group m-form__group row">
									<label class="col-form-label col-lg-12 col-sm-12">
										Sign In Label
									</label>
									<div class="col-lg-12 col-md-12 col-sm-12">
										<input type="text" class="form-control m-input" name="signin" id="signin" placeholder="Enter Sign In Label" data-toggle="m-tooltip" title="" value="<?php echo $vdata['signin']; ?>">
									</div>
								</div>
							</div>
							<div class="col-md-6">
								<div class="form-group m-form__group row">
									<label class="col-form-label col-lg-12 col-sm-12">
										User Name Label
									</label>
									<div class="col-lg-12 col-md-12 col-sm-12">
										<input type="text" class="form-control m-input" name="uname" id="uname" placeholder="Enter User Name Label" data-toggle="m-tooltip" title="" value="<?php echo $vdata['uname']; ?>">
									</div>
								</div>
							</div>
						</div>
						
						<div class="form-group m-form__group row">
							<div class="col-md-6">
								<div class="form-group m-form__group row">
									<label class="col-form-label col-lg-12 col-sm-12">
										Password Label
									</label>
									<div class="col-lg-12 col-md-12 col-sm-12">
										<input type="text" class="form-control m-input" name="passlabel" id="passlabel" placeholder="Enter Password Label" data-toggle="m-tooltip" title="" value="<?php echo $vdata['passlabel']; ?>">
									</div>
								</div>
							</div>
							<div class="col-md-6">
								<div class="form-group m-form__group row">
									<label class="col-form-label col-lg-12 col-sm-12">
										Login Button Label
									</label>
									<div class="col-lg-12 col-md-12 col-sm-12">
										<input type="text" class="form-control m-input" name="loginlabel" id="loginlabel" placeholder="Enter Login Button Label" data-toggle="m-tooltip" title="" value="<?php echo $vdata['loginlabel']; ?>">
									</div>
								</div>
							</div>
						</div>
						
						<div class="form-group m-form__group row">
							<div class="col-md-6">
								<div class="form-group m-form__group row">
									<label class="col-form-label col-lg-12 col-sm-12">
										Forgot Password Label
									</label>
									<div class="col-lg-12 col-md-12 col-sm-12">
										<input type="text" class="form-control m-input" name="forgot" id="forgot" placeholder="Enter Forgot Password Label" data-toggle="m-tooltip" title="" value="<?php echo $vdata['forgot']; ?>">
									</div>
								</div>
							</div>
							<div class="col-md-6">
								<div class="form-group m-form__group row">
									<label class="col-form-label col-lg-12 col-sm-12">
										Create Account Label
									</label>
									<div class="col-lg-12 col-md-12 col-sm-12">
										<input type="text" class="form-control m-input" name="createaccount" id="createaccount" placeholder="Enter Create Account Label" data-toggle="m-tooltip" title="" value="<?php echo $vdata['createaccount']; ?>">
									</div>
								</div>
							</div>
						</div>
						
						<div class="form-group m-form__group row">
							<div class="col-md-6">
								<div class="form-group m-form__group row">
									<label class="col-form-label col-lg-12 col-sm-12">
										Footer Label
									</label>
									<div class="col-lg-12 col-md-12 col-sm-12">
										<input type="text" class="form-control m-input" name="footer" id="footer" placeholder="Enter Footer Label" data-toggle="m-tooltip" title="" value="<?php echo $vdata['footer']; ?>">
									</div>
								</div>
							</div>
							<div class="col-md-6">
							</div>
						</div>
						
					</div>
					
					<div class="m-portlet__foot m-portlet__foot--fit">
						<div class="m-form__actions m-form__actions">
							<div class="row">
								<div class="col-lg-9 ml-lg-auto">
									<button type="submit" class="btn btn-success">
										Submit
									</button>
									<button type="button" data-dismiss="modal" onclick="tescon(this)" class="btn btn-default">
										Cancel
									</button>
								</div>
							</div>
						</div>
					</div>
				</form>
				<!--end::Form-->
			</div>
			<!--end::Portlet-->
	</div>
</div>

<script>
	
	
jQuery(document).ready(function() {
$('body').addClass('page-header-fixed page-sidebar-fixed page-footer-fixed');


var EditApi = function () {

	var handleAdd = function() {

		$('form#addapi').validate({
	            //errorElement: 'span', //default input error message container
	            //errorClass: 'help-block', // default input error message class
	            focusInvalid: false, // do not focus the last invalid input
	            rules: {
	                sqltext: {
	                    required: true
	                }
	            },
	         

	            messages: {
					
	            },

	            invalidHandler: function (event, validator) { //display error alert on form submit   
	                //$('.alert-danger', $('.login-form')).show();
	                //console.log(event);
	                //console.log(validator);
	                
					//$('span.help-block').show();
					$('span.help-block').hide();
	                var errorlist = validator.errorList;
	                if(errorlist.length>0){
						for(var i = 0; i<errorlist.length; i++){
							//console.log(errorlist[i].element);
							var el = errorlist[i].element; 
							var next = $(el).next('span.help-block'); 
							$(next).slideDown();
						}
						$('html,body').animate({
							scrollTop: $(el).offset().top-100
						}, 800);
					}
	            },

	            highlight: function (element) { // hightlight error inputs
	                $(element)
	                    .closest('.form-group').addClass('has-error'); // set error class to the control group
	            },

	            success: function (label) {
	                label.closest('.form-group').removeClass('has-error');
	                //label.remove();
	            },

	            errorPlacement: function (error, element) {
					$('span.help-block').hide();
					var next = element.next('span.help-block'); 
					//console.log(error);
	                if(error[0].textContent!=""){
						$(next).children('span.label').html("<i class='fa fa-warning'></i> "+ error[0].textContent);
						$(element).next().slideDown();
						$('html,body').animate({
							scrollTop: $(element).offset().top-100
						}, 800);
					}
	            },

	            submitHandler: function (form) {
					$('span.help-block').hide();
					$('.form-group').removeClass('has-error');
	                //form.submit(); // form validation success, call ajax form submit
	                submitForm();
	                return false;
	            }
	        });

	        $('form#addapi input').keypress(function (e) {
	            if (e.which == 13) {
					$('span.help-block').hide();
					$('.form-group').removeClass('has-error');
	                if ($('form#addapi').validate().form()) {
	                   //$('form#addapi').submit(); //form validation success, call ajax form submit
	                   submitForm();
	                }
	                return false;
	            }
	        });
	}
	
	var submitForm = function(){
		//console.log($('form#addapi').serialize());
		$.ajax({
			url:"/prabajax/editloginapp",
			content:'json',
			type:'post',
			data:$('form#addapi').serialize(),
			beforeSend:function(){
				$('#alertinfo').addClass('hidden');
				$('#processbar').removeClass('hidden');
				$('html,body').animate({
					scrollTop: $('h3.page-title').offset().top
				}, 800);
				$('#alertinfo').removeClass('alert-success');
				$('#alertinfo').removeClass('alert-warning');
				$('#alertinfo').removeClass('alert-danger');
				$('#alertinfo').removeClass('alert-info');
			},
			complete:function(result){
				$('#processbar').addClass('hidden');
			},
			success: function(data){
				//console.log(data);
				if(data.result!=undefined){
					if(data.result==true){
						$('#alertinfo').addClass('alert-success');
						$('#alertmsg').html("<strong>Success!</strong> "+data.retMsg);
					}else{
						$('#alertinfo').addClass('alert-warning');
						$('#alertmsg').html("<strong>Failed!</strong> "+data.retMsg);
					}
				}else{
					$('#alertinfo').addClass('alert-info');
					$('#alertmsg').html("<strong>Error!</strong> System is busy, please try again.");
				}
				$('#alertinfo').removeClass('hidden');
			},
			error:function(){
				$('#alertinfo').addClass('alert-info');
				$('#alertmsg').html("<strong>Error!</strong> System is busy, please try again.");
				$('#alertinfo').removeClass('hidden');
			}
		});
	}
	
	

	var resetForm = function(){
		$('input','form#addapi')
			.not(':button, :submit, :reset, :hidden')
			.val('');
			
		$('select,option','form#addapi')
			.removeAttr('checked')
			.removeAttr('selected');
		
		$('.make-switch').bootstrapSwitch('setState',false);
		
		$('.ms-selectable').find('li').removeClass('ms-selected');
		$('.ms-selection').find('li').removeClass('ms-hover');
		$('.ms-selectable').find('li').removeAttr('style');
		
		$('.ms-selection').find('li').removeClass('ms-selected');
		$('.ms-selection').find('li').removeClass('ms-hover');
		$('.ms-selection').find('li').css({display:'none'});
	}
    
    return {
        //main function to initiate the module
        init: function () {
            handleAdd();
        }

    };

}();


App.init();

$('span.help-block').hide();
EditApi.init();

});
</script>