<?php
$dd = new CMS_Functions ();

?>
<?php // $this->layout()->nestedLayout = 'login'; ?>

<div class="m-grid__item m-grid__item--fluid m-wrapper">

	<!-- BEGIN PAGE HEADER-->
	<!-- BEGIN PAGE TITLE & BREADCRUMB-->
	<div class="m-subheader ">
		<div class="d-flex align-items-center">
			<div class="mr-auto">
				<h3 class="m-subheader__title m-subheader__title--separator">
					View Portlet : <?php echo $this->varams['id']; ?>
				</h3>
				<ul class="m-subheader__breadcrumbs m-nav m-nav--inline">
					<li class="m-nav__item m-nav__item--home">
						<a href="#" class="m-nav__link m-nav__link--icon">
							<i class="m-nav__link-icon flaticon-app"></i>
						</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
	<div class="row" id="sortable_portlets">
		<div class="col-md-12">
			<ul class="page-breadcrumb breadcrumb">
			<!-- 
				<?php
				$cumb = unserialize ( $this->data ['breadcrumb'] );
				foreach ( $cumb as $v ) {
					
					?>
			<li><i class="fa <?php echo $v['class'];?>"></i> <a
						href="<?php echo $v['href'];?>"><?php echo $v['name'];?></a> <i
						class="fa fa-angle-right"></i></li>
				<?php
				}
				?>
			 -->
			</ul>
			<!-- END PAGE TITLE & BREADCRUMB-->
		</div>
	</div>
<div class="m-content">
<!-- END PAGE HEADER-->
<?php
	// Zend_Debug::dump($this->element);
	$VV = new Model_Prabasystem ();
?>		
	<div class="row">
		<div class="col-md-12">
			<div class="m-form__content">
				<div class="m-alert m-alert--icon alert alert-warning m--hide" role="alert" id="m_form_2_msg">
					<div class="m-alert__icon">
						<i class="la la-warning"></i>
					</div>
					<div class="m-alert__text">
						<strong>Warning!</strong> Something went wrong. Please check.
					</div>
					<div class="m-alert__close">
						<button type="button" class="close" data-close="alert" aria-label="Close"></button>
					</div>
				</div>
			</div>
		</div>	
		<?php
		$vv = $this->varams['id'];
		if(isset($this->varams['debug'])&&$this->varams['debug']==1){?>
		<div class="col-md-12">
			<i style="font-size: 40px; color: #CCC"
				class="fa fa-arrow-circle-o-down"><a style="color: #CCC"
				href="/prabacontent/prabaeditor/editportlet/id/<?php echo $vv; ?>"> PortletId : <?php echo $vv;?></a></i>
		</div>	
		<?php }
		// Zend_Debug::dump($vv);die();
		if (is_numeric ( $vv )) {
			echo $this->action ( 'index', 'prabaportlet', 'default', array (
					'id' => $vv,
					'xin' => $vxin 
			) );
		} else {
			$cat = $VV->connvert ( $vv );
			if (! isset ( $cat [3] )) {
				$cat = array ();
			}
			echo $this->action ( $cat [2], $cat [1], $cat [0], $cat [3], array (
					'xin' => $vxin 
			) );
		}
		?>
	</div>		


</div>
</div>
<!--end page-content-->
<div id="ajax-modal" class="modal fade" tabindex="-1"></div>
<script>
jQuery(document).ready(function() {
// $('body').addClass('page-header-fixed page-sidebar-fixed page-footer-fixed');
// App.init();


            $("#sortable_portlets").sortable({
                connectWith: ".portlet",
                items: ".portlet",
                opacity: 0.8,
                coneHelperSize: true,
                placeholder: 'sortable-box-placeholder round-all',
                forcePlaceholderSize: true,
                tolerance: "pointer"
            });

            $(".column").disableSelection();

			$("#getdebug").click(function(){
		     var url = document.URL + "/debug/1";
		     var res = url.replace("#", "");
		     window.open(res, '', '');
			return false;
		     
		     
		});
     
         

});
</script>
