<style>
.m-header--fixed .m-body{
	padding-top:0px !important;
}

.m-menu__item.dash-conf{
	padding:5px 15px !important;
}

span.dash-conf-check{
    margin-left: -20px;	
}

input.input-color{
	min-height:30px;
}

.active-portlet{
	border:3px #0bb800 solid;
}

.m-scrollable{
	padding:10px;
	border:1px solid lightgrey;
}

.field-txt{
	width:65% !important;
	max-width:65% !important;
}

.hover-blue{
	background-color : #c5f4ff !important;
}
</style>
<!-- begin:: Page -->
<div class="m-grid m-grid--hor m-grid--root m-page">		
<!-- begin::Body -->
	<div class="m-grid__item m-grid__item--fluid m-grid m-grid--ver-desktop m-grid--desktop m-body" id="dash-target-body">
		<!-- BEGIN: Left Aside -->
		<button class="m-aside-left-close  m-aside-left-close--skin-light " id="m_aside_left_close_btn">
			<i class="la la-close"></i>
		</button>
		<div id="m_aside_left" class="m-grid__item	m-aside-left  m-aside-left--skin-light ">
			<!-- BEGIN: Brand -->
			<div class="m-brand  m-brand--skin-light ">
				<a href="index.html" class="m-brand__logo">
					<img alt="" src="/images/BigBox_logo2.png"/>
				</a>
			</div>
			<!-- END: Brand -->
<!-- BEGIN: Aside Menu -->
<div 
id="m_ver_menu" 
class="m-aside-menu  m-aside-menu--skin-light m-aside-menu--submenu-skin-light " 
data-menu-vertical="true"
 data-menu-scrollable="true" data-menu-dropdown-timeout="500"  
>
				<ul class="m-menu__nav  m-menu__nav--dropdown-submenu-arrow ">
					<li id="dash-conf-databtn" class="m-menu__item  m-menu__item--submenu m-menu__item--submenu-fullheight m--hide" aria-haspopup="true"  data-menu-submenu-toggle="click" data-menu-dropdown-toggle-class="m-aside-menu-overlay--on">
						<a href="#" class="m-menu__link m-menu__toggle">
							<i class="m-menu__link-icon flaticon-menu"></i>
							<span class="m-menu__link-text">
								Data Configuration
							</span>
							<i class="m-menu__ver-arrow la la-angle-right"></i>
						</a>
						<div class="m-menu__submenu ">
							<span class="m-menu__arrow"></span>
							<div class="m-menu__wrapper">
								<ul class="m-menu__subnav">
									<li class="m-menu__item  m-menu__item--parent m-menu__item--submenu-fullheight" aria-haspopup="true" >
										<span class="m-menu__link">
											<span class="m-menu__link-text">
												Data Configuration
											</span>
										</span>
									</li>
									<li class="m-menu__section">
										<h4 class="m-menu__section-text">
											Data Configuration
										</h4>
										<i class="m-menu__section-icon flaticon-more-v3"></i>
									</li>
									<li class="m-menu__item  m-menu__item--submenu" aria-haspopup="true"  data-menu-submenu-toggle="click" data-menu-submenu-mode="accordion">
										<a  href="#" class="m-menu__link m-menu__toggle">
											<span class="m-menu__link-text">
												Data Source
											</span>
											<i class="m-menu__ver-arrow la la-angle-right"></i>
										</a>
										<div class="m-menu__submenu ">
											<span class="m-menu__arrow"></span>
											<ul class="m-menu__subnav">
												<li class="m-menu__item dash-conf" aria-haspopup="true"  data-redirect="true">
													<div class="form-group m-form__group row">
														<div class="col-lg-12">
															<select class="form-control m_selectpicker form-control-sm" id="data_ds" name="data_ds">
<?php
for($i=1;$i<=12;$i++){
?>
												<option value="<?= $i;?>" selected><?= "Data ".$i;?></option>
<?php
}
?>
															</select>
														</div>
													</div>
												</li>
											</ul>
										</div>
									</li>
									<li class="m-menu__item  m-menu__item--submenu" aria-haspopup="true"  data-menu-submenu-toggle="click" data-menu-submenu-mode="accordion">
										<a  href="#" class="m-menu__link m-menu__toggle">
											<span class="m-menu__link-text">
												Data Table
											</span>
											<i class="m-menu__ver-arrow la la-angle-right"></i>
										</a>
										<div class="m-menu__submenu ">
											<span class="m-menu__arrow"></span>
											<ul class="m-menu__subnav">
												<li class="m-menu__item dash-conf" aria-haspopup="true"  data-redirect="true">
													<div class="form-group m-form__group row">
														<div class="col-lg-12">
															<select class="form-control m_selectpicker form-control-sm" id="data_ds" name="data_ds">
<?php
for($i=1;$i<=12;$i++){
?>
												<option value="<?= $i;?>" selected><?= "Table ".$i;?></option>
<?php
}
?>
															</select>
														</div>
													</div>
												</li>
											</ul>
										</div>
									</li>
									<li class="m-menu__item  m-menu__item--submenu" aria-haspopup="true"  data-menu-submenu-toggle="click" data-menu-submenu-mode="accordion">
										<a  href="#" class="m-menu__link m-menu__toggle">
											<span class="m-menu__link-text">
												Data Column
											</span>
											<i class="m-menu__ver-arrow la la-angle-right"></i>
										</a>
										<div class="m-menu__submenu ">
											<span class="m-menu__arrow"></span>
											<ul class="m-menu__subnav">
												<li class="m-menu__item dash-conf" aria-haspopup="true"  data-redirect="true">
													<div class="form-group m-form__group row">
														<div class="col-lg-12">
<?php
$col_ico = array(
	'dtime'=>'fa-clock-o',
	'text'=>'fa-sort-alpha-asc',
	'num'=>'fa-sort-numeric-asc'
);
$col_color = array(
	'dtime'=>'success',
	'text'=>'primary',
	'num'=>'danger'
);
for($i=1;$i<=12;$i++){
	$tp = array_rand($col_ico,1);
?>
												<a href="#" class="btn btn-<?= $col_color[$tp];?> btn-sm m-btn m-btn--custom btn-block m-btn--icon" value="<?= $i;?>">
													<span>
														<i class="fa <?= $col_ico[$tp];?>"></i>&nbsp;&nbsp;
														<?= $tp." ".$i;?>
													</span>
												</a>
<?php
}
?>
														</div>
													</div>
												</li>
											</ul>
										</div>
									</li>
								</ul>
							</div>
						</div>
					</li>
					<li class="m-menu__item  m-menu__item--submenu" aria-haspopup="true"  data-menu-submenu-toggle="click" data-redirect="true">
						<a  href="#" class="m-menu__link m-menu__toggle" draggable="true" data-tp="ADDPORTLET" ondragstart="pStart(event)">
							<i class="m-menu__link-icon flaticon-add"></i>
							<span class="m-menu__link-text">
								New Portlet
							</span>
							<i class="m-menu__ver-arrow la la-angle-right"></i>
						</a>
						<div class="m-menu__submenu ">
							<span class="m-menu__arrow"></span>
							<ul class="m-menu__subnav">
								<li class="m-menu__item  m-menu__item--parent" aria-haspopup="true"  data-redirect="true">
									<span class="m-menu__link">
										<span class="m-menu__link-text">
											New Portlet
										</span>
									</span>
								</li>
								<li class="m-menu__item  dash-conf" aria-haspopup="true"  data-redirect="true">
									<div class="form-group m-form__group row">
										<div class="col-lg-12">
											<span class="m-m-form__help">
												Title
											</span>
											<input class=" form-control m-input m-input--air form-control-sm" name="newportlet_title" id="newportlet_title" type="text" value="Title"/>
										</div>
									</div>
								</li>
								<li class="m-menu__item dash-conf" aria-haspopup="true"  data-redirect="true">
									<div class="form-group m-form__group row">
										<div class="col-lg-12">
											<span class="m-m-form__help">
												Column Width
											</span>
											<select class="form-control m_selectpicker form-control-sm" id="newportlet_width" name="newportlet_width">
<?php
for($i=1;$i<=12;$i++){
?>
												<option value="<?= $i;?>" <?= ($i==6)?"selected":""; ?>><?= $i;?></option>
<?php
}
?>
											</select>
										</div>
									</div>
								</li>
								<li class="m-menu__item  dash-conf" aria-haspopup="true"  data-redirect="true">
									<div class="form-group m-form__group row">
										<div class="col-lg-12">
											<span class="m-m-form__help">
												Content Height
											</span>
											<input class=" form-control m-input m-input--air form-control-sm" name="newportlet_height" id="newportlet_height" type="number" value="200"/>
										</div>
									</div>
								</li>
								<li class="m-menu__item dash-conf" aria-haspopup="true"  data-redirect="true">
									<div class="form-group m-form__group row">
										<div class="col-lg-12">
											<span class="m-m-form__help">
												Background Color
											</span>
											<input class=" form-control m-input m-input--air form-control-sm input-color" name="newportlet_bgcolor" id="newportlet_bgcolor" type="color" value="#ffffff"/>
										</div>
									</div>
								</li>
								<li class="m-menu__item dash-conf m--hide" aria-haspopup="true"  data-redirect="true">
									<div class="form-group m-form__group row">
										<div class="col-lg-12">
											<label class="m-checkbox m-checkbox--bold m-checkbox--state-success">
												<input id="newportlet_padding" type="checkbox" name="newportlet_padding" value="false">With Padding
												<span></span>
											</label>
										</div>
									</div>
								</li>
								<li class="m-menu__item dash-conf" aria-haspopup="true"  data-redirect="true">
									<div class="form-group m-form__group row">
										<div class="col-lg-12">
											<button type="button" class="btn btn-success btn-block" onclick="addPortlet()">
												<i class="fa fa-plus" ></i>&nbsp;Add Portlet
											</button>
										</div>
									</div>
								</li>
							</ul>
						</div>
					</li>
					<li class="m-menu__item  m-menu__item--submenu m-menu__item--submenu-fullheight m-menu__item--bottom-3" aria-haspopup="true"  data-menu-submenu-toggle="click" data-menu-dropdown-toggle-class="m-aside-menu-overlay--off">
						<a  href="#" class="m-menu__link m-menu__toggle">
							<i class="m-menu__link-icon flaticon-settings"></i>
							<span class="m-menu__link-text">
								Dashboard Configuration
							</span>
							<i class="m-menu__ver-arrow la la-angle-right"></i>
						</a>
						<div class="m-menu__submenu ">
							<span class="m-menu__arrow"></span>
							<div class="m-menu__wrapper">
								<ul class="m-menu__subnav">
									<li class="m-menu__item  m-menu__item--parent m-menu__item--submenu-fullheight" aria-haspopup="true" >
										<span class="m-menu__link">
											<span class="m-menu__link-text">
												Dashboard Configuration
											</span>
										</span>
									</li>
									<li class="m-menu__section">
										<h4 class="m-menu__section-text">
											Header
										</h4>
										<i class="m-menu__section-icon flaticon-more-v3"></i>
									</li>
									<li class="m-menu__item  m-menu__item--submenu" aria-haspopup="true"  data-menu-submenu-toggle="click" data-menu-submenu-mode="accordion">
										<a href="#" class="m-menu__link m-menu__toggle">
											<span class="m-menu__link-text">
												Show Header
											</span>
											<label class="m-checkbox m-checkbox--bold m-checkbox--state-success">
												<input data-target="header" class="dash-conf-show" type="checkbox" name="datasource" value="true" <?= (isset($this->params["head_title"]) && $this->params["head_show"] != "true")? "" : "checked";?>>
												<span class="dash-conf-check"></span>
											</label>
										</a>
									</li>
									<li class="m-menu__item  m-menu__item--submenu" aria-haspopup="true"  data-menu-submenu-toggle="click" data-menu-submenu-mode="accordion">
										<a  href="#" class="m-menu__link m-menu__toggle">
											<span class="m-menu__link-text">
												Dashboard Title
											</span>
											<i class="m-menu__ver-arrow la la-angle-right"></i>
										</a>
										<div class="m-menu__submenu ">
											<span class="m-menu__arrow"></span>
											<ul class="m-menu__subnav">
												<li class="m-menu__item dash-conf" aria-haspopup="true"  data-redirect="true">
													<div class="form-group m-form__group row">
														<div class="col-lg-12">
															<input data-target="title" class="dash-conf-text form-control m-input m-input--air form-control-sm" name="head_title" id="head_title" type="text" value="<?= (isset($this->params["head_title"])?$this->params["head_title"]:"Title");?>"/>
														</div>
													</div>
												</li>
											</ul>
										</div>
									</li>
									<li class="m-menu__item  m-menu__item--submenu" aria-haspopup="true"  data-menu-submenu-toggle="click" data-menu-submenu-mode="accordion">
										<a  href="#" class="m-menu__link m-menu__toggle">
											<span class="m-menu__link-text">
												Dashboard Description
											</span>
											<i class="m-menu__ver-arrow la la-angle-right"></i>
										</a>
										<div class="m-menu__submenu ">
											<span class="m-menu__arrow"></span>
											<ul class="m-menu__subnav">
												<li class="m-menu__item dash-conf" aria-haspopup="true"  data-redirect="true">
													<div class="form-group m-form__group row">
														<div class="col-lg-12">
															<input data-target="desc" class="dash-conf-text form-control m-input m-input--air form-control-sm" name="head_desc" id="head_desc" type="text" value="<?= (isset($this->params["head_desc"])?$this->params["head_desc"]:"Description");?>"/>
														</div>
													</div>
												</li>
											</ul>
										</div>
									</li>
									<li class="m-menu__section">
										<h4 class="m-menu__section-text">
											Body
										</h4>
										<i class="m-menu__section-icon flaticon-more-v3"></i>
									</li>
									<li class="m-menu__item  m-menu__item--submenu" aria-haspopup="true"  data-menu-submenu-toggle="click" data-menu-submenu-mode="accordion">
										<a  href="#" class="m-menu__link m-menu__toggle">
											<span class="m-menu__link-text">
												Background Color
											</span>
											<i class="m-menu__ver-arrow la la-angle-right"></i>
										</a>
										<div class="m-menu__submenu ">
											<span class="m-menu__arrow"></span>
											<ul class="m-menu__subnav">
												<li class="m-menu__item dash-conf" aria-haspopup="true"  data-redirect="true">
													<div class="form-group m-form__group row">
														<div class="col-lg-12">
															<input data-target="body" class="input-color dash-conf-color form-control m-input m-input--air form-control-sm" name="body_bgcolor" id="body_bgcolor" type="color" value="<?= (isset($this->params["body_bgcolor"])?$this->params["body_bgcolor"]:"#f2f3f8");?>"/>
														</div>
													</div>
												</li>
											</ul>
										</div>
									</li>
								</ul>
							</div>
						</div>
					</li>
				</ul>
			</div>
			<!-- END: Aside Menu -->
		</div>
		<!-- END: Left Aside -->
		<div class="m-grid__item m-grid__item--fluid m-wrapper">
			<!-- BEGIN: Subheader -->
			<div class="m-subheader " id="dash-target-header" data-default="true">
				<div class="d-flex align-items-center">
					<div class="mr-auto">
						<h3 class="m-subheader__title m-subheader__title--separator" id="dash-target-title" data-default="Title">
							<?= (isset($this->params["head_title"])?$this->params["head_title"]:"Title");?>
						</h3>
						
						<ul class="m-subheader__breadcrumbs m-nav m-nav--inline">
							<li class="m-nav__item m-nav__item--home" id="dash-target-desc" data-default="Description">
								<?= (isset($this->params["head_desc"])?$this->params["head_desc"]:"Description");?>
							</li>
						</ul>
					</div>
				</div>
			</div>
			<!-- END: Subheader -->
			<div class="m-content" id="addportlet" style="min-height:100%">
				<div class="row" id="dash-content">
				<div class="col-xl-6 m--hide" id="preportlet"><div class="m-portlet m-portlet--bordered-semi dash-portlet" style="border: 3px solid #ffffff;background-color: lightgrey;"><div class="m-portlet__head"><div class="m-portlet__head-caption"><div class="m-portlet__head-title"><h3 class="m-portlet__head-text">&nbsp;</h3></div></div><div class="m-portlet__head-tools m--hide"></div></div><div class="m-portlet__body"><div class="m-widget15"><div class="m-widget15__chart" style="height:200px;"></div></div></div></div></div>
				</div>
				<!--begin::Modal-->
				<div class="modal fade" id="m_modal_1" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
					<div class="modal-dialog modal-lg" role="document">
						<div class="modal-content">
							<div id="head_modal1" class="modal-header">
								<h5 class="modal-title" id="title_modal1"></h5>
								<button type="button" class="close" data-dismiss="modal" aria-label="Close">
									<span aria-hidden="true">
										&times;
									</span>
								</button>
							</div>
							<div class="modal-body">
								<div class="row">
								<div class="col-xl-4">
									<h5>FIELDS</h5>
									<div class="m-section m-scrollable" id="field-scroll" data-scrollbar-shown="true" data-max-height="380">
										<div class="m-list-search">
											<div class="m-list-search__results">
												<span class="m-list-search__result-message m--hide">
													No record found
												</span>
												<span class="m-list-search__result-category m-list-search__result-category--first">
													TEXT
												</span>
<?php
for($i=1;$i<=4;$i++){
?>
												<a data-type="text" draggable="true" ondragstart="fieldtextDrag(event)" href="#" data-id="<?= "TEXT ".$i;?>" class="m-list-search__result-item" id="<?= "TEXT_".$i;?>">
													<span class="m-list-search__result-item-icon">
														<i class="flaticon-calendar m--font-danger"></i>
													</span>
													<span class="m-list-search__result-item-text field-txt">
														<b class="m--hide">COUNT OF</b> <?= "TEXT ".$i;?>
													</span>
													<span class="m--pull-right"><i class="flaticon-cancel m--hide"></i><i class="flaticon-more-v5 m--hide"></i></span>
												</a>
<?php
}
?>
												<span class="m-list-search__result-category m-list-search__result-category--first">
													NUMERIC
												</span>
<?php
for($i=1;$i<=6;$i++){
?>
												<a data-type="numeric" draggable="true" ondragstart="fieldnumDrag(event)" href="#" data-id="<?= "NUMERIC ".$i;?>" class="m-list-search__result-item" id="<?= "NUMERIC_".$i;?>">
													<span class="m-list-search__result-item-icon">
														<i class="flaticon-interface-3 m--font-warning"></i>
													</span>
													<span class="m-list-search__result-item-text field-txt">
														<b class="m--hide">COUNT OF</b> <?= "NUMERIC ".$i;?>
													</span>
													<span class="m--pull-right"><i class="flaticon-cancel m--hide"></i><i class="flaticon-more-v5 m--hide"></i></span>
												</a>
<?php
}
?>
											</div>
										</div>
									</div>
								</div>
								<div class="col-xl-4">
									<h5>ROWS</h5>
									<div class="m-section m-scrollable" ondrop="rowsDrop(event)" ondragover="contentallowDrop(event)" id="rows-scroll" data-scrollbar-shown="true" data-max-height="150">
										<div class="m-list-search">
											<div class="m-list-search__results">
											</div>
										</div>
									</div>
									<h5>COLUMNS</h5>
									<div class="m-section m-scrollable" ondrop="colsDrop(event)" ondragover="contentallowDrop(event)" id="columns-scroll" data-scrollbar-shown="true" data-max-height="150">
										<div class="m-list-search">
											<div class="m-list-search__results">
											</div>
										</div>
									</div>
								</div>
								<div class="col-xl-4">
									<h5>VALUES</h5>
									<div class="m-section m-scrollable" ondrop="valsDrop(event)" ondragover="contentallowDrop(event)" id="values-scroll" data-scrollbar-shown="true" data-max-height="150">
										<div class="m-list-search">
											<div class="m-list-search__results">
											</div>
										</div>
									</div>
								</div>
								</div>
							</div>
							<div class="modal-footer">
								<button type="button" class="btn btn-secondary" data-dismiss="modal">
									<i class="fa fa-times"></i> CANCEL
								</button>
								<a id="extsource_modal1" href="#" target="_blank" class="btn btn-primary">
									<i class="fa fa-external-link"></i> &nbsp;APPLY
								</a>
							</div>
						</div>
					</div>
				</div>
				<!--end::Modal-->
			</div>
		</div>
	</div>
	<!-- end:: Body -->
<!-- begin::Footer -->
	<footer class="m-grid__item		m-footer ">
		<div class="m-container m-container--fluid m-container--full-height m-page__container">
			<div class="m-stack m-stack--flex-tablet-and-mobile m-stack--ver m-stack--desktop">
				<div class="m-stack__item m-stack__item--left m-stack__item--middle m-stack__item--last">
					<span class="m-footer__copyright">
						<?= date("Y");?> &copy; BigBox by
						<a href="" class="m-link">
						PT Telekomunikasi Indonesia Tbk
						</a>
					</span>
				</div>
			</div>
		</div>
	</footer>
	<!-- end::Footer -->
</div>
<!-- end:: Page -->	    
<!-- begin::Scroll Top -->
<div class="m-scroll-top m-scroll-top--skin-top" data-toggle="m-scroll-top" data-scroll-offset="500" data-scroll-speed="300">
	<i class="la la-arrow-up"></i>
</div>
<!-- end::Scroll Top -->

<script>
var currow = 0;
var curcol = 0;
var curport = 0;
var actport = 0;
var totalport = 0;
var dragport;

function pStart(ev) {
	// console.log($("#addportlet"));
	// console.log(ev.target);
	// console.log($(ev.target));
	// console.log($(ev.target)[0]);
	// console.log($(ev.target).get(0).html());
	ev.dataTransfer.setData("tp", ev.target.dataset.tp);
	dragport = $(ev.target);
	var html = $("<div />").append($(ev.target).clone()).html();
	ev.dataTransfer.setData("src", html);
}

document.addEventListener("dragleave", function(ev) {
    ev.preventDefault();
	if (ev.target.id == "addportlet" || ev.target.id == "dash-content"){
		$("#addportlet").removeClass("hover-blue");
	}
});

document.addEventListener("dragenter", function(ev) {
    ev.preventDefault();
	// console.log(ev.target.className);
	if (ev.target.id == "addportlet" || ev.target.id == "dash-content"){
		$("#addportlet").addClass("hover-blue");
		$("#dash-content").find("#preportlet").addClass("m--hide");
	}else if ($(ev.target).hasClass("pdash")){
		// console.log($(ev.target).parentsUntil("#dash-content"));
		var par = $(ev.target).parentsUntil("#dash-content");
		var src = ev.dataTransfer.getData("src");
		// console.log(par[(par.length-1)]);
		// console.log($(par[(par.length-1)]).data("id"));
		// console.log(dragport);
		// console.log(dragport.data("id"));
		if($(par[(par.length-1)]).data("id")!=dragport.data("id")){
			$("#dash-content").find("#preportlet").removeClass("m--hide").insertAfter(par[(par.length-1)]);
		}
	}
});

document.addEventListener("dragover", function(ev) {
    ev.preventDefault();
	// dragport = null;
});

document.addEventListener("drop", function(ev) {
    ev.preventDefault();
	// console.log(event);
	var tp = ev.dataTransfer.getData("tp");
	// console.log(tp);
    if ( (ev.target.id == "addportlet" || ev.target.id == "dash-content") && tp=="ADDPORTLET") {
		addPortlet();
		$("#addportlet").removeClass("hover-blue");
    }else if ( $(ev.target).hasClass("pdash") && tp=="MOVEPORTLET") {
		var par = $(ev.target).parentsUntil("#dash-content");
		var src = ev.dataTransfer.getData("src");
		// console.log(src);
		// console.log(dragport);
		// console.log($(src).get(0));
		// addPortlet2(par[(par.length-1)]);
		dragport.remove();
		$(src).insertAfter(par[(par.length-1)]);
		$("#addportlet").removeClass("hover-blue");
		$("#dash-content").find("#preportlet").addClass("m--hide");
    }else if ($(ev.target).hasClass("pdash")){
		var par = $(ev.target).parentsUntil("#dash-content");
		addPortlet2(par[(par.length-1)]);
		$("#addportlet").removeClass("hover-blue");
		$("#dash-content").find("#preportlet").addClass("m--hide");
	}
});

function fieldtextDrag(ev) {
	// console.log("TEXT DRAG");
	// console.log(ev);
	ev.dataTransfer.setData("text", ev.target.id);
}

function fieldnumDrag(ev) {
	// console.log("NUMERIC DRAG");
	// console.log(ev);
	ev.dataTransfer.setData("text", ev.target.id);
}

function rowsDrop(ev) {
    ev.preventDefault();
	// console.log("ROWS DROP");
	// console.log(ev);
	var data = ev.dataTransfer.getData("text");
	if($('#rows-scroll').hasClass('mCustomScrollbar')){
		$('#rows-scroll').mCustomScrollbar('destroy');
	}
	// console.log(document.getElementById(data));
	// console.log($('#'+data).html());
	$('#'+data).find(".flaticon-cancel").addClass("m--hide");
	$('#'+data).find(".flaticon-more-v5").addClass("m--hide");
	$('#'+data).find("b").addClass("m--hide");
	$('#rows-scroll').find(".m-list-search__results").append(document.getElementById(data));
	$('#rows-scroll').find(".flaticon-cancel").removeClass("m--hide");
	$('#rows-scroll').mCustomScrollbar({
		alwaysShowScrollbar:true,
		autoScrollOnFocus : false,
		updateOnContentResize : false,
		updateOnImageLoad : false,
		setWidth : '100%',
		setHeight : 150,
		theme:'minimal-dark'
	});
}

function colsDrop(ev) {
    ev.preventDefault();
	// console.log("COLUMNS DROP");
	// console.log(ev);
	var data = ev.dataTransfer.getData("text");
	if($('#columns-scroll').hasClass('mCustomScrollbar')){
		$('#columns-scroll').mCustomScrollbar('destroy');
	}
	$('#'+data).find(".flaticon-cancel").addClass("m--hide");
	$('#'+data).find(".flaticon-more-v5").addClass("m--hide");
	$('#'+data).find("b").addClass("m--hide");
	$('#columns-scroll').find(".m-list-search__results").append(document.getElementById(data));
	$('#columns-scroll').find(".flaticon-cancel").removeClass("m--hide");
	$('#columns-scroll').mCustomScrollbar({
		alwaysShowScrollbar:true,
		autoScrollOnFocus : false,
		updateOnContentResize : false,
		updateOnImageLoad : false,
		setWidth : '100%',
		setHeight : 150,
		theme:'minimal-dark'
	});
}

function valsDrop(ev) {
    ev.preventDefault();
	// console.log("VALUES DROP");
	// console.log(ev);
	var data = ev.dataTransfer.getData("text");
	if($('#values-scroll').hasClass('mCustomScrollbar')){
		$('#values-scroll').mCustomScrollbar('destroy');
	}
	$('#'+data).find(".flaticon-cancel").addClass("m--hide");
	$('#'+data).find(".flaticon-more-v5").addClass("m--hide");
	$('#'+data).find("b").addClass("m--hide");
	$('#values-scroll').find(".m-list-search__results").append(document.getElementById(data));
	$('#values-scroll').find(".flaticon-cancel").removeClass("m--hide");
	$('#values-scroll').find(".flaticon-more-v5").removeClass("m--hide");
	$('#values-scroll').find("b").removeClass("m--hide");
	$('#values-scroll').mCustomScrollbar({
		alwaysShowScrollbar:true,
		autoScrollOnFocus : false,
		updateOnContentResize : false,
		updateOnImageLoad : false,
		setWidth : '100%',
		setHeight : 150,
		theme:'minimal-dark'
	});
}

function configPortlet(me){
	if($(me).data("id")==actport){
		$("#dash-conf-databtn").toggleClass("m--hide");
		$(me).toggleClass("active-portlet");
	}else{
		$('body').find('.dash-portlet').removeClass("active-portlet");
		$(me).addClass("active-portlet");
		$("#dash-conf-databtn").removeClass("m--hide");
	}
	actport = $(me).data("id");
	// console.log(actport);
}

function removePortlet(me){
	$("#dash-portlet-"+$(me).data("id")).parent().remove();
	// $('body').find('.dash-portlet').removeClass("active-portlet");
	// $('body').find("#dash-portlet-"+actport).addClass("active-portlet");
	// $("#dash-conf-databtn").removeClass("m--hide");
	totalport--;
	// console.log(actport);
	if(totalport==0 || $(me).data("id")==actport){
		$("#dash-conf-databtn").addClass("m--hide");
		actport = "";
	}
}

function addPortlet2(dom){
	var _width = $("#newportlet_width").val();
	var _padding = $("#newportlet_padding").is(":checked");
	var _height = $("#newportlet_height").val();
	var _title = $("#newportlet_title").val();
	var _color = $("#newportlet_bgcolor").val();
	// console.log(colw);
	// console.log(colpad);
	// if(curcol+colw>12){
		// currow++;
		// $("#dash-content").append('<div class="row" id="dash-row-'+currow+'"></div>');
	// }
	curport++;
	totalport++;
	$('<div draggable="true" data-tp="MOVEPORTLET" ondragstart="pStart(event)" data-id="'+curport+'" class="col-xl-'+_width+' pcol" id="colportlet'+curport+'"><div class="pdash m-portlet m-portlet--bordered-semi dash-portlet" data-id="'+curport+'" ondblclick="configPortlet(this)" id="dash-portlet-'+curport+'" style="background-color:'+_color+' !important"><div class="pdash m-portlet__head"><div class="pdash m-portlet__head-caption"><div class="pdash m-portlet__head-title">'+
		'<h3 class="pdash m-portlet__head-text">'+_title+'</h3>'+
	'</div></div><div class="pdash m-portlet__head-tools"><ul class="m-portlet__nav"><li class="m-portlet__nav-item m-portlet__nav-item--last m-dropdown m-dropdown--inline m-dropdown--arrow m-dropdown--align-right m-dropdown--align-push" data-dropdown-toggle="hover"><a href="#" class="m-portlet__nav-link m-portlet__nav-link--icon m-portlet__nav-link--icon-xl"><i class="fa fa-genderless m--font-brand"></i></a><div class="m-dropdown__wrapper"><span class="m-dropdown__arrow m-dropdown__arrow--right m-dropdown__arrow--adjust"></span><div class="m-dropdown__inner"><div class="m-dropdown__body"><div class="m-dropdown__content"><ul class="m-nav"><li class="m-nav__item"><a href="" class="m-nav__link"><i class="m-nav__link-icon flaticon-share"></i><span class="m-nav__link-text">Data Table</span></a></li><li class="m-nav__item"><a href="" class="m-nav__link"><i class="m-nav__link-icon flaticon-chat-1"></i><span class="m-nav__link-text">Chart</span></a></li><li class="m-nav__item"><a href="#" class="m-nav__link" data-toggle="modal" data-target="#m_modal_1" data-id="'+curport+'"><i class="m-nav__link-icon flaticon-info"></i><span class="m-nav__link-text">Field Configuration</span></a></li><li class="m-nav__separator m-nav__separator--fit"></li><li class="m-nav__item"><a href="#" class="btn btn-outline-danger btn-block m-btn-block m-btn m-btn--pill m-btn--wide btn-sm" onclick="removePortlet(this)" data-id="'+curport+'">Remove</a></li></ul></div></div></div></div></li></ul></div></div><div class="pdash m-portlet__body"><div class="pdash m-widget15">'+
		'<div class="pdash m-widget15__chart" style="height:'+_height+'px;"></div>'+
	'</div></div></div></div>').insertAfter(dom);
}

function addPortlet(){
	var _width = $("#newportlet_width").val();
	var _padding = $("#newportlet_padding").is(":checked");
	var _height = $("#newportlet_height").val();
	var _title = $("#newportlet_title").val();
	var _color = $("#newportlet_bgcolor").val();
	// console.log(colw);
	// console.log(colpad);
	// if(curcol+colw>12){
		// currow++;
		// $("#dash-content").append('<div class="row" id="dash-row-'+currow+'"></div>');
	// }
	curport++;
	totalport++;
	$("#dash-content").append('<div draggable="true" data-tp="MOVEPORTLET" data-id="'+curport+'" ondragstart="pStart(event)" class="col-xl-'+_width+' pcol" id="colportlet'+curport+'"><div class="pdash m-portlet m-portlet--bordered-semi dash-portlet" data-id="'+curport+'" ondblclick="configPortlet(this)" id="dash-portlet-'+curport+'" style="background-color:'+_color+' !important"><div class="pdash m-portlet__head"><div class="pdash m-portlet__head-caption"><div class="pdash m-portlet__head-title">'+
		'<h3 class="pdash m-portlet__head-text">'+_title+'</h3>'+
	'</div></div><div class="pdash m-portlet__head-tools"><ul class="m-portlet__nav"><li class="m-portlet__nav-item m-portlet__nav-item--last m-dropdown m-dropdown--inline m-dropdown--arrow m-dropdown--align-right m-dropdown--align-push" data-dropdown-toggle="hover"><a href="#" class="m-portlet__nav-link m-portlet__nav-link--icon m-portlet__nav-link--icon-xl"><i class="fa fa-genderless m--font-brand"></i></a><div class="m-dropdown__wrapper"><span class="m-dropdown__arrow m-dropdown__arrow--right m-dropdown__arrow--adjust"></span><div class="m-dropdown__inner"><div class="m-dropdown__body"><div class="m-dropdown__content"><ul class="m-nav"><li class="m-nav__item"><a href="" class="m-nav__link"><i class="m-nav__link-icon flaticon-share"></i><span class="m-nav__link-text">Data Table</span></a></li><li class="m-nav__item"><a href="" class="m-nav__link"><i class="m-nav__link-icon flaticon-chat-1"></i><span class="m-nav__link-text">Chart</span></a></li><li class="m-nav__item"><a href="#" class="m-nav__link" data-toggle="modal" data-target="#m_modal_1" data-id="'+curport+'"><i class="m-nav__link-icon flaticon-info"></i><span class="m-nav__link-text">Field Configuration</span></a></li><li class="m-nav__separator m-nav__separator--fit"></li><li class="m-nav__item"><a href="#" class="btn btn-outline-danger btn-block m-btn-block m-btn m-btn--pill m-btn--wide btn-sm" onclick="removePortlet(this)" data-id="'+curport+'">Remove</a></li></ul></div></div></div></div></li></ul></div></div><div class="pdash m-portlet__body"><div class="pdash m-widget15">'+
		'<div class="pdash m-widget15__chart" style="height:'+_height+'px;"></div>'+
	'</div></div></div></div>');
}

$(document).ready(function(){
	$('#m_modal_1').on('show.bs.modal', function (e) {
		$('#field-scroll').mCustomScrollbar({
			alwaysShowScrollbar:true,
			autoScrollOnFocus : false,
			updateOnContentResize : false,
			updateOnImageLoad : false,
			setWidth : '100%',
			setHeight : 380,
			theme:'minimal-dark'
		});
		$('#rows-scroll').mCustomScrollbar({
			alwaysShowScrollbar:true,
			autoScrollOnFocus : false,
			updateOnContentResize : false,
			updateOnImageLoad : false,
			setWidth : '100%',
			setHeight : 150,
			theme:'minimal-dark'
		});
		$('#columns-scroll').mCustomScrollbar({
			alwaysShowScrollbar:true,
			autoScrollOnFocus : false,
			updateOnContentResize : false,
			updateOnImageLoad : false,
			setWidth : '100%',
			setHeight : 150,
			theme:'minimal-dark'
		});
		$('#values-scroll').mCustomScrollbar({
			alwaysShowScrollbar:true,
			autoScrollOnFocus : false,
			updateOnContentResize : false,
			updateOnImageLoad : false,
			setWidth : '100%',
			setHeight : 150,
			theme:'minimal-dark'
		});
	});
	
	$('input.dash-conf-color').on('change', function(e) {
		// console.log($(this).val());
		// console.log("#dash-target-"+$(this).data('target'));
		if($("#dash-target-"+$(this).data('target')).length>0){
			// console.log($('body').find("#dash-target-"+$(this).data('target')));
			$('body').find("#dash-target-"+$(this).data('target')).css("background-color",$(this).val());
		}
	});
	
	$('input.dash-conf-show').on('change', function(e) {
		// console.log($(this).is(":checked"));
		if($('body').find("#dash-target-"+$(this).data('target')).length>0){
			if($(this).is(":checked")){
				$('body').find("#dash-target-"+$(this).data('target')).show();
			}else{
				$('body').find("#dash-target-"+$(this).data('target')).hide();
			}
		}
	});
	
	$('input.dash-conf-text').on('keyup', function(e) {
		if($(this).val()==""){
			e.preventDefault();
			return false;
		}
		var keyCode = e.keyCode || e.which;
		if (keyCode === 13) {
			e.preventDefault();
			return false;
		}else{
			if($('body').find("#dash-target-"+$(this).data('target')).length>0){
				// console.log($(this).val());
				$('body').find("#dash-target-"+$(this).data('target')).html($(this).val());
			}
		}
	});
});
</script>