<!DOCTYPE html>
<html lang="en" >
	<!-- begin::Head -->
	<head>
		<meta charset="utf-8" />
		<title>
			BigBox | Satu Platform Untuk Data Anda
		</title>
		<meta name="description" content="BigBox, Satu Platform Untuk Data Anda>
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    	<!--begin::Base Scripts -->
		<script src="/assets/m51/dist/demo7/assets/vendors/base/vendors.bundle.js" type="text/javascript"></script>
		<!--begin::Web font -->
		<script src="https://ajax.googleapis.com/ajax/libs/webfont/1.6.16/webfont.js"></script>
		<script>
          WebFont.load({
            google: {"families":["Poppins:300,400,500,600,700","Roboto:300,400,500,600,700"]},
            active: function() {
                sessionStorage.fonts = true;
            }
          });
		  jQuery.fn.simulateClick = function() {
			return this.each(function() {
				if('createEvent' in document) {
					var doc = this.ownerDocument,
						evt = doc.createEvent('MouseEvents');
					evt.initMouseEvent('click', true, true, doc.defaultView, 1, 0, 0, 0, 0, false, false, false, false, 0, null);
					this.dispatchEvent(evt);
				} else {
					this.click(); // IE Boss!
				}
			});
		}
		</script>
		<!--end::Web font -->
        <!--begin::Base Styles -->  
        <!--begin::Page Snippets -->
<?= $this->headLink(); ?>
		<!--end::Page Snippets -->
		<link href="/assets/m51/dist/demo7/assets/vendors/base/vendors.bundle.css" rel="stylesheet" type="text/css" />
		<link href="/assets/m51/dist/demo7/assets/demo/demo7/base/style.bundle.css" rel="stylesheet" type="text/css" />
		<!--end::Base Styles -->
		<link rel="shortcut icon" href="/images/favicon.png" />
	</head>
	<!-- end::Head -->
    <!-- begin::Body -->
	<body class="m-page--fluid m--skin- m-content--skin-light2 m-header--fixed m-header--fixed-mobile m-aside-left--enabled m-aside-left--skin-light m-aside-left--fixed m-aside-left--offcanvas m-aside-left--minimize m-brand--minimize m-footer--push m-aside--offcanvas-default"  >
<?php 
if($this->layout()->nestedLayout){
	$this->layout()->setLayout($this->layout()->nestedLayout); 
}else{
	$this->layout()->setLayout('m51-7/layout-1');
}                             
echo $this->layout()->render();  
?>
		<script src="/assets/m51/dist/demo7/assets/demo/demo7/base/scripts.bundle.js" type="text/javascript"></script>
		<!--end::Base Scripts -->   
        <!--begin::Page Snippets -->
<?= $this->headScript(); ?>
		<!--end::Page Snippets -->
		<script>
			$(document).ready(function(){});
		</script>
	</body>
	<!-- end::Body -->
</html>
