<div class="page-content">
	<div class="row">
		<div class="col-md-12">
			<div class="col-left col-md-3">
				<div class="portlet box default">
					<div class="portlet-title">
						<div class="caption">
							Schemas
							<div class="pull-right" style="color: #b3b3b3; font-size: 11px;">
								(<span id="countdb"><?php echo count($this->tree); ?></span>)
							</div>
						</div>
					</div>
					<div class="portlet-body">
						<div class="form-group">
							<input class="form-control" id="searchtb" placeholder="Search...">
						</div>
						<!-- <div class="form-group">
							<input class="form-control select2" id="searchtbx" placeholder="Search...">
						</div> -->
						<div class="form-group scroller" style="min-height: 515px;">
							<table class="table" id="schemas_tablex">
								<tbody>
								<?php
								foreach ($this->tree as $k => $v) {
									echo '<tr class="tr-schemas '.$v['database_name'].'">'.
											'<td colspan="2">'.
												'<a class="btn toggle" data-database="'.$v['database_name'].'">'.
													'<i class="fa fa-database"></i> '.$v['database_name'].
												'</a> '.
												'<span class="ctchild">'.
													'('.
													'<span class="ttb">'.count($v['tables']).'</span>'.
													')'.
												'<span>'.
											'</td>'.
										'</tr>';
									foreach ($v['tables'] as $k1 => $v1) {
										echo '<tr class="tr-tables '.$v['database_name'].' '.$v1['tab_name'].' hidden">'.
											 	'<td>'.
													'<a class="btn toggle" data-database="'.$v['database_name'].'" data-table="'.$v1['tab_name'].'">'.
														'<i class="fa fa-table"></i> '.$v1['tab_name'].'</a>'.
												'</td>'.
												'<td class="pull-right">'.
													'<a class="btn" href="#modal-statistic" data-toggle="modal" data-database="'.$v['database_name'].'" data-table="'.$v1['tab_name'].'" onclick="viewStatistics(this);">'.
														'<i class="fa fa-bar-chart-o"></i>'.
													'</a>'.
												'</td>'.
											'</tr>';
										foreach ($v1['columns'] as $k2 => $v2) {
											echo '
											<tr class="tr-columns '.$v['database_name'].' '.$v1['tab_name'].' '.$v2['col_name'].' hidden">'.
												'<td colspan="2">'.
													'<i class="fa fa-columns"></i> '.
													$v2['col_name'].' '.strpos($v2['col_name'],' ').
													'<span class="ctchild">'.
														'('.
														$v2['data_type'].
														')'.
													'</span>'.
												'</td>'.
											'</tr>';
										}
									}
								}
								?>
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
			<div class="col-right col-md-9">
				<div class="portlet box default">
					<div class="portlet-title">
						<div class="caption">Query <span style="font-size: 10px;">(<span id="counter">0.0s</span>)</span></div>
						<div class="tools">
							<a href="javascript:;" class="collapse" data-original-title="" title=""> </a>
						</div>
					</div>
					<div class="portlet-body">
						<form method="post" id="form">
							<div class="form-body">
								<div class="form-group">
									<table class="table" style="margin-bottom: 0px !important;">
										<tbody>
											<tr>
												<td class="text-center" style="padding: 5px 0px;vertical-align: bottom;background-color: #f7f7f7; width: 30px;">
													<div class="checkbox-list">
														<label>
															<button type="button" class="btn btn-xs btn-block btn-success btn-is_cache" title="using cache"><i class="fa fa-table"></i></button>
														</label>
														<label>
															<button type="button" class="btn btn-xs btn-block btn-is_rowcount" title="query total count"><i class="fa fa-list-ol"></i></button>
														</label>
														<label>
															<button type="button" class="btn btn-xs btn-block btn-primary btn-execute" title="execute query"><i class="fa fa-play"></i></button>
															<button type="button" class="btn btn-xs btn-block btn-danger btn-execute-stop hidden" title="stop query"><i class="fa fa-stop"></i></button>
														</label>
													</div>
												</td>
												<td style="padding: 0px;">
													<textarea id="sql" rows="15" placeholder="Example: SELECT * FROM tablename, or press CTRL + space" style="width: 100%;"></textarea>
												</td>
											</tr>									
										</tbody>
									</table>
								</div>
							</div>
							<div class="form-actions">
								<div class="pull-right">							
									<i class="fa fa-spinner fa-spin spin-loader hidden" style="font-size: 22px;"></i>
								</div>
							</div>
						</form>
					</div>
				</div>
				<div class="portlet box default results">
					<div class="portlet-title tabbale-line">
						<ul class="nav nav-pills">
							<li class="">
								<a href="#tab_logs" data-toggle="tab"><i class="fa fa-list-ul"></i> LOGS</a>
							</li>
							<li class="active tabresults">
								<a href="#tab_results0" data-toggle="tab"><i class="fa fa-file-text-o"></i> RESULTS</a>
							</li>
						</ul>
					</div>
					<div class="portlet-body" style="padding: 10px !important; border: 1px solid #f7f7f7;">
						<div class="tab-content">
							<div class="tab-pane fade in tabclone" id="tab_clone">
								<div class="divtable" style="padding: 10px;">
									<p>No Results available.</p>
								</div>
							</div>
							<div class="tab-pane fade in" id="tab_logs">
								<div id="divlog">
									No Logs available.
								</div>
							</div>
							<div class="tab-pane fade active in tabresults" id="tab_results0">
								<div class="divtable">
									No Results available.
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="modal fade" id="modal-statistic" tabindex="-1" role="basic" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
				<h4 class="modal-title"><i class="fa fa-table"></i> <span>Modal Title</span></h4>
			</div>
			<div class="modal-body">
				<button class="btn btn-danger pull-right btn-xs btn-reload-cache" data-database="" data-table="" onclick="viewStatistics(this);" style="margin-top: 5px;">Clear Cache!</button>
				<ul class="nav nav-tabs">
					<li class="active">
						<a href="#tab_analysis" data-toggle="tab">Analysis</a>
					</li>
					<li>
						<a href="#tab_columns" data-toggle="tab">Columns</a>
					</li>
					<li>
						<a href="#tab_sample" data-toggle="tab">Sample</a>
					</li>
				</ul>
				<div class="tab-content">
					<div class="tab-pane fade active in" id="tab_analysis">
						<i class="fa fa-spinner fa-spin spin-loader-modal hidden" style="font-size: 22px;"></i>
						<div class="analysis_content hidden">
							<div class="alert alert-info">
								<div style="display: inline-block;"></div>
								<div class="pull-right">
									<strong>LAST CACHE:</strong> <span>yyyy-mm-dd hh:ii:ss</span>
								</div>
							</div>
							<div class="table-scrollable"></div>
						</div>
					</div>
					<div class="tab-pane fade" id="tab_columns">
						<i class="fa fa-spinner fa-spin spin-loader-modal hidden" style="font-size: 22px;"></i>
						<div class="columns_content hidden">
							<div class="alert alert-info">
								<div style="display: inline-block;"></div>
								<div class="pull-right">
									<strong>LAST CACHE:</strong> <span>yyyy-mm-dd hh:ii:ss</span>
								</div>
							</div>
							<div class="table-scrollable"></div>
						</div>
					</div>
					<div class="tab-pane fade" id="tab_sample">
						<i class="fa fa-spinner fa-spin spin-loader-modal hidden" style="font-size: 22px;"></i>
						<div class="sample_content hidden">
							<div class="alert alert-info">
								<div style="display: inline-block;">
									<strong>Total Record:</strong> <span>0</span>
								</div>
								<div class="pull-right">
									<strong>LAST CACHE:</strong> <span>yyyy-mm-dd hh:ii:ss</span>
								</div>
							</div>
							<div class="table-scrollable"></div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="modal fade" id="modal-sql" tabindex="-1" role="basic" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
				<h4 class="modal-title"><i class="fa fa-table"></i> <span>Modal Title</span></h4>
			</div>
			<div class="modal-body">
				<div class="well">SELECT * FROM DUAL</div>
			</div>
		</div>
	</div>
</div>

<div class="modal fade" id="modal-exportapi" tabindex="-1" role="basic" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
				<h4 class="modal-title"><i class="fa fa-fire"></i> <span>Title</span></h4>
			</div>
			<div class="modal-body">
				<div class="well">MSG</div>
			</div>
		</div>
	</div>
</div>

<script type="text/javascript">
	var hintOptions = <?php echo $this->hintOptions; ?>;
	var dbtbcl = <?php echo $this->dbtbcl; ?>;
</script>