<!--entity_id
2 digital media
3 dokumen
5 socmed
-->

<div class="page-content" style="min-height:660px !important">

    <h1 class="page-title"> Dashboard 
        <small>dashboard &amp; statistics</small>
    </h1>
                    
	<div class="page-bar">
		<ul class="page-breadcrumb">
			<li>
				<i class="icon-home"></i>
				<a href="index.html">Home</a>
				<i class="fa fa-angle-right"></i>
			</li>
			<li>
				<span>Dashboard</span>
			</li>
		</ul>
	</div>
	
	<div class="row">
		<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
			<div class="dashboard-stat2 ">
				<div class="display">
					<div class="number">
						<h3 class="font-green-sharp">
							<span data-counter="counterup" data-value="<?php echo $this->datax[2];?>"><?php echo number_format($this->datax[2],0,'.',',');?></span>
							<small class="font-green-sharp"> </small>
						</h3>
						<small>DIGITAL MEDIA NEWS</small>
					</div>
					<div class="icon">
						<i class="icon-feed"></i>
					</div>
				</div>
				<div class="progress-info">
					<div class="progress">
						<span style="width: 0%;" class="progress-bar progress-bar-success green-sharp">
							<span class="sr-only"></span>
						</span>
					</div>
				</div>
			</div>
		</div>
		<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
			<div class="dashboard-stat2 ">
				<div class="display">
					<div class="number">
						<h3 class="font-red-haze">
							<span data-counter="counterup" data-value="<?php echo $this->datax[3];?>"><?php echo number_format($this->datax[3],0,'.',',');?></span>
						</h3>
						<small>Document</small>
					</div>
					<div class="icon">
						<i class="icon-docs"></i>
					</div>
				</div>
				<div class="progress-info">
					<div class="progress">
						<span style="width: 0%;" class="progress-bar progress-bar-success red-haze">
							<span class="sr-only"></span>
						</span>
					</div>
				</div>
			</div>
		</div>
		<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
			<div class="dashboard-stat2 ">
				<div class="display">
					<div class="number">
						<h3 class="font-blue-sharp">
							<span data-counter="counterup" data-value="<?php echo $this->datax[5];?>"><?php echo number_format($this->datax[5],0,'.',',');?></span>
						</h3>
						<small>SOCIAL MEDIA TWITTER</small>
					</div>
					<div class="icon">
						<i class="icon-social-twitter"></i>
					</div>
				</div>
				<div class="progress-info">
					<div class="progress">
						<span style="width: 0%;" class="progress-bar progress-bar-success blue-sharp">
							<span class="sr-only"></span>
						</span>
					</div>
				</div>
			</div>
		</div>
		<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
			<div class="dashboard-stat2 ">
				<div class="display">
					<div class="number">
						<h3 class="font-purple-soft">
							<span data-counter="counterup" data-value="0">0</span>
						</h3>
						<small>METADATA</small>
					</div>
					<div class="icon">
						<i class="icon-compass"></i>
					</div>
				</div>
				<div class="progress-info">
					<div class="progress">
						<span style="width: 0%;" class="progress-bar progress-bar-success purple-soft">
							<span class="sr-only"></span>
						</span>
					</div>
				</div>
			</div>
		</div>
	</div>


	<div class="row">
		<div class="col-md-12">
			<div class="portlet light">
			<div class="portlet-title">
				<div class="caption">
						<span class="caption-subject bold uppercase font-dark">by Sentiment</span>
				</div>
				<div class="actions">
					<a href="javascript:;" class="btn btn-primary btn-sm" onclick="getSentiment('','',$('#type').val());">
						<i class="fa fa-refresh"></i></a>
				</div>
			</div>
			<div class="portlet-body" id="sentiment">
			</div>
			</div>
		</div>
	</div>

</div>

<script>
var xhr_gt=null;
function getTopik(id){
	
	if(xhr_gt!=null && xhr_gt!=undefined){
		xhr_gt.abort();
	}
	
	var formData = {};
	
	xhr_gt = $.ajax({  
		type: "GET",
		url: '/domas/ajax/gettopik/id/'+id+'/topik/<?php
echo $this->varams["topik"];

?>',
		data: formData, //last_id kita berarti 15
		dataType: "html",  //sesuai keinginan, di sini saya pengen ngambil langsung data dalam bentuk html langsung dari file data_per_load.php
		success: function(data){
			// console.log("ok");
			$("#topik").html(data);
		}
	});
	
}


var xhr_map=null;
var map;
var markers = {};
function initialize() {

	//showMarkers(map,"","","Laporan");
    
}
function showMarkers(map,sdate="",edate="",tm="Laporan"){
	
}
function setMapOnAll(map) {
  for (var i = 0; i < markers.length; i++) {
    markers[i].setMap(map);
  }
}

var xhr_sent=null;
function getSentiment(sdate="",edate="",l=""){

// console.log(l);
	if(xhr_sent!=null && xhr_sent!=undefined){
		xhr_sent.abort();
	}
	
	App.blockUI({target:"#sentiment",boxed:!0});

var formData = {};
var param ="";
param +="&skey=";
param +="&skeyexception=";
param += "&cat=";
param +="&searchkey=";
param += "&topik=";
param += "&is_mediatype=";
param += "&t="+l;

if(sdate!="" && edate!=""){
	//param += "&d1="+sdate+"&d2="+edate;	
	//param +="&is_sentiment="+$("#is_sentiment").val();
} else {	
	//$("#is_sentiment").val("");
	//param +="&d1="+$("#from").val()+"&d2="+$("#to").val();
	//param +="&is_sentiment="+$("#is_sentiment").val();
}

//var formData = $("#form").serialize();

xhr_sent = $.ajax({  
	type: "GET",
	url: '/domas/ajaxdomas/chartsentiment?&skey=&skeyexception=&cat=&searchkey=&topik=&is_mediatype=&d1=<?php echo $this->varams["startdate"]; ?>&d2=<?php echo $this->varams["enddate"]; ?>&is_sentiment=',
	data: formData, //last_id kita berarti 15
	dataType: "html",  //sesuai keinginan, di sini saya pengen ngambil langsung data dalam bentuk html langsung dari file data_per_load.php
	success: function(data){
		// console.log(data);
		$("#sentiment").html(data);
		App.unblockUI("#sentiment");
	}
});

}

function setMT(mt){
//style="opacity: .5;"
	
	// console.log(mt);
	$("#media_type").val(mt);
	// console.log($("#media_type").val());
	$("#form").submit();
}


var xhr_trend=null;
function getTrendline(sdate="",edate=""){

if(xhr_trend!=null && xhr_trend!=undefined){
	xhr_trend.abort();
}

App.blockUI({target:"#trendline",boxed:!0});

var formData = {};
var param ="";
param +="&skey=";
param +="&skeyexception=";
param += "&cat=";
param +="&searchkey=";
param += "&topik=";
param += "&is_mediatype=";
param += "&gap=%2B1DAY";
param += "&ano=0";

if(sdate!="" && edate!=""){
	// console.log("t");
	//param += "&d1="+sdate+"&d2="+edate;	
	//param +="&is_sentiment="+$("#is_sentiment").val();
} else {
	// console.log("f");
	//$("#is_sentiment").val("");
	//param +="&d1="+$("#from").val()+"&d2="+$("#to").val();
	//param +="&is_sentiment="+$("#is_sentiment").val();
}	

// console.log(param);

xhr_trend = $.ajax({  
	type: "GET",
	url: '/domas/ajaxdomas/charttrendline?&skey=&skeyexception=&cat=&searchkey=&topik=&is_mediatype=nasional&gap=%2B1DAY&ano=0&d1=<?php echo $this->varams["startdate"]; ?>&d2=<?php echo $this->varams["enddate"]; ?>&is_sentiment=',
	data: formData, //last_id kita berarti 15
	dataType: "html",  //sesuai keinginan, di sini saya pengen ngambil langsung data dalam bentuk html langsung dari file data_per_load.php
	success: function(data){
		// console.log(data);
		$("#trendline").html(data);
		App.unblockUI("#trendline");
	}
});

}

var xhr_5w1h=null;
// var xhr_5w1h1=null;
function get5w1h(t="",me,sdate="",edate="",dl=0){
	
if(xhr_5w1h!=null && xhr_5w1h!=undefined){
	xhr_5w1h.abort();
}
// if(xhr_5w1h1!=null && xhr_5w1h1!=undefined){
	// xhr_5w1h1.abort();
// }
	App.blockUI({target:"#5w1h",boxed:!0});

	// console.log(me);

	var s = "who";
	if($(me).data("s")!=undefined){
		s = $(me).data("s");
	}

	// console.log(s);

	var formData = {}
	var param = "";
	param +="t="+t;
	param +="&s="+s;
	param +="&skey="+$("#skey").val();
	param +="&searchkey="+$("#searchkey").val();
	param +="&skeyexception="+$("#skeyexception").val();
	param += "&cat="+$("#cat").val();
	param += "&topik=<?php
echo $this->varams["topik"];

?>";
	param += "&is_mediatype="+$("#media_type").val();

	if(sdate!="" && edate!=""){
		param += "&d1="+sdate+"&d2="+edate;	
		param +="&is_sentiment="+$("#is_sentiment").val();
	} else {	
		$("#is_sentiment").val("");
		param +="&d1="+$("#from").val()+"&d2="+$("#to").val();
		param +="&is_sentiment="+$("#is_sentiment").val();
	}

	// console.log(param);

	if(dl==1){
		App.unblockUI("#5w1h");
		return window.open('/domas/ajax1/wwwwwh/ajax/1?'+param,'_blank');
		// return location.href='/domas/ajaxhome/wwwwwh/ajax/1?'+param;
	}

xhr_5w1h = $.ajax({  
		type: "GET",
		url: '/domas/ajax1/wwwwwh?'+param,   
		data: formData, //last_id kita berarti 15
		dataType: "html",  //sesuai keinginan, di sini saya pengen ngambil langsung data dalam bentuk html langsung dari file data_per_load.php
		success: function(data){
			 // console.log(data);
			$("#5w1h").html(data);
			App.unblockUI("#5w1h");
		}
	});
	
}


var xhr_link=null;
function getLink(sdate="",edate=""){
	
	if(xhr_link!=null && xhr_link!=undefined){
		xhr_link.abort();
	}
	
	App.blockUI({target:"#frontend",boxed:!0});
	
	var formData = {};
	var param ="";
	param +="&skey="+$("#skey").val();
	param +="&skeyexception="+$("#skeyexception").val();
	param +="&searchkey="+$("#searchkey").val();
	param += "&cat="+$("#cat").val();
	param += "&topik=<?php
echo $this->varams["topik"];

?>";
	param += "&is_mediatype="+$("#media_type").val();

	if(sdate!="" && edate!=""){
		// console.log("t");
		param += "&d1="+sdate+"&d2="+edate;	
		param +="&is_sentiment="+$("#is_sentiment").val();
	} else {
		// console.log("f");
		$("#is_sentiment").val("");
		param +="&d1="+$("#from").val()+"&d2="+$("#to").val();
		param +="&is_sentiment="+$("#is_sentiment").val();
	}	

	xhr_link = $.ajax({  
		type: "GET",
		url: '/domas/ajax1/link?'+param,
		data: formData, //last_id kita berarti 15
		dataType: "html",  //sesuai keinginan, di sini saya pengen ngambil langsung data dalam bentuk html langsung dari file data_per_load.php
		success: function(data){
			// console.log("ok");
			 $("#frontend").html(data);
			 App.unblockUI("#frontend");
		}
	});
	
}

var xhr_latest_lap=null;
var xhr_latest_news=null;
var xhr_latest_socmed=null;
function getLatest(l,sdate="",edate="",typefilter=""){

if(l=="lap"){	
	if(xhr_latest_lap!=null && xhr_latest_lap!=undefined){
		xhr_latest_lap.abort();
	}
} else if(l=="news"){	
	if(xhr_latest_news!=null && xhr_latest_news!=undefined){
		xhr_latest_news.abort();
	}
} else if(l=="socmed"){	
	if(xhr_latest_socmed!=null && xhr_latest_socmed!=undefined){
		xhr_latest_socmed.abort();
	}
}


App.blockUI({target:"#l_"+l,boxed:!0});

// var formData = $("#form").serialize();
var formData = {};
var param = "";
param +="";
param +="l="+l;
param +="&skey="+$("#skey").val();
param +="&skeyexception="+$("#skeyexception").val();
param +="&searchkey="+$("#searchkey").val();
param += "&cat="+$("#cat").val();
param += "&topik=<?php
echo $this->varams["topik"];

?>";
param += "&is_mediatype="+$("#media_type").val();
param += "&last=";

if(sdate!="" && edate!=""){
	param += "&d1="+sdate+"&d2="+edate;	
	param +="&is_sentiment="+$("#is_sentiment").val();
} else {	
	$("#is_sentiment").val("");
	param +="&d1="+$("#from").val()+"&d2="+$("#to").val();
	param +="&is_sentiment="+$("#is_sentiment").val();
}

if(typefilter!=""){
	param += "&tf="+typefilter;
} 

if(l=="lap"){	
	xhr_latest_lap = $.ajax({  
		type: "GET",
		url: '/domas/ajax1/latest?'+param,
		data: formData, //last_id kita berarti 15
		dataType: "html",  //sesuai keinginan, di sini saya pengen ngambil langsung data dalam bentuk html langsung dari file data_per_load.php
		success: function(data){
			 // console.log(data);
			$("#l_"+l).html(data);
			App.unblockUI("#l_"+l);
		}
	});
		
} else if(l=="news"){	
	xhr_latest_news = $.ajax({  
		type: "GET",
		url: '/domas/ajax1/latest?'+param,
		data: formData, //last_id kita berarti 15
		dataType: "html",  //sesuai keinginan, di sini saya pengen ngambil langsung data dalam bentuk html langsung dari file data_per_load.php
		success: function(data){
			 // console.log(data);
			$("#l_"+l).html(data);
			App.unblockUI("#l_"+l);
		}
	});
		
} else if(l=="socmed"){	
	xhr_latest_socmed = $.ajax({  
		type: "GET",
		url: '/domas/ajax1/latest?'+param,
		data: formData, //last_id kita berarti 15
		dataType: "html",  //sesuai keinginan, di sini saya pengen ngambil langsung data dalam bentuk html langsung dari file data_per_load.php
		success: function(data){
			 // console.log(data);
			$("#l_"+l).html(data);
			App.unblockUI("#l_"+l);
		}
	});
		
}

}


function getSummary(){

var t = "";
var sdate = "";
var edate = ""; 
	
var param ="";
param +="t="+t;
param +="&skey="+$("#skey").val();
param +="&skeyexception="+$("#skeyexception").val();
param +="&searchkey="+$("#searchkey").val();
param += "&cat="+$("#cat").val();
param += "&topik=<?php
echo $this->varams["topik"];

?>";
param += "&is_mediatype="+$("#media_type").val();

if(sdate!="" && edate!=""){
	param += "&d1="+sdate+"&d2="+edate;	
	param +="&is_sentiment="+$("#is_sentiment").val();
} else {	
	$("#is_sentiment").val("");
	param +="&d1="+$("#from").val()+"&d2="+$("#to").val();
	param +="&is_sentiment="+$("#is_sentiment").val();
}

param += "&tc_lap="+$("#typecloud_lap").val();
param += "&tc_news="+$("#typecloud_news").val();

return window.open('/domas/index/getsummary?'+param,'_blank');

// param += is_se;
// param += sedate;

}

function getExport(){

var t = "";
var sdate = "";
var edate = ""; 
	
var param ="";
param +="t="+t;
param +="&skey="+$("#skey").val();
param +="&skeyexception="+$("#skeyexception").val();
param +="&searchkey="+$("#searchkey").val();
param += "&cat="+$("#cat").val();
param += "&topik=<?php
echo $this->varams["topik"];

?>";
param += "&is_mediatype="+$("#media_type").val();

if(sdate!="" && edate!=""){
	param += "&d1="+sdate+"&d2="+edate;	
	param +="&is_sentiment="+$("#is_sentiment").val();
} else {	
	$("#is_sentiment").val("");
	param +="&d1="+$("#from").val()+"&d2="+$("#to").val();
	param +="&is_sentiment="+$("#is_sentiment").val();
}

param += "&tc_lap="+$("#typecloud_lap").val();
param += "&tc_news="+$("#typecloud_news").val();

return window.open('/domas/index/getexport?'+param,'_blank');

// param += is_se;
// param += sedate;

}

var xhr_vs=null;
function getVS(me){
	
	// console.log($(me).data("id"));
	
	if(xhr_vs!=null && xhr_vs!=undefined){
		xhr_vs.abort();
	}

$(".modal-dialog").removeClass("modal-full");
$(".modal-dialog").addClass("modal-lg");
	$("#div-extract").html("");
	App.blockUI({target:"#div-extract",boxed:!0});
		
	$("#basic").modal();
	var formData = {}
	var param = "";
	param += "id="+$(me).data("id");
	param += "&t="+$(me).data("t");
	param += "&dl="+$(me).data("dl");

	xhr_vs = $.ajax({
		type: "GET",
		url: '/domas/ajaxhome/vs?'+param,
		data: formData, //last_id kita berarti 15
		dataType: "html",  //sesuai keinginan, di sini saya pengen ngambil langsung data dalam bentuk html langsung dari file data_per_load.php
		success: function(data){
			 // console.log(data);
			 if($(me).data("dl")==0){
				$("#div-extract").html(data);			 
			 }
			App.unblockUI("#div-extract");
		}
	});
	
}


var xhr_extract=null;
function getExtract(me){

if(xhr_extract!=null && xhr_extract!=undefined){
	xhr_extract.abort();
}

$(".modal-dialog").removeClass("modal-full");
$(".modal-dialog").addClass("modal-lg");

$("#div-extract").html("");
App.blockUI({target:"#div-extract",boxed:!0});
$("#ext_modaltitle").html("");

var formData = {}
var param = "";
param +="&entity="+$(me).data("entity");;
param +="&id="+$(me).data("id");
// console.log(param);

xhr_extract = $.ajax({  
	type: "GET",
	url: '/domas/ajaxhome/extract?'+param,
	data: formData, //last_id kita berarti 15
	dataType: "html",  //sesuai keinginan, di sini saya pengen ngambil langsung data dalam bentuk html langsung dari file data_per_load.php
	success: function(data){
		 // console.log(data);
		$("#div-extract").html(data);
		App.unblockUI("#div-extract");
	}
});
}


var xhr_tren = null;
function get_tren(me,sdate="",edate=""){

if(xhr_tren!=null && xhr_tren!=undefined){
	xhr_tren.abort();
}

$(".modal-dialog").removeClass("modal-lg");
$(".modal-dialog").addClass("modal-full");

$("#div-extract").html("");
App.blockUI({target:"#div-extract",boxed:!0});
var l = $(me).data("l");

var formData = {};
var param ="";
param +="l="+l;
param +="&skey="+$("#skey").val();
param +="&skeyexception="+$("#skeyexception").val();
param += "&cat="+$("#cat").val();
param +="&searchkey="+$("#searchkey").val();
param += "&topik=<?php
echo $this->varams["topik"];

?>";
param += "&is_mediatype="+$("#media_type").val();
param += "&gap=%2B1DAY";

if(sdate!="" && edate!=""){
	// console.log("t");
	param += "&d1="+sdate+"&d2="+edate;	
	param +="&is_sentiment="+$("#is_sentiment").val();
} else {
	// console.log("f");
	$("#is_sentiment").val("");
	param +="&d1="+$("#from").val()+"&d2="+$("#to").val();
	param +="&is_sentiment="+$("#is_sentiment").val();
}	

// console.log(param);

xhr_tren = $.ajax({
	type: "GET",
	url: '/domas/ajax1/trentop10?'+param,
	data: formData, //last_id kita berarti 15
	dataType: "html",  //sesuai keinginan, di sini saya pengen ngambil langsung data dalam bentuk html langsung dari file data_per_load.php
	success: function(data){
		 // console.log(data);
		$("#div-extract").html(data);
		App.unblockUI("#div-extract");
	}
});

}

function gettopSummary(me,sdate="",edate=""){

var l = $(me).data("l");

var formData = {};
var param ="";
param +="l="+l;
param +="&skey="+$("#skey").val();
param +="&skeyexception="+$("#skeyexception").val();
param += "&cat="+$("#cat").val();
param +="&searchkey="+$("#searchkey").val();
param += "&topik=<?php
echo $this->varams["topik"];

?>";
param += "&is_mediatype="+$("#media_type").val();
param += "&gap=%2B1DAY";

if(sdate!="" && edate!=""){
	// console.log("t");
	param += "&d1="+sdate+"&d2="+edate;	
	param +="&is_sentiment="+$("#is_sentiment").val();
} else {
	// console.log("f");
	$("#is_sentiment").val("");
	param +="&d1="+$("#from").val()+"&d2="+$("#to").val();
	param +="&is_sentiment="+$("#is_sentiment").val();
}	

// console.log(param);

return window.open('/domas/index/gettopsummary?'+param,'_blank');

}



function gettoptwitter(me,sdate="",edate=""){

var l = $(me).data("l");

var formData = {};
var param ="";
param +="l="+l;
param +="&skey="+$("#skey").val();
param +="&skeyexception="+$("#skeyexception").val();
param += "&cat="+$("#cat").val();
param +="&searchkey="+$("#searchkey").val();
param += "&topik=<?php
echo $this->varams["topik"];

?>";
param += "&is_mediatype="+$("#media_type").val();
param += "&gap=%2B1DAY";

if(sdate!="" && edate!=""){
	// console.log("t");
	param += "&d1="+sdate+"&d2="+edate;	
	param +="&is_sentiment="+$("#is_sentiment").val();
} else {
	// console.log("f");
	$("#is_sentiment").val("");
	param +="&d1="+$("#from").val()+"&d2="+$("#to").val();
	param +="&is_sentiment="+$("#is_sentiment").val();
}	

// console.log(param);

return window.open('/domas/index/gettoptwitter?'+param,'_blank');

}


function showloadmore(){
	
	$("#loadmore").removeClass('hidden');
	$("#btnloadmore").addClass('hidden');
	get5w1h("Laporan");
	getLink();
	getLatest("lap","","",1);
	getLatest("news","","",1);
	getLatest("socmed","","",1);
}

function getalert(id){
	console.log(id)
	$.ajax({
		url: '/domas/ajaxhome/alertfget/id/'+id, 
		dataType: "html",
		success: function(res) {	
		console.log(res)
		$("#div-extractalert").html(res);
		App.unblockUI("#div-extractalert");
		}
	});
}

function setalert(id){
	$.ajax({
		url: '/domas/ajaxhome/alertfupdate/id/'+id, 
		dataType: "html",
		success: function(res) {	
		// console.log(res)
		}
	});
}

jQuery(document).ready(function(){

//var elt = document.getElementById("cat");
//$("small").html(elt.options[elt.selectedIndex].text);

<?php
if(isset($this->varams["cat"])&& $this->varams["cat"] != "") {
    echo "getTopik('" . 
                   $this->varams["cat"] . 
                   "')";
}

?>
// getTopik(<?php
echo $this->varams["cat"] 
?>);

var param = <?php
echo json_encode($this->varams["media_type"]);

?>;
// console.log(param);
if(param=='internasional'){
	// $("#select").show();
	$("divreg").removeClass("hidden");
	$("#divcat").removeClass("col-md-4").addClass("col-md-3");
	$("#divtopik").removeClass("col-md-4").addClass("col-md-3");
	$("#divdrange").removeClass("col-md-4").addClass("col-md-3");
} else {
	$("#divreg").addClass("hidden");
	$("#divcat").removeClass("col-md-3").addClass("col-md-4");
	$("#divtopik").removeClass("col-md-3").addClass("col-md-4");
	$("#divdrange").removeClass("col-md-3").addClass("col-md-4");	
}

$( ".date-picker" ).datepicker({ minDate: -20, maxDate: "+1M +10D" });


initialize();
getSentiment("","","");
// getTrendline();
//getLink();
//	getLatest("lap","","",1);
	//getLatest("news","","",1);
	//getLatest("socmed","","",1);

//get5w1h("Laporan");
// getLink();
// getLatest("lap","","",1);
// getLatest("news","","",1);
// getLatest("socmed","","",1);

// // var xhr_alertfr=null;
// // (function worker() {
		
	// // if(xhr_alertfr!=null && xhr_alertfr!=undefined){
		// // xhr_alertfr.abort();
	// // }	
	
	// // xhr_alertfr = $.ajax({
		// // url: '/domas/ajaxhome/alertfrnotif', 
		// // dataType: "html",
		// // success: function(res) {
		// // // console.log(res);	
		// // // console.log(res);	
		
		// // $('#header_task_bar').html(res);  
		
		// // // if(res.status==true){
			// // // var html = '<h3 style="color:#d5ff5b;margin-top:0px;">'
					// // // +'<br>'+res.data.IDPROFILE
					// // // +'<br>'+res.data.NAMA
					// // // +'<br><small style="color:white;">'+res.data.CAMERANAME+'</small>'
					// // // +'<br><small style="color:white;">'+res.data.IPCAMERA+'</small>'
					// // // +'</h3>'
					// // // +'<hr>'
					// // // +'<img src="../../'+res.data.PHOTO+'"  height="100%"> '
					// // // +'<br>'+res.data.SIMILARITY;
					// // // console.log(html);
			// // // var footer ='<button type="button" class="btn dark btn-outline" onclick="setalert('+res.data.ID_ALERT+');" data-dismiss="modal">OK</button>'
			// // // $('#alert_modaltitle').html(res.data.CAMERANAME);  
			// // // $('#alert_body').html(html);  
			// // // $('#alert_footer').html(footer);  
			// // // $("#alertfrnotif").modal('show');
		 // // // }
	// // },
	// // complete: function() {
	// // // Schedule the next request when the current one's complete
	// // setTimeout(worker, 5000);
	// // }
	// // });
// // })();

	var Dashboard = function() {
		
        initAmChart2 = function() {
            if (typeof(AmCharts) === 'undefined' || $('#dashboard_amchart_2').size() === 0) {
                return;
            }

            var chartData = [
            	{
	                "date": "2011-12-31",
	                "dokumen": 10,
	                "digital_media" : 70,
	                "social_media": 20,
	            },
            	{
	                "date": "2012-01-01",
	                "dokumen": 10,
	                "digital_media" : 70,
	                "social_media": 20,
	            }, {
	                "date": "2012-01-02",
	                "dokumen": 10,
	                "digital_media" : 70,
	                "social_media": 20,
	            }, {
	                "date": "2012-01-03",
	                "dokumen": 10,
	                "digital_media" : 70,
	                "social_media": 20,
	            }, {
	                "date": "2012-01-04",
	                "dokumen": 10,
	                "digital_media" : 70,
	                "social_media": 20,
	            }, {
	                "date": "2012-01-05",
	                "dokumen": 10,
	                "digital_media" : 70,
	                "social_media": 20,
	            }, {
	                "date": "2012-01-06",
	                "dokumen": 10,
	                "digital_media" : 70,
	                "social_media": 20,
	            },
	        ];
            var chart = AmCharts.makeChart("dashboard_amchart_2", {
                type: "serial",
                fontSize: 12,
                fontFamily: "Open Sans",
                dataDateFormat: "YYYY-MM-DD",
                dataProvider: chartData,

                addClassNames: true,
                startDuration: 1,
                color: "#6c7b88",
                marginLeft: 0,

                categoryField: "date",
                categoryAxis: {
                    parseDates: true,
                    minPeriod: "DD",
                    autoGridCount: false,
                    gridCount: 50,
                    gridAlpha: 0.1,
                    gridColor: "#FFFFFF",
                    axisColor: "#555555",
                    dateFormats: [{
                        period: 'DD',
                        format: 'DD'
                    }, {
                        period: 'WW',
                        format: 'MMM DD'
                    }, {
                        period: 'MM',
                        format: 'MMM'
                    }, {
                        period: 'YYYY',
                        format: 'YYYY'
                    }]
                },

                valueAxes: [{
                    id: "a1",
                    title: "",
                    gridAlpha: 0,
                    axisAlpha: 0
                }, {
                    id: "a2",
                    position: "right",
                    gridAlpha: 0,
                    axisAlpha: 0,
                    labelsEnabled: false
                }, ],
                graphs: [{
                    id: "g1",
                    valueField: "digital_media",
                    classNameField: "bulletClass",
                    title: "Digital Media",
                    type: "line",
                    valueAxis: "a2",
                    lineColor: "#786c56",
                    lineThickness: 1,
                    legendValueText: "[[value]]",
                    // descriptionField: "townName",
                    bullet: "round",
                    // bulletSizeField: "townSize",
                    bulletBorderColor: "#02617a",
                    bulletBorderAlpha: 1,
                    bulletBorderThickness: 2,
                    bulletColor: "#89c4f4",
                    // labelText: "Digital Media",
                    labelPosition: "right",
                    balloonText: "Digital Media:[[value]]",
                    showBalloon: true,
                    animationPlayed: true,
                },{
                    id: "g2",
                    valueField: "dokumen",
                    classNameField: "bulletClass",
                    title: "Dokumen",
                    type: "line",
                    valueAxis: "a2",
                    lineColor: "#786c56",
                    lineThickness: 1,
                    legendValueText: "[[value]]",
                    // descriptionField: "townName",
                    bullet: "round",
                    // bulletSizeField: "townSize",
                    bulletBorderColor: "#02617a",
                    bulletBorderAlpha: 1,
                    bulletBorderThickness: 2,
                    bulletColor: "#89c4f4",
                    // labelText: "Digital Media",
                    labelPosition: "right",
                    balloonText: "Dokumen:[[value]]",
                    showBalloon: true,
                    animationPlayed: true,
                },{
                    id: "g3",
                    title: "Social Media",
                    valueField: "social_media",
                    type: "line",
                    valueAxis: "a3",
                    lineAlpha: 0.8,
                    lineColor: "#e26a6a",
                    balloonText: "[[value]]",
                    lineThickness: 1,
                    legendValueText: "[[value]]",
                    bullet: "square",
                    bulletBorderColor: "#e26a6a",
                    bulletBorderThickness: 1,
                    bulletBorderAlpha: 0.8,
                    dashLengthField: "dashLength",
                    animationPlayed: true
                },],

                chartCursor: {
                    zoomable: false,
                    categoryBalloonDateFormat: "DD",
                    cursorAlpha: 0,
                    categoryBalloonColor: "#e26a6a",
                    categoryBalloonAlpha: 0.8,
                    valueBalloonsEnabled: true
                },
                legend: {
                    bulletType: "round",
                    equalWidths: false,
                    valueWidth: 100,
                    useGraphSettings: true,
                    color: "#6c7b88"
                }
            });
        };

		return {
			init: function() {				
				// initAmChart1();
				initAmChart2();
			}
		};
	}();

	Dashboard.init();

});
</script>