<?php

$data = $this->data[$this->varams["entity"]]["sentiment"][$this->varams["sentiment"]];

// Zend_Debug::dump($this->varams["page"]);die();

$cc = new CMS_General();

$getsentimentid = array("netral"=>0,"negatif"=>1,"positif"=>2);
$getsentimentname = array(0=>"netral",1=>"negatif",2=>"positif");

$pattern = array (
	'/Mon[^day]/','/Tue[^sday]/','/Wed[^nesday]/','/Thu[^rsday]/',
	'/Fri[^day]/','/Sat[^urday]/','/Sun[^day]/','/Monday/','/Tuesday/',
	'/Wednesday/','/Thursday/','/Friday/','/Saturday/','/Sunday/',
	'/Jan[^uary]/','/Feb[^ruary]/','/Mar[^ch]/','/Apr[^il]/','/May/',
	'/Jun[^e]/','/Jul[^y]/','/Aug[^ust]/','/Sep[^tember]/','/Oct[^ober]/',
	'/Nov[^ember]/','/Dec[^ember]/','/January/','/February/','/March/',
	'/April/','/June/','/July/','/August/','/September/','/October/',
	'/November/','/December/',
);

$replace = array ( 'Sen','Sel','Rab','Kam','Jum','Sab','Min',
	'Senin','Selasa','Rabu','Kamis','Jumat','Sabtu','Minggu',
	'Jan','Feb','Mar','Apr','Mei','Jun','Jul','Ags','Sep','Okt','Nov','Des',
	'Januari','Februari','Maret','April','Juni','Juli','Agustus','Sepember',
	'Oktober','November','Desember',
);
$html = 'no data available.';
if(count($data)>0){
	$html = '';
	if($this->varams["page"]==0){
		$html .= '<ul class="chats" id="chats_'.$this->varams["entity"].'_'.$this->varams["sentiment"].'">';
	}

	foreach ($data as $k1=>$v1) {

		// Zend_Debug::dump($v1);die();
		foreach ($v1["data"] as $k2 => $v2) {


			$image_path = ($v2["ss_icon"]!=""?$v2["ss_icon"]:$this->logo[$v2['bundle']]);
			// Zend_Debug::dump(file_get_contents($v2["ss_icon"]));

			$timestamp = strtotime($v2["content_date"]);
			$content_date = date("l, j F Y | H:i", $timestamp);
			$datetime = preg_replace ($pattern, $replace, $content_date);

			$link = $v2["id"];
			$label = strtoupper($v2["bundle"])." | ".($v2["label"]!=""?$v2["label"]:$v2["bundle_name"]);
			// $datetime = date("l, d F Y | H:i", strtotime($v2["content_date"]));
			$content = $cc->chop_string($v2["content"], 200);;

			$html .= '<li class="in">
					<a class="btn green btn-circle btn-xs btn-modal1" href="#modal1" data-toggle="modal" data-title="'.$label.'" data-id="'.$v2["id"].'" onclick="continueReading(this);">read</a>
					<img class="avatar" alt="" src="'.$image_path.'" />
					<div class="message">
						<span class="arrow"> </span>
						<a href="'.$link.'" target="_blank" class="name">'.$label.'</a><br>
						<span class="datetime">'.$datetime.'</span>
						<span class="body">'.$content.'</span>
						
					</div>
				</li>';
		}
	}

	if($this->varams["next"]){
		$html .= '<li class="load" data-next="'.$this->varams["nextpage"].'">';
		$html .= '	<span class="ajaxload" style="display:none">';
		$html .= '		<img src="/assets/core/img/ajax-loading.gif"></span>';
		$html .= '	<button class="btn btn-xs btn-circle yellow"><span>Lebih Lanjut</span></button>';
		$html .= '</li>';
	}               

	if($this->varams["page"]==0){
		$html .='</ul>';
	}
}



echo $html;
// if((int)$this->varams["page"]>0){
// 	die();
// }
?>

<script type="text/javascript">
	jQuery(document).ready(function(){	

		$("ul#chats_<?php echo $this->varams["entity"].'_'.$this->varams["sentiment"]; ?> .load").on("click", function(){
			// console.log(this);
			// console.log($(this).data("next"));
			var thisx = this;
			var next = $(this).data("next");

			$("#chats_<?php echo $this->varams["entity"]."_".$getsentimentid[$k1]; ?> .load .ajaxload").show();

			var param = "entity/<?php echo $this->varams["entity"]; ?>/sentiment/<?php echo $this->varams["sentiment"]; ?>/series/<?php echo $this->varams["series"]; ?>/name/<?php echo $this->varams["name"]; ?>";

			$.ajax({
				url: "/domas/index/getdiscoverylist/page/"+next+"/"+param,
				method: "post",
				data: $("#formFilter").serialize(),
				content: 'html',
				beforeSend: function() {
					$("ul#chats_<?php echo $this->varams["entity"].'_'.$this->varams["sentiment"]; ?> .ajaxload").show();
				},
				complete: function(result) {
				},
				success: function(data) {

					jQuery("#chats_<?php echo $this->varams["entity"]."_".$this->varams["sentiment"]; ?>").append(data);
					// $("ul#chats_<?php echo $this->varams["entity"].'_'.$this->varams["sentiment"]; ?> .load").hide();
					// $("ul#chats_<?php echo $this->varams["entity"].'_'.$this->varams["sentiment"]; ?> .ajaxload").hide();
					$(thisx).addClass("hidden");
					// console.log(thisx);
					$("#row_<?php echo $this->varams["entity"]; ?> span.caption-helper").html(name);	
				},
				error: function() {
					$(".<?php echo $this->params["l"]; ?> .ajaxload").hide();
				}
			});

		});

	});
</script>