<div class="page-content">

    <h1 class="page-title"> Dashboard 
        <small>dashboard &amp; statistics</small>
    </h1>
                    
	<div class="page-bar">
		<ul class="page-breadcrumb">
			<li>
				<i class="icon-home"></i>
				<a href="index.html">Home</a>
				<i class="fa fa-angle-right"></i>
			</li>
				<li>
				<span>Dashboard from date <?php echo $this->start;?> to <?php echo $this->end;?></span>
			</li>
		</ul>
	</div>

	<?php
  //  Zend_Debug::dump(number_format($this->data["count"][3],0,".",","));
		$entity_id_2 = number_format($this->data["count"][2],0,".",",");
		$entity_id_3 = number_format($this->data["count"][3],0,".",",");
		$entity_id_5 = number_format($this->data["count"][5],0,".",",");
		$entity_id_1 = number_format($this->data["count"][1],0,".",",");
	?>

	<div class="row">
		<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
			<div class="dashboard-stat2 ">
				<div class="display">
					<div class="number">
						<h3 class="font-green-sharp">
							<span id="entity_id_2" data-counter="counterup" data-value="<?php echo $entity_id_2; ?>"><?php echo $entity_id_2; ?></span>
							<small class="font-green-sharp"> </small>
						</h3>
						<small>DIGITAL MEDIA NEWS</small>
					</div>
					<div class="icon">
						<i class="icon-feed"></i>
					</div>
				</div>
				<div class="progress-info">
					<div class="progress">
						<span style="width: 100%;" class="progress-bar progress-bar-success green-sharp">
							<span class="sr-only"></span>
						</span>
					</div>
				</div>
			</div>
		</div>
		<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
			<div class="dashboard-stat2 ">
				<div class="display">
					<div class="number">
						<h3 class="font-red-haze">
							<span id="entity_id_3" data-counter="counterup" data-value="<?php echo $entity_id_3; ?>"><?php echo $entity_id_3; ?></span>
						</h3>
						<small>Document</small>
					</div>
					<div class="icon">
						<i class="icon-docs"></i>
					</div>
				</div>
				<div class="progress-info">
					<div class="progress">
						<span style="width: 100%;" class="progress-bar progress-bar-success red-haze">
							<span class="sr-only"></span>
						</span>
					</div>
				</div>
			</div>
		</div>
		<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
			<div class="dashboard-stat2 ">
				<div class="display">
					<div class="number">
						<h3 class="font-blue-sharp">
							<span id="entity_id_5" data-counter="counterup" data-value="<?php echo $entity_id_5; ?>"><?php echo $entity_id_5; ?></span>
						</h3>
						<small>SOCIAL MEDIA TWITTER</small>
					</div>
					<div class="icon">
						<i class="icon-social-twitter"></i>
					</div>
				</div>
				<div class="progress-info">
					<div class="progress">
						<span style="width: 100%;" class="progress-bar progress-bar-success blue-sharp">
							<span class="sr-only"></span>
						</span>
					</div>
				</div>
			</div>
		</div>
		<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
			<div class="dashboard-stat2 ">
				<div class="display">
					<div class="number">
						<h3 class="font-purple-soft">
							<span id="entity_id_1" data-counter="counterup" data-value="<?php echo $entity_id_1; ?>"><?php echo $entity_id_1; ?></span>
						</h3>
						<small>METADATA</small>
					</div>
					<div class="icon">
						<i class="icon-compass"></i>
					</div>
				</div>
				<div class="progress-info">
					<div class="progress">
						<span style="width: 100%;" class="progress-bar progress-bar-success purple-soft">
							<span class="sr-only"></span>
						</span>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-md-6">
			<div class="portlet light">
				<div class="portlet-title">
					<div class="caption">
							<span class="caption-subject bold uppercase font-dark">DIGITAL MEDIA NEWS</span>
					</div>
				</div>
				<div class="portlet-body">
                    <div id="chart_entity_2" class="CSSAnimationChart"></div>
				</div>
			</div>
		</div>
		<div class="col-md-6">
			<div class="portlet light">
				<div class="portlet-title">
					<div class="caption">
							<span class="caption-subject bold uppercase font-dark">DOCUMENT</span>
					</div>
				</div>
				<div class="portlet-body">
                    <div id="chart_entity_3" class="CSSAnimationChart"></div>
				</div>
			</div>
		</div>
		<div class="col-md-6">
			<div class="portlet light">
				<div class="portlet-title">
					<div class="caption">
							<span class="caption-subject bold uppercase font-dark">SOCIAL MEDIA TWITTER</span>
					</div>
				</div>
				<div class="portlet-body">
                    <div id="chart_entity_5" class="CSSAnimationChart"></div>
				</div>
			</div>
		</div>
		<div class="col-md-6">
			<div class="portlet light">
				<div class="portlet-title">
					<div class="caption">
							<span class="caption-subject bold uppercase font-dark">METADATA</span>
					</div>
				</div>
				<div class="portlet-body">
                    <div id="chart_entity_1" class="CSSAnimationChart"></div>
				</div>
			</div>
		</div>
	</div>

</div>
<script type="text/javascript">
	jQuery(document).ready(function(){
		if (typeof(AmCharts) === 'undefined') {
	        return;
	    }

        var chartData_2 = <?php echo json_encode($this->data["ranges"][2]); ?>;
        var chart = AmCharts.makeChart("chart_entity_2", {
            type: "serial",
            fontSize: 12,
            fontFamily: "Open Sans",
            dataDateFormat: "YYYY-MM-DD",
            dataProvider: chartData_2,

            addClassNames: true,
            startDuration: 1,
            color: "#6c7b88",
            marginLeft: 0,

            categoryField: "date",
            categoryAxis: {
                parseDates: true,
            },

            valueAxes: [{
                id: "a1",
                title: "NETRAL",
                gridAlpha: 0,
                axisAlpha: 0,
            }, {
                id: "a2",
                title: "POSITIF/NETRAL",
                position: "right",
                gridAlpha: 0,
                axisAlpha: 0
            },],
            graphs: [{
                id: "g1",
                valueField: "netral",
                title: "NETRAL",
                type: "column",
                fillAlphas: 0.7,
                valueAxis: "a1",
                balloonText: "[[value]]",
                legendValueText: "[[value]]",
                legendPeriodValueText: "[[value.sum]]",
                lineColor: "#08a3cc",
                alphaField: "alpha",
            }, {
                id: "g2",
                valueField: "positif",
                classNameField: "bulletClass",
                title: "POSITIF",
                type: "line",
                valueAxis: "a2",
                lineColor: "#36D7B7",
                lineThickness: 1,
                legendValueText: "[[value]]",
                bullet: "round",
                bulletBorderColor: "#26C281",
                bulletBorderAlpha: 1,
                bulletBorderThickness: 2,
                bulletColor: "#36D7B7",
                labelPosition: "right",
                balloonText: "POSITIF:[[value]]",
                legendPeriodValueText: "[[value.sum]]",
                showBalloon: true,
                animationPlayed: true,
            }, {
                id: "g3",
                title: "NEGATIF",
                valueField: "negatif",
                classNameField: "bulletClass",
                type: "line",
                valueAxis: "a2",
                lineAlpha: 0.8,
                lineColor: "#e26a6a",
                balloonText: "[[value]]",
                lineThickness: 1,
                legendValueText: "[[value]]",
                legendPeriodValueText: "[[value.sum]]",
                bullet: "square",
                bulletBorderColor: "#e26a6a",
                bulletBorderThickness: 1,
                bulletBorderAlpha: 0.8,
                dashLengthField: "dashLength",
                animationPlayed: true
            }],


          	chartScrollbar: {},

            chartCursor: {
                valueLineEnabled: true,
                valueLineBalloonEnabled: false,
                valueLineAlpha: 0.5,
                fullWidth: true,
                cursorAlpha: 0.05
            },
            legend: {
                bulletType: "round",
                equalWidths: false,
                valueWidth: 120,
                useGraphSettings: true,
                color: "#6c7b88"
            }
        });

        var chartData_3 = <?php echo json_encode($this->data["ranges"][3]); ?>;
        var chart = AmCharts.makeChart("chart_entity_3", {
            type: "serial",
            fontSize: 12,
            fontFamily: "Open Sans",
            dataDateFormat: "YYYY-MM-DD",
            dataProvider: chartData_3,

            addClassNames: true,
            startDuration: 1,
            color: "#6c7b88",
            marginLeft: 0,

            categoryField: "date",
            categoryAxis: {
                parseDates: true,
            },

            valueAxes: [{
                id: "a1",
                title: "NETRAL",
                gridAlpha: 0,
                axisAlpha: 0,
            }, {
                id: "a2",
                title: "POSITIF/NETRAL",
                position: "right",
                gridAlpha: 0,
                axisAlpha: 0
            },],
            graphs: [{
                id: "g1",
                valueField: "netral",
                title: "NETRAL",
                type: "column",
                fillAlphas: 0.7,
                valueAxis: "a1",
                balloonText: "[[value]]",
                legendValueText: "[[value]]",
                legendPeriodValueText: "[[value.sum]]",
                lineColor: "#08a3cc",
                alphaField: "alpha",
            }, {
                id: "g2",
                valueField: "positif",
                classNameField: "bulletClass",
                title: "POSITIF",
                type: "line",
                valueAxis: "a2",
                lineColor: "#36D7B7",
                lineThickness: 1,
                legendValueText: "[[value]]",
                bullet: "round",
                bulletBorderColor: "#26C281",
                bulletBorderAlpha: 1,
                bulletBorderThickness: 2,
                bulletColor: "#36D7B7",
                labelPosition: "right",
                balloonText: "POSITIF:[[value]]",
                legendPeriodValueText: "[[value.sum]]",
                showBalloon: true,
                animationPlayed: true,
            }, {
                id: "g3",
                title: "NEGATIF",
                valueField: "negatif",
                type: "line",
                valueAxis: "a2",
                lineAlpha: 0.8,
                lineColor: "#e26a6a",
                balloonText: "[[value]]",
                lineThickness: 1,
                legendValueText: "[[value]]",
                legendPeriodValueText: "[[value.sum]]",
                bullet: "square",
                bulletBorderColor: "#e26a6a",
                bulletBorderThickness: 1,
                bulletBorderAlpha: 0.8,
                dashLengthField: "dashLength",
                animationPlayed: true
            }],


          	chartScrollbar: {},

            chartCursor: {
                valueLineEnabled: true,
                valueLineBalloonEnabled: false,
                valueLineAlpha: 0.5,
                fullWidth: true,
                cursorAlpha: 0.05
            },
            legend: {
                bulletType: "round",
                equalWidths: false,
                valueWidth: 120,
                useGraphSettings: true,
                color: "#6c7b88"
            }
        });

        var chartData_5 = <?php echo json_encode($this->data["ranges"][5]); ?>;
        var chart = AmCharts.makeChart("chart_entity_5", {
            type: "serial",
            fontSize: 12,
            fontFamily: "Open Sans",
            dataDateFormat: "YYYY-MM-DD",
            dataProvider: chartData_5,

            addClassNames: true,
            startDuration: 1,
            color: "#6c7b88",
            marginLeft: 0,

            categoryField: "date",
            categoryAxis: {
                parseDates: true,
            },

            valueAxes: [{
                id: "a1",
                title: "NETRAL",
                gridAlpha: 0,
                axisAlpha: 0,
            }, {
                id: "a2",
                title: "POSITIF/NETRAL",
                position: "right",
                gridAlpha: 0,
                axisAlpha: 0
            },],
            graphs: [{
                id: "g1",
                valueField: "netral",
                title: "NETRAL",
                type: "column",
                fillAlphas: 0.7,
                valueAxis: "a1",
                balloonText: "[[value]]",
                legendValueText: "[[value]]",
                legendPeriodValueText: "[[value.sum]]",
                lineColor: "#08a3cc",
                alphaField: "alpha",
            }, {
                id: "g2",
                valueField: "positif",
                classNameField: "bulletClass",
                title: "POSITIF",
                type: "line",
                valueAxis: "a2",
                lineColor: "#36D7B7",
                lineThickness: 1,
                legendValueText: "[[value]]",
                bullet: "round",
                bulletBorderColor: "#26C281",
                bulletBorderAlpha: 1,
                bulletBorderThickness: 2,
                bulletColor: "#36D7B7",
                labelPosition: "right",
                balloonText: "POSITIF:[[value]]",
                legendPeriodValueText: "[[value.sum]]",
                showBalloon: true,
                animationPlayed: true,
            }, {
                id: "g3",
                title: "NEGATIF",
                valueField: "negatif",
                type: "line",
                valueAxis: "a2",
                lineAlpha: 0.8,
                lineColor: "#e26a6a",
                balloonText: "[[value]]",
                lineThickness: 1,
                legendValueText: "[[value]]",
                legendPeriodValueText: "[[value.sum]]",
                bullet: "square",
                bulletBorderColor: "#e26a6a",
                bulletBorderThickness: 1,
                bulletBorderAlpha: 0.8,
                dashLengthField: "dashLength",
                animationPlayed: true
            }],


          	chartScrollbar: {},

            chartCursor: {
                valueLineEnabled: true,
                valueLineBalloonEnabled: false,
                valueLineAlpha: 0.5,
                fullWidth: true,
                cursorAlpha: 0.05
            },
            legend: {
                bulletType: "round",
                equalWidths: false,
                valueWidth: 120,
                useGraphSettings: true,
                color: "#6c7b88"
            }
        });

        var chartData_1 = <?php echo json_encode($this->data["ranges"][1]); ?>;
        var chart = AmCharts.makeChart("chart_entity_1", {
            type: "serial",
            fontSize: 12,
            fontFamily: "Open Sans",
            dataDateFormat: "YYYY-MM-DD",
            dataProvider: chartData_1,

            addClassNames: true,
            startDuration: 1,
            color: "#6c7b88",
            marginLeft: 0,

            categoryField: "date",
            categoryAxis: {
                parseDates: true,
            },

            valueAxes: [{
                id: "a1",
                title: "NETRAL",
                gridAlpha: 0,
                axisAlpha: 0,
            }, {
                id: "a2",
                title: "POSITIF/NETRAL",
                position: "right",
                gridAlpha: 0,
                axisAlpha: 0
            },],
            graphs: [{
                id: "g1",
                valueField: "netral",
                title: "NETRAL",
                type: "column",
                fillAlphas: 0.7,
                valueAxis: "a1",
                balloonText: "[[value]]",
                legendValueText: "[[value]]",
                legendPeriodValueText: "[[value.sum]]",
                lineColor: "#08a3cc",
                alphaField: "alpha",
            }, {
                id: "g2",
                valueField: "positif",
                classNameField: "bulletClass",
                title: "POSITIF",
                type: "line",
                valueAxis: "a2",
                lineColor: "#36D7B7",
                lineThickness: 1,
                legendValueText: "[[value]]",
                bullet: "round",
                bulletBorderColor: "#26C281",
                bulletBorderAlpha: 1,
                bulletBorderThickness: 2,
                bulletColor: "#36D7B7",
                labelPosition: "right",
                balloonText: "POSITIF:[[value]]",
                legendPeriodValueText: "[[value.sum]]",
                showBalloon: true,
                animationPlayed: true,
            }, {
                id: "g3",
                title: "NEGATIF",
                valueField: "negatif",
                type: "line",
                valueAxis: "a2",
                lineAlpha: 0.8,
                lineColor: "#e26a6a",
                balloonText: "[[value]]",
                lineThickness: 1,
                legendValueText: "[[value]]",
                legendPeriodValueText: "[[value.sum]]",
                bullet: "square",
                bulletBorderColor: "#e26a6a",
                bulletBorderThickness: 1,
                bulletBorderAlpha: 0.8,
                dashLengthField: "dashLength",
                animationPlayed: true
            }],


          	chartScrollbar: {},

            chartCursor: {
                valueLineEnabled: true,
                valueLineBalloonEnabled: false,
                valueLineAlpha: 0.5,
                fullWidth: true,
                cursorAlpha: 0.05
            },
            legend: {
                bulletType: "round",
                equalWidths: false,
                valueWidth: 120,
                useGraphSettings: true,
                color: "#6c7b88"
            }
        });


	});
</script>