<?php
//Zend_Debug::dump($this->data);die();
// die("s");
$mt =($this->varams["media_type"] == "internasional" ? "internasional" : "nasional");

?>
<style>
.page-header.navbar .top-menu .navbar-nav>li.dropdown-inbox>.dropdown-menu .dropdown-menu-list>li .subject {
    display: block;
    margin-left: 46px;
}

#frontend svg g path.link {
  fill: none;
  stroke: #666;
  stroke-width: 1.5px;
}

marker#licensing {
  fill: green;
}

#frontend svg g .link.licensing {
  stroke: green;
}

svg .link.resolved {
  stroke-dasharray: 0,2 1;
}

#frontend svg g circle {
  fill: #ccc;
  stroke: #333;
  stroke-width: 1.5px;
  
}

#frontend svg g text {
  font: 12px sans-serif;
  pointer-events: none;
/*  text-shadow: 0 1px 0 #fff, 1px 0 0 #fff, 0 -1px 0 #fff, -1px 0 0 #fff;*/
color:white;
}
.mt-author-name h3{
	margin: 0px;
}
.chats li .name {
 /*   color: #d5ff5b;*/
}
.portlet.light.navtab {  
     background-color: rgba(12, 29, 43, 0.9);
	 color: white; 
}
.nav-tabs>li.active>a{
  background-color: #203c4a;
  border : 1px solid #203c4a;	
  color : #9eacb4;
  
}
.nav-tabs
{
 border-bottom:1.88px solid #203c4a;	
}

.dataTables_wrapper .dataTables_length, .dataTables_wrapper .dataTables_filter, 
.dataTables_wrapper .dataTables_info, 
.dataTables_wrapper .dataTables_processing,
 .dataTables_wrapper .dataTables_paginate
{
  color : #1C6EA7;
 
}
.table-striped>tbody>tr:nth-of-type(odd) {
    background-color: rgba(39, 76, 95, 0.64);
}
.table {
    border: 1px solid #666;
}
.table-scrollable {
	border: 1px solid #666;	
}
.table-scrollable>.table {
	background-color: #0c1d2b;
}
.portlet.light.bordered {
	background-color:rgba(17, 38, 55, 0.8);
}
table.dataTable td.sorting_1, table.dataTable td.sorting_2, table.dataTable td.sorting_3, table.dataTable th.sorting_1, table.dataTable th.sorting_2, table.dataTable th.sorting_3 {
    background: #35383c!important;
}
 
.pagination>li>a, .pagination>li>span{
color : #337ab7;
background-color : transparent;
border:transparent;
}

.pagination>.active>a, .pagination>.active>a:hover
{
  color : #333;
  background-color : #ffffff;
}

.pagination>li>a:hover
{ 
  color : #ffffff;
  background-color : #2f353b;
}
.pagination>.disabled>a, .pagination>.disabled>a:hover,.pagination>.disabled>span
{
   background-color:transparent;
   color : #1C6EA7;
}
   table.dataTable tbody tr {
    background-color: #1c3a4b;
}

.bootstrap-tagsinput{
	/*margin-bottom: 0px;*/
	width: 100%;
}
/*.portlet{
	margin-bottom:10px;
}*/
.col-md-1,.col-md-2,.col-md-3,.col-md-4,.col-md-5,.col-md-6,.col-md-7,.col-md-8,.col-md-9,.col-md-10,.col-md-11,.col-md-12{
	/*padding: 0px 5px;*/
}
.modal-open {
    overflow-y: hidden !important;
}
.gmaps{
	height: 475px;
}
</style>

<div class="page-content">
<h1 class="page-title"> Search
                        <small>result;</small>
                    </h1>
                    <div class="page-bar">
                        <ul class="page-breadcrumb">
                            <li>
                                <i class="icon-home"></i>
                                <a href="index.html">Home</a>
                                <i class="fa fa-angle-right"></i>
                            </li>
                            <li>
                                <span>Advanced Search</span>
                            </li>
                        </ul>
                        <div class="page-toolbar">
                           
                        </div>
                    </div>
<div class="row">     
	<div class="col-md-12">
	<form id="form">
	<input class="form-control hidden" id="is_sentiment" name="is_sentiment" value="<?php
echo $this->varams["is_sentiment"];

?>">
	<input class="form-control hidden" id="media_type" name="media_type" value="<?php
echo $mt;

?>">
	<div class="form-body">
		<div class="row">
			<div class="col-md-2">
				<div class="row">
				<div class="col-md-12">
				<div class="form-group">
					<button type="button" class="nasional btn grey-cascade btn-block" onclick="setMT('nasional');" <?php
echo($mt == "internasional" ? "style='opacity: .65;'" : "")
?> >Nasional</button>
				</div>
				</div>
				</div>
				<div class="row">
				<div class="col-md-12">
				<div class="form-group">
					<button class="internasional btn grey-cascade btn-block" onclick="setMT('internasional');" <?php
echo($mt == "nasional" ? "style='opacity: .65;'" : "")
?> >Internasional</button>
				</div>
				</div>
				</div>
			</div>
			<div class="col-md-8">
				<div class="row">
				<div class="col-md-4">
					<div class="form-group" style="margin-bottom: 7px;">
						<input name="search" id="skey" type="text" onkeypress="suggest(this.value);" class="form-control" placeholder="Pencarian AND..." value="<?php
echo $this->varams["search"];

?>" data-role="tagsinput">
					</div>
					
				</div>
				<div class="col-md-4">
					<div class="form-group" style="margin-bottom: 7px;">
						<input name="searchkey" id="searchkey" type="text" onkeypress="suggest(this.value);" class="form-control" placeholder="Pencarian OR..." value="<?php
echo $this->varams["searchkey"];

?>" data-role="tagsinput">
					</div>
				</div>
				<div class="col-md-4">
					<div class="form-group" style="margin-bottom: 7px;">
						<input name="skeyexception" id="skeyexception" type="text" onkeypress="suggest(this.value);" class="form-control" placeholder="Pencarian Exception..." value="<?php
echo $this->varams["skeyexception"];

?>" data-role="tagsinput">
					</div>
				</div>
				</div>
				<div class="row">
				<div class="col-md-3" id="divreg">
					<div class="form-group">
						<select class="form-control " name="reg" data-placeholder="Select..." >
							<option value="" <?php
echo($this->varams["reg"] == "" ? "selected" : "");

?>>REGIONAL</option>
							<option value="ASIA" <?php
echo($this->varams["reg"] == "ASIA" ? "selected" : "");

?>>ASIA</option>
							<option value="AFRIKA" <?php
echo($this->varams["reg"] == "AFRIKA" ? "selected" : "");

?>>AFRIKA</option>
							<option value="AMERIKA" <?php
echo($this->varams["reg"] == "AMERIKA" ? "selected" : "");

?>>AMERIKA</option>
							<option value="EROPA" <?php
echo($this->varams["reg"] == "EROPA" ? "selected" : "");

?>>EROPA</option>
							<option value="AUSTRALIA" <?php
echo($this->varams["reg"] == "AUSTRALIA" ? "selected" : "");

?>>AUSTRALIA</option>
						</select>
					</div>
				</div>
				<div class="col-md-3" id="divcat">
					<div class="form-group">
						<select class="form-control select2me" data-placeholder="Select..." id="cat" name="cat" onchange="getTopik(this.value);">
							<option value="">SEMUA TEMA</option>
							<?php

foreach($this->cat as $k => $v) {
    echo '<option value="' . $v . '" ' .(isset($this->varams["cat"])&& $this->varams["cat"] != "" && $this->varams["cat"] == $v ? "selected" : ""). '>' . $k . '</option>';
}

?>
						</select>
					</div>
				</div>
				<div class="col-md-3" id="divtopik">
					<div class="form-group">
						<select class="form-control select2me" data-placeholder="Select..." id="topik" name="topik">
							<option value="">SEMUA TOPIK</option>
						</select>
					</div>
				</div>
				<div class="col-md-3" id="divdrange">
					<div class="form-group">
						<div id="datepicker3" class="input-group date-picker input-daterange" data-date="10/11/2012" data-date-format="yyyy-mm-dd">
						<input id="from" type="text" class="form-control" name="startdate" value='<?php
echo $this->varams["startdate"];

?>'>
						<span class="input-group-addon"> to </span>
						<input id="to" type="text" class="form-control" name="enddate" value='<?php
echo $this->varams["enddate"];

?>'>
					</div>    
					</div>
				</div>
				</div>
			</div>
			<div class="col-md-2">
				<div class="row">
				<div class="col-md-12">
				<div class="form-group">
					<button class="btn blue btn-block">Filter</button>
				</div>
				</div>
				</div>
				<div class="row">
				<div class="col-md-12">
				<div class="form-group">
					<a class="btn red btn-block" href="/domas/index/search">Clear</a>
				</div>
				</div>
				</div>
			</div>
		</div>
	</div>
	</form>
	</div>
</div>

<div class="row">


<div class="col-md-12">
	<div class="row">
		<div class="col-md-12">
			
		</div>
	</div>
		
		<div class="col-md-6">
			<div class="portlet light">
				<div class="portlet-title">
					<div class="caption font-white">
						Sentimen
					</div>
					<div class="actions">
						<div class="portlet-input input-inline">
							<div class="input-icon right">
								<select class="form-control input-sm" id="type" name="type" onchange="getSentiment('','',this.value);">
									
									<option value="Laporan"> Dokumen </option>
									<option value="News" selected>Media Digital</option>
									<option value="Social Media">Media Sosial</option>
								</select>
							</div>
						</div>
						<a href="javascript:;" class="btn btn-primary btn-sm" onclick="getSentiment('','',$('#type').val());">
							<i class="fa fa-refresh"></i></a>
					</div>
				</div>
				<div class="portlet-body" id="sentiment">
				</div>
			</div>
		</div>
		<div class="col-md-6">
			<div class="portlet light" >
				<div class="portlet-title">
					<div class="caption font-white">
						Garis Tren
					</div>
					<div class="actions">
						<a href="javascript:;" class="btn btn-primary btn-sm" onclick="getTrendline();">
							<i class="fa fa-refresh"></i></a>
					</div>
				</div>
				<div class="portlet-body" id="trendline">					
				</div>
			</div>
		</div>
	</div>
</div>
<!--
<div align="right" class="row col-md-12" >
	<button id="btnloadmore" class="btn blue w5h1detail" onclick="showloadmore();" style="margin-bottom: 25px;">LOAD MORE <i class="fa fa-angle-down"></i></button>
</div>-->
<div id="loadmore" >
	

	


	<div class="row">
		<div class="col-md-4">
			<div class="portlet light ">
					 <div class="portlet-title" style="height:10px;">
					<div class="caption">
						<i class="icon-equalizer font-dark hide"></i>
						<span class="caption-subject font-dark bold uppercase" >Dokumen Terbaru</span>
					</div>
					<div class="tools">
						<a href="" class="collapse" data-original-title="" title=""> </a>
					</div>
					<div class="actions">
						<div class="portlet-input input-inline">
							<div class="input-icon right">
								<select class="form-control input-sm" id="typefilter_lap" name="typefilter" onchange="getLatest('lap','','',this.value);">							
									<option value="0">ASC</option>
									<option value="1" selected>DESC</option>
								</select>
							</div>
						</div>
						<a href="javascript:;" class="btn btn-primary btn-sm" onclick="getLatest('lap','','',$('#typefilter_lap').val());">
							<i class="fa fa-refresh"></i></a>
					</div>
				</div>
				<div class="portlet-body">
					<div class="scroller" id="l_lap" style="height: 525px;" data-always-visible="1" data-rail-visible1="1">
					</div>
				</div>
			</div>
		</div>

		<div class="col-md-4">
			<div class="portlet light ">
				<div class="portlet-title">
					<div class="caption">
						<i class="icon-equalizer font-dark hide"></i>
						<span class="caption-subject font-dark bold uppercase">Berita Terbaru</span>
					</div>
					<div class="tools">
						<a href="" class="collapse" data-original-title="" title=""> </a>
					</div>
					<div class="actions">
						<a href="#basic" class="btn btn-primary btn-sm" data-toggle="modal" data-l="news" onclick="get_tren(this);">TOP</a>
						<div class="portlet-input input-inline">
							<div class="input-icon right">
								<select class="form-control input-sm" id="typefilter_news" name="typefilter" onchange="getLatest('news','','',this.value);">							
									<option value="0">ASC</option>
									<option value="1" selected>DESC</option>
								</select>
							</div>
						</div>
						<a href="javascript:;" class="btn btn-primary btn-sm" onclick="getLatest('news','','',$('#typefilter_news').val());">
							<i class="fa fa-refresh"></i></a>
					</div>
				</div>
				<div class="portlet-body">
					<div class="scroller" id="l_news" style="height: 525px;" data-always-visible="1" data-rail-visible1="1">
					</div>
					
				</div>
			</div>
		</div>
		<div class="col-md-4">
			<div class="portlet light " >
				<div class="portlet-title">
					<div class="caption">
						<i class="icon-equalizer font-dark hide"></i>
						<span class="caption-subject font-dark bold uppercase">Media Sosial Terbaru</span>
					</div>
					<div class="tools">
						<a href="" class="collapse" data-original-title="" title=""> </a>
					</div>
					<div class="actions">
						<a href="#basic" class="btn btn-primary btn-sm" data-toggle="modal" data-l="socmed" onclick="get_tren(this);">TOP</a>
						<div class="portlet-input input-inline">
							<div class="input-icon right">
								<select class="form-control input-sm" id="typefilter_socmed" name="typefilter" onchange="getLatest('socmed','','',this.value);">							
									<option value="0">ASC</option>
									<option value="1" selected>DESC</option>
								</select>
							</div>
						</div>
						<a href="javascript:;" class="btn btn-primary btn-sm" onclick="getLatest('socmed','','',$('#typefilter_socmed').val());">
							<i class="fa fa-refresh"></i></a>
					</div>
				</div>
				<div class="portlet-body" id="chats">
					<div class="scroller" id="l_socmed" style="height: 525px;" data-always-visible="1" data-rail-visible1="1">
					</div>
					
				</div>
			</div>
		</div>
	</div>
    <div class="row">
		<div class="col-md-12">
			<div class="portlet light">
				<div class="portlet-title">
					<div class="caption font-white">
						KAITAN
					</div>
					<div class="actions">
						<a href="javascript:;" class="btn btn-primary btn-sm" onclick="getLink();">
							<i class="fa fa-refresh"></i></a>
					</div>
				</div>
				<div class="portlet-body" id="asd">
					<div id="frontend"></div>
				</div>
			</div>
		</div>
	</div>
</div>

</div>


<div class="modal fade in" id="basic" tabindex="-1" role="dialog" aria-hidden="true">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
				<h4 class="modal-title font-blue-chambray" id="ext_modaltitle"></h4>
				<h5 id="author_publisher" class="font-blue-chambray"></h5>
				<!-- <i class="fa fa-file-word-o"></i>download</a> -->
			</div>
			<div class="modal-body" id="div-extract" style="background-color:#2C3E50;"> Modal body goes here </div>
			<div class="modal-footer">
				<button type="button" class="btn dark btn-outline" data-dismiss="modal">Tutup</button>
			</div>
		</div>
	</div>
</div>

<div class="modal fade in" id="alertfrnotif" tabindex="-1" role="dialog" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content"id="div-extractalert" >
			
			
		</div>
	</div>
</div>

<script>
var xhr_gt=null;
function getTopik(id){
	
	if(xhr_gt!=null && xhr_gt!=undefined){
		xhr_gt.abort();
	}
	
	var formData = {};
	
	xhr_gt = $.ajax({  
		type: "GET",
		url: '/domas/ajax/gettopik/id/'+id+'/topik/<?php
echo $this->varams["topik"];

?>',
		data: formData, //last_id kita berarti 15
		dataType: "html",  //sesuai keinginan, di sini saya pengen ngambil langsung data dalam bentuk html langsung dari file data_per_load.php
		success: function(data){
			// console.log("ok");
			$("#topik").html(data);
		}
	});
	
}


var map;
var markers = {};
function initialize() {

	//showMarkers(map,"","","Laporan");
    
}


var xhr_sent=null;
function getSentiment(sdate="",edate="",l=""){

// console.log(l);
	if(xhr_sent!=null && xhr_sent!=undefined){
		xhr_sent.abort();
	}
	
	App.blockUI({target:"#sentiment",boxed:!0});

var formData = {};
var param ="";
param +="&skey="+$("#skey").val();
param +="&skeyexception="+$("#skeyexception").val();
param += "&cat="+$("#cat").val();
param +="&searchkey="+$("#searchkey").val();
param += "&topik=<?php
echo $this->varams["topik"];

?>";
param += "&is_mediatype="+$("#media_type").val();
param += "&t="+l;

if(sdate!="" && edate!=""){
	param += "&d1="+sdate+"&d2="+edate;	
	param +="&is_sentiment="+$("#is_sentiment").val();
} else {	
	$("#is_sentiment").val("");
	param +="&d1="+$("#from").val()+"&d2="+$("#to").val();
	param +="&is_sentiment="+$("#is_sentiment").val();
}

//var formData = $("#form").serialize();

xhr_sent = $.ajax({  
	type: "GET",
	url: '/domas/ajax1/sentiment?'+param,
	data: formData, //last_id kita berarti 15
	dataType: "html",  //sesuai keinginan, di sini saya pengen ngambil langsung data dalam bentuk html langsung dari file data_per_load.php
	success: function(data){
		// console.log(data);
		$("#sentiment").html(data);
		App.unblockUI("#sentiment");
	}
});

}

function setMT(mt){
//style="opacity: .5;"
	
	// console.log(mt);
	$("#media_type").val(mt);
	// console.log($("#media_type").val());
	$("#form").submit();
}


var xhr_trend=null;
function getTrendline(sdate="",edate=""){

if(xhr_trend!=null && xhr_trend!=undefined){
	xhr_trend.abort();
}

App.blockUI({target:"#trendline",boxed:!0});

var formData = {};
var param ="";
param +="&skey="+$("#skey").val();
param +="&skeyexception="+$("#skeyexception").val();
param += "&cat="+$("#cat").val();
param +="&searchkey="+$("#searchkey").val();
param += "&topik=<?php
echo $this->varams["topik"];

?>";
param += "&is_mediatype="+$("#media_type").val();
param += "&gap=%2B1DAY";
param += "&ano=0";

if(sdate!="" && edate!=""){
	// console.log("t");
	param += "&d1="+sdate+"&d2="+edate;	
	param +="&is_sentiment="+$("#is_sentiment").val();
} else {
	// console.log("f");
	$("#is_sentiment").val("");
	param +="&d1="+$("#from").val()+"&d2="+$("#to").val();
	param +="&is_sentiment="+$("#is_sentiment").val();
}	

// console.log(param);

xhr_trend = $.ajax({  
	type: "GET",
	url: '/domas/ajax1/trendline?'+param,
	data: formData, //last_id kita berarti 15
	dataType: "html",  //sesuai keinginan, di sini saya pengen ngambil langsung data dalam bentuk html langsung dari file data_per_load.php
	success: function(data){
		// console.log(data);
		$("#trendline").html(data);
		App.unblockUI("#trendline");
	}
});

}

var xhr_5w1h=null;
// var xhr_5w1h1=null;
function get5w1h(t="",me,sdate="",edate="",dl=0){
	
if(xhr_5w1h!=null && xhr_5w1h!=undefined){
	xhr_5w1h.abort();
}
// if(xhr_5w1h1!=null && xhr_5w1h1!=undefined){
	// xhr_5w1h1.abort();
// }
	App.blockUI({target:"#5w1h",boxed:!0});

	// console.log(me);

	var s = "who";
	if($(me).data("s")!=undefined){
		s = $(me).data("s");
	}

	// console.log(s);

	var formData = {}
	var param = "";
	param +="t="+t;
	param +="&s="+s;
	param +="&skey="+$("#skey").val();
	param +="&searchkey="+$("#searchkey").val();
	param +="&skeyexception="+$("#skeyexception").val();
	param += "&cat="+$("#cat").val();
	param += "&topik=<?php
echo $this->varams["topik"];

?>";
	param += "&is_mediatype="+$("#media_type").val();

	if(sdate!="" && edate!=""){
		param += "&d1="+sdate+"&d2="+edate;	
		param +="&is_sentiment="+$("#is_sentiment").val();
	} else {	
		$("#is_sentiment").val("");
		param +="&d1="+$("#from").val()+"&d2="+$("#to").val();
		param +="&is_sentiment="+$("#is_sentiment").val();
	}

	// console.log(param);

	if(dl==1){
		App.unblockUI("#5w1h");
		return window.open('/domas/ajax1/wwwwwh/ajax/1?'+param,'_blank');
		// return location.href='/domas/ajaxhome/wwwwwh/ajax/1?'+param;
	}

xhr_5w1h = $.ajax({  
		type: "GET",
		url: '/domas/ajax1/wwwwwh?'+param,   
		data: formData, //last_id kita berarti 15
		dataType: "html",  //sesuai keinginan, di sini saya pengen ngambil langsung data dalam bentuk html langsung dari file data_per_load.php
		success: function(data){
			 // console.log(data);
			$("#5w1h").html(data);
			App.unblockUI("#5w1h");
		}
	});
	
}


var xhr_link=null;
function getLink(sdate="",edate=""){
	
	if(xhr_link!=null && xhr_link!=undefined){
		xhr_link.abort();
	}
	
	App.blockUI({target:"#frontend",boxed:!0});
	
	var formData = {};
	var param ="";
	param +="&skey="+$("#skey").val();
	param +="&skeyexception="+$("#skeyexception").val();
	param +="&searchkey="+$("#searchkey").val();
	param += "&cat="+$("#cat").val();
	param += "&topik=<?php
echo $this->varams["topik"];

?>";
	param += "&is_mediatype="+$("#media_type").val();

	if(sdate!="" && edate!=""){
		// console.log("t");
		param += "&d1="+sdate+"&d2="+edate;	
		param +="&is_sentiment="+$("#is_sentiment").val();
	} else {
		// console.log("f");
		$("#is_sentiment").val("");
		param +="&d1="+$("#from").val()+"&d2="+$("#to").val();
		param +="&is_sentiment="+$("#is_sentiment").val();
	}	

	xhr_link = $.ajax({  
		type: "GET",
		url: '/domas/ajax1/link?'+param,
		data: formData, //last_id kita berarti 15
		dataType: "html",  //sesuai keinginan, di sini saya pengen ngambil langsung data dalam bentuk html langsung dari file data_per_load.php
		success: function(data){
			// console.log("ok");
			 $("#frontend").html(data);
			 App.unblockUI("#frontend");
		}
	});
	
}

var xhr_latest_lap=null;
var xhr_latest_news=null;
var xhr_latest_socmed=null;
function getLatest(l,sdate="",edate="",typefilter=""){

if(l=="lap"){	
	if(xhr_latest_lap!=null && xhr_latest_lap!=undefined){
		xhr_latest_lap.abort();
	}
} else if(l=="news"){	
	if(xhr_latest_news!=null && xhr_latest_news!=undefined){
		xhr_latest_news.abort();
	}
} else if(l=="socmed"){	
	if(xhr_latest_socmed!=null && xhr_latest_socmed!=undefined){
		xhr_latest_socmed.abort();
	}
}


App.blockUI({target:"#l_"+l,boxed:!0});

// var formData = $("#form").serialize();
var formData = {};
var param = "";
param +="";
param +="l="+l;
param +="&skey="+$("#skey").val();
param +="&skeyexception="+$("#skeyexception").val();
param +="&searchkey="+$("#searchkey").val();
param += "&cat="+$("#cat").val();
param += "&topik=<?php
echo $this->varams["topik"];

?>";
param += "&is_mediatype="+$("#media_type").val();
param += "&last=";

if(sdate!="" && edate!=""){
	param += "&d1="+sdate+"&d2="+edate;	
	param +="&is_sentiment="+$("#is_sentiment").val();
} else {	
	$("#is_sentiment").val("");
	param +="&d1="+$("#from").val()+"&d2="+$("#to").val();
	param +="&is_sentiment="+$("#is_sentiment").val();
}

if(typefilter!=""){
	param += "&tf="+typefilter;
} 

if(l=="lap"){	
	xhr_latest_lap = $.ajax({  
		type: "GET",
		url: '/domas/ajax1/latest?'+param,
		data: formData, //last_id kita berarti 15
		dataType: "html",  //sesuai keinginan, di sini saya pengen ngambil langsung data dalam bentuk html langsung dari file data_per_load.php
		success: function(data){
			 // console.log(data);
			$("#l_"+l).html(data);
			App.unblockUI("#l_"+l);
		}
	});
		
} else if(l=="news"){	
	xhr_latest_news = $.ajax({  
		type: "GET",
		url: '/domas/ajax1/latest?'+param,
		data: formData, //last_id kita berarti 15
		dataType: "html",  //sesuai keinginan, di sini saya pengen ngambil langsung data dalam bentuk html langsung dari file data_per_load.php
		success: function(data){
			 // console.log(data);
			$("#l_"+l).html(data);
			App.unblockUI("#l_"+l);
		}
	});
		
} else if(l=="socmed"){	
	xhr_latest_socmed = $.ajax({  
		type: "GET",
		url: '/domas/ajax1/latest?'+param,
		data: formData, //last_id kita berarti 15
		dataType: "html",  //sesuai keinginan, di sini saya pengen ngambil langsung data dalam bentuk html langsung dari file data_per_load.php
		success: function(data){
			 // console.log(data);
			$("#l_"+l).html(data);
			App.unblockUI("#l_"+l);
		}
	});
		
}

}


function getSummary(){

var t = "";
var sdate = "";
var edate = ""; 
	
var param ="";
param +="t="+t;
param +="&skey="+$("#skey").val();
param +="&skeyexception="+$("#skeyexception").val();
param +="&searchkey="+$("#searchkey").val();
param += "&cat="+$("#cat").val();
param += "&topik=<?php
echo $this->varams["topik"];

?>";
param += "&is_mediatype="+$("#media_type").val();

if(sdate!="" && edate!=""){
	param += "&d1="+sdate+"&d2="+edate;	
	param +="&is_sentiment="+$("#is_sentiment").val();
} else {	
	$("#is_sentiment").val("");
	param +="&d1="+$("#from").val()+"&d2="+$("#to").val();
	param +="&is_sentiment="+$("#is_sentiment").val();
}

param += "&tc_lap="+$("#typecloud_lap").val();
param += "&tc_news="+$("#typecloud_news").val();

return window.open('/domas/index/getsummary?'+param,'_blank');

// param += is_se;
// param += sedate;

}

function getExport(){

var t = "";
var sdate = "";
var edate = ""; 
	
var param ="";
param +="t="+t;
param +="&skey="+$("#skey").val();
param +="&skeyexception="+$("#skeyexception").val();
param +="&searchkey="+$("#searchkey").val();
param += "&cat="+$("#cat").val();
param += "&topik=<?php
echo $this->varams["topik"];

?>";
param += "&is_mediatype="+$("#media_type").val();

if(sdate!="" && edate!=""){
	param += "&d1="+sdate+"&d2="+edate;	
	param +="&is_sentiment="+$("#is_sentiment").val();
} else {	
	$("#is_sentiment").val("");
	param +="&d1="+$("#from").val()+"&d2="+$("#to").val();
	param +="&is_sentiment="+$("#is_sentiment").val();
}

param += "&tc_lap="+$("#typecloud_lap").val();
param += "&tc_news="+$("#typecloud_news").val();

return window.open('/domas/index/getexport?'+param,'_blank');

// param += is_se;
// param += sedate;

}

var xhr_vs=null;
function getVS(me){
	
	// console.log($(me).data("id"));
	
	if(xhr_vs!=null && xhr_vs!=undefined){
		xhr_vs.abort();
	}

$(".modal-dialog").removeClass("modal-full");
$(".modal-dialog").addClass("modal-lg");
	$("#div-extract").html("");
	App.blockUI({target:"#div-extract",boxed:!0});
		
	$("#basic").modal();
	var formData = {}
	var param = "";
	param += "id="+$(me).data("id");
	param += "&t="+$(me).data("t");
	param += "&dl="+$(me).data("dl");

	xhr_vs = $.ajax({
		type: "GET",
		url: '/domas/ajaxhome/vs?'+param,
		data: formData, //last_id kita berarti 15
		dataType: "html",  //sesuai keinginan, di sini saya pengen ngambil langsung data dalam bentuk html langsung dari file data_per_load.php
		success: function(data){
			 // console.log(data);
			 if($(me).data("dl")==0){
				$("#div-extract").html(data);			 
			 }
			App.unblockUI("#div-extract");
		}
	});
	
}


var xhr_extract=null;
function getExtract(me){

if(xhr_extract!=null && xhr_extract!=undefined){
	xhr_extract.abort();
}

$(".modal-dialog").removeClass("modal-full");
$(".modal-dialog").addClass("modal-lg");

$("#div-extract").html("");
App.blockUI({target:"#div-extract",boxed:!0});
$("#ext_modaltitle").html("");

var formData = {}
var param = "";
param +="&entity="+$(me).data("entity");;
param +="&id="+$(me).data("id");
// console.log(param);

xhr_extract = $.ajax({  
	type: "GET",
	url: '/domas/ajaxhome/extract?'+param,
	data: formData, //last_id kita berarti 15
	dataType: "html",  //sesuai keinginan, di sini saya pengen ngambil langsung data dalam bentuk html langsung dari file data_per_load.php
	success: function(data){
		 // console.log(data);
		$("#div-extract").html(data);
		App.unblockUI("#div-extract");
	}
});
}


var xhr_tren = null;
function get_tren(me,sdate="",edate=""){

if(xhr_tren!=null && xhr_tren!=undefined){
	xhr_tren.abort();
}

$(".modal-dialog").removeClass("modal-lg");
$(".modal-dialog").addClass("modal-full");

$("#div-extract").html("");
App.blockUI({target:"#div-extract",boxed:!0});
var l = $(me).data("l");

var formData = {};
var param ="";
param +="l="+l;
param +="&skey="+$("#skey").val();
param +="&skeyexception="+$("#skeyexception").val();
param += "&cat="+$("#cat").val();
param +="&searchkey="+$("#searchkey").val();
param += "&topik=<?php
echo $this->varams["topik"];

?>";
param += "&is_mediatype="+$("#media_type").val();
param += "&gap=%2B1DAY";

if(sdate!="" && edate!=""){
	// console.log("t");
	param += "&d1="+sdate+"&d2="+edate;	
	param +="&is_sentiment="+$("#is_sentiment").val();
} else {
	// console.log("f");
	$("#is_sentiment").val("");
	param +="&d1="+$("#from").val()+"&d2="+$("#to").val();
	param +="&is_sentiment="+$("#is_sentiment").val();
}	

// console.log(param);

xhr_tren = $.ajax({
	type: "GET",
	url: '/domas/ajax1/trentop10?'+param,
	data: formData, //last_id kita berarti 15
	dataType: "html",  //sesuai keinginan, di sini saya pengen ngambil langsung data dalam bentuk html langsung dari file data_per_load.php
	success: function(data){
		 // console.log(data);
		$("#div-extract").html(data);
		App.unblockUI("#div-extract");
	}
});

}

function gettopSummary(me,sdate="",edate=""){

var l = $(me).data("l");

var formData = {};
var param ="";
param +="l="+l;
param +="&skey="+$("#skey").val();
param +="&skeyexception="+$("#skeyexception").val();
param += "&cat="+$("#cat").val();
param +="&searchkey="+$("#searchkey").val();
param += "&topik=<?php
echo $this->varams["topik"];

?>";
param += "&is_mediatype="+$("#media_type").val();
param += "&gap=%2B1DAY";

if(sdate!="" && edate!=""){
	// console.log("t");
	param += "&d1="+sdate+"&d2="+edate;	
	param +="&is_sentiment="+$("#is_sentiment").val();
} else {
	// console.log("f");
	$("#is_sentiment").val("");
	param +="&d1="+$("#from").val()+"&d2="+$("#to").val();
	param +="&is_sentiment="+$("#is_sentiment").val();
}	

// console.log(param);

return window.open('/domas/index/gettopsummary?'+param,'_blank');

}



function gettoptwitter(me,sdate="",edate=""){

var l = $(me).data("l");

var formData = {};
var param ="";
param +="l="+l;
param +="&skey="+$("#skey").val();
param +="&skeyexception="+$("#skeyexception").val();
param += "&cat="+$("#cat").val();
param +="&searchkey="+$("#searchkey").val();
param += "&topik=<?php
echo $this->varams["topik"];

?>";
param += "&is_mediatype="+$("#media_type").val();
param += "&gap=%2B1DAY";

if(sdate!="" && edate!=""){
	// console.log("t");
	param += "&d1="+sdate+"&d2="+edate;	
	param +="&is_sentiment="+$("#is_sentiment").val();
} else {
	// console.log("f");
	$("#is_sentiment").val("");
	param +="&d1="+$("#from").val()+"&d2="+$("#to").val();
	param +="&is_sentiment="+$("#is_sentiment").val();
}	

// console.log(param);

return window.open('/domas/index/gettoptwitter?'+param,'_blank');

}


function showloadmore(){
	
	$("#loadmore").removeClass('hidden');
	$("#btnloadmore").addClass('hidden');
	get5w1h("Laporan");
	getLink();
	getLatest("lap","","",1);
	getLatest("news","","",1);
	getLatest("socmed","","",1);
}

function getalert(id){
	console.log(id)
	$.ajax({
		url: '/domas/ajaxhome/alertfget/id/'+id, 
		dataType: "html",
		success: function(res) {	
		console.log(res)
		$("#div-extractalert").html(res);
		App.unblockUI("#div-extractalert");
		}
	});
}

function setalert(id){
	$.ajax({
		url: '/domas/ajaxhome/alertfupdate/id/'+id, 
		dataType: "html",
		success: function(res) {	
		// console.log(res)
		}
	});
}

jQuery(document).ready(function(){

var elt = document.getElementById("cat");
$("small").html(elt.options[elt.selectedIndex].text);

<?php
if(isset($this->varams["cat"])&& $this->varams["cat"] != "") {
    echo "getTopik('" . 
                   $this->varams["cat"] . 
                   "')";
}

?>
// getTopik(<?php
echo $this->varams["cat"] 
?>);

var param = <?php
echo json_encode($this->varams["media_type"]);

?>;
// console.log(param);
if(param=='internasional'){
	// $("#select").show();
	$("divreg").removeClass("hidden");
	$("#divcat").removeClass("col-md-4").addClass("col-md-3");
	$("#divtopik").removeClass("col-md-4").addClass("col-md-3");
	$("#divdrange").removeClass("col-md-4").addClass("col-md-3");
} else {
	$("#divreg").addClass("hidden");
	$("#divcat").removeClass("col-md-3").addClass("col-md-4");
	$("#divtopik").removeClass("col-md-3").addClass("col-md-4");
	$("#divdrange").removeClass("col-md-3").addClass("col-md-4");	
}

$( ".date-picker" ).datepicker({ minDate: -20, maxDate: "+1M +10D" });


initialize();
getSentiment("","","News");
getTrendline();
getLink();
	getLatest("lap","","",1);
	getLatest("news","","",1);
	getLatest("socmed","","",1);

//get5w1h("Laporan");
// getLink();
// getLatest("lap","","",1);
// getLatest("news","","",1);
// getLatest("socmed","","",1);

// // var xhr_alertfr=null;
// // (function worker() {
		
	// // if(xhr_alertfr!=null && xhr_alertfr!=undefined){
		// // xhr_alertfr.abort();
	// // }	
	
	// // xhr_alertfr = $.ajax({
		// // url: '/domas/ajaxhome/alertfrnotif', 
		// // dataType: "html",
		// // success: function(res) {
		// // // console.log(res);	
		// // // console.log(res);	
		
		// // $('#header_task_bar').html(res);  
		
		// // // if(res.status==true){
			// // // var html = '<h3 style="color:#d5ff5b;margin-top:0px;">'
					// // // +'<br>'+res.data.IDPROFILE
					// // // +'<br>'+res.data.NAMA
					// // // +'<br><small style="color:white;">'+res.data.CAMERANAME+'</small>'
					// // // +'<br><small style="color:white;">'+res.data.IPCAMERA+'</small>'
					// // // +'</h3>'
					// // // +'<hr>'
					// // // +'<img src="../../'+res.data.PHOTO+'"  height="100%"> '
					// // // +'<br>'+res.data.SIMILARITY;
					// // // console.log(html);
			// // // var footer ='<button type="button" class="btn dark btn-outline" onclick="setalert('+res.data.ID_ALERT+');" data-dismiss="modal">OK</button>'
			// // // $('#alert_modaltitle').html(res.data.CAMERANAME);  
			// // // $('#alert_body').html(html);  
			// // // $('#alert_footer').html(footer);  
			// // // $("#alertfrnotif").modal('show');
		 // // // }
	// // },
	// // complete: function() {
	// // // Schedule the next request when the current one's complete
	// // setTimeout(worker, 5000);
	// // }
	// // });
// // })();

});
</script>