<style>

</style>
<?php
//Zend_Debug::dump($this->data['params']);die();
if($this->data == null) {
    $nama = 'Add';
} else {
    $nama = 'Edit';
}

?>


<div class="page-content">
	<!-- BEGIN BREADCRUMBS -->
    <div id="ajax-loader" style="z-index: 9999; position: absolute; left: 0px; width: 100%; opacity: 0.5; overflow: hidden; display: none;">
				<img style="margin: 15% auto; opacity: 1; display: block;" src="/assets/core/img/gears.gif">
		</div>
	<div class="breadcrumbs">
		<h1> <?php
echo $this->data['figure_name'];

?></h1>
		<ol class="breadcrumb">
		<li><a href="/">Home</a></li>
		<li><a href="#">/</a></li>
		<li><a href="/domas/index/listcrawl">Daftar Crawl</a></li>
		<li><a href="#">/</a></li>
		<li class="active">Daftar Crawl</li>
		</ol>
	</div>
	<!-- END BREADCRUMBS -->
 <!-- BEGIN PAGE BASE CONTENT -->
  <div class="row">
    <div class="col-md-12">
			<div class="portlet light ">
				<div class="portlet-title">
					<div class="caption">
							<i class="icon-equalizer font-red-sunglo"></i>
							<span class="caption-subject font-red-sunglo bold uppercase"><?php
echo $nama . ' Crawl';

?></span>
					</div>
					<div class="tools">
							<a href="" class="collapse"> </a>
							<a href="#portlet-config" data-toggle="modal" class="config"> </a>
							<a href="" class="reload"> </a>
							<a href="/domas/index/listcrawl" class="remove"> </a>  
					</div>
				</div>
				<div class="portlet-body form">
					<!-- BEGIN FORM-->
					<form  method=post class="form-horizontal" id="addapi">
						<input name="id" type="hidden" value="<?php
echo $this->data['id'];

?>" />
						<div class="form-body">
							<h3 class="form-section">Info Utama</h3>
							<div class="row">
								<div class="col-md-6">
									<div class="form-group">
										<label class="control-label col-md-3">Nama Crawler</label>
										<div class="col-md-9">
												<input type="text" value="default" name="c_name" class="form-control" value="<?php
echo $this->data['subdomain'];

?>" placeholder="default">
												<!--<span class="help-block"> This is inline help </span>-->
										</div>
									</div>
								</div>
								<!--/span-->
								<div class="col-md-6">
									<div class="form-group">
										<label class="control-label col-md-3">Nama Media</label>
										<div class="col-md-9">
												<select name="media_name" class="form-control">
												 <?php
//$sel="";

foreach($this->media as $v) {
    $sel = "";
    if($v['id'] == $this->data['media_id']) {
        $sel = "selected";
    }
    echo '<option ' . $sel . ' value="' . $v['id'] . '">' . $v['media_name'] . '</option>';
}

?>   

												</select>
												<!--<span class="help-block"> This field has error. </span>-->
										</div>
									</div>
								</div>
								<!--/span-->
							</div>
							
							<!--/row-->
							<div class="row">
								<div class="col-md-6">
									<div class="form-group">
										<label class="control-label col-md-3">Tipe Crawler</label>
										<div class="col-md-9">
											<select name="c_type" class="form-control">
												<option <?php
if($this->data['type_crawl'] == 1) {
    echo "selected";
}

?> value="1">Html Index</option>
												<option <?php
if($this->data['type_crawl'] == 2) {
    echo "selected";
}

?> value="2">RSS</option>
												
                                                <!--
                                                <option <?php
if($this->data['type_crawl'] == 3) {
    echo "selected";
}

?> value="3">RDF</option>
												<option <?php
if($this->data['type_crawl'] == 4) {
    echo "selected";
}

?> value="4">Atom</option>-->
											</select>
											<span class="help-block"> Pilih Tipe Crawler. </span>
										</div>
									</div>
								</div>
								<!--/span-->
								<div class="col-md-6">
									<div class="form-group">
										<label class="control-label col-md-3">Status</label>
										<div class="col-md-9"> <input type="checkbox" name="c_status" <?php
if($this->data['status'] == 1) {
    echo "checked";
}

?> class="make-switch" value=1 id="test" data-size="normal">
										</div>
									</div>
									 
								</div>
									<!--/span-->
							</div>
							<!--/row-->
							<div class="row">
								<div class="col-md-6">
									<div class="form-group">
										<label class="control-label col-md-3">Url Index</label>
										<div class="col-md-9"><input type="text" class="form-control" name="index" value="<?php
echo $this->data['url_crawl'];

?>" placeholder="http://"> 
										</div>
									</div>
								</div>
								<!--/span-->
								<div class="col-md-6">
									<div class="form-group">
										<label class="control-label col-md-3">Batas Baris </label>
										<div class="col-md-9">
											<input name="r_limit" type="text" value="20" class="form-control" placeholder="20"> 
										</div>
									</div>
								</div>
								<!--/span-->
							</div>
							<div class="row">
								<div class="col-md-6">
									<div class="form-group">
										<label class="control-label col-md-3">Tag-Index</label>
										<div class="col-md-9">
											<input type="text" name="tag-index" value="<?php
echo $this->data['params']['tag-index'];

?>" class="form-control"> </div>
									</div>
								</div>
								<div class="col-md-6">
									<div class="form-group">
											 
											<label class="control-label col-md-3">Index-Query Type</label>
											<div class="col-md-9">
												<select class="form-control input-sm valid" name="tag-index-type" placeholder="Type">
                                                             <option <?php if($this->data['params']['tag-index-type']=='css'){echo "selected";} ?> value="css">CSS Query</option>     
                                                               
                                                                <option <?php if($this->data['params']['tag-index-type']=='string'){echo "selected";} ?> value="string">String</option>
                                                                <option <?php if($this->data['params']['tag-index-type']=='xpath'){echo "selected";} ?> value="xpath">Xpath Query</option>
                                                                
                                                                </select>		

                                            </div>
											    
									</div>
								</div>
							</div>
							<h3 class="form-section">Tags</h3>    
							<!--<a class=" btn yellow btn-outline clicktag sbold" href="/pmas/madmin/getcrawler" data-target="#full" data-toggle="modal"> Checking Tags</a>-->
							<a class=" btn yellow btn-outline clicktag sbold"> Cek Tags</a>

							<!--/row-->
						 
							<div class="row">
								<div class="col-md-6">
									<div class="form-group">
										<label class="control-label col-md-3">Judul</label>
										<div class="col-md-9">
											<input type="text" name="tag-title" value="<?php
echo $this->data['params']['tag-title'];

?>" class="form-control"> </div>
									</div>
								</div>
                                <div class="col-md-6">
                                
                                    <div class="form-group">
										<label class="control-label col-md-3">Judul Query Type</label>
										<div class="col-md-9">
											<select class="form-control input-sm valid" name="tag-title-type" placeholder="Type">
<option <?php if($this->data['params']['tag-title-type']=='css'){echo "selected";} ?> value="css">CSS Query</option>
<option <?php if($this->data['params']['tag-title-type']=='string'){echo "selected";} ?> value="string">String</option>
<option <?php if($this->data['params']['tag-title-type']=='xpath'){echo "selected";} ?> value="xpath">Xpath Query</option>
                                                                </select>	
										</div>
									</div>
									
								</div>
                                    
                                      
                                
                                
								
							</div>
							<div class="row">
								<div class="col-md-6">
									<div class="form-group">
										<label class="control-label col-md-3">Penulis</label>
										<div class="col-md-9">
											<input type="text" value="<?php
echo $this->data['params']['tag-author'];

?>" name="tag-author"  class="form-control"> </div>
									</div>
                                    </div>
                                    <div class="col-md-6">
                                
                                    <div class="form-group">
										<label class="control-label col-md-3">Penulis Query Type</label>
										<div class="col-md-9">
											<select class="form-control input-sm valid" name="tag-author-type" placeholder="Type">
<option <?php if($this->data['params']['tag-author-type']=='css'){echo "selected";} ?> value="css">CSS Query</option>
<option <?php if($this->data['params']['tag-author-type']=='string'){echo "selected";} ?> value="string">String</option>
<option <?php if($this->data['params']['tag-author-type']=='xpath'){echo "selected";} ?> value="xpath">Xpath Query</option>
                                                                </select>	
										</div>
									</div>
									
								</div>
								
								<!--/span-->
								
								<!--/span-->
							</div>
							<!--/row-->
							<div class="row">
								<div class="col-md-6">
										<div class="form-group">
											<label class="control-label col-md-3">Topik</label>
											<div class="col-md-9">
												<input type="text" name="tag-topic" value="<?php
echo $this->data['params']['tag-topic'];

?>"  class="form-control"> </div>
										</div>
								</div>
								<!--/span-->
								
								<!--/span-->
                                
                                <div class="col-md-6">
                                
                                    <div class="form-group">
										<label class="control-label col-md-3">Topik Query Type</label>
										<div class="col-md-9">
											<select class="form-control input-sm valid" name="tag-topic-type" placeholder="Type">
                                                                  
<option <?php if($this->data['params']['tag-topic-type']=='css'){echo "selected";} ?> value="css">CSS Query</option>
<option <?php if($this->data['params']['tag-topic-type']=='string'){echo "selected";} ?> value="string">String</option>
<option <?php if($this->data['params']['tag-topic-type']=='xpath'){echo "selected";} ?> value="xpath">Xpath Query</option>

                                                                </select>	
										</div>
									</div>
									
								</div>
							</div>
							
							<div class="row">
								<div class="col-md-6">
									<div class="form-group">
										<label class="control-label col-md-3">Gambar/Icon</label>
											<div class="col-md-9">
											<input type="text" name="tag-icon" value="<?php
echo $this->data['params']['tag-icon'];

?>"  class="form-control"> </div>
									</div>
								</div>
                                
                                <div class="col-md-6">
                                
                                    <div class="form-group">
										<label class="control-label col-md-3">Gambar Query Type</label>
										<div class="col-md-9">
											<select class="form-control input-sm valid" name="tag-icon-type" placeholder="Type">
                                                                  
<option <?php if($this->data['params']['tag-icon-type']=='css'){echo "selected";} ?> value="css">CSS Query</option>
<option <?php if($this->data['params']['tag-icon-type']=='string'){echo "selected";} ?> value="string">String</option>
<option <?php if($this->data['params']['tag-icon-type']=='xpath'){echo "selected";} ?> value="xpath">Xpath Query</option>

                                                                </select>	
										</div>
									</div>
									
								</div>
								<!--/span-->
								
								<!--/span-->
							</div>
                                
                            
							<div class="row">
							<div class="col-md-6">
									<div class="form-group">
										<label class="control-label col-md-3">Isi</label>
										<div class="col-md-9">
											<input type="text" value="<?php
echo $this->data['params']['tag-content'];

?>" name="tag-content" class="form-control"> </div>
									</div>
								</div>
                                
                                <div class="col-md-6">
                                
                                    <div class="form-group">
										<label class="control-label col-md-3">Isi Query Type</label>
										<div class="col-md-9">
											<select class="form-control input-sm valid" name="tag-content-type" placeholder="Type">
<option <?php if($this->data['params']['tag-content-type']=='css'){echo "selected";} ?> value="css">CSS Query</option>
<option <?php if($this->data['params']['tag-content-type']=='string'){echo "selected";} ?> value="string">String</option>
<option <?php if($this->data['params']['tag-content-type']=='xpath'){echo "selected";} ?> value="xpath">Xpath Query</option>

                                                                </select>	
										</div>
									</div>
									
								</div>
                            
                            </div>
                            
                            
                              <div class="row">
                            <div class="col-md-6">
									<div class="form-group">
										<label class="control-label col-md-3">Tanggal</label>
										<div class="col-md-9">
											<input type="text" name="tag-date" value="<?php
echo $this->data['params']['tag-date'];

?>" class="form-control"> </div>
									</div>
								</div>
                                
                                  <div class="col-md-6">
                                
                                    <div class="form-group">
										<label class="control-label col-md-3">Tanggal Query Type</label>
										<div class="col-md-9">
											<select class="form-control input-sm valid" name="tag-date-type" placeholder="Type">
                                                                  
<option <?php if($this->data['params']['tag-date-type']=='css'){echo "selected";} ?> value="css">CSS Query</option>
<option <?php if($this->data['params']['tag-date-type']=='string'){echo "selected";} ?> value="string">String</option>
<option <?php if($this->data['params']['tag-date-type']=='xpath'){echo "selected";} ?> value="xpath">Xpath Query</option>

                                                                </select>	
										</div>
									</div>
									
								</div>
                            
                            </div>
                            
                            
                            <div class="row">
                            <div class="col-md-6">
									<div class="form-group">
										<label class="control-label col-md-3">Tanggal Pemrosesan</label>
										<div class="col-md-9">
											<select name="processing-date"  class="form-control">
															<?php

foreach($this->date as $v) {
    $sel = "";
    if($v['value_param'] == $this->data['params']['processing-date']) {
        $sel = "selected";
    }
    echo "<option " . $sel . " value='" . $v['value_param'] . "'>" . $v['display_param'] . "</option>";
}

?>
											</select>
										</div>
									</div>
								</div>
                            
                            </div>

                          
                            
                            <div class="row">
                            <div class="col-md-6">
									<div class="form-group">
										<label class="control-label col-md-3">Tanggal (alt 2)</label>
										<div class="col-md-9">
											<input type="text" name="tag-date2" value="<?php
echo $this->data['params']['tag-date2'];

?>" class="form-control"> </div>
									</div>
								</div>
                                
                                  <div class="col-md-6">
                                
                                    <div class="form-group">
										<label class="control-label col-md-3">Tanggal (alt 2) Query Type</label>
										<div class="col-md-9">
											<select class="form-control input-sm valid" name="tag-date2-type" placeholder="Type">
                                                                  
<option <?php if($this->data['params']['tag-date2-type']=='css'){echo "selected";} ?> value="css">CSS Query</option>
<option <?php if($this->data['params']['tag-date2-type']=='string'){echo "selected";} ?> value="string">String</option>
<option <?php if($this->data['params']['tag-date2-type']=='xpath'){echo "selected";} ?> value="xpath">Xpath Query</option>

                                                                </select>	
										</div>
									</div>
									
								</div>
                            </div>
                            
                            <div class="row">
							
								<!--/span-->
								<div class="col-md-6">
									<div class="form-group">
										<label class="control-label col-md-3">Tanggal Pemrosesan2</label>
										<div class="col-md-9">
											<select name="processing-date2"  class="form-control">
															<?php

foreach($this->date as $v) {
    $sel = "";
    if($v['value_param'] == $this->data['params']['processing-date2']) {
        $sel = "selected";
    }
    echo "<option " . $sel . " value='" . $v['value_param'] . "'>" . $v['display_param'] . "</option>";
}

?>
											</select>
										</div>
									</div>
								</div>
								<!--/span-->
							</div>
							<div class="row"><!--col-md-offset-6-->
								<div class=" col-md-6">
									<div class="form-group">
										<label class="control-label col-md-3">Tanggal (alt 3)</label>
										<div class="col-md-9">
											<input type="text" name="tag-date3" value="<?php
echo $this->data['params']['tag-date3'];

?>" class="form-control"> </div>
									</div>
								</div>
                             <div class="col-md-6">
                                
                                    <div class="form-group">
										<label class="control-label col-md-3">Tanggal (alt 3) Query Type</label>
										<div class="col-md-9">
											<select class="form-control input-sm valid" name="tag-date3-type" placeholder="Type">
<option <?php if($this->data['params']['tag-date3-type']=='css'){echo "selected";} ?> value="css">CSS Query</option>
<option <?php if($this->data['params']['tag-date3-type']=='string'){echo "selected";} ?> value="string">String</option>
<option <?php if($this->data['params']['tag-date3-type']=='xpath'){echo "selected";} ?> value="xpath">Xpath Query</option>

                                                                </select>	
										</div>
									</div>
									
								</div>
	
							</div>			
							<div class="row">
								<div class="col-md-6">
									<div class="form-group">
										<label class="control-label col-md-3">Tanggal Pemrosesan3</label>
										<div class="col-md-9">
											<select name="processing-date3"  class="form-control">
															<?php

foreach($this->date as $v) {
    $sel = "";
    if($v['value_param'] == $this->data['params']['processing-date3']) {
        $sel = "selected";
    }
    echo "<option " . $sel . " value='" . $v['value_param'] . "'>" . $v['display_param'] . "</option>";
}

?>
											</select>
										</div>
									</div>
								</div>	
							</div>	
                
                <h3 class="form-section">Additional Attributes</h3>
                
                    <div class="row">
                          


                        <?php 
                        //if($this->data['fname'])
                       // $vf = unserialize($this->data['attrs']);
                        
                        $mc=count($this->data['params']['fname']);
                        if(count($this->data['params']['fname'])==0){$mc=1;}
                        for ($cnt=0;$cnt<=$mc-1;$cnt++) { ?>            
                        <div class="form-group  bread" id="bread<?php echo $mc+$cnt;  ?>" data-id="<?php echo $mc+$cnt;  ?>">
                            <div class="col-md-10">
                                <div class="col-md-4">
                                    <div class="input-icon right">
                                        <input class="form-control input-sm" value="<?php echo $this->data['params']['fname'][$cnt]; ?>" name="fname[]" placeholder="Field Name">

                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="input-icon right">

                                        <select class="form-control input-sm valid" name="ftype[]" placeholder="Type">
<option <?php if($this->data['params']['ftype'][$cnt]=='css'){echo "selected";} ?> value="css">CSS Query</option>
<option <?php if($this->data['params']['ftype'][$cnt]=='string'){echo "selected";} ?> value="string">String</option>
<option <?php if($this->data['params']['ftype'][$cnt]=='xpath'){echo "selected";} ?> value="xpath">Xpath Query</option>

                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="input-icon right">
                                        <input class="form-control input-sm" value="<?php echo $this->data['params']['fvalue'][$cnt]; ?>" name="fvalue[]" placeholder="Value(dateformat: 1995-12-31 23:59:59)">
                                    </div>	
                                </div>
                            </div>
                            <div class="col-md-2">
    
    <?php if($cnt==0){?>
    <button type="button" class="btn grey addGC2" onclick="addGC2(this);
                                return false;" data-act="addGC2" data-id="<?php echo $mc+$cnt;  ?>" style="padding: 5px;">Add</button>
    <?php }else{ ?>
    <button type="button" class="btn red removeGC2" onclick="removeGC2(this);
                                return false;" data-act="removeGC2" data-id="<?php echo $mc+$cnt;  ?>" style="padding: 5px;">Remove</button>
    
    <?php } ?>

                        </div>
                        </div>
                        <?php  }?>
                        
                    </div>
                                    
							<!--/row-->
						</div>
						<div class="form-actions">
								<div class="row">
										<div class="col-md-6">
												<div class="row">
														<div class="col-md-offset-3 col-md-9">
																<button type="submit" class="btn btn-circle green">Submit</button>
																
																		<a  class="btn btn-circle default" href="/domas/index/listcrawl">  
																		Batal </a>
																 <button type="button" onclick="runn()" class="btn btn-circle test green">Tes</button>
														</div>
												</div>
										</div>
										<div class="col-md-6"> </div>
								</div>
						</div>
					</form>
					<!-- END FORM-->
				</div>
			</div>
                                            
			<div class="modal fade" id="full" tabindex="-1" role="dialog" aria-hidden="true">
					<div class="modal-dialog modal-full">
							<div class="modal-content">
									<div class="modal-header">
											<button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
											<h4 class="modal-title">Judul Modal</h4>
									</div>
									<div class="modal-body"> </div>
									<div class="modal-footer">
											<button type="button" class="btn dark btn-outline" data-dismiss="modal">Tutup</button>
											<button type="button" class="btn green">Simpan Perubahan</button>   
										 
									</div>
							</div>
							<!-- /.modal-content -->
					</div>
					<!-- /.modal-dialog -->
			</div>
			<div id="full-width" class="modal  fade" tabindex="-1"></div>
			
			<div id="ajax-modal" class="modal  fade" tabindex="-1"> </div>

			</div>
	</div>
</div>

 <script>          

var gamasidx2 = <?php echo $mc;  ?>;
var elem = <?php echo $mc;  ?>;

function addGC2(me) {
var id = $(me).data('id');
var currow = $('body').find('.bread:last');
var str = '<div class="form-group row bread" id="bread' + (parseInt(gamasidx2) + 1) + '" data-id="' + (parseInt(gamasidx2) + 1) + '" >'
+ '<div class="col-md-10">'
+ '<div class="col-md-4">'
+ '<input  class="form-control input-sm" name="fname[]" placeholder="Field Name"  />'
+ '</div>'
+ '<div class="col-md-4">'
+ '<select class = "form-control input-sm" name = "ftype[]"  placeholder = "Type" >'
+ '<option value = "css">Css Query</option>'
+ '<option value = "string">String</option>'
+ '<option value = "xpath">Xpath Query</option>'
+ ' </select>'
+ '</div>'
+ '<div class="col-md-4">'
+ '<input   class="form-control input-sm"  name="fvalue[]" placeholder="Value (dateformat: 1995-12-31 23:59:59)" />'
+ '</div>'
+ '</div>'
+ '<div class="col-md-2">'
+ '<button type="button" class="btn red removeGC2" onclick="removeGC2(this); return false;" data-act="removeGC2" data-id="' + (parseInt(gamasidx2) + 1) + '" style="padding: 5px;">Remove</button>'
+ '</div>'
+ '</div>';
gamasidx2++;
//console.log(str);
currow.after(str);
}


function removeGC2(me) {
var id = $(me).data('id');
//console.log(id);
$('body').find('#bread' + id + ':first').remove();
}

function runn() {   
$("#ajax-loader").show();
		$.ajax({  
				url:"/domas/ajax/test",
				type:'post',
				data:$('form#addapi').serialize(),
				dataType: 'json',
				success: function(r){
					$.modal(r.out.html, {modal: true, overlayClose: false, position: [120, 0], overlayCss: {backgroundColor: "#888"}, opacity: 80});
					$("#ajax-loader").hide();
					
				},
				error: function(r){
									
				toastr.error('Error Parsing');
					$("#ajax-loader").hide();
					
				}
	 
		});
};
 
jQuery(document).ready(function() {
  
    
$(".clicktag").click(function(){
            $.ajax({  
				url:"/domas/ajax/geturl",
				type:'post',
				data:$('form#addapi').serialize(),
				dataType: 'json',
				success: function(r){
                 //   alert(r.indexes[0]);
				 var result  =r.indexes[0];

      $.ajax({
			url:"/domas/ajax/setcrawlinit",
			content:'json',
		type:'post',
			data:{url:result},
		beforeSend:function(){
			
			},
			complete:function(result){
				
			},
			success: function(data){
                //console.log(data);
//                window.location.replace(data.url);
             window.open(data.url, '', '')

            },
			error:function(){
				
			}
		});
					
				},
				error: function(r){
									
				
					
				}
	 
		});
  
      
                   // }
               
                
                
   
    
});      
var EditApi = function () {
    
	var handleAdd = function() {
		$('form#addapi').validate({
	            //errorElement: 'span', //default input error message container
	            //errorClass: 'label-danger', // default input error message class
	            focusInvalid: false, // do not focus the last invalid input
	            rules: {
	               
	            },
	         

	            messages: {
					
	            },

	            invalidHandler: function (event, validator) { //display error alert on form submit   
	                //$('.alert-danger', $('.login-form')).show();
	                //console.log(event);
	                //console.log(validator);
	                
					//$('span.help-block').show();
					$('span.help-block').hide();
	                var errorlist = validator.errorList;
	                if(errorlist.length>0){
						for(var i = 0; i<errorlist.length; i++){
							//console.log(errorlist[i].element);
							var el = errorlist[i].element; 
							var next = $(el).next('span.help-block'); 
							$(next).slideDown();
						}
						$('html,body').animate({
							scrollTop: $(el).offset().top-100
						}, 800);
					}
	            },

	            highlight: function (element) { // hightlight error inputs
	                $(element)
	                    .closest('.form-group').addClass('has-error'); // set error class to the control group
	            },

	            success: function (label) {
	                label.closest('.form-group').removeClass('has-error');
	                //label.remove();
	            },

	            errorPlacement: function (error, element) {
					$('span.help-block').hide();
					var next = element.next('span.help-block'); 
					//console.log(error);
	                if(error[0].textContent!=""){
						$(next).html("<i class='fa fa-warning'></i> "+ error[0].textContent);
						$(element).next().slideDown();
						$('html,body').animate({
							scrollTop: $(element).offset().top-100
						}, 800);
					}
	            },

	            submitHandler: function (form) {
                   
					$('span.help-block').hide();
					$('.form-group').removeClass('has-error');
	                //form.submit(); // form validation success, call ajax form submit
	                submitForm();
	                return false;
	            }
	        });

	        $('form#addapi input').keypress(function (e) {
	            if (e.which == 13) {
					$('span.help-block').hide();
					$('.form-group').removeClass('has-error');
	                if ($('form#addapi').validate().form()) {
	                   //$('form#addapi').submit(); //form validation success, call ajax form submit
	                   submitForm();
	                }
	                return false;
	            }
	        });
	}
	
	var submitForm = function(){
		//console.log($('form#addapi').serialize());
      
		$.ajax({
			url:"/domas/ajax/updatecrawl",
			content:'json',
			type:'post',
			data:$('form#addapi').serialize(),
			beforeSend:function(){
				$('#alertinfo').addClass('hidden');
				$('#processbar').removeClass('hidden');
				$('#alertinfo').removeClass('alert-success');
				$('#alertinfo').removeClass('alert-warning');
				$('#alertinfo').removeClass('alert-danger');
				$('#alertinfo').removeClass('alert-info');
			},
			complete:function(result){
				$('#processbar').addClass('hidden');
			},
			success: function(data){
				//console.log(data);
				if(data.result!=undefined){
					if(data.result==true){
						toastr.info(data.retMsg);
                        //window.location.href = "/domas/index/setcrawler/id/"+data.id;
                    

                    setTimeout(function(){location.href="/domas/index/listcrawl"},2000);
						
					}else{
						           
                        toastr.error(data.retMsg);
					}
				}else{
					           
                        toastr.error('Error');
				}
				$('#alertinfo').removeClass('hidden');
			},
			error:function(){
				$('#alertinfo').addClass('alert-info');
				$('#alertmsg').html("<strong>Error!</strong> System is busy, please try again.");
				$('#alertinfo').removeClass('hidden');
			}
		});
	}
	
	

	var resetForm = function(){
		$('input','form#addapi')
			.not(':button, :submit, :reset, :hidden')
			.val('');
			
		$('select,option','form#addapi')
			.removeAttr('checked')
			.removeAttr('selected');
		
		$('.make-switch').bootstrapSwitch('setState',false);
		
		$('.ms-selectable').find('li').removeClass('ms-selected');
		$('.ms-selection').find('li').removeClass('ms-hover');
		$('.ms-selectable').find('li').removeAttr('style');
		
		$('.ms-selection').find('li').removeClass('ms-selected');
		$('.ms-selection').find('li').removeClass('ms-hover');
		$('.ms-selection').find('li').css({display:'none'});
	}
    
    return {
        //main function to initiate the module
        init: function () {
            handleAdd();
        }

    };

}();


//FormComponents3.init();

$('span.help-block').hide();
EditApi.init();




  
  });   


</script> 