
<div class="page-content">
    <div class="row">
        <div class="col-md-12">

            <div id="ajax-loader"  style="z-index:9999;  position: absolute; left: 0; top:1; width: 100%; display:none; opacity: 0.5; overflow:hidden;">
                <img style="margin: 15% auto; opacity: 1; display: block;" src="/assets/core/img/gears.gif">
            </div>

            <!-- BEGIN PAGE TITLE & BREADCRUMB-->
            <h4 class="page-title">
                Kategori<small></small>
            </h4>
            <!--
            <ul class="page-breadcrumb breadcrumb">
                <li>
                    <i class="fa fa-home"></i>
                    <a href="/">Home</a>
                    <i class="fa fa-angle-right"></i>
                </li>

                <li class="btn-group pull-right">
                        <button type="button" class="btn red">
                                <span>
                <?php

echo Zend_Auth::getInstance()->getIdentity()->fullname;

?>
                                </span>
                        </button>
                    </li>
                    <li class="btn-group">
                        <button type="button" class="btn grey dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-delay="1000" data-close-others="true">
                            <span>
                                Actions
                            </span>
                            <i class="fa fa-angle-down"></i>
                        </button>
                        <ul class="dropdown-menu pull-right" role="menu">
                            <li>
                                <a id="btn-addnew" href="#">Add Documents</a>
                            </li>

                            <li class="divider">
                            </li>

                        </ul>
                    </li>
                </ul>
                -->
                <!-- END PAGE TITLE & BREADCRUMB-->
            </div>
        </div>
         
         <div class="row">
                                     <div class="col-md-6">
                                  
                                <div class="portlet light " style="background-color:rgba(17, 38, 55, 0.8);margin-bottom: 5px;">
                                    <div class="portlet-title"  >
                                        <div class="caption">
                                            <!-- <i class="icon-social-dribbble font-grey-sharp"></i> -->
											 <i class="icon-social-dribbble" style="color:white;"></i> 
                                            <span class="caption-subject " ><font size="4px" color="White" style="bold" > Kategori </font></span>
                                        </div>
                                          <div class="tools">
                                            
                                        </div>
                                        <div class="actions">
                                            <div class="btn-group">
                                                <a class="btn btn-circle btn-default " href="javascript:;" id="newCate" data-toggle="dropdown" aria-expanded="false">
                                                    <i class="fa fa-edit"></i> TAMBAH TOKOH BARU
                                                    <i class="fa fa-angle-down"></i>
                                                </a>
                                            </div>
                                           
                                        </div>
                                        
                                      
                                    </div>
                                    <div class="portlet-body" style="max-height: 580px;overflow: auto;">
									
                                            <div id="tax" style="color:#00CCFF;">
                                             
                                         </div>  
                                    </div>
                                </div>
                           
                                         
                                     </div>
                            <div id="edform" class="col-md-6 " style="color:#00CCFF;">
                                <!-- BEGIN Portlet PORTLET-->
                               
                                <!-- END GRID PORTLET-->
                            </div>
</div>
</div>


<div id="basic" class="modal fade modal-scroll modal-overflow in" tabindex="-1" style="background-color: rgba(17, 38, 55, 0.8);">
	<div class="modal-body" style="padding:5px" >   
		<div class="portlet light " style="background-color: rgba(17, 38, 55, 0.4);color:white">
		 <div class="portlet-title" >
				<div class="caption">
					<i class="icon-equalizer font-dark hide"></i>
					<span class="caption-subject font-dark bold uppercase"><font color="white">Media Sosial Terbaru</font></span>
				</div>
				<div class="tools">
					<a href="" class="collapse" data-original-title="" title=""> </a>
				</div>
			</div>
			<div class="portlet-body" id="content_test" style="background-color:white;color:black;">
											
			</div>   
			<div class="modal-footer">
			<button type="button" class="btn default" data-dismiss="modal">Tutup</button>
		</div>
		</div>
		
	</div>
</div> 


<script>

    function changeType(me) {
    var $me = $(me);
    var $val = $me.val();

    $.ajax({
    url: "/pmas/madmin/getcate/xxxid/" + $val,
    content: 'html',
    type: 'get',
    beforeSend: function() {
    //                $element.hide();
    //                $(next).children('span.label').html('<i class="fa fa-coffee"></i>&nbsp;Retrieve data...');
    //                $($element).next().slideDown();
},
complete: function(result) {

},
success: function(data) {
//                $($element).next().hide();
$("#doccat").html(data);
//                $element.slideDown();
},
error: function() {
//  $(next).children('span.label').html('<i class="fa fa-warning"></i>&nbsp;Failed to retrieve data.');
}
});


}



var gamasidx2 = 1;
var elem = 1;

function addGC2(me) {
var id = $(me).data('id');
var currow = $('body').find('.bread:last');
var str = '<div class="form-group row bread" id="bread' + (parseInt(gamasidx2) + 1) + '" data-id="' + (parseInt(gamasidx2) + 1) + '" >'
+ '<div class="col-md-10">'
+ '<div class="col-md-4">'
+ '<input  class="form-control input-sm" name="fname[]" placeholder="Field Name"  />'
+ '</div>'
+ '<div class="col-md-4">'
+ '<select class = "form-control input-sm" name = "ftype[]"  placeholder = "Type" >'
+ '<option value = "" > Choose Type</option>'
+ '<option value = "string">String</option>'
+ '<option value = "integer">Integer</option>'
+ '<option value = "date">Date</option>'
+ ' </select>'
+ '</div>'
+ '<div class="col-md-4">'
+ '<input   class="form-control input-sm"  name="fvalue[]" placeholder="Value (dateformat: 1995-12-31 23:59:59)" />'
+ '</div>'
+ '</div>'
+ '<div class="col-md-2">'
+ '<button type="button" class="btn red removeGC2" onclick="removeGC2(this); return false;" data-act="removeGC2" data-id="' + (parseInt(gamasidx2) + 1) + '" style="padding: 5px;">Remove</button>'
+ '</div>'
+ '</div>';
gamasidx2++;
//console.log(str);
currow.after(str);
}


function removeGC2(me) {
var id = $(me).data('id');
//console.log(id);
$('body').find('#bread' + id + ':first').remove();
}

jQuery(document).ready(function() {
	
    
 $("#newMain").click(function(){
     
            $.ajax({
            url: "/profilingmodul/general/gettokoh/id/TAX",
            content: 'html',
            beforeSend: function() {
            },
            complete: function(result) {
            },
            success: function(data) {
                jQuery('#edform').html(data);
                $("#ajax-loader").hide();
            },
            error: function() {

            }
            });  

    });   
     $("#newCate").click(function(){
     
            $.ajax({
            url: "/profilingmodul/general/gettokoh/id/0",
            content: 'html',
            beforeSend: function() {
            },
            complete: function(result) {
            },
            success: function(data) {
                jQuery('#edform').html(data);
                $("#ajax-loader").hide();
            },
            error: function() {

            }
            });

    });   
 
$('span.help-block').hide();
            $('#tax').jstree({
                "core": {
                'data': {
                'url': '/profilingmodul/general/tokoh',
                'data': function(node) {
                return {'id': node.id};
            }
            },
            "themes": {
            "responsive": false
            },
            // so that create works
            "check_callback": true,
			 
            },
            "types": {
            "default": {
            "icon": "fa fa-folder icon-state-warning icon-lg"
            },
            "file": {
            "icon": "fa fa-file icon-state-warning icon-lg"
            }
            },

            "plugins": [ "search", "types"]
});

var tree = $("#tax");
    tree.bind("loaded.jstree", function (event, data) {
        tree.jstree("open_all");
    });

var $tree = $('#tax')

.on("move_node.jstree", function(e, data) {

})
.on('loaded.jstree', function() {
    if(!$("body" ).hasClass('page-sidebar-closed')){

			//		$( ".menu-toggler" ).click();

				}
//$tree.jstree('open_all');
})
.on('changed.jstree', function(e, data) {
            //console.log(data);
            $("#ajax-loader").show();
            //alert(data.node);
            //alert(data.node);
            if(data.node===undefined){
            //alert("ok");
            $("#ajax-loader").hide();
            }else {
              //  alert("nok");

            $.ajax({
            url: "/profilingmodul/general/gettokoh/id/"+data.node.id,
            content: 'html',
            beforeSend: function() {
            },
            complete: function(result) {
            },
            success: function(data) {
                jQuery('#edform').html(data);
                $("#ajax-loader").hide();
            },
            error: function() {
            $("#ajax-loader").hide();
            }
            });

                }


})

$('#using_json_2').jstree({'core': {
'data': {
'url': function(node) {
return node.id === '#' ?
'/pendem/index/jsontree/xx/' + $("#searching").val() :
'/pendem/index/jsontree/nested/1/xid/' + node.id + '/bundle/' + node.original.bundle + '/xx/' + $("#searching").val();
},
'data': function(node) {
return {'id': node.id};
}
},
"check_callback": true

},
"types": {
"default": {
"icon": "fa fa-folder icon-state-warning icon-lg"
},
"file": {
"icon": "fa fa-file icon-state-warning icon-lg"
}
},
"state": {"key": "dem"},
"plugins": ["types", "checkbox"]

});



// handle link clicks in tree nodes(support target="_blank" as well)
$('#using_json_2')
.on("copy_node.jstree", function(e, data) {
// alert("s");
//console.log(data);
$.ajax({
url: "/pendem/index/mapping",
content: 'json',
type: 'post',
data: {text: data.node.text, parent: data.node.parent},
beforeSend: function() {
},
complete: function(result) {


},
success: function(data) {

$('#tax').jstree("refresh");
$('#using_json_2').jstree("refresh");
},
error: function() {

}
});

})
.on('select_node.jstree', function(e, data) {
$("#ajax-loader").show();
var datay = {
id: data.node.original.id
};

$.ajax({
url: "/pendem/index/getid",
content: 'html',
type: 'get',
data: datay,
beforeSend: function() {
},
complete: function(result) {


},
success: function(data) {
jQuery('#rightcol').html(data);
$("#ajax-loader").hide();
},
error: function() {

}
});


});



var UIExtendedModals3 = function() {

return {
//main function to initiate the module
init: function() {

// general settings
$.fn.modal.defaults.spinner = $.fn.modalmanager.defaults.spinner =
'<div class="loading-spinner" style="width: 200px; margin-left: -100px;">' +
'<div class="progress progress-striped active">' +
'<div class="progress-bar" style="width: 100%;"></div>' +
'</div>' +
'</div>';

$.fn.modalmanager.defaults.resize = true;

//static demo:
var $modal2 = $('#static');

// handle record edit/remove
$('body').on('click', '#user_table_wrapper .btn-delete', function() {
var id = $(this).attr("data-id");

if ($modal2.find('td#static_id') != undefined) {
$modal2.find('td#static_id').html(id);
}

$modal2.modal();
});

$modal2.on('click', 'button#deleteconfirm', function() {
var id = $modal2.find('td#static_id').html();
//alert(id);
$.ajax({
url: "/prabajax/deleteapi",
content: 'json',
type: 'post',
data: {uid: id},
beforeSend: function() {
$('#processbar2').removeClass('hidden');
$('#alertinfo2').removeClass('alert-success');
$('#alertinfo2').removeClass('alert-warning');
$('#alertinfo2').removeClass('alert-danger');
$('#alertinfo2').removeClass('alert-info');
},
complete: function(result) {
$('#processbar2').addClass('hidden');
},
success: function(data) {
//console.log(data);
if (data.result != undefined) {
if (data.result == true) {
$('#alertinfo2').addClass('alert-success');
$('#alertmsg2').html("<strong>Success!</strong> " + data.retMsg);
$("a.reload").click();
$modal2.modal('hide');
} else {
$('#alertinfo2').addClass('alert-warning');
$('#alertmsg2').html("<strong>Failed!</strong> " + data.retMsg);
}
} else {
$('#alertinfo2').addClass('alert-info');
$('#alertmsg2').html("<strong>Error!</strong> System is busy, please try again.");
}
$('#alertinfo2').removeClass('hidden');
},
error: function() {
$('#alertinfo2').addClass('alert-info');
$('#alertmsg2').html("<strong>Error!</strong> System is busy, please try again.");
$('#alertinfo2').removeClass('hidden');
}
});
});

var $modal3 = $('#static2');
$('body').on('click', '#btn-addnew', function() {
$modal3.modal();
});

$modal3.on('hide.bs.modal', function(e) {
$('#processbar').addClass('hidden');
$('#alertinfo').addClass('hidden');
});

$modal3.on('hidden.bs.modal', function(e) {
$('#processbar').addClass('hidden');
$('#alertinfo').addClass('hidden');
});
}

};

}();

UIExtendedModals3.init();

var Add = function() {
var handleAdd = function() {
$('form#add').validate({
focusInvalid: false, // do not focus the last invalid input
rules: {
dname: {
required: true
},
dtype: {
required: true
},
docdesc: {
required: true 
}
},
messages: {
},
invalidHandler: function(event, validator) {

$('span.help-block').hide();
var errorlist = validator.errorList;
if (errorlist.length > 0) {
for (var i = 0; i < errorlist.length; i++) {
//console.log(errorlist[i].element);
var el = errorlist[i].element;
var next = $(el).next('span.help-block');
$(next).slideDown();
}
$('.modal-scrollable:visible').animate({
scrollTop: $(el).offset().top
}, 800);
}
},
highlight: function(element) { // hightlight error inputs
$(element)
.closest('.form-group').addClass('has-error'); // set error class to the control group
},
success: function(label) {
label.closest('.form-group').removeClass('has-error');
//label.remove();
},
errorPlacement: function(error, element) {
$('span.help-block').hide();
var next = element.next('span.help-block');
//console.log(error);
if (error[0].textContent != "") {
$(next).children('span.label').html("<i class='fa fa-warning'></i> " + error[0].textContent);
$(element).next().slideDown();
$('.modal-scrollable:visible').animate({
scrollTop: $(element).offset().top
}, 800);
}
},
submitHandler: function(form) {
$('#alertinfo').addClass('hidden');
$('span.help-block').hide();
$('.form-group').removeClass('has-error');
//form.submit(); // form validation success, call ajax form submit
submitForm();
return false;
}
});

$('form#add input').keypress(function(e) {
if (e.which == 13) {
$('span.help-block').hide();
$('.form-group').removeClass('has-error');
if ($('form#addapi').validate().form()) {
//$('form#addapi').submit(); //form validation success, call ajax form submit
submitForm();
}
return false;
}
});
}

var submitForm = function() {

$.ajax({
url: "/pendem/index/adddoc",
content: 'json',
type: 'post',
data: $('form#add').serialize(),
beforeSend: function() {
$('#alertinfo').addClass('hidden');
$('#processbar').removeClass('hidden');

$('#alertinfo').removeClass('alert-success');
$('#alertinfo').removeClass('alert-warning');
$('#alertinfo').removeClass('alert-danger');
$('#alertinfo').removeClass('alert-info');
},
complete: function(result) {
$('#processbar').addClass('hidden');
},
success: function(data) {
//console.log(data);
if (data.result != undefined) {
if (data.result == true) {
$('#alertinfo').addClass('alert-success');
$('#alertmsg').html("<strong>Success!</strong> " + data.retMsg);
//resetForm();
} else {
$('#alertinfo').addClass('alert-warning');
$('#alertmsg').html("<strong>Failed!</strong> " + data.retMsg);
}
} else {
$('#alertinfo').addClass('alert-info');
$('#alertmsg').html("<strong>Error!</strong> System is busy, please try again.");
}
$('#alertinfo').removeClass('hidden');

},
error: function() {
$('#alertinfo').addClass('alert-info');
$('#alertmsg').html("<strong>Error!</strong> System is busy, please try again.");
$('#alertinfo').removeClass('hidden');
}
});
}



var resetForm = function() {
//$('input','form#addapi')
//.not(':button, :submit, :reset, :hidden')
//.val('');

$('select,option', 'form#addapi')
//.removeAttr('checked')
//.removeAttr('selected');

$('.make-switch').bootstrapSwitch('setState', false);

$('.ms-selectable').find('li').removeClass('ms-selected');
$('.ms-selection').find('li').removeClass('ms-hover');
$('.ms-selectable').find('li').removeAttr('style');

$('.ms-selection').find('li').removeClass('ms-selected');
$('.ms-selection').find('li').removeClass('ms-hover');
$('.ms-selection').find('li').css({display: 'none'});
}

return {
//main function to initiate the module
init: function() {
handleAdd();
}

};

}();

Add.init();

});
</script>
