<?php 
if($_GET[x]){
	$authAdapter = Zend_Auth::getInstance();
	$identity = $authAdapter->getIdentity();
	Zend_Debug::dump($identity);
}
	$authAdapter = Zend_Auth::getInstance();
	$identity = $authAdapter->getIdentity();
	$uname = $identity->uname;
?>
<style>
#foto {
    width: 80px;
	height: 100px;
}
</style>
<h3 align="center">KUESIONER KEPUASAN PENGELOLA TIP</h3>
<h3 align="center">PT JASA MARGA (PERSERO) Tbk</h3>
<div class="col-md-12">
	<div class="portlet light">
		<div class="portlet-title">
			<div class="caption">
				<!--<i class="icon-pencil font-blue-sharp"></i>-->
				<span class="caption-subject font-blue-sharp bold uppercase">
					PETUNJUK PENGISIAN
				</span>
			</div>
			<div class="actions">
				
			</div>
		</div>
		<div class="portlet-body">
			<p>
				Bapak/Ibu dimohon memberikan penilaian dengan cara memilih salah satu dari 6 alternatif pilihan tingkat kesetujuan Anda tentang pernyataan yang diajukan, sebagai berikut: <br><br>
				<strong>6</strong> : <strong>SS (Sangat setuju)</strong> : Jika pernyataan tersebut <strong>benar-benar menggambarkan</strong> kenyataan/praktek. <br>
				<strong>5</strong> : <strong>S (Setuju)</strong> : Jika pernyataan tersebut <strong>pada umumnya</strong> terjadi. <br>
				<strong>4</strong> : <strong>CS (Cenderung Setuju)</strong> : Jika pernyataan tersebut <strong>cenderung terjadi</strong>. <br>
				<strong>3</strong> : <strong>CTS (Cenderung Tidak Setuju)</strong> : Jika pernyataan tersebut <strong>cenderung tidak terjadi</strong>. <br>
				<strong>2</strong> : <strong>TS (Tidak Setuju)</strong> : Jika pernyataan tersebut <strong>tidak banyak</strong> terjadi. <br>
				<strong>1</strong> : <strong>STS (Sangat tidak setuju)</strong> : Jika pernyataan tersebut <strong>bertolak belakang</strong> dengan kenyataan/praktek. 
			</p>
			
		</div>
	</div>
</div>
<div align="center">
<a href="/surveyext/z/index/id/5/pid/81" class="btn green">&lt;&lt; Prev</a>
<button type="" class="btn next4page green">Next &gt;&gt;</button>   
</a>
</div>

<script>
jQuery(document).ready(function() {
	
	$('.page-head').remove();
	$('.page-title').remove();
	$('.page-breadcrumb').remove();
	
});

</script>
