<?php
	
	$cc = new Surveyext_Model_General();
	$vdat = $cc->get_survey_id(7);
	$auth = Zend_Auth::getInstance();
	$identity = $auth->getIdentity();
	$vf = $_SERVER['REQUEST_URI'];
	$var = explode("/", $vf);
	$uname = $identity->uname;
	$uid = $identity->uid;
	$data = $cc->get_attr_iklan_utilitas();
	$resp = $cc->get_resp_tip();
	// Zend_Debug::dump($resp); //die();
	foreach($resp as $k=>$v){
		// Zend_Debug::dump(json_decode($v)); //die();
		if(json_decode($v)){
			$resp[$k] = json_decode($v);
		}
	}
	// Zend_Debug::dump($resp); die();	
?>

<style>
	ul.checkbox li { 
		border: 1px transparent solid; 
		display:inline-block;
		width:12em;
	}
</style>

<div class="col-md-offset-2 col-md-8 col-md-offset-2">
	<div class="portlet light bordered">
		<div class="portlet-title">
			<span class="caption-subject font-dark sbold uppercase"><center><H3>Data Umum Usaha</H3></center></span>
		</div>
		
		<div class="portlet-body form">
			<form role="form" class="form-horizontal" id="respondenform" method="post">
				<input type="hidden" name="class" value="Surveyext_Model_General" />
				<input type="hidden" name="function" value="addrespondenutilitas" />
				<input type="hidden" name="survey_id" value="<?php
					echo $var[5];
				?>" />
				<input type="hidden" name="page_id" value="<?php
					echo $var[7];
				?>" />
				<input type="hidden" name="uid" value="<?php
					echo $identity->uid;
				?>" />
				
				<div class="form-body">
					<strong><p align="left">Silakan isi data diri Anda sebelum mulai mengisi survei</p></strong>
					<div class="form-group">
						<label class="col-md-5 control-label">Ruas Jalan Tol</label>
						<div class="col-md-7">
							<input type="hidden" id="ruas_tol" name="ruas_tol" value="<?php echo $data['loc_name']; ?>">
							<input class="form-control" type="text" value="<?php echo $data['loc_name']; ?>" name="nama_perusahaan_v" disabled="">
							<span class="help-block"></span>
						</div>
					</div>
					<div class="form-group">
						<label class="col-md-5 control-label">Nama Perusahaan</label>
						<div class="col-md-7">
							<input type="hidden" id="nama_perusahaan" name="nama_perusahaan" value="<?php echo $data['fullname']; ?>">
							<input class="form-control" type="text" value="<?php echo $data['fullname']; ?>" name="nama_perusahaan_v" disabled="">
							<span class="help-block"></span>
						</div>
					</div>
					<div class="form-group">
						<label class="col-md-5 control-label">Nama Koresponden<span class="required" aria-required="true"> * </span></label>
						<div class="col-md-7">
							<input class="form-control" type="text" value="<?php echo (isset($resp['koresponden_tip'])?$resp['koresponden_tip']:'') ?>" id="koresponden_tip" name="koresponden_tip">
							<span class="help-block"></span>
						</div>
					</div>
					<div class="form-group">
						<label class="col-md-5 control-label">Jabatan dalam Perusahaan<span class="required" aria-required="true"> * </span></label>
						<div class="col-md-7">
							<input class="form-control" type="text" value="<?php echo (isset($resp['jabatan_tip'])?$resp['jabatan_tip']:'') ?>" id="jabatan_tip" name="jabatan_tip">
							<span class="help-block"></span>
						</div>
					</div>
					<div class="form-group">
						<label class="col-md-12"><strong>1. Berapa jumlah titik Utilitas yang Bapak/Ibu pasang di Jasa Marga? <span class="required" aria-required="true"> * </span></strong></label>
						<div class="col-md-12">
							<label class="radio-inline"><input type="radio" id="optionsRadios1" name="jml_utilitas" value="1" required <?php
								if($resp['q1'] == '1') {
									echo "checked";
								}
							?>>1</label>
							<label class="radio-inline"><input type="radio" id="optionsRadios2" name="jml_utilitas" value="2-4" required <?php
								if($resp['q1'] == '2-4') {
									echo "checked";
								}
							?>>2 - 4</label>
							<label class="radio-inline"><input type="radio" id="optionsRadios3" name="jml_utilitas" value="5-7" required <?php
								if($resp['q1'] == '5-7') {
									echo "checked";
								}
							?>>5 - 7</label>
							<label class="radio-inline"><input type="radio" id="optionsRadios4" name="jml_utilitas" value="8-10" required <?php
								if($resp['q1'] == '8-10') {
									echo "checked";
								}
							?>>8 - 10</label>
							<label class="radio-inline"><input type="radio" id="optionsRadios5" name="jml_utilitas" value=">10" required <?php
								if($resp['q1'] == '>10') {
									echo "checked";
								}
							?>>lebih dari 10</label>
							<span class="help-block"></span>
						</div>
					</div>
					<div class="form-group">
						<label class="col-md-12"><strong>2. Jenis Utilitas yang Bapak/Ibu pasang (boleh mengisi lebih dari satu)? <span class="required" aria-required="true"> * </span></strong></label>
						<div class="col-md-12">
						<ul class="checkbox">
							<li><label><input type="checkbox" name="utilitas[]" value="Menara Telekom" class="Checkbox" required <?php
								if(in_array("Menara Telekom",$resp['q2'])) {
									echo "checked";
								}
							?>>Menara Telekom</label></li>
							<li><label><input type="checkbox" name="utilitas[]" value="Kabel Telekom" class="Checkbox" required <?php
								if(in_array("Kabel Telekom",$resp['q2'])) {
									echo "checked";
								}
							?>>Kabel Telekom</label></li>
							<li><label><input type="checkbox" name="utilitas[]" value="Menara Listrik" class="Checkbox" required <?php
								if(in_array("Menara Listrik",$resp['q2'])) {
									echo "checked";
								}
							?>>Menara Listrik</label></li>
							<li><label><input type="checkbox" name="utilitas[]" value="Kabel Listrik" class="Checkbox" required <?php
								if(in_array("Kabel Listrik",$resp['q2'])) {
									echo "checked";
								}
							?>>Kabel Listrik</label></li>
							<li><label><input type="checkbox" name="utilitas[]" value="Pipa Gas" class="Checkbox" required <?php
								if(in_array("Pipa Gas",$resp['q2'])) {
									echo "checked";
								}
							?>>Pipa Gas</label></li>
							<li><label><input type="checkbox" name="utilitas[]" value="Pipa BBM" class="Checkbox" required <?php
								if(in_array("Pipa BBM",$resp['q2'])) {
									echo "checked";
								}
							?>>Pipa BBM</label></li>
							<li><label><input type="checkbox" name="utilitas[]" value="Pipa Saluran Air" class="Checkbox" required <?php
								if(in_array("Pipa Saluran Air",$resp['q2'])) {
									echo "checked";
								}
							?>>Pipa Saluran Air</label></li>
							<li><label><input type="checkbox" name="utilitas[]" value="Layanan Lainnya" class="Checkbox" required <?php
								if(in_array("Layanan Lainnya",$resp['q2'])) {
									echo "checked";
								}
							?>>Layanan Lainnya</label></li>
							<span class="help-block"></span>
						</ul>
						</div>
					</div>
					<div class="form-group">
						<label class="col-md-12"><strong>3. Berapa lama Bapak/Ibu menjalin kerjasama dalam pemasangan utilitas dengan Jasa Marga? <span class="required" aria-required="true"> * </span></strong></label>
						<div class="col-md-12">
							<label class="radio-inline"><input type="radio" id="optionsRadios6" name="durasi_u" value="<1" required <?php
								if($resp['q3'] == '<1') {
									echo "checked";
								}
							?>>kurang dari 1 tahun</label>
							<label class="radio-inline"><input type="radio" id="optionsRadios7" name="durasi_u" value="1-2" required <?php
								if($resp['q3'] == '1-2') {
									echo "checked";
								}
							?>>1 - 2 tahun</label>
							<label class="radio-inline"><input type="radio" id="optionsRadios8" name="durasi_u" value="2-3" required <?php
								if($resp['q3'] == '2-3') {
									echo "checked";
								}
							?>>2 - 3 tahun</label>
							<label class="radio-inline"><input type="radio" id="optionsRadios9" name="durasi_u" value="3-4" required <?php
								if($resp['q3'] == '3-4') {
									echo "checked";
								}
							?>>3 - 4 tahun</label>
							<label class="radio-inline"><input type="radio" id="optionsRadios10" name="durasi_u" value=">4" required <?php
								if($resp['q3'] == '>4') {
									echo "checked";
								}
							?>>lebih dari 4 tahun</label>
							<span class="help-block"></span>
						</div>
					</div>
					
				</div>
				<div class="form-actions">
					<div class="row" align="center">
                        <a href="/surveyext/z/index/id/7/pid/<?php

						echo $vdat['summary_page'];

						?>" class="btn green">Summary</a>   
                        <!--<button class="btn green" type="button">&lt;&lt; Prev</button>-->
                        <button class="btn green submitform" type="submit">Next &gt;&gt;</button>
                        
					</div>
				</div>
			</form>
		</div>
		
	</div>
</div>