<?php

	$m = new Model_System();
	$auth = Zend_Auth::getInstance();
	$identity = $auth->getIdentity();
	$uname = $identity->uname;
	$uid = $identity->uid;
	$gr_nametag = $m->call_api(185)['data'];
	$unit_nametag = $m->call_api(201)['data'];
	$gr_jaket = $m->call_api(177)['data'];
	$jabat = $m->call_api(187)['data'];
	$unit_jaket = $m->call_api(189)['data'];
	$opt_nametag = $m->call_api(191)['data'];
	// Zend_Debug::dump($unit_jaket); // die();
	$dd = new Surveyext_Model_Data();
	$data = $dd->get_poll_nametag();
	$data2 = $dd->get_poll_jaket();
	// Zend_Debug::dump($data2); //die();
?>

<style>
	<!--th.hide_me, td.hide_me {display: none;}-->
</style>

<div class="col-md-12">
	<div class="portlet box blue">
		<div class="portlet-title">
			<div class="caption">Report</div>
			<ul class="nav nav-tabs" id="myTab">
				<li class="active">
					<a data-toggle="tab" href="#tab_nametag" aria-expanded="true"> Survey Desain Name Tag </a>
				</li>
				<li class="">
					<a data-toggle="tab" href="#tab_jaket" aria-expanded="false"> Survey Desain Jaket </a>
				</li>
			</ul>
		</div>
		
		<div class="portlet-body">
			<div class="tab-content">
				<div class="tab-pane active" id="tab_nametag">
					<div class="portlet box blue">
						<div class="portlet-title">
							<div class="caption">
								Survey Desain Name Tag
							</div>
						</div>
						
						<div class="portlet-body">
							<table class="table table-striped table-bordered table-hover" id="table_nametag">
							<thead>
								<tr>
									<th style="text-align:center">No</th>
									<th style="text-align:center">Pertanyaan Survey</th>
									<th style="text-align:center">Jumlah</th>
								</tr>
							</thead>
							<tbody>
							
								<tr>
									<td align="middle">1</td>
									<td align="left">Setuju</td>
									<td align="middle"><?php
										echo $data[181][1]['total'];
									?></td>
								</tr>
								<tr>
									<td align="middle"></td>
									<td align="left">Tidak Setuju</td>
									<td align="middle"><?php 
										echo $data[181][0]['total']
									?></td>
								</tr>
								<tr>
									<td align="middle">2</td>
									<td align="left">Sudah Sesuai</td>
									<td align="middle"><?php 
										echo $data[183][1]['total']
									?></td>
								</tr>
								<tr>
									<td align="middle"></td>
									<td align="left">Kurang Sesuai</td>
									<td align="middle"><?php 
										echo $data[183][0]['total']
									?></td>
								</tr>
								<tr>
									<td align="middle">3</td>
									<td align="left">Desain Kartu</td>
									<td align="middle"><?php 
										echo $data[185][1]['total']
									?></td>
								</tr>
								<tr>
									<td align="middle"></td>
									<td align="left">Jumlah kartu yang diberikan</td>
									<td align="middle"><?php 
										echo $data[185][2]['total']
									?></td>
								</tr>
								<tr>
									<td align="middle"></td>
									<td align="left">Informasi pada kartu</td>
									<td align="middle"><?php 
										echo $data[185][3]['total']
									?></td>
								</tr>
								<tr>
									<td align="middle"></td>
									<td align="left">Lainnya</td>
									<td align="middle"><?php 
										echo $data[185][4]['total']
									?></td>
								</tr>
								<tr>
									<td align="middle">4</td>
									<td align="left">Alternatif 1</td>
									<td align="middle"><?php 
										echo $data[187][1]['total']
									?></td>
								</tr>
								<tr>
									<td align="middle"></td>
									<td align="left">Alternatif 2</td>
									<td align="middle"><?php 
										echo $data[187][2]['total']
									?></td>
								</tr>
								<tr>
									<td align="middle"></td>
									<td align="left">Alternatif 3</td>
									<td align="middle"><?php 
										echo $data[187][3]['total']
									?></td>
								</tr>
								<tr>
									<td align="middle"></td>
									<td align="left">Alternatif 4</td>
									<td align="middle"><?php 
										echo $data[187][4]['total']
									?></td>
								</tr>
							
							</tbody>
							</table>
						</div>
					</div>
					
					<div class="portlet box blue">
						<div class="portlet-title">
							<div class="caption">Filter</div>
						</div>
						<div class="portlet-body">
							<form class="form-horizontal" method="POST">
								<div class="form-group">
									<label class="col-sm-2 control-label bold">Grade</label>
									<div class="col-sm-4">
										<select name="grade1" class="form-control " id="gradetag" >
											<option value="0">Pilih Grade</option>
											<?php
												foreach($gr_nametag as $k=>$v){
													echo '<option value="'.$v['grade_name'].'">'.$v['grade_name'].'</option>';
												}
											?>
										</select>
									</div>
								</div>
								<div class="form-group">
									<label class="col-sm-2 control-label bold">Unit Kerja</label>
									<div class="col-sm-4">
										<select name="unit1" class="form-control " id="unittag">
											<option value="0">Pilih Unit Kerja</option>
											<?php
												foreach($unit_nametag as $k=>$v){
													echo '<option value="'.$v['work_unit'].'">'.$v['work_unit'].'</option>';
												}
											?>
										</select>
									</div>				
								
								<button type="submit" id="fltr_nametag" class="btn blue">Filter</button>
								</div>
							</form>
						</div>
					</div>
					
					<div class="portlet box blue">
						<div class="portlet-title">
							<div class="caption">Detail Survey</div>
						</div>
						<div class="portlet-body">
						<!--<div style="width:100%; display: block; overflow: auto;">-->
							<!--<div class="table-responsive">-->
							<?php
								 
								$datasurvey0 = $dd->getdetailtag();
								$surveyitems0 = $dd->getSurveyItemsTag($id);
								$data0 = array();
								
								foreach($datasurvey0 as $row0){
									$new0[$row0['user_id']]['data0']=$row0;
									$new0[$row0['user_id']]['jawaban0'][$row0['survey_item_id']]=$row0;
								}
									$header0 = '';
									foreach($surveyitems0 as $k=>$v){
									  $header0 .='  <td>'.$v['num_id'].'</td>';
									}
									$html0 ='';
									$html0 .='<table class="table table-striped table-hover table-bordered" id="table_detail_nametag">';
									$html0 .='<thead>';
									$html0 .='<tr>';
									$html0 .='<td align="middle">No</td>';
									$html0 .='<td align="middle">NPP</td>';
									$html0 .='<td align="middle">Nama</td>';
									$html0 .='<td align="middle">Grade</td>';
									$html0 .='<td align="middle">Unit Kerja</td>';
									$html0 .='<td align="middle">No 1</td>';
									$html0 .='<td align="middle">Alasan</td>';
									$html0 .='<td align="middle">No 2</td>';
									$html0 .='<td align="middle">Alasan</td>';
									$html0 .='<td align="middle">No 3</td>';
									$html0 .='<td align="middle">Alasan</td>';
									$html0 .='<td align="middle">No 4</td>';
									$html0 .='<td align="middle">No 5</td>';
									$html0 .='</tr>';
									$html0 .='</thead>';
									$html0 .='<tbody>';
									$i=1;
									foreach($new0 as $k0=>$v0){
									$html0 .='<tr>';
										$html0 .='<td>'.$i.'</td>';
										$html0 .='<td>'.$v0['data0']['npp'].'</td>';
										$html0 .='<td>'.$v0['data0']['fullname'].'</td>';
										$html0 .='<td>'.$v0['data0']['grade'].'</td>';
										$html0 .='<td>'.$v0['data0']['work_unit'].'</td>';
										$html0 .='<td>'.$dd->getconv181($v0['jawaban0'][181]['survey_answ_int']).'</td>';
										if(!is_numeric($v0['jawaban0'][181]['survey_answ_text'])){
											$html0 .='<td>'.$v0['jawaban0'][181]['survey_answ_text'].'</td>';
										}else{
											$html0 .='<td>-</td>'; 
										}
										$html0 .='<td>'.$dd->getconv183($v0['jawaban0'][183]['survey_answ_int']).'</td>';
										if(!is_numeric($v0['jawaban0'][183]['survey_answ_text'])){
											$html0 .='<td>'.$v0['jawaban0'][183]['survey_answ_text'].'</td>';
										}else{
											$html0 .='<td>-</td>'; 
										}
										// $text="";
										// if(!in_array($v0['jawaban0'][185]['survey_answ_text'], array("1","2","3","4","1,2","1,3","1,4","2,1","2,3","2,4","3,1","3,2","3,4","4,1","4,2","4,3","1,2,3","1,2,4","1,"))){
											// $text=$v0['jawaban0'][185]['survey_answ_text'];
										// }
										// $html0 .='<td>'.$dd->getmultipletag($v0['jawaban0'][185]['survey_answ_multiple']).'('.$text.')</td>';
										
										if (!is_numeric($v0['jawaban0'][185]['survey_answ_text'])){
											$html0 .='<td>'.$dd->getmultipletag($v0['jawaban0'][185]['survey_answ_multiple']).'('.$v0['jawaban0'][185]['survey_answ_text'].')</td>';
										}else{
											$html0 .='<td>'.$dd->getmultipletag($v0['jawaban0'][185]['survey_answ_multiple']).'</td>';
										}
										$html0 .='<td>'.$v0['jawaban0'][185]['reason'].'</td>';
										$html0 .='<td>'.$v0['jawaban0'][187]['survey_answ_int'].'</td>';
										$html0 .='<td>'.$v0['jawaban0'][189]['survey_answ_text'].'</td>';

									$html0 .='</tr>';
									$i++;
									}
									$html0 .='</tbody>';
									$html0 .='</table>';
									echo $html0;
							?>
							<!--</div>-->
						<!--</div>-->
						</div>
					</div>
					
				</div>
				
				<div class="tab-pane" id="tab_jaket">
					<div class="portlet box blue">
						<div class="portlet-title">
							<div class="caption">
								Survey Desain Jaket
							</div>
						</div>
						<div class="portlet-body">
							<table class="table table-striped table-bordered table-hover" id="table_jaket">
								<thead>
									<tr>
										<th style="text-align:center">No</th>
										<th style="text-align:center">Pertanyaan Survey</th>
										<th style="text-align:center">Jumlah</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td align="middle">1</td>
										<td align="left">Ya, dipakai setiap hari selama bertugas</td>
										<td align="middle"><?php 
											echo $data2[191][1]['total']
										?></td>
									</tr>
									<tr>
										<td align="middle"></td>
										<td align="left">Ya, dipakai hanya saat bertugas shift 3/udara dingin</td>
										<td align="middle"><?php 
											echo $data2[191][2]['total']
										?></td>
									</tr>
									<tr>
										<td align="middle"></td>
										<td align="left">Tidak pernah dipakai</td>
										<td align="middle"><?php 
											echo $data2[191][3]['total']
										?></td>
									</tr>
									<tr>
										<td align="middle"></td>
										<td align="left">Jaket tidak melindungi dari udara dingin</td>
										<td align="middle"><?php 
											echo $data2[198][1]['total']
										?></td>
									</tr>
									<tr>
										<td align="middle"></td>
										<td align="left">Jaket tidak melindungi dari cuaca gerimis</td>
										<td align="middle"><?php 
											echo $data2[198][2]['total']
										?></td>
									</tr>
									<tr>
										<td align="middle"></td>
										<td align="left">Warna jaket terlalu gelap sehingga tidak terlihat oleh pengguna jalan</td>
										<td align="middle"><?php 
											echo $data2[198][3]['total']
										?></td>
									</tr>
									<tr>
										<td align="middle"></td>
										<td align="left">Lainnya</td>
										<td align="middle"><?php 
											echo $data2[198][4]['total']
										?></td>
									</tr>
									<tr>
										<td align="middle">2</td>
										<td align="left">Bahan</td>
										<td align="middle"><?php 
											echo $data2[193][1]['total']
										?></td>
									</tr>
									<tr>
										<td align="middle"></td>
										<td align="left">Fungsi</td>
										<td align="middle"><?php 
											echo $data2[193][2]['total']
										?></td>
									</tr>
									<tr>
										<td align="middle"></td>
										<td align="left">Desain</td>
										<td align="middle"><?php 
											echo $data2[193][3]['total']
										?></td>
									</tr>
									<tr>
										<td align="middle"></td>
										<td align="left">Lainnya</td>
										<td align="middle"><?php 
											echo $data2[193][4]['total']
										?></td>
									</tr>
									<tr>
										<td align="middle">3</td>
										<td align="left">Alternatif 1</td>
										<td align="middle"><?php 
											echo $data2[195][1]['total']
										?></td>
									</tr>
									<tr>
										<td align="middle"></td>
										<td align="left">Alternatif 2</td>
										<td align="middle"><?php 
											echo $data2[195][2]['total']
										?></td>
									</tr>
									<tr>
										<td align="middle"></td>
										<td align="left">Alternatif 3</td>
										<td align="middle"><?php 
											echo $data2[195][3]['total']
										?></td>
									</tr>
									<tr>
										<td align="middle"></td>
										<td align="left">Alternatif 4</td>
										<td align="middle"><?php 
											echo $data2[195][4]['total']
										?></td>
									</tr>
									<tr>
										<td align="middle"></td>
										<td align="left">Alternatif 5</td>
										<td align="middle"><?php 
											echo $data2[195][5]['total']
										?></td>
									</tr>
									<tr>
										<td align="middle"></td>
										<td align="left">Alternatif 6</td>
										<td align="middle"><?php 
											echo $data2[195][6]['total']
										?></td>
									</tr>
									<tr>
										<td align="middle"></td>
										<td align="left">Tidak ada Desain yang cocok</td>
										<td align="middle"><?php 
											echo $data2[195][0]['total']
										?></td>
									</tr>
								</tbody>
								</table>
						</div>
					</div>
					<div class="portlet box blue">
						<div class="portlet-title">
							<div class="caption">Filter</div>
						</div>
						<div class="portlet-body">
							<form class="form-horizontal" method="POST">
								<div class="form-group">
									<label class="col-sm-2 control-label bold">Grade</label>
									<div class="col-sm-4">
										<select name="grade" class="form-control " id="gradejak" >
											<option value="0">Pilih Grade</option>
											<?php
												foreach($gr_jaket as $k=>$v){
													echo '<option value="'.$v['grade'].'">'.$v['grade'].'</option>';
												}
											?>
										</select>
									</div>
								</div>
								<div class="form-group">
									<label class="col-sm-2 control-label bold">Jabatan</label>
									<div class="col-sm-4">
										<select name="jabatan" class="form-control " id="jabatan" >
											<option value="0">Pilih Jabatan</option>
											<?php
												foreach($jabat as $k=>$v){
													echo '<option value="'.$v['jabatan'].'">'.$v['jabatan'].'</option>';
												}
											?>
										</select>
									</div>
								</div>
								<div class="form-group">
									<label class="col-sm-2 control-label bold">Unit Kerja</label>
									<div class="col-sm-4">
										<select name="unit" class="form-control " id="unitjak">
											<option value="0">Pilih Unit Kerja</option>
											<?php
												foreach($unit_jaket as $k=>$v){
													echo '<option value="'.$v['work_unit'].'">'.$v['work_unit'].'</option>';
												}
											?>
										</select>
									</div>				
								
								<button type="submit" id="fltr_jaket" class="btn blue">Filter</button>
								</div>
							</form>
						</div>
					</div>
					<div class="portlet box blue">
						<div class="portlet-title">
							<div class="caption">Detail Survey</div>
						</div>
						
						<div class="portlet-body">
						<!--<div style="width:100%; display: block; overflow: auto;">-->
						<?php
							$datasurvey = $dd->getdetailjak();
							$surveyitems = $dd->getSurveyItemsJak($id);
							$data = array();
							
							foreach($datasurvey as $row){
								$new[$row['user_id']]['data']=$row;
								$new[$row['user_id']]['jawaban'][$row['survey_item_id']]=$row;
							}
							$header = '';
							foreach($surveyitems as $k=>$v){
								$header .=' <td>'.$v['num_id'].'</td>';
							}
							$html = '';
							$html .='<table class="table table-striped table-hover table-bordered" id="table_detail_jaket">'; 
							$html .='<thead>';
							$html .='<tr>';
							$html .='<td align="middle">No</td>';
							$html .='<td align="middle">NPP</td>';
							$html .='<td align="middle">Nama</td>';
							$html .='<td align="middle">Grade</td>';
							$html .='<td align="middle">Jabatan</td>';
							$html .='<td align="middle">Unit Kerja</td>';
							$html .='<td align="middle">No 1</td>';
							$html .='<td align="middle">Tidak dipakai karena</td>';
							$html .='<td align="middle">Alasan</td>';
							$html .='<td align="middle">No 2</td>';
							$html .='<td align="middle">Alasan</td>';
							$html .='<td align="middle">No 3</td>';
							$html .='<td align="middle">Alasan</td>';
							$html .='<td align="middle">No 4</td>';
							$html .='</tr>';
							$html .='</thead>';
							$html .='<tbody>';
							$j=1;
							foreach($new as $k0=>$v0){
							$html .='<tr>';
								$html .='<td>'.$j.'</td>';
								$html .='<td>'.$v0['data']['npp'].'</td>';
								$html .='<td>'.$v0['data']['fullname'].'</td>';
								$html .='<td>'.$v0['data']['grade'].'</td>';
								$html .='<td>'.$v0['data']['jabatan'].'</td>';
								$html .='<td>'.$v0['data']['work_unit'].'</td>';
								$html .='<td>'.$dd->getconv191($v0['jawaban'][191]['survey_answ_int']).'</td>';
								$html .='<td>'.$dd->getmultiple198($v0['jawaban'][198]['survey_answ_multiple']).'</td>';
								$html .='<td>'.$v0['jawaban'][191]['reason'].'</td>';
								
								if (!is_numeric($v0['jawaban'][193]['survey_answ_text'])){
									$html .='<td>'.$dd->getmultiple193($v0['jawaban'][193]['survey_answ_multiple']).'('.$v0['jawaban'][193]['survey_answ_text'].')</td>';
								}else{
									$html .='<td>'.$dd->getmultiple193($v0['jawaban'][193]['survey_answ_multiple']).'</td>';
								}
								
								$html .='<td>'.$v0['jawaban'][193]['reason'].'</td>';
								$html .='<td>'.$dd->getconv195($v0['jawaban'][195]['survey_answ_int']).'</td>';
								if(!is_numeric($v0['jawaban'][195]['survey_answ_text'])){
									$html .='<td>'.$v0['jawaban'][195]['survey_answ_text'].'</td>';
								}else{
									$html .='<td>-</td>'; 
								}
								
								if(!is_numeric($v0['jawaban'][197]['survey_answ_text'])){
									$html .='<td>'.$v0['jawaban'][197]['survey_answ_text'].'</td>';
								}else{
									$html .='<td>-</td>'; 
								}
								  
							$html .='</tr>';
							$j++;
							}
							$html .='</tbody>';
							$html .='</table>';
							echo $html;
						?>
						<!--</div>-->
						</div>
					</div>
					
				</div>
		
			</div>
		</div>
	</div>
</div>

<script>
jQuery(document).ready(function() {
	
	$('.page-head').remove();
	$('.page-title').remove();
	$('.page-breadcrumb').remove();
	
});

$(document).ready(function(){
    $('#table_detail_nametag, #table_detail_jaket').dataTable({
        "aLengthMenu": [
			[5, 15, 20, -1],
			[5, 15, 20, "All"] // change per page values here
		],
		// set the initial value
		"iDisplayLength": 5,
		//"sPaginationType": "bootstrap",
		"bProcessing": true,
		"ordering": true,
		"language": {
			"sProcessing": '<div class="loading-spinner" style="width: 200px; margin-left: -100px; ">' +
			'<div class="progress progress-striped active">' +
			  '<div class="progress-bar" style="width: 100%;"></div>' +
			'</div>' +
		  '</div>',
		"emptyTable": "No data available in table",
		"info": "Showing _START_ to _END_ of _TOTAL_ entries",
		"infoEmpty": "No entries found",
		"infoFiltered": "(filtered1 from _MAX_ total entries)",
		"lengthMenu": "Show _MENU_ entries",
		"search": "Search:",
		"zeroRecords": "No matching records found",
		"sSearch": "Search all columns:"
		},
		
		"buttons": [
		{ extend: 'excel', className: 'btn white btn-outline ', text: 'Export To Excel'}
		],
		"dom": "<'row' <'col-md-12'B>><'row'<'col-md-6 col-sm-12'l><'col-md-6 col-sm-12'f>r><'table-scrollable't><'row'<'col-md-5 col-sm-12'i><'col-md-7 col-sm-12'p>>", 
		"aoColumnDefs": [{
				'bSortable': true,
				'aTargets': [0]
			}//,
			// { "sClass": 
				// "hide_me", "aTargets": [ 12,14  ] } // first column in visible columns array gets class "hide_me"
		] 
		
    });
});

$('#myTab a').click(function(e){
	e.preventDefault();
	$(this).tab('show');
});

$("ul.nav-tabs > li > a").on("show.bs.tab", function(e){
	var id = $(e.target).attr("href").substr(1);
	window.location.hash = id;
});

var hash = window.location.hash;
$('myTab a[href="' + hash + '"]').tab('show');

</script>