<?php

$m = new Model_System();
$cc = new Surveyext_Model_General();
$vdat = $cc->get_survey_id(5);
//Zend_Debug::dump($vdat);
$auth = Zend_Auth::getInstance();
$identity = $auth->getIdentity();
$vf = $_SERVER['REQUEST_URI'];
$var = explode("/", $vf);
$uname = $identity->uname;
$uid = $identity->uid;
$cabang = $m->call_api(171)['data'];
$gerbang = $m->call_api(173)['data'];
$c = new Surveyext_Model_General();
$data = $c->get_attr_tip();
$resp = $c->get_resp_tip();
$loc = $c->get_location();
//Zend_Debug::dump($data);
//Zend_Debug::dump($this); die('tes123');
//Zend_Debug::dump($data ); //die('tes123');
// $tahun = (int) date("Y", strtotime($data['tgl_lahir']));

?>

<div class="col-md-offset-2 col-md-8 col-md-offset-2">
	<div class="portlet light bordered">
		<div class="portlet-title">
			<span class="caption-subject font-dark sbold uppercase"><center><H3>Data Responden</H3></center></span>
		</div>
		
		<div class="portlet-body form">
			<form role="form" class="form-horizontal" id="respondenform" method="post">
             <input type="hidden" name="class" value="Surveyext_Model_General" />
             <input type="hidden" name="function" value="addrespondentip" />
               <input type="hidden" name="survey_id" value="<?php

echo $var[5];

?>" />
            <input type="hidden" name="page_id" value="<?php

echo $var[7];

?>" />
            <input type="hidden" name="uid" value="<?php

echo $identity->uid;

?>" />
				<div class="form-body">
					<strong><p align="left">Silakan isi data diri Anda sebelum mulai mengerjakan survei</p></strong>
					<div class="form-group">
						<label class="col-md-5 control-label">Nama Perusahaan</label>
						<div class="col-md-7">
							<input type="hidden" id="nama_perusahaan" name="nama_perusahaan" value="<?php echo $data['fullname']; ?>">
							<input class="form-control" type="text" value="<?php echo $data['fullname']; ?>" name="nama_perusahaan_v" disabled="">
							<span class="help-block"></span>
						</div>
					</div>
					<div class="form-group">
						<label class="col-md-5 control-label">Lokasi TIP</label>
						<div class="col-md-7">
							<input type="hidden" id="lokasi_tip" name="lokasi_tip" value="<?php echo $data['lokasi_tip']; ?>">
							<input class="form-control" type="text" value="<?php echo $data['lokasi_tip']; ?>" name="lokasi_tip_v" disabled="">
							<span class="help-block"></span>
						</div>
					</div>
					<div class="form-group">
						<label class="col-md-5 control-label">Nama Koresponden<span class="required" aria-required="true"> * </span></label>
						<div class="col-md-7">
							<input class="form-control" type="text" value="<?php echo (isset($resp['koresponden_tip'])?$resp['koresponden_tip']:'') ?>" id="koresponden_tip" name="koresponden_tip">
							<span class="help-block"></span>
						</div>
					</div>
					<div class="form-group">
						<label class="col-md-5 control-label">Jabatan dalam Perusahaan<span class="required" aria-required="true"> * </span></label>
						<div class="col-md-7">
							<input class="form-control" type="text" value="<?php echo (isset($resp['jabatan_tip'])?$resp['jabatan_tip']:'') ?>" id="jabatan_tip" name="jabatan_tip">
							<span class="help-block"></span>
						</div>
					</div>
					<div class="form-group">
						<label class="col-md-5 control-label">Berapa lama Perusahaan Bapak/Ibu menjalin kerjasama dalam pengelolaan TIP dengan Jasa Marga:</label>
						<div class="col-md-7">
							<select class="form-control" id="lama_kerjasama_tip" name="lama_kerjasama_tip" >
								<option value="0" <?php

								if((int) $resp['lama_kerjasama_tip'] == 0) {
									echo "selected";
								}

								?>>Kurang dari 5 tahun</option>
								
								<option value="5" <?php

								if((int) $resp['lama_kerjasama_tip'] == 5) {
									echo "selected";
								}

								?>>5 - 10 tahun</option>
								
								<option value="10" <?php

								if((int) $resp['lama_kerjasama_tip'] == 10) {
									echo "selected";
								}

								?>>11 - 15 tahun</option>
								
								<option value="15" <?php

								if((int) $resp['lama_kerjasama_tip'] == 15) {
									echo "selected";
								}

								?>>Lebih dari 15 tahun</option>
							</select>
							<span class="help-block"></span>
						</div>
					</div>
					<div class="form-group">
						<label class="col-md-5 control-label">Status TIP</label>
						<div class="col-md-7">
							<select class="form-control" id="status_tip" name="status_tip" >
								<option value="Pembebasan lahan" <?php

								if($resp['status_tip'] == 'Pembebasan lahan') {
									echo "selected";
								}

								?>>Pembebasan lahan</option>
								
								<option value="Masa konstruksi" <?php

								if($resp['status_tip'] == 'Masa konstruksi') {
									echo "selected";
								}

								?>>Masa konstruksi</option>
								
								<option value="Operasi" <?php

								if($resp['status_tip'] == 'Operasi') {
									echo "selected";
								}

								?>>Operasi</option>
							</select>
							<span class="help-block"></span>
						</div>
					</div>
				</div>
				<div class="form-actions">
					<div class="row" align="center">
                        <a href="/surveyext/z/index/id/5/pid/<?php

						echo $vdat['summary_page'];

						?>" class="btn green">Summary</a>   
                        <!--<button class="btn green" type="button">&lt;&lt; Prev</button>-->
                        <button class="btn green submitform" type="submit">Next &gt;&gt;</button>
                        
					</div>
				</div>
			</form>
		</div>
		
	</div>
</div>

<script>

jQuery(document).ready(function() {
	/*
	var lokasi = $("#lokasi").val();
	$("#lokasi_kerja").val(lokasi);
	
	var grade_v = $("#grade_v").val();
	$("#grade").val(grade_v);
	
	var masakerja = $("#masakerja").val();
	$("#klasifikasi_masa_bakti").val(masakerja);
	
	var usia = $("#usia").val();
	$("#klasifikasi_umur").val(usia);
    */
	
	var resetForm = function(){
		$('#select_cluster,#select_gerbang,#select_petugas','form#respondenform')
			.not(':button, :submit, :reset, :hidden')
			.val('');
			
		$('#select_cluster,#select_gerbang,#select_petugas','form#respondenform')
			.removeAttr('checked')
			.removeAttr('selected');
		
		//$('.make-switch').bootstrapSwitch('setState',false);
		
		$('.ms-selectable').find('li').removeClass('ms-selected');
		$('.ms-selection').find('li').removeClass('ms-hover');
		$('.ms-selectable').find('li').removeAttr('style');
		
		$('.ms-selection').find('li').removeClass('ms-selected');
		$('.ms-selection').find('li').removeClass('ms-hover');
		$('.ms-selection').find('li').css({display:'none'});
	}
	
});
	
$("#save_button").click(function(){	
	console.log($('form#respondenform').serialize());
	$.ajax({
		url:"/surveyext/general/addresponden",
		content:'json',
		type:'post',
		data:$('form#respondenform').serialize(),
		beforeSend:function(){
			$('#alertinfo').addClass('hidden');
			$('#processbar').removeClass('hidden');
			$('#alertinfo').removeClass('alert-success');
			$('#alertinfo').removeClass('alert-warning');
			$('#alertinfo').removeClass('alert-danger');
			$('#alertinfo').removeClass('alert-info');
		},
		complete:function(result){
			$('#processbar').addClass('hidden');
		},
		success: function(data){
			//console.log(data);
			if(data.result!=undefined){
				if(data.result==true){
					$('#alertinfo').addClass('alert-success');
					$('#alertmsg').html("<strong>Success!</strong> " + data.retMsg);
					// resetForm();
					// location.reload();					
					setTimeout(function(){location.href="#"},9000);
				}else{
					$('#alertinfo').addClass('alert-warning');
					$('#alertmsg').html("<strong>Failed!</strong> " + data.retMsg);
				}
			}else{
				$('#alertinfo').addClass('alert-info');
				$('#alertmsg').html("<strong>Error!</strong> System is busy, please try again.");
			}
			$('#alertinfo').removeClass('hidden');
		},
		error:function(){
			$('#alertinfo').addClass('alert-info');
			$('#alertmsg').html("<strong>Error!</strong> System is busy, please try again.");
			$('#alertinfo').removeClass('hidden');
		}
	});
});

</script>