<?php
	$authAdapter = Zend_Auth::getInstance();
	$identity = $authAdapter->getIdentity();
$c = new Surveyext_Model_General();
$data = $c->get_attr_name();
Zend_Debug::dump($data); 
$vf = $_SERVER['REQUEST_URI'];
$var = explode("/", $vf); 
 
$tahun =(int) date("Y", strtotime($data['tgl_lahir']));//die();
$sex= array(
'M'=>'Laki-laki',
'F'=>'Perempuan'

);

?>

<div class="col-md-offset-3 col-md-6 col-md-offset-3">
	<div class="portlet light bordered">
		<div class="portlet-title">
			<span class="caption-subject font-dark sbold uppercase"><center><H3>Data Responden</H3></center></span>
		</div>
		
		<div class="portlet-body form">
			<form role="form" class="form-horizontal" id="respondenform" method="post">
            <input type="hidden" name="survey_id" value="<?php  echo $var[5];?>" />
            <input type="hidden" name="page_id" value="<?php  echo $var[7];?>" />
            <input type="hidden" name="uid" value="<?php  echo $identity->uid;?>" />
				<div class="form-body">
					<strong><p align="left">Instruksi:<br>Klik pada pilihan yang sesuai data diri anda</p></strong>
					<div class="form-group">
						<label class="col-md-4 control-label">Lokasi Kerja</label>
						<div class="col-md-8">
							<input type="text" placeholder="" class="form-control" id="lokasi" value="<?php echo $data['location_name'];?>" readonly>
							<span class="help-block"></span>
						</div>
					</div>
					<div class="form-group">
						<label class="col-md-4 control-label">Grade</label>
						<div class="col-md-8">
							<input type="text" placeholder="" class="form-control" id="grade" value="<?php echo $data['grade'];?>" readonly>
							<span class="help-block"></span>
						</div>
					</div>
					<div class="form-group">
						<label class="col-md-4 control-label">Masa Kerja</label>
						<div class="col-md-8">
							<input type="text" placeholder="" class="form-control" id="masakerja" value="<?php echo $data['masa_bakti'];?>" readonly>
							<span class="help-block"></span>
						</div>
					</div>
					<div class="form-group">
						<label class="col-md-4 control-label">Usia</label>
						<div class="col-md-8">
							<input type="text" placeholder="" class="form-control" id="usia" value="<?php echo (int)date("Y")-$tahun; ?>" readonly>
							<span class="help-block"></span>
						</div>
					</div>
					<div class="form-group">
						<label class="col-md-4 control-label">Jenis Kelamin</label>
						<div class="col-md-8">
							<input type="text" placeholder="" class="form-control" id="sex" value="<?php echo $sex[$data['sex']];?>" readonly>
							<span class="help-block"></span>
						</div>
					</div>
					<div class="form-group">
						<label class="col-md-4 control-label">Status Karyawan</label>
						<div class="col-md-8">
							<input type="text" placeholder="" class="form-control" id="status" value="<?php echo $data['employment_category'];?>" readonly>
							<span class="help-block"></span>
						</div>
					</div>
					<div class="form-group">
						<label class="col-md-4 control-label">Pendidikan</label>
						<div class="col-md-8">
							<div class="radio">
								<label><input type="radio" id="optionsRadios1" name="pendidikan" value="S3/S2">S3/S2</label>
							</div>
							<div class="radio">
								<label><input type="radio" id="optionsRadios2" name="pendidikan" value="S1/D4">S1/D4</label>
							</div>
							<div class="radio">
								<label><input type="radio" id="optionsRadios3" name="pendidikan" value="Diploma">Diploma</label>
							</div>
							<div class="radio">
								<label><input type="radio" id="optionsRadios4" name="pendidikan" value="SMA/SMK/SMP">SMA/SMK/SMP</label>
							</div>
						</div>
					</div>
					
				</div>
				<div class="form-actions">
					<div class="row" align="center">
                        <button class="btn green" type="button" >&lt;&lt; Prev</button>
                        <a type="" class="btn submitform green">Save & Next &gt;&gt;</a>   
						
					</div>
				</div>
			</form>
		</div>
		
	</div>
</div>