<style>
	.hidden {
		display: none !important;
	}

	.m-body .m-content {
		padding: 5px;
	}

	.m-portlet {
		margin-bottom: 0px;
	}

	.m-portlet__head {
		padding: 0 10px !important;
	}

	.m-portlet .m-portlet__head {
		height: 35px;
	}
	.m-portlet .m-portlet__head .m-portlet__head-caption .m-portlet__head-title .m-portlet__head-icon {
		padding: 0 5px 0 0 !important;
	}
	.m-portlet .m-portlet__head .m-portlet__head-caption .m-portlet__head-title .m-portlet__head-icon i {
		font-size: 14px;
	}
	.m-portlet .m-portlet__head .m-portlet__head-caption .m-portlet__head-title .m-portlet__head-text {
		font-size: 14px;
	}
	.m-portlet.m-portlet--fullscreen > .m-portlet__body {
		overflow: hidden;
	}
	.m-portlet.m-portlet--tabs .m-portlet__head .m-portlet__head-tools .m-tabs-line .m-tabs__link {
		padding: 10px 0px;
	}

	.m-portlet .m-portlet__body {
		padding: 10px;
		min-height: 160px;
	}

	.m-btn--icon.m-btn--icon-only {
		height: 20px;
		width: 20px;
	}
	.m-btn--icon.m-btn--icon-only [class^="la-"], .m-btn--icon.m-btn--icon-only [class*=" la-"] {
		font-size: 12px;
	}

	table.dataTable thead .sorting:after, table.dataTable thead .sorting_asc:after, table.dataTable thead .sorting_desc:after, table.dataTable thead .sorting_asc_disabled:after, table.dataTable thead .sorting_desc_disabled:after {
		display: none;
	}

	.table {
		font-size: 12px;
	}
	.table th, .table td {
		padding: 5px;
	}
	.table td {
		word-wrap: break-word;
	}
	.table td i.fa {
		font-size: 12px;
	}
	.table td span.ctchild {
		font-size: 8px;
	}
	.table td a.btn {
		font-size: 12px;
		padding: 0px;
	}
	.table tr.tr-tables td {
		padding-left: 20px;
	}
	.table tr.tr-columns td {
		padding-left: 37px;
	}

	.CodeMirror {
		height: 160px;
	}

	.modal-open {
		overflow: hidden !important;
	}

	.modal .modal-content .modal-header {
		padding: 10px;
	}
	.modal .modal-content .modal-header .close {
		margin-top: 0px;
	}
	.modal .modal-content .modal-body {
		padding: 10px;
	}

	.alert {
		padding: 5px;
	}

	.dataTables_wrapper > .table-scrollable > .dataTables_scroll > .dataTables_scrollHead > .dataTables_scrollHeadInner,
	.dataTables_wrapper > .table-scrollable > .dataTables_scroll > .dataTables_scrollHead > .dataTables_scrollHeadInner > .table,
	.dataTables_wrapper > .table-scrollable > .dataTables_scroll > .dataTables_scrollBody,
	.dataTables_wrapper > .table-scrollable > .dataTables_scroll > .dataTables_scrollBody > .table
	 {
		width: 100% !important;
	}

	.dataTables_filter, .dataTables_info, .dataTables_paginate {
		display: none;
	}

	.dataTables_wrapper.no-footer .dataTables_scrollBody {
		border-bottom: none;
	}

	.rowcount {
		font-weight: bold;
	}

	.tr-tables > td > i.la.la-table {
		cursor: pointer;
	}
</style>
<div class="m-grid__item m-grid__item--fluid m-wrapper">
	<div class="m-content">
		<div class="row">
			<div class="col-md-4" style="padding-right: 0px;">
				<div class="m-portlet m-portlet--success m-portlet--head-solid-bg" id="portlet0">
					<div class="m-portlet__head">
						<div class="m-portlet__head-caption">
							<div class="m-portlet__head-title">
								<span class="m-portlet__head-icon">
									<i class="la la-database"></i>
								</span>
								<h3 class="m-portlet__head-text">
									Datasource
								</h3>
							</div>
						</div>
					</div>
					<div class="m-portlet__body" style="height: 770px;">
						<input class="form-control" id="searchtb" placeholder="Search...">
						<div class="m-scrollable" data-scrollbar-shown="true" data-scrollable="true" data-max-height="720" style="overflow:hidden;">
							<table class="table" id="schemas_tablex">
								<tbody></tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-8" style="padding-left: 0px;">
				<div class="m-portlet m-portlet--danger m-portlet--head-solid-bg" id="portlet1">
					<div class="m-portlet__head">
						<div class="m-portlet__head-caption">
							<div class="m-portlet__head-title">
								<span class="m-portlet__head-icon">
									<i class="la la-file-text"></i>
								</span>
								<h3 class="m-portlet__head-text">
									Query, Logs and Results
								</h3>
							</div>
						</div>
						<div class="m-portlet__head-tools">
							<ul class="m-portlet__nav">
								<li class="m-portlet__nav-item">
									<a href="#"  data-portlet-tool="fullscreen" class="m-portlet__nav-link m-portlet__nav-link--icon">
										<i class="la la-expand"></i>
									</a>
								</li>
								<li class="m-portlet__nav-item">
									<a href=""  data-portlet-tool="toggle" class="m-portlet__nav-link m-portlet__nav-link--icon">
										<i class="la la-angle-down"></i>
									</a>
								</li>
							</ul>
						</div>
					</div>
					<div class="m-portlet__body">
						<div class="row">
							<div class="col-md-12">
								<div class="m-portlet m-portlet--brand m-portlet--head-solid-bg" id="portlet1a">
									<div class="m-portlet__body">
										<table class="table" style="margin-bottom: 0px;">
											<tbody>
												<tr>
													<td style="background-color: #f7f7f7; vertical-align: bottom; width: 25px;">
														<button type="button" class="btn-is_cache btn btn-info btn-sm m-btn m-btn--icon m-btn--icon-only m-btn--pill">
															<i class="la la-table"></i>
														</button>
														<button type="button" class="btn-is_rowcount btn btn-light btn-sm m-btn m-btn--icon m-btn--icon-only m-btn--pill">
															<i class="la la-list-ol"></i>
														</button>
														<button type="button" class="btn-execute btn btn-primary btn-sm m-btn m-btn--icon m-btn--icon-only m-btn--pill">
															<i class="la la-play"></i>
														</button>
														<button type="button" class="btn-execute-stop btn btn-danger btn-sm m-btn m-btn--icon m-btn--icon-only m-btn--pill m--hide">
															<i class="la la-stop"></i>
														</button>
													</td>
													<td style="padding: 0px;">
														<textarea id="sql" rows="10" placeholder="Example: SELECT * FROM tablename, or press CTRL + space" style="width: 100%;"></textarea>
													</td>
												</tr>
											</tbody>
										</table>						
									</div>
								</div>
							</div>
							<div class="col-md-12">
								<div class="m-portlet m-portlet--brand m-portlet--head-solid-bg" id="portlet1b">
									<div class="m-portlet__body">
										<ul class="nav nav-pills" role="tablist">
											<li class="nav-item ">
												<a class="btn btn-outline-info nav-link" data-toggle="tab" href="#tab_logs">
													<i class="la la-bell"></i>
													Logs
												</a>
											</li>
											<li class="nav-item tabresults">
												<a class="btn btn-outline-info nav-link active show" data-toggle="tab" href="#tab_results0">
													<i class="la la-bars"></i>
													Result
												</a>
											</li>
										</ul>
										<hr>
										<div class="tab-content">
											<div class="tab-pane" id="tab_logs" role="tabpanel">
												<div class="m-scrollable" data-scrollbar-shown="true" data-scrollable="true" data-max-height="480" style="overflow:hidden;">
													<div id="divlog">No Logs available.</div>
												</div>
											</div>
											<div class="tab-pane active show" id="tab_results0" role="tabpanel" style="height: 480px;">
												<div class="divtable">No Results available.</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="modal fade" id="modal-statistic" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
	<div class="modal-dialog modal-lg" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" >
					<i class="la la-database"></i> <span></span>
				</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">
						×
					</span>
				</button>
			</div>
			<div class="modal-body">
				<input type="hidden" id="database_name" name="database_name">
				<input type="hidden" id="table_name" name="table_name">
				<button class="btn btn-danger pull-right btn-xs btn-reload-cache" onclick="viewStatistics(this);" style="margin-top: 5px;">Clear Cache!</button>
				<ul class="nav nav-tabs  m-tabs-line" role="tablist">
					<li class="nav-item m-tabs__item">
						<a class="nav-link m-tabs__link acolumns" data-toggle="tab" href="#tab_columns" role="tab" onclick="viewStatistics(this);">
							Columns
						</a>
					</li>
					<li class="nav-item m-tabs__item">
						<a class="nav-link m-tabs__link properties" data-toggle="tab" href="#tab_properties" role="tab" onclick="viewStatistics(this);">
							Analysis
						</a>
					</li>
					<li class="nav-item m-tabs__item">
						<a class="nav-link m-tabs__link asamples" data-toggle="tab" href="#tab_samples" role="tab" onclick="viewStatistics(this);">
							Samples
						</a>
					</li>
				</ul>
				<div class="tab-content">
					<div class="tab-pane fade active show" id="tab_columns" style="min-height: 460px;">
						<div class="columns_content">
							<div class="alert alert-info">
								<div style="display: inline-block;"></div>
								<div class="pull-right">
									<strong>LAST CACHE:</strong> <span>yyyy-mm-dd hh:ii:ss</span>
								</div>
							</div>
							<div class="table-scrollable"></div>
						</div>
					</div>
					<div class="tab-pane fade" id="tab_properties" style="min-height: 460px;">
						<div class="properties_content">
							<div class="alert alert-info">
								<div style="display: inline-block;"></div>
								<div class="pull-right">
									<strong>LAST CACHE:</strong> <span>yyyy-mm-dd hh:ii:ss</span>
								</div>
							</div>
							<div class="table-scrollable"></div>
						</div>
					</div>
					<div class="tab-pane fade" id="tab_samples" style="min-height: 460px;">
						<div class="samples_content">
							<div class="alert alert-info">
								<div style="display: inline-block;">
									<strong>Total Record:</strong> <span>0</span>
								</div>
								<div class="pull-right">
									<strong>LAST CACHE:</strong> <span>yyyy-mm-dd hh:ii:ss</span>
								</div>
							</div>
							<div class="table-scrollable"></div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>


<div class="modal fade" id="modal-sql" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">
						×
					</span>
				</button>
			</div>
			<div class="modal-body">
				<div class="well">SELECT * FROM DUAL</div>
			</div>
		</div>
	</div>
</div>

<div class="modal fade" id="modal-exportapi" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" >
					<i class="fa fa-fire"></i> <span>Title</span>
				</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">
						×
					</span>
				</button>
			</div>
			<div class="modal-body">
				<div class="well">MSG</div>
			</div>
		</div>
	</div>
</div>

<script type="text/javascript">
	var hintOptions = <?php echo $this->hintOptions; ?>;
	var dbtbcl = <?php echo $this->dbtbcl; ?>;
</script>