<style>

html, body {
    font-size: 12px;
    color: #575962;
}

.m-radio > span, .m-checkbox > span {
    height: 14px;
    width: 14px;
}


element.style {
    width: 13px;
    height: 13px;
    
}

.m-portlet__body {

    padding-left: 15px;
    padding-right: 15px;
}
.m-checkbox-list ,.m-checkbox {
    font-size: 12px;
}
.m-form .m-form__group {
    margin-bottom: 0;
     padding-top: 0; 
     padding-bottom: 0; 
}

.m-portlet .m-portlet__head {
        height: 35px;
}

</style>

<div class="m-grid__item m-grid__item--fluid m-wrapper">
    <div class="m-content">
        <div class="row">
            <div class="col-md-3">
                <div class="m-portlet m-portlet--success m-portlet--head-solid-bg">
                    <div class="m-portlet__head">
                        <div class="m-portlet__head-caption">
                            <div class="m-portlet__head-title">
                                <!--span class="m-portlet__head-icon">
                                    <i class="la la-database"></i>
                                </span-->
                                <h3 class="m-portlet__head-text">
                                     
                                </h3>
                            </div>
                        </div>
                    </div>
                    <div class="m-portlet__body">
                        <label >
                            Request-Handler (qt)
                        </label>
                        <input type="text" class="form-control m-input form-control-sm" placeholder="/select">
                        <hr>
                        <label >
                            q
                        </label>
                        <textarea type="text" class="form-control m-input form-control-sm" placeholder="">
                        </textarea>   
                        <label >
                            fq
                        </label>
                        <input type="text" class="form-control m-input form-control-sm" placeholder="">
                        <label >
                            sort
                        </label>
                        <input type="text" class="form-control m-input form-control-sm" placeholder="">
                        <label >
                            start, rows
                        </label>
                        <label >
                            fl
                        </label>
                        <input type="text" class="form-control m-input form-control-sm" placeholder="">
                        <label >
                            df
                        </label>
                        <input type="text" class="form-control m-input form-control-sm" placeholder="">
                        <label >
                            Raw Query Parameter
                        </label>
                        <input type="text" class="form-control m-input form-control-sm" placeholder="key1=var1&key1=var2">
                        <label >
                            wt
                        </label>
                        <select class="form-control m-input form-control-sm" id="exampleSelect1">
                            <option>
                                json
                            </option>
                            <option>
                                xml
                            </option>
                            <option>
                                python
                            </option>
                            <option>
                                ruby
                            </option>
                            <option>
                                php
                            </option>
                            <option>
                                csv
                            </option>
                        </select>
                        <div class="m-checkbox-list" style="padding-top: 5px;">
                            <label class="m-checkbox" style="margin-bottom: 0px;">
                                <input type="checkbox">
                                 <label >
                                    indent
                                </label>
                                <span></span>
                            </label>
                            <label class="m-checkbox" style="margin-bottom: 0px;">
                                <input type="checkbox">
                                debugQuery
                                <span></span>
                            </label>
                        </div>
                        <hr>
                         <div class="m-checkbox-list">
                            <label class="m-checkbox" style="margin-bottom: 0px;">
                                <input type="checkbox" id="checkbox-3" >
                                 <label >
                                    dismax
                                </label>
                                <span></span>
                            </label>
                        </div>
                         <!-- label >
                            q.alt
                        </label>
                        <input id="qaltdismax" type="text" class="form-control m-input form-control-sm" placeholder="">
                         <label >
                            qf
                        </label>
                        <input type="text" class="form-control m-input form-control-sm" placeholder="">
                         <label >
                            mm
                        </label>
                        <input type="text" class="form-control m-input form-control-sm" placeholder="">
                         <label >
                            pf
                        </label>
                        <input type="text" class="form-control m-input form-control-sm" placeholder="">
                         <label >
                            ps
                        </label>
                        <input type="text" class="form-control m-input form-control-sm" placeholder="">
                         <label >
                            qs
                        </label>
                        <input type="text" class="form-control m-input form-control-sm" placeholder="">
                         <label >
                            tie
                        </label>
                        <input type="text" class="form-control m-input form-control-sm" placeholder="">
                         <label >
                            bq
                        </label>
                        <input type="text" class="form-control m-input form-control-sm" placeholder="">
                         <label >
                            bf
                        </label>
                        <input type="text" class="form-control m-input form-control-sm" placeholder="" -->

                         <div class="m-checkbox-list">
                            <label class="m-checkbox" style="margin-bottom: 0px;">
                                <input type="checkbox">
                                 <label >
                                    edismax
                                </label>
                                <span></span>
                            </label>
                        </div>
                        <!-- label >
                            q.alt
                        </label>
                        <input type="text" class="form-control m-input form-control-sm" placeholder="">
                        <label >
                            qf
                        </label>
                        <input type="text" class="form-control m-input form-control-sm" placeholder="">
                        <label >
                            mm
                        </label>
                        <input type="text" class="form-control m-input form-control-sm" placeholder="">
                        <label >
                            pf
                        </label>
                        <input type="text" class="form-control m-input form-control-sm" placeholder="">
                        <label >
                            tie
                        </label>
                        <input type="text" class="form-control m-input form-control-sm" placeholder="">
                        <label >
                            bq
                        </label>
                        <input type="text" class="form-control m-input form-control-sm" placeholder="">
                        <label >
                            uf
                        </label>
                        <input type="text" class="form-control m-input form-control-sm" placeholder="">
                        <label >
                            pf2
                        </label>
                        <input type="text" class="form-control m-input form-control-sm" placeholder="">
                        <label >
                            pf3
                        </label>
                        <input type="text" class="form-control m-input form-control-sm" placeholder="">
                        <label >
                            ps2
                        </label>
                        <input type="text" class="form-control m-input form-control-sm" placeholder="">
                        <label >
                            ps3
                        </label>
                        <input type="text" class="form-control m-input form-control-sm" placeholder="">
                        <label >
                            boost
                        </label>
                        <input type="text" class="form-control m-input form-control-sm" placeholder="" -->
                        <div class="m-checkbox-list">
                            <label class="m-checkbox" style="margin-bottom: 0px;">
                                <input type="checkbox" >
                                 <label >
                                    hl
                                </label>
                                <span></span>
                            </label>
                        </div>
                         <div class="m-checkbox-list">
                            <label class="m-checkbox" style="margin-bottom: 0px;">
                                <input type="checkbox">
                                 <label >
                                    facet
                                </label>
                                <span></span>
                            </label>
                        </div>
                         <div class="m-checkbox-list">
                            <label class="m-checkbox" style="margin-bottom: 0px;">
                                <input type="checkbox">
                                 <label >
                                    spatial
                                </label>
                                <span></span>
                            </label>
                        </div>
                         <div class="m-checkbox-list">
                            <label class="m-checkbox" style="margin-bottom: 0px;">
                                <input type="checkbox">
                                 <label >
                                    spellcheck
                                </label>
                                <span></span>
                            </label>
                        </div>
                        <button type="button" class="btn btn-info m-btn m-btn--custom" style="padding-left: 10px;padding-right: 10px;">
                        Execute Query
                        </button>
                    </div>
                </div>
            </div>
            <!-- div class="col-md-8">
                <div class="m-portlet m-portlet--success m-portlet--head-solid-bg" id="portlet1">
                    <div class="m-portlet__head">
                        <div class="m-portlet__head-caption">
                            <div class="m-portlet__head-title">
                                <span class="m-portlet__head-icon">
                                    <i class="la la-file-text"></i>
                                </span>
                                <h3 class="m-portlet__head-text">
                                </h3>
                            </div>
                        </div>
                        <div class="m-portlet__head-tools">
                        
                        </div>
                    </div>
                    <div class="m-portlet__body">
                        <div class="m-scrollable" data-scrollbar-shown="true" data-scrollable="true" data-max-height="687" style="overflow:hidden; height: 687px">
                            
                        </div>
                    </div>
                </div>
            </div -->
        </div>
    </div>
</div>

<script type="text/javascript">

// $(document).ready(function(){

    // $("#qaltdismax").hide();
 

// }) ;
  

</script>