<div class="m-grid__item m-grid__item--fluid m-wrapper">
	<iframe src="http://10.2.147.127:9995" style="width: 100%; height: 550px;" frameborder="0" scrolling="auto" seamless="seamless" allowfullscreen="true"></iframe>
</div>