
<?php

$VV = new Model_Prabasystem ();


	

		$vv = $this->varams['id'];
		?>
	
<?php if(isset($this->varams['debug'])&&$this->varams['debug']==1){?>
<div class="col-md-12">
			<i style="font-size: 40px; color: #CCC"
				class="fa fa-arrow-circle-o-down"><a style="color: #CCC"
				href="/prabaeditor/editportlet/id/<?php echo $vv; ?>"> PortletId : <?php echo $vv;?></a></i>
		</div>	
<?php } ?>	
	
<?php
		if (is_numeric ( $vv )) {
			echo $this->action ( 'index', 'prabaportlet', 'default', array (
					'id' => $vv,
					'xin' => $vxin 
			) );
		} else {
			$cat = $VV->connvert ( $vv );
			if (! isset ( $cat [3] )) {
				$cat = array ();
			}
			echo $this->action ( $cat [2], $cat [1], $cat [0], $cat [3], array (
					'xin' => $vxin 
			) );
		}
	
	
	?>

