 <!-- BEGIN FOOTER -->
        <div class="page-footer">
            <div class="page-footer-inner"> 2016 &copy; DOMAS.
                <a href="http://prabatech.com" title="DOMAS" target="_blank">DOMAS</a>
            </div>
            <div class="scroll-to-top">
                <i class="icon-arrow-up"></i>
            </div>
        </div>
    <!-- END FOOTER -->
