<!DOCTYPE html>
<html lang="en" >
	<!-- begin::Head -->
	<head>
		<meta charset="utf-8" />
		<title>
			BigBox | Satu Platform Untuk Data Anda
		</title>
		<meta name="description" content="BigBox, Satu Platform Untuk Data Anda>
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<!--begin::Web font -->
		<script src="https://ajax.googleapis.com/ajax/libs/webfont/1.6.16/webfont.js"></script>
		<script>
          WebFont.load({
            google: {"families":["Poppins:300,400,500,600,700","Roboto:300,400,500,600,700"]},
            active: function() {
                sessionStorage.fonts = true;
            }
          });
		</script>
		<!--end::Web font -->
        <!--begin::Base Styles -->  
        <!--begin::Page Snippets -->
<?php
echo $this->headLink();
?>
		<!--end::Page Snippets -->
		<link href="/assets/m51/dist/default/assets/vendors/base/vendors.bundle.css" rel="stylesheet" type="text/css" />
		<link href="/assets/m51/dist/default/assets/demo/default/base/style.bundle.css" rel="stylesheet" type="text/css" />
		<!--end::Base Styles -->
		<link rel="shortcut icon" href="/images/favicon.png" />
	</head>
	<!-- end::Head -->
    <!-- begin::Body -->
	<body class="m--skin- m-header--fixed m-header--fixed-mobile m-aside-left--enabled m-aside-left--skin-dark m-aside-left--offcanvas m-footer--push m-aside--offcanvas-default"  >
		<!-- begin:: Page -->
		<div class="m-grid m-grid--hor m-grid--root m-page">
			<div class="m-grid__item m-grid__item--fluid m-grid  m-error-1" style="background-image: url(/assets/m51/dist/default/assets/app/media/img//error/bg1.jpg);">
				<div class="m-error_container">
					<span class="m-error_number">
						<h1>
							<?= $this->request; ?>
						</h1>
					</span>
					<p class="m-error_desc">
						<?= $this->message; ?>
					</p>
				</div>
			</div>
		</div>
		<!-- end:: Page -->
    	<!--begin::Base Scripts -->
		<script src="/assets/m51/dist/default/assets/vendors/base/vendors.bundle.js" type="text/javascript"></script>
		<script src="/assets/m51/dist/default/assets/demo/default/base/scripts.bundle.js" type="text/javascript"></script>
		<!--end::Base Scripts -->   
        <!--begin::Page Snippets -->
<?php 
echo $this->headScript();
?>
		<!--end::Page Snippets -->
	</body>
	<!-- end::Body -->
</html>
