<?php
try{
	$params = Zend_Controller_Front::getInstance()->getRequest()->getParams();
	$control=  Zend_Controller_Front::getInstance()->getRequest()->getControllerName();
	$act=  Zend_Controller_Front::getInstance()->getRequest()->getActionName();
    $identity = Zend_Auth::getInstance()->getIdentity();
}catch(Exception $e){
	
}
// Zend_Debug::dump($this); die();
// Zend_Debug::dump($params); die();
// Zend_Debug::dump($identity); die();
// $front = array(
	// 'lifetime' => null,
	// 'automatic_serialization' => true
// );
// $back = array(
	// 'cache_dir' => APPLICATION_PATH . '/../cache2/'
// );
// $cache = Zend_Cache::factory('Core', 'File', $front, $back);
// $var = $cache->load("themeuser_".$identity->uid."_".$params['module']);
#Zend_Debug::dump($var); die();
?>
<!-- begin:: Page -->
<div class="m-grid m-grid--hor m-grid--root m-page">
	<!-- BEGIN: Header -->
<?= $this->action('header', 'general', $params['module'], array('app'=>$params['module'],'controller'=>$params['controller'],'theme'=>'m51-1','layout'=>'layout-1')); ?>
	<!-- END: Header -->	
	<!-- begin::Body -->
	<div class="m-grid__item m-grid__item--fluid m-grid m-grid--ver-desktop m-grid--desktop m-body">
		<!-- BEGIN: Left Aside -->
		<button class="m-aside-left-close  m-aside-left-close--skin-dark " id="m_aside_left_close_btn">
			<i class="la la-close"></i>
		</button>
		<div id="m_aside_left" class="m-grid__item	m-aside-left  m-aside-left--skin-dark ">
			<!-- BEGIN: Aside Menu -->
<?= $this->action('sidemenu', 'general', $params['module'], array('app'=>$params['module'],'controller'=>$params['controller'],'theme'=>'m51-1','layout'=>'layout-1')); ?>
			<!-- END: Aside Menu -->
		</div>
		<!-- END: Left Aside -->
<?= $this->layout()->content; ?>
	</div>
	<!-- end:: Body -->
	<!-- begin::Footer -->
<?= $this->action('footer', 'general', $params['module'], array('app'=>$params['module'],'theme'=>'m51-1','layout'=>'layout-1')); ?>
	<!-- end::Footer -->
</div>
<!-- end:: Page -->
<!-- begin::Quick Sidebar -->
<?= $this->action('sidebar', 'general', $params['module'], array('app'=>$params['module'],'controller'=>$params['controller'],'theme'=>'m51-1','layout'=>'layout-1')); ?>
<!-- end::Quick Sidebar -->		    
<!-- begin::Scroll Top -->
<div class="m-scroll-top m-scroll-top--skin-top" data-toggle="m-scroll-top" data-scroll-offset="500" data-scroll-speed="300">
	<i class="la la-arrow-up"></i>
</div>
<!-- end::Scroll Top -->		    
<!-- begin::Quick Nav -->
<?= $this->action('nav', 'general', $params['module'], array('app'=>$params['module'],'theme'=>'m51-1','layout'=>'layout-1')); ?>
<!-- begin::Quick Nav -->	