<!DOCTYPE html>
<html lang="en" >
	<!-- begin::Head -->
	<head>
		<meta charset="utf-8" />
		<title>
			BigBox | Satu Platform Untuk Data Anda
		</title>
		<meta name="description" content="BigBox, Satu Platform Untuk Data Anda>
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<!--begin::Web font -->
		<script src="https://ajax.googleapis.com/ajax/libs/webfont/1.6.16/webfont.js"></script>
		<script>
          WebFont.load({
            google: {"families":["Poppins:300,400,500,600,700","Roboto:300,400,500,600,700"]},
            active: function() {
                sessionStorage.fonts = true;
            }
          });
		</script>
		<!--end::Web font -->
        <!--begin::Base Styles -->  
        <!--begin::Page Snippets -->
<?php
echo $this->headLink();
?>
		<!--end::Page Snippets -->
		<link href="/assets/m51/dist/default/assets/vendors/base/vendors.bundle.css" rel="stylesheet" type="text/css" />
		<link href="/assets/m51/dist/default/assets/demo/default/base/style.bundle.css" rel="stylesheet" type="text/css" />
		<!--end::Base Styles -->
		<link rel="shortcut icon" href="/images/favicon.png" />
	</head>
	<!-- end::Head -->
    <!-- begin::Body -->
	<body class="m--skin- m-header--fixed m-header--fixed-mobile m-aside-left--enabled m-aside-left--skin-dark m-aside-left--offcanvas m-footer--push m-aside--offcanvas-default"  >
		<!-- begin:: Page -->
		<div class="m-grid m-grid--hor m-grid--root m-page">
			<div class="m-grid__item m-grid__item--fluid m-grid m-grid--hor m-login m-login--signin m-login--2 m-login-2--skin-2" id="m_login" style="background-image: url(/assets/m51/dist/default/assets/app/media/img//bg/bg-3.jpg);">
			<!--div class="m-grid__item m-grid__item--fluid m-grid m-grid--hor m-login m-login--signin m-login--2 m-login-2--skin-2" id="m_login" style="background-image: url('/images/bigbox-logo/elephant.png')!important;"-->
				<div class="m-grid__item m-grid__item--fluid	m-login__wrapper">
					<div class="m-login__container">
						<div class="m-login__logo">
							<a href="#">
								<img width="60%" src="/images/bigbox-logo/BigBox_logo.png">
							</a>
						</div>
						<div class="m-login__signin">
<?php 
if(isset($_GET['msg'])){
?>
							<div class="alert alert-danger alert-dismissible fade show" role="alert">
								<button type="button" class="close" data-dismiss="alert" aria-label="Close"></button>
								<strong>
									Error!
								</strong>
								<?= strip_tags($_GET['msg']); ?>
							</div>
<?php 
}
?>
							<!--div class="m-login__head">
								<h3 class="m-login__title">
									Sign In To BigBox
								</h3>
							</div-->
							<form class="m-login__form m-form" enctype="application/x-www-form-urlencoded" method="post" action="/bigbox/public/login">
								<?php// $this->form->renderForm(false); ?>
								<?= $this->form->ID->renderViewHelper(); ?>
								<?= $this->form->csrf->renderViewHelper(); ?>
								<div class="form-group m-form__group">
									<input class="form-control m-input" type="text" placeholder="Username" id="uname" name="uname" autocomplete="off">
								</div>
								<div class="form-group m-form__group">
									<input class="form-control m-input m-login__form-input--last" type="password" placeholder="Password" id="passw" name="passw">
								</div><hr>
								<?= $this->form->captcha; ?>
								<!--div class="row m-login__form-sub">
									<div class="col m--align-left m-login__form-left">
										<label class="m-checkbox  m-checkbox--focus">
											<input type="checkbox" name="remember">
											Remember me
											<span></span>
										</label>
									</div>
									<div class="col m--align-right m-login__form-right">
										<a href="javascript:;" id="m_login_forget_password" class="m-link">
											Forget Password ?
										</a>
									</div>
								</div-->
								<div class="m-login__form-action">
									<button id="m_login_signin_submit" class="btn btn-warning m-btn m-btn--pill m-btn--custom m-btn--air m-login__btn m-login__btn--primary">
										Sign In
									</button>
								</div>
							</form>
						</div>
						<!--div class="m-login__signup">
							<div class="m-login__head">
								<h3 class="m-login__title">
									Sign Up
								</h3>
								<div class="m-login__desc">
									Enter your details to create your account:
								</div>
							</div>
							<form class="m-login__form m-form" action="">
								<div class="form-group m-form__group">
									<input class="form-control m-input" type="text" placeholder="Fullname" name="fullname" >
								</div>
								<div class="form-group m-form__group">
									<input class="form-control m-input" type="text" placeholder="Email" name="email" autocomplete="off">
								</div>
								<div class="form-group m-form__group">
									<input class="form-control m-input" type="password" placeholder="Password" name="password">
								</div>
								<div class="form-group m-form__group">
									<input class="form-control m-input m-login__form-input--last" type="password" placeholder="Confirm Password" name="rpassword">
								</div>
								<div class="row form-group m-form__group m-login__form-sub">
									<div class="col m--align-left">
										<label class="m-checkbox m-checkbox--focus">
											<input type="checkbox" name="agree">
											I Agree the
											<a href="#" class="m-link m-link--focus">
												terms and conditions
											</a>
											.
											<span></span>
										</label>
										<span class="m-form__help"></span>
									</div>
								</div>
								<div class="m-login__form-action">
									<button id="m_login_signup_submit" class="btn btn-focus m-btn m-btn--pill m-btn--custom m-btn--air  m-login__btn">
										Sign Up
									</button>
									&nbsp;&nbsp;
									<button id="m_login_signup_cancel" class="btn btn-outline-focus m-btn m-btn--pill m-btn--custom  m-login__btn">
										Cancel
									</button>
								</div>
							</form>
						</div>
						<div class="m-login__forget-password">
							<div class="m-login__head">
								<h3 class="m-login__title">
									Forgotten Password ?
								</h3>
								<div class="m-login__desc">
									Enter your email to reset your password:
								</div>
							</div>
							<form class="m-login__form m-form" action="">
								<div class="form-group m-form__group">
									<input class="form-control m-input" type="text" placeholder="Email" name="email" id="m_email" autocomplete="off">
								</div>
								<div class="m-login__form-action">
									<button id="m_login_forget_password_submit" class="btn btn-focus m-btn m-btn--pill m-btn--custom m-btn--air  m-login__btn m-login__btn--primaryr">
										Request
									</button>
									&nbsp;&nbsp;
									<button id="m_login_forget_password_cancel" class="btn btn-outline-focus m-btn m-btn--pill m-btn--custom m-login__btn">
										Cancel
									</button>
								</div>
							</form>
						</div-->
						<div class="m-login__account">
							<span class="m-login__account-msg">
								<?= date("Y"); ?> &copy; <a href="http://www.thebigbox.id/" class="m-link">BigBox</a> by
								<a href="https://www.telkom.co.id/" class="m-link">
									PT Telekomunikasi Indonesia Tbk
								</a>
							</span>
							&nbsp;&nbsp;
							<!--a href="javascript:;" id="m_login_signup" class="m-link m-link--light m-login__account-link">
								Sign Up
							</a-->
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- end:: Page -->
    	<!--begin::Base Scripts -->
		<script src="/assets/m51/dist/default/assets/vendors/base/vendors.bundle.js" type="text/javascript"></script>
		<script src="/assets/m51/dist/default/assets/demo/default/base/scripts.bundle.js" type="text/javascript"></script>
		<!--end::Base Scripts -->   
        <!--begin::Page Snippets -->
<?php 
echo $this->headScript();
?>
		<!--end::Page Snippets -->
		
		
<script>
jQuery(document).ready(function() {
$('#captcha-element img').attr('width','100%').attr('height','75');
$('#captcha-input-label').addClass('m--hide');
$('#captcha-input').addClass('form-control m--valign-middle m--block-center m--align-center').attr('placeholder','Write the chars to the field');
$('.m-login.m-login--2 .m-login__wrapper').css({'padding':'2% 2rem 1rem 2rem','background-color':'rgba(255, 255, 255, 0.5)','border-radius':'7px'});
});
</script>
	</body>
	<!-- end::Body -->
</html>
