<!DOCTYPE html>
<html lang="en" >
	<!-- begin::Head -->
	<head>
		<meta charset="utf-8" />
		<title>
			BigBox | Satu Platform Untuk Data Anda
		</title>
		<meta name="description" content="BigBox, Satu Platform Untuk Data Anda>
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    	<!--begin::Base Scripts -->
		<script src="/assets/m51/dist/default/assets/vendors/base/vendors.bundle.js" type="text/javascript"></script>
		<!--begin::Web font -->
		<script src="https://ajax.googleapis.com/ajax/libs/webfont/1.6.16/webfont.js"></script>
		<script>
          WebFont.load({
            google: {"families":["Poppins:300,400,500,600,700","Roboto:300,400,500,600,700"]},
            active: function() {
                sessionStorage.fonts = true;
            }
          });
		</script>
		<!--end::Web font -->
        <!--begin::Base Styles -->  
        <!--begin::Page Snippets -->
<?= $this->headLink(); ?>
		<!--end::Page Snippets -->
		<link href="/assets/m51/dist/default/assets/vendors/base/vendors.bundle.css" rel="stylesheet" type="text/css" />
		<link href="/assets/m51/dist/default/assets/demo/default/base/style.bundle.css" rel="stylesheet" type="text/css" />
		<!--end::Base Styles -->
		<link rel="shortcut icon" href="/images/favicon.png" />
	</head>
	<!-- end::Head -->
    <!-- begin::Body -->
	<body class="m-page--fluid m--skin- m-content--skin-light2 m-header--fixed m-header--fixed-mobile m-aside-left--enabled m-aside-left--skin-dark m-aside-left--offcanvas m-footer--push m-aside--offcanvas-default"  >
<?php 
if($this->layout()->nestedLayout){
	$this->layout()->setLayout($this->layout()->nestedLayout); 
}else{
	$this->layout()->setLayout('m51-1/layout-1');
}                             
echo $this->layout()->render();  
?>
		<script src="/assets/m51/dist/default/assets/demo/default/base/scripts.bundle.js" type="text/javascript"></script>
		<!--end::Base Scripts -->   
        <!--begin::Page Snippets -->
<?= $this->headScript(); ?>
		<!--end::Page Snippets -->
		<script>
			$(document).ready(function(){
				$('#fk_skey').on('keypress', function(e) {
					// if($(this).val()==""){
						// toastr.options = {
						  // "closeButton": true,
						  // "debug": false,
						  // "newestOnTop": true,
						  // "progressBar": true,
						  // "positionClass": "toast-top-right",
						  // "preventDuplicates": false,
						  // "onclick": null,
						  // "showDuration": "300",
						  // "hideDuration": "1000",
						  // "timeOut": "5000",
						  // "extendedTimeOut": "1000",
						  // "showEasing": "swing",
						  // "hideEasing": "linear",
						  // "showMethod": "fadeIn",
						  // "hideMethod": "fadeOut"
						// };

						// toastr.warning("Search keyword can not be empty", "Warning");
						// e.preventDefault();
						// return false;
					// }
				});
				$('#fk_form').on('keyup keypress', function(e) {
					var keyCode = e.keyCode || e.which;
					if (keyCode === 13) { 
						e.preventDefault();
						return false;
					}
				});
				
				$('#fk_skey').on('keyup', function(e) {
					// if($(this).val()==""){
						e.preventDefault();
						// return false;
					// }
					var keyCode = e.keyCode || e.which;
					if (keyCode === 13) {
						if($(this).val()==""){
							toastr.options = {
							  "closeButton": true,
							  "debug": false,
							  "newestOnTop": true,
							  "progressBar": true,
							  "positionClass": "toast-top-right",
							  "preventDuplicates": false,
							  "onclick": null,
							  "showDuration": "300",
							  "hideDuration": "1000",
							  "timeOut": "5000",
							  "extendedTimeOut": "1000",
							  "showEasing": "swing",
							  "hideEasing": "linear",
							  "showMethod": "fadeIn",
							  "hideMethod": "fadeOut"
							};

							toastr.warning("Search keyword can not be empty", "Warning");
							e.preventDefault();
							return false;
						}else{
							$('#fk_form').submit();
						}
					}
				});
			});
		</script>
	</body>
	<!-- end::Body -->
</html>
