/* here you can put your own css to customize and override the theme */

.menu {
background: rgba(213, 1, 1, 1);
background: -moz-linear-gradient(top, rgba(211, 71, 71, 1) 0%, rgba(213, 1, 1, 1) 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(211, 71, 71, 1))), color-stop(100%,rgba(213, 1, 1, 1)));
background: -webkit-linear-gradient(top, rgba(211, 71, 71, 1) 0%,rgba(213, 1, 1, 1) 100%);
background: -o-linear-gradient(top, rgba(211, 71, 71, 1) 0%,rgba(213, 1, 1, 1) 100%);
background: linear-gradient(top, rgba(211, 71, 71, 1) 0%,rgba(213, 1, 1, 1) 100%);
z-index: 600;
}

.menu li.child a {
background: rgba(213, 1, 1, 1);
}

.menu li.has-menu span.arrow {
border-color-top: #FFF;
border-color: #FFF transparent transparent transparent;
}

.menu li a{
padding: 15px 20px;
font-size: 0.7em;
color: #FFF;
font-size:bold;
}

.menu li.child a{
padding: 7px 10px;
font-size: 0.6em;
color: #FFF;
font-size:bold;
}

.menu li a:hover, .menu li.hover>a {
background: #A50000;
}

#login-title1{
	font-weight:bold;
	color:white;
}

#header-title1{
	font-weight:bold;
	color:white;
	font-size:20px;
	margin-left:10px;
}

#header-avatar{
	width:29px;
	height:29px;
}

.page-sidebar-menu > li > ul.sub-menu > li > a{
	padding-left: 25px !important;
}

.page-sidebar-menu > li > ul.sub-menu > li > ul.sub-menu > li > a {
	padding-left: 40px;
}

.page-sidebar-closed .page-sidebar-menu > li:hover {
	width: 256px !important;
}

.page-sidebar-closed .page-sidebar-menu > li:hover > .sub-menu {
	width: 220px;
}

.lg-lbl{
	font-size:37px;
	font-weight:bold;
	position:relative;
	display:table-cell;
}

.sm-lbl{
	font-size:13px;
	display:table-cell;
	padding-left:7px;
	padding-top:7px;
}

.sm-lbl2{
	font-size:13px;
	display:table-cell;
	padding-right:7px;
	padding-top:7px;
}

.ctr-lbl{
	display:inline-block;
}

.btm-lbl{
	font-size:15px;
	font-weight:bold;
}

.v-top{
	vertical-align:top;
}

.margin-center{
	margin:0px auto;
}

.borline{
	border:1px solid black;
}

.cursor1{
	cursor:pointer;
}

.font-red1{
	color:#EF3125;
}

.corner-all,.corner-botright{
	border-bottom-right-radius: 7px !important;
}

.corner-all,.corner-botleft{
	border-bottom-left-radius: 7px !important;
}

.corner-all,.corner-topright{
	border-top-right-radius: 7px !important;
}

.corner-all,.corner-topleft{
	border-top-left-radius: 7px !important;
}

.dashicon{
	border: 5px solid white;
	padding: 5px;
	text-align: center;
	vertical-align: middle;
	color: white;
	font-weight: bold;
	font-size: 20px;
	width: 80px;
	line-height: 20px;
}

.dashboard-stat .details-left .number {
	padding-top: 15px;
	text-align: left;
	font-size: 34px;
	line-height: 34px;
	letter-spacing: -1px;
	margin-bottom: 5px;
	font-weight: 300;
	color: #fff;
}

.dashboard-stat .details-left .desc {
	text-align: left;
	font-size: 16px;
	letter-spacing: 0px;
	font-weight: 300;
	color: #fff;
}

.dashboard-stat .details-left {
	position: absolute;
	left: 15px;
	padding-left: 10px;
}

.dashboard-stat .details .desc div,
.dashboard-stat .details-left .desc div{
	font-size:12px;
	line-height: 15px;
}

.dashboard-stat .details .number,
.dashboard-stat .details-left .number{
	font-weight:bold;
	margin-bottom:0px;
}

.dashboard-stat .visual {
	min-height: 170px;
}

table#menulist>tbody>tr.nochild:hover>td, table#menulist>tbody>tr.nochild:hover>th,
table#menulist>tbody>tr.child>td>table>tbody>tr.nochild:hover>td, table#menulist>tbody>tr.child>td>table>tbody>tr.nochild:hover>th,
table#menulist>tbody>tr.child>td>table>tbody>tr.child>td>table>tbody>tr.nochild:hover>td, table#menulist>tbody>tr.child>td>table>tbody>tr.child>td>table>tbody>tr.nochild:hover>th {
	background-color:#FFD0D0;
}

.modal-scrollable {
	overflow: auto !important;
}

ol.menulist li.dd-item .dd-handle{
	cursor:default;
	content:'';
}

ol.menulist li.dd-item .dd3-handle:before {
	content: '';
}

ol.menulist li.dd-item .dd-handle .checker,
ol.menulist li.dd-item .dd-handle input {
	float:left;
	margin:0px 0px 0px -14px;
	padding-top:1px;
}

ol.menulist li.dd-item .dd-handle input {
	float:left;
	margin:0px;
	padding-top:1px;
	cursor:pointer;
}

/*@media (min-width: 992px) and (max-width: 1200px) {  */
@media (max-width: 480px) {  
	ol.menulist li.dd-item > div{
		height:50px;
	}
}

.f-red{
	color:red;
	/*text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;*/
}

.f-green{
	color:green;
	/*text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;*/
}

.f-bold{
	font-weight:bold;
}

.panel-heading{
	padding: 5px 10px;
}

.page-content{
	padding-top:5px;
}

.panel-title {
	font-size: 12px;
}

.hijau { 
	background: #00E405; 
}

.merah { 
	background: #FF0000; 
}

.abu { 
	background: #909090; 
}

.fmerah { 
	color: red; 
} 

.fputih { 
	color: #FFF; 
}

.fhitam { 
	color: #000; 
} 

.fkuning { 
	color: yellow; 
} 

.fhijau { 
	color: #82D711; 
}

.fabu { 
	color: gray; 
} 

tr.highlight {
	background:#543737;
}

tr.link_ap:hover {
	background: #5d5d5d;
	color: #fff;
}

.link_ap {
	cursor: pointer;
}
