<?php
	$params=array();
	foreach($this->params as $v) 
	{
		$params[$v['value_param']] = $v['display_param'];	
		
	}
	$conns=array();
	foreach($this->conns as $v) 
	{
		$conns[$v['conn_name']] = $v['conn_name'];	
		
	}
	//Zend_Debug::dump($this->data); die();
	$vapi = explode(',',$this->data['get_api']);
?>
<div class="page-content">
<!-- BEGIN PAGE HEADER-->
<div class="row">
	<div class="col-md-12">
		<!-- BEGIN PAGE TITLE & BREADCRUMB-->
		<h3 class="page-title">
		Edit Portlet <small>PrabaCore</small>
		</h3>
		<ul class="page-breadcrumb breadcrumb">
			<li>
				<i class="fa fa-rss"></i>
				<a href="/">PrabaCore</a>
				<i class="fa fa-angle-right"></i>
			</li>
			<li>
				<i class="fa fa-cogs"></i>
				<a href="/">Prabaeditor</a>
				<i class="fa fa-angle-right"></i>
			</li>
			
			<li>
				<i class="fa fa-user"></i>
				Add Portlet
			</li>
			<!--li class="btn-group pull-right">
				<button type="button" class="btn red">
					<span>
				<?php echo Zend_Auth::getInstance()->getIdentity()->fullname; ?>
					</span>
				</button>
			</li-->
		</ul>
		<!-- END PAGE TITLE & BREADCRUMB-->
	</div>
</div>
<!-- END PAGE HEADER-->

<div class="row">
	<div class="col-md-12">
	<!-- BEGIN EXAMPLE TABLE PORTLET-->
	<div class="portlet box grey" style="margin:0px">
		<div class="portlet-title">
			<div class="caption">
				Edit Portlet
			</div>
			 <div class="actions">
				 <!--a href="#" class="btn reload" data-dismiss="modal"><i class="fa fa-times"></i></a-->
			 </div>
			<div class="tools">
			</div>
		</div>
		<div class="portlet-body" style="padding:15px">
							<form action="" class="form-horizontal" id="addapi" method="post">
							<?php 
							//Zend_Debug::dump($this->data);

							?>	
							<input type="hidden" name="id" value="<?php echo $this->data['id'];?>" />
							<input type="hidden" name="pid" value="" />
							<!-- BEGIN FORM-->
							<div class="form-body">
								<div class="alert alert-success alert-dismissable hidden" id="alertinfo">
									<button type="button" class="close" data-dismiss="alert" aria-hidden="true"></button>
									<span id="alertmsg"><strong>Warning!</strong> Something went wrong. Please check.</span>
								</div>
								
								<div style="margin:0px auto;text-align:center" id="processbar" class="hidden">
									<div class="progress progress-striped active" style="margin:0px auto;text-align:center">
										<div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
											<span class="sr-only">
												On Process
											</span>
										</div>
									</div>
									<span style="margin:0px auto;">Please wait...processing request</span>
								</div>
								
								
								<div class="row" style="padding:0px 15px;">
									<div class="col-md-5">
										<div class="form-group">
											<label for="pagealias">Portlet Name</label>
											<input type="text" name="name" id="name" class="form-control" placeholder="Portlet Name"  value="<?php echo $this->data['portlet_name'];?>">
											<span class="help-block">
												<span class="label label-danger"><i class="fa fa-warning"> </i>This is inline help</span>
											</span>
										</div>
									</div>
									<div class="col-md-offset-1 col-md-5">
										<div class="form-group">
											<label for="title">Title</label>
											<input type="text" name="title" id="title" class="form-control" placeholder="Title" value="<?php echo $this->data['portlet_title'];?>">
											<span class="help-block">
												<span class="label label-danger"><i class="fa fa-warning"> </i>This is inline help</span>
											</span>
										</div>
									</div>
								</div>
								
								
								
			<div class="row" style="padding:0px 15px;">
				<div class="col-md-10">
					<div class="form-group">
						<label >Attributes</label>
					</div>
				
				
					<div class="form-group  breadcrump" id="breadcrump1" data-id="1">
						
							<div class="col-md-10">
								<div class="col-md-4">
									<select class="form-control input-sm" name="color" placeholder="Color">
										<option value="">--Choose color--</option>';
										<option <?php if($this->data['portlet_attrs']['color']=='red') {echo "selected" ;}?> value="red">Red</option>
										<option <?php if($this->data['portlet_attrs']['color']=='blue') {echo "selected" ;}?>  value="blue">Blue</option>
										<option <?php if($this->data['portlet_attrs']['color']=='green') {echo "selected" ;}?>  value="green">Green</option>
										<option <?php if($this->data['portlet_attrs']['color']=='purple') {echo "selected" ;}?>  value="purple">Purple</option>
										<option <?php if($this->data['portlet_attrs']['color']=='yellow') {echo "selected" ;}?>  value="yellow">Yellow</option>
										<option <?php if($this->data['portlet_attrs']['color']=='grey') {echo "selected" ;}?>  value="grey">Grey</option>
									</select>
									
								</div>
								<div class="col-md-4">
								
										<select class="form-control input-sm" name="type" placeholder="Type">
										<option value="">--Choose type--</option>';
										<option value="">empty</option>
										<option <?php if($this->data['portlet_attrs']['type']=='box') {echo "selected" ;}?>   value="box">Box</option>
										<option <?php if($this->data['portlet_attrs']['type']=='solid') {echo "selected" ;}?> value="solid">Solid</option>
									
									</select>
								</div>
								<div class="col-md-4">
								
										<select class="form-control input-sm" name="width" placeholder="Width">
										<option value="">--Choose width--</option>';
										
										<option <?php if($this->data['portlet_attrs']['width']=='3') {echo "selected" ;}?>  value="3">3</option>
										<option <?php if($this->data['portlet_attrs']['width']=='4') {echo "selected" ;}?> value="4">4</option>
										<option <?php if($this->data['portlet_attrs']['width']=='6') {echo "selected" ;}?> value="6">6</option>
										<option <?php if($this->data['portlet_attrs']['width']=='8') {echo "selected" ;}?> value="8">8</option>
										<option <?php if($this->data['portlet_attrs']['width']=='9') {echo "selected" ;}?> value="9">9</option>
										<option <?php if($this->data['portlet_attrs']['width']=='12') {echo "selected" ;}?>  value="12">12</option>
										
											</select>
								</div>
							</div>
							
							
						</div>
						
<!--
					<div class="form-group  breadcrump" id="breadcrump1" data-id="1">
						
							<div class="col-md-10">
								<div class="col-md-6">
									<input class="form-control input-sm" name="atr_key[]" placeholder="Key">
									
								</div>
								<div class="col-md-6">
								
									<input class="form-control input-sm" name="atr_val[]" placeholder="Value">
								</div>
								
							</div>
							
							<div class="col-md-2">
								<button type="button" class="btn grey addGC" onclick="addGC(this); return false;" data-act="addGC" data-id="1" style="padding: 5px;">Add</button>
							</div>
						</div>
				</div>
-->
				
				</div>
				
				
				<div class="col-md-10">
					<div class="form-group">
						<label >Actions</label>
					</div>
					<?php  for($i=0;$i<count($this->data['portlet_attrs']['actions']);$i++)?>
					<div class="form-group  element" id="element1" data-id="1">
							<div class="col-md-10">
								<div class="col-md-4">
									<input class="form-control input-sm" value="<?php $this->data['portlet_attrs']['actions'][$i]['label']; ?>"  name="act_label[<?php echo $i;?>]" placeholder="Label">
									<br>
									<input value="<?php $this->data['portlet_attrs']['actions'][$i]['data-target']; ?>"  class="form-control input-sm" name="act_target[<?php echo $i; ?>]" placeholder="Data-target">
								</div>
								<div class="col-md-4">
									<input value="<?php $this->data['portlet_attrs']['actions'][$i]['class']; ?>"  class="form-control input-sm" name="act_class[<?php echo $i; ?>]" placeholder="Class">
									<br>
									<input value="<?php $this->data['portlet_attrs']['actions'][$i]['data-toggle']; ?>" class="form-control input-sm" name="act_modal[<?php echo $i; ?>]" placeholder="Data-modal">
									
								</div>
								<div class="col-md-4">
									<input value="<?php $this->data['portlet_attrs']['actions'][$i]['classicon']; ?>" class="form-control input-sm" name="act_clsicon[<?php echo $i; ?>]" placeholder="Class Icon">
									<br>
									<input value="<?php $this->data['portlet_attrs']['actions'][$i]['id']; ?>" class="form-control input-sm" name="act_id[<?php echo $i; ?>]" placeholder="Id">
								</div>
							</div>
							<div class="col-md-2">
								<button type="button" class="btn grey addGC" onclick="addEl(this); return false;" data-act="addGC" data-id="1" style="padding: 5px;">Add</button>
							</div>
					</div>
				</div>
			</div>
								
								
			<div class="row" style="padding:0px 15px;">
				<div class="col-md-5">
					<div class="form-group">
						<label for="layout">Tools</label>
						
						<select multiple="" class="form-control" name="tools[]">
											
								<option  <?php if(in_array('collapse',$this->data['portlet_attrs']['tools'])) {echo "selected" ;}?>   value="collapse">Collapse</option>
								<option <?php if(in_array('config',$this->data['portlet_attrs']['tools'])) {echo "selected" ;}?> value="config">Config</option>		
								<option <?php if(in_array('reload',$this->data['portlet_attrs']['tools'])) {echo "selected" ;}?> value="reload">Reload</option>
								<option <?php if(in_array('remove',$this->data['portlet_attrs']['tools'])) {echo "selected" ;}?> value="remove">Remove</option>													
						</select>
						
						<span class="help-block">
							<span class="label label-danger"><i class="fa fa-warning"> </i>This is inline help</span>
						</span>
					</div>
					
				</div>
				
				<div class="col-md-offset-1 col-md-5">
					<div class="form-group">
					
						<label for="type">Type</label>
						
						<select class="form-control" name="maintype">
						<option  <?php if($this->data['portlet_type']=='websocket') {echo "selected" ;}?> value="websocket">WEBSOCKET</option>					
						<option  <?php if($this->data['portlet_type']=='table') {echo "selected" ;}?> value="table">TABLE</option>
						<option <?php if($this->data['portlet_type']=='form') {echo "selected" ;}?>  value="form">FORM</option>		
						<option <?php if($this->data['portlet_type']=='html') {echo "selected" ;}?>  value="html">HTML</option>
						<option   <?php if($this->data['portlet_type']=='graphic') {echo "selected" ;}?>   value="graphic">GRAPHIC</option>		
						<option   <?php if($this->data['portlet_type']=='graphicplus') {echo "selected" ;}?>   value="graphicplus">GRAPHIC PLUS</option>			
						<option   <?php if($this->data['portlet_type']=='amchartpivot') {echo "selected" ;}?>   value="amchartpivot">AmChart Pivot</option>						
																								
						</select>
						
						<span class="help-block">
							<span class="label label-danger"><i class="fa fa-warning"> </i>This is inline help</span>
						</span>
						
					</div>
				</div>
			</div>
			
			
			
			<div class="row" style="padding:0px 15px;">
				<div class="col-md-5">
					<div class="form-group">
						<label for="layout">Weight</label>
						
								<input class="form-control input-sm" value="<?php echo $this->data['weight'];?>" name="weight" placeholder="Weight">
																			
						
						
						<span class="help-block">
							<span class="label label-danger"><i class="fa fa-warning"> </i>This is inline help</span>
						</span>
					</div>
					
				</div>
				
				<div class="col-md-offset-1 col-md-5">
					<div class="form-group">
						<label for="layout">Custom View</label>
						
								<input class="form-control input-sm" value="<?php echo $this->data['custom_view'];?>" name="customview" placeholder="Custom View">
																			
						
						
						<span class="help-block">
							<span class="label label-danger"><i class="fa fa-warning"> </i>This is inline help</span>
						</span>
					</div>
				</div>
			</div>
			<div class="row" style="padding:0px 15px;">
				<div class="col-md-5">
					<div class="form-group">
						<div class="form-group">
										<label for="get_api">Get Api</label>
											
										<select  name="get_api[]" id="get_api" class="form-control" placeholder="Get Api" multiple>
										<?php  foreach($this->apis as $k=>$v){
											
												echo "<optgroup label='".$k."'>";	
												foreach($v as $v2) 
												{
													$sel="";
													if(in_array($v2['id'], $vapi)){$sel="selected";}	
													echo "<option $sel value='".$v2['id']."'>".$v2['id']."-".$v2['text']."</option>";	
												}
										
										echo "</optgroup>";
											
										} ?>
										</select>
											
						</div>
						
						<span class="help-block">
							<span class="label label-danger"><i class="fa fa-warning"> </i>This is inline help</span>
						</span>
					</div>
					
				</div>
			  
			</div>
			
								<!--/row-->
							</div>
							<div class="form-actions" style="margin:0px">
							   <div class="row">
								   <div class="col-md-6">
									   <div class="col-md-offset-3 col-md-9">
										   <button type="submit" class="btn green">Update>>></button>
										   
										   <button type="button" type="button" data-dismiss="modal" class="btn default">Cancel</button>
									   </div>
								   </div>
								   <div class="col-md-6">
								   </div>
							   </div>
							</div>
							</form>
							<!-- END FORM-->
						</div>
	</div>
				
	<!-- END EXAMPLE TABLE PORTLET-->
	</div>
</div>

</div>

<script>
var gamasidx2=1;
var elem=<?php echo count($this->data['portlet_attrs']['actions']); ?>;


function addEl(me){
	var id = $(me).data('id');
	var currow = $('body').find('.element:last');

<?php
echo 'var str = \'<div class="form-group row element" id="element\'+(parseInt(elem)+1)+\'" data-id="\'+(parseInt(gamasidx2)+1)+\'" >\'
							
						+\'<div class="col-md-10">\'
								+\'<div class="col-md-4">\'
									+\'<input class="form-control input-sm" name="act_label[\'+parseInt(elem)+\']" placeholder="Label">\'
									+\'<br>\'
									+\'<input class="form-control input-sm" name="act_target[\'+parseInt(elem)+\']" placeholder="Data-target">\'
								+\'</div>\'
								+\'<div class="col-md-4">\'
									+\'<input class="form-control input-sm" name="act_class[\'+parseInt(elem)+\']" placeholder="Class">\'
									+\'<br>\'
									+\'<input class="form-control input-sm" name="act_modal[\'+parseInt(elem)+\']" placeholder="Data-modal">\'
								+\'</div>\'
								+\'<div class="col-md-4">\'
									+\'<input class="form-control input-sm" name="act_clsicon[\'+parseInt(elem)+\']" placeholder="Class Icon">\'
									+\'<br>\'
									+\'<input class="form-control input-sm" name="act_id[\'+parseInt(elem)+\']" placeholder="Id">\'
								+\'</div>\'
							+\'</div>\'
							
					+\'<div class="col-md-2">\'
						+\'<button type="button" class="btn red removeEl" onclick="removeEl(this); return false;" data-act="removeEl" data-id="\'+(parseInt(elem)+1)+\'" style="padding: 5px;">Remove</button>\'
					+\'</div>\'
				+\'</div>\';';
?>
	elem++;
	//console.log(str);
	currow.after(str);
}

function addGC(me){
	var id = $(me).data('id');
	var currow = $('body').find('.breadcrump:last');

<?php
echo 'var str = \'<div class="form-group row breadcrump" id="breadcrump\'+(parseInt(gamasidx2)+1)+\'" data-id="\'+(parseInt(gamasidx2)+1)+\'" >\'
					+\'<div class="col-md-10">\'
						+\'<div class="col-md-6">\'
							+\'<input   class="form-control input-sm"  name="atr_key[]"  placeholder="Key" />\'
						+\'</div>\'
						+\'<div class="col-md-6">\'
							+\'<input   class="form-control input-sm"  name="atr_val[]" placeholder="Value" />\'
						+\'</div>\'
					
					+\'</div>\'
					+\'<div class="col-md-2">\'
						+\'<button type="button" class="btn red removeGC" onclick="removeGC(this); return false;" data-act="removeGC" data-id="\'+(parseInt(gamasidx2)+1)+\'" style="padding: 5px;">Remove</button>\'
					+\'</div>\'
				+\'</div>\';';
?>
	gamasidx2++;
	//console.log(str);
	currow.after(str);
}


function removeGC(me){
	var id = $(me).data('id');
	//console.log(id);
	$('body').find('#breadcrump'+id+':first').remove();
}

function removeEl(me){
	var id = $(me).data('id');
	//console.log(id);
	$('body').find('#element'+id+':first').remove();
}

jQuery(document).ready(function() {
$('body').addClass('page-header-fixed page-sidebar-fixed page-footer-fixed');




var EditApi = function () {
	
	var handleAdd = function() {

		$('form#addapi').validate({
	            //errorElement: 'span', //default input error message container
	            //errorClass: 'help-block', // default input error message class
	            focusInvalid: false, // do not focus the last invalid input
	            rules: {
	                name: {
	                    required: true
	                },
	                title: {
	                    required: true
	                }
	            },
	         

	            messages: {
					
	            },

	            invalidHandler: function (event, validator) { //display error alert on form submit   
	                //$('.alert-danger', $('.login-form')).show();
	                //console.log(event);
	                //console.log(validator);
	                
					//$('span.help-block').show();
					$('span.help-block').hide();
	                var errorlist = validator.errorList;
	                if(errorlist.length>0){
						for(var i = 0; i<errorlist.length; i++){
							//console.log(errorlist[i].element);
							var el = errorlist[i].element; 
							var next = $(el).next('span.help-block'); 
							$(next).slideDown();
						}
						$('html,body').animate({
							scrollTop: $(el).offset().top-100
						}, 800);
					}
	            },

	            highlight: function (element) { // hightlight error inputs
	                $(element)
	                    .closest('.form-group').addClass('has-error'); // set error class to the control group
	            },

	            success: function (label) {
	                label.closest('.form-group').removeClass('has-error');
	                //label.remove();
	            },

	            errorPlacement: function (error, element) {
					$('span.help-block').hide();
					var next = element.next('span.help-block'); 
					//console.log(error);
	                if(error[0].textContent!=""){
						$(next).children('span.label').html("<i class='fa fa-warning'></i> "+ error[0].textContent);
						$(element).next().slideDown();
						$('html,body').animate({
							scrollTop: $(element).offset().top-100
						}, 800);
					}
	            },

	            submitHandler: function (form) {
					$('span.help-block').hide();
					$('.form-group').removeClass('has-error');
	                //form.submit(); // form validation success, call ajax form submit
	                submitForm();
	                return false;
	            }
	        });

	        $('form#addapi input').keypress(function (e) {
	            if (e.which == 13) {
					$('span.help-block').hide();
					$('.form-group').removeClass('has-error');
	                if ($('form#addapi').validate().form()) {
	                   //$('form#addapi').submit(); //form validation success, call ajax form submit
	                   submitForm();
	                }
	                return false;
	            }
	        });
	}
	
	var submitForm = function(){
		
		
		//console.log($('form#addapi').serialize());
		$.ajax({
			url:"/prabajax/updateportlet",
			content:'json',
			type:'post',
			data:$('form#addapi').serialize(),
			beforeSend:function(){
				$('#alertinfo').addClass('hidden');
				$('#processbar').removeClass('hidden');
				$('html,body').animate({
					scrollTop: $('h3.page-title').offset().top
				}, 800);
				$('#alertinfo').removeClass('alert-success');
				$('#alertinfo').removeClass('alert-warning');
				$('#alertinfo').removeClass('alert-danger');
				$('#alertinfo').removeClass('alert-info');
			},
			complete:function(result){
				$('#processbar').addClass('hidden');
			},
			success: function(data){
				// console.log(data);
				// return false;
				if(data.result!=undefined){
					if(data.result==true){
						$('#alertinfo').addClass('alert-success');
						$('#alertmsg').html("<strong>Success!</strong> "+data.retMsg);
						if(data.data['maintype']=='form')
						{
						  window.location.href = "/prabaeditor/builderform/act/edit/id/"+data.data['id'];		
						} else if (data.data['maintype']=='table') {
						window.location.href = "/prabaeditor/buildertable/act/edit/id/"+data.data['id'];	
							
						} else if (data.data['maintype']=='html')  {
							window.location.href = "/prabaeditor/builderhtml/act/edit/id/"+data.data['id'];
							
						} else if (data.data['maintype']=='graphic')  {
							window.location.href = "/prabaeditor/buildergraphic/act/edit/id/"+data.data['id'];
						
						} else if (data.data['maintype']=='graphicplus')  {
							window.location.href = "/prabaeditor/buildergraphicplus/act/edit/id/"+data.data['id'];
						} else if (data.data['maintype']=='websocket')  {
							window.location.href = "/prabaeditor/websocket/act/edit/id/"+data.data['id'];
						
								
						}else if (data.data['maintype']=='amchartpivot')  {
							window.location.href = "/pivottable/amchart/pid/"+data.data['id'];
						}
						
					}else{
						$('#alertinfo').addClass('alert-warning');
						$('#alertmsg').html("<strong>Failed!</strong> "+data.retMsg);
						
						
					}
				}else{
					$('#alertinfo').addClass('alert-info');
					$('#alertmsg').html("<strong>Error!</strong> System is busy, please try again.");
				}
				$('#alertinfo').removeClass('hidden');
			},
			error:function(){
				$('#alertinfo').addClass('alert-info');
				$('#alertmsg').html("<strong>Error!</strong> System is busy, please try again.");
				$('#alertinfo').removeClass('hidden');
			}
		});
	}
	
	

	var resetForm = function(){
		$('input','form#addapi')
			.not(':button, :submit, :reset, :hidden')
			.val('');
			
		$('select,option','form#addapi')
			.removeAttr('checked')
			.removeAttr('selected');
		
		$('.make-switch').bootstrapSwitch('setState',false);
		
		$('.ms-selectable').find('li').removeClass('ms-selected');
		$('.ms-selection').find('li').removeClass('ms-hover');
		$('.ms-selectable').find('li').removeAttr('style');
		
		$('.ms-selection').find('li').removeClass('ms-selected');
		$('.ms-selection').find('li').removeClass('ms-hover');
		$('.ms-selection').find('li').css({display:'none'});
	}
    
    return {
        //main function to initiate the module
        init: function () {
            handleAdd();
        }

    };

}();


App.init();
FormComponents3.init();

$('span.help-block').hide();
EditApi.init();

$('#get_api').select2();

});
</script>
