<?php
	$params=array();
	foreach($this->params as $v) 
	{
		$params[$v['value_param']] = $v['display_param'];	
	}
	$modes=array();
	foreach($this->modes as $v) 
	{
		$modes[$v['value_param']] = $v['display_param'];	
	}
	$conns=array();
	foreach($this->conns as $v) 
	{
		$conns[$v['conn_name']] = $v['conn_name'];	
	}
	//Zend_Debug::dump($this->adapts);die();
?>
<div class="page-content">

<!-- BEGIN PAGE HEADER-->
<div class="row">
	<div class="col-md-12">
		<!-- BEGIN PAGE TITLE & BREADCRUMB-->
		<h3 class="page-title">
		Connection List <small>Define and manage connection to all system related</small>
		</h3>
			<ul class="page-breadcrumb breadcrumb">
			<li>
				<i class="fa fa-rss"></i>
				<a href="/">PraBAC</a>
				<i class="fa fa-angle-right"></i>
			</li>
			<li>
				<i class="fa fa-cloud"></i>
				<a href="/">Data Management</a>
				<i class="fa fa-angle-right"></i>
			</li>
			
			<li>
				<i class="fa fa-link"></i>
				Connections
			</li>
			<!--li class="btn-group pull-right">
				<button type="button" class="btn red">
					<span>
				<?php echo Zend_Auth::getInstance()->getIdentity()->fullname; ?>
					</span>
				</button>
			</li-->
		</ul>
		
		
		<!-- END PAGE TITLE & BREADCRUMB-->
	</div>
</div>
<!-- END PAGE HEADER-->







<div class="row">
<div class="col-md-9 ">
					<!-- BEGIN EXAMPLE TABLE PORTLET-->
					<div class="portlet box grey">
						<div class="portlet-title">
							<div class="caption">Connections
									</div>
							<div class="actions">
									<a href="#" class="btn green" data-target="static2" data-toggle="modal" id="btn-addnew"><i class="fa fa-plus"></i> Add New</a>
								<div class="btn-group">
									<a class="btn green" href="#" data-toggle="dropdown">
									<i class="fa fa-cogs"></i> Tools <i class="fa fa-angle-down"></i>
									</a>
									<!--
									<ul class="dropdown-menu pull-right">
										<li>
											<a href="#"><i class="fa fa-pencil"></i> Edit</a>
										</li>
										<li>
											<a href="#"><i class="fa fa-trash-o"></i> Delete</a>
										</li>
										<li>
											<a href="#"><i class="fa fa-ban"></i> Ban</a>
										</li>
										<li class="divider">
										</li>
										<li>
											<a href="#"><i class="i"></i> Make admin</a>
										</li>
									</ul>
								-->	
								</div>
							</div>
						</div>
						<div class="portlet-body">
					<div class="table-responsive table-scrollable">
								<table class="table table-striped table-hover">
								<thead>
								<tr>
									<th>
										#
									</th>
									<th>
										Connection Name
									</th>
									<th>
										Adapter
									</th>
									<th>
										Host
									</th>
									<th>
										DbName
									</th>
									<th>
										
									</th>
								</tr>
								</thead>
								<tbody>
									
								<?php 
								$i=1;
								foreach ($this->conns as $k=>$v) {
								?>	
								<tr>
									<td>
										<?php   echo $i; ?>
									</td>
									<td>
										<?php   echo $v['conn_name']; ?>
									</td>
									<td>
										<?php   echo $v['conn']['adapter']; ?>
									</td>
										<td>
										<?php   echo $v['conn']['host']; ?>
									</td>
									<td>
										<?php   echo $v['conn']['dbname']; ?> 
									</td>
									<td>
										<a href="/prabaeditor/editconn/id/<?php   echo $v['id']; ?>"  class="btn btn-xs green btn-edit"><i class="fa fa-search"></i> Edit</a>
									</td>
								</tr>
								
								<?php  
								$i++;
								 } ?>
								
								</tbody>
								</table>
								
								<!-- static -->
			<div id="static2" class="modal container fade modal-scroll modal-overflow in" tabindex="-1" data-backdrop="static" data-keyboard="false">
				<div class="modal-body" style="padding:5px">
					<div class="portlet box green" style="margin:0px">
						<div class="portlet-title">
							<div class="caption">
								Add new Conn
							</div>
							 <div class="actions">
								 <a href="#" class="btn reload" data-dismiss="modal"><i class="fa fa-times"></i></a>
							 </div>
							<div class="tools">
							</div>
						</div>
						<div class="portlet-body" style="padding:15px">
							<form action="" class="form-horizontal" id="addconn" method="post">
							<input type="hidden" name="id" value="" />
							<input type="hidden" name="pid" value="" />
							<!-- BEGIN FORM-->
							<div class="form-body">
								<div class="alert alert-success alert-dismissable hidden" id="alertinfo">
									<button type="button" class="close" data-dismiss="alert" aria-hidden="true"></button>
									<span id="alertmsg"><strong>Warning!</strong> Something went wrong. Please check.</span>
								</div>
								
								<div style="margin:0px auto;text-align:center" id="processbar" class="hidden">
									<div class="progress progress-striped active" style="margin:0px auto;text-align:center">
										<div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
											<span class="sr-only">
												On Process
											</span>
										</div>
									</div>
									<span style="margin:0px auto;">Please wait...processing request</span>
								</div>
								
					
								<div class="row" style="padding:0px 15px;">
									<div class="col-md-5">
										<div class="form-group">
											<label for="conn">Connection Name</label>
											<input type="text" name="conn" id="conn" class="form-control" placeholder="Connection Name"  >
											<span class="help-block">
												<span class="label label-danger"><i class="fa fa-warning"> </i>This is inline help</span>
											</span>
										</div>
									</div>
									
									
									<div class="col-md-offset-1 col-md-5">
										<div class="form-group">
											<label for="adapter">Adapter</label>
											
											<select   name="adapter" id="adapter" class="form-control" placeholder="Adapter" >
											<?php 
											foreach ($this->adapts as $k=>$v) {
												
												echo "<option value='".$k."'>".$v."</option>"; 	
												
											}
											
											?>
											
												
											
											
											</select>
										</div>
									</div>
								</div>
								<div class="row" style="padding:0px 15px;">
									<div class="col-md-5">
										<div class="form-group">
											<label for="host">Host Name</label>
											<input type="text" name="host" id="host" class="form-control" placeholder="Host Name"  >
											<span class="help-block">
												<span class="label label-danger"><i class="fa fa-warning"> </i>This is inline help</span>
											</span>
										</div>
										
									</div>
									<div class="col-md-offset-1 col-md-5">
										<div class="form-group">
											<label for="dbname">DbName</label>
											<textarea name="dbname" id="dbname" class="form-control" placeholder="DbName" value=""></textarea>
											<span class="help-block">
												<span class="label label-danger"><i class="fa fa-warning"> </i>This is inline help</span>
											</span>
										</div>
									</div>
									
								</div>
							
								
								<div class="row" style="padding:0px 15px;">
									<div class="col-md-5">
										<div class="form-group">
											<label for="port">Port</label>
											<input type="text" name="port" id="port" class="form-control" placeholder="Port"  >
											<span class="help-block">
												<span class="label label-danger"><i class="fa fa-warning"> </i>This is inline help</span>
											</span>
										</div>
									</div>
									<div class="col-md-offset-1 col-md-5">
										<div class="form-group">
											<label for="username">Username</label>
											<input type="text" name="username" id="username" class="form-control" placeholder="Username">
											<span class="help-block">
												<span class="label label-danger"><i class="fa fa-warning"> </i>This is inline help</span>
											</span>
										</div>
									</div>
								</div>
								<div class="row" style="padding:0px 15px;">
									<div class="col-md-5">
										<div class="form-group">
											<label for="password">Password</label>
											<input type="text" name="password" id="password" class="form-control" placeholder="Password" >
											<span class="help-block">
												<span class="label label-danger"><i class="fa fa-warning"> </i>This is inline help</span>
											</span>
										</div>
									</div>
								  
									<div class="col-md-offset-1 col-md-5">
										<div class="form-group">
											<label for="descr">Optional Params</label>
											<input type="text" name="descr" id="descr" class="form-control" placeholder="Optional Params">
											<span class="help-block">
												<span class="label label-danger"><i class="fa fa-warning"> </i>This is inline help</span>
											</span>
										</div>
									</div>
								</div>
								<div class="row" style="padding:0px 15px;">
									<div class="col-md-5">
										<div class="form-group">
											<label for="dis">Disable Connection</label>
											<input type="checkbox" name="dis" id="dis" value=1 class="form-control" placeholder="Disable Connection"  >
											<span class="help-block">
												<span class="label label-danger"><i class="fa fa-warning"> </i>This is inline help</span>
											</span>
										</div>
									</div>
									<div class="col-md-offset-1 col-md-5">
										
									</div>
								</div>
								
								  
									
								</div>
								
								<!--/row-->
							</div>
							<div class="form-actions" style="margin:0px">
							   <div class="row">
								   <div class="col-md-6">
									   <div class="col-md-offset-3 col-md-9">
										   <button type="submit" class="btn green">Submit</button>
										    <button  type="button"  onclick="tescon(this);" class="btn green">Test Connection</button>
										   <button type="button" type="button"   data-dismiss="modal" class="btn default">Cancel</button>
										   
									   </div>
								   </div>
								   <div class="col-md-6">
								   </div>
							   </div>
							</div>
							</form>
							<!-- END FORM-->
						</div>
					</div>
				</div>
				<!--div class="modal-footer">
					<button type="button" data-dismiss="modal" class="btn btn-default">Cancel</button>
					<button type="button" data-dismiss="modal" class="btn green">Submit</button>
				</div-->
			</div>
							
						</div>
					</div>
					<!-- END EXAMPLE TABLE PORTLET-->
				</div>


</div>













	</div>
</div>

</div>

<script>
	
	
function tescon(me){
	var $me = $(me);
	var $val = $me.val();
	//alert("ss");
	

		
	 
	if ($('form#addconn').validate().form()) {
		$.ajax({
			url:"/prabajax/testconn",
			content:'json',
			type:'post',
			data:$('form#addconn').serialize(),
			beforeSend:function(){
				$('#alertinfo').addClass('hidden');
				$('#processbar').removeClass('hidden');
				$('html,body').animate({
					scrollTop: $('h3.page-title').offset().top
				}, 800);
				$('#alertinfo').removeClass('alert-success');
				$('#alertinfo').removeClass('alert-warning');
				$('#alertinfo').removeClass('alert-danger');
				$('#alertinfo').removeClass('alert-info');
			},
			complete:function(result){
				$('#processbar').addClass('hidden');
			},
			success: function(data){
				//console.log(data);
				if(data.result!=undefined){
					if(data.result==true){
						$('#alertinfo').addClass('alert-success');
						$('#alertmsg').html("<strong>Success!</strong> "+data.retMsg);
					}else{
						$('#alertinfo').addClass('alert-warning');
						$('#alertmsg').html("<strong>Failed!</strong> "+data.retMsg);
					}
				}else{
					$('#alertinfo').addClass('alert-info');
					$('#alertmsg').html("<strong>Error!</strong> System is busy, please try again.");
				}
				$('#alertinfo').removeClass('hidden');
			},
			error:function(){
				$('#alertinfo').addClass('alert-info');
				$('#alertmsg').html("<strong>Error!</strong> System is busy, please try again.");
				$('#alertinfo').removeClass('hidden');
			}
		});
		
	
	
	
	
	}
}
	
		
	

	
	
	
jQuery(document).ready(function() {
$('body').addClass('page-header-fixed page-sidebar-fixed page-footer-fixed');
App.init();


$('span.help-block').hide();



var UIExtendedModals3 = function () {
    
    return {
        //main function to initiate the module
        init: function () {
        
            // general settings
            $.fn.modal.defaults.spinner = $.fn.modalmanager.defaults.spinner = 
              '<div class="loading-spinner" style="width: 200px; margin-left: -100px;">' +
                '<div class="progress progress-striped active">' +
                  '<div class="progress-bar" style="width: 100%;"></div>' +
                '</div>' +
              '</div>';

            $.fn.modalmanager.defaults.resize = true;
            
            //static demo:
            var $modal2 = $('#static');

			// handle record edit/remove
            $('body').on('click', '#user_table_wrapper .btn-delete', function() {
              var id =  $(this).attr("data-id");
             
              if($modal2.find('td#static_id')!=undefined){
                $modal2.find('td#static_id').html(id);
              }
              
              $modal2.modal();                
            });
			
            $modal2.on('click', 'button#deleteconfirm', function(){
				var id = $modal2.find('td#static_id').html();
				//alert(id);
				$.ajax({
					url:"/prabajax/deleteapi",
					content:'json',
					type:'post',
					data:{uid:id},
					beforeSend:function(){
						$('#processbar2').removeClass('hidden');
						$('#alertinfo2').removeClass('alert-success');
						$('#alertinfo2').removeClass('alert-warning');
						$('#alertinfo2').removeClass('alert-danger');
						$('#alertinfo2').removeClass('alert-info');
					},
					complete:function(result){
						$('#processbar2').addClass('hidden');
					},
					success: function(data){
						//console.log(data);
						if(data.result!=undefined){
							if(data.result==true){
								$('#alertinfo2').addClass('alert-success');
								$('#alertmsg2').html("<strong>Success!</strong> "+data.retMsg);
								$("a.reload").click();
								$modal2.modal('hide');
							}else{
								$('#alertinfo2').addClass('alert-warning');
								$('#alertmsg2').html("<strong>Failed!</strong> "+data.retMsg);
							}
						}else{
							$('#alertinfo2').addClass('alert-info');
							$('#alertmsg2').html("<strong>Error!</strong> System is busy, please try again.");
						}
						$('#alertinfo2').removeClass('hidden');
					},
					error:function(){
						$('#alertinfo2').addClass('alert-info');
						$('#alertmsg2').html("<strong>Error!</strong> System is busy, please try again.");
						$('#alertinfo2').removeClass('hidden');
					}
				});
            });
            
            var $modal3 = $('#static2');

			// handle record edit/remove
            $('body').on('click', '#btn-addnew', function() {
              $modal3.modal();   
            });
            
            $modal3.on('hide.bs.modal', function (e) {
				$('#processbar').addClass('hidden');   
				$('#alertinfo').addClass('hidden'); 
			});
            
            $modal3.on('hidden.bs.modal', function (e) {
				$('#processbar').addClass('hidden');   
				$('#alertinfo').addClass('hidden');
			});
        }

    };

}();



var AddConn = function () {

	var handleAdd = function() {

		$('form#addconn').validate({
	            //errorElement: 'span', //default input error message container
	            //errorClass: 'help-block', // default input error message class
	            focusInvalid: false, // do not focus the last invalid input
	            rules: {
	                conn: {
	                    required: true
	                },
	                
	               // dbname: {
	                //    required: true
	               // },
	               // host: {
	                 //   required: true
	                //},
	                // username: {
	                //  ''  required: true
	                //}
	            },

	            messages: {
					
	            },

	            invalidHandler: function (event, validator) { //display error alert on form submit   
	                //$('.alert-danger', $('.login-form')).show();
	                //console.log(event);
	                //console.log(validator);
	                
					//$('span.help-block').show();
					$('span.help-block').hide();
	                var errorlist = validator.errorList;
	                if(errorlist.length>0){
						for(var i = 0; i<errorlist.length; i++){
							//console.log(errorlist[i].element);
							var el = errorlist[i].element; 
							var next = $(el).next('span.help-block'); 
							$(next).slideDown();
						}
						$('html,body').animate({
							scrollTop: $(el).offset().top-100
						}, 800);
					}
	            },

	            highlight: function (element) { // hightlight error inputs
	                $(element)
	                    .closest('.form-group').addClass('has-error'); // set error class to the control group
	            },

	            success: function (label) {
	                label.closest('.form-group').removeClass('has-error');
	                //label.remove();
	            },

	            errorPlacement: function (error, element) {
					$('span.help-block').hide();
					var next = element.next('span.help-block'); 
					//console.log(error);
	                if(error[0].textContent!=""){
						$(next).children('span.label').html("<i class='fa fa-warning'></i> "+ error[0].textContent);
						$(element).next().slideDown();
						$('html,body').animate({
							scrollTop: $(element).offset().top-100
						}, 800);
					}
	            },

	            submitHandler: function (form) {
					$('span.help-block').hide();
					$('.form-group').removeClass('has-error');
	                //form.submit(); // form validation success, call ajax form submit
	                submitForm();
	                return false;
	            }
	        });

	        $('form#addapi input').keypress(function (e) {
	            if (e.which == 13) {
					$('span.help-block').hide();
					$('.form-group').removeClass('has-error');
	                if ($('form#addconn').validate().form()) {
	                   //$('form#addapi').submit(); //form validation success, call ajax form submit
	                   submitForm();
	                }
	                return false;
	            }
	        });
	}
	
	var submitForm = function(){
		//console.log($('form#addapi').serialize());
		$.ajax({
			url:"/prabajax/addconn",
			content:'json',
			type:'post',
			data:$('form#addconn').serialize(),
			beforeSend:function(){
				$('#alertinfo').addClass('hidden');
				$('#processbar').removeClass('hidden');
				$('html,body').animate({
					scrollTop: $('h3.page-title').offset().top
				}, 800);
				$('#alertinfo').removeClass('alert-success');
				$('#alertinfo').removeClass('alert-warning');
				$('#alertinfo').removeClass('alert-danger');
				$('#alertinfo').removeClass('alert-info');
			},
			complete:function(result){
				$('#processbar').addClass('hidden');
			},
			success: function(data){
				//console.log(data);
				if(data.result!=undefined){
					if(data.result==true){
						$('#alertinfo').addClass('alert-success');
						$('#alertmsg').html("<strong>Success!</strong> "+data.retMsg);
						window.location.replace("/prabaeditor/listconn");
					}else{
						$('#alertinfo').addClass('alert-warning');
						$('#alertmsg').html("<strong>Failed!</strong> "+data.retMsg);
					}
				}else{
					$('#alertinfo').addClass('alert-info');
					$('#alertmsg').html("<strong>Error!</strong> System is busy, please try again.");
				}
				$('#alertinfo').removeClass('hidden');
			},
			error:function(){
				$('#alertinfo').addClass('alert-info');
				$('#alertmsg').html("<strong>Error!</strong> System is busy, please try again.");
				$('#alertinfo').removeClass('hidden');
			}
		});
	}
	
	

	var resetForm = function(){
		$('input','form#addconn')
			.not(':button, :submit, :reset, :hidden')
			.val('');
			
		$('select,option','form#addapi')
			.removeAttr('checked')
			.removeAttr('selected');
		
		$('.make-switch').bootstrapSwitch('setState',false);
		
		$('.ms-selectable').find('li').removeClass('ms-selected');
		$('.ms-selection').find('li').removeClass('ms-hover');
		$('.ms-selectable').find('li').removeAttr('style');
		
		$('.ms-selection').find('li').removeClass('ms-selected');
		$('.ms-selection').find('li').removeClass('ms-hover');
		$('.ms-selection').find('li').css({display:'none'});
	}
    
    return {
        //main function to initiate the module
        init: function () {
            handleAdd();
        }

    };

}();


UIExtendedModals3.init();

AddConn.init();
});


</script>
