<style>
.tree {
  padding-left: 14px;
  overflow:auto;
  position:relative;
}

.tree-solid-line {
  padding-left: 12px;
}

.tree.tree-no-line {
  padding-left: 0;
}

.tree:before{
  width: 1px;  
  z-index:1;
  display:block;
  content:"";
  position:absolute;
  top:-21px;
  bottom:16px;
  left:0;
  border-left:1px dotted #666;
}

.tree.tree-solid-line:before {
  border-left:1px solid #999;
} 

.tree.tree-no-line:before {
  display: none;
}

.tree .tree-folder{
  width:auto;
  min-height:20px;
  cursor:pointer;
}

.tree .tree-folder .tree-folder-header{
  position:relative;
  min-height:20px;
  line-height:20px;
  min-width: 100px;
}

.tree .tree-folder .tree-folder-header:hover{
  background-color:#eee
}

.tree .tree-folder .tree-folder-header .tree-folder-name,
.tree .tree-item .tree-item-name {
  display:inline;
  z-index:2;
}

.tree .tree-folder img {
  margin-left: 4px;
} 

.tree .tree-folder .tree-folder-header .tree-folder-name{
  margin-left:2px;
}

.tree .tree-folder .tree-folder-content{
  margin-left:23px;
  position:relative
}

.tree .tree-folder .tree-folder-content:before{
  display:inline-block;
  content:"";
  position:absolute;
  width: 1px;
  z-index:1;
  top:-9px;
  bottom:16px;
  left:-12px;
  border-left:1px dotted #666;
}

.tree.tree-solid-line .tree-folder .tree-folder-content:before {
  border-left:1px solid #999;
}

.tree.tree-no-line .tree-folder .tree-folder-content:before {
  display: none;
}

.tree .tree-item{
  position:relative;
  min-height:20px;
  line-height:20px;
  min-width: 100px;
  cursor:pointer
}

.tree .tree-item:hover{
  background-color:#eee
}

.tree .tree-item .tree-item-name{
  margin-left:2px;
}


.tree .tree-folder,
.tree .tree-item {
  position:relative;
}

.tree .tree-folder:before,
.tree .tree-item:before {
  display:inline-block;
  content:"";
  position:absolute;
  top:14px;
  left:-13px;
  width:18px;
  height:0;
  border-top:1px dotted #666;
  z-index:1;
}

.tree.tree-solid-line .tree-folder:before,
.tree.tree-solid-line .tree-item:before {
  border-top:1px solid #999;
}

.tree.tree-no-line .tree-folder:before,
.tree.tree-no-line .tree-item:before {
  display: none;
}

.tree .tree-selected{
  background-color: #eee;
  color:#6398b0;
}

.tree .tree-selected:hover{
  background-color:#e1e1e1;
}

.tree .tree-item,
.tree .tree-folder{
  border:1px solid #FFF
}

.tree .tree-item,
.tree .tree-folder .tree-folder-header{
  margin:0;
  padding:4px 5px 6px 5px;
  color:#333;
  -webkit-box-sizing:content-box;
     -moz-box-sizing:content-box;
          box-sizing:content-box;
}

.tree .tree-item .tree-item-name > i,
.tree .tree-folder .tree-folder-header > i {
  color: #666;
}


.tree .tree-item.tree-selected > i,
.tree .tree-item .tree-item-name > i{
  margin-left: -2px;
  width: 14px;
  display: inline-block;
  text-align: center;
  margin-right: 1px;
  color: #666;
}


.tree.tree-plus-minus .tree-folder-header .fa-folder-open:before {
  height: 16px;
  width: 16px;
  line-height: 16px;
  vertical-align: middle;
  display: inline-block;
  background: url("../img/tree-icons.png") no-repeat;
  background-position: 0 -21px;
  content: "";
}

.tree.tree-plus-minus .tree-folder-header .fa-folder:before {
  height: 16px;
  width: 16px;
  line-height: 16px;
  vertical-align: middle;
  display: inline-block;
  background: url("../img/tree-icons.png") no-repeat;
  background-position: 0 2px;
  content: "";
}

.ie .tree.tree-plus-minus .tree-folder-header .fa-folder:before,
.ie .tree.tree-plus-minus .tree-folder-header .fa-folder-open:before {
  margin-top: -5px;
}

.tree.tree-plus-minus .tree-folder-name {
  margin-left: 0px !important;
}

.tree .tree-actions {
  display: none;
  position: absolute;
  margin-top: 1px;
  right: 4px;
}

.tree .tree-item:hover .tree-actions,
.tree .tree-folder-header:hover .tree-actions {
  display: inline-block;
}

.tree .tree-actions > i {
  font-weight: 300;
  border: 1px solid #999;
  padding: 1px 3px;
  text-align: center;
  font-size: 14px;
  color: #999;
  margin-right: 6px;
  margin-top: 0px;
  display: inline-block; 
}

.tree .tree-actions > i:hover {
  color: #666;   
  border: 1px solid #666;
} 

</style>


<div class="page-content">

<!-- BEGIN PAGE HEADER-->
<div class="row">
	<div class="col-md-12">
		<!-- BEGIN PAGE TITLE & BREADCRUMB-->
		<h3 class="page-title">
		Application List <small>Application Service running on PraBAC</small>
		</h3>
			<ul class="page-breadcrumb breadcrumb">
			<li>
				<i class="fa fa-rss"></i>
				<a href="/">PraBAC</a>
				<i class="fa fa-angle-right"></i>
			</li>
			<li>
				<i class="fa fa-desktop"></i>
				<a href="/">Content Management</a>
				<i class="fa fa-angle-right"></i>
			</li>
			
			<li>
				<i class="fa fa-list-ol"></i>
				The List
			</li>
			<!--li class="btn-group pull-right">
				<button type="button" class="btn red">
					<span>
				<?php echo Zend_Auth::getInstance()->getIdentity()->fullname; ?>
					</span>
				</button>
			</li-->
		</ul>
		
		
		<!-- END PAGE TITLE & BREADCRUMB-->
	</div>
</div>
<!-- END PAGE HEADER-->







<div class="row">
<div class="col-md-9 ">
					<!-- BEGIN EXAMPLE TABLE PORTLET-->
					<div class="portlet box grey">
						<div class="portlet-title">
							<div class="caption">The List
									</div>
							<div class="actions">
									<a href="#" class="btn green" data-target="static2" data-toggle="modal" id="btn-addnew"><i class="fa fa-plus"></i> Add New</a>
								<div class="btn-group">
									<a class="btn green" href="#" data-toggle="dropdown">
									<i class="fa fa-cogs"></i> Tools <i class="fa fa-angle-down"></i>
									</a>
									<!--
									<ul class="dropdown-menu pull-right">
										<li>
											<a href="#"><i class="fa fa-pencil"></i> Edit</a>
										</li>
										<li>
											<a href="#"><i class="fa fa-trash-o"></i> Delete</a>
										</li>
										<li>
											<a href="#"><i class="fa fa-ban"></i> Ban</a>
										</li>
										<li class="divider">
										</li>
										<li>
											<a href="#"><i class="i"></i> Make admin</a>
										</li>
									</ul>
								-->	
								</div>
							</div>
						</div>
						<div class="portlet-body">
								<div id="MyTree" class="tree">
								<div class="tree-folder" style="display:none;">
									<div class="tree-folder-header">
										<i class="fa fa-folder"></i>
										<div class="tree-folder-name">
										</div>
									</div>
									<div class="tree-folder-content">
									</div>
									<div class="tree-loader" style="display:none">
									</div>
								</div>
								<div class="tree-item" style="display:none;">
									<i class="tree-dot"></i>
									<div class="tree-item-name">
									</div>
								</div>
							</div>
						
						
						</div>
					<!-- END EXAMPLE TABLE PORTLET-->
				</div>


</div>













	</div>
</div>

</div>

<script>
	
	
jQuery(document).ready(function() {
$('body').addClass('page-header-fixed page-sidebar-fixed page-footer-fixed');
App.init();


$('span.help-block').hide();

var DataSourceTree = function(options) {
        this._data      = options.data;
        this._delay = options.delay;
}

DataSourceTree.prototype.data = function(options, callback) {
        var self = this;
        var $data = null;

        if(!("name" in options) && !("type" in options)){
                $data = this._data;//the root tree
                callback({ data: $data });
                return;
        }
        else if("type" in options && options.type == "folder") {
                if("additionalParameters" in options && "children" in options.additionalParameters)
                        $data = options.additionalParameters.children;
                else $data = {}//no data
        }
        
        if($data != null)//this setTimeout is only for mimicking some random delay
                setTimeout(function(){callback({ data: $data });} , parseInt(Math.random() * 500) + 200);

        //we have used static data here
        //but you can retrieve your data dynamically from a server using ajax call
        //checkout examples/treeview.html and examples/treeview.js for more info
};

var tree_data = {
        'for-sale' : {name: 'For Sale', type: 'folder'} ,
        'vehicles' : {name: 'Vehicles', type: 'folder'} ,
        'rentals' : {name: 'Rentals', type: 'folder'}   ,
        'real-estate' : {name: 'Real Estate', type: 'folder'}   ,
        'pets' : {name: 'Pets', type: 'folder'} ,
        'tickets' : {name: 'Tickets', type: 'item'}     ,
        'services' : {name: 'Services', type: 'item'}   ,
        'personals' : {name: 'Personals', type: 'item'}
}
tree_data['for-sale']['additionalParameters'] = {
        'children' : {
                'appliances' : {name: 'Appliances', type: 'item'},
                'arts-crafts' : {name: 'Arts & Crafts', type: 'item'},
                'clothing' : {name: 'Clothing', type: 'item'},
                'computers' : {name: 'Computers', type: 'item'},
                'jewelry' : {name: 'Jewelry', type: 'item'},
                'office-business' : {name: 'Office & Business', type: 'item'},
                'sports-fitness' : {name: 'Sports & Fitness', type: 'item'}
        }
}
tree_data['vehicles']['additionalParameters'] = {
        'children' : {
                'cars' : {name: 'Cars', type: 'folder'},
                'motorcycles' : {name: 'Motorcycles', type: 'item'},
                'boats' : {name: 'Boats', type: 'item'}
        }
}
tree_data['vehicles']['additionalParameters']['children']['cars']['additionalParameters'] = {
        'children' : {
                'classics' : {name: 'Classics', type: 'item'},
                'convertibles' : {name: 'Convertibles', type: 'item'},
                'coupes' : {name: 'Coupes', type: 'item'},
                'hatchbacks' : {name: 'Hatchbacks', type: 'item'},
                'hybrids' : {name: 'Hybrids', type: 'item'},
                'suvs' : {name: 'SUVs', type: 'item'},
                'sedans' : {name: 'Sedans', type: 'item'},
                'trucks' : {name: 'Trucks', type: 'item'}
        }
}

tree_data['rentals']['additionalParameters'] = {
        'children' : {
                'apartments-rentals' : {name: 'Apartments', type: 'item'},
                'office-space-rentals' : {name: 'Office Space', type: 'item'},
                'vacation-rentals' : {name: 'Vacation Rentals', type: 'item'}
        }
}
tree_data['real-estate']['additionalParameters'] = {
        'children' : {
                'apartments' : {name: 'Apartments', type: 'item'},
                'villas' : {name: 'Villas', type: 'item'},
                'plots' : {name: 'Plots', type: 'item'}
        }
}
tree_data['pets']['additionalParameters'] = {
        'children' : {
                'cats' : {name: 'Cats', type: 'item'},
                'dogs' : {name: 'Dogs', type: 'item'},
                'horses' : {name: 'Horses', type: 'item'},
                'reptiles' : {name: 'Reptiles', type: 'item'}
        }
}

var treeDataSource = new DataSourceTree({data: tree_data});

$('#MyTree').tree({
                dataSource: treeDataSource,
                loadingHTML: '<img src="/assets/core/img/input-spinner.gif"/>',
            });

});
$('#MyTree').on('deselected.fu.tree selected.fu.tree', function(event) {
  // insert JSON text of selected items after tree
	//$('#MyTree').after('SELECTED ITEMS: ' + JSON.stringify( $('#MyTree').tree('selectedItems') ) + '<br>' );
	var den = ($('#MyTree').tree('selectedItems'));
	console.log(den[0]['name']);

});

</script>
