<?php


/*
 * Copyright (C) Prabatech.com, Inc - All Rights Reserved Unauthorized copying of this file, via any medium is strictly prohibited Proprietary and confidential Written by himawijaya <info@prabatech.com>, 24.01.2016
 */
$params = array();

foreach($this->params as $v) {
    $params[$v['value_param']] = $v['display_param'];
}
$modes = array();

foreach($this->modes as $v) {
    $modes[$v['value_param']] = $v['display_param'];
}
$conns = array();

foreach($this->conns as $v) {
    $conns[$v['id']] = $v['conn_name'];
}
//Zend_Debug::dump($this->userapp);die();

?>
<div class="page-content">

<!-- BEGIN PAGE HEADER-->
<div class="row">
	<div class="col-md-12">
		<!-- BEGIN PAGE TITLE & BREADCRUMB-->
		<h3 class="page-title">
		API Discovery <small>Find, search, and add new API </small>
		</h3>
			<ul class="page-breadcrumb breadcrumb">
			<li>
				<i class="fa fa-rss"></i>
				<a href="/">PraBAC</a>
				<i class="fa fa-angle-right"></i>
			</li>
			<li>
				<i class="fa fa-cloud"></i>
				<a href="/">Data Management</a>
				<i class="fa fa-angle-right"></i>
			</li>
			
			<li>
				<i class="fa fa-search"></i>
				APIs List
			</li>
			<!--li class="btn-group pull-right">
				<button type="button" class="btn red">
					<span>
				<?php

echo Zend_Auth::getInstance()->getIdentity()->fullname;

?>
					</span>
				</button>
			</li-->
		</ul>
		
		
		
		<!-- END PAGE TITLE & BREADCRUMB-->
	</div>
</div>
<!-- END PAGE HEADER-->

<div class="row" style="margin-bottom:15px">
	<div class="col-md-12">
		<h4>Filter by Column</h4>
		<form class="form-inline" role="form">
			<div class="form-group">
				<label class="sr-only" for="filterid">ID</label>
				<div class="input-icon">
					<i class="fa fa-user"></i>
					<input type="text" class="form-control" id="filterid" name="filterid" placeholder="ID">
				</div>
			</div>
			<div class="form-group">
				<label class="sr-only" for="filterconn">Connection Name</label>
				<div class="input-icon">
					<i class="fa fa-user"></i>
					<input type="text" class="form-control" id="filterconn" name="filterconn" placeholder="Connection Name">
				</div>
			</div>
			<div class="form-group">
				<label class="sr-only" for="filtersql">Sql Text</label>
				<div class="input-icon">
					<i class="fa fa-envelope"></i>
					<input type="text" class="form-control" id="filtersql" name="filtersql" placeholder="Sql Text">
				</div>
			</div>
			<!--button type="submit" class="btn btn-default">Filter</button-->
		</form>
		<br>
		<form class="form-inline" role="form">
			<div class="form-group">
				<label class="sr-only" for="filterdesc">Description</label>
				<div class="input-icon">
					<i class="fa fa-circle-o"></i>
					<input type="text" class="form-control" id="filterdesc" name="filterdesc" placeholder="Description">
				</div>
			</div>
		
		</form>
	</div>
</div>

<div class="row">
	<div class="col-md-12">
	<!-- BEGIN EXAMPLE TABLE PORTLET-->
	<div class="portlet box grey">
		<div class="portlet-title">
			<div class="caption">
				<i class="fa fa-edit"></i>APIs List
			</div>
			<div class="actions">
				<a href="#" class="btn green" data-target="static2" data-toggle="modal" id="btn-addnew"><i class="fa fa-plus"></i> Add New</a>
				<a href="#" class="btn blue reload"><i class="fa fa-refresh"></i> Reload</a>
				<div class="btn-group">
					<a class="btn default" href="#" data-toggle="dropdown">
					Columns <i class="fa fa-angle-down"></i>
					</a>
					<div id="sample_2_column_toggler" class="dropdown-menu hold-on-click dropdown-checkboxes pull-right">
						<label><input type="checkbox" checked data-column="0">No</label>
						<label><input type="checkbox" checked data-column="1">ID</label>
						<label><input type="checkbox" checked data-column="2">Conn Name</label>
						<label><input type="checkbox" checked data-column="3">SqlText</label>
						<label><input type="checkbox" checked data-column="4">Api Desc</label>
					</div>
				</div>
			</div>
			<!--div class="tools">
				<a href="javascript:;" class="reload"></a>
			</div-->
		</div>
		<div class="portlet-body">
			<!--div class="table-toolbar">
				<div class="btn-group">
					<button id="sample_editable_1_new" class="btn green">
					Add New <i class="fa fa-plus"></i>
					</button>
				</div>
				<!--div class="btn-group pull-right">
					<button class="btn dropdown-toggle" data-toggle="dropdown">Tools <i class="fa fa-angle-down"></i>
					</button>
					<ul class="dropdown-menu pull-right">
					<li>
						<a href="#">Print</a>
					</li>
					<li>
						<a href="#">Save as PDF</a>
					</li>
					<li>
						<a href="#">Export to Excel</a>
					</li>
					</ul>
				</div>
			</div-->
			<table class="table table-striped table-bordered table-hover" id="user_table">
			<thead>
			<tr>
				<th>
					 No
				</th>
				<th>
					 ID
				</th>
				<th>
					
					 Conn Name
				</th>
				<th>
					Sql Text
				</th>
				<th>
					 Api Desc
				</th>
				<th>
					 Api Type
				</th>
				<th>
					 Api Str Replace
				</th>
				<th>
					 Attrs1
				</th>
				<th>
					 Cache Time
				</th>
				<th>
					 
				</th>
			</tr>
			</thead>
			<tbody>
			</tbody>
			</table>
			
			<!-- ajax -->
			<div id="ajax-modal" class="modal container fade modal-scroll modal-overflow in" tabindex="-1">
			</div>
			<!-- static -->
			<div id="static" class="modal fade" tabindex="-1" data-backdrop="static" data-keyboard="false">
				<div class="modal-body" style="padding:0px">
				<div class="portlet box red" style="margin:0px">
					<div class="portlet-title">
						<div class="caption">
							Are you sure to delete this api?
						</div>
						<div class="tools">
						</div>
					</div>
					<div class="portlet-body">
						<div class="alert alert-success alert-dismissable hidden" id="alertinfo2">
							<button type="button" class="close" data-dismiss="alert" aria-hidden="true"></button>
							<span id="alertmsg2"><strong>Warning!</strong> Something went wrong. Please check.</span>
						</div>
						
						<div style="margin:0px auto;text-align:center" id="processbar2" class="hidden">
							<div class="progress progress-striped active" style="margin:0px auto;text-align:center">
								<div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
									<span class="sr-only">
										On Process
									</span>
								</div>
							</div>
							<span style="margin:0px auto;">Please wait...processing request</span>
							<br>
						</div>
					<table>
						<tr>
							<td>
								 ID
							</td>
							<td>
								 :
							</td>
							<td id="static_id">
								 
							</td>
						</tr>
						
					</table>
					</div>
				</div>
				</div>
				<div class="modal-footer" style="margin-top:0px">
					<button type="button" data-dismiss="modal" class="btn btn-default">Cancel</button>
					<button type="button" id="deleteconfirm" class="btn red">Yes</button>
				</div>
			</div>
			<!-- static -->
			<div id="static2" class="modal container fade modal-scroll modal-overflow in" tabindex="-1" data-backdrop="static" data-keyboard="false">
				<div class="modal-body" style="padding:5px">
					<div class="portlet box green" style="margin:0px">
						<div class="portlet-title">
							<div class="caption">
								Add new Api
							</div>
							 <div class="actions">
								 <a href="#" class="btn reload" data-dismiss="modal"><i class="fa fa-times"></i></a>
							 </div>
							<div class="tools">
							</div>
						</div>
                        
						<div class="portlet-body" style="padding:15px">
                        <div class="alert alert-success alert-dismissable hidden" id="alertinfo">
									<button type="button" class="close" data-dismiss="alert" aria-hidden="true"></button>
									<span id="alertmsg"><strong>Warning!</strong> Something went wrong. Please check.</span>
								</div>
								
								<div style="margin:0px auto;text-align:center" id="processbar" class="hidden">
									<div class="progress progress-striped active" style="margin:0px auto;text-align:center">
										<div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
											<span class="sr-only">
												On Process
											</span>
										</div>
									</div>
									<span style="margin:0px auto;">Please wait...processing request</span>
								</div>
								
                            <form action="" class="form-horizontal" id="addapi" method="post">
							<input type="hidden" name="id" value="" />
							<input type="hidden" name="pid" value="" />
                                    <ul class="nav nav-tabs">
                                            <li class="active">
                                                <a href="#tab_1_1" data-toggle="tab"> Input </a>
                                            </li>
                                            <li>
                                                <a href="#tab_1_2" data-toggle="tab"> Test API</a>
                                            </li>
                                           <li>
                                                <a href="#tab_1_3" data-toggle="tab"> Grant API</a>
                                            </li>
                                        </ul>
                                     <div class="tab-content">
                                       <div class="tab-pane fade" id="tab_1_3">
                                       
                                               <div class="row">
                            <div class="col-md-12">
                                <!-- BEGIN EXAMPLE TABLE PORTLET-->
                                <div class="portlet light bordered">
                                    <div class="portlet-title">
                                        
                                    </div>
                                    <div class="portlet-body">
                                        <div class="table-toolbar">
                                            <div class="row">
                                                <div class="col-md-6">
                                                  
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="btn-group pull-right">
                                                     
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <table class="table table-striped table-bordered table-hover table-checkable order-column" id="sample_1">
                                            <thead>
                                                <tr>
                                                    <th> Access API
                                                        <label class="mt-checkbox mt-checkbox-single mt-checkbox-outline">
                                                           
                                                            <input type="checkbox" class="group-checkable" data-set="#sample_1 .checkboxes" />
                                                            <span></span>
                                                        </label>
                                                    </th>
                                                    <th> Username/IP </th>
                                                    <th> Restricted IP   </th>
                                                    <th> View Sql </th>
                                                    <th> View Parsing Data Time </th>
                                                
                                                </tr>
                                            </thead>
                                            <tbody>
                                                
                                                <?php


foreach($this->userapp as $v) {
    
    ?>
                                                <tr class="even gradeX">
                                                    <td>
                                                        <label class="mt-checkbox mt-checkbox-single mt-checkbox-outline">
                                                            <input type="checkbox" class="checkboxes"  name="access_api[<?php echo $v['id'];?>]" value="1" />
                                                            <span></span>
                                                        </label>
                                                    </td>
                                                    <td> <?php
    
    echo $v['user_name'];
    
    ?>/<?php echo $v['user_ip'];?> </td>
                                                    <td>
                                                         <label class="mt-checkbox mt-checkbox-single mt-checkbox-outline">
                                                            <input type="checkbox" class="checkboxes"  name="restricted_ip[<?php echo $v['id'];?>]" value="1" />
                                                            <span></span>
                                                        </label>
                                                    </td>
                                                    <td>
                                                         <label class="mt-checkbox mt-checkbox-single mt-checkbox-outline">
                                                            <input type="checkbox" class="checkboxes" name="access_vsql[<?php
    
    echo $v['id'];
    
    ?>]" value="1" />
                                                            <span></span>
                                                        </label>
                                                    </td>
                                                    <td class="center">    <label class="mt-checkbox mt-checkbox-single mt-checkbox-outline">
                                                            <input type="checkbox" class="checkboxes" name="access_vparsing[<?php
    
    echo $v['id'];
    
    ?>]" value="1" />
                                                            <span></span>
                                                        </label></td>
                                                  
                                                </tr>
                                                <?php
    
}

?>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <!-- END EXAMPLE TABLE PORTLET-->
                            </div>
                        </div>
                        
                        
                        
                        
                        
                        
                        
                        
                                     
                                       </div>
                                            <div class="tab-pane fade active in" id="tab_1_1">
                                             <div class="form-body">
								
								<h3 class="form-section" id="formtitle">Input Api </h3>
								
								<div class="row" style="padding:0px 15px;">
									<div class="col-md-5">
										<div class="form-group">
											<label for="conname">Conn Name</label>
											<select  name="conname" id="conname" class="form-control" placeholder="Conn Name" >
											<?php


foreach($conns as $k => $v) {
    echo "<option value='" . $k . "'>" . $v . "</option>";
}

?>
											
											</select>	
												
											<span class="help-block">
												<span class="label label-danger"><i class="fa fa-warning"> </i>This is inline help</span>
											</span>
										</div>
									</div>
									<div class="col-md-offset-1 col-md-5">
										<div class="form-group">
											<label for="sqltext">Sql Text</label>
											<textarea name="sqltext" id="sqltext" class="form-control" placeholder="Sql text" value=""></textarea>
											<span class="help-block">
												<span class="label label-danger"><i class="fa fa-warning"> </i>This is inline help</span>
											</span>
										</div>
									</div>
								</div>
								<div class="row" style="padding:0px 15px;">
									<div class="col-md-5">
										<div class="form-group">
											<label for="apidesc">Api Desc</label>
											<textarea name="apidesc" id="apidesc" class="form-control" placeholder="Api Desc" value=""></textarea>
											<span class="help-block">
												<span class="label label-danger"><i class="fa fa-warning"> </i>This is inline help</span>
											</span>
										</div>
										
									</div>
									
									<div class="col-md-offset-1 col-md-5">
										<div class="form-group">
											<label for="apitype">Api Type</label>
											<select onchange="changeType(this)"  name="apitype" id="apitype" class="form-control" placeholder="Api Type" >
											<?php


foreach($params as $k => $var) {
    echo "<option value='" . $k . "'>" . $var . "</option>";
}

?>
											
											</select>
											
											<span class="help-block">
												<span class="label label-danger"><i class="fa fa-warning"> </i>This is inline help</span>
											</span>
										</div>
									</div>
								</div>
								<div class="row getmodel" style="padding:0px 15px;">
								
								</div>
								
								<div class="row" style="padding:0px 15px;">
									<div class="col-md-5">
										<div class="form-group">
											<label for="str">Api Str Replace</label>
											<input type="text" name="str" id="str" class="form-control" placeholder="Api Str Replace"  >
											<span class="help-block">
												<span class="label label-danger"><i class="fa fa-warning"> </i>This is inline help</span>
											</span>
										</div>
									</div>
									<div class="col-md-offset-1 col-md-5">
										<div class="form-group">
											<label for="attrs1">Attrs1</label>
											<input type="text" name="attrs1" id="attrs1" class="form-control" placeholder="Attrs">
											<span class="help-block">
												<span class="label label-danger"><i class="fa fa-warning"> </i>This is inline help</span>
											</span>
										</div>
									</div>
								</div>
								<div class="row" style="padding:0px 15px;">
									<div class="col-md-5">
										<div class="form-group">
											<label for="cache">Cache Time</label>
											<input type="text" name="cache" id="cache" class="form-control" placeholder="Cache Time" >
											<span class="help-block">
												<span class="label label-danger"><i class="fa fa-warning"> </i>This is inline help</span>
											</span>
										</div>
									</div>
								  
									<div class="col-md-offset-1 col-md-5">
										<div class="form-group">
											<label for="mode">Api Mode</label>
											<select  onchange="changeApimode(this)"  name="mode" id="mode" class="form-control" placeholder="Api Mode" >
											<?php


foreach($modes as $k => $var) {
    $sel = "";
    if($k == "2") {
        $sel = "selected";
    }
    echo "<option $sel value='" . $k . "'>" . $var . "</option>";
}

?>
											
											</select>
											
											<span class="help-block">
												<span class="label label-danger"><i class="fa fa-warning"> </i>This is inline help</span>
											</span>
										</div>
									</div>
								</div>
								
								<div class="row" style="padding:0px 15px;">
									<div class="col-md-5">
										<div class="form-group">
											<label for="checking">Check Before Call API</label>
											<div class="checkbox-list">
												<label>
												<input name="check" id="check" value=1  type="checkbox"> Ping Server and Port </label>

											</div>
										</div>
									</div>
									<div class="col-md-offset-1 col-md-5">
										<div class="form-group">
										
											<label for="backendcache">CacheBackEnd Type</label>
											<select  name="backendcache" id="backendcache" class="form-control" placeholder="CacheBackEnd Type" >
											
												<option  value='file'>file</option>
												<option  value='memcached'>Memory with memcahed</option>
												<option  value='libmemcached'>Memory with libmemcahed </option>
												<option  value='mongodb'>mongodb</option>
										
											
											</select>	
												
											<span class="help-block">
												<span class="label label-danger"><i class="fa fa-warning"> </i>This is inline help</span>
											</span>
										
											</div>
										
									</div>
								</div>
								
								
								<!--/row-->
                                        </div>
					
                                            </div>
                                    <div class="tab-pane fade" id="tab_1_2">
                                    
                                              
								<div style="background-color:none;padding:20px">
								<div class="row" style="padding:0px 15px;">
									<div class="col-md-10">
										<div class="form-group">
										<label class=""><b>APITEST </b></label>
										</div>
									</div>
								</diV>	
									<div class="row" style="padding:0px 15px;">
									<div class="col-md-5">
										<div class="form-group">
											<label for="inputsqltext">Contoh Input (:variable): variable1=12~variable2=23 )</label>
											<textarea name="inputsqltext" id="inputsqltext" class="form-control" placeholder="input" value=""></textarea>
										 <button type="button" id="testig" class="btn blue">Test Api</button>
											<span class="help-block">
												<span class="label label-danger"><i class="fa fa-warning"> </i>This is inline help</span>
											</span>
										</div>
									</div>
									<div class="col-md-offset-1 col-md-5">
										<div class="form-group">
											<label for="outputsqltext">Output</label>
											<textarea name="outputsqltext" id="outputsqltext" class="form-control" placeholder="Sql text" value=""></textarea>
											<span class="help-block">
												<span class="label label-danger"><i class="fa fa-warning"> </i>This is inline help</span>
											</span>
										</div>
									</div>
								</div>
								<div class="row" id = "divapimode" style="padding:0px 15px;">
									<div class="col-md-5">
									
									</div>
									<div class="col-md-offset-1 col-md-5">
										<div class="form-group">
										
											<label for="arrayout">Output Array</label>
												
												<textarea name="arrayout" id="arrayout" class="form-control" placeholder="(out1, out2, out3)" value=""></textarea>
												
											<span class="help-block">
												<span class="label label-danger"><i class="fa fa-warning"> </i>This is inline help</span>
											</span>
										
											</div>
										
									</div>
								</div>
								
								</div>
                                            </div>
                          
                        		<div class="form-actions" style="margin:0px">
							   <div class="row">
								   <div class="col-md-6">
									   <div class="col-md-offset-3 col-md-9">
										   <button type="submit" class="btn green">Submit</button>
										   <button type="button" type="button" data-dismiss="modal" class="btn default">Cancel</button>
									   </div>
								   </div>
								   <div class="col-md-6">
								   </div>
							   </div>
							</div> 
                    
                                    </div>
                                        
							
							<!-- BEGIN FORM-->
							
							</form>
							<!-- END FORM-->
						</div>
					</div>
				</div>
				<!--div class="modal-footer">
					<button type="button" data-dismiss="modal" class="btn btn-default">Cancel</button>
					<button type="button" data-dismiss="modal" class="btn green">Submit</button>
				</div-->
			</div>
		</div>
	</div>
	<!-- END EXAMPLE TABLE PORTLET-->
	</div>
</div>

</div>

<script>
	
function changeType(me){
	var $me = $(me);
	var $val = $me.val();
	//alert($val);
	var $element = $('.getmodel');
	var next = $element.next('span.help-block'); 
	var con = $('#conname').val();
	//var con = $('#conname').val();
	//alert(con);
	
	if($val == 4){
	
	$.ajax({
		url:"/prabacontent/ajax/getmodels/xxxid/"+$val,
		content:'json',
		type:'get',
		beforeSend:function(){
			$element.hide();
			$(next).children('span.label').html('<i class="fa fa-coffee"></i>&nbsp;Retrieve data...');
			$($element).next().slideDown();
		},
		complete:function(result){
					
		},
		success: function(data){
			$($element).next().hide();
			$element.html(data);
			$element.slideDown();
		},
		error:function(){
			$(next).children('span.label').html('<i class="fa fa-warning"></i>&nbsp;Failed to retrieve data.');
		}
		});
	} else if($val == 2||$val == 3 ) { 
				
				$.ajax({
					url:"/prabacontent/ajax/getmodels/xxxid/"+$val+'/conn/'+con,
					content:'json',
					type:'get',
					beforeSend:function(){
						$element.hide();
						$(next).children('span.label').html('<i class="fa fa-coffee"></i>&nbsp;Retrieve data...');
						$($element).next().slideDown();
					},
					complete:function(result){
								
					},
					success: function(data){
						$($element).next().hide();
						$element.html(data);
						$element.slideDown();
					},
					error:function(){
						$(next).children('span.label').html('<i class="fa fa-warning"></i>&nbsp;Failed to retrieve data.');
					}
					});
	} else {
		$('.resType').hide();
	}
	
}
function changeMethod(me){
	var $me = $(me);
	var $val = $me.val();
	var $model = $('#model').val();
	
	//alert($isi);
	
	var apitype = $('#apitype').val();	
	if (apitype =='4') {
		var $isi = ""+$model + "::"+ $val;
	} else {
		var $isi = $val+"(:in1, :in2, ...)";
		}
	$('#sqltext').html($isi);
	//alert($model);
}



function changeApimode(me){
	var $me = $(me);
	var $val = $me.val();
	
	if($val == '2' || $val == '3'  ) 
	{
		$('#divapimode').show();	
	} else {
		$('#divapimode').hide();	
		}
		
	
}

function changeModel(me){
	
	
	var $me = $(me);
	var $val = $me.val();
	var $element = $('#method');
	var next = $element.next('span.help-block'); 
	var con = $('#conname').val();	
	var apitype = $('#apitype').val();	
	
	$.ajax({
		url:"/prabacontent/ajax/getmethods/xxxid/"+$val+'/conn/'+con + '/apitype/' + apitype,
		content:'json',
		type:'get',
		beforeSend:function(){
			$element.hide();
			$(next).children('span.label').html('<i class="fa fa-coffee"></i>&nbsp;Retrieve data...');
			$($element).next().slideDown();
		},
		complete:function(result){
					
		},
		success: function(data){
			$($element).next().hide();
			$element.html(data);
			
			
			
			$element.slideDown();
		},
		error:function(){
			$(next).children('span.label').html('<i class="fa fa-warning"></i>&nbsp;Failed to retrieve data.');
		}
		});
}

jQuery(document).ready(function() {
var table = $('#sample_1');

        // begin first table
        table.dataTable({

            // Internationalisation. For more info refer to http://datatables.net/manual/i18n
            "language": {
                "aria": {
                    "sortAscending": ": activate to sort column ascending",
                    "sortDescending": ": activate to sort column descending"
                },
                "emptyTable": "No data available in table",
                "info": "Showing _START_ to _END_ of _TOTAL_ records",
                "infoEmpty": "No records found",
                "infoFiltered": "(filtered1 from _MAX_ total records)",
                "lengthMenu": "Show _MENU_",
                "search": "Search:",
                "zeroRecords": "No matching records found",
                "paginate": {
                    "previous":"Prev",
                    "next": "Next",
                    "last": "Last",
                    "first": "First"
                }
            },

            // Or you can use remote translation file
            //"language": {
            //   url: '//cdn.datatables.net/plug-ins/3cfcc339e89/i18n/Portuguese.json'
            //},

            // Uncomment below line("dom" parameter) to fix the dropdown overflow issue in the datatable cells. The default datatable layout
            // setup uses scrollable div(table-scrollable) with overflow:auto to enable vertical scroll(see: assets/global/plugins/datatables/plugins/bootstrap/dataTables.bootstrap.js). 
            // So when dropdowns used the scrollable div should be removed. 
            //"dom": "<'row'<'col-md-6 col-sm-12'l><'col-md-6 col-sm-12'f>r>t<'row'<'col-md-5 col-sm-12'i><'col-md-7 col-sm-12'p>>",

            "bStateSave": true, // save datatable state(pagination, sort, etc) in cookie.

            "lengthMenu": [
                [5, 15, 20, -1],
                [5, 15, 20, "All"] // change per page values here
            ],
            // set the initial value
            "pageLength": 5,            
            "pagingType": "bootstrap_full_number",
            "columnDefs": [
                {  // set default column settings
                    'orderable': false,
                    'targets': [0]
                }, 
                {
                    "searchable": false,
                    "targets": [0]
                },
                {
                    "className": "dt-right", 
                    //"targets": [2]
                }
            ],
            "order": [
                [1, "asc"]
            ] // set first column as a default sort by asc
        });

        var tableWrapper = jQuery('#sample_1_wrapper');

        table.find('.group-checkable').change(function () {
            var set = jQuery(this).attr("data-set");
            var checked = jQuery(this).is(":checked");
            jQuery(set).each(function () {
                if (checked) {
                    $(this).prop("checked", true);
                    $(this).parents('tr').addClass("active");
                } else {
                    $(this).prop("checked", false);
                    $(this).parents('tr').removeClass("active");
                }
            });
        });

        table.on('change', 'tbody tr .checkboxes', function () {
            $(this).parents('tr').toggleClass("active");
        });
    

$( "#testig" ).click(function() {
 $.ajax({
		
		url:"/prabacontent/ajax/tesapi",
		content:'html',
		type:'post',
		data:$('form#addapi').serialize(),
		
		complete:function(result){
					
		},
		success: function(result){
			//alert("ok");
			//var jsonObj = $.parseJSON('[' + result + ']');
			//alert (jsonObj); 
			//console.log(result);
			
			
			$('#outputsqltext').html(result);
				$.ajax({
				
				url:"/prabacontent/ajax/getout",
				content:'html',
				type:'post',
				data:$('form#addapi').serialize(),
				
				complete:function(data){
							
				},
				success: function(data){
					//alert("ok");
					//var jsonObj = $.parseJSON('[' + result + ']');
					//alert (jsonObj); 
					//console.log(result);
					
					//	$outputsqltext.html(result);
					$('#arrayout').html(data);
					
					
					
				},
				error:function(){
					$(next).children('span.label').html('<i class="fa fa-warning"></i>&nbsp;Failed to retrieve data.');
				}
				});
				
			
			
			
		},
		error:function(){
			$(next).children('span.label').html('<i class="fa fa-warning"></i>&nbsp;Failed to retrieve data.');
		}
		});
		
		
		
		
});


 var oTable = $('#user_table').dataTable({
               // "sDom" : "<'row'<'col-md-6 col-sm-12'l><'col-md-6 col-sm-12'f>r>t<'row'<'col-md-5 col-sm-12'i><'col-md-7 col-sm-12'p>>", //default layout without horizontal scroll(remove this setting to enable horizontal scroll for the table)
                "aLengthMenu": [
                    [10,50, 200, 500 -1],
                    [10,50, 200, 500, "All"] // change per page values here
                ],
                "bProcessing": true,
                "bServerSide": true,
                "sAjaxSource": "/prabacontent/ajax/listapi",
                // set the initial value
                "iDisplayLength": 10,
                "sPaginationType": "bootstrap_full_number",
                "oLanguage": {
                    "sProcessing": '<i class="fa fa-coffee"></i>&nbsp;Please wait...',
                    "sLengthMenu": "_MENU_ records",
                    "oPaginate": {
                        "sPrevious": "Prev",
                        "sNext": "Next"
                    },
			"sSearch": "Search all columns:"
                },
                "aoColumnDefs": [{
                        'bSortable': false,
                        'aTargets': [0,8]
                    }
                ]
            });

  jQuery('#user_table_wrapper .dataTables_filter input').addClass("form-control input-medium"); // modify table search input
            jQuery('#user_table_wrapper .dataTables_length select').addClass("form-control input-small"); // modify table per page dropdown

            // handle record edit/remove
            //$('body').on('click', '#graph_table_wrapper .btn-graph', function() {
            //    alert('Edit record with id:' + $(this).attr("data-id"));
            //});

		
		$("input#filterid").keyup( function () {
			/* Filter on the column (the index) of this element */
			oTable.fnFilter( this.value, 1);
		} );
		
		$("input#filterconn").keyup( function () {
			/* Filter on the column (the index) of this element */
			oTable.fnFilter( this.value, 2 );
		} );
		$("input#filtersql").keyup( function () {
			/* Filter on the column (the index) of this element */
			oTable.fnFilter( this.value, 3 );
		} );
		$("input#filterdesc").keyup( function () {
			/* Filter on the column (the index) of this element */
			oTable.fnFilter( this.value, 4 );
		} );
		
		
		$("a.reload").click( function () {
			/* Filter on the column (the index) of this element */
			oTable.fnDraw();
		} );
		
		$('#sample_2_column_toggler input[type="checkbox"]').change(function(){
            /* Get the DataTables object again - this is not a recreation, just a get of the object */
            var iCol = parseInt($(this).attr("data-column"));
            var bVis = oTable.fnSettings().aoColumns[iCol].bVisible;
            oTable.fnSetColumnVis(iCol, (bVis ? false : true));
        });

UIExtendedModals3.init();
//FormComponents3.init();
AddApi.init();
$('span.help-block').hide();
});





var AddApi = function () {

	var handleAdd = function() {
		
		$('form#addapi').validate({
	            //errorElement: 'span', //default input error message container
	            //errorClass: 'help-block', // default input error message class
	            focusInvalid: false, // do not focus the last invalid input
	            rules: {
	                sqltext: {
	                    required: true
	                }
	            },

	            messages: {
					
	            },

	            invalidHandler: function (event, validator) { 
				
					$('span.help-block').hide();
	                var errorlist = validator.errorList;
	                if(errorlist.length>0){
						for(var i = 0; i<errorlist.length; i++){
							//console.log(errorlist[i].element);
							var el = errorlist[i].element; 
							var next = $(el).next('span.help-block'); 
							$(next).slideDown();
						}
						$('.modal-scrollable:visible').animate({
							scrollTop: $(el).offset().top
						}, 800);
					}
	            },

	            highlight: function (element) { // hightlight error inputs
	                $(element)
	                    .closest('.form-group').addClass('has-error'); // set error class to the control group
	            },

	            success: function (label) {
	                label.closest('.form-group').removeClass('has-error');
	                //label.remove();
	            },

	            errorPlacement: function (error, element) {
					$('span.help-block').hide();
					var next = element.next('span.help-block'); 
					//console.log(error);
	                if(error[0].textContent!=""){
						$(next).children('span.label').html("<i class='fa fa-warning'></i> "+ error[0].textContent);
						$(element).next().slideDown();
						$('.modal-scrollable:visible').animate({
							scrollTop: $(element).offset().top
						}, 800);
					}
	            },

	            submitHandler: function (form) {
					$('#alertinfo').addClass('hidden');
					$('span.help-block').hide();
					$('.form-group').removeClass('has-error');
	                //form.submit(); // form validation success, call ajax form submit
	                submitForm();
	                return false;
	            }
	        });

	        $('form#addapi input').keypress(function (e) {
	            if (e.which == 13) {
					$('span.help-block').hide();
					$('.form-group').removeClass('has-error');
	                if ($('form#addapi').validate().form()) {
	                   //$('form#addapi').submit(); //form validation success, call ajax form submit
	                   submitForm();
	                }
	                return false;
	            }
	        });
	}
	
	var submitForm = function(){
		//console.log($('form#addapi').serialize());
		$.ajax({
			url:"/prabacontent/ajax/addapi",
			content:'json',
			type:'post',
			data:$('form#addapi').serialize(),
			beforeSend:function(){
				$('#alertinfo').addClass('hidden');
				$('#processbar').removeClass('hidden');
				$('.modal-scrollable:visible').animate({
					scrollTop: $('#formtitle').offset().top
				}, 800);
				$('#alertinfo').removeClass('alert-success');
				$('#alertinfo').removeClass('alert-warning');
				$('#alertinfo').removeClass('alert-danger');
				$('#alertinfo').removeClass('alert-info');
			},
			complete:function(result){
				$('#processbar').addClass('hidden');
			},
			success: function(data){
				//console.log(data);
				if(data.result!=undefined){
					if(data.result==true){
						$('#alertinfo').addClass('alert-success');
						$('#alertmsg').html("<strong>Success!</strong> "+data.retMsg);
						//resetForm();
					}else{
						$('#alertinfo').addClass('alert-warning');
						$('#alertmsg').html("<strong>Failed!</strong> "+data.retMsg);
					}
				}else{
					$('#alertinfo').addClass('alert-info');
					$('#alertmsg').html("<strong>Error!</strong> System is busy, please try again.");
				}
				$('#alertinfo').removeClass('hidden');
				
			},
			error:function(){
				$('#alertinfo').addClass('alert-info');
				$('#alertmsg').html("<strong>Error!</strong> System is busy, please try again.");
				$('#alertinfo').removeClass('hidden');
			}
		});
	}
	
	

	var resetForm = function(){
		//$('input','form#addapi')
			//.not(':button, :submit, :reset, :hidden')
			//.val('');
			
		$('select,option','form#addapi')
			//.removeAttr('checked')
		    //.removeAttr('selected');
		
		$('.make-switch').bootstrapSwitch('setState',false);
		
		$('.ms-selectable').find('li').removeClass('ms-selected');
		$('.ms-selection').find('li').removeClass('ms-hover');
		$('.ms-selectable').find('li').removeAttr('style');
		
		$('.ms-selection').find('li').removeClass('ms-selected');
		$('.ms-selection').find('li').removeClass('ms-hover');
		$('.ms-selection').find('li').css({display:'none'});
	}
    
    return {
        //main function to initiate the module
        init: function () {
            handleAdd();
        }

    };

}();



var UIExtendedModals3 = function () {
    
    return {
        //main function to initiate the module
        init: function () {
        
            // general settings
            $.fn.modal.defaults.spinner = $.fn.modalmanager.defaults.spinner = 
              '<div class="loading-spinner" style="width: 200px; margin-left: -100px;">' +
                '<div class="progress progress-striped active">' +
                  '<div class="progress-bar" style="width: 100%;"></div>' +
                '</div>' +
              '</div>';

            $.fn.modalmanager.defaults.resize = true;
            
            //static demo:
            var $modal2 = $('#static');

			// handle record edit/remove
            $('body').on('click', '#user_table_wrapper .btn-delete', function() {
              var id =  $(this).attr("data-id");
             
              if($modal2.find('td#static_id')!=undefined){
                $modal2.find('td#static_id').html(id);
              }
              
              $modal2.modal();                
            });
			
            $modal2.on('click', 'button#deleteconfirm', function(){
				var id = $modal2.find('td#static_id').html();
				//alert(id);
				$.ajax({
					url:"/prabacontent/ajax/deleteapi",
					content:'json',
					type:'post',
					data:{uid:id},
					beforeSend:function(){
						$('#processbar2').removeClass('hidden');
						$('#alertinfo2').removeClass('alert-success');
						$('#alertinfo2').removeClass('alert-warning');
						$('#alertinfo2').removeClass('alert-danger');
						$('#alertinfo2').removeClass('alert-info');
					},
					complete:function(result){
						$('#processbar2').addClass('hidden');
					},
					success: function(data){
						//console.log(data);
						if(data.result!=undefined){
							if(data.result==true){
								$('#alertinfo2').addClass('alert-success');
								$('#alertmsg2').html("<strong>Success!</strong> "+data.retMsg);
								$("a.reload").click();
								$modal2.modal('hide');
							}else{
								$('#alertinfo2').addClass('alert-warning');
								$('#alertmsg2').html("<strong>Failed!</strong> "+data.retMsg);
							}
						}else{
							$('#alertinfo2').addClass('alert-info');
							$('#alertmsg2').html("<strong>Error!</strong> System is busy, please try again.");
						}
						$('#alertinfo2').removeClass('hidden');
					},
					error:function(){
						$('#alertinfo2').addClass('alert-info');
						$('#alertmsg2').html("<strong>Error!</strong> System is busy, please try again.");
						$('#alertinfo2').removeClass('hidden');
					}
				});
            });
            
            var $modal3 = $('#static2');

			// handle record edit/remove
            $('body').on('click', '#btn-addnew', function() {
              $modal3.modal();   
            });
            
            $modal3.on('hide.bs.modal', function (e) {
				$('#processbar').addClass('hidden');   
				$('#alertinfo').addClass('hidden'); 
			});
            
            $modal3.on('hidden.bs.modal', function (e) {
				$('#processbar').addClass('hidden');   
				$('#alertinfo').addClass('hidden');
			});
        }

    };

}();


var EditApi = function () {

	var handleAdd = function() {

		$('form#addapi').validate({
	            //errorElement: 'span', //default input error message container
	            //errorClass: 'help-block', // default input error message class
	            focusInvalid: false, // do not focus the last invalid input
	            rules: {
	                uname: {
	                    required: true
	                },
	                fullname: {
	                    required: true
	                },
	                pass: {
	                    required: true
	                },
	                email: {
	                    email: true
	                }
	            },

	            messages: {
					
	            },

	            invalidHandler: function (event, validator) { //display error alert on form submit   
	                //$('.alert-danger', $('.login-form')).show();
	                //console.log(event);
	                //console.log(validator);
	                
					//$('span.help-block').show();
					$('span.help-block').hide();
	                var errorlist = validator.errorList;
	                if(errorlist.length>0){
						for(var i = 0; i<errorlist.length; i++){
							//console.log(errorlist[i].element);
							var el = errorlist[i].element; 
							var next = $(el).next('span.help-block'); 
							$(next).slideDown();
						}
						$('html,body').animate({
							scrollTop: $(el).offset().top-100
						}, 800);
					}
	            },

	            highlight: function (element) { // hightlight error inputs
	                $(element)
	                    .closest('.form-group').addClass('has-error'); // set error class to the control group
	            },

	            success: function (label) {
	                label.closest('.form-group').removeClass('has-error');
	                //label.remove();
	            },

	            errorPlacement: function (error, element) {
					$('span.help-block').hide();
					var next = element.next('span.help-block'); 
					//console.log(error);
	                if(error[0].textContent!=""){
						$(next).children('span.label').html("<i class='fa fa-warning'></i> "+ error[0].textContent);
						$(element).next().slideDown();
						$('html,body').animate({
							scrollTop: $(element).offset().top-100
						}, 800);
					}
	            },

	            submitHandler: function (form) {
					$('span.help-block').hide();
					$('.form-group').removeClass('has-error');
	                //form.submit(); // form validation success, call ajax form submit
	                submitForm();
	                return false;
	            }
	        });

	        $('form#addapi input').keypress(function (e) {
	            if (e.which == 13) {
					$('span.help-block').hide();
					$('.form-group').removeClass('has-error');
	                if ($('form#addapi').validate().form()) {
	                   //$('form#addapi').submit(); //form validation success, call ajax form submit
	                   submitForm();
	                }
	                return false;
	            }
	        });
	}
	
	var submitForm = function(){
		//console.log($('form#addapi').serialize());
		$.ajax({
			url:"/prabacontent/ajax/addapi",
			content:'json',
			type:'post',
			data:$('form#addapi').serialize(),
			beforeSend:function(){
				$('#alertinfo').addClass('hidden');
				$('#processbar').removeClass('hidden');
				$('html,body').animate({
					scrollTop: $('h3.page-title').offset().top
				}, 800);
				$('#alertinfo').removeClass('alert-success');
				$('#alertinfo').removeClass('alert-warning');
				$('#alertinfo').removeClass('alert-danger');
				$('#alertinfo').removeClass('alert-info');
			},
			complete:function(result){
				$('#processbar').addClass('hidden');
			},
			success: function(data){
				//console.log(data);
				if(data.result!=undefined){
					if(data.result==true){
						$('#alertinfo').addClass('alert-success');
						$('#alertmsg').html("<strong>Success!</strong> "+data.retMsg);
					}else{
						$('#alertinfo').addClass('alert-warning');
						$('#alertmsg').html("<strong>Failed!</strong> "+data.retMsg);
					}
				}else{
					$('#alertinfo').addClass('alert-info');
					$('#alertmsg').html("<strong>Error!</strong> System is busy, please try again.");
				}
				$('#alertinfo').removeClass('hidden');
			},
			error:function(){
				$('#alertinfo').addClass('alert-info');
				$('#alertmsg').html("<strong>Error!</strong> System is busy, please try again.");
				$('#alertinfo').removeClass('hidden');
			}
		});
	}
	
	

	var resetForm = function(){
		$('input','form#addapi')
			.not(':button, :submit, :reset, :hidden')
			.val('');
			
		$('select,option','form#addapi')
			.removeAttr('checked')
			.removeAttr('selected');
		
		$('.make-switch').bootstrapSwitch('setState',false);
		
		$('.ms-selectable').find('li').removeClass('ms-selected');
		$('.ms-selection').find('li').removeClass('ms-hover');
		$('.ms-selectable').find('li').removeAttr('style');
		
		$('.ms-selection').find('li').removeClass('ms-selected');
		$('.ms-selection').find('li').removeClass('ms-hover');
		$('.ms-selection').find('li').css({display:'none'});
	}
    
    return {
        //main function to initiate the module
        init: function () {
            handleAdd();
        }

    };

}();

</script>

<style>
 
 
.table-scrollable > .table > thead > tr > th, .table-scrollable > .table > tbody > tr > th, .table-scrollable > .table > tfoot > tr > th, .table-scrollable > .table > thead > tr > td, .table-scrollable > .table > tbody > tr > td, .table-scrollable > .table > tfoot > tr > td {
     white-space: normal; 
}
 
</style>
