<?php
#Zend_Debug::dump($this->act);
#die();
?>
<style>
    /*	
    .page-panel > .theme-options {
     background: #BFBFBF;
    }
    .page-panel > .toggler-close {
        background: #BFBFBF;
    }
    */
    .code {
        padding:10px;
        background-color: #7F7F7F;
        width:90%;
        font-style: italic;

    }
    .table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
        padding: 2px; 
        vertical-align: top; 
        border-top: 1px solid #dddddd;
    }
    #debug{
        overflow-y: scroll;
        height:200px
    }
	
	.simplemodal-lay {
	background-color: rgb(136, 136, 136);
    opacity: 0.8;
    height: 100%;
    width: 100%;
    position: fixed;
    left: 0px;
    top: 0px;
    z-index: 1001;
	
	}
</style>
<script type="text/javascript" src="/assets/core/plugins/jquery.numeric.js"></script>
<script type="text/javascript" src="/assets/core/plugins/bootstrap-switch/static/js/bootstrap-switch.min.js"></script>
<script type="text/javascript" src="/assets/core/plugins/bootstrap-modal/js/bootstrap-modalmanager.js"></script>
<script type="text/javascript" src="/assets/core/plugins/bootstrap-modal/js/bootstrap-modal.js"></script>
<script type="text/javascript" src="/assets/core/global/plugins/jquery-validation/js/jquery.validate.min.js"></script>

<script type="text/javascript" src="/assets/core/plugins/select2/select2.min.js"></script>
<script type="text/javascript" src="/assets/core/plugins/prabawf/js/jquery.simplemodal.min.js"></script>
<script type="text/javascript" src="/assets/core/plugins/prabawf/js/admin_template_editor.js"></script>
<script type="text/javascript" src="/assets/core/plugins/prabawf/js/jquery.contextmenu.js"></script>
<script type="text/javascript" src="/assets/core/plugins/prabawf/js/maestro_structure_admin.js"></script>
<script type="text/javascript" src="/assets/core/plugins/prabawf/js/moderator.js"></script>
<script type="text/javascript" src="/assets/core/plugins/prabawf/js/taskconsole.js"></script>
<script type="text/javascript" src="/assets/core/plugins/prabawf/js/wz_jsgraphics.js"></script>

<div class="page-content <?php if ($this->act['is_freeze'] ==1){?> simplemodal-lay <?php }?>">


    <!-- BEGIN PAGE HEADER-->
    <div class="row">
        <div class="col-md-12">
            <div class="modal fade" id="ajax" tabindex="-1" role="basic" aria-hidden="true">
                <img src="/assets/core/img/ajax-modal-loading.gif" alt="" class="loading">
            </div>

            <!-- BEGIN PAGE TITLE & BREADCRUMB-->
            <h3 class="page-title">
                Action Builder <small>Compose API's workflow as a process automation</small>
            </h3>
            <ul class="page-breadcrumb breadcrumb">
                <li>
                    <i class="fa fa-rss"></i>
                    <a href="/">DOMAS</a>
                    <i class="fa fa-angle-right"></i>
                </li>
                <li>
                    <i class="fa fa-cogs"></i>
                    <a href="/">Action Management</a>
                    <i class="fa fa-angle-right"></i>
                </li>

                <li>
                    <i class="fa fa-user"></i>
                    Action Canvas
                </li>
                <!--li class="btn-group pull-right">
                        <button type="button" class="btn red">
                                <span>
                <?php echo Zend_Auth::getInstance()->getIdentity()->fullname; ?>
                                </span>
                        </button>
                </li-->
            </ul>
            <!-- END PAGE TITLE & BREADCRUMB-->
        </div>
    </div>
    <!-- END PAGE HEADER-->
    
    <div class="row">
        <div class="col-md-12">
            <div class="note note-success">
                <h4 class="block"><?php echo $this->varams['title'];?></h7>
              
            </div>
        </div>
    </div>
    <form name="frm_animate" action="#" method="post">
        
        <label class="control-label">Enable Animation</label>
         <input type="checkbox" name="animateFlag" value="1"  checked  class="make-switch" data-size="normal">
        <!--
        <label class="control-label">Snap to Grid</label>
        <div class="make-switch switch-small">
            <input type="checkbox"  name="snapToGrid" value="1" onclick="update_snap_to_grid();"  value="1"  class="toggle"/>
        </div>  
        <label class="control-label">Snap to Objects</label>

        <div class="make-switch switch-small">
            <input type="checkbox"  name="snapToObjects" value="1" onclick="update_snap_to_objects();" checked  class="toggle"/>
        </div>-->
        <?php if ($_GET['wf'] != 1) { ?>
            <input type="button"  name="snapToObjects" class="btn blue" onclick="runn();" value="Test Run">
          
        <?php } ?>
       <!--   <input type="button"  name="snapToObjects" class="btn red" onclick="help();" value="Run Action">-->
    </form>

    <div class="row">

        <div class="col-md-10">	
            <div id="maestro_tool_tip_container" class="maestro_tool_tip" style="display: none;">
                <div class="alert alert-success maestro_tool_tip_inner" id="maestro_tool_tip">

                </div>
            </div>                                
        </div>
    </div>
    <div class="row">
        <div class="page-panel hidden-xs hidden-sm">
            <div class="toggler" style="display: block;">
            </div>
            <div class="toggler-close" style="display: none;">
            </div>
            <div class="theme-options" style="display: none;">
                <div class="theme-option theme-colors clearfix" style="min-height:200px;" >
                    <div id="4desc" style="width:100%;overflow-y:scroll;height:400px">

                    </div>

                </div>


            </div>
        </div>
    </div>
    <div class="row">


        <div class="col-md-12">



            <div id="maestro_ajax_indicator" class="maestro_ajax_indicator" style="z-index:9999;  position: absolute; left: 0; top:1; width: 100%;  display: none;opacity: 0.5; overflow:hidden;">
                <img style="width: 64px; height: 64px; margin: 15% auto; opacity: 1; display: block;" src="/assets/core/img/360.gif">
            </div>




            <div id="maestro_workflow_container"  class="maestro_workflow_container" style="position: abosolute; height:500<?php //$this->temp->CANVAS_HEIGHT;    ?>px;">
                <?php
                foreach ($this->task as $key => $tasc) {
                    //Zend_Debug::dump($tasc); 
                    ?>

                    <div 
                        id="task<?php print $key; ?>" 
                        class="<?php print $tasc['task_class']; ?>  maestro_task_container" 
                        onclick="draw_line_to(this);" 
                        style="left: <?php print $tasc['res']['offset_left']; ?>px;top: <?php print $tasc['res']['offset_top']; ?>px;">
                            <?php
                            echo $this->partial('action/_partial_task.phtml', array('class' => strtolower($tasc['res']['class_type']), 'tdid' => $key, 'api' => $tasc['api'], 'ti' => $tasc['ti'], 'task' => $tasc['res']));
                            ?>
                    </div>
					<?php if ($this->act['is_freeze'] !=1){?> 
                    <?php print $tasc['ti']->getContextMenuHTML(); ?>
					<?php }?> 
                    <script type="text/javascript">
    <?php print $tasc['ti']->getContextMenuJS(); ?>
                    </script>
                <?php } ?>

            </div>

            <div id="maestro_main_context_menu" class="maestro_context_menu"><ul>
                    <?php
                    foreach ($this->menu as $key => $option) {
                        $task_type = ($option['class_name']);
                        $option = $option['display_name'];
                        echo "<li style=\"white-space: nowrap;\" id=\"$task_type\">$option</li>\n";
                    }
                    ?>
                </ul></div>

            <div>

            </div>
			
            <script type="text/javascript">
                var ajax_url = '/domas/action/ajaxer/ctype/';
                //var template_id = <?php print '28'; ?>;
				<?php if ($this->act['is_freeze'] !=1){?>
                (function($) {
                    $(function() {
						
                        $(".maestro_task_container").draggable({snap: true});
					
						})
						
                })(jQuery);
					<?php }?>

<?php print $this->cwf->initializeJavascriptArrays(); ?>
<?php print $this->cwf->getContextMenuJS(); ?>

                function runn(stat) {

                    enable_ajax_indicator();
                    $.ajax({
                        type: 'POST',
                        url: '/domas/action/running/id/<?php echo $this->temp; ?>/rid/<?php echo mktime(); ?>',
                        cache: false,
                        dataType: 'json',
                        success: display_running_test,
                        error: editor_ajax_error
                    });
                }


            function help(stat) {
					var $id= $(stat).data('id');
					//alert($id);
                    enable_ajax_indicator();
                    $.ajax({
                        type: 'POST',
                        url: '/domas/action/runningdesc/id/'+$id,
                        cache: false,
                        dataType: 'json',
                        success: display_running_test,
                        error: editor_ajax_error
                    });
                }

            </script>



        </div>
    </div>

</div>

<script>
    jQuery(document).ready(function() {
      
       // App.init();

        var footer = '<ul class="feeds">'
                + '<li id="1456115726"><div class="col1"><div class="cont"><div class="cont-col1"><div class="label label-sm label-warning"><i class="fa fa-warning"> </i></div></div><div class="cont-col2"><div class="desc"><span class="label label-sm label-warning label-mini">SYSTEM</span> alert system </div></div></div></div><div class="col2"><div class="date"> 3 seconds</div></div></li>'
                + '</ul>';

        //  jQuery(".footer-inner").append(footer);
        var panel = $('.page-panel');


        $(".maestro_task_container").mouseleave(function() {

            // $('.toggler').show();
            // $('.toggler-close').hide();
            // $('.page-panel > .theme-options').hide();


        });
        $(".maestro_task_container").mouseenter(function() {

            var id = ($(this).attr("id"));
            var datay = {
                id: id
            };

//            $.ajax({
//                url: "/mdata/meta1/showfunction",
//                content: 'json',
//                type: 'post',
//                data: datay,
//                beforeSend: function() {
//                },
//                complete: function(result) {
//                    //$('#processbar').addClass('hidden');
//                },
//                success: function(data) {
//                    // console.log(data);   
//                    if (data !== "") {
//                        $('#4desc').html(data);
//
//                        $('.toggler').hide();
//                        $('.toggler-close').show();
//                        $('.page-panel > .theme-options').show();
//                    }
//                },
//                error: function() {
//
//                }
//            });



        });



//
//        $('.toggler', panel).click(function() {
//            $('.toggler').hide();
//            $('.toggler-close').show();
//            $('.page-panel > .theme-options').show();
//        });
//
//        $('.toggler-close', panel).click(function() {
//            $('.toggler').show();
//            $('.toggler-close').hide();
//            $('.page-panel > .theme-options').hide();
//        });
//
        $('.info').click(function(event) {

               help(this);

            });


    });
</script>

