<?php
$params = array();
?>
<div class="page-content">

    <!-- BEGIN PAGE HEADER-->
    <div class="row">
        <div class="col-md-12">
            <!-- BEGIN PAGE TITLE & BREADCRUMB-->
            <h3 class="page-title">
                Action Discovery <small>Search, view and edit Action of some API</small>
            </h3>
            <ul class="page-breadcrumb breadcrumb">
                <li>
                    <i class="fa fa-rss"></i>
                    <a href="/">DOMAS</a>
                    <i class="fa fa-angle-right"></i>
                </li>
                <li>
                    <i class="fa fa-cogs"></i>
                    <a href="/">Action Management</a>
                    <i class="fa fa-angle-right"></i>
                </li>

                <li>
                    <i class="fa fa-list-ol"></i>
                    Action List
                </li>
                <!--li class="btn-group pull-right">
                        <button type="button" class="btn red">
                                <span>
<?php echo Zend_Auth::getInstance()->getIdentity()->fullname; ?>
                                </span>
                        </button>
                </li-->
            </ul>

<?php /*
  <ul class="page-breadcrumb breadcrumb">
  <li>
  <i class="fa fa-rss"></i>
  <a href="/">TelkomCare</a>
  <i class="fa fa-angle-right"></i>
  </li>
  <li>
  <i class="fa fa-cogs"></i>
  <a href="/">Admin Area</a>
  <i class="fa fa-angle-right"></i>
  </li>
  <li>
  <i class="fa fa-group"></i>
  Manage Users
  </li>
  <!--li class="btn-group pull-right">
  <button type="button" class="btn red">
  <span>
  <?php echo Zend_Auth::getInstance()->getIdentity()->fullname; ?>
  </span>
  </button>
  </li-->
  </ul> */ ?>
            <!-- END PAGE TITLE & BREADCRUMB-->
        </div>
    </div>
    <!-- END PAGE HEADER-->
    <!--
    <div class="row" style="margin-bottom:15px">
            <div class="col-md-12">
                    <h4>User Filter</h4>
                    <form class="form-inline" role="form">
                            <div class="form-group">
                                    <label class="sr-only" for="filterid">ID</label>
                                    <div class="input-icon">
                                            <i class="fa fa-user"></i>
                                            <input type="text" class="form-control" id="filterid" name="filterid" placeholder="ID">
                                    </div>
                            </div>
                            <div class="form-group">
                                    <label class="sr-only" for="filterconn">Connection Name</label>
                                    <div class="input-icon">
                                            <i class="fa fa-user"></i>
                                            <input type="text" class="form-control" id="filterconn" name="filterconn" placeholder="Connection Name">
                                    </div>
                            </div>
                            <div class="form-group">
                                    <label class="sr-only" for="filtersql">Sql Text</label>
                                    <div class="input-icon">
                                            <i class="fa fa-envelope"></i>
                                            <input type="text" class="form-control" id="filtersql" name="filtersql" placeholder="Sql Text">
                                    </div>
                            </div>
    <!--button type="submit" class="btn btn-default">Filter</button
</form>
<br>
<form class="form-inline" role="form">
    <div class="form-group">
            <label class="sr-only" for="filterdesc">Description</label>
            <div class="input-icon">
                    <i class="fa fa-circle-o"></i>
                    <input type="text" class="form-control" id="filterdesc" name="filterdesc" placeholder="Description">
            </div>
    </div>

</form>
</div>
</div>
    -->
    <div class="row">
        <div class="col-md-12">
            <!-- BEGIN EXAMPLE TABLE PORTLET-->
            <div class="portlet box grey">
                <div class="portlet-title">
                    <div class="caption">
                        Action List	
                    </div>
                    <div class="actions">
                        <a href="/domas/action/addaction" class="btn green"  id="btn-addnew"><i class="fa fa-plus"></i> Add New</a>
                        <a href="#" class="btn blue reload"><i class="fa fa-refresh"></i> Reload</a>
                        <div class="btn-group">
                            <a class="btn default" href="#" data-toggle="dropdown">
                                Columns <i class="fa fa-angle-down"></i>
                            </a>
                            <div id="sample_2_column_toggler" class="dropdown-menu hold-on-click dropdown-checkboxes pull-right">
                                <label><input type="checkbox" checked data-column="0">No</label>
                                <label><input type="checkbox" checked data-column="1">ID</label>
                                <label><input type="checkbox" checked data-column="2">Name Alias</label>

                            </div>
                        </div>
                    </div>
                    <!--div class="tools">
                            <a href="javascript:;" class="reload"></a>
                    </div-->
                </div>
                <div class="portlet-body">
                    <!--div class="table-toolbar">
                            <div class="btn-group">
                                    <button id="sample_editable_1_new" class="btn green">
                                    Add New <i class="fa fa-plus"></i>
                                    </button>
                            </div>
                    <!--div class="btn-group pull-right">
                            <button class="btn dropdown-toggle" data-toggle="dropdown">Tools <i class="fa fa-angle-down"></i>
                            </button>
                            <ul class="dropdown-menu pull-right">
                            <li>
                                    <a href="#">Print</a>
                            </li>
                            <li>
                                    <a href="#">Save as PDF</a>
                            </li>
                            <li>
                                    <a href="#">Export to Excel</a>
                            </li>
                            </ul>
                    </div>
            </div-->
                    <table class="table table-striped table-bordered table-hover" id="user_table">
                        <thead>
                            <tr>
                                <th>
                                    No
                                </th>
                                <th>
                                    Id
                                </th>
                                <th>

                                    Action Name
                                </th>

                                <th>

                                </th>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>

                    <!-- ajax -->
                    <div id="ajax-modal" class="modal container fade modal-scroll modal-overflow in" tabindex="-1">
                    </div>
                    
                    <div id="staticxx" class="modal fade" tabindex="-1" data-backdrop="staticx" data-keyboard="false">
                        <div class="modal-body" style="padding:0px">
                            <div class="portlet box red" style="margin:0px">
                                <div class="portlet-title">
                                    <div class="caption">
                                        Are you sure to freeze/unfreeze?
                                    </div>
                                    <div class="tools">
                                    </div>
                                </div>
                                <div class="portlet-body">
                                    <div class="alert alert-success alert-dismissable hidden" id="alertinfo3">
                                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true"></button>
                                        <span id="alertmsg3"><strong>Warning!</strong> Something went wrong. Please check.</span>
                                    </div>

                                    <div style="margin:0px auto;text-align:center" id="processbar3" class="hidden">
                                        <div class="progress progress-striped active" style="margin:0px auto;text-align:center">
                                            <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
                                                <span class="sr-only">
                                                    On Process
                                                </span>
                                            </div>
                                        </div>
                                        <span style="margin:0px auto;">Please wait...processing request</span>
                                        <br>
                                    </div>
                                    <table>
                                        <tr>
                                            <td>
                                                ID
                                            </td>
                                            <td>
                                                :
                                            </td>
                                            <td id="static_idx">

                                            </td>
                                        </tr>

                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer" style="margin-top:0px">
                            <button type="button" data-dismiss="modal" class="btn btn-default">Cancel</button>
                            <button type="button" id="freezeconfirm" class="btn red">Yes</button>
                        </div>
                    </div>
                    <!-- static -->
                    <div id="staticx" class="modal fade" tabindex="-1" data-backdrop="staticx" data-keyboard="false">
                        <div class="modal-body" style="padding:0px">
                            <div class="portlet box red" style="margin:0px">
                                <div class="portlet-title">
                                    <div class="caption">
                                        Are you sure to do this action?
                                    </div>
                                    <div class="tools">
                                    </div>
                                </div>
                                <div class="portlet-body">
                                    <div class="alert alert-success alert-dismissable hidden" id="alertinfo2">
                                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true"></button>
                                        <span id="alertmsg2"><strong>Warning!</strong> Something went wrong. Please check.</span>
                                    </div>

                                    <div style="margin:0px auto;text-align:center" id="processbar2" class="hidden">
                                        <div class="progress progress-striped active" style="margin:0px auto;text-align:center">
                                            <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
                                                <span class="sr-only">
                                                    On Process
                                                </span>
                                            </div>
                                        </div>
                                        <span style="margin:0px auto;">Please wait...processing request</span>
                                        <br>
                                    </div>
                                    <table>
                                        <tr>
                                            <td>
                                                ID
                                            </td>
                                            <td>
                                                :
                                            </td>
                                            <td id="static_id">

                                            </td>
                                        </tr>

                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer" style="margin-top:0px">
                            <button type="button" data-dismiss="modal" class="btn btn-default">Cancel</button>
                            <button type="button" id="cloneconfirm" class="btn red">Yes</button>
                        </div>
                    </div>

                    <div id="static" class="modal fade" tabindex="-1" data-backdrop="static" data-keyboard="false">
                        <div class="modal-body" style="padding:0px">
                            <div class="portlet box red" style="margin:0px">
                                <div class="portlet-title">
                                    <div class="caption">
                                        Are you sure to do this action?
                                    </div>
                                    <div class="tools">
                                    </div>
                                </div>
                                <div class="portlet-body">
                                    <div class="alert alert-success alert-dismissable hidden" id="alertinfo2">
                                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true"></button>
                                        <span id="alertmsg2"><strong>Warning!</strong> Something went wrong. Please check.</span>
                                    </div>

                                    <div style="margin:0px auto;text-align:center" id="processbar2" class="hidden">
                                        <div class="progress progress-striped active" style="margin:0px auto;text-align:center">
                                            <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
                                                <span class="sr-only">
                                                    On Process
                                                </span>
                                            </div>
                                        </div>
                                        <span style="margin:0px auto;">Please wait...processing request</span>
                                        <br>
                                    </div>
                                    <table>
                                        <tr>
                                            <td>
                                                ID
                                            </td>
                                            <td>
                                                :
                                            </td>
                                            <td id="static_id">

                                            </td>
                                        </tr>

                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer" style="margin-top:0px">
                            <button type="button" data-dismiss="modal" class="btn btn-default">Cancel</button>
                            <button type="button" id="deleteconfirm" class="btn red">Yes</button>
                        </div>
                    </div>
                    <!-- static -->
                
                </div>
            </div>
            <!-- END EXAMPLE TABLE PORTLET-->
        </div>
    </div>

</div>

<script>

    jQuery(document).ready(function() {
     
        var oTable = $('#user_table').dataTable({
            // "sDom" : "<'row'<'col-md-6 col-sm-12'l><'col-md-6 col-sm-12'f>r>t<'row'<'col-md-5 col-sm-12'i><'col-md-7 col-sm-12'p>>", //default layout without horizontal scroll(remove this setting to enable horizontal scroll for the table)
            "aLengthMenu": [
                [10, 50, 200, 500 - 1],
                [10, 50, 200, 500, "All"] // change per page values here
            ],
            "bProcessing": true,
            "bServerSide": true,
            "sAjaxSource": "/domas/ajax/listaction2",
            // set the initial value
            "iDisplayLength": 10,
            "sPaginationType": "bootstrap_full_number",
            "oLanguage": {
                "sProcessing": '<i class="fa fa-coffee"></i>&nbsp;Please wait...',
                "sLengthMenu": "_MENU_ records",
                "oPaginate": {
                    "sPrevious": "Prev",
                    "sNext": "Next"
                },
                "sSearch": "Search all columns:"
            },
            "aoColumnDefs": [{
                    'bSortable': false,
                    'aTargets': [0, 1]
                }
            ]
        });

        jQuery('#user_table_wrapper .dataTables_filter input').addClass("form-control input-medium"); // modify table search input
        jQuery('#user_table_wrapper .dataTables_length select').addClass("form-control input-small"); // modify table per page dropdown

        // handle record edit/remove
        //$('body').on('click', '#graph_table_wrapper .btn-graph', function() {
        //    alert('Edit record with id:' + $(this).attr("data-id"));
        //});


        $("input#filterid").keyup(function() {
            /* Filter on the column (the index) of this element */
            oTable.fnFilter(this.value, 1);
        });

        $("input#filterconn").keyup(function() {
            /* Filter on the column (the index) of this element */
            oTable.fnFilter(this.value, 2);
        });
        $("input#filtersql").keyup(function() {
            /* Filter on the column (the index) of this element */
            oTable.fnFilter(this.value, 3);
        });
        $("input#filterdesc").keyup(function() {
            /* Filter on the column (the index) of this element */
            oTable.fnFilter(this.value, 4);
        });


        $("a.reload").click(function() {
            /* Filter on the column (the index) of this element */
            oTable.fnDraw();
        });

        $('#sample_2_column_toggler input[type="checkbox"]').change(function() {
            /* Get the DataTables object again - this is not a recreation, just a get of the object */
            var iCol = parseInt($(this).attr("data-column"));
            var bVis = oTable.fnSettings().aoColumns[iCol].bVisible;
            oTable.fnSetColumnVis(iCol, (bVis ? false : true));
        });

        UIExtendedModals3.init();
        
        AddApi.init();
        $('span.help-block').hide();
    });


    var AddApi = function() {

        var handleAdd = function() {

            $('form#addapi').validate({
                //errorElement: 'span', //default input error message container
                //errorClass: 'help-block', // default input error message class
                focusInvalid: false, // do not focus the last invalid input
                rules: {
                    sqltext: {
                        required: true
                    }
                },
                messages: {
                },
                invalidHandler: function(event, validator) {

                    $('span.help-block').hide();
                    var errorlist = validator.errorList;
                    if (errorlist.length > 0) {
                        for (var i = 0; i < errorlist.length; i++) {
                            //console.log(errorlist[i].element);
                            var el = errorlist[i].element;
                            var next = $(el).next('span.help-block');
                            $(next).slideDown();
                        }
                        $('.modal-scrollable:visible').animate({
                            scrollTop: $(el).offset().top
                        }, 800);
                    }
                },
                highlight: function(element) { // hightlight error inputs
                    $(element)
                            .closest('.form-group').addClass('has-error'); // set error class to the control group
                },
                success: function(label) {
                    label.closest('.form-group').removeClass('has-error');
                    //label.remove();
                },
                errorPlacement: function(error, element) {
                    $('span.help-block').hide();
                    var next = element.next('span.help-block');
                    //console.log(error);
                    if (error[0].textContent != "") {
                        $(next).children('span.label').html("<i class='fa fa-warning'></i> " + error[0].textContent);
                        $(element).next().slideDown();
                        $('.modal-scrollable:visible').animate({
                            scrollTop: $(element).offset().top
                        }, 800);
                    }
                },
                submitHandler: function(form) {
                    $('#alertinfo').addClass('hidden');
                    $('span.help-block').hide();
                    $('.form-group').removeClass('has-error');
                    //form.submit(); // form validation success, call ajax form submit
                    submitForm();
                    return false;
                }
            });

            $('form#addapi input').keypress(function(e) {
                if (e.which == 13) {
                    $('span.help-block').hide();
                    $('.form-group').removeClass('has-error');
                    if ($('form#addapi').validate().form()) {
                        //$('form#addapi').submit(); //form validation success, call ajax form submit
                        submitForm();
                    }
                    return false;
                }
            });
        }

        var submitForm = function() {
            //console.log($('form#addapi').serialize());
            $.ajax({
                url: "/prabajax/addapi",
                content: 'json',
                type: 'post',
                data: $('form#addapi').serialize(),
                beforeSend: function() {
                    $('#alertinfo').addClass('hidden');
                    $('#processbar').removeClass('hidden');
                    $('.modal-scrollable:visible').animate({
                        scrollTop: $('#formtitle').offset().top
                    }, 800);
                    $('#alertinfo').removeClass('alert-success');
                    $('#alertinfo').removeClass('alert-warning');
                    $('#alertinfo').removeClass('alert-danger');
                    $('#alertinfo').removeClass('alert-info');
                },
                complete: function(result) {
                    $('#processbar').addClass('hidden');
                },
                success: function(data) {
                    //console.log(data);
                    if (data.result != undefined) {
                        if (data.result == true) {
                            $('#alertinfo').addClass('alert-success');
                            $('#alertmsg').html("<strong>Success!</strong> " + data.retMsg);
                            resetForm();
                        } else {
                            $('#alertinfo').addClass('alert-warning');
                            $('#alertmsg').html("<strong>Failed!</strong> " + data.retMsg);
                        }
                    } else {
                        $('#alertinfo').addClass('alert-info');
                        $('#alertmsg').html("<strong>Error!</strong> System is busy, please try again.");
                    }
                    $('#alertinfo').removeClass('hidden');
                },
                error: function() {
                    $('#alertinfo').addClass('alert-info');
                    $('#alertmsg').html("<strong>Error!</strong> System is busy, please try again.");
                    $('#alertinfo').removeClass('hidden');
                }
            });
        }



        var resetForm = function() {
            $('input', 'form#addapi')
                    .not(':button, :submit, :reset, :hidden')
                    .val('');

            $('select,option', 'form#addapi')
                    .removeAttr('checked')
                    .removeAttr('selected');

            $('.make-switch').bootstrapSwitch('setState', false);

            $('.ms-selectable').find('li').removeClass('ms-selected');
            $('.ms-selection').find('li').removeClass('ms-hover');
            $('.ms-selectable').find('li').removeAttr('style');

            $('.ms-selection').find('li').removeClass('ms-selected');
            $('.ms-selection').find('li').removeClass('ms-hover');
            $('.ms-selection').find('li').css({display: 'none'});
        }

        return {
            //main function to initiate the module
            init: function() {
                handleAdd();
            }

        };

    }();



    var UIExtendedModals3 = function() {

        return {
            //main function to initiate the module
            init: function() {

                // general settings
                $.fn.modal.defaults.spinner = $.fn.modalmanager.defaults.spinner =
                        '<div class="loading-spinner" style="width: 200px; margin-left: -100px;">' +
                        '<div class="progress progress-striped active">' +
                        '<div class="progress-bar" style="width: 100%;"></div>' +
                        '</div>' +
                        '</div>';

                $.fn.modalmanager.defaults.resize = true;

                //static demo:
                var $modal2 = $('#static');
                var $modal22 = $('#staticx');
                var $modal33 = $('#staticxx');
                
                
                 $('body').on('click', '#user_table_wrapper .btn-freeze', function() {
                    var id = $(this).attr("data-id");

                    if ($modal33.find('td#static_idx') != undefined) {
                        $modal33.find('td#static_idx').html(id);
                    }

                    $modal33.modal();
                });
                
                $modal33.on('click', 'button#freezeconfirm', function() {
                    var id = $modal33.find('td#static_idx').html();
                    //alert(id);
                    $.ajax({
                        url: "/prabajax/freeze",
                        content: 'json',
                        type: 'post',
                        data: {uid: id},
                        beforeSend: function() {
                            $('#processbar2').removeClass('hidden');
                            $('#alertinfo2').removeClass('alert-success');
                            $('#alertinfo2').removeClass('alert-warning');
                            $('#alertinfo2').removeClass('alert-danger');
                            $('#alertinfo2').removeClass('alert-info');
                        },
                        complete: function(result) {
                            $('#processbar2').addClass('hidden');
                        },
                        success: function(data) {
                            //console.log(data);
                            if (data.result != undefined) {
                                if (data.result == true) {
                                    $('#alertinfo3').addClass('alert-success');
                                    $('#alertmsg3').html("<strong>Success!</strong> " + data.retMsg);
                                    $("a.reload").click();
                                    $modal33.modal('hide');
                                } else {
                                    $('#alertinfo3').addClass('alert-warning');
                                    $('#alertmsg3').html("<strong>Failed!</strong> " + data.retMsg);
                                }
                            } else {
                                $('#alertinfo3').addClass('alert-info');
                                $('#alertmsg3').html("<strong>Error!</strong> System is busy, please try again.");
                            }
                            $('#alertinfo3').removeClass('hidden');
                        },
                        error: function() {
                            $('#alertinfo3').addClass('alert-info');
                            $('#alertmsg3').html("<strong>Error!</strong> System is busy, please try again.");
                            $('#alertinfo3').removeClass('hidden');
                        }
                    });
                });
                
                
                // handle record edit/remove
                $('body').on('click', '#user_table_wrapper .btn-delete', function() {
                    var id = $(this).attr("data-id");

                    if ($modal2.find('td#static_id') != undefined) {
                        $modal2.find('td#static_id').html(id);
                    }

                    $modal2.modal();
                });
                
                $modal2.on('click', 'button#deleteconfirm', function() {
                    var id = $modal2.find('td#static_id').html();
                    //alert(id);
                    $.ajax({
                        url: "/prabajax/deleteaction",
                        content: 'json',
                        type: 'post',
                        data: {uid: id},
                        beforeSend: function() {
                            $('#processbar2').removeClass('hidden');
                            $('#alertinfo2').removeClass('alert-success');
                            $('#alertinfo2').removeClass('alert-warning');
                            $('#alertinfo2').removeClass('alert-danger');
                            $('#alertinfo2').removeClass('alert-info');
                        },
                        complete: function(result) {
                            $('#processbar2').addClass('hidden');
                        },
                        success: function(data) {
                            //console.log(data);
                            if (data.result != undefined) {
                                if (data.result == true) {
                                    $('#alertinfo2').addClass('alert-success');
                                    $('#alertmsg2').html("<strong>Success!</strong> " + data.retMsg);
                                    $("a.reload").click();
                                    $modal2.modal('hide');
                                } else {
                                    $('#alertinfo2').addClass('alert-warning');
                                    $('#alertmsg2').html("<strong>Failed!</strong> " + data.retMsg);
                                }
                            } else {
                                $('#alertinfo2').addClass('alert-info');
                                $('#alertmsg2').html("<strong>Error!</strong> System is busy, please try again.");
                            }
                            $('#alertinfo2').removeClass('hidden');
                        },
                        error: function() {
                            $('#alertinfo2').addClass('alert-info');
                            $('#alertmsg2').html("<strong>Error!</strong> System is busy, please try again.");
                            $('#alertinfo2').removeClass('hidden');
                        }
                    });
                });
                
                
                $('body').on('click', '#user_table_wrapper .btn-clone', function() {
                    var id = $(this).attr("data-id");
                    //alert(id);
                    if ($modal22.find('td#static_id') != undefined) {
                        $modal22.find('td#static_id').html(id);
                    }

                    $modal22.modal();
                });

                $modal22.on('click', 'button#cloneconfirm', function() {
                    var id = $modal22.find('td#static_id').html();
                    //alert(id);
                    $.ajax({
                        url: "/prabajax/clone",
                        content: 'json',
                        type: 'post',
                        data: {uid: id},
                        beforeSend: function() {
                            $('#processbar2').removeClass('hidden');
                            $('#alertinfo2').removeClass('alert-success');
                            $('#alertinfo2').removeClass('alert-warning');
                            $('#alertinfo2').removeClass('alert-danger');
                            $('#alertinfo2').removeClass('alert-info');
                        },
                        complete: function(result) {
                            $('#processbar2').addClass('hidden');
                        },
                        success: function(data) {
                            //console.log(data);
                            if (data.result != undefined) {
                                if (data.result == true) {
                                    $('#alertinfo2').addClass('alert-success');
                                    $('#alertmsg2').html("<strong>Success!</strong> " + data.retMsg);
                                    $("a.reload").click();
                                    $modal22.modal('hide');
                                } else {
                                    $('#alertinfo2').addClass('alert-warning');
                                    $('#alertmsg2').html("<strong>Failed!</strong> " + data.retMsg);
                                }
                            } else {
                                $('#alertinfo2').addClass('alert-info');
                                $('#alertmsg2').html("<strong>Error!</strong> System is busy, please try again.");
                            }
                            $('#alertinfo2').removeClass('hidden');
                        },
                        error: function() {
                            $('#alertinfo2').addClass('alert-info');
                            $('#alertmsg2').html("<strong>Error!</strong> System is busy, please try again.");
                            $('#alertinfo2').removeClass('hidden');
                        }
                    });
                });

               

                // handle record edit/remove
               
            }

        };

    }();


    var EditApi = function() {

        var handleAdd = function() {

            $('form#addapi').validate({
                //errorElement: 'span', //default input error message container
                //errorClass: 'help-block', // default input error message class
                focusInvalid: false, // do not focus the last invalid input
                rules: {
                    uname: {
                        required: true
                    },
                    fullname: {
                        required: true
                    },
                    pass: {
                        required: true
                    },
                    email: {
                        email: true
                    }
                },
                messages: {
                },
                invalidHandler: function(event, validator) { //display error alert on form submit   
                    //$('.alert-danger', $('.login-form')).show();
                    //console.log(event);
                    //console.log(validator);

                    //$('span.help-block').show();
                    $('span.help-block').hide();
                    var errorlist = validator.errorList;
                    if (errorlist.length > 0) {
                        for (var i = 0; i < errorlist.length; i++) {
                            //console.log(errorlist[i].element);
                            var el = errorlist[i].element;
                            var next = $(el).next('span.help-block');
                            $(next).slideDown();
                        }
                        $('html,body').animate({
                            scrollTop: $(el).offset().top - 100
                        }, 800);
                    }
                },
                highlight: function(element) { // hightlight error inputs
                    $(element)
                            .closest('.form-group').addClass('has-error'); // set error class to the control group
                },
                success: function(label) {
                    label.closest('.form-group').removeClass('has-error');
                    //label.remove();
                },
                errorPlacement: function(error, element) {
                    $('span.help-block').hide();
                    var next = element.next('span.help-block');
                    //console.log(error);
                    if (error[0].textContent != "") {
                        $(next).children('span.label').html("<i class='fa fa-warning'></i> " + error[0].textContent);
                        $(element).next().slideDown();
                        $('html,body').animate({
                            scrollTop: $(element).offset().top - 100
                        }, 800);
                    }
                },
                submitHandler: function(form) {
                    $('span.help-block').hide();
                    $('.form-group').removeClass('has-error');
                    //form.submit(); // form validation success, call ajax form submit
                    submitForm();
                    return false;
                }
            });

            $('form#addapi input').keypress(function(e) {
                if (e.which == 13) {
                    $('span.help-block').hide();
                    $('.form-group').removeClass('has-error');
                    if ($('form#addapi').validate().form()) {
                        //$('form#addapi').submit(); //form validation success, call ajax form submit
                        submitForm();
                    }
                    return false;
                }
            });
        }

        var submitForm = function() {
            //console.log($('form#addapi').serialize());
            $.ajax({
                url: "/ajax/adduser",
                content: 'json',
                type: 'post',
                data: $('form#addapi').serialize(),
                beforeSend: function() {
                    $('#alertinfo').addClass('hidden');
                    $('#processbar').removeClass('hidden');
                    $('html,body').animate({
                        scrollTop: $('h3.page-title').offset().top
                    }, 800);
                    $('#alertinfo').removeClass('alert-success');
                    $('#alertinfo').removeClass('alert-warning');
                    $('#alertinfo').removeClass('alert-danger');
                    $('#alertinfo').removeClass('alert-info');
                },
                complete: function(result) {
                    $('#processbar').addClass('hidden');
                },
                success: function(data) {
                    //console.log(data);
                    if (data.result != undefined) {
                        if (data.result == true) {
                            $('#alertinfo').addClass('alert-success');
                            $('#alertmsg').html("<strong>Success!</strong> " + data.retMsg);
                        } else {
                            $('#alertinfo').addClass('alert-warning');
                            $('#alertmsg').html("<strong>Failed!</strong> " + data.retMsg);
                        }
                    } else {
                        $('#alertinfo').addClass('alert-info');
                        $('#alertmsg').html("<strong>Error!</strong> System is busy, please try again.");
                    }
                    $('#alertinfo').removeClass('hidden');
                },
                error: function() {
                    $('#alertinfo').addClass('alert-info');
                    $('#alertmsg').html("<strong>Error!</strong> System is busy, please try again.");
                    $('#alertinfo').removeClass('hidden');
                }
            });
        }



        var resetForm = function() {
            $('input', 'form#addapi')
                    .not(':button, :submit, :reset, :hidden')
                    .val('');

            $('select,option', 'form#addapi')
                    .removeAttr('checked')
                    .removeAttr('selected');

            $('.make-switch').bootstrapSwitch('setState', false);

            $('.ms-selectable').find('li').removeClass('ms-selected');
            $('.ms-selection').find('li').removeClass('ms-hover');
            $('.ms-selectable').find('li').removeAttr('style');

            $('.ms-selection').find('li').removeClass('ms-selected');
            $('.ms-selection').find('li').removeClass('ms-hover');
            $('.ms-selection').find('li').css({display: 'none'});
        }

        return {
            //main function to initiate the module
            init: function() {
                handleAdd();
            }

        };

    }();

</script>
