<style>
.table-scrollable>.table {
	background-color: #0c1d2b;
}
.portlet.light {
    
    background-color: rgba(12, 29, 43, 0.84);
	 color: white; 
}
table.dataTable td.sorting_1, table.dataTable td.sorting_2, table.dataTable td.sorting_3, table.dataTable th.sorting_1, table.dataTable th.sorting_2, table.dataTable th.sorting_3 {
    background: #35383c!important;
}


.dataTables_wrapper .dataTables_length, .dataTables_wrapper .dataTables_filter, 
.dataTables_wrapper .dataTables_info, 
.dataTables_wrapper .dataTables_processing,
 .dataTables_wrapper .dataTables_paginate
{
  color : #1C6EA7;
 
}

.dataTables_wrapper .dataTables_paginate .paginate_button {
    
    color: #1C6EA7 !important;
  
}
.btn.btn-outline.dark,.btn.btn-outline.green,.btn.btn-outline.purple
{
	color : white !important;  
	border-color : transparent;
	background : #32C5D2;
}
 .btn.btn-outline.dark:hover, .btn.btn-outline.green:hover,.btn.btn-outline.purple:hover
 {
	 color : white !important;  
	border-color : transparent;
	background : #26A2AC;
	 
 }
 .portlet.light .dataTables_wrapper .dt-buttons {

	 margin-top:-54px;
 }

.portlet.box>.portlet-body {
    color: white;
    background-color: #244759;
    padding: 15px;
}

</style>

<?php
	//die('www');
	

	if(count($this->cact)==0) {
			$act=1;
	} else {
		$act= count($this->cact);
}
?>

<div class="page-content">
	<div class="breadcrumbs">
	<h1> <?php echo $this->data['figure_name'];?></h1>
		<ol class="breadcrumb">
			<li><a href="/">Home</a></li>  
			<li><a href="#">/</a></li>
			<li><a href="/analis/index/listcron">Daftar Cron</a></li>
			<li><a href="#">/</a></li>
			<li class="active">Detail Cron</li>
		</ol>
	</div>
	<!-- BEGIN PAGE HEADER-->
	<div class="row">
		<div class="col-md-12">
			<!-- BEGIN PAGE TITLE & BREADCRUMB-->
			<h3 class="page-title">
			Detail Alert <small><?php echo $this->alert['id']; ?></small>
			</h3>
			<ul class="page-breadcrumb breadcrumb">
				<li>
					<i class="fa fa-rss"></i>
					<a href="/messaging/manageusers">Messaging</a>
					<i class="fa fa-angle-right"></i>
				</li>
				<li>
					<i class="fa fa-bullhorn"></i>
					<a href="/messaging/managealerts">Manage Alerts</a>
					<i class="fa fa-angle-right"></i>
				</li>
				<li>
					<i class="fa fa-info"></i>
					<a href="/messaging/managealerts">Detail Cron</a>
				</li>
			</ul>
		</div>
	</div>
	<!-- END PAGE HEADER-->

	<div class="row">
		<div class="col-md-12">
			<div class="alert alert-success alert-dismissable hidden" id="alertinfo">
				<button type="button" class="close" data-dismiss="alert" aria-hidden="true"></button>
				<span id="alertmsg"><strong>Warning!</strong> Something went wrong. Please check.</span>
			</div>
			<div style="margin:0px auto;text-align:center" id="processbar" class="hidden">
				<div class="progress progress-striped active" style="margin:0px auto;text-align:center">
					<div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
						<span class="sr-only">
							On Process
						</span>
					</div>
				</div>
				<span style="margin:0px auto;">Please wait...processing request</span>
			</div>
					
			<div class="portlet light bordered">
				<!-- Default panel contents -->

				<div class="portlet-title">
					<div class="caption">
						<i class="icon-equalizer font-red-sunglo"></i>
						<span class="caption-subject font-red-sunglo bold uppercase">Detail Cron</span>
					</div>
				</div>

				<div class="panel-body" style="padding:10px">
							
					<div class="form-group">
						<div class="col-md-12">
							<table class="table">
								<tbody>
									<?php	foreach($this->alert as $k=>$v){	?>
									<tr>
										<td>
											 <div class="control-label col-md-6"><?php echo strtoupper($k); ?></div>
										</td>
										<td>
											<div class="control-label col-md-6">
												<?php
													if($k=='target'){
														foreach($v as $k2=>$v2){
															echo "<b>".strtoupper($k2)."</b>"." : ".$v2."";
														}
													}else{
														echo strtoupper($v); 
													}
												?>
											</div>
										</td>
									</tr>
									<?php } ?>
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
		<!--	
	<?php
	foreach($this->alert as $k=>$v){
	?>
			<div class="portlet light bordered">
				<!-- Default panel contents -->
	<!--
				<div class="portlet-title">
					<div class="caption">
						<i class="icon-equalizer font-red-sunglo"></i>
						<span class="caption-subject font-red-sunglo bold uppercase"><?php echo strtoupper($k); ?></span>
					</div>
				</div>

					<div class="panel-body" style="padding:10px">
						<?php
						if($k=='target'){
							foreach($v as $k2=>$v2){
								echo "<b>".strtoupper($k2)."</b>"." : ".$v2."";
							}
						}else{
							echo $v; 
						}
						?>
					</div>

				<!-- List group -->
				<!--ul class="list-group">
					<!--li class="list-group-item">
						Cras justo odio
						<span class="badge badge-default">
							3
						</span>
					</li>
					<li class="list-group-item">
						Vestibulum at eros
					</li>
				</ul
			</div>
	<?php
	}
	?>
	-->
		<div class="portlet light bordered">
			<div class="portlet-title">
					<h3 class="panel-title"><b>Daftar Action</b></h3>
			</div>
			<div class="portlet-body form" style="padding:10px">
				<div class="help">Contoh Penulisan Input<pre>input1=12,input2=text</pre></div>
				<form action="" class="form-horizontal" id="addapi" method="post">
					<input type="hidden" value="<?php echo $this->varams['id'] ?>" name="id_act">
					<?php for($i=1;$i<=$act;$i++) { ?>	
					<div class="form-group row breadcrump" id="breadcrump<?php echo $i ?>" data-id="<?php echo $i ?>">
						<div class="col-md-10">
							<div class="col-md-5">
							<select name="act[]"  class="form-control getact" placeholder="Action">
								<option value="">--Pilih Action--</option>
									<?php 
									
									foreach ($this->act as $z) {
										
										
												$sel="";
												if($z['id'] == $this->cact[($i-1)]['act_id']) {$sel=" selected ";}
													
										echo 	'<option '.$sel.' value="'.$z['id'].'">'.$z['id'].'-'.$z['action_name'].'</option>';
									}
								
								?>
							</select>
							</div>
							<div class="col-md-5">
								<input class="form-control input-sm" name="arr_input[]" value="<?php echo $this->cact[($i-1)]['raws'] ?>" placeholder="Input">
							</div>
						</div>
						<div class="col-md-2">
							<?php if($i==1) {?>	
							<button type="button" class="btn grey addGC" onclick="addGC(this); return false;" data-act="addGC" data-id="1" style="padding: 5px;">Tambah</button>
							<?php } else { ?>
							<button type="button" class="btn red removeGC" onclick="removeGC(this); return false;" data-act="removeGC" data-id="<?php echo  $i;?>" style="padding: 5px;">Hapus</button>
							<?php }?>
						</div>
					</div>
						<?php } ?>
					<div class="form-group row" >
						<div class="col-md-10">
						
						</div>
						<div class="col-md-2">
							<button type="submit" class="btn green">Kirim</button>  
						</div>
					</div>
				</form>
			</div>			
		</div>	

		</div>
	</div>

</div>

<script>
var gamasidx2=1;
var elem=1;


function removeGC(me){
var id = $(me).data('id');
//console.log(id);
$('body').find('#breadcrump'+id+':first').remove();
}

function addGC(me){
	var id = $(me).data('id');
	var currow = $('body').find('.breadcrump:last');

var str = '<div class="form-group row breadcrump" id="breadcrump'+(parseInt(gamasidx2)+1)+'" data-id="'+(parseInt(gamasidx2)+1)+'" >'
						+'<div class="col-md-10">'
								+'<div class="col-md-5">'
								+'<select name="act[]"  class="form-control getact" placeholder="Action">'
									+'<option value="">--Choose Action--</option>'
									<?php 
									foreach ($this->act as $z) {
										echo 	"+'<option value=\'".$z['id']."\'>".$z[id]."-".$z["action_name"]."</option>'";
									}
									
									?>
								+'</select>'
								+'</div>'
								+'<div class="col-md-5">'
								+'<input class="form-control input-sm" name="arr_input[]" value="" placeholder="Input">'
								+'</div>'
							+'</div>'
					+'<div class="col-md-2">'
						+'<button type="button" class="btn red removeGC" onclick="removeGC(this); return false;" data-act="removeGC" data-id="'+(parseInt(gamasidx2)+1)+'" style="padding: 5px;">Remove</button>'
					+'</div>'
				+'</div>';	
			gamasidx2++;
	//console.log(str);
	currow.after(str);
	$(".act").select2();

	
}




jQuery(document).ready(function() {
	

var EditApi = function () {
	
	var handleAdd = function() {

		$('form#addapi').validate({
	            //errorElement: 'span', //default input error message container
	            //errorClass: 'label-danger', // default input error message class
	            focusInvalid: false, // do not focus the last invalid input
	            rules: {
	                pagealias: {
	                    required: true
	                },
	                title: {
	                    required: true
	                }
	            },
	         

	            messages: {
					
	            },

	            invalidHandler: function (event, validator) { //display error alert on form submit   
	                //$('.alert-danger', $('.login-form')).show();
	                //console.log(event);
	                //console.log(validator);
	                
					//$('span.help-block').show();
					$('span.help-block').hide();
	                var errorlist = validator.errorList;
	                if(errorlist.length>0){
						for(var i = 0; i<errorlist.length; i++){
							//console.log(errorlist[i].element);
							var el = errorlist[i].element; 
							var next = $(el).next('span.help-block'); 
							$(next).slideDown();
						}
						$('html,body').animate({
							scrollTop: $(el).offset().top-100
						}, 800);
					}
	            },

	            highlight: function (element) { // hightlight error inputs
	                $(element)
	                    .closest('.form-group').addClass('has-error'); // set error class to the control group
	            },

	            success: function (label) {
	                label.closest('.form-group').removeClass('has-error');
	                //label.remove();
	            },

	            errorPlacement: function (error, element) {
					$('span.help-block').hide();
					var next = element.next('span.help-block'); 
					//console.log(error);
	                if(error[0].textContent!=""){
						$(next).html("<i class='fa fa-warning'></i> "+ error[0].textContent);
						$(element).next().slideDown();
						$('html,body').animate({
							scrollTop: $(element).offset().top-100
						}, 800);
					}
	            },

	            submitHandler: function (form) {
					$('span.help-block').hide();
					$('.form-group').removeClass('has-error');
	                //form.submit(); // form validation success, call ajax form submit
	                submitForm();
	                return false;
	            }
	        });

	        $('form#addapi input').keypress(function (e) {
	            if (e.which == 13) {
					$('span.help-block').hide();
					$('.form-group').removeClass('has-error');
	                if ($('form#addapi').validate().form()) {
	                   //$('form#addapi').submit(); //form validation success, call ajax form submit
	                   submitForm();
	                }
	                return false;
	            }
	        });
	}
	
	var submitForm = function(){
		
		
		//console.log($('form#addapi').serialize());
		$.ajax({
			url:"/prabaqueue/addact",
			content:'json',
			type:'post',
			data:$('form#addapi').serialize(),
			beforeSend:function(){
				$('#alertinfo').addClass('hidden');
				$('#processbar').removeClass('hidden');
				$('html,body').animate({
					scrollTop: $('h3.page-title').offset().top
				}, 800);
				$('#alertinfo').removeClass('alert-success');
				$('#alertinfo').removeClass('alert-warning');
				$('#alertinfo').removeClass('alert-danger');
				$('#alertinfo').removeClass('alert-info');
			},
			complete:function(result){
				$('#processbar').addClass('hidden');
			},
			success: function(data){
				//console.log(data);
				if(data.result!=undefined){
					if(data.result==true){
						$('#alertinfo').addClass('alert-success');
						$('#alertmsg').html("<strong>Success!</strong> "+data.retMsg);
					}else{
						$('#alertinfo').addClass('alert-warning');
						$('#alertmsg').html("<strong>Failed!</strong> "+data.retMsg);
					}
				}else{
					$('#alertinfo').addClass('alert-info');
					$('#alertmsg').html("<strong>Error!</strong> System is busy, please try again.");
				}
				$('#alertinfo').removeClass('hidden');
			},
			error:function(){
				$('#alertinfo').addClass('alert-info');
				$('#alertmsg').html("<strong>Error!</strong> System is busy, please try again.");
				$('#alertinfo').removeClass('hidden');
			}
		});
	}
	
	

	var resetForm = function(){
		$('input','form#addapi')
			.not(':button, :submit, :reset, :hidden')
			.val('');
			
		$('select,option','form#addapi')
			.removeAttr('checked')
			.removeAttr('selected');
		
		$('.make-switch').bootstrapSwitch('setState',false);
		
		$('.ms-selectable').find('li').removeClass('ms-selected');
		$('.ms-selection').find('li').removeClass('ms-hover');
		$('.ms-selectable').find('li').removeAttr('style');
		
		$('.ms-selection').find('li').removeClass('ms-selected');
		$('.ms-selection').find('li').removeClass('ms-hover');
		$('.ms-selection').find('li').css({display:'none'});
	}
    
    return {
        //main function to initiate the module
        init: function () {
            handleAdd();
        }

    };

}();

	
	

App.init();
EditApi.init();
});
</script>
