<style>
.table-scrollable>.table {
	background-color: #0c1d2b;
}
.portlet.light {
    
    background-color: rgba(12, 29, 43, 0.84);
	 color: white; 
}
table.dataTable td.sorting_1, table.dataTable td.sorting_2, table.dataTable td.sorting_3, table.dataTable th.sorting_1, table.dataTable th.sorting_2, table.dataTable th.sorting_3 {
    background: #35383c!important;
}


.dataTables_wrapper .dataTables_length, .dataTables_wrapper .dataTables_filter, 
.dataTables_wrapper .dataTables_info, 
.dataTables_wrapper .dataTables_processing,
 .dataTables_wrapper .dataTables_paginate
{
  color : #1C6EA7;
 
}
.table-striped>tbody>tr:nth-of-type(odd) {
    background-color: rgba(39, 76, 95, 0.64);
}

.dataTables_wrapper .dataTables_paginate .paginate_button {
    
    color: #1C6EA7 !important;
  
}
.btn.btn-outline.dark,.btn.btn-outline.green,.btn.btn-outline.purple
{
	color : white !important;  
	border-color : transparent;
	background : #32C5D2;
}
 .btn.btn-outline.dark:hover, .btn.btn-outline.green:hover,.btn.btn-outline.purple:hover
 {
	 color : white !important;  
	border-color : transparent;
	background : #26A2AC;
	 
 }
 .portlet.light .dataTables_wrapper .dt-buttons {

	 margin-top:-54px;
 }

.portlet.box>.portlet-body {
    color: white;
    background-color: rgba(39, 76, 95, 0.74);
    padding: 15px;
}
.modal
{
	background-color:rgba(39, 76, 95, 0.64);  
	padding :1px;
	margin :1px;
}

</style>
<style> 
.portlet.light {
    padding: 12px 5px 15px;
    background-color: transparent;
	 color: white;
}
.portlet.light>
.portlet-title>
.caption>
.caption-subject {
    color: white;
}
.page-container {
    padding: 20px 20px 5px 5px;
}
body{
	color: white !important;
}
.dataTables_wrapper .dataTables_length, .dataTables_wrapper .dataTables_filter, 
.dataTables_wrapper .dataTables_info, 
.dataTables_wrapper .dataTables_processing,
 .dataTables_wrapper .dataTables_paginate
{
  color : #1C6EA7;
}
.table-striped>tbody>tr:nth-of-type(odd) {
    background-color: rgba(39, 76, 95, 0.64);
}
.table {
    border: 1px solid #666;
}
.table-scrollable {
	border: 1px solid #666;	
}
.table-scrollable>.table {
	background-color: #0c1d2b;
}
.table-striped>tbody>tr:nth-of-type(even){
	background-color: #274c5f;
}
.portlet.light.bordered {
	background-color:rgba(17, 38, 55, 0.8);
}
table.dataTable td.sorting_1, table.dataTable td.sorting_2, table.dataTable td.sorting_3, table.dataTable th.sorting_1, table.dataTable th.sorting_2, table.dataTable th.sorting_3 {
    background: #35383c!important;
}
 
.pagination>li>a, .pagination>li>span{
color : #337ab7;
background-color : transparent;
border:transparent;
}

.pagination>.active>a, .pagination>.active>a:hover
{
  color : #333;
  background-color : #ffffff;
}

.pagination>li>a:hover
{ 
  color : #ffffff;
  background-color : #2f353b;
}
.pagination>.disabled>a, .pagination>.disabled>a:hover,.pagination>.disabled>span
{
   background-color:transparent;
   color : #1C6EA7;
}
</style>
<?php // 
// Zend_Debug::dump($this->varams['bahasa']);?>

<div class="page-content" >
	<!-- BEGIN BREADCRUMBS -->
	<div class="breadcrumbs">
		<h1> <?php echo $this->data['figure_name'];?></h1>
		<ol class="breadcrumb">
			<li><a href="/">Home</a></li>
			<li><a href="#">/</a></li>
			<li class="active">Kamus</li>
		</ol>
	</div>
	<!-- END BREADCRUMBS -->
 <!-- BEGIN PAGE BASE CONTENT -->
 
	<div class="row">
		<div class="col-md-12">
				 <!-- START EXAMPLE TABLE PORTLET-->   
			<div class="portlet light"  >
				<div class="portlet-title">
					<div class="caption font-dark">
							<i class="icon-settings font-white" ></i>
							<span class="caption-subject bold uppercase" style="color:white;">Kamus</span>
					</div>
					<div class="actions">
						<select class="form-control" id="bahasa" name="bahasa" onchange="showMT();">
							<option value="">ALL</option>
							<option value="id" <?php echo (isset($this->varams['bahasa']) && $this->varams['bahasa']=="id"?"selected":""); ?>>Indonesia</option>
							<option value="en" <?php echo (isset($this->varams['bahasa']) && $this->varams['bahasa']=="en"?"selected":""); ?>>English</option>
						</select>
					</div>
				</div>
				<div class="portlet-body" >
					<div class="table-toolbar">
						<div class="row">
							<div class="col-md-6">
									<div class="btn-group">
											<button id="kamus_new" class="btn sbold green-meadow"> Tambah Kamus Baru
													<i class="fa fa-plus"></i>
											</button>
											<button id="generate" class="btn sbold blue"> Generate
													<i class="fa fa-plus"></i>
											</button>
									</div>
							</div>
							<div class="col-md-6"> 

							</div>
						</div>
					</div>
					<table class="table table-striped table-bordered table-hover" id="user_table">
						<thead>
							<tr>
								<th>
									No
								</th>
								<th>
									Kata
								</th>
								<th>
									Bahasa
								</th>
								<th>
									Topik
								</th>
								<th>
									Sentimen
								</th>
								<th>
									Action
								</th>
							</tr>
						</thead>
					</table>
					
					<!--table class="table table-striped table-bordered table-hover dt-responsive" width="100%" id="sample_1"   >
						<thead>
							<tr>
								<th class="gradeX">No</th>
								<th class="gradeX">Kata</th>
								<th class="gradeX">Bahasa</th>
								<th class="gradeX">Topik</th>
								<th class="gradeX">Sentimen</th>
								<th class="gradeX">Action</th>
							</tr>
						</thead>
						<tbody >
						<?php
							$i=1;
							foreach ($this->dictionary as $v) {
								switch ($v['sentiment']) {
									case "0":
									$sen = "Netral";
									break;
									case "1":
									$sen = "Negatif";
									break;
									case "2":
									$sen = "Positif";
									break;
								}
								?>
								<tr style="background-color:#274c5f;opacity: 0.9;">
									<td><?php echo $i; $i++;?></td>
									<td><?php echo $v['kata']; ?></td>
									<td><?php echo $v['bahasa']; ?></td>
									<td><?php echo $v['topik']; ?></td>
									<td><?php echo $sen; ?></td>
									<td><a data-id="<?php echo $v['id'];?>"
									data-kata="<?php echo $v['kata'];?>"
									data-sentiment="<?php echo $v['sentiment'];?>"
									data-bah="<?php echo $bah;?>"
									data-topik="<?php echo $v['topik'];?>"
									data-toggle="modal" href="#edit_dict"  onclick="editdict(this);"><font color="white"><i class="btn btn-circle btn-sm blue">Edit</i></font></a></td>
								</tr>
						<?php } ?>    
						</tbody>
					</table--!>
				</div>
			</div>
			<!-- END EXAMPLE TABLE PORTLET-->
			<!-- static -->
			<div id="static2" class="modal container fade modal-scroll modal-overflow in" tabindex="-1" data-backdrop="static" data-keyboard="false">
				<div class="modal-body" style="padding:5px;background-color:transparent;">
					<div class="portlet box" style="margin:0px;background-color:transparent;">    
						<div class="portlet-title" style="background-color:#26A1AB;">
							<div class="caption">
								Tambah Kamus Baru
							</div>
							<div class="actions">
								<a href="#" class="btn reload" data-dismiss="modal"><i class="fa fa-times"></i></a>
							</div>
							<div class="tools">
							</div>
						</div>
						<div class="portlet-body form" style="padding:15px; ">  
							<form action="/analis/ajax/postdictionary" id="addconn"  enctype="multipart/form-data" method="post" class="form-horizontal">
								<div class="form-body">
									<div class="form-group">
										<label class="col-md-3 control-label">Kata</label>
										<div class="col-md-4">
											<input type="text" name="kata" class="form-control" placeholder="Kata...">
											<span class="help-block">
												<span class="label label-danger"><i class="fa fa-warning"> </i>This is inline help</span>
											</span> 
										</div>
									</div>

									<div class="form-group">
										<label class="col-md-3 control-label">Topik</label>
										<div class="col-md-4">
											<select class="form-control select2me" data-placeholder="Select..." id="topik" name="topik" >
												<?php 
													foreach ($this->taxonomy as $k3=>$v3) {
													echo '<option value="'.$v3['tid'].'" '.(isset($this->topik["data2"]) && $this->topik["data2"]!="" && $this->topik["data2"]==$v?"selected":"").'>'.$v3['name'].'</option>';    
													}
												?>
											</select>
												<span class="help-block">
													<span class="label label-danger"><i class="fa fa-warning"> </i>This is inline help</span>
												</span> 
										</div>
									</div>
									<div class="form-group ">
										<label class="col-md-3 control-label">Sentiment :</label>
										<div class="col-md-4">
											<select name="sentiment" class="form-control" >  
												<option value="0">Normal </option>
												<option value="1">Negatif </option>
												<option value="2">Positif </option>												
											</select> 
												<span class="help-block">
													<span class="label label-danger"><i class="fa fa-warning"> </i>This is inline help</span>
												</span> 
										</div>
									</div>

									<div class="form-group ">
										<label class="col-md-3 control-label">Bahasa :</label>
										<div class="col-md-4">
											<select name="bahasa" class="form-control" >  
												<option value="id">1. Indonesia </option>
												<option value="en">2. English </option>                               
											</select> 
											<span class="help-block">
												<span class="label label-danger"><i class="fa fa-warning"> </i>This is inline help</span>
											</span> 
										</div>
									</div>
								</div>
								<div class="form-actions" style="background-color:#0C1D2B;">
									<div class="row">
										<div class="col-md-offset-3 col-md-9">
											<button type="submit" class="btn btn-circle green">Submit</button>
											<button type="button" class="btn btn-circle grey-salsa btn-outline" data-dismiss="modal"> Cancel</button>
										</div>
									</div>
								</div>
							</form>
						<!-- END FORM-->
						</div>
					</div>
				</div>
									<!--div class="modal-footer">
											<button type="button" data-dismiss="modal" class="btn btn-default">Cancel</button>
											<button type="button" data-dismiss="modal" class="btn green">Submit</button>
									</div-->
			</div>
			
			<div id="edit_dict" class="modal container fade modal-scroll modal-overflow in" tabindex="-1" data-backdrop="static" data-keyboard="false">
				<div class="modal-body" style="padding:5px;background-color:transparent;">
					<div class="portlet box" style="margin:0px;background-color:transparent;">    
						<div class="portlet-title" style="background-color:#26A1AB;">
							<div class="caption">
									Edit Kamus
							</div>
							<div class="actions">
								 <a href="#" class="btn reload" data-dismiss="modal"><i class="fa fa-times"></i></a>
							</div>
							<div class="tools">
							</div>
						</div>
						<?php
						//Zend_Debug::dump($this->dictionary[0]['id']);//die(0);
						?>
						<div class="portlet-body form" style="padding:15px; ">  
							<form action="/analis/ajax/postdictionary" id="edit_dict"  enctype="multipart/form-data" method="post" class="form-horizontal">
								<input type="hidden" name="id" id="id_data" class="form-control" value="">
								<div class="form-body">
									<div class="form-group">
										<label class="col-md-3 control-label">Kata</label>
											<div class="col-md-4">
												<input type="text" name="kata" id="katadata" class="form-control" value="">
												<span class="help-block">
														<span class="label label-danger"><i class="fa fa-warning"> </i>This is inline help</span>
												</span> 
											</div>
									</div>

									<div class="form-group">
										<label class="col-md-3 control-label">Topik</label>
										<div class="col-md-4">
											<select class="form-control select2me" data-placeholder="Select..." id="topikdata" name="topik">
												<?php 

												foreach ($this->taxonomy as $k3=>$v3) {
													echo '<option value="'.$v3['tid'].'" '.(isset($this->topik["data2"]) && $this->topik["data2"]!="" && $this->topik["data2"]==$v?"selected":"").'>'.$v3['name'].'</option>';    
												}
												?>
											</select>
											<span class="help-block">
												<span class="label label-danger"><i class="fa fa-warning"> </i>This is inline help</span>
											</span> 
										</div>
									</div>
									<div class="form-group ">
										<label class="col-md-3 control-label">Sentiment :</label>
										<div class="col-md-4">
											<select class="form-control select2me" data-placeholder="Select..." id="sentimentdata" name="sentiment">
												<option id="sentimentdata" value="">  </option>
												<option value="0">Normal </option>
												<option value="1">Negatif </option>
												<option value="2">Positif </option>													
											</select>
												<span class="help-block">
														<span class="label label-danger"><i class="fa fa-warning"> </i>This is inline help</span>
												</span> 
										</div>
									</div>
									<div class="form-group ">
										<label class="col-md-3 control-label">Bahasa :</label>
										<div class="col-md-4">
											<select name="bahasa" class="form-control" >  
												<option value="id" <?php echo($this->dictionary['bahasa']=="id"?"selected":""); ?> >1. Indonesia</option>
												<option value="en" <?php echo($this->dictionary['bahasa']=="en"?"selected":""); ?> >2. English</option>
													
											</select> 
											<span class="help-block">
													<span class="label label-danger"><i class="fa fa-warning"> </i>This is inline help</span>
											</span> 
										</div>
									</div>

								</div>
								<div class="form-actions" style="background-color:#0C1D2B;">
									<div class="row">
											<div class="col-md-offset-3 col-md-9">
													<button type="submit" class="btn btn-circle green">Submit</button>
													<button type="button" class="btn btn-circle grey-salsa btn-outline" data-dismiss="modal"> Cancel</button>
											</div>
									</div>
								</div>
							</form>
								<!-- END FORM-->
						</div>
					</div>
				</div>
									<!--div class="modal-footer">
											<button type="button" data-dismiss="modal" class="btn btn-default">Cancel</button>
											<button type="button" data-dismiss="modal" class="btn green">Submit</button>
									</div-->
			</div>		 
		</div>
	</div>
    <!-- END EXAMPLE TABLE PORTLET-->
</div>
<script>
function getTopik(id){
	
	if(xhr_gt!=null && xhr_gt!="undefined"){
		xhr_gt.abort;
	}
	
	var formData = {};
	
	xhr_gt = $.ajax({  
		type: "GET",
		url: '/analis/home/select456/id/'+id+'/topik/<?php echo $this->varams["topik"]; ?>',
		// url: '/analis/ajax/gettopik/id/'+id+'/topik/<?php echo $this->varams["topik"]; ?>',
		data: formData, //last_id kita berarti 15
		dataType: "html",  //sesuai keinginan, di sini saya pengen ngambil langsung data dalam bentuk html langsung dari file data_per_load.php
		success: function(data){
			// console.log("ok");
			$("#topik").html(data);
		}
	});
	
}

function showMT(){
	location.href = "/analis/index/listdictionary/bahasa/"+$("#bahasa").val();
}

function editdict(me){
	
	App.blockUI({target:"#div-extract",boxed:!0});

	var formData = {}
	
	var param = $(me).data("id");
	var sentiment = $(me).data("sentiment");
	var kata = $(me).data("kata");
	var topik = $(me).data("topik");
	// console.log(sentiment);
	$("#id_data").val(param);
	$("#sentimentdata").val(sentiment);
	$("#katadata").val(kata);
	$("#topikdata").val(topik);

}


jQuery(document).ready(function() {
		
		var TableAjax = function () {
    return {
        //main function to initiate the module
        init: function () {
            
            if (!jQuery().dataTable) {
				
                return;
            }
			
			 // begin first table	
            var oTable = $('#user_table').dataTable({
               // "sDom" : "<'row'<'col-md-6 col-sm-12'l><'col-md-6 col-sm-12'f>r>t<'row'<'col-md-5 col-sm-12'i><'col-md-7 col-sm-12'p>>", //default layout without horizontal scroll(remove this setting to enable horizontal scroll for the table)
                "aLengthMenu": [
                    [10,50, 200, 500 -1],
                    [10,50, 200, 500, "All"] // change per page values here
                ],
                "bProcessing": true,
                "bServerSide": true,
                "sAjaxSource": "/analis/index/tabledictionary/type/<?php echo $this->varams['bahasa'] ?>",
				//die("iiii");
                // set the initial value
                "iDisplayLength": 10,
                "sPaginationType": "bootstrap_full_number",
                "oLanguage": {
                    "sProcessing": '<i class="fa fa-coffee"></i>&nbsp;Please wait...',
                    "sLengthMenu": "_MENU_ records",
                    "oPaginate": {
                        "sPrevious": "Prev",
                        "sNext": "Next"
                    },
			"sSearch": "Search all columns:"
                },
                "aoColumnDefs": [{
                        'bSortable': false,
                        'aTargets': [0,5]
                    }
                ]
            });
			
			
        $('#sample_2_column_toggler input[type="checkbox"]').change(function(){
            /* Get the DataTables object again - this is not a recreation, just a get of the object */
            var iCol = parseInt($(this).attr("data-column"));
            var bVis = oTable.fnSettings().aoColumns[iCol].bVisible;
            oTable.fnSetColumnVis(iCol, (bVis ? false : true));
        });
				
			$("input#filterid").keyup( function () {
				/* Filter on the column (the index) of this element */
				oTable.fnFilter( this.value, 1 );
			} );

        }
    };

}();

	
	
$("#generate").click(function(){
		 $.ajax({
				url:"/analis/ajax/gen",
				//content:'json',
				dataType: "json",
				beforeSend:function(){
					
				},
				complete:function(result){
					
				},
				success: function(data){
					//console.log(data);
					
				},
				error:function(){
					
				}
			});
		 
	
});
		
		
        $('span.help-block').hide();
       // // // var table = $('#sample_1');
       // // // var oTable = table.dataTable({
            // // // // Internationalisation. For more info refer to http://datatables.net/manual/i18n
            // // // "language": {
                // // // "aria": {
                    // // // "sortAscending": ": activate to sort column ascending",
                    // // // "sortDescending": ": activate to sort column descending"
                // // // },
                // // // "emptyTable": "No data available in table",
                // // // "info": "Showing _START_ to _END_ of _TOTAL_ entries",
                // // // "infoEmpty": "No entries found",
                // // // "infoFiltered": "(filtered1 from _MAX_ total entries)",
                // // // "lengthMenu": "_MENU_ entries",
                // // // "search": "Search:",
                // // // "zeroRecords": "No matching records found"
            // // // },

            // // // // Or you can use remote translation file
            // // // //"language": {
            // // // //   url: '//cdn.datatables.net/plug-ins/3cfcc339e89/i18n/Portuguese.json'
            // // // //},

            // // // // setup buttons extentension: http://datatables.net/extensions/buttons/
            // // // buttons: [
            // // // { extend: 'print', className: 'btn dark btn-outline' },
            // // // { extend: 'pdf', className: 'btn green btn-outline' },
            // // // { extend: 'csv', className: 'btn purple btn-outline ' }
            // // // ],

            // // // // setup responsive extension: http://datatables.net/extensions/responsive/
            // // // responsive: {
                // // // details: {

                // // // }
            // // // },

            // // // "order": [
            // // // [0, 'asc']
            // // // ],
            
            // // // "lengthMenu": [
            // // // [5, 10, 15, 20, -1],
                // // // [5, 10, 15, 20, "All"] // change per page values here
                // // // ],
            // // // // set the initial value
            // // // "pageLength": 10,  

            // // // "dom": "<'row' <'col-md-12'B>><'row'<'col-md-6 col-sm-12'l><'col-md-6 col-sm-12'f>r><'table-scrollable't><'row'<'col-md-5 col-sm-12'i><'col-md-7 col-sm-12'p>>", // horizobtal scrollable datatable

            // // // // Uncomment below line("dom" parameter) to fix the dropdown overflow issue in the datatable cells. The default datatable layout
            // // // // setup uses scrollable div(table-scrollable) with overflow:auto to enable vertical scroll(see: assets/global/plugins/datatables/plugins/bootstrap/dataTables.bootstrap.js). 
            // // // // So when dropdowns used the scrollable div should be removed. 
            // // // //"dom": "<'row' <'col-md-12'T>><'row'<'col-md-6 col-sm-12'l><'col-md-6 col-sm-12'f>r>t<'row'<'col-md-5 col-sm-12'i><'col-md-7 col-sm-12'p>>",
        // // // });

//	App.init(); // init metronic core componets







var UIExtendedModals3 = function () {
    return {
        //main function to initiate the module
        init: function () {
            // general settings
            $.fn.modal.defaults.spinner = $.fn.modalmanager.defaults.spinner = 
            '<div class="loading-spinner" style="width: 200px; margin-left: -100px;">' +
            '<div class="progress progress-striped active">' +
            '<div class="progress-bar" style="width: 100%;"></div>' +
            '</div>' +
            '</div>';

            $.fn.modalmanager.defaults.resize = true;
            
            //static demo:

            
            var $modal3 = $('#static2');

            // handle record edit/remove
            $('body').on('click', '#kamus_new', function() {
              $modal3.modal();   
          });
            
            $modal3.on('hide.bs.modal', function (e) {
                $('#processbar').addClass('hidden');   
                $('#alertinfo').addClass('hidden'); 
            });
            
            $modal3.on('hidden.bs.modal', function (e) {
                $('#processbar').addClass('hidden');   
                $('#alertinfo').addClass('hidden');
            });
        }

    };

}();

var UIExtendedModals4 = function () {
    return {
        //main function to initiate the module
        init: function () {
            // general settings
            $.fn.modal.defaults.spinner = $.fn.modalmanager.defaults.spinner = 
            '<div class="loading-spinner" style="width: 200px; margin-left: -100px;">' +
            '<div class="progress progress-striped active">' +
            '<div class="progress-bar" style="width: 100%;"></div>' +
            '</div>' +
            '</div>';

            $.fn.modalmanager.defaults.resize = true;
            
            //static demo:

            
            var $modal4 = $('#static3');

            // handle record edit/remove
            $('body').on('click', '#edit_dict', function() {
              $modal4.modal();   
          });
            
            $modal4.on('hide.bs.modal', function (e) {
                $('#processbar').addClass('hidden');   
                $('#alertinfo').addClass('hidden'); 
            });
            
            $modal4.on('hidden.bs.modal', function (e) {
                $('#processbar').addClass('hidden');   
                $('#alertinfo').addClass('hidden');
            });
        }

    };

}();


UIExtendedModals3.init();
UIExtendedModals4.init();
TableAjax.init();
// AddConn.init();
// edit_dict.init();


});
</script>
  
