<style>
.table-scrollable>.table {
	background-color: #0c1d2b;
}
.portlet.light {
    
    background-color: rgba(12, 29, 43, 0.84);
	 color: white; 
}
table.dataTable td.sorting_1, table.dataTable td.sorting_2, table.dataTable td.sorting_3, table.dataTable th.sorting_1, table.dataTable th.sorting_2, table.dataTable th.sorting_3 {
    background: #35383c!important;
}


.dataTables_wrapper .dataTables_length, .dataTables_wrapper .dataTables_filter, 
.dataTables_wrapper .dataTables_info, 
.dataTables_wrapper .dataTables_processing,
 .dataTables_wrapper .dataTables_paginate
{
  color : #1C6EA7;
 
}
.table-striped>tbody>tr:nth-of-type(odd) {
    background-color: rgba(39, 76, 95, 0.64);
}

.dataTables_wrapper .dataTables_paginate .paginate_button {
    
    color: #1C6EA7 !important;
  
}
.btn.btn-outline.dark,.btn.btn-outline.green,.btn.btn-outline.purple
{
	color : white !important;  
	border-color : transparent;
	background : #32C5D2;
}
 .btn.btn-outline.dark:hover, .btn.btn-outline.green:hover,.btn.btn-outline.purple:hover
 {
	 color : white !important;  
	border-color : transparent;
	background : #26A2AC;
	 
 }
 .portlet.light .dataTables_wrapper .dt-buttons {

	 margin-top:-54px;
 }

.portlet.box>.portlet-body {
    color: white;
    background-color: rgba(39, 76, 95, 0.74);
    padding: 15px;
}
.modal
{
	background-color:rgba(39, 76, 95, 0.64);  
	padding :1px;
	margin :1px;
}

</style>

<?php  //Zend_Debug::dump($this->media);?>

<div class="page-content" >
	<!-- BEGIN BREADCRUMBS -->
	<div class="breadcrumbs">
		<h1> <?php echo $this->data['figure_name'];?></h1>
		<ol class="breadcrumb">
			<li><a href="/">Home</a></li>
			<li><a href="#">/</a></li>
			<li class="active">Daftar Media</li>
		</ol>
	</div>
	<!-- END BREADCRUMBS -->
 <!-- BEGIN PAGE BASE CONTENT -->
 
 <div class="row">
    <div class="col-md-12">
       <!-- START EXAMPLE TABLE PORTLET-->   
       <div class="portlet light"  >
        <div class="portlet-title">
            <div class="caption font-dark">
                <i class="icon-settings font-white" ></i>
                <span class="caption-subject bold uppercase" style="color:white;">Daftar Media</span>
            </div>
            <div class="actions">
				<select class="form-control" id="media_type" name="media_type" onchange="showMT();">
					<option value="">ALL</option>
					<option value="1" <?php echo (isset($this->varams["type"]) && $this->varams["type"]==1?"selected":""); ?>>NASIONAL</option>
					<option value="2" <?php echo (isset($this->varams["type"]) && $this->varams["type"]==2?"selected":""); ?>>LOCAL</option>
					<option value="3" <?php echo (isset($this->varams["type"]) && $this->varams["type"]==3?"selected":""); ?>>INTERNASIONAL</option>
					<option value="4" <?php echo (isset($this->varams["type"]) && $this->varams["type"]==4?"selected":""); ?>>WEBSITE TARGET</option>
				</select>
			</div>
        </div>
        <div class="portlet-body" >
            <div class="table-toolbar">
                <div class="row">
                    <div class="col-md-6">
                        <div class="btn-group">
                            <button id="media_new" class="btn sbold green-meadow"> Tambah Media Baru
                                <i class="fa fa-plus"></i>
                            </button>
                            
                        </div>
                    </div>
                    <div class="col-md-6"> 

                    </div>
                </div>
            </div>
            <table class="table table-striped table-bordered table-hover dt-responsive" width="100%" id="sample_1"   >
                <thead>
                    <tr>
					   <th class="gradeX">No</th>
                       <th class="gradeX">Nama Media</th>
                        <th class="gradeX">Slugname</th>
                    
                        <th class="gradeX">Url</th>
                       <th class="gradeX">Action</th
                    </tr>
                </thead>
                <tbody >
                    <?php
					$i=1;
 					foreach ($this->media as $v) { ?>
                    <tr style="background-color:#274c5f;opacity: 0.9;">
					    <td><?php echo $i; $i++;?></td>
                        <td ><img src="<?php echo $v['logo']; ?>"  width="20px"/>&nbsp;&nbsp;<?php echo $v['subdomain']; ?>&nbsp;&nbsp;<?php echo $v['media_name']; ?></td>
                        <td><?php echo $v['slugname']; ?></td>
                      
                        
                        <td><?php echo $v['url']; ?></td>
                         
                        <td><a href ="/analis/index/emedia/id/<?php echo $v['id'];?>" class="btn btn-circle btn-sm blue">edit</a></td>
                    </tr>
                    <?php } ?>    
                </tbody>
            </table>
        </div>
    </div>
    <!-- END EXAMPLE TABLE PORTLET-->
    <!-- static -->
    <div id="static2" class="modal container fade modal-scroll modal-overflow in" tabindex="-1" data-backdrop="static" data-keyboard="false">
        <div class="modal-body" style="padding:5px;background-color:transparent;">
            <div class="portlet box" style="margin:0px;background-color:transparent;">    
                <div class="portlet-title" style="background-color:#26A1AB;">
                    <div class="caption">
                        Tambah Media Baru
                    </div>
                    <div class="actions">
                       <a href="#" class="btn reload" data-dismiss="modal"><i class="fa fa-times"></i></a>
                   </div>
                   <div class="tools">
                   </div>
               </div>
			
               <div class="portlet-body form" style="padding:15px; ">  
                   <form action="/analis/ajax/postmedia" id="addconn"  enctype="multipart/form-data" method="post" class="form-horizontal">
                    <div class="form-body">
                        <div class="form-group">
                            <label class="col-md-3 control-label">Nama Media</label>
                            <div class="col-md-4">
                                <input type="text" name="medianame" class="form-control" placeholder="Media Name">
                                <span class="help-block">
                                  <span class="label label-danger"><i class="fa fa-warning"> </i>This is inline help</span>
                              </span> 
                          </div>
                      </div>
                      <div class="form-group">
                        <label class="col-md-3 control-label">Media Short Name</label>
                        <div class="col-md-4">
                        <input type="text" name="machinename" class="form-control" placeholder="Media Short Name">
                            <span class="help-block">
                              <span class="label label-danger"><i class="fa fa-warning"> </i>This is inline help</span>
                          </span> 
                      </div>
                  </div>

                   <div class="form-group">
                        <label class="col-md-3 control-label">Media url</label>
                        <div class="col-md-4">
                        <input type="text" name="url" class="form-control" placeholder="Url">
                            <span class="help-block">
                              <span class="label label-danger"><i class="fa fa-warning"> </i>This is inline help</span>
                          </span> 
                      </div>
                  </div>
                      <div class="form-group ">
                        <label class="col-md-3 control-label">Logo</label>
                        <div class="col-md-4">
                          <input type="file" name="logo" id="logo">
                            <span class="help-block">
                              <span class="label label-danger"><i class="fa fa-warning"> </i>This is inline help</span>
                          </span> 
                      </div>
                  </div>
				    <div class="form-group ">
                        <label class="col-md-3 control-label">Tipe Media :</label>
                        <div class="col-md-4">   
                        
						   <select name="media_type" class="form-control" >
                            <option value="1">1. National</option>
                            <option value="2">2. Local </option>
                            <option value="3">3. International</option>
                            <option value="4">4. Targeted Website</option>
                           </select> 
                            <span class="help-block">
                              <span class="label label-danger"><i class="fa fa-warning"> </i>This is inline help</span>
                          </span> 
                      </div>
                  </div>
				    <div class="form-group ">
                        <label class="col-md-3 control-label">Language :</label>
                        <div class="col-md-4">
                            <select name="language" class="form-control" >  
                                <option value="en">1. English </option>
                                <option value="id">2. Indonesia </option>
                                
                           </select> 
                            <span class="help-block">
                              <span class="label label-danger"><i class="fa fa-warning"> </i>This is inline help</span>
                          </span> 
                      </div>
                  </div>
				   <div class="form-group last">
                        <label class="col-md-3 control-label">Update Routine :</label>
                        <div class="col-md-4">
                            <select name="update_routine" class="form-control" >  
                                 <option value="1">10 Menit</option>  
                            <option value="2">1 Jam</option>
                            <option value="3">3 Jam</option>
                            <option value="4">6 Jam</option>
							<option value="5">12 Jam</option>
                            <option value="6">Daily</option>
                            <option value="7">Weekly</option>
                            <option value="8">Monthly</option>
                                
                           </select> 
                            <span class="help-block">
                              <span class="label label-danger"><i class="fa fa-warning"> </i>This is inline help</span>
                          </span> 
                      </div>
                  </div>
					<!--
                  <div class="form-group last">
                    <label class="col-md-3 control-label">Attributes</label>
                    <div class="col-md-4">
                      <textarea class="form-control" rows="3"></textarea>
                         <span class="help-block">
                              <span class="label label-danger"><i class="fa fa-warning"> </i>This is inline help</span>
                          </span> 
                    </div>
                </div>-->
            </div>
            <div class="form-actions" style="background-color:#0C1D2B;">
                <div class="row">
                    <div class="col-md-offset-3 col-md-9">
                        <button type="submit" class="btn btn-circle green">Submit</button>
                        <button type="button" class="btn btn-circle grey-salsa btn-outline" data-dismiss="modal"> Cancel</button>
                    </div>
                </div>
            </div>
        </form>
        <!-- END FORM-->
    </div>
</div>
</div>
                <!--div class="modal-footer">
                    <button type="button" data-dismiss="modal" class="btn btn-default">Cancel</button>
                    <button type="button" data-dismiss="modal" class="btn green">Submit</button>
                </div-->
            </div>

        </div>
    </div>
    <!-- END EXAMPLE TABLE PORTLET-->
</div>


</div>


<!--end static-->



</div>
</div>
<!-- END PAGE BASE CONTENT -->
</div>
<script>
function showMT(){
	location.href = "/analis/index/listmedia/type/"+$("#media_type").val();
}
    jQuery(document).ready(function() {
   

        $('span.help-block').hide();
       var table = $('#sample_1');
       var oTable = table.dataTable({
            // Internationalisation. For more info refer to http://datatables.net/manual/i18n
            "language": {
                "aria": {
                    "sortAscending": ": activate to sort column ascending",
                    "sortDescending": ": activate to sort column descending"
                },
                "emptyTable": "No data available in table",
                "info": "Showing _START_ to _END_ of _TOTAL_ entries",
                "infoEmpty": "No entries found",
                "infoFiltered": "(filtered1 from _MAX_ total entries)",
                "lengthMenu": "_MENU_ entries",
                "search": "Search:",
                "zeroRecords": "No matching records found"
            },

            // Or you can use remote translation file
            //"language": {
            //   url: '//cdn.datatables.net/plug-ins/3cfcc339e89/i18n/Portuguese.json'
            //},

            // setup buttons extentension: http://datatables.net/extensions/buttons/
            buttons: [
            { extend: 'print', className: 'btn dark btn-outline' },
            { extend: 'pdf', className: 'btn green btn-outline' },
            { extend: 'csv', className: 'btn purple btn-outline ' }
            ],

            // setup responsive extension: http://datatables.net/extensions/responsive/
            responsive: {
                details: {

                }
            },

            "order": [
            [0, 'asc']
            ],
            
            "lengthMenu": [
            [5, 10, 15, 20, -1],
                [5, 10, 15, 20, "All"] // change per page values here
                ],
            // set the initial value
            "pageLength": 5,  

            "dom": "<'row' <'col-md-12'B>><'row'<'col-md-6 col-sm-12'l><'col-md-6 col-sm-12'f>r><'table-scrollable't><'row'<'col-md-5 col-sm-12'i><'col-md-7 col-sm-12'p>>", // horizobtal scrollable datatable

            // Uncomment below line("dom" parameter) to fix the dropdown overflow issue in the datatable cells. The default datatable layout
            // setup uses scrollable div(table-scrollable) with overflow:auto to enable vertical scroll(see: assets/global/plugins/datatables/plugins/bootstrap/dataTables.bootstrap.js). 
            // So when dropdowns used the scrollable div should be removed. 
            //"dom": "<'row' <'col-md-12'T>><'row'<'col-md-6 col-sm-12'l><'col-md-6 col-sm-12'f>r>t<'row'<'col-md-5 col-sm-12'i><'col-md-7 col-sm-12'p>>",
        });





//	App.init(); // init metronic core componets

$.fn.modal.defaults.spinner = $.fn.modalmanager.defaults.spinner =
'<div class="loading-spinner" style="width: 200px; margin-left: -100px;">' +
'<div class="progress progress-striped active">' +
'<div class="progress-bar" style="width: 100%;"></div>' +
'</div>' +
'</div>';

$.fn.modalmanager.defaults.resize = true;

var $modal = $('#ajax-modal');

$('.modal-edit').on('click', function () {
            // create the backdrop and wait for next modal to be triggered
            $('body').modalmanager('loading');
            var edit = $(this).attr("data-id");
            setTimeout(function () {
                $modal.on('show', function () {
                    $('iframe').attr("src", edit+'');
                });
                $modal.modal()
                //$modal.load('Customer_User.aspx?edit=' + edit + '', '', function () {
                //    $modal.modal();
                //});
            }, 100);
        });




var UIExtendedModals3 = function () {
    return {
        //main function to initiate the module
        init: function () {
            // general settings
            $.fn.modal.defaults.spinner = $.fn.modalmanager.defaults.spinner = 
            '<div class="loading-spinner" style="width: 200px; margin-left: -100px;">' +
            '<div class="progress progress-striped active">' +
            '<div class="progress-bar" style="width: 100%;"></div>' +
            '</div>' +
            '</div>';

            $.fn.modalmanager.defaults.resize = true;
            
            //static demo:

            
            var $modal3 = $('#static2');

            // handle record edit/remove
            $('body').on('click', '#media_new', function() {
              $modal3.modal();   
          });
            
            $modal3.on('hide.bs.modal', function (e) {
                $('#processbar').addClass('hidden');   
                $('#alertinfo').addClass('hidden'); 
            });
            
            $modal3.on('hidden.bs.modal', function (e) {
                $('#processbar').addClass('hidden');   
                $('#alertinfo').addClass('hidden');
            });
        }

    };

}();


var AddConn = function () {

    var handleAdd = function() {
        var files = {};
        var file = jQuery("#logo"); 
        $('#logo').on('change', function prepareUpload(event){
            files['logo'] = event.target.files[0];
        });

        $('form#addconn').validate({
                //errorElement: 'span', //default input error message container
                //errorClass: 'help-block', // default input error message class
                focusInvalid: false, // do not focus the last invalid input
                rules: {
                    medianame: {
                        required: true
                    },
                    
                   // dbname: {
                    //    required: true
                   // },
                   // host: {
                     //   required: true
                    //},
                    // username: {
                    //  ''  required: true
                    //}
                },

                messages: {

                },

                invalidHandler: function (event, validator) { //display error alert on form submit   

                    $('span.help-block').hide();
                    var errorlist = validator.errorList;
                    if(errorlist.length>0){
                        for(var i = 0; i<errorlist.length; i++){
                            console.log(errorlist[i].element);
                            var el = errorlist[i].element; 
                            var next = $(el).next('span.help-block'); 
                            $(next).slideDown();
                        }
                        $('html,body').animate({
                            scrollTop: $(el).offset().top-100
                        }, 800);
                    }
                },

                highlight: function (element) { // hightlight error inputs
                    $(element)
                        .closest('.form-group').addClass('has-error'); // set error class to the control group
                    },

                    success: function (label) {
                        label.closest('.form-group').removeClass('has-error');
                    //label.remove();
                },

                errorPlacement: function (error, element) {
                    $('span.help-block').hide();
                    var next = element.next('span.help-block'); 
                    //console.log(error);
                    if(error[0].textContent!=""){
                        $(next).children('span.label').html("<i class='fa fa-warning'></i> "+ error[0].textContent);
                        $(element).next().slideDown();
                        $('html,body').animate({
                            scrollTop: $(element).offset().top-100
                        }, 800);
                    }
                },

                submitHandler: function (form) {
                    $('span.help-block').hide();
                    $('.form-group').removeClass('has-error');
                    //form.submit(); // form validation success, call ajax form submit
                    form.submit();
                    return false;
                }
            });

        $('form#addapi input').keypress(function (e) {
            if (e.which == 13) {
                $('span.help-block').hide();
                $('.form-group').removeClass('has-error');
                if ($('form#addconn').validate().form()) {
                       //$('form#addapi').submit(); //form validation success, call ajax form submit
                       submitForm();
                   }
                   return false;
               }
           });
    }
    
    var submitForm = function(form){
       // alert("ss");
        //console.log($('form#addapi').serialize());
        
       // event.stopPropagation(); // Stop stuff happening
       // event.preventDefault(); // Totally stop stuff happening
        //$( "#addconn" ).submit();   
        
    }
    
    

    var resetForm = function(){
        $('input','form#addconn')
        .not(':button, :submit, :reset, :hidden')
        .val('');

        $('select,option','form#addapi')
        .removeAttr('checked')
        .removeAttr('selected');
        
        $('.make-switch').bootstrapSwitch('setState',false);
        
        $('.ms-selectable').find('li').removeClass('ms-selected');
        $('.ms-selection').find('li').removeClass('ms-hover');
        $('.ms-selectable').find('li').removeAttr('style');
        
        $('.ms-selection').find('li').removeClass('ms-selected');
        $('.ms-selection').find('li').removeClass('ms-hover');
        $('.ms-selection').find('li').css({display:'none'});
    }
    
    return {
        //main function to initiate the module
        init: function () {
            handleAdd();
        }

    };

}();

UIExtendedModals3.init();

AddConn.init();


});
</script>
  
