<style>
.portlet.light {
    
    background-color: rgba(12, 29, 43, 0.84);
	 color: white; 
}
</style>
<?php

#Zend_Debug::dump($this->data);
if($this->data==null){
		$nama='Add';
	}else{
		$nama='Edit';
	}
?>


<div class="page-content">
	<!-- BEGIN BREADCRUMBS -->
    <div id="ajax-loader" style="z-index: 9999; position: absolute; left: 0px; width: 100%; opacity: 0.5; overflow: hidden; display: none;">
				<img style="margin: 15% auto; opacity: 1; display: block;" src="/assets/core/img/gears.gif">
		</div>
	<div class="breadcrumbs">
		<h1> <?php
		echo $this->data['figure_name'];
		?></h1>
		<ol class="breadcrumb">
		<li><a href="/">Home</a></li>
		<li><a href="#">/</a></li>
		<li><a href="/analis/index/listcrawl">Daftar Crawl</a></li>
		<li><a href="#">/</a></li>
		<li class="active">Daftar Crawl</li>
		</ol>
	</div>
	<!-- END BREADCRUMBS -->
 <!-- BEGIN PAGE BASE CONTENT -->
  <div class="row">
    <div class="col-md-12">
			<div class="portlet light ">
				<div class="portlet-title">
					<div class="caption">
							<i class="icon-equalizer font-red-sunglo"></i>
							<span class="caption-subject font-red-sunglo bold uppercase"><?php echo $nama. ' Crawl';?></span>
					</div>
					<div class="tools">
							<a href="" class="collapse"> </a>
							<a href="#portlet-config" data-toggle="modal" class="config"> </a>
							<a href="" class="reload"> </a>
							<a href="/analis/index/listcrawl" class="remove"> </a>  
					</div>
				</div>
				<div class="portlet-body form">
					<!-- BEGIN FORM-->
					<form  method=post class="form-horizontal" id="addapi">
						<input name="id" type="hidden" value="<?php

							echo $this->data['id'];

							?>" />
						<div class="form-body">
							<h3 class="form-section">Info Utama</h3>
							<div class="row">
								<div class="col-md-6">
									<div class="form-group">
										<label class="control-label col-md-3">Nama Crawler</label>
										<div class="col-md-9">
												<input type="text" name="c_name" class="form-control" value="<?php

												echo $this->data['subdomain'];

												?>" placeholder="default">
												<!--<span class="help-block"> This is inline help </span>-->
										</div>
									</div>
								</div>
								<!--/span-->
								<div class="col-md-6">
									<div class="form-group">
										<label class="control-label col-md-3">Nama Media</label>
										<div class="col-md-9">
												<select name="media_name" class="form-control">
												 <?php

												//$sel="";

												foreach($this->media as $v) {
												$sel = "";
												if($v['id'] == $this->data['media_id']) {
												$sel = "selected";
												}
												echo '<option ' . $sel . ' value="' . $v['id'] . '">' . $v['media_name'] . '</option>';
												}

												?>   

												</select>
												<!--<span class="help-block"> This field has error. </span>-->
										</div>
									</div>
								</div>
								<!--/span-->
							</div>
							
							<!--/row-->
							<div class="row">
								<div class="col-md-6">
									<div class="form-group">
										<label class="control-label col-md-3">Tipe Crawler</label>
										<div class="col-md-9">
											<select name="c_type" class="form-control">
												<option <?php

												if($this->data['type_crawl'] == 1) {
												echo "selected";
												}

												?> value="1">Html Index</option>
												<option <?php

												if($this->data['type_crawl'] == 2) {
												echo "selected";
												}

												?> value="2">RSS</option>
												<option <?php

												if($this->data['type_crawl'] == 3) {
												echo "selected";
												}

												?> value="3">RDF</option>
												<option <?php

												if($this->data['type_crawl'] == 4) {
												echo "selected";
												}

												?> value="4">Atom</option>
											</select>
											<span class="help-block"> Pilih Tipe Crawler. </span>
										</div>
									</div>
								</div>
								<!--/span-->
								<div class="col-md-6">
									<div class="form-group">
										<label class="control-label col-md-3">Status</label>
										<div class="col-md-9"> <input type="checkbox" name="c_status" <?php

											if($this->data['status'] == 1) {
											echo "checked";
											}

											?> class="make-switch" value=1 id="test" data-size="small">
										</div>
									</div>
									 
								</div>
									<!--/span-->
							</div>
							<!--/row-->
							<div class="row">
								<div class="col-md-6">
									<div class="form-group">
										<label class="control-label col-md-3">Url Index</label>
										<div class="col-md-9"><input type="text" class="form-control" name="index" value="<?php

											echo $this->data['url_crawl'];

											?>" placeholder="http://"> 
										</div>
									</div>
								</div>
								<!--/span-->
								<div class="col-md-6">
									<div class="form-group">
										<label class="control-label col-md-3">Batas Baris </label>
										<div class="col-md-9">
											<input name="r_limit" type="text" value="20" class="form-control" placeholder="20"> 
										</div>
									</div>
								</div>
								<!--/span-->
							</div>
							<div class="row">
								<div class="col-md-6">
									<div class="form-group">
										<label class="control-label col-md-3">Tag-Index</label>
										<div class="col-md-9">
											<input type="text" name="tag-index" value="<?php

											echo $this->data['params']['tag-index'];

											?>" class="form-control"> </div>
									</div>
								</div>
								<div class="col-md-6">
									<div class="form-group">
											<!--    
											<label class="control-label col-md-3">Content</label>
											<div class="col-md-9">
													<input type="text" class="form-control"> </div>
											 -->   
									</div>
								</div>
							</div>
							<h3 class="form-section">Tags</h3>    
							<!--<a class=" btn yellow btn-outline clicktag sbold" href="/pmas/madmin/getcrawler" data-target="#full" data-toggle="modal"> Checking Tags</a>-->
							<a class=" btn yellow btn-outline clicktag sbold"> Cek Tags</a>

							<!--/row-->
						 
							<div class="row">
								<div class="col-md-6">
									<div class="form-group">
										<label class="control-label col-md-3">Judul</label>
										<div class="col-md-9">
											<input type="text" name="tag-title" value="<?php

											echo $this->data['params']['tag-title'];

											?>" class="form-control"> </div>
									</div>
								</div>
								<div class="col-md-6">
									<div class="form-group">
										<label class="control-label col-md-3">Isi</label>
										<div class="col-md-9">
											<input type="text" value="<?php

											echo $this->data['params']['tag-content'];

											?>" name="tag-content" class="form-control"> </div>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-md-6">
									<div class="form-group">
										<label class="control-label col-md-3">Penulis</label>
										<div class="col-md-9">
											<input type="text" value="<?php

											echo $this->data['params']['tag-author'];

											?>" name="tag-author"  class="form-control"> </div>
									</div>
								</div>
								<!--/span-->
								<div class="col-md-6">
									<div class="form-group">
										<label class="control-label col-md-3">Tanggal</label>
										<div class="col-md-9">
											<input type="text" name="tag-date" value="<?php

											echo $this->data['params']['tag-date'];

											?>" class="form-control"> </div>
									</div>
								</div>
								<!--/span-->
							</div>
							<!--/row-->
							<div class="row">
								<div class="col-md-6">
										<div class="form-group">
											<label class="control-label col-md-3">Topik</label>
											<div class="col-md-9">
												<input type="text" name="tag-topic" value="<?php

												echo $this->data['params']['tag-topic'];

												?>"  class="form-control"> </div>
										</div>
								</div>
								<!--/span-->
								<div class="col-md-6">
									<div class="form-group">
										<label class="control-label col-md-3">Tanggal Pemrosesan</label>
										<div class="col-md-9">
											<select name="processing-date"  class="form-control">
															<?php


											foreach($this->date as $v) {
											$sel = "";
											if($v['value_param'] == $this->data['params']['processing-date']) {
											$sel = "selected";
											}
											echo "<option " . $sel . " value='" . $v['value_param'] . "'>" . $v['display_param'] . "</option>";
											}

											?>
											</select>
										</div>
									</div>
								</div>
								<!--/span-->
							</div>
							
							<div class="row">
								<div class="col-md-6">
									<div class="form-group">
										<label class="control-label col-md-3">Gambar/Icon</label>
											<div class="col-md-9">
											<input type="text" name="tag-icon" value="<?php

											echo $this->data['params']['tag-icon'];

											?>"  class="form-control"> </div>
									</div>
								</div>
								<!--/span-->
								<div class="col-md-6">
									<div class="form-group">
										<label class="control-label col-md-3">Tanggal (alt 2)</label>
										<div class="col-md-9">
											<input type="text" name="tag-date2" value="<?php

											echo $this->data['params']['tag-date2'];

											?>" class="form-control"> </div>
									</div>
								</div>
								<!--/span-->
							</div>
							<div class="row">
							
								<!--/span-->
								<div class="col-md-offset-6 col-md-6">
									<div class="form-group">
										<label class="control-label col-md-3">Tanggal Pemrosesan2</label>
										<div class="col-md-9">
											<select name="processing-date2"  class="form-control">
															<?php


											foreach($this->date as $v) {
											$sel = "";
											if($v['value_param'] == $this->data['params']['processing-date2']) {
											$sel = "selected";
											}
											echo "<option " . $sel . " value='" . $v['value_param'] . "'>" . $v['display_param'] . "</option>";
											}

											?>
											</select>
										</div>
									</div>
								</div>
								<!--/span-->
							</div>
							<div class="row">
								<div class="col-md-offset-6 col-md-6">
									<div class="form-group">
										<label class="control-label col-md-3">Tanggal (alt 3)</label>
										<div class="col-md-9">
											<input type="text" name="tag-date3" value="<?php

											echo $this->data['params']['tag-date3'];

											?>" class="form-control"> </div>
									</div>
								</div>	
							</div>			
							<div class="row">
								<div class="col-md-offset-6 col-md-6">
									<div class="form-group">
										<label class="control-label col-md-3">Tanggal Pemrosesan3</label>
										<div class="col-md-9">
											<select name="processing-date3"  class="form-control">
															<?php


											foreach($this->date as $v) {
											$sel = "";
											if($v['value_param'] == $this->data['params']['processing-date3']) {
											$sel = "selected";
											}
											echo "<option " . $sel . " value='" . $v['value_param'] . "'>" . $v['display_param'] . "</option>";
											}

											?>
											</select>
										</div>
									</div>
								</div>	
							</div>							
							<!--/row-->
						</div>
						<div class="form-actions">
								<div class="row">
										<div class="col-md-6">
												<div class="row">
														<div class="col-md-offset-3 col-md-9">
																<button type="submit" class="btn btn-circle green">Kirim</button>
																<button type="button" class="btn btn-circle default" >
																		<a href="/analis/index/listcrawl">  
																		Batal </a></button>
																 <button type="button" onclick="runn()" class="btn btn-circle test green">Tes</button>
														</div>
												</div>
										</div>
										<div class="col-md-6"> </div>
								</div>
						</div>
					</form>
					<!-- END FORM-->
				</div>
			</div>
                                            
			<div class="modal fade" id="full" tabindex="-1" role="dialog" aria-hidden="true">
					<div class="modal-dialog modal-full">
							<div class="modal-content">
									<div class="modal-header">
											<button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
											<h4 class="modal-title">Judul Modal</h4>
									</div>
									<div class="modal-body"> </div>
									<div class="modal-footer">
											<button type="button" class="btn dark btn-outline" data-dismiss="modal">Tutup</button>
											<button type="button" class="btn green">Simpan Perubahan</button>   
										 
									</div>
							</div>
							<!-- /.modal-content -->
					</div>
					<!-- /.modal-dialog -->
			</div>
			<div id="full-width" class="modal  fade" tabindex="-1"></div>
			
			<div id="ajax-modal" class="modal  fade" tabindex="-1"> </div>

			</div>
	</div>
</div>

 <script>          

function runn() {   
$("#ajax-loader").show();
		$.ajax({  
				url:"/pmas/ajax/test",
				type:'post',
				data:$('form#addapi').serialize(),
				dataType: 'json',
				success: function(r){
					$.modal(r.out.html, {modal: true, overlayClose: false, position: [120, 0], overlayCss: {backgroundColor: "#888"}, opacity: 80});
					$("#ajax-loader").hide();
					
				},
				error: function(r){
									
				toastr.error('Error Parsing');
					$("#ajax-loader").hide();
					
				}
	 
		});
};
 
jQuery(document).ready(function() {
  
    
$(".clicktag").click(function(){
            
    var result = prompt("Please enter url", "");

  
                    if (result === null) {
                     //   alert("Prompt dismissed");
                    } else {
                        //alert(result);
            $.ajax({
			url:"/pmas/ajax/setcrawlinit",
			content:'json',
			type:'post',
			data:{url:result},
			beforeSend:function(){
			
			},
			complete:function(result){
				
			},
			success: function(data){
                //console.log(data);
              //  window.location.replace(data.url);
                window.open(data.url, '', '')

            },
			error:function(){
				
			}
		});
                    }
               
                
                
   
    
});      
var EditApi = function () {
	var handleAdd = function() {
		$('form#addapi').validate({
	            //errorElement: 'span', //default input error message container
	            //errorClass: 'label-danger', // default input error message class
	            focusInvalid: false, // do not focus the last invalid input
	            rules: {
	                action_name: {
	                    required: true
	                }
	            },
	         

	            messages: {
					
	            },

	            invalidHandler: function (event, validator) { //display error alert on form submit   
	                //$('.alert-danger', $('.login-form')).show();
	                //console.log(event);
	                //console.log(validator);
	                
					//$('span.help-block').show();
					$('span.help-block').hide();
	                var errorlist = validator.errorList;
	                if(errorlist.length>0){
						for(var i = 0; i<errorlist.length; i++){
							//console.log(errorlist[i].element);
							var el = errorlist[i].element; 
							var next = $(el).next('span.help-block'); 
							$(next).slideDown();
						}
						$('html,body').animate({
							scrollTop: $(el).offset().top-100
						}, 800);
					}
	            },

	            highlight: function (element) { // hightlight error inputs
	                $(element)
	                    .closest('.form-group').addClass('has-error'); // set error class to the control group
	            },

	            success: function (label) {
	                label.closest('.form-group').removeClass('has-error');
	                //label.remove();
	            },

	            errorPlacement: function (error, element) {
					$('span.help-block').hide();
					var next = element.next('span.help-block'); 
					//console.log(error);
	                if(error[0].textContent!=""){
						$(next).html("<i class='fa fa-warning'></i> "+ error[0].textContent);
						$(element).next().slideDown();
						$('html,body').animate({
							scrollTop: $(element).offset().top-100
						}, 800);
					}
	            },

	            submitHandler: function (form) {
					$('span.help-block').hide();
					$('.form-group').removeClass('has-error');
	                //form.submit(); // form validation success, call ajax form submit
	                submitForm();
	                return false;
	            }
	        });

	        $('form#addapi input').keypress(function (e) {
	            if (e.which == 13) {
					$('span.help-block').hide();
					$('.form-group').removeClass('has-error');
	                if ($('form#addapi').validate().form()) {
	                   //$('form#addapi').submit(); //form validation success, call ajax form submit
	                   submitForm();
	                }
	                return false;
	            }
	        });
	}
	
	var submitForm = function(){
		//console.log($('form#addapi').serialize());
        //alert("xx");
		$.ajax({
			url:"/pmas/ajax/updatecrawl",
			content:'json',
			type:'post',
			data:$('form#addapi').serialize(),
			beforeSend:function(){
				$('#alertinfo').addClass('hidden');
				$('#processbar').removeClass('hidden');
				$('#alertinfo').removeClass('alert-success');
				$('#alertinfo').removeClass('alert-warning');
				$('#alertinfo').removeClass('alert-danger');
				$('#alertinfo').removeClass('alert-info');
			},
			complete:function(result){
				$('#processbar').addClass('hidden');
			},
			success: function(data){
				//console.log(data);
				if(data.result!=undefined){
					if(data.result==true){
						toastr.info(data.retMsg);
						
					}else{
						           
                        toastr.error(data.retMsg);
					}
				}else{
					           
                        toastr.error('Error');
				}
				$('#alertinfo').removeClass('hidden');
			},
			error:function(){
				$('#alertinfo').addClass('alert-info');
				$('#alertmsg').html("<strong>Error!</strong> System is busy, please try again.");
				$('#alertinfo').removeClass('hidden');
			}
		});
	}
	
	

	var resetForm = function(){
		$('input','form#addapi')
			.not(':button, :submit, :reset, :hidden')
			.val('');
			
		$('select,option','form#addapi')
			.removeAttr('checked')
			.removeAttr('selected');
		
		$('.make-switch').bootstrapSwitch('setState',false);
		
		$('.ms-selectable').find('li').removeClass('ms-selected');
		$('.ms-selection').find('li').removeClass('ms-hover');
		$('.ms-selectable').find('li').removeAttr('style');
		
		$('.ms-selection').find('li').removeClass('ms-selected');
		$('.ms-selection').find('li').removeClass('ms-hover');
		$('.ms-selection').find('li').css({display:'none'});
	}
    
    return {
        //main function to initiate the module
        init: function () {
            handleAdd();
        }

    };

}();


//FormComponents3.init();

$('span.help-block').hide();
EditApi.init();




  
  });   


</script> 