/**/
.theme-panel {
	display: none;
}
.label {
	font-size: 12px;
}
.col-left, .col-right {
	padding-left: 0px;
	padding-right: 0px;
}

.portlet.box {
	margin-bottom: 0px;
}

.portlet.box.default > .portlet-title {
	background-color: #f7f7f7 !important;
}

.portlet .portlet-title {
	min-height: auto;
}
.portlet .portlet-title.tabbale-line {
	padding: 0px !important;
}

.portlet-title .caption, .portlet-title .tools {
	font-size: 14px !important;
	padding: 5px !important;
}

.portlet.box.default > .portlet-title > .tools > a.collapse {
	background-image: url(/assets/core/img/portlet-collapse-icon.png);
}

.portlet.box.default > .portlet-title>.tools>a.expand {
	background-image: url(/assets/core/img/portlet-expand-icon.png);
}

.portlet.box.default > .portlet-body {
	padding: 0px !important;
}

.form-group {
	margin-bottom: 0px;
}

.tabbable-custom {
	margin-bottom: 0px;
}

.results .tab-content .portlet > .portlet-title > .caption {
	padding: 13px 5px !important;
	font-size: 16px !important;
}

.tabbable-custom .nav.nav-pills {
	margin-bottom: 0px;
}
.tabbale-line .nav.nav-pills {
	margin-bottom: 0px !important;
}
.nav>li>a {
	padding: 10px;
}
.nav-pills>li>a {
	font-size: 12px;
}

.CodeMirror {
	font-size: 12px !important;
	height: 200px;
}

.CodeMirror-placeholder {
	color: #b3b3b3;
}

.table td{
	font-size: 12px;
	padding: 5px;
}

.col-left .table>tbody>tr>td {
	padding: 2px;
}

.col-left .table>tbody>tr.tr-tables>td:first-child {
	padding-left: 20px;
}

.col-left .table>tbody>tr.tr-columns>td {
	padding-left: 35px;
}

.col-left .table>tbody>tr>td> span.ctchild {
	font-size: 10px;
	color: #b3b3b3;
}

.col-left .table a.btn {
	padding: 0px;
	margin-right: 0px;
	font-size: 12px;
}

.alert {
	padding: 5px;
	font-size: 12px;
	margin-bottom: 10px;
}

.modal .modal-header {
	padding: 5px 10px;
}

.dataTables_wrapper .table-scrollable {
	margin-top: 0px !important;
	margin-bottom: 5px !important;
}

.dataTables_scroll .table {
	width: 100% !important;
}

.table-scrollable .alert {
	margin-bottom: 0px;
}

table.dataTable thead th, table.dataTable tbody td {
	padding: 5px;
}

table.dataTable th.dt-center, table.dataTable td.dt-center, table.dataTable td.dataTables_empty {
	text-align: left;
}

.dataTables_filter {
	display: none;
}

.dataTables_scroll {
	margin-bottom: 0px;
}