<style>
#fm-branding-bar{
	display:none;
}
</style>
<div class="page-content">
<div class="row">
	<div class="col-md-12">
		<div id="pivotcontent" style="overflow:auto;"></div>
	</div>
</div>

</div>

<script>
var pivot,sql,pivotreport,apiid,apiparam,dbfile;
function isInt(n){
	try{
		parseInt( n );
		// return true;
		if(parseInt( n )==NaN){
			return false;
		}
		return true;
	}catch( Exception ){
		return false;
	}
}

function isFloat(n){
	try{
		if(parseFloat( n )==NaN){
			return false;
		}
		return true;
	}catch( Exception ){
		return false;
	}
}

function CheckDecimal(n) {
	var decimal1=  /^[-+]?[0-9]+\.[0-9]+$/; 
	var decimal2=  /[-+][0-9]+\.[0-9]+$/; 
	var decimal3= /^[-+][0-9]+\.[0-9]+[eE][-+]?[0-9]+$/;  
	if(n.match(decimal1) || n.match(decimal2) || n.match(decimal3)) { 
		return true;
	}else{ 
		return false;
	}
}

function generateSQL(slice){
	// console.log(slice);
	var ret = "";
	if(slice!=undefined && slice.rows!=undefined && slice.columns!=undefined && slice.measures!=undefined){
		var col = "";
		var row = "";
		var mea = "";
		var mea2 = "";
		var grp = "";
		var sel = "";
		var ord = "";
		var whr = "";
		var incond;
		for(i = 0;i<slice.rows.length;i++){
			// console.log(slice.rows[i]);
			if(slice.rows[i].uniqueName!=undefined){
				if(i==(slice.rows.length-1)){
					row += slice.rows[i].uniqueName;
				}else{
					row += slice.rows[i].uniqueName+",";
				}
			}
			
			if(slice.rows[i].filter!=undefined && slice.rows[i].filter.members!=undefined){
				if(incond==undefined){
					incond = {};
				}
				incond[slice.rows[i].uniqueName] = "";
				for(j = 0;j<slice.rows[i].filter.members.length;j++){
					// console.log(slice.rows[i].filter.members[j]);
					var tmp = slice.rows[i].filter.members[j].match(/\[(.*)\]/);
					// console.log(tmp);
					if(tmp.length==2){
						if(j==(slice.rows[i].filter.members.length-1)){
							incond[slice.rows[i].uniqueName] += "'"+tmp[1]+"'";
						}else{
							incond[slice.rows[i].uniqueName] += "'"+tmp[1]+"',";
						}
					}
				}
				// console.log(incond);
			}
		}
		var _col = [];
		for(i = 0;i<slice.columns.length;i++){
			if(slice.columns[i].uniqueName!=undefined && slice.columns[i].uniqueName!="[Measures]"){
				_col.push(slice.columns[i]);
			}
		}
		// console.log(_col);
		for(i = 0;i<_col.length;i++){
			// console.log(_col[i]);
			if(_col[i].uniqueName!=undefined){	
				if(i==(_col.length-1)){
					col += _col[i].uniqueName;
				}else{
					col += _col[i].uniqueName+",";
				}
			}
		
			if(_col[i].filter!=undefined && _col[i].filter.members!=undefined){
				if(incond==undefined){
					incond = {};
				}
				incond[_col[i].uniqueName] = "";
				for(j = 0;j<_col[i].filter.members.length;j++){
					// console.log(slice.columns[i].filter.members[j]);
					var tmp = _col[i].filter.members[j].match(/\[(.*)\]/);
					// console.log(tmp);
					if(tmp.length==2){
						if(j==(_col[i].filter.members.length-1)){
							incond[_col[i].uniqueName] += "'"+tmp[1]+"'";
						}else{
							incond[_col[i].uniqueName] += "'"+tmp[1]+"',";
						}
					}
				}
				// console.log(incond);
			}
		}
		// console.log(col);
		// return false;
		if(row!="" && col!=""){
			grp = row+((row=="")?col:(","+col));
		}else if(row!=""){
			grp = row;
		}else if(col!=""){
			grp = col;
		}
		for(i = 0;i<slice.measures.length;i++){
			// console.log(slice.rows[i]);
			if(slice.measures[i].uniqueName!=undefined){	
				var tmp = slice.measures[i].uniqueName;
				var tmp2 = slice.measures[i].uniqueName;
				if(slice.measures[i].aggregation!=undefined){
					tmp = slice.measures[i].aggregation+"("+tmp+") as "+slice.measures[i].aggregation+"_of_"+tmp;
					tmp2 = slice.measures[i].aggregation+"_of_"+tmp2;
				}
				
				if(i==(slice.measures.length-1)){
					mea += tmp;
					mea2 += tmp2;
				}else{
					mea += tmp+",";
					mea2 += tmp2+",";
				}
			}
		}
		if(grp!="" && mea!=""){
			sel = grp+((grp=="")?mea:(","+mea));
			ord = grp+((grp=="")?mea2:(","+mea2));
		}else if(grp!=""){
			sel = grp;
			ord = grp;
		}else if(mea!=""){
			sel = mea;
			ord = mea2;
		}
		
		if(incond != undefined){
			whr = "where 1=1 ";
			$.each(incond,function(k,v){
				whr += "and lower("+k+") in ("+v+") ";
			});
		}
		// console.log(sel);
		// console.log(grp);
		sel = sel.replace(/\./g, "_");
		whr = whr.replace(/\./g, "_");
		grp = grp.replace(/\./g, "_");
		ord = ord.replace(/\./g, "_");
		ret = "SELECT "+sel+" FROM {api} "+whr+"GROUP BY "+grp+" ORDER BY "+ord;
	}
	return ret;
}

jQuery(document).ready(function() {
$('body').addClass('page-header-fixed page-sidebar-fixed page-footer-fixed');
App.init();
// $('.page-header').hide();	
// $('.page-sidebar-wrapper').hide();
$('link[href="/assets/white/skins/default/css/themes/grey.css"]').prop("disabled", true);  
$('span.help-block,.toggler').hide();

$("#pivotcontent").show();
// pivot.render(elem);
$("#btn-div").show();

App.blockUI($("body"));
pivot = new Flexmonster({
	container: "pivotcontent",
	toolbar: true,
	height : window.innerHeight-150,
	beforetoolbarcreated: customizeToolbar,
	licenseKey: "Z7SU-XI6B1W-4Q7062-13082Z-420X27-444Y4U-4V6M3B-46052R-3C3L0Y-1C2O6H"
});
App.unblockUI($("body"));

function customizeToolbar(toolbar) {
    // get all tabs
    var tabs = toolbar.getTabs(); 
	// console.log(tabs);
	// console.log(tabs[0]);
	
    toolbar.getTabs = function () {
		
		// console.log(this.icons);
        // add new tab
        tabs.push({
            id: "fm-tab-bigbox",
            title: "Export To",
            menu: [{
				id: "fm-tab-amchart",
				title: "Chart Builder",
				handler: amchartHandler,
				icon: this.icons.charts
			}
			,{
				id: "fm-tab-pivotdata",
				title: "PivotData",
				handler: jsondataHandler,
				icon: this.icons.connect_json
			},{
				id: "fm-tab-pivotdata",
				title: "PivotQuery",
				handler: sqldataHandler,
				icon: this.icons.connect_json
			}
			],
            icon: this.icons.bigbox
        });
		// console.log(tabs[0].menu);
        return tabs;
    }

    var sqldataHandler = function() {
		var self = this;
		var Labels = this.Labels;
		var dialog = this.popupManager.createPopup();
		dialog.content.classList.add("fm-popup-w500");
		dialog.setTitle("Pivot Data Configuration");
		dialog.setToolbar([
			// { id: "fm-btn-open", label: Labels.open, handler: applyHandler, isPositive: true },
			{ id: "fm-btn-cancel", label: "CLOSE" }
		]);

		var content = document.createElement("div");
		var report = flexmonster.getReport();
		report = report.slice;
		report = generateSQL(report);
		// console.log(report);
		// console.log(JSON.stringify(report));
		var apiparamInput = document.createElement("textarea");
		apiparamInput.id = "fm-inp-api-param";
		apiparamInput.name = "api_param";
		apiparamInput.placeholder = "Prabac API Parameter (example): offset:5~limit:100";
		apiparamInput.class = "form-control";
		apiparamInput.innerHTML = report;
		apiparamInput.value = report;
		apiparamInput.disabled = "disabled";
		apiparamInput.style = "padding:5px;font-size:12px;width:100%;height:200px;max-height:200px;overflow-y:auto";
		content.appendChild(apiparamInput);

		dialog.setContent(content);
		this.popupManager.addPopup(dialog.content);
    }

    var jsondataHandler = function() {
		var self = this;
		var Labels = this.Labels;
		var dialog = this.popupManager.createPopup();
		dialog.content.classList.add("fm-popup-w500");
		dialog.setTitle("Pivot Data Configuration");
		dialog.setToolbar([
			// { id: "fm-btn-open", label: Labels.open, handler: applyHandler, isPositive: true },
			{ id: "fm-btn-cancel", label: "CLOSE" }
		]);

		var content = document.createElement("div");
		var report = flexmonster.getReport();
		// console.log(report);
		// console.log(JSON.stringify(report));
		var apiparamInput = document.createElement("textarea");
		apiparamInput.id = "fm-inp-api-param";
		apiparamInput.name = "api_param";
		apiparamInput.placeholder = "Prabac API Parameter (example): offset:5~limit:100";
		apiparamInput.class = "form-control";
		apiparamInput.innerHTML = JSON.stringify(report);
		apiparamInput.value = JSON.stringify(report);
		apiparamInput.disabled = "disabled";
		apiparamInput.style = "padding:5px;font-size:12px;width:100%;height:200px;max-height:200px;overflow-y:auto";
		content.appendChild(apiparamInput);

		dialog.setContent(content);
		this.popupManager.addPopup(dialog.content);
    }  

    var amchartHandler = function() {
		var self = this;
		
		var report = flexmonster.getReport();
		pivotreport = report.slice;
		sql = generateSQL(pivotreport);
		// console.log(pivotreport);
		// console.log(sql);
		// console.log(apiid);
		// console.log(apiparam);
		// return false;
		if(sql!="" && pivotreport!="" && apiid!="" && dbfile!=""){
			var mapForm = document.createElement("form");
			mapForm.target = "_blank";
			mapForm.method = "POST"; // or "post" if appropriate
			mapForm.action = "/pivottable/amchart";

			var mapInput = document.createElement("input");
			mapInput.type = "hidden";
			mapInput.name = "report";
			mapInput.value = JSON.stringify(pivotreport);
			mapForm.appendChild(mapInput);
			
			var mapInput2 = document.createElement("input");
			mapInput2.type = "hidden";
			mapInput2.name = "sql";
			mapInput2.value = sql.replace("{api}",dbfile);
			mapForm.appendChild(mapInput2);
			
			var mapInput3 = document.createElement("input");
			mapInput3.type = "hidden";
			mapInput3.name = "apiid";
			mapInput3.value = apiid;
			mapForm.appendChild(mapInput3);
			
			var mapInput4 = document.createElement("input");
			mapInput4.type = "hidden";
			mapInput4.name = "apiparam";
			mapInput4.value = apiparam;
			mapForm.appendChild(mapInput4);
			
			var mapInput5 = document.createElement("input");
			mapInput5.type = "hidden";
			mapInput5.name = "dbfile";
			mapInput5.value = dbfile;
			mapForm.appendChild(mapInput5);

			document.body.appendChild(mapForm);
			mapForm.submit();
		}
    }  
}

});
</script>