<?php
foreach($this->tmp2 as $k=>$v){
	// Zend_Debug::dump($v);die();
	if($k<10){
	echo '
			<div class="mt-comment" style="padding:0px;">
				<div class="mt-comment-body" style="padding-left:0px;">
					<div class="mt-comment-info">
						<span class="mt-comment-author">'.($k+1).'. <a href="https://twitter.com/'.$v["ss_retweeted_user_screenname"].'/status/'.$v["ss_retweeted_id"].'" target="_blank" style="color:#d5ff5b;">@'.$v["ss_retweeted_user_screenname"].'</a></span>
					</div>
				</div>
			</div>
		';
	}
}
?>