<style>

#frontend svg g path.link {
  fill: none;
  stroke: #666;
  stroke-width: 1.5px;
}


marker#licensing {
  fill: green;
}

#frontend svg g .link.licensing {
  stroke: green;
}


svg .link.resolved {
  stroke-dasharray: 0,2 1;
}


#frontend svg g circle {
  fill: #ccc;
  stroke: #333;
 
}


#frontend svg g g text {
  font: 12px sans-serif;
  pointer-events: none;
  color:white;
 
 }
 div.tooltip {	
    position: absolute;			
    text-align: center;			
    width: 120px;					
    min-height: 48px;					
    padding: 4px;				
    font: 10px sans-serif;		
    background: lightsteelblue;	
    border: 0px;		
    border-radius: 8px;			
	color:#07541B;
    pointer-events: none;
	
}



</style>
<div id="frontend"></div>
<script>
var div = d3.select("body").append("div")	
    .attr("class", "tooltip")				
    .style("opacity", 0);

// http://blog.thomsonreuters.com/index.php/mobile-patent-suits-graphic-of-the-day/
var links = <?php echo $this->data; ?>;
// console.log(links);
var nodes = {};

// Compute the distinct nodes from the links.
links.forEach(function(link) {
  link.source = nodes[link.source] || (nodes[link.source] = {name: link.source, xid:link.xid, sent:link.sent,content:link.content});
  link.target = nodes[link.target] || (nodes[link.target] = {name: link.target, xid:link.xid, sent:link.sent,content:link.content});
});

// var width = 960,
    // height = 500;
var width =$("#asd").width(),
	height = 500;

var force = d3.layout.force()
    .nodes(d3.values(nodes))
    .links(links)
    .size([width, height])
    .linkDistance(60)
    .charge(-300)
    .on("tick", tick)
    .start();

var svg = d3.select("#frontend").append("svg")
    .attr("width", width)
    .attr("height", height)
    .call(d3.behavior.zoom().on("zoom", redraw))
	.append('svg:g').style('fill', 'white');

// Per-type markers, as they don't inherit styles.
svg.append("defs").selectAll("marker")
    .data(["suit", "licensing", "resolved"])
  .enter().append("marker")
    .attr("id", function(d) { return d; })
    .attr("viewBox", "0 -5 10 10")
    .attr("refX", 15)
    .attr("refY", -1.5)
    .attr("markerWidth", 6)
    .attr("markerHeight", 6)
    .attr("orient", "auto")
  .append("path")
    .attr("d", "M0,-5L10,0L0,5");
	


var path = svg.append("g").selectAll("path")
    .data(force.links())
  .enter().append("path")
    .attr("class", function(d) { return "link " + d.type; })
    .attr("marker-end", function(d) { return "url(#" + d.type + ")"; });

var circle = svg.append("g").selectAll("circle")
    .data(force.nodes())
  .enter().append("circle")
    .attr("r", 6)
    .call(force.drag);

var text = svg.append("g").selectAll("text")
    .data(force.nodes())
  .enter().append("text")
    .attr("x", 8)
    .attr("y", ".31em")
    .text(function(d) { return d.name; });

// Use elliptical arc path segments to doubly-encode directionality.
function tick() {
  path.attr("d", linkArc);
  circle.attr("transform", transform);
  text.attr("transform", transform);
}

function linkArc(d) {
  var dx = d.target.x - d.source.x,
      dy = d.target.y - d.source.y,
      dr = Math.sqrt(dx * dx + dy * dy);
  return "M" + d.source.x + "," + d.source.y + "A" + dr + "," + dr + " 0 0,1 " + d.target.x + "," + d.target.y;
}

function transform(d) {
  return "translate(" + d.x + "," + d.y + ")";
}

function redraw() {
  trans=d3.event.translate;
  scale=d3.event.scale;

  svg.attr("transform",
      "translate(" + trans + ")"
      + " scale(" + scale + ")");
}



circle.on("click", function(d, field) {

window.open("https://twitter.com/"+d.name+'/status/'+d.xid, '_blank', '');


});

circle.on("mouseover", function(d, field) {
	div.transition()		
	.duration(200)		
	.style("opacity", .9).style('fill', 'white');		
	div	.html(d.content+"<br> sentiment : <b>"+d.sent+'</b>')	
	.style("left", (d3.event.pageX) + "px")		
	.style("top", (d3.event.pageY - 28) + "px");
});

</script>

