<?php
// Zend_Debug::dump($this->data);die();
if($this->varams["l"]=="socmed"){
?>

<div class="row">
<div class="col-md-11">
<?php echo '<h3 style="color:#d5ff5b;margin-top:0px;">TOP TWITTER</h3>'; ?>
</div>
<div class="col-md-1">
	<a href="javascript:;" class="btn btn-primary btn-sm" data-l="socmed" onclick="gettoptwitter(this);"><i class="fa fa-file-word-o"> Word</i></a>
</div>
</div>

<div class="row">
<div class="col-md-2 font-white">
	<?php 
	// Zend_Debug::dump($this->varams["sentiment"]);
	echo $this->varams["sentiment"]; ?>
</div>
</div>

<div class="row">
<div class="col-md-4">
	<div class="portlet light bordered">
	<div class="portlet-body">
	
<?php

// $label = ($this->xx["paramsx"][0]!=""?$this->xx["paramsx"][0]:$this->xx["id"]);

echo '	<ul class="feeds">';
foreach($this->data as $k=>$v){
if($k<10){
echo '<div style="margin-bottom:20px;">
		<div class="mt-comment" style="padding:0px;">
			<div class="mt-comment-body" style="padding-left:0px;">
				<div class="mt-comment-info">
					<span class="mt-comment-author">'.($k+1).'. <a href="https://twitter.com/'.$v["ss_retweeted_user_screenname"].'/status/'.$v["ss_retweeted_id"].'" target="_blank" style="color:#d5ff5b;">@'.$v["ss_retweeted_user_screenname"].'</a></span>
					<span class="mt-comment-date pull-right">'.$v["count"].'</span>
				</div>
				<div class="mt-comment-text">'.$v["ss_retweeted_text"].'</div>
			</div>
		</div>
	</div>';
}
}
echo '	</ul>';
// echo '<h3 style="margin-top:0px;"><a style="color:#d5ff5b;" href="'.$this->xx["id"].'" target="_blank">'.$label.'</a><br><small style="color:white;">'.$content_date.'</small></h3><hr>';
// echo $this->data;
?>
	</div>
	</div>
</div>
<div class="col-md-4">
	<div class="portlet light bordered">
	<div class="portlet-body">
	

<?php

echo '	<ul class="feeds">';
foreach($this->data as $k=>$v){
if($k>=10 && $k<20){	
echo '<div style="margin-bottom:20px;">
		<div class="mt-comment" style="padding:0px;">
			<div class="mt-comment-body" style="padding-left:0px;">
				<div class="mt-comment-info">
					<span class="mt-comment-author">'.($k+1).'. <a href="https://twitter.com/'.$v["ss_retweeted_user_screenname"].'/status/'.$v["ss_retweeted_id"].'" target="_blank" style="color:#d5ff5b;">@'.$v["ss_retweeted_user_screenname"].'</a></span>
					<span class="mt-comment-date pull-right">'.$v["count"].'</span>
				</div>
				<div class="mt-comment-text">'.$v["ss_retweeted_text"].'</div>
			</div>
		</div>
	</div>';
}
}
echo '	</ul>';
?>
	</div>
	</div>
</div>
<div class="col-md-4">
	<div class="portlet light bordered">
	<div class="portlet-body">
<?php

echo '	<ul class="feeds">';
foreach($this->data as $k=>$v){
if($k>=20 && $k<30){
echo '<div style="margin-bottom:20px;">
		<div class="mt-comment" style="padding:0px;">
			<div class="mt-comment-body" style="padding-left:0px;">
				<div class="mt-comment-info">
					<span class="mt-comment-author">'.($k+1).'. <a href="https://twitter.com/'.$v["ss_retweeted_user_screenname"].'/status/'.$v["ss_retweeted_id"].'" target="_blank" style="color:#d5ff5b;">@'.$v["ss_retweeted_user_screenname"].'</a></span>
					<span class="mt-comment-date pull-right">'.$v["count"].'</span>
				</div>
				<div class="mt-comment-text">'.$v["ss_retweeted_text"].'</div>
			</div>
		</div>
	</div>';
}
}
echo '	</ul>';
echo $text;

?>
	</div>
	</div>
</div>
</div>

<?php
} else {
?>

<div class="row">
<div class="col-md-11">
<?php echo '<h3 style="color:#d5ff5b;margin-top:0px;">TRENDING BERITA</h3>'; ?>
</div>
<div class="col-md-1">
	<a href="javascript:;" class="btn btn-primary btn-sm" data-l="news" onclick="gettopSummary(this);"><i class="fa fa-file-word-o"> Word</i></a>
</div>
</div>

<div class="row">
<?php
$x=1;
foreach($this->data as $k=>$v){
	// if($k!="x"){
?>
<div class="col-md-4">
	<div class="portlet solid blue-ebonyclay">
	<div class="portlet-title">
		<div class="caption">
			<?php echo $k; ?></div>
		<div class="tools">
			<a href="javascript:;" class="collapse" data-original-title="" title=""> </a>
		</div>
	</div>
	<div class="portlet-body">
<?php

echo '	<ul class="feeds">';
foreach($v as $k1=>$v1){
// if($k<10){
echo '<li style="background-color:transparent;border:1px solid;">';
echo '	<div class="col1">';
echo '		<div class="cont">';
echo '			<div class="cont-col2">';
echo '				<div class="desc" style="margin-left:5px;"><a href="'.$v1["url"].'" target="_blank" style="color:#d5ff5b;">'.$v1["content"].'</a>';
echo '				</div>';
echo '			</div>';
echo '		</div>';
echo '	</div>';
if($v1["count"]>0){
echo '	<div class="col2">';
echo '		<div class="date">'.$v1["count"].'</div>';
echo '	</div>';	
}
echo '</li>';
// }
// }
}
echo '	</ul>';
?>
	</div>
	</div>
</div>
<?php
if($x%3==0){
	$x = 0;
	echo '</div>';
	echo '<div class="row">';
}
$x++;
}
?>
</div>
<?php	
}
?>



<script>

var xhr_tren = null;
function getSummary(me,sdate="",edate=""){

if(xhr_tren!=null && xhr_tren!=undefined){
	xhr_tren.abort();
}

$(".modal-dialog").removeClass("modal-lg");
$(".modal-dialog").addClass("modal-full");

$("#div-extract").html("");
App.blockUI({target:"#div-extract",boxed:!0});
var l = $(me).data("l");

var formData = {};
var param ="";
param +="l="+l;
param +="&skey="+$("#skey").val();
param +="&skeyexception="+$("#skeyexception").val();
param += "&cat="+$("#cat").val();
param +="&searchkey="+$("#searchkey").val();
param += "&topik=<?php echo $this->varams["topik"]; ?>";
param += "&is_mediatype="+$("#media_type").val();
param += "&gap=%2B1DAY";

if(sdate!="" && edate!=""){
	// console.log("t");
	param += "&d1="+sdate+"&d2="+edate;	
	param +="&is_sentiment="+$("#is_sentiment").val();
} else {
	// console.log("f");
	$("#is_sentiment").val("");
	param +="&d1="+$("#from").val()+"&d2="+$("#to").val();
	param +="&is_sentiment="+$("#is_sentiment").val();
}	

// console.log(param);

xhr_tren = $.ajax({
	type: "GET",
	url: '/domas/ajax1/trentop11?'+param,
	data: formData, //last_id kita berarti 15
	dataType: "html",  //sesuai keinginan, di sini saya pengen ngambil langsung data dalam bentuk html langsung dari file data_per_load.php
	success: function(data){
		 // console.log(data);
		$("#div-extract").html(data);
		App.unblockUI("#div-extract");
	}
});

}

jQuery(document).ready(function(){
	
	$( ".date-picker" ).datepicker({ minDate: -20, maxDate: "+1M +10D" });
	
// $( "#src" ).remove();
	// getLapterkini();
	getSentiment("","","News");
	getTrendline();
	getLatest("lap","","");
	getLatest("news","","");
	getLatest("socmed","","");
	get5w1h("News");

});
</script>