<?php

// Zend_Debug::dump($this->varams["anomali"]);
 // Zend_Debug::dump($this->data);
if(isset($this->varams["anomali"]) && $this->varams["anomali"]!=""){ $anomali=$this->varams["anomali"];}
// Zend_Debug::dump($anomali);
if($this->varams["t"]!="Social Media" && $this->varams["t"]!="Media Sosial"){
?>
<div class="table-scrollable">
<table class="table table-striped table-bordered" id="table_tbl5w1h" data-toggle="table" data-height="299">
	<thead>
	<tr>
		<th style="width:20px !important;">NO</th>  
		<th>RINGKASAN</th>
		<!--th>SIAPA</th>
		<th>APA</th>
		<th>BILAMANA</th>
		<th>DIMANA</th>
		<th>BAGAIMANA</th>
		<th>MENGAPA</th>
		<th>TANGGAL</th-->
		<th>AKSI</th>
	</tr>
	</thead>
	<tbody id="tbd5w1h<?php echo $anomali;?>">
<?php
// Zend_Debug::dump($this->data);//die();

foreach($this->data as $k=>$v){
	// Zend_Debug::dump($v["sm_who"]);
	$whotext='';
	if(count($v["sm_where"])>0 AND $v["sm_where"][0]!="")
	{
		// echo$v["sm_where"];
		$textanalis.=implode(", ",$v["sm_where"]).', ';
	}
	$textanalis = date(" d F Y ", strtotime($v["content_date"]));
	if(count($v["sm_what"])>0 && $v["sm_what"][0]!="")
	{
		// $textanalis.='<br><span style="color:#d5ff5b;">'.implode(",",$v["sm_what"]).'</span>';
	}
	if(count($v["sm_who"])>0 && $v["sm_who"][0]!="")
	{
		foreach($v["sm_who"] as $k1=>$v1){
			$who = (substr($v1,0,1)=="n"?substr($v1,1):$v1);
			$whotext.='<a class="font-default" href="/profilingmodul?search='.urlencode(trim(str_replace("(ORG)","",str_replace("(PER)","",$who)))).'" target="_blank">'.$who.'</a>, ';
		}
		
		$textanalis.= "<br>WHO :".$whotext;
	}
	
	if(count($v["sm_how"])>0 && $v["sm_how"][0]!="")
	{
		$textanalis.='<br>HOW : '.implode(",",$v["sm_how"]);
	}
	if(count($v["sm_why"])>0 && $v["sm_why"][0]!="")
	{
		$textanalis.='<br>WHY : '.implode(",",$v["sm_why"]);
	}
	
	
	if($this->varams["t"]=="Laporan"){
		$textanalis = "";
		if(count($v["sm_what"])>0 && $v["sm_what"][0]!="")
		{
			$textanalis .='<span style="color:#d5ff5b;">'.implode(",",$v["sm_what"]).'</span><br>';
		}
		$c2 = new CMS_LIB_parse();
		$ss_summary = $c2->remove($v["ss_summary"], "<!--", "--/>");
		// $textanalis .= nl2br($ss_summary);
		$textanalis .= $ss_summary;
	}
	
echo '<tr>';
echo '	<td>'.($k+1).'</td>';
echo '	<td>'.$textanalis.'</td>';

$id5w=base64_encode($v["id"]);
echo '	<td>
			<button class="btn blue w5h1detail" data-id="'.$v["id"].'" data-dl="0" data-t="'.$this->varams["t"].'" onclick="getVS(this);">DETAIL</button>
			<a class="btn yellow" href="/trendingtopik/index/edit5w1h/id/'.$id5w.'" target="_blank">EDIT</a>
		</td>';
echo '</tr>';
}
if(count($this->data)==10){
	echo '<tr class="load">';
	echo '<td colspan="5">';
	echo '<span class="ajaxload" style="display:none">';
    echo '<img src="/assets/core/img/ajax-loading.gif"></span>';
	echo '<button class="btn btn-circle blue" ><span>Lebih Lanjut</span></button>';
	echo '</td>';
	echo '</tr>';
}
?>		
	</tbody>
</table>
</div>
<?php
} else {
?>

<div class="table-scrollable">
<table class="table table-striped table-bordered" id="table_tbl5w1h" data-toggle="table" data-height="299">
	<thead>
	<tr>
		<th style="width:20px !important;">NO</th>  
		<th>SUMBER</th>
		<th>AUTHOR</th>
		<th>TEKS</th>
		<th>TANGGAL</th>
	</tr>
	</thead>
	<tbody id="tbd5w1h">
<?php

foreach($this->data as $k=>$v){
echo '<tr class="w5h1detail-Z" data-id="'.$v["id"].'" data-dl="0" data-t="'.$this->varams["t"].'">';
echo '	<td>'.($k+1).'</td>';
echo '	<td>TWITTER</td>';
echo '	<td><a href="https://twitter.com/'.$v["ss_user_screenname"].'/status/'.$v["id"].'" target="_blank">'.$v["label"].' @'.$v["ss_user_screenname"].'</a></td>';
echo '	<td>'.$v["content"].'</td>';
echo '	<td>'.date("l, d F Y H:i T", strtotime($v["content_date"])).'</td>';
echo '</tr>';
}
if(count($this->data)==10){
	echo '<tr class="load">';
	echo '<td colspan="5">';
	echo '<span class="ajaxload" style="display:none">';
    echo '<img src="/assets/core/img/ajax-loading.gif"></span>';
	echo '<button class="btn btn-circle blue" ><span>Lebih Lanjut</span></button>';
	echo '</td>';
	echo '</tr>';
}
?>		
	</tbody>
</table>
</div>
<?php
}
?>

<?php
// if(count($this->data)==10){
	// echo '<span class="load">Lebih Lanjut</span>';
// }
?>
<script>
$("#5w1h<?php echo $this->varams["anomali"];?> .load").on("click", function(){
	$("#5w1h<?php echo $this->varams["anomali"];?> .ajaxload").show();
	
	var sdate = edate = "";
	var anomali = "<?php echo $this->varams["anomali"];?>";
	
	// console.log("ok");
	App.blockUI({target:"#5w1h"+anomali,boxed:!0});

	var s = "who";
	// if($(me).data("s")!=undefined){
		// s = $(me).data("s");
	// }

	// console.log(anomali);

	var formData = {}
	var param = "";
	param +="anomali=<?php echo $this->varams["anomali"];?>";
	param +="&t=<?php echo $this->varams["t"]; ?>";
	param +="&s="+s;
	param +="&skey=<?php echo $this->varams["skey"]; ?>";
	param +="&searchkey=<?php echo $this->varams["searchkey"]; ?>";
	param +="&skeyexception=<?php echo $this->varams["skeyexception"]; ?>";
	param += "&cat="+$("#cat").val();
	param += "&topik=<?php echo $this->varams["topik"]; ?>";
	param += "&is_mediatype="+$("#media_type").val();

	if(sdate!="" && edate!=""){
		param += "&d1="+sdate+"&d2="+edate;	
	param +="&is_sentiment=<?php echo $this->varams["is_sentiment"]; ?>";
	} else {	
		$("#is_sentiment").val("");
		param +="&d1=<?php echo $this->varams["d1"]; ?>&d2=<?php echo $this->varams["d2"]; ?>";
		param +="&is_sentiment=<?php echo $this->varams["is_sentiment"]; ?>";
	}
	
	 // console.log(param);

$.ajax({  
	type: "GET",
	url: '/analis/ajaxhome/morewwwwwh/page/1?'+param,
	data: formData, //last_id kita berarti 15
	dataType: "html",  //sesuai keinginan, di sini saya pengen ngambil langsung data dalam bentuk html langsung dari file data_per_load.php
	success: function(data){
		 // console.log(data);
		// $("#5w1h").html(data);
		$("#5w1h<?php echo $this->varams["anomali"];?> .load").hide();
		jQuery('#tbd5w1h'+anomali).append(data);
		App.unblockUI("#5w1h"+anomali);
		$("#5w1h<?php echo $this->varams["anomali"];?> .ajaxload").hide();
	}
});

});
</script>