<div class="modal-header">
	<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
	<h4 class="modal-title">Set Socket</h4>
</div>
<div class="modal-body">
	<div  style="padding-bottom: 10px;">
		
		<form id="post_api">
	  		<fieldset>
			<div id="getapi">
		
			</div>
		</fieldset>
		</form>
	</div>

</div>
<div class="modal-footer importer-upload">
	<button type="button" class="btn-import">Submit</button>
</div>
<script type="text/javascript">
	//$(".modal-header" ).load("/uxbuild/index/ajaxselect #getapi" );
	
$.get( "/uxbuild/index/ajaxselect2", function( data ) {
  $( "#getapi" ).html( data );
});
	
	
</script>
