<?php
	$params=array();
	foreach($this->params as $v) 
	{
	$params[$v['value_param']] = $v['display_param'];	

	}
	$conns=array();
	foreach($this->conns as $v) 
	{
	$conns[$v['conn_name']] = $v['conn_name'];	

	}
	
	
if(!isset($this->data['field'])) 
{
	$fald = 1;
} else {
	$fald = count($this->data['field']);
}	

?>
<div class="page-content">

<!-- BEGIN PAGE HEADER-->
<div class="row">
	<div class="col-md-12">
		<!-- BEGIN PAGE TITLE & BREADCRUMB-->
		<h3 class="page-title">
		Add ContentType <small>PrabaCore</small>
		</h3>
		<ul class="page-breadcrumb breadcrumb">
			<li>
				<i class="fa fa-rss"></i>
				<a href="/">PrabaCore</a>
				<i class="fa fa-angle-right"></i>
			</li>
			<li>
				<i class="fa fa-cogs"></i>
				<a href="/">Prabaeditor</a>
				<i class="fa fa-angle-right"></i>
			</li>
			
			<li>
				<i class="fa fa-user"></i>
				Add Content Type
			</li>
			<!--li class="btn-group pull-right">
				<button type="button" class="btn red">
					<span>
				<?php echo Zend_Auth::getInstance()->getIdentity()->fullname; ?>
					</span>
				</button>
			</li-->
		</ul>
		<!-- END PAGE TITLE & BREADCRUMB-->
	</div>
</div>
<!-- END PAGE HEADER-->

<div class="row">
	<div class="col-md-12">
	<!-- BEGIN EXAMPLE TABLE PORTLET-->
	<div class="portlet box grey" style="margin:0px">
		<div class="portlet-title">
			<div class="caption">
				Content Type Builder
			</div>
			 <div class="actions">
				 <!--a href="#" class="btn reload" data-dismiss="modal"><i class="fa fa-times"></i></a-->
			 </div>
			<div class="tools">
			</div>
		</div>
		<div class="portlet-body" style="padding:15px">
							<form action="" class="form-horizontal" id="addapi" method="post">
							<input type="hidden" name="pid" value="<?php echo $this->data['id'];?>" />
							<input type="hidden" name="ctype" value="<?php echo $this->data['type'];?>" />
							<!-- BEGIN FORM-->
							<div class="form-body">
								<div class="alert alert-success alert-dismissable hidden" id="alertinfo">
									<button type="button" class="close" data-dismiss="alert" aria-hidden="true"></button>
									<span id="alertmsg"><strong>Warning!</strong> Something went wrong. Please check.</span>
								</div>
								
								<div style="margin:0px auto;text-align:center" id="processbar" class="hidden">
									<div class="progress progress-striped active" style="margin:0px auto;text-align:center">
										<div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
											<span class="sr-only">
												On Process
											</span>
										</div>
									</div>
									<span style="margin:0px auto;">Please wait...processing request</span>
								</div>
								
							
								<div class="row" style="padding:0px 15px;">
									<div class="col-md-5">
										<div class="form-group">
											<label for="form_id">Content Type Name Machine</label>
											<input type="text" name="sname" id="sname" class="form-control" placeholder="Content Type Name Machine"  value="<?php echo $this->data['type'];?>">
											<span class="help-block">
												 <span> This is inline help</span>
											</span>
										</div>
									</div>
									<div class="col-md-offset-1 col-md-5">
										<div class="form-group">
											<label for="formclass">Content Type Name</label>
											<input type="text" name="fname" id="fname" class="form-control" placeholder="Content Type Name" value="<?php echo $this->data['c_name'];?>">
											
										</div>
									</div>
								</div>
										
							
										
								<div class="row" style="padding:0px 15px;">
									<div class="col-md-5">
										<div class="form-group">
											<label for="pagealias">Description</label>
											<input type="text" name="descr" id="descr" class="form-control" placeholder="Description"  value="<?php echo $this->data['description'];?>">
										
										</div>
									</div>
									<div class="col-md-offset-1 col-md-5">
										<div class="form-group">
											<label for="pagealias">Table Name</label>
											<input type="text" name="tname" id="tname" class="form-control" placeholder="Description"  value="<?php echo $this->data['table_name'];?>">
										</div>
									</div>
								</div>		
						
								
			<div class="row" style="padding:0px 15px;">
				<div class="col-md-12">
					<div class="form-group">
						<label >Fields</label>
					</div>
					<?php for($i=0;$i<($fald);$i++){?>
					<div class="form-group  breadcrump" id="breadcrump<?php echo $i+1;?>" data-id="1">
							<div class="col-md-10">
								<div class="col-md-2">
								<input class="form-control input-sm" name="id[<?php echo $i;?>]" value="<?php echo $this->data['field'][$i]['detail']['name'];?>" placeholder="Name/Id">
								<br>
								<select  name="area[<?php echo $i;?>]" id="type" class="form-control" placeholder="Area" >
								<option value="">--Choose Area--</option>
								<?php
								foreach($this->area as $v ) 
								{
									$sel="";
									if ($v['value_param']=="form-body"){$sel="selected";}
									elseif (isset($this->data['field'][$i]['detail']['area'])&&$this->data['field'][$i]['detail']['area']==$v['value_param']){$sel="selected";}
									echo "<option $sel  value='".$v['value_param']."'>".$v['display_param']."</option>";	
								}
								?>	
								</select>	
								</div>
								<div class="col-md-2">
									
									<select  name="type[<?php echo $i;?>]" id="type"  class="form-control" placeholder="Type" >
									<option value="">--Choose Type--</option>
									<option <?php if($this->data['field'][$i]['detail']['type']=='text'){echo "selected";};?> value='text'>text</option>
									<option <?php if($this->data['field'][$i]['detail']['type']=='select'){echo "selected";};?> value='select'>select</option>
									<option <?php if($this->data['field'][$i]['detail']['type']=='multipleselect'){echo "selected";};?> value='multipleselect'>multiple select</option>
									<option <?php if($this->data['field'][$i]['detail']['type']=='date'){echo "selected";};?> value='date'>datepicker</option>
									<option <?php if($this->data['field'][$i]['detail']['type']=='textarea'){echo "selected";};?> value='textarea'>textarea</option>
									<option <?php if($this->data['field'][$i]['detail']['type']=='radio'){echo "selected";};?> value='radio'>radio</option>
									<option <?php if($this->data['field'][$i]['detail']['type']=='checkbox'){echo "selected";};?> value='checkbox'>checkbox</option>
									<option <?php if($this->data['field'][$i]['detail']['type']=='file'){echo "selected";};?> value='file'>file</option>
									<option <?php if($this->data['field'][$i]['detail']['type']=='date'){echo "selected";};?> value='date'>submit</option>
									<option <?php if($this->data['field'][$i]['detail']['type']=='submit'){echo "selected";};?> value='submit'>submit</option>
									</select>	
									<br>
									<select  name="initapi[<?php echo $i;?>]" id="initapi" class="form-control" placeholder="Init Api" >
										<?php  foreach($this->apis as $k=>$v){
										echo "<option value=''>--Init Api--</option>"	;
										echo "<optgroup label='".$k."'>";	
										foreach($v as $v2) 
										{
											$sel="";
											if($this->data['field'][$i]['detail']['initApi']==$v2['id']){$sel="selected";}
											echo "<option $sel 	value='".$v2['id']."'>".$v2['id']."-".$v2['text']."</option>";	
										}
										
										echo "</optgroup>";
											
										} ?>
									</select>
								</div>
								<div class="col-md-2">
								<input class="form-control input-sm" value="<?php echo $this->data['field'][$i]['detail']['class'];?>" name="class[<?php echo $i;?>]" placeholder="Class">
								<br>
								<input class="form-control input-sm" value="<?php echo $this->data['field'][$i]['detail']['initvalue'];?>" name="initvalue[<?php echo $i;?>]" placeholder="Initvalue">
								</div>
							
								<div class="col-md-2">
								<input class="form-control input-sm" value="<?php echo $this->data['field'][$i]['detail']['label'];?>"  name="label[<?php echo $i;?>]" placeholder="Label">
								<br>
								<input type=checkbox class="form-control input-sm" <?php if($this->data['field'][$i]['detail']['required']==1){echo "checked";}?>  name="req[<?php echo $i;?>]" value=1 placeholder="Required">Required
								</div>
								<div class="col-md-2">
								<select  name="classicon[<?php echo $i;?>]" id="type" class="form-control" placeholder="Classicon" >
								<option value="">--Choose Classicon--</option>
								<?php
								foreach($this->classicon as $v ) 
								{
									$sel="";
									if($this->data['field'][$i]['detail']['classicon']==$v['value_param']){$sel= "selected";}
									echo "<option $sel value='".$v['value_param']."'>".$v['display_param']."</option>";	
								}
								?>	
								</select>
								<br>
									<input  value="<?php echo $this->data['field'][$i]['detail']['help'];?>"  class="form-control input-sm" name="help[<?php echo $i;?>]" placeholder="Inline Help">	
								</div>
							</div>
							<div class="col-md-2">
								<?php if($i==0){?>
								<button type="button" class="btn grey addGC" onclick="addGC(this); return false;" data-act="addGC" data-id="1" style="padding: 5px;">Add</button>
								
								<?php } else { ?>
								<button type="button" class="btn red removeGC" onclick="removeGC(this); return false;" data-act="removeEl" data-id="<?php echo $i+1;?>" style="padding: 5px;">Remove</button>
							
								<?php } ?>
							</div>
					</div>
					
					<?php } ?>
					
				</div>
			</div>	
			
			
								
								<!--/row-->
							</div>
							<div class="form-actions" style="margin:0px">
							   <div class="row">
								   <div class="col-md-6">
									   <div class="col-md-offset-3 col-md-9">
										   <button type="submit" class="btn green">Submit</button>
										   <button type="button" type="button" data-dismiss="modal" class="btn default">Cancel</button>
									   </div>
								   </div>
								   <div class="col-md-6">
								   </div>
							   </div>
							</div>
							</form>
							<!-- END FORM-->
						</div>
	</div>
				
	<!-- END EXAMPLE TABLE PORTLET-->
	</div>
</div>

</div>

<script>
var gamasidx2=<?php echo $fald;?>;
var elem=1;


function addEl(me){
	var id = $(me).data('id');
	var currow = $('body').find('.element:last');

<?php
echo 'var str = \'<div class="form-group row element" id="element\'+(parseInt(elem)+1)+\'" data-id="\'+(parseInt(gamasidx2)+1)+\'" >\'
							
						+\'<div class="col-md-10">\'
								+\'<div class="col-md-4">\'
									+\'<input type="hidden" class="select2_sample6 form-control select2" name="col1[]" placeholder="Col1">\'
									+\'<br>\'
									+\'<input class="form-control input-sm" name="col4[]" placeholder="Col4">\'
								+\'</div>\'
								+\'<div class="col-md-4">\'
									+\'<input class="form-control input-sm" name="col2[]" placeholder="Col2">\'
									+\'<br>\'
									+\'<input class="form-control input-sm" name="col5[]" placeholder="Col5">\'
								+\'</div>\'
								+\'<div class="col-md-4">\'
									+\'<input class="form-control input-sm" name="col3[]" placeholder="Col3">\'
									+\'<br>\'
									+\'<input class="form-control input-sm" name="col6[]" placeholder="Col6">\'
								+\'</div>\'
							+\'</div>\'
							
					+\'<div class="col-md-2">\'
						+\'<button type="button" class="btn red removeEl" onclick="removeEl(this); return false;" data-act="removeEl" data-id="\'+(parseInt(elem)+1)+\'" style="padding: 5px;">Remove</button>\'
					+\'</div>\'
				+\'</div>\';';
?>
	elem++;
	//console.log(str);
	currow.after(str);
}


function addGC(me){
	var id = $(me).data('id');
	var currow = $('body').find('.breadcrump:last');

<?php
echo 'var str = \'<div class="form-group row breadcrump" id="breadcrump\'+(parseInt(gamasidx2)+1)+\'" data-id="\'+(parseInt(gamasidx2)+1)+\'" >\'
					+\'<div class="col-md-10">\'
								+\'<div class="col-md-2">\'
								+\'<input class="form-control input-sm" name="id[\'+parseInt(gamasidx2)+\']" placeholder="Id">\'
								+\'<br>\'
								+\'<select  name="area[\'+parseInt(gamasidx2)+\']" id="type" class="form-control" placeholder="Area" >\'
								+\'<option value="">--Choose Area--</option>\'';
								
								foreach($this->area as $v ) 
								{
								$sel="";
								if($v['value_param']=="form-body"){$sel="selected";}	
								
									
								echo '+\'<option '.$sel.' value="'.$v['value_param'].'">'.$v['display_param'].'</option>\'';	
								}
									
						echo	'+\'</select>\'	
								+\'</div>\'
								+\'<div class="col-md-2">\'
									+\'<select  name="type[\'+parseInt(gamasidx2)+\']" id="type" class="form-control" placeholder="Type" >\'
									+\'<option value="">--Choose Type--</option>\'
									+\'<option value="text">text</option>\'
									+\'<option value="select">select</option>\'
									+\'<option value="multipleselect">multiple select</option>\'
									+\'<option value="date">datepicker</option>\'
									+\'<option value="textarea">textarea</option>\'
									+\'<option value="radio">radio</option>\'
									+\'<option value="checkbox">checkbox</option>\'
									+\'<option value="file">file</option>\'
									+\'<option value="submit">submit</option>\'
									+\'</select>\'
									+\'<br>\'
									+\'<select  name="initapi[\'+parseInt(gamasidx2)+\']" id="initapi" class="form-control" placeholder="Init Api">\'';
									
								foreach($this->apis as $k=>$v){
								echo '+\'<option value="">--Init Api--</option>\'
								+\'<optgroup label="'.$k.'">\'
								';	
								;
								foreach($v as $v2) 
								{
								echo '+\'<option value="'.$v2['id'].'">'.$v2['id'].'-'.trim(preg_replace('/\s\s+/', ' ', $v2['text'])).'</option>\'';	
								}
								echo '
								+\'</optgroup>\'';
										} 
								echo '+\'</select>\'
								+\'</div>\'
								+\'<div class="col-md-2">\'
								+\'<input class="form-control input-sm" name="class[\'+parseInt(gamasidx2)+\']" placeholder="Class">\'
								+\'<br>\'
								+\'<input class="form-control input-sm" name="initvalue[\'+parseInt(gamasidx2)+\']" placeholder="Initvalue">\'
								+\'</div>\'
								+\'<div class="col-md-2">\'
								+\'<input class="form-control input-sm" name="label[\'+parseInt(gamasidx2)+\']" placeholder="Label">\'
								+\'<br>\'
								+\'<input type=checkbox class="form-control input-sm" name="req[\'+parseInt(gamasidx2)+\']"value=1 placeholder="Required">Required</div>\'
								+\'<div class="col-md-2">\'
								+\'<select  name="classicon[\'+parseInt(gamasidx2)+\']" id="type" class="form-control" placeholder="Classicon" >\'
								+\'<option value="">--Choose Classicon--</option>\'';
								
								foreach($this->classicon as $v ) 
								{
								echo '+\'<option value="'.$v['value_param'].'">'.$v['display_param'].'</option>\'';	
								}
							
								echo '+\'</select>\'	
								+\'<br>	\'
								+\'<input class="form-control input-sm" name="help[\'+parseInt(gamasidx2)+\']" placeholder="Inline Help">\'
								+\'</div>\'
								+\'</div>\'
								+\'<div class="col-md-2">\'
						+\'<button type="button" class="btn red removeGC" onclick="removeGC(this); return false;" data-act="removeGC" data-id="\'+(parseInt(gamasidx2)+1)+\'" style="padding: 5px;">Remove</button>\'
					+\'</div>\'
				+\'</div>\';';
?>
	gamasidx2++;
	//console.log(str);
	currow.after(str);
	
	 $(".select2_sample6").select2();
}


function removeGC(me){
	var id = $(me).data('id');
	//console.log(id);
	$('body').find('#breadcrump'+id+':first').remove();
}

function removeEl(me){
	var id = $(me).data('id');
	//console.log(id);
	$('body').find('#element'+id+':first').remove();
}

jQuery(document).ready(function() {
$('body').addClass('page-header-fixed page-sidebar-fixed page-footer-fixed');




var EditApi = function () {
	
	var handleAdd = function() {

		$('form#addapi').validate({
	            //errorElement: 'span', //default input error message container
	            //errorClass: 'label-danger', // default input error message class
	            focusInvalid: false, // do not focus the last invalid input
	            rules: {
	                sname: {
	                    required: true,
	                    //remote: "/prabadoc/checking/param/sname",
	                },
	                "id[]": {
	                    required: true,
	                   // remote: "/prabadoc/checking/param/sname",
	                }
	            },
				
				messages: {
						sname: {
							required: 	"need your email address to contact you",
							remote: "Your email address must be in the format of name@domain.com"
							}	
					},

	            invalidHandler: function (event, validator) { //display error alert on form submit   
	                //$('.alert-danger', $('.login-form')).show();
	                //console.log(event);
	                //console.log(validator);
	                
					//$('span.help-block').show();
					$('span.help-block').hide();
	                var errorlist = validator.errorList;
	                if(errorlist.length>0){
						for(var i = 0; i<errorlist.length; i++){
							//console.log(errorlist[i].element);
							var el = errorlist[i].element; 
							var next = $(el).next('span.help-block'); 
							$(next).slideDown();
						}
						$('html,body').animate({
							scrollTop: $(el).offset().top-100
						}, 800);
					}
	            },

	            highlight: function (element) { // hightlight error inputs
	                $(element)
	                    .closest('.form-group').addClass('has-error'); // set error class to the control group
	            },

	            success: function (label) {
	                label.closest('.form-group').removeClass('has-error');
	                //label.remove();
	            },

	            errorPlacement: function (error, element) {
					$('span.help-block').hide();
					var next = element.next('span.help-block'); 
					//console.log(error);
	                if(error[0].textContent!=""){
						$(next).html("<i class='fa fa-warning'></i> "+ error[0].textContent);
						$(element).next().slideDown();
						$('html,body').animate({
							scrollTop: $(element).offset().top-100
						}, 800);
					}
	            },

	            submitHandler: function (form) {
					$('span.help-block').hide();
					$('.form-group').removeClass('has-error');
	                //form.submit(); // form validation success, call ajax form submit
	                submitForm();
	                return false;
	            }
	        });

	        $('form#addapi input').keypress(function (e) {
	            if (e.which == 13) {
					$('span.help-block').hide();
					$('.form-group').removeClass('has-error');
	                if ($('form#addapi').validate().form()) {
	                   //$('form#addapi').submit(); //form validation success, call ajax form submit
	                   submitForm();
	                }
	                return false;
	            }
	        });
	}
	
	var submitForm = function(){
		
		
		//console.log($('form#addapi').serialize());
		$.ajax({
			url:"/prabadoc/formbuilder",
			content:'json',
			type:'post',
			data:$('form#addapi').serialize(),
			beforeSend:function(){
				$('#alertinfo').addClass('hidden');
				$('#processbar').removeClass('hidden');
				$('html,body').animate({
					scrollTop: $('h3.page-title').offset().top
				}, 800);
				$('#alertinfo').removeClass('alert-success');
				$('#alertinfo').removeClass('alert-warning');
				$('#alertinfo').removeClass('alert-danger');
				$('#alertinfo').removeClass('alert-info');
			},
			complete:function(result){
				$('#processbar').addClass('hidden');
			},
			success: function(data){
				//console.log(data);
				if(data.result!=undefined){
					if(data.result==true){
						$('#alertinfo').addClass('alert-success');
						$('#alertmsg').html("<strong>Success!</strong> "+data.retMsg);
					}else{
						$('#alertinfo').addClass('alert-warning');
						$('#alertmsg').html("<strong>Failed!</strong> "+data.retMsg);
					}
				}else{
					$('#alertinfo').addClass('alert-info');
					$('#alertmsg').html("<strong>Error!</strong> System is busy, please try again.");
				}
				$('#alertinfo').removeClass('hidden');
			},
			error:function(){
				$('#alertinfo').addClass('alert-info');
				$('#alertmsg').html("<strong>Error!</strong> System is busy, please try again.");
				$('#alertinfo').removeClass('hidden');
			}
		});
	}
	
	

	var resetForm = function(){
		$('input','form#addapi')
			.not(':button, :submit, :reset, :hidden')
			.val('');
			
		$('select,option','form#addapi')
			.removeAttr('checked')
			.removeAttr('selected');
		
		$('.make-switch').bootstrapSwitch('setState',false);
		
		$('.ms-selectable').find('li').removeClass('ms-selected');
		$('.ms-selection').find('li').removeClass('ms-hover');
		$('.ms-selectable').find('li').removeAttr('style');
		
		$('.ms-selection').find('li').removeClass('ms-selected');
		$('.ms-selection').find('li').removeClass('ms-hover');
		$('.ms-selection').find('li').css({display:'none'});
	}
    
    return {
        //main function to initiate the module
        init: function () {
            handleAdd();
        }

    };

}();


App.init();

$('span.help-block').hide();
EditApi.init();



$('#get_api').select2();
$('#post_api').select2();
        


});
</script>

