<?php
//Zend_Debug::dump($this->task);
?>
<script type="text/javascript" src="/assets/core/plugins/jquery.numeric.js"></script>
<script type="text/javascript" src="/assets/core/plugins/bootstrap-switch/static/js/bootstrap-switch.min.js"></script>
<script type="text/javascript" src="/assets/core/plugins/bootstrap-modal/js/bootstrap-modalmanager.js"></script>
<script type="text/javascript" src="/assets/core/plugins/bootstrap-modal/js/bootstrap-modal.js"></script>
<script type="text/javascript" src="/assets/core/plugins/jquery-validation/dist/jquery.validate.min.js"></script>
<script type="text/javascript" src="/assets/core/plugins/bootstrap-editable/bootstrap-editable/js/bootstrap-editable.min.js"></script>
<script type="text/javascript" src="/assets/core/plugins/select2/select2.min.js"></script>
<script type="text/javascript" src="/assets/core/plugins/prabawf/js/jquery.simplemodal.min.js"></script>
<script type="text/javascript" src="/assets/core/plugins/prabawf/js/admin_template_editor.js"></script>
<script type="text/javascript" src="/assets/core/plugins/prabawf/js/jquery.contextmenu.js"></script>
<script type="text/javascript" src="/assets/core/plugins/prabawf/js/maestro_structure_admin.js"></script>
<script type="text/javascript" src="/assets/core/plugins/prabawf/js/moderator.js"></script>
<script type="text/javascript" src="/assets/core/plugins/prabawf/js/taskconsole.js"></script>
<script type="text/javascript" src="/assets/core/plugins/prabawf/js/wz_jsgraphics.js"></script>

<div class="page-content">

<!-- BEGIN PAGE HEADER-->
<div class="row">
	<div class="col-md-12">
		<!-- BEGIN PAGE TITLE & BREADCRUMB-->
		<h3 class="page-title">
		Action Builder <small>Compose API's workflow as a process automation</small>
		</h3>
		<ul class="page-breadcrumb breadcrumb">
			<li>
				<i class="fa fa-rss"></i>
				<a href="/">PraBAC</a>
				<i class="fa fa-angle-right"></i>
			</li>
			<li>
				<i class="fa fa-cogs"></i>
				<a href="/">Action Management</a>
				<i class="fa fa-angle-right"></i>
			</li>
			
			<li>
				<i class="fa fa-user"></i>
				Action Canvas
			</li>
			<!--li class="btn-group pull-right">
				<button type="button" class="btn red">
					<span>
				<?php echo Zend_Auth::getInstance()->getIdentity()->fullname; ?>
					</span>
				</button>
			</li-->
		</ul>
		<!-- END PAGE TITLE & BREADCRUMB-->
	</div>
</div>
<!-- END PAGE HEADER-->

<div class="row">
	<div class="col-md-12">

<script type="text/javascript">
$(document).ready(function() {

 var ajax_url = '/prabawf/ajaxer/ctype/';
	
});
</script>


<div id="maestro_ajax_indicator" class="maestro_ajax_indicator" style="z-index:9999;  position: absolute; left: 0; top:1; width: 100%;  display: none;opacity: 0.5; overflow:hidden;">
<img style="width: 64px; height: 64px; margin: 15% auto; opacity: 1; display: block;" src="/assets/core/img/360.gif">
</div>

<div class="maestro_heading"><?php //print $this->temp->TEMPLATE_NAME; ?></div>

<form name="frm_animate" action="#" method="post">
    Enable Animation: <input type="checkbox" name="animateFlag" value="1" checked="checked">&nbsp;&nbsp;&nbsp;
    Snap to Grid: <input type="checkbox" name="snapToGrid" value="1" onclick="update_snap_to_grid();">&nbsp;&nbsp;&nbsp;
    Snap to Objects: <input type="checkbox" name="snapToObjects" value="1" onclick="update_snap_to_objects();" checked="checked">
    <input type="button"  name="snapToObjects" onclick="runn();" value="Run Action">
</form>

<div id="maestro_tool_tip_container" class="maestro_tool_tip" style="display: none;">
	<div class="t">
        <div class="b">
            <div class="r">
            	<div class="l">
            		<div class="bl-bge">
            			<div class="br-bge">
            				<div class="tl-bge">
            					<div class="tr-bge">
                                	<div id="maestro_tool_tip" class="maestro_tool_tip_inner">
                                	</div>
                                </div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div id="maestro_workflow_container"  class="maestro_workflow_container" style="position: abosolute; height:500<?php //$this->temp->CANVAS_HEIGHT; ?>px;">
<?php 

	
	foreach ($this->task as $key => $tasc) {
	//Zend_Debug::dump($tasc); 
?>

<div 
	id="task<?php print $key; ?>" 
	class="<?php print $tasc['task_class'];?>  maestro_task_container" 
	onclick="draw_line_to(this);" 
	style="left: <?php print $tasc['res']['offset_left']; ?>px;top: <?php print $tasc['res']['offset_top']; ?>px;">
<?php

echo $this->partial('prabawf/_partial_task.phtml',
	array('class' => strtolower($tasc['res']['class_type']), 'tdid' => $key,'api' => $tasc['api'],  'ti' => $tasc['ti'], 'task' => $tasc['res']));


?>
</div>

<?php print $tasc['ti']->getContextMenuHTML(); ?>
<script type="text/javascript">
<?php print $tasc['ti']->getContextMenuJS();  ?>
</script>
<?php } ?>

</div>

<div id="maestro_main_context_menu" class="maestro_context_menu"><ul>
<?php
foreach ($this->menu as $key => $option) {
	$task_type = ($option['class_name']);
    $option =  $option['display_name'];
    echo "<li style=\"white-space: nowrap;\" id=\"$task_type\">$option</li>\n";
}
?>
</ul></div>

<div>
	<a href="#" onClick="grow_canvas(); return false;">Grow Canvas</a>
    <a href="#" onClick="shrink_canvas(); return false;">Shrink Canvas</a>
</div>

<script type="text/javascript">
	var ajax_url = '/prabawf/ajaxer/ctype/';
    //var template_id = <?php print '28';   ?>;
	(function($){
		$(function() { $(".maestro_task_container").draggable( {snap: true} ); })
	})(jQuery);

	<?php print $this->cwf->initializeJavascriptArrays();   ?>
	<?php print  $this->cwf->getContextMenuJS();   ?>
	
	 function runn(stat) {
         
         enable_ajax_indicator(); 
			$.ajax({
          type: 'POST',
          url: '/prabawf/running/id/<?php echo $this->temp; ?>/rid/<?php echo mktime(); ?>',
          cache: false,
          dataType: 'json',
          success: display_running_test,
          error: editor_ajax_error
        });      
         
         }
</script>



	</div>
</div>

</div>

<script>
jQuery(document).ready(function() {
$('body').addClass('page-header-fixed page-sidebar-fixed page-footer-fixed');
App.init();


     
  
      
});
</script>

