
<form
	<?php

	$getapi = explode ( ',', $this->data ['content_attrs'] ['api_id'] ); // die();
	
	
	$posturl = '/prabajax/postform/xxxxid/133';
		
	//cek upload or not
	$uploaded=0;
	foreach($this->data ['content_attrs']['field']  as $vzzz) {
		
		if(array_search('file', $vzzz)!=""){
			//die("sss");
			$uploaded = 1;
		}
		
	}
	if($uploaded==1) {echo "enctype='multipart/form-data' ";}
	
	if ($this->data ['content_attrs'] ['id'] != "") {
		echo "id = '" . $this->data ['content_attrs'] ['id'] . "' ";
	}
	if ($this->data ['content_attrs'] ['class'] != "") {
		echo "class= '" . $this->data ['content_attrs'] ['class'] . "' ";
	}
	if ($this->data ['content_attrs'] ['method'] != "") {
		echo "method= '" . $this->data ['content_attrs'] ['method'] . "' ";
	}
	if ($this->data ['content_attrs'] ['action'] != "") {
		echo "action= '" . $this->data ['content_attrs'] ['action'] . "' ";
	}
	
	?>>
	<input type="hidden"
		value="<?php echo  $this->data['content_attrs']['post_api'];?>"
		name="xxxxid" />
	<?php
	$varRules = "";
	foreach ( $this->data ['form-element'] as $kk => $vf ) {?>
	
	<div class='<?php echo $kk;?>'>
	<?php
		
		foreach ( $vf as $v ) {
			
			$val = "";
			$reqs = "";
			if ($v ['detail'] ['required'] == 1) {
				$reqs = "required :true";
			}
			
			if (isset ( $this->dataV [$getapi [0]] ['data'] [$v ['detail']['id']] )) {
				$val = $this->dataV [$getapi [0]] ['data'] [$v ['detail']['id']];
			} elseif ($v ['initvalue'] != "") {
				$val = $v ['initvalue'];
			}
			if (isset ( $v ['datafieldinit'] ) && count($v ['datafieldinit'])>0) {
				$val = $v ['datafieldinit'];
			}
			//var_dump($val); die();
			switch ($v ['detail']['type']) {
				case 'text' :
					echo "<div class='form-group'>
					<label for='" . $v ['detail']['id'] . "' >" . $v ['detail']['label'] . "</label>";
					if ($v  ['detail']['classicon'] != "") {
						echo "<div class='input-group'>
						<span class='input-group-addon'>
							<i class='" . $v ['detail']['classicon'] . "'></i>
						</span>
					<input type='text'  name='" . $v ['detail']['name'] . "' placeholder='" . $v ['detail']['placeholder'] . "' id='" . $v  ['detail']['id'] . "' placeholder='" . $v  ['detail']['placeholder'] . "' class='form-control " . $v  ['detail']['placeholder'] . "' value=$val >
				</div>";
					} else {
						echo "<input type='text'  name='" . $v ['detail']['name'] . "' placeholder='" . $v  ['detail']['detail']['placeholder'] . "' id='" . $v  ['detail']['id'] . "' placeholder='" . $v ['detail'] ['placeholder'] . "' class='form-control " . $v ['detail'] ['placeholder'] . "' value=$val >";
					}
					echo "<span class='help-block'>
						" . $v ['detail']['help'] . "
					</span>
					</div>";
					if (isset ( $v ['detail']['name'] ) && $v ['detail']['name'] != "") {
						$varRules .= "" . $v ['detail']['name'] . ": {
                        " . $reqs . "
                    },";
					}
					
					break;
				case 'select' :
				case 'multipleselect' :
					
					($v ['detail']['type'] == "multipleselect") ? $multi = "multiple" : $multi = "";
					
					echo "<div class='form-group'>
					<label for='" . $v ['detail'] ['id'] . "' >" . $v ['detail'] ['label'] . "</label>";
					
					$pos = strpos ( $val, ',' );
					if ($pos !== false) {
					}
					
					echo "<select $multi name='" . $v ['detail']['name'] . "' placeholder='" . $v ['detail']['placeholder'] . "' id='" . $v ['id'] . "' placeholder='" . $v ['detail']['placeholder'] . "' class='form-control " . $v ['placeholder'] . "'>";
					
					foreach ( $v ['datafieldinit'] as $g ) {
						echo "<option value='" . $g ['key'] . "'>" . $g ['value'] . "</option>";
					}
					
					echo "</select>";
					echo "<span class='help-block'>
						" . $v ['detail']['help'] . "
					</span>
					</div>";
					if (isset ( $v ['detail']['name'] ) && $v ['detail']['name'] != "") {
						$varRules .= "" . $v ['detail']['name'] . ": {
                        " . $reqs . "
                    },";
					}
					break;
					case 'radio' :
				
						echo "<div class='form-group'>
								<label for='" . $v ['detail']['id'] . "' >" . $v ['detail']['label'] . "</label>
						<div class='radio-list'  id='" . $v ['detail']['id'] . "' placeholder='" . $v ['detail']['placeholder'] . "'>";
							
						$pos = strpos ( $val, ',' );
						if ($pos !== false) {
						}

						foreach ( $v ['datafieldinit'] as $g ) {
		
						echo '<label><input type="radio" name="'.$v ['detail']['name'].'"  id="'.$g['key'].'" value="'.$g['key'].'">'.$g['value'].'</label>';
						}
								
							
						echo "</div><span class='help-block'>
						" . $v ['detail']['help'] . "</span>
						</div>";
					
					break;
					case 'checkbox' :
					
					
						
						
						echo "<div class='form-group'>
								<label for='" . $v ['id'] . "' >" . $v ['label'] . "</label>
						<div class='checkbox-list'  id='" . $v ['id'] . "' placeholder='" . $v ['placeholder'] . "'>";
							
						$pos = strpos ( $val, ',' );
						if ($pos !== false) {
						}
					
						foreach ( $v ['datafieldinit'] as $g ) {
					
							echo '<label><input type="checkbox" name="'.$v ['detail']['name'][$g['key']].'"  id="'.$g['key'].'" value="'.$g['key'].'">'.$g['value'].'</label>';
						}
					
							
						echo "</div><span class='help-block'>
						" . $v ['help'] . "</span>
						</div>";
							
						break;
				case 'textarea' :
					echo "<div class='form-group'>
					<label for='" . $v  ['detail']['id'] . "' >" . $v ['detail'] ['label'] . "</label>";
						
					if ($v ['detail'] ['classicon'] != "") {
						echo "<div class='input-group'>
						<span class='input-group-addon'>
							<i class='" . $v  ['detail']['classicon'] . "'></i>
						</span>
					<textarea type='text'  name='" . $v  ['detail']['name'] . "' placeholder='" . $v  ['detail']['placeholder'] . "' id='" . $v ['id'] . "' placeholder='" . $v  ['detail']['placeholder'] . "' class='form-control " . $v ['detail'] ['placeholder'] . "' >$val</textarea> 
										</div>";
					} else {
					echo "<textarea type='text'  name='" . $v ['name'] . "' placeholder='" . $v ['placeholder'] . "' id='" . $v ['id'] . "' placeholder='" . $v ['placeholder'] . "' class='form-control " . $v ['placeholder'] . "' >$val</textarea>";
					}
					echo "<span class='help-block'>
						" . $v ['help'] . "
							</span>
									</div>";
					if (isset ( $v ['name'] ) && $v ['name'] != "") {
										$varRules .= "" . $v ['name'] . ": {
										" . $reqs . "
					},";
					}
					break;
				
				case 'file' :
					
					echo "<div class='form-group'>
					<label for='" . $v ['detail']['id'] . "' >" . $v ['detail']['label'] . "</label>";
					if ($v ['detail']['classicon'] != "") {
						echo "<div class='input-group'>
						<span class='input-group-addon'>
							<i class='" . $v ['detail']['classicon'] . "'></i>
						</span>
					<input type='file'  name='" . $v ['detail']['name'] . "' placeholder='" . $v ['detail']['placeholder'] . "' id='" . $v ['detail']['id'] . "' placeholder='" . $v ['detail']['placeholder'] . "' class='form-control " . $v ['detail']['placeholder'] . "' value=$val >
										</div>";
					} else {
					echo "<input type='file'  name='" . $v ['detail']['name'] . "' placeholder='" . $v ['detail']['placeholder'] . "' id='" . $v ['detail']['id'] . "' placeholder='" . $v ['detail']['placeholder'] . "' class='form-control " . $v ['detail']['placeholder'] . "' value=$val >";
					}
					echo "<span class='help-block'>
						" . $v ['detail']['help'] . "
							</span>
									</div>";
					if (isset ( $v ['detail']['name'] ) && $v ['detail']['name'] != "") {
										$varRules .= "" . $v ['detail']['name'] . ": {
										" . $reqs . "
					},";
					}
					
					
					break;
				
				case 'submit' :
					echo '<button type="' . $v ['detail']['type'] . '" class="' . $v ['detail']['class'] . '">' . $v ['detail']['label'] . '</button>';
					break;
			}
		}
		echo "</div>";
	}
	?>
	
	


</form>

<script>

jQuery(document).ready(function() {

	var Funct<?php echo $this->data['content_attrs']['id'];?> = function () {

	


	var handleAdd = function() {
      
			var form<?php echo $this->data['content_attrs']['id'];?> = $('#<?php echo  $this->data['content_attrs']['id'];?>');
            var error1 = $('.alert-danger', form<?php echo  $this->data['content_attrs']['id'];?>);
            var success1 = $('.alert-success', form<?php echo $this->data['content_attrs']['id'];?>);

            form<?php echo  $this->data['content_attrs']['id'];?>.validate({
                errorElement: 'span', //default input error message container
                errorClass: 'help-block', // default input error message class
                focusInvalid: false, // do not focus the last invalid input
                ignore: "",
                rules: {
					
					<?php echo $varRules; ?>
                },

                invalidHandler: function (event, validator) { //display error alert on form submit              
                    success1.hide();
                    error1.show();
                    App.scrollTo(error1, -200);
                },

                highlight: function (element) { // hightlight error inputs
                    $(element)
                        .closest('.form-group').addClass('has-error'); // set error class to the control group
                },

                unhighlight: function (element) { // revert the change done by hightlight
                    $(element)
                        .closest('.form-group').removeClass('has-error'); // set error class to the control group
                },

                success: function (label) {
                    label
                        .closest('.form-group').removeClass('has-error'); // set success class to the control group
                },

                submitHandler: function (form) {
                    success1.show();
                    error1.hide();
                       submitForm();
	                return false;
                }
            });
	}
	
	var submitForm = function(){
		
		var data = $('form#<?php echo $this->data['content_attrs']['id'];?>');
		
		//alert("s");
		$.ajax({
			url:"<?php echo $posturl; ?>",
			content:'json',
			type:'post',
			data:data.serialize(),
			beforeSend:function(){
				$('#alertinfo').addClass('hidden');
				$('#processbar').removeClass('hidden');
				$('html,body').animate({
					scrollTop: $('h3.page-title').offset().top
				}, 800);
				$('#alertinfo').removeClass('alert-success');
				$('#alertinfo').removeClass('alert-warning');
				$('#alertinfo').removeClass('alert-danger');
				$('#alertinfo').removeClass('alert-info');
			},
			complete:function(result){
				//alert("done");
				$('#processbar').addClass('hidden');
			},
			success: function(data){
				//alert("ok");
				//console.log(data);
				if(data.transaction!=undefined){
					if(data.transaction==true){
					
						$('#alertinfo').addClass('alert-success');
						$('#alertmsg').html("<strong>Success!</strong> <?php echo $this->data['content_attrs']['postmessage'];?>");
					}else{
						
						$('#alertinfo').addClass('alert-warning');
						$('#alertmsg').html("<strong>Failed!</strong> "+data.message);
					}
				}else{
						
					$('#alertinfo').addClass('alert-info');
					$('#alertmsg').html("<strong>Error!</strong> System is busy, please try again.");
				}
				$('#alertinfo').removeClass('hidden');
			},
			error:function(){
				//alert("not");
				$('#alertinfo').addClass('alert-info');
				$('#alertmsg').html("<strong>Error!</strong> System is busy, please try again.");
				$('#alertinfo').removeClass('hidden');
			}
		});
	}
	
    return {
        //main function to initiate the module
        init: function () {
            handleAdd();
        }

    };

}();
Funct<?php echo $this->data['content_attrs']['id'];?>.init();

});
</script>
