<?php
	#Zend_Debug::dump($this->data);	die();
		
	$icons =array(
'png'=>'gnome-graphics.png',
'jpeg'=>'gnome-graphics.png',
'jpg'=>'gnome-graphics.png',
'gif'=>'gnome-graphics.png',
'doc'=>'openofficeorg.png',
'docx'=>'openofficeorg.png',
''=>'image-missing.png',
'pdf'=>'pdf.png',
'rar'=>'mkrar.png',
'7z'=>'mkrar.png',
'zip'=>'mkrar.png',
'XLS'=>'kspread.png',
'xls'=>'kspread.png',
'xlsx'=>'kspread.png',
'sql'=>'sqlitebrowser.png',
'wsdl'=>'sqlitebrowser.png',
'xml'=>'sqlitebrowser.png',
'php'=>'dashcode.png',
'js'=>'dashcode.png',
'chm'=>'addressbook.png',
'ppt'=>'ooo-impress.png',
'pptx'=>'ooo-impress.png',
'htm'=>'web-browser.png',
'html'=>'web-browser.png',
);


?>




<style>
.required {
color: #FF0000;
font-weight: bold;
}
dt label {
font-weight: bold;
font-size: 12px;
}
</style>

<div class="page-content">
	
	<div class="row">
		<div class="col-md-12">
			<div style="float:left; margin-top:15px; margin-right:5px;">
			<a href="#basic" data-toggle="modal" id="add" rel="1200"><img width="30" src='/assets/core/img/Package-Add-icon.png' /></a>
			</div>
			<h3>DOCUMENT CENTER</h3>
		</div>
	</div>
	
<div class="row">
		<div class="col-md-12">
<?php


if($this->data) {
?>

<?php 
$doctype="";


?>


<div class="portlet box grey" style="margin:0px">
		<div class="portlet-title">
			<div class="caption">
			File Pendukung	
			</div>
			 
		</div>
		<div class="portlet-body" style="padding:15px">
			
<?php
foreach($this->data['pendukung'] as $rr) 
{
	$fty = explode('.', $rr['fname']);
	$doctype =  max($fty);
?>			
	<ol id="list">
   
	<li><div class="media">
	<a class="pull-left">
	<img width="30" class="media-object" src="/assets/core/img/<?php echo $icons[$doctype]; ?> ">
	</a>
	<div class="media-body">
	<div class="media-heading" style="font-size:18px; font-weight:bold;color:#848484">
	<?php echo $rr['fname'];?>&nbsp;&nbsp;<span style="font-size:12px; color:##D8D8D8">(<?php echo $rr['created_date'];?>/<?php echo $rr['fsize']/1000;?>KB)</span>
	</div> 

	<p><?php echo $rr['fdescr'];?>.</p>

	<a href="http://telkomcare.telkom.co.id:8989/uploads/<?php echo $rr['fname']; ?>">download</a>
	</div></li>
                                                       
                                                       
                                                       
 </ol>
		<?php }
		?>				
		</div>
</div>		


<?php 
}
?>
		</div>
	</div>


</div>

<div id="modal_upload"></div>

<div class="modal fade in" id="basic" tabindex="-1" role="basic" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
			</div>
			<div class="modal-body">
				<form role="form" id="doc_upload" enctype="multipart/form-data" action="/prabadoc/upload" method="post">
					<input type="hidden"  name="id" value="<?php echo (int)$this->varams['id']; ?>">
					<div class="form-body">
						<div class="form-group">
							<label for="doc_path" class="required">Upload File:</label>
							<input type="hidden" class="form-control" name="MAX_FILE_SIZE" value="1048576" id="MAX_FILE_SIZE">
							<input type="file" name="doc_path" id="doc_path">
						</div>
						<div class="form-group">
							<label for="caption" class="optional">Description:</label>
							<input type="text" class="form-control" name="caption" id="caption" value="" size="50">
						</div>
						<div class="form-group">
							<input type="submit" name="submit" id="submitbutton" value="Upload File">
						</div>
					</div>
				</form>
				<!--form id="doc_upload" enctype="multipart/form-data" action="/pemilu/upload"  method="post"><dl class="zend_form">
<dt id="doc_path-label"><label for="doc_path" class="required">Upload File:</label></dt>
<dd>
<input type="hidden" name="MAX_FILE_SIZE" value="1048576" id="MAX_FILE_SIZE">
<input type="file" name="doc_path" id="doc_path"></dd>
<dt id="caption-label"><label for="caption" class="optional">Description:</label></dt>
<dd id="caption-element">
<input type="text" name="caption" id="caption" value="" size="50"></dd>
<dt id="submit-label">&nbsp;</dt><dd id="submit-element">
<input type="submit" name="submit" id="submitbutton" value="Upload File"></dd></dl></form-->
			</div>
		</div>
	</div>
	
	
	
	
	
	
	
	
	
	<div class="row">
		<div class="col-md-12">
			<div style="float:left; margin-top:15px; margin-right:5px;">
			<a href="#basic" data-toggle="modal" id="add" rel="1200"><img width="30" src='/assets/core/img/Package-Add-icon.png' /></a>
			</div>
			<h3>DOCUMENT CENTER</h3>
		</div>
	</div>
	
<div class="row">
<div class="col-md-12">
<?php


if($this->data['solusi']) {
?>

<?php 
$doctype="";
?>


<div class="portlet box grey" style="margin:0px">
		<div class="portlet-title">
			<div class="caption">
			File Solusi	
			</div>
			 
		</div>
		<div class="portlet-body" style="padding:15px">
			
						<?php
						foreach($this->data['solusi'] as $rr) 
						{
							$fty = explode('.', $rr['fname']);
							$doctype =  max($fty);
						?>			
						<ol id="list">

						<li><div class="media">
						<a class="pull-left">
						<img width="30" class="media-object" src="/assets/core/img/<?php echo $icons[$doctype]; ?> ">
						</a>
						<div class="media-body">
						<div class="media-heading" style="font-size:18px; font-weight:bold;color:#848484">
						<?php echo $rr['fname'];?>&nbsp;&nbsp;<span style="font-size:12px; color:##D8D8D8">(<?php echo $rr['created_date'];?>/<?php echo $rr['fsize']/1000;?>KB)</span>
						</div> 

						<p><?php echo $rr['fdescr'];?>.</p>

						<a href="http://telkomcare.telkom.co.id:8989/uploads/<?php echo $rr['fname']; ?>">download</a>
						</div></li>
																	   
																	   
																	   
						</ol>
						<?php }
						?>				
		</div>
</div>		


<?php 
}
?>
		</div>
	</div>






</div><!--end page -->




<script>
jQuery(document).ready(function() {
$('body').addClass('page-header-fixed page-sidebar-fixed page-footer-fixed');
App.init();
});
</script>
