<!-- BEGIN HEADER -->

<?php 
// get the default db adapter
$db = Zend_Db_Table::getDefaultAdapter();
$profiler = $db->getProfiler();
if($profiler->getTotalNumQueries() < 0) { ?>
<div style='text-align:center'>
<h2>Database Profiling Report</h2>
    <p>Total queries executed: <?php echo $profiler->getTotalNumQueries()?></p>
    <p>Total elapsed time: <?php echo $profiler->getTotalElapsedSecs()?></p>
</div>
<table class='spreadsheet' cellpadding='0' cellspacing='0' style='margin:10px auto'>
	<thead>
		<tr>
			<th>#</th>
			<th>Query</th>
			<th>Time</th>
		</tr>
	</thead>
	<tbody>
<?php foreach ($profiler->getQueryProfiles() as $queryNumber => $query) { ?>
	<tr>
		<td>(<?php echo $queryNumber + 1?>)</td>
		<td><?php echo $query->getQuery();?></td>
		<td><?php echo $query->getElapsedSecs();?></td>
	</tr>
<?php }?>
</tbody>
</table>
<?php }?>

<?php 
//die();
$api=array();
$var_array = Zend_Controller_Front::getInstance()->getRequest()->getParams();
//Zend_Debug::dump($this->session);die("s");
//Zend_Debug::dump($var_array);
foreach($this->session as $k=>$v) 
{
 foreach($v as $k2=>$vv2){
	foreach($vv2 as $k3=>$vv3){ 
	$api[$k3]=$vv3;
	$api[$k3]['type']=$k;	
	$api[$k3]['portlet']=$k2;
	}
	}	
}
//Zend_Debug::dump($api); die();
$page =array(
'initApi'=>'fa-file',
'datafield'=>'fa-list',
'vglobal'=>'fa-list',
'form'=>'fa-list',
'table'=>'fa-list',
'graphic'=>'fa-list',
'html'=>'fa-list',
);
$wpage =array(
'vglobal'=>'GLOBAL API',
'initApi'=>'INIT API',
'form'=>'FORM API',
'table'=>'TABLE API',
'graphic'=>'GRAPH API',
'html'=>'HTML API',
'datafield'=>'FORM FIELD API',
);
$spage =array(
false=>'danger',
true=>'success',
);
$db =array(
'Oracle'=>'/assets/core/img/db/oracle.png',
'Mysql'=>'/assets/core/img/db/mysql.png',
'Mysqli'=>'/assets/core/img/db/mysql.png',
'Pdo_Mssql'=>'/assets/core/img/db/mssql.png',
'Pdo_Netezza'=>'/assets/core/img/db/netezza.png',
'Pdo_Pgsql'=>'/assets/core/img/db/postgresql.png'
);

?>
<div class="header navbar navbar-inverse navbar-fixed-top">
	<!-- BEGIN TOP NAVIGATION BAR -->
	<div class="header-inner">
		<!-- BEGIN LOGO -->
		<a class="navbar-brand" href="/">
		
		
			
		<span id="header-title1"><?php 
		if($this->apid!=""){
		echo $this->apid;}else{ echo "<img src='/images/praba.png' />";
		}
		?></span>
		</a>
		<!-- END LOGO -->
		
		<!-- BEGIN RESPONSIVE MENU TOGGLER -->
		<a href="javascript:;" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
		<img src="/assets/core/img/menu-toggler.png" alt=""/>
		</a>
		<!-- END RESPONSIVE MENU TOGGLER -->
		
		<div class="hor-menu hidden-sm hidden-xs">
			<ul class="nav navbar-nav">
	
<?php 
//Zend_Debug::dump($this->menu);die();
//var_dump($this->menu);die();
foreach($this->menu as $k=>$v) {
	if($v['class']==null || $v['class']==''){
		$v['class']='';
	}
	if($v['child']!="" && $v['child']!=null && is_array($v['child']) &&$v['is_active']==1 ){
		
		
			echo '<li ><a data-toggle="dropdown" data-hover="dropdown" data-close-others="true" class="dropdown-toggle" href="">'.$v['menu_name'].' <i class="fa fa-angle-down"></i>
					</a>';
		
		echo '<ul class="dropdown-menu">';
		foreach  ($v['child'] as $k2=>$v2 ) {	
			if($v2['class']==null || $v2['class']==''){
				$v2['class']='fa fa-info-circle';
			}
			if($v2['child']!="child" && $v2['child']!=null && is_array($v2['child'])){		
				echo '<li class="dropdown-submenu">
						<a href="javascript:;">
								<a href="javascript:;">
							'.$v2['menu_name'].' </a>
						</a>';
			
				echo '<ul class="dropdown-menu">';
				foreach  ($v2['child'] as $k3=>$v3 ) {
					if($v3['class']==null || $v3['class']==''){
						$v3['class']='fa fa-info-circle';
					}
					if($v3['child']!="" && $v3['child']!=null && is_array($v3['child'])){				
						echo '<li>
								<a href="javascript:;">
									<i class="'.$v3['class'].'"></i> <span class="title">'.$v3['menu_name'].'</span><span class="arrow "></span>
								</a>';
						
						echo '<ul class="sub-menu">';
						foreach  ($v3['child'] as $k4=>$v4 ) {
							if($v4['class']==null || $v4['class']==''){
								$v4['class']='fa fa-info-circle';
							}
							echo '<li><a href="javascript:;"><i class="'.$v4['class'].'"></i> '.$v4['menu_name'].'</a>';
						}
						echo '</ul>';
						echo '</li>';
					}else{
						echo '<li class="">
								<a href="'.$v3['menu_link'].'" '.(((int)$v3['id']==237)?'target="blank"':'').'>
									<i class="'.$v3['class'].'"></i> <span class="title">'.$v3['menu_name'].'</span>
								</a>
							</li>';
					}
				}
				echo '</ul>';
				echo '</li>';
			}else{
				echo '<li class="">
						<a href="'.$v2['menu_link'].'">
							<i class="'.$v2['class'].'"></i> <span class="title">'.$v2['menu_name'].'</span>
						</a>
					</li>';
			}
			
		}
		echo '</ul>';
		echo '</li>';
	}else if ($v['is_active']==1){
		echo '<li class="">
				<a href="'.$v['menu_link'].'">
					<i class="'.$v['class'].'"></i> <span class="title">'.$v['menu_name'].'</span>
				</a>
			</li>';
	}
} 
?>
		
		
				
	
	
				
			</ul>
		</div>
		
		<!-- BEGIN TOP NAVIGATION MENU -->
		<ul class="nav navbar-nav pull-right">
			<!-- BEGIN NOTIFICATION DROPDOWN -->
			
			<?php if($var_array['controller']=='prabagen'){ ?>
			<li class="dropdown" id="header_notification_bar">
				<a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
				<i class="fa fa-database"></i>
				<span class="badge">
					<?php echo count($api); ?>
				</span>
				</a>
				<ul class="dropdown-menu extended notification">
					<li>
						<p>
							Called <?php echo count($api); ?>  API
						</p>
					</li>
					<li>
						<ul class="dropdown-menu-list scroller" style="height: 250px;">
							
							<?php foreach($api as $var=>$key){ ?>
							<li>
								<p style="font-size:12px;color:#2E4343;background-color:white">
								<span class="label label-icon label-<?php echo $spage[$key['transaction']]; ?>">
									<i class="fa <?php echo $page[$key['type']]; ?>"></i>
								</span>
								
								 <b><?php echo $wpage[$key['type']].".</b><b><a href='/prabaeditor/editportlet/id/".$key['portlet']."'> PortlId:".$key['portlet']."</a></b><a href='#'>Msg:".$key['message'].'</a><a href="#">Sql:'.$key['sql'].'</a> <a href="#">Cache:'.$key['is_cache'].'</a><a href="#">CacheTime: '.$key['cache_time'].'</a><a href="#"> ParsingDataTime: '.$key['parsing_data_time'].' ms. </a><a  href="/prabaeditor/editapi/id/'.$var.'"> ID : '. $var	.'</a><a  href="#">Host : '.$key['host']; ?></a></i>
								<span style="float:right;margin-top:-5px;">
									<?php echo '<img src="'.$db[$key['adapter']].'" />';?>
								</span>	
								
								</p>
							</li>
							<?php } ?>
							
						</ul>
					</li>
					
					<li class="external">
						<!--<a href="#">See all notifications <i class="m-icon-swapright"></i></a>-->
					</li>
				</ul>
			</li>
				<?php } ?>
			<!-- END NOTIFICATION DROPDOWN -->
			<!-- BEGIN TODO DROPDOWN -->
			<li class="dropdown" id="header_task_bar">
				<a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
				<i class="fa fa-tasks"></i>
				<span class="badge">
					<?php echo $profiler->getTotalNumQueries(); ?>
				</span>
				</a>
				
				
				<ul class="dropdown-menu extended tasks">
					
					
					<li>
						<p>
							You have <?php echo $profiler->getTotalNumQueries(); ?> queries of sys 
						</p>
					</li>
					<li>
						
						<ul class="dropdown-menu-list scroller" style="height: 250px;">
							
							<?php if($profiler->getTotalNumQueries() > 0) {  
								foreach ($profiler->getQueryProfiles() as $queryNumber => $query) { ?>
							<li>
								<p style="font-size:12px;color:#2E4343;background-color:white">
								<span class="task">
									<span class="desc">
										<?php echo $queryNumber + 1 .". ".trim($query->getQuery());?>
									</span>
									
									<span class="percent">
										<?php echo number_format($query->getElapsedSecs()*1000, 2, '.', '');?> ms
									</span>
								</span>
								<span class="progress progress-striped">
									<span style="width: <?php echo $query->getElapsedSecs()*100000; ?>%;" class="progress-bar progress-bar-danger" aria-valuenow="<?php echo $query->getElapsedSecs()*100000; ?>" aria-valuemin="0" aria-valuemax="100">
									
									</span>
								</span>
								</p>
							</li>
							<?php } ?>
						</ul>
					</li>
					<li class="external">
						<a href="#">
							 Total queries executed: <?php echo $profiler->getTotalNumQueries()?><br>Total elapsed time: 
							 <?php echo number_format($profiler->getTotalElapsedSecs()*1000, 2, '.', '');?>ms
							
							 <i class="m-icon-swapright"></i></a>
					</li>
					<?php } ?>
					
					
					
				</ul>
			</li>
			<!-- END TODO DROPDOWN -->
			<!-- BEGIN USER LOGIN DROPDOWN -->
			<li class="dropdown user">
				<a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
				<img alt="" src="/assets/core/skins/default/img/avatar.png" id="header-avatar"/>
				<i class="fa fa-angle-down"></i>
				</a>
				<ul class="dropdown-menu">
					<li>
<?php
try{
	$identity = Zend_Auth::getInstance()->getIdentity();
}catch(Exception $e){
	
}

if(strlen($identity->fullname)>13){
	$username = substr($identity->fullname,0,15).'...';
}
?>
						<a href="#" title="<?php echo $identity->fullname; ?>" style="padding-right:10px;">
							<i class="fa fa-user"></i> <span class="username"><?php echo $identity->fullname; ?></span>
						</a>
					</li>
					<li class="divider">
					</li>
						
					<li>
						<a id="cacheall" href="javascript:;"><i class="fa fa-bomb"></i> ClearAllCache
						
						</a>
					</li>
						
					<li>
						<a id="cachesys" href="javascript:;"><i class="fa fa-eraser"></i> ClearSysCache
						
						</a>
					</li>
					
					<li>
						<a id="chlep" href="javascript:;"><i class="fa fa-info"></i> Contextual Help
						
						</a>
					</li>
					
					<li>
						<a href="/public/logout"><i class="fa fa-key"></i> Log Out</a>
					</li>
				</ul>
			</li>
			<!-- END USER LOGIN DROPDOWN -->
		</ul>
		<!-- END TOP NAVIGATION MENU -->
	</div>
	<!-- END TOP NAVIGATION BAR -->
</div>
<!-- END HEADER -->
<script>
jQuery(document).ready(function() {
	
	
	$("#cacheall").click(function(){
		    
		 $.ajax({
			url:"/prabajax/clearcacheall",
			//content:'json',
			dataType: "json",
			beforeSend:function(){
				$('#alertinfo').addClass('hidden');
				$('#processbar').removeClass('hidden');
				$('html,body').animate({
					scrollTop: $('h3.page-title').offset().top
				}, 800);
				$('#alertinfo').removeClass('alert-success');
				$('#alertinfo').removeClass('alert-warning');
				$('#alertinfo').removeClass('alert-danger');
				$('#alertinfo').removeClass('alert-info');
			},
			complete:function(result){
				$('#processbar').addClass('hidden');
			},
			success: function(data){
				//console.log(data);
				if(data.result!=undefined){
					if(data.result==true){
						$('#alertinfo').addClass('alert-success');
						$('#alertmsg').html("<strong>Success!</strong> "+data.retMsg);
					}else{
						$('#alertinfo').addClass('alert-warning');
						$('#alertmsg').html("<strong>Failed!</strong> "+data.retMsg);
					}
				}else{
					$('#alertinfo').addClass('alert-info');
					$('#alertmsg').html("<strong>Error!</strong> System is busy, please try again.");
				}
				$('#alertinfo').removeClass('hidden');
			},
			error:function(){
				$('#alertinfo').addClass('alert-info');
				$('#alertmsg').html("<strong>Error!</strong> System is busy, please try again.");
				$('#alertinfo').removeClass('hidden');
			}
		});
		     
		     
		});
     
	$("#cachesys").click(function(){
		 $.ajax({
			url:"/prabajax/clearcachesys",
			dataType: "json",
			beforeSend:function(){
				$('#alertinfo').addClass('hidden');
				$('#processbar').removeClass('hidden');
				$('html,body').animate({
					scrollTop: $('h3.page-title').offset().top
				}, 800);
				$('#alertinfo').removeClass('alert-success');
				$('#alertinfo').removeClass('alert-warning');
				$('#alertinfo').removeClass('alert-danger');
				$('#alertinfo').removeClass('alert-info');
			},
			complete:function(result){
				$('#processbar').addClass('hidden');
			},
			success: function(data){
				//console.log(data);
				if(data.result!=undefined){
					if(data.result==true){
						$('#alertinfo').addClass('alert-success');
						$('#alertmsg').html("<strong>Success!</strong> "+data.retMsg);
					}else{
						$('#alertinfo').addClass('alert-warning');
						$('#alertmsg').html("<strong>Failed!</strong> "+data.retMsg);
					}
				}else{
					$('#alertinfo').addClass('alert-info');
					$('#alertmsg').html("<strong>Error!</strong> System is busy, please try again.");
				}
				$('#alertinfo').removeClass('hidden');
			},
			error:function(){
				$('#alertinfo').addClass('alert-info');
				$('#alertmsg').html("<strong>Error!</strong> System is busy, please try again.");
				$('#alertinfo').removeClass('hidden');
			}
		});
		     
		     
		});
     
 
 
	$("#chlep").click(function(){
		 $.ajax({
			url:"/prabajax/chelp/ctl/<?php echo $var_array['controller'] ?>/act/<?php echo $var_array['action'] ?>",
			dataType: "json",
			beforeSend:function(){
				$('#alertinfo').addClass('hidden');
				$('#processbar').removeClass('hidden');
				$('html,body').animate({
					scrollTop: $('h3.page-title').offset().top
				}, 800);
				$('#alertinfo').removeClass('alert-success');
				$('#alertinfo').removeClass('alert-warning');
				$('#alertinfo').removeClass('alert-danger');
				$('#alertinfo').removeClass('alert-info');
			},
			complete:function(result){
				$('#processbar').addClass('hidden');
			},
			success: function(data){
				//console.log(data);
				if(data.result!=undefined){
					if(data.result==true){
						$('#alertinfo').addClass('alert-success note note-success');
						$('#alertmsg').html(data.retMsg);
					}else{
						$('#alertinfo').addClass('alert-warning');
						$('#alertmsg').html("<strong>Failed!</strong> "+data.retMsg);
					}
				}else{
					$('#alertinfo').addClass('alert-info');
					$('#alertmsg').html("<strong>Error!</strong> System is busy, please try again.");
				}
				$('#alertinfo').removeClass('hidden');
			},
			error:function(){
				$('#alertinfo').addClass('alert-info');
				$('#alertmsg').html("<strong>Error!</strong> System is busy, please try again.");
				$('#alertinfo').removeClass('hidden');
			}
		});
		     
		     
		});
     
 




});	
</script>

