<style> 
.table-scrollable>.table {
	background-color: #0c1d2b;
}
.portlet.light {
    
    background-color: rgba(12, 29, 43, 0.84);
	 color: white; 
}
table.dataTable td.sorting_1, table.dataTable td.sorting_2, table.dataTable td.sorting_3, table.dataTable th.sorting_1, table.dataTable th.sorting_2, table.dataTable th.sorting_3 {
    background: #35383c!important;
}


.dataTables_wrapper .dataTables_length, .dataTables_wrapper .dataTables_filter, 
.dataTables_wrapper .dataTables_info, 
.dataTables_wrapper .dataTables_processing,
 .dataTables_wrapper .dataTables_paginate
{
  color : #1C6EA7;
 
}

.dataTables_wrapper .dataTables_paginate .paginate_button {
    
    color: #1C6EA7 !important;
  
}
.btn.btn-outline.dark,.btn.btn-outline.green,.btn.btn-outline.purple
{
	color : white !important;  
	border-color : transparent;
	background : #32C5D2;
}
 .btn.btn-outline.dark:hover, .btn.btn-outline.green:hover,.btn.btn-outline.purple:hover
 {
	 color : white !important;  
	border-color : transparent;
	background : #26A2AC;
	 
 }
 .portlet.light .dataTables_wrapper .dt-buttons {

	 margin-top:-54px;
 }

.portlet.box>.portlet-body {
    color: white;
    background-color: #244759;
    padding: 15px;
}

</style>
<div class="page-content">  
<div class="breadcrumbs">   
<h1> <?php echo $this->data['figure_name'];?></h1>
	<ol class="breadcrumb">
		<li><a href="/">Home</a></li>
		<li><a href="#">/</a></li>
		<li><a href="/analis/index/listcron">Daftar Cron</a></li>
		<li><a href="#">/</a></li>
		<li class="active">Tambah Cron</li>
	</ol>
</div>

<div class="row">
    <div class="col-md-12">

  <div class="portlet light bordered">
	<div class="portlet-title">
		<div class="caption">
			<i class="icon-equalizer font-red-sunglo"></i>
			<span class="caption-subject font-red-sunglo bold uppercase">Pengaturan Cron</span>
		</div>
		<div class="tools">
			<a href="" class="collapse" data-original-title="" title=""> </a>
			<a href="#portlet-config" data-toggle="modal" class="config" data-original-title="" title=""> </a>
			<a href="" class="reload" data-original-title="" title=""> </a>
			<a href="" class="remove" data-original-title="" title=""> </a>
		</div>
	</div>
	<div class="portlet-body form">
		<form role="form" method="post">

		<div class="row">
			<div class="col-md-4">
			</div>
		</div>

		<div class="row">
			<div class="col-md-4">
				<!--
				<input name="filtercheck" type="checkbox" id="filteruser" value="user"> User
				<input name="filtercheck" type="checkbox" id="filtergroup" value="group"> Group
				-->
				<div id="user-label">Nama Mesin</div>
				<input type="text" class="form-control" maxlength="25" name="machine_name" style="width:65%;display:inline-block;" required>
			
				<span class="help-block" id="user-description">
				</span><br><br>
				
			</div>
			<div class="col-md-4" id="user-desc">
				<input name="filtercheck" type="checkbox" onclick="customclic(this);" id="custom" value="1"> Ubah Cron <br>
				<div id="user-label">Cron Formula</div>
				<input type="text" class="form-control" id="cron_formula" maxlength="25" disabled=yes name="cron_formula" style="width:65%;display:inline-block;">
			
				<span class="help-block" id="user-description">
					*/5 * * * *  untuk 5 menit
				</span><br>
			</div>
		</div>
		<br>
		<hr>
		<div class="row">
			
			<div class="col-md-4">
				<span style="margin-right:10px;font-weight:bold">Setiap:</span><br>
				<input type="checkbox" id="filtermonthy" name="sch[]" class="controller" value="monthly">Bulan
				<input type="checkbox" id="filterweekly" name="sch[]" class="controller" value="weekly">Mingg
				<input type="checkbox" id="filterdaily" name="sch[]" class="controller" value="daily">Hari
				<input type="checkbox" id="filterhourly" name="sch[]" class="controller" value="hourly">Jam
			</div>
			<div class="col-md-6" style="padding-left: 0px;">
				<span style="margin-right:10px;font-weight:bold;margin-left: 15px;">Range:</span><br>
				<div class="form-group">
					<div class="input-group input-large date-timepicker input-daterange" data-date="<?php echo $fromx; ?>" data-date-format="Y/m/d H:i" style="margin-left:15px;">
						<input type="text" class="form-control input-sm date date-picker" name="tgl1" id="tgl1" data-date-format="yyyy/mm/dd H:i">
						<span class="input-group-addon">
							to
						</span>								
						<input type="text" class="form-control input-sm date date-picker" name="tgl2" id="tgl2" 
							value="<?php echo (!isset($_POST['tgl2'])) ? $today : $_POST['tgl2'];?>" 
							data-date-format="yyyy/mm/dd">
					</div>
				</div>
			</div>
		</div>
		<br>

		<div class="row"> 
			
		</div>
		<br>
		<div class="row">
				<div class="col-md-4"style="padding-top: 15px;padding-left: 15px;">
						
				</div>
				<div class="col-md-8"style="padding-top: 15px;padding-left: 15px;">
					<span class="help-block"></span>
					<button class="btn btn-success" onclick="sendmsg()"><i class="fa fa-share-square-o"></i> Kirim</button>
					<!--button type="submit" class="btn green btn-block">SUBMIT</button-->
						
				</div>
		</div>
		<!-- END PAGE CONTENT-->
		</form>
	</div>
	</div>
</div>
</div>
</div>







<script>



var el = jQuery(".page-content").first();
function customclic(me){
if ($(me).is(":checked"))
{
	$("#cron_formula").removeAttr("disabled");
	
	$(".date").attr("disabled","yes");
	$(".controller").attr("disabled","yes");
}else {
	$("#cron_formula").attr("disabled","yes");
	$(".date").removeAttr("disabled");
	$(".controller").removeAttr("disabled");
	
	}
}

jQuery(document).ready(function() {



$('body').find('#tgl1').datetimepicker({
		isRTL: App.isRTL(),
		format: "yyyy-mm-dd hh:ii",
		autoclose: true,
		todayBtn: true,
		//startDate: "2013-02-14 10:00",
		pickerPosition: (App.isRTL() ? "top-left" : "top-right"),
		minuteStep: 5
	});

$('body').find('#tgl2').datetimepicker({
		isRTL: App.isRTL(),
		format: "yyyy-mm-dd hh:ii",
		autoclose: true,
		todayBtn: true,
		//startDate: "2013-02-14 10:00",
		pickerPosition: (App.isRTL() ? "to-left" : "top-right"),
		minuteStep: 5
	});
$('body').find('#tp').timepicker({
		isRTL: App.isRTL(),
		format: "hh:ii",
		autoclose: true,
		todayBtn: true,
		//startDate: "2013-02-14 10:00",
		pickerPosition: (App.isRTL() ? "to-left" : "top-right"),
		minuteStep: 5
	});





});
</script>
