<style>
.portlet.light {  
  background-color: rgba(12, 29, 43, 0.84);
  color: white; 
}
</style>
<?php
//Zend_Debug::dump($this->data);die(0);
?>
<div class="page-content">
	<!-- BEGIN BREADCRUMBS -->
	<div class="breadcrumbs">
	<h1> <?php
    echo $this->data['figure_name'];
?></h1>
		<ol class="breadcrumb">
			<li><a href="/">Home</a></li>
			<li><a href="#">/</a></li>
			<li><a href="/analis/index/listmedia">List Media</a></li>
			<li><a href="#">/</a></li>
			<li class="active">Edit Media</li>
			
		</ol>
	</div>
	<!-- END BREADCRUMBS -->
 <!-- BEGIN PAGE BASE CONTENT -->
 <div class="row">
  <div class="col-md-12">
  <div class="portlet light bordered">
  <div class="portlet-title">
      <div class="caption">
          <i class="icon-equalizer font-red-sunglo"></i>
          <span class="caption-subject font-red-sunglo bold uppercase">Edit Apikey</span>
      </div>
      <div class="tools">
          <a href="" class="collapse"> </a>
          <a href="#portlet-config" data-toggle="modal" class="config"> </a>
          <a href="" class="reload"> </a>
          <a href="" class="remove"> </a>
      </div>
  </div>
  <div class="portlet-body form">
 <!-- BEGIN FORM-->
  <form action="/analis/ajax/postapi"  enctype="multipart/form-data"   method=post class="form-horizontal" id="addapi">
  <input name="id" type="hidden" action="/analis/ajax/postapi" value="<?php echo $this->data['id']; ?>" />  
       <div class="form-body">                                                        
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                 <label class="control-label col-md-3">Consumer Key  </label>
                    <div class="col-md-9">
                      <input type="text" name="con_key" class="form-control" value="<?php echo $this->data['consumer_key'];?>" placeholder="">
                         <!--<span class="help-block"> This is inline help </span>-->
                    </div>
                  </div>
                </div>  
				<div class="col-md-6">
              <div class="form-group">
                 <label class="control-label col-md-3">Consumer Secret </label>
                    <div class="col-md-9">
                      <input type="text" name="con_secret" class="form-control" value="<?php echo $this->data['consumer_secret'];?>" placeholder="">
                         <!--<span class="help-block"> This is inline help </span>-->
                    </div>
                  </div>
                </div> 
             </div>  
             <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                 <label class="control-label col-md-3">Access Token</label>
                    <div class="col-md-9">
                      <input type="text" name="acc_token" class="form-control" value="<?php echo $this->data['access_token'];?>" placeholder="">
                         <!--<span class="help-block"> This is inline help </span>-->
                    </div>
                  </div>
                </div>  
				<div class="col-md-6">
              <div class="form-group">
                 <label class="control-label col-md-3">Access Token Secret  </label>
                    <div class="col-md-9">
                      <input type="text" name="acc_token2" class="form-control" value="<?php echo $this->data['access_token_secret'];?>" placeholder="">
                         <!--<span class="help-block"> This is inline help </span>-->
                    </div>
                  </div>
                </div> 
             </div>  			 
		   <div class="form-actions">
           <div class="row">
               <div class="col-md-6">
                   <div class="row">
                       <div class="col-md-offset-3 col-md-9">
                           <button type="submit" class="btn green">Update</button
                       </div>
                   </div>
               </div>
               <div class="col-md-6"> </div>
             </div>
            </div> 
		  </div>
       </form>                                                                                                          
      </div>
     </div>
    </div>
   </div>
  </div>                                                                
 <script>          
jQuery(document).ready(function() {   
var EditApi = function () {
	var handleAdd = function() {
		$('form#addapi').validate({
	            //errorElement: 'span', //default input error message container
	            //errorClass: 'label-danger', // default input error message class
	            focusInvalid: false, // do not focus the last invalid input
	            rules: {
	                c_name: {
	                    required: true
	                },  slugname: {
	                    required: true
	                },
	            },
	         

	            messages: {
					
	            },

	            invalidHandler: function (event, validator) { //display error alert on form submit   
	                //$('.alert-danger', $('.login-form')).show();
	                //console.log(event);
	                //console.log(validator);
	                
					//$('span.help-block').show();
					$('span.help-block').hide();
	                var errorlist = validator.errorList;
	                if(errorlist.length>0){
						for(var i = 0; i<errorlist.length; i++){
							//console.log(errorlist[i].element);
							var el = errorlist[i].element; 
							var next = $(el).next('span.help-block'); 
							$(next).slideDown();
						}
						$('html,body').animate({
							scrollTop: $(el).offset().top-100
						}, 800);
					}
	            },

	            highlight: function (element) { // hightlight error inputs
	                $(element)
	                    .closest('.form-group').addClass('has-error'); // set error class to the control group
	            },

	            success: function (label) {
	                label.closest('.form-group').removeClass('has-error');
	                //label.remove();
	            },

	            errorPlacement: function (error, element) {
					$('span.help-block').hide();
					var next = element.next('span.help-block'); 
					//console.log(error);
	                if(error[0].textContent!=""){
						$(next).html("<i class='fa fa-warning'></i> "+ error[0].textContent);
						$(element).next().slideDown();
						$('html,body').animate({
							scrollTop: $(element).offset().top-100
						}, 800);
					}
	            },

	           
	        });       
	}
 
    return {
        //main function to initiate the module
        init: function () {
            handleAdd();
        }

    };

}(); 
//FormComponents3.init();

$('span.help-block').hide();
EditApi.init(); 
  });   
</script>
                                    
                                    