<style>
body{
	color: #b7b7b7;
}
.mt-author-name h3{
	margin: 0px;
}
.chats li .name {
    color: #d5ff5b;
}
.portlet.light.navtab {  
     background-color: rgba(12, 29, 43, 0.9);
	 color: white; 
}
.nav-tabs>li.active>a{
  background-color: #203c4a;
  border : 1px solid #203c4a;	
  color : #9eacb4;
}
.nav-tabs
{
 border-bottom:1.88px solid #203c4a;	
}

.dataTables_wrapper .dataTables_length, .dataTables_wrapper .dataTables_filter, 
.dataTables_wrapper .dataTables_info, 
.dataTables_wrapper .dataTables_processing,
 .dataTables_wrapper .dataTables_paginate
{
  color : #1C6EA7;    
 
}
.table-striped>tbody>tr:nth-of-type(odd) {
    background-color: rgba(39, 76, 95, 0.64);
}
.table {
    border: 1px solid #666;
}
.table-scrollable {
	border: 1px solid #666;	
}
.table-scrollable>.table {
	background-color: #0c1d2b;
}
.portlet.light.bordered {
	background-color:rgba(17, 38, 55, 0.8);
}
table.dataTable td.sorting_1, table.dataTable td.sorting_2, table.dataTable td.sorting_3, table.dataTable th.sorting_1, table.dataTable th.sorting_2, table.dataTable th.sorting_3 {
    background: #35383c!important;
}
 
.pagination>li>a, .pagination>li>span{
color : #337ab7;
background-color : transparent;
border:transparent;
}

.pagination>.active>a, .pagination>.active>a:hover
{
  color : #333;
  background-color : #ffffff;
}

.pagination>li>a:hover
{ 
  color : #ffffff;
  background-color : #2f353b;
}
.pagination>.disabled>a, .pagination>.disabled>a:hover,.pagination>.disabled>span
{
   background-color:transparent;
   color : #1C6EA7;
}
   table.dataTable tbody tr {
    background-color: #1c3a4b;
}

.dashboard-stat .visual {
		height: 50px;
}

.bootstrap-tagsinput{   
 width : 100%!important;

}

</style>
<div style="min-height:800px">
	<div class="row">
	<div class="col-md-3">
	<?php 
	// Zend_Debug::dump(count($this->telegram));
	// Zend_Debug::dump($this->telegram[count($this->telegram)-1]);
	// die(); 
	if( $this->varams["media_type"]=="internasional"){
		$mt = "internasional";
	}else{ $mt = "nasional";}
	?>
	</div>
	</div>    
	<div class="row" style="margin-bottom: 20px;">
		<form action="" id="form">
			<div class="col-md-4 col-sm-4">
				<select class="form-control input-large select2me" data-placeholder="Select..." id="cat" name="cat">
					<option value="">ALL</option>
					<?php 
					foreach ($this->cat as $k=>$v) {
					echo '<option value="'.$v.'" '.(isset($this->varams["cat"]) && $this->varams["cat"]!="" && $this->varams["cat"]==$v?"selected":"").'>'.$k.'</option>';    
					}
					?>
				</select>
			</div>
			<div class="col-md-8 col-sm-8">
				<input class="form-control hidden" id="skey" name="search" placeholder="skey" value="<?php echo $this->varams["search"]; ?>">
				<input class="form-control hidden" id="is_sentiment" name="is_sentiment" placeholder="is_sentiment" value="<?php echo $this->varams["is_sentiment"]; ?>">
				<input class="form-control hidden" id="media_type" name="media_type" value="<?php echo $this->varams["media_type"]; ?>">
				<div class="col-md-5 col-sm-5">
					<select id="select" class="form-control " name="reg" data-placeholder="Select..." >
						<option value="" <?php echo($this->varams["reg"]==""?"selected":""); ?>>Sub Category</option>
						
					</select>
					
				</div>				
				<div class="col-md-5 col-sm-5">
					<div id="datepicker3" class="input-group input-large date-picker input-daterange" data-date="10/11/2012" data-date-format="yyyy-mm-dd">
						<input id="from" type="text" class="form-control" name="startdate" value='<?php echo $this->varams["startdate"]; ?>'>
						<span class="input-group-addon"> to </span>
						<input id="to" type="text" class="form-control" name="enddate" value='<?php echo $this->varams["enddate"]; ?>'>
					</div>    
				</div>		
				<div class="col-md-2 col-sm-2" style="padding: 0px;">
				<button class="btn btn-circle red-sunglo" type="reset" onclick="resetSubmit();">Hapus</button>
				<button class="btn btn-circle blue-madison">Filter</button>
				</div>
			</div>
		</form>
	</div>

	<div class="row">
		<div class="col-md-4">
			<div class="portlet light " style="background-color:rgba(17, 38, 55, 0.8);">
					 <div class="portlet-title" style="height:10px;">
					<div class="caption">
						<i class="icon-equalizer font-dark hide"></i>
						<span class="caption-subject font-dark bold uppercase" ><font color="white">Laporan Terakhir</font></span>
					</div>
					<div class="tools">
						<a href="" class="collapse" data-original-title="" title=""> </a>
					</div>
					<div class="actions">
						<a href="javascript:;" class="btn btn-primary btn-sm" onclick="getLatest('news');">
							<i class="fa fa-refresh"></i></a>
					</div>
				</div>
				<div class="portlet-body">
					<div class="scroller" id="l_news" style="height: 525px;" data-always-visible="1" data-rail-visible1="1">
					</div>
				</div>
			</div>
		</div>
		
		<div class="col-md-8">
			<div class="row">
				<div class="col-md-6">
					<div class="dashboard-stat " style="min-height:55px; background-color:rgba(17, 38, 55, 0.8);">
						<div class="visual">
							<img src="/images/all icon/telegram.png" width="50px">
						</div>
						<div class="details">
							<div class="number" style="color: #2ca5e0;">
								<?php echo($this->telegram[1]==""?"0":$this->telegram[count($this->telegram)-1]); ?>
							</div>
						</div>
					</div>
				</div>
				<!--
				<div class="col-md-4">
					<div class="dashboard-stat" style="min-height:55px; background-color:rgba(17, 38, 55, 0.8);">
						<div class="visual">
							<img src="/images/all icon/sms.png" width="50px">
						</div>
						<div class="details">
							<div class="number" style="color: #91ee7f;">
								<?php echo($this->sms[1]==""?"0":$this->sms[count($this->sms)-1]); ?>
							</div>
						</div>
					</div>
				</div>
				-->
				<div class="col-md-6">
					<div class="dashboard-stat" style="min-height:55px; background-color:rgba(17, 38, 55, 0.8);">
						<div class="visual">
							<img src="/images/all icon/email.png" width="50px">
						</div>
						<div class="details">
							<div class="number" style="color: #df6162;">
								<?php echo($this->email[1]==""?"0":$this->email[count($this->email)-1]); ?>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
			<div class="col-md-12">
				<div class="portlet light" style="min-height:385px; background-color:rgba(17, 38, 55, 0.8);">
						<div class="portlet-title">
							<div class="caption font-white">
								Trend Line
							</div>
							<div class="actions">
								<a href="javascript:;" class="btn btn-primary btn-sm" onclick="getTrendline();">
									<i class="fa fa-refresh"></i></a>
							</div>
						</div>
						<div class="portlet-body" id="trendline">					
						</div>
					</div>
			</div>			      
			</div>
			<div class="row">
			<div class="col-md-12">
				<div class="portlet light" style="min-height:45px;padding-top:15px; background-color:rgba(17, 38, 55, 0.8);"> 
						<button id="media_new" class="btn sbold blue-madison"> Buat Peringatan
                                <i class="fa fa-plus"></i>
                            </button>						
					</div>
			</div>			      
			</div>
		</div>
	</div>
	<div id="media_modal" class="modal container fade modal-scroll modal-overflow in" tabindex="-1" data-backdrop="static" data-keyboard="false" >           
      <!-- <div class="modal-header" style="background-color:transparent;">-->
         
        <!--</div>-->        												
      <div class="modal-body" style="padding:0px;background-color:transparent;">	  
	        <div class="portlet box" style="margin:0px;background-color:transparent;"> 
                <div class="portlet light navtab" style="margin-bottom:0px;">  
                   <button type="button" class="close" data-dismiss="modal" aria-hidden="true" style="border:3px solid #48b5e9;padding:5px;background-color:white;"></button> 	  
				   
		          <ul class="nav nav-tabs">				
			          <li class="active">
				        <a href="#Email" data-toggle="tab"> Email </a>
			          </li>			          
			          <li >
				        <a href="#Telegram" data-toggle="tab"> Telegram </a>
			          </li>	                      				  
		            </ul>					                  					                    				 
		    <div class="tab-content">
			<div class="tab-pane" id="Telegram">
			  <div class="portlet light bordered">                                
                 <div class="portlet-body form">
                     <form class="form-horizontal" method="post" action ="/alertsystemmodul/index/postalert" role="form">
                         <div class="form-body">                                               
                            <div class="form-group">
                                 <label class="col-md-3 control-label">Target Group</label>
                                 <div class="col-md-9">
									<select name="opt_nomor" id="opt_nomor" value ="pilih" class="form-control">  		  					 
								<?php foreach ($this->gr as $v) {                                        												 
							  ?>						     
                                 <option  value="<?php echo $v['id']; ?>" ><?php echo $v['groupname']; ?></option> 
							  <?php } ?> 
                             </select>	
                                 </div>
                             </div>                                                                                                                                       
                             <div class="form-group">
                                 <label class="col-md-3 control-label">Pesan</label>
                                 <div class="col-md-9">
                                     <textarea class="form-control" name="text" rows="6"></textarea>
                                 </div>
                             </div>                                                                                            
                         </div>
                         <div class="form-actions">
                             <div class="row">
                                 <div class="col-md-offset-3 col-md-9"> 
                                     <input type="submit" value="Submit" class="btn green">
                                     <button type="button" class="btn default" data-dismiss="modal">Cancel</button>
                                 </div>
                             </div>
                         </div>
                     </form> 
                 </div>
             </div>
			</div>
			<div class="tab-pane active" id="Email" >
			  <div class="portlet light bordered">                                    
                 <div class="portlet-body form">
                     <form action="/alertsystemmodul/index/postemail" class="form-horizontal" enctype="multipart/form-data" method="post" id="addemail" >
                         <div class="form-body">                                               
                            <div class="form-group">
                                 <label class="col-md-3 control-label">Alamat E-mail</label>
                                 <div class="col-md-9">                                                                                                                                       
                                         <input type="text" name="adr_email"  data-role="tagsinput"  class="form-control" placeholder="Alamat E-mail"  >         
                                 </div>  
                             </div>  
                             <div class="form-group">
                                                    <label class="col-md-3 control-label">Subjek</label>
                                                    <div class="col-md-9">
                                                        <input type="text" name="sub_email" class="form-control" placeholder="Masukkan Subjek">                                                      
                                                    </div>
                             </div>							 
                             <div class="form-group">
                                 <label class="col-md-3 control-label">Pesan</label>
                                 <div class="col-md-9">
                                     <textarea name="msg_email" class="form-control" rows="9"></textarea>
                                 </div>
                             </div>                                                                                            
                         </div>
                         <div class="form-actions">
                             <div class="row">
                                 <div class="col-md-offset-3 col-md-9"> 
                                     <button type="submit" class="btn green">Submit</button>
                                     <button type="button" class="btn default" data-dismiss="modal">Cancel</button>
                                 </div>
                             </div>
                         </div>
                     </form>
                 </div>
             </div>
			</div>		
			</div>
		  </div>			                                       		     
	  </div>
	</div>
	</div>

	
</div>
<script>
var words = {};
var map;
function resetSubmit(){
	// setTimeout(function(){ location.href = "/analis/home"; }, 500);
	//getCloud("laporan");
	//getCloud("digmed");
	//getCloud("socmed");
	// getLapterkini();
	//getSentiment();
	//getTrendline();
	//getLatest("lap","","");
//	getLatest("news","","");
	//getLatest("socmed","","");
}
function setMT(mt){
//style="opacity: .5;"
	
	// console.log(mt);
	$("#media_type").val(mt);
	// console.log($("#media_type").val());
	$("#form").submit();
}
function getCloud(t,sdate="",edate=""){

App.blockUI({target:"#"+t,boxed:!0});

// var formData = $("#form").serialize();
var formData = {};

var param ="";
param +="t="+t;
param +="&skey="+$("#skey").val();
param += "&cat="+$("#cat").val();
param += "&is_mediatype="+$("#media_type").val();

if(sdate!="" && edate!=""){
	param += "&d1="+sdate+"&d2="+edate;	
	param +="&is_sentiment="+$("#is_sentiment").val();
} else {	
	$("#is_sentiment").val("");
	param +="&d1="+$("#from").val()+"&d2="+$("#to").val();
	param +="&is_sentiment="+$("#is_sentiment").val();
}
// param += is_se;
// param += sedate;


$.ajax({  
	type: "GET",
	url: '/analis/ajaxhome/wordcloud/ajax/1?'+param,
	data: formData, //last_id kita berarti 15
	dataType: "html",  //sesuai keinginan, di sini saya pengen ngambil langsung data dalam bentuk html langsung dari file data_per_load.php
	success: function(data){
		// console.log(data);
		$("#"+t).html(data);
		App.unblockUI("#"+t);
	}
});
	
}
function getLapterkini(){
	
	
App.blockUI({target:"#lapterkini",boxed:!0});

$.ajax({  
	type: "GET",
	url: '/analis/ajaxhome/lapterkini/',
	data: {}, //last_id kita berarti 15
	dataType: "html",  //sesuai keinginan, di sini saya pengen ngambil langsung data dalam bentuk html langsung dari file data_per_load.php
	success: function(data){
		// console.log(data);
		$("#lapterkini").html(data);
		App.unblockUI("#lapterkini");
	}
});

}
function getSentiment(sdate="",edate="",l=""){

var formData = {};
var param ="";
param +="&skey="+$("#skey").val();
param += "&cat="+$("#cat").val();
param += "&is_mediatype="+$("#media_type").val();
param += "&t="+l;

if(sdate!="" && edate!=""){
	param += "&d1="+sdate+"&d2="+edate;	
	param +="&is_sentiment="+$("#is_sentiment").val();
} else {	
	$("#is_sentiment").val("");
	param +="&d1="+$("#from").val()+"&d2="+$("#to").val();
	param +="&is_sentiment="+$("#is_sentiment").val();
}
	
App.blockUI({target:"#sentiment",boxed:!0});

//var formData = $("#form").serialize();

$.ajax({  
	type: "GET",
	url: '/analis/ajaxhome/sentiment?'+param,
	data: formData, //last_id kita berarti 15
	dataType: "html",  //sesuai keinginan, di sini saya pengen ngambil langsung data dalam bentuk html langsung dari file data_per_load.php
	success: function(data){
		// console.log(data);
		$("#sentiment").html(data);
		App.unblockUI("#sentiment");
	}
});

}
function getTrendline(sdate="",edate=""){

App.blockUI({target:"#trendline",boxed:!0});

var formData = {};
var param ="";
param +="&skey="+$("#skey").val();
param += "&cat="+$("#cat").val();
param += "&is_mediatype="+$("#media_type").val();

if(sdate!="" && edate!=""){
	// console.log("t");
	param += "&d1="+sdate+"&d2="+edate;	
	param +="&is_sentiment="+$("#is_sentiment").val();
} else {
	// console.log("f");
	$("#is_sentiment").val("");
	param +="&d1="+$("#from").val()+"&d2="+$("#to").val();
	param +="&is_sentiment="+$("#is_sentiment").val();
}	

// console.log(param);

$.ajax({  
	type: "GET",
	url: '/alertsystemmodul/index/trendline?'+param,
	data: formData, //last_id kita berarti 15
	dataType: "html",  //sesuai keinginan, di sini saya pengen ngambil langsung data dalam bentuk html langsung dari file data_per_load.php
	success: function(data){
		// console.log(data);
		$("#trendline").html(data);
		App.unblockUI("#trendline");
	}
});

}
function getLatest(l,sdate="",edate=""){

App.blockUI({target:"#l_"+l,boxed:!0});

// var formData = $("#form").serialize();
var formData = {};
var param = "";
param +="";
param +="l="+l;
param +="&skey="+$("#skey").val();
param += "&cat="+$("#cat").val();
param += "&is_mediatype="+$("#media_type").val();

if(sdate!="" && edate!=""){
	param += "&d1="+sdate+"&d2="+edate;	
	param +="&is_sentiment="+$("#is_sentiment").val();
} else {	
	$("#is_sentiment").val("");
	param +="&d1="+$("#from").val()+"&d2="+$("#to").val();
	param +="&is_sentiment="+$("#is_sentiment").val();
}

$.ajax({  
	type: "GET",
	url: '/analis/ajaxhome/latest?'+param,
	data: formData, //last_id kita berarti 15
	dataType: "html",  //sesuai keinginan, di sini saya pengen ngambil langsung data dalam bentuk html langsung dari file data_per_load.php
	success: function(data){
		 // console.log(data);
		$("#l_"+l).html(data);
		App.unblockUI("#l_"+l);
	}
});
	
	
}
function getExtract(me){
	
App.blockUI({target:"#div-extract",boxed:!0});

var formData = {}
var param = "";
param +="&entity="+$(me).data("entity");;
param +="&id="+$(me).data("id");;

$.ajax({  
	type: "GET",
	url: '/analis/ajaxhome/extract?'+param,
	data: formData, //last_id kita berarti 15
	dataType: "html",  //sesuai keinginan, di sini saya pengen ngambil langsung data dalam bentuk html langsung dari file data_per_load.php
	success: function(data){
		 // console.log(data);
		$("#div-extract").html(data);
		App.unblockUI("#div-extract");
	}
});
}
jQuery(document).ready(function(){
	
  var UIExtendedModals3 = function () {
    return {
        //main function to initiate the module
        init: function () {
            // general settings
            $.fn.modal.defaults.spinner = $.fn.modalmanager.defaults.spinner = 
            '<div class="loading-spinner" style="width: 200px; margin-left: -100px;">' +
            '<div class="progress progress-striped active">' +
            '<div class="progress-bar" style="width: 100%;"></div>' +
            '</div>' +
            '</div>';
            $.fn.modalmanager.defaults.resize = true;
            //static demo:
            var $modal3 = $('#media_modal');
            // handle record edit/remove
            $('body').on('click', '#media_new', function() {
              $modal3.modal();     
          });          
            $modal3.on('hide.bs.modal', function (e) {
                $('#processbar').addClass('hidden');   
                $('#alertinfo').addClass('hidden'); 
            });           
            $modal3.on('hidden.bs.modal', function (e) {
                $('#processbar').addClass('hidden');   
                $('#alertinfo').addClass('hidden');
            });
        }
    }; 
  }();	

var param = <?php echo json_encode($this->varams["media_type"]); ?>;
// console.log(param);

$( ".date-picker" ).datepicker({ minDate: -20, maxDate: "+1M +10D" });

/*
getCloud("laporan");
getCloud("digmed");
getCloud("socmed");
// getLapterkini();
getSentiment("");
getTrendline();
getLatest("lap","","");
getLatest("news","","");
getLatest("socmed","","");
*/
UIExtendedModals3.init();   
});
</script>