<style>
.portlet.light {  
     background-color: transparent;
	 color: white; 
}
.portlet.light.navtab {  
     background-color: rgba(12, 29, 43, 0.9);
	 color: white; 
}
.nav-tabs>li.active>a{
  background-color: #203c4a;
  border : 1px solid #203c4a;	
  color : #9eacb4;
}
.nav-tabs
{
 border-bottom:1.88px solid #203c4a;	
}

table.dataTable td.sorting_1, table.dataTable td.sorting_2, table.dataTable td.sorting_3, table.dataTable th.sorting_1, table.dataTable th.sorting_2, table.dataTable th.sorting_3 {
    background: #35383c!important;
}
.dataTables_wrapper .dataTables_length, .dataTables_wrapper .dataTables_filter, 
.dataTables_wrapper .dataTables_info, 
.dataTables_wrapper .dataTables_processing,
 .dataTables_wrapper .dataTables_paginate
{
  color : #1C6EA7;
}
.table-scrollable>.table {
	 background-color:transparent;	 
}
.table-striped>tbody>tr:nth-of-type(odd) {    
    background-color: rgba(39, 76, 95, 0.64);
}
.table-striped>tbody>tr:nth-of-type(even) { 
    background-color: rgba(39, 76, 95, 0.64);
}

table.dataTable tbody tr
{
  background-color : transparent;
}

</style>
<?php  //Zend_Debug::dump($this->media);?>
<div class="page-content" >
	<!-- BEGIN BREADCRUMBS -->
	<div class="breadcrumbs">
		<h1> <?php echo $this->data['figure_name'];?></h1>
		<ol class="breadcrumb">
			<li><a href="/">Home</a></li>
			<li><a href="#">/</a></li>
			<li class="active">Api Key</li>
		</ol>
	</div>
	<!-- END BREADCRUMBS -->
 <!-- BEGIN PAGE BASE CONTENT -->
 
 <div class="row">
    <div class="col-md-12" >
       <!-- START EXAMPLE TABLE PORTLET-->  
       <div class="portlet light navtab" >               
            <ul class="nav nav-tabs">
                 <li class="active">
                     <a href="#portlet_tab_1" data-toggle="tab"> Twitter </a>
                 </li>
                 <li>
                     <a href="#portlet_tab_2" data-toggle="tab"> Youtube </a>
                 </li>
                 <li >
                     <a href="#portlet_tab_3" data-toggle="tab"> Facebook </a>
                 </li>
				<!-- <li>
                     <a href="#portlet_tab_4" data-toggle="tab"> Digital Media </a>
                 </li> -->
             </ul>    			 
			 <div class="tab-content">
                 <div class="tab-pane active" id="portlet_tab_1" >
                     <div class="row">
                       <div class="col-md-4" >			  
	                      <div class="portlet light "  >	
                               <div class="portlet-title">
                                   <div class="caption">
                                       <!--<i class="icon-puzzle font-grey-gallery" ></i>-->																																	
                                       <span class="caption-subject" style="color:white;">Token Properties</span>
                                   </div>
                                   <div class="tools">                                             
                                   </div>
                                    </div>
                                    <div class="portlet-body form">                                        
                                        <form action="/analis/ajax/postapi" id="addconn"  enctype="multipart/form-data" method="post" class="form-horizontal">                                         
                                            <div class="form-body">     
                                                 <div class="form-group">
                                                    <label class="col-md-3 control-label">Consumer Key</label>
                                                    <div class="col-md-9"> 
                                                      <input type="text" name="con_key" class="form-control"  value="">													
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="col-md-3 control-label">Consumer Secret</label>
                                                    <div class="col-md-9">
                                                    <input type="text" name="con_secret" class="form-control"  value=""> </div>
                                                </div> 
                                                <div class="form-group">
                                                    <label class="col-md-3 control-label">Access Token</label>
                                                    <div class="col-md-9">
                                                    <input type="text" name="acc_token" value="" class="form-control" > </div>
                                                </div> 
                                                <div class="form-group">
                                                    <label class="col-md-3 control-label">Access Token Secret</label>
                                                    <div class="col-md-9">
                                                    <input type="text" name="acc_token2" value="" class="form-control"> </div>
                                                </div>                                              
                                                <div class="form-group" style="margin-top:25px;">                        
                                                <button type="submit" class="btn green" style="margin-left:25px;margin-right:5px;">Save</button>
                                                <button type="button" class="btn  del red">Clear</button>
												</div>
                                            </div> 
                                        </form>
                                    </div> 
                                </div>
						</div>										 
		        <div class="col-md-8" style="padding:0px;">	
		          <div class="portlet light "  >
                     <div class="portlet-title">
                         <div class="caption">                         																														
                               <span class="caption-subject " style="color:white;">List of Tokens</span>
					        </div>
					 </div>
                  <div class="portlet-body" >       
                        <table class="table table-striped table-bordered table-hover dataTable no-footer"  id="sample_1"   >
                          <thead>
                            <tr>
							  <th class="gradeX">No</th>
					          <th class="gradeX">Consumer Key</th>
                              <th class="gradeX">Consumer Secret</th>
                              <th class="gradeX">Access Token</th>
                              <th class="gradeX">Access Token Secret</th>                         
                             <th class="gradeX">Action</th>
                            </tr>
                        </thead>
                        <tbody >
						<?php
					$i=1;
 					foreach ($this->api as $v) { ?>
                    <tr style="background-color:#274c5f;opacity: 0.9;">
					    <td><?php echo $i; $i++;?></td>
                        <td ><?php echo $v['consumer_key']; ?></td>
                        <td><?php echo $v['consumer_secret']; ?></td>                       
                        <td><?php echo $v['access_token']; ?></td>
						<td><?php echo $v['access_token_secret']; ?></td>                        
                        <td><a href ="/analis/index/eapi/id/<?php echo $v['id'];?>" class="btn btn-circle btn-sm blue">Edit</a>
						    <a href ="/analis/ajax/delapi/id/<?php echo $v['id'];?>" class="btn btn-circle btn-sm red">Delete</a> 
						</td>
                    </tr>
                    <?php } ?>                             
                         </tbody>
                     </table>
                </div>
               </div>
	        </div>
            </div> 
          </div>
          <div class="tab-pane" id="portlet_tab_2">
                <div class="row">
                       <div class="col-md-4" >			  
	                      <div class="portlet light " >	
                               <div class="portlet-title">
                                   <div class="caption">
                                       <!--<i class="icon-puzzle font-grey-gallery" ></i>-->																																	
                                       <span class="caption-subject" style="color:white;">Token Properties</span>
                                   </div>
                                   <div class="tools">                                             
                                   </div>
                                    </div>
                                    <div class="portlet-body form">                                        
                                        <form class="form-horizontal" id="updating" role="form" novalidate="novalidate">                                           
                                            <div class="form-body">
                                                 <div class="form-group">
                                                    <label class="col-md-3 control-label">Server Key</label>
                                                    <div class="col-md-9"> 
                                                      <input type="text" name="t_name" class="form-control"  value="">													
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="col-md-3 control-label">Channel ID</label>
                                                    <div class="col-md-9">
                                                    <input type="text" name="t_name" class="form-control"  value=""> </div>
                                                </div>
                                                                                           
                                                <div class="form-group" style="margin-top:25px;">                        
                                                <button type="submit" class="btn green" style="margin-left:25px;margin-right:5px;">Save</button>
                                                <button type="button" class="btn  del red">Clear</button>
												</div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
						</div>										 
		        <div class="col-md-8" style="padding:0px;">	
		          <div class="portlet light "  >
                     <div class="portlet-title">
                         <div class="caption">                         																														
                               <span class="caption-subject" style="color:white;">List of Tokens</span>
					        </div>
					 </div>
                  <div class="portlet-body" >       
                        <table class="table table-striped table-bordered table-hover dt-responsive" width="100%" id="sample_2"   >
                          <thead>
                            <tr>
							  <th class="gradeX">No</th>
					          <th class="gradeX">Server Key</th>
                              <th class="gradeX">Channel ID</th>                                               
                             <th class="gradeX">Action</th>
                            </tr>
                        </thead>
                        <tbody >
                             
                         </tbody>
                     </table>
                </div>
               </div>
	        </div>
            </div>             
	     </div>
                 <div class="tab-pane" id="portlet_tab_3">
                     <div class="row">
                       <div class="col-md-4" >			  
	                      <div class="portlet light " >	
                               <div class="portlet-title">
                                   <div class="caption">
                                       <!--<i class="icon-puzzle font-grey-gallery" ></i>-->																																	
                                       <span class="caption-subject" style="color:white;">Token Properties</span>
                                   </div>
                                   <div class="tools">                                             
                                   </div>
                                    </div>
                                    <div class="portlet-body form">                                        
                                        <form class="form-horizontal" id="updating" role="form" novalidate="novalidate">                                           
                                            <div class="form-body">
                                                 <div class="form-group">
                                                    <label class="col-md-3 control-label">Server Key</label>
                                                    <div class="col-md-9"> 
                                                      <input type="text" name="t_name" class="form-control"  value="">													
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="col-md-3 control-label">Facebook Account</label>
                                                    <div class="col-md-9">
                                                    <input type="text" name="t_name" class="form-control"  value=""> </div>
                                                </div>
                                                                                           
                                                <div class="form-group" style="margin-top:25px;">                        
                                                <button type="submit" class="btn green" style="margin-left:25px;margin-right:5px;">Save</button>
                                                <button type="button" class="btn  del red">Clear</button>
												</div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
						</div>										 
		        <div class="col-md-8" style="padding:0px;">	
		          <div class="portlet light "  >
                     <div class="portlet-title">
                         <div class="caption">                         																														
                               <span class="caption-subject " style="color:white;">List of Tokens</span>
					        </div>
					 </div>
                  <div class="portlet-body" >       
                        <table class="table table-striped table-bordered table-hover dt-responsive" width="100%" id="sample_3"   >
                          <thead>
                            <tr>
							  <th class="gradeX">No</th>
					          <th class="gradeX">Server Key</th>
                              <th class="gradeX">Facebook Account</th>                                               
                             <th class="gradeX">Action</th>
                            </tr>
                        </thead>
                        <tbody >
                             
                         </tbody>
                     </table>
                </div>
               </div>
	        </div>
            </div>    
                 </div>
				 <div class="tab-pane" id="portlet_tab_4">
                      <div class="row">
                       <div class="col-md-4" >			  
	                      <div class="portlet light " >	
                               <div class="portlet-title">
                                   <div class="caption">
                                       <!--<i class="icon-puzzle font-grey-gallery" ></i>-->																																	
                                       <span class="caption-subject" style="color:white;">Token Properties</span>
                                   </div>
                                   <div class="tools">                                             
                                   </div>
                                    </div>
                                    <div class="portlet-body form">                                        
                                        <form class="form-horizontal" id="updating" role="form" novalidate="novalidate">                                           
                                            <div class="form-body">
                                                 <div class="form-group">
                                                    <label class="col-md-3 control-label">Server Key</label>
                                                    <div class="col-md-9"> 
                                                      <input type="text" name="t_name" class="form-control"  value="">													
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="col-md-3 control-label">CX</label>
                                                    <div class="col-md-9">
                                                    <input type="text" name="t_name" class="form-control"  value=""> </div>
                                                </div>
												<div class="form-group">
                                                    <label class="col-md-3 control-label">Media Channel</label>
                                                    <div class="col-md-9">
                                                    <input type="text" name="t_name" class="form-control"  value=""> </div>
                                                </div>
												<div class="form-group">
                                                    <label class="col-md-3 control-label">Keyword(s)</label>
                                                    <div class="col-md-9">
                                                    <input type="text" name="t_name" class="form-control"  value=""> </div>
                                                </div>
                                                                                           
                                                <div class="form-group" style="margin-top:25px;">                        
                                                <button type="submit" class="btn green" style="margin-left:25px;margin-right:5px;">Save</button>
                                                <button type="button" class="btn  del red">Clear</button>
												</div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
						</div>										 
		        <div class="col-md-8" style="padding:0px;">	
		          <div class="portlet light "  >
                     <div class="portlet-title">
                         <div class="caption">                         																														
                               <span class="caption-subject" style="color:white;">List of Tokens</span>
					        </div>
					 </div>
                  <div class="portlet-body" >       
                        <table class="table table-striped table-bordered table-hover dt-responsive" width="100%" id="sample_4"   >
                          <thead>
                            <tr>
							  <th class="gradeX">No</th>
					          <th class="gradeX">Server Key</th>
                              <th class="gradeX">CX</th>   
                              <th class="gradeX">Media Channel</th>
                              <th class="gradeX">Keyword(s)</th>  							  
                             <th class="gradeX">Action</th>
                            </tr>
                        </thead>
                        <tbody >     
                             
                         </tbody>
                     </table>
                </div>
               </div>
	        </div>
            </div>    
                 </div>
             </div>
  		 
    
		  

         </div>
        </div>
    </div>
</div>

<script>
jQuery(document).ready(function() {
        $('span.help-block').hide();
       var table = $('#sample_1');	     
       var oTable = table.dataTable({
            // Internationalisation. For more info refer to http://datatables.net/manual/i18n
            "language": {
                "aria": {
                    "sortAscending": ": activate to sort column ascending",
                    "sortDescending": ": activate to sort column descending"
                },
                "emptyTable": "No data available in table",
                "info": "Showing _START_ to _END_ of _TOTAL_ entries",
                "infoEmpty": "No entries found",
                "infoFiltered": "(filtered1 from _MAX_ total entries)",              
                "zeroRecords": "No matching records found"
            },
            // Or you can use remote translation file
            //"language": {
            //   url: '//cdn.datatables.net/plug-ins/3cfcc339e89/i18n/Portuguese.json'
            //},
            // setup buttons extentension: http://datatables.net/extensions/buttons/
            buttons: [              
            ],
			
            // setup responsive extension: http://datatables.net/extensions/responsive/
            responsive: {
                details: {
                }
            },
            "order": [
            [0, 'asc']
            ],           
            "lengthMenu": [
            [5, 10, 15, 20, -1],
                [5, 10, 15, 20, "All"] // change per page values here
                ],
            // set the initial value
            "pageLength": 5,  
            "dom": "<'row' <'col-md-12'B>><'row'<'col-md-6 col-sm-12'l><'col-md-6 col-sm-12'f>r><'table-scrollable't><'row'<'col-md-5 col-sm-12'i><'col-md-7 col-sm-12'p>>", // horizobtal scrollable datatable
            // Uncomment below line("dom" parameter) to fix the dropdown overflow issue in the datatable cells. The default datatable layout
            // setup uses scrollable div(table-scrollable) with overflow:auto to enable vertical scroll(see: assets/global/plugins/datatables/plugins/bootstrap/dataTables.bootstrap.js). 
            // So when dropdowns used the scrollable div should be removed. 
            //"dom": "<'row' <'col-md-12'T>><'row'<'col-md-6 col-sm-12'l><'col-md-6 col-sm-12'f>r>t<'row'<'col-md-5 col-sm-12'i><'col-md-7 col-sm-12'p>>",
        });
		
	   var table2 = $('#sample_2');	     
       var oTable = table2.dataTable({
            // Internationalisation. For more info refer to http://datatables.net/manual/i18n
            "language": {
                "aria": {
                    "sortAscending": ": activate to sort column ascending",
                    "sortDescending": ": activate to sort column descending"
                },
                "emptyTable": "No data available in table",
                "info": "Showing _START_ to _END_ of _TOTAL_ entries",
                "infoEmpty": "No entries found",
                "infoFiltered": "(filtered1 from _MAX_ total entries)",              
                "zeroRecords": "No matching records found"
            },
            // Or you can use remote translation file
            //"language": {
            //   url: '//cdn.datatables.net/plug-ins/3cfcc339e89/i18n/Portuguese.json'
            //},
            // setup buttons extentension: http://datatables.net/extensions/buttons/
            buttons: [              
            ],
            // setup responsive extension: http://datatables.net/extensions/responsive/
            responsive: {
                details: {
                }
            },
            "order": [
            [0, 'asc']
            ],           
            "lengthMenu": [
            [5, 10, 15, 20, -1],
                [5, 10, 15, 20, "All"] // change per page values here
                ],
            // set the initial value
            "pageLength": 5,  
            "dom": "<'row' <'col-md-12'B>><'row'<'col-md-6 col-sm-12'l><'col-md-6 col-sm-12'f>r><'table-scrollable't><'row'<'col-md-5 col-sm-12'i><'col-md-7 col-sm-12'p>>", // horizobtal scrollable datatable
            // Uncomment below line("dom" parameter) to fix the dropdown overflow issue in the datatable cells. The default datatable layout
            // setup uses scrollable div(table-scrollable) with overflow:auto to enable vertical scroll(see: assets/global/plugins/datatables/plugins/bootstrap/dataTables.bootstrap.js). 
            // So when dropdowns used the scrollable div should be removed. 
            //"dom": "<'row' <'col-md-12'T>><'row'<'col-md-6 col-sm-12'l><'col-md-6 col-sm-12'f>r>t<'row'<'col-md-5 col-sm-12'i><'col-md-7 col-sm-12'p>>",
        });
		
		var table3 = $('#sample_3');	     
       var oTable = table3.dataTable({
            // Internationalisation. For more info refer to http://datatables.net/manual/i18n
            "language": {
                "aria": {
                    "sortAscending": ": activate to sort column ascending",
                    "sortDescending": ": activate to sort column descending"
                },
                "emptyTable": "No data available in table",
                "info": "Showing _START_ to _END_ of _TOTAL_ entries",
                "infoEmpty": "No entries found",
                "infoFiltered": "(filtered1 from _MAX_ total entries)",              
                "zeroRecords": "No matching records found"
            },
            // Or you can use remote translation file
            //"language": {
            //   url: '//cdn.datatables.net/plug-ins/3cfcc339e89/i18n/Portuguese.json'
            //},
            // setup buttons extentension: http://datatables.net/extensions/buttons/
            buttons: [              
            ],
            // setup responsive extension: http://datatables.net/extensions/responsive/
            responsive: {
                details: {
                }
            },
            "order": [
            [0, 'asc']
            ],           
            "lengthMenu": [
            [5, 10, 15, 20, -1],
                [5, 10, 15, 20, "All"] // change per page values here
                ],
            // set the initial value
            "pageLength": 5,  
            "dom": "<'row' <'col-md-12'B>><'row'<'col-md-6 col-sm-12'l><'col-md-6 col-sm-12'f>r><'table-scrollable't><'row'<'col-md-5 col-sm-12'i><'col-md-7 col-sm-12'p>>", // horizobtal scrollable datatable
            // Uncomment below line("dom" parameter) to fix the dropdown overflow issue in the datatable cells. The default datatable layout
            // setup uses scrollable div(table-scrollable) with overflow:auto to enable vertical scroll(see: assets/global/plugins/datatables/plugins/bootstrap/dataTables.bootstrap.js). 
            // So when dropdowns used the scrollable div should be removed. 
            //"dom": "<'row' <'col-md-12'T>><'row'<'col-md-6 col-sm-12'l><'col-md-6 col-sm-12'f>r>t<'row'<'col-md-5 col-sm-12'i><'col-md-7 col-sm-12'p>>",
        });
		
		var table4 = $('#sample_4');	     
       var oTable = table4.dataTable({
            // Internationalisation. For more info refer to http://datatables.net/manual/i18n
            "language": {
                "aria": {
                    "sortAscending": ": activate to sort column ascending",
                    "sortDescending": ": activate to sort column descending"
                },
                "emptyTable": "No data available in table",
                "info": "Showing _START_ to _END_ of _TOTAL_ entries",
                "infoEmpty": "No entries found",
                "infoFiltered": "(filtered1 from _MAX_ total entries)",              
                "zeroRecords": "No matching records found"
            },
            // Or you can use remote translation file
            //"language": {
            //   url: '//cdn.datatables.net/plug-ins/3cfcc339e89/i18n/Portuguese.json'
            //},
            // setup buttons extentension: http://datatables.net/extensions/buttons/
            buttons: [              
            ],
            // setup responsive extension: http://datatables.net/extensions/responsive/
            responsive: {
                details: {
                }
            },
            "order": [
            [0, 'asc']
            ],           
            "lengthMenu": [
            [5, 10, 15, 20, -1],
                [5, 10, 15, 20, "All"] // change per page values here
                ],
            // set the initial value
            "pageLength": 5,  
            "dom": "<'row' <'col-md-12'B>><'row'<'col-md-6 col-sm-12'l><'col-md-6 col-sm-12'f>r><'table-scrollable't><'row'<'col-md-5 col-sm-12'i><'col-md-7 col-sm-12'p>>", // horizobtal scrollable datatable
            // Uncomment below line("dom" parameter) to fix the dropdown overflow issue in the datatable cells. The default datatable layout
            // setup uses scrollable div(table-scrollable) with overflow:auto to enable vertical scroll(see: assets/global/plugins/datatables/plugins/bootstrap/dataTables.bootstrap.js). 
            // So when dropdowns used the scrollable div should be removed. 
            //"dom": "<'row' <'col-md-12'T>><'row'<'col-md-6 col-sm-12'l><'col-md-6 col-sm-12'f>r>t<'row'<'col-md-5 col-sm-12'i><'col-md-7 col-sm-12'p>>",
        });
		
		});
		</script>
		

