<?php
$request = Zend_Controller_Front::getInstance()->getRequest();
$params = $request->getParams();
// Zend_Debug::dump($params['msg']);
?>

<style>
/* 
Search Page
***/

/* general search form */
.search-form-default {
  margin-bottom:25px;
  background:#f0f6fa;
  padding:12px 14px;
}

/*search classic*/

.search-classic {
  margin-bottom:30px;
}

.search-classic h4 {
  margin-bottom:3px;
}

.overflow-hidden {
  overflow:hidden;
}

/*Booking Offer*/
.booking-offer {
  position: relative;
}

.booking-offer .booking-offer-in {
  top: 15px;
  left: 15px;
  right: 15px;
  color: #fff;
  padding: 15px;
  position: absolute;
  background: url(../../img/bg-opacity.png);
}

.booking-offer .booking-offer-in em {
  font-size: 14px;
  font-style: normal;
}

.booking-offer .booking-offer-in p {
  color: #fff;
  font-size: 14px;
  margin-bottom: 0;
}

.booking-offer .booking-offer-in span {
  font-size: 22px;
  display: block;
  margin-bottom: 10px;
}

.booking-app {
  margin-bottom: 10px;
}

.booking-app a {
  color: #fff;
  padding: 15px;
  display: block;
  overflow: hidden;
  background: #78ccf8;  
}

.booking-app a:hover {
  background: #4d90fe;
  text-decoration: none;
}

.booking-app span {
  top: 0px;
  color: #fff;
  font-size: 20px;
  position: relative;
}

.booking-app i {
  color: #fff;
  font-size: 40px;
  line-height: 18px;
}

/*Booking Blocks (Content)*/
.booking-results {
  margin-top: 20px;
}

.booking-result {
  overflow: hidden;
}

.booking-img {
  
}

 .booking-img .price-location li {
  color: #777;
}

 .booking-img .price-location li i {
  color: #78ccf8;
  font-size: 12px;
  margin-right: 5px;
}

.booking-result .booking-img img {
  float: left;
  width: 140px;
  height: auto;
  margin: 3px 10px 10px 0;
}

.booking-info .stars {
  padding: 0;
  margin: 0 0 5px 0;
}

 .booking-info .stars li {
  padding: 0;
}

 .booking-info .stars li i {
  color: #f8be2c;
  cursor: pointer;
  font-size: 16px;
}

.booking-result .booking-info h2 {
  margin-top: 2px;
  font-size: 20px;
  line-height: 20px;
}




@media (max-width: 768px) {

  .booking-results,
  .search-classic {
    margin-top: 0;
  }

  .booking-result,
  .search-classic {
    padding-bottom: 5px;
    border-bottom: 1px solid #ddd;
    margin: 15px 0;
  }

}

.page-content {
  margin-top: 10px;
  padding: 10px;
  background-image: url('/assets/core/img/back.png');
  background-repeat: x;
  opacity: 2; 
}
</style>


		<div class="page-content">
			<!-- BEGIN SAMPLE PORTLET CONFIGURATION MODAL FORM-->
			<div class="modal fade" id="portlet-config" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
							<h4 class="modal-title">Modal title</h4>
						</div>
						<div class="modal-body">
							 Widget settings form goes here
						</div>
						<div class="modal-footer">
							<button type="button" class="btn blue">Save changes</button>
							<button type="button" class="btn default" data-dismiss="modal">Close</button>
						</div>
					</div>
					<!-- /.modal-content -->
				</div>
				<!-- /.modal-dialog -->
			</div>
			<!-- /.modal -->
			<!-- END SAMPLE PORTLET CONFIGURATION MODAL FORM-->
			<!-- BEGIN STYLE CUSTOMIZER -->
			<!--<div class="theme-panel hidden-xs hidden-sm">
				<div class="toggler">
				</div>
				<div class="toggler-close">
				</div>
				<div class="theme-options">
					<div class="theme-option theme-colors clearfix">
						<span>
							THEME COLOR
						</span>
						<ul>
							<li class="color-black current color-default" data-style="default">
							</li>
							<li class="color-blue" data-style="blue">
							</li>
							<li class="color-brown" data-style="brown">
							</li>
							<li class="color-purple" data-style="purple">
							</li>
							<li class="color-grey" data-style="grey">
							</li>
							<li class="color-white color-light" data-style="light">
							</li>
						</ul>
					</div>
					<div class="theme-option">
						<span>
							Layout
						</span>
						<select class="layout-option form-control input-small">
							<option value="fluid" selected="selected">Fluid</option>
							<option value="boxed">Boxed</option>
						</select>
					</div>
					<div class="theme-option">
						<span>
							Header
						</span>
						<select class="header-option form-control input-small">
							<option value="fixed" selected="selected">Fixed</option>
							<option value="default">Default</option>
						</select>
					</div>
					<div class="theme-option">
						<span>
							Sidebar
						</span>
						<select class="sidebar-option form-control input-small">
							<option value="fixed">Fixed</option>
							<option value="default" selected="selected">Default</option>
						</select>
					</div>
					<div class="theme-option">
						<span>
							Sidebar Position
						</span>
						<select class="sidebar-pos-option form-control input-small">
							<option value="left" selected="selected">Left</option>
							<option value="right">Right</option>
						</select>
					</div>
					<div class="theme-option">
						<span>
							Footer
						</span>
						<select class="footer-option form-control input-small">
							<option value="fixed">Fixed</option>
							<option value="default" selected="selected">Default</option>
						</select>
					</div>
				</div>
			</div>-->
			<!-- END STYLE CUSTOMIZER -->
			<!-- BEGIN PAGE HEADER-->
			<div class="row">
				<div class="col-md-12">
					<!-- BEGIN PAGE TITLE & BREADCRUMB-->
					<h3 class="page-title">
					Update Alert <small>Alert</small>
					</h3>
					<ul class="page-breadcrumb breadcrumb">
						<li class="btn-group">
							<!--<button type="button" class="btn blue dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-delay="1000" data-close-others="true">
							<span>
								Actions
							</span>
							<i class="fa fa-angle-down"></i>
							</button>-->
<!--
							<ul class="dropdown-menu pull-right" role="menu">
								<li>
									<a href="#">Action</a>
								</li>
								<li>
									<a href="#">Another action</a>
								</li>
								<li>
									<a href="#">Something else here</a>
								</li>
								<li class="divider">
								</li>
								<li>
									<a href="#">Separated link</a>
								</li>
							</ul>
-->
						</li>
						<li>
							<i class="fa fa-home"></i>
							<a href="index.html">Home</a>
							<i class="fa fa-angle-right"></i>
						</li>
						<li>
							<i class="fa fa-edit"></i>
							<a href="#">Alert</a>
							<i class="fa fa-angle-right"></i>
						</li>
						<li>
							<i class="fa fa-edit"></i>
							<a href="#">Update Alert</a>
							<i class="fa fa-angle-right"></i>
						</li>
					</ul>
					<!-- END PAGE TITLE & BREADCRUMB-->
				</div>
			</div>
			

			<!-- END PAGE HEADER-->
			<!-- BEGIN PAGE CONTENT-->
			<div class="row">
			<div class="col-md-12" id='notif'>
				 <?php if (isset($params['msg']) && $params['msg']!="") { ?>
				  <div class="alert alert-info">
				  <?php  echo $params['msg'];?> 
				  </div>
				 <?php } ?>
				 </div>
				<div class="col-md-6">
					<div class="tabbable tabbable-custom tabbable-half-width">
						<ul class="nav nav-tabs">
							<li class="active">
								<a data-toggle="tab" href="#tab_2_2">Update Alert</a>
							</li>
<!--
							<li>
								<a data-toggle="tab" href="#tab_1_3">Search Content</a>
							</li>
							<li>
								<a data-toggle="tab" href="#tab_1_4">Search Documents</a>
							</li>
							<li>
								<a data-toggle="tab" href="#tab_1_5">User Search </a>
							</li>
-->
						</ul>
						<div class="tab-content">
							<div id="tab_2_2" class="tab-pane active">
								<div class="row">
									<div class="col-md-12">
										<div class="booking-search">
											<form action="#" method=post  id="update_alrt" method="post">
												<div class="form-group">
													<label for="req_name">NAMA PROJECT
													</label><input type="text" name="req_name" placeholder="" id="req_name" class="form-control " value="<?php echo $this->rows['req_name'];?>" readonly><span class="help-block" style="display: none;">
														
													</span>
													</div>
													<div class="form-group">
													<label for="target">TARGET</label>
													<input id="target" name="target"  class="datepicker form-control" value="<?php echo $this->rows['target_implementasi'];?>" readonly><span class="help-block" style="display: none;"></input>
													</span>
													</div>
												<div class="form-group">
													<label for="alertidesc">DESKRIPSI ALERT
													</label><textarea rows="9" type="text" name="alertidesc" placeholder="" id="alertidesc" class="wysihtml5 form-control"value="<?php echo $this->rows['alertidesc'];?>"></textarea><span class="help-block" style="display: none;"> 
													</span>
														</div>
												<button type="submit" id="submit" class="btn blue btn-block searchingall margin-top-10">Submit </button>
											</form>
										</div>
									</div>
									<!--end booking-search-->
									<div class="col-md-4">
										
									</div>
									<!--end col-md-4-->
								</div>
								
								<!--start-->
								<span id="result-search">
									
									<!--end-->
			
								</span>
								
							</div>
							<!--end tab-pane-->
							<div id="tab_1_3" class="tab-pane">
								<div class="row search-form-default">
									<div class="col-md-12">
										<form class="form-inline" action="#">
											<div class="input-group">
												<div class="input-cont">
													<input type="text" placeholder="Search..." class="form-control"/>
												</div>
												<span class="input-group-btn">
													<button type="button" class="btn green">
													Search &nbsp; <i class="m-icon-swapright m-icon-white"></i>
													</button>
												</span>
											</div>
										</form>
									</div>
								</div>
								
								<div class="margin-top-20">
									<ul class="pagination">
										<li>
											<a href="#">Prev</a>
										</li>
										<li>
											<a href="#">1</a>
										</li>
										
										<li>
											<a href="#">Next</a>
										</li>
									</ul>
								</div>
							</div>
							<!--end tab-pane-->
							<div id="tab_1_4" class="tab-pane">
								<div class="row search-form-default">
									<div class="col-md-12">
										<form class="form-inline" action="#">
											<div class="input-group">
												<div class="input-cont">
													<input type="text" placeholder="Search..." class="form-control"/>
												</div>
												<span class="input-group-btn">
													<button type="button" class="btn green">
													Search &nbsp; <i class="m-icon-swapright m-icon-white"></i>
													</button>
												</span>
											</div>
										</form>
									</div>
								</div>
								
								<div class="table-responsive">
									
									
								</div>
								<div class="margin-top-20">
									<ul class="pagination">
										<li>
											<a href="#">Prev</a>
										</li>
										
										<li>
											<a href="#">Next</a>
										</li>
									</ul>
								</div>
							</div>
							<!--end tab-pane-->
							<div id="tab_1_5" class="tab-pane">
								<div class="row search-form-default">
									<div class="col-md-12">
										<form class="form-inline" action="#">
											<div class="input-group">
												<div class="input-cont">
													<input type="text" placeholder="Search..." class="form-control"/>
												</div>
												<span class="input-group-btn">
													<button type="button" class="btn green">
													Search &nbsp; <i class="m-icon-swapright m-icon-white"></i>
													</button>
												</span>
											</div>
										</form>
									</div>
								</div>
								<div class="table-responsive">
									
								</div>
								<div class="margin-top-20">
									<ul class="pagination">
										<li>
											<a href="#">Prev</a>
										</li>
										<li>
											<a href="#">1</a>
										</li>
										<li>
											<a href="#">2</a>
										</li>
										<li class="active">
											<a href="#">3</a>
										</li>
										<li>
											<a href="#">4</a>
										</li>
										<li>
											<a href="#">5</a>
										</li>
										<li>
											<a href="#">Next</a>
										</li>
									</ul>
								</div>
							</div>
							<!--end tab-pane-->
						</div>
					</div>
				</div>
				<!--end tabbable-->
			</div>
			<!-- END PAGE CONTENT-->
		</div>



<script>
	
jQuery(document).ready(function() {
$('body').addClass('page-header-fixed page-sidebar-fixed page-footer-fixed');

$('span.help-block').hide();

var Search = function () {

    return {
        //main function to initiate the module
        init: function () {
            if (jQuery().datepicker) {
                $('.date-picker').datepicker();
            }

            App.initFancybox();
        }

    };

}();



var SearchingTab = function () {

	var handleAdd = function() {
		
		$('form#search4all').validate({
	            //errorElement: 'span', //default input error message container
	            //errorClass: 'help-block', // default input error message class
	            focusInvalid: false, // do not focus the last invalid input
	            rules: {
	                sqltext: {
	                    required: true
	                }
	            },

	            messages: {
					
	            },

	            invalidHandler: function (event, validator) { 
				
					$('span.help-block').hide();
	                var errorlist = validator.errorList;
	                if(errorlist.length>0){
						for(var i = 0; i<errorlist.length; i++){
							//console.log(errorlist[i].element);
							var el = errorlist[i].element; 
							var next = $(el).next('span.help-block'); 
							$(next).slideDown();
						}
						$('.modal-scrollable:visible').animate({
							scrollTop: $(el).offset().top
						}, 800);
					}
	            },

	            highlight: function (element) { // hightlight error inputs
	                $(element)
	                    .closest('.form-group').addClass('has-error'); // set error class to the control group
	            },

	            success: function (label) {
	                label.closest('.form-group').removeClass('has-error');
	                //label.remove();
	            },

	            errorPlacement: function (error, element) {
					$('span.help-block').hide();
					var next = element.next('span.help-block'); 
					//console.log(error);
	                if(error[0].textContent!=""){
						$(next).children('span.label').html("<i class='fa fa-warning'></i> "+ error[0].textContent);
						$(element).next().slideDown();
						$('.modal-scrollable:visible').animate({
							scrollTop: $(element).offset().top
						}, 800);
					}
	            },

	            submitHandler: function (form) {
					$('#alertinfo').addClass('hidden');
					$('span.help-block').hide();
					$('.form-group').removeClass('has-error');
	                //form.submit(); // form validation success, call ajax form submit
	                submitForm();
	                return false;
	            }
	        });

	        $('form#search4all input').keypress(function (e) {
	            if (e.which == 13) {
					$('span.help-block').hide();
					$('.form-group').removeClass('has-error');
	                if ($('form#search4all').validate().form()) {
	                   //$('form#addapi').submit(); //form validation success, call ajax form submit
	                   submitForm();
	                }
	                return false;
	            }
	        });
	}
	
	var submitForm = function(){
		//console.log($('form#addapi').serialize());
		$.ajax({
			url:"/mgt/prabigtech/ajaxsearchall",
			content:'json',
			//type:'get',
			data:$('form#search4all').serialize(),
			beforeSend:function(){
				$('#alertinfo').addClass('hidden');
				$('#processbar').removeClass('hidden');
				
				//$('.modal-scrollable:visible').animate({
				//	scrollTop: $('#formtitle').offset().top
				//}, 800);
				$('#alertinfo').removeClass('alert-success');
				$('#alertinfo').removeClass('alert-warning');
				$('#alertinfo').removeClass('alert-danger');
				$('#alertinfo').removeClass('alert-info');
			},
			complete:function(result){
				$('#processbar').addClass('hidden');
			},
			success: function(data){
				//console.log(data);
				if(data.result!=undefined){
					if(data.result==true){
						//alert("ok");
						$('#alertinfo').addClass('alert-success');
						$('#result-search').html(data.data);
						//resetForm();
					}else{
						$('#alertinfo').addClass('alert-warning');
						$('#alertmsg').html("<strong>Failed!</strong> "+data.retMsg);
					}
				}else{
					$('#alertinfo').addClass('alert-info');
					$('#alertmsg').html("<strong>Error!</strong> System is busy, please try again.");
				}
				$('#alertinfo').removeClass('hidden');
				
			},
			error:function(){
				$('#alertinfo').addClass('alert-info');
				$('#alertmsg').html("<strong>Error!</strong> System is busy, please try again.");
				$('#alertinfo').removeClass('hidden');
			}
		});
	}
	
	

	var resetForm = function(){
		//$('input','form#addapi')
			//.not(':button, :submit, :reset, :hidden')
			//.val('');
			
		$('select,option','form#search4all')
			//.removeAttr('checked')
		    //.removeAttr('selected');
		
		$('.make-switch').bootstrapSwitch('setState',false);
		
		$('.ms-selectable').find('li').removeClass('ms-selected');
		$('.ms-selection').find('li').removeClass('ms-hover');
		$('.ms-selectable').find('li').removeAttr('style');
		
		$('.ms-selection').find('li').removeClass('ms-selected');
		$('.ms-selection').find('li').removeClass('ms-hover');
		$('.ms-selection').find('li').css({display:'none'});
	}
    
    return {
        //main function to initiate the module
        init: function () {
            handleAdd();
        }

    };

}();

Functcreate_content.init();
 if ($('.wysihtml5').size() > 0) {
            $('.wysihtml5').wysihtml5({
                "stylesheets": ["/assets/core//plugins/bootstrap-wysihtml5/wysiwyg-color.css"]
            });
        }
		
Functcreate_content.init();
  if ($('.datepicker').size() > 0) {
             $('.datepicker').datepicker({
                 "stylesheets": ["/assets/core/plugins/bootstrap-datepicker/css/datepicker.css"],
				 format: 'yyyy-mm-dd'
             });
         }
		
	App.init();
	Search.init();
	SearchingTab.init();
});




</script>
