<?php 
#Zend_Debug::dump($this->forms);die();
$icons =array(
'png'=>'gnome-graphics.png',
'jpeg'=>'gnome-graphics.png',
'jpg'=>'gnome-graphics.png',
'gif'=>'gnome-graphics.png',
'doc'=>'openofficeorg.png',
'docx'=>'openofficeorg.png',
''=>'image-missing.png',
'pdf'=>'pdf.png',
'rar'=>'mkrar.png',
'7z'=>'mkrar.png',
'zip'=>'mkrar.png',
'XLS'=>'kspread.png',
'xls'=>'kspread.png',
'xlsx'=>'kspread.png',
'sql'=>'sqlitebrowser.png',
'wsdl'=>'sqlitebrowser.png',
'xml'=>'sqlitebrowser.png',
'php'=>'dashcode.png',
'js'=>'dashcode.png',
'chm'=>'addressbook.png',
'ppt'=>'ooo-impress.png',
'pptx'=>'ooo-impress.png',
'htm'=>'web-browser.png',
'html'=>'web-browser.png',
);

//Zend_Debug::dump($this->files['attachment']); die();
#Zend_Debug::dump($this->rows);die();

$total = count($this->data);
$tfile= 0;
$tweight= 0;
foreach ($this->data as $v) {
	$tweight = $tweight + $v['cumweight'];

}
?>


<style>

.easyPieChart {
    position: relative;
    text-align: center;
}

.easyPieChart canvas {
    position: absolute;
    top: 0;
    left: 0;
}

</style>


		<div class="page-content">
			<div class="row">
	<div class="col-md-12">
		<!-- BEGIN PAGE TITLE & BREADCRUMB-->
		<h3 class="page-title">
		Add/Update New Content <small>PrabaCore</small>
		</h3>
		<ul class="page-breadcrumb breadcrumb">
			<li>
				<i class="fa fa-rss"></i>
				<a href="/">PrabaCore</a>
				<i class="fa fa-angle-right"></i>
			</li>
			<li>
				<i class="fa fa-cogs"></i>
				<a href="/">Prabaeditor</a>
				<i class="fa fa-angle-right"></i>
			</li>
			
			<li>
				<i class="fa fa-user"></i>
				Add/Update New Content Solution Management			</li>
			<!--li class="btn-group pull-right">
				<button type="button" class="btn red">
					<span>
				YOSEP MYS					</span>
				</button>
			</li-->
		</ul>
		<!-- END PAGE TITLE & BREADCRUMB-->
	</div>
</div>
			<div class="row ">
				<div class="col-md-6">
							<div class="top-news">
								<a href="#" class="btn red">
								<span>
									<?php echo $this->rows['req_name'];?> </em>
								</span>
									
								</a>
							</div>
							<div class="news-blocks">
								<div class="news-block-tags">
									<strong>Deskripsi</strong>
								</div>
								<p>
									
								<?php echo $this->rows['req_descr'];?>
								</p>
								<div class="news-block-tags">
									<strong>Deliverable & benefits</strong>
								</div>
								<p>
								<?php echo $this->rows['req_deriverable'];?>
								</p>
								<div class="news-block-tags">
									<strong>Segmen</strong>
								</div>
								<p>
								<?php echo $this->rows['segment'];?>
								</p>
								<div class="news-block-tags">
									<strong>Corporate Customer</strong>
								</div>
								<p>
								<?php echo $this->rows['corporate_customer'];?>
								</p>
								<div class="news-block-tags">
									<strong>PIC DES</strong>
								</div>
								<p>
								<?php echo $this->rows['pic_segment'];?>
								</p>
								<div class="news-block-tags">
									<strong>AM SEGMEN</strong>
								</div>
								<p>
								<?php echo $this->rows['am_segment'];?>
								</p>
								<div class="news-block-tags">
									<strong>Estimasi Revenue</strong>
								</div>
								<p>
								<?php echo $this->rows['est_revenue'];?>
								</p>	
								<div class="news-block-tags">
									<strong>Estimasi Revenue</strong>
								</div>
								<p>
								<?php echo $this->rows['est_revenue'];?>
								</p>
								<div class="news-block-tags">
									<strong>Tipe Bidding</strong>
								</div>
								<p>
								<?php echo $this->rows['type_bidding'];?>
								</p>
								<div class="news-block-tags">
									<strong>Attachment</strong>
								</div>
								<p>
									
								<?php 
								if($this->files['attachment'][0]['http_url']!="") {
								echo "<a href='".$this->files['attachment'][0]['http_url']."' >".$this->files['attachment'][0]['fname']."</a>"; 
								}
								?>
								</p>
							</div>
							
							<div class="portlet box grey tabbable">
							<?php
							echo $this->partial('typecontent/formelement.phtml', array('data'=>$this->forms['data'], 'params'=>$this->forms['varams'],
							'initial'=>$this->forms['initial']));
							?>	

					</div>
					
						</div>
				<div class="col-md-6 col-sm-6">
				
					<!-- BEGIN SAMPLE TABLE PORTLET-->
					<div class="portlet box purple">
						<div class="portlet-title">
							<div class="caption">
								<i class="fa fa-comments"></i>RESOURCE
							</div>
							<div class="tools">
								<a href="javascript:;" class="collapse"></a>
								<a href="#portlet-config" data-toggle="modal" class="config"></a>
								<a href="javascript:;" class="reload"></a>
								<a href="javascript:;" class="remove"></a>
							</div>
						</div>
						<div class="portlet-body">
							<div class="table-responsive">
								<table class="table table-striped table-hover">
								<thead>
								<tr>
									<th>
										NIK
									</th>
									<th>
										NAMA
									</th>
									<th>
										COUNT ASSIGN AS PIC
									</th>
									<th>
										COUNT IN COLLABORATION TEAM
									</th>
									
									<th>
										TOTAL
									</th>
								</tr>
								</thead>
								<tbody>
								<?php 	
								$t=0;
								foreach ($this->pic as $v){
								$t =  (int)$v['cnt'] + (int)$this->picass[$v['id']]['cnt'];
								
								echo '<tr><td>'.$v['uname'].'</td><td>'.$v['fullname'].'</td><td>'.$v['cnt'].' </td><td>'.$this->picass[$v['id']]['cnt'].'</td><td>'.$t.'</td></tr>';
								}
								?>
									
								</tbody>
								</table>
							</div>
						</div>
				
					<!-- END SAMPLE TABLE PORTLET-->
				</div>
				
				</div>
				</div>
				
				<div class="col-md-4 ">
				
				</div>
				
			</div>
			

	
			
			<!-- END PAGE CONTENT-->
		</div>



<script>




	
jQuery(document).ready(function() {
$('body').addClass('page-header-fixed page-sidebar-fixed page-footer-fixed');
$('span.help-block').hide();


App.init();


});




</script>
