<?php 

	$auth = Zend_Auth::getInstance();
	$identity = $auth->getIdentity();
		
		
foreach ($this->pics as $z) {
	$npic[$z['name']][] =$z;	
}		
// Zend_Debug::dump($this->pics); die();		
$icons =array(
'png'=>'gnome-graphics.png',
'jpeg'=>'gnome-graphics.png',
'jpg'=>'gnome-graphics.png',
'gif'=>'gnome-graphics.png',
'doc'=>'openofficeorg.png',
'docx'=>'openofficeorg.png',
''=>'image-missing.png',
'pdf'=>'pdf.png',
'rar'=>'mkrar.png',
'7z'=>'mkrar.png',
'zip'=>'mkrar.png',
'XLS'=>'kspread.png',
'xls'=>'kspread.png',
'xlsx'=>'kspread.png',
'sql'=>'sqlitebrowser.png',
'wsdl'=>'sqlitebrowser.png',
'xml'=>'sqlitebrowser.png',
'php'=>'dashcode.png',
'js'=>'dashcode.png',
'chm'=>'addressbook.png',
'ppt'=>'ooo-impress.png',
'pptx'=>'ooo-impress.png',
'htm'=>'web-browser.png',
'html'=>'web-browser.png',
);

//Zend_Debug::dump($this->files); die();
#Zend_Debug::dump($this->rows);die();

$total = count($this->data);
$tfile= 0;
$tweight= 0;
foreach ($this->data as $v) {
	$tweight = $tweight + $v['cumweight'];

}
?>


<style>
.page-content {
  margin-top: 10px;
  padding: 10px;
  background-image: url('/assets/core/img/back.png');
  background-repeat: x;
  opacity: 2; 
}

.easyPieChart {
    position: relative;
    text-align: center;
}

.easyPieChart canvas {
    position: absolute;
    top: 0;
    left: 0;
}

</style>


		<div class="page-content">
			<div class="row">
	<div class="col-md-12">
		<!-- BEGIN PAGE TITLE & BREADCRUMB-->
		<h3 class="page-title">
		Collaboration  <small>update</small>
		</h3>
		<ul class="page-breadcrumb breadcrumb">
		
			<li>
				<i class="fa fa-home"></i>
				<a href="/">Home</a>
				<i class="fa fa-angle-right"></i>
			</li>
			<li>
				<a href="#">Collaboration Update</a>
				<i class="fa fa-angle-right"></i>
			</li>
			
		</ul>
		<!-- END PAGE TITLE & BREADCRUMB-->
	</div>
</div>
			<div class="row">
			<div class="col-md-8">
					<!-- BEGIN SAMPLE TABLE PORTLET-->
					<div class="portlet box purple">
						<div class="portlet-title">
							<div class="caption">
								<i class="fa fa-comments"></i>COLLABORATION TEAM
								
							</div>
							<div class="tools">
								<a href="javascript:;" class="collapse"></a>
								<a href="#portlet-config" data-toggle="modal" class="config"></a>
								<a href="javascript:;" class="reload"></a>
								<a href="javascript:;" class="remove"></a>
							</div>
						</div>
						<div class="portlet-body">
							<div class="table-responsive">
							
								<table id="tabx" class="table table-hover">
								<thead>
								<form>	
								<tr>
									<th>
									</th>
									<th>
										<input type="text" size=4 class="form-control-small" id="ID" name="ID" placeholder="ID">
									</th>
									<th>
										<input type="text" class="form-control-small" id="username" name="username" placeholder="Username">
									</th>
									<th>
										<input type="text" class="form-control-small" id="fullname" name="fullname" placeholder="Fullname">
									</th>
									<th>
										<input type="text" class="form-control-small" id="hp" name="hp" placeholder="HP">
									</th>
								
									<th>
											<input type="text" class="form-control-small" id="unit" name="unit" placeholder="Unit">
									</th>
								</tr>
								</form>	
								<tr>
									<th>
										#
									</th>
									<th>
										ID
									</th>
									<th>
										USERNAME
									</th>
									<th>
										FULLNAME	
									</th>
									<th>
										HP
									</th>
								
									<th>
										Unit
									</th>
								</tr>
								</thead>
								<tbody>
								<?php 
								$i=1;
								foreach ($this->pics as $v) {
								
								if ($v['uid'] == $v['initiator_uid']){
								echo '<tr style = "background-color : white"> ';
								}else{
									echo '<tr style = "background-color : orange"> ';
									
								}	 
									echo '
									<td>'.$i.'</td> 
									<td>'.$v['uid'].'</td>
									<td><a href="/admin/manageuser/uname/'.$v['uid'].'" />'.$v['uname'].'</a></td>
									
									<td>'.$v['fullname'].'</td>
									<td>'.$v['mobile_phone'].'</td>
								
								
									<td>'.$v['name'].'</td>
									
									
									
									</tr>';
									$i++;
								}
								?>
								
								
								</tbody>
								</table>
							</div>
						</div>
					</div>
					<!-- END SAMPLE TABLE PORTLET-->
				</div>
				
					
					<?php 
					
					/*
					if(in_array(143, $identity->roles)||in_array(141, $identity->roles)||in_array(146, $identity->roles)) { 
					*/
					if($this->varams['auth']==1) {
					?>
					
					
						
						<div class="col-md-4 ">
					<!-- BEGIN Portlet PORTLET-->
					<div class="portlet box red">
						<div class="portlet-title">
							<div class="caption">
								<i class="fa fa-reorder"></i>UPDATE COLLABORATION TEAM 
							</div>
							
						</div>
						<div class="portlet-body">
							
						
						<form role="form" id="addpic"  method="post">
							<input type="hidden"  name="id" value="<?php echo (int)$this->varams['d']; ?>">
								<div class="form-body">
									<div class="form-group">
										<label for="exampleInputEmail1">List</label>
										<select  name="get_api[]" id="get_api" class="form-control" placeholder="Add Team" multiple>
										<?php
										
										foreach ($this->allpic as $k=>$z) {
											
											echo "<optgroup label='".$k."'>";	
												
													foreach ($z as $f) {
															$sel="";
													if((in_array($f['uid'], $this->pic))){$sel="selected";}	
													echo "<option ".$sel." value='".$f['uid']."'>".$f['fullname']."|".$f['uname']."|".$f['name']."</option>";
													}
											echo  '</optgroup>';
										}
										?>
										</select>
						
										<span class="help-block">
											
										</span>
									</div>
								
								<div class="form-actions">
									<button type="submit" class="btn blue">Update</button>
									
								</div>
							
						</form>	
							
						</div>
					</div>
					<!-- END Portlet PORTLET-->
				</div>
				<?php } ?>
			</div>	
		</div>



<script>
var xhr_chat=null;



	
jQuery(document).ready(function() {
$('body').addClass('page-header-fixed page-sidebar-fixed page-footer-fixed');
$('span.help-block').hide();


var oTable = $('#tabx').dataTable({
                "aLengthMenu": [
                    [10,50, 200, 500 -1],
                    [10,50, 200, 500, "All"] // change per page values here
                ],
                "iDisplayLength": 10,
                "sPaginationType": "bootstrap_full_number",
                "oLanguage": {
                    "sProcessing": '<i class="fa fa-coffee"></i>&nbsp;Please wait...',
                    "sLengthMenu": "_MENU_ records",
                    "oPaginate": {
                        "sPrevious": "Prev",
                        "sNext": "Next"
                    },
				"sSearch": "Search all columns:"
                },
                "aoColumnDefs": [{
                        'bSortable': false,
                        'aTargets': [0]
                    }
                ]

  });

$('#tabx_filter').hide();
  
$("input#ID").keyup( function () {
			/* Filter on the column (the index) of this element */
			oTable.fnFilter( this.value, 1 );
} );


$("input#username").keyup( function () {
			/* Filter on the column (the index) of this element */
			oTable.fnFilter( this.value, 2 );
} );



$("input#fullname").keyup( function () {
			/* Filter on the column (the index) of this element */
			oTable.fnFilter( this.value, 3 );
} );


$("input#hp").keyup( function () {
			/* Filter on the column (the index) of this element */
			oTable.fnFilter( this.value, 4 );
} );


$("input#unit").keyup( function () {
			/* Filter on the column (the index) of this element */
			oTable.fnFilter( this.value, 5 );
} );



var EditApi = function () {
	
	var handleAdd = function() {

		$('form#addpic').validate({
	            //errorElement: 'span', //default input error message container
	            //errorClass: 'label-danger', // default input error message class
	            focusInvalid: false, // do not focus the last invalid input
	            rules: {
	                get_api: {
	                    //required: true
	                },
	                //title: {
	                    //required: true
	                //}
	            },
	         

	            messages: {
					
	            },

	            invalidHandler: function (event, validator) { //display error alert on form submit   
	                //$('.alert-danger', $('.login-form')).show();
	                //console.log(event);
	                //console.log(validator);
	                
					//$('span.help-block').show();
					$('span.help-block').hide();
	                var errorlist = validator.errorList;
	                if(errorlist.length>0){
						for(var i = 0; i<errorlist.length; i++){
							//console.log(errorlist[i].element);
							var el = errorlist[i].element; 
							var next = $(el).next('span.help-block'); 
							$(next).slideDown();
						}
						$('html,body').animate({
							scrollTop: $(el).offset().top-100
						}, 800);
					}
	            },

	            highlight: function (element) { // hightlight error inputs
	                $(element)
	                    .closest('.form-group').addClass('has-error'); // set error class to the control group
	            },

	            success: function (label) {
	                label.closest('.form-group').removeClass('has-error');
	                //label.remove();
	            },

	            errorPlacement: function (error, element) {
					$('span.help-block').hide();
					var next = element.next('span.help-block'); 
					//console.log(error);
	                if(error[0].textContent!=""){
						$(next).html("<i class='fa fa-warning'></i> "+ error[0].textContent);
						$(element).next().slideDown();
						$('html,body').animate({
							scrollTop: $(element).offset().top-100
						}, 800);
					}
	            },

	            submitHandler: function (form) {
					$('span.help-block').hide();
					$('.form-group').removeClass('has-error');
	                //form.submit(); // form validation success, call ajax form submit
	                submitForm();
	                return false;
	            }
	        });

	        $('form#addpic input').keypress(function (e) {
	            if (e.which == 13) {
					$('span.help-block').hide();
					$('.form-group').removeClass('has-error');
	                if ($('form#addpic').validate().form()) {
	                   //$('form#addapi').submit(); //form validation success, call ajax form submit
	                   submitForm();
	                }
	                return false;
	            }
	        });
	}
	
	var submitForm = function(){
		
	
		//console.log($('form#addapi').serialize());
		$.ajax({
			url:"/prabigtech/addpic",
			content:'json',
			type:'post',
			data:$('form#addpic').serialize(),
			beforeSend:function(){
				//alert("1");
			},
			complete:function(result){
			
			},
			success: function(data){
				 location.reload(); 
				//console.log(data);
				
			},
			error:function(){
				
			}
		});
	}
	
	

	var resetForm = function(){
		$('input','form#addpic')
			.not(':button, :submit, :reset, :hidden')
			.val('');
			
		$('select,option','form#addapi')
			.removeAttr('checked')
			.removeAttr('selected');
		
		$('.make-switch').bootstrapSwitch('setState',false);
		
		$('.ms-selectable').find('li').removeClass('ms-selected');
		$('.ms-selection').find('li').removeClass('ms-hover');
		$('.ms-selectable').find('li').removeAttr('style');
		
		$('.ms-selection').find('li').removeClass('ms-selected');
		$('.ms-selection').find('li').removeClass('ms-hover');
		$('.ms-selection').find('li').css({display:'none'});
	}
    
    return {
        //main function to initiate the module
        init: function () {
            handleAdd();
        }

    };

}();

App.init();
EditApi.init();
$('#get_api').select2();


});




</script>
