<?php 

	// Zend_Debug::dump($this->files); //die();

	$auth = Zend_Auth::getInstance();
	$identity = $auth->getIdentity();
	$roles = $identity->roles;
	  // Zend_Debug::dump($roles); 
	// die();
		

		
foreach ($this->pics as $z) {
	$npic[$z['name']][] =$z;	
}		
//Zend_Debug::dump($npic); die();		
$icons =array(
'png'=>'gnome-graphics.png',
'jpeg'=>'gnome-graphics.png',
'jpg'=>'gnome-graphics.png',
'gif'=>'gnome-graphics.png',
'doc'=>'openofficeorg.png',
'docx'=>'openofficeorg.png',
''=>'image-missing.png',
'pdf'=>'pdf.png',
'rar'=>'mkrar.png',
'7z'=>'mkrar.png',
'zip'=>'mkrar.png',
'XLS'=>'kspread.png',
'xls'=>'kspread.png',
'xlsx'=>'kspread.png',
'sql'=>'sqlitebrowser.png',
'wsdl'=>'sqlitebrowser.png',
'xml'=>'sqlitebrowser.png',
'php'=>'dashcode.png',
'js'=>'dashcode.png',
'chm'=>'addressbook.png',
'ppt'=>'ooo-impress.png',
'pptx'=>'ooo-impress.png',
'htm'=>'web-browser.png',
'html'=>'web-browser.png',
);

//Zend_Debug::dump($this->files); die();
// Zend_Debug::dump($this->rows);die();

$total = count($this->data);
$tfile= 0;
$tweight= 0;
foreach ($this->data as $v) {
	$tweight = $tweight + $v['cumweight'];

}
// Zend_Debug::dump($this->rows);
?>

<!--<link rel="stylesheet" href="https://cdn.datatables.net/1.10.12/css/jquery.dataTables.min.css">-->
<!--<link rel="stylesheet" href="https://cdn.datatables.net/buttons/1.2.1/css/buttons.dataTables.min.css">-->






<style>
.page-content {
  margin-top: 10px;
  padding: 10px;
  background-image: url('/assets/core/img/back.png');
  background-repeat: x;
  opacity: 2; 
}

.easyPieChart {
    position: relative;
    text-align: center;
}

.easyPieChart canvas {
    position: absolute;
    top: 0;
    left: 0;
}
.portlet-tabs > .tab-content {
	
min-height:270px;	
}

.form-group {
     margin-bottom: 5px; 
}
</style>


<div class="page-content">
	<div class="row">
		<div class="col-md-12">
			<!-- BEGIN PAGE TITLE & BREADCRUMB-->
			<h3 class="page-title">
			Detail Solution  <small><?php echo $this->rows['req_name'];?> </em></small>
			</h3>
			<ul class="page-breadcrumb breadcrumb">
			
				<li>
					<i class="fa fa-home"></i>
					<a href="#">Home</a>
					<i class="fa fa-angle-right"></i>
				</li>
				<li>
					<a href="#">List Solution</a>
					<i class="fa fa-angle-right"></i>
				</li>
				<li>
					<a href="#">Detail Solution</a>
				</li>
			</ul>
			<!-- END PAGE TITLE & BREADCRUMB-->
		</div>
	</div>

			
	<div class="row ">
		<div class="col-md-8">
			<div class="portlet box purple">
				<div class="portlet-title">
					<div class="caption">
						<i class="fa fa-comments"></i><?php echo $this->rows['req_name'];?>
					</div>
					<div class="tools">
						<a href="javascript:;" class="collapse"></a>
						<a href="#portlet-config" data-toggle="modal" class="config"></a>
						<a href="javascript:;" class="reload"></a>
						<a href="javascript:;" class="remove"></a>
					</div>
				</div>
				
				<div class="portlet-body form">
					<form class="form-horizontal">
						<div class="form-body">
							<!--<div class="form-group">
								<label class="col-md-3 control-label"><strong>ID</strong></label>
								<div class="col-md-9">
									<input type="text" class="form-control input-sm" value="<?php echo $this->rows['unik'] ."" .$this->rows['sid'];?>" disabled="true"  >
								</div>
							</div>-->
							<div class="form-group">
								<label class="col-md-3 control-label"><strong>TICKET NAME</strong></label>
								<div class="col-md-9">
									<input type="text" class="form-control input-sm" value="<?php echo $this->rows['req_name'];?>" disabled="true"  >
								</div>
							</div>
							<div class="form-group">
								<label class="col-md-3 control-label"><strong>PRODUK</strong></label>
								<div class="col-md-9">
									<input type="text" class="form-control input-sm" value="<?php echo $this->rows['produk'];?>" disabled="true"  >
								</div>
							</div>
							<div class="form-group">
								<label class="col-md-3 control-label"><strong>CUSTOMER</strong></label>
								<div class="col-md-9">
									<input type="text" class="form-control input-sm" value="<?php echo $this->rows['customer'];?>" disabled="true"  >
								</div>
							</div>
							<div class="form-group">
								<label class="col-md-3 control-label"><strong>HISTORY</strong></label>
								<div class="col-md-9">
									<input type="text" class="form-control input-sm" value="<?php echo $this->rows['history'];?>" disabled="true"  >
								</div>
							</div>
							<!--<div class="form-group">
								<label class="col-md-3 control-label"><strong>URGENSI PEJABAT TERKAIT</strong></label>
								<div class="col-md-9">
									<input type="text" class="form-control input-sm" value="<?php echo $this->rows['urgensi'];?>" disabled="true"  >
								</div>
							</div>
							<div class="form-group">
								<label class="col-md-3 control-label"><strong>DESKRIPSI</strong></label>
								<div class="col-md-9">
									<span class="form-control" style="height:100px; background:#F4F4F4;overflow-y: scroll"><?php echo $this->rows['req_descr'];?></span>
								</div>
							</div>							
							<div class="form-group">
								<label class="col-md-3 control-label"><strong>SEGMEN</strong></label>
								<div class="col-md-9">
									<input type="text" class="form-control input-sm" value="<?php echo $this->rows['segment'];?>" disabled="true"  >
								</div>
							</div>
							<div class="form-group">
								<label class="col-md-3 control-label"><strong>AM SEGMEN</strong></label>
								<div class="col-md-9">
									<input type="text" class="form-control input-sm" value="<?php echo $this->rows['am_segment'];?>" disabled="true"  >
								</div>
							</div>
						
							<div class="form-group">
								<label class="col-md-3 control-label"><strong>SE SEGMEN</strong></label>
								<div class="col-md-9">
									<input type="text" class="form-control input-sm" value="<?php echo $this->rows['pic_segment'];?>" disabled="true"  >
								</div>
							</div>
							<div class="form-group">
								<label class="col-md-3 control-label"><strong>PIC</strong></label>
								<div class="col-md-9">
									<input type="text" class="form-control input-sm" value="<?php echo $this->rows['fullname'];?>" disabled="true"  >
								</div>
							</div>
							<div class="form-group">
								<label class="col-md-3 control-label"><strong>ESTIMASI REVENUE</strong></label>
								<div class="col-md-9">
									<input type="text" class="form-control input-sm" value="<?php echo $this->rows['est_revenue'];?>" disabled="true"  >
								</div>
							</div>
								<div class="form-group">
								<label class="col-md-3 control-label"><strong>REQUEST DELIVERABLE & BENEFIT</strong></label>
								<div class="col-md-9">
									<span class="form-control" style="height:100px; background:#F4F4F4;overflow-y: scroll"><?php echo $this->rows['req_deriverable'];?></span>
								</div>
							</div>				
							<div class="form-group">
								<label class="col-md-3 control-label"><strong>TIPE BIDDING</strong></label>
								<div class="col-md-9">
									<input type="text" class="form-control input-sm" value="<?php echo $this->rows['type_bidding'];?>" disabled="true"  >
								</div>
							</div>
							<div class="form-group">
								<label class="col-md-3 control-label"><strong>TARGET IMPLEMENTASI</strong></label>
								<div class="col-md-9">
									<input type="text" class="form-control input-sm" value="<?php echo $this->rows['target_implementasi'];?>" disabled="true"  >
								</div>
							</div>
							<div class="form-group">
								<label class="col-md-3 control-label"><strong>SKEMA BISNIS</strong></label>
								<div class="col-md-9">
									<input type="text" class="form-control input-sm" value="<?php echo $this->rows['skema_bisnis'];?>" disabled="true"  >
								</div>
							</div>
							<div class="form-group">
							<?php
							if (in_array(143, $roles)) {
								echo '<label class="col-md-3 control-label"><strong>AJUAN TIPE SOLUSI</strong></label>&nbsp;'; 
								}else{
									echo '<label class="col-md-3 control-label"><strong> TIPE SOLUSI</strong></label>&nbsp;';
								}
								?>
								<div class="col-md-9">
									<input type="text" class="form-control input-sm" value="<?php echo $this->rows['type_solution_propose'];?>" disabled="true"  >
								</div>
							</div>
							<div class="form-group">
								<label class="col-md-3 control-label"><strong>CORPORATE CUSTOMER</strong></label>
								<div class="col-md-9">
									<input type="text" class="form-control input-sm" value="<?php echo $this->rows['corporate_customer'];?>" disabled="true"  >
								</div>
							</div>
							<div class="form-group">
								<label class="col-md-3 control-label"><strong>CUMEMU</strong></label>
								<div class="col-md-9">
									<span class="form-control" style="height:100px; background:#F4F4F4;overflow-y: scroll"><?php echo $this->rows['cumemu'];?></span>
								</div>
							</div>
							<div class="form-group">
								<label class="col-md-3 control-label"><strong>INITIATOR</strong></label>
								<div class="col-md-9">
									<input type="text" class="form-control input-sm" value="<?php echo $this->rows['initiator'];?>" disabled="true"  >
								</div>
							</div>	-->						
							<div class="form-group">
								<label class="col-md-3 control-label"><strong>ATTACHMENT REQUEST</strong></label>
								<div class="col-md-9">
									<p>											
										<?php 
										
										foreach ($this->files['attachment'] as $v) {
										if($v['http_url']!="") {
										echo "<a href='".$v['http_url']."' >".$v['fname']."</a><br>"; 
											}
										}
										?>
									</p>
								</div>
							</div>
							<?php if(count($this->files['file_peta_peran'])>0){
								?>
							<div class="form-group">
								<label class="col-md-3 control-label"><strong>DOKUMEN FINAL</strong></label>
								<div class="col-md-9">  
									<p>											
										<?php 
										
										foreach ($this->files['file_peta_peran'] as $v) {
										if($v['http_url']!="") {
										echo "<a href='".$v['http_url']."' >".$v['fname']."</a><br>"; 
											}
										}
										?>
									</p>
								</div>
							</div>
							<?php }?>
						</div>
					</form>						
				</div>				
			</div>					
		</div>
		
		<div class="col-md-4">
			<div class="portlet box red">
				<div class="portlet-title">
					<div class="caption">
						<i class="fa fa-reorder"></i>Status
					</div>				
				</div>
				
				<div class="portlet-body">
					<div style="padding:10px; font-size:20px;">
						<i class="fa fa-angle-right"></i>
					
						<?php 
						
						
						echo ($this->rows['phase_status']=="")? $vstat = "Filtering" : $vstat = $this->rows['phase_status'];
						if($this->rows['closed_status']!="") {
							echo "&nbsp-".$this->rows['closed_status'];
						}
						?>
						
						<br>
						<div> <h5><i class="fa fa-angle-right"></i> Keterangan : <?php echo $this->rows['cat_status'];?></h5></div>
				
					</div>
					<div class="portlet-body">
						<div class="table-responsive">
							<div style="padding-left:20px;">
								<table class="table table-striped table-hover">
									<thead>
										<tr>
										<th>
											Tanggal
										</th>
										<th>
											Agenda
										</th>
										<th>
											
										</th>
										</tr>
									</thead>
									<tbody>
										<?php foreach ($this->desc as $v) { ?>	
										<?php 
										// Zend_Debug::dump($v);die();?>
										<tr>
											<td><?php echo $v['c_date'];?></td>
											<td><?php echo $v['agenda'];?></td>
											<td>
												<a data-toggle="modal" href="#modal_detailstatus" onclick="loadDetailStatus" data-target=""><i></i>Detil</a>
												
											</td>
										</tr>
										<?php  } ?>										
									</tbody>
								</table>
							</div>
						</div>
					
						<?php 
						//echo $this->rows['cat_status']; 
						?>
					</div>
	
					<div style="margin-top:20px; margin-left:10%;"> <i>
						
						<?php if($this->authpic==1 && $this->rows['phase_status']!='Closed') { ?>
						<a href="/mgt/prabigtech/dashlevel3/d/<?php echo $this->varams['d'];?>"  class="btn yellow">Update</a>&nbsp;&nbsp;&nbsp;
						<?php  } ?>last updated <?php echo $this->rows['vchanged']; ?></i>
								
					</div>
				</div>
			</div>
		</div>
				
		<!--BEGIN TEAM-->
		<div class="col-md-4">				
			<div class="portlet box red">
				<div class="portlet-title">
					<div class="caption">
						<i class="fa fa-reorder"></i>Team
					</div>				
				</div>				
				<div class="portlet-body">					
					<div style="padding:10px; font-size:20px;">

						<?php 
						foreach ($npic as $k=>$zz) {
						echo "	<i class='fa fa-angle-right'></i>" .$k .":" . count($npic[$k])."<br>";

						}
						?>
						
					</div>					
					<div style="float:right;margin-top:-25px">							
						<a class="more" href="/mgt/prabigtech/collab/d/<?php echo $this->rows['sid'];?>/auth/<?php echo  $this->authpic;?>">				
						<button type="button" class="btn yellow">Collaboration</button> 
						</a>						
					</div>
				</div>
			</div>
		</div>
		<!--END TEAM-->	

				<!--BEGIN TEAM-->
		<!--<div class="col-md-4">				
			<div class="portlet box red">
				<div class="portlet-title">
					<div class="caption">
						<i class="fa fa-reorder"></i>Issue Alert
					</div>				
				</div>				
				<div class="portlet-body">					
					<div style="padding:10px; font-size:20px;">
					
							<div> <h4><i class="fa fa-angle-right"></i> Alert : <?php echo $this->rows['alertidesc'];?></h4></div>
							
							
						<?php 
						// foreach ($this->rows as $v) {
						// echo "<i class='fa fa-angle-right'></i>".$v['alertdesc']."<br>";

						// }
						?>
						
					</div>					
					<div style="float:right;margin-top:-25px">
					
					<?php
					if (in_array(141, $roles)) {
								echo '<a href="/mgt/prabigtech/alertdash/d/'.$this->rows['sid'].'" class="btn yellow">Update</a>&nbsp;'; 
								}else{
									echo '';
									
								}
					
					?>
					
													
			
						<button type="button"  href="/mgt/prabigtech/dash1" class="btn yellow">Update</button>
												
					</div>
				</div>
			</div>
		</div>-->
		<!--END TEAM-->	

					
		<?php
		echo $this->partial('prabigtech/momelement.phtml', array('data'=>$this->mom, 'params'=>$this->varams, "authmom"=>$this->authmom));
		?>	
						
		<div class="col-md-8">	
			<div class="portlet box blue tabbable">
				<div class="portlet-title">					
					<div class="caption">
						<i class="fa fa-reorder"></i>FILES & DOCUMENTS	
					</div>
				</div>
				<div class="portlet-body">
					<div class=" portlet-tabs">
						<ul class="nav nav-tabs">
							<li class="">
								<a href="#portlet_tab4" data-toggle="tab">Dokumen Final</a>
							</li>
							<!--<li class="">
								<a href="#portlet_tab3" data-toggle="tab">Dok Solusi</a>
							</li>-->
							<li >
								<a href="#portlet_tab1" data-toggle="tab">Attachment</a>
							
							</li>
							<li>
								<a href="#portlet_tab2"  class="active" data-toggle="tab">Dok Pendukung</a>
							</li>
						</ul>
						<div class="tab-content">								
							<div class="tab-pane active" id="portlet_tab2">
										<?php
									foreach($this->files['pendukung'] as $rr) 
									{
										$fty = explode('.', $rr['fname']);
										$doctype =  max($fty);
									?>			
										<ol id="list">
									   
										<li><div class="media">
										<a class="pull-left">
										<img width="30" class="media-object" src="/assets/core/img/<?php echo $icons[$doctype]; ?> ">
										</a>
										<div class="media-body">
										<div class="media-heading" style="font-size:18px; font-weight:bold;color:#848484">
										<?php echo $rr['fname'];?>&nbsp;&nbsp;<span style="font-size:12px; color:##D8D8D8">(<?php echo $rr['created_date'];?>/<?php echo $rr['fsize']/1000;?>KB)</span>
										</div> 

										<p><?php
										
										 if (unserialize($rr['fdescr'])) {
											echo ""	;
										} else {
											echo $rr['fdescr'];
											
											}	
										 
										 ?></p>

										<a href="/uploader/<?php echo $rr['fname']; ?>">download</a>
										<a class="hapus" rel="<?php echo $rr['fid']; ?>" id="<?php echo $this->rows['sid']; ?>"  href="#">delete</a>
										</div></li>
																						   
																						   
																						   
									 </ol>
											<?php 
											}
										?>
										
										<?php if($this->authmom) { ?>
										
										<?php
											 if (in_array(170, $roles)) {
														 echo ''; 
														 }else{
												 echo '<div class="btn-group margin-bottom-10">
											
											<a class="btn red" href="#basic"  data-toggle="modal" rel="1200">
											
											<i class="fa fa-plus"></i> Add
											
											
											</a>
											
										</div>';
															
												 }
											
											 ?>
										
										<?php } ?>
									</div>
								<div class="tab-pane " id="portlet_tab1">
										
											<ol id="list">										
									<?php
									foreach($this->files['attachment'] as $rr) 
									{
										$fty = explode('.', $rr['fname']);
										$doctype =  max($fty);
									?>			
										
									   
										<li><div class="media">
										<a class="pull-left">
										<img width="30" class="media-object" src="/assets/core/img/<?php echo $icons[$doctype]; ?> ">
										</a>
										<div class="media-body">
										<div class="media-heading" style="font-size:18px; font-weight:bold;color:#848484">
										<?php echo $rr['fname'];?>&nbsp;&nbsp;<span style="font-size:12px; color:##D8D8D8">(<?php echo $rr['created_date'];?>/<?php echo $rr['fsize']/1000;?>KB)</span>
										</div> 

										<p><?php 
										
										if (unserialize($rr['fdescr'])) {
											echo ""	;
										} else {
											echo $rr['fdescr'];
											
											}
										
										
										?></p>

										<a href="/uploader/<?php echo $rr['fname']; ?>">download</a>
										</div></li>
																						   
																						   
																						   
									
											<?php 
											}
										?>				
										<?php
									foreach($this->files['attachment2'] as $rr) 
									{
										$fty = explode('.', $rr['fname']);
										$doctype =  max($fty);
									?>			
										
									   
										<li><div class="media">
										<a class="pull-left">
										<img width="30" class="media-object" src="/assets/core/img/<?php echo $icons[$doctype]; ?> ">
										</a>
										<div class="media-body">
										<div class="media-heading" style="font-size:18px; font-weight:bold;color:#848484">
										<?php echo $rr['fname'];?>&nbsp;&nbsp;<span style="font-size:12px; color:##D8D8D8">(<?php echo $rr['created_date'];?>/<?php echo $rr['fsize']/1000;?>KB)</span>
										</div> 

										<p><?php 
										
										if (unserialize($rr['fdescr'])) {
											echo ""	;
										} else {
											echo $rr['fdescr'];
											
											}
										
										
										?></p>

										<a href="/uploader/<?php echo $rr['fname']; ?>">download</a>
										</div></li>
																						   
																						   
																						   
									
											<?php 
											}
										?>				
										
										<?php
									foreach($this->files['attachment3'] as $rr) 
									{
										$fty = explode('.', $rr['fname']);
										$doctype =  max($fty);
									?>			
										
									   
										<li><div class="media">
										<a class="pull-left">
										<img width="30" class="media-object" src="/assets/core/img/<?php echo $icons[$doctype]; ?> ">
										</a>
										<div class="media-body">
										<div class="media-heading" style="font-size:18px; font-weight:bold;color:#848484">
										<?php echo $rr['fname'];?>&nbsp;&nbsp;<span style="font-size:12px; color:##D8D8D8">(<?php echo $rr['created_date'];?>/<?php echo $rr['fsize']/1000;?>KB)</span>
										</div> 

										<p><?php 
										
										if (unserialize($rr['fdescr'])) {
											echo ""	;
										} else {
											echo $rr['fdescr'];
											
											}
																				
										?></p>

										<a href="/uploader/<?php echo $rr['fname']; ?>">download</a>
										</div></li>
		
											<?php 
											}
										?>				
										 </ol>
																				
									</div>
									<div class="tab-pane" id="portlet_tab3">
										<?php
									foreach($this->files['solusi'] as $rr) 
									{
										$fty = explode('.', $rr['fname']);
										$doctype =  max($fty);
									?>			
										<ol id="list">
									   
										<li><div class="media">
										<a class="pull-left">
										<img width="30" class="media-object" src="/assets/core/img/<?php echo $icons[$doctype]; ?> ">
										</a>
										<div class="media-body">
										<div class="media-heading" style="font-size:18px; font-weight:bold;color:#848484">
										<?php echo $rr['fname'];?>&nbsp;&nbsp;<span style="font-size:12px; color:##D8D8D8">(<?php echo $rr['created_date'];?>/<?php echo $rr['fsize']/1000;?>KB)</span>
										</div> 

										<p><?php
										
										 if (unserialize($rr['fdescr'])) {
											echo ""	;
										} else {
											echo $rr['fdescr'];
											
											}	
										 
										 ?></p>

										<a href="/uploader/<?php echo $rr['fname']; ?>">download</a>
										</div></li>
																						   
																						   
																						   
									 </ol>
											<?php 
											}
										?>
									</div>
									<div class="tab-pane" id="portlet_tab4">
										<?php
									foreach($this->files['file_peta_peran'] as $rr) 
									{
										$fty = explode('.', $rr['fname']);
										$doctype =  max($fty);
									?>			
										<ol id="list">
									   
										<li><div class="media">
										<a class="pull-left">
										<img width="30" class="media-object" src="/assets/core/img/<?php echo $icons[$doctype]; ?> ">
										</a>
										<div class="media-body">
										<div class="media-heading" style="font-size:18px; font-weight:bold;color:#848484">
										<?php echo $rr['fname'];?>&nbsp;&nbsp;<span style="font-size:12px; color:##D8D8D8">(<?php echo $rr['created_date'];?>/<?php echo $rr['fsize']/1000;?>KB)</span>
										</div> 

										<p><?php
										
										 if (unserialize($rr['fdescr'])) {
											echo ""	;
										} else {
											echo $rr['fdescr'];
											
											}	
										 
										 ?></p>

										<a href="/uploader/<?php echo $rr['fname']; ?>">download</a>
										
										<a href="#">delete</a>
										</div></li>
																						   
																						   
																						   
									 </ol>
											<?php 
											}
										?>
													</div>
												</div>
											</div>
										</div>
									</div>					
								</div>					
							</div>					
						</div>					
					</div>					
				</div>					
			</div>					
		</div>					
	</div>					
				
				
					
					
				<!--<div class="col-md-4 col-sm-4">
					<!-- BEGIN PORTLET ---
					<div class="portlet">
						<div class="portlet-title line">
							<div class="caption">
								<i class="fa fa-comments"></i>Chats
							</div>
							<div class="tools">
								<a href="" class="collapse"></a>
								<a href="#portlet-config" data-toggle="modal" class="config"></a>
								<a href="" class="reload"></a>
								<a href="" class="remove"></a>
							</div>
						</div>
						<div class="portlet-body" id="chats">
							<div class="row" id="loader_portlet_chat" style="margin-top:100px;">
								<div class="col-md-offset-3 col-md-6" style="text-align:center">
									<div class="progress progress-striped active" style="margin-bottom:0px">
										<div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
											<span class="sr-only">
												100% Complete
											</span>
										</div>
									</div>
								</div>
							</div>

							<div id="data_chat" class="scroller" style="height: 300px;" data-always-visible="1" data-rail-visible1="1">
								
							</div>
							<div class="chat-form">
								<div class="input-cont">
									<form id="formchat" />
									<input class="form-control" name="msg" type="text" placeholder="Type a message here..."/>
									<input  name="idsol" type="hidden" value="<?php echo $this->varams['d'];?>" />
									</form>
								</div>
								<div class="btn-cont">
									<span class="arrow">
									</span>
									<a href="" class="btn blue icn-only"><i class="fa fa-check icon-white"></i></a>
								</div>
							</div>
						</div>
					</div>-->
					<!-- END PORTLET-->
				</div>
				
			</div>
			
<div id="modal_upload"></div>

<div class="modal fade in" id="basic" tabindex="-1" role="basic" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
			</div>
			
			<div class="modal-body">
				<div class="portlet box white">
					<div class="portlet-title">
						<div class="caption">
							<i class="fa fa-reorder"></i><font color="black"> Add File & Documents</font>
						</div>
						<div class="actions"></div>
					</div>
					<form role="form" id="doc_upload" enctype="multipart/form-data" action="/mgt/prabadoc/upload" method="post">
						<input type="hidden"  name="id" value="<?php echo (int)$this->varams['d']; ?>">
						<div class="form-body">
							<div class="form-group">
								<label for="doc_path" class="required">Upload File:</label>
								
								<input type="hidden" class="form-control" name="MAX_FILE_SIZE" value="50048576" id="MAX_FILE_SIZE">
								<input type="file" name="doc_path" id="doc_path">
							</div>
							<div class="form-group">
								<label for="caption" class="optional">Description:</label>
								<input type="text" class="form-control" name="caption" id="caption" value="" size="50">
							</div>
							<div class="form-group">
								<input type="submit" name="submit" id="submitbutton" value="Upload File">
							</div>
						</div>
					</form>
					<!--form id="doc_upload" enctype="multipart/form-data" action="/pemilu/upload"  method="post"><dl class="zend_form">
					<dt id="doc_path-label"><label for="doc_path" class="required">Upload File:</label></dt>
					<dd>
					<input type="hidden" name="MAX_FILE_SIZE" value="1048576" id="MAX_FILE_SIZE">
					<input type="file" name="doc_path" id="doc_path"></dd>
					<dt id="caption-label"><label for="caption" class="optional">Description:</label></dt>
					<dd id="caption-element">
					<input type="text" name="caption" id="caption" value="" size="50"></dd>
					<dt id="submit-label">&nbsp;</dt><dd id="submit-element">
					<input type="submit" name="submit" id="submitbutton" value="Upload File"></dd></dl></form-->
				</div>
			</div>
		</div>		
	</div>		
	<!-- END PAGE CONTENT-->
</div>

<div class="modal fade" id="modal_detailstatus" tabindex="-1" data-width="1100" data-height="500">
	<div class="modal-dialog modal-full">
		<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
					<!--h4 class="modal-title"> Detail Status </h4-->
				</div>
				
			<div class="modal-body">
				<div class="portlet box grey">
					<div class="portlet-title">
						<div class="caption">
							<i class="fa fa-reorder"></i>Detail Status 
						</div>
						<div class="actions"></div>
					</div>
					<div class="portlet-body">
						<input type="hidden" name="h_phase1" id="h_phase1" value="">
							
						<div class="table-scrollable">
						<!--<table id="tabx" class="table table-striped table-hover">-->
						
							<table id="tabxx" class="table table-striped table-bordered table-hover display nowrap"  > 
								<thead> 
									<tr>
										<th style="text-align:center"> Tanggal </th>
										<th style="text-align:center"> Agenda </th>
										<th style="text-align:center"> Summary </th>
										<th style="text-align:center"> Action Plan </th>
										<th style="text-align:center"> Evidence</th>
										
									</tr>
								</thead> 
								<tbody> 
									<tr>
										<td><?php echo $v['c_date'];?></td>
										<td><?php echo $v['agenda'];?></td>
										<td><?php echo $v['summary'];?></td>
										<td><?php echo $v['action_plan'];?></td>
										<td><?php foreach ($v['files'] as  $v2) {
										 echo '<a href="'.$v2['http_url'].'">'.$v2['fname'].'</a><br>';} ?></td>
										
									</tr>	
								</tbody> 
							</table>	
						</div>
					</div>
				</div>
				
				<div class="modal-footer">
					<button type="button" class="btn default" data-dismiss="modal"> Close </button>
				</div>
			</div>
		</div>
	</div>
</div>
		
<script>
var xhr_chat=null;
function portlet_chat(){
	
	if (xhr_chat != undefined && xhr_chat != null){
		xhr_chat.abort();
		
	}
	
	$("#loader_portlet_chat").show();
	$('#data_chat').html('');
	
	xhr_chat = $.get(
		'/prabigtech/chat/id/<?php echo $this->varams['d'];?>',
		function(data){
			$('#data_chat').html(data);
			$("#loader_portlet_chat").hide();
		},
		"html");
		
}			
	

	
jQuery(document).ready(function() {
	if ($('.wysihtml5').size() > 0) {
$('.wysihtml5').wysihtml5({
"stylesheets": ["/assets/core//plugins/bootstrap-wysihtml5/wysiwyg-color.css"]
});
}
$('body').addClass('page-header-fixed page-sidebar-fixed page-footer-fixed');


var oTable = $('#tabxx').dataTable({
                "aLengthMenu": [
                    [10,50, 200, 500 -1],
                    [10,50, 200, 500, "All"] // change per page values here
                ],
                "iDisplayLength": 10,
                "sPaginationType": "bootstrap_full_number",
				
				
	"sDom": "<'row' <'col-md-12'T>><'row'<'col-md-6 col-sm-12'l><'col-md-6 col-sm-12'f>r><'table-scrollable't><'row'<'col-md-5 col-sm-12'i><'col-md-7 col-sm-12'p>>", 
	"oTableTools": {
	"sSwfPath": "/assets/core/plugins/datatables/extensions/TableTools/swf/copy_csv_xls_pdf.swf",
    "aButtons": [
			/*
			{
				"sExtends":    "copy_to_div",
				"sButtonText": "Save to Excel"
            },
			*/
/*			{'sExtends':'csv',
			 "sFieldSeperator": "|",
			 "mColumns": "visible",
             "oSelectorOpts": { filter: 'applied', order: 'current' },
            },
*/           
			{'sExtends':'xls',
			"sButtonText": "Export to Excel",
			 //"sFieldBoundary": ';',
			 "mColumns": "visible",
             "oSelectorOpts": { filter: 'applied', order: 'current' },
            }, 
/*            
			{'sExtends':'pdf',
			 "mColumns": "visible",
             "oSelectorOpts": { filter: 'applied', order: 'current' },
            },
			
            {'sExtends':'print',
              "oSelectorOpts": { filter: 'applied', order: 'current' },
            }
*/			
          ]
        },
					
			  "oLanguage": {
                    "sProcessing": '<i class="fa fa-coffee"></i>&nbsp;Please wait...',
                    "sLengthMenu": "_MENU_ record",
                    "oPaginate": {
                        "sPrevious": "Prev",
                        "sNext": "Next"
                    },
					
				"sSearch": " <i class='fa fa-search'></i> Search all columns:"
                },
                "aoColumnDefs": [{
                        'bSortable': false,
                        'aTargets': [0]
                    }
                ]

  });
  
$('#tabx_filter').keyup();

$.fn.dataTable.TableTools.buttons.copy_to_div = $.extend(
    true,
    $.fn.dataTable.TableTools.buttonBase,
    {
        "sNewLine":    "<br>",
        "sButtonText": "Copy to element",
        "target":      "",		
        "fnClick": function( button, conf ) {
           // $(conf.target).html( this.fnGetTableData(conf) );
         //  alert("ok");
         window.open("/mgt/prabigtech/xls", "_blank");
        }
    }
);

  
$('span.help-block').hide();
portlet_chat();
var Search = function () {
    return {
        //main function to initiate the module
        init: function () {
            if (jQuery().datepicker) {
                $('.date-picker').datepicker();
            }

            App.initFancybox();
        }

    };

}();

var Index = function () {

    return {

        //main function
        init: function () {
        },

        initChat: function () {
            var cont = $('#chats');
            var list = $('.chats', cont);
            var form = $('.chat-form', cont);
            var input = $('input', form);
            var btn = $('.btn', form);
            var handleClick = function (e) {
              e.preventDefault();
                	
                var text = input.val();
                if (text.length == 0) {
                    return;
                }
				
			$.ajax({
				url:"/prabigtech/postchat",
				content:'json',
				type:'post',
				data:$('form#formchat').serialize(),
				beforeSend:function(){
				},
				complete:function(result){
			
				},
				success: function(data){
					 location.reload(true);
					
				},
				error:function(){
				
				}
				});
                //var time = new Date();
                //var time_str = time.toString('MMM dd, yyyy hh:mm');
                //var tpl = '';
                //tpl += '<li class="out">';
                //tpl += '<img class="avatar" alt="" src="/assets/core/img/avatar1.jpg"/>';
                //tpl += '<div class="message">';
                //tpl += '<span class="arrow"></span>';
                //tpl += '<a href="#" class="name">Bob Nilson</a>&nbsp;';
                //tpl += '<span class="datetime">at ' + time_str + '</span>';
                //tpl += '<span class="body">';
                //tpl += text;
                //tpl += '</span>';
                //tpl += '</div>';
                //tpl += '</li>';

                //var msg = list.append(tpl);
                //input.val("");
                //$('.scroller', cont).slimScroll({
                    //scrollTo: list.height()
                //});
            }

            /*
            $('.scroller', cont).slimScroll({
                scrollTo: list.height()
            });
            */

            $('body').on('click', '.message .name', function(e){
                e.preventDefault(); // prevent click event

                var name = $(this).text(); // get clicked user's full name
                input.val('@' +  name + ':'); // set it into the input field
                App.scrollTo(input); // scroll to input if needed
            });

            btn.click(handleClick);
            input.keypress(function (e) {
                
                if (e.which == 13) {
					e.preventDefault();
					handleClick();
                    return false; //<---- Add this line
                }
            });
        }

    };

}();


var EditApi = function () {
	
	var handleAdd = function() {

		$('form#addpic').validate({
	            //errorElement: 'span', //default input error message container
	            //errorClass: 'label-danger', // default input error message class
	            focusInvalid: false, // do not focus the last invalid input
	            rules: {
	                get_api: {
	                    //required: true
	                },
	                //title: {
	                    //required: true
	                //}
	            },
	         

	            messages: {
					
	            },

	            invalidHandler: function (event, validator) { //display error alert on form submit   
	                //$('.alert-danger', $('.login-form')).show();
	                //console.log(event);
	                //console.log(validator);
	                
					//$('span.help-block').show();
					$('span.help-block').hide();
	                var errorlist = validator.errorList;
	                if(errorlist.length>0){
						for(var i = 0; i<errorlist.length; i++){
							//console.log(errorlist[i].element);
							var el = errorlist[i].element; 
							var next = $(el).next('span.help-block'); 
							$(next).slideDown();
						}
						$('html,body').animate({
							scrollTop: $(el).offset().top-100
						}, 800);
					}
	            },

	            highlight: function (element) { // hightlight error inputs
	                $(element)
	                    .closest('.form-group').addClass('has-error'); // set error class to the control group
	            },

	            success: function (label) {
	                label.closest('.form-group').removeClass('has-error');
	                //label.remove();
	            },

	            errorPlacement: function (error, element) {
					$('span.help-block').hide();
					var next = element.next('span.help-block'); 
					//console.log(error);
	                if(error[0].textContent!=""){
						$(next).html("<i class='fa fa-warning'></i> "+ error[0].textContent);
						$(element).next().slideDown();
						$('html,body').animate({
							scrollTop: $(element).offset().top-100
						}, 800);
					}
	            },

	            submitHandler: function (form) {
					$('span.help-block').hide();
					$('.form-group').removeClass('has-error');
	                //form.submit(); // form validation success, call ajax form submit
	                submitForm();
	                return false;
	            }
	        });

	        $('form#addpic input').keypress(function (e) {
	            if (e.which == 13) {
					$('span.help-block').hide();
					$('.form-group').removeClass('has-error');
	                if ($('form#addpic').validate().form()) {
	                   //$('form#addapi').submit(); //form validation success, call ajax form submit
	                   submitForm();
	                }
	                return false;
	            }
	        });
	}
	
	var submitForm = function(){
		
	
	
		//console.log($('form#addapi').serialize());
		$.ajax({
			url:"/prabigtech/addpic",
			content:'json',
			type:'post',
			data:$('form#addpic').serialize(),
			beforeSend:function(){
				//alert("1");
			},
			complete:function(result){
			
			},
			success: function(data){
				//console.log(data);
				
			},
			error:function(){
				
			}
		});
	}
	
	

	var resetForm = function(){
		$('input','form#addpic')
			.not(':button, :submit, :reset, :hidden')
			.val('');
			
		$('select,option','form#addapi')
			.removeAttr('checked')
			.removeAttr('selected');
		
		$('.make-switch').bootstrapSwitch('setState',false);
		
		$('.ms-selectable').find('li').removeClass('ms-selected');
		$('.ms-selection').find('li').removeClass('ms-hover');
		$('.ms-selectable').find('li').removeAttr('style');
		
		$('.ms-selection').find('li').removeClass('ms-selected');
		$('.ms-selection').find('li').removeClass('ms-hover');
		$('.ms-selection').find('li').css({display:'none'});
	}
    
    return {
        //main function to initiate the module
        init: function () {
            handleAdd();
        }

    };

}();

App.init();

 

  
EditApi.init();
Index.initChat();

$( ".hapus" ).click(function() {
	
	var cid = $(this).attr('rel');
	var id = $(this).attr('id');
	
    bootbox.confirm("Are you sure?", function(result) {
		//alert(cid);
		if(result) {
			//alert(cid);
			window.location.href = "/mgt/prabigtech/delfile/fid/"+cid+"/id/"+id;	
			
		}
}); 
 
});

   
	$('#tabmom').dataTable({
               "aLengthMenu": [
                    [10,50, 200, 500 -1],
                    [10,50, 200, 500, "All"] // change per page values here
                ],
				"iDisplayLength": 10,
                "sPaginationType": "bootstrap_full_number",
                "oLanguage": {
					"sProcessing": '<i class="fa fa-coffee"></i>&nbsp;Please wait...',
                    "sLengthMenu": "_MENU_ records",
                    "oPaginate": {
                        "sPrevious": "Prev",
                        "sNext": "Next"
                    },
				"sSearch": "<i class='fa fa-search'></i> Search all columns:"
                },
                "aoColumnDefs": [{
                        'bSortable': false,
                        'aTargets': [0]
                    }
                ]

  });
  
  

   
});

function loadDetailStatus(id){
	 console.log(id);	
  $.ajax({
		url: "/prabajax/callapi/api/174/bpid/"+id,
		dataType: "json",	
		beforeSend: function() {
		},
		success: function(data) {},
		timeout:9000,
		error:function(e){
				console.log(e);
			
		},
	});
}


</script>
