<?php 
//Zend_Debug::dump($this->all);die();
$total = count($this->data);
$tfile= 0;
$tweight= 0;
foreach ($this->data as $v) {
	$tweight = $tweight + $v['cumweight'];

}

	$auth = Zend_Auth::getInstance();
	$identity = $auth->getIdentity();
?>
<script src="/assets/core/plugins/highchart/highcharts.js"></script>
<script src="/assets/core/plugins/highchart/exporting.js"></script>
<style>

.easyPieChart {
    position: relative;
    text-align: center;
}

.easyPieChart canvas {
    position: absolute;
    top: 0;
    left: 0;
}

</style>

		<div class="page-content">
			<div class="row">
			<div class="col-md-4">
					<div class="portlet">
						<div class="portlet-title">
							<div class="caption">
								<i class="fa fa-reorder"></i>Type Of Solution
							</div>
							<div class="tools">
								<a href="#portlet-config" data-toggle="modal" class="config">
								</a>
								<a href="javascript:;" class="reload">
								</a>
							</div>
						</div>
						<div class="portlet-body">
							<!--<h4>Semi-transparent, black-colored label background.</h4>-->
							<div id="pie_chart_4" class="chart">
							</div>
						</div>
					</div>
			
			</div>
			<div class="col-md-4">
					<div class="portlet">
						<div class="portlet-title">
							<div class="caption">
								<i class="fa fa-reorder"></i>Overview  Solution
							</div>
							<div class="tools">
								<a href="#portlet-config" data-toggle="modal" class="config">
								</a>
								<a href="javascript:;" class="reload">
								</a>
							</div>
						</div>
						<div class="portlet-body">
							<!--<h4>Semi-transparent, black-colored label background.</h4>-->
							<div id="pie_chart_5" class="chart">
							</div>
						</div>
					</div>
			
			</div>
			</div>
			<div class="row">
				
				
				<div class="col-md-8">
					<!-- BEGIN SAMPLE TABLE PORTLET-->
					<div class="portlet box purple">
						<div class="portlet-title">
							<div class="caption">
								<i class="fa fa-comments"></i>MY NEWEST SOLUTION
							</div>
							<div class="tools">
								<a href="javascript:;" class="collapse"></a>
								<a href="#portlet-config" data-toggle="modal" class="config"></a>
								<a href="javascript:;" class="reload"></a>
								<a href="javascript:;" class="remove"></a>
							</div>
						</div>
						<div class="portlet-body">
							<div class="table-responsive">
								<table id="tabx" class="table table-striped table-hover">
								<thead>
									<form>
								<tr>
									<th>
										
									</th>
									<th>
										
									<input type="text" class="form-control-small" id="ID" name="ID" placeholder="ID">
									</th>
									<th>
									<input type="text" class="form-control-small" id="solutionname" name="solutionname" placeholder="Solution Name">
									</th>
									<th>
										<input type="text" class="form-control-small" id="segmen" name="segmen" placeholder="Segmen">
									</th>
									<th>
											<input type="text" class="form-control-small" id="solutiondescr" name="solutiondescr" placeholder="Solution Description">
									</th>
									<th>
										<input type="text" class="form-control-small" id="requesteddate" name="requesteddate" placeholder="Requested Date">
									</th>
									<th>
										<input type="text" class="form-control-small" id="status" name="status" placeholder="Status">
									</th>
									<th>
											<input type="text" class="form-control-small" id="type" name="type" placeholder="type">
									</th>
									<th>
										
									</th>
								</tr>
								</form>
								<tr>
									<th>
										#
									</th>
									<th>
										ID
									</th>
									<th>
										Solution Name
									</th>
									<th>
										Segmen
									</th>
									<th>
										Solution Desc
									</th>
									<th>
										Requested Date
									</th>
									<th>
										Status
									</th>
									<th>
										Type
									</th>
									<th>
										Action
									</th>
								</tr>
								</thead>
								<tbody>
								<?php 
								$i=1;
								foreach ($this->all as $v) {
								if($v['assignee']==$identity->uid) {	
								echo '<tr><td>'.$i.'</td><td>'.$v['sid'].'</td><td><a href="/mgt/prabigtech/dashlevel2/d/'.$v['sid'].'" />'.$v['req_name'].'</a></td><td>'.$v['segment'].'</td><td>'.$v['req_descr'].'</td><td>'.$v['created'].'</td><td>'.$v['phase_status']." ".$v['closed_status'].'</td><td>'.$v['type_solution'].'</td><td><a href="/mgt/prabigtech/dashlevel2/d/'.$v['sid'].'" class="btn default btn-xs red-stripe">View</a>&nbsp;';
								
								
								//if($v['type_solution']=="" && in_array(143, $identity->roles)) {
								echo '<a href="/mgt/prabigtech/filter/d/'.$v['sid'].'" class="btn default btn-xs blue-stripe">Update Status</a>';
								//}
								
								echo '</td>
								
								</tr>';
								$i++;
								}
								}
								?>
								
								
								</tbody>
								</table>
							</div>
						</div>
					</div>
					<!-- END SAMPLE TABLE PORTLET-->
				</div>
				
				<div class="col-md-4">
					<!-- BEGIN SAMPLE TABLE PORTLET-->
					<div class="portlet box purple">
						<div class="portlet-title">
							<div class="caption">
								<i class="fa fa-comments"></i>LONGEST SOLUTION
							</div>
							<div class="tools">
								<a href="javascript:;" class="collapse"></a>
								<a href="#portlet-config" data-toggle="modal" class="config"></a>
								<a href="javascript:;" class="reload"></a>
								<a href="javascript:;" class="remove"></a>
							</div>
						</div>
						<div class="portlet-body">
							<div class="table-responsive">
								<table id="tab1" class="table table-striped table-hover">
								<thead>
									<form>	
								<tr>
									<th>
										
									</th>
									<th>
										<input type="text" class="form-control-small" id="IDx" name="ID" placeholder="ID">
									</th>
									<th>
										<input type="text" class="form-control-small" id="solutionnamex" name="solutionname" placeholder="Solution Name">
									</th>
									<th>
											<input type="text" class="form-control-small" id="statusx" name="status" placeholder="Status">
									</th>
									
									<th>
										<input type="text" class="form-control-small" id="durasi" name="durasi" placeholder="Durasi">
									</th>
								</tr>
								</form>
								<tr>
									<th>
										#
									</th>
									<th>
										ID
									</th>
									<th>
										Solution Name
									</th>
									<th>
										Status
									</th>
									
									<th>
										Durasi
									</th>
								</tr>
								</thead>
								<tbody>
								<?php 
								$i=1;
								foreach ($this->longest as $v) {
								echo '<tr><td>'.$i.'</td><td>'.$v['sid'].'</td><td>'.$v['req_name'].'</td><td>'.$v['phase_status']." ".$v['closed_status'].'</td><td>'.$v['longest'].' hari</td>
								</tr>';
								$i++;
								}
								?>
								
								
								</tbody>
								</table>
							</div>
						</div>
					</div>
					<!-- END SAMPLE TABLE PORTLET-->
				</div>
				
			</div>
			
		
			<!-- END PAGE CONTENT-->
		</div>



<script>
var xhr_chat=null;
function portlet_chat(){
	
	if (xhr_chat != undefined && xhr_chat != null){
		xhr_chat.abort();
		
	}
	
	$("#loader_portlet_chat").show();
	$('#data_chat').html('');
	
	xhr_chat = $.get(
		'/prabigtech/chat',
		function(data){
			$('#data_chat').html(data);
			$("#loader_portlet_chat").hide();
		},
		"html");
		
}


	
jQuery(document).ready(function() {
$('body').addClass('page-header-fixed page-sidebar-fixed page-footer-fixed');
$('span.help-block').hide();


var Charts = function () {

    return {
        //main function to initiate the module

        init: function () {

            App.addResponsiveHandler(function () {
                 Charts.initPieCharts(); 
            });
            
        },

        initCharts: function () {

            if (!jQuery.plot) {
                return;
            }

            var data = [];
            var totalPoints = 250;

            // random data generator for plot charts


            //Interactive Chart

        
          

        },
		<?php
		
		$solusi = array_keys($this->pie['type_solusi']);
		$type_phase = array_keys($this->pie['type_phase']);
		
		?>
   
        initPieCharts: function () {

            var data = [];
			
			var data = [
			<?php 
			foreach ($solusi as $v) {
				echo '{ label: "'.$v.'",  data: '.count($this->pie['type_solusi'][$v]).'},';	
			} 
			?>
			];
	
          
			//console.log(data);
            // DEFAULT
      
            // GRAPH 4
        /*    $.plot($("#pie_chart_4"), data, {
                    series: {
                        pie: {
                            show: true,
                            radius: 1,
                            label: {
                                show: true,
                                radius: 3 / 4,
                                formatter: function (label, series) {
                                    return '<div style="font-size:8pt;text-align:center;padding:2px;color:white;">' + label + '<br/>' + Math.round(series.percent) + '%</div>';
                                },
                                background: {
                                    opacity: 0.5,
                                    color: '#000'
                                }
                            }
                        }
                    },
                    legend: {
                        show: false
                    }
                });

         */
		 
		 
			
					$('#pie_chart_4').highcharts({
						chart: {
							plotBackgroundColor: null,
							plotBorderWidth: null,
							plotShadow: false,
							type: 'pie',
							marginRight: 30
						},
					   title: {
								text: ' '
							},
						tooltip: {
							pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b><br> Jumlah : {point.y}'
						},
						plotOptions: {
							pie: {
								allowPointSelect: true,
								cursor: 'pointer',
								 size: 218,
								dataLabels: {
								distance: 7,    
									enabled: false,
									format: '<b>{point.name}</b>: {point.percentage:.1f} %<br> Jumlah : {point.y}',
									style: {
										color: (Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black'
									}
								}
							}
						},
						credits: {
							enabled: false
						  },
						series: [{
							name: 'Percentage',
							colorByPoint: true,
							data: data
						}]
					});
				
		 
			var data2 = [];
			
			var data2 = [
			<?php 
			foreach ($type_phase as $v) {
				echo '{ name: "'.$v.'",  y: '.count($this->pie['type_phase'][$v]).'},';	
			} 
			?>
			];
			
			
					$('#pie_chart_5').highcharts({
						chart: {
							plotBackgroundColor: null,
							plotBorderWidth: null,
							plotShadow: false,
							type: 'pie',
							marginRight: 30
						},
					   title: {
								text: ' '
							},
						tooltip: {
							pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b><br> Jumlah : {point.y}'
						},
						plotOptions: {
							pie: {
								allowPointSelect: true,
								cursor: 'pointer',
								 size: 218,
								dataLabels: {
								distance: 7,    
									enabled: false,
									format: '<b>{point.name}</b>: {point.percentage:.1f} %<br> Jumlah : {point.y}',
									style: {
										color: (Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black'
									}
								}
							}
						},
						credits: {
							enabled: false
						  },
						series: [{
							name: 'Percentage',
							colorByPoint: true,
							data: data2
						}]
					});
				/*
			  $.plot($("#pie_chart_5"), data2, {
                    series: {
                        pie: {
                            show: true,
                            radius: 1,
                            label: {
                                show: true,
                                radius: 3 / 4,
                                formatter: function (label, series) {
									console.log(series);
                                    return '<div style="font-size:8pt;text-align:center;padding:2px;color:white;">' + label + '<br/>' + Math.round(series.percent) + '%</div>';
                                },
                                background: {
                                    opacity: 0.5,
                                    color: '#000'
                                }
                            }
                        }
                    },
                    legend: {
                        show: false
                    }
                });
			*/
            function pieHover(event, pos, obj) {
            if (!obj)
                    return;
                percent = parseFloat(obj.series.percent).toFixed(2);
                $("#hover").html('<span style="font-weight: bold; color: ' + obj.series.color + '">' + obj.series.label + ' (' + percent + '%)</span>');
            }

            function pieClick(event, pos, obj) {
                if (!obj)
                    return;
                percent = parseFloat(obj.series.percent).toFixed(2);
                alert('' + obj.series.label + ': ' + percent + '%');
            }

        }
        
    };

}();

App.init();

Charts.initPieCharts();




var oTablex = $('#tab1').dataTable({
                "aLengthMenu": [
                    [10,50, 200, 500 -1],
                    [10,50, 200, 500, "All"] // change per page values here
                ],
                "iDisplayLength": 10,
                "sPaginationType": "bootstrap_full_number",
                "oLanguage": {
                    "sProcessing": '<i class="fa fa-coffee"></i>&nbsp;Please wait...',
                    "sLengthMenu": "_MENU_ records",
                    "oPaginate": {
                        "sPrevious": "Prev",
                        "sNext": "Next"
                    },
				"sSearch": "Search all columns:"
                },
                "aoColumnDefs": [{
                        'bSortable': false,
                        'aTargets': [0]
                    }
                ]

  });
$('#tab1_filter').hide();



  
$("input#IDx").keyup( function () {
			/* Filter on the column (the index) of this element */
			oTablex.fnFilter( this.value, 1 );
} );


$("input#solutionnamex").keyup( function () {
			/* Filter on the column (the index) of this element */
			oTablex.fnFilter( this.value, 2 );
} );


$("input#statusx").keyup( function () {
			/* Filter on the column (the index) of this element */
			oTablex.fnFilter( this.value, 3 );
} );



$("input#durasi").keyup( function () {
			/* Filter on the column (the index) of this element */
			oTablex.fnFilter( this.value, 4 );
} );

  var oTable = $('#tabx').dataTable({
                "aLengthMenu": [
                    [10,50, 200, 500 -1],
                    [10,50, 200, 500, "All"] // change per page values here
                ],
                "iDisplayLength": 10,
                "sPaginationType": "bootstrap_full_number",
                "oLanguage": {
                    "sProcessing": '<i class="fa fa-coffee"></i>&nbsp;Please wait...',
                    "sLengthMenu": "_MENU_ records",
                    "oPaginate": {
                        "sPrevious": "Prev",
                        "sNext": "Next"
                    },
				"sSearch": "Search all columns:"
                },
                "aoColumnDefs": [{
                        'bSortable': false,
                        'aTargets': [0]
                    }
                ]

  });
$('#tabx_filter').hide();


  
$("input#ID").keyup( function () {
			/* Filter on the column (the index) of this element */
			oTable.fnFilter( this.value, 1 );
} );


$("input#solutionname").keyup( function () {
			/* Filter on the column (the index) of this element */
			oTable.fnFilter( this.value, 2 );
} );



$("input#segmen").keyup( function () {
			/* Filter on the column (the index) of this element */
			oTable.fnFilter( this.value, 3 );
} );


$("input#solutiondescr").keyup( function () {
			/* Filter on the column (the index) of this element */
			oTable.fnFilter( this.value, 4 );
} );


$("input#requesteddate").keyup( function () {
			/* Filter on the column (the index) of this element */
			oTable.fnFilter( this.value, 5 );
} );



$("input#status").keyup( function () {
			/* Filter on the column (the index) of this element */
			oTable.fnFilter( this.value, 6 );
} );

$("input#type").keyup( function () {
			/* Filter on the column (the index) of this element */
			oTable.fnFilter( this.value, 7 );
} );


});


</script>
