<?php 
 //Zend_Debug::dump($this->all);die();
$total = count($this->data);
$tfile= 0;
$tweight= 0;
foreach ($this->data as $v) {
	$tweight = $tweight + $v['cumweight'];
}

	$auth = Zend_Auth::getInstance();
	$identity = $auth->getIdentity();
?>

<style>
.page-content {
  margin-top: 10px;
  padding: 10px;
  background-image: url('/assets/core/img/back.png');
  background-repeat: x;
  opacity: 2; 
}
</style>
	
<div class="page-content">
	<div class="row">
		<div class="col-md-12">
			<!-- BEGIN PAGE TITLE & BREADCRUMB-->
			<h3 class="page-title">
				Report Dashboard <small></small>
			</h3>
			<ul class="page-breadcrumb breadcrumb">
				<li>
					<i class="fa fa-rss"></i>
					<a href="/">Home</a>
					<i class="fa fa-angle-right"></i>
				</li>
				<li>
					<i class="fa fa-cogs"></i>
					<a href="#">Dashboard</a>
					<i class="fa fa-angle-right"></i>
				</li>				
				<!--li class="btn-group pull-right">
					<button type="button" class="btn red">
						<span>
					ADMINESDD					</span>
					</button>
				</li-->
			</ul>
		</div>
	</div>

	<div class="row">
		<div class="col-md-12">
			<!-- BEGIN SAMPLE TABLE PORTLET-->
			<div class="portlet box purple">
				<div class="portlet-title">
					<div class="caption">
						<i class="fa fa-comments"></i>NEWEST SOLUTION
					</div>
					<div class="tools">
						<a href="javascript:;" class="collapse"></a>
						<a href="#portlet-config" data-toggle="modal" class="config"></a>
						<a href="javascript:;" class="reload"></a>
						<!--<a href="javascript:;" class="remove"></a>-->
					</div>
					<div class="actions">
						<div class="btn-group">
							<a class="btn default" href="#" data-toggle="dropdown">
								Filter Columns <i class="fa fa-angle-down"></i>
							</a>
							<div id="sample_2_column_toggler" class="dropdown-menu hold-on-click dropdown-checkboxes pull-right">
								<label><input type="checkbox" data-column="0"> No</label>
								<label><input type="checkbox" data-column="1"> ID</label>
								<label><input type="checkbox" data-column="2"> Solution Name</label>
								<label><input type="checkbox" data-column="3"> Segmen</label>
								<label><input type="checkbox" data-column="4"> Solution Desc</label>
								<label><input type="checkbox" data-column="5"> Requested Date</label>
								<label><input type="checkbox" data-column="6"> Status</label>
								<label><input type="checkbox" data-column="7"> Type</label>
								<label><input type="checkbox" data-column="8"> Corporate Customer</label>
								<label><input type="checkbox" data-column="9"> Request Deliverable & Benefit</label>
								<label><input type="checkbox" data-column="10"> Estimate Revenue</label>
								<label><input type="checkbox" data-column="11"> Pic</label>
								<label><input type="checkbox" data-column="12"> Owner Estimate</label>
								<label><input type="checkbox" data-column="13"> AM Segment</label>
								<label><input type="checkbox" data-column="14"> SE Segment</label>
								<label><input type="checkbox" data-column="15"> Initiator</label>
								<label><input type="checkbox" data-column="16"> Target Implementasi</label>
								<label><input type="checkbox" data-column="17"> Keterangan</label>
								<label><input type="checkbox" data-column="18"> Mitra</label>
								<label><input type="checkbox" data-column="19"> Nilai Strategic</label>
								<label><input type="checkbox" data-column="20"> Last Update</label>
								<label><input type="checkbox" data-column="21"> Urgensi Pejabat Terkait</label>
							</div>
						</div>
					</div>
				</div>
				<div class="portlet-body">
					<div class="table-scrollable">
						<table id="tabx" class="table table-striped table-hover">	
							<thead>
								<form>
									<!--<tr>
										<th>
											
										</th>
										<th>
											
										<input size="6"  type="text" class="form-control-small" id="ID" name="ID" placeholder="ID">
										</th>
										<th>
										<input size="6"  type="text" class="form-control-small" id="solutionname" name="solutionname" placeholder="Solution Name">
										</th>
										<th>
											<input size="3"  type="text" class="form-control-small" id="segmen" name="segmen" placeholder="Segmen">
										</th>
										<th>
												<input type="text" class="form-control-small" id="solutiondescr" name="solutiondescr" placeholder="Solution Description">
										</th>
										<th>
											<input size="12"  type="text" class="form-control-small" id="requesteddate" name="requesteddate" placeholder="Requested Date">
										</th>
										<th>
											<input size="10"  type="text" class="form-control-small" id="status" name="status" placeholder="Status">
										</th>
										<th>
												<input size="6"  	type="text" class="form-control-small" id="type" name="type" placeholder="type">
										</th>
										<th>
												<input size="6"  	type="text" class="form-control-small" id="pic" name="type" placeholder="pic">
										</th>
										<th>
											
										</th>
									</tr>-->
								</form>
								<tr>
									<th>
										#
									</th>
									<th>
										ID
									</th>
									<th>
										Solution Name
									</th>
									<th>
										Segmen
									</th>
									<th>
										Solution Desc
									</th>
									<th>
										Requested Date
									</th>
									<th>
										Status
									</th>
									<th>
										Type
									</th>
									<th>
										Corporate Customer
									</th>
									<th>
										Request Deliverable & Benefit
									</th>
									<th>
										Estimate Revenue
									</th>
									<th>
										Pic
									</th>
									<th>
										Owner Estimate
									</th>
									<th>
										AM Segment
									</th>
									<th>
										SE Segment
									</th>
									<th>
										Initiator
									</th>
									<th>
										Target Implementasi
									</th>
									<th>
										Keterangan
									</th>
									<th>
										Mitra
									</th>
									<th>
										Nilai Strategic
									</th>
									<th>
										Last Update
									</th>
									<th>
										Urgensi Pejabat Terkait
									</th>
								</tr>
							</thead>
							<tbody>
								<?php 
									$i=1;
									foreach ($this->all as $v) {
									echo '<tr><td>'.$i.'</td><td>'.$v['unik']."".$v['sid'].'</td>
									<td><a href="/mgt/prabigtech/dashlevel2/d/'.$v['sid'].'" />'.$v['req_name'].'</a></td>
									<td>'.$v['segment'].'</td><td>'.wordwrap($v['req_descr'], 50, "<br>", true).'</td>
									<td>'.$v['created'].'</td>
									<td>'.$v['phase_status']." ".$v['closed_status'].'</td>
									<td>'.$v['type_solution'].'</td>
									<td>'.$v['corporate_customer'].'</td>
									<td>'.$v['req_deriverable'].'</td>
									<td>'.$v['est_revenue'].'</td>
									<td>'.$v['pic'].'</td>
									<td>'.$v['owner_estimate'].'</td>		
									<td>'.$v['am_segment'].'</td>
									<td>'.$v['pic_segment'].'</td>
									<td>'.$v['initiator'].'</td>
									<td>'.$v['target_implementasi'].'</td>
									<td>'.wordwrap($v['cat_status'], 50, "<br>", true).'</td>
									<td>'.$v['mitra'].'</td>
									<td>'.$v['strategic'].'</td>
									<td>'.$v['updated_date'].'</td>
									<td>'.$v['urgensi'].'</td>
									</tr>';
									$i++;
									}
								?>
							</tbody>
						</table>
					</div>
				</div>
			</div>
			<!-- END SAMPLE TABLE PORTLET-->
		</div>		
	</div>
	<!-- END PAGE CONTENT-->
	
</div>




<script>

	
jQuery(document).ready(function() {
$('body').addClass('page-header-fixed page-sidebar-fixed page-footer-fixed');
App.init();
$('span.help-block').hide();

  
$("input#IDx").keyup( function () {
			/* Filter on the column (the index) of this element */
			oTablex.fnFilter( this.value, 1 );
} );


$("input#solutionnamex").keyup( function () {
			/* Filter on the column (the index) of this element */
			oTablex.fnFilter( this.value, 2 );
} );


$("input#statusx").keyup( function () {
			/* Filter on the column (the index) of this element */
			oTablex.fnFilter( this.value, 3 );
} );



$("input#durasi").keyup( function () {
			/* Filter on the column (the index) of this element */
			oTablex.fnFilter( this.value, 4 );
} );

$.fn.dataTable.TableTools.buttons.copy_to_div = $.extend(
    true,
    $.fn.dataTable.TableTools.buttonBase,
    {
        "sNewLine":    "<br>",
        "sButtonText": "Copy to element",
        "target":      "",		
        "fnClick": function( button, conf ) {
           // $(conf.target).html( this.fnGetTableData(conf) );
         //  alert("ok");
         window.open("/mgt/prabigtech/xls", "_blank");
        }
    }
);



var oTable = $('#tabx').dataTable({
                "aLengthMenu": [
                    [10,50, 200, 500 -1],
                    [10,50, 200, 500, "All"] // change per page values here
                ],
                "iDisplayLength": 10,
                "sPaginationType": "bootstrap_full_number",
				
				
	"sDom": "<'row' <'col-md-12'T>><'row'<'col-md-6 col-sm-12'l><'col-md-6 col-sm-12'f>r><'table-scrollable't><'row'<'col-md-5 col-sm-12'i><'col-md-7 col-sm-12'p>>", 
	"oTableTools": {
	"sSwfPath": "/assets/core/plugins/datatables/extensions/TableTools/swf/copy_csv_xls_pdf.swf",
    "aButtons": [
			/*
			{
				"sExtends":    "copy_to_div",
				"sButtonText": "Save to Excel"
            },
			*/
/*			{'sExtends':'csv',
			 "sFieldSeperator": "|",
			 "mColumns": "visible",
             "oSelectorOpts": { filter: 'applied', order: 'current' },
            },
*/           
			{'sExtends':'xls',
			"sButtonText": "Export to Excel",
			 //"sFieldBoundary": ';',
			 "mColumns": "visible",
             "oSelectorOpts": { filter: 'applied', order: 'current' },
            }, 
/*            
			{'sExtends':'pdf',
			 "mColumns": "visible",
             "oSelectorOpts": { filter: 'applied', order: 'current' },
            },
			
            {'sExtends':'print',
              "oSelectorOpts": { filter: 'applied', order: 'current' },
            }
*/			
          ]
        },
					
			  "oLanguage": {
                    "sProcessing": '<i class="fa fa-coffee"></i>&nbsp;Please wait...',
                    "sLengthMenu": "_MENU_ record",
                    "oPaginate": {
                        "sPrevious": "Prev",
                        "sNext": "Next"
                    },
					
				"sSearch": " <i class='fa fa-search'></i> Search all columns:"
                },
                "aoColumnDefs": [{
                        'bSortable': false,
                        'aTargets': [0]
                    }
                ]

  });

 
 function x (){
					
		$('#sample_2_column_toggler input[type="checkbox"]').each(function(){
			var iCol = $(this).attr("data-column");
			var bVis = oTable.fnSettings().aoColumns[iCol].bVisible;
				 oTable.fnSetColumnVis(iCol, (false));		
		});
		
  }  

  x(); 

$('#sample_2_column_toggler input[type="checkbox"]').change(function(){
	var c = $('#sample_2_column_toggler input[type="checkbox"]').is(':checked');
	
	/* Get the DataTables object again - this is not a recreation, just a get of the object */
	var iCol = parseInt($(this).attr("data-column"));
	var bVis = oTable.fnSettings().aoColumns[iCol].bVisible;
	
	if(bVis == false){
		 oTable.fnSetColumnVis(iCol, (true));
		
	}else{
		 oTable.fnSetColumnVis(iCol, (false));
	}
});

$('#tabx_filter').keyup();


  
$("input#ID").keyup( function () {
			/* Filter on the column (the index) of this element */
			oTable.fnFilter( this.value, 1 );
} );


$("input#solutionname").keyup( function () {
			/* Filter on the column (the index) of this element */
			oTable.fnFilter( this.value, 2 );
} );



$("input#segmen").keyup( function () {
			/* Filter on the column (the index) of this element */
			oTable.fnFilter( this.value, 3 );
} );


$("input#solutiondescr").keyup( function () {
			/* Filter on the column (the index) of this element */
			oTable.fnFilter( this.value, 4 );
} );


$("input#requesteddate").keyup( function () {
			/* Filter on the column (the index) of this element */
			oTable.fnFilter( this.value, 5 );
} );



$("input#status").keyup( function () {
			/* Filter on the column (the index) of this element */
			oTable.fnFilter( this.value, 6 );
} );

$("input#type").keyup( function () {
			/* Filter on the column (the index) of this element */
			oTable.fnFilter( this.value, 7 );
} );

$("input#pic").keyup( function () {
			/* Filter on the column (the index) of this element */
			oTable.fnFilter( this.value, 8 );
} );


});


</script>
