	<?php 
$auth = Zend_Auth::getInstance();
	$identity = $auth->getIdentity();
	
$title ="Dispatch Solution";
if(in_array(146, $identity->roles)) {
	$title ="Resource";
	}	
#Zend_Debug::dump($this->forms);die();
$icons =array(
'png'=>'gnome-graphics.png',
'jpeg'=>'gnome-graphics.png',
'jpg'=>'gnome-graphics.png',
'gif'=>'gnome-graphics.png',
'doc'=>'openofficeorg.png',
'docx'=>'openofficeorg.png',
''=>'image-missing.png',
'pdf'=>'pdf.png',
'rar'=>'mkrar.png',
'7z'=>'mkrar.png',
'zip'=>'mkrar.png',
'XLS'=>'kspread.png',
'xls'=>'kspread.png',
'xlsx'=>'kspread.png',
'sql'=>'sqlitebrowser.png',
'wsdl'=>'sqlitebrowser.png',
'xml'=>'sqlitebrowser.png',
'php'=>'dashcode.png',
'js'=>'dashcode.png',
'chm'=>'addressbook.png',
'ppt'=>'ooo-impress.png',
'pptx'=>'ooo-impress.png',
'htm'=>'web-browser.png',
'html'=>'web-browser.png',
);

#Zend_Debug::dump($this->files); die();
#Zend_Debug::dump($this->rows);die();

$total = count($this->data);
$tfile= 0;
$tweight= 0;
foreach ($this->data as $v) {
	$tweight = $tweight + $v['cumweight'];

}
?>

<style>
.page-content {
  margin-top: 10px;
  padding: 10px;
  background-image: url('/assets/core/img/back.png');
  background-repeat: x;
  opacity: 2; 
}

.easyPieChart {
    position: relative;
    text-align: center;
}

.easyPieChart canvas {
    position: absolute;
    top: 0;
    left: 0;
}
.form-group {
     margin-bottom: 5px; 
}
</style>


<div class="page-content">
	<div class="row">
		<div class="col-md-12">
			<!-- BEGIN PAGE TITLE & BREADCRUMB-->
			<h3 class="page-title">
				<?php echo $title; ?>
			</h3>
			<ul class="page-breadcrumb breadcrumb">
				<li>
					<i class="fa fa-rss"></i>
					<a href="/">Home</a>
					<i class="fa fa-angle-right"></i>
				</li>
				<li>
					<i class="fa fa-cogs"></i>
					<a href="#">Dispatch Solution</a>
					<i class="fa fa-angle-right"></i>
				</li>
			</ul>
			<!-- END PAGE TITLE & BREADCRUMB-->
		</div>
	</div>
	
	<!--div class="col-md-12 col-sm-12"-->

		<?php 
		if(in_array(146, $identity->roles) && $this->forms['show']['Name']!='VALIDATE') {
		?>
		
	<!-- BEGIN SAMPLE TABLE PORTLET-->
	<div class="portlet box grey">
		<div class="portlet-title">
			<div class="caption">
				<i class="fa fa-comments"></i>RESOURCE
			</div>
			<div class="tools">
				<a href="javascript:;" class="collapse"></a>
				<a href="#portlet-config" data-toggle="modal" class="config"></a>
				<a href="javascript:;" class="reload"></a>
				<a href="javascript:;" class="remove"></a>
			</div>
		</div>
		<div class="portlet-body">
			<div class="table-responsive">
				<table class="table table-striped table-hover">
					<thead>
						<tr>
							<th>
								NIK
							</th>
							<th>
								NAMA
							</th>
							<th>
								COUNT ASSIGN AS PIC
							</th>
							<th>
								COUNT IN COLLABORATION TEAM
							</th>
							
							<th>
								TOTAL
							</th>
						</tr>
					</thead>
					<tbody>
						<?php 	
						$t=0;
						foreach ($this->datatotal as $v){
                          //  Zend_Debug::dump($v);
						$t =  (int)$v['countcollab']+(int)$v['countpic'];
						 //  Zend_Debug::dump($v); die('ss');
						echo '<tr><td>'.$v['uname'].'</td>
						<td>'.$v['fullname'].'</td>
						
						
						<td style="padding-left: 84px;"><a data-toggle="modal" href="#modal_detailresource" onclick="modal_detailresource('.$v['id'].')">';
						
						if($v['countpic']==""){ 
						echo "0"; 
						}else{
							echo $v['countpic'];};
						echo  '</td>
						<td style="padding-left: 113px;"><a data-toggle="modal"href="#modal_detailresource1" onclick="modal_detailresource1('.$v['id'].')"</a>';
						
						if($v['countcollab']==""){ 
						echo "0"; 
						}else{
							echo $v['countcollab'];};
						
						 echo '</td><td style="padding-left: 24px;">'.$t.'</td></tr>';
						}
						?>	
					</tbody>
				</table>
			</div>
		</div>
		
		<?php  } ?>
		
	</div>
	<!--END SAMPLE TABLE PORTLET-->

</div>
<!-- END PAGE CONTENT-->

<div class="modal fade" id="modal_detailresource" tabindex="-1" data-width="1100" data-height="500">
	<div class="modal-dialog modal-full">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
				<h4 class="modal-title">  </h4>
			</div>
			
			<div class="modal-body">
				<div class="portlet box grey">
					<div class="portlet-title">
						<div class="caption"><i class="fa fa-reorder"></i>Detail Resource</div>
						<div class="actions"></div>
					</div>
					<div class="portlet-body">
						<input type="hidden" name="h_ro" id="h_ro" value="">
						<a href="javascript:;" id="download2"><input class="button pull-right" type="button" value="Export To Excel"></a>
						<table class="table table-striped table-bordered table-hover" id="detailresource_table">
							<thead>
								<tr>
									<th style="text-align:center"> # </th>
									<th style="text-align:center"> ID </th>
									<th style="text-align:center"> Solution Name </th>
									<th style="text-align:center"> Segmen </th>
									<th style="text-align:center"> Status </th>
									<th style="text-align:center"> PIC </th>
								</tr>
							</thead>
							<tbody>
								
							</tbody>
						</table>
					</div>
				</div>
			</div>
			
			<div class="modal-footer">
				<button type="button" class="btn default" data-dismiss="modal"> Close </button>
			</div>
		</div>
	</div>
</div>


<div class="modal fade" id="modal_detailresource1" tabindex="-1" data-width="1100" data-height="500">
	<div class="modal-dialog modal-full">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
				<h4 class="modal-title">  </h4>
			</div>
			
			<div class="modal-body">
				<div class="portlet box grey">
					<div class="portlet-title">
						<div class="caption"><i class="fa fa-reorder"></i>Detail Resource</div>
						<div class="actions"></div>
					</div>
					<div class="portlet-body">
						<input type="hidden" name="h_rc" id="h_rc" value="">
						<a href="javascript:;" id="download3"><input class="button pull-right" type="button" value="Export To Excel"></a>
						<table class="table table-striped table-bordered table-hover" id="detailresource1_table">
							<thead>
								<tr>
									<th style="text-align:center"> # </th>
									<th style="text-align:center"> ID </th>
									<th style="text-align:center"> Solution Name </th>
									<th style="text-align:center"> Segmen </th>
									<th style="text-align:center"> Status </th>
									<th style="text-align:center"> PIC </th>
								</tr>
							</thead>
							<tbody>
								
							</tbody>
						</table>
					</div>
				</div>
			</div>
			
			<div class="modal-footer">
				<button type="button" class="btn default" data-dismiss="modal"> Close </button>
			</div>
		</div>
	</div>
</div>
		
<script>
	
jQuery(document).ready(function() {
$('body').addClass('page-header-fixed page-sidebar-fixed page-footer-fixed');
$('span.help-block').hide();

App.init();

});

function modal_detailresource(dro){
	
	$('#h_ro').val(dro);
	var h_ro = $('#h_ro').val();
	var detailresource_table = $('#detailresource_table');
	$.extend(true, $.fn.DataTable.TableTools.classes, {		
		"container": "btn-group tabletools-dropdown-on-portlet",
		"buttons": {
			"normal": "btn btn-sm default",
			"disabled": "btn btn-sm default disabled"
		},
		"collection": {
			"container": "DTTT_dropdown dropdown-menu tabletools-dropdown-menu"
		}
	});
	detailresource_table.dataTable().fnDestroy();
	var oTable3 = detailresource_table.dataTable( {
		"ajax": {
			"dataType": 'json',
			"contentType": "application/json; charset=utf-8",
			"type": "POST",
			"url": "/mgt/prabigtech/filter2/data/detailresource/dro/"+h_ro,
			"dataSrc": ""
		},
		"fnDrawCallback": function ( oSettings ) {
			if ( oSettings.bSorted || oSettings.bFiltered )
			{
				for ( var i=0, iLen=oSettings.aiDisplay.length ; i<iLen ; i++ )
				{
					$('td:eq(0)', oSettings.aoData[ oSettings.aiDisplay[i] ].nTr ).html( i+1 );
				}
			}
		},
		"columns": [
			{ "data": "id"},
			{ "data": "id"},
			{ "data": "req_name",
			  "render" : function(data, type, row, meta){
				if(type === 'display'){
				  return $('<a id="" href="#" onclick="">')
					.attr('href', '/mgt/prabigtech/dashlevel2/d/'+row.cid)
					.text(data)
					.wrap('<div></div>')
					.parent()
					.html();
				} else {
				  return data; 
				}
			  }
			},      	
			{ "data": "segment"},      	
			{ "data": "phase_status"},
			{ "data": "pic_segment"}
		],
		"bProcessing": true,
		"ordering": false,
		"bFilter": true,
		"language": {
			"sProcessing": '<div class="loading-spinner" style="width: 200px; margin-left: -100px; ">' +
			'<div class="progress progress-striped active">' +
			  '<div class="progress-bar" style="width: 100%;"></div>' +
			'</div>' +
		  '</div>',
		"emptyTable": "No data available in table",
		"info": "Showing _START_ to _END_ of _TOTAL_ entries",
		"infoEmpty": "No entries found",
		"infoFiltered": "(filtered1 from _MAX_ total entries)",
		"lengthMenu": "Show _MENU_ entries",
		"search": "Search:",
		"zeroRecords": "No matching records found",
		"sSearch": " <i class='fa fa-search'></i> Search all columns:"
		},

		"order": [
			[0, 'asc']
		],
		
		"lengthMenu": [
			[10, 50, 200, -1],
			[10, 50, 200, "All"] // change per page values here
		],
		// set the initial value
		"pageLength": 10,

		"dom": "<'row' <'col-md-12'T>><'row'<'col-md-6 col-sm-12'l><'col-md-6 col-sm-12'f>r><'table-scrollable't><'row'<'col-md-5 col-sm-12'i><'col-md-7 col-sm-12'p>>", 

		"tableTools": {
			"sSwfPath": "/assets/core/plugins/datatables/extensions/TableTools/swf/copy_csv_xls_pdf.swf",
			"aButtons": [
/*			{
				"sExtends": "pdf",
				"sButtonText": "PDF"
			}, 
			{
				"sExtends": "csv",
				"sButtonText": "CSV"
			}, 
*/			
			// {
				// "sExtends": "xls",
				// "sButtonText": "Export To Excel"
			// }, 
/*			
			{
				"sExtends": "print",
				"sButtonText": "Print",
				"sInfo": 'Please press "CTR+P" to print or "ESC" to quit',
				"sMessage": "Generated by DataTables"
			}
*/			
			]
		}
	});
	
	var tableWrapper = $('#detailresource_table'); // datatable creates the table wrapper by adding with id {your_table_jd}_wrapper
    /*tableWrapper.find('.dataTables_length select').select2(); // initialize select2 dropdown*/
	
	$('#modal_detailresource').modal('show');
	$('#modal_detailresource').on('show', function() {
		var TableTools1 = TableTools.fnGetInstance(); 
		TableTools1.fnResizeButtons();
	});
	
	$("#download2").on("click", function(){	
		window.location.replace("/mgt/prabigtech/filter2/data/detailresource/dro/"+h_ro+"/download/1");	
		});
	
}


function modal_detailresource1(drc){
	
	$('#h_rc').val(drc);
	var h_rc = $('#h_rc').val();
	var detailresource1_table = $('#detailresource1_table');
	$.extend(true, $.fn.DataTable.TableTools.classes, {		
		"container": "btn-group tabletools-dropdown-on-portlet",
		"buttons": {
			"normal": "btn btn-sm default",
			"disabled": "btn btn-sm default disabled"
		},
		"collection": {
			"container": "DTTT_dropdown dropdown-menu tabletools-dropdown-menu"
		}
	});
	detailresource1_table.dataTable().fnDestroy();
	var oTable3 = detailresource1_table.dataTable( {
		"ajax": {
			"dataType": 'json',
			"contentType": "application/json; charset=utf-8",
			"type": "POST",
			"url": "/mgt/prabigtech/filter2/data/detailresource1/drc/"+h_rc,
			"dataSrc": ""
		},
		"fnDrawCallback": function ( oSettings ) {
			if ( oSettings.bSorted || oSettings.bFiltered )
			{
				for ( var i=0, iLen=oSettings.aiDisplay.length ; i<iLen ; i++ )
				{
					$('td:eq(0)', oSettings.aoData[ oSettings.aiDisplay[i] ].nTr ).html( i+1 );
				}
			}
		},
		"columns": [
			{ "data": "id"},
			{ "data": "id"},
			{ "data": "req_name",
			  "render" : function(data, type, row, meta){
				if(type === 'display'){
				  return $('<a id="" href="#" onclick="">')
					.attr('href', '/mgt/prabigtech/dashlevel2/d/'+row.cid)
					.text(data)
					.wrap('<div></div>')
					.parent()
					.html();
				} else {
				  return data; 
				}
			  }
			},      	
			{ "data": "segment"},      	
			{ "data": "phase_status"},
			{ "data": "pic_segment"}
		],
		"bProcessing": true,
		"ordering": false,
		"bFilter": true,
		"language": {
			"sProcessing": '<div class="loading-spinner" style="width: 200px; margin-left: -100px; ">' +
			'<div class="progress progress-striped active">' +
			  '<div class="progress-bar" style="width: 100%;"></div>' +
			'</div>' +
		  '</div>',
		"emptyTable": "No data available in table",
		"info": "Showing _START_ to _END_ of _TOTAL_ entries",
		"infoEmpty": "No entries found",
		"infoFiltered": "(filtered1 from _MAX_ total entries)",
		"lengthMenu": "Show _MENU_ entries",
		"search": "Search:",
		"zeroRecords": "No matching records found",
		"sSearch": " <i class='fa fa-search'></i> Search all columns:"
		},

		"order": [
			[0, 'asc']
		],
		
		"lengthMenu": [
			[10, 50, 200, -1],
			[10, 50, 200, "All"] // change per page values here
		],
		// set the initial value
		"pageLength": 10,

		"dom": "<'row' <'col-md-12'T>><'row'<'col-md-6 col-sm-12'l><'col-md-6 col-sm-12'f>r><'table-scrollable't><'row'<'col-md-5 col-sm-12'i><'col-md-7 col-sm-12'p>>", 

		"tableTools": {
			"sSwfPath": "/assets/core/plugins/datatables/extensions/TableTools/swf/copy_csv_xls_pdf.swf",
			"aButtons": [
/*			{
				"sExtends": "pdf",
				"sButtonText": "PDF"
			}, 
			{
				"sExtends": "csv",
				"sButtonText": "CSV"
			}, 
*/			
			// {
				// "sExtends": "xls",
				// "sButtonText": "Export To Excel"
			// }, 
/*			
			{
				"sExtends": "print",
				"sButtonText": "Print",
				"sInfo": 'Please press "CTR+P" to print or "ESC" to quit',
				"sMessage": "Generated by DataTables"
			}
*/			
			]
		}
	});
	
	var tableWrapper = $('#detailresource1_table'); // datatable creates the table wrapper by adding with id {your_table_jd}_wrapper
    /*tableWrapper.find('.dataTables_length select').select2(); // initialize select2 dropdown*/
	
	$('#modal_detailresource1').modal('show');
	$('#modal_detailresource1').on('show', function() {
		var TableTools1 = TableTools.fnGetInstance(); 
		TableTools1.fnResizeButtons();
	});
	
	$("#download3").on("click", function(){	
		window.location.replace("/mgt/prabigtech/filter2/data/detailresource1/drc/"+h_rc+"/download/1");	
		});
	
}

</script>
