<?php 
$auth = Zend_Auth::getInstance();
$identity = $auth->getIdentity();
 // Zend_Debug::dump($identity);	//die();

if(count($this->atr)<1){
    
    $this->atr=array('tiket_id'=>"0");
    
}
if($this->files['solusi'][0]['http_url']!=""){
//die("1");	
}	
$title ="Dispatch Solution";
if(in_array(146, $identity->roles)) {
	$title ="Assign PIC";
	}	
#Zend_Debug::dump($this->forms);die();
$icons =array(
'png'=>'gnome-graphics.png',
'jpeg'=>'gnome-graphics.png',
'jpg'=>'gnome-graphics.png',
'gif'=>'gnome-graphics.png',
'doc'=>'openofficeorg.png',
'docx'=>'openofficeorg.png',
''=>'image-missing.png',
'pdf'=>'pdf.png',
'rar'=>'mkrar.png',
'7z'=>'mkrar.png',
'zip'=>'mkrar.png',
'XLS'=>'kspread.png',
'xls'=>'kspread.png',
'xlsx'=>'kspread.png',
'sql'=>'sqlitebrowser.png',
'wsdl'=>'sqlitebrowser.png',
'xml'=>'sqlitebrowser.png',
'php'=>'dashcode.png',
'js'=>'dashcode.png',
'chm'=>'addressbook.png',
'ppt'=>'ooo-impress.png',
'pptx'=>'ooo-impress.png',
'htm'=>'web-browser.png',
'html'=>'web-browser.png',
);

#Zend_Debug::dump($this->files); die();
#Zend_Debug::dump($this->rows);die();

$total = count($this->data);
$tfile= 0;
$tweight= 0;
foreach ($this->data as $v) {
	$tweight = $tweight + $v['cumweight'];

}
?>


<style>
.page-content {
  margin-top: 10px;
  padding: 10px;
  background-image: url('/assets/core/img/back.png');
  background-repeat: x;
  opacity: 2; 
}

.easyPieChart {
    position: relative;
    text-align: center;
}

.easyPieChart canvas {
    position: absolute;
    top: 0;
    left: 0;
}
.form-group {
     margin-bottom: 5px; 
}
</style>


		<div class="page-content">
			<div class="row">
	<div class="col-md-12">
		<!-- BEGIN PAGE TITLE & BREADCRUMB-->
		<h3 class="page-title">
		<?php echo $title; ?>
		</h3>
		<ul class="page-breadcrumb breadcrumb">
			<li>
				<i class="fa fa-rss"></i>
				<a href="/">Home</a>
				<i class="fa fa-angle-right"></i>
			</li>
			<li>
				<i class="fa fa-cogs"></i>
				<a href="#">Dispatch Solution</a>
				<i class="fa fa-angle-right"></i>
			</li>
			
			
		</ul>
		<!-- END PAGE TITLE & BREADCRUMB-->
	</div>
</div>
			<div class="row ">
				<div class="col-md-8">
						<div class="portlet box purple">
						<div class="portlet-title">
							<div class="caption">
								<i class="fa fa-comments"></i><?php echo $this->rows['req_name'];?>
							</div>
							<div class="tools">
								<a href="javascript:;" class="collapse"></a>
								<a href="#portlet-config" data-toggle="modal" class="config"></a>
								<a href="javascript:;" class="reload"></a>
								<a href="javascript:;" class="remove"></a>
							</div>
						</div>
						<div class="portlet-body form">
							<form class="form-horizontal" id="updating">
                          <input type="hidden"  name="tiket" value="<?php echo $this->varams['d'];?>" />
							<div class="form-body">
									<!--<div class="form-group">
										<label class="col-md-3 control-label"><strong>ID</strong></label>
										<div class="col-md-9">
											<input type="text" class="form-control input-sm" value="        <?php echo $this->rows['unik'] ."" .$this->rows['sid'];?>" disabled="true"  >
										</div>
									</div>-->
								
								
                                    
				<div class="row" >
				<div class="col-md-12">
					<div class="form-group">
						
					</div>
			
                    
    <?php foreach($this->atr as $k=>$v){ ?>
    <div class="form-group row breadcrump" id="breadcrump<?php echo $k+1 ?>" data-id="<?php echo $k+1 ?>"><div class="col-md-10">
		<div class="col-md-2">
			<div class="input-icon right">
			<h5><b>ADSL NO</b></h5>
			<i class="fa fa-exclamation tooltips" data-original-title="Input" data-container="body"></i>
			<input class="form-control input-sm" name="adslno[]" value="<?php echo $v['adslno']; ?>" placeholder="ADSL NO"></div></div>
		<div class="col-md-3">
			<div class="input-icon right">
			<h5><b>IDTRANS</b></h5>
			<i class="fa fa-exclamation tooltips" data-original-title="Input" data-container="body"></i>
			<input class="form-control input-sm" name="idtrans[]" placeholder="IDTRANS" value ="<?php echo $v['idtrans']; ?>"></div></div>
		<div class="col-md-2">
		<div class="input-icon right">
		<h5><b>ORDER TYPE</b></h5>
		<i class="fa fa-exclamation tooltips" data-original-title="Pilih" data-container="body"></i>
		<select class="form-control input-sm" name="jenis[]" placeholder="Jenis">
			<option value="AO">AO</option>
			<option value="MO">MO</option>
			<option value="DO">DO</option>
			<option value="SO">SO</option>
			<option value="NO-ORDER">NO-ORDER</option>
		</select>
			</div>
		</div>
	<div class="col-md-3">
		<div class="input-icon right">
		<h5><b>STATUS TICARES</b></h5>
		<i class="fa fa-exclamation tooltips" data-original-title="Input" data-container="body"></i>
		<input class="form-control input-sm" value="<?php echo $v['status_ticares']; ?>" name="ticares[]" placeholder="STATUS TICARES">
		</div>
		</div>
		
		<div class="col-md-2">
		<div class="input-icon right">
		<h5><b>ORDER</b></h5>
		<i class="fa fa-exclamation tooltips" data-original-title="Pilih" data-container="body"></i>
		<select class="form-control input-sm" name="order[]" placeholder="order">
			<option value="AO">AO</option>
			<option value="MO">MO</option>
			<option value="DO">DO</option>
			<option value="SO">SO</option>
			<option value="NO-ORDER">NO-ORDER</option>
		</select>
			</div>
		</div> 
	<!--<div class="col-md-2">
	<div class="input-icon right">
	<h5><b>ORDER</b></h5>
	<i class="fa fa-exclamation tooltips" data-original-title="Input" data-container="body"></i>
	<input class="form-control input-sm" name="order[]" value="<?php echo $v['orderno']; ?>" placeholder="NO ORDER TICARES"></div>
	</div>-->
	</div>
	
	<div class="col-md-2">
	<br>
	<br>
<?php if($k==0){ ?>    
    <button type="button" class="btn grey addGC" onclick="addGC(this); return false;" data-act="addGC" data-id="1" style="padding: 5px;">Add</button>

<?php } else {?>   
    <button type="button" class="btn red removeGC" onclick="removeGC(this); return false;" data-act="removeGC" data-id="2" style="padding: 5px;">Remove</button>    
    
<?php } ?>      
    
    </div></div>
    <?php } ?>               
                        <button  style="position: absolute;bottom:1px;margin-left:15px; margin-top:15px;" type="submit" class="btn green" >Update<br></button><br><br>
				</div>
			</div>
                
							</div>
                            
                        
                            	</form>
							
						</div>
				
					</div>
						
						
				
                		
								
							
					
						</div>
                      
				
                
                
                
                
				
						
						
				</div>
                
				<div class="row ">
				<div class="col-md-8">
						<div class="portlet box purple">
						<div class="portlet-title">
							<div class="caption">
								<i class="fa fa-comments"></i><?php echo $this->rows['req_name'];?>
							</div>
							<div class="tools">
								<a href="javascript:;" class="collapse"></a>
								<a href="#portlet-config" data-toggle="modal" class="config"></a>
								<a href="javascript:;" class="reload"></a>
								<a href="javascript:;" class="remove"></a>
							</div>
						</div>
						<div class="portlet-body form">
						
                         <div class="row ">
					<div class="col-md-12">
                        
									<div class="form-group">
										<label class="col-md-3 control-label"><strong>ATTACHMENT REQUEST</strong></label>
										<div class="col-md-9">
                                   <p>
									
								<?php 
								if(count($this->files['attachment'])>0) {
								foreach ($this->files['attachment'] as $v) {
								if($v['http_url']!="") {
								echo "<a href='".$v['http_url']."' >".$v['fname']."</a><br>"; 
									}
								}
								}
								?>
								<br>
								
								</p>
								</div>
									</div>
									</div>
									</div>
								
									
									
								
							
						</div>
				
					</div>
						
						
				
                		
								
							
					
						</div>
                      
				
                
                
                
                
				
						
						
				</div>
                
            
                
                <div class="row ">
					<div class="col-md-8">
						<div class="portlet box purple">
						<div class="portlet-title">
							<div class="caption">
								<i class="fa fa-comments"></i><?php echo $this->rows['req_name'];?>
							</div>
							<div class="tools">
								<a href="javascript:;" class="collapse"></a>
								<a href="#portlet-config" data-toggle="modal" class="config"></a>
								<a href="javascript:;" class="reload"></a>
								<a href="javascript:;" class="remove"></a>
							</div>
						</div>
						<div class="portlet-body form">
							<?php
							echo $this->partial('typecontent/formelement2.phtml', array('data'=>$this->forms['data'], 'params'=>$this->forms['varams'],
							'initial'=>$this->forms['initial']));
							?>
							<input type="hidden" value="<?php echo $identity->uname; ?>" id="jon">

							</div>
							
						</div>
				
					</div>
				</div>
				
			</div>
			

	
			
			<!-- END PAGE CONTENT-->
		</div>



<script>
$(document).ready(function(){
	var id=$('#jon').val();
	var name=$('#req_name').val();
	if (id=='VAL2'){
		//console.log(name);
		$('input#req_name').prop('disabled',true);
		$('input#customer').prop('disabled',true);
		$('#id-produk').hide();
		$('#id-history').hide();
		$('#id-total_klaim').hide();
		$('#id-abonemen').hide();
		//$('#id-klaim_am').hide();
	}
});

var gamasidx2=<?php echo count($this->atr); ?>;






function addGC(me){

	var id = $(me).data('id');

	var currow = $('body').find('.breadcrump:last');



var str = '<div class="form-group row breadcrump" id="breadcrump'+(parseInt(gamasidx2)+1)+'" data-id="'+(parseInt(gamasidx2)+1)+'" >'

					+'<div class="col-md-10">'
+'<div class="col-md-2">'
									+'<div class="input-icon right">'
										+'<i class="fa fa-exclamation tooltips" data-original-title="isikan dengan nama" data-container="body"></i>'
									+'<input class="form-control input-sm" name="adslno[]" placeholder="ADSL NO">'
									
									+'</div>'
								+'</div>'
								+'<div class="col-md-3">'
									+'<div class="input-icon right">'
									+'<i class="fa fa-exclamation tooltips" data-original-title="isikan dengan url" data-container="body"></i>'
									+'<input class="form-control input-sm" name="idtrans[]" placeholder="IDTRANS">'
									+'</div>'
								+'</div>'
								+'<div class="col-md-2">'
								+'<div class="input-icon right">'
										+'<i class="fa fa-exclamation tooltips" data-original-title="isikan dengan class" data-container="body"></i>'
									+'<select class="form-control input-sm" name="jenis[]" placeholder="Jenis"><option value="AO">AO</option><option value="MO">MO</option><option value="DO">DO</option><option value="SO">SO</option><option value="NO-ORDER">NO-ORDER</option></select>'
								+'</div>'	
								+'</div>'
                                +'<div class="col-md-3">'
									+'<div class="input-icon right">'
									+'<i class="fa fa-exclamation tooltips" data-original-title="isikan dengan url" data-container="body"></i>'
									+'<input class="form-control input-sm" name="ticares[]" placeholder="STATUS TICARES">'
									+'</div>'
								+'</div>'
                                 +'<div class="col-md-2">'
									+'<div class="input-icon right">'
									+'<i class="fa fa-exclamation tooltips" data-original-title="isikan dengan url" data-container="body"></i>'
									+'<input class="form-control input-sm" name="order[]" placeholder="NO ORDER TICARES">'
									+'</div>'
								+'</div>'
						

					+'</div>'

					+'<div class="col-md-2">'

						+'<button type="button" class="btn red removeGC" onclick="removeGC(this); return false;" data-act="removeGC" data-id="'+(parseInt(gamasidx2)+1)+'" style="padding: 5px;">Remove</button>'

					+'</div>'

				+'</div>';	gamasidx2++;

	//console.log(str);

	currow.after(str);

}





function removeGC(me){

	var id = $(me).data('id');

	//console.log(id);

	$('body').find('#breadcrump'+id+':first').remove();

}




	
jQuery(document).ready(function() {
$('body').addClass('page-header-fixed page-sidebar-fixed page-footer-fixed');
$('span.help-block').hide();


App.init();







var EditApi = function () {

	

	var handleAdd = function() {



		$('form#updating').validate({

	            //errorElement: 'span', //default input error message container

	            //errorClass: 'label-danger', // default input error message class

	            focusInvalid: false, // do not focus the last invalid input

	            rules: {

	            },

	         



	            messages: {

					

	            },



	            invalidHandler: function (event, validator) {

	            },



	            highlight: function (element) { // hightlight error inputs

	               
	            },



	            success: function (label) {

	               
	                //label.remove();

	            },



	            errorPlacement: function (error, element) {

					

	            },



	            submitHandler: function (form) {

					$('span.help-block').hide();

					$('.form-group').removeClass('has-error');

	                //form.submit(); // form validation success, call ajax form submit

	                submitForm();

	                return false;

	            }

	        });



	        $('form#updating input').keypress(function (e) {

	            if (e.which == 13) {

					$('span.help-block').hide();

					$('.form-group').removeClass('has-error');

	                if ($('form#updating').validate().form()) {

	                   //$('form#addapi').submit(); //form validation success, call ajax form submit

	                   submitForm();

	                }

	                return false;

	            }

	        });

	}

	

	var submitForm = function(){

		

		

		//console.log($('form#addapi').serialize());

		$.ajax({

			url:"/mgt/ajax/updating",

			content:'json',

			type:'post',

			data:$('form#updating').serialize(),

			beforeSend:function(){

			},

			complete:function(result){

			},

			success: function(data){
            alert("data diupdate");
			},

			error:function(){

			}

		});

	}

	

	



	var resetForm = function(){

		$('input','form#addapi')

			.not(':button, :submit, :reset, :hidden')

			.val('');

			

		$('select,option','form#addapi')

			.removeAttr('checked')

			.removeAttr('selected');

		

		$('.make-switch').bootstrapSwitch('setState',false);

		

		$('.ms-selectable').find('li').removeClass('ms-selected');

		$('.ms-selection').find('li').removeClass('ms-hover');

		$('.ms-selectable').find('li').removeAttr('style');

		

		$('.ms-selection').find('li').removeClass('ms-selected');

		$('.ms-selection').find('li').removeClass('ms-hover');

		$('.ms-selection').find('li').css({display:'none'});

	}

    

    return {

        //main function to initiate the module

        init: function () {

            handleAdd();

        }



    };



}();







$('span.help-block').hide();

EditApi.init();




});




</script>
