<?php 
//Zend_Debug::dump($this->all);die();
$total = count($this->data);
$tfile= 0;
$tweight= 0;
foreach ($this->data as $v) {
	$tweight = $tweight + $v['cumweight'];

}
$auth = Zend_Auth::getInstance();
$identity = $auth->getIdentity();

$www = "12";

?>

<style>

.easyPieChart {
    position: relative;
    text-align: center;
}

.easyPieChart canvas {
    position: absolute;
    top: 0;
    left: 0;
}


</style>
<script src="/assets/core/plugins/highchart/highcharts.js"></script>
<script src="/assets/core/plugins/highchart/exporting.js"></script>
		<div class="page-content">
					<div class="row">
	<div class="col-md-12">
		<!-- BEGIN PAGE TITLE & BREADCRUMB-->
		<h3 class="page-title">
		My Dashboard <small></small>
		</h3>
			<ul class="page-breadcrumb breadcrumb">
			<li>
				<i class="fa fa-rss"></i>
				<a href="/">Home</a>
				<i class="fa fa-angle-right"></i>
			</li>
			<li>
				<i class="fa fa-cogs"></i>
				<a href="#">Dashboard</a>
				<i class="fa fa-angle-right"></i>
			</li>
			
			<!--li class="btn-group pull-right">
				<button type="button" class="btn red">
					<span>
				ADMINESDD					</span>
				</button>
			</li-->
		</ul>
	
		
	</div>
</div>
			
			<div class="row">
			
			<div class="col-md-6">
					<div class="portlet">
						<div class="portlet-title">
							<div class="caption">
								<i class="fa fa-reorder"></i>My Overview  Solution
							</div>
							<div class="tools">
								<a href="#portlet-config" data-toggle="modal" class="config">
								</a>
								<a href="javascript:;" class="reload">
								</a>
							</div>
						</div>
						<div class="portlet-body">
							<!--<h4>Semi-transparent, black-colored label background.</h4>-->
							<div id="pie_chart_5" class="chart">
							</div>
						</div>
					</div>
			
			</div>
			
				<div class="col-md-6">
					<div class="portlet">
						<div class="portlet-title">
							<div class="caption">
								<i class="fa fa-reorder"></i>My Closed  Solution Status
							</div>
							<div class="tools">
								<a href="#portlet-config" data-toggle="modal" class="config">
								</a>
								<a href="javascript:;" class="reload">
								</a>
							</div>
						</div>
						<div class="portlet-body">
							<!--<h4>Semi-transparent, black-colored label background.</h4>-->
							<div id="pie_chart_6" class="chart">
							</div>
						</div>
					</div>
			
			</div>
			</div>
			<div class="row">
				
				
				<div class="col-md-<?php echo $www; ?>">
					<!-- BEGIN SAMPLE TABLE PORTLET-->
					<div class="portlet box purple">
						<div class="portlet-title">
							<div class="caption">
								<i class="fa fa-comments"></i>MY NEWEST SOLUTION
							</div>
							<div class="tools">
								<a href="javascript:;" class="collapse"></a>
								<a href="#portlet-config" data-toggle="modal" class="config"></a>
								<a href="javascript:;" class="reload"></a>
								<a href="javascript:;" class="remove"></a>
							</div>
						</div>
						<div class="portlet-body">
						<div class="table" >
						
								<table id="tabx" class="table table-striped table-hover display wrap" width="100%" >
								<form>	
								<thead>
								<tr>
									<th>
								
									</th>
									<th>
											<input type="text" size=6 class="form-control-small" id="ID" name="ID" placeholder="ID">
									</th>
									<th>
											<input type="text" class="form-control-small" id="solutionname" name="solutionname" placeholder="Solution Name">
									</th>
									<th>
										<input type="text" size=3 class="form-control-small" id="segmen" name="segmen" placeholder="Segmen">
									</th>
									<th>
										<input type="text" class="form-control-small" id="solutiondescr" name="solutiondescr" placeholder="Solution Description">
									</th>
									<th>
											<input type="text" class="form-control-small" id="requesteddate" name="requesteddate" placeholder="Requested Date">
									</th>
									<th>
											<input type="text"  size=10 class="form-control-small" id="status" name="status" placeholder="Status">
									</th>
									<th>
										<input size=10  type="text" class="form-control-small" id="type" name="type" placeholder="type">
									</th>
									<th>
										<input size=10  type="text" class="form-control-small" id="pic" name="pic" placeholder="pic">
									</th>
									<th>
										Action
									</th>
								</tr>
								</form>	
								<tr>
									<th>
										#
									</th>
									<th>
										ID
									</th>
									<th>
										Solution Name
									</th>
									<th>
										Segmen
									</th>
									<th>
										Solution Desc
									</th>
									<th>
										Requested Date
									</th>
									<th>
										Status
									</th>
									<th>
										Type
									</th>
									<th>
										PIC
									</th>
									<th>
										Action
									</th>
								</tr>
								</thead>
								<tbody>
								<?php 
								$i=1;
								foreach ($this->all as $v) {
								
								$tipe="";
								($v['phase_status']=="") ? $staV =  "Filtering" :$staV = $v['phase_status'];
								
								echo '<tr><td>'.$i.'</td><td>'.$v['unik']."".$v['sid'].'</td>
								<td><a href="/mgt/prabigtech/dashlevel2/d/'.$v['sid'].'" />'.$v['req_name'].'</a></td>
								<td>'.$v['segment'].'</td>
								<td>'.substr($v['req_descr'],0, 50).'</td>
								<td>'.$v['created'].'</td><td>'.$staV." ".$v['closed_status'].'</td>
								<td>'.$v['type_solution'].'</td>
								<td>'.$v['pic'].'</td>
								
								<td><a href="/mgt/prabigtech/dashlevel2/d/'.$v['sid'].'" class="btn default btn-xs red-stripe">View</a>&nbsp;';
								if($v['phase_status']=="Closed" && in_array(142, $identity->roles)&&$v['closed_status']=="") {
								//echo '<a href="/mgt/prabigtech/assignpic/d/'.$v['sid'].'" class="btn default btn-xs blue-stripe">Win/Lose</a>';
								}
								
								
								
								echo '</td>
								
								</tr>';
								$i++;
								}
								?>
								
								
								</tbody>
								</table>
							</div>
						</div>
					</div>
					<!-- END SAMPLE TABLE PORTLET-->
				</div>
				
			</div>
			
		
			<!-- END PAGE CONTENT-->
		</div>



<script>


	
jQuery(document).ready(function() {
$('body').addClass('page-header-fixed page-sidebar-fixed page-footer-fixed');
$('span.help-block').hide();





var Charts = function () {

    return {
        //main function to initiate the module

        init: function () {

            App.addResponsiveHandler(function () {
                 Charts.initPieCharts(); 
            });
            
        },

        initCharts: function () {

            if (!jQuery.plot) {
                return;
            }

          
          

        },
		<?php
		
		$solusi = array_keys($this->pie['type_solusi']);
		$type_phase = array_keys($this->pie['type_phase']);
		$type_closed = array_keys($this->pie['type_closed']);
		
		?>
   
        initPieCharts: function () {

            var data = [];
			
			var data = [
			<?php 
			foreach ($solusi as $v) {
				echo '{ label: "'.$v.'",  data: '.count($this->pie['type_solusi'][$v]).'},';	
			} 
			?>
			];
	
          

         
			var data2 = [];
			
			var data2 = [
			<?php 
			foreach ($type_phase as $v) {
				echo '{ name: "'.$v.'",  y: '.count($this->pie['type_phase'][$v]).'},';	
			} 
			?>
			];
			
			
					$('#pie_chart_5').highcharts({
						chart: {
							plotBackgroundColor: null,
							plotBorderWidth: null,
							plotShadow: false,
							type: 'pie',
							marginRight: 30
						},
					   title: {
								text: ' '
							},
						tooltip: {
							pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b><br> Jumlah : {point.y}'

						},
						plotOptions: {
							pie: {
							 size: 218,
							 
								allowPointSelect: true,
								cursor: 'pointer',
								dataLabels: {
								distance: 7,    
									enabled: false,
									format: '<b>{point.name}</b>: {point.percentage:.1f} %<br> Jumlah : {point.y}',
									style: {
										color: (Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black'
									}
								}
							}
						},
						credits: {
							enabled: false
						  },
						series: [{
							name: 'Percentage',
							colorByPoint: true,
							data: data2
						}]
					});
				
			
			
			/*
			  $.plot($("#pie_chart_5"), data2, {
                    series: {
                        pie: {
                            show: true,
                            radius: 1,
                            label: {
                                show: true,
                                radius: 3 / 4,
                                formatter: function (label, series) {
							//	console.log(series);
                                   return '<div style="font-size:8pt;text-align:center;padding:2px;color:white;">' + label + ':&nbsp;&nbsp; '+series.data[0][1]+'&nbsp;&nbsp;(' + Math.round(series.percent) + '%)</div>';
                                },
                                background: {
                                    opacity: 0.5,
                                    color: '#000'
                                }
                            }
                        }
                    },
                    legend: {
                        show: false
                    }
                });
			
			*/
			var data3 = [];
			
			var data3 = [
			<?php 
			foreach ($type_closed as $v) {
				echo '{ name: "'.$v.'",  y: '.count($this->pie['type_closed'][$v]).'},';	
			} 
			?>
			];
			
			  	
					$('#pie_chart_4').highcharts({
						chart: {
							plotBackgroundColor: null,
							plotBorderWidth: null,
							plotShadow: false,
							type: 'pie',
							marginRight: 30
						},
					   title: {
								text: ' '
							},
						tooltip: {
							pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b><br> Jumlah : {point.y}'

						},
						plotOptions: {
							pie: {
							 size: 218,
							 
								allowPointSelect: true,
								cursor: 'pointer',
								dataLabels: {
								distance: 7,    
									enabled: false,
									format: '<b>{point.name}</b>: {point.percentage:.1f} %<br> Jumlah : {point.y}',
									style: {
										color: (Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black'
									}
								}
							}
						},
						credits: {
							enabled: false
						  },
						series: [{
							name: 'Percentage',
							colorByPoint: true,
							data: data3
						}]
					});
				
			
			/*
			  $.plot($("#pie_chart_6"), data3, {
                    series: {
                        pie: {
                            show: true,
                            radius: 1,
                            label: {
                                show: true,
                                radius: 3 / 4,
                                formatter: function (label, series) {
								//	console.log(series);
								return '<div style="font-size:8pt;text-align:center;padding:2px;color:white;">' + label + ':&nbsp;&nbsp; '+series.data[0][1]+'&nbsp;&nbsp;(' + Math.round(series.percent) + '%)</div>';
							},
                                background: {
                                    opacity: 0.5,
                                    color: '#000'
                                }
                            }
                        }
                    },
                    legend: {
                        show: false
                    }
                });
			*/
            function pieHover(event, pos, obj) {
            if (!obj)
                    return;
                percent = parseFloat(obj.series.percent).toFixed(2);
                $("#hover").html('<span style="font-weight: bold; color: ' + obj.series.color + '">' + obj.series.label + ' (' + percent + '%)</span>');
            }

            function pieClick(event, pos, obj) {
                if (!obj)
                    return;
                percent = parseFloat(obj.series.percent).toFixed(2);
                alert('' + obj.series.label + ': ' + percent + '%');
            }

        }
        
    };

}();

App.init();
Charts.initPieCharts();



var oTable = $('#tabx').dataTable({
                "aLengthMenu": [
                    [10,50, 200, 500 -1],
                    [10,50, 200, 500, "All"] // change per page values here
                ],
                "scrollX": false,
                "iDisplayLength": 10,
                "sPaginationType": "bootstrap_full_number",
                "oLanguage": {
                    "sProcessing": '<i class="fa fa-coffee"></i>&nbsp;Please wait...',
                    "sLengthMenu": "_MENU_ records",
                    "oPaginate": {
                        "sPrevious": "Prev",
                        "sNext": "Next"
                    },
				"sSearch": "Search all columns:"
                },
                "aoColumnDefs": [{
                        'bSortable': false,
                        'aTargets': [0]
                    }
                ]

  });


$('#tabx_filter').hide();
  
$("input#ID").keyup( function () {
			/* Filter on the column (the index) of this element */
			oTable.fnFilter( this.value, 1 );
} );


$("input#solutionname").keyup( function () {
			/* Filter on the column (the index) of this element */
			oTable.fnFilter( this.value, 2 );
} );



$("input#segmen").keyup( function () {
			/* Filter on the column (the index) of this element */
			oTable.fnFilter( this.value, 3 );
} );


$("input#solutiondescr").keyup( function () {
			/* Filter on the column (the index) of this element */
			oTable.fnFilter( this.value, 4 );
} );


$("input#requesteddate").keyup( function () {
			/* Filter on the column (the index) of this element */
			oTable.fnFilter( this.value, 5 );
} );



$("input#status").keyup( function () {
			/* Filter on the column (the index) of this element */
			oTable.fnFilter( this.value, 6 );
} );

$("input#type").keyup( function () {
			/* Filter on the column (the index) of this element */
			oTable.fnFilter( this.value, 7 );
} );

$("input#pic").keyup( function () {
			/* Filter on the column (the index) of this element */
			oTable.fnFilter( this.value, 8 );
} );

});


</script>
