<?php 

	//Zend_Debug::dump($this->authmom); die();

	$auth = Zend_Auth::getInstance();
	$identity = $auth->getIdentity();
		

		
foreach ($this->pics as $z) {
	$npic[$z['name']][] =$z;	
}		
//Zend_Debug::dump($npic); die();		
$icons =array(
'png'=>'gnome-graphics.png',
'jpeg'=>'gnome-graphics.png',
'jpg'=>'gnome-graphics.png',
'gif'=>'gnome-graphics.png',
'doc'=>'openofficeorg.png',
'docx'=>'openofficeorg.png',
''=>'image-missing.png',
'pdf'=>'pdf.png',
'rar'=>'mkrar.png',
'7z'=>'mkrar.png',
'zip'=>'mkrar.png',
'XLS'=>'kspread.png',
'xls'=>'kspread.png',
'xlsx'=>'kspread.png',
'sql'=>'sqlitebrowser.png',
'wsdl'=>'sqlitebrowser.png',
'xml'=>'sqlitebrowser.png',
'php'=>'dashcode.png',
'js'=>'dashcode.png',
'chm'=>'addressbook.png',
'ppt'=>'ooo-impress.png',
'pptx'=>'ooo-impress.png',
'htm'=>'web-browser.png',
'html'=>'web-browser.png',
);

//Zend_Debug::dump($this->files); die();
#Zend_Debug::dump($this->rows);die();

$total = count($this->data);
$tfile= 0;
$tweight= 0;
foreach ($this->data as $v) {
	$tweight = $tweight + $v['cumweight'];

}
?>


<style>
.page-content {
  margin-top: 10px;
  padding: 10px;
  background-image: url('/assets/core/img/back.png');
  background-repeat: x;
  opacity: 2; 
}

.easyPieChart {
    position: relative;
    text-align: center;
}

.easyPieChart canvas {
    position: absolute;
    top: 0;
    left: 0;
}
.portlet-tabs > .tab-content {
	
min-height:270px;	
}
</style>


<div class="page-content">
<div class="row">
	<div class="col-md-12">
		<!-- BEGIN PAGE TITLE & BREADCRUMB-->
		<h3 class="page-title">
		Detail Solution  <small>	<?php echo $this->rows['req_name'];?> </em></small>
		</h3>
		<ul class="page-breadcrumb breadcrumb">
		
			<li>
				<i class="fa fa-home"></i>
				<a href="index.html">Home</a>
				<i class="fa fa-angle-right"></i>
			</li>
			<li>
				<a href="#">List Solution</a>
				<i class="fa fa-angle-right"></i>
			</li>
			<li>
				<a href="#">Detail Solution</a>
			</li>
		</ul>
		<!-- END PAGE TITLE & BREADCRUMB-->
	</div>
</div>
		
<div class="row ">
	<div class="col-md-8">
		<div class="top-news">
			<a href="#" class="btn red">
				<span>
					<?php echo $this->rows['req_name'];?> </em>
				</span>				
			</a>
		</div>
		<div class="news-blocks">
			<div class="news-block-tags">
				<strong>ID</strong> : <?php echo $this->rows['unik'] ."" .$this->rows['sid'];?>
			</div>
			<p>
			
			</p>
			<div class="news-block-tags">
				<strong>SEGMEN</strong> : <?php echo $this->rows['segment'];?>
			</div>
			<p>
			
			</p>
			<div class="news-block-tags">
				<strong>CORPORATE CUSTOMER</strong> : <?php echo $this->rows['corporate_customer'];?>
			</div>
			<p>
		
			</p>
			<div class="news-block-tags">
				<strong>SE SEGMEN</strong> :	<?php echo $this->rows['pic_segment'];?>
			</div>
			<p>
		
			</p>
			<div class="news-block-tags">
				<strong>AM SEGMEN</strong> :	<?php echo $this->rows['am_segment'];?>
			</div>
			<p>
		
			</p>
			
			<div class="news-block-tags">
				<strong>ESTIMASI REVENUE</strong> : <?php echo $this->rows['est_revenue'];?>
			</div>
			<p>
			
			</p>
			<div class="news-block-tags">
				<strong>TIPE BIDDING</strong> : <?php echo $this->rows['type_bidding'];?>
			</div>
			<p>
			
			</p>
			<div class="news-block-tags">
				<strong>PIC ESD</strong> :	<?php echo $this->rows['fullname'];?>
			</div>
			<p>
			
			</p>			
			<div class="news-block-tags">
				<strong>TARGET IMPLEMENTASI </strong> :	<?php echo $this->rows['target_implementasi'];?>
			</div>
			<p>
				
			</p>
			<div class="news-block-tags">
				<strong>OWNER ESTIMATE</strong> :	<?php echo $this->rows['owner_estimate'];?>
			</div>
			<p>
				
			</p>
			<div class="news-block-tags">
				<strong>DESKRIPSI</strong> :	<?php echo $this->rows['req_descr'];?>
			</div>
			<p>				
		
			</p>
			<div class="news-block-tags">
				<strong>DELIVERABLE & BENEFITS</strong> :	<?php echo $this->rows['req_deriverable'];?>
			</div>
			<p>
		
			</p>		
			<div class="news-block-tags">
				<strong>INITIATOR</strong>:	<?php echo $this->rows['initiator'];?>
			</div>
			<p>
			
			</p>
		
		</div>
	</div>
							
	<div class="col-md-4">	
		<div class="portlet box red">
			<div class="portlet-title">
				<div class="caption">
					<i class="fa fa-reorder"></i>Status
				</div>			
			</div>
			
			<div class="portlet-body">
				<div style="padding:10px; font-size:20px;">
					<i class="fa fa-angle-right"></i>
				
					<?php 
					echo ($this->rows['phase_status']=="")? $vstat = "Filtering" : $vstat = $this->rows['phase_status'];
					if($this->rows['closed_status']!="") {
						echo "&nbsp-".$this->rows['closed_status'];
					}
					?>
				</div>
				
				<div style="padding-left:20px;">
					<?php echo $this->rows['cat_status']; ?>
				</div>
									
				<div style="margin-top:20px; margin-left:10%;"> <i>
					<?php if($this->authpic==1) { ?>
					<a href="/mgt/prabigtech/dashlevel3/d/<?php echo $this->varams['d'];?>"  class="btn yellow">Update</a>&nbsp;&nbsp;&nbsp;
					<?php  } ?>last updated <?php echo $this->rows['vchanged']; ?></i>
							
				</div>
			</div>
		</div>
	</div>
								
	<div class="col-md-4">	
		<div class="portlet box red">
			<div class="portlet-title">
				<div class="caption">
					<i class="fa fa-reorder"></i>Team
				</div>
				
			</div>
			<div class="portlet-body">				
				<div style="padding:10px; font-size:20px;">
				
					<?php 
					foreach ($npic as $k=>$zz) {
					echo "	<i class='fa fa-angle-right'></i>" .$k .":" . count($npic[$k])."<br>";

					}
					?>
						
				</div>
				<div style="float:right;margin-top:-25px">						
					<a class="more" href="/mgt/prabigtech/collab/d/<?php echo $this->rows['sid'];?>/auth/<?php echo  $this->authpic;?>">			
						<button type="button" class="btn yellow">Collaboration</button> 
					</a>							
				</div>
			</div>
		</div>
	</div>
							
	<?php
	echo $this->partial('prabigtech/momelement.phtml', array('data'=>$this->mom, 'params'=>$this->varams, "authmom"=>$this->authmom));
	?>	
						
	<div class="col-md-8">
		<div class="portlet box blue tabbable">
			<div class="portlet-title">				
				<div class="caption">
					<i class="fa fa-reorder"></i>FILES & DCOUMENTS	
				</div>
			</div>
			<div class="portlet-body">
				<div class=" portlet-tabs">
					<ul class="nav nav-tabs">
						<li class="">
							<a href="#portlet_tab4" data-toggle="tab">Peta Peran</a>
						</li>
						<li class="">
							<a href="#portlet_tab3" data-toggle="tab">Dok Solusi</a>
						</li>
						<li >
							<a href="#portlet_tab1" data-toggle="tab">Attachment (DES)</a>
						
						</li>
						<li>
								<a href="#portlet_tab2"  class="active" data-toggle="tab">Dok Pendukung</a>
						</li>
					</ul>
					
					<div class="tab-content">								
						<div class="tab-pane active" id="portlet_tab2">
						
							<?php
								foreach($this->files['pendukung'] as $rr) 
								{
									$fty = explode('.', $rr['fname']);
									$doctype =  max($fty);
							?>		
							
								<ol id="list">									   
									<li>
									<div class="media">
										<a class="pull-left">
											<img width="30" class="media-object" src="/assets/core/img/<?php echo $icons[$doctype]; ?> ">
										</a>
										<div class="media-body">
											<div class="media-heading" style="font-size:18px; font-weight:bold;color:#848484">
											<?php echo $rr['fname'];?>&nbsp;&nbsp;<span style="font-size:12px; color:##D8D8D8">(<?php echo $rr['created_date'];?>/<?php echo $rr['fsize']/1000;?>KB)</span>
											</div> 

											<p><?php
											
											 if (unserialize($rr['fdescr'])) {
												echo ""	;
											} else {
												echo $rr['fdescr'];
												
												}	
											 
											 ?></p>

											<a href="http://10.65.10.99:8888/uploader/<?php echo $rr['fname']; ?>">download</a>
										</div>
									</li>																						   																						  																						   
								</ol>
										<?php 
											}
										?>
										<?php if($this->authmom) { ?>
										<div class="btn-group margin-bottom-10">
											
											<a class="btn red" href="#basic"  data-toggle="modal" rel="1200">
												<i class="fa fa-plus"></i> Add											
											</a>											
										</div>
										<?php } ?>
									</div>
									
							<div class="tab-pane " id="portlet_tab1">										
								<ol id="list">										
									<?php
									foreach($this->files['attachment'] as $rr) 
									{
										$fty = explode('.', $rr['fname']);
										$doctype =  max($fty);
									?>			
										
									   
										<li>
								<div class="media">
											<a class="pull-left">
												<img width="30" class="media-object" src="/assets/core/img/<?php echo $icons[$doctype]; ?> ">
											</a>
											<div class="media-body">
												<div class="media-heading" style="font-size:18px; font-weight:bold;color:#848484">
												<?php echo $rr['fname'];?>&nbsp;&nbsp;<span style="font-size:12px; color:##D8D8D8">(<?php echo $rr['created_date'];?>/<?php echo $rr['fsize']/1000;?>KB)</span>
												</div> 

												<p><?php 
												
												if (unserialize($rr['fdescr'])) {
													echo ""	;
												} else {
													echo $rr['fdescr'];
													
													}
												
												
												?></p>

												<a href="http://10.65.10.99:8888/uploader/<?php echo $rr['fname']; ?>">download</a>
											</div>
										</li>
									
										<?php 
										}
										?>				
										<?php
										foreach($this->files['attachment2'] as $rr) 
										{
											$fty = explode('.', $rr['fname']);
											$doctype =  max($fty);
										?>			
										
									   
										<li>
									<div class="media">
										<a class="pull-left">
											<img width="30" class="media-object" src="/assets/core/img/<?php echo $icons[$doctype]; ?> ">
										</a>
											<div class="media-body">
												<div class="media-heading" style="font-size:18px; font-weight:bold;color:#848484">
													<?php echo $rr['fname'];?>&nbsp;&nbsp;<span style="font-size:12px; color:##D8D8D8">(<?php echo $rr['created_date'];?>/<?php echo $rr['fsize']/1000;?>KB)</span>
												</div> 

												<p><?php 
												
												if (unserialize($rr['fdescr'])) {
													echo ""	;
												} else {
													echo $rr['fdescr'];
													
													}

												?></p>

												<a href="http://10.65.10.99:8888/uploader/<?php echo $rr['fname']; ?>">download</a>
											</div>
										</li>
										
										<?php 
										}
										?>				
										
										<?php
										foreach($this->files['attachment3'] as $rr) 
										{
											$fty = explode('.', $rr['fname']);
											$doctype =  max($fty);
										?>			
																			   
										<li>
											<div class="media">
												<a class="pull-left">
													<img width="30" class="media-object" src="/assets/core/img/<?php echo $icons[$doctype]; ?> ">
												</a>
												<div class="media-body">
													<div class="media-heading" style="font-size:18px; font-weight:bold;color:#848484">
														<?php echo $rr['fname'];?>&nbsp;&nbsp;<span style="font-size:12px; color:##D8D8D8">(<?php echo $rr['created_date'];?>/<?php echo $rr['fsize']/1000;?>KB)</span>
													</div> 

													<p><?php 
													
													if (unserialize($rr['fdescr'])) {
														echo ""	;
													} else {
														echo $rr['fdescr'];
														
														}
				
													?></p>

													<a href="http://10.65.10.99:8888/uploader/<?php echo $rr['fname']; ?>">download</a>
												</div>
										</li>

												<?php 
												}
												?>				
								</ol>
																					
											</div>
										
										<div class="tab-pane" id="portlet_tab3">
												
											<?php
											foreach($this->files['solusi'] as $rr) 
											{
												$fty = explode('.', $rr['fname']);
												$doctype =  max($fty);
											?>	
											
											<ol id="list">
												<li>
													<div class="media">
														<a class="pull-left">
															<img width="30" class="media-object" src="/assets/core/img/<?php echo $icons[$doctype]; ?> ">
														</a>
														<div class="media-body">
															<div class="media-heading" style="font-size:18px; font-weight:bold;color:#848484">
																<?php echo $rr['fname'];?>&nbsp;&nbsp;<span style="font-size:12px; color:##D8D8D8">(<?php echo $rr['created_date'];?>/<?php echo $rr['fsize']/1000;?>KB)</span>
															</div> 

															<p><?php
															
															 if (unserialize($rr['fdescr'])) {
																echo ""	;
															} else {
																echo $rr['fdescr'];
																
																}	
															 
															 ?></p>

															<a href="http://10.65.10.99:8888/uploader/<?php echo $rr['fname']; ?>">download</a>
														</div>
												</li>														   
											</ol>
														<?php 
															}
														?>
														
													</div>
													
											<div class="tab-pane" id="portlet_tab4">
												
												<?php
												foreach($this->files['file_peta_peran'] as $rr) 
												{
													$fty = explode('.', $rr['fname']);
													$doctype =  max($fty);
												?>	
												
												<ol id="list">												   
													<li>
														<div class="media">
															<a class="pull-left">
																<img width="30" class="media-object" src="/assets/core/img/<?php echo $icons[$doctype]; ?> ">
															</a>
															<div class="media-body">
																<div class="media-heading" style="font-size:18px; font-weight:bold;color:#848484">
																	<?php echo $rr['fname'];?>&nbsp;&nbsp;<span style="font-size:12px; color:##D8D8D8">(<?php echo $rr['created_date'];?>/<?php echo $rr['fsize']/1000;?>KB)</span>
																</div> 

																<p><?php
																
																 if (unserialize($rr['fdescr'])) {
																	echo ""	;
																} else {
																	echo $rr['fdescr'];
																	
																	}	
																 
																 ?></p>

																<a href="http://10.65.10.99:8888/uploader/<?php echo $rr['fname']; ?>">download</a>
															</div>
													</li>
																									   
																									   
																									   
												</ol>
															<?php 
															}
															?>
														</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>				
</div>
			
<div id="modal_upload"></div>

<div class="modal fade in" id="basic" tabindex="-1" role="basic" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
			</div>
			<div class="modal-body">
				<form role="form" id="doc_upload" enctype="multipart/form-data" action="/mgt/prabadoc/upload" method="post">
					<input type="hidden"  name="id" value="<?php echo (int)$this->varams['d']; ?>">
					<div class="form-body">
						<div class="form-group">
							<label for="doc_path" class="required">Upload File:</label>
							
							<input type="hidden" class="form-control" name="MAX_FILE_SIZE" value="50048576" id="MAX_FILE_SIZE">
							<input type="file" name="doc_path" id="doc_path">
						</div>
						<div class="form-group">
							<label for="caption" class="optional">Description:</label>
							<input type="text" class="form-control" name="caption" id="caption" value="" size="50">
						</div>
						<div class="form-group">
							<input type="submit" name="submit" id="submitbutton" value="Upload File">
						</div>
					</div>
				</form>
				<!--form id="doc_upload" enctype="multipart/form-data" action="/pemilu/upload"  method="post"><dl class="zend_form">
				<dt id="doc_path-label"><label for="doc_path" class="required">Upload File:</label></dt>
				<dd>
				<input type="hidden" name="MAX_FILE_SIZE" value="1048576" id="MAX_FILE_SIZE">
				<input type="file" name="doc_path" id="doc_path"></dd>
				<dt id="caption-label"><label for="caption" class="optional">Description:</label></dt>
				<dd id="caption-element">
				<input type="text" name="caption" id="caption" value="" size="50"></dd>
				<dt id="submit-label">&nbsp;</dt><dd id="submit-element">
				<input type="submit" name="submit" id="submitbutton" value="Upload File"></dd></dl></form-->
			</div>
		</div>
	</div>			
<!-- END PAGE CONTENT-->
</div>

<script>
	
jQuery(document).ready(function() {
$('body').addClass('page-header-fixed page-sidebar-fixed page-footer-fixed');
$('span.help-block').hide();

var Search = function () {
    return {
        //main function to initiate the module
        init: function () {
            if (jQuery().datepicker) {
                $('.date-picker').datepicker();
            }

            App.initFancybox();
        }

    };

}();

var Index = function () {

    return {

        //main function
        init: function () {
        },

        initChat: function () {
            var cont = $('#chats');
            var list = $('.chats', cont);
            var form = $('.chat-form', cont);
            var input = $('input', form);
            var btn = $('.btn', form);
            var handleClick = function (e) {
              e.preventDefault();
                	
                var text = input.val();
                if (text.length == 0) {
                    return;
                }
				
			$.ajax({
				url:"/prabigtech/postchat",
				content:'json',
				type:'post',
				data:$('form#formchat').serialize(),
				beforeSend:function(){
				},
				complete:function(result){
			
				},
				success: function(data){
					 location.reload(true);
					
				},
				error:function(){
				
				}
				});
                //var time = new Date();
                //var time_str = time.toString('MMM dd, yyyy hh:mm');
                //var tpl = '';
                //tpl += '<li class="out">';
                //tpl += '<img class="avatar" alt="" src="/assets/core/img/avatar1.jpg"/>';
                //tpl += '<div class="message">';
                //tpl += '<span class="arrow"></span>';
                //tpl += '<a href="#" class="name">Bob Nilson</a>&nbsp;';
                //tpl += '<span class="datetime">at ' + time_str + '</span>';
                //tpl += '<span class="body">';
                //tpl += text;
                //tpl += '</span>';
                //tpl += '</div>';
                //tpl += '</li>';

                //var msg = list.append(tpl);
                //input.val("");
                //$('.scroller', cont).slimScroll({
                    //scrollTo: list.height()
                //});
            }

            /*
            $('.scroller', cont).slimScroll({
                scrollTo: list.height()
            });
            */

            $('body').on('click', '.message .name', function(e){
                e.preventDefault(); // prevent click event

                var name = $(this).text(); // get clicked user's full name
                input.val('@' +  name + ':'); // set it into the input field
                App.scrollTo(input); // scroll to input if needed
            });

            btn.click(handleClick);
            input.keypress(function (e) {
                
                if (e.which == 13) {
					e.preventDefault();
					handleClick();
                    return false; //<---- Add this line
                }
            });
        }

    };

}();


var EditApi = function () {
	
	var handleAdd = function() {

		$('form#addpic').validate({
	            //errorElement: 'span', //default input error message container
	            //errorClass: 'label-danger', // default input error message class
	            focusInvalid: false, // do not focus the last invalid input
	            rules: {
	                get_api: {
	                    //required: true
	                },
	                //title: {
	                    //required: true
	                //}
	            },
	         

	            messages: {
					
	            },

	            invalidHandler: function (event, validator) { //display error alert on form submit   
	                //$('.alert-danger', $('.login-form')).show();
	                //console.log(event);
	                //console.log(validator);
	                
					//$('span.help-block').show();
					$('span.help-block').hide();
	                var errorlist = validator.errorList;
	                if(errorlist.length>0){
						for(var i = 0; i<errorlist.length; i++){
							//console.log(errorlist[i].element);
							var el = errorlist[i].element; 
							var next = $(el).next('span.help-block'); 
							$(next).slideDown();
						}
						$('html,body').animate({
							scrollTop: $(el).offset().top-100
						}, 800);
					}
	            },

	            highlight: function (element) { // hightlight error inputs
	                $(element)
	                    .closest('.form-group').addClass('has-error'); // set error class to the control group
	            },

	            success: function (label) {
	                label.closest('.form-group').removeClass('has-error');
	                //label.remove();
	            },

	            errorPlacement: function (error, element) {
					$('span.help-block').hide();
					var next = element.next('span.help-block'); 
					//console.log(error);
	                if(error[0].textContent!=""){
						$(next).html("<i class='fa fa-warning'></i> "+ error[0].textContent);
						$(element).next().slideDown();
						$('html,body').animate({
							scrollTop: $(element).offset().top-100
						}, 800);
					}
	            },

	            submitHandler: function (form) {
					$('span.help-block').hide();
					$('.form-group').removeClass('has-error');
	                //form.submit(); // form validation success, call ajax form submit
	                submitForm();
	                return false;
	            }
	        });

	        $('form#addpic input').keypress(function (e) {
	            if (e.which == 13) {
					$('span.help-block').hide();
					$('.form-group').removeClass('has-error');
	                if ($('form#addpic').validate().form()) {
	                   //$('form#addapi').submit(); //form validation success, call ajax form submit
	                   submitForm();
	                }
	                return false;
	            }
	        });
	}
	
	var submitForm = function(){
		
	
		//console.log($('form#addapi').serialize());
		$.ajax({
			url:"/prabigtech/addpic",
			content:'json',
			type:'post',
			data:$('form#addpic').serialize(),
			beforeSend:function(){
				//alert("1");
			},
			complete:function(result){
			
			},
			success: function(data){
				//console.log(data);
				
			},
			error:function(){
				
			}
		});
	}
	
	

	var resetForm = function(){
		$('input','form#addpic')
			.not(':button, :submit, :reset, :hidden')
			.val('');
			
		$('select,option','form#addapi')
			.removeAttr('checked')
			.removeAttr('selected');
		
		$('.make-switch').bootstrapSwitch('setState',false);
		
		$('.ms-selectable').find('li').removeClass('ms-selected');
		$('.ms-selection').find('li').removeClass('ms-hover');
		$('.ms-selectable').find('li').removeAttr('style');
		
		$('.ms-selection').find('li').removeClass('ms-selected');
		$('.ms-selection').find('li').removeClass('ms-hover');
		$('.ms-selection').find('li').css({display:'none'});
	}
    
    return {
        //main function to initiate the module
        init: function () {
            handleAdd();
        }

    };

}();

App.init();

EditApi.init();
Index.initChat();
   
});

</script>
