<?php 
//Zend_Debug::dump($this->pie2);die();
$total = count($this->data);
$tfile= 0;
$tweight= 0;
foreach ($this->data as $v) {
	$tweight = $tweight + $v['cumweight'];
}

	$auth = Zend_Auth::getInstance();
	$identity = $auth->getIdentity();
	$roles = $identity->roles;
	 // Zend_Debug::dump($roles);
	 //die();
?>
<script src="/assets/core/plugins/highchart/highcharts.js"></script>
<script src="/assets/core/plugins/highchart/exporting.js"></script>
<style>
.page-content {
  margin-top: 10px;
  padding: 10px;
  background-image: url('/assets/core/img/back.png');
  background-repeat: x;
  opacity: 2; 
}

.easyPieChart {
    position: relative;
    text-align: center;
}

.easyPieChart canvas {
    position: absolute;
    top: 0;
    left: 0;
}

.chart, .pie, .bars {
    overflow: hidden;
    height: 200px;
}

.input-xsmall {
    width: 72px !important;
}

.input-small {
    width: 140px !important;
}
</style>

<div class="page-content">
	<div class="row">
		<div class="col-md-12">
			<!-- BEGIN PAGE TITLE & BREADCRUMB-->
			<h3 class="page-title">
			My Dashboard <small></small>
			</h3>
				<ul class="page-breadcrumb breadcrumb">
				<li>
					<i class="fa fa-rss"></i>
					<a href="/">Home</a>
					<i class="fa fa-angle-right"></i>
				</li>
				<li>
					<i class="fa fa-cogs"></i>
					<a href="#">Dashboard</a>
					<i class="fa fa-angle-right"></i>
				</li>
				
				<!--li class="btn-group pull-right">
					<button type="button" class="btn red">
						<span>
					ADMINESDD					</span>
					</button>
				</li-->
			</ul>
		
			
		</div>
	</div>
	<div class="row">
		<div class="col-md-6">
			<div class="portlet">
				<div class="portlet-title">
					<div class="caption">
						<i class="fa fa-reorder"></i>My Solution
					</div>
					<div class="tools">
						<a href="#portlet-config" data-toggle="modal" class="config">
						</a>
						<a href="javascript:;" class="reload">
						</a>
					</div>
				</div>
				<div class="portlet-body">
					<!--<h4>Semi-transparent, black-colored label background.</h4>-->
					<div id="pie_chart_1" >
					</div>
					<?php 
						// $phaseb = array_keys($this->pie2['type_phase']);
						// foreach ($phaseb as $v) 
						// {	
						// $phaseb2= count($this->pie2['type_phase'][$v]);
						// $phaseb3=$phaseb2+$phaseb3;
						// } ?>
					  <!-- <div style="text-align:center"><h3> TOTAL :</h3> </div> -->
				</div>
			</div>
		</div>
		
		<div class="col-md-6 ">
			<div class="portlet">
				<div class="portlet-title">
					<div class="caption">
						<i class="fa fa-reorder"></i>My Closed Solution Status
					</div>
					<div class="tools">
						<a href="#portlet-config" data-toggle="modal" class="config">
						</a>
						<a href="javascript:;" class="reload">
						</a>
					</div>
				</div>
				<div class="portlet-body">
					<!--<h4>Semi-transparent, black-colored label background.</h4>-->
					<div id="pie_chart_2" >
					</div>
					
				</div>
			</div>			
		</div>	
	</div>
	
	<div>			
		<div class="col-md-6">
			<div class="portlet">
				<div class="portlet-title">
					<div class="caption">
						<i class="fa fa-reorder"></i>Overview Solution
					</div>
					<div class="tools">
						<a href="#portlet-config" data-toggle="modal" class="config">
						</a>
						<a href="javascript:;" class="reload">
						</a>
					</div>
				</div>
				<div class="portlet-body">
					<!--<h4>Semi-transparent, black-colored label background.</h4>-->
					<div id="pie_chart_4" >
					</div>
					
				</div>
			</div>
		</div>
		
		<div class="col-md-6">
			<div class="portlet">
				<div class="portlet-title">
					<div class="caption">
						<i class="fa fa-reorder"></i>Closed Solution Status
					</div>
					<div class="tools">
						<a href="#portlet-config" data-toggle="modal" class="config">
						</a>
						<a href="javascript:;" class="reload">
						</a>
					</div>
				</div>
				<div class="portlet-body">
					<!--<h4>Semi-transparent, black-colored label background.</h4>-->
					<div id="pie_chart_5" >
					</div>
					
				</div>
			</div>
		</div>						
	</div>
	
	<div class="row">
	
	</div>
		
	<div class="row">			
		<div class="col-md-8">
			<!-- BEGIN SAMPLE TABLE PORTLET-->
			<div class="portlet box purple">
				<div class="portlet-title">
					<div class="caption">
						<i class="fa fa-comments"></i>MY SOLUTION
					</div>
					<div class="tools">
						<a href="javascript:;" class="collapse"></a>
						<a href="#portlet-config" data-togtabgle="modal" class="config"></a>
						<a href="javascript:;" class="reload"></a>
						<a href="javascript:;" class="remove"></a>
					</div>
				</div>
				<div class="portlet-body">
					<div class="table-responsive">
						<table id="tabx" class="table table-striped table-hover">
							<thead>
								<form>
									<tr>
										<th>
											
										</th>
										<th>	
											<input size="6" type="text" class="form-control-small" id="ID" name="ID" placeholder="ID">
										</th>
										<th>
											<input size="15"  type="text" class="form-control-small" id="solutionname" name="solutionname" placeholder="Solution Name">
										</th>
										<th>
											<input type="text" size="3"  class="form-control-small" id="segmen" name="segmen" placeholder="Segmen">
										</th>
										<th>
											<input type="text" class="form-control-small" id="solutiondescr" name="solutiondescr" placeholder="Solution Description">
										</th>
										<th>
											<input type="text" class="form-control-small" id="requesteddate" name="requesteddate" placeholder="Requested Date">
										</th>
										<th>
											<input size="10"  type="text" class="form-control-small" id="status" name="status" placeholder="Status">
										</th>
										<th>
											<input size="10"  type="text" class="form-control-small" id="type" name="type" placeholder="type">
										</th>
										<th>
											<input size="10"  type="text" class="form-control-small" id="pic" name="pic" placeholder="pic">
										</th>
										<th>
											
										</th>
									</tr>
								</form>
								<tr>
									<th>
										#
									</th>
									<th>
										ID
									</th>
									<th>
										Solution Name
									</th>
									<th>
										Segmen
									</th>
									<th>
										Solution Desc
									</th>
									<th>
										RequestedDate
									</th>
									<th>
										Status
									</th>
									<th>
										Type
									</th>
									<th>
										PIC
									</th>
									<th>
										Action
									</th>
								</tr>
							</thead>
							<tbody>
								<?php 
								$i=1;
								foreach ($this->all as $v) {
								// Zend_Debug::dump($v);die('aa');
								echo '<tr><td>'.$i.'</td><td>'.$v['unik']."".$v['sid'].'</td><td><a href="/mgt/prabigtech/dashlevel2/d/'.$v['sid'].'" />'.$v['req_name'].'</a></td><td>'.$v['segment'].'</td>
									<td>'.substr($v['req_descr'],0, 50).'</td>
								<td>'.$v['created'].'</td><td>'.$v['phase_status']." ".$v['closed_status'].'</td>
								<td>'.$v['type_solution'].'</td>
								<td>'.$v['pic'].'</td>
								
								<td><a href="/mgt/prabigtech/dashlevel2/d/'.$v['sid'].'" class="btn default btn-xs red-stripe">View</a>&nbsp;';
								
								if($v['assignee']=="" && in_array(146, $identity->roles)) {
								//echo '<a href="/mgt/prabigtech/assignpic/d/'.$v['sid'].'" class="btn default btn-xs blue-stripe">Assign PIC</a>';
								}
								
								if($v['type_solution']=="" && in_array(143, $identity->roles)) {
								//echo '<a href="/mgt/prabigtech/filter/d/'.$v['sid'].'" class="btn default btn-xs blue-stripe">Filter Solusi</a>';
								}
								
								if($v['phase_status']=="Closed" && in_array(143, $identity->roles)) {
								//echo '<a href="/mgt/prabigtech/filter/d/'.$v['sid'].'" class="btn default btn-xs blue-stripe">Validasi</a>';
								}
								
								echo '</td>
								
								</tr>';
								$i++;
								}
								?>												
							</tbody>
						</table>
					</div>
				</div>
			</div>
			<!-- END SAMPLE TABLE PORTLET-->
		</div>
		
			<?php
			echo $this->partial('prabigtech/solutionall.phtml', array('longest'=>$this->longest, 'params'=>$this->varams));
			?>	
			
			
			<!-- HEAD PAGE ALERT-->
			
			
			<div class="col-md-8">
			<div class="portlet box red">
			<div class="portlet-title">
				<div class="caption">
					<i class="fa fa-comments"></i> ALERT </div>
				<div class="tools">
					<a href="javascript:;" class="collapse" data-original-title="" title=""> </a>
					<a href="#portlet-config" data-toggle="modal" class="config" data-original-title="" title=""> </a>
				</div>
			</div>
			<div class="portlet-body">
				<div class="tabbable-custom nav-justified">
					<ul class="nav nav-tabs nav-justified">
						<li class="active">
							<a href="#tab_1_1_1" data-toggle="tab"> Progress </a>
						</li>
						<li>
							<a href="#tab_1_1_2" data-toggle="tab"> Over Due </a>
						</li>
					</ul>
					<div class="tab-content">
						<div class="tab-pane active" id="tab_1_1_1">
							<h3> Alert Progress </h3>
							<table id="tabx" class="table table-striped table-hover">
							<thead>
								<form>
									<tr>
										<th>
											
										</th>
										<th>	
											<input size="6" type="text" class="form-control-small" id="ID" name="ID" placeholder="ID">
										</th>
										<th>
											<input size="15"  type="text" class="form-control-small" id="solutionname" name="solutionname" placeholder="Solution Name">
										</th>
										<th>
											<input type="text" size="3"  class="form-control-small" id="segmen" name="segmen" placeholder="Segmen">
										</th>
									</tr>
								</form>
								<tr>
									<th>
										#
									</th>
									<th>
										ID
									</th>
									<th>
										Solution Name
									</th>
									<th>
										Updated Date
									</th>
									<th>
										Target
									</th>
									<th>
										Alert
									</th>
								
								</tr>
							</thead>
							<tbody>
								<?php 
								$i=1;
								foreach ($this->alrt as $v) {
								// Zend_Debug::dump($v);die('aa');
								echo '<tr><td>'.$i.'</td><td>'.$v['unik']."".$v['sid'].'</td><td><a href="/mgt/prabigtech/dashlevel2/d/'.$v['sid'].'" />'.$v['req_name'].'</a></td><td>'.$v['updated_date'].'</td><td>'.$v['target_implementasi'].'</td><td>'.$v['alertidesc'].'</td>';
								
								echo '</td>
								
								</tr>';
								$i++;
								}
								?>												
							</tbody>
						</table>
						</div>
						<div class="tab-pane" id="tab_1_1_2">
							<h3> Alert Over due </h3>
							<table id="tabx" class="table table-striped table-hover">
							<thead>
								<form>
									<tr>
										<th>
											
										</th>
										<th>	
											<input size="6" type="text" class="form-control-small" id="ID" name="ID" placeholder="ID">
										</th>
										<th>
											<input size="15"  type="text" class="form-control-small" id="solutionname" name="solutionname" placeholder="Solution Name">
										</th>
										<th>
											<input type="text" size="3"  class="form-control-small" id="segmen" name="segmen" placeholder="Segmen">
										</th>
									</tr>
								</form>
								<tr>
									<th>
										#
									</th>
									<th>
										ID
									</th>
									<th>
										Solution Name
									</th>
									<th>
										Updated Date
									</th>
									<th>
										Target
									</th>
									<th>
										Alert
									
									</th>
								
								</tr>
							</thead>
							<tbody>
								<?php 
								$i=1;
								foreach ($this->alrt_over as $v) {
								// Zend_Debug::dump($v);die('aa');
								echo '<tr><td>'.$i.'</td><td>'.$v['unik']."".$v['sid'].'</td><td><a href="/mgt/prabigtech/dashlevel2/d/'.$v['sid'].'" />'.$v['req_name'].'</a></td><td>'.$v['updated_date'].'</td><td>'.$v['target_implementasi'].'</td><td>'.$v['alertidesc'].' <span class="badge badge-danger"> OVER DUE </span></td>';
								
								echo '</td>
								
								</tr>';
								$i++;
								}
								?>												
							</tbody>
						</table>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>





<!--END PAGE ALERT-->

			
	</div>					
	<!-- END PAGE CONTENT-->

</div>
	

	
<div class="modal fade" id="modal_detailclosed" tabindex="-1" data-width="1100" data-height="500">
	<div class="modal-dialog modal-full">
	<div class="modal-content">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
			<h4 class="modal-title"> </h4>
		</div>
		
		<div class="modal-body">
			<div class="portlet box grey">
				<div class="portlet-title">
					<div class="caption"><i class="fa fa-reorder"></i>Detail Closed Solution Status</div>
					<div class="actions"></div>
				</div>
				<div class="portlet-body">
					<input type="hidden" name="h_closed" id="h_closed" value="">
					<a href="javascript:;" id="detailclosed1_xls"><input class="button pull-right" type="button" value="Export To Excel"></a>
						<table class="table table-striped table-bordered table-hover" id="detailclosed1_table">
							<thead>
								<tr>
									<th style="text-align:center"> # </th>
									<th style="text-align:center"> ID </th>
									<th style="text-align:center"> Solution Name </th>
									<th style="text-align:center"> Segmen </th>
									<th style="text-align:center"> Closed Status </th>
									<th style="text-align:center"> PIC </th>
								</tr>
							</thead>
							<tbody>
								
							</tbody>
						</table>
				</div>
			</div>
		</div>
		
		<div class="modal-footer">
			<button type="button" class="btn default" data-dismiss="modal"> Close </button>
		</div>
	</div>
	</div>
</div>

<div class="modal fade" id="modal_detailphase" tabindex="-1" data-width="1100" data-height="500">
	<div class="modal-dialog modal-full">
	<div class="modal-content">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
			<h4 class="modal-title">  </h4>
		</div>
		
		<div class="modal-body">
			<div class="portlet box grey">
				<div class="portlet-title">
					<div class="caption"><i class="fa fa-reorder"></i>Detail Overview Solution Status</div>
					<div class="actions"></div>
				</div>
				<div class="portlet-body">
					<input type="hidden" name="h_phase" id="h_phase" value="">
					<a href="javascript:;" id="detailphase1_xls"><input class="button pull-right" type="button" value="Export To Excel"></a>
						<table class="table table-striped table-bordered table-hover" id="detailphase1_table">
							<thead>
								<tr>
									<th style="text-align:center"> # </th>
									<th style="text-align:center"> ID </th>
									<th style="text-align:center"> Solution Name </th>
									<th style="text-align:center"> Segmen </th>
									<th style="text-align:center"> Phase Status </th>
									<th style="text-align:center"> PIC </th>
								</tr>
							</thead>
							<tbody>
								
							</tbody>
						</table>
				</div>
			</div>
		</div>
		
		<div class="modal-footer">
			<button type="button" class="btn default" data-dismiss="modal"> Close </button>
		</div>
	</div>
	</div>
</div>
		
<div class="modal fade" id="modal_detailmysolution" tabindex="-1" data-width="1100" data-height="500">
			<div class="modal-dialog modal-full">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
					<h4 class="modal-title">  </h4>
				</div>
				
				<div class="modal-body">
					<div class="portlet box grey">
						<div class="portlet-title">
							<div class="caption"><i class="fa fa-reorder"></i>Detail My Solution</div>
							<div class="actions"></div>
						</div>
						<div class="portlet-body">
							<input type="hidden" name="h_phase1" id="h_phase1" value="">
							<a href="javascript:;" id="detailmysolution_xls"><input class="button pull-right" type="button" value="Export To Excel"></a>
								<table class="table table-striped table-bordered table-hover" id="detailmysolution_table">
									<thead>
										<tr>
											<th style="text-align:center"> # </th>
											<th style="text-align:center"> ID </th>
											<th style="text-align:center"> Solution Name </th>
											<th style="text-align:center"> Segmen </th>
											<th style="text-align:center"> Status </th>
											<th style="text-align:center"> PIC </th>
										</tr>
									</thead>
									<tbody>
										
									</tbody>
								</table>
						</div>
					</div>
				</div>
				
				<div class="modal-footer">
					<button type="button" class="btn default" data-dismiss="modal"> Close </button>
				</div>
			</div>
			</div>
		</div>		

<div class="modal fade" id="modal_myclose" tabindex="-1" data-width="1100" data-height="500">
			<div class="modal-dialog modal-full">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
					<h4 class="modal-title">  </h4>
				</div>
				
				<div class="modal-body">
					<div class="portlet box grey">
						<div class="portlet-title">
							<div class="caption"><i class="fa fa-reorder"></i>Detail My Closed Solution Status</div>
							<div class="actions"></div>
						</div>
						<div class="portlet-body">
							<input type="hidden" name="my_close" id="my_close" value="">
							<a href="javascript:;" id="detailmyclose_xls"><input class="button pull-right" type="button" value="Export To Excel"></a>
								<table class="table table-striped table-bordered table-hover" id="detailmyclose_table">
									<thead>
										<tr>
											<th style="text-align:center"> # </th>
											<th style="text-align:center"> ID </th>
											<th style="text-align:center"> Solution Name </th>
											<th style="text-align:center"> Segmen </th>
											<th style="text-align:center"> Status </th>
											<th style="text-align:center"> PIC </th>
										</tr>
									</thead>
									<tbody>
										
									</tbody>
								</table>
						</div>
					</div>
				</div>
				
				<div class="modal-footer">
					<button type="button" class="btn default" data-dismiss="modal"> Close </button>
				</div>
			</div>
			</div>
		</div>	
		
		
		
<script>
var xhr_chat=null;
function portlet_chat(){
	
	if (xhr_chat != undefined && xhr_chat != null){
		xhr_chat.abort();
		
	}
	
	$("#loader_portlet_chat").show();
	$('#data_chat').html('');
	
	xhr_chat = $.get(
		'/prabigtech/chat',
		function(data){
			$('#data_chat').html(data);
			$("#loader_portlet_chat").hide();
		},
		"html");
		
}


	
jQuery(document).ready(function() {
$('body').addClass('page-header-fixed page-sidebar-fixed page-footer-fixed');
$('span.help-block').hide();


var Charts = function () {

    return {
        //main function to initiate the module

        init: function () {

            App.addResponsiveHandler(function () {
                 Charts.initPieCharts(); 
            });
            
        },

        initCharts: function () {

            if (!jQuery.plot) {
                return;
            }

            var data = [];
            var totalPoints = 250;

            
        
          

        },
		<?php
		$mytype_phase = array_keys($this->pie2['type_phase']);
		$type_phase = array_keys($this->pie['type_phase']);
		$type_closed = array_keys($this->pie['type_closed']);
		$mytype_closed = array_keys($this->pie2['type_closed']);
		
		?>
   
        initPieCharts: function () {
			 var datac1 = [];
			
			var datac1= [
			<?php 
			foreach ($mytype_phase as $v) {
				echo '{ name: "'.$v.'",  y: '.count($this->pie2['type_phase'][$v]).'},';	
				$phaseb2= count($this->pie2['type_phase'][$v]);
				$phaseb3=$phaseb2+$phaseb3;
								
			} 
			?>
			];
	
          
			//console.log(data);
            // DEFAULT
      
            // GRAPH 4
			
					$('#pie_chart_1').highcharts({
						chart: {
							plotBackgroundColor: null,
							backgroundColor:'rgba(255, 255, 255, 0.1)',
							plotBorderWidth: null,
							plotShadow: false,
							type: 'pie'
						},
					   title: {
								text: ' TOTAL : <?php echo $phaseb3; ?>'
							},
						tooltip: {
							pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b><br> Jumlah : {point.y}'
						},
						plotOptions: {
							pie: {
							size: 250,
								allowPointSelect: true,
								cursor: 'pointer',
								dataLabels: {
								distance: 25,  
									enabled: true,
									format: '<b>{point.name}</b>: {point.percentage:.1f} %<br> Jumlah : {point.y}',
									style: {
										color: (Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black'
									}
								},
							point: {
								events: {
									click: function(){
										var phase1 = this.name;
										modal_detailmysolution(phase1);
										}
									}
								}
							}
						},
						credits: {
							enabled: false
						  },
						series: [{
							name: 'Percentage',
							colorByPoint: true,
							data: datac1
						}]
					});
				
			/*
            $.plot($("#pie_chart_1"), datac1, {
                    series: {
                        pie: {
                            show: true,
                            radius: 1,
                            label: {
                                show: true,
                                radius: 3 / 4,
                                formatter: function (label, series) {
                                  return '<div style="font-size:8pt;text-align:center;padding:2px;color:white;">' + label + ':&nbsp;&nbsp; '+series.data[0][1]+'&nbsp;&nbsp;(' + Math.round(series.percent) + '%)</div>';
                                },
                                background: {
                                    opacity: 0.5,
                                    color: '#000'
                                }
                            }
                        }
                    },
                    legend: {
                        show: false
                    }
                });
				
				*/
			var datac2 = [];
			
			var datac2= [
			<?php 
			foreach ($mytype_closed as $v) {
				echo '{ name: "'.$v.'",  y: '.count($this->pie2['type_closed'][$v]).'},';		
				$closedb2= count($this->pie2['type_closed'][$v]);
				$closedb3=$closedb2+$closedb3;
							
			} 
			?>
			];
	
          
			//console.log(data);
            // DEFAULT
      
            // GRAPH 4
            	$('#pie_chart_2').highcharts({
						chart: {
							plotBackgroundColor: null,
							backgroundColor:'rgba(255, 255, 255, 0.1)',
							plotBorderWidth: null,
							plotShadow: false,
							type: 'pie'
						},
					   title: {
								text: 'TOTAL : <?php echo $closedb3;?> '
							},
						tooltip: {
							pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b><br> Jumlah : {point.y}'
						},
						plotOptions: {
							pie: {
							size: 250,
								allowPointSelect: true,
								cursor: 'pointer',
								dataLabels: {
								distance: 25,  
									enabled: true,
									format: '<b>{point.name}</b>: {point.percentage:.1f} %<br> Jumlah : {point.y}',
									style: {
										color: (Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black'
									}
								},
							point: {
								events: {
									click: function(){
										var my = this.name;
										modal_myclose(my);
										}
									}
								}
							}
						},
						 credits: {
							enabled: false
						  },
						series: [{
							name: 'Percentage',
							colorByPoint: true,
							data: datac2
						}]
					});
			
			/*$.plot($("#pie_chart_2"), datac2, {
                    series: {
                        pie: {
                            show: true,
                            radius: 1,
                            label: {
                                show: true,
                                radius: 3 / 4,
                                formatter: function (label, series) {
                                   return '<div style="font-size:8pt;text-align:center;padding:2px;color:white;">' + label + ':&nbsp;&nbsp; '+series.data[0][1]+'&nbsp;&nbsp;(' + Math.round(series.percent) + '%)</div>';
                                },
                                background: {
                                    opacity: 0.5,
                                    color: '#000'
                                }
                            }
                        }
                    },
                    legend: {
                        show: false
                    }
                });
            
			*/
			var data = [];
			
			var data = [
			<?php 
			foreach ($type_phase as $v) {
				echo '{ name: "'.$v.'",  y: '.count($this->pie['type_phase'][$v]).'},';
			    $phasea2= count($this->pie['type_phase'][$v]);
			     $phasea3=$phasea2+$phasea3; 
			} 
			?>
			];
	
          
			//console.log(data);
            // DEFAULT
      
            // GRAPH 4
			  
			  	$('#pie_chart_4').highcharts({
						chart: {
							plotBackgroundColor: null,
							backgroundColor:'rgba(255, 255, 255, 0.1)',
							plotBorderWidth: null,
							plotShadow: false,
							type: 'pie'
						},
					   title: {
								text: 'TOTAL : <?php echo $phasea3;?> '
							},
						tooltip: {
							pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b><br> Jumlah : {point.y}'
						},
						plotOptions: {
							pie: {
							size: 250,
								allowPointSelect: true,
								cursor: 'pointer',
								dataLabels: {
							distance: 25,  
									enabled: true,
									format: '<b>{point.name}</b>: {point.percentage:.1f} %<br> Jumlah : {point.y}',
									style: {
										color: (Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black'
									}
								}, 
							point: {
								events: {
									click: function(){
										var phase = this.name;
										modal_detailphase(phase);
										}
									}
								}	
							}
						},
						 credits: {
								enabled: false
							  },
						series: [{
							name: 'Percentage',
							colorByPoint: true,
							data: data
						}]
					});
			  
			/*  $.plot($("#pie_chart_4"), data, {
								series: {
									pie: {
										show: true,
										radius: 1,
										label: {
											show: true,
											radius: 3 / 4,
											formatter: function (label, series) {
											   return '<div style="font-size:8pt;text-align:center;padding:2px;color:white;">' + label + ':&nbsp;&nbsp; '+series.data[0][1]+'&nbsp;&nbsp;(' + Math.round(series.percent) + '%)</div>';
											},
											background: {
												opacity: 0.5,
												color: '#000'
											}
										}
									}
								},
								legend: {
									show: false
								}
							});
			*/
					 
			var data2 = [];
			
			var data2 = [
			<?php 
			foreach ($type_closed as $v) {
				echo '{ name: "'.$v.'",  y: '.count($this->pie['type_closed'][$v]).'},';	
				  $closeda2= count($this->pie['type_closed'][$v]);
				 $closeda3=$closeda2+$closeda3;					
			} 
			?>
			];
			
			  
			  	$('#pie_chart_5').highcharts({
						chart: {
							plotBackgroundColor: null,
							backgroundColor:'rgba(255, 255, 255, 0.1)',
							plotBorderWidth: null,
							plotShadow: false,
							type: 'pie'
						},
					   title: {
								text: 'TOTAL : <?php echo $closeda3;?> '
							},
						tooltip: {
							pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b><br> Jumlah : {point.y}'
						},
						plotOptions: {
							pie: {
								size: 250,
									allowPointSelect: true,
									cursor: 'pointer',
									dataLabels: {
									distance: 25,  
										enabled: true,
										format: '<b>{point.name}</b>: {point.percentage:.1f} %<br> Jumlah : {point.y}',
										style: {
											color: (Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black'
										}
									},
									point: {
									events: {
										click: function(){
											var closed = this.name;
											modal_detailclosed(closed);
											//alert('Category: ' + this.name + ', value: ' + this.y);
										}
									}
								}
							}
						},
						credits: {
							enabled: false
						  },
						series: [{
							name: 'Percentage',
							colorByPoint: true,
							data: data2
						}]
					});
			
	/*
			  $.plot($("#pie_chart_5"), data2, {
                    series: {
                        pie: {
                            show: true,
                            radius: 1,
                            label: {
                                show: true,
                                radius: 3 / 4,
                                formatter: function (label, series) {
									
                                    return '<div style="font-size:8pt;text-align:center;padding:2px;color:white;">' + label + ':&nbsp;&nbsp; '+series.data[0][1]+'&nbsp;&nbsp;(' + Math.round(series.percent) + '%)</div>';
                                },
                                background: {
                                    opacity: 0.5,
                                    color: '#000'
                                }
                            }
                        }
                    },
                    legend: {
                        show: false
                    }
                });
			*/
			
            function pieHover(event, pos, obj) {
            if (!obj)
                    return;
                percent = parseFloat(obj.series.percent).toFixed(2);
                $("#hover").html('<span style="font-weight: bold; color: ' + obj.series.color + '">' + obj.series.label + ' (' + percent + '%)</span>');
            }

            function pieClick(event, pos, obj) {
                if (!obj)
                    return;
                percent = parseFloat(obj.series.percent).toFixed(2);
                alert('' + obj.series.label + ': ' + percent + '%');
            }

        }
        
    };

}();

App.init();

	 Charts.initPieCharts();
  // Index.initIntro();
  // Tasks.initDashboardWidget();



$.extend( true, $.fn.dataTable.defaults, {
    "searching": true,
   // "ordering": false
} );

var oTablex = $('#tab1').dataTable({
                "aLengthMenu": [
                    [10,50, 200, 500 -1],
                    [10,50, 200, 500, "All"] // change per page values here
                ],
                "iDisplayLength": 10,
                "sPaginationType": "bootstrap_full_number",
                "oLanguage": {
                    "sProcessing": '<i class="fa fa-coffee"></i>&nbsp;Please wait...',
                    "sLengthMenu": "_MENU_ records",
                    "oPaginate": {
                        "sPrevious": "Prev",
                        "sNext": "Next"
                    },
				"sSearch": "<i class='fa fa-search'></i> Search all columns:"
                },
                "aoColumnDefs": [{
                        'bSortable': false,
                        'aTargets': [0]
                    }
                ]

  });
$('#tab1_filter').keyup();

 
$("input#IDx").hide( function () {
			/* Filter on the column (the index) of this element */
			oTablex.fnFilter( this.value, 1 );
} );


$("input#solutionnamex").hide( function () {
			/* Filter on the column (the index) of this element */
			oTablex.fnFilter( this.value, 2 );
} );


$("input#statusx").hide( function () {
			/* Filter on the column (the index) of this element */
			oTablex.fnFilter( this.value, 3 );
} );



$("input#durasi").hide( function () {
			/* Filter on the column (the index) of this element */
			oTablex.fnFilter( this.value, 4 );
} );

  var oTable = $('#tabx').dataTable({
                "aLengthMenu": [
                    [10,50, 200, 500 -1],
                    [10,50, 200, 500, "All"] // change per page values here
                ],
                "iDisplayLength": 10,
                "sPaginationType": "bootstrap_full_number",
				
				
					"sDom": "<'row'<'col-md-6 col-sm-12'l><'col-md-6 col-sm-12'f>r><'table-scrollable't><'row'<'col-md-5 col-sm-12'i><'col-md-7 col-sm-12'p>>",
					
			  "oLanguage": {
                    "sProcessing": '<i class="fa fa-coffee"></i>&nbsp;Please wait...',
                    "sLengthMenu": "_MENU_ record",
                    "oPaginate": {
                        "sPrevious": "Prev",
                        "sNext": "Next"
                    },
					
				"sSearch": " <i class='fa fa-search'></i> Search all columns:"
                },
                "aoColumnDefs": [{
                        'bSortable': false,
                        'aTargets': [0]
                    }
                ]

  });
$('#tabx_filter').keyup();


  
$("input#ID").hide( function () {
			/* Filter on the column (the index) of this element */
			oTable.fnFilter( this.value, 1 );
} );


$("input#solutionname").hide( function () {
			/* Filter on the column (the index) of this element */
			oTable.fnFilter( this.value, 2 );
} );



$("input#segmen").hide( function () {
			/* Filter on the column (the index) of this element */
			oTable.fnFilter( this.value, 3 );
} );


$("input#solutiondescr").hide( function () {
			/* Filter on the column (the index) of this element */
			oTable.fnFilter( this.value, 4 );
} );


$("input#requesteddate").hide( function () {
			/* Filter on the column (the index) of this element */
			oTable.fnFilter( this.value, 5 );
} );



$("input#status").hide( function () {
			/* Filter on the column (the index) of this element */
			oTable.fnFilter( this.value, 6 );
} );

$("input#type").hide( function () {
			/* Filter on the column (the index) of this element */
			oTable.fnFilter( this.value, 7 );
} );

$("input#pic").hide( function () {
			/* Filter on the column (the index) of this element */
			oTable.fnFilter( this.value, 8 );
} );

});

function modal_detailclosed(closed){
	
	$('#h_closed').val(closed);
	var p_closed = $('#h_closed').val();
	var detailclosed1_table = $('#detailclosed1_table');
	$.extend(true, $.fn.DataTable.TableTools.classes, {		
		"container": "btn-group tabletools-dropdown-on-portlet",
		"buttons": {
			"normal": "btn btn-sm default",
			"disabled": "btn btn-sm default disabled"
		},
		"collection": {
			"container": "DTTT_dropdown dropdown-menu tabletools-dropdown-menu"
		}
	});
	detailclosed1_table.dataTable().fnDestroy();
	var oTable1 = detailclosed1_table.dataTable( {
		"ajax": {
			"dataType": 'json',
			"contentType": "application/json; charset=utf-8",
			"type": "POST",
			"url": "/mgt/prabigtech/medash1/data/detailclosed/closed/"+p_closed,
			"dataSrc": ""
		},
		"fnDrawCallback": function ( oSettings ) {
			if ( oSettings.bSorted || oSettings.bFiltered )
			{
				for ( var i=0, iLen=oSettings.aiDisplay.length ; i<iLen ; i++ )
				{
					$('td:eq(0)', oSettings.aoData[ oSettings.aiDisplay[i] ].nTr ).html( i+1 );
				}
			}
		},
		"columns": [
			{ "data": "id"},
			{ "data": "id"},
			{ "data": "req_name",
			  "render" : function(data, type, row, meta){
				if(type === 'display'){
				  return $('<a id="" href="#" onclick="">')
					.attr('href', '/mgt/prabigtech/dashlevel2/d/'+row.cid)
					.text(data)
					.wrap('<div></div>')
					.parent()
					.html();
				} else {
				  return data; 
				}
			  }
			},      	
			{ "data": "segment"},      	
			{ "data": "closed_status"},
			{ "data": "pic_segment"}
		],
		"bProcessing": true,
		"ordering": false,
		 "bFilter": true, 
		"language": {
			"sProcessing": '<div class="loading-spinner" style="width: 200px; margin-left: -100px; ">' +
			'<div class="progress progress-striped active">' +
			  '<div class="progress-bar" style="width: 100%;"></div>' +
			'</div>' +
		  '</div>',
		"emptyTable": "No data available in table",
		"info": "Showing _START_ to _END_ of _TOTAL_ entries",
		"infoEmpty": "No entries found",
		"infoFiltered": "(filtered1 from _MAX_ total entries)",
		"lengthMenu": "Show _MENU_ entries",
		"search": "Search:",
		"zeroRecords": "No matching records found",
		"sSearch": " <i class='fa fa-search'></i> Search all columns:"
		},

		"order": [
			[0, 'asc']
		],
		
		"lengthMenu": [
			[10, 50, 100, -1],
			[10, 50, 100, "All"] // change per page values here
		],
		// set the initial value
		"pageLength": 10,

		"dom": "<'row' <'col-md-12'T>><'row'<'col-md-6 col-sm-12'l><'col-md-6 col-sm-12'f>r><'table-scrollable't><'row'<'col-md-5 col-sm-12'i><'col-md-7 col-sm-12'p>>", 

		"tableTools": {
			"sSwfPath": "/assets/core/plugins/datatables/extensions/TableTools/swf/copy_csv_xls_pdf.swf",
			"aButtons": [
/*			{
				"sExtends": "pdf",
				"sButtonText": "PDF"
			}, {
				"sExtends": "csv",
				"sButtonText": "CSV"
			}, 
			
			{
				"sExtends": "xls",
				"sButtonText": "Export To Excel"
			}, 
			
			{
				"sExtends": "print",
				"sButtonText": "Print",
				"sInfo": 'Please press "CTR+P" to print or "ESC" to quit',
				"sMessage": "Generated by DataTables"
			}
*/			
			]
		}
	});
	
	var tableWrapper = $('#detailclosed1_table'); // datatable creates the table wrapper by adding with id {your_table_jd}_wrapper
    /*tableWrapper.find('.dataTables_length select').select2(); // initialize select2 dropdown*/
	
	$('#modal_detailclosed').modal('show');
	$('#modal_detailclosed').on('show', function() {
		var TableTools1 = TableTools.fnGetInstance(); 
		TableTools1.fnResizeButtons();
	});
	
	$("#detailclosed1_xls").on("click", function(){	
		window.location.replace("/mgt/prabigtech/medash1/data/detailclosed/closed/"+p_closed+"/download/1");	
	});
}

function modal_detailmysolution(phase1){
	
	$('#h_phase1').val(phase1);
	var p_phase1 = $('#h_phase1').val();
	var detailmysolution_table = $('#detailmysolution_table');
	$.extend(true, $.fn.DataTable.TableTools.classes, {		
		"container": "btn-group tabletools-dropdown-on-portlet",
		"buttons": {
			"normal": "btn btn-sm default",
			"disabled": "btn btn-sm default disabled"
		},
		"collection": {
			"container": "DTTT_dropdown dropdown-menu tabletools-dropdown-menu"
		}
	});
	detailmysolution_table.dataTable().fnDestroy();
	var oTable3 = detailmysolution_table.dataTable( {
		"ajax": {
			"dataType": 'json',
			"contentType": "application/json; charset=utf-8",
			"type": "POST",
			"url": "/mgt/prabigtech/medash1/data/detailmysolution/phase1/"+p_phase1,
			"dataSrc": ""
		},
		"fnDrawCallback": function ( oSettings ) {
			if ( oSettings.bSorted || oSettings.bFiltered )
			{
				for ( var i=0, iLen=oSettings.aiDisplay.length ; i<iLen ; i++ )
				{
					$('td:eq(0)', oSettings.aoData[ oSettings.aiDisplay[i] ].nTr ).html( i+1 );
				}
			}
		},
		"columns": [
			{ "data": "id"},
			{ "data": "id"},
			{ "data": "req_name",
			  "render" : function(data, type, row, meta){
				if(type === 'display'){
				  return $('<a id="" href="#" onclick="">')
					.attr('href', '/mgt/prabigtech/dashlevel2/d/'+row.cid)
					.text(data)
					.wrap('<div></div>')
					.parent()
					.html();
				} else {
				  return data; 
				}
			  }
			},      	
			{ "data": "segment"},      	
			{ "data": "phase_status"},
			{ "data": "pic_segment"}
		],
		"bProcessing": true,
		"ordering": false,
		"bFilter": true,
		"language": {
			"sProcessing": '<div class="loading-spinner" style="width: 200px; margin-left: -100px; ">' +
			'<div class="progress progress-striped active">' +
			  '<div class="progress-bar" style="width: 100%;"></div>' +
			'</div>' +
		  '</div>',
		"emptyTable": "No data available in table",
		"info": "Showing _START_ to _END_ of _TOTAL_ entries",
		"infoEmpty": "No entries found",
		"infoFiltered": "(filtered1 from _MAX_ total entries)",
		"lengthMenu": "Show _MENU_ entries",
		"search": "Search:",
		"zeroRecords": "No matching records found",
		"sSearch": " <i class='fa fa-search'></i> Search all columns:"
		},

		"order": [
			[0, 'asc']
		],
		
		"lengthMenu": [
			[10, 50, 100, -1],
			[10, 50, 100, "All"] // change per page values here
		],
		// set the initial value
		"pageLength": 10,

		"dom": "<'row' <'col-md-12'T>><'row'<'col-md-6 col-sm-12'l><'col-md-6 col-sm-12'f>r><'table-scrollable't><'row'<'col-md-5 col-sm-12'i><'col-md-7 col-sm-12'p>>", 

		"tableTools": {
			"sSwfPath": "/assets/core/plugins/datatables/extensions/TableTools/swf/copy_csv_xls_pdf.swf",
			"aButtons": [
/*			{
				"sExtends": "pdf",
				"sButtonText": "PDF"
			}, {
				"sExtends": "csv",
				"sButtonText": "CSV"
			}, 
			
			{
				"sExtends": "xls",
				"sButtonText": "Export To Excel"
			}, 
			
			{
				"sExtends": "print",
				"sButtonText": "Print",
				"sInfo": 'Please press "CTR+P" to print or "ESC" to quit',
				"sMessage": "Generated by DataTables"
			}
*/			
			]
		}
	});
	
	var tableWrapper = $('#detailmysolution_table'); // datatable creates the table wrapper by adding with id {your_table_jd}_wrapper
    /*tableWrapper.find('.dataTables_length select').select2(); // initialize select2 dropdown*/
	
	$('#modal_detailmysolution').modal('show');
	$('#modal_detailmysolution').on('show', function() {
		var TableTools1 = TableTools.fnGetInstance(); 
		TableTools1.fnResizeButtons();
	});
	
	$("#detailmysolution_xls").on("click", function(){	
		window.location.replace("/mgt/prabigtech/medash1/data/detailmysolution/phase1/"+p_phase1+"/download/1");	
	});
}

function modal_myclose(my){
	
	$('#my_close').val(my);
	var my_close = $('#my_close').val();
	var detailmyclose_table = $('#detailmyclose_table');
	$.extend(true, $.fn.DataTable.TableTools.classes, {		
		"container": "btn-group tabletools-dropdown-on-portlet",
		"buttons": {
			"normal": "btn btn-sm default",
			"disabled": "btn btn-sm default disabled"
		},
		"collection": {
			"container": "DTTT_dropdown dropdown-menu tabletools-dropdown-menu"
		}
	});
	detailmyclose_table.dataTable().fnDestroy();
	var oTable4 = detailmyclose_table.dataTable( {
		"ajax": {
			"dataType": 'json',
			"contentType": "application/json; charset=utf-8",
			"type": "POST",
			"url": "/mgt/prabigtech/medash1/data/detailmyclosed/my/"+my_close,
			"dataSrc": ""
		},
		"fnDrawCallback": function ( oSettings ) {
			if ( oSettings.bSorted || oSettings.bFiltered )
			{
				for ( var i=0, iLen=oSettings.aiDisplay.length ; i<iLen ; i++ )
				{
					$('td:eq(0)', oSettings.aoData[ oSettings.aiDisplay[i] ].nTr ).html( i+1 );
				}
			}
		},
		"columns": [
			{ "data": "id"},
			{ "data": "id"},
			{ "data": "req_name",
			  "render" : function(data, type, row, meta){
				if(type === 'display'){
				  return $('<a id="" href="#" onclick="">')
					.attr('href', '/mgt/prabigtech/dashlevel2/d/'+row.cid)
					.text(data)
					.wrap('<div></div>')
					.parent()
					.html();
				} else {
				  return data; 
				}
			  }
			},      	
			{ "data": "segment"},      	
			{ "data": "phase_status"},
			{ "data": "pic_segment"}
		],
		"bProcessing": true,
		"ordering": false,
		"bFilter": true,
		"language": {
			"sProcessing": '<div class="loading-spinner" style="width: 200px; margin-left: -100px; ">' +
			'<div class="progress progress-striped active">' +
			  '<div class="progress-bar" style="width: 100%;"></div>' +
			'</div>' +
		  '</div>',
		"emptyTable": "No data available in table",
		"info": "Showing _START_ to _END_ of _TOTAL_ entries",
		"infoEmpty": "No entries found",
		"infoFiltered": "(filtered1 from _MAX_ total entries)",
		"lengthMenu": "Show _MENU_ entries",
		"search": "Search:",
		"zeroRecords": "No matching records found",
		"sSearch": " <i class='fa fa-search'></i> Search all columns:"
		},

		"order": [
			[0, 'asc']
		],
		
		"lengthMenu": [
			[10, 50, 100, -1],
			[10, 50, 100, "All"] // change per page values here
		],
		// set the initial value
		"pageLength": 10,

		"dom": "<'row' <'col-md-12'T>><'row'<'col-md-6 col-sm-12'l><'col-md-6 col-sm-12'f>r><'table-scrollable't><'row'<'col-md-5 col-sm-12'i><'col-md-7 col-sm-12'p>>", 

		"tableTools": {
			"sSwfPath": "/assets/core/plugins/datatables/extensions/TableTools/swf/copy_csv_xls_pdf.swf",
			"aButtons": [
/*			{
				"sExtends": "pdf",
				"sButtonText": "PDF"
			}, {
				"sExtends": "csv",
				"sButtonText": "CSV"
			}, 
			
			{
				"sExtends": "xls",
				"sButtonText": "Export To Excel"
			}, 
			
			{
				"sExtends": "print",
				"sButtonText": "Print",
				"sInfo": 'Please press "CTR+P" to print or "ESC" to quit',
				"sMessage": "Generated by DataTables"
			}
*/			
			]
		}
	});
	
	var tableWrapper = $('#detailmyclose_table'); // datatable creates the table wrapper by adding with id {your_table_jd}_wrapper
    /*tableWrapper.find('.dataTables_length select').select2(); // initialize select2 dropdown*/
	
	$('#modal_myclose').modal('show');
	$('#modal_myclose').on('show', function() {
		var TableTools1 = TableTools.fnGetInstance(); 
		TableTools1.fnResizeButtons();
	});
	
	$("#detailmyclose_xls").on("click", function(){	
		window.location.replace("/mgt/prabigtech/medash1/data/detailmyclosed/my/"+my_close+"/download/1");	
	});
}

function modal_detailphase(phase){
	
	$('#h_phase').val(phase);
	var h_phase = $('#h_phase').val();
	var detailphase1_table = $('#detailphase1_table');
	$.extend(true, $.fn.DataTable.TableTools.classes, {		
		"container": "btn-group tabletools-dropdown-on-portlet",
		"buttons": {
			"normal": "btn btn-sm default",
			"disabled": "btn btn-sm default disabled"
		},
		"collection": {
			"container": "DTTT_dropdown dropdown-menu tabletools-dropdown-menu"
		}
	});
	detailphase1_table.dataTable().fnDestroy();
	var oTable4 = detailphase1_table.dataTable( {
		"ajax": {
			"dataType": 'json',
			"contentType": "application/json; charset=utf-8",
			"type": "POST",
			"url": "/mgt/prabigtech/medash1/data/detailphase/phase/"+h_phase,
			"dataSrc": ""
		},
		"fnDrawCallback": function ( oSettings ) {
			if ( oSettings.bSorted || oSettings.bFiltered )
			{
				for ( var i=0, iLen=oSettings.aiDisplay.length ; i<iLen ; i++ )
				{
					$('td:eq(0)', oSettings.aoData[ oSettings.aiDisplay[i] ].nTr ).html( i+1 );
				}
			}
		},
		"columns": [
			{ "data": "id"},
			{ "data": "id"},
			{ "data": "req_name",
			  "render" : function(data, type, row, meta){
				if(type === 'display'){
				  return $('<a id="" href="#" onclick="">')
					.attr('href', '/mgt/prabigtech/dashlevel2/d/'+row.cid)
					.text(data)
					.wrap('<div></div>')
					.parent()
					.html();
				} else {
				  return data; 
				}
			  }
			},      	
			{ "data": "segment"},      	
			{ "data": "phase_status"},
			{ "data": "pic_segment"}
		],
		"bProcessing": true,
		"ordering": false,
		"bFilter": true,
		"language": {
			"sProcessing": '<div class="loading-spinner" style="width: 200px; margin-left: -100px; ">' +
			'<div class="progress progress-striped active">' +
			  '<div class="progress-bar" style="width: 100%;"></div>' +
			'</div>' +
		  '</div>',
		"emptyTable": "No data available in table",
		"info": "Showing _START_ to _END_ of _TOTAL_ entries",
		"infoEmpty": "No entries found",
		"infoFiltered": "(filtered1 from _MAX_ total entries)",
		"lengthMenu": "Show _MENU_ entries",
		"search": "Search:",
		"zeroRecords": "No matching records found",
		"sSearch": " <i class='fa fa-search'></i> Search all columns:"
		},

		"order": [
			[0, 'asc']
		],
		
		"lengthMenu": [
			[10, 50, 100, -1],
			[10, 50, 100, "All"] // change per page values here
		],
		// set the initial value
		"pageLength": 10,

		"dom": "<'row' <'col-md-12'T>><'row'<'col-md-6 col-sm-12'l><'col-md-6 col-sm-12'f>r><'table-scrollable't><'row'<'col-md-5 col-sm-12'i><'col-md-7 col-sm-12'p>>", 

		"tableTools": {
			"sSwfPath": "/assets/core/plugins/datatables/extensions/TableTools/swf/copy_csv_xls_pdf.swf",
			"aButtons": [
/*			{
				"sExtends": "pdf",
				"sButtonText": "PDF"
			}, {
				"sExtends": "csv",
				"sButtonText": "CSV"
			}, 
			
			{
				"sExtends": "xls",
				"sButtonText": "Export To Excel"
			}, 
			
			{
				"sExtends": "print",
				"sButtonText": "Print",
				"sInfo": 'Please press "CTR+P" to print or "ESC" to quit',
				"sMessage": "Generated by DataTables"
			}
*/			
			]
		}
	});
	
	var tableWrapper = $('#detailphase1_table'); // datatable creates the table wrapper by adding with id {your_table_jd}_wrapper
    /*tableWrapper.find('.dataTables_length select').select2(); // initialize select2 dropdown*/
	
	$('#modal_detailphase').modal('show');
	$('#modal_detailphase').on('show', function() {
		var TableTools1 = TableTools.fnGetInstance(); 
		TableTools1.fnResizeButtons();
	});
	
	$("#detailphase1_xls").on("click", function(){	
		window.location.replace("/mgt/prabigtech/medash1/data/detailphase/phase/"+h_phase+"/download/1");	
	});
}



</script>
