<style>
.page-content {
  margin-top: 10px;
  padding: 10px;
  background-image: url('/assets/core/img/back.png');
  background-repeat: x;
  opacity: 2; 
}

</style>

<?php 
$auth = Zend_Auth::getInstance();
	$identity = $auth->getIdentity();
	
//Zend_Debug::dump($this->data); 
?>


<div class="page-content">
			<div class="row">
			<div class="col-md-12">
		<!-- BEGIN PAGE TITLE & BREADCRUMB-->
			<h3 class="page-title">
				Add History <small></small>
			</h3>
			<ul class="page-breadcrumb breadcrumb">
			<li>
				<i class="fa fa-rss"></i>
				<a href="/">Home</a>
				<i class="fa fa-angle-right"></i>
			</li>
			<li>
				<i class="fa fa-cogs"></i>
				<a href="#">Dispatch Solution</a>
				<i class="fa fa-angle-right"></i>
			</li>
			
			
		</ul>
		<!-- END PAGE TITLE & BREADCRUMB-->
		</div>
		</div>

			<div class="row ">
				<div class="col-md-9">
						<div class="portlet box blue">
						<div class="portlet-title">
							<div class="caption">
								<i class="fa fa-gift"></i> Add History
							</div>
							<div class="tools">
								<a href="" class="collapse">
								</a>
								<a href="#portlet-config" data-toggle="modal" class="config">
								</a>
								<a href="" class="reload">
								</a>
								<a href="" class="remove">
								</a>
							</div>
						</div>
						<div class="portlet-body form">
							<form  enctype='multipart/form-data' id = 'create_content' class= 'create_content' method= 'post' >
								<input type="hidden" name="cid" value="<?php echo $this->varams['cid'];?>" />
								<input type="hidden" name="pidin" value="<?php echo $this->data['id'];?>" /> 
	
								<div class="form-body">
									<div class="form-group">
										<label>Tanggal</label>
										<div class="input-group">
											<input type="text" id="c_date" name="c_date" class="form-control date-picker" placeholder="Tanggal">
										</div>
									</div>
									
									<div class="form-group">
										<label>Agenda Meeting</label>
										<div class="input-group">
											
											<input type="text" name="agenda" id="agenda" class="form-control" size=40 placeholder="Agenda Meeting">
										</div>
									</div>

									
									<div class="form-group">
										<label>Summary Kesepakatan</label>
										<textarea class="form-control wysihtml5" rows="3" name="summary" id="summary"></textarea>
									</div>
									<div class="form-group">
										<label>Action Plan</label>
										<textarea class="form-control wysihtml5" name="action" id="action" rows="3"></textarea>
									</div>		
									
							<?php

$nfile=array(0=>array('fname'=>'mom', 'label'=>'upload', 'pidin'=>9999));
$i=1;

foreach ($nfile as $v) {
					if(1==1) {
		echo 
		'<div   id="'.$v['fname'].'"  data-upload-template-id="template-upload-'.$i.'" data-download-template-id="template-download-'.$i.'" enctype="multipart/form-data" >


					<div class="form-group"><div class="row fileupload-buttonbar">
							<div class="col-lg-12">
								<!-- The fileinput-button span is used to style the file input field as button -->
								<span class="btn green fileinput-button">
									<i class="fa fa-plus"></i>
									<span>
										Add '.$v['label'].'...
									</span>
									<input type="file" name="files[]" multiple>
								</span>
								<button type="submit" class="btn blue start">
								<i class="fa fa-upload"></i>
								<span>
									Start upload
								</span>
								</button>
								<button type="reset" class="btn yellow cancel">
								<i class="fa fa-ban"></i>
								<span>
									Cancel upload
								</span>
								</button>
								<button type="button" class="btn red delete">
								<i class="fa fa-trash-o"></i>
								<span>
									Delete
								</span>
								</button>
								<input type="checkbox" class="toggle">
								<!-- The loading indicator is shown during file processing -->
								<span class="fileupload-loading">
								</span>
							</div>
							<!-- The global progress information -->
							<div class="col-lg-12 fileupload-progress fade">
								<!-- The global progress bar -->
								<div class="progress progress-striped active" role="progressbar" aria-valuemin="0" aria-valuemax="100">
									<div class="progress-bar progress-bar-success" style="width:0%;">
									</div>
								</div>
								<!-- The extended global progress information -->
								<div class="progress-extended">
									&nbsp;
								</div>
							</div>
						</div>
						<!-- The table listing the files available for upload/download -->
						<table role="presentation" class="table table-striped clearfix">
						<tbody class="files">
						</tbody>
						</table>
						</div>
						</div>
						<script>					
jQuery(document).ready(function() {
	
	 $(\'#'.$v['fname'].'\').fileupload({
				url: \'/mgt/ajax/xuploader/pidin/'.$this->data['id'].'/ftype/'.$v['fname'].'\',
                disableImageResize: false,
                autoUpload: false,
                disableImageResize: /Android(?!.*Chrome)|Opera/.test(window.navigator.userAgent),
                maxFileSize: 5000000,
                       //url: $(\'.upload_satu\').fileupload(\'option\', \'url\'),
                acceptFileTypes: /(\.|\/)(gif|jpe?g|png|xls|xlsx|pdf|docx|doc|ppt|pptx)$/i,
                // Uncomment the following to send cross-domain cookies:
                //xhrFields: {withCredentials: true},                
            });

            // Enable iframe cross-domain access via redirect option:
            $(\'#'.$v['fname'].'\').fileupload(
                \'option\',
                \'redirect\',
                window.location.href.replace(
                    /\/[^\/]*$/,
                    \'/cors/result.html?%s\'
                )
            );

            // Upload server status check for browsers with CORS support:
            if ($.support.cors) {
                $.ajax({
                    type: \'HEAD\'
                }).fail(function () {
                    $(\'<div class="alert alert-danger"/>\')
                        .text(\'Upload server currently unavailable - \' +
                                new Date())
                        .appendTo(\'#fileupload\');
                });
            }

            // Load & display existing files:
            $(\'#'.$v['fname'].'\').addClass(\'fileupload-processing\');
            $.ajax({
                // Uncomment the following to send cross-domain cookies:
                //xhrFields: {withCredentials: true},
                url: \'/mgt/ajax/xuploader/pidin/'.$this->data['id'].'/ftype/'.$v['fname'].'\',
                dataType: \'json\',
                context: $(\'#'.$v['fname'].'\')[0]
            }).always(function () {
                $(this).removeClass(\'fileupload-processing\');
            }).done(function (result) {
				console.log(this);
                $(this).fileupload(\'option\', \'done\')
                .call(this, $.Event(\'done\'), {result: result});
            });
		});
		
		
</script>
<script id="template-upload-'.$i.'" type="text/x-tmpl">
{% for (var i=0, file; file=o.files[i]; i++) { %}
    <tr class="template-upload fade">
        <td>
            <span class="preview"></span>
        </td>
        <td>
            <p class="name">{%=file.name%}</p>
            {% if (file.error) { %}
                <div><span class="label label-danger">Error</span> {%=file.error%}</div>
            {% } %}
        </td>
        <td>
            <p class="size">{%=o.formatFileSize(file.size)%}</p>
            {% if (!o.files.error) { %}
                <div class="progress progress-striped active" role="progressbar" aria-valuemin="0" aria-valuemax="100" aria-valuenow="0">
                <div class="progress-bar progress-bar-success" style="width:0%;"></div>
                </div>
            {% } %}
        </td>
        <td>
            {% if (!o.files.error && !i && !o.options.autoUpload) { %}
                <button class="btn blue start">
                    <i class="fa fa-upload"></i>
                    <span>Start</span>
                </button>
            {% } %}
            {% if (!i) { %}
                <button class="btn red cancel">
                    <i class="fa fa-ban"></i>
                    <span>Cancel</span>
                </button>
            {% } %}
        </td>
    </tr>
{% } %}
</script>
<!-- The template to display files available for download -->
<script id="template-download-'.$i.'" type="text/x-tmpl">
{% for (var i=0, file; file=o.files[i]; i++) { %}
    <tr class="template-download fade">
        <td>
            <span class="preview">
                {% if (file.thumbnailUrl) { %}
                    <a href="{%=file.url%}" title="{%=file.name%}" download="{%=file.name%}" data-gallery><img src="{%=file.thumbnailUrl%}"></a>
                {% } %}
            </span>
        </td>
        <td>
            <p class="name">
                {% if (file.url) { %}
                    <a href="{%=file.url%}" title="{%=file.name%}" download="{%=file.name%}" {%=file.thumbnailUrl?\'data-gallery\':\'\'%}>{%=file.name%}</a>
                {% } else { %}
                    <span>{%=file.name%}</span>
                {% } %}
            </p>
            {% if (file.error) { %}
                <div><span class="label label-danger">Error</span> {%=file.error%}</div>
            {% } %}
        </td>
        <td>
            <span class="size">{%=o.formatFileSize(file.size)%}</span>
        </td>
        <td>
            {% if (file.deleteUrl) { %}
                <button class="btn red delete" data-type="{%=file.deleteType%}" data-url="{%=file.deleteUrl%}"{% if (file.deleteWithCredentials) { %} data-xhr-fields=\'{"withCredentials":true}\'{% } %}>
                    <i class="fa fa-trash-o"></i>
                    <span>Delete</span>
                </button>
                <input type="checkbox" name="delete" value="1" class="toggle">
            {% } else { %}
                <button class="btn yellow cancel">
                    <i class="fa fa-ban"></i>
                    <span>Cancel</span>
                </button>
            {% } %}
        </td>
    </tr>
{% } %}

           </script> 
           ';
	}
			$i++;
	
}
echo "</div>";			
?>

								<div class="form-actions">
									<button type="submit" class="btn blue" >Submit</button>
									<button type="button" class="btn default">Cancel</button>
								</div>
							</form>
						</div>
					</div>
				</div>
			
			</div>
	
			
			<!-- END PAGE CONTENT-->
</div>



<script>



 function backoff(){
	
		 bootbox.alert("Update Success", function() {

		location.reload();
		window.location.href = "/mgt/prabigtech/dash1";
	});
 }
 
	
jQuery(document).ready(function() {
$('body').addClass('page-header-fixed page-sidebar-fixed page-footer-fixed');
$('span.help-block').hide();


App.init();
	
$('.date-picker').datepicker({
                rtl: App.isRTL(),
                autoclose: true,
                format: "yyyy-mm-dd",
   });


var files = {};
$('#mom').on('change', function prepareUpload(event){
files['mom'] = event.target.files[0];});
$('#daftar_hadir').on('change', function prepareUpload(event){
files['daftar_hadir'] = event.target.files[0];});


	var Functcreate_content = function () {

	var handleAdd = function() {
      
			var formcreate_content = $('#create_content');
            var error1 = $('.alert-danger', formcreate_content);
            var success1 = $('.alert-success', formcreate_content);

            formcreate_content.validate({
                errorElement: 'span', //default input error message container
                errorClass: 'help-block', // default input error message class
                focusInvalid: false, // do not focus the last invalid input
                ignore: "",
                rules: {
					
					c_date: {
                        required :true
                    },
                    agenda: {
                        required :true
                    },
                    
                     summary: {
                        required :true
                    },
                     action: {
                        required :true
                    },
                      daftar_hadir: {
                        required :true
                    }, 
                    
                     mom: {
                        required :true
                    } 
                    
                 },  
                invalidHandler: function (event, validator) { //display error alert on form submit
              
                    success1.hide();
                    error1.show();
                    App.scrollTo(error1, -200);
                },

                highlight: function (element) { // hightlight error inputs
                    $(element)
                        .closest('.form-group').addClass('has-error'); // set error class to the control group
                },

                unhighlight: function (element) { // revert the change done by hightlight
                    $(element)
                        .closest('.form-group').removeClass('has-error'); // set error class to the control group
                },

                success: function (label) {
                    label
                        .closest('.form-group').removeClass('has-error'); // set success class to the control group
                },

                submitHandler: function (form) {
                    success1.show();
                    error1.hide();
                       submitForm();
	                return false;
                }
            });
	}
	
	var submitForm = function(){
		
		
	var data = new FormData();
	//console.log(files);
	//console.log(JSON.stringify($('#create_content').serializeArray()));
	files['json'] = JSON.stringify($('#create_content').serializeArray());;
	$.each(files, function(key, value){
		data.append(key, value);
	});
	//console.log(data);
	
	
		
		//var data = $('form#create_content');
		
		
		
		$.ajax({
			url:"/prabajax/postform/xxxxid/149",
			content:'json',
			type:'post',
			data:data,
			processData: false, // Don't process the files
			contentType: false,
			beforeSend:function(){
								//$('#alertinfo').addClass('hidden');
				//$('#processbar').removeClass('hidden');
				//$('html,body').animate({
					//scrollTop: $('h3.page-title').offset().top
				//}, 800);
				//$('#alertinfo').removeClass('alert-success');
				//$('#alertinfo').removeClass('alert-warning');
				//$('#alertinfo').removeClass('alert-danger');
				//$('#alertinfo').removeClass('alert-info');
			},
			complete:function(result){
			
				$('#processbar').addClass('hidden');
			},
			success: function(data){
				
				
				if(data.transaction!=undefined){
					if(data.transaction==true){
					
						$('#alertinfo').addClass('alert-success');
						$('#alertmsg').html("<strong>Success!</strong>"+data.message);
							alert(data.message);
							  
							bootbox.alert(data.message, function() {
						// alert("Hello world callback");
							window.location.href = "/mgt/prabigtech/dashlevel2/d/<?php  echo $this->varams['cid'];?>";
						});    
														
							if(data.message !='closed') {
								window.location.replace('/mgt/prabigtech/dashlevel2/d/'+row.cid);
								
							}
					}else{
						
						//$('#alertinfo').addClass('alert-warning');
						//$('#alertmsg').html("<strong>Failed!</strong> "+data.message);
						//alert(data.message);
					bootbox.alert(data.message, function() {
						//alert("Hello world callback");
							window.location.href = "/mgt/prabigtech/dashlevel2/d/<?php  echo $this->varams['cid'];?>";
						}); 
						
						
					}	
				}else{
						
					$('#alertinfo').addClass('alert-info');
					$('#alertmsg').html("<strong>Error!</strong> System is busy, please try again.");
				}
				$('#alertinfo').removeClass('hidden');
			},
			error:function(){
				
				$('#alertinfo').addClass('alert-info');
				$('#alertmsg').html("<strong>Error!</strong> System is busy, please try again.");
				$('#alertinfo').removeClass('hidden');
			}
		});
	}
	
    return {
        //main function to initiate the module
        init: function () {
            handleAdd();
        }

    };

}();



Functcreate_content.init();
if ($('.wysihtml5').size() > 0) {
            $('.wysihtml5').wysihtml5({
                "stylesheets": ["/assets/core//plugins/bootstrap-wysihtml5/wysiwyg-color.css"]
            });
 }


});



</script>


