<?php 
$auth = Zend_Auth::getInstance();
	$identity = $auth->getIdentity();
	

?>

<style>
.page-content {
  margin-top: 10px;
  padding: 10px;
  background-image: url('/assets/core/img/back.png');
  background-repeat: x;
  opacity: 2; 
}
</style>
<div class="page-content">
			<div class="row">
			<div class="col-md-12">
		<!-- BEGIN PAGE TITLE & BREADCRUMB-->
			<h3 class="page-title">
			</h3>
			<ul class="page-breadcrumb breadcrumb">
			<li>
				<i class="fa fa-rss"></i>
				<a href="/">Home</a>
				<i class="fa fa-angle-right"></i>
			</li>
			<li>
				<i class="fa fa-cogs"></i>
				<a href="#">Dispatch Solution</a>
				<i class="fa fa-angle-right"></i>
			</li>
			
			
		</ul>
		<!-- END PAGE TITLE & BREADCRUMB-->
		</div>
		</div>

			<div class="row ">
				<div class="col-md-9">
						<div class="portlet box blue">
						<div class="portlet-title">
							<div class="caption">
								<i class="fa fa-gift"></i> Add History
							</div>
							<div class="tools">
								<a href="" class="collapse">
								</a>
								<a href="#portlet-config" data-toggle="modal" class="config">
								</a>
								<a href="" class="reload">
								</a>
								<a href="" class="remove">
								</a>
							</div>
						</div>
						<div class="portlet-body form">
							<form  enctype='multipart/form-data' action="/mgt/ajax/uploader" id = 'create_content' class= 'create_content' method= 'post' >
								<input type="hidden" name="cid" value="<?php echo $this->varams['cid'];?>" /> 
	
								<div class="form-body">
									<div class="form-group">
										<label>Tanggal</label>
										<div class="input-group">
											<input type="text" id="c_date" name="c_date" class="form-control date-picker" placeholder="Tanggal">
										</div>
									</div>
									
									<div class="form-group">
										<label>Agenda Meeting</label>
										<div class="input-group">
											
											<input type="text" name="agenda" id="agenda" class="form-control" size=40 placeholder="Agenda Meeting">
										</div>
									</div>

									
									<div class="form-group">
										<label>Summary Kesepakatan</label>
										<textarea class="form-control wysihtml5" rows="3" name="summary" id="summary"></textarea>
									</div>
									<div class="form-group">
										<label>Action Plan</label>
										<textarea class="form-control wysihtml5" name="action" id="action" rows="3"></textarea>
									</div>

									<!--<div class="form-group">
										<label for="exampleInputFile1">Daftar Hadir</label>
										<input type="file" id="daftar_hadir" name="daftar_hadir">
										<p class="help-block">
											
										</p>
									</div>-->
									
									<!--<div class="form-group">
										<label for="exampleInputFile1">Evidence</label>
										<input type="file" name="mom" id="mom">
										<p class="help-block">
											
										</p>
									</div>-->
									
									<div class="form-group" id="dvFile">
										<label for="exampleInputFile1">Daftar Hadir / Evidence</label>
										<button onclick="add_more()" class="btn blue">Upload</button>
										<!--<input type="file" id="daftar_hadir" name="daftar_hadir">-->
										<p class="help-block">
											
										</p>
									</div>
							
								<div class="form-actions">
									<input type="submit" class="btn blue" value="Submit">
									<!--<button type="button" class="btn default">Cancel</button>-->
								</div>
							</form>
						</div>
					</div>
				</div>
			
			</div>
	
			
			<!-- END PAGE CONTENT-->
</div>



<script>




	function  add_more() {
	// alert('asd');
  var txt = "<br><input type=\"file\" name=\"item_file[]\">";
  document.getElementById("dvFile").innerHTML += txt;
}
jQuery(document).ready(function() {
$('body').addClass('page-header-fixed page-sidebar-fixed page-footer-fixed');
$('span.help-block').hide();


App.init();
	
$('.date-picker').datepicker({
                rtl: App.isRTL(),
                autoclose: true,
                format: "yyyy-mm-dd",
   });
   
   
   


// var files = {};
// $('#mom').on('change', function prepareUpload(event){
// files['mom'] = event.target.files[0];});
// $('#daftar_hadir').on('change', function prepareUpload(event){
// files['daftar_hadir'] = event.target.files[0];});


	var Functcreate_content = function () {

	var handleAdd = function() {
      
			var formcreate_content = $('#create_content');
            var error1 = $('.alert-danger', formcreate_content);
            var success1 = $('.alert-success', formcreate_content);

            formcreate_content.validate({
                errorElement: 'span', //default input error message container
                errorClass: 'help-block', // default input error message class
                focusInvalid: false, // do not focus the last invalid input
                ignore: "",
                rules: {
					
					c_date: {
                        required :true
                    },
                    agenda: {
                        required :true
                    },
                    
                     summary: {
                        required :true
                    },
                     action: {
                        required :true
                    },
                      daftar_hadir: {
                        required :false
                    }, 
                    
                     mom: {
                        required :false
                    } 
                    
                 },  
                invalidHandler: function (event, validator) { //display error alert on form submit              
                    success1.hide();
                    error1.show();
                    App.scrollTo(error1, -200);
                },

                highlight: function (element) { // hightlight error inputs
                    $(element)
                        .closest('.form-group').addClass('has-error'); // set error class to the control group
                },

                unhighlight: function (element) { // revert the change done by hightlight
                    $(element)
                        .closest('.form-group').removeClass('has-error'); // set error class to the control group
                },

                success: function (label) {
                    label
                        .closest('.form-group').removeClass('has-error'); // set success class to the control group
                },

                submitHandler: function (form) {
                    success1.show();
                    error1.hide();
                       submitForm();
	                return false;
                }
            });
	}
	
	var submitForm = function(){
		
		
	var data = new FormData();
	//console.log(files);
	//console.log(JSON.stringify($('#create_content').serializeArray()));
	files['json'] = JSON.stringify($('#create_content').serializeArray());;
	$.each(files, function(key, value){
		data.append(key, value);
	});
	//console.log(data);
	
	
		
		//var data = $('form#create_content');
		
		
		
		$.ajax({
			url:"/prabajax/postform/xxxxid/149",
			content:'json',
			type:'post',
			data:data,
			processData: false, // Don't process the files
			contentType: false,
			beforeSend:function(){
				//$('#alertinfo').addClass('hidden');
				//$('#processbar').removeClass('hidden');
				//$('html,body').animate({
					//scrollTop: $('h3.page-title').offset().top
				//}, 800);
				//$('#alertinfo').removeClass('alert-success');
				//$('#alertinfo').removeClass('alert-warning');
				//$('#alertinfo').removeClass('alert-danger');
				//$('#alertinfo').removeClass('alert-info');
			},
			complete:function(result){
			
				$('#processbar').addClass('hidden');
			},
			success: function(data){
				
				//console.log(data);
				if(data.transaction!=undefined){
					if(data.transaction==true){
					
						//$('#alertinfo').addClass('alert-success');
						//$('#alertmsg').html("<strong>Success!</strong>"+data.message);
							//alert(data.message);
							  
							bootbox.alert(data.message, function() {
						//alert("Hello world callback");
							window.location.href = "/mgt/prabigtech/dashlevel2/d/<?php  echo $this->varams['cid'];?>";
						});    
														
							if(data.message !='closed') {
								//window.location.replace("/");
								
							}
					}else{
						
						//$('#alertinfo').addClass('alert-warning');
						//$('#alertmsg').html("<strong>Failed!</strong> "+data.message);
						//alert(data.message);
					bootbox.alert(data.message, function() {
						//alert("Hello world callback");
							window.location.href = "/mgt/prabigtech/dashlevel2/d/<?php  echo $this->varams['cid'];?>";
						}); 
						
						
					}	
				}else{
						
					$('#alertinfo').addClass('alert-info');
					$('#alertmsg').html("<strong>Error!</strong> System is busy, please try again.");
				}
				$('#alertinfo').removeClass('hidden');
			},
			error:function(){
				
				$('#alertinfo').addClass('alert-info');
				$('#alertmsg').html("<strong>Error!</strong> System is busy, please try again.");
				$('#alertinfo').removeClass('hidden');
			}
		});
	}
	
    return {
        //main function to initiate the module
        init: function () {
            handleAdd();
        }

    };

}();



//Functcreate_content.init();
if ($('.wysihtml5').size() > 0) {
            $('.wysihtml5').wysihtml5({
                "stylesheets": ["/assets/core//plugins/bootstrap-wysihtml5/wysiwyg-color.css"]
            });
 }


});



</script>
