<?php

$auth = Zend_Auth::getInstance();
	$identity = $auth->getIdentity();
	$roles = $identity->roles;

?>

<style>
	td {
		max-width: 500px;
		white-space: normal !important;
    }
</style>

<br>	
		<script type="text/javascript" src="/assets/core/plugins/jquery-1.11.0.min.js"></script>
		<script type="text/javascript" src="/assets/core/plugins/jquery-ui/jquery-ui-1.10.3.custom.min.js"></script>
<div class="col-md-8">
	<div class="portlet box red">
		<div class="portlet-title">
			<div class="caption">
				<i class="fa fa-reorder"></i>History Solusi
			</div>
			<div class="actions">
				<?php  if ($this->authmom) { ?>
					
						<?php
						
						
						 if (in_array(170, $roles)) {
									 echo ''; 
									 }else{
							 echo '<a href="/mgt/prabigtech/mom/cid/'.$this->params['d'].'" class="btn blue btn-sm"><i class="fa fa-plus"></i> Add</a>';
										
							 }
						
						 ?>
						 
						 <a href="/mgt/gen/show/view/slider/id/<?php echo $this->params['d']?>" class="btn yellow btn-sm"><i class="fa fa-book"></i> Show Pertentation</a>
						 
						 <a href="/mgt/gen/admin/<?php echo $this->params['d']?>" class="btn green btn-sm"><i class="fa fa-wrench"></i> Setting Pertentation</a>
						 
				<?php  } ?>
			</div>
		</div>
		<div class="portlet-body">
			<div class="table-responsive">
				<?php 

				if(count($this->data)>0) {
				 ?>				
				<table id = 'tabmom' class="table table-striped table-hover">
					<thead>
						<tr>
							<th>
								Tanggal
							</th>
							<th>
								Agenda
							</th>
							<th>
								Summary
							</th>
							<th>
								Action Plan 
							</th>
						
							<th>
								Evidence Files 
							</th>							
						</tr>
					</thead>
					<tbody>
						<?php foreach ($this->data as $v) { ?>	
						<?php 
						// Zend_Debug::dump($v);die();?>
						<tr>
							<td><?php echo $v['c_date'];?></td>
							<td><?php echo $v['agenda'];?></td>
							<td><?php echo $v['summary'];?></td>
							<td><?php echo $v['action_plan'];?></td>
						 <td>
							 <?php foreach ($v['files'] as  $v2) {
										 echo '<a href="'.$v2['http_url'].'">'.$v2['fname'].'</a><br>';
								 
							}
						 ?>
							 
						
							 
							 
							 </td>
								
						</tr>
						<?php  } ?>										
					</tbody>
				</table>
				<?php } ?>
			</div>
		</div>
	</div>
</div>
	
<br>	
