<?php 
// die('tes');
//Zend_Debug::dump($this->all);//die();

// $type_phase = array_keys($this->pie['type_phase']);
// Zend_Debug::dump($this->pie['type_phase']["Filtering"]);
// Zend_Debug::dump($type_phase);
$total = count($this->data);
$tfile= 0;
$tweight= 0;
foreach ($this->data as $v) {
	$tweight = $tweight + $v['cumweight'];

}
$auth = Zend_Auth::getInstance();
$identity = $auth->getIdentity();
$roles = $identity->roles;
	   // Zend_Debug::dump($roles);
// Zend_Debug::dump($identity);die();
 
$www = "12";
 
?>
<script src="/assets/core/plugins/highchart/highcharts.js"></script>
<script src="/assets/core/plugins/highchart/exporting.js"></script>


<style>
.page-content {
  margin-top: 10px;
  padding: 10px;
  background-image: url('/assets/core/img/back.png');
  background-repeat: x;
  opacity: 2; 
}

.easyPieChart {
    position: relative;
    text-align: center;
}

.easyPieChart canvas {
    position: absolute;
    top: 0;
    left: 0;
}

.input-xsmall {
    width: 72px !important;
}

.input-small {
    width: 140px !important;
}

</style>

<div class="page-content">
	<div class="row">
		<div class="col-md-12">
			<!-- BEGIN PAGE TITLE & BREADCRUMB-->
			<h3 class="page-title">
			My Dashboard <small></small>
			</h3>
			<ul class="page-breadcrumb breadcrumb">
				<li>
					<i class="fa fa-rss"></i>
					<a href="/">Home</a>
					<i class="fa fa-angle-right"></i>
				</li>
				<li>
					<i class="fa fa-cogs"></i>
					<a href="#">Dashboard</a>
					<i class="fa fa-angle-right"></i>
				</li>
				
				<!--li class="btn-group pull-right">
					<button type="button" class="btn red">
						<span>
					ADMINESDD					</span>
					</button>
				</li-->
			</ul>
		</div>
	</div>
		
	<div class="row">	
		<div class="col-md-<?php echo $www; ?>">
			<!-- BEGIN SAMPLE TABLE PORTLET-->
			
			<div class="portlet box grey">
				<div class="portlet-title">
					<div class="caption">
						<i class="fa fa-reorder"></i>Reporting
					</div>
					<div class="tools">
						<a href="javascript:;" class="collapse"></a>
						<a href="#portlet-config" data-toggle="modal" class="config"></a>
						<a href="javascript:;" class="reload"></a>
						<!--<a href="javascript:;" class="remove"></a>-->
					</div>
				</div>
				<div class="portlet-body">
					<div class="table-scrollable">
						<table id="tabx" class="table table-striped table-hover display wrap" width="100%" >
							<form>	
								<thead>
									<tr>
										<th>
									
										</th>
										<th>
											<input type="text" size=6 class="form-control-small" id="ID" name="ID" placeholder="ID">
										</th>
										<th>
											<input type="text" class="form-control-small" id="solutionname" name="solutionname" placeholder="TICKET NAME">
										</th>
										<th>
											<input type="text" size=10 class="form-control-small" id="segmen" name="segmen" placeholder="CUSTOMER">
										</th>
										<th>
											<input type="text" class="form-control-small" id="solutiondescr" name="solutiondescr" placeholder="STARTDATE">
										</th>
										<th>
											<input type="text" class="form-control-small" id="requesteddate" name="requesteddate" placeholder="STATUS">
										</th>
										<th>
											<input type="text"  size=10 class="form-control-small" id="status" name="status" placeholder="POSISI TERAKHIR">
										</th>
										<th>
											<input size=10  type="text" class="form-control-small" id="type" name="type" placeholder="CREATOR">
										</th>
										<th>
											<input size=10  type="text" class="form-control-small" id="pic" name="pic" placeholder="PRODUK">
										</th>
										<th>
											
										</th>
									</tr>
							</form>	
									<tr>
										<th>
											#
										</th>
										<th>
											TIKET ID
										</th>
										<th>
											TIKET  NAME
										</th>
										<th>
											CUSTOMER
										</th>
                                        <th>
											START DATE
										</th>
                                        <th>
											STATUS
										</th>
										<th>
											POSISI TERAKHIR
										</th>
										<th>
											CREATOR
										</th>
										<th>
											PRODUK
										</th>
										<th>
											TOTAL KLAIM
										</th>
										<th>
											ABONEMEN
										</th>
										<th>
											ORDER
										</th>
										<th>
											IDTRANS
										</th>
                                        <th>
											ORDER TYPE
										</th>
                                        <th>
											STATUS TICARES
										</th>
                                        <th>
											ADSL NO
										</th>
										<th>
											Action
										</th>
										
									</tr>
								</thead>
							<tbody>
								<?php 
								$i=1;
                                $status=array("1"=>"Closed", ""=>"Open");
								foreach ($this->all as $v) {
									 // Zend_Debug::dump($v);
								echo '<tr><td>'.$i.'</td><td>'.$v['sid'].'</td>
								<td><a href="/mgt/prabigtech/dashlevel2/d/'.$v['sid'].'" />'.$v['req_name'].'</a></td>
								<td>'.$v['customer'].'</td>
								<td>'.$v['created'].'</td>
                                <td>'.$status[$v['status']].'</td>
								<td>Position On '.$v['last_sub'].'</td>
								<td>'.$v['initiator'].'</td>
								<td>'.$v['produk'].'</td>
								<td>'.$v['total_klaim'].'</td>
								<td>'.$v['abonemen'].'</td>
								<td>'.implode(",", $v['attrs']['xxorderno']).'</td>
								<td>'.implode(",", $v['attrs']['xxidtrans']).'</td>
								<td>'.implode(",", $v['attrs']['xxorder_type']).'</td>
								<td>'.implode(",", $v['attrs']['xxstatus_ticares']).'</td>
								<td>'.implode(",", $v['attrs']['xxadslno']).'</td>
                                	
								
								<td><a href="/mgt/prabigtech/dashlevel2/d/'.$v['sid'].'" class="btn default btn-xs red-stripe">View</a>&nbsp;';
								
													
								echo '</td>
								
								</tr>';
								$i++;
								}
								?>
							
							</tbody>
						</table>
					</div>
				</div>
			</div>
			<!-- END SAMPLE TABLE PORTLET-->
			
		</div>		
	</div>
	<!-- END PAGE CONTENT-->

	</div>

	
	<!--modal-->
	<div class="modal fade" id="modal_detailmyoverview" tabindex="-1" data-width="1100" data-height="500">
			<div class="modal-dialog modal-full">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
					<h4 class="modal-title">  </h4>
				</div>
				
				<div class="modal-body">
					<div class="portlet box grey">
						<div class="portlet-title">
							<div class="caption"><i class="fa fa-reorder"></i>Detail My Overview Solution Status</div>
							<div class="actions"></div>
						</div>
						<div class="portlet-body">
							<input type="hidden" name="h_myov" id="h_myov" value="">
							<a href="javascript:;" id="download2"><input class="button pull-right" type="button" value="Export To Excel"></a>
								<table class="table table-striped table-bordered table-hover" id="detailmyoverview_table">
									<thead>
										<tr>
											<th style="text-align:center"> # </th>
											<th style="text-align:center"> ID </th>
											<th style="text-align:center"> Solution Name </th>
											<th style="text-align:center"> Segmen </th>
											<th style="text-align:center"> Status </th>
											<th style="text-align:center"> PIC </th>
										</tr>
									</thead>
									<tbody>
										
									</tbody>
								</table>
						</div>
					</div>
				</div>
				
				<div class="modal-footer">
					<button type="button" class="btn default" data-dismiss="modal"> Close </button>
				</div>
			</div>
			</div>
		</div>	
	
	
	<div class="modal fade" id="modal_detailmyclosed" tabindex="-1" data-width="1100" data-height="500">
			<div class="modal-dialog modal-full">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
					<h4 class="modal-title">  </h4>
				</div>
				
				<div class="modal-body">
					<div class="portlet box grey">
						<div class="portlet-title">
						
							<div class="caption"><i class="fa fa-reorder"></i>Detail My Closed Solution Status</div>
							<div class="actions"></div>
						</div>
						<div class="portlet-body">
							<input type="hidden" name="h_myco" id="h_myco" value="">
							
							<a href="javascript:;" id="download1"><input class="button pull-right" type="button" value="Export To Excel"></a>
								<table class="table table-striped table-bordered table-hover" id="detailmyclose_table">
									<thead>
										<tr>
											<th style="text-align:center"> # </th>
											<th style="text-align:center"> ID </th>
											<th style="text-align:center"> Solution Name </th>
											<th style="text-align:center"> Segmen </th>
											<th style="text-align:center"> Status </th>
											<th style="text-align:center"> PIC </th>
										</tr>
									</thead>
									<tbody>
										
									</tbody>
								</table>
						</div>
					</div>
				</div>
				
				<div class="modal-footer">
					<button type="button" class="btn default" data-dismiss="modal"> Close </button>
				</div>
			</div>
			</div>
		</div>	

<script>
	
jQuery(document).ready(function() {
$('body').addClass('page-header-fixed page-sidebar-fixed page-footer-fixed');
$('span.help-block').hide();

var Charts = function () {

    return {
        //main function to initiate the module

        init: function () {

            App.addResponsiveHandler(function () {
                 Charts.initPieCharts(); 
            });
            
        },

        initCharts: function () {

            if (!jQuery.plot) {
                return;
            }

          
          

        },
		<?php
		
		$solusi = array_keys($this->pie['type_solusi']);
		$type_phase = array_keys($this->pie['type_phase']);
		$type_closed = array_keys($this->pie['type_closed']);
		
		?>
   
        initPieCharts: function () {
			
			var data = [];
			
            var data1 = [];
			
			var data1 = [
			<?php 
			foreach ($solusi as $v) {
				echo '{ name: "'.$v.'",  y: '.count($this->pie['type_solusi'][$v]).'},';	
			} 
			?>
			];
	
          

         
			var data2 = [];
			
			var data2 = [
			<?php 
			foreach ($type_phase as $v) {
				echo '{ name: "'.$v.'",  y: '.count($this->pie['type_phase'][$v]).'},';	
				$phase2= count($this->pie['type_phase'][$v]);
				 $phase3=$phase2+$phase3;
			} 
			?>
			];
		
		
		
			  	$('#pie_chart_5').highcharts({
							chart: {
							plotBackgroundColor: null,
							backgroundColor:'rgba(255, 255, 255, 0.1)',
							plotBorderWidth: null,
							plotShadow: false,
							type: 'pie',
							marginRight: 30,
							marginBottom: 25
						},
					   title: {
								text: 'TOTAL : <?php echo $phase3 ?>   '
							},
						tooltip: {
							pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b><br> Jumlah : {point.y}'

						},
						plotOptions: {
							pie: {
								size: 250,
									allowPointSelect: true,
									cursor: 'pointer',
									dataLabels: {
									distance: 5,  
										enabled: true,
										format: '<b>{point.name}</b>: {point.percentage:.1f} %<br> Jumlah : {point.y}',
										style: {
											color: (Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black'
										}
									},
									point: {
									events: {
										click: function(){
											var myov = this.name;
											modal_detailmyoverview(myov); 
											//alert('Category: ' + this.name + ', value: ' + this.y);
											}
										}
									}
							}
						},
						 credits: {
								enabled: false
							  },
						series: [{
							name: 'Percentage',
							colorByPoint: true,
							data: data2
						}]
					});
			
			/*		
			  $.plot($("#pie_chart_5"), data2, {
                    series: {
                        pie: {
                            show: true,
                            radius: 1,
                            label: {
                                show: true,
                                radius: 3 / 4,
                                formatter: function (label, series) {
							//	console.log(series);
                                   return '<div style="font-size:8pt;text-align:center;padding:2px;color:white;">' + label + ':&nbsp;&nbsp; '+series.data[0][1]+'&nbsp;&nbsp;(' + Math.round(series.percent) + '%)</div>';
                                },
                                background: {
                                    opacity: 0.5,
                                    color: '#000'
                                }
                            }
                        }
                    },
                    legend: {
                        show: false
                    }
                });
			
			*/
			var data3 = [];
			
			var data3 = [
			<?php 
			foreach ($type_closed as $v) {
				echo '{ name: "'.$v.'",  y: '.count($this->pie['type_closed'][$v]).'},';	
				 $closed2= count($this->pie['type_closed'][$v]);
				 $closed3=$closed2+$closed3;
			} 
			?>
			];
			
			
			  	$('#pie_chart_6').highcharts({
						chart: {
							plotBackgroundColor: null,
							backgroundColor:'rgba(255, 255, 255, 0.1)',
							plotBorderWidth: null,
							plotShadow: false,
							type: 'pie',
							marginRight: 30,
							marginBottom: 25
						},
					   title: {
								text: 'TOTAL : <?php echo $closed3 ?>  '
							},
						tooltip: {
							pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b><br> Jumlah : {point.y}'

						},
						plotOptions: {
							pie: {
							 size: 250,
							 
								allowPointSelect: true,
								cursor: 'pointer',
								dataLabels: {
								distance: 5,  
									enabled: true,
									format: '<b>{point.name}</b>: {point.percentage:.1f} %<br> Jumlah : {point.y}',
									style: {
										color: (Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black'
									}
								},
								point: {
									events: {
										click: function(){
											var myco = this.name;
											modal_detailmyclosed(myco); 
											//alert('Category: ' + this.name + ', value: ' + this.y);
											}
										}
									}
								
							}
						},
						 credits: {
						enabled: false
					  },
						series: [{
							name: 'Percentage',
							colorByPoint: true,
							data: data3
								}]
					});
			
			/*
			  $.plot($("#pie_chart_6"), data3, {
                    series: {
                        pie: {
                            show: true,
                            radius: 1,
                            label: {
                                show: true,
                                radius: 3 / 4,
                                formatter: function (label, series) {
								//	console.log(series);
								return '<div style="font-size:8pt;text-align:center;padding:2px;color:white;">' + label + ':&nbsp;&nbsp; '+series.data[0][1]+'&nbsp;&nbsp;(' + Math.round(series.percent) + '%)</div>';
							},
                                background: {
                                    opacity: 0.5,
                                    color: '#000'
                                }
                            }
                        }
                    },
                    legend: {
                        show: false
                    }
                });
			*/
            
			function pieHover(event, pos, obj) {
            if (!obj)
                    return;
                percent = parseFloat(obj.series.percent).toFixed(2);
                $("#hover").html('<span style="font-weight: bold; color: ' + obj.series.color + '">' + obj.series.label + ' (' + percent + '%)</span>');
            }

            function pieClick(event, pos, obj) {
                if (!obj)
                    return;
                percent = parseFloat(obj.series.percent).toFixed(2);
                alert('' + obj.series.label + ': ' + percent + '%');
            }

        }
        
    };

}();

App.init();
Charts.initPieCharts();
//$('select[name="tabx_length"]').removeClass('form-control input-xsmall input-inline').addClass('form-control input-small input-inline');


var oTable = $('#tabx').dataTable({
                "aLengthMenu": [
                    [10,50, 200, 500 -1],
                    [10,50, 200, 500, "All"] // change per page values here
                ],
				
                "scrollX": true,
                "iDisplayLength": 10,
                "sPaginationType": "bootstrap_full_number",
                "oLanguage": {
                    "sProcessing": '<i class="fa fa-coffee"></i>&nbsp;Please wait...',
                    "sLengthMenu": "_MENU_ records",
                    "oPaginate": {
                        "sPrevious": "Prev",
                        "sNext": "Next"
                    },
				"sSearch": " <i class='fa fa-search'></i> Search all columns:"
                },
                "aoColumnDefs": [{
                        'bSortable': false,
                        'aTargets': [0]
                    }
                ]

  });


$('#tabx_filter').keyup();
  
$("input#ID").hide( function () {
			/* Filter on the column (the index) of this element */
			oTable.fnFilter( this.value, 1 );
} );


$("input#solutionname").hide( function () {
			/* Filter on the column (the index) of this element */
			oTable.fnFilter( this.value, 2 );
} );



$("input#segmen").hide( function () {
			/* Filter on the column (the index) of this element */
			oTable.fnFilter( this.value, 3 );
} );


$("input#solutiondescr").hide( function () {
			/* Filter on the column (the index) of this element */
			oTable.fnFilter( this.value, 4 );
} );


$("input#requesteddate").hide( function () {
			/* Filter on the column (the index) of this element */
			oTable.fnFilter( this.value, 5 );
} );



$("input#status").hide( function () {
			/* Filter on the column (the index) of this element */
			oTable.fnFilter( this.value, 6 );
} );

$("input#type").hide( function () {
			/* Filter on the column (the index) of this element */
			oTable.fnFilter( this.value, 7 );
} );

$("input#pic").hide( function () {
			/* Filter on the column (the index) of this element */
			oTable.fnFilter( this.value, 8 );
} );

});


function modal_detailmyoverview(myov){
	
	$('#h_myov').val(myov);
	var h_myov = $('#h_myov').val();
	var detailmyoverview_table = $('#detailmyoverview_table');
	$.extend(true, $.fn.DataTable.TableTools.classes, {		
		"container": "btn-group tabletools-dropdown-on-portlet",
		"buttons": {
			"normal": "btn btn-sm default",
			"disabled": "btn btn-sm default disabled"
		},
		"collection": {
			"container": "DTTT_dropdown dropdown-menu tabletools-dropdown-menu"
		}
	});
	detailmyoverview_table.dataTable().fnDestroy();
	var oTable3 = detailmyoverview_table.dataTable( {
		"ajax": {
			"dataType": 'json',
			"contentType": "application/json; charset=utf-8",
			"type": "POST",
			"url": "/mgt/prabigtech/mydash1/data/detailmyoverview/myov/"+h_myov,
			"dataSrc": ""
		},
		"fnDrawCallback": function ( oSettings ) {
			if ( oSettings.bSorted || oSettings.bFiltered )
			{
				for ( var i=0, iLen=oSettings.aiDisplay.length ; i<iLen ; i++ )
				{
					$('td:eq(0)', oSettings.aoData[ oSettings.aiDisplay[i] ].nTr ).html( i+1 );
				}
			}
		},
		"columns": [
			{ "data": "id"},
			{ "data": "id"},
			{ "data": "req_name",
			  "render" : function(data, type, row, meta){
				if(type === 'display'){
				  return $('<a id="" href="#" onclick="">')
					.attr('href', '/mgt/prabigtech/dashlevel2/d/'+row.cid)
					.text(data)
					.wrap('<div></div>')
					.parent()
					.html();
				} else {
				  return data; 
				}
			  }
			},      	
			{ "data": "segment"},      	
			{ "data": "phase_status"},
			{ "data": "pic_segment"}
		],
		"bProcessing": true,
		"ordering": false,
		"bFilter": true,
		"language": {
			"sProcessing": '<div class="loading-spinner" style="width: 200px; margin-left: -100px; ">' +
			'<div class="progress progress-striped active">' +
			  '<div class="progress-bar" style="width: 100%;"></div>' +
			'</div>' +
		  '</div>',
		"emptyTable": "No data available in table",
		"info": "Showing _START_ to _END_ of _TOTAL_ entries",
		"infoEmpty": "No entries found",
		"infoFiltered": "(filtered1 from _MAX_ total entries)",
		"lengthMenu": "Show _MENU_ entries",
		"search": "Search:",
		"zeroRecords": "No matching records found",
		"sSearch": " <i class='fa fa-search'></i> Search all columns:"
		},

		"order": [
			[0, 'asc']
		],
		
		"lengthMenu": [
			[10, 50, 200, -1],
			[10, 50, 200, "All"] // change per page values here
		],
		// set the initial value
		"pageLength": 10,

		"dom": "<'row' <'col-md-12'T>><'row'<'col-md-6 col-sm-12'l><'col-md-6 col-sm-12'f>r><'table-scrollable't><'row'<'col-md-5 col-sm-12'i><'col-md-7 col-sm-12'p>>", 

		"tableTools": {
			"sSwfPath": "/assets/core/plugins/datatables/extensions/TableTools/swf/copy_csv_xls_pdf.swf",
			"aButtons": [
/*			{
				"sExtends": "pdf",
				"sButtonText": "PDF"
			}, 
			{
				"sExtends": "csv",
				"sButtonText": "CSV"
			}, 
*/			
			// {
				// "sExtends": "xls",
				// "sButtonText": "Export To Excel"
			// }, 
/*			
			{
				"sExtends": "print",
				"sButtonText": "Print",
				"sInfo": 'Please press "CTR+P" to print or "ESC" to quit',
				"sMessage": "Generated by DataTables"
			}
*/			
			]
		}
	});
	
	var tableWrapper = $('#detailmyoverview_table'); // datatable creates the table wrapper by adding with id {your_table_jd}_wrapper
    /*tableWrapper.find('.dataTables_length select').select2(); // initialize select2 dropdown*/
	
	$('#modal_detailmyoverview').modal('show');
	$('#modal_detailmyoverview').on('show', function() {
		var TableTools1 = TableTools.fnGetInstance(); 
		TableTools1.fnResizeButtons();
	});
	
	$("#download2").on("click", function(){	
		window.location.replace("/mgt/prabigtech/mydash1/data/detailmyoverview/myov/"+h_myov+"/download/1");	
		});
	
}


function modal_detailmyclosed(myco){
	
	$('#h_myco').val(myco);
	var h_myco = $('#h_myco').val();
	var detailmyclose_table = $('#detailmyclose_table');
	$.extend(true, $.fn.DataTable.TableTools.classes, {		
		"container": "btn-group tabletools-dropdown-on-portlet",
		"buttons": {
			"normal": "btn btn-sm default",
			"disabled": "btn btn-sm default disabled"
		},
		"collection": {
			"container": "DTTT_dropdown dropdown-menu tabletools-dropdown-menu"
		}
	});
	detailmyclose_table.dataTable().fnDestroy();
	var oTable3 = detailmyclose_table.dataTable( {
		"ajax": {
			"dataType": 'json',
			"contentType": "application/json; charset=utf-8",
			"type": "POST",
			"url": "/mgt/prabigtech/mydash1/data/detailmyclosed/myco/"+h_myco,
			"dataSrc": ""
		},
		"fnDrawCallback": function ( oSettings ) {
			if ( oSettings.bSorted || oSettings.bFiltered )
			{
				for ( var i=0, iLen=oSettings.aiDisplay.length ; i<iLen ; i++ )
				{
					$('td:eq(0)', oSettings.aoData[ oSettings.aiDisplay[i] ].nTr ).html( i+1 );
				}
			}
		},
		"columns": [
			{ "data": "id"},
			{ "data": "id"},
			{ "data": "req_name",
			  "render" : function(data, type, row, meta){
				if(type === 'display'){
				  return $('<a id="" href="#" onclick="">')
					.attr('href', '/mgt/prabigtech/dashlevel2/d/'+row.cid)
					.text(data)
					.wrap('<div></div>')
					.parent()
					.html();
				} else {
				  return data; 
				}
			  }
			},      	
			{ "data": "segment"},      	
			{ "data": "phase_status"},
			{ "data": "pic_segment"}
		],
		"bProcessing": true,
		"ordering": false,
		"bFilter": true,
		"language": {
			"sProcessing": '<div class="loading-spinner" style="width: 200px; margin-left: -100px; ">' +
			'<div class="progress progress-striped active">' +
			  '<div class="progress-bar" style="width: 100%;"></div>' +
			'</div>' +
		  '</div>',
		"emptyTable": "No data available in table",
		"info": "Showing _START_ to _END_ of _TOTAL_ entries",
		"infoEmpty": "No entries found",
		"infoFiltered": "(filtered1 from _MAX_ total entries)",
		"lengthMenu": "Show _MENU_ entries",
		"search": "Search:",
		"zeroRecords": "No matching records found",
		"sSearch": " <i class='fa fa-search'></i> Search all columns:"
		},

		"order": [
			[0, 'asc']
		],

		"lengthMenu": [
			[10, 50, 100, -1],
			[10, 50, 100, "All"] // change per page values here
		],
		// set the initial value
		"pageLength": 10,

		"dom": "<'row' <'col-md-12'T>><'row'<'col-md-6 col-sm-12'l><'col-md-6 col-sm-12'f>r><'table-scrollable't><'row'<'col-md-5 col-sm-12'i><'col-md-7 col-sm-12'p>>", 

		"tableTools": {
			"sSwfPath": "/assets/core/plugins/datatables/extensions/TableTools/swf/copy_csv_xls_pdf.swf",
			"aButtons": [
/*			{
				"sExtends": "pdf",
				"sButtonText": "PDF"
			}, {
				"sExtends": "csv",
				"sButtonText": "CSV"
			}, 
*/			
			// {
				// "sExtends": "xls",
				// "sButtonText": "Export To Excel"
			// }, 
/*			
			{
				"sExtends": "print",
				"sButtonText": "Print",
				"sInfo": 'Please press "CTR+P" to print or "ESC" to quit',
				"sMessage": "Generated by DataTables"
			}
*/			
			]
		}
	});
	
	var tableWrapper = $('#detailmyclose_table'); // datatable creates the table wrapper by adding with id {your_table_jd}_wrapper
    /*tableWrapper.find('.dataTables_length select').select2(); // initialize select2 dropdown*/
	
	$('#modal_detailmyclosed').modal('show'); 
	$('#modal_detailmyclosed').on('show', function() {
		var TableTools1 = TableTools.fnGetInstance(); 
		TableTools1.fnResizeButtons();
	});
	
	$("#download1").on("click", function(){	
		window.location.replace("/mgt/prabigtech/mydash1/data/detailmyclosed/myco/"+h_myco+"/download/1");	
		});
}




</script>
