<?php
$request = Zend_Controller_Front::getInstance()->getRequest();
$params = $request->getParams();
// Zend_Debug::dump($params['msg']);
?>

<style>
/* 
Search Page
***/

/* general search form */
.search-form-default {
  margin-bottom:25px;
  background:#f0f6fa;
  padding:12px 14px;
}

/*search classic*/

.search-classic {
  margin-bottom:30px;
}

.search-classic h4 {
  margin-bottom:3px;
}

.overflow-hidden {
  overflow:hidden;
}

/*Booking Offer*/
.booking-offer {
  position: relative;
}

.booking-offer .booking-offer-in {
  top: 15px;
  left: 15px;
  right: 15px;
  color: #fff;
  padding: 15px;
  position: absolute;
  background: url(../../img/bg-opacity.png);
}

.booking-offer .booking-offer-in em {
  font-size: 14px;
  font-style: normal;
}

.booking-offer .booking-offer-in p {
  color: #fff;
  font-size: 14px;
  margin-bottom: 0;
}

.booking-offer .booking-offer-in span {
  font-size: 22px;
  display: block;
  margin-bottom: 10px;
}

.booking-app {
  margin-bottom: 10px;
}

.booking-app a {
  color: #fff;
  padding: 15px;
  display: block;
  overflow: hidden;
  background: #78ccf8;  
}

.booking-app a:hover {
  background: #4d90fe;
  text-decoration: none;
}

.booking-app span {
  top: 0px;
  color: #fff;
  font-size: 20px;
  position: relative;
}

.booking-app i {
  color: #fff;
  font-size: 40px;
  line-height: 18px;
}

/*Booking Blocks (Content)*/
.booking-results {
  margin-top: 20px;
}

.booking-result {
  overflow: hidden;
}

.booking-img {
  
}

 .booking-img .price-location li {
  color: #777;
}

 .booking-img .price-location li i {
  color: #78ccf8;
  font-size: 12px;
  margin-right: 5px;
}

.booking-result .booking-img img {
  float: left;
  width: 140px;
  height: auto;
  margin: 3px 10px 10px 0;
}

.booking-info .stars {
  padding: 0;
  margin: 0 0 5px 0;
}

 .booking-info .stars li {
  padding: 0;
}

 .booking-info .stars li i {
  color: #f8be2c;
  cursor: pointer;
  font-size: 16px;
}

.booking-result .booking-info h2 {
  margin-top: 2px;
  font-size: 20px;
  line-height: 20px;
}




@media (max-width: 768px) {

  .booking-results,
  .search-classic {
    margin-top: 0;
  }

  .booking-result,
  .search-classic {
    padding-bottom: 5px;
    border-bottom: 1px solid #ddd;
    margin: 15px 0;
  }

}

.page-content {
  margin-top: 10px;
  padding: 10px;
  background-image: url('/assets/core/img/back.png');
  background-repeat: x;
  opacity: 2; 
}
</style>


		<div class="page-content">
			<!-- BEGIN SAMPLE PORTLET CONFIGURATION MODAL FORM-->
			<div class="modal fade" id="portlet-config" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
							<h4 class="modal-title">Modal title</h4>
						</div>
						<div class="modal-body">
							 Widget settings form goes here
						</div>
						<div class="modal-footer">
							<button type="button" class="btn blue">Save changes</button>
							<button type="button" class="btn default" data-dismiss="modal">Close</button>
						</div>
					</div>
					<!-- /.modal-content -->
				</div>
				<!-- /.modal-dialog -->
			</div>
			<!-- /.modal -->
			<!-- END SAMPLE PORTLET CONFIGURATION MODAL FORM-->
			<!-- BEGIN STYLE CUSTOMIZER -->
			<!--<div class="theme-panel hidden-xs hidden-sm">
				<div class="toggler">
				</div>
				<div class="toggler-close">
				</div>
				<div class="theme-options">
					<div class="theme-option theme-colors clearfix">
						<span>
							THEME COLOR
						</span>
						<ul>
							<li class="color-black current color-default" data-style="default">
							</li>
							<li class="color-blue" data-style="blue">
							</li>
							<li class="color-brown" data-style="brown">
							</li>
							<li class="color-purple" data-style="purple">
							</li>
							<li class="color-grey" data-style="grey">
							</li>
							<li class="color-white color-light" data-style="light">
							</li>
						</ul>
					</div>
					<div class="theme-option">
						<span>
							Layout
						</span>
						<select class="layout-option form-control input-small">
							<option value="fluid" selected="selected">Fluid</option>
							<option value="boxed">Boxed</option>
						</select>
					</div>
					<div class="theme-option">
						<span>
							Header
						</span>
						<select class="header-option form-control input-small">
							<option value="fixed" selected="selected">Fixed</option>
							<option value="default">Default</option>
						</select>
					</div>
					<div class="theme-option">
						<span>
							Sidebar
						</span>
						<select class="sidebar-option form-control input-small">
							<option value="fixed">Fixed</option>
							<option value="default" selected="selected">Default</option>
						</select>
					</div>
					<div class="theme-option">
						<span>
							Sidebar Position
						</span>
						<select class="sidebar-pos-option form-control input-small">
							<option value="left" selected="selected">Left</option>
							<option value="right">Right</option>
						</select>
					</div>
					<div class="theme-option">
						<span>
							Footer
						</span>
						<select class="footer-option form-control input-small">
							<option value="fixed">Fixed</option>
							<option value="default" selected="selected">Default</option>
						</select>
					</div>
				</div>
			</div>-->
			<!-- END STYLE CUSTOMIZER -->
			<!-- BEGIN PAGE HEADER-->
			<div class="row">
				<div class="col-md-12">
					<!-- BEGIN PAGE TITLE & BREADCRUMB-->
					<h3 class="page-title">
					SEARCHING <small></small>
					</h3>
					<ul class="page-breadcrumb breadcrumb">
						<li class="btn-group">
							<!--<button type="button" class="btn blue dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-delay="1000" data-close-others="true">
							<span>
								Actions
							</span>
							<i class="fa fa-angle-down"></i>
							</button>-->
<!--
							<ul class="dropdown-menu pull-right" role="menu">
								<li>
									<a href="#">Action</a>
								</li>
								<li>
									<a href="#">Another action</a>
								</li>
								<li>
									<a href="#">Something else here</a>
								</li>
								<li class="divider">
								</li>
								<li>
									<a href="#">Separated link</a>
								</li>
							</ul>
-->
						</li>
						<li>
							<i class="fa fa-home"></i>
							<a href="index.html">Home</a>
							<i class="fa fa-angle-right"></i>
						</li>
						<li>
							<i class="fa fa-edit"></i>
							<a href="#">Search</a>
							<i class="fa fa-angle-right"></i>
						</li>
						<li>
							<i class="fa fa-edit"></i>
							<a href="#">Searching</a>
							<i class="fa fa-angle-right"></i>
						</li>
					</ul>
					<!-- END PAGE TITLE & BREADCRUMB-->
				</div>
			</div>
			

			<!-- END PAGE HEADER-->
			
			<!-- BEGIN PAGE CONTENT-->
			<div class="row">
			<div class="col-md-12" id='notif'>
				 <?php if (isset($params['msg']) && $params['msg']!="") { ?>
				  <div class="alert alert-info">
				  <?php  echo $params['msg'];?> 
				  </div>
				 <?php } ?>
			 </div>
				<div class="col-md-6">
				
					<div class="tabbable tabbable-custom tabbable-half-width">
						<ul class="nav nav-tabs">
							<li class="active">
								<a data-toggle="tab" href="#tab_2_2">Searching Data</a>
							</li>
<!--
							<li>
								<a data-toggle="tab" href="#tab_1_3">Search Content</a>
							</li>
							<li>
								<a data-toggle="tab" href="#tab_1_4">Search Documents</a>
							</li>
							<li>
								<a data-toggle="tab" href="#tab_1_5">User Search </a>
							</li>
-->
						</ul>
						<div class="tab-content">
							<div id="tab_2_2" class="tab-pane active">
								<div class="row">
									<div id="tab_1_3" class="tab-pane">
										<div class="row search-form-default">
											<div class="col-md-12">
												<form class="form-inline" action="#" method="post" >
													<div class="input-group">
														<div class="input-cont">
															<input type="text"  id="search" name="search" placeholder="keywords..." class="form-control"/>
														</div>
														<span class="input-group-btn">
															<button type="submit" id="searching" class="btn blue" >
															Search &nbsp; <i class="m-icon-swapright m-icon-white"></i>
															</button>
														</span>
													</div>
												</form>
											</div>
										</div>
									</div>
								</div>
								<!--start-->
								<!--<span id="result-search">
									<!--end
								</span>-->
							</div>
							<!--end tab-pane-->
							
							
						</div>
					</div>
				</div>
				<!--end tabbable-->
			</div>
			
			<!-- START TABEL  -->
		<?php
if($_POST){
		?>
		<div class="row">
		<div class="col-md-12">
		<div class="portlet box grey">
			<div class="portlet-title">
				<div class="tools">
					<a href="javascript:;" class="collapse"></a>
				</div>
			</div>
			<div class="portlet-body">
				<div class="table-scrollable">
					<table class="table table-striped table-bordered table-hover">
					<thead>
					<tr>
						<th style="width:40px !important">#</th>
						<th scope="col" style="width:150px !important">Tiket ID</th>
						<th scope="col">Tiket Name</th>
						<th scope="col">Customer</th>
						<th scope="col">Start Date</th>
						<th scope="col">Status</th>
						<th scope="col">Posisi Terakhir</th>
						<th scope="col">Creator</th>
						<th scope="col">Produk</th>
						<th scope="col">Total Klaim</th>
						<th scope="col">Abonemen</th>
						<th scope="col">Order</th>
						<th scope="col">Idtrans</th>
						<th scope="col">Order type</th>
						<th scope="col">Status Ticares</th>
						<th scope="col">Adsl No</th>
					</tr>
					</thead>
					<tbody>
<?php
								$i=1;
                                $status=array("1"=>"Closed", ""=>"Open");
								foreach ($this->data as $v) {
								echo '<tr>
								<td>'.$i.'</td>
								<td>'.$v['sid'].'</td>
								<td><a href="/mgt/prabigtech/dashlevel2/d/'.$v['sid'].'" />'.$v['req_name'].'</a></td>
								<td>'.$v['customer'].'</td>	
								<td>'.$v['created'].'</td>
                                <td>'.$status[$v['status']].'</td>
								<td>Position On '.$v['last_sub'].'</td>
								<td>'.$v['initiator'].'</td>
								<td>'.$v['produk'].'</td>
								<td>'.$v['total_klaim'].'</td>
								<td>'.$v['abonemen'].'</td>
								<td>'.implode(",", $v['attrs']['xxorderno']).'</td>
								<td>'.implode(",", $v['attrs']['xxidtrans']).'</td>
								<td>'.implode(",", $v['attrs']['xxorder_type']).'</td>
								<td>'.implode(",", $v['attrs']['xxstatus_ticares']).'</td>
								<td>'.implode(",", $v['attrs']['xxadslno']).'</td>
                                	
									</tr>';					
								$i++;
								}
?>
					</tbody>
					</table>
				</div>
			</div>
		</div>
		</div>
		</div>
		<?php
}
		?>
		<!-- END TABEL -->

			
			<!-- END PAGE CONTENT-->
		</div>



<script>

</script>
