<div class="col-md-4">
	<!-- BEGIN SAMPLE TABLE PORTLET-->
	<div class="portlet box grey">
		<div class="portlet-title">
			<div class="caption">
				<i class="fa fa-comments"></i>LONGEST DURATION
			</div>
			<div class="tools">
				<a href="javascript:;" class="collapse"></a>
				<a href="#portlet-config" data-toggle="modal" class="config"></a>
				<a href="javascript:;" class="reload"></a>
				<!--<a href="javascript:;" class="remove"></a>-->
			</div>
		</div>
		<div class="portlet-body">
			<div class="table-responsive">
				<table id="tab1" class="table table-striped table-hover">
					<thead>
						<form>	
							<tr>
								<th>
									
								</th>
								<th>
									<input size="3"  type="text" class="form-control-small" id="IDx" name="ID" placeholder="ID">
								</th>
								<th>
									<input size="6"  type="text" class="form-control-small" id="solutionnamex" name="solutionname" placeholder="Solution Name">
								</th>
								<th>
									<input size="6"   type="text" class="form-control-small" id="statusx" name="status" placeholder="Status">
								</th>
								<th>
									<input size="4"  type="text" class="form-control-small" id="durasi" name="durasi" placeholder="Durasi">
								</th>
							</tr>
						</form>
							<tr>
								<th>
									#
								</th>
								<th>
									ID
								</th>
								<th>
									Solution Name
								</th>
								<th>
									Status
								</th>
								<th>
									Durasi
								</th>
							</tr>
					</thead>
					<tbody>
						<?php 
						$i=1;
						foreach ($this->longest as $v) {
						echo '<tr><td>'.$i.'</td><td>'.$v['unik']."".$v['sid'].'</td><td>
						<a href="/mgt/prabigtech/guestall/d/'.$v['sid'].'" >
						'.$v['req_name'].'
						</a>
						</td><td>'.$v['phase_status']." ".$v['closed_status'].'</td><td>'.$v['longest'].' hari</td>
						</tr>';
						$i++;
						}
						?>
					</tbody>
				</table>
			</div>
		</div>
	</div>
	<!-- END SAMPLE TABLE PORTLET-->
</div>
				
