
<div class="page-content">
    <div class="row">
        <div class="col-md-12">

            <div id="ajax-loader"  style="z-index:9999;  position: absolute; left: 0; top:1; width: 100%; display:none; opacity: 0.5; overflow:hidden;">
                <img style="margin: 15% auto; opacity: 1; display: block;" src="/assets/core/img/gears.gif">
            </div>
            
            <!-- BEGIN PAGE TITLE & BREADCRUMB-->
            <h4 class="page-title">
                Add your Files <small></small>
            </h4>
           
            </div>
        </div>
         
         <div class="row">
       
    <div class="col-md-12">
    
       <div class="portlet light bordered" id="form_wizard_1">
                                    <div class="portlet-title">
                                        <div class="caption">
                                            <i class=" icon-layers font-red"></i>
                                            <span class="caption-subject font-red bold uppercase"> Form Wizard -
                                                <span class="step-title"> Step 1 of 4 </span>
                                            </span>
                                        </div>
                                        <div class="actions">
                                            <a class="btn btn-circle btn-icon-only btn-default" href="javascript:;">
                                                <i class="icon-cloud-upload"></i>
                                            </a>
                                            <a class="btn btn-circle btn-icon-only btn-default" href="javascript:;">
                                                <i class="icon-wrench"></i>
                                            </a>
                                            <a class="btn btn-circle btn-icon-only btn-default" href="javascript:;">
                                                <i class="icon-trash"></i>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="portlet-body form">
                                        <div class="form-horizontal" action="#" id="submit_form" method="POST">
                                            <div class="form-wizard">
                                                <div class="form-body">
                                                    <ul class="nav nav-pills nav-justified steps">
                                                        <li>
                                                            <a href="#tab1" data-toggle="tab" class="step">
                                                                <span class="number"> 1 </span>
                                                                <span class="desc">
                                                                    <i class="fa fa-check"></i> Upload Files</span>
                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a href="#tab2" data-toggle="tab" class="step">
                                                                <span class="number"> 2 </span>
                                                                <span class="desc">
                                                                    <i class="fa fa-check"></i> Mapping </span>
                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a href="#tab3" data-toggle="tab" class="step active">
                                                                <span class="number"> 3 </span>
                                                                <span class="desc">
                                                                    <i class="fa fa-check"></i> Additional Fields</span>
                                                            </a>
                                                        </li>
                                                    </ul>
                                                    <div id="bar" class="progress progress-striped" role="progressbar">
                                                        <div class="progress-bar progress-bar-success"> </div>
                                                    </div>
                                                    <div class="tab-content">
                                                        <div class="alert alert-danger display-none">
                                                            <button class="close" data-dismiss="alert"></button> You have some form errors. Please check below. </div>
                                                        <div class="alert alert-success display-none">
                                                            <button class="close" data-dismiss="alert"></button> Your form validation is successful! </div>
                                                        <div class="tab-pane active" id="tab1">
                                                           
                                                            
                              
                                <form action="/domas/manage/xuploader" class="dropzone dropzone-file-area" id="my-dropzone" style="width: 500px; margin-top: 50px;">
                                    <h3 class="sbold">Drop files here or click to upload</h3>
                                    <br><br><br><br><br><br><br>
                                    
                                </form>
                                                           
                                                        </div>
                                                        <div class="tab-pane" id="tab2">
                                                          
                                                            <div class="form-group">
                                                                <div id="tax">
                                                                         
                                                                     </div>  
                                                            </div>
                                                        </div>
                                                        <div class="tab-pane" id="tab3">
                                                              <form id="additional" >  
                                                              <div class="form-group">
                                                            
                                                                <label class="control-label col-md-3">OCR Scanning
                                                                    
                                                                </label>
                                                                <div class="col-md-4">
                                                                    <input type="checkbox" name="ocr" />
                                                                    <span class="help-block"> </span>
                                                                </div>
                                                            </div>
                                                              
                                                            <div class="form-group">
                                                            
                                                                <label class="control-label col-md-3">Doc Name
                                                                    <span class="required"> * </span>
                                                                </label>
                                                                <div class="col-md-4">
                                                                    <input type="text" class="form-control" name="docname" />
                                                                    <span class="help-block"> </span>
                                                                </div>
                                                            </div>
                                                            <div class="form-group">
                                                                <label class="control-label col-md-3">Doc Description
                                                                    <span class="required"> * </span>
                                                                </label>
                                                                <div class="col-md-4">
                                                                    <input type="text" class="form-control" name="doc_desc" />
                                                                    <span class="help-block"> </span>
                                                                </div>
                                                            </div>
                                                            <div class="row">
                          
<span id="idfile"></span>                              
                        <div class="form-group  bread" id="bread1" data-id="1">
                            <div class="col-md-10">
                                <div class="col-md-4">
                                    <div class="input-icon right">
                                        <input class="form-control input-sm" name="fname[]" placeholder="Field Name">

                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="input-icon right">

                                        <select class="form-control input-sm valid" name="ftype[]" placeholder="Type">
                                            <option value="">Choose Type</option>
                                            <option value="string">String</option>
                                            <option value="integer">Integer</option>
                                            <option value="date">Date</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="input-icon right">
                                        <input class="form-control input-sm" name="fvalue[]" placeholder="Value(dateformat: 1995-12-31 23:59:59)">
                                    </div>	
                                </div>
                            </div>
                            <div class="col-md-2">
                                <button type="button" class="btn grey addGC2" onclick="addGC2(this);
                                return false;" data-act="addGC2" data-id="1" style="padding: 5px;">Add</button>
                            </div>
                        </div>
                        </form>
                    </div>
                                                          
                                                        </div>
                                                       
                                                    </div>
                                                </div>
                                                <div class="form-actions">
                                                    <div class="row">
                                                        <div class="col-md-offset-3 col-md-9">
                                                            <a href="javascript:;" class="btn default button-previous">
                                                                <i class="fa fa-angle-left"></i> Back </a>
                                                            <a href="javascript:;" class="btn btn-outline green button-next"> Continue
                                                                <i class="fa fa-angle-right"></i>
                                                            </a>
                                                            <a href="javascript:;" class="btn green button-submit"> Submit
                                                                <i class="fa fa-check"></i>
                                                            </a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                
                                
                                
                                
                               
    </div>
</div>
</div>


<script>

var gamasidx2 = 1;
var elem = 1;

function addGC2(me) {
var id = $(me).data('id');
var currow = $('body').find('.bread:last');
var str = '<div class="form-group row bread" id="bread' + (parseInt(gamasidx2) + 1) + '" data-id="' + (parseInt(gamasidx2) + 1) + '" >'
+ '<div class="col-md-10">'
+ '<div class="col-md-4">'
+ '<input  class="form-control input-sm" name="fname[]" placeholder="Field Name"  />'
+ '</div>'
+ '<div class="col-md-4">'
+ '<select class = "form-control input-sm" name = "ftype[]"  placeholder = "Type" >'
+ '<option value = "" > Choose Type</option>'
+ '<option value = "string">String</option>'
+ '<option value = "integer">Integer</option>'
+ '<option value = "date">Date</option>'
+ ' </select>'
+ '</div>'
+ '<div class="col-md-4">'
+ '<input   class="form-control input-sm"  name="fvalue[]" placeholder="Value (dateformat: 1995-12-31 23:59:59)" />'
+ '</div>'
+ '</div>'
+ '<div class="col-md-2">'
+ '<button type="button" class="btn red removeGC2" onclick="removeGC2(this); return false;" data-act="removeGC2" data-id="' + (parseInt(gamasidx2) + 1) + '" style="padding: 5px;">Remove</button>'
+ '</div>'
+ '</div>';
gamasidx2++;
//console.log(str);
currow.after(str);
}


function removeGC2(me) {
var id = $(me).data('id');
//console.log(id);
$('body').find('#bread' + id + ':first').remove();
}

jQuery(document).ready(function() {
    
            var handleTitle = function(tab, navigation, index) {
                var total = navigation.find('li').length;
                var current = index + 1;
                // set wizard title
                $('.step-title', $('#form_wizard_1')).text('Step ' + (index + 1) + ' of ' + total);
                // set done steps
                jQuery('li', $('#form_wizard_1')).removeClass("done");
                var li_list = navigation.find('li');
                for (var i = 0; i < index; i++) {
                    jQuery(li_list[i]).addClass("done");
                }

                if (current == 1) {
                    $('#form_wizard_1').find('.button-previous').hide();
                } else {
                    $('#form_wizard_1').find('.button-previous').show();
                }

                if (current >= total) {
                    $('#form_wizard_1').find('.button-next').hide();
                    $('#form_wizard_1').find('.button-submit').show();
                   // displayConfirm();
                } else {
                    $('#form_wizard_1').find('.button-next').show();
                    $('#form_wizard_1').find('.button-submit').hide();
                }
                App.scrollTo($('.page-title'));
            };
     $('#form_wizard_1').bootstrapWizard({
                'nextSelector': '.button-next',
                'previousSelector': '.button-previous',
                onTabClick: function (tab, navigation, index, clickedIndex) {
                   
                    handleTitle(tab, navigation, clickedIndex);
                },
                onNext: function (tab, navigation, index) {
                  
                   handleTitle(tab, navigation, index);
                },
                onPrevious: function (tab, navigation, index) {
                    

                    handleTitle(tab, navigation, index);
                },
                onTabShow: function (tab, navigation, index) {
                    var total = navigation.find('li').length;
                    var current = index + 1;
                    var $percent = (current / total) * 100;
                    $('#form_wizard_1').find('.progress-bar').css({
                        width: $percent + '%'
                    });
                }
            });

            $('#form_wizard_1').find('.button-previous').hide();
            $('#form_wizard_1 .button-submit').click(function () {
            //    alert('Finished! Hope you like it :)');
            
                                
                        var raws2 = ($("#tax").jstree("get_checked", null, true));
                            console.log(raws2)        
                            var mapp = {
                            treecek: raws2,
                            varx:$('form#additional').serialize()
                            };
                            $("#ajax-loader").show();
                                
                                $.ajax({
                                    url: "/domas/ajax/updatemap/",
                                    content: 'html',
                                    data :mapp ,
                                    type: 'post',
                                    beforeSend: function() {
                                    //                $element.hide();
                                    //                $(next).children('span.label').html('<i class="fa fa-coffee"></i>&nbsp;Retrieve data...');
                                    //                $($element).next().slideDown();
                                },
                                complete: function(result) {

                                },
                                success: function(data) {
                                    $("#ajax-loader").hide();
                                    toastr.info('Add Documents succed');
                                //                $($element).next().hide();
                                $("#doccat").html(data);
                                //                $element.slideDown();
                                },
                                error: function() {
                                //  $(next).children('span.label').html('<i class="fa fa-warning"></i>&nbsp;Failed to retrieve data.');
                                }
                                });

            
            }).hide();
            
            
    $('#tax').jstree({
"core": {
'data': {
'url': '/domas/indexpendem/gethtml',
'data': function(node) {
return {'id': node.id};
}
},
"themes": {
"responsive": false
},
// so that create works
"check_callback": true
},
"types": {
"default": {
"icon": "fa fa-folder icon-state-warning icon-lg"
},
"file": {
"icon": "fa fa-file icon-state-warning icon-lg"
}
},
"contextmenu": {
items: function(o, cb) { // Could be an object directly
var tree = $("#tax").jstree(true);
return {
"create": {
"separator_before": false,
"separator_after": true,
"_disabled": false, //(this.check("create_node", data.reference, {}, "last")),
"label": "Create",
"action": function(data) {
var inst = $.jstree.reference(data.reference),
obj = inst.get_node(data.reference);
inst.create_node(obj, {}, "last", function(new_node) {
setTimeout(function() {
inst.edit(new_node);
}, 0);
});
}
},
"rename": {
"separator_before": false,
"separator_after": false,
"_disabled": false, //(this.check("rename_node", data.reference, this.get_parent(data.reference), "")),
"label": "Rename",
"action": function(data) {
var inst = $.jstree.reference(data.reference),
obj = inst.get_node(data.reference);
obj.text =$(obj.text).text();
//  obj.text =obj.text.replace(/[|]/g, '');
inst.edit(obj);
}
},
"remove": {
"separator_before": false,
"icon": false,
"separator_after": false,
"_disabled": false, //(this.check("delete_node", data.reference, this.get_parent(data.reference), "")),
"label": "Delete",
"action": function(data) {
var inst = $.jstree.reference(data.reference),
obj = inst.get_node(data.reference);
if (inst.is_selected(obj)) {
inst.delete_node(inst.get_selected());
}
else {
inst.delete_node(obj);
}
//console.log(obj);
// console.log(data);
bootbox.confirm("Are you sure to remove?", function(result) {
if (result) {
$.ajax({
url: "/domas/indexpendem/deltax",
content: 'json',
type: 'post',
data: {
id: obj.id
},
beforeSend: function() {
},
complete: function(result) {


},
success: function(data) {
//jQuery('#rightcol').html(data);
toastr.info('Succed removing');
},
error: function() {

}
});



}
});

}
},
"ccp": {
"separator_before": true,
"icon": false,
"separator_after": false,
"label": "Avanced",
"action": false,
"submenu": {
"map": {
"separator_before": false,
"separator_after": false,
"label": "MAP",
"action": function(data) {
var inst = $.jstree.reference(data.reference),
obj = inst.get_node(data.reference);

var raws = ($("#tax").jstree("get_checked", null, true));
var raws2 = ($("#using_json_2").jstree("get_checked", null, true));

if (raws.length === 0 || raws2.length === 0) {
bootbox.alert("Please check source and target");
} else {
bootbox.confirm("Are you sure for mapping?", function(result) {
if (result) {
$.ajax({
url: "/domas/indexpendem/mapgroup",
content: 'json',
type: 'post',
data: {
raw0: raws,
raw1: raws2
},
beforeSend: function() {
},
complete: function(result) {


},
success: function(data) {
//  jQuery('#rightcol').html(data);
},
error: function() {

}
});


toastr.info('Succed Mapping');
}
});

}

}
}

}
}
};
}
},
"plugins": ["contextmenu", "checkbox", "search", "types"]
});

            Dropzone.options.myDropzone = {
                dictDefaultMessage: "",
                init: function() {
                    this.on("addedfile", function(file) {
                        // Create the remove button
                        var removeButton = Dropzone.createElement("<a href='javascript:;'' class='btn red btn-sm btn-block'>Remove</a>");
                        
                        // Capture the Dropzone instance as closure.
                        console.log(file);
                        var _this = this;

                        // Listen to the click event
                        removeButton.addEventListener("click", function(e) {
                          // Make sure the button click doesn't submit the form:
                          e.preventDefault();
                          e.stopPropagation();

                          // Remove the file preview.
                          _this.removeFile(file);
                          // If you want to the delete the file on the server as well,
                          // you can do the AJAX request here.
                        });

                        // Add the button to the file preview element.
                        file.previewElement.appendChild(removeButton);
                    });
                     this.on("success", function(file, responseText) {
                      //  alert(responseText);
                        $("#idfile").append("<input  type='hidden' name='idfiles[]' value='"+responseText+"' />");
                        
                    }); 
                }            
            }
        

});
</script>
