
<div class="page-content">
    <div class="row">
        <div class="col-md-12">

<div class="portlet light portlet-fit bordered scroll" style="min-height:572px">
			
                                        
												<div class="portlet light" id="blockui_sample_1_portlet_body">
													<div class="portlet-title">
														<div class="caption">
														
														</div>
													</div>
													<div class="portlet-body">
														<div class="row">
															<div class="col-md-6 col-sm-6"><div class="dataTables_length" id="sample_editable_1_length"><label> <select name="sample_editable_1_length" aria-controls="sample_editable_1" class="form-control input-sm input-xsmall input-inline"><option value="5">5</option><option value="15">15</option><option value="20">20</option><option value="-1">All</option></select> records</label></div></div>
															<div class="col-md-6 col-sm-6"><div class="pull-right search"><input class="form-control" type="text" placeholder="Search"></div></div>
															
														</div>
														<hr>
														<div class="row">
														<div class="mt-element-list">
															<div class="mt-list-container list-todo">
																<div class="list-todo-line"></div>
																<ul>
                                                                   <?php foreach ($this->data as $v){?>
																	<li class="mt-list-item">
																		<div class="list-todo-icon bg-white">
																			<i class="fa fa-table"></i>
																		</div>
																		<div class="list-todo-item grey">
																			<div class="task-list panel-collapse collapse in" id="task-1">
																				<ul>
                                                                                
                                                                             
																					<li class="task-list-item done">
																						<div class="task-content">
																							<h4 class="uppercase bold">
																								<a data-toggle="modal" href="#basic"><?php echo $v['ss_Author'];?></a>
																							</h4>
																							<a href="#"><?php echo $v['ss_httpurl'];?></a>
																							<h3><?php echo $v['ss_resourceName'];?></h3>			
																							<p>Keywords : <?php echo implode(",",$v['taxonomy_names']);?></p>
																							<div class="rating">
																								<span>☆</span><span>☆</span><span>☆</span><span>☆</span>
																							</div>
																							<a traget="_blank" href="<?php echo $v['ss_httpurl'];?>" class="btn btn-outline sbold uppercase"> <i class="fa fa-download" aria-hidden="true"></i> Download</a>
																						</div>
																					</li>
                                                                               
																				</ul>
																			</div>
																		</div>
																	</li>
																 <?php } ?>
																</ul>
															</div>
														</div>
													  </div>
													</div>
												</div>
											
                                 
                                
		</div>
        
        
        
        </div>
        </div>
        </div>