
<div class="page-content">
	
	
	<div class="row">
                       <div class="col-md-11">
		<div class="search-page search-content-2">
			<div class="search-bar ">
				<div class="row">
					<div class="col-md-12">
						<form action="#" id="search4all" role="form">
						<div class="input-group">
							<input type="text" name="keywords" class="form-control" placeholder="Search for..." name="query" value="dasdasd">
							<span class="input-group-btn">
								<button class="btn blue uppercase searchingall bold" type="submit">Search</button>
							</span>
						</div>
						</form>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-10">
                    
					<div id="result-search" class="search-container ">
					
						<!--<div class="search-pagination">
							<ul class="pagination">
								<li class="page-active">
									<a href="javascript:;"> 1 </a>
								</li>
								<li>
									<a href="javascript:;"> 2 </a>
								</li>
								<li>
									<a href="javascript:;"> 3 </a>
								</li>
								<li>
									<a href="javascript:;"> 4 </a>
								</li>
							</ul>
						</div>-->
					</div>
				</div>
				
			</div>
		</div>
   
	</div>
                    </div>
			
</div>
<script>
jQuery(document).ready(function() {


 var Search = function() {

            return {
                //main function to initiate the module
                init: function() {
                    if (jQuery().datepicker) {
                        $('.date-picker').datepicker();
                    }

                    App.initFancybox();
                }

            };

        }();



        var SearchingTab = function() {

            var handleAdd = function() {

                $('form#search4all').validate({
                    //errorElement: 'span', //default input error message container
                    //errorClass: 'help-block', // default input error message class
                    focusInvalid: false, // do not focus the last invalid input
                    rules: {
                        sqltext: {
                            required: true
                        }
                    },
                    messages: {
                    },
                    invalidHandler: function(event, validator) {

                        $('span.help-block').hide();
                        var errorlist = validator.errorList;
                        if (errorlist.length > 0) {
                            for (var i = 0; i < errorlist.length; i++) {
                                //console.log(errorlist[i].element);
                                var el = errorlist[i].element;
                                var next = $(el).next('span.help-block');
                                $(next).slideDown();
                            }
                            $('.modal-scrollable:visible').animate({
                                scrollTop: $(el).offset().top
                            }, 800);
                        }
                    },
                    highlight: function(element) { // hightlight error inputs
                        $(element)
                                .closest('.form-group').addClass('has-error'); // set error class to the control group
                    },
                    success: function(label) {
                        label.closest('.form-group').removeClass('has-error');
                        //label.remove();
                    },
                    errorPlacement: function(error, element) {
                        $('span.help-block').hide();
                        var next = element.next('span.help-block');
                        //console.log(error);
                        if (error[0].textContent != "") {
                            $(next).children('span.label').html("<i class='fa fa-warning'></i> " + error[0].textContent);
                            $(element).next().slideDown();
                            $('.modal-scrollable:visible').animate({
                                scrollTop: $(element).offset().top
                            }, 800);
                        }
                    },
                    submitHandler: function(form) {
                        $('#alertinfo').addClass('hidden');
                        $('span.help-block').hide();
                        $('.form-group').removeClass('has-error');
                        //form.submit(); // form validation success, call ajax form submit
                        submitForm();
                        return false;
                    }
                });

                $('form#search4all input').keypress(function(e) {
                    if (e.which == 13) {
                        $('span.help-block').hide();
                        $('.form-group').removeClass('has-error');
                        if ($('form#search4all').validate().form()) {
                            //$('form#addapi').submit(); //form validation success, call ajax form submit
                            submitForm();
                        }
                        return false;
                    }
                });
            }

            var submitForm = function() {

                //console.log($('form#addapi').serialize());
                $.ajax({
                    url: "/pendem/admin/ajaxsearchall",
                    content: 'json',
                    type: 'post',
                    data: $('form#search4all').serialize(),
                    beforeSend: function() {
                        $('#alertinfo').addClass('hidden');
                        $('#processbar').removeClass('hidden');

                        //$('.modal-scrollable:visible').animate({
                        //	scrollTop: $('#formtitle').offset().top
                        //}, 800);
                        $('#alertinfo').removeClass('alert-success');
                        $('#alertinfo').removeClass('alert-warning');
                        $('#alertinfo').removeClass('alert-danger');
                        $('#alertinfo').removeClass('alert-info');
                    },
                    complete: function(result) {
                        $('#processbar').addClass('hidden');
                    },
                    success: function(data) {
                        //console.log(data);
                        if (data.result != undefined) {
                            if (data.result == true) {
                                // alert("ok");
                                $('#alertinfo').addClass('alert-success');
                                $('#result-search').html(data.data);
                                //resetForm();
                            } else {
                                $('#alertinfo').addClass('alert-warning');
                                $('#alertmsg').html("<strong>Failed!</strong> " + data.retMsg);
                            }
                        } else {
                            $('#alertinfo').addClass('alert-info');
                            $('#alertmsg').html("<strong>Error!</strong> System is busy, please try again.");
                        }
                        $('#alertinfo').removeClass('hidden');

                    },
                    error: function() {
                        $('#alertinfo').addClass('alert-info');
                        $('#alertmsg').html("<strong>Error!</strong> System is busy, please try again.");
                        $('#alertinfo').removeClass('hidden');
                    }
                });
            }



            var resetForm = function() {
                //$('input','form#addapi')


                $('select,option', 'form#search4all')
                //.removeAttr('checked')
                //.removeAttr('selected');

                $('.make-switch').bootstrapSwitch('setState', false);

                $('.ms-selectable').find('li').removeClass('ms-selected');
                $('.ms-selection').find('li').removeClass('ms-hover');
                $('.ms-selectable').find('li').removeAttr('style');

                $('.ms-selection').find('li').removeClass('ms-selected');
                $('.ms-selection').find('li').removeClass('ms-hover');
                $('.ms-selection').find('li').css({display: 'none'});
            }

            return {
                //main function to initiate the module
                init: function() {
                    handleAdd();
                },
                submit: function() {

                    submitForm();
                }

            };

        }();
        App.init();
      //  Search.init();
        SearchingTab.init();
        jQuery("#pagesearch").keypress(function(e) {
                //$("#pagesearch").css("margin-top", "0px");

        });
});	

</script>
