<?php //Zend_Debug::dump(unserialize($this->data['attrs'])); die();?>
<div class="page-content">
    <div class="row">
        <div class="col-md-12">

            <div id="ajax-loader"  style="z-index:9999;  position: absolute; left: 0; top:1; width: 100%; display:none; opacity: 0.5; overflow:hidden;">
                <img style="margin: 15% auto; opacity: 1; display: block;" src="/assets/core/img/gears.gif">
            </div>
            
            <!-- BEGIN PAGE TITLE & BREADCRUMB-->
            <h4 class="page-title">
                One Page Crawl<small></small>
            </h4>
           
            </div>
        </div>
         
         <div class="row">
       
    <div class="col-md-12">
    
       <div class="portlet light bordered" id="form_wizard_1">
                                    <div class="portlet-title">
                                        
                                        <div class="actions">
                                            <a class="btn btn-circle btn-icon-only btn-default" href="javascript:;">
                                                <i class="icon-cloud-upload"></i>
                                            </a>
                                            <a class="btn btn-circle btn-icon-only btn-default" href="javascript:;">
                                                <i class="icon-wrench"></i>
                                            </a>
                                            <a class="btn btn-circle btn-icon-only btn-default" href="javascript:;">
                                                <i class="icon-trash"></i>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="portlet-body form">
                                        <div class="form-horizontal" action="#" id="submit_form" method="POST">
                                            <div class="form-wizard">
                                                <div class="form-body">
                                                        
                                                   
                                                   
                                                        <div class="alert alert-danger display-none">
                                                            <button class="close" data-dismiss="alert"></button> You have some form errors. Please check below. </div>
                                                        <div class="alert alert-success display-none">
                                                            <button class="close" data-dismiss="alert"></button> Your form validation is successful! </div>
                                                       
                                                       
                                                              <form id="additional" >  
                                                              <input type="hidden"  value="<?php echo $this->data['id']; ?>" name="id" />
                                                             <div class="form-group">
                                                            
                                                                <label class="control-label col-md-3">Name
                                                                   
                                                                </label>
                                                                <div class="col-md-4">
                                                                    <input type="text" class="form-control" value="<?php echo $this->data['cname']; ?>" name="xname" />
                                                                    <span class="help-block"> </span>
                                                                </div>
                                                                
                                                           
                                                                
                                                            </div>
                                                            
                                                             <div class="form-group">
                                                            
                                                                <label class="control-label col-md-3">Url
                                                                   
                                                                </label>
                                                                <div class="col-md-4">
                                                                    <input type="text" class="form-control"  value="<?php echo $this->data['target_url']; ?>"  name="xurl" />
                                                                    <span class="help-block"> </span>
                                                                </div>
                                                                
                                                           
                                                                
                                                            </div>
                                                            <div class="form-group">
                                                            
                                                                <label class="control-label col-md-3">Title
                                                                   
                                                                </label>
                                                                <div class="col-md-4">
                                                                    <input type="text"  value="<?php echo $this->data['title']; ?>" class="form-control" name="docname" />
                                                                    <span class="help-block"> </span>
                                                                </div>
                                                                
                                                            <div class="col-md-4">
                                                            <div class="input-icon right">

                                                                <select class="form-control input-sm valid" name="title_type" placeholder="Type">
                                                                  
                                                                <option value="">Choose Type</option>
                                                                <option <?php if($this->data['title_type']=='string'){echo "selected";} ?> value="string">String</option>
                                                                <option <?php if($this->data['title_type']=='xpath'){echo "selected";} ?> value="xpath">Xpath Query</option>
                                                                <option <?php if($this->data['title_type']=='css'){echo "selected";} ?> value="css">CSS Query</option>
                                                                </select>
                                                            </div>
                                                        </div>
                                                                
                                                                
                                                            </div>
                                                            <div class="form-group">
                                                                <label class="control-label col-md-3">Content
                                                                 
                                                                </label>
                                                                <div class="col-md-4">
                                                                    <input type="text" class="form-control" value="<?php echo $this->data['content']	; ?>" name="doc_desc" />
                                                                    <span class="help-block"> </span>
                                                                </div>
                                                                
                                                                <div class="col-md-4">
                                                            <div class="input-icon right">

                                                                <select class="form-control input-sm valid" name="doc_type" placeholder="Type">
                                                                    <option  value="">Choose Type</option>
                                                                    <option <?php if($this->data['content_type']=='string'){echo "selected";} ?> value="string">String</option>
                                                                    <option <?php if($this->data['content_type']=='xpath'){echo "selected";} ?> value="xpath">Xpath Query</option>
                                                                    <option <?php if($this->data['content_type']=='css'){echo "selected";} ?> value="css">CSS Query</option>
                                                                                            
                                                                </select>
                                                            </div>
                                                        </div>
                                                            </div>
                                                            <div class="row">
                          


                        <?php 
                        //if($this->data['fname'])
                        $vf = unserialize($this->data['attrs']);
                        
                        $mc=count($vf['fname']);
                        if(count($vf['fname'])==0){$mc=1;}
                        for ($cnt=0;$cnt<=$mc-1;$cnt++) { ?>            
                        <div class="form-group  bread" id="bread<?php echo $mc+$cnt;  ?>" data-id="<?php echo $mc+$cnt;  ?>">
                            <div class="col-md-10">
                                <div class="col-md-4">
                                    <div class="input-icon right">
                                        <input class="form-control input-sm" value="<?php echo $vf['fname'][$cnt]; ?>" name="fname[]" placeholder="Field Name">

                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="input-icon right">

                                        <select class="form-control input-sm valid" name="ftype[]" placeholder="Type">
                                            <option value="">Choose Type</option>
                                            <option <?php if($vf['ftype'][$cnt]=='string'){echo "selected";} ?> value="string">String</option>
                                            <option <?php if($vf['ftype'][$cnt]=='xpath'){echo "selected";} ?> value="xpath">Xpath Query</option>
                                            <option <?php if($vf['ftype'][$cnt]=='css'){echo "selected";} ?> value="css">CSS Query</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="input-icon right">
                                        <input class="form-control input-sm" value="<?php echo $vf['fvalue'][$cnt]; ?>" name="fvalue[]" placeholder="Value(dateformat: 1995-12-31 23:59:59)">
                                    </div>	
                                </div>
                            </div>
                            <div class="col-md-2">
                                <button type="button" class="btn grey addGC2" onclick="addGC2(this);
                                return false;" data-act="addGC2" data-id="<?php echo $mc+$cnt;  ?>" style="padding: 5px;">Add</button>
                            </div>
                        </div>
                        <?php  }?>
                        </form>
                    </div>
                                                          
                                                        
                                                       
                                                  
                                                </div>
                                                <div class="form-actions">
                                                    <div class="row">
                                                        <div class="col-md-offset-3 col-md-9">
                                                            
                                                            <a href="javascript:;" class="btn green button-submit"> Submit
                                                        <i class="fa fa-check"></i>
                                                            </a>
                                                            <a  href="javascript:history.back()"  class="btn default">Cancel</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                
                                
                                
                                
                               
    </div>
</div>
</div>


<script>

var gamasidx2 = <?php echo $mc;  ?>;
var elem = <?php echo $mc;  ?>;

function addGC2(me) {
var id = $(me).data('id');
var currow = $('body').find('.bread:last');
var str = '<div class="form-group row bread" id="bread' + (parseInt(gamasidx2) + 1) + '" data-id="' + (parseInt(gamasidx2) + 1) + '" >'
+ '<div class="col-md-10">'
+ '<div class="col-md-4">'
+ '<input  class="form-control input-sm" name="fname[]" placeholder="Field Name"  />'
+ '</div>'
+ '<div class="col-md-4">'
+ '<select class = "form-control input-sm" name = "ftype[]"  placeholder = "Type" >'
+ '<option value = "" > Choose Type</option>'
+ '<option value = "string">String</option>'
+ '<option value = "xpath">Xpath Query</option>'
+ '<option value = "css">Css Query</option>'
+ ' </select>'
+ '</div>'
+ '<div class="col-md-4">'
+ '<input   class="form-control input-sm"  name="fvalue[]" placeholder="Value (dateformat: 1995-12-31 23:59:59)" />'
+ '</div>'
+ '</div>'
+ '<div class="col-md-2">'
+ '<button type="button" class="btn red removeGC2" onclick="removeGC2(this); return false;" data-act="removeGC2" data-id="' + (parseInt(gamasidx2) + 1) + '" style="padding: 5px;">Remove</button>'
+ '</div>'
+ '</div>';
gamasidx2++;
//console.log(str);
currow.after(str);
}


function removeGC2(me) {
var id = $(me).data('id');
//console.log(id);
$('body').find('#bread' + id + ':first').remove();
}

jQuery(document).ready(function() {
    
           
            $('#form_wizard_1 .button-submit').click(function () {
            //    alert('Finished! Hope you like it :)');
            
                                
                          
                            var mapp = {
                                varx:$('form#additional').serialize()
                            };
                            //$("#ajax-loader").show();
                                
                                $.ajax({
                                    url: "/domas/manage/updatexpath/",
                                    content: 'html',
                                    data :mapp ,
                                    type: 'post',
                                    beforeSend: function() {
                                    //                $element.hide();
                                    //                $(next).children('span.label').html('<i class="fa fa-coffee"></i>&nbsp;Retrieve data...');
                                    //                $($element).next().slideDown();
                                },
                                complete: function(result) {

                                },
                                success: function(data) {
                                    $("#ajax-loader").hide();
                                    toastr.info('Add Documents succed');
                                //                $($element).next().hide();
                                $("#doccat").html(data);
                                //                $element.slideDown();
                                },
                                error: function() {
                                //  $(next).children('span.label').html('<i class="fa fa-warning"></i>&nbsp;Failed to retrieve data.');
                                }
                                });

            
            });
            
            
   
           
        

});
</script>
