<style>
.dropzone .dz-message {
	font-size: 2em!important;
}
.fleft { 
	float: left; 
	padding-left: 10px;
    padding-right: 10px;
}
.fleft .m-form__group {
	padding-left: 10px!important;
    padding-right: 10px!important;
}
.fleft2 { 
	float: left; 
}
</style>
<div class="m-grid__item m-grid__item--fluid m-wrapper">
	<div id="ajax-loader" style="z-index: 9999; position: absolute; left: 0px; width: 100%; opacity: 0.5; overflow: hidden; display: none;">
			<img style="margin: 15% auto; opacity: 1; display: block;" src="/assets/core/img/gears.gif">
	</div>
	
	<div class="m-subheader ">
		<div class="d-flex align-items-center">
			<div class="mr-auto">
				<h3 class="m-subheader__title m-subheader__title--separator">
					Add your Files <small> </small>
				</h3>
				<ul class="m-subheader__breadcrumbs m-nav m-nav--inline">
					<li class="m-nav__item m-nav__item--home">
						<a href="/" class="m-nav__link m-nav__link--icon">
							<i class="m-nav__link-icon la la-home"></i>
						</a>
					</li>
					<li class="m-nav__separator">
						-
					</li>
					<li class="m-nav__item">
						<a href="#" class="m-nav__link">
							<span class="m-nav__link-text">
								Big Spider
							</span>
						</a>
					</li>
					<li class="m-nav__separator">
						-
					</li>
					<li class="m-nav__item">
						<a href="#" class="m-nav__link">
							<span class="m-nav__link-text">
								Document
							</span>
						</a>
					</li>
					<li class="m-nav__separator">
						-
					</li>
					<li class="m-nav__item">
						<a href="#" class="m-nav__link">
							<span class="m-nav__link-text">
								Add
							</span>
						</a>
					</li>
				</ul>
			</div>
			
		</div>
	</div>
	<div class="m-content">
		<!--::Portlet-->
			<div class="m-portlet">
				<div class="m-portlet__head">
					<div class="m-portlet__head-caption">
						<div class="m-portlet__head-title">
							<h3 class="m-portlet__head-text">
								FORM WIZARD - STEP 1 OF 3
								<small></small>
							</h3>
						</div>
					</div>
					<div class="m-portlet__head-tools">
					</div>
				</div>
					
				<div class="m-wizard m-wizard--1 m-wizard--success" id="form_wizard_1">
					<!--begin: Message container -->
					<div class="m-portlet__padding-x">
						<!-- Here you can put a message or alert -->
					</div>
					<!--end: Message container -->
					<!--begin: Form Wizard Head -->
					<div class="m-wizard__head m-portlet__padding-x">
						<!--begin: Form Wizard Progress -->
						<div class="m-wizard__progress">
							<div class="progress">
								<div class="progress-bar" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
							</div>
						</div>
						<!--end: Form Wizard Progress -->
						<!--begin: Form Wizard Nav -->
						<div class="m-wizard__nav">
							<div class="m-wizard__steps">
								<div class="m-wizard__step m-wizard__step--current" data-wizard-target="#m_wizard_form_step_1">
									<div class="m-wizard__step-info">
										<a href="#" class="m-wizard__step-number">
											<span>
												<span>
													1
												</span>
											</span>
										</a>
										<div class="m-wizard__step-line">
											<span></span>
										</div>
										<div class="m-wizard__step-label">
											Upload Files
										</div>
									</div>
								</div>
								<div class="m-wizard__step" data-wizard-target="#m_wizard_form_step_2">
									<div class="m-wizard__step-info">
										<a href="#" class="m-wizard__step-number">
											<span>
												<span>
													2
												</span>
											</span>
										</a>
										<div class="m-wizard__step-line">
											<span></span>
										</div>
										<div class="m-wizard__step-label">
											Mapping
										</div>
									</div>
								</div>
								<div class="m-wizard__step" data-wizard-target="#m_wizard_form_step_3">
									<div class="m-wizard__step-info">
										<a href="#" class="m-wizard__step-number">
											<span>
												<span>
													3
												</span>
											</span>
										</a>
										<div class="m-wizard__step-line">
											<span></span>
										</div>
										<div class="m-wizard__step-label">
											Additional Fields
										</div>
									</div>
								</div>
							</div>
						</div>
						<!--end: Form Wizard Nav -->
					</div>
					<!--end: Form Wizard Head -->
					
					<!--begin: Form Wizard Form-->
					<div class="m-wizard__form">
						<!--
							1) Use m-form--label-align-left class to alight the form input lables to the right
							2) Use m-form--state class to highlight input control borders on form validation
						-->
						
							<!--begin: Form Body -->
							<div class="m-portlet__body">
								<!--begin: Form Wizard Step 1-->
								<div class="m-wizard__form-step m-wizard__form-step--current" id="m_wizard_form_step_1">
									<div class="">
										<center>
										<form action="/bigbox/manage/xuploader" class="dropzone dropzone-file-area" id="my-dropzone" style="">
										</form>
										</center>
									</div>
								</div>
								<!--end: Form Wizard Step 1-->
								
								<!--begin: Form Wizard Step 2-->
								<div class="m-wizard__form-step" id="m_wizard_form_step_2">
									<div class="form-group">
										<div id="tax"></div>  
									</div>
								</div>
								<!--end: Form Wizard Step 2-->
								
								<!--begin: Form Wizard Step 3-->
								<div class="m-wizard__form-step" id="m_wizard_form_step_3">
									<div class="row">
										<div class="col-xl-8 offset-xl-2">
											<div class="m-form__section m-form__section--first">
												<form id="additional" > 
													<div class="form-group m-form__group row">
														<div class="col-lg-12">
															<label class="m-checkbox">
																<input type="checkbox">
																OCR Scanning
																<span></span>
															</label>
														</div>
													</div>
													
													<div class="form-group m-form__group row">
														<div class="col-lg-12">
															<label class="form-control-label">
																* Doc Name
															</label>
															<input type="text" name="docname" class="form-control m-input" placeholder="Doc Name">
														</div>
													</div>
													
													<div class="form-group m-form__group row">
														<div class="col-lg-12">
															<label class="form-control-label">
																* Doc Description
															</label>
															<input type="text" name="doc_desc" class="form-control m-input" placeholder="Doc Description">
														</div>
													</div>
													
													<div class="row">
														<span id="idfile"></span>
														
														<div class="form-group m-form__group row bread" id="bread1" data-id="1">
															<div class="col-md-10 fleft2">
																<div class="col-md-4 fleft">
																	<input type="text" name="fname[]" class="form-control m-input" placeholder="Field Name">
																</div>
																<div class="col-md-4 fleft">
																	<select class="form-control m-input valid" name="ftype[]" placeholder="Type">
																		<option value="">Choose Type</option>
																		<option value="string">String</option>
																		<option value="integer">Integer</option>
																		<option value="date">Date</option>
																	</select>
																</div>
																<div class="col-md-4 fleft">
																	<input type="text" name="fvalue[]" class="form-control m-input" placeholder="Value(dateformat: 1995-12-31 23:59:59)">
																</div>
															</div>
															<div class="col-md-2 fleft2">
																<button type="button" class="btn m-btn btn-primary addGC2" onclick="addGC2(this);
																return false;" data-act="addGC2" data-id="1" style="padding: 5px;">Add</button>
															</div>
														</div>
													</div>
												</form>
											</div>
										</div>
									</div>
								</div>
								<!--end: Form Wizard Step 3-->
							</div>
							<!--end: Form Body -->
							
							
							<!--begin: Form Actions -->
							<div class="m-portlet__foot m-portlet__foot--fit m--margin-top-40" style="padding:25px;">
								<div class="m-form__actions m-form__actions">
									<div class="row">
										<div class="col-lg-2"></div>
										<div class="col-lg-4 m--align-left">
											<a href="#" class="btn btn-secondary m-btn m-btn--custom m-btn--icon" data-wizard-action="prev">
												<span>
													<i class="la la-arrow-left"></i>
													&nbsp;&nbsp;
													<span>
														Back
													</span>
												</span>
											</a>
										</div>
										<div class="col-lg-4 m--align-right">
											<a href="#" class="btn btn-primary m-btn m-btn--custom m-btn--icon button-submit" data-wizard-action="submit">
												<span>
													<i class="la la-check"></i>
													&nbsp;&nbsp;
													<span>
														Submit
													</span>
												</span>
											</a>
											<a href="#" class="btn btn-warning m-btn m-btn--custom m-btn--icon" data-wizard-action="next">
												<span>
													<span>
														Continue
													</span>
													&nbsp;&nbsp;
													<i class="la la-arrow-right"></i>
												</span>
											</a>
										</div>
										<div class="col-lg-2"></div>
									</div>
								</div>
							</div>
							<!--end: Form Actions -->
							<form class="m-form m-form--label-align-left- m-form--state-" id="m_form">
							</form>
					</div>
					<!--end: Form Wizard Form-->
				</div>
				<!--end: Form Wizard-->
			</div>
			<!--End::Main Portlet-->
	</div>
</div>

<script>

var gamasidx2 = 1;
var elem = 1;

function addGC2(me) {
var id = $(me).data('id');
var currow = $('body').find('.bread:last');
var str = '<div class="form-group m-form__group row bread" id="bread' + (parseInt(gamasidx2) + 1) + '" data-id="' + (parseInt(gamasidx2) + 1) + '">'
+ '<div class="col-md-10 fleft2">'
+ '<div class="col-md-4 fleft">'
+ '<input type="text" name="fname[]" class="form-control m-input" placeholder="Field Name">'
+ '</div>'
+ '<div class="col-md-4 fleft">'
+ '<select class="form-control m-input valid" name="ftype[]" placeholder="Type">'
+ '<option value="">Choose Type</option>'
+ '<option value="string">String</option>'
+ '<option value="integer">Integer</option>'
+ '<option value="date">Date</option>'
+ '</select>'
+ '</div>'
+ '<div class="col-md-4 fleft">'
+ '<input type="text" name="fvalue[]" class="form-control m-input" placeholder="Value(dateformat: 1995-12-31 23:59:59)">'
+ '</div>'
+ '</div>'
+ '<div class="col-md-2 fleft2">'
+ '<button type="button" class="btn m-btn btn-danger removeGC2" onclick="removeGC2(this);'
+ 'return false;" data-act="removeGC2" data-id="' + (parseInt(gamasidx2) + 1) + '" style="padding: 5px;">Remove</button>'
+ '</div>';
gamasidx2++;
//console.log(str);
currow.after(str);
}


function removeGC2(me) {
var id = $(me).data('id');
//console.log(id);
$('body').find('#bread' + id + ':first').remove();
}

jQuery(document).ready(function() {
    
            var handleTitle = function(tab, navigation, index) {
                var total = navigation.find('li').length;
                var current = index + 1;
                // set wizard title
                $('.step-title', $('#form_wizard_1')).text('Step ' + (index + 1) + ' of ' + total);
                // set done steps
                jQuery('li', $('#form_wizard_1')).removeClass("done");
                var li_list = navigation.find('li');
                for (var i = 0; i < index; i++) {
                    jQuery(li_list[i]).addClass("done");
                }

                if (current == 1) {
                    $('#form_wizard_1').find('.button-previous').hide();
                } else {
                    $('#form_wizard_1').find('.button-previous').show();
                }

                if (current >= total) {
                    $('#form_wizard_1').find('.button-next').hide();
                    $('#form_wizard_1').find('.button-submit').show();
                   // displayConfirm();
                } else {
                    $('#form_wizard_1').find('.button-next').show();
                    $('#form_wizard_1').find('.button-submit').hide();
                }
                App.scrollTo($('.page-title'));
            };
     $('#form_wizard_1').bootstrapWizard({
                'nextSelector': '.button-next',
                'previousSelector': '.button-previous',
                onTabClick: function (tab, navigation, index, clickedIndex) {
                   
                    handleTitle(tab, navigation, clickedIndex);
                },
                onNext: function (tab, navigation, index) {
                  
                   handleTitle(tab, navigation, index);
                },
                onPrevious: function (tab, navigation, index) {
                    

                    handleTitle(tab, navigation, index);
                },
                onTabShow: function (tab, navigation, index) {
                    var total = navigation.find('li').length;
                    var current = index + 1;
                    var $percent = (current / total) * 100;
                    $('#form_wizard_1').find('.progress-bar').css({
                        width: $percent + '%'
                    });
                }
            });

            $('#form_wizard_1').find('.button-previous').hide();

            Dropzone.options.myDropzone = {
                dictDefaultMessage: "",
                init: function() {
                    this.on("addedfile", function(file) {
                        // Create the remove button
                        var removeButton = Dropzone.createElement("<a href='javascript:;'' class='btn btn-danger btn-sm btn-block'>Remove</a>");
                        
                        // Capture the Dropzone instance as closure.
                        console.log(file);
                        var _this = this;

                        // Listen to the click event
                        removeButton.addEventListener("click", function(e) {
                          // Make sure the button click doesn't submit the form:
                          e.preventDefault();
                          e.stopPropagation();

                          // Remove the file preview.
                          _this.removeFile(file);
                          // If you want to the delete the file on the server as well,
                          // you can do the AJAX request here.
                        });

                        // Add the button to the file preview element.
                        file.previewElement.appendChild(removeButton);
                    });
                     this.on("success", function(file, responseText) {
                      //  alert(responseText);
                        $("#idfile").append("<input  type='hidden' name='idfiles[]' value='"+responseText+"' />");
                        
                    }); 
                }            
            }
        

});
</script>