<style>
.custom-combobox {
	position: relative;
	display: inline-block;
	width:100%;
}

.custom-combobox-input {
	height:20px;
	width:100%;
}

.custom-combobox-toggle {
	position: absolute;
	top: 0;
	bottom: 0;
	margin-left: -1px;
	padding: 0;
	/* support: IE7 */
	*height: 1.7em;
	*top: 0.1em;
}
.custom-combobox-input {
	margin: 0;
	padding: 0.3em;
}

span.smallauto{
	font-size:9px;
	font-weight:bold;
}

li.ui-menu-item{
	border-bottom:1px solid grey;
}

.ui-autocomplete {
max-height: 150px;
overflow-y: auto;
/* prevent horizontal scrollbar */
overflow-x: hidden;
}

/* IE 6 doesn't support max-height
* we use height instead, but this forces the menu to always be this tall
*/
* html .ui-autocomplete {
height: 100px;
}

.bold{
font-weight:bold !important;
}

a.lista{
	cursor:pointer;
}
</style>
<?php
	//die('www');
?>
<div class="m-grid__item m-grid__item--fluid m-wrapper">
	<div class="m-subheader ">
		<div class="d-flex align-items-center">
			<div class="mr-auto">
				<h3 class="m-subheader__title m-subheader__title--separator">
					Cron Management
				</h3>
				<ul class="m-subheader__breadcrumbs m-nav m-nav--inline">
					<li class="m-nav__item m-nav__item--home">
						<a href="/" class="m-nav__link m-nav__link--icon">
							<i class="m-nav__link-icon la la-home"></i>
						</a>
					</li>
					<li class="m-nav__separator">
						-
					</li>
					<li class="m-nav__item">
						<a href="#" class="m-nav__link">
							<span class="m-nav__link-text">
								Cron
							</span>
						</a>
					</li>
					<li class="m-nav__separator">
						-
					</li>
					<li class="m-nav__item">
						<a href="" class="m-nav__link">
							<span class="m-nav__link-text">
								Add
							</span>
						</a>
					</li>
					
				</ul>
			</div>
			
		</div>
	</div>
	<div class="m-content">
	<div class="m-portlet">
				<!--begin::Form-->
				<form role="form" method="post">
					<div class="m-portlet__body">
					<div class="row">
						<div class="col-md-5">
							<!--
							<input name="filtercheck" type="checkbox" id="filteruser" value="user"> User
							<input name="filtercheck" type="checkbox" id="filtergroup" value="group"> Group
							-->
							<div id="user-label">Machine Name</div>
							<input type="text" class="form-control" maxlength="25" name="machine_name" style="width:65%;display:inline-block;">
						
							<span class="help-block" id="user-description">
							</span><br><br>
							
						</div>
						<div class="col-md-6" id="user-desc">
							<input name="filtercheck" type="checkbox" onclick="customclic(this);" id="custom" value="1"> Custom Cron <br>
							<div id="user-label">Cron Formula</div>
							<input type="text" class="form-control" id="cron_formula" maxlength="25" disabled=yes name="cron_formula" style="width:65%;display:inline-block;">
							<br>
							<span class="help-block" id="user-description">
								*/5 * * * *  for 5 minutes
							</span><br>
						</div>
					</div>
					<hr>
					<div class="row">
						
						<div class="col-md-5">
							<span style="margin-right:10px;font-weight:bold">Every:</span><br>
							<input type="checkbox" id="filtermonthy" name="sch[]" class="controller" value="monthly"> Monthly
							<input type="checkbox" id="filterweekly" name="sch[]" class="controller" value="weekly"> Weekly
							<input type="checkbox" id="filterdaily" name="sch[]" class="controller" value="daily"> Daily
							<input type="checkbox" id="filterhourly" name="sch[]" class="controller" value="hourly"> Hourly
						</div>
						<div class="col-md-6" style="padding-left: 0px;">
							<span style="margin-right:10px;font-weight:bold;margin-left: 15px;">Range:</span><br>
							<div class="form-group">
								<div class="input-group input-large date-timepicker input-daterange" data-date="<?php echo $fromx; ?>" data-date-format="Y/m/d H:i" style="margin-left:15px;">
									<input type="text" class="form-control input-sm date date-picker" name="tgl1" id="tgl1" data-date-format="yyyy/mm/dd H:i">
									<div class="input-group-append">
										<span class="input-group-text">
											to
										</span>
									</div>							
									<input type="text" class="form-control input-sm date date-picker" name="tgl2" id="tgl2" 
										value="<?php echo (!isset($_POST['tgl2'])) ? $today : $_POST['tgl2'];?>" 
										data-date-format="yyyy/mm/dd">
								</div>
							</div>
						</div>
					</div>
					<div class="row">
							<div class="col-md-4"style="padding-top: 15px;padding-left: 15px;">
									
							</div>
							<div class="col-md-8"style="padding-top: 15px;padding-left: 15px;">
								<span class="help-block"></span>
								<button class="btn btn-accent" onclick="sendmsg()"><i class="fa fa-share-square-o"></i> Submit</button>
								<!--button type="submit" class="btn green btn-block">SUBMIT</button-->
									<a  href="javascript:history.back()"  class="btn btn-default">Cancel</a>
							</div>
					</div>
					</div>
				</form>
	</div>
	</div>
</div>

<script>



// var el = jQuery(".page-content").first();
// function customclic(me){
// if ($(me).is(":checked"))
// {
	// $("#cron_formula").removeAttr("disabled");
	
	// $(".date").attr("disabled","yes");
	// $(".controller").attr("disabled","yes");
// }else {
	// $("#cron_formula").attr("disabled","yes");
	// $(".date").removeAttr("disabled");
	// $(".controller").removeAttr("disabled");
	
	// }
// }

jQuery(document).ready(function() {

$('#tgl1').datetimepicker({
	todayHighlight: true,
	autoclose: true,
	format: 'yyyy-mm-dd hh:ii',
	minuteStep: 5
});

$('#tgl2').datetimepicker({
	todayHighlight: true,
	autoclose: true,
	format: 'yyyy-mm-dd hh:ii',
	minuteStep: 5
});


// $('body').find('#tgl1').datetimepicker({
		// isRTL: App.isRTL(),
		// format: "yyyy-mm-dd hh:ii",
		// autoclose: true,
		// todayBtn: true,
		// //startDate: "2013-02-14 10:00",
		// pickerPosition: (App.isRTL() ? "top-left" : "top-right"),
		// minuteStep: 5
	// });

// $('body').find('#tgl2').datetimepicker({
		// isRTL: App.isRTL(),
		// format: "yyyy-mm-dd hh:ii",
		// autoclose: true,
		// todayBtn: true,
		// //startDate: "2013-02-14 10:00",
		// pickerPosition: (App.isRTL() ? "to-left" : "top-right"),
		// minuteStep: 5
	// });
// $('body').find('#tp').timepicker({
		// isRTL: App.isRTL(),
		// format: "hh:ii",
		// autoclose: true,
		// todayBtn: true,
		// //startDate: "2013-02-14 10:00",
		// pickerPosition: (App.isRTL() ? "to-left" : "top-right"),
		// minuteStep: 5
	// });
});
</script>
