<?php

$params = array();

foreach($this->params as $v) {
    $params[$v['value_param']] = $v['display_param'];
}
$conns = array();

foreach($this->conns as $v) {
    $conns[$v['conn_name']] = $v['conn_name'];
}
//Zend_Debug::dump($this->varams);

?>
<div class="m-grid__item m-grid__item--fluid m-wrapper">
	<div class="m-subheader ">
		<div class="d-flex align-items-center">
			<div class="mr-auto">
				<h3 class="m-subheader__title m-subheader__title--separator">
					Add Queue
				</h3>
				<ul class="m-subheader__breadcrumbs m-nav m-nav--inline">
					<li class="m-nav__item m-nav__item--home">
						<a href="/" class="m-nav__link m-nav__link--icon">
							<i class="m-nav__link-icon la la-home"></i>
						</a>
					</li>
					<li class="m-nav__separator">
						-
					</li>
					<li class="m-nav__item">
						<a href="#" class="m-nav__link">
							<span class="m-nav__link-text">
								Home
							</span>
						</a>
					</li>
					<li class="m-nav__separator">
						-
					</li>
					<li class="m-nav__item">
						<a href="" class="m-nav__link">
							<span class="m-nav__link-text">
								Add Queue
							</span>
						</a>
					</li>
					<li class="m-nav__separator">
						-
					</li>
					<li class="m-nav__item">
						<a href="" class="m-nav__link">
							<span class="m-nav__link-text">
								Add Queue Template Name
							</span>
						</a>
					</li>
					
				</ul>
			</div>
			
		</div>
	</div>
	<div class="m-content">
		<!--::Portlet-->
			<div class="m-portlet">
				<div class="m-portlet__head">
					<div class="m-portlet__head-caption">
						<div class="m-portlet__head-title">
							<h3 class="m-portlet__head-text">
								Add Queue Template Name
							</h3>
						</div>
					</div>
				</div>
				<form action="" class="m-form m-form--fit m-form--label-align-left" id="addapi" method="post">
					<input type="hidden" name="id" value="<?php echo $this->data['id'];?>" />
					<input type="hidden" name="pid" value="" />
					<div class="m-portlet__body">
								<div class="m-alert m-alert--icon alert alert-danger m--hide" role="alert" id="alertinfo">
									<div class="m-alert__icon">
										<i class="la la-warning"></i>
									</div>
									<div class="m-alert__text">
										<span id="alertmsg"><strong>Warning!</strong> Something went wrong. Please check.</span>
									</div>
									<div class="m-alert__close">
										<button type="button" class="close" data-close="alert" aria-label="Close"></button>
									</div>
								</div>
								
								<div style="margin:0px auto;text-align:center;display:none;" id="processbar">
									<div class="progress">
										<div class="progress-bar progress-bar-striped progress-bar-animated " role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
											<span class="sr-only">
												On Process
											</span>
										</div>
									</div>
									<span style="margin:0px auto;">Please wait...processing request</span>
								</div>
								<div class="row">
									<div class="col-md-6">
										<div class="form-group m-form__group row">
											<label class="col-form-label col-lg-12 col-sm-12">Queue Template Name</label>
											<input type="text" name="qname" id="qname" class="form-control m-input" placeholder="Queue Template Name"  value="<?php echo $this->data['qname'];?>">
											<span class="m-form__help">
												
											</span>
										</div>
									</div>
									<div class="col-md-offset-1 col-md-6">
											<div class="form-group m-form__group row">
											<label class="col-form-label col-lg-12 col-sm-12">Count</label>
											<input type="text" name="qcount" id="qcount" class="form-control m-input" placeholder="Count"  value="<?php echo $this->data['qcount'];?>">
											<span class="m-form__help">
												
											</span>
											</div>
										
										
									</div>
								</div>
								
								<div class="row">
									<div class="col-md-6">
										<div class="form-group m-form__group row">
											<label class="col-form-label col-lg-12 col-sm-12">Interval</label>
											<input type="text" name="interval" id="Interval" class="form-control m-input" placeholder="Interval"  value="<?php echo $this->data['interval'];?>">
											<span class="m-form__help">
												
											</span>
										</div>
									</div>
									<div class="col-md-offset-1 col-md-6">
									</div>
								</div>
								
							<!-- END FORM-->
					</div>
					<div class="m-portlet__foot m-portlet__foot--fit">
						<div class="m-form__actions m-form__actions">
							<div class="row">
								<div class="col-lg-12 ml-lg-auto">
									<button type="submit" class="btn btn-accent">
										Submit & Generate
									</button>
									<button type="reset" class="btn btn-secondary" onclick="window.history.back();">
										Cancel
									</button>
								</div>
							</div>
						</div>
					</div>
				</form>
			</div>
	</div>
</div>