<?php
	//die('www');
?>

<div class="m-grid__item m-grid__item--fluid m-wrapper">
	<div class="m-subheader ">
		<div class="d-flex align-items-center">
			<div class="mr-auto">
				<h3 class="m-subheader__title m-subheader__title--separator">
					Crawl Logs <small>Domas</small>
				</h3>
				<ul class="m-subheader__breadcrumbs m-nav m-nav--inline">
					<li class="m-nav__item m-nav__item--home">
						<a href="#" class="m-nav__link m-nav__link--icon">
							<i class="m-nav__link-icon flaticon-app"></i>
						</a>
					</li>
					<li class="m-nav__item">
						<a href="" class="m-nav__link">
							<span class="m-nav__link-text">
								
							</span>
						</a>
					</li>
					
				</ul>
			</div>
		</div>
	</div>
	<div class="m-content">
		<div class="m-portlet m-portlet--mobile">
			<div class="m-portlet__head">
				<div class="m-portlet__head-caption">
					<div class="m-portlet__head-title">
						<h3 class="m-portlet__head-text">
							User Datatables <?php echo $this->varams['app'];?>
							<small>
								
							</small>
						</h3>
					</div>
				</div>
				<!--div class="m-portlet__head-tools">
					<div class="btn-group" role="group" aria-label="Button group with nested dropdown">
						<a href="/bigbox/bigbuilder/addpage" type="button" class="m-btn btn btn-success">
							<i class="fa fa-plus"></i> Add New
						</a>
						<button type="button" class="m-btn btn btn-success" id='reload'>
							<i class="fa fa-refresh"></i> Reload
						</button>
						<div class="btn-group" role="group">
							<button id="btnGroupDrop1" type="button" class="btn  dropdown-toggle btn-success" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
								Column
							</button>
							<div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
								<label class="dropdown-item"><input type="checkbox" checked="" data-column="0"> No</label>
								<label class="dropdown-item"><input type="checkbox" checked="" data-column="1"> ID</label>
								<label class="dropdown-item"><input type="checkbox" checked="" data-column="2"> Name Alias</label>
							</div>
						</div>
					</div>
				</div-->
			</div>
			<div class="m-portlet__body">
				<!--begin: Search Form -->
				<div class="m-form m-form--label-align-right m--margin-top-20 m--margin-bottom-30">
					<div class="row align-items-center">
						<div class="col-xl-8 order-2 order-xl-1">
							<div class="form-group m-form__group row align-items-center">
								<div class="col-md-4">
									<div class="m-input-icon m-input-icon--left">
										<input type="text" class="form-control m-input" placeholder="Search..." id="generalSearch">
										<span class="m-input-icon__icon m-input-icon__icon--left">
											<span>
												<i class="la la-search"></i>
											</span>
										</span>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!--end: Search Form -->
				<div class="m_datatable" id="crawlogs" width="100%"></div>
			</div>
		</div>
	</div>
</div>
<script>


// jQuery(document).ready(function() {
// var TableAjax4 = function () {
    // return {

        // //main function to initiate the module
        // init: function () {
            
            // if (!jQuery().dataTable) {
                // return;
            // }

            // // begin first table	
            // var oTable = $('#user_table').dataTable({
               // // "sDom" : "<'row'<'col-md-6 col-sm-12'l><'col-md-6 col-sm-12'f>r>t<'row'<'col-md-5 col-sm-12'i><'col-md-7 col-sm-12'p>>", //default layout without horizontal scroll(remove this setting to enable horizontal scroll for the table)
                // "aLengthMenu": [
                    // [10,50, 200, 500 -1],
                    // [10,50, 200, 500, "All"] // change per page values here
                // ],
                // "bProcessing": true,
                // "bServerSide": true,
                // "sAjaxSource": "/domas/ajax/ajaxlogscrawl/app/<?php echo $this->varams['app'];?>",
                // // set the initial value
                // "iDisplayLength": 50,
                // "sPaginationType": "bootstrap_full_number",
                // "oLanguage": {
                    // "sProcessing": '<i class="fa fa-coffee"></i>&nbsp;Please wait...',
                    // "sLengthMenu": "_MENU_ records",
                    // "oPaginate": {
                        // "sPrevious": "Prev",
                        // "sNext": "Next"
                    // },
			// "sSearch": "Search all columns:"
                // },
                // "aoColumnDefs": [{
                        // 'bSortable': false,
                        // 'aTargets': [0,4]
                    // }
                // ]
            // });

            // jQuery('#user_table_wrapper .dataTables_filter input').addClass("form-control input-medium"); // modify table search input
            // jQuery('#user_table_wrapper .dataTables_length select').addClass("form-control input-small"); // modify table per page dropdown

            // // handle record edit/remove
            // //$('body').on('click', '#graph_table_wrapper .btn-graph', function() {
            // //    alert('Edit record with id:' + $(this).attr("data-id"));
            // //});

		
		// $("input#filterid").keyup( function () {
			// /* Filter on the column (the index) of this element */
			// oTable.fnFilter( this.value, 1 );
		// } );
		// $("input#filteruname").keyup( function () {
			// /* Filter on the column (the index) of this element */
			// oTable.fnFilter( this.value, 2 );
		// } );
		// $("input#filterfullname").keyup( function () {
			// /* Filter on the column (the index) of this element */
			// oTable.fnFilter( this.value, 3 );
		// } );
		// $("input#filteremail").keyup( function () {
			// /* Filter on the column (the index) of this element */
			// oTable.fnFilter( this.value, 4 );
		// } );
		// $("input#filterubis").keyup( function () {
			// /* Filter on the column (the index) of this element */
			// oTable.fnFilter( this.value, 5 );
		// } );
		// $("input#filtersub_ubis").keyup( function () {
			// /* Filter on the column (the index) of this element */
			// oTable.fnFilter( this.value, 6 );
		// } );
		// $("input#filterposition").keyup( function () {
			// /* Filter on the column (the index) of this element */
			// oTable.fnFilter( this.value, 7 );
		// } );
		// $("a.reload").click( function () {
			// /* Filter on the column (the index) of this element */
			// oTable.fnDraw();
		// } );

        // $('#sample_2_column_toggler input[type="checkbox"]').change(function(){
            // /* Get the DataTables object again - this is not a recreation, just a get of the object */
            // var iCol = parseInt($(this).attr("data-column"));
            // var bVis = oTable.fnSettings().aoColumns[iCol].bVisible;
            // oTable.fnSetColumnVis(iCol, (bVis ? false : true));
        // });


        // }

    // };

// }();

	
	// TableAjax4.init();
	
// });
</script>
