<style>

</style>
<?php

// Zend_Debug::dump($this->data);//die(0);

?>
<div class="m-grid__item m-grid__item--fluid m-wrapper">
	<div class="m-subheader ">
		<div class="d-flex align-items-center">
			<div class="mr-auto">
				<h3 class="m-subheader__title m-subheader__title--separator">
					<?php
					echo $this->data['media_name'];
					?>
				</h3>
				<ul class="m-subheader__breadcrumbs m-nav m-nav--inline">
					<li class="m-nav__item m-nav__item--home">
						<a href="/" class="m-nav__link m-nav__link--icon">
							<i class="m-nav__link-icon la la-home"></i>
						</a>
					</li>
					<li class="m-nav__separator">
						-
					</li>
					<li class="m-nav__item">
						<a href="#" class="m-nav__link">
							<span class="m-nav__link-text">
								Big Spider
							</span>
						</a>
					</li>
					<li class="m-nav__separator">
						-
					</li>
					<li class="m-nav__item">
						<a href="" class="m-nav__link">
							<span class="m-nav__link-text">
								Digital Media
							</span>
						</a>
					</li>
					<li class="m-nav__separator">
						-
					</li>
					<li class="m-nav__item">
						<a href="" class="m-nav__link">
							<span class="m-nav__link-text">
								Digital Media List
							</span>
						</a>
					</li>
					<li class="m-nav__separator">
						-
					</li>
					<li class="m-nav__item">
						<a href="" class="m-nav__link">
							<span class="m-nav__link-text">
								Edit Media
							</span>
						</a>
					</li>
				</ul>
			</div>
			
		</div>
	</div>
	<div class="m-content">
		<div class="m-portlet">
			<div class="m-portlet__body">
		<!-- BEGIN FORM-->
					<form action="/bigbox/bigspider/postmedia"  enctype="multipart/form-data"   method="post" class="form-horizontal" id="addapi">
						<input name="id" type="hidden"  value="<?php echo $this->data['id']; ?>" />
							<div class="form-body">                                                        
								<div class="row">
									<div class="col-md-6">
										<div class="form-group">
											<label class="control-label col-md-4">Nama Media</label>
											<div class="col-md-9">
												<input type="text" name="medianame" class="form-control" value="<?php
												echo $this->data['media_name'];
												?>" placeholder="">
												<!--<span class="help-block"> This is inline help </span>-->
											</div>
										</div>
									</div>
										<!--/span-->
									<div class="col-md-6">
										<div class="form-group">
											<label class="control-label col-md-3">Tipe Media </label>
											<div class="col-md-9">
												<select name="media_type" class="form-control"  >
													<option value="1" <?php echo($this->data["media_type"]=="1"?"selected":""); ?>>1. Nasional</option>
													<option value="2" <?php echo($this->data["media_type"]=="2"?"selected":""); ?>>2. Lokal </option>
													<option value="3" <?php echo($this->data["media_type"]=="3"?"selected":""); ?>>3. Internasional</option>
													<option value="4" <?php echo($this->data["media_type"]=="4"?"selected":""); ?>>4. Website Target</option>
													</select> 
													<span class="help-block">
													<span class="label label-danger"><i class="fa fa-warning"> </i>This is inline help</span>
													</span> 
													<!--<span class="help-block"> This is inline help </span>-->
											</div>
										</div>
									</div>								
										<!--/span-->
								</div>
							
							<!--/row-->
								<div class="row">
									<div class="col-md-6">
										<div class="form-group">
											<label class="control-label col-md-3">Slugname</label>
											<div class="col-md-9">
												<input type="text" name="machinename" class="form-control" value="<?php
												echo $this->data['slugname'];
												?>" placeholder="">
												<!--<span class="help-block"> This is inline help </span>-->
											</div>
										</div>
									</div>

									<div class="col-md-6">
										<div class="form-group">
											<label class="control-label col-md-3">Bahasa : </label>
											<div class="col-md-9">
												<select name="language" class="form-control" >  
												<option value="en" <?php echo($this->data["language"]=="en"?"selected":""); ?>>1. English </option>
												<option value="id" <?php echo($this->data["language"]=="id"?"selected":""); ?>>2. Indonesia </option>

												</select> 
												<span class="help-block">
												<span class="label label-danger"><i class="fa fa-warning"> </i>This is inline help</span>
												</span> 
													<!--<span class="help-block"> This is inline help </span>-->
											</div>
										</div>
									</div>
									
										<!--/span-->
								</div>
								 
						 
							<!--/row-->
								<div class="row">
								 
									<div class="col-md-6">
										<div class="form-group">
											<label class="control-label col-md-3">Url</label>
											<div class="col-md-9">
												<input type="text" name="url" class="form-control" value="<?php
												echo $this->data['url'];
												?>" placeholder="">
												<!--<span class="help-block"> This is inline help </span>-->
											</div>
										</div>
									</div>

									<!--/span-->
									<div class="col-md-6">
										<div class="form-group">
											<label class="control-label col-md-3">Perbaharui Rutin </label>
											<div class="col-md-9"> 
												<select name="update_routine" class="form-control " > 
													<option value="1" <?php echo($this->data["update_routine"]=="1"?"selected":""); ?>>10 Menit</option>  
													<option value="2" <?php echo($this->data["update_routine"]=="2"?"selected":""); ?>>1 Jam</option>
													<option value="3" <?php echo($this->data["update_routine"]=="3"?"selected":""); ?>>3 Jam</option>                   
													<option value="4" <?php echo($this->data["update_routine"]=="4"?"selected":""); ?>>6 Jam</option>
													<option value="5" <?php echo($this->data["update_routine"]=="5"?"selected":""); ?>>12 Jam</option>
													<option value="6" <?php echo($this->data["update_routine"]=="6"?"selected":""); ?>>Harian</option>
													<option value="7" <?php echo($this->data["update_routine"]=="7"?"selected":""); ?>>Mingguan</option>
													<option value="8" <?php echo($this->data["update_routine"]=="8"?"selected":""); ?>>Bulanan</option>
												</select> 
											</div>
										</div>								 
									</div>
								</div>
					 
							<!--/row-->
								<div class="row">							 
										<!--/span-->
										<div class="col-md-6">
											<div class="form-group">
												<label class="control-label col-md-3">Logo</label>
												<div class="col-md-9"> <input type="file" name="logo">
												</div>
											</div>									 
										</div>
										<!--/span-->
								</div>

							<!--/row-->
								
								<div class="form-actions">
										<div class="row">
												<div class="col-md-12">
														<div class="row">
																<div class="col-md-12">
																	<center>
																		<button type="submit" class="btn btn-accent">Perbaharui</button>
                                                                        <a  href="javascript:history.back()"  class="btn btn-default">Cancel</a>
																	</center>
																</div>
														</div>
												</div>
												<div class="col-md-6"> </div>
										</div>
								</div> 
							</div>
					</form>
						<!-- END FORM-->
			</div>	
		</div>
	</div>
</div>
	
 <script>          

 
jQuery(document).ready(function() {
  
    
var EditApi = function () {
	var handleAdd = function() {
		$('form#addapi').validate({
	            //errorElement: 'span', //default input error message container
	            //errorClass: 'label-danger', // default input error message class
	            focusInvalid: false, // do not focus the last invalid input
	            rules: {
	                c_name: {
	                    required: true
	                },  slugname: {
	                    required: true
	                },
	            },
	         

	            messages: {
					
	            },

	            invalidHandler: function (event, validator) { //display error alert on form submit   
	                //$('.alert-danger', $('.login-form')).show();
	                //console.log(event);
	                //console.log(validator);
	                
					//$('span.help-block').show();
					$('span.help-block').hide();
	                var errorlist = validator.errorList;
	                if(errorlist.length>0){
						for(var i = 0; i<errorlist.length; i++){
							//console.log(errorlist[i].element);
							var el = errorlist[i].element; 
							var next = $(el).next('span.help-block'); 
							$(next).slideDown();
						}
						$('html,body').animate({
							scrollTop: $(el).offset().top-100
						}, 800);
					}
	            },

	            highlight: function (element) { // hightlight error inputs
	                $(element)
	                    .closest('.form-group').addClass('has-error'); // set error class to the control group
	            },

	            success: function (label) {
	                label.closest('.form-group').removeClass('has-error');
	                //label.remove();
	            },

	            errorPlacement: function (error, element) {
					$('span.help-block').hide();
					var next = element.next('span.help-block'); 
					//console.log(error);
	                if(error[0].textContent!=""){
						$(next).html("<i class='fa fa-warning'></i> "+ error[0].textContent);
						$(element).next().slideDown();
						$('html,body').animate({
							scrollTop: $(element).offset().top-100
						}, 800);
					}
	            },

	           
	        });

	       
	}
	
	
	

	
    
    return {
        //main function to initiate the module
        init: function () {
            handleAdd();
        }

    };

}();


//FormComponents3.init();

$('span.help-block').hide();
EditApi.init();




  
  });   


</script>
                                    
                                    