<?php 
#Zend_Debug::dump($this->prediksi );die();
?>
<style>
td {padding: 10px;}
</style>
<form action="/bigbox/bigspider/postpredictive" id="addpredic"  enctype="multipart/form-data" method="post" class="form-horizontal">
<table class="m_datatable" id="html_table" width="100%">
	<thead>
	<tr>
		<th></th>
		<th></th>
		<th></th>
		<th><button class="btn btn-info" onclick="gens();">Submit</button></th>
	</tr>
	<tr>
		<th>No</th>
		<th>Konten</th>
		<th>Prediksi</th>
		<th>Nilai</th>
	</tr>
	</thead>
	<tbody>

<?php

// Zend_Debug::dump($this->varams ); die();

foreach($this->prediksi as $k2=>$v2){

	// Zend_Debug::dump($v2);
	$data.= '<option value="'.$v2['name'].'">'.$v2['name'].'</option>';  
	}
// echo  $data;die();

$html ='';
foreach($this->data as $k=>$v){
	$arr_sentiment = array("Meningkat","Menurun","Normal");
	$arr_pred = $this->prediksi;

	// Zend_Debug::dump($arr_pred[0]['name']); die();

	$sentiment  ='';
	$sentiment .='
	<input class="hidden" name="data['.$k.'][tema]" value="'.$this->varams["cat"].'">
	<input class="hidden" name="data['.$k.'][topik]" value="'.$this->varams["topik"].'">
	<input class="hidden" name="data['.$k.'][id_content]" value="'.$v["id"].'">
	<input class="hidden" name="data['.$k.'][stype]" value="'.$this->varams["type"].'">
	<div class="mt-radio-inline">
		<label class="mt-radio">
			<input type="radio" class="sentimentR" name="data['.$k.'][nilai]" id="oR0'.$k.'" value="0" '.($v["is_sentiment"]==0?"checked":"").'> Meningkat
			<span></span>
		</label><br>
		<label class="mt-radio">
			<input type="radio" class="sentimentR" name="data['.$k.'][nilai]" id="oR1'.$k.'" value="1" '.($v["is_sentiment"]==1?"checked":"").'> Menurun
			<span></span>
		</label><br>
		<label class="mt-radio">
			<input type="radio" class="sentimentR" name="data['.$k.'][nilai]" id="oR2'.$k.'" value="2" '.($v["is_sentiment"]==2||$v["is_sentiment"]==""?"checked":"").'> Normal
			<span></span>
		</label>
	</div>';
	
	
	if($this->varams["type"]!=6){
		$text = str_replace('\n','<br>',str_replace('&lt;br/&gt;','\n',$v["content"]));
	} else {
		$textdata = htmlspecialchars($v["content"]);
		$text = ltrim(str_replace("\n","<br>",$textdata),"<br>"); 
	}
	// Zend_Debug::dump($sentiment); die();
	
	
	$html .='<tr>';
	$html .='<td valign="top">'.($k+1).'</td>';
	$html .='<td style="width: 40%;">'.$text.'<textarea style="display:none;" class="form-control" rows="3" name="data['.$k.'][text]">'.($v["content"]).'</textarea></td>';
	$html .='<td valign="top">';
	$html .='<select class="form-control select2me" data-placeholder="Select..." id="prediksi" name="data['.$k.'][prediksi]">';
	$html .='<option value="">Pilih Prediksi</option>';
	$html .=$data;
	$html .='</select>';
	$html .='	</td>';
	$html .='	<td valign="top">'.($sentiment).'</td>';
	$html .='</tr>';
}
$html .='<tr>';
$html .='	<td></td>';
$html .='	<td></td>';
$html .='	<td></td>';
$html .='	<td><button class="btn btn-info" onclick="gens();">Submit</button></td>';
$html .='</tr>';
echo $html;

 // Zend_Debug::dump($html); die();
?>
	</tbody>
</table>
</form>