<?php
	$params=array();
	#Zend_Debug::dump($this->data3);die();
?>

<div class="m-grid__item m-grid__item--fluid m-wrapper">
	<div class="m-subheader ">
		<div class="d-flex align-items-center">
			<div class="mr-auto">
				<h3 class="m-subheader__title m-subheader__title--separator">
					Queue Process <small></small>
				</h3>
				<ul class="m-subheader__breadcrumbs m-nav m-nav--inline">
					<li class="m-nav__item m-nav__item--home">
						<a href="/" class="m-nav__link m-nav__link--icon">
							<i class="m-nav__link-icon la la-home"></i>
						</a>
					</li>
					<li class="m-nav__separator">
						-
					</li>
					<li class="m-nav__item">
						<a href="#" class="m-nav__link">
							<span class="m-nav__link-text">
								Home
							</span>
						</a>
					</li>
					<li class="m-nav__separator">
						-
					</li>
					<li class="m-nav__item">
						<a href="" class="m-nav__link">
							<span class="m-nav__link-text">
								Queue Process
							</span>
						</a>
					</li>
					<li class="m-nav__separator">
						-
					</li>
					<li class="m-nav__item">
						<a href="" class="m-nav__link">
							<span class="m-nav__link-text">
								Queue List
							</span>
						</a>
					</li>
					
				</ul>
			</div>
		</div>
	</div>
	<div class="m-content">
		<div class="m-portlet m-portlet--mobile">
			<div class="m-portlet__head">
				<div class="m-portlet__head-caption">
					<div class="m-portlet__head-title">
						<h3 class="m-portlet__head-text">
							Action List	
							<small>
								
							</small>
						</h3>
					</div>
				</div>
				<div class="m-portlet__head-tools">
						<div class="btn-group" role="group" aria-label="Button group with nested dropdown">
							<a href="/bigbox/bigspider/addqueue" type="button" class="m-btn btn btn-success">
								<i class="la la-plus"></i> Add New
							</a>
							<button type="button" class="m-btn btn btn-success" id='reload'>
								<i class="la la-refresh"></i> Reload
							</button>
						</div>
					</div>
			</div>
			<div class="m-portlet__body">
				<div class="alert alert-success alert-dismissable m--hide" id="alertinfo">
					<button type="button" class="close" data-dismiss="alert" aria-hidden="true"></button>
					<span id="alertmsg"><strong>Warning!</strong> Something went wrong. Please check.</span>
				</div>
				
				<div style="margin:0px auto;text-align:center" id="processbar" class="m--hide">
					<div class="progress progress-striped active" style="margin:0px auto;text-align:center">
						<div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
							<span class="sr-only">
								On Process
							</span>
						</div>
					</div>
					<span style="margin:0px auto;">Please wait...processing request</span>
				</div>
				<table class="m-datatable" id="table_portlet_17">
					<thead>
						<tr style='font-size:10px;'>
							<th title="No">No</th><th title="Status">Status</th><th title="Queue Template Name"> Queue Template Name </th><th title="Interval (second)">Interval (second)</th><th title="Count">Count</th><th title="file">file</th><th title="Action"></th>								
						</tr>
					</thead>
					<tbody>		
					<?php 
					$i=1;
					foreach ($this->data as $v) {
						
						
						echo '<tr class="gradeX"><td>'.$i.'</td><td>';
						if(isset($this->data2[$v['NAME']]['array_pid'])) {
							$zzz=array();
							$zzz = explode (",", $this->data2[$v['NAME']]['array_pid']);
							$run="off";	
							foreach ($zzz as $z) {
								if(in_array($z, $this->data3)) {
										$run="on";
										
										echo '<a href="#" class="btn btn-sm btn-primary"><i class="la la-play"></i> '.$z.'</a>&nbsp;';
								}else {
									echo '<a href="#" class="btn btn-sm btn-danger"><i class="la la-stop"></i> '.$z.'</a>&nbsp;';
									}	
							}
						}

					#echo $this->data2[$v['NAME']]['array_pid'];
						
					echo 	'</td><td>'.$v['NAME'].'</td><td>'.$v['INTERVAL'].'</td><td>'.$v['COUNT'].'</td><td><span title="'.$v['LINK'].'">'.$v['LINK'].'</span></td><td>
							<div style="text-align:center">
						<a href="/bigbox/bigspider/deletall/id/'.$v['NAME'].'" data-id="3" class="m-portlet__nav-link btn m-btn m-btn--hover-primary m-btn--icon m-btn--icon-only m-btn--pill" title="Delete & Stop"><i class="la la-times"></i> </a>&nbsp;';
					if($run=="on") {
							echo '<a href="/bigbox/bigspider/stop/id/'.$v['NAME'].'" data-id="3" class="m-portlet__nav-link btn m-btn m-btn--hover-warning m-btn--icon m-btn--icon-only m-btn--pill" title="Stop All"><i class="la la-stop"></i> </a>';
						
						}else {
							echo '<a href="/bigbox/bigspider/running/id/'.$v['NAME'].'" data-id="3" class="m-portlet__nav-link btn m-btn m-btn--hover-primary m-btn--icon m-btn--icon-only m-btn--pill" title="Run All"><i class="la la-play"></i> </a>';	
						}

					echo '</div></td></tr>';	

					$i++;
					}
					?>	
					</tbody>
				</table>	
			</div>
		</div>
	</div>
</div>


<script>
	
jQuery(document).ready(function() {

$(".btn-click" ).click(function() {
	$('#processbar').removeClass('hidden');
});




 $('#table_portlet_17').dataTable({
               "language": {
                "aria": {
                    "sortAscending": ": activate to sort column ascending",
                    "sortDescending": ": activate to sort column descending"
                },
                "emptyTable": "No data available in table",
                "info": "Showing _START_ to _END_ of _TOTAL_ records",
                "infoEmpty": "No records found",
                "infoFiltered": "(filtered1 from _MAX_ total records)",
                "lengthMenu": "Show _MENU_",
                "search": "Search:",
                "zeroRecords": "No matching records found",
                "paginate": {
                    "previous":"Prev",
                    "next": "Next",
                    "last": "Last",
                    "first": "First"
                }
            },

            // Or you can use remote translation file
            //"language": {
            //   url: '//cdn.datatables.net/plug-ins/3cfcc339e89/i18n/Portuguese.json'
            //},

            // Uncomment below line("dom" parameter) to fix the dropdown overflow issue in the datatable cells. The default datatable layout
            // setup uses scrollable div(table-scrollable) with overflow:auto to enable vertical scroll(see: assets/global/plugins/datatables/plugins/bootstrap/dataTables.bootstrap.js). 
            // So when dropdowns used the scrollable div should be removed. 
            //"dom": "<'row'<'col-md-6 col-sm-12'l><'col-md-6 col-sm-12'f>r>t<'row'<'col-md-5 col-sm-12'i><'col-md-7 col-sm-12'p>>",

            "bStateSave": true, // save datatable state(pagination, sort, etc) in cookie.

            "lengthMenu": [
                [5, 15, 20, -1],
                [5, 15, 20, "All"] // change per page values here
            ],
            // set the initial value
            "pageLength": 5,            
            "pagingType": "bootstrap_full_number",
            "columnDefs": [
                {  // set default column settings
                    'orderable': false,
                    'targets': [0]
                }, 
                {
                    "searchable": false,
                    "targets": [0]
                },
                {
                    "className": "dt-right", 
                    //"targets": [2]
                }
            ],
            "order": [
                [1, "asc"]
            ] // set first column as a default sort by asc
        });

           
         


//FormComponents3.init();

$('span.help-block').hide();
});



</script>
