<div class="m-grid__item m-grid__item--fluid m-wrapper">
	<div class="m-subheader ">
		<div class="d-flex align-items-center">
			<div class="mr-auto">
				<h3 class="m-subheader__title m-subheader__title--separator">
					Sentiment <small>Kamus BigSpider</small>
				</h3>
				<ul class="m-subheader__breadcrumbs m-nav m-nav--inline">
					<li class="m-nav__item m-nav__item--home">
						<a href="#" class="m-nav__link m-nav__link--icon">
							<i class="m-nav__link-icon flaticon-app"></i>
						</a>
					</li>
					<li class="m-nav__separator">-</li>
					<li class="m-nav__item">
						<a href="#" class="m-nav__link">
							<span class="m-nav__link-text">
								Big Spider
							</span>
						</a>
					</li>
					<li class="m-nav__separator">-</li>
					<li class="m-nav__item">
						<a href="#" class="m-nav__link">
							<span class="m-nav__link-text">
								Configuration
							</span>
						</a>
					</li>
					<li class="m-nav__separator">-</li>
					<li class="m-nav__item">
						<a href="" class="m-nav__link">
							<span class="m-nav__link-text">
								Sentiment
							</span>
						</a>
					</li>
					
				</ul>
			</div>
			
		</div>
	</div>
	<div class="m-content">
			<div class="m-portlet m-portlet--mobile">
				<div class="m-portlet__head">
					<div class="m-portlet__head-caption">
						<div class="m-portlet__head-title">
							<h3 class="m-portlet__head-text">
								Kamus
							</h3>
						</div>
					</div>
					<div class="m-portlet__head-tools">
					</div>
				</div>
				<div class="m-portlet__body">
					<!--begin: Search Form -->
					<div class="m-form m-form--label-align-right m--margin-top-20 m--margin-bottom-30">
						<div class="row align-items-center">
							<div class="col-xl-8 order-2 order-xl-1">
								<div class="form-group m-form__group row align-items-center">
									<div class="col-md-4">
									</div>
									<div class="col-md-4">
										<div class="m-form__group m-form__group--inline">
											<div class="m-form__label">
												<label class="m-label m-label--single">
													Bahasa:
												</label>
											</div>
											<div class="m-form__control">
												<select class="form-control m-bootstrap-select" id="bahasa" name="bahasa">
													<option value="">ALL</option>
													<option value="id">Indonesia</option>
													<option value="en">English</option>
												</select>
											</div>
										</div>
										<div class="d-md-none m--margin-bottom-10"></div>
									</div>
									<div class="col-md-4">
										<div class="m-input-icon m-input-icon--left">
											<input type="text" class="form-control m-input" placeholder="Search..." id="generalSearch">
											<span class="m-input-icon__icon m-input-icon__icon--left">
												<span>
													<i class="la la-search"></i>
												</span>
											</span>
										</div>
									</div>
								</div>
							</div>
							<div class="col-xl-4 order-1 order-xl-2 m--align-right">
								<div class="m-btn-group m-btn-group--pill btn-group" role="group" aria-label="Button group with nested dropdown">
									<button type="button" class="m-btn btn btn-primary" data-toggle="modal" data-target="#static2" id="btn-addnew">
										<i class="fa fa-plus"></i> Tambah Kamus Baru
									</button>
									<button type="button" class="m-btn btn btn-info" id='generate'>
										<i class="fa fa-plus"></i> Generate
									</button>
								</div>
								<div class="m-separator m-separator--dashed d-xl-none"></div>
							</div>
						</div>
					</div>
					<!--end: Search Form -->
					
					<!--begin: Datatable -->
					<div class="m_datatable" id="listdictionary" width="100%"></div>
					
					<!--end: Datatable -->
				</div>
			</div>
			
			<div id="static2" class="modal fade" tabindex="-1" data-backdrop="static" data-keyboard="false" role="dialog" aria-labelledby="addListapi" aria-hidden="true">
				<div class="modal-dialog modal-lg"" role="document">
					<div class="modal-content">
						<div class="modal-header">
							<h5 class="modal-title" id="addListApp">
								Tambah Kamus Baru
							</h5>
							<button type="button" class="close reload" data-dismiss="modal" aria-label="Close">
								<span aria-hidden="true">
									&times;
								</span>
							</button>
						</div>
						<div class="modal-body">
							<form action="/bigbox/bigspider/postdictionary" id="addconn"  enctype="multipart/form-data" method="post" class="form-horizontal">
							<input type="hidden" name="id" value="" />
							<input type="hidden" name="pid" value="" />
							<!-- BEGIN FORM-->
							<div class="form-body">
								<div class="m-alert m-alert--icon alert alert-danger m--hide" role="alert" id="alertinfo">
									<div class="m-alert__icon">
										<i class="la la-warning"></i>
									</div>
									<div class="m-alert__text">
										<span id="alertmsg"><strong>Warning!</strong> Something went wrong. Please check.</span>
									</div>
									<div class="m-alert__close">
										<button type="button" class="close" data-close="alert" aria-label="Close"></button>
									</div>
								</div>
								
								<div class='m--hide' id="processbar">
									<div class="progress">
										<div class="progress-bar progress-bar-striped progress-bar-animated " role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
											<span class="sr-only">
												On Process
											</span>
										</div>
									</div>
									<span style="margin:0px auto;">Please wait...processing request</span>
								</div>
								
								<!--h3 class="form-section" id="formtitle">Input Api </h3-->
								
								<div class="row" style="padding:0px 15px;">
									<div class="col-md-6">
										<div class="form-group">
											<label for="kata">Kata</label>
											<input type="text" name="kata" id="kata" class="form-control" placeholder="Kata"  >
											<span class="m-form__help">
											</span>
										</div>
									</div>
									<div class="col-md-offset-1 col-md-6">
										<div class="form-group">
											<label for="topik">Topik</label>
											<select  name="topik" id="topik" class="form-control" placeholder="Topik" >
											<?php 
											foreach ($this->taxonomy as $k3=>$v3) {
											echo '<option value="'.$v3['tid'].'" '.(isset($this->topik["data2"]) && $this->topik["data2"]!="" && $this->topik["data2"]==$v?"selected":"").'>'.$v3['name'].'</option>';    
											}
											?>
											</select>
											<span class="m-form__help">
											</span>
										</div>
									</div>
								</div>
								<div class="row" style="padding:0px 15px;">
									<div class="col-md-6">
										<div class="form-group">
											<label for="sentiment">Sentiment</label>
											<select  name="sentiment" id="sentiment" class="form-control" placeholder="Sentiment" >
												<option value="0">Normal </option>
												<option value="1">Negatif </option>
												<option value="2">Positif </option>
											</select>
											<span class="m-form__help">
											</span>
										</div>
										
									</div>
									
									<div class="col-md-offset-1 col-md-6">
										<div class="form-group">
											<label for="bahasa">Bahasa</label>
											<select name="bahasa" id="bahasa" class="form-control" placeholder="Bahasa" >
												<option value="id">1. Indonesia </option>
												<option value="en">2. English </option>
											</select>
											<span class="m-form__help">
											</span>
										</div>
									</div>
								</div>
								<!--/row-->
							</div>
							<div class="form-actions" style="margin:0px">
							   <div class="row">
								   <div class="col-md-6">
									   <div class="col-md-offset-3 col-md-9">
										   <button type="submit" class="btn btn-accent">Submit</button>
										   <button type="button" type="button" data-dismiss="modal" class="btn btn-secondary">Cancel</button>
									   </div>
								   </div>
								   <div class="col-md-6">
								   </div>
							   </div>
							</div>
							</form>
							<!-- END FORM-->
						</div>
					</div>
				</div>
				<!--div class="modal-footer">
					<button type="button" data-dismiss="modal" class="btn btn-default">Cancel</button>
					<button type="button" data-dismiss="modal" class="btn green">Submit</button>
				</div-->
			</div>
			
			<div id="edit_dict" class="modal fade" tabindex="-1" data-backdrop="static" data-keyboard="false" role="dialog" aria-labelledby="addListapi" aria-hidden="true">
				<div class="modal-dialog modal-lg"" role="document">
					<div class="modal-content">
						<div class="modal-header">
							<h5 class="modal-title" id="addListApp">
								Edit Kamus
							</h5>
							<button type="button" class="close reload" data-dismiss="modal" aria-label="Close">
								<span aria-hidden="true">
									&times;
								</span>
							</button>
						</div>
						<div class="modal-body">
							<form action="/bigbox/bigspider/postdictionary" id="edit_dict"  enctype="multipart/form-data" method="post" class="form-horizontal">
							<input type="hidden" name="id" value="" />
							<input type="hidden" name="pid" value="" />
							<!-- BEGIN FORM-->
							<div class="form-body">
								<div class="m-alert m-alert--icon alert alert-danger m--hide" role="alert" id="alertinfo">
									<div class="m-alert__icon">
										<i class="la la-warning"></i>
									</div>
									<div class="m-alert__text">
										<span id="alertmsg"><strong>Warning!</strong> Something went wrong. Please check.</span>
									</div>
									<div class="m-alert__close">
										<button type="button" class="close" data-close="alert" aria-label="Close"></button>
									</div>
								</div>
								
								<div class='m--hide' id="processbar">
									<div class="progress">
										<div class="progress-bar progress-bar-striped progress-bar-animated " role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
											<span class="sr-only">
												On Process
											</span>
										</div>
									</div>
									<span style="margin:0px auto;">Please wait...processing request</span>
								</div>
								
								<!--h3 class="form-section" id="formtitle">Input Api </h3-->
								
								<div class="row" style="padding:0px 15px;">
									<div class="col-md-6">
										<div class="form-group">
											<label for="kata">Kata</label>
											<input type="text" name="kata" id="katadata" class="form-control" placeholder="Kata"  >
											<span class="m-form__help">
											</span>
										</div>
									</div>
									<div class="col-md-offset-1 col-md-6">
										<div class="form-group">
											<label for="topik">Topik</label>
											<select  name="topik" id="topikdata" class="form-control" placeholder="Topik" >
											<?php 
											foreach ($this->taxonomy as $k3=>$v3) {
												echo '<option value="'.$v3['tid'].'" '.(isset($this->topik["data2"]) && $this->topik["data2"]!="" && $this->topik["data2"]==$v?"selected":"").'>'.$v3['name'].'</option>';    
											}
											?>
											</select>
											<span class="m-form__help">
											</span>
										</div>
									</div>
								</div>
								<div class="row" style="padding:0px 15px;">
									<div class="col-md-6">
										<div class="form-group">
											<label for="sentiment">Sentiment</label>
											<select  name="sentiment" id="sentimentdata" class="form-control" placeholder="Sentiment" >
												<option id="sentimentdata" value="0">Normal </option>
												<option value="1">Negatif </option>
												<option value="2">Positif </option>
											</select>
											<span class="m-form__help">
											</span>
										</div>
										
									</div>
									
									<div class="col-md-offset-1 col-md-6">
										<div class="form-group">
											<label for="bahasa">Bahasa</label>
											<select name="bahasa" id="bahasa" class="form-control" placeholder="Bahasa" >
												<option value="id" <?php echo($this->dictionary['bahasa']=="id"?"selected":""); ?> >1. Indonesia</option>
												<option value="en" <?php echo($this->dictionary['bahasa']=="en"?"selected":""); ?> >2. English</option>
											</select>
											<span class="m-form__help">
											</span>
										</div>
									</div>
								</div>
								<!--/row-->
							</div>
							<div class="form-actions" style="margin:0px">
							   <div class="row">
								   <div class="col-md-6">
									   <div class="col-md-offset-3 col-md-9">
										   <button type="submit" class="btn btn-accent">Submit</button>
										   <button type="button" type="button" data-dismiss="modal" class="btn btn-secondary">Cancel</button>
									   </div>
								   </div>
								   <div class="col-md-6">
								   </div>
							   </div>
							</div>
							</form>
							<!-- END FORM-->
						</div>
					</div>
				</div>
				<!--div class="modal-footer">
					<button type="button" data-dismiss="modal" class="btn btn-default">Cancel</button>
					<button type="button" data-dismiss="modal" class="btn green">Submit</button>
				</div-->
			</div>
	</div>
	
</div>
<script>
function getTopik(id){
	
	if(xhr_gt!=null && xhr_gt!="undefined"){
		xhr_gt.abort;
	}
	
	var formData = {};
	
	xhr_gt = $.ajax({  
		type: "GET",
		url: '/analis/home/select456/id/'+id+'/topik/<?php echo $this->varams["topik"]; ?>',
		// url: '/analis/ajax/gettopik/id/'+id+'/topik/<?php echo $this->varams["topik"]; ?>',
		data: formData, //last_id kita berarti 15
		dataType: "html",  //sesuai keinginan, di sini saya pengen ngambil langsung data dalam bentuk html langsung dari file data_per_load.php
		success: function(data){
			// console.log("ok");
			$("#topik").html(data);
		}
	});
	
}

function showMT(){
	location.href = "/bigbox/bigspider/listdictionary/bahasa/"+$("#bahasa").val();
}

function editdict(me){
	
	// App.blockUI({target:"#div-extract",boxed:!0});

	var formData = {}
	
	var param = $(me).data("id");
	var sentiment = $(me).data("sentiment");
	var kata = $(me).data("kata");
	var topik = $(me).data("topik");
	// console.log(sentiment);
	$("#id_data").val(param);
	$("#sentimentdata").val(sentiment);
	$("#katadata").val(kata);
	$("#topikdata").val(topik);

}


// jQuery(document).ready(function() {
		
		var TableAjax = function () {
    return {
        //main function to initiate the module
        init: function () {
            
            if (!jQuery().dataTable) {
				
                return;
            }
			
			 // begin first table	
            var oTable = $('#user_table').dataTable({
               // "sDom" : "<'row'<'col-md-6 col-sm-12'l><'col-md-6 col-sm-12'f>r>t<'row'<'col-md-5 col-sm-12'i><'col-md-7 col-sm-12'p>>", //default layout without horizontal scroll(remove this setting to enable horizontal scroll for the table)
                "aLengthMenu": [
                    [10,50, 200, 500 -1],
                    [10,50, 200, 500, "All"] // change per page values here
                ],
                "bProcessing": true,
                "bServerSide": true,
                "sAjaxSource": "/domas/index/tabledictionary/type/<?php echo $this->varams['bahasa'] ?>",
				//die("iiii");
                // set the initial value
                "iDisplayLength": 10,
                "sPaginationType": "bootstrap_full_number",
                "oLanguage": {
                    "sProcessing": '<i class="fa fa-coffee"></i>&nbsp;Please wait...',
                    "sLengthMenu": "_MENU_ records",
                    "oPaginate": {
                        "sPrevious": "Prev",
                        "sNext": "Next"
                    },
			"sSearch": "Search all columns:"
                },
                "aoColumnDefs": [{
                        'bSortable': false,
                        'aTargets': [0,5]
                    }
                ]
            });
			
			
        $('#sample_2_column_toggler input[type="checkbox"]').change(function(){
            /* Get the DataTables object again - this is not a recreation, just a get of the object */
            var iCol = parseInt($(this).attr("data-column"));
            var bVis = oTable.fnSettings().aoColumns[iCol].bVisible;
            oTable.fnSetColumnVis(iCol, (bVis ? false : true));
        });
				
			$("input#filterid").keyup( function () {
				/* Filter on the column (the index) of this element */
				oTable.fnFilter( this.value, 1 );
			} );

        }
    };

}();

	
	
$("#generate").click(function(){
		 $.ajax({
				url:"/analis/ajax/gen",
				//content:'json',
				dataType: "json",
				beforeSend:function(){
					
				},
				complete:function(result){
					
				},
				success: function(data){
					//console.log(data);
					
				},
				error:function(){
					
				}
			});
		 
	
});
		
		
        $('span.help-block').hide();
       // // // var table = $('#sample_1');
       // // // var oTable = table.dataTable({
            // // // // Internationalisation. For more info refer to http://datatables.net/manual/i18n
            // // // "language": {
                // // // "aria": {
                    // // // "sortAscending": ": activate to sort column ascending",
                    // // // "sortDescending": ": activate to sort column descending"
                // // // },
                // // // "emptyTable": "No data available in table",
                // // // "info": "Showing _START_ to _END_ of _TOTAL_ entries",
                // // // "infoEmpty": "No entries found",
                // // // "infoFiltered": "(filtered1 from _MAX_ total entries)",
                // // // "lengthMenu": "_MENU_ entries",
                // // // "search": "Search:",
                // // // "zeroRecords": "No matching records found"
            // // // },

            // // // // Or you can use remote translation file
            // // // //"language": {
            // // // //   url: '//cdn.datatables.net/plug-ins/3cfcc339e89/i18n/Portuguese.json'
            // // // //},

            // // // // setup buttons extentension: http://datatables.net/extensions/buttons/
            // // // buttons: [
            // // // { extend: 'print', className: 'btn dark btn-outline' },
            // // // { extend: 'pdf', className: 'btn green btn-outline' },
            // // // { extend: 'csv', className: 'btn purple btn-outline ' }
            // // // ],

            // // // // setup responsive extension: http://datatables.net/extensions/responsive/
            // // // responsive: {
                // // // details: {

                // // // }
            // // // },

            // // // "order": [
            // // // [0, 'asc']
            // // // ],
            
            // // // "lengthMenu": [
            // // // [5, 10, 15, 20, -1],
                // // // [5, 10, 15, 20, "All"] // change per page values here
                // // // ],
            // // // // set the initial value
            // // // "pageLength": 10,  

            // // // "dom": "<'row' <'col-md-12'B>><'row'<'col-md-6 col-sm-12'l><'col-md-6 col-sm-12'f>r><'table-scrollable't><'row'<'col-md-5 col-sm-12'i><'col-md-7 col-sm-12'p>>", // horizobtal scrollable datatable

            // // // // Uncomment below line("dom" parameter) to fix the dropdown overflow issue in the datatable cells. The default datatable layout
            // // // // setup uses scrollable div(table-scrollable) with overflow:auto to enable vertical scroll(see: assets/global/plugins/datatables/plugins/bootstrap/dataTables.bootstrap.js). 
            // // // // So when dropdowns used the scrollable div should be removed. 
            // // // //"dom": "<'row' <'col-md-12'T>><'row'<'col-md-6 col-sm-12'l><'col-md-6 col-sm-12'f>r>t<'row'<'col-md-5 col-sm-12'i><'col-md-7 col-sm-12'p>>",
        // // // });

//	App.init(); // init metronic core componets


// UIExtendedModals3.init();
// UIExtendedModals4.init();
// TableAjax.init();
// AddConn.init();
// edit_dict.init();


// });
</script>