<?php
	
?>
<div class="m-grid__item m-grid__item--fluid m-wrapper">
	<div class="m-subheader ">
		<div class="d-flex align-items-center">
			<div class="mr-auto">
				<h3 class="m-subheader__title m-subheader__title--separator">
					Xpath Crawl List <small></small>
				</h3>
				<ul class="m-subheader__breadcrumbs m-nav m-nav--inline">
					<li class="m-nav__item m-nav__item--home">
						<a href="/" class="m-nav__link m-nav__link--icon">
							<i class="m-nav__link-icon la la-home"></i>
						</a>
					</li>
					<li class="m-nav__separator">
						-
					</li>
					<li class="m-nav__item">
						<a href="#" class="m-nav__link">
							<span class="m-nav__link-text">
								DOMAS
							</span>
						</a>
					</li>
					<li class="m-nav__separator">
						-
					</li>
					<li class="m-nav__item">
						<a href="" class="m-nav__link">
							<span class="m-nav__link-text">
								List Xpath
							</span>
						</a>
					</li>
				</ul>
			</div>
			
		</div>
	</div>
	<div class="m-content">
		<!--::Portlet-->
			<div class="m-portlet">
				<div class="m-portlet__head">
					<div class="m-portlet__head-caption">
						<div class="m-portlet__head-title">
							<h3 class="m-portlet__head-text">
								List Xpath
							</h3>
						</div>
					</div>
					<div class="m-portlet__head-tools">
						
						<div class="btn-group" role="group" aria-label="Button group with nested dropdown">
							<button type="button" class="m-btn btn btn-primary" id='reload'>
								<i class="fa fa-refresh"></i> Reload
							</button>
							<a href="/bigbox/bigspider/xpath" type="button" class="m-btn btn btn-success">
								<i class="fa fa-plus"></i> Add New
							</a>
							<div class="btn-group" role="group">
								<button id="btnGroupDrop1" type="button" class="btn  dropdown-toggle btn-success" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
									Tools
								</button>
								<div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
								
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="m-portlet__body">
					<div class="m-alert m-alert--icon alert alert-danger m--hide" role="alert" id="alertinfo3">
						<div class="m-alert__icon">
							<i class="la la-warning"></i>
						</div>
						<div class="m-alert__text">
							<span id="alertmsg3"><strong>Warning!</strong> Something went wrong. Please check.</span>
						</div>
						<div class="m-alert__close">
							<button type="button" class="close" data-close="alert" aria-label="Close"></button>
						</div>
					</div>
					
					<div class='m--hide' id="processbar3">
						<div class="progress">
							<div class="progress-bar progress-bar-striped progress-bar-animated " role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
								<span class="sr-only">
									On Process
								</span>
							</div>
						</div>
						<span style="margin:0px auto;">Please wait...processing request</span>
					</div>
					<table id="xpath" class="table table-striped table-hover">
					<thead>
					<tr>
						<th>
							#
						</th>
						<th>
							Id
						</th>
						<th>
							Name
						</th>
						<th>
							Target Url
						</th>
						<th>
							Attributes
						</th>
						<th>
							
						</th>
					</tr>
					</thead>
					<tbody>
						
					<?php 
					$i=1;
					foreach ($this->data as $k=>$v) {
						
						$z= unserialize($v['attrs']);								
					  //  Zend_Debug::dump($xx);
						$br ="";
						
						$br = 'Title ('.$z['title_type'].') : '.$z['docname'].'<br>'; 
					   $br .= 'Content ('.$z['doc_type'].') : '.$z['doc_desc'].'<br>'; 
					   foreach ($z['fname'] as $k2=>$z2){
					   $br .= ''.$z2.' ('.$z['ftype'][$k2].') : '.$z['fvalue'][$k2].'<br>'; 
					   }
					
						?>	
					<tr>
						<td>
							<?php   echo $i; ?>
						</td>
						<td>
							<?php   echo $v['id']; ?>
						</td>
						<td>
							<?php   echo $v['cname']; ?>
						</td>
							<td>
							<?php   echo $v['target_url']; ?>
						</td>
						<td>
							<?php   echo $br ; ?> 
						</td>
						<td>
							<a href="/bigbox/bigspider/xpath/id/<?php echo $v['id'];?>"  class="btn btn-sm btn-success btn-edit"><i class="la la-search"></i> Edit</a>
							<a href="javascript:;" data-id="<?php echo $v['id'];?>"  class="btn btn-sm btn-danger btn-delete"><i class="la la-times"></i> Delete</a>
						</td>
					</tr>
					
					<?php  
					$i++;
					 } ?>
					 
					
					
					</tbody>
					</table>
				</div>
				<div id="static" class="modal fade" tabindex="-1" data-backdrop="static" data-keyboard="false" role="dialog" aria-labelledby="addListapi" aria-hidden="true">
					<div class="modal-dialog modal-lg"" role="document">
					<div class="modal-content">
						<div class="modal-header">
							<div class="caption">
								Are you sure to delete this api?
							</div>
							<div class="tools">
							</div>
							<button type="button" class="close reload" data-dismiss="modal" aria-label="Close">
								<span aria-hidden="true">
									&times;
								</span>
							</button>
						</div>
						<div class="modal-body">
							<div class="m-alert m-alert--icon alert alert-danger m--hide" role="alert" id="alertinfo2">
								<div class="m-alert__icon">
									<i class="la la-warning"></i>
								</div>
								<div class="m-alert__text">
									<span id="alertmsg"><strong>Warning!</strong> Something went wrong. Please check.</span>
								</div>
								<div class="m-alert__close">
									<button type="button" class="close" data-close="alert" aria-label="Close"></button>
								</div>
							</div>
							
							<div class='m--hide' id="processbar2">
								<div class="progress">
									<div class="progress-bar progress-bar-striped progress-bar-animated " role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
										<span class="sr-only">
											On Process
										</span>
									</div>
								</div>
								<span style="margin:0px auto;">Please wait...processing request</span>
							</div>
							<table>
								<tr>
									<td>
										 ID
									</td>
									<td>
										 :
									</td>
									<td id="static_id">
										 
									</td>
								</tr>
							</table>
						</div>
						<div class="modal-footer">
							<button type="button" data-dismiss="modal" class="btn btn-accent">Cancel</button>
							<button type="button" id="deleteconfirm" class="btn btn-danger">Yes</button>
						</div>
					</div>
					
					</div>
					<!--div class="modal-footer" style="margin-top:0px">
						
					</div-->
				</div>
				
			</div>
	</div>
</div>

<script>
	
	
	
		
	

	
	
	
jQuery(document).ready(function() {


var oTable = $('#xpath').dataTable({
               // "sDom" : "<'row'<'col-md-6 col-sm-12'l><'col-md-6 col-sm-12'f>r>t<'row'<'col-md-5 col-sm-12'i><'col-md-7 col-sm-12'p>>", //default layout without horizontal scroll(remove this setting to enable horizontal scroll for the table)
                "aLengthMenu": [
                    [10,50, 200, 500 -1],
                    [10,50, 200, 500, "All"] // change per page values here
                ],
                "bProcessing": true,
              
                // set the initial value
                "iDisplayLength": 7,
                "sPaginationType": "bootstrap_full_number",
                "oLanguage": {
                    "sProcessing": '<i class="fa fa-coffee"></i>&nbsp;Please wait...',
                    "sLengthMenu": "_MENU_ records",
                    "oPaginate": {
                        "sPrevious": "Prev",
                        "sNext": "Next"
                    },
			"sSearch": "Search all columns:"
                },
                "aoColumnDefs": [{
                        'bSortable': false,
                        'aTargets': [0,5]
                    }
                ]
            });

		
$( "#reload" ).click(function() {
	/* Filter on the column (the index) of this element */
	location.reload();
});		
$('span.help-block').hide();



// var UIExtendedModals3 = function () {
    
    // return {
        // //main function to initiate the module
        // init: function () {
        
            // // general settings
            // $.fn.modal.defaults.spinner = $.fn.modalmanager.defaults.spinner = 
              // '<div class="loading-spinner" style="width: 200px; margin-left: -100px;">' +
                // '<div class="progress progress-striped active">' +
                  // '<div class="progress-bar" style="width: 100%;"></div>' +
                // '</div>' +
              // '</div>';

            // $.fn.modalmanager.defaults.resize = true;
            
            // //static demo:
            // var $modal2 = $('#static');

			// // handle record edit/remove
            // $('body').on('click', '.btn-delete', function() {
              // var id =  $(this).attr("data-id");
             
              // if($modal2.find('td#static_id')!=undefined){
                // $modal2.find('td#static_id').html(id);
              // }
              
              // $modal2.modal();                
            // });
			
            // $modal2.on('click', 'button#deleteconfirm', function(){
				// var id = $modal2.find('td#static_id').html();
				// //alert(id);
				// $.ajax({
					// url:"/domas/ajax/delxpath",
					// content:'json',
					// type:'post',
					// data:{uid:id},
					// beforeSend:function(){
				// $('#alertinfo').addClass('hidden');
				// $('#processbar').removeClass('hidden');
				
				// $('#alertinfo').removeClass('alert-success');
				// $('#alertinfo').removeClass('alert-warning');
				// $('#alertinfo').removeClass('alert-danger');
				// $('#alertinfo').removeClass('alert-info');
					// },
					// complete:function(result){
						// $('#processbar').addClass('hidden');
					// },
					// success: function(data){
				// //console.log(data);
				// if(data.result!=undefined){
					// if(data.result==true){
						// $('#alertinfo').addClass('alert-success');
						// $('#alertmsg').html("<strong>Success!</strong> "+data.retMsg);
                        // $("a.reload").click();
								// $modal2.modal('hide');
					// }else{
						// $('#alertinfo').addClass('alert-warning');
						// $('#alertmsg').html("<strong>Failed!</strong> "+data.retMsg);
					// }
				// }else{
					// $('#alertinfo').addClass('alert-info');
					// $('#alertmsg').html("<strong>Error!</strong> System is busy, please try again.");
				// }
				// $('#alertinfo').removeClass('hidden');
					// },
					// error:function(){
						// $('#alertinfo').addClass('alert-info');
						// $('#alertmsg').html("<strong>Error!</strong> System is busy, please try again.");
						// $('#alertinfo').removeClass('hidden');
					// }
				// });
            // });
            
            // var $modal3 = $('#static2');

			// // handle record edit/remove
            // $('body').on('click', '#btn-addnew', function() {
              // $modal3.modal();   
            // });
            
            // $modal3.on('hide.bs.modal', function (e) {
				// $('#processbar').addClass('hidden');   
				// $('#alertinfo').addClass('hidden'); 
			// });
            
            // $modal3.on('hidden.bs.modal', function (e) {
				// $('#processbar').addClass('hidden');   
				// $('#alertinfo').addClass('hidden');
			// });
        // }

    // };

// }();



var AddConn = function () {

	var handleAdd = function() {

		$('form#addconn').validate({
	            //errorElement: 'span', //default input error message container
	            //errorClass: 'help-block', // default input error message class
	            focusInvalid: false, // do not focus the last invalid input
	            rules: {
	                conn: {
	                    required: true
	                },
	                
	               // dbname: {
	                //    required: true
	               // },
	               // host: {
	                 //   required: true
	                //},
	                // username: {
	                //  ''  required: true
	                //}
	            },

	            messages: {
					
	            },

	            invalidHandler: function (event, validator) { //display error alert on form submit   
	                //$('.alert-danger', $('.login-form')).show();
	                //console.log(event);
	                //console.log(validator);
	                
					//$('span.help-block').show();
					$('span.help-block').hide();
	                var errorlist = validator.errorList;
	                if(errorlist.length>0){
						for(var i = 0; i<errorlist.length; i++){
							//console.log(errorlist[i].element);
							var el = errorlist[i].element; 
							var next = $(el).next('span.help-block'); 
							$(next).slideDown();
						}
						$('html,body').animate({
							scrollTop: $(el).offset().top-100
						}, 800);
					}
	            },

	            highlight: function (element) { // hightlight error inputs
	                $(element)
	                    .closest('.form-group').addClass('has-error'); // set error class to the control group
	            },

	            success: function (label) {
	                label.closest('.form-group').removeClass('has-error');
	                //label.remove();
	            },

	            errorPlacement: function (error, element) {
					$('span.help-block').hide();
					var next = element.next('span.help-block'); 
					//console.log(error);
	                if(error[0].textContent!=""){
						$(next).children('span.label').html("<i class='fa fa-warning'></i> "+ error[0].textContent);
						$(element).next().slideDown();
						$('html,body').animate({
							scrollTop: $(element).offset().top-100
						}, 800);
					}
	            },

	            submitHandler: function (form) {
					$('span.help-block').hide();
					$('.form-group').removeClass('has-error');
	                //form.submit(); // form validation success, call ajax form submit
	                submitForm();
	                return false;
	            }
	        });

	        $('form#addapi input').keypress(function (e) {
	            if (e.which == 13) {
					$('span.help-block').hide();
					$('.form-group').removeClass('has-error');
	                if ($('form#addconn').validate().form()) {
	                   //$('form#addapi').submit(); //form validation success, call ajax form submit
	                   submitForm();
	                }
	                return false;
	            }
	        });
	}
	
	var submitForm = function(){
		//console.log($('form#addapi').serialize());
		$.ajax({
			url:"/prabadata/ajax/addconn",
			content:'json',
			type:'post',
			data:$('form#addconn').serialize(),
			beforeSend:function(){
				$('#alertinfo').addClass('hidden');
				$('#processbar').removeClass('hidden');
				$('html,body').animate({
					scrollTop: $('h3.page-title').offset().top
				}, 800);
				$('#alertinfo').removeClass('alert-success');
				$('#alertinfo').removeClass('alert-warning');
				$('#alertinfo').removeClass('alert-danger');
				$('#alertinfo').removeClass('alert-info');
			},
			complete:function(result){
				$('#processbar').addClass('hidden');
			},
			success: function(data){
				//console.log(data);
				if(data.result!=undefined){
					if(data.result==true){
						$('#alertinfo').addClass('alert-success');
						$('#alertmsg').html("<strong>Success!</strong> "+data.retMsg);
						window.location.replace("/prabadata/prabaeditor/listconn");
					}else{
						$('#alertinfo').addClass('alert-warning');
						$('#alertmsg').html("<strong>Failed!</strong> "+data.retMsg);
					}
				}else{
					$('#alertinfo').addClass('alert-info');
					$('#alertmsg').html("<strong>Error!</strong> System is busy, please try again.");
				}
				$('#alertinfo').removeClass('hidden');
			},
			error:function(){
				$('#alertinfo').addClass('alert-info');
				$('#alertmsg').html("<strong>Error!</strong> System is busy, please try again.");
				$('#alertinfo').removeClass('hidden');
			}
		});
	}
	
	

	var resetForm = function(){
		$('input','form#addconn')
			.not(':button, :submit, :reset, :hidden')
			.val('');
			
		$('select,option','form#addapi')
			.removeAttr('checked')
			.removeAttr('selected');
		
		$('.make-switch').bootstrapSwitch('setState',false);
		
		$('.ms-selectable').find('li').removeClass('ms-selected');
		$('.ms-selection').find('li').removeClass('ms-hover');
		$('.ms-selectable').find('li').removeAttr('style');
		
		$('.ms-selection').find('li').removeClass('ms-selected');
		$('.ms-selection').find('li').removeClass('ms-hover');
		$('.ms-selection').find('li').css({display:'none'});
	}
    
    return {
        //main function to initiate the module
        init: function () {
            handleAdd();
        }

    };

}();


//UIExtendedModals3.init();

AddConn.init();
});


</script>
