<div class="m-grid__item m-grid__item--fluid m-wrapper">
	<div class="m-subheader ">
		<div class="d-flex align-items-center">
			<div class="mr-auto">
				<h3 class="m-subheader__title m-subheader__title--separator">
					Manage <small>System Cron </small>
				</h3>
				<ul class="m-subheader__breadcrumbs m-nav m-nav--inline">
					<li class="m-nav__item m-nav__item--home">
						<a href="/" class="m-nav__link m-nav__link--icon">
							<i class="m-nav__link-icon la la-home"></i>
						</a>
					</li>
					<li class="m-nav__separator">
						-
					</li>
					<li class="m-nav__item">
						<a href="#" class="m-nav__link">
							<span class="m-nav__link-text">
								List Crons
							</span>
						</a>
					</li>
				</ul>
			</div>
			
		</div>
	</div>
	<div class="m-content">
		<!--::Portlet-->
			<div class="m-portlet">
				<div class="m-portlet__head">
					<div class="m-portlet__head-caption">
						<div class="m-portlet__head-title">
							<h3 class="m-portlet__head-text">
								Portlet1
								<small></small>
							</h3>
							
						</div>
					</div>
					<div class="m-portlet__head-tools">
						<div class="btn-group" role="group" aria-label="Button group with nested dropdown">
							<a href="/bigbox/bigspider/addcron" type="button" class="m-btn btn btn-success">
								<i class="fa fa-plus"></i> Add New Cron
							</a>
						</div>
					</div>
				</div>
					
				<div class="m-portlet__body">
					<!--begin: Search Form>
					<div class="m-form m-form--label-align-right m--margin-top-20 m--margin-bottom-30">
						<div class="row align-items-center">
							<div class="col-xl-8 order-2 order-xl-1">
								<div class="form-group m-form__group row align-items-center">
									<div class="col-md-4">
										<div class="m-input-icon m-input-icon--left">
											<input type="text" class="form-control m-input" placeholder="Search..." id="generalSearch">
											<span class="m-input-icon__icon m-input-icon__icon--left">
												<span>
													<i class="la la-search"></i>
												</span>
											</span>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<end: Search Form -->
					<table class="m_datatable table table-bordered m-table" id="html_table" width="100%">
						<thead>
								<th>
									No
								</th>
								<th>
									ID
								</th>
								<th>
									Created By
								</th>
								<th>
									Created At
								</th>
								<th>
									File
								</th>
								<th>
									Start
								</th>
								<th>
									End
								</th>
								<th>
									Interval
								</th>
								<th style="min-width: 195px;">
								
								</th>
						</thead>
			<tbody>
<?php
$idx = 0;
foreach($this->alert as $k=>$v){
$idx++
?>
			<tr>
				<td style="text-align:center">
					<?php echo $idx++; ?>
				</td>
				<td>
					
                    <?php
$idx = 1;
if($v['status']=='enable'){
?>
	 <span class="label label-sm label-info"> On </span>				
<?php
}else{
?>
	<span class="label label-sm label-danger"> Off </span>					
<?php
}
?>

                    <?php echo $v['id']; ?>
                    
                   
				</td>
				<td>
					<?php echo $v['user']; ?>
				</td>
				<td>
					<?php echo $v['created_at']; ?>
				</td>
				<td>
					<?php echo $v['file']; ?>
				</td>
				<td>
					<?php echo $v['start']; ?>
				</td>
				<td>
					<?php echo $v['end']; ?>
				</td>
				<td>
					<?php echo $v['interval']; ?>
				</td>
				<td style="text-align:center">
					<div class="btn-group btn-group-solid">
						<button type="button" class="btn btn-danger btn-sm" onclick="location.href='/bigbox/bigspider/listcron/id/<?php echo $v['id']; ?>/act/deleted'">Delete</button>
						<button type="button" class="btn btn-primary btn-sm" onclick="location.href='/bigbox/bigspider/detailcron/id/<?php echo $v['id']; ?>'">Detail</button>
<?php
$idx = 1;
if($v['status']=='enable'){
?>
						<button type="button" class="btn btn-warning btn-sm" onclick="location.href='/bigbox/bigspider/listcron/id/<?php echo $v['id']; ?>/act/disabled'">Disabled</button>
<?php
}else{
?>
						<button type="button" class="btn btn-warning btn-sm" onclick="location.href='/bigbox/bigspider/listcron/id/<?php echo $v['id']; ?>/act/enabled'">Enabled</button>
<?php
}
?>
					</div>
				</td>
			</tr>
<?php
}
?>
			</tbody>
					</table>
				</div>
			</div>
			<!--end::Portlet-->
	</div>
</div>