<style>
.m-datatable.m-datatable--default.m-datatable--loaded > .m-datatable__table > .m-datatable__head .m-datatable__row > .m-datatable__cell, .m-datatable.m-datatable--default.m-datatable--loaded > .m-datatable__table > .m-datatable__body .m-datatable__row > .m-datatable__cell, .m-datatable.m-datatable--default.m-datatable--loaded > .m-datatable__table > .m-datatable__foot .m-datatable__row > .m-datatable__cell {
    display: table-cell;
    vertical-align: top!important;
}
</style>

<div class="m-grid__item m-grid__item--fluid m-wrapper">
	<div class="m-subheader ">
		<div class="d-flex align-items-center">
			<div class="mr-auto">
				<h3 class="m-subheader__title m-subheader__title--separator">
					DAFTAR MEDIA <small> </small>
				</h3>
				<ul class="m-subheader__breadcrumbs m-nav m-nav--inline">
					<li class="m-nav__item m-nav__item--home">
						<a href="/" class="m-nav__link m-nav__link--icon">
							<i class="m-nav__link-icon la la-home"></i>
						</a>
					</li>
					<li class="m-nav__separator">
						-
					</li>
					<li class="m-nav__item">
						<a href="#" class="m-nav__link">
							<span class="m-nav__link-text">
								Big Spider
							</span>
						</a>
					</li>
					<li class="m-nav__separator">
						-
					</li>
					<li class="m-nav__item">
						<a href="#" class="m-nav__link">
							<span class="m-nav__link-text">
								Digital Media
							</span>
						</a>
					</li>
					<li class="m-nav__separator">
						-
					</li>
					<li class="m-nav__item">
						<a href="#" class="m-nav__link">
							<span class="m-nav__link-text">
								Digital Media List
							</span>
						</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
	<div class="m-content">
		<div class="m-portlet">
				<div class="m-portlet__head">
					<div class="m-portlet__head-caption">
						<div class="m-portlet__head-title">
							<h3 class="m-portlet__head-text">
								Media List
								<small></small>
							</h3>
							
						</div>
					</div>
					<div class="m-portlet__head-tools">
						<div class="btn-group" role="group" aria-label="Button group with nested dropdown">
							
							<button id="media_new"  type="button" class="m-btn btn btn-success" data-toggle="modal" data-target="#static2" >
								<i class="fa fa-plus"></i> Tambah Media Baru
							</button>
							
						</div>
					</div>
				</div>
				<div class="m-portlet__body">
					<!--begin: Search Form-->
					<div class="m-form m-form--label-align-right m--margin-top-20 m--margin-bottom-30">
						<div class="row align-items-center">
							<div class="col-xl-4 order-2 order-xl-1"></div>
							<div class="col-xl-4 order-2 order-xl-1">
								<div class="form-group m-form__group row align-items-center">
									<div class="col-md-12">
										<div class="m-input-icon m-input-icon--left">
											<select class="form-control select2me" data-placeholder="Select..." id="media_type" name="media_type" onchange="showMT();">
												<option value="">ALL</option>
												<option value="1" <?php echo (isset($this->varams["type"]) && $this->varams["type"]==1?"selected":""); ?>>NASIONAL</option>
												<option value="2" <?php echo (isset($this->varams["type"]) && $this->varams["type"]==2?"selected":""); ?>>LOCAL</option>
												<option value="3" <?php echo (isset($this->varams["type"]) && $this->varams["type"]==3?"selected":""); ?>>INTERNASIONAL</option>
												<option value="4" <?php echo (isset($this->varams["type"]) && $this->varams["type"]==4?"selected":""); ?>>WEBSITE TARGET</option>
											</select>
											<span class="m-input-icon__icon m-input-icon__icon--left">
												<span>
													<i class="la la-toggle-down"></i>
												</span>
											</span>
										</div>
									</div>
								</div>
							</div>
							<div class="col-xl-4 order-2 order-xl-1">
								<div class="form-group m-form__group row align-items-center">
									<div class="col-md-12">
										<div class="m-input-icon m-input-icon--left">
											<input type="text" class="form-control m-input" placeholder="Search..." id="generalSearch">
											<span class="m-input-icon__icon m-input-icon__icon--left">
												<span>
													<i class="la la-search"></i>
												</span>
											</span>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<!--end: Search Form -->
					<table class="m-datatable" width="100%" id="sample_1"   >
						<thead>
							<tr>
							   <th class="gradeX">No</th>
							   <th class="gradeX">Nama Media</th>
								<th class="gradeX">Slugname</th>
							
								<th class="gradeX">Url</th>
							   <th class="gradeX">Action</th>
							</tr>
						</thead>
						<tbody >
							<?php
							$i=1;
							foreach ($this->media as $v) { ?>
							<tr >
								<td><?php echo $i; $i++;?></td>
								<td ><img src="<?php echo $v['logo']; ?>"  width="20px"/>&nbsp;&nbsp;<?php echo $v['subdomain']; ?>&nbsp;&nbsp;<?php echo $v['media_name']; ?></td>
								<td><?php echo $v['slugname']; ?></td>
							  
								
								<td><?php echo $v['url']; ?></td>
								 
								<td><a href ="/bigbox/bigspider/emedia/id/<?php echo $v['id'];?>" class="btn btn-circle btn-sm btn-primary">edit</a>
									   <a href="javascript:;"  data-id="<?php echo $v['id'];?>"  class="btn btn-circle btn-sm btn-danger btn-delete123"><i class="fa fa-cross"></i> Delete</a>
								</td>
							</tr>
							<?php } ?>    
						</tbody>
					</table>
				</div>
		</div>
			
	</div>
</div>
<div id="static2" class="modal fade" tabindex="-1" data-backdrop="static" data-keyboard="false" role="dialog" aria-labelledby="addListapi" aria-hidden="true">
        <div class="modal-dialog modal-lg"" role="document" style="padding:5px;background-color:transparent;">
            <div class="modal-content">    
                <div class="modal-header">
                    <h5 class="modal-title" id="addListApp">
								Tambah Media Baru
					</h5>
					<button type="button" class="close reload" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">
							&times;
						</span>
					</button>
               </div>
               <div class="modal-body form" style="padding:15px; ">  
                   <form action="/bigbox/bigspider/postmedia" id="addconn"  enctype="multipart/form-data" method="post" class="form-horizontal">
					<div class="m-form__content">
						<div class="m-alert m-alert--icon alert alert-danger m--hide" role="alert" id="m_form_1_msg">
							<div class="m-alert__icon">
								<i class="la la-warning"></i>
							</div>
							<div class="m-alert__text">
								<span id="alertmsg"><strong>Warning!</strong> Something went wrong. Please check.</span>
							</div>
							<div class="m-alert__close">
								<button type="button" class="close" data-close="alert" aria-label="Close"></button>
							</div>
						</div>
					</div>
					<div class='m--hide' id="processbar">
						<div class="progress">
							<div class="progress-bar progress-bar-striped progress-bar-animated " role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
								<span class="sr-only">
									On Process
								</span>
							</div>
						</div>
						<span style="margin:0px auto;">Please wait...processing request</span>
					</div>
                    <div class="form-body" style='padding-left:50px;padding-right:50px;'>
						<div class="form-group m-form__group row">
								<label class="col-md-3 control-label">Nama Media</label>
								<div class="col-md-9">
									<input type="text" name="medianame" class="form-control" placeholder="Media Name">
									
							  </div>
						</div>
						  <div class="form-group m-form__group row">
							<label class="col-md-3 control-label">Media Short Name</label>
							<div class="col-md-9">
							<input type="text" name="machinename" class="form-control" placeholder="Media Short Name">
								
						  </div>
					  </div>

					   <div class="form-group m-form__group  row">
							<label class="col-md-3 control-label">Media url</label>
							<div class="col-md-9">
							<input type="text" name="url" class="form-control" placeholder="Url">
								
						  </div>
					  </div>
						  <div class="form-group m-form__group row">
							<label class="col-md-3 control-label">Logo</label>
							<div class="col-md-9">
							  <input type="file" name="logo" id="logo">
								
						  </div>
					  </div>
						<div class="form-group m-form__group row">
							<label class="col-md-3 control-label">Tipe Media :</label>
							<div class="col-md-9">   
							
							   <select name="media_type" class="form-control" >
								<option value="1">1. National</option>
								<option value="2">2. Local </option>
								<option value="3">3. International</option>
								<option value="4">4. Targeted Website</option>
							   </select> 
								
						  </div>
					  </div>
						<div class="form-group m-form__group row">
							<label class="col-md-3 control-label">Language :</label>
							<div class="col-md-9">
								<select name="language" class="form-control" >  
									<option value="en">1. English </option>
									<option value="id">2. Indonesia </option>
									
							   </select> 
								
						  </div>
					  </div>
					   <div class="form-group m-form__group last  row">
							<label class="col-md-3 control-label">Update Routine :</label>
							<div class="col-md-9">
								<select name="update_routine" class="form-control" >  
									 <option value="1">10 Menit</option>  
								<option value="2">1 Jam</option>
								<option value="3">3 Jam</option>
								<option value="4">6 Jam</option>
								<option value="5">12 Jam</option>
								<option value="6">Daily</option>
								<option value="7">Weekly</option>
								<option value="8">Monthly</option>
									
							   </select> 
								
						  </div>
					  </div>
						<!--
					  <div class="form-group last">
						<label class="col-md-3 control-label">Attributes</label>
						<div class="col-md-4">
						  <textarea class="form-control" rows="3"></textarea>
							 <span class="help-block">
								  <span class="label label-danger"><i class="fa fa-warning"> </i>This is inline help</span>
							  </span> 
						</div>
					</div>-->
				</div>
            <div class="form-actions">
                <div class="row">
                    <div class="col-md-12">
						<center>
                        <button type="submit" class="btn btn-circle btn-primary">Submit</button>
                        <button type="button" class="btn btn-circle grey-salsa btn-outline" data-dismiss="modal"> Cancel</button>
						</center>
                    </div>
                </div>
            </div>
        </form>
        <!-- END FORM-->
    </div>
			</div>
		</div>
</div>
<div class="modal fade" id="static" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-lg" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="exampleModalLabel">
					Are you sure to delete this xpath?
				</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">
						&times;
					</span>
				</button>
			</div>
			<div class="modal-body">
				<div class="m-form__content">
					<div class="m-alert m-alert--icon alert alert-danger m--hide" role="alert" id="alertinfo2">
						<div class="m-alert__icon">
							<i class="la la-warning"></i>
						</div>
						<div class="m-alert__text">
							<span id="alertmsg"><strong>Warning!</strong> Something went wrong. Please check.</span>
						</div>
						<div class="m-alert__close">
							<button type="button" class="close" data-close="alert" aria-label="Close"></button>
						</div>
					</div>
				</div>
				
				<div style="margin:0px auto;text-align:center" id="processbar2" class="m--hide">
					<div class="progress progress-striped active" style="margin:0px auto;text-align:center">
						<div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
							<span class="sr-only">
								On Process
							</span>
						</div>
					</div>
					<span style="margin:0px auto;">Please wait...processing request</span>
					<br>
				</div>
				<table>
					<tr>
						<td>
							 ID
						</td>
						<td>
							 :
						</td>
						<td id="static_id">
							 
						</td>
					</tr>
					
				</table>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-dismiss="modal">
					Close
				</button>
				<button type="button" class="btn btn-danger" id="deleteconfirm">
					Delete
				</button>
			</div>
		</div>
	</div>
	</div>
<script>
function showMT(){
	location.href = "/bigbox/bigspider/listmedia/type/"+$("#media_type").val();
}


//	App.init(); // init metronic core componets

$.fn.modal.defaults.spinner = $.fn.modalmanager.defaults.spinner =
'<div class="loading-spinner" style="width: 200px; margin-left: -100px;">' +
'<div class="progress progress-striped active">' +
'<div class="progress-bar" style="width: 100%;"></div>' +
'</div>' +
'</div>';

$.fn.modalmanager.defaults.resize = true;

var $modal = $('#ajax-modal');

$('.modal-edit').on('click', function () {
	// create the backdrop and wait for next modal to be triggered
	$('body').modalmanager('loading');
	var edit = $(this).attr("data-id");
	setTimeout(function () {
		$modal.on('show', function () {
			$('iframe').attr("src", edit+'');
		});
		$modal.modal()
		//$modal.load('Customer_User.aspx?edit=' + edit + '', '', function () {
		//    $modal.modal();
		//});
	}, 100);
});




var UIExtendedModals3 = function () {
    return {
        //main function to initiate the module
        init: function () {
            // general settings
            $.fn.modal.defaults.spinner = $.fn.modalmanager.defaults.spinner = 
            '<div class="loading-spinner" style="width: 200px; margin-left: -100px;">' +
            '<div class="progress progress-striped active">' +
            '<div class="progress-bar" style="width: 100%;"></div>' +
            '</div>' +
            '</div>';

            $.fn.modalmanager.defaults.resize = true;
            
            //static demo:

            
            var $modal3 = $('#static2');

            // handle record edit/remove
            $('body').on('click', '#media_new', function() {
              $modal3.modal();   
          });
            
            $modal3.on('hide.bs.modal', function (e) {
                $('#processbar').addClass('hidden');   
                $('#alertinfo').addClass('hidden'); 
            });
            
            $modal3.on('hidden.bs.modal', function (e) {
                $('#processbar').addClass('hidden');   
                $('#alertinfo').addClass('hidden');
            });
            
            
             var $modal2 = $('#static');

			// handle record edit/remove
            $('body').on('click', '.btn-delete123', function() {
              var id =  $(this).attr("data-id");
             
              if($modal2.find('td#static_id')!=undefined){
                $modal2.find('td#static_id').html(id);
              }
              
              $modal2.modal();                
            });
			
            $modal2.on('click', 'button#deleteconfirm', function(){
				var id = $modal2.find('td#static_id').html();
				//alert(id);
				$.ajax({
					url:"/bigbox/bigspider/delmedia",
					content:'json',
					type:'post',
					data:{uid:id},
					beforeSend:function(){
				$('#alertinfo').addClass('hidden');
				$('#processbar').removeClass('hidden');
				
				$('#alertinfo').removeClass('alert-success');
				$('#alertinfo').removeClass('alert-warning');
				$('#alertinfo').removeClass('alert-danger');
				$('#alertinfo').removeClass('alert-info');
					},
					complete:function(result){
						$('#processbar').addClass('hidden');
					},
					success: function(data){
				//console.log(data);
				if(data.result!=undefined){
					if(data.result==true){
						$('#alertinfo').addClass('alert-success');
						$('#alertmsg').html("<strong>Success!</strong> "+data.retMsg);
                        $("a.reload").click();
								$modal2.modal('hide');
					}else{
						$('#alertinfo').addClass('alert-warning');
						$('#alertmsg').html("<strong>Failed!</strong> "+data.retMsg);
					}
				}else{
					$('#alertinfo').addClass('alert-info');
					$('#alertmsg').html("<strong>Error!</strong> System is busy, please try again.");
				}
				$('#alertinfo').removeClass('hidden');
					},
					error:function(){
						$('#alertinfo').addClass('alert-info');
						$('#alertmsg').html("<strong>Error!</strong> System is busy, please try again.");
						$('#alertinfo').removeClass('hidden');
					}
				});
            });
            
        }

    };

}();


var AddConn = function () {

    var handleAdd = function() {
        var files = {};
        var file = jQuery("#logo"); 
        $('#logo').on('change', function prepareUpload(event){
            files['logo'] = event.target.files[0];
        });

        $('form#addconn').validate({
                //errorElement: 'span', //default input error message container
                //errorClass: 'help-block', // default input error message class
                focusInvalid: false, // do not focus the last invalid input
                rules: {
                    medianame: {
                        required: true
                    },
                    
                   // dbname: {
                    //    required: true
                   // },
                   // host: {
                     //   required: true
                    //},
                    // username: {
                    //  ''  required: true
                    //}
                },

                messages: {

                },

                invalidHandler: function (event, validator) { //display error alert on form submit   

                    $('span.help-block').hide();
                    var errorlist = validator.errorList;
                    if(errorlist.length>0){
                        for(var i = 0; i<errorlist.length; i++){
                            console.log(errorlist[i].element);
                            var el = errorlist[i].element; 
                            var next = $(el).next('span.help-block'); 
                            $(next).slideDown();
                        }
                        $('html,body').animate({
                            scrollTop: $(el).offset().top-100
                        }, 800);
                    }
                },

                highlight: function (element) { // hightlight error inputs
                    $(element)
                        .closest('.form-group').addClass('has-error'); // set error class to the control group
                    },

                    success: function (label) {
                        label.closest('.form-group').removeClass('has-error');
                    //label.remove();
                },

                errorPlacement: function (error, element) {
                    $('span.help-block').hide();
                    var next = element.next('span.help-block'); 
                    //console.log(error);
                    if(error[0].textContent!=""){
                        $(next).children('span.label').html("<i class='fa fa-warning'></i> "+ error[0].textContent);
                        $(element).next().slideDown();
                        $('html,body').animate({
                            scrollTop: $(element).offset().top-100
                        }, 800);
                    }
                },

                submitHandler: function (form) {
                    $('span.help-block').hide();
                    $('.form-group').removeClass('has-error');
                    //form.submit(); // form validation success, call ajax form submit
                    form.submit();
                    return false;
                }
            });

        $('form#addapi input').keypress(function (e) {
            if (e.which == 13) {
                $('span.help-block').hide();
                $('.form-group').removeClass('has-error');
                if ($('form#addconn').validate().form()) {
                       //$('form#addapi').submit(); //form validation success, call ajax form submit
                       submitForm();
                   }
                   return false;
               }
           });
    }
    
    var submitForm = function(form){
       // alert("ss");
        //console.log($('form#addapi').serialize());
        
       // event.stopPropagation(); // Stop stuff happening
       // event.preventDefault(); // Totally stop stuff happening
        //$( "#addconn" ).submit();   
        
    }
    
    

    var resetForm = function(){
        $('input','form#addconn')
        .not(':button, :submit, :reset, :hidden')
        .val('');

        $('select,option','form#addapi')
        .removeAttr('checked')
        .removeAttr('selected');
        
        $('.make-switch').bootstrapSwitch('setState',false);
        
        $('.ms-selectable').find('li').removeClass('ms-selected');
        $('.ms-selection').find('li').removeClass('ms-hover');
        $('.ms-selectable').find('li').removeAttr('style');
        
        $('.ms-selection').find('li').removeClass('ms-selected');
        $('.ms-selection').find('li').removeClass('ms-hover');
        $('.ms-selection').find('li').css({display:'none'});
    }
    
    return {
        //main function to initiate the module
        init: function () {
            handleAdd();
        }

    };

}();

jQuery(document).ready(function() {
   

        $('span.help-block').hide();
       // var table = $('#sample_1');
       // var oTable = table.dataTable({
            // // Internationalisation. For more info refer to http://datatables.net/manual/i18n
            // "language": {
                // "aria": {
                    // "sortAscending": ": activate to sort column ascending",
                    // "sortDescending": ": activate to sort column descending"
                // },
                // "emptyTable": "No data available in table",
                // "info": "Showing _START_ to _END_ of _TOTAL_ entries",
                // "infoEmpty": "No entries found",
                // "infoFiltered": "(filtered1 from _MAX_ total entries)",
                // "lengthMenu": "_MENU_ entries",
                // "search": "Search:",
                // "zeroRecords": "No matching records found"
            // },

            // // Or you can use remote translation file
            // //"language": {
            // //   url: '//cdn.datatables.net/plug-ins/3cfcc339e89/i18n/Portuguese.json'
            // //},

            // // setup buttons extentension: http://datatables.net/extensions/buttons/
            // buttons: [
            // { extend: 'print', className: 'btn dark btn-outline' },
            // { extend: 'pdf', className: 'btn green btn-outline' },
            // { extend: 'csv', className: 'btn purple btn-outline ' }
            // ],

            // // setup responsive extension: http://datatables.net/extensions/responsive/
            // responsive: {
                // details: {

                // }
            // },

            // "order": [
            // [0, 'asc']
            // ],
            
            // "lengthMenu": [
            // [5, 10, 15, 20, -1],
                // [5, 10, 15, 20, "All"] // change per page values here
                // ],
            // // set the initial value
            // "pageLength": 5,  

            // "dom": "<'row' <'col-md-12'B>><'row'<'col-md-6 col-sm-12'l><'col-md-6 col-sm-12'f>r><'table-scrollable't><'row'<'col-md-5 col-sm-12'i><'col-md-7 col-sm-12'p>>", // horizobtal scrollable datatable

            // // Uncomment below line("dom" parameter) to fix the dropdown overflow issue in the datatable cells. The default datatable layout
            // // setup uses scrollable div(table-scrollable) with overflow:auto to enable vertical scroll(see: assets/global/plugins/datatables/plugins/bootstrap/dataTables.bootstrap.js). 
            // // So when dropdowns used the scrollable div should be removed. 
            // //"dom": "<'row' <'col-md-12'T>><'row'<'col-md-6 col-sm-12'l><'col-md-6 col-sm-12'f>r>t<'row'<'col-md-5 col-sm-12'i><'col-md-7 col-sm-12'p>>",
        // });




UIExtendedModals3.init();
AddConn.init();
});
</script>
  
