<style>
.m-datatable.m-datatable--default.m-datatable--loaded > .m-datatable__table > .m-datatable__head .m-datatable__row > .m-datatable__cell, .m-datatable.m-datatable--default.m-datatable--loaded > .m-datatable__table > .m-datatable__body .m-datatable__row > .m-datatable__cell, .m-datatable.m-datatable--default.m-datatable--loaded > .m-datatable__table > .m-datatable__foot .m-datatable__row > .m-datatable__cell {
    display: table-cell;
    vertical-align: top!important;
}
</style>
<div class="m-grid__item m-grid__item--fluid m-wrapper">
	<div class="m-subheader ">
		<div class="d-flex align-items-center">
			<div class="mr-auto">
				<h3 class="m-subheader__title m-subheader__title--separator">
					DAFTAR CRAWL <small> </small>
				</h3>
				<ul class="m-subheader__breadcrumbs m-nav m-nav--inline">
					<li class="m-nav__item m-nav__item--home">
						<a href="/" class="m-nav__link m-nav__link--icon">
							<i class="m-nav__link-icon la la-home"></i>
						</a>
					</li>
					<li class="m-nav__separator">
						-
					</li>
					<li class="m-nav__item">
						<a href="#" class="m-nav__link">
							<span class="m-nav__link-text">
								Big Spider
							</span>
						</a>
					</li>
					<li class="m-nav__separator">
						-
					</li>
					<li class="m-nav__item">
						<a href="#" class="m-nav__link">
							<span class="m-nav__link-text">
								Digital Media
							</span>
						</a>
					</li>
					<li class="m-nav__separator">
						-
					</li>
					<li class="m-nav__item">
						<a href="#" class="m-nav__link">
							<span class="m-nav__link-text">
								List Crons
							</span>
						</a>
					</li>
				</ul>
			</div>
			
		</div>
	</div>
	<div class="m-content">
		<!--::Portlet-->
			<div class="m-portlet">
				<div class="m-portlet__head">
					<div class="m-portlet__head-caption">
						<div class="m-portlet__head-title">
							<h3 class="m-portlet__head-text">
								Crawling
								<small></small>
							</h3>
							
						</div>
					</div>
					<div class="m-portlet__head-tools">
						<div class="btn-group" role="group" aria-label="Button group with nested dropdown">
							<a href="/bigbox/bigspider/setcrawler" type="button" class="m-btn btn btn-success">
								<i class="fa fa-plus"></i> Tambah Crawling Media Baru
							</a>
						</div>
					</div>
				</div>
					
				<div class="m-portlet__body">
					<!--begin: Search Form-->
					<div class="m-form m-form--label-align-right m--margin-top-20 m--margin-bottom-30">
						<div class="row align-items-center">
							<div class="col-xl-4 order-2 order-xl-1"></div>
							<div class="col-xl-4 order-2 order-xl-1">
								<div class="form-group m-form__group row align-items-center">
									<div class="col-md-12">
										<div class="m-input-icon m-input-icon--left">
											<select class="form-control select2me" data-placeholder="Select..." id="media_type" name="media_type">
												<option value="">ALL</option>  
												<option value="1">NASIONAL</option>
												<option value="2">LOCAL</option>
												<option value="3">INTERNASIONAL</option>
												<option value="4">WEBSITE TARGET</option>
											</select>
											<span class="m-input-icon__icon m-input-icon__icon--left">
												<span>
													<i class="la la-toggle-down"></i>
												</span>
											</span>
										</div>
									</div>
								</div>
							</div>
							<div class="col-xl-4 order-2 order-xl-1">
								<div class="form-group m-form__group row align-items-center">
									<div class="col-md-12">
										<div class="m-input-icon m-input-icon--left">
											<input type="text" class="form-control m-input" placeholder="Search..." id="generalSearch">
											<span class="m-input-icon__icon m-input-icon__icon--left">
												<span>
													<i class="la la-search"></i>
												</span>
											</span>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<!--end: Search Form -->
					
					<table class="m-datatable" id="html_table" width="100%">
						<thead>
							<tr>
								<th class="gradeX">No</th>
								<th class="gradeX">Sub Media</th>
								<th class="gradeX">Nama Media</th>
								<th class="gradeX">Slugname</th>
								<th class="gradeX">Tipe Crawling</th>
								<th class="gradeX">Url</th>
								<th class="">Atributes</th>
								<th class="">Action</th>
							</tr>
						</thead>
						<tbody>
							<?php 
							$i=1;
							foreach ($this->media as $v) { ?>
							<tr  >
							 <td valign="top"><?php echo $i;?></td>
							 <td valign="top"><?php echo $v['subdomain'];?></td>
								<td valign="top"><img src="<?php echo $v['logo']; ?>"  width="20px"/>&nbsp;&nbsp;<?php echo $v['subdomain']; ?>&nbsp;&nbsp;<?php echo $v['media_name']; ?></td>
								<td valign="top"><?php echo $v['slugname']; ?></td>
								<td valign="top"><?php echo $v['type_crawl']; ?></td>
							  
								<td valign="top"><?php echo $v['url_crawl']; ?></td>
								  <td valign="top" style="width: 400px;!important;"><?php foreach ($v['params'] as $k=>$v2) {
									  
									  echo $k.": ".$v2."<br>";
									  
									  
								  } ?></td>
								<td  valign="top"><a href ="/bigbox/bigspider/setcrawler/id/<?php echo $v['bid'];?>" class="btn btn-circle btn-sm btn-primary">edit</a>
								 <a href="javascript:;" data-id="<?php echo $v['id'];?>"  class="btn btn-circle btn-sm btn-danger btn-delete"><i class="fa fa-cross"></i> delete</a>
								
								</td>
							</tr>
							<?php $i=$i+1;} ?>    
						</tbody>
					</table>
				</div>
			</div>
			<!--end::Portlet-->
			
			<div class="modal fade" id="static" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
				<div class="modal-dialog modal-lg" role="document">
					<div class="modal-content">
						<div class="modal-header">
							<h5 class="modal-title" id="exampleModalLabel">
								Are you sure to delete this xpath?
							</h5>
							<button type="button" class="close" data-dismiss="modal" aria-label="Close">
								<span aria-hidden="true">
									&times;
								</span>
							</button>
						</div>
						<div class="modal-body">
							<div class="m-form__content">
								<div class="m-alert m-alert--icon alert alert-danger m--hide" role="alert" id="alertinfo2">
									<div class="m-alert__icon">
										<i class="la la-warning"></i>
									</div>
									<div class="m-alert__text">
										<span id="alertmsg"><strong>Warning!</strong> Something went wrong. Please check.</span>
									</div>
									<div class="m-alert__close">
										<button type="button" class="close" data-close="alert" aria-label="Close"></button>
									</div>
								</div>
							</div>
							
							<div style="margin:0px auto;text-align:center" id="processbar2" class="m--hide">
								<div class="progress progress-striped active" style="margin:0px auto;text-align:center">
									<div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
										<span class="sr-only">
											On Process
										</span>
									</div>
								</div>
								<span style="margin:0px auto;">Please wait...processing request</span>
								<br>
							</div>
							<table>
								<tr>
									<td>
										 ID
									</td>
									<td>
										 :
									</td>
									<td id="static_id">
										 
									</td>
								</tr>
								
							</table>
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-secondary" data-dismiss="modal">
								Close
							</button>
							<button type="button" class="btn btn-danger" id="deleteconfirm">
								Delete
							</button>
						</div>
					</div>
				</div>
			</div>
	</div>
</div>

<script>
var $modal2 = $('#static');

$('body').on('click', '.btn-delete', function() {
  var id =  $(this).attr("data-id");
 
  if($modal2.find('td#static_id')!=undefined){
	$modal2.find('td#static_id').html(id);
  }
  
  $modal2.modal();                
});

$modal2.on('click', 'button#deleteconfirm', function(){
	var id = $modal2.find('td#static_id').html();
	
	$.ajax({
		url:"/domas/ajax/delcrawl",
		content:'json',
		type:'post',
		data:{uid:id},
		beforeSend:function(){
	$('#alertinfo').addClass('hidden');
	$('#processbar').removeClass('hidden');
	
	$('#alertinfo').removeClass('alert-success');
	$('#alertinfo').removeClass('alert-warning');
	$('#alertinfo').removeClass('alert-danger');
	$('#alertinfo').removeClass('alert-info');
		},
		complete:function(result){
			$('#processbar').addClass('hidden');
		},
		success: function(data){
	
	if(data.result!=undefined){
		if(data.result==true){
			$('#alertinfo').addClass('alert-success');
			$('#alertmsg').html("<strong>Success!</strong> "+data.retMsg);
			$("a.reload").click();
					$modal2.modal('hide');
		}else{
			$('#alertinfo').addClass('alert-warning');
			$('#alertmsg').html("<strong>Failed!</strong> "+data.retMsg);
		}
	}else{
		$('#alertinfo').addClass('alert-info');
		$('#alertmsg').html("<strong>Error!</strong> System is busy, please try again.");
	}
	$('#alertinfo').removeClass('hidden');
		},
		error:function(){
			$('#alertinfo').addClass('alert-info');
			$('#alertmsg').html("<strong>Error!</strong> System is busy, please try again.");
			$('#alertinfo').removeClass('hidden');
		}
	});
});
</script>