<div class="m-grid__item m-grid__item--fluid m-wrapper">
	<div class="m-subheader ">
		<div class="d-flex align-items-center">
			<div class="mr-auto">
				<h3 class="m-subheader__title m-subheader__title--separator">
					Big Spider
				</h3>
				<ul class="m-subheader__breadcrumbs m-nav m-nav--inline">
					<li class="m-nav__item m-nav__item--home">
						<a href="/" class="m-nav__link m-nav__link--icon">
							<i class="m-nav__link-icon la la-home"></i>
						</a>
					</li>
					<li class="m-nav__separator">
						-
					</li>
					<li class="m-nav__item">
						<a href="#" class="m-nav__link">
							<span class="m-nav__link-text">
								Big Spider
							</span>
						</a>
					</li>
					<li class="m-nav__separator">
						-
					</li>
					<li class="m-nav__item">
						<a href="#" class="m-nav__link">
							<span class="m-nav__link-text">
								Administration
							</span>
						</a>
					</li>
					<li class="m-nav__separator">
						-
					</li>
					<li class="m-nav__item">
						<a href="" class="m-nav__link">
							<span class="m-nav__link-text">
								Parameters
							</span>
						</a>
					</li>
					
				</ul>
			</div>
			
		</div>
	</div>
	<div class="m-content">
		<!--::Portlet-->
			<div class="m-portlet">
				<div class="m-portlet__head">
					<div class="m-portlet__head-caption">
						<div class="m-portlet__head-title">
							<h3 class="m-portlet__head-text">
								Manajemen Parameter
								<small>Update Parameters</small>
							</h3>
							
						</div>
					</div>
				</div>
				<!--begin::Form-->
				<form action="" class="form-horizontal" id="addapi" method="post" novalidate="novalidate">
					
					<div class="m-portlet__body">
						<div class="">
							<div class="m-alert m-alert--icon alert alert-danger m--hide" role="alert" id="m_form_1_msg">
								<div class="m-alert__icon">
									<i class="la la-warning"></i>
								</div>
								<div class="m-alert__text">
									<span id="alertmsg"><strong>Warning!</strong> Something went wrong. Please check.</span>
								</div>
								<div class="m-alert__close">
									<button type="button" class="close" data-close="alert" aria-label="Close"></button>
								</div>
							</div>
							
							<div style="margin:0px auto;text-align:center;display:none;" id="processbar">
								<div class="progress">
									<div class="progress-bar progress-bar-striped progress-bar-animated " role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
										<span class="sr-only">
											On Process
										</span>
									</div>
								</div>
								<span style="margin:0px auto;">Please wait...processing request</span>
							</div>
							
							<table class="m_datatable table table-bordered m-table" id="html_table" width="100%">
								<thead>
									<tr>
										<th> # </th>
										<th> Label</th>
										<th> Value</th>
										<th>  </th>
									</tr>
								</thead>
								<tbody>
									<?php 
								   $x=1;
								   foreach($this->data as $k=>$v){ ?>
								   
								   
									<?php 
									if($v['attr4']=='text') {
								
								
								
								
										echo ' <tr>
										<td> '.$x.'</td>
										<td> '.$v['display_param'].' ' .$v['description'].' </td>
										<td><input type="text" name="'.$v['display_param'].'" id="'.$v['display_param'].'" value="'.$v['value_param'].'" class="form-control" placeholder="'.$v['display_param'].'"> </td></tr>';		
						
								
									}else if($v['attr4']=='checkbox') {
										$sel="";
										if($v['value_param']=="1"){$sel="checked";}
										echo ' <tr>
										<td> '.$x.' </td>
										<td> '.$v['display_param'].' ' .$v['description'].'</td>
										<td><input type="checkbox" '.$sel.' name="'.$v['display_param'].'" id="'.$v['display_param'].'" value="1"> </td></tr>';		
						
									}
							  
									?>
						   
								   
									<?php  
									$x++;
									} ?>
								</tbody>
							</table>
						</div>
					</div>
					<div class="m-portlet__foot m-portlet__foot--fit">
						<div class="m-form__actions m-form__actions">
							<div class="row">
								<div class="col-lg-9 ml-lg-auto">
									<button type="submit" class="btn btn-accent">
										Submit
									</button>
									<button type="reset" class="btn btn-secondary" onclick="window.history.back();">
										Cancel
									</button>
								</div>
							</div>
						</div>
					</div>
				</form>
				<!--end::Form-->
			</div>
			<!--end::Portlet-->
	</div>
</div>