<?php
//Zend_Debug::dump($this->data['params']);die();
if($this->data == null) {
    $nama = 'ADD';
} else {
    $nama = 'EDIT';
}

?>
<style>
.m-datatable.m-datatable--default.m-datatable--loaded > .m-datatable__table > .m-datatable__head .m-datatable__row > .m-datatable__cell, .m-datatable.m-datatable--default.m-datatable--loaded > .m-datatable__table > .m-datatable__body .m-datatable__row > .m-datatable__cell, .m-datatable.m-datatable--default.m-datatable--loaded > .m-datatable__table > .m-datatable__foot .m-datatable__row > .m-datatable__cell {
    display: table-cell;
    vertical-align: top!important;
}
.fleft { 
	float: left; 
	padding-left: 10px;
    padding-right: 10px;
}
.fleft .m-form__group {
	padding-left: 10px!important;
    padding-right: 10px!important;
}
.fleft2 { 
	float: left; 
}
</style>
<div class="m-grid__item m-grid__item--fluid m-wrapper">
	<div id="ajax-loader" style="z-index: 9999; position: absolute; left: 0px; width: 100%; opacity: 0.5; overflow: hidden; display: none;">
			<img style="margin: 15% auto; opacity: 1; display: block;" src="/assets/core/img/gears.gif">
	</div>
	
	<div class="m-subheader ">
		<div class="d-flex align-items-center">
			<div class="mr-auto">
				<h3 class="m-subheader__title m-subheader__title--separator">
					<?PHP echo $nama; ?> CRAWL <small> </small>
				</h3>
				<ul class="m-subheader__breadcrumbs m-nav m-nav--inline">
					<li class="m-nav__item m-nav__item--home">
						<a href="/" class="m-nav__link m-nav__link--icon">
							<i class="m-nav__link-icon la la-home"></i>
						</a>
					</li>
					<li class="m-nav__separator">
						-
					</li>
					<li class="m-nav__item">
						<a href="#" class="m-nav__link">
							<span class="m-nav__link-text">
								Big Spider
							</span>
						</a>
					</li>
					<li class="m-nav__separator">
						-
					</li>
					<li class="m-nav__item">
						<a href="#" class="m-nav__link">
							<span class="m-nav__link-text">
								Digital Media
							</span>
						</a>
					</li>
					<li class="m-nav__separator">
						-
					</li>
					<li class="m-nav__item">
						<a href="#" class="m-nav__link">
							<span class="m-nav__link-text">
								<?PHP echo $nama; ?> CRAWL
							</span>
						</a>
					</li>
				</ul>
			</div>
			
		</div>
	</div>
	<div class="m-content">
		<!--::Portlet-->
			<div class="m-portlet">
				<div class="m-portlet__head">
					<div class="m-portlet__head-caption">
						<div class="m-portlet__head-title">
							<h3 class="m-portlet__head-text">
								Info Utama
								<small></small>
							</h3>
							
						</div>
					</div>
					<div class="m-portlet__head-tools">
					</div>
				</div>
					
				<form action="" class="m-form m-form--fit m-form--label-align-left" id="addapi" method="post">
					<input name="id" type="hidden" value="<?php echo $this->data['id']; ?>" />
					
					<div class="m-portlet__body">
						<div class="">
							<div class="m-alert m-alert--icon alert alert-danger m--hide" role="alert" id="alertinfo">
								<div class="m-alert__icon">
									<i class="la la-warning"></i>
								</div>
								<div class="m-alert__text">
									<span id="alertmsg"><strong>Warning!</strong> Something went wrong. Please check.</span>
								</div>
								<div class="m-alert__close">
									<button type="button" class="close" data-close="alert" aria-label="Close"></button>
								</div>
							</div>
							
							<div style="margin:0px auto;text-align:center;display:none;" id="processbar">
								<div class="progress">
									<div class="progress-bar progress-bar-striped progress-bar-animated " role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
										<span class="sr-only">
											On Process
										</span>
									</div>
								</div>
								<span style="margin:0px auto;">Please wait...processing request</span>
							</div>
							
							<div class="row">
								<div class="col-md-6">
									<div class="form-group m-form__group row">
										<label class="col-form-label col-lg-12 col-sm-12">
											Nama Crawler
										</label>
										<div class="col-lg-12 col-md-12 col-sm-12">
											<input type="text" class="form-control m-input" name="c_name" id="c_name" placeholder="Nama Crawler" data-toggle="m-tooltip" title="" value="<?php echo $this->data['subdomain']; ?>">
										</div>
									</div>
								</div>
								
								<div class="col-md-6">
									<div class="form-group m-form__group row">
										<label class="col-form-label col-lg-12 col-sm-12">
											Nama Media
										</label>
										<div class="col-lg-12 col-md-12 col-sm-12">
											<select class="form-control m-input" name="media_name" id="media_name">
												<?php
												foreach($this->media as $v) {
													$sel = "";
													if($v['id'] == $this->data['media_id']) {
														$sel = "selected";
													}
													echo '<option ' . $sel . ' value="' . $v['id'] . '">' . $v['media_name'] . '</option>';
												}
												?>
											</select>
										</div>
									</div>
								</div>
								
							</div>
							<div class="row">
								<div class="col-md-6">
									<div class="form-group m-form__group row">
										<label class="col-form-label col-lg-12 col-sm-12">
											Tipe Crawler
										</label>
										<div class="col-lg-12 col-md-12 col-sm-12">
											<select class="form-control m-input" name="c_type" id="c_type">
												<option <?php
												if($this->data['type_crawl'] == 1) {
													echo "selected";
												}

												?> value="1">Html Index</option>
																								<option <?php
												if($this->data['type_crawl'] == 2) {
													echo "selected";
												}

												?> value="2">RSS</option>
																								
																								<!--
																								<option <?php
												if($this->data['type_crawl'] == 3) {
													echo "selected";
												}

												?> value="3">RDF</option>
																								<option <?php
												if($this->data['type_crawl'] == 4) {
													echo "selected";
												}

												?> value="4">Atom</option>-->
											</select>
										</div>
									</div>
								</div>
								<div class="col-md-offset-1 col-md-6">
									
									<div class="form-group m-form__group row">
										<label class="col-form-label col-lg-12 col-sm-12">
											Status
										</label>
										<div class="col-lg-12 col-md-12 col-sm-12">
											<span class="m-switch m-switch--lg m-switch--icon">
												<label>
													<input type="checkbox" <?php if($this->data['status'] == 1) { echo "checked"; } ?> name="c_status" value=1 id="test">
													<span></span>
												</label>
											</span>
										</div>
									</div>
									
								</div>
							</div>
							
							<div class="row">
								<div class="col-md-6">
									<div class="form-group m-form__group row">
										<label class="col-form-label col-lg-12 col-sm-12">
											Url Index
										</label>
										<div class="col-lg-12 col-md-12 col-sm-12">
											<input type="text" class="form-control m-input" name="index" id="index" placeholder="Url Index" data-toggle="m-tooltip" title="" value="<?php echo $this->data['url_crawl']; ?>">
										</div>
									</div>
								</div>
								<div class="col-md-offset-1 col-md-6">
									
									<div class="form-group m-form__group row">
										<label class="col-form-label col-lg-12 col-sm-12">
											Batas Baris
										</label>
										<div class="col-lg-12 col-md-12 col-sm-12">
											<input type="text" class="form-control m-input" name="r_limit" id="r_limit" placeholder="20" data-toggle="m-tooltip" title="" value="20">
										</div>
									</div>
									
								</div>
							</div>
							
							<div class="row">
								<div class="col-md-6">
									<div class="form-group m-form__group row">
										<label class="col-form-label col-lg-12 col-sm-12">
											Tag-Index
										</label>
										<div class="col-lg-12 col-md-12 col-sm-12">
											<input type="text" class="form-control m-input" name="tag-index" id="tag-index" placeholder="" data-toggle="m-tooltip" title="" value="<?php echo $this->data['params']['tag-index']; ?>">
										</div>
									</div>
								</div>
								<div class="col-md-offset-1 col-md-6">
									
									<div class="form-group m-form__group row">
										<label class="col-form-label col-lg-12 col-sm-12">
											Index-Query Type
										</label>
										<div class="col-lg-12 col-md-12 col-sm-12">
											<select class="form-control m-input" name="tag-index-type" id="tag-index-type">
												<option <?php if($this->data['params']['tag-index-type']=='css'){echo "selected";} ?> value="css">CSS Query</option>
												<option <?php if($this->data['params']['tag-index-type']=='string'){echo "selected";} ?> value="string">String</option>
												<option <?php if($this->data['params']['tag-index-type']=='xpath'){echo "selected";} ?> value="xpath">Xpath Query</option>
											</select>
										</div>
									</div>
									
								</div>
							</div>
						</div>
						
						<br><div class="clearfix"></div><hr>
						<div class="m-portlet__head">
							<div class="m-portlet__head-caption">
								<div class="m-portlet__head-title">
									<h3 class="m-portlet__head-text">
										Tags
										<small></small>
									</h3>
									
								</div>
							</div>
							<div class="m-portlet__head-tools">
							</div>
						</div>
						
						<div class="row">
							<div class="col-md-12">
								<div class="col-lg-12 col-md-12 col-sm-12" style="padding-left: 30px;">
									<br>
									<a class="btn btn-warning clicktag sbold">Cek Tags</a>
								</div>
							</div>
						</div>
						
						<div class="row">
							<div class="col-md-6">
								<div class="form-group m-form__group row">
									<label class="col-form-label col-lg-12 col-sm-12">
										Judul
									</label>
									<div class="col-lg-12 col-md-12 col-sm-12">
										<input type="text" class="form-control m-input" name="tag-title" id="tag-title" placeholder="Judul" data-toggle="m-tooltip" title="" value="<?php echo $this->data['params']['tag-title']; ?>">
									</div>
								</div>
							</div>
							<div class="col-md-offset-1 col-md-6">
								
								<div class="form-group m-form__group row">
									<label class="col-form-label col-lg-12 col-sm-12">
										Judul Query Type
									</label>
									<div class="col-lg-12 col-md-12 col-sm-12">
										<select class="form-control m-input" name="tag-title-type" id="tag-title-type">
											<option <?php if($this->data['params']['tag-title-type']=='css'){echo "selected";} ?> value="css">CSS Query</option>
											<option <?php if($this->data['params']['tag-title-type']=='string'){echo "selected";} ?> value="string">String</option>
											<option <?php if($this->data['params']['tag-title-type']=='xpath'){echo "selected";} ?> value="xpath">Xpath Query</option>
										</select>
									</div>
								</div>
								
							</div>
						</div>
						
						<div class="row">
							<div class="col-md-6">
								<div class="form-group m-form__group row">
									<label class="col-form-label col-lg-12 col-sm-12">
										Penulis
									</label>
									<div class="col-lg-12 col-md-12 col-sm-12">
										<input type="text" class="form-control m-input" name="tag-author" id="tag-author" placeholder="Penulis" data-toggle="m-tooltip" title="" value="<?php echo $this->data['params']['tag-author']; ?>">
									</div>
								</div>
							</div>
							<div class="col-md-offset-1 col-md-6">
								
								<div class="form-group m-form__group row">
									<label class="col-form-label col-lg-12 col-sm-12">
										Penulis Query Type
									</label>
									<div class="col-lg-12 col-md-12 col-sm-12">
										<select class="form-control m-input" name="tag-author-type" id="tag-author-type">
											<option <?php if($this->data['params']['tag-author-type']=='css'){echo "selected";} ?> value="css">CSS Query</option>
											<option <?php if($this->data['params']['tag-author-type']=='string'){echo "selected";} ?> value="string">String</option>
											<option <?php if($this->data['params']['tag-author-type']=='xpath'){echo "selected";} ?> value="xpath">Xpath Query</option>
										</select>
									</div>
								</div>
								
							</div>
						</div>
						
						<div class="row">
							<div class="col-md-6">
								<div class="form-group m-form__group row">
									<label class="col-form-label col-lg-12 col-sm-12">
										Topik
									</label>
									<div class="col-lg-12 col-md-12 col-sm-12">
										<input type="text" class="form-control m-input" name="tag-topic" id="tag-topic" placeholder="Penulis" data-toggle="m-tooltip" title="" value="<?php echo $this->data['params']['tag-topic']; ?>">
									</div>
								</div>
							</div>
							<div class="col-md-offset-1 col-md-6">
								
								<div class="form-group m-form__group row">
									<label class="col-form-label col-lg-12 col-sm-12">
										Topik Query Type
									</label>
									<div class="col-lg-12 col-md-12 col-sm-12">
										<select class="form-control m-input" name="tag-topic-type" id="tag-topic-type">
											<option <?php if($this->data['params']['tag-topic-type']=='css'){echo "selected";} ?> value="css">CSS Query</option>
											<option <?php if($this->data['params']['tag-topic-type']=='string'){echo "selected";} ?> value="string">String</option>
											<option <?php if($this->data['params']['tag-topic-type']=='xpath'){echo "selected";} ?> value="xpath">Xpath Query</option>
										</select>
									</div>
								</div>
								
							</div>
						</div>
						
						<div class="row">
							<div class="col-md-6">
								<div class="form-group m-form__group row">
									<label class="col-form-label col-lg-12 col-sm-12">
										Gambar/Icon
									</label>
									<div class="col-lg-12 col-md-12 col-sm-12">
										<input type="text" class="form-control m-input" name="tag-icon" id="tag-icon" placeholder="Gambar/Icon" value="<?php echo $this->data['params']['tag-icon']; ?>">
									</div>
								</div>
							</div>
							<div class="col-md-offset-1 col-md-6">
								
								<div class="form-group m-form__group row">
									<label class="col-form-label col-lg-12 col-sm-12">
										Gambar Query Type
									</label>
									<div class="col-lg-12 col-md-12 col-sm-12">
										<select class="form-control m-input" name="tag-icon-type" id="tag-icon-type">
											<option <?php if($this->data['params']['tag-icon-type']=='css'){echo "selected";} ?> value="css">CSS Query</option>
											<option <?php if($this->data['params']['tag-icon-type']=='string'){echo "selected";} ?> value="string">String</option>
											<option <?php if($this->data['params']['tag-icon-type']=='xpath'){echo "selected";} ?> value="xpath">Xpath Query</option>
										</select>
									</div>
								</div>
								
							</div>
						</div>
						
						<div class="row">
							<div class="col-md-6">
								<div class="form-group m-form__group row">
									<label class="col-form-label col-lg-12 col-sm-12">
										Isi
									</label>
									<div class="col-lg-12 col-md-12 col-sm-12">
										<input type="text" class="form-control m-input" name="tag-content" id="tag-content" placeholder="Isi" value="<?php echo $this->data['params']['tag-content']; ?>">
									</div>
								</div>
							</div>
							<div class="col-md-offset-1 col-md-6">
								
								<div class="form-group m-form__group row">
									<label class="col-form-label col-lg-12 col-sm-12">
										Isi Query Type
									</label>
									<div class="col-lg-12 col-md-12 col-sm-12">
										<select class="form-control m-input" name="tag-content-type" id="tag-content-type">
											<option <?php if($this->data['params']['tag-content-type']=='css'){echo "selected";} ?> value="css">CSS Query</option>
											<option <?php if($this->data['params']['tag-content-type']=='string'){echo "selected";} ?> value="string">String</option>
											<option <?php if($this->data['params']['tag-content-type']=='xpath'){echo "selected";} ?> value="xpath">Xpath Query</option>
										</select>
									</div>
								</div>
								
							</div>
						</div>
						
						<div class="row">
							<div class="col-md-6">
								<div class="form-group m-form__group row">
									<label class="col-form-label col-lg-12 col-sm-12">
										Tanggal
									</label>
									<div class="col-lg-12 col-md-12 col-sm-12">
										<input type="text" class="form-control m-input" name="tag-date" id="tag-date" placeholder="Tanggal" value="<?php echo $this->data['params']['tag-date']; ?>">
									</div>
								</div>
							</div>
							<div class="col-md-offset-1 col-md-6">
								
								<div class="form-group m-form__group row">
									<label class="col-form-label col-lg-12 col-sm-12">
										Tanggal Query Type
									</label>
									<div class="col-lg-12 col-md-12 col-sm-12">
										<select class="form-control m-input" name="tag-date-type" id="tag-date-type">
											<option <?php if($this->data['params']['tag-date-type']=='css'){echo "selected";} ?> value="css">CSS Query</option>
											<option <?php if($this->data['params']['tag-date-type']=='string'){echo "selected";} ?> value="string">String</option>
											<option <?php if($this->data['params']['tag-date-type']=='xpath'){echo "selected";} ?> value="xpath">Xpath Query</option>
										</select>
									</div>
								</div>
								
							</div>
						</div>
						
						<div class="row">
							<div class="col-md-6">
								<div class="form-group m-form__group row">
									<label class="col-form-label col-lg-12 col-sm-12">
										Tanggal
									</label>
									<div class="col-lg-12 col-md-12 col-sm-12">
										<input type="text" class="form-control m-input" name="tag-date" id="tag-date" placeholder="Tanggal" value="<?php echo $this->data['params']['tag-date']; ?>">
									</div>
								</div>
							</div>
							<div class="col-md-offset-1 col-md-6">
								
								<div class="form-group m-form__group row">
									<label class="col-form-label col-lg-12 col-sm-12">
										Tanggal Query Type
									</label>
									<div class="col-lg-12 col-md-12 col-sm-12">
										<select class="form-control m-input" name="tag-date-type" id="tag-date-type">
											<option <?php if($this->data['params']['tag-date-type']=='css'){echo "selected";} ?> value="css">CSS Query</option>
											<option <?php if($this->data['params']['tag-date-type']=='string'){echo "selected";} ?> value="string">String</option>
											<option <?php if($this->data['params']['tag-date-type']=='xpath'){echo "selected";} ?> value="xpath">Xpath Query</option>
										</select>
									</div>
								</div>
								
							</div>
						</div>
						
						<div class="row">
							<div class="col-md-6">
								<div class="form-group m-form__group row">
									<label class="col-form-label col-lg-12 col-sm-12">
										Tanggal Pemrosesan
									</label>
									<div class="col-lg-12 col-md-12 col-sm-12">
										<select class="form-control m-input" name="processing-date" id="processing-date">
											<?php
											foreach($this->date as $v) {
												$sel = "";
												if($v['value_param'] == $this->data['params']['processing-date']) {
													$sel = "selected";
												}
												echo "<option " . $sel . " value='" . $v['value_param'] . "'>" . $v['display_param'] . "</option>";
											}
											?>
										</select>
									</div>
								</div>
							</div>
							<div class="col-md-offset-1 col-md-6">
								<div class="form-group m-form__group row">
								</div>
							</div>
						</div>
						
						<div class="row">
							<div class="col-md-6">
								<div class="form-group m-form__group row">
									<label class="col-form-label col-lg-12 col-sm-12">
										Tanggal (alt 2)
									</label>
									<div class="col-lg-12 col-md-12 col-sm-12">
										<input type="text" class="form-control m-input" name="tag-date2" id="tag-date2" placeholder="Tanggal" value="<?php echo $this->data['params']['tag-date2']; ?>">
									</div>
								</div>
							</div>
							<div class="col-md-offset-1 col-md-6">
								
								<div class="form-group m-form__group row">
									<label class="col-form-label col-lg-12 col-sm-12">
										Tanggal (alt 2) Query Type
									</label>
									<div class="col-lg-12 col-md-12 col-sm-12">
										<select class="form-control m-input" name="tag-date2-type" id="tag-date2-type">
											<option <?php if($this->data['params']['tag-date2-type']=='css'){echo "selected";} ?> value="css">CSS Query</option>
											<option <?php if($this->data['params']['tag-date2-type']=='string'){echo "selected";} ?> value="string">String</option>
											<option <?php if($this->data['params']['tag-date2-type']=='xpath'){echo "selected";} ?> value="xpath">Xpath Query</option>
										</select>
									</div>
								</div>
								
							</div>
						</div>
						
						<div class="row">
							<div class="col-md-6">
								<div class="form-group m-form__group row">
									<label class="col-form-label col-lg-12 col-sm-12">
										Tanggal Pemrosesan2
									</label>
									<div class="col-lg-12 col-md-12 col-sm-12">
										<select class="form-control m-input" name="processing-date2" id="processing-date2">
											<?php
											foreach($this->date as $v) {
												$sel = "";
												if($v['value_param'] == $this->data['params']['processing-date2']) {
													$sel = "selected";
												}
												echo "<option " . $sel . " value='" . $v['value_param'] . "'>" . $v['display_param'] . "</option>";
											}

											?>
										</select>
									</div>
								</div>
							</div>
							<div class="col-md-offset-1 col-md-6">
								<div class="form-group m-form__group row">
								</div>
							</div>
						</div>
						
						<div class="row">
							<div class="col-md-6">
								<div class="form-group m-form__group row">
									<label class="col-form-label col-lg-12 col-sm-12">
										Tanggal (alt 3)
									</label>
									<div class="col-lg-12 col-md-12 col-sm-12">
										<input type="text" class="form-control m-input" name="tag-date3" id="tag-date3" placeholder="Tanggal" value="<?php echo $this->data['params']['tag-date3']; ?>">
									</div>
								</div>
							</div>
							<div class="col-md-offset-1 col-md-6">
								
								<div class="form-group m-form__group row">
									<label class="col-form-label col-lg-12 col-sm-12">
										Tanggal (alt 3) Query Type
									</label>
									<div class="col-lg-12 col-md-12 col-sm-12">
										<select class="form-control m-input" name="tag-date3-type" id="tag-date3-type">
											<option <?php if($this->data['params']['tag-date3-type']=='css'){echo "selected";} ?> value="css">CSS Query</option>
											<option <?php if($this->data['params']['tag-date3-type']=='string'){echo "selected";} ?> value="string">String</option>
											<option <?php if($this->data['params']['tag-date3-type']=='xpath'){echo "selected";} ?> value="xpath">Xpath Query</option>
										</select>
									</div>
								</div>
								
							</div>
						</div>
						
						<div class="row">
							<div class="col-md-6">
								<div class="form-group m-form__group row">
									<label class="col-form-label col-lg-12 col-sm-12">
										Tanggal Pemrosesan3
									</label>
									<div class="col-lg-12 col-md-12 col-sm-12">
										<select class="form-control m-input" name="processing-date3" id="processing-date3">
											<?php
											foreach($this->date as $v) {
												$sel = "";
												if($v['value_param'] == $this->data['params']['processing-date3']) {
													$sel = "selected";
												}
												echo "<option " . $sel . " value='" . $v['value_param'] . "'>" . $v['display_param'] . "</option>";
											}

											?>
										</select>
									</div>
								</div>
							</div>
							<div class="col-md-offset-1 col-md-6">
								<div class="form-group m-form__group row">
								</div>
							</div>
						</div>
						
						<br><div class="clearfix"></div><hr>
						<div class="m-portlet__head">
							<div class="m-portlet__head-caption">
								<div class="m-portlet__head-title">
									<h3 class="m-portlet__head-text">
										Additional Attributes
										<small></small>
									</h3>
									
								</div>
							</div>
							<div class="m-portlet__head-tools">
							</div>
						</div>
						
						<div class="clearfix"></div><br>
						<div class="row">
							<?php 
							$mc=count($this->data['params']['fname']);
							if(count($this->data['params']['fname'])==0){$mc=1;}
							for ($cnt=0;$cnt<=$mc-1;$cnt++) { 
							?>
							<div class="clearfix"></div><br>
							<div class="form-group  bread" id="bread<?php echo $mc+$cnt;  ?>" data-id="<?php echo $mc+$cnt;  ?>" style="width: 100%;">
								<div class="col-md-10 fleft2">
									<div class="col-md-4 fleft">
										<div class="form-group m-form__group row">
											<div class="col-lg-12 col-md-12 col-sm-12">
												<input placeholder="Field Name" value="<?php //echo $this->data['params']['fname']; ?>" name="fname[]" type="text" class="form-control m-input">
											</div>
										</div>
									</div>
									<div class="col-md-offset-1 col-md-4 fleft">
										
										<div class="form-group m-form__group row">
											<select class="form-control m-input" name="ftype[]" id="">
												<option <?php if($this->data['params']['ftype'][$cnt]=='css'){echo "selected";} ?> value="css">CSS Query</option>
												<option <?php if($this->data['params']['ftype'][$cnt]=='string'){echo "selected";} ?> value="string">String</option>
												<option <?php if($this->data['params']['ftype'][$cnt]=='xpath'){echo "selected";} ?> value="xpath">Xpath Query</option>
											</select>
										</div>
										
									</div>
									<div class="col-md-4 fleft">
										<div class="form-group m-form__group row">
											<div class="col-lg-12 col-md-12 col-sm-12">
												<input placeholder="Value(dateformat: 1995-12-31 23:59:59)" value="<?php echo $this->data['params']['fvalue'][$cnt]; ?>" name="fvalue[]" type="text" class="form-control m-input">
											</div>
										</div>
									</div>
								</div>
								
								<div class="col-md-2 fleft2">
									<?php if($cnt==0){?>
									<button type="button" class="btn btn-sm btn-accent addGC2" onclick="addGC2(this); return false;" data-act="addGC2" data-id="<?php echo $mc+$cnt;  ?>">
										Add
									</button>
									<?php }else{ ?>
									<button type="button" class="btn btn-sm btn-danger removeGC2" onclick="removeGC2(this); return false;" data-act="removeGC2" data-id="<?php echo $mc+$cnt;  ?>">
										Remove
									</button>
									<?php } ?>
								</div>
							</div>
							<?php  }?>
						</div>
						
					</div>
					<div class="m-portlet__foot m-portlet__foot--fit">
						<div class="m-form__actions m-form__actions">
							<div class="row">
								<div class="col-lg-9 ml-lg-auto">
									<button type="submit" class="btn btn-accent">
										Submit
									</button>
									<a type="reset" class="btn btn-secondary" href="/bigbox/bigspider/listcrawl">
										Cancel
									</a>
									<button type="button" onclick="runn()" class="btn btn-primary">
										Test
									</button>
								</div>
							</div>
						</div>
					</div>
				</form>
			</div>
			<!--end::Portlet-->
			<div class="modal fade" id="full" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
				<div class="modal-dialog modal-lg" role="document">
					<div class="modal-content">
						<div class="modal-header">
							<h5 class="modal-title" id="exampleModalLabel">
								Judul Modal
							</h5>
							<button type="button" class="close" data-dismiss="modal" aria-label="Close">
								<span aria-hidden="true">
									&times;
								</span>
							</button>
						</div>
						<div class="modal-body">
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-secondary" data-dismiss="modal">
								Close
							</button>
							<button type="button" class="btn btn-success" id="">
								Simpan Perubahan
							</button>
						</div>
					</div>
				</div>
			</div>
				
			<div id="full-width" class="modal  fade" tabindex="-1"></div>
			<div id="ajax-modal" class="modal  fade" tabindex="-1"> </div>
			
	</div>
</div>

<script>

var gamasidx2 = <?php echo $mc;  ?>;
var elem = <?php echo $mc;  ?>;

function addGC2(me) {
var id = $(me).data('id');
var currow = $('body').find('.bread:last');
var str = '<div class="clearfix"></div><br>'
+ '<div class="form-group  bread" id="bread' + (parseInt(gamasidx2) + 1) + '" data-id="' + (parseInt(gamasidx2) + 1) + '" style="width: 100%;">'
+ '<div class="col-md-10 fleft2">'
+ '<div class="col-md-4 fleft">'
+ '<div class="form-group m-form__group row">'
+ '<div class="col-lg-12 col-md-12 col-sm-12">'
+ '<input placeholder="Field Name" value="" name="fname[]" type="text" class="form-control m-input">'
+ '</div>'
+ '</div>'
+ '</div>'
+ '<div class="col-md-offset-1 col-md-4 fleft">'
+ '<div class="form-group m-form__group row">'
+ '<select class="form-control m-input" name="ftype[]" id="">'
+ '<option value="css">CSS Query</option>'
+ '<option value="string">String</option>'
+ '<option value="xpath">Xpath Query</option>'
+ '</select>'
+ '</div>'
+ '</div>'
+ '<div class="col-md-4 fleft">'
+ '<div class="form-group m-form__group row">'
+ '<div class="col-lg-12 col-md-12 col-sm-12">'
+ '<input placeholder="Value(dateformat: 1995-12-31 23:59:59)" name="fvalue[]" type="text" class="form-control m-input">'
+ '</div>'
+ '</div>'
+ '</div>'
+ '</div>'
+ '<div class="col-md-2 fleft2">'
+ '<button type="button" class="btn btn-sm btn-danger removeGC2" onclick="removeGC2(this); return false;" data-act="removeGC2" data-id="' + (parseInt(gamasidx2) + 1) + '">'
+ 'Remove'
+ '</button>'
+ '</div>'
+ '</div>';
gamasidx2++;
//console.log(str);
currow.after(str);
}


function removeGC2(me) {
var id = $(me).data('id');
//console.log(id);
$('body').find('#bread' + id + ':first').remove();
}

function runn() {   
$("#ajax-loader").show();
		$.ajax({  
				url:"/domas/ajax/test",
				type:'post',
				data:$('form#addapi').serialize(),
				dataType: 'json',
				success: function(r){
					$.modal(r.out.html, {modal: true, overlayClose: false, position: [120, 0], overlayCss: {backgroundColor: "#888"}, opacity: 80});
					$("#ajax-loader").hide();
					
				},
				error: function(r){
									
				toastr.error('Error Parsing');
					$("#ajax-loader").hide();
					
				}
	 
		});
};

$(".clicktag").click(function(){
            $.ajax({  
				url:"/domas/ajax/geturl",
				type:'post',
				data:$('form#addapi').serialize(),
				dataType: 'json',
				success: function(r){
                 //   alert(r.indexes[0]);
				 var result  =r.indexes[0];

      $.ajax({
			url:"/domas/ajax/setcrawlinit",
			content:'json',
		type:'post',
			data:{url:result},
		beforeSend:function(){
			
			},
			complete:function(result){
				
			},
			success: function(data){
                //console.log(data);
//                window.location.replace(data.url);
             window.open(data.url, '', '')

            },
			error:function(){
				
			}
		});
					
				},
				error: function(r){
									
				
					
				}
	 
		});
  
      
                   // }
               
                
                
   
    
});
</script>