<?php
echo '<form id="formp">';
echo '<input type="hidden" id="t" name="t" value="'.$this->varams["t"].'">';
echo '</form>';

// Zend_Debug::dump();die();

?>
<style>
.hidden{display: none!important;}
</style>
<div class="m-grid__item m-grid__item--fluid m-wrapper">
	<div class="m-subheader ">
		<div class="d-flex align-items-center">
			<div class="mr-auto">
				<h3 class="m-subheader__title m-subheader__title--separator">
					Training Set <small>Prediksi</small>
				</h3>
				<ul class="m-subheader__breadcrumbs m-nav m-nav--inline">
					<li class="m-nav__item m-nav__item--home">
						<a href="#" class="m-nav__link m-nav__link--icon">
							<i class="m-nav__link-icon flaticon-app"></i>
						</a>
					</li>
					<li class="m-nav__separator">-</li>
					<li class="m-nav__item">
						<a href="#" class="m-nav__link">
							<span class="m-nav__link-text">
								Big Spider
							</span>
						</a>
					</li>
					<li class="m-nav__separator">-</li>
					<li class="m-nav__item">
						<a href="#" class="m-nav__link">
							<span class="m-nav__link-text">
								Configuration
							</span>
						</a>
					</li>
					<li class="m-nav__separator">-</li>
					<li class="m-nav__item">
						<a href="" class="m-nav__link">
							<span class="m-nav__link-text">
								Training Set
							</span>
						</a>
					</li>
					
				</ul>
			</div>
			
		</div>
	</div>
	<div class="m-content">
			<div class="m-portlet m-portlet--mobile">
				<div class="m-portlet__head">
					<div class="m-portlet__head-caption">
						<div class="m-portlet__head-title">
							<h3 class="m-portlet__head-text">
								Training Set Prediksi
							</h3>
						</div>
					</div>
					<div class="m-portlet__head-tools">
					</div>
				</div>
				<div class="m-portlet__body">
					<form role="form" id="formf">
						<!--begin: Search Form -->
						<div class="m-form m-form--label-align-right m--margin-top-20 m--margin-bottom-30">
							<div class="row align-items-center">
								<div class="col-xl-12 order-2 order-xl-1 m--margin-bottom-20">
									<div class="form-group m-form__group row align-items-center">
										<div class="col-md-3">
											<div class="m-form__group m-form__group--inline">
												<div class="m-form__label">
													<label class="m-label m-label--single">
														Tema:
													</label>
												</div>
												<div class="m-form__control">
													<select class="form-control m-bootstrap-select" id="cat" name="cat" onchange="getTopik(this.value);">
														<?php
														foreach ($this->cat as $k=>$v) {
															echo '<option value="'.$v.'" '.(isset($this->varams["cat"]) && $this->varams["cat"]!="" && $this->varams["cat"]==$v?"selected":"").'>'.$k.'</option>';
														}
														?>
													</select>
												</div>
											</div>
											<div class="d-md-none m--margin-bottom-10"></div>
										</div>
										<div class="col-md-3">
											<div class="m-form__group m-form__group--inline">
												<div class="m-form__label">
													<label class="m-label m-label--single">
														Topik:
													</label>
												</div>
												<div class="m-form__control">
													<select class="form-control m-bootstrap-select" id="topik" name="topik">
														<option value="">SEMUA TOPIK</option>
													</select>
												</div>
											</div>
											<div class="d-md-none m--margin-bottom-10"></div>
										</div>
										<div class="col-md-3">
											<div class="m-form__group m-form__group--inline">
												<div class="m-form__label">
													<label class="m-label m-label--single">
														Tipe:
													</label>
												</div>
												<div class="m-form__control">
													<select class="form-control m-bootstrap-select" id="type" name="type">
														<option value="2">Digital Media</option>
														<option value="6">Laporan</option>
														<option value="5">Social Media</option>
													</select>
												</div>
											</div>
											<div class="d-md-none m--margin-bottom-10"></div>
										</div>
										<div class="col-md-3">
											<div class="m-form__group m-form__group--inline">
												<div class="m-form__label">
													<label class="m-label m-label--single">
														Keyword:
													</label>
												</div>
												<div class="m-form__control">
													<input type="keyword" class="form-control m-input" placeholder="Keyword..." id="keyword">
												</div>
											</div>
											<div class="d-md-none m--margin-bottom-10"></div>
										</div>
									</div>
								</div>
								<div class="col-xl-12 order-1 order-xl-2 m--align-right">
									<div class="form-group m-form__group row align-items-center">
										<div class="col-md-4">
											<div class="m-form__group m-form__group--inline">
												<div class="m-form__label">
													<label class="m-label m-label--single">
														Mulai Dari:
													</label>
												</div>
												<div class="m-form__control">
													<input type="mulai" class="form-control m-input" placeholder="Mulai Dari..." id="mulai">
												</div>
											</div>
											<div class="d-md-none m--margin-bottom-10"></div>
										</div>
										<div class="col-md-4">
												<div class="m-form__group m-form__group--inline">
													<div class="m-form__label">
														<label class="m-label m-label--single">
															Kuantitas:
														</label>
													</div>
													<div class="m-form__control">
														<input type="quantity" class="form-control m-input" placeholder="Kuantitas..." id="quantity">
													</div>
												</div>
												<div class="d-md-none m--margin-bottom-10"></div>
											</div>
										<div class="col-md-4">
											<div class="m-btn-group m-btn-group--pill btn-group" role="group" aria-label="Button group with nested dropdown">
												<button type="button" class="m-btn btn btn-primary" id="btnGenerate">
													Generate
												</button>
												<button type="button" class="m-btn btn btn-info" id="btnGenerateModel">
													Re Generate All Model
												</button>
											</div>
											<div class="m-separator m-separator--dashed d-xl-none"></div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<!--end: Search Form -->
					</form>
					
					<!--begin: Datatable -->
					<div id="gendata">
					<table class="m_datatable table m-table m-table--head-bg-default" id="html_table" width="100%">
						<thead>
							<tr>
								<th>
									No
								</th>
								<th>
									Konten tes
								</th>
								<th>
									Prediksi
								</th>
								<th style="width: 200px!important;">
									Nilai
								</th>
							</tr>
						</thead>
						<tbody>
							<?php
							foreach($this->isi_prediksi as $k=>$v){ ?>
							<tr>
								<td valign="top"><?php echo $k+1; ?></td>
								<td><?php echo $v["text"]; ?></td>
								<td valign="top"><?php echo $v["Prediksi"]; ?></td>
								<td valign="top"><?php echo $v["nilai2"]; ?></td>
							</tr>
							<?php } ?>
						</tbody>
					</table>
					</div>
					
					<!--end: Datatable -->
				</div>
			</div>
			
			<div id="static2" class="modal fade" tabindex="-1" data-backdrop="static" data-keyboard="false" role="dialog" aria-labelledby="addListapi" aria-hidden="true">
				<div class="modal-dialog modal-lg"" role="document">
					<div class="modal-content">
						<div class="modal-header">
							<h5 class="modal-title" id="addListApp">
								Tambah Kamus Baru
							</h5>
							<button type="button" class="close reload" data-dismiss="modal" aria-label="Close">
								<span aria-hidden="true">
									&times;
								</span>
							</button>
						</div>
						<div class="modal-body">
							<form action="/bigbox/bigspider/postdictionary" id="addconn"  enctype="multipart/form-data" method="post" class="form-horizontal">
							<input type="hidden" name="id" value="" />
							<input type="hidden" name="pid" value="" />
							<!-- BEGIN FORM-->
							<div class="form-body">
								<div class="m-alert m-alert--icon alert alert-danger m--hide" role="alert" id="alertinfo">
									<div class="m-alert__icon">
										<i class="la la-warning"></i>
									</div>
									<div class="m-alert__text">
										<span id="alertmsg"><strong>Warning!</strong> Something went wrong. Please check.</span>
									</div>
									<div class="m-alert__close">
										<button type="button" class="close" data-close="alert" aria-label="Close"></button>
									</div>
								</div>
								
								<div class='m--hide' id="processbar">
									<div class="progress">
										<div class="progress-bar progress-bar-striped progress-bar-animated " role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
											<span class="sr-only">
												On Process
											</span>
										</div>
									</div>
									<span style="margin:0px auto;">Please wait...processing request</span>
								</div>
								
								<!--h3 class="form-section" id="formtitle">Input Api </h3-->
								
								<div class="row" style="padding:0px 15px;">
									<div class="col-md-6">
										<div class="form-group">
											<label for="kata">Kata</label>
											<input type="text" name="kata" id="kata" class="form-control" placeholder="Kata"  >
											<span class="m-form__help">
											</span>
										</div>
									</div>
									<div class="col-md-offset-1 col-md-6">
										<div class="form-group">
											<label for="topik">Topik</label>
											<select  name="topik" id="topik" class="form-control" placeholder="Topik" >
											<?php 
											foreach ($this->taxonomy as $k3=>$v3) {
											echo '<option value="'.$v3['tid'].'" '.(isset($this->topik["data2"]) && $this->topik["data2"]!="" && $this->topik["data2"]==$v?"selected":"").'>'.$v3['name'].'</option>';    
											}
											?>
											</select>
											<span class="m-form__help">
											</span>
										</div>
									</div>
								</div>
								<div class="row" style="padding:0px 15px;">
									<div class="col-md-6">
										<div class="form-group">
											<label for="sentiment">Sentiment</label>
											<select  name="sentiment" id="sentiment" class="form-control" placeholder="Sentiment" >
												<option value="0">Normal </option>
												<option value="1">Negatif </option>
												<option value="2">Positif </option>
											</select>
											<span class="m-form__help">
											</span>
										</div>
										
									</div>
									
									<div class="col-md-offset-1 col-md-6">
										<div class="form-group">
											<label for="bahasa">Bahasa</label>
											<select name="bahasa" id="bahasa" class="form-control" placeholder="Bahasa" >
												<option value="id">1. Indonesia </option>
												<option value="en">2. English </option>
											</select>
											<span class="m-form__help">
											</span>
										</div>
									</div>
								</div>
								<!--/row-->
							</div>
							<div class="form-actions" style="margin:0px">
							   <div class="row">
								   <div class="col-md-6">
									   <div class="col-md-offset-3 col-md-9">
										   <button type="submit" class="btn btn-accent">Submit</button>
										   <button type="button" type="button" data-dismiss="modal" class="btn btn-secondary">Cancel</button>
									   </div>
								   </div>
								   <div class="col-md-6">
								   </div>
							   </div>
							</div>
							</form>
							<!-- END FORM-->
						</div>
					</div>
				</div>
				<!--div class="modal-footer">
					<button type="button" data-dismiss="modal" class="btn btn-default">Cancel</button>
					<button type="button" data-dismiss="modal" class="btn green">Submit</button>
				</div-->
			</div>
			
			<div id="edit_dict" class="modal fade" tabindex="-1" data-backdrop="static" data-keyboard="false" role="dialog" aria-labelledby="addListapi" aria-hidden="true">
				<div class="modal-dialog modal-lg"" role="document">
					<div class="modal-content">
						<div class="modal-header">
							<h5 class="modal-title" id="addListApp">
								Edit Kamus
							</h5>
							<button type="button" class="close reload" data-dismiss="modal" aria-label="Close">
								<span aria-hidden="true">
									&times;
								</span>
							</button>
						</div>
						<div class="modal-body">
							<form action="/bigbox/bigspider/postdictionary" id="edit_dict"  enctype="multipart/form-data" method="post" class="form-horizontal">
							<input type="hidden" name="id" value="" />
							<input type="hidden" name="pid" value="" />
							<!-- BEGIN FORM-->
							<div class="form-body">
								<div class="m-alert m-alert--icon alert alert-danger m--hide" role="alert" id="alertinfo">
									<div class="m-alert__icon">
										<i class="la la-warning"></i>
									</div>
									<div class="m-alert__text">
										<span id="alertmsg"><strong>Warning!</strong> Something went wrong. Please check.</span>
									</div>
									<div class="m-alert__close">
										<button type="button" class="close" data-close="alert" aria-label="Close"></button>
									</div>
								</div>
								
								<div class='m--hide' id="processbar">
									<div class="progress">
										<div class="progress-bar progress-bar-striped progress-bar-animated " role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
											<span class="sr-only">
												On Process
											</span>
										</div>
									</div>
									<span style="margin:0px auto;">Please wait...processing request</span>
								</div>
								
								<!--h3 class="form-section" id="formtitle">Input Api </h3-->
								
								<div class="row" style="padding:0px 15px;">
									<div class="col-md-6">
										<div class="form-group">
											<label for="kata">Kata</label>
											<input type="text" name="kata" id="katadata" class="form-control" placeholder="Kata"  >
											<span class="m-form__help">
											</span>
										</div>
									</div>
									<div class="col-md-offset-1 col-md-6">
										<div class="form-group">
											<label for="topik">Topik</label>
											<select  name="topik" id="topikdata" class="form-control" placeholder="Topik" >
											<?php 
											foreach ($this->taxonomy as $k3=>$v3) {
												echo '<option value="'.$v3['tid'].'" '.(isset($this->topik["data2"]) && $this->topik["data2"]!="" && $this->topik["data2"]==$v?"selected":"").'>'.$v3['name'].'</option>';    
											}
											?>
											</select>
											<span class="m-form__help">
											</span>
										</div>
									</div>
								</div>
								<div class="row" style="padding:0px 15px;">
									<div class="col-md-6">
										<div class="form-group">
											<label for="sentiment">Sentiment</label>
											<select  name="sentiment" id="sentimentdata" class="form-control" placeholder="Sentiment" >
												<option id="sentimentdata" value="0">Normal </option>
												<option value="1">Negatif </option>
												<option value="2">Positif </option>
											</select>
											<span class="m-form__help">
											</span>
										</div>
										
									</div>
									
									<div class="col-md-offset-1 col-md-6">
										<div class="form-group">
											<label for="bahasa">Bahasa</label>
											<select name="bahasa" id="bahasa" class="form-control" placeholder="Bahasa" >
												<option value="id" <?php echo($this->dictionary['bahasa']=="id"?"selected":""); ?> >1. Indonesia</option>
												<option value="en" <?php echo($this->dictionary['bahasa']=="en"?"selected":""); ?> >2. English</option>
											</select>
											<span class="m-form__help">
											</span>
										</div>
									</div>
								</div>
								<!--/row-->
							</div>
							<div class="form-actions" style="margin:0px">
							   <div class="row">
								   <div class="col-md-6">
									   <div class="col-md-offset-3 col-md-9">
										   <button type="submit" class="btn btn-accent">Submit</button>
										   <button type="button" type="button" data-dismiss="modal" class="btn btn-secondary">Cancel</button>
									   </div>
								   </div>
								   <div class="col-md-6">
								   </div>
							   </div>
							</div>
							</form>
							<!-- END FORM-->
						</div>
					</div>
				</div>
				<!--div class="modal-footer">
					<button type="button" data-dismiss="modal" class="btn btn-default">Cancel</button>
					<button type="button" data-dismiss="modal" class="btn green">Submit</button>
				</div-->
			</div>
	</div>
	
</div>
<script>

var xhr_tema = null;
var xhr = null;
var xhr_gt = null;

function getTopik(id){
	
	if(xhr_gt!=null && xhr_gt!="undefined"){
		xhr_gt.abort;
	}

	var formData = {};

	xhr_gt = $.ajax({  
		type: "GET",
		url: '/domas/home/select456/id/'+id+'/topik/<?php echo $this->varams["topik"]; ?>',
		// url: '/analis/ajax/gettopik/id/'+id+'/topik/<?php echo $this->varams["topik"]; ?>',
		data: formData, //last_id kita berarti 15
		dataType: "html",  //sesuai keinginan, di sini saya pengen ngambil langsung data dalam bentuk html langsung dari file data_per_load.php
		success: function(data){
			//alert("xxx");
			// console.log("ok");
			$("#topik").html(data);
		}
	});

}

jQuery(document).ready(function(){
	getTopik(<?php echo $this->cat["Ideologi"] ?>);
});
</script>