<?php //Zend_Debug::dump(unserialize($this->data['attrs'])); die();?>
<div class="m-grid__item m-grid__item--fluid m-wrapper">
	<div class="m-subheader ">
		<div class="d-flex align-items-center">
			<div class="mr-auto">
				<h3 class="m-subheader__title m-subheader__title--separator">
					One Page Crawl
				</h3>
			</div>
			
		</div>
	</div>
	<div class="m-content">
		<!--::Portlet-->
			<div class="m-portlet" id="form_wizard_1">
				<div class="m-portlet__body">
					 <div class="alert alert-danger m--hide">
						<button class="close" data-dismiss="alert"></button> You have some form errors. Please check below. 
					</div>
					<div class="alert alert-success m--hide">
						<button class="close" data-dismiss="alert"></button> Your form validation is successful! 
					</div>
					<form id="additional" >  
					<input type="hidden"  value="<?php echo $this->data['id']; ?>" name="id" />
					<div class='row'>
						<div class='col-md-12'>
							<div class="form-group">
								<label class="control-label col-md-3">Name</label>
								<div class="col-md-12">
									<input type="text" class="form-control" value="<?php echo $this->data['cname']; ?>" name="xname" />
									<span class="help-block"> </span>
								</div>
							</div>       
						</div>
						<div class='col-md-12'>
							<div class="form-group">
								<label class="control-label col-md-3">Url</label>
								<div class="col-md-12">
									<input type="text" class="form-control"  value="<?php echo $this->data['target_url']; ?>"  name="xurl" />
									<span class="help-block"> </span>
								</div>
							</div>
						</div>
					</div>
					<div class='row'>
						<div class='col-md-6'>
							<div class="form-group">
								<label class="control-label col-md-3">Title</label>
								<div class="col-md-12">
									<input type="text"  value="<?php echo $this->data['title']; ?>" class="form-control" name="docname" />
									<span class="help-block"> </span>
								</div>
							</div>
						</div>
						<div class="col-md-6">
							<div class="form-group">
								<div class="input-icon right">
									<label class="control-label col-md-12">Choose Type</label>
									<div class="col-md-12">
									<select class="form-control input-sm valid" name="title_type" placeholder="Type">
										<option value="">Choose Type</option>
										<option <?php if($this->data['title_type']=='string'){echo "selected";} ?> value="string">String</option>
										<option <?php if($this->data['title_type']=='xpath'){echo "selected";} ?> value="xpath">Xpath Query</option>
										<option <?php if($this->data['title_type']=='css'){echo "selected";} ?> value="css">CSS Query</option>
									</select>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class='row'>
						<div class="col-md-6">
							<div class="form-group">
								<label class="control-label col-md-3">Content</label>
								<div class="col-md-12">
									<input type="text" class="form-control" value="<?php echo $this->data['content']	; ?>" name="doc_desc" />
									<span class="help-block"> </span>
								</div>
							</div>
						</div>
						<div class="col-md-6">
							<div class="form-group">
								<div class="input-icon right">
									<label class="control-label col-md-12">Choose Type</label>
									<div class="col-md-12">
										<select class="form-control input-sm valid" name="doc_type" placeholder="Type">
											<option  value="">Choose Type</option>
											<option <?php if($this->data['content_type']=='string'){echo "selected";} ?> value="string">String</option>
											<option <?php if($this->data['content_type']=='xpath'){echo "selected";} ?> value="xpath">Xpath Query</option>
											<option <?php if($this->data['content_type']=='css'){echo "selected";} ?> value="css">CSS Query</option>
										</select>
									</div>
								</div>
							</div>
						</div>
					</div>
                    <div class="row">
						<div class='col-md-12'>
                        <?php 
                        //if($this->data['fname'])
                        $vf = unserialize($this->data['attrs']);
                        
                        $mc=count($vf['fname']);
                        if(count($vf['fname'])==0){$mc=1;}
                        for ($cnt=0;$cnt<=$mc-1;$cnt++) { ?>            
                        <div class="form-group  bread" id="bread<?php echo $mc+$cnt;  ?>" data-id="<?php echo $mc+$cnt;  ?>">
                            <div class="col-md-12">
                                <div class='row'>
									<div class="col-md-3">
										<div class="input-icon right">
											<input class="form-control input-sm" value="<?php echo $vf['fname'][$cnt]; ?>" name="fname[]" placeholder="Field Name">

										</div>
									</div>
									<div class="col-md-3">
										<div class="input-icon right">

											<select class="form-control input-sm valid" name="ftype[]" placeholder="Type">
												<option value="">Choose Type</option>
												<option <?php if($vf['ftype'][$cnt]=='string'){echo "selected";} ?> value="string">String</option>
												<option <?php if($vf['ftype'][$cnt]=='xpath'){echo "selected";} ?> value="xpath">Xpath Query</option>
												<option <?php if($vf['ftype'][$cnt]=='css'){echo "selected";} ?> value="css">CSS Query</option>
											</select>
										</div>
									</div>
									<div class="col-md-3">
										<div class="input-icon right">
											<input class="form-control input-sm" value="<?php echo $vf['fvalue'][$cnt]; ?>" name="fvalue[]" placeholder="Value(dateformat: 1995-12-31 23:59:59)">
										</div>	
									</div>
									 <div class="col-md-3" style='padding-left:21px;padding-top:5px'>
										<button type="button" class="btn btn-sm btn-accent addGC2" onclick="addGC2(this);return false;" data-act="addGC2" data-id="<?php echo $mc+$cnt;  ?>">Add</button>
									</div>
								</div>
                            </div>
                        </div>
                        <?php  }?>
						</div>
					</div>
					<div class="row">
					<div class="col-md-12">
						<div class="form-actions">
							<div class="col-md-offset-3 col-md-12">
								<a href="javascript:;" class="btn btn-accent button-submit"> Submit <i class="fa fa-check"></i></a>
								<a  href="javascript:history.back()"  class="btn btn-default">Cancel</a>
							</div>
						</div>
					</div>
					</div>
                    </form>
				</div>
			</div>
	</div>
</div>

<script>

var gamasidx2 = <?php echo $mc;  ?>;
var elem = <?php echo $mc;  ?>;

function addGC2(me) {
var id = $(me).data('id');
var currow = $('body').find('.bread:last');
var str = '<div class="form-group row bread" id="bread' + (parseInt(gamasidx2) + 1) + '" data-id="' + (parseInt(gamasidx2) + 1) + '" >'
+ '<div class="col-md-12">'
+ '<div class="row">'
+ '<div class="col-md-3">'
+ '<input  class="form-control input-sm" name="fname[]" placeholder="Field Name"  />'
+ '</div>'
+ '<div class="col-md-3">'
+ '<select class = "form-control input-sm" name = "ftype[]"  placeholder = "Type" >'
+ '<option value = "" > Choose Type</option>'
+ '<option value = "string">String</option>'
+ '<option value = "xpath">Xpath Query</option>'
+ '<option value = "css">Css Query</option>'
+ ' </select>'
+ '</div>'
+ '<div class="col-md-3">'
+ '<input   class="form-control input-sm"  name="fvalue[]" placeholder="Value (dateformat: 1995-12-31 23:59:59)" />'
+ '</div>'
+ '<div class="col-md-3">'
+ '<button type="button" class="btn btn-sm btn-danger removeGC2" onclick="removeGC2(this); return false;" data-act="removeGC2" data-id="' + (parseInt(gamasidx2) + 1) + '" style="padding: 5px;">Remove</button>'
+ '</div>'
+ '</div>'
+ '</div>'

+ '</div>';
gamasidx2++;
//console.log(str);
currow.after(str);
}


function removeGC2(me) {
var id = $(me).data('id');
//console.log(id);
$('body').find('#bread' + id + ':first').remove();
}

</script>
