<?php 
#Zend_Debug::dump($this->menu);
//die();

?>

 <!-- BEGIN SIDEBAR -->
            <div class="page-sidebar-wrapper">
                <!-- BEGIN SIDEBAR -->
                <!-- DOC: Set data-auto-scroll="false" to disable the sidebar from auto scrolling/focusing -->
                <!-- DOC: Change data-auto-speed="200" to adjust the sub menu slide up/down speed -->
                <div class="page-sidebar navbar-collapse collapse">
                    <!-- BEGIN SIDEBAR MENU -->
                    <!-- DOC: Apply "page-sidebar-menu-light" class right after "page-sidebar-menu" to enable light sidebar menu style(without borders) -->
                    <!-- DOC: Apply "page-sidebar-menu-hover-submenu" class right after "page-sidebar-menu" to enable hoverable(hover vs accordion) sub menu mode -->
                    <!-- DOC: Apply "page-sidebar-menu-closed" class right after "page-sidebar-menu" to collapse("page-sidebar-closed" class must be applied to the body element) the sidebar sub menu mode -->
                    <!-- DOC: Set data-auto-scroll="false" to disable the sidebar from auto scrolling/focusing -->
                    <!-- DOC: Set data-keep-expand="true" to keep the submenues expanded -->
                    <!-- DOC: Set data-auto-speed="200" to adjust the sub menu slide up/down speed -->
                    <ul class="page-sidebar-menu  page-header-fixed " data-keep-expanded="false" data-auto-scroll="true" data-slide-speed="200" style="padding-top: 20px">
                        <!-- DOC: To remove the sidebar toggler from the sidebar you just need to completely remove the below "sidebar-toggler-wrapper" LI element -->
                        <li class="sidebar-toggler-wrapper hide">
                            <!-- BEGIN SIDEBAR TOGGLER BUTTON -->
                            <div class="sidebar-toggler">
                                <span></span>
                            </div>
                            <!-- END SIDEBAR TOGGLER BUTTON -->
                        </li>
                        <!-- DOC: To remove the search box from the sidebar you just need to completely remove the below "sidebar-search-wrapper" LI element -->
                        
                     
						
						<?php 
						foreach($this->menu as $k=>$v) {
								if($v['CLASS']==null || $v['CLASS']==''){
									$v['CLASS']='icon-folder';
								}
								if(count($v['CHILD'])>0!="" && $v['CHILD']!=null && is_array($v['CHILD']) &&$v['IS_ACTIVE']==1 ){
									echo '<li class="nav-item">
										<a href="javascript:;" class="nav-link nav-toggle">
											<i class="'.$v['CLASS'].'"></i>
											<span class="title">'.$v['MENU_NAME'].'</span>
											<span class="arrow "></span>
										</a>';
								

								echo '<ul class="sub-menu">';
								
								foreach  ($v['CHILD'] as $k2=>$v2 ) {	
									if($v2['CLASS']==null || $v2['CLASS']==''){
										$v2['CLASS']='icon-folder';
								}
                               // Zend_Debug::dump($v2['CHILD']);
								
								if($v2['CHILD']!="child" && $v2['CHILD']!=null && is_array($v2['CHILD'])){		
								
								echo '<li class="nav-item">
                                    <a href="javascript:;" class="nav-link nav-toggle">
                                        <i class="'.$v2['CLASS'].'"></i> '.$v2['MENU_NAME'].'
                                        <span class="arrow"></span>
                                    </a>';
								

								echo '<ul class="sub-menu">';
								foreach  ($v2['CHILD'] as $k3=>$v3 ) {
								if($v3['CLASS']==null || $v3['CLASS']==''){
								$v3['CLASS']='icon-folder';
								}
								if($v3['CHILD']!="" && $v3['CHILD']!=null && is_array($v3['CHILD'])){	
									
									
								echo  '<li class="nav-item">
                                    <a href="javascript:;" class="nav-link nav-toggle">
                                        <i class="'.$v3['CLASS'].'"></i> '.$v3['MENU_NAME'].'
                                        <span class="arrow"></span>
                                    </a>';
								
												

								echo '<ul class="sub-menu">';
								foreach  ($v3['CHILD'] as $k4=>$v4 ) {
								if($v4['CLASS']==null || $v4['class']==''){
									$v4['CLASS']='icon-folder';
								}
									echo '<li class="nav-item">
										<a href="'.$v4['MENU_LINK'].'" class="nav-link">
											<i class="'.$v4['CLASS'].'"></i> '.$v4['MENU_NAME'].'</a>
										</li>';
								
								}
								echo '</ul>';
								echo '</li>';
								}else{
								echo '<li class="nav-item">
										<a href="'.$v3['MENU_LINK'].'" class="nav-link">
											<i class="'.$v3['CLASS'].'"></i> '.$v3['MENU_NAME'].'</a>
										</li>';
								}
								}
								echo '</ul>';
								echo '</li>';
								}else{
										echo '<li class="nav-item">
										<a href="'.$v2['MENU_LINK'].'" class="nav-link">
											<i class="'.$v2['CLASS'].'"></i> '.$v2['MENU_NAME'].'</a>
										</li>';
								}

								}
								echo '</ul>';
								echo '</li>';
								}else if ($v['IS_ACTIVE']==1){
									echo '<li class="nav-item">
										<a href="'.$v['MENU_LINK'].'" class="nav-link">
											<i class="'.$v['CLASS'].'"></i> '.$v['MENU_NAME'].'</a>
										</li>';
								}
						} 
						?>
                       
                    </ul>
                    <!-- END SIDEBAR MENU -->
                    <!-- END SIDEBAR MENU -->
                </div>
                <!-- END SIDEBAR -->
            </div>
            <!-- END SIDEBAR -->
