
<div class="page-content">

<!-- BEGIN PAGE HEADER-->
<div class="row">
	<div class="col-md-12">
		<!-- BEGIN PAGE TITLE & BREADCRUMB-->
		<h3 class="page-title">
		Edit Api <small>PrabaCore</small>
		</h3>
		<ul class="page-breadcrumb breadcrumb">
			<li>
				<i class="fa fa-rss"></i>
				<a href="/">PrabaCore</a>
				<i class="fa fa-angle-right"></i>
			</li>
			<li>
				<i class="fa fa-cogs"></i>
				<a href="/">Prabaeditor</a>
				<i class="fa fa-angle-right"></i>
			</li>
			
			<li>
				<i class="fa fa-user"></i>
				Edit Api
			</li>
			<!--li class="btn-group pull-right">
				<button type="button" class="btn red">
					<span>
				<?php echo Zend_Auth::getInstance()->getIdentity()->fullname; ?>
					</span>
				</button>
			</li-->
		</ul>
		<!-- END PAGE TITLE & BREADCRUMB-->
	</div>
</div>
<!-- END PAGE HEADER-->

<div class="row">
	<div class="col-md-12">
	<!-- BEGIN EXAMPLE TABLE PORTLET-->

					
					
					<div style="height:99%">
<div style="margin-right:auto; margin-left:auto; text-align:center;height:10%;">

</div>
<!-- begin: main content area #main -->
<div id="main" style="height:85%;">

<div id="tabs" >


<div id="tabs-1" style="text-align: left;">
<div id="formBuilderMenu" style="float:left; z-index: 500; margin-left: -10px; margin-right:15px; width: 145px; border:2px solid #D0D0D0; background-color: #f0f0f0;">
	<ul id="rbMenu" class="rb_menu">
		<li id="Label"><img src="/assets/core/builder/img/new_label.png"> Label</li>
		<!--
		<li id="Image"><img src="/assets/core/builder/img/new_image.png"> Image</li>
		-->		
		<li id="Text"><img src="/assets/core/builder/img/new_text.png"> Input Text</li>
		<li id="Password"><img src="/assets/core/builder/img/new_password.png"> Password</li>
		<li id="TextArea"><img src="/assets/core/builder/img/new_textarea.png"> TextArea</li>
		<li id="Radio"><img src="/assets/core/builder/img/new_radio.png"> Radio Button</li>
		<li id="Checkbox"><img src="/assets/core/builder/img/new_checkbox.png"> Checkbox</li>
		<li id="Select"><img src="/assets/core/builder/img/new_select.png">Select</li>
		<li id="Liste"><img src="/assets/core/builder/img/new_list.png"> Multi select</li>
		<!--<li id="File"><img src="/assets/core/builder/img/new_file.png"> File</li>-->
		<li id="Date"><img src="/assets/core/builder/img/new_date_picker.png"> DatePicker </li>			
		<li id="Button"><img src="/assets/core/builder/img/new_button.png"> Button </li>		
		<!--<li id="Wizard"><img src="/assets/core/builder/img/new_wizard.png"> Panel </li>-->		
	</ul>
	<hr/>
	<ul id="rbMenu2" class="rb_menu">
		<li id="formElemEdit"><img src="/assets/core/builder/img/property.png"> Edit </li>	
		<li id="formElemDelete"><img src="/assets/core/builder/img/delete.png"> Delete</li>			
	</ul>
	<hr/>
	<ul id="rbMenu3" class="rb_menu">
		<li id="formEdit"><img src="/assets/core/builder/img/property.png"> Edit Form </li>	
		<li id="formAddCol"><img src="/assets/core/builder/img/property.png"> Add Col </li>	
	</ul>
	<hr/>      
	<ul id="rbMenu4" class="rb_menu">
		<li id="loadXml"><img src="/assets/core/builder/img/load_xml.png"> Load</li>
		<li id="saveXml"><img src="/assets/core/builder/img/save_xml.png"> Save</li>	
	</ul>
</div>
<div id="main-f1" style="margin-left:170px;background-color:#f8f8f8;"></div>
</div>

</div><!-- fin id tabs -->

<div id="dialog_form" title="Form Definition"></div>
<div id="dialog_col"  title="Column definition"></div>
<div id="dialog_elt"  title="Input zone definition"></div>
<div id="dialog_file" title="Load a form"></div>

</div> <!-- fin : main  area #main -->


</div>
<script type="text/javascript">
var selected = null ;

jQuery(document).ready(
 function()
 { 
	jQuery.datepicker.setDefaults(jQuery.extend({showMonthAfterYear: false}, jQuery.datepicker.regional['fr']));
	
	
	jQuery("#main-f1").resizable(
		{
			stop: function(event, ui) { 
				
				if (rblFormArray[ IDFORM ]) {
					if ( ui.size.width  != ui.originalSize.width)  {
						rblFormArray[ IDFORM ].e_width  = ( ui.size.width - 20 ) + "px" ;
					}
					if ( ui.size.height  != ui.originalSize.height)  {
						rblFormArray[ IDFORM ].e_height = ( ui.size.height - 40  ) + "px";
					}
					rblFormArray[ IDFORM ].drawForm() ;
				}
			}
		}	
	) ;	

	jQuery("#menu_elt").dialog({
		autoOpen: true,
		width: 180,
		position: [0, 128],
		resizable: false,
		modal: false
	 });
		
	jQuery("#dialog_form").dialog({
		bgiframe: true,
		autoOpen: false,
		height: 450,
		modal: true,
		buttons: {
			'Save': function() {
				var bValid = true;
				
				if (bValid) {
					saveFormPanel(  ) ;
	
					jQuery(this).dialog('close');
				}
			},
			Cancel: function() {
				jQuery(this).dialog('close');
			}
		},
		close: function() {
			//allFields.val('').removeClass('ui-state-error');
		}
	});

	jQuery("#dialog_file").dialog({
		bgiframe: true,
		autoOpen: false,
		height: 200,
		modal: true,
		buttons: {
			'Ouvrir': function() {
				var bVal = jQuery("#x_file").val();
				
				if (bVal && bVal.length > 0) {
					load_xml( bVal ) ;
					jQuery(this).dialog('close');
				} 
			},
			Cancel: function() {
				jQuery(this).dialog('close');
			}
		},
		close: function() {
			//allFields.val('').removeClass('ui-state-error');
		}
	});	
	jQuery("#dialog_col").dialog({
		bgiframe: true,
		autoOpen: false,
		height: 400,
		modal: true,
		buttons: {
			'Save': function() {
				var bValid = true;
				
				if (bValid) {
					saveColPanel( jQuery("#c_id").val() ) ;
	
					jQuery(this).dialog('close');
				}
			},
			Cancel: function() {
				jQuery(this).dialog('close');
			}
		},
		close: function() {
			//allFields.val('').removeClass('ui-state-error');
		}
	});
	
	jQuery("#dialog_elt").dialog({
		bgiframe: true,
		autoOpen: false,
		height: 620,
		width: 480,
		modal: true,
		buttons: {
			'Save': function() {
				var bValid = true;
				var _no = jQuery("#e_id").val() ;
				
				if (bValid) {
					saveInputPanel( _no ) ;

					jQuery(this).dialog('close');
				}
			},
			Cancel: function() {
				jQuery(this).dialog('close');
			}
		},
		close: function() {
			//allFields.val('').removeClass('ui-state-error');
		}
	});
	
	jQuery('#formEdit')      .click(function() { showFormPanel()	;});
	jQuery('#formAddCol')    .click(function() { addCol()			;});
	jQuery('#formElemEdit')  .click(function() { showControlPanel()	;});
	jQuery('#formElemDelete').click(function() { deleteElement()   	;});
	jQuery('#loadXml')		 .click(function() { showFilePanel( )	;});
	jQuery('#saveXml')		 .click(function() { save_xml()		 	;});
	
	initDrop() ;
		
	jQuery(".connectedSortable").resizable() ;
		
	enableRowSelectable(".connectedSortable li") ;

	initFormData() ;
	addCol() ;
});
</script>
					
		

	</div>
</div>

</div>

<style>
.rb_menu {
  background-color: transparent;
  margin-top:     0px;
  margin-bottom:  0px;
  margin-left:    0px;
  margin-right:   0px;
  
  padding-bottom: 0px;
  padding-top:    0px;
  padding-right:  1px;
  padding-left:   1px;
  width:        150px;
}
.rb_menu li {
  padding-bottom: 3px;
  padding-top:    3px;
  vertical-align: middle;
  list-style:	  none;
}
.rb_menu li:hover {
  background-color: #2020AF;
  color: #F0FF00;
}
.rb_menu img {
   vertical-align: middle;
}


#sortable1 .selected { border-right: 3px solid red; }
#sortable2 .selected { border-right: 3px solid red; }
#sortable3 .selected { border-right: 3px solid red; }
#sortable4 .selected { border-right: 3px solid red; }

.p-1-col { width: 95% ; }
.p-2-col { width: 45% ; }
.p-3-col { width: 31% ; }


.connectedSortable  {
	list-style: 	none;
	float: 			left; 
	margin-top:      2px;
	margin-right:    2px;
}

.connectedSortable li {
	display: block;
	padding-top:    8px; 
	padding-bottom: 8px; 
	margin-bottom:  2px;
	/* width:       	  95% ; */
	/* background-color: #e8e8e8; */
	background-color: transparent ;
}

.connectedSortable li.elt_head {
	padding-top:    2px; 
	padding-bottom: 2px; 
	margin-right:  2px;
	margin-left:   2px;
	background-color: #cfcf60;
	text-align: left;
	color: #2020f0;
}

.connectedSortable li img.handle{
	cursor: move;
	float: right; 
}


.mxml {
	width: 99%; 
	height: 88%;
	padding: 6px; 
	overflow: auto;
	background-color: #e1e4f2;
	background-image: none;
	background-repeat: repeat;
	background-attachment: scroll;
	background-position: 0% 0%;
	color: #000000;
}

</style>

<script>
jQuery(document).ready(function() {
$('body').addClass('page-header-fixed page-sidebar-fixed page-footer-fixed');
App.init();
});

</script>
