<?php
	$params=array();
	foreach($this->params as $v) 
	{
		$params[$v['value_param']] = $v['display_param'];	
		
	}
	$conns=array();
	foreach($this->conns as $v) 
	{
		$conns[$v['conn_name']] = $v['conn_name'];	
		
	}
//Zend_Debug::dump($this->data);die();

$arbread = unserialize($this->data['breadcrumb']);
$arel = unserialize($this->data['element']);
//	Zend_Debug::dump(($arel));die();
//$cntr = 0;
if(count($arel)>0)
{
	if($this->varams['row']<=count($arel))
	{
		//$this->varams['row']=count($arel);
	}
}

?>
<div class="page-content">

<!-- BEGIN PAGE HEADER-->
<div class="row">
	<div class="col-md-12">
		<!-- BEGIN PAGE TITLE & BREADCRUMB-->
		<h3 class="page-title">
		Edit Page <small>PrabaCore</small>
		</h3>
		<ul class="page-breadcrumb breadcrumb">
			<li>
				<i class="fa fa-rss"></i>
				<a href="/">PrabaCore</a>
				<i class="fa fa-angle-right"></i>
			</li>
			<li>
				<i class="fa fa-cogs"></i>
				<a href="/">Prabaeditor</a>
				<i class="fa fa-angle-right"></i>
			</li>
			
			<li>
				<i class="fa fa-user"></i>
				Add Page
			</li>
			<!--li class="btn-group pull-right">
				<button type="button" class="btn red">
					<span>
				<?php echo Zend_Auth::getInstance()->getIdentity()->fullname; ?>
					</span>
				</button>
			</li-->
		</ul>
		<!-- END PAGE TITLE & BREADCRUMB-->
	</div>
</div>
<!-- END PAGE HEADER-->

<div class="row">
	<div class="col-md-12">
	<!-- BEGIN EXAMPLE TABLE PORTLET-->
	<div class="portlet box grey" style="margin:0px">
		<div class="portlet-title">
			<div class="caption">
				Edit Page
			</div>
			 <div class="actions">
				 <!--a href="#" class="btn reload" data-dismiss="modal"><i class="fa fa-times"></i></a-->
			 </div>
			<div class="tools">
			</div>
		</div>
		<div class="portlet-body" style="padding:15px">
							<form action="" class="form-horizontal" id="addapi" method="post">
							<input type="hidden" name="id" value="<?php echo $this->data['id'];?>" />
							<input type="hidden" name="pid" value="" />
							<!-- BEGIN FORM-->
							<div class="form-body">
								<div class="alert alert-success alert-dismissable hidden" id="alertinfo">
									<button type="button" class="close" data-dismiss="alert" aria-hidden="true"></button>
									<span id="alertmsg"><strong>Warning!</strong> Something went wrong. Please check.</span>
								</div>
								
								<div style="margin:0px auto;text-align:center" id="processbar" class="hidden">
									<div class="progress progress-striped active" style="margin:0px auto;text-align:center">
										<div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
											<span class="sr-only">
												On Process
											</span>
										</div>
									</div>
									<span style="margin:0px auto;">Please wait...processing request</span>
								</div>
								
								<div class="row" style="padding:0px 15px;">
			
				<div class="col-md-12">
				
					<div class="form-group">
						<label >Portlets</label>
					
					</div>
						
					<div class="col-md-3">
						<div class="form-group">
							<label >NumRows</label>
							<select id=jml  placeholder="Col1"  name=jml class="form-control">
						
							<option <?php echo  ($this->varams['row']=='1')?  "selected":""; ?> value=1>1</option>
							<option <?php echo  ($this->varams['row']=='2')?  "selected":""; ?> value=2>2</option>
							<option <?php echo  ($this->varams['row']=='3')?   "selected":""; ?> value=3>3</option>
							<option <?php echo  ($this->varams['row']=='4')?   "selected":""; ?> value=4>4</option>
							<option <?php echo  ($this->varams['row']=='5')?  "selected":""; ?> value=5>5</option>
							<option <?php echo  ($this->varams['row']=='6')?  "selected":""; ?> value=6>6</option>
							</select>
						
						</div>
					</div>
					
					<div class="form-group  element" id="element1" data-id="1">
						
							<?php for($i=1;$i<=$this->varams['row'];$i++) { ?>
							<div class="col-md-12">
								<div class="col-md-2">
									<input type="hidden"  name="col1[]" value="<?php echo $arel[$i][1]; ?>" placeholder="Col1" class="select2_sample6 form-control select2">
								</div>	
								<div class="col-md-2">
									<input type="hidden"  name="col2[]" value="<?php echo  $arel[$i][2]; ?>" placeholder="Col2" id="idxc" class="select2_sample6 form-control select2">
								</div>	
								<div class="col-md-2">
									<input type="hidden"  name="col3[]" value="<?php echo  $arel[$i][3]; ?>" placeholder="Col3" class="select2_sample6 form-control select2">
								</div>	
								<div class="col-md-2">
									<input type="hidden"  name="col4[]" value="<?php echo $arel[$i][4]; ?>" placeholder="Col4" class="select2_sample6 form-control select2">
								</div>	
								<div class="col-md-2">
									<input type="hidden"  name="col5[]" value="<?php echo $arel[$i][5] ?>" placeholder="Col5" class="select2_sample6 form-control select2">
								</div>	
								<div class="col-md-2">
									<input type="hidden"  name="col6[]" value="<?php echo $arel[$i][6] ?>" placeholder="Col6" class="select2_sample6 form-control select2">
								</div>		
									
							</div>
							
							<?php } ?>
							
							
					</div>
				</div>
				
			</div>
								<div class="row" style="padding:0px 15px;">
									<div class="col-md-5">
										<div class="form-group">
											<label for="pagealias">Page Alias</label>
											<input type="text" name="pagealias" id="pagealias" class="form-control" placeholder="Page Alias"  value="<?php echo $this->data['name_alias'];?>">
											<span class="help-block">
												<span class="label label-danger"><i class="fa fa-warning"> </i>This is inline help</span>
											</span>
										</div>
									</div>
									<div class="col-md-offset-1 col-md-5">
										<div class="form-group">
											<label for="title">Title</label>
											<input type="text" name="title" id="title" class="form-control" placeholder="Title" value="<?php echo $this->data['title'];?>">
											<span class="help-block">
												<span class="label label-danger"><i class="fa fa-warning"> </i>This is inline help</span>
											</span>
										</div>
									</div>
								</div>
								
								
								
			<div class="row" style="padding:0px 15px;">
				<div class="col-md-12">
					<div class="form-group">
						<label >Breadcrump</label>
					</div>
					<?php 
					$x=1;
					foreach($arbread as $k=>$v ) {?>
					<div class="form-group  breadcrump" id="breadcrump<?php echo $x;?>" data-id="<?php echo $x;?>">
							<div class="col-md-10">
								<div class="col-md-4">
									<input class="form-control input-sm" name="name[]" placeholder="Name" value="<?php echo $v['name'];?>">
									
								</div>
								<div class="col-md-4">
								
									<input class="form-control input-sm" name="href[]" value="<?php echo $v['name'];?>" placeholder="Href">
								</div>
								<div class="col-md-4">
								
									<input class="form-control input-sm"  value="<?php echo $v['class'];?>" name="class[]" placeholder="Class">
								</div>
							</div>
							<?php if($x==count($arbread)){?>
							<div class="col-md-2">
								<button type="button" class="btn grey addGC" onclick="addGC(this); return false;" data-act="addGC" data-id="<?php echo $x;?>" style="padding: 5px;">Add</button>
							</div>
							<?php } ?>
					</div>
					<?php 
					$x++;
					} ?>
					
					
				</div>
			</div>	
			
			
								
								
			<div class="row" style="padding:0px 15px;">
				<div class="col-md-5">
				
					<div class="form-group">
						<label for="layout">Layout</label>
						<select  name="layout" id="layout" class="form-control" placeholder="Layout Id" >
						<?php 
						
						foreach($this->lay as $k=>$v) 
						{
							if($k==$this->data['layout_id']){$sel = "selected";}else{$sel = "";}
							echo "<option $sel value='".$k."'>".$v."</option>";	
						}
						?>
						
						</select>
						
						<span class="help-block">
							<span class="label label-danger"><i class="fa fa-warning"> </i>This is inline help</span>
						</span>
					</div>
					
				</div>
				
				<div class="col-md-offset-1 col-md-5">
					<div class="form-group">
						<label for="workspace">Workspace</label>
						<select  name="workspace" id="workspace" class="form-control" placeholder="Workspace" >
						<?php 
						foreach($this->ws as $k=>$v) 
						{
							if($k==$this->data['workspace_id']){$sel = "selected";}else{$sel = "";}
							echo "<option $sel value='".$k."'>".$v."</option>";	
						}
						?>
						</select>
						
						<span class="help-block">
							<span class="label label-danger"><i class="fa fa-warning"> </i>This is inline help</span>
						</span>
					</div>
				</div>
			</div>
			
			<div class="row" style="padding:0px 15px;">
				<div class="col-md-5">
				
					<div class="form-group">
						<label for="apitype">App</label>
						<select  name="app" id="app" class="form-control" placeholder="App" >
						<?php 
						foreach ($this->apps as $k=>$var) 
						{
							if($k==$this->data['app_id']){$sel = "selected";}else{$sel = "";}
							echo "<option $sel value='".$k."'>".$var."</option>";	
							
							
						}
						?>
						
						</select>
						
						<span class="help-block">
							<span class="label label-danger"><i class="fa fa-warning"> </i>This is inline help</span>
						</span>
					</div>
					
				</div>
			  
			</div>
			
								<!--/row-->
							</div>
							<div class="form-actions" style="margin:0px">
							   <div class="row">
								   <div class="col-md-6">
									   <div class="col-md-offset-3 col-md-9">
										   <button type="submit" class="btn green">Submit</button>
										   <button type="button" type="button" data-dismiss="modal" class="btn default">Cancel</button>
									   </div>
								   </div>
								   <div class="col-md-6">
								   </div>
							   </div>
							</div>
							</form>
							<!-- END FORM-->
						</div>
	</div>
				
	<!-- END EXAMPLE TABLE PORTLET-->
	</div>
</div>

</div>

<script>
var gamasidx2=1;
var elem=1;


function addEl(me){
	var id = $(me).data('id');
	var currow = $('body').find('.element:last');

<?php
echo 'var str = \'<div class="form-group row element" id="element\'+(parseInt(elem)+1)+\'" data-id="\'+(parseInt(gamasidx2)+1)+\'" >\'
							
						+\'<div class="col-md-10">\'
								+\'<div class="col-md-4">\'
									+\'<input type="hidden" class="select2_sample6 form-control select2" name="col1[]" placeholder="Col1">\'
									+\'<br>\'
									+\'<input class="form-control input-sm" name="col4[]" placeholder="Col4">\'
								+\'</div>\'
								+\'<div class="col-md-4">\'
									+\'<input class="form-control input-sm" name="col2[]" placeholder="Col2">\'
									+\'<br>\'
									+\'<input class="form-control input-sm" name="col5[]" placeholder="Col5">\'
								+\'</div>\'
								+\'<div class="col-md-4">\'
									+\'<input class="form-control input-sm" name="col3[]" placeholder="Col3">\'
									+\'<br>\'
									+\'<input class="form-control input-sm" name="col6[]" placeholder="Col6">\'
								+\'</div>\'
							+\'</div>\'
							
					+\'<div class="col-md-2">\'
						+\'<button type="button" class="btn red removeEl" onclick="removeEl(this); return false;" data-act="removeEl" data-id="\'+(parseInt(elem)+1)+\'" style="padding: 5px;">Remove</button>\'
					+\'</div>\'
				+\'</div>\';';
?>
	elem++;
	//console.log(str);
	currow.after(str);
}

function addGC(me){
	var id = $(me).data('id');
	var currow = $('body').find('.breadcrump:last');

<?php
echo 'var str = \'<div class="form-group row breadcrump" id="breadcrump\'+(parseInt(gamasidx2)+1)+\'" data-id="\'+(parseInt(gamasidx2)+1)+\'" >\'
					+\'<div class="col-md-10">\'
						+\'<div class="col-md-4">\'
							+\'<input   class="form-control input-sm"  name="name[]"  placeholder="Name" />\'
						+\'</div>\'
						+\'<div class="col-md-4">\'
							+\'<input   class="form-control input-sm"  name="href[]" placeholder="Href" />\'
						+\'</div>\'
						+\'<div class="col-md-4">\'
							+\'<input   class="form-control input-sm"  name="class[]" placeholder="Class" />\'
						+\'</div>\'
					+\'</div>\'
					+\'<div class="col-md-2">\'
						+\'<button type="button" class="btn red removeGC" onclick="removeGC(this); return false;" data-act="removeGC" data-id="\'+(parseInt(gamasidx2)+1)+\'" style="padding: 5px;">Remove</button>\'
					+\'</div>\'
				+\'</div>\';';
?>
	gamasidx2++;
	//console.log(str);
	currow.after(str);
}


function removeGC(me){
	var id = $(me).data('id');
	//console.log(id);
	$('body').find('#breadcrump'+id+':first').remove();
}

function removeEl(me){
	var id = $(me).data('id');
	//console.log(id);
	$('body').find('#element'+id+':first').remove();
}

jQuery(document).ready(function() {





var EditApi = function () {
	
	var handleAdd = function() {

		$('form#addapi').validate({
	            //errorElement: 'span', //default input error message container
	            //errorClass: 'label-danger', // default input error message class
	            focusInvalid: false, // do not focus the last invalid input
	            rules: {
	                pagealias: {
	                    required: true
	                },
	                title: {
	                    required: true
	                }
	            },
	         

	            messages: {
					
	            },

	            invalidHandler: function (event, validator) { //display error alert on form submit   
	                //$('.alert-danger', $('.login-form')).show();
	                //console.log(event);
	                //console.log(validator);
	                
					//$('span.help-block').show();
					$('span.help-block').hide();
	                var errorlist = validator.errorList;
	                if(errorlist.length>0){
						for(var i = 0; i<errorlist.length; i++){
							//console.log(errorlist[i].element);
							var el = errorlist[i].element; 
							var next = $(el).next('span.help-block'); 
							$(next).slideDown();
						}
						$('html,body').animate({
							scrollTop: $(el).offset().top-100
						}, 800);
					}
	            },

	            highlight: function (element) { // hightlight error inputs
	                $(element)
	                    .closest('.form-group').addClass('has-error'); // set error class to the control group
	            },

	            success: function (label) {
	                label.closest('.form-group').removeClass('has-error');
	                //label.remove();
	            },

	            errorPlacement: function (error, element) {
					$('span.help-block').hide();
					var next = element.next('span.help-block'); 
					//console.log(error);
	                if(error[0].textContent!=""){
						$(next).children('span.label').html("<i class='fa fa-warning'></i> "+ error[0].textContent);
						$(element).next().slideDown();
						$('html,body').animate({
							scrollTop: $(element).offset().top-100
						}, 800);
					}
	            },

	            submitHandler: function (form) {
					$('span.help-block').hide();
					$('.form-group').removeClass('has-error');
	                //form.submit(); // form validation success, call ajax form submit
	                submitForm();
	                return false;
	            }
	        });

	        $('form#addapi input').keypress(function (e) {
	            if (e.which == 13) {
					$('span.help-block').hide();
					$('.form-group').removeClass('has-error');
	                if ($('form#addapi').validate().form()) {
	                   //$('form#addapi').submit(); //form validation success, call ajax form submit
	                   submitForm();
	                }
	                return false;
	            }
	        });
	}
	
	var submitForm = function(){
		
		
		//console.log($('form#addapi').serialize());
		$.ajax({
			url:"/prabajax/updatepage",
			content:'json',
			type:'post',
			data:$('form#addapi').serialize(),
			beforeSend:function(){
				$('#alertinfo').addClass('hidden');
				$('#processbar').removeClass('hidden');
				$('html,body').animate({
					scrollTop: $('h3.page-title').offset().top
				}, 800);
				$('#alertinfo').removeClass('alert-success');
				$('#alertinfo').removeClass('alert-warning');
				$('#alertinfo').removeClass('alert-danger');
				$('#alertinfo').removeClass('alert-info');
			},
			complete:function(result){
				$('#processbar').addClass('hidden');
			},
			success: function(data){
				//console.log(data);
				if(data.result!=undefined){
					if(data.result==true){
						$('#alertinfo').addClass('alert-success');
						$('#alertmsg').html("<strong>Success!</strong> "+data.retMsg);
					}else{
						$('#alertinfo').addClass('alert-warning');
						$('#alertmsg').html("<strong>Failed!</strong> "+data.retMsg);
					}
				}else{
					$('#alertinfo').addClass('alert-info');
					$('#alertmsg').html("<strong>Error!</strong> System is busy, please try again.");
				}
				$('#alertinfo').removeClass('hidden');
			},
			error:function(){
				$('#alertinfo').addClass('alert-info');
				$('#alertmsg').html("<strong>Error!</strong> System is busy, please try again.");
				$('#alertinfo').removeClass('hidden');
			}
		});
	}
	
	

	var resetForm = function(){
		$('input','form#addapi')
			.not(':button, :submit, :reset, :hidden')
			.val('');
			
		$('select,option','form#addapi')
			.removeAttr('checked')
			.removeAttr('selected');
		
		$('.make-switch').bootstrapSwitch('setState',false);
		
		$('.ms-selectable').find('li').removeClass('ms-selected');
		$('.ms-selection').find('li').removeClass('ms-hover');
		$('.ms-selectable').find('li').removeAttr('style');
		
		$('.ms-selection').find('li').removeClass('ms-selected');
		$('.ms-selection').find('li').removeClass('ms-hover');
		$('.ms-selection').find('li').css({display:'none'});
	}
    
    return {
        //main function to initiate the module
        init: function () {
            handleAdd();
        }

    };

}();


//FormComponents3.init();

$('span.help-block').hide();
EditApi.init();

 $('#jml').on('change', function (e) {
               var value = $( this ).val();
              // alert(value);
				 window.location.href = '/prabacontent/prabaeditor/editpage/id/<?php echo $this->varams['id'];?>/row/'+value;
            
            });

//$("#idxc").val("AL").select2();
 $(".select2_sample6").select2({
		
            //placeholder: "Search for a movie",
            minimumInputLength: 1,
           
            ajax: { // instead of writing the function to execute the request we use Select2's convenient helper
                url: "/prabajax/listportletjson",
                dataType: 'jsonp',
                data: function (term, page) {
                    return {
                        q: term, // search term
                        page_limit: 10,
                       // apikey: "hywgwknh7ppvr3ent6anauxn" // please do not use so this example keeps working
                    };
                },
                results: function (data, page) { // parse the results into the format expected by Select2.
                    // since we are using custom formatting functions we do not need to alter remote JSON data
                    return {
                        results: data.movies
                    };
                }
            },
            initSelection: function (element, callback) {
                // the input tag has a value attribute preloaded that points to a preselected movie's id
                // this function resolves that id attribute to an object that select2 can render
                // using its formatResult renderer - that way the movie name is shown preselected
                var id = $(element).val();
                //alert(id);
                if (id !== "") {
                    $.ajax("/prabajax/listportletjson?id=" + id , {
                        data: {
                           // apikey: "hywgwknh7ppvr3ent6anauxn"
                        },
                        dataType: "jsonp"
                    }).done(function (data) {
						//console.log(data.movies);
                        callback(data.movies[1]);
                    });
                }
            },
            formatResult: movieFormatResult, // omitted for brevity, see the source of this page
            formatSelection: movieFormatSelection, // omitted for brevity, see the source of this page
            dropdownCssClass: "bigdrop", // apply css that makes the dropdown taller
            escapeMarkup: function (m) {
                return m;
            } // we do not want to escape markup since we are displaying html in results
        });
      
        function movieFormatResult(movie) {
            var markup = "<table class='movie-result'><tr>";
           
            markup += "<td valign='top'><h5>" + movie.title + "</h5>";
            if (movie.critics_consensus !== undefined) {
                markup += "<div class='movie-synopsis'>" + movie.critics_consensus + "</div>";
            } else if (movie.runtime !== undefined) {
                markup += "<div class='movie-synopsis'>" + movie.runtime + "</div>";
            }
            markup += "</td></tr></table>"
            return markup;
        }

        function movieFormatSelection(movie) {
            return movie.title;
        }

});

</script>
