<style type="text/css">
	.page-content {
		padding: 0px !important;
	}
</style>
<div class="page-content">
	<iframe src="http://10.2.147.127" style="width: 100%; height: 550px;" frameborder="0" scrolling="auto" seamless="seamless" allowfullscreen="true"></iframe>
</div>
<script type="text/javascript">
	$(function(){
		var h = $('.page-content').height();
		$('iframe').css('height',h);
	});
</script>