<style>
	
::-webkit-input-placeholder {
    color:    #1D943B;
}
:-moz-placeholder {
    color:    #1D943B;
}
::-moz-placeholder {
    color:    #1D943B;
}
:-ms-input-placeholder {
    color:    #1D943B;
}

/* Place Holders Different color for some fields */

#ph_green::-webkit-input-placeholder
{
  color:    #1D943B;
}

#ph_green:-moz-placeholder
{
  color:    #1D943B;
}

#ph_green::-moz-placeholder 
{
  color:    #1D943B;
}

#ph_green:-ms-input-placeholder 
{
  color:    #1D943B;
}
	
</style>
<?php
$now = '';
$nowx = date('Y-m-d').'T'.date('H:i:').'00Z';
?>

<div class="page-content">
<?php 

?>

<!-- BEGIN PAGE HEADER-->
<div class="row">
	<div class="col-md-12">
		<!-- BEGIN PAGE TITLE & BREADCRUMB-->
		<h3 class="page-title">
		Siaga Bencana <small>Laporan Bencana</small>
		</h3>
		<ul class="page-breadcrumb breadcrumb">
			<li>
				<i class="fa fa-rss"></i>
				<a href="/">TelkomCare</a>
				<i class="fa fa-angle-right"></i>
			</li>
			<li>
				<i class="fa fa-bullhorn"></i>
				<a href="#">Event Management</a>
				<i class="fa fa-angle-right"></i>
			</li>
			<li>
				<i class="fa fa-pencil-square-o"></i>
				Create New Event
			</li>
		</ul>
		<!-- END PAGE TITLE & BREADCRUMB-->
	</div>
</div>
<!-- END PAGE HEADER-->

<!-- BEGIN PAGE CONTENT-->
<div class="row">
	<div class="col-md-12">
		<div class="portlet box grey" id="form_wizard_1">
			<div class="portlet-title">
				<div class="caption">
					<i class="fa fa-reorder"></i> Create Event -
					<span class="step-title">
						Langkah 1 dari 5
					</span>
				</div>
				<div class="tools hidden-xs">
					<!--a href="javascript:;" class="collapse"></a>
					<a href="#portlet-config" data-toggle="modal" class="config"></a>
					<a href="javascript:;" class="reload"></a>
					<a href="javascript:;" class="remove"></a-->
				</div>
			</div>
			<div class="portlet-body form">
				<form action="#" class="form-horizontal" id="submit_form">
					<div class="form-wizard">
						<div class="form-body">
							<ul class="nav nav-pills nav-justified steps">
								<li>
									<a href="#tab1" data-toggle="tab" class="step">
									<span class="number">
										1
									</span>
									<span class="desc">
										<i class="fa fa-tasks"></i> Event
									</span>
									</a>
								</li>
								<li>
									<a href="#tab2" data-toggle="tab" class="step">
									<span class="number">
										2
									</span>
									<span class="desc">
										<i class="fa fa-check"></i> Lokasi
									</span>
									</a>
								</li>
								<li>
									<a href="#tab3" data-toggle="tab" class="step">
									<span class="number">
										3
									</span>
									<span class="desc">
										<i class="fa fa-check"></i> Layout
									</span>
									</a>
								</li>
								<li>
									<a href="#tab4" data-toggle="tab" class="step">
									<span class="number">
										4
									</span>
									<span class="desc">
										<i class="fa fa-check"></i> API
									</span>
									</a>
								</li>
								<li>
									<a href="#tab5" data-toggle="tab" class="step">
									<span class="number">
										5
									</span>
									<span class="desc">
										<i class="fa fa-check"></i> PIC
									</span>
									</a>
								</li>
								<li>
									<a href="#tab6" data-toggle="tab" class="step">
									<span class="number">
										6
									</span>
									<span class="desc">
										<i class="fa fa-check"></i> Selesai
									</span>
									</a>
								</li>
							</ul>
							<div id="bar" class="progress progress-striped" role="progressbar">
								<div class="progress-bar progress-bar-success">
								</div>
							</div>
							<div class="tab-content">
								<div class="alert alert-danger display-none">
									<button class="close" data-dismiss="alert"></button>
									You have some form errors. Please check below.
								</div>
								<div class="alert alert-success display-none">
									<button class="close" data-dismiss="alert"></button>
									Your form validation is successful!
								</div>
								<div class="tab-pane active" id="tab1">
									<h3 class="block">Setup</h3>
									<div class="form-group">
										<label class="col-md-3 control-label">Event Title</label>
										<div class="col-md-9">
											<input type="text" class="form-control" name="title" id="title" />
											<span class="help-block">
												Provide Regional
											</span>
										</div>
									</div>
									<div class="form-group">
										<label class="col-md-3 control-label">Event City</label>
										<div class="col-md-9">
											<input type="text" class="form-control" name="city" id="city" />
											<span class="help-block">
												Select date
											</span>
										</div>

									</div>
									<div class="form-group">
										<label class="col-md-3 control-label">Address</label>
										<div class="col-md-9">
											<textarea class="form-control" name="desc1" id="desc1" rows="5"></textarea>
											<span class="help-block">
												Provide Regional
											</span>
										</div>
									</div>
									<div class="form-group">
										<label class="col-md-3 control-label">Valid Form</label>
										<div class="col-md-9">
											<input class="form-control form-control-inline input-medium date-picker" size="16" type="text" value=""/>
											<span class="help-block">
												Select date
											</span>
										</div>

									</div>
										<div class="form-group">
										<label class="col-md-3 control-label">Valid Until</label>
										<div class="col-md-9">
											<input class="form-control form-control-inline input-medium date-picker" size="16" type="text" value=""/>
											<span class="help-block">
												Select date
											</span>
										</div>

									</div>
									
									
									<hr>
									<h4 class="block"> SETUP ICON</h4>
									<div class="form-group">
										<label class="col-md-3 control-label">LOGO</label>
										<div class="col-md-9">
											<input type="file" class="form-control">
										</div>
									</div>
									
								<div class="form-group">
										<label class="col-md-3 control-label">WIFI</label>
										<div class="col-md-8 radio-list" style="background-color:#ccc;">
											<?php 
											
											foreach ($this->icons['wifi'] as $v) {
											echo '<label class="radio-inline">
											<input type="radio" name="wifi" id="$v" value="'.$v.'" > 
											<img width="40px" src ="/assets/core/event/icon/wifi/'.$v.'" /></label>';	
											}
											?>
											

										</div>
									</div>

								<div class="form-group">
										<label class="col-md-3 control-label">TSEL</label>
										<div class="col-md-8 radio-list" style="background-color:#ccc;">
											<?php 
											
											foreach ($this->icons['tsel'] as $v) {
											echo '<label class="radio-inline">
											<input type="radio" name="tsel" id="$v" value="'.$v.'" > 
											<img width="40px" src ="/assets/core/event/icon/tsel/'.$v.'" /></label>';	
											}
											?>
											

										</div>
									</div>
									<div class="form-group">
										<label class="col-md-3 control-label">DATIN</label>
										<div class="col-md-8 radio-list" style="background-color:#ccc;">
											<?php 
											
											foreach ($this->icons['datin'] as $v) {
											echo '<label class="radio-inline">
											<input type="radio" name="datin" id="'.$v.'" value="'.$v.'" > 
											<img width="40px" src ="/assets/core/event/icon/datin/'.$v.'" /></label>';	
											}
											?>
											

										</div>
									</div>
									<div class="form-group">
										<label class="col-md-3 control-label">CCTV</label>
										<div class="col-md-8 radio-list" style="background-color:#ccc;">
											<?php 
											
											foreach ($this->icons['cctv'] as $v) {
											echo '<label class="radio-inline">
											<input type="radio" name="cctv" id="" value="'.$v.'" > 
											<img width="40px" src ="/assets/core/event/icon/cctv/'.$v.'" /></label>';	
											}
											?>
											

										</div>
									</div>
									<div class="form-group">
										<label class="col-md-3 control-label">RANGE </label>
										<div class="col-md-8 radio-list" style="background-color:#ccc;">
											X >= <input class="form-control form-control-inline input-small" size="16" type="text" value=""/>
											<?php 
											foreach ($this->icons['toprange'] as $v) {
											echo '<label class="radio-inline">
											<input type="radio" name="top" id="" value="'.$v.'" > 
											</label>
											<img width="40px" src ="/assets/core/event/icon/toprange/'.$v.'" />';	
											}
											?>
											<span class="help-block">
												x>=100%
											</span>
											</div>
									</div>
									<div class="form-group">
										<label class="col-md-3 control-label">RANGE </label>
										<div class="col-md-8 radio-list" style="background-color:#ccc;">
											 >= <input class="form-control form-control-inline input-small" size="16" type="text" value=""/>% X >=<input class="form-control form-control-inline input-small" size="16" type="text" value=""/> % 
											<?php 
											foreach ($this->icons['midrange'] as $v) {
											echo '<label class="radio-inline">
											<input type="radio" name="mid" id="" value="'.$v.'" > 
											</label>
											<img width="40px" src ="/assets/core/event/icon/midrange/'.$v.'" />';	
											}
											?>
											<span class="help-block">
											70% >= X >= 100% 
											</span>
											</div>
									</div>
										<div class="form-group">
										<label class="col-md-3 control-label">RANGE </label>
										<div class="col-md-8 radio-list" style="background-color:#ccc;">
											X >= <input class="form-control form-control-inline input-small" size="16" type="text" value=""/>
											<?php 
											foreach ($this->icons['bottomrange'] as $v) {
											echo '<label class="radio-inline">
											<input type="radio" name="bottom" id="" value="'.$v.'" > 
											</label>
											<img width="40px" src ="/assets/core/event/icon/bottomrange/'.$v.'" />';	
											}
											?>
											<span class="help-block">
												x>=100%
											</span>
											</div>
										</div>
									<div class="form-group">
										<label class="col-md-3 control-label">RANGE </label>
										<div class="col-md-8 radio-list" style="background-color:#ccc;">
											UNKNOWN
											<?php 
											foreach ($this->icons['unknownrange'] as $v) {
											echo '<label class="radio-inline">
											<input type="radio" name="unknown" id="" value="'.$v.'" > 
											</label>
											<img width="40px" src ="/assets/core/event/icon/unknownrange/'.$v.'" />';	
											}
											?>
											<span class="help-block">
											
											</span>
											</div>
										</div>
									
								<hr>
									<!--
									<div class="form-group">
												<label class="col-md-3 control-label">tabs</label>
												<div class="col-md-3">
													<select onchange="tabse(this)" size="2" class="him_multi_select" id="tabsid" name="tabs" style="width:100%;padding:5px;font-size:15px;height:200px">
													<option value="tab1">asdasd</option>
													<option value="tab2">asdasd</option>
													<option value="tab3">as</option>
													<option value="tab4">asdasd</option>
													</select>
												
												</div>
												<div class="col-md-6">
												<ul id="tabtags"></ul>
												</div>
										</div>
										-->
										<!--
									<div class="form-group">
										<label class="col-md-3 control-label">Status Bencana</label>
										<div class="col-md-9">
											<select class="form-control" name="cond1" id="cond1" onchange="">
											
												<option value="2" data-label="Siaga">Siaga</option>
												<option value="3" data-label="Darurat">Darurat</option>
											</select>
											<span class="help-block">
												Provide Regional
											</span>
										</div>
									</div>
								
									<div class="form-group">
										<label class="col-md-3 control-label">Regional</label>
										<div class="col-md-9">
											<select class="form-control" name="reg1" id="reg1" onchange="changereg(1,this); return false;">

											</select>
											<span class="help-block">
												Provide Regional
											</span>
										</div>
									</div>
									<div class="form-group">
										<label class="col-md-3 control-label">Witel</label>
										<div class="col-md-9">
											<select class="form-control" name="witel1" id="witel1" onchange="changewitel(1,this); return false;">
							</select>
											<span class="help-block">
												Provide Witel
											</span>
										</div>
									</div>
									<div class="form-group">
										<label class="col-md-3 control-label">Datel</label>
										<div class="col-md-9">
											<select class="form-control" name="datel1" id="datel1" onchange="changedatel(1,this); return false;">
							</select>
										</div>
									</div>
									<div class="form-group">
										<label class="col-md-3 control-label">STO</label>
										<div class="col-md-3">
											<select onchange="stochange(this)" size="2" class="him_multi_select" id="sto1" name="sto1" style="width:100%;padding:5px;font-size:15px;height:200px">

											</select>
										</div>
										<div class="col-md-6">
											<ul id="stoTags"></ul>
										</div>
									</div>
									-->
								</div>
								<div class="tab-pane" id="tab2">
									
									
									
									<div class="form-group">
										<label class="col-md-3 control-label">Location</label>
										<div class="col-md-9">
											<select class="form-control" name="location" id="location" onchange="changedatel(1,this); return false;">
											<?php
											foreach ($this->locs as $v) {
											echo '<option value="'.$v['ID'].'">'.$v['LOC_NAME'].'</option>'; 	
											}
											
											
											?>		

																							

											</select>
											<span class="help-block" style="display: none;">
												Provide Regional
											</span>
										</div>
									</div>
								
									
										<div class="form-group">
												<label class="col-md-3 control-label">STO</label>
												<div class="col-md-3">
												<select onchange="stochange(this)" size="2" class="him_multi_select" id="sto1" name="sto1" style="width:100%;padding:5px;font-size:15px;height:200px">
												<?php
												foreach ($this->sublocs as $k=>$v){
												echo '<option value="'.$v['ID'].'|'.$v['SUB_LOCATION_NAME'].'">'.$v['SUB_LOCATION_NAME'].'</option>';
												}
												?>
												</select>
												</div>
												<div class="col-md-6">
												<ul id="stoTags"></ul>
												</div>
										</div>

									
									
									
								</div>
								<div class="tab-pane" id="tab3">
								
							<div class="col-md-10 column source connected" style="border:1px; border-color:blue;min-height:100px;border-style:dashed;margin-bottom:20px">
									
									<div class="col-md-3" data-key="m">
										<div class="panel panel-default" style="margin-bottom:10px;">
											<div class="panel-heading">
												<h3 class="panel-title"><b style="color:red;">M</b>edia Center</h3>
											</div>
											<div class="panel-body square1-body" style="background-color:#404040;color:white;padding:10px 0px 0px 0px;text-align:center;vertical-align:middle;min-height:65px;"><div style="position:relative; border:0px solid yellow; width:65px; height:65px; text-align:center; display:inline-block; margin:2px;">
										
											</div>
										</div>
										</div>
									</div>
										<div class="col-md-3" data-key="a">
										<div class="panel panel-default" style="margin-bottom:10px;">
											<div class="panel-heading">
												<h3 class="panel-title"><b style="color:red;">A</b>komodasi</h3>
											</div>
											<div class="panel-body square1-body" style="background-color:#404040;color:white;padding:10px 0px 0px 0px;text-align:center;vertical-align:middle;min-height:65px;"><div style="position:relative; border:0px solid yellow; width:65px; height:65px; text-align:center; display:inline-block; margin:2px;">
										
											</div>
										</div>
										</div>
									</div>
										<div class="col-md-3" data-key="s">
										<div class="panel panel-default" style="margin-bottom:10px;">
											<div class="panel-heading">
											<h3 class="panel-title"><b style="color:red;">S</b>ecurity</h3>
											</div>
											<div class="panel-body square1-body" style="background-color:#404040;color:white;padding:10px 0px 0px 0px;text-align:center;vertical-align:middle;min-height:65px;"><div style="position:relative; border:0px solid yellow; width:65px; height:65px; text-align:center; display:inline-block; margin:2px;">
										
											</div>
										</div>
										</div>
									</div>
										<div class="col-md-3" data-key="i">
										<div class="panel panel-default" style="margin-bottom:10px;">
											<div class="panel-heading">
											<h3 class="panel-title"><b style="color:red;">I</b>nternational Airport</h3>
											</div>
											<div class="panel-body square1-body" style="background-color:#404040;color:white;padding:10px 0px 0px 0px;text-align:center;vertical-align:middle;min-height:65px;"><div style="position:relative; border:0px solid yellow; width:65px; height:65px; text-align:center; display:inline-block; margin:2px;">
										
											</div>
										</div>
										</div>
									</div>
										<div class="col-md-3" data-key="v">
										<div class="panel panel-default" style="margin-bottom:10px;">
											<div class="panel-heading">
											<h3 class="panel-title"><b style="color:red;">V</b>enue</h3>
											</div>
											<div class="panel-body square1-body" style="background-color:#404040;color:white;padding:10px 0px 0px 0px;text-align:center;vertical-align:middle;min-height:65px;"><div style="position:relative; border:0px solid yellow; width:65px; height:65px; text-align:center; display:inline-block; margin:2px;">
										
											</div>
										</div>
										</div>
									</div>
										<div class="col-md-3" data-key="imgurl">
										<div class="panel panel-default" style="margin-bottom:10px;">
											<div class="panel-heading">
												<h3 class="panel-title">Image Url</h3>
											</div>
											<div class="panel-body square1-body" style="background-color:#404040;color:white;padding:10px 0px 0px 0px;text-align:center;vertical-align:middle;min-height:65px;"><div style="position:relative; border:0px solid yellow; width:100%; height:65px; text-align:left; display:inline-block; margin:2px;">
											<input  class="form-control" value="title" />
											<textarea class="form-control"></textarea>	
											</div>
										</div>
										</div>
									</div>
										<div class="col-md-3" data-key="ticket">
										<div class="panel panel-default" style="margin-bottom:10px;">
											<div class="panel-heading">
												<h3 class="panel-title">Ticket</h3>
											</div>
											<div class="panel-body square1-body" style="background-color:#404040;color:white;padding:10px 0px 0px 0px;text-align:center;vertical-align:middle;min-height:65px;"><div style="position:relative; border:0px solid yellow; width:65px; height:65px; text-align:center; display:inline-block; margin:2px;">
										
											</div>
										</div>
										</div>
									</div>
									
									</div>	
								
									<div class="col-md-10 tabbable-custom ">
										<ul class="nav nav-tabs ">
											<li class="active">
												<input name="survtext"value="SURVEILLANCE" />
											</li>
										
										</ul>
										
										<div class="col-md-10  connected target" style="border:1px; border-color:red;min-height:100px;border-style:dashed"></div>
									</div>
									<div class="col-md-10 tabbable-custom ">
										<ul class="nav nav-tabs ">
											<li class="active">
												<input name="linktext"value="Link Monitoring" />
											</li>
										
										</ul>
										
										<div class="col-md-10  connected target" style="border:1px; border-color:red;min-height:100px;border-style:dashed"></div>
									</div>
									<div class="col-md-10 tabbable-custom ">
										<ul class="nav nav-tabs ">
											<li class="active">
												<input name="tickettext"value="TICKETS" />
											</li>
										
										</ul>
										
										<div class="col-md-10  connected target" style="border:1px; border-color:red;min-height:100px;border-style:dashed"></div>
									</div>
									<div class="col-md-10 tabbable-custom ">
										<ul class="nav nav-tabs ">
											<li class="active">
												<input name="reporttext"value="REPORT" />
											</li>
										
										</ul>
										
										<div class="col-md-10  connected target" style="border:1px; border-color:red;min-height:100px;border-style:dashed"></div>
									</div>
									<div class="col-md-10 tabbable-custom ">
										<ul class="nav nav-tabs ">
											<li class="active">
												<input name="collabtext"value="COLABORATION" />
											</li>
										
										</ul>
										<div class="col-md-10  connected target" style="border:1px; border-color:red;min-height:100px;border-style:dashed"></div>
									</div>
									<div class="col-md-10 tabbable-custom ">
										<ul class="nav nav-tabs ">
											<li class="active">
												<input name="workforcetext"value="WORKFORCE" />
											</li>
										
										</ul>
										<div class="col-md-10  connected target" style="border:1px; border-color:red;min-height:100px;border-style:dashed"></div>
									</div>
										<div class="col-md-10 tabbable-custom ">
										<ul class="nav nav-tabs ">
											<li class="active">
												<input name="infotext"value="INFORMATION" />
											</li>
										
										</ul>
										<div class="col-md-10  connected target" style="border:1px; border-color:red;min-height:100px;border-style:dashed"></div>
									</div>
									<div class="" id="piclistx">
										
									<div class="col-md-10"></div>
											<div class="col-md-2">
												<button type="button" class="btn grey" onclick="addPIC(); return false;" data-act="addPIC" data-id="1" style="padding: 5px;">Add</button>
											</div>
									
									</div>
									
								
									<div class="" id="piclist">
									</div>
									
									
									</div>
								<div class="tab-pane" id="tab4">
									<!--div class="row" id="sdmmsg">
										<div class="col-md-12">
											<div class="note note-info" style="padding: 1px 10px;">
												<h5 class="">
													Abaikan tahap ini apabila tidak terdapat sumber daya manusia yang terkena dampak bencana, dan silahkan melanjutkan ke tahapan berikutnya.<br><br>
													<button type="button" class="btn btn-sm green" onclick="$('#form_wizard_1').bootstrapWizard('next');"><b>Lewati Tahap Ini <i class="fa fa-chevron-right"></i><i class="fa fa-chevron-right"></i></b></button>
												</h5>
											</div>
										</div>
									</div-->
										<div class="row" id="">
										<div class="col-md-12" id="sdmlistx">
<div class="portlet box red">
	<div class="portlet-title">
		<div class="caption">
			SDM Terdampak
		</div>
		<div class="tools" style="margin-top:-3px">
			<a href="javascript:;" class="" onclick="addSDM(this); return false;" data-act="addSDM" style="color:white;font-weight:bold;margin-top:-5px">
				Tambah SDM Terdampak
				<i class="fa fa-white fa-plus"></i>
			</a>
			<!--a href="javascript:;" class="collapse" style="margin-top:3px"></a-->
		</div>
	</div>
	<div class="portlet-body" style="" id="sdmlist">
	</div>
</div>
										</div>
									</div>
								</div>
								<div class="tab-pane" id="tab5">
									
								</div>
								<div class="tab-pane" id="tab6">
									<div id="endtab" class="row">
										<div class="col-md-12">
											<!--h3>DETAIL LAPORAN SIAGA BENCANA</h3>
											<div class="row">
												<div class="col-md-12">
												<div class="table-responsive">
													<table class="table table-striped table-bordered table-hover">
														<thead>
														<tr>
															<th colspan="6" style="text-align:center">PIC</th>
														</tr>
														<tr>
															<th>No</th>
															<th>Nama</th>
															<th>Kontak</th>
															<th>Email</th>
															<th>Kontak Posko</th>
															<th>Komentar</th>
														</tr>
														</thead>
														<tbody>
														<tr>
															<td>1</td>
															<td>AAAA</td>
															<td>AAAA</td>
															<td>AAAA</td>
															<td>AAAA</td>
															<td>AAAA</td>
														</tr>
													</table>
												</div>
												</div>
											</div><br-->
											<div class="row" id="resultreport">
												<div class="col-md-12">
													<div class="note note-success">
														<h4 class="block">Sukses! Laporan Siaga Bencana telah berhasil tersimpan</h4>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="form-actions fluid">
							<div class="row">
								<div class="col-md-12">
									<div class="col-md-offset-3 col-md-9">
										<a href="javascript:;" class="btn default button-previous">
										<i class="m-icon-swapleft"></i> Back </a>
										<a href="javascript:;" class="btn blue button-next">
										Continue <i class="m-icon-swapright m-icon-white"></i>
										</a>
										<a href="/siagabencana/laporan2" class="btn blue button-new">
										Laporan Baru
										</a>
										<a onclick="submitreport()" class="btn green button-view">
										Simpan Laporan
										</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
<!-- END PAGE CONTENT-->
<div class="modal fade full-container" id="mapmodal" tabindex="-1" role="basic" aria-hidden="true" style="padding-top: 18px; padding-left: 34px; background-color: transparent;">
	<div style="color: #EF3125; text-align: center; font-size: 16px; font-weight: bold;">KLIK DI LOKASI GANGGUAN</div>
	<div id="gmap" class="" style="width:100%;height:100%;display:block;border:1px solid black;">
	</div>
</div>

</div>

<script>
var el = jQuery(".page-content").first();
var selsto = {};
var totalsto = 0;
var countsto = 0;
var color = ['','green','yellow','red'];
var selxhr1 = null;
var reg1 = $('#reg1');
var witel1 = $('#witel1');
var sto1 = $('#sto1');
var preg1 = $('#reg1').parent();
var pwitel1 = $('#witel1').parent();
var pdatel1 = $('#datel1').parent();
var psto1 = $('#sto1').parent();
var perangkatidx = [];
var picidx = 1;
var sdmidx = [];
var dv = <?php echo json_encode($this->perangkat);?>;
//console.log(dv);

function resetval(){
selsto = {};
totalsto = 0;
countsto = 1;
perangkatidx = [];
picidx = 1;
sdmidx = [];
$("#stoTags").tagit("removeAll");
}

function addstoresult(){
var html = '<div class="col-md-12">';
	html += '	<div class="portlet green box">';
	html += '		<div class="portlet-title">';
	html += '			<div class="caption"><i class="fa fa-bullhorn"></i>STO 1</div>';
	html += '			<div class="tools"><a href="javascript:;" class="collapse"></a></div>';
	html += '		</div>';
	html += '		<div class="portlet-body">';
	html += '			<div class="row">';
	html += '				<div class="col-md-4">Regional : 1</div>';
	html += '				<div class="col-md-4">Witel : 1</div>';
	html += '				<div class="col-md-4">Datel : 1</div>';
	html += '				<div class="col-md-4">Bencana : 1</div>';
	html += '				<div class="col-md-4">Status : 1</div>';
	html += '			</div><br>';
	html += '			<div class="panel panel-success dvresult " id="dvresult1">';
	html += '				<div class="panel-heading">';
	html += '					<h3 class="panel-title">Perangkat Terganggu</h3>';
	html += '				</div>';
	html += '				<div class="panel-body">';
	html += '					<div class="table-responsive">';
	html += '						<table class="table"><thead>';
	html += '							<tr>';
	html += '								<th>No</th>';
	html += '								<th>Jenis Perangkat</th>';
	html += '								<th>Nama Perangkat</th>';
	html += '								<th>Status</th>';
	html += '								<th>Tanggal</th>';
	html += '								<th>Alamat</th>';
	html += '								<th>Lokasi</th>';
	html += '								<th>Dampak Gangguan</th>';
	html += '							</tr></thead><tbody>';
	html += '							<tr>';
	html += '								<td>1</td>';
	html += '								<td>AAAA</td>';
	html += '								<td>AAAA</td>';
	html += '								<td>AAAA</td>';
	html += '								<td>AAAA</td>';
	html += '								<td>AAAA</td>';
	html += '								<td>AAAA</td>';
	html += '								<td>AAAA</td>';
	html += '							</tr>';
	html += '						</table>';
	html += '					</div>';
	html += '				</div>';
	html += '			</div>';
	html += '			<div class="panel panel-success humanresult" id="humanresult1">';
	html += '				<div class="panel-heading">';
	html += '					<h3 class="panel-title">SDM Terdampak</h3>';
	html += '				</div>';
	html += '				<div class="panel-body">';
	html += '					<div class="table-responsive">';
	html += '						<table class="table"><thead>';
	html += '							<tr>';
	html += '								<th>No</th>';
	html += '								<th>NIK</th>';
	html += '								<th>Nama</th>';
	html += '								<th>Alamat</th>';
	html += '								<th>Lokasi</th>';
	html += '								<th>Status</th>';
	html += '								<th>Dampak Gangguan</th>';
	html += '							</tr>';
	html += '							</thead><tbody>';
	html += '							<tr>';
	html += '								<td>1</td>';
	html += '								<td>AAAA</td>';
	html += '								<td>AAAA</td>';
	html += '								<td>AAAA</td>';
	html += '								<td>AAAA</td>';
	html += '								<td>AAAA</td>';
	html += '								<td>AAAA</td>';
	html += '							</tr>';
	html += '						</table>';
	html += '					</div>';
	html += '				</div>';
	html += '			</div>';
	html += '		</div>';
	html += '	</div>';
	html += '	</div>';
		
return html;
}

function addsto(stoname,stocode){
var html = '<div class="form-group" id="stostatus'+countsto+'">';
	html += '	<div class="col-md-4" style="text-align:right">';
	html += '		<button id="stobtn'+countsto+'" type="button" data-stocode="'+stocode+'" data-stoname="'+stoname+'" data-id="'+countsto+'" class="btn green btn-sm btn-block" style="text-align:left;padding:10px" onclick="removesto(this)" disabled>';
	html += '			<b>'+stoname+'</b><br>Regional : '+selsto[stoname].reg+'<br> Witel : '+selsto[stoname].witel+'<br> Datel : '+selsto[stoname].datel+'<br> Kode STO : '+stocode+'<br>';
	html += '		</button>';
	html += '		<input id="stohidden'+countsto+'" type="hidden" class="form-control" value="'+stocode+"|"+stoname+'|1" style="" name="sto['+countsto+']">';
	html += '	</div>';
	html += '	<div class="col-md-2">';
	html += '		Status <select data-stocode="'+stocode+'" data-stoname="'+stoname+'" data-id="'+countsto+'" onchange="stocondchange(this)" class="form-control input-sm" name="sto_cond['+countsto+']" id="sto_cond'+countsto+'" style="display:inline-block">';
	html += '			<option value="1" data-label="Aman">Aman</option>';
	html += '			<option value="2" data-label="Siaga">Siaga</option>';
	html += '			<option value="3" data-label="Darurat">Darurat</option>';
	html += '		</select><br>';
	/*html += '		Estimasi (jam) <input type="text" data-stocode="'+stocode+'" data-stoname="'+stoname+'" data-id="'+countsto+'" class="form-control input-sm" name="sto_estimate['+countsto+']" id="sto_estimate'+countsto+'" style=""/>';
	/*html += '		Bencana <select data-stocode="'+stocode+'" data-stoname="'+stoname+'" data-id="'+countsto+'" onchange="stodisasterchange(this)" class="form-control input-sm" name="sto_disaster['+countsto+']" id="sto_sisaster'+countsto+'" style="display:inline-block">';
<?php
foreach ($this->bencana as $k=>$v){
	echo 'html += \'<option value="'.$v['value_param'].'|'.$v['display_param'].'">'.$v['display_param'].'</option>\';';
}
?>
	html += '		</select>';*/
	html += '	</div>';
	html += '	<div class="col-md-6">';
	html += '		Deskripsi laporan <textarea data-stocode="'+stocode+'" data-stoname="'+stoname+'" data-id="'+countsto+'" class="form-control input-sm" name="sto_comment['+countsto+']" id="sto_comment'+countsto+'" style="" rows="3"></textarea>';
	//html += '		Deskripsi laporan <input type="text" data-stocode="'+stocode+'" data-stoname="'+stoname+'" data-id="'+countsto+'" class="form-control input-sm" name="sto_comment['+countsto+']" id="sto_comment'+countsto+'" style=""/><br>';
	//html += '		Estimasi (jam) <input type="text" data-stocode="'+stocode+'" data-stoname="'+stoname+'" data-id="'+countsto+'" class="form-control input-sm" name="sto_estimate['+countsto+']" id="sto_estimate'+countsto+'" style=""/>';
	html += '	</div>';
	html += '</div>';
selsto[stoname].idx = countsto;
perangkatidx[countsto] = 0;
sdmidx[countsto] = 0;
//selsto[stoname].disaster_id = '<?php echo isset($this->bencana[0]['value_param'])?$this->bencana[0]['value_param']:0; ?>';
//selsto[stoname].disaster = '<?php echo isset($this->bencana[0]['display_param'])?$this->bencana[0]['display_param']:''; ?>';
selsto[stoname].status = 1;
selsto[stoname].color = 'green';
selsto[stoname].desc = '';
selsto[stoname].estimate = 0;
//console.log(selsto);
countsto++;
$('body').find('#stolist').first().append(html);
}

function stocondchange(me){
	var id = $(me).data('id');
	var code = $(me).data('stocode');
	var name = $(me).data('stoname');
	$('body').find('#stobtn'+id).first().removeClass('green');
	$('body').find('#stobtn'+id).first().removeClass('yellow');
	$('body').find('#stobtn'+id).first().removeClass('red');
	$('body').find('#stobtn'+id).first().addClass(color[$(me).val()]);
	selsto[name].status = $(me).val();
	selsto[name].color = color[$(me).val()];
	//console.log(selsto);
}

function stodisasterchange(me){
	var id = $(me).data('id');
	var code = $(me).data('stocode');
	var name = $(me).data('stoname');
	var temp = $(me).val();
	res = temp.split("|");
	selsto[name].disaster_id = res[0];
	selsto[name].disaster = res[1];
	//console.log(selsto);
}


function tabse(me){
	//console.log($(me).val());
	var reg = $(me).val();
	
	$("#tabtags").tagit("createTag", reg);



	//console.log(selsto);
	//console.log(totalsto);
}

function stochange(me){
	//console.log($(me).val());
	var reg = $(me).val();
	
	$("#stoTags").tagit("createTag", reg);



	//console.log(selsto);
	//console.log(totalsto);
}

function changereg(id,me){
	var val = $(me).val();
	if(id==1){
		if(selxhr1!=undefined && selxhr1!=null){
			selxhr1.abort();
		}
		
		selxhr1 = $.ajax({
			url: "/ajax/changefilter2/val/"+val+'/type/regional/id/1',
			dataType: "json",	
			beforeSend: function() {
				pwitel1.html('retrieve data...');
				pdatel1.html('retrieve data...');
				psto1.html('retrieve data...');
			},
			success: function(data) {
				//console.log(data);
				pwitel1.html(data.witel);
				pdatel1.html(data.datel);
				psto1.html(data.sto);
				
				$.each(selsto,function(idx,val){
					//console.log(val+"|"+idx);
					for(var i = 0; i < $('body').find("#sto1").first()[0].length; i++) {
						//console.log($('body').find("#sto1").first()[0].options[i].value);
						if($('body').find("#sto1").first()[0].options[i].value == val+"|"+idx) {
							$('body').find("#sto1").first()[0].options[i].selected = true;
							break;
						}
					}
				});
				resetval();
			},
			timeout:9000,
			error:function(){
				pwitel1.html('failed retrieve data...');
				pdatel1.html('failed retrieve data...');
				psto1.html('failed retrieve data...');
			},
		});
	}
}

function changewitel(id,me){
	var val = $(me).val();
	if(id==1){
		if(selxhr1!=undefined && selxhr1!=null){
			selxhr1.abort();
		}
		
		selxhr1 = $.ajax({
			url: "/ajax/changefilter2/val/"+val+'/type/witel/id/1',
			dataType: "json",	
			beforeSend: function() {
				pdatel1.html('retrieve data...');
				psto1.html('retrieve data...');
			},
			success: function(data) {
				//console.log(data);
				pdatel1.html(data.datel);
				psto1.html(data.sto);
				resetval();
			},
			timeout:9000,
			error:function(){
				pdatel1.html('failed retrieve data...');
				psto1.html('failed retrieve data...');
			},
		});
	}
}

function changedatel(id,me){
	var val = $(me).val();
	if(id==1){
		if(selxhr1!=undefined && selxhr1!=null){
			selxhr1.abort();
		}
		
		selxhr1 = $.ajax({
			url: "/solar/ajaxer/val/"+val,
			dataType: "json",	
			beforeSend: function() {
				psto1.html('retrieve data...');
			},
			success: function(data) {
				//console.log(data);
				psto1.html(data);
			},
			timeout:9000,
			error:function(){
				psto1.html('failed retrieve data...');
			},
		});
	}
}

var map = null;
var $mapmodal = $('#mapmodal');
function addLoc(me){
	$('body').modalmanager('loading');
	$mapmodal.modal();
	var lat = 0;
	var lng = 0;
	var zoom = 0;
	//console.log($(me));
	var wit =$('body').find('#witel1').first().val();
	var witx = wit.split('|');
	$.ajax({
		//url: "/ajax/getlatlng2/willid/"+witel+"/datelid/"+datel+"/stocode/"+sto,
		url: "/ajax/getlatlng/willid/"+witx[0],
			dataType: "json",	
			async:false,
			beforeSend: function() {
				
			},
			success: function(data) {
				
				console.log(data);
				if(data.lat==""){
					data.lat = "2.844004";
					data.lng = "112.964163";
					data.zoom = 5;
				}
				lat = parseFloat(data.lat);
				lng = parseFloat(data.lng);
				zoom = parseInt(data.zoom);
			},
			timeout:9000,
			error:function(){
				
			},
	});
	
	map = new GMaps({
		div: '#gmap',
		lat: lat,
		lng: lng,
		zoom:zoom,
		click: function(e) {
			console.log(e);
			//lat = e.latLng.B;
			lat = e.latLng.D;
			lng = e.latLng.k;
			console.log(lat);
			console.log(lng);
			$(me).val(lat+','+lng);
			$(me).data('value',(lat+','+lng));
			var idx = $(me).data('idx');
			$('body').find('#'+idx).first().val(lat+','+lng);
			$('body').find('#'+idx).first().data('value',(lat+','+lng));
			$(me).removeClass('default');
			$(me).addClass('green');
			$mapmodal.modal('hide');
		},
		dragend: function(e) {
			//console.log(e);
			//console.log(map.getCenter());
		}
	});
	
	map.addControl({
	  position: 'top_right',
	  content: 'Close Map',
	  style: {
		margin: '5px 3px',
		padding: '1px 6px',
		border: 'solid 1px #717B87',
		background: '#fff',
		'font-size': '11px'
	  },
	  events: {
		click: function(){
			$mapmodal.modal('hide');
		}
	  }
	});
}

var dvcount = 0;
function addDV(){
var currow = $('body').find('.dv:last');
//console.log(currow);
var str = '';
str += '<div class="form-group row dv" id="dv'+dvcount+'" data-id="" >';
str += '	<input type="hidden" id="dvid'+dvcount+'" name="dvid['+dvcount+']" value="">';
str += '	<div class="col-md-10">';
str += '		<div class="col-md-2">';
str += '			<select class="form-control input-sm" id="dvstatus'+dvcount+'"  name="dvstatus['+dvcount+']" placeholder="Jenis Perangkat" >';
//str += '				<option value="1">AMAN</option>';
str += '				<option value="2">SIAGA</option>';
str += '				<option value="3">DARURAT</option>';
str += '			</select>';
str += '		</div>';
str += '		<div class="col-md-3">';
str += '			<select class="form-control input-sm" id="dvtype'+dvcount+'"  name="dvtype['+dvcount+']" placeholder="Jenis Perangkat" >';
str += '				<option value="">Jenis Perangkat</option>';

str += '			</select>';
str += '		</div>';
str += '		<div class="col-md-3">';
str += '			<input class="form-control input-sm" id="dvname'+dvcount+'" name="dvname['+dvcount+']" placeholder="Nama Perangkat" value="" />';
str += '		</div>';
str += '		<div class="col-md-3">';
str += '			<input class="form-control input-sm" id="dvaddress'+dvcount+'"  name="dvaddress['+dvcount+']" placeholder="Alamat"  value="" />';
str += '		</div>';
str += '		<div class="col-md-1">';
str += '			<button type="button" data-idx="dvmap'+dvcount+'" class="form-control input-sm btn default" id="dvloc'+dvcount+'" name="dvloc['+dvcount+']" placeholder="Koordinat Lokasi" onclick="addLoc(this,1); return false;" value="" data-value=""><i class="fa fa-map-marker" style="font-size: 22px;"></i></button>';
str += '			<input type="hidden" class="form-control input-sm" id="dvmap'+dvcount+'"  name="dvmap['+dvcount+']" value="" />';
str += '		</div>';
str += '		<div class="col-md-12">';
str += '			<span class="help-block"></span>';
str += '			<textarea class="form-control" id="dvcomment'+dvcount+'" name="dvcomment['+dvcount+']" placeholder="Deskripsi"></textarea>';
str += '		</div>';
str += '	</div>';
str += '	<div class="col-md-2">';
str += '		<button type="button" class="btn red" onclick="removeDV(this); return false;" data-act="removeDV" data-id="'+dvcount+'" style="padding: 5px;">Remove</button>';
str += '	</div>';
str += '</div>';

	//console.log(str);
	if(currow.length>0){
		currow.after(str);
	}else{
		$('body').find('#dvlist').first().append(str);
	}
	
	/*$('body').find('.dvdate').datetimepicker({
		isRTL: App.isRTL(),
		format: "yyyy-mm-dd hh:ii:ss",
		autoclose: true,
		todayBtn: true,
		//startDate: "2013-02-14 10:00",
		pickerPosition: (App.isRTL() ? "bottom-right" : "bottom-left"),
		minuteStep: 5
	});*/
	dvcount++;
}

/* JS Remove Perangkat */
function removeDV(me){
	var id = $(me).data('id');
	//console.log(id);
	$('body').find('#dv'+id+':first').remove();
}

var sdmcount = 0;
/*JS Add SDM Terdampak*/
function addSDM(){
var currow = $('body').find('.sdm:last');
var str = "";
str += ' <div class="form-group row sdm" id="sdm'+sdmcount+'" data-id="'+sdmcount+'" >';
str += ' 	<div class="col-md-10">';
str += ' 		<div class="col-md-3">';
str += ' 			<select class="form-control input-sm" id="sdmstatus'+sdmcount+'"  name="sdmstatus['+sdmcount+']" placeholder="Jenis Perangkat" >';
str += ' 				<!--option value="1">AMAN</option-->';
str += ' 				<option value="2">SIAGA</option>';
str += ' 				<option value="3">DARURAT</option>';
str += ' 			</select><br>';
str += ' 			<input class="form-control input-sm" id="sdmnik'+sdmcount+'"  name="sdmnik['+sdmcount+']" placeholder="NIK" value="" />';
str += ' 		</div>';
str += ' 		<div class="col-md-4">';
str += ' 			<input class="form-control input-sm" id="sdmname'+sdmcount+'" name="sdmname['+sdmcount+']" placeholder="Nama" value="" /><br>';
str += ' 			<input class="form-control input-sm" id="sdmaddr'+sdmcount+'" name="sdmaddr['+sdmcount+']" placeholder="Alamat"  value="" />';
str += ' 		</div>';
str += ' 		<div class="col-md-4">';
str += '			<select class="form-control input-sm" id="sdmestat'+sdmcount+'"  name="sdmestat['+sdmcount+']" placeholder="Status Kepegawaian" >';
str += '				<option value="">Status Kepegawaian</option>';

str += '			</select><br>';
str += ' 			<input class="form-control input-sm" id="sdmlocker'+sdmcount+'" name="sdmlocker['+sdmcount+']" placeholder="Loker"  value="" />';
str += ' 		</div>';
str += ' 		<div class="col-md-1">';
str += '			<button data-idx="sdmmap'+sdmcount+'" type="button" class="form-control input-sm btn default" id="sdmloc'+sdmcount+'" name="sdmloc['+dvcount+']" placeholder="Koordinat Lokasi" onclick="addLoc(this,1); return false;" value="" data-value=""><i class="fa fa-map-marker" style="font-size: 22px;"></i></button>';
str += '			<input type="hidden" class="form-control input-sm" id="sdmmap'+sdmcount+'"  name="sdmmap['+sdmcount+']" value="" />';
str += ' 		</div>';
str += ' 		<div class="col-md-12">';
str += ' 			<span class="help-block"></span>';
str += ' 			<textarea class="form-control" id="sdmcomment'+sdmcount+'" name="sdmcomment['+sdmcount+']" placeholder="Deskripsi"></textarea>';
str += ' 		</div>';
str += ' 	</div>';
str += '	<div class="col-md-2">';
str += '		<button type="button" class="btn red" onclick="removeSDM(this); return false;" data-act="removeSDM" data-id="'+sdmcount+'" style="padding: 5px;">Remove</button>';
str += '	</div>';
str += ' </div>';
	
//console.log(str);
if(currow.length>0){
	currow.after(str);
}else{
	$('body').find('#sdmlist').first().append(str);
}

sdmcount++;
}

/* JS Remove SDM */
function removeSDM(me){
	var id = $(me).data('id');
	//console.log(id);
	$('body').find('#sdm'+id+':first').remove();
}

function addPIC(){
	var currow = $('body').find('#piclist .pic:last');
	//console.log(currow);
	
<?php
echo 'var str = \'<div id="pic\'+(parseInt(picidx)+1)+\'" data-id="\'+(parseInt(picidx)+1)+\'" class="col-md-10 tabbable-custom "><ul class="nav nav-tabs "><li class="active"><input name="newtab[]" value="NEWTAB" /></li></ul><div class="col-md-10  connected target" style="border:1px; border-color:red;min-height:100px;border-style:dashed"></div>\';';

echo 'if(currow.length>=0){
		str +=\'<div class="col-md-2">\'
					+\'<button type="button" class="btn red" onclick="removePIC(this); return false;" data-act="removePIC" data-id="\'+(parseInt(picidx)+1)+\'" style="padding: 5px;">Remove</button>\'
				+\'</div>\';
	}else{
		str +=\'<div class="col-md-2">\'
					+\'<button type="button" class="btn grey" onclick="addPIC(); return false;" data-act="addPIC" data-id="\'+(parseInt(picidx)+1)+\'" style="padding: 5px;">Add</button>\'
				+\'</div>\';
	}
	str +=\'</div>\';';
?>
	//console.log(str);
	if(currow.length>0){
		currow.after(str);
	}else{
		$('body').find('#piclist').first().append(str);
	}
	picidx++;

 $(".source, .target").sortable({
      connectWith: ".connected"
   });
}

/* JS Remove PIC */
function removePIC(me){
	var id = $(me).data('id');
	//console.log(id);
	$('body').find('#pic'+id+':first').remove();
}

jQuery(document).ready(function() {

$('body').addClass('page-header-fixed page-sidebar-fixed page-footer-fixed');
App.init();
//$('span.help-block').hide();
FormWizard.init();
 $(".source, .target").sortable({
      connectWith: ".connected"
   });
 $('.date-picker').datepicker({
                rtl: App.isRTL(),
                autoclose: true
  });
  
  
  $(".source .col-md-3").live('dblclick', function () {
    $(this).clone().prependTo('.source');
})  
 //$('.source div').clone().appendTo('.target'); 
 
 $(".target div").live('dblclick', function () {
   // $(this).remove();
}) 

$.fn.modal.defaults.spinner = $.fn.modalmanager.defaults.spinner = 
  '<div class="loading-spinner" style="width: 200px; margin-left: -100px;">' +
	'<div class="progress progress-striped active">' +
	  '<div class="progress-bar" style="width: 100%;"></div>' +
	'</div>' +
  '</div>';

$.fn.modalmanager.defaults.resize = true;


$('#tabtags').tagit({
	readOnly: true,
	afterTagRemoved: function(event, ui) {
        // do something special
        //console.log(event);
		//delete selsto[$(ui.tag[0]).text()];
		//console.log(selsto);
    },
	onTagClicked: function(event, ui) {
        // do something special
        //console.log($(ui.tag[0]).text());
		$("#tabtags").tagit("removeTagByLabel", $(ui.tag[0]).text());
		
	
    }
});

$('#stoTags').tagit({
	readOnly: true,
	afterTagRemoved: function(event, ui) {
        // do something special
        //console.log(event);
		//delete selsto[$(ui.tag[0]).text()];
		//console.log(selsto);
    },
	onTagClicked: function(event, ui) {
        // do something special
        //console.log($(ui.tag[0]).text());
		$("#stoTags").tagit("removeTagByLabel", $(ui.tag[0]).text());
		for(var i = 0; i < $('body').find("#sto1").first()[0].length; i++) {
			if($('body').find("#sto1").first()[0].options[i].value == selsto[$(ui.tag[0]).text()]+"|"+$(ui.tag[0]).text()) {
				$('body').find("#sto1").first()[0].options[i].selected = false;
				break;
			}
		}
		delete selsto[$(ui.tag[0]).text()];
		totalsto--;
		console.log(selsto);
		console.log(totalsto);
    }
});
					
//$('#form_wizard_1').bootstrapWizard('show',5);

var icon = ['fa-tasks','fa-building','fa-cogs','fa-ambulance','fa-group','fa-check']
var step = $('body').find('a.step span.number');
$.each(step,function(idx,val){
	//console.log(idx);
	$(val).html('<i class="fa '+icon[idx]+'" style="font-size: 30px;margin-left: -11px;margin-top: 5px;display:block"></i>');
});
	
});
</script>
