<?php
//Zend_Debug::dump($this->v_event);die();
$d = $this->v_event;
?>

<style>
.panel-title{
	font-size: 14px !important;
}
.locid{
	margin-bottom: 10px;
}
.dashboard-stat{
	min-height: 100px;
}
.csr:hover{
	opacity: 0.9;
}
.bold{
	font-weight: bold;
}
.gold{
	color: #FFCC00 !important;
}
.greys{
	color: grey !important;
}
.blues{
	color: #5CBDE0 !important;
}
.greens{
	color: #008000 !important;
}
.reds{
	color: #FF0000 !important;
}
.text-right{
	text-align: right;
}
.padd-tab{
	padding: 5px !important;
}
.badges{
	font-size: 10px !important;
}
.font-10{
	font-size: 10px !important;
}
.font-11{
	font-size: 11px !important;
}
.oflowx{
	overflow-x: auto;
}
.badge-blacks{
	  background-color: black !important;
}
.modal-open {
  overflow-y: hidden !important;
}
</style>

<div class="page-content">

<div class="row">
	<div class="col-md-6">
		<img src="/assets/core/event/icon/logo/<?php echo $d['img_logo']?>" style="height:60px;">
		<h3 style="margin-top:0px; display:inline-block;"><b> <?php echo $d['title']?></b></h3>
	</div>
	<div class="col-md-offset-2 col-md-4" id="legend">
		<div class="row corner-all" style="background-color:#404040;color:white;padding:5px;text-align:center;vertical-align:middle;margin-bottom:3px;">
			<div class="col-md-12" style="font-size:10px; padding:0px;">
					<img src="/assets/core/event/icon/wifi/<?php echo $d['img_wifi']?>" style="width:18px"> WIFI&nbsp;&nbsp;&nbsp;
					<img src="/assets/core/event/icon/tsel/<?php echo $d['img_tsel']?>" style="width:18px"> TSEL&nbsp;&nbsp;&nbsp;
					<img src="/assets/core/event/icon/datin/<?php echo $d['img_datin']?>" style="width:18px"> DATIN&nbsp;&nbsp;&nbsp;
					<img src="/assets/core/event/icon/cctv/<?php echo $d['img_cctv']?>" style="width:18px"> CCTV&nbsp;
			</div>
		</div>
		<div class="row corner-all" style="background-color:#404040;color:white;padding:5px;text-align:center;vertical-align:middle;margin-bottom:5px;">
			<div class="col-md-12" style="font-size:10px; padding:0px;">
					<img src="/assets/core/event/icon/toprange/<?php echo $d['img_top']?>" style="width:18px"> 100% Up&nbsp;&nbsp;&nbsp;
					<img src="/assets/core/event/icon/midrange/<?php echo $d['img_middle']?>" style="width:18px"> 70%-100% Warning&nbsp;&nbsp;&nbsp;
					<img src="/assets/core/event/icon/bottomrange/<?php echo $d['img_bottom']?>" style="width:18px"> 70%-100% Warning&nbsp;&nbsp;&nbsp;
					<img src="/images/ICON/CIRCLE/circle_bwhite_fgrey.png" style="width:18px"> Unknown
				</div>
		</div>

	</div>
</div>

<div class="row">
	<div class="col-md-12">
		<div class="tabbable-custom ">
			<ul class="nav nav-tabs ">
				
				<?php 
				$i=1;
				foreach ($d['tab'] as $z) {
					$cl ="";
					if($i==1) {$cl="active";}
					echo '<li class="'.$cl.'">
					<a id="'.$z['key'].'" href="#" data-toggle="tab" data-tpanename="'.$z['key'].'" onclick="getTabPane(this);">'.$z['title'].'</a>
				</li>';
					
				$i++;	
				}
				
				?>	
			
				
			</ul>
			<!--div class="tab-content" style="padding-bottom:0px; height:455px;"-->		
			<div id="parent_tab_content" class="tab-content">		
				<div class="row" id="loader_tab_content" style="margin:10px;">
					<div class="col-md-offset-4 col-md-4" style="text-align:center">
						<div class="progress progress-striped active" style="margin-bottom:0px">
							<div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
								<span class="sr-only">
									100% Complete
								</span>
							</div>
						</div>
					</div>
				</div>
				<div  id="tab_content"></div>
			</div>
		</div>
	</div>
</div>

</div>

<div class="modal fade in" id="modal_update_tikets" tabindex="-1" role="basic" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
				<!--h4 class="modal-title" id="modal_title">Modal Title</h4-->
			</div>
			<div class="modal-body" style="padding:10px;">
				<div class="row" id="loader_modal_update_tiket" style="margin:10px;">
					<div class="col-md-offset-4 col-md-4" style="text-align:center">
						<div class="progress progress-striped active" style="margin-bottom:0px">
							<div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
								<span class="sr-only">
									100% Complete
								</span>
							</div>
						</div>
					</div>
				</div>
				<div id="modal_content_update_tiket"></div>
			</div>
			<div class="modal-footer" style="margin-top:0px; padding:10px;">
				<button type="button" class="btn default" data-dismiss="modal">Close</button>
			</div>
		</div>
		<!-- /.modal-content -->
	</div>
	<!-- /.modal-dialog -->
</div>

<div id="modal_edit" class="modal fade" tabindex="-1" data-backdrop="modal_edit" data-keyboard="false">
	<div class="modal-body" style="padding:0px">
	<div class="portlet box red" style="margin:0px">
		<div class="portlet-title">
			<div class="caption">
				Close Ticket
			</div>
			<div class="tools">
			</div>
		</div>
		<div class="portlet-body">
			<div class="alert alert-success alert-dismissable hidden" id="alertinfo_closeticket">
				<button type="button" class="close" data-dismiss="alert" aria-hidden="true"></button>
				<span id="alertmsg_closeticket"><strong>Warning!</strong> Something went wrong. Please check.</span>
			</div>
			
			<div style="margin:0px auto;text-align:center" id="processbar_closeticket" class="hidden">
				<div class="progress progress-striped active" style="margin:0px auto;text-align:center">
					<div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
						<span class="sr-only">
							On Process
						</span>
					</div>
				</div>
				<span style="margin:0px auto;">Please wait...processing request</span>
				<br>
			</div>
			<form id="update_ticket">
				<!--div class="form-group">
					<label>SID:</label>
				
					<input class="form-control" id="sid_personalisasi" name="sid_personalisasi" value="">
				</div-->	
				<div class="form-group">
				<input type="hidden" class="form-control" id="id" name="id" value="">						
				<input type="hidden" class="form-control" id="layanan" name="layanan" value="">						
					<label>Close this ticket?</label>
				</div>	
			</form>
		</div>
	</div>
	</div>
	<div class="modal-footer" style="margin-top:0px">
		<button type="button" data-dismiss="modal" class="btn btn-default" id="cancel_ticket">Cancel</button>
		<button type="button" id="btn_submit_close_ticket" class="btn red" onclick="closeTicket();">Submit</button>
	</div>
</div>

<div id="modal_update_tiket" class="modal container fade modal-scroll modal-overflow in" tabindex="-1" style="padding-bottom:100px;">
</div>

<div id="ajax-modal" class="modal container fade modal-scroll modal-overflow in" tabindex="-1" style="padding-bottom:100px;">
</div>

<div id="ajax-comment" class="modal container fade modal-scroll modal-overflow in" tabindex="-1" style="padding-bottom:100px;">
</div>

<div id="modal_perangkat" class="modal fade" tabindex="-1" data-backdrop="static2" data-keyboard="false">
	<div class="modal-body" style="padding:0px">
	<div class="portlet box red" style="margin:0px; overflow:hidden;">
		<!--div class="portlet-title">
			<div class="caption">
				Edit note.
			</div>
			<div class="tools">
			</div>
		</div-->
		<div class="portlet-body" id="modal_content">
		</div>
	</div>
	</div>
	<div class="modal-footer">
		<button type="button" class="btn default" data-dismiss="modal">Close</button>
		<!--button type="button" class="btn blue">Save changes</button-->
	</div>
</div>

<div id="modal_pic" class="modal fade" tabindex="-1" data-backdrop="static2" data-keyboard="false">
	<div class="modal-body" style="padding:0px">
	<div class="portlet box grey" style="margin:0px; overflow:hidden;">
		<div class="portlet-title">
			<div class="caption" id="modal_title">
				PIC Location
			</div>
			<div class="tools">
			</div>
		</div>
		<div class="portlet-body" id="modal_content_pic">
		</div>
	</div>
	</div>
	<div class="modal-footer">
		<button type="button" class="btn default" data-dismiss="modal">Close</button>
		<!--button type="button" class="btn blue">Save changes</button-->
	</div>
</div>



<script>
var xhr = null;
var xhr_modal = null;
var xhr_chats = null;
var elx = jQuery(".page-content").first();
var el = jQuery("#form").first();
var el4 = jQuery("#form_router").first();
var el2 = jQuery("#tab_content").first();
var files = {};

function getRowTicket(me){
	$("#id").val($(me).data("id"));
	$("#layanan").val($(me).data("layanan"));
}

function filterJadwal(){
	var data = $("#form_jadwal").serialize();
	// console.log(data);
	
	if (xhr != undefined && xhr != null){
		xhr.abort();
	}
	
	App.blockUI(el2);
	
	 xhr = $.get(
		'/ajaxmonitor/getjadwalposko?'+data,
		// {tpanename:$(me).data('tpanename'),event_id:$(me).data('event_id'),loc_id:$(me).data('loc_id'),service:$(me).data('service')},
		function(data){
			$('#content_jadwal').html(data);
			App.unblockUI(el2);
		},
		"html");
}

function getModalPIC(me){
	// console.log(me);
	
	$("#modal_title.caption").html('<b>'+$(me).data("lokasi")+' - '+$(me).data("kota")+'</b><br><h5 style="margin:0px;">'+$(me).data("format_tanggal")+'</h5>');
	
	// console.log($(me).data());
	
	
	if (xhr_modal != undefined && xhr_modal != null){
		xhr_modal.abort();
	}
	
	
	$('#modal_content_pic.portlet-body').html('');
	$('#loader_modal_pic.portlet-body').show();
	
	xhr_modal = $.get(
		'/ajaxmonitor/getmodalpic',
		{data:$(me).data()},
		// {tpanename:$(me).data('tpanename'),event_id:$(me).data('event_id'),loc_id:$(me).data('loc_id'),service:$(me).data('service')},
		function(data){
			$('#modal_content_pic.portlet-body').html(data);
			$('#loader_modal_pic.portlet-body').hide();
		},
		"html");	
	
	// setTimeout(function(){ $('#loader_modal').hide(); }, 3000);
}

function getModalUpdTicket(me){
	// console.log(me);
	
	// console.log($(me).data());
	
	
	if (xhr_modal != undefined && xhr_modal != null){
		xhr_modal.abort();
	}
	
	
	$('#modal_content_update_tiket').html('');
	$('#loader_modal_update_tiket').show();
	
	xhr_modal = $.get(
		'/ajaxmonitor/getmodalupdateticket',
		{data:$(me).data()},
		// {tpanename:$(me).data('tpanename'),event_id:$(me).data('event_id'),loc_id:$(me).data('loc_id'),service:$(me).data('service')},
		function(data){
			$('#modal_content_update_tiket').html(data);
			$('#loader_modal_update_tiket').hide();
		},
		"html");	
	
	// setTimeout(function(){ $('#loader_modal').hide(); }, 3000);
}

function getTabPane(me){
	alert($(me).data('tpanename'));
	if (xhr != undefined && xhr != null){
		xhr.abort();
	}
	
	if($(me).data('tpanename')=='surveillance'||$(me).data('tpanename')=='detailsurveillance'){
		//$('#legend').show();
	//} else {
		//$('#legend').hide();
	}
	
	if($(me).data('tpanename')=='topologimc'){		
		$('#parent_tab_content').addClass('oflowx');
	} else {
		$('#parent_tab_content').removeClass('oflowx');
	}
	
	$('#tab_content').html('');
	$('#loader_tab_content').show();
	
	 xhr = $.get(
		'/solar/gettabpane',
		{tpanename:$(me).data('tpanename'),event_id:$(me).data('event_id'),loc_id:$(me).data('loc_id'),service:$(me).data('service')},
		function(data){
			$('#tab_content').html(data);
			$('#loader_tab_content').hide();
			if($(me).data('tpanename')=='workforcemgt'){		
				//$("#btn_filter_jadwalposko").click();
			}
			if (jQuery().datepicker) {
				$('body').find('.date-picker').datetimepicker({
					isRTL: App.isRTL(),
					format: "dd/mm/yyyy hh:ii",
					autoclose: true,
					todayBtn: true,
					//startDate: "2013-02-14 10:00",
					pickerPosition: (App.isRTL() ? "bottom-right" : "bottom-left"),
					minuteStep: 5
				});
				
				$('#defaultrange').daterangepicker({
						opens: (App.isRTL() ? 'left' : 'right'),
						format: 'MM/DD/YYYY',
						separator: ' to ',
						startDate: moment().subtract('days', 29),
						endDate: moment(),
						minDate: '01/01/2012',
						maxDate: '12/31/2014',
					},
					function (start, end) {
						//console.log("Callback has been called!");
						$('#defaultrange input').val(start.format('MMMM D, YYYY') + ' - ' + end.format('MMMM D, YYYY'));
					}
				);      
			}
		},
		"html");
}

function changeLocID(){	
	// console.log($('#event_id').val());
	$.get(
		'/ajaxmonitor/getlistlocevent',
		{event_id:$('#event_id').val(),loc_id:$('#loc_id').val()},
		function(data){
			$('#loc_id').html(data);
		},
		"html");
}

function changeSubLocID(){	
	// console.log($('#event_id').val());
	App.blockUI(el);
	var data = $('#form').serialize();
	$.get(
		'/ajaxmonitor/getlistsublocevent?'+data,
		// {event_id:$('#event_id').val(),loc_id:'<?php echo $this->params['loc_id']; ?>'},
		function(data){
			$('#sub_loc_id').html(data);
			App.unblockUI(el);
		},
		"html");
}

function getModalPerangkat(me){
	
	// console.log($(me).data());
	
	
	if (xhr_modal != undefined && xhr_modal != null){
		xhr_modal.abort();
	}
	
	
	$('#modal_content.portlet-body').html('');
	// $('#modal_perangkat').html('');
	$('#loader_modal').show();
	
	xhr_modal = $.get(
		'/ajaxmonitor/getmodalperangkat',
		{data:$(me).data()},
		// {tpanename:$(me).data('tpanename'),event_id:$(me).data('event_id'),loc_id:$(me).data('loc_id'),service:$(me).data('service')},
		function(data){
			$('#modal_content.portlet-body').html(data);
			// $('#modal_perangkat').html(data);
			$('#loader_modal').hide();
		},
		"html");	
	
	// setTimeout(function(){ $('#loader_modal').hide(); }, 3000);
}

function tabTicket(me){
	
	// console.log(me);
	
	if (xhr != undefined && xhr != null){
		xhr.abort();
	}
	
	
	$('#tcontent_ticket').html('');
	// $('#loader_tab_content').show();
	
	
	 xhr = $.get(
		'/ajaxmonitor/gettabticket',
		{tticket:$(me).data('tticket'),event_id:'1'},
		function(data){
			$('#tcontent_ticket').html(data);
			// $('#loader_tab_content').hide();
		},
		"html");
	
}

function insertTicket(){
	
	var data = $("#form_ticket").serialize();
	// console.log(data);
	
	$.ajax({
		url:'/ajaxmonitor/insertticket',
		content:'json',
		type:'post',
		data:data,
		beforeSend:function(){
			// onsend4 = false;
			$('#alertinfo').addClass('hidden');
			$('#processbar').removeClass('hidden');
			// $('body,html').animate({
				// scrollTop: $('#header-title1').offset().top
			// }, 500);
			$('#processbar').removeClass('hidden');
			$('#alertinfo').removeClass('alert-success');
			$('#alertinfo').removeClass('alert-warning');
			$('#alertinfo').removeClass('alert-danger');
			$('#alertinfo').removeClass('alert-info');
		},
		complete:function(result){
			// onsend4 = true;
			$('#processbar').addClass('hidden');
		},
		success: function(data){
			// console.log(data);
			if(data.result!=undefined){
				if(data.result==true){
					$('#alertinfo').addClass('alert-success');
					$('#alertmsg').html("<strong>Success!</strong> "+data.retMsg);
					//setTimeout(function(){location.href="/admin/managemenus"},3000);
					// $modal4.modal('hide');
					// oTable.fnDraw();
					setTimeout(function(){$('#cancel_ticket').click();},4000);
				}else{
					$('#alertinfo').addClass('alert-warning');
					$('#alertmsg').html("<strong>Failed!</strong> "+data.retMsg);
				}
			}else{
				$('#alertinfo').addClass('alert-info');
				$('#alertmsg').html("<strong>Error!</strong> System is busy, please try again.");
			}
			$('#alertinfo').removeClass('hidden');
			setTimeout(function(){$('#alertinfo').addClass('hidden')},3000);
		},
		error:function(){
			$('#alertinfo').addClass('alert-info');
			$('#alertmsg').html("<strong>Error!</strong> System is busy, please try again.");
			$('#alertinfo').removeClass('hidden');
			setTimeout(function(){$('#alertinfo').addClass('hidden')},4000);
		}
		});
	
}

function closeTicket(){
	
	var data = $("#update_ticket").serialize();
	// console.log(data);
	
	$.ajax({
		url:'/ajaxmonitor/closeticket',
		content:'json',
		type:'post',
		data:data,
		beforeSend:function(){
			// onsend4 = false;
			$('#alertinfo_closeticket').addClass('hidden');
			$('#processbar_closeticket').removeClass('hidden');
			// $('body,html').animate({
				// scrollTop: $('#header-title1').offset().top
			// }, 500);
			$('#processbar_closeticket').removeClass('hidden');
			$('#alertinfo_closeticket').removeClass('alert-success');
			$('#alertinfo_closeticket').removeClass('alert-warning');
			$('#alertinfo_closeticket').removeClass('alert-danger');
			$('#alertinfo_closeticket').removeClass('alert-info');
		},
		complete:function(result){
			// onsend4 = true;
			$('#processbar_closeticket').addClass('hidden');
			setTimeout(function(){$('#cancel_ticket').click()},4000);
			setTimeout(function(){$('#cancel_ticket').click()},4000);
		},
		success: function(data){
			// console.log(data);
			if(data.result!=undefined){
				if(data.result==true){
					$('#alertinfo_closeticket').addClass('alert-success');
					$('#alertmsg_closeticket').html("<strong>Success!</strong> "+data.retMsg);
					//setTimeout(function(){location.href="/admin/managemenus"},3000);
					// $modal4.modal('hide');
					// oTable.fnDraw();
					setTimeout(function(){$('#cancel_ticket').click()},4000);
				}else{
					$('#alertinfo_closeticket').addClass('alert-warning');
					$('#alertmsg_closeticket').html("<strong>Failed!</strong> "+data.retMsg);
				}
			}else{
				$('#alertinfo_closeticket').addClass('alert-info');
				$('#alertmsg_closeticket').html("<strong>Error!</strong> System is busy, please try again.");
			}
			$('#alertinfo_closeticket').removeClass('hidden');
			setTimeout(function(){$('#alertinfo_closeticket').addClass('hidden')},1000);
			setTimeout(function(){$('#cancel_ticket').click()},2000);
			setTimeout(function(){$('#a_tickets').click()},3000);
		},
		error:function(){
			$('#alertinfo_closeticket').addClass('alert-info');
			$('#alertmsg_closeticket').html("<strong>Error!</strong> System is busy, please try again.");
			$('#alertinfo_closeticket').removeClass('hidden');
			setTimeout(function(){$('#alertinfo_closeticket').addClass('hidden')},4000);
		}
		});
	
}

function sendTelegram(){
	// console.log('ok');
	
	$(".go-top").click();
	
	var data = $("#form_report").serialize();
	// console.log(data);
	
	$.ajax({
		url:'/ajaxmonitor/inputlaporan',
		content:'json',
		type:'post',
		data:data,
		beforeSend:function(){
			// onsend4 = false;
			$('#alertinfo').addClass('hidden');
			$('#processbar').removeClass('hidden');
			// $('body,html').animate({
				// scrollTop: $('#header-title1').offset().top
			// }, 500);
			$('#processbar').removeClass('hidden');
			$('#alertinfo').removeClass('alert-success');
			$('#alertinfo').removeClass('alert-warning');
			$('#alertinfo').removeClass('alert-danger');
			$('#alertinfo').removeClass('alert-info');
		},
		complete:function(result){
			// onsend4 = true;
			$('#processbar').addClass('hidden');
		},
		success: function(data){
			// console.log(data);
			if(data.result!=undefined){
				if(data.result==true){
					$('#alertinfo').addClass('alert-success');
					$('#alertmsg').html("<strong>Success!</strong> "+data.retMsg);
					//setTimeout(function(){location.href="/admin/managemenus"},3000);
					// $modal4.modal('hide');
					// oTable.fnDraw();
					setTimeout(function(){$('#cancel_personalisasi').click()},4000);
				}else{
					$('#alertinfo').addClass('alert-warning');
					$('#alertmsg').html("<strong>Failed!</strong> "+data.retMsg);
				}
			}else{
				$('#alertinfo').addClass('alert-info');
				$('#alertmsg').html("<strong>Error!</strong> System is busy, please try again.");
			}
			$('#alertinfo').removeClass('hidden');
			setTimeout(function(){$('#alertinfo').addClass('hidden')},3000);
		},
		error:function(){
			$('#alertinfo').addClass('alert-info');
			$('#alertmsg').html("<strong>Error!</strong> System is busy, please try again.");
			$('#alertinfo').removeClass('hidden');
			setTimeout(function(){$('#alertinfo').addClass('hidden')},4000);
		}
		});

}

var chart; // global
var grp = $('body').find('#container').first();
function requestData() {
    $.ajax({
        url: '/libcacti/live-data.php',
        success: function(point) {
            var series = chart.series[0],
                shift = series.data.length > 50; // shift if the series is 
                                                 // longer than 20
            var series1 = chart.series[1],
                shift1 = series1.data.length > 50; // shift if the series is 
                                                 // longer than 20

            // add the point
            chart.series[0].addPoint(point[0], true);
            chart.series[1].addPoint(point[1], true);
            
            // call it again after one second
            setTimeout(requestData, 1000);    
        },
        cache: false
    });
}

function requestData2(me) {
	chart.showLoading();
	grp = $('body').find('#container').first();
	var val = $(me).val();
	var startdate = '2015-04-20 00:00:00';
	var enddate = '<?php echo date('Y-m-d H:i:s');?>';
    $.ajax({
        url: '/libcacti/live-data3.php',
		data:{rrd:val,start:startdate,end:enddate},
		beforeSend:function(){
			// App.blockUI(grp);
		},
		complete:function(){
			// App.unblockUI(grp);
			chart.hideLoading();
		},
        success: function(point) {
			// chart.series[0].setData([]);
			// chart.series[1].setData([]);
			// chart.redraw();
			// chart.reflow();
			console.log(point[0].data.sort());
			chart.series[0].update({
                data:point[0].data.sort()
            });
			console.log(point[1].data.sort());
			chart.series[1].update({
                data:point[1].data.sort()
            });
			// chart.series[0].setData(point[0].data);
			// chart.series[1].setData(point[1].data);
			var tmp = val.split("|");
			//console.log(tmp[3]);
			chart.setTitle({ text: "<b>"+tmp[3]+"</b><br>"+startdate+" - "+enddate+"<br>"});
			chart.series[2].update({
                name:"Current Inbound ("+point[2]+" Kb)"
            });
			chart.series[3].update({
                name:"Current Outbound ("+point[3]+" Kb)"
            });
			chart.series[4].update({
                name:"Total Inbound ("+point[4]+" Mb)"
            });
			chart.series[5].update({
                name:"Total Outbound ("+point[5]+" Mb)"
            });
			//chart.redraw();
			//chart.reflow();
			//Highcharts..setOptions({title:tmp[3],credits:{href:"/libcacti/live-data2.php",text:"TelkomCare Data"}});
			// $.each(point,function(k,v){
            // var series = chart.series[0],
                // shift = series.data.length > 50; // shift if the series is 
                                                 // // longer than 20
            // var series1 = chart.series[1],
                // shift1 = series1.data.length > 50; // shift if the series is 
                                                 // // longer than 20

            // // add the point
            // chart.series[0].addPoint(v[0], true, shift);
            // chart.series[1].addPoint(v[1], true, shift1);
            
            // // call it again after one second
            // setTimeout(function(){}, 1000);  
			// });
			/*var pt = chart.series[0].data[0];
			var text = chart.renderer.text(
                'Max',
                50,
                50
            ).attr({
                zIndex: 5
            }).add();
            box = text.getBBox();

			chart.renderer.rect(box.x - 5, box.y - 5, box.width + 10, box.height + 10, 5)
            .attr({
                fill: '#FFFFEF',
                stroke: 'gray',
                'stroke-width': 1,
                zIndex: 4
            }).add();*/
        },
        cache: false
    });
}

function initchart(){
	chart = new Highcharts.Chart({
        chart: {
            renderTo: 'container',
            defaultSeriesType: 'area',
			marginTop: 130,
			marginLeft: 100,
			zoomType: 'x'
            /*events: {
                load: requestData2
            }*/
        },
		tooltip: {
            formatter: function () {
				var date = new Date(this.x);
				var years = date.getFullYear();
				// minutes part from the timestamp
				var months = "0" + (date.getMonth()+1);
				var days = "0" + date.getDate();
				var hours = "0" + date.getHours();
				// minutes part from the timestamp
				var minutes = "0" + date.getMinutes();
				// seconds part from the timestamp
				var seconds = "0" + date.getSeconds();
				var formattedTime = years + '-' + months.substr(months.length-2) + '-' + days.substr(days.length-2) + ' ' + hours.substr(hours.length-2) + ':' + minutes.substr(minutes.length-2) + ':' + seconds.substr(seconds.length-2);
                var s = '<b>' + formattedTime + '</b>';

                $.each(this.points, function () {
                    s += '<br/>' + this.series.name + ': ' +
                        Math.abs(this.y) + 'Kb';
                });

                return s;
            },
            shared: true
        },
        title: {
            text: 'Traffic Graph'
        },
        xAxis: {
            type: 'datetime',
            // tickPixelInterval: 150,
            // maxZoom: 20 * 1000
        },
        yAxis: {
            minPadding: 0.2,
            maxPadding: 0.2,
            title: {
                text: 'Traffic (Kb)',
                margin: 10
            }
        },
        series: [{
            name: 'Inbound Average',
            data: []
        }, {
            name: 'Outbound Average',
            data: []
        }, {
            name: 'Current Inbound',
            data: []
        }, {
            name: 'Current Outbound',
            data: []
        }, {
            name: 'Total Inbound',
            data: []
        }, {
            name: 'Total Inbound',
            data: []
        }]
    });
}

function initlivechart(){
	chart = new Highcharts.Chart({
        chart: {
            renderTo: 'container',
            defaultSeriesType: 'area',
            events: {
                load: requestData
            }
        },
        title: {
            text: 'Live random data'
        },
        xAxis: {
            type: 'datetime',
            tickPixelInterval: 150,
            maxZoom: 20 * 1000
        },
        yAxis: {
            minPadding: 0.2,
            maxPadding: 0.2,
            title: {
                text: 'Value',
                margin: 80
            }
        },
        series: [{
            name: 'Inbound',
            data: []
        }, {
            name: 'Outbound',
            data: []
        }]
    });
}

function changeSubLocID_router(){	
	// console.log($('#event_id').val());
	App.blockUI(el4);
	var data = $('#form_router').serialize();
	// console.log(data);
	$.get(
		'/ajaxmonitor/getlistsublocevent?'+data,
		function(data){
			$('#sub_loc_id_router').html(data);
			App.unblockUI(el4);
		},
		"html");
}

jQuery(document).ready(function() {
$('body').addClass('page-header-fixed page-sidebar-fixed page-footer-fixed page-sidebar-closed');
App.init();
// Portfolio.init();
UIExtendedModals2.init();
FormComponents2.init();
// IndexKAA.initChat();
// UIGeneralKAA.init();
// Portfolio.init();
$('#<?php echo $d['tab'][0]['key'];?>').click();

});
</script>
