 <?php 
	$api=array();
	$var_array = Zend_Controller_Front::getInstance()->getRequest()->getParams();
	foreach($this->session as $k=>$v) 
	{
	 foreach($v as $k2=>$vv2){
		foreach($vv2 as $k3=>$vv3){ 
		$api[$k3]=$vv3;
		$api[$k3]['type']=$k;	
		$api[$k3]['portlet']=$k2;
		}
		}	
	}

	$page =array(
	'initApi'=>'fa-file',
	'datafield'=>'fa-list',
	'vglobal'=>'fa-list',
	'form'=>'fa-list',
	'table'=>'fa-list',
	'graphic'=>'fa-list',
	'html'=>'fa-list',
	);
	$wpage =array(
		'vglobal'=>'GLOBAL API',
		'initApi'=>'INIT API',
		'form'=>'FORM API',
		'table'=>'TABLE API',
		'graphic'=>'GRAPH API',
		'html'=>'HTML API',
		'datafield'=>'FORM FIELD API',
	);
	$spage =array(
	false=>'danger',
	true=>'success',
	);
	$db =array(
		'Oracle'=>'/assets/core/img/db/oracle.png',
		'Mysql'=>'/assets/core/img/db/mysql.png',
		'Mysqli'=>'/assets/core/img/db/mysql.png',
		'Pdo_Mssql'=>'/assets/core/img/db/mssql.png',
		'Pdo_Netezza'=>'/assets/core/img/db/netezza.png',
		'Pdo_Pgsql'=>'/assets/core/img/db/postgresql.png'
	);

?>
 
   <header class="page-header">
                <nav class="navbar mega-menu" role="navigation">
                    <div class="container-fluid">
                        <div class="clearfix navbar-fixed-top">
                            <!-- Brand and toggle get grouped for better mobile display -->
                            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="toggle-icon">
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                </span>
                            </button>
                            <!-- End Toggle Button -->
                            <!-- BEGIN LOGO -->
                       <a id="index" class="page-logo" href="/">
                    
                    <?php 
					if($this->apid!=""){
						echo $this->apid;}else{ echo "<img src='/images/praba.png' />";
					}
					?>
                                
                                </a>
                            <!-- END LOGO -->
                            <!-- BEGIN SEARCH -->
                          
                            <!-- END SEARCH -->
                            <!-- BEGIN TOPBAR ACTIONS -->
                            <div class="topbar-actions">
                                <!-- BEGIN GROUP NOTIFICATION -->
                                  <?php if($var_array['controller']=='prabagen'){ ?>
                                <div class="btn-group-notification btn-group" id="header_notification_bar">
                                    <button type="button" class="btn btn-sm md-skip dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
                                        <i class="icon-bell"></i>
                                        <span class="badge"><?php echo count($api); ?> </span>
                                    </button>
                                    <ul class="dropdown-menu-v2">
                                        <li class="external">
                                            <h3>
                                                Called <?php echo count($api); ?>  API</h3>
                                            <!--<a href="#">view all</a>-->
                                        </li>
                                        
                                        <li>
                                            <ul class="dropdown-menu-list scroller" style="height: 250px; padding: 0;" data-handle-color="#637283">
												 <?php foreach($api as $var=>$key){ ?>
                                                <li>
                                                    <a href="javascript:;">
                                                       	<span class="label label-sm label-icon label-<?php echo $spage[$key['transaction']]; ?>">
                                                        <i class="fa <?php echo $page[$key['type']]; ?>"></i>
															 </span> 
															  <b><?php echo $wpage[$key['type']].".</b><b><a href='/prabacontent/prabaeditor/editportlet/id/".$key['portlet']."'> PortlId:".$key['portlet']."</a></b><a href='#'>Msg:".$key['message'].'</a><a href="#">Sql:'.$key['sql'].'</a> <a href="#">Cache:'.$key['is_cache'].'</a><a href="#">CacheTime: '.$key['cache_time'].'</a><a href="#"> ParsingDataTime: '.$key['parsing_data_time'].' ms. </a><a  href="/prabacontent/prabaeditor/editapi/id/'.$var.'"> ID : '. $var	.'</a><a  href="#">Host : '.$key['host']; ?></a></i>
											<span style="float:right;margin-top:-5px;">
												<?php echo '<img src="'.$db[$key['adapter']].'" />';?>
											</span>	
                                                    </a>
                                                </li>
                                               <?php } ?>
                                            </ul>
                                        </li>
                                    </ul>
                                </div>
                                  	<?php } ?>
                                <!-- END GROUP NOTIFICATION -->
                                <!-- BEGIN GROUP INFORMATION -->
                              
                                
                                <div class="btn-group-notification btn-group" id="header_inbox_bar">
                                   
                                </div>
                                 
                                <div class="btn-group-notification btn-group" id="header_task_bar">
                                   
                                </div>
                                <!-- END GROUP INFORMATION -->
                                <!-- BEGIN USER PROFILE -->
                                <?php
						try{
							$identity = Zend_Auth::getInstance()->getIdentity();
						}catch(Exception $e){
							
						}

						if(strlen($identity->fullname)>13){
							$username = substr($identity->fullname,0,15).'...';
						}
						?>
                                <div class="btn-group-img btn-group">
                                    <button type="button" class="btn btn-sm md-skip dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
                                        <span><?php echo $identity->fullname; ?> </span>
                                        <img src="/assets/core/layouts/layout/img/avatar.png" alt=""> </button>
                                    <ul class="dropdown-menu-v2" role="menu">
                                      <li>
										<a id="cacheall" href="javascript:;"><i class="fa fa-bomb"></i> ClearAllCache
										
										</a>
									</li>
										
									<li>
										<a id="cachesys" href="javascript:;"><i class="fa fa-eraser"></i> ClearSysCache
										
										</a>
									</li>
									
									<li>
										<a id="chlep" href="javascript:;"><i class="fa fa-info"></i> Contextual Help
										
										</a>
									</li>
										<li>
										<a id="savetheme" href="javascript:;"><i class="fa fa-save"></i> Save Theme Settings
										
									</a>
									</li>
					
												<li>
													<a href="/public/logout">
														<i class="icon-key"></i> Log Out </a>
												</li>
											</ul>
										</li>
                                    </ul>
                                </div>
                                <!-- END USER PROFILE -->
                                <!-- BEGIN QUICK SIDEBAR TOGGLER -->
                                <button type="button" class="quick-sidebar-toggler md-skip" data-toggle="collapse">
                                    <span class="sr-only">Toggle Quick Sidebar</span>
                                    <i class="icon-logout"></i>
                                </button>
                                <!-- END QUICK SIDEBAR TOGGLER -->
                            </div>
                            <!-- END TOPBAR ACTIONS -->
                        </div>
                        <!-- BEGIN HEADER MENU -->
                        <?php  echo $this->action('sidebar', 'general', 'default', array('app'=>$params['module'], 'layout'=>'5')); ?>
                        <!-- END HEADER MENU -->
                    </div>
                    <!--/container-->
                </nav>
            </header>
  <script>
jQuery(document).ready(function() {
	
	
	$("#cacheall").click(function(){
		    
		 $.ajax({
			url:"/prabajax/clearcacheall",
			//content:'json',
			dataType: "json",
			beforeSend:function(){
				$('#alertinfo').addClass('hidden');
				$('#processbar').removeClass('hidden');
				$('html,body').animate({
					scrollTop: $('h3.page-title').offset().top
				}, 800);
				$('#alertinfo').removeClass('alert-success');
				$('#alertinfo').removeClass('alert-warning');
				$('#alertinfo').removeClass('alert-danger');
				$('#alertinfo').removeClass('alert-info');
			},
			complete:function(result){
				$('#processbar').addClass('hidden');
			},
			success: function(data){
				//console.log(data);
				if(data.result!=undefined){
					if(data.result==true){
						$('#alertinfo').addClass('alert-success');
						$('#alertmsg').html("<strong>Success!</strong> "+data.retMsg);
					}else{
						$('#alertinfo').addClass('alert-warning');
						$('#alertmsg').html("<strong>Failed!</strong> "+data.retMsg);
					}
				}else{
					$('#alertinfo').addClass('alert-info');
					$('#alertmsg').html("<strong>Error!</strong> System is busy, please try again.");
				}
				$('#alertinfo').removeClass('hidden');
			},
			error:function(){
				$('#alertinfo').addClass('alert-info');
				$('#alertmsg').html("<strong>Error!</strong> System is busy, please try again.");
				$('#alertinfo').removeClass('hidden');
			}
		});
		     
		     
		});
     
	$("#cachesys").click(function(){
		 $.ajax({
			url:"/prabajax/clearcachesys",
			dataType: "json",
			beforeSend:function(){
				$('#alertinfo').addClass('hidden');
				$('#processbar').removeClass('hidden');
				$('html,body').animate({
					scrollTop: $('h3.page-title').offset().top
				}, 800);
				$('#alertinfo').removeClass('alert-success');
				$('#alertinfo').removeClass('alert-warning');
				$('#alertinfo').removeClass('alert-danger');
				$('#alertinfo').removeClass('alert-info');
			},
			complete:function(result){
				$('#processbar').addClass('hidden');
			},
			success: function(data){
				//console.log(data);
				if(data.result!=undefined){
					if(data.result==true){
						$('#alertinfo').addClass('alert-success');
						$('#alertmsg').html("<strong>Success!</strong> "+data.retMsg);
					}else{
						$('#alertinfo').addClass('alert-warning');
						$('#alertmsg').html("<strong>Failed!</strong> "+data.retMsg);
					}
				}else{
					$('#alertinfo').addClass('alert-info');
					$('#alertmsg').html("<strong>Error!</strong> System is busy, please try again.");
				}
				$('#alertinfo').removeClass('hidden');
			},
			error:function(){
				$('#alertinfo').addClass('alert-info');
				$('#alertmsg').html("<strong>Error!</strong> System is busy, please try again.");
				$('#alertinfo').removeClass('hidden');
			}
		});
		     
		     
		});
     
 
 
	$("#chlep").click(function(){
		 $.ajax({
			url:"/prabajax/chelp/ctl/<?php echo $var_array['controller'] ?>/act/<?php echo $var_array['action'] ?>",
			dataType: "json",
			beforeSend:function(){
				$('#alertinfo').addClass('hidden');
				$('#processbar').removeClass('hidden');
				$('html,body').animate({
					scrollTop: $('h3.page-title').offset().top
				}, 800);
				$('#alertinfo').removeClass('alert-success');
				$('#alertinfo').removeClass('alert-warning');
				$('#alertinfo').removeClass('alert-danger');
				$('#alertinfo').removeClass('alert-info');
			},
			complete:function(result){
				$('#processbar').addClass('hidden');
			},
			success: function(data){
				//console.log(data);
				if(data.result!=undefined){
					if(data.result==true){
						$('#alertinfo').addClass('alert-success note note-success');
						$('#alertmsg').html(data.retMsg);
					}else{
						$('#alertinfo').addClass('alert-warning');
						$('#alertmsg').html("<strong>Failed!</strong> "+data.retMsg);
					}
				}else{
					$('#alertinfo').addClass('alert-info');
					$('#alertmsg').html("<strong>Error!</strong> System is busy, please try again.");
				}
				$('#alertinfo').removeClass('hidden');
			},
			error:function(){
				$('#alertinfo').addClass('alert-info');
				$('#alertmsg').html("<strong>Error!</strong> System is busy, please try again.");
				$('#alertinfo').removeClass('hidden');
			}
		});
		     
		     
		});
     
 
		(function worker() {
		
			$.ajax({
				url: '/ajax/notif/layout/5', 
				dataType: "html",
				success: function(res) {
				//console.log(res);
				$('#header_task_bar').html(res);      
				
				

			},
			complete: function() {
			// Schedule the next request when the current one's complete
			setTimeout(worker, 3000);
			}
			});
		})();

	
		(function worker() {
		
			$.ajax({
			
				url: '/ajax/inbox/layout/5', 
				dataType: "html",
				success: function(res) {
				//console.log(res);
				$('#header_inbox_bar').html(res);      
				
				

			},
			complete: function() {
			// Schedule the next request when the current one's complete
			setTimeout(worker, 3000);
			}
			});
		})();




});	
</script>
