<!-- BEGIN MEGA MENU -->
<!-- DOC: Apply "hor-menu-light" class after the "hor-menu" class below to have a horizontal menu with white background -->
<!-- DOC: Remove data-hover="dropdown" and data-close-others="true" attributes below to disable the dropdown opening on mouse hover -->
<div class="hor-menu  ">
<ul class="nav navbar-nav">
	
	<?php 
	foreach($this->menu as $k=>$v) {
			if($v['class']==null || $v['class']==''){
				$v['class']='icon-folder';
			}
			if($v['child']!="" && $v['child']!=null && is_array($v['child']) &&$v['is_active']==1 ){
				echo '<li class="menu-dropdown classic-menu-dropdown">
						<a href="javascript:;"> '.$v['menu_name'].'
						<span class="arrow"></span>
					</a>';
			

			echo '<ul class="dropdown-menu pull-left">';
			
			foreach  ($v['child'] as $k2=>$v2 ) {	
				if($v2['class']==null || $v2['class']==''){
					$v2['class']='icon-folder';
			}
			
			if($v2['child']!="child" && $v2['child']!=null && is_array($v2['child'])){		
			
			echo '<li class="dropdown-submenu">
				<a href="javascript:;" class="nav-link nav-toggle">
					<i class="'.$v2['class'].'"></i> '.$v2['menu_name'].'
					<span class="arrow"></span>
				</a>';
			

			echo '<ul class="dropdown-menu">';
			foreach  ($v2['child'] as $k3=>$v3 ) {
			if($v3['class']==null || $v3['class']==''){
			$v3['class']='icon-folder';
			}
			if($v3['child']!="" && $v3['child']!=null && is_array($v3['child'])){	
			echo  '<li class="dropdown-submenu">
				<a href="javascript:;" class="nav-link nav-toggle">
					<i class="'.$v3['class'].'"></i> '.$v3['menu_name'].'
					<span class="arrow"></span>
				</a>';
			
							

			echo '<ul class="dropdown-menu">';
			foreach  ($v3['child'] as $k4=>$v4 ) {
			if($v4['class']==null || $v4['class']==''){
				$v4['class']='icon-folder';
			}
				echo '<li class="">
					<a href="'.$v4['menu_link'].'" class="nav-link">
						<i class="'.$v4['class'].'"></i> '.$v4['menu_name'].'</a>
					</li>';
			
			}
			echo '</ul>';
			echo '</li>';
			}else{
			echo '<li class="">
					<a href="'.$v3['menu_link'].'" class="nav-link">
						<i class="'.$v3['class'].'"></i> '.$v3['menu_name'].'</a>
					</li>';
			}
			}
			echo '</ul>';
			echo '</li>';
			}else{
					echo '<li class="">
					<a href="'.$v2['menu_link'].'" class="nav-link">
						<i class="'.$v2['class'].'"></i> '.$v2['menu_name'].'</a>
					</li>';
			}

			}
			echo '</ul>';
			echo '</li>';
			}else if ($v['is_active']==1){
				echo '<li class="">
					<a href="'.$v['menu_link'].'" class="nav-link">
						<i class="'.$v['class'].'"></i> '.$v['menu_name'].'</a>
					</li>';
			}
	} 
	?>	
	
</ul>
</div>
<!-- END MEGA MENU -->
