<?php
($this->datap['portlet_attrs']['type']=="")? $ptype= "box":$ptype=$this->datap['portlet_attrs']['type'];
$tools=array();
foreach($this->datap['portlet_attrs']['tools'] as $v ) {
	$tools[$v]=1;
}
?>
<div class="col-md-<?php echo  (isset($this->datap['portlet_attrs']['width']) && $this->datap['portlet_attrs']['width']!=''?$this->datap['portlet_attrs']['width']:12); ?> ">
<!-- BEGIN EXAMPLE TABLE PORTLET-->
	<div class="portlet <?php echo  $ptype; ?> <?php echo  $this->datap['portlet_attrs']['color']; ?>">
		<div class="portlet-title">
			<div class="caption">
				<i class="fa fa-user"></i><?php echo  $this->datap['portlet_title']; ?>
			</div>
			<div class="tools">
<?php 
if($tools['collapse']==1) {
	echo '<a href="javascript:;" class="collapse"></a>';	
}
if($tools['reload']==1) {
	echo '<a href="#portlet-config" data-toggle="modal" class="config"></a>';	
}
if($tools['reload']==1) {
	echo '<a href="javascript:;" class="reload"></a>';	
}
if($tools['remove']==1) {
	echo '<a href="javascript:;" class="remove"></a>';	
}
?>
			</div>
			<div class="actions">
<?php 
foreach($this->datap['portlet_attrs']['actions'] as $kp=>$vp) {
?>
				<a href="#" class="<?php echo $vp['class'] ?>"><i class="<?php echo $vp['classicon'] ?>"></i> <?php echo $vp['label'] ?></a>
<?php } ?>
			</div>
		</div>
		<div class="portlet-body form">
			<div class="alert alert-success alert-dismissable hidden" id="alertinfo">
				<button type="button" class="close" data-dismiss="alert" aria-hidden="true"></button>
				<span id="alertmsg"><strong>Warning!</strong> Something went wrong. Please check.</span>
			</div>
			<?php echo $this->datap["content_attrs"]['tpl2']; ?>
		</div>
	</div>
</div>