<?php
	
	($this->datap['portlet_attrs']['type']=="")? $ptype= "box":$ptype=$this->datap['portlet_attrs']['type'];
	$tools=array();
	foreach($this->datap['portlet_attrs']['tools'] as $v ) 
	{
		$tools[$v]=1;
	}
	$getapi = explode(',', $this->datap['content_attrs']['api_id']); //die();
	$grapId=  "graph".$this->datap['id'];
	$vaf = $this->datap['content_attrs']['script'];
					for ($i=0;$i<$this->cnt;$i++) {
						foreach ($this->datap['content_attrs']['napi'] as $ke=>$val) {
							$new[$i][$val]= $this->datagraph[$this->datap['content_attrs']['api_id'][$ke]]['data'][$i][$this->datap['content_attrs']['field_key'][$ke]];
						}
						//$new[$i][$napi[1]]= $api[1]
					}
	$vaf->dataProvider=$new;
			
	
?>
<div class="col-md-<?php echo  $this->datap['portlet_attrs']['width']; ?> ">
					<!-- BEGIN EXAMPLE TABLE PORTLET-->
					<div class="portlet <?php echo  $ptype; ?> <?php echo  $this->datap['portlet_attrs']['color']; ?>">
						<div class="portlet-title">
							<div class="caption">
								<i class="fa fa-user"></i><?php echo  $this->datap['portlet_title']; ?>
							</div>
							<div class="tools">
								<?php 
								if($tools['collapse']==1) {
								echo '<a href="javascript:;" class="collapse"></a>';	
								}
								
								if($tools['reload']==1) {
									echo '<a href="#portlet-config" data-toggle="modal" class="config"></a>';	
								}
								if($tools['reload']==1) {
									echo '<a href="javascript:;" class="reload"></a>';	
								}
								if($tools['remove']==1) {
									echo '<a href="javascript:;" class="remove"></a>';	
								}
								?>
								
							
							</div>
							<div class="actions">
								<?php foreach($this->datap['portlet_attrs']['actions'] as $kp=>$vp) {
									
									 ?>
								<a href="#" class="<?php echo $vp['class'] ?>"><i class="<?php echo $vp['classicon'] ?>"></i> <?php echo $vp['label'] ?></a>
								
								<?php } ?>
							</div>
							
							
						</div>
						<div class="portlet-body form">
						<div class="alert alert-success alert-dismissable hidden" id="alertinfo">
								<button type="button" class="close" data-dismiss="alert" aria-hidden="true"></button>
								<span id="alertmsg"><strong>Warning!</strong> Something went wrong. Please check.</span>
							</div>

							<div id="<?php echo $grapId; ?>" class="chart">
							</div>	
							
							
						
						</div>
					</div>
					<!-- END EXAMPLE TABLE PORTLET-->
				</div>



	
<script>
jQuery(document).ready(function() {
			
			AmCharts.makeChart("<?php echo $grapId ?>",<?php echo json_encode($this->datap['content_attrs']['script']) ;?>
				
			);
	

});

</script>
	
