<?php
	//die();
	//Zend_Debug::dump($this->dataV); die();
	($this->datap['portlet_attrs']['type']=="")? $ptype= "box":$ptype=$this->datap['portlet_attrs']['type'];
	//Zend_Debug::dump($this->datap); die();
	$tools=array();
	foreach($this->datap['portlet_attrs']['tools'] as $v ) 
	{
		$tools[$v]=1;
	}
?>
<div class="col-md-<?php echo  $this->datap['portlet_attrs']['width']; ?> ">
					<!-- BEGIN EXAMPLE TABLE PORTLET-->
					<div class="portlet <?php echo  $ptype; ?> <?php echo  $this->datap['portlet_attrs']['color']; ?>">
						<div class="portlet-title">
							<div class="caption">
								<i class="fa fa-user"></i><?php echo  $this->datap['portlet_title']; ?>
							</div>
							<div class="tools">
								<?php 
								if($tools['collapse']==1) {
								echo '<a href="javascript:;" class="collapse"></a>';	
								}
								
								if($tools['reload']==1) {
									echo '<a href="#portlet-config" data-toggle="modal" class="config"></a>';	
								}
								if($tools['reload']==1) {
									echo '<a href="javascript:;" class="reload"></a>';	
								}
								if($tools['remove']==1) {
									echo '<a href="javascript:;" class="remove"></a>';	
								}
								?>
								
							</div>
							<div class="actions">
								<?php foreach($this->datap['portlet_attrs']['actions'] as $kp=>$vp) {
								?>
								<a href="#" class="<?php echo $vp['class'] ?>"><i class="<?php echo $vp['classicon'] ?>"></i> <?php echo $vp['label'] ?></a>
								<?php } ?>
							</div>
							
						</div>
						<div class="portlet-body form">
						<?php 	
							echo $this->partial('prabaportlet/formelement.phtml', array('data'=>$this->datap,'dataV'=>$this->dataV));
						?>	
						</div>
					</div>
					<!-- END EXAMPLE TABLE PORTLET-->
</div>


