<?php
	
	($this->datap['portlet_attrs']['type']=="")? $ptype= "box":$ptype=$this->datap['portlet_attrs']['type'];
	
	$tools=array();
	foreach($this->datap['portlet_attrs']['tools'] as $v ) 
	{
		$tools[$v]=1;
	}
	$getapi = explode(',', $this->datap['content_attrs']['api_id']); //die();
	//Zend_Debug::dump($this->datap['id']); 	
	$grapId=  "graph".$this->datap['id'];
	//Zend_Debug::dump($this->dataV); 
	
?>
<div class="col-md-<?php echo  $this->datap['portlet_attrs']['width']; ?> ">
					<!-- BEGIN EXAMPLE TABLE PORTLET-->
					<div class="portlet <?php echo  $ptype; ?> <?php echo  $this->datap['portlet_attrs']['color']; ?>">
						<div class="portlet-title">
							<div class="caption">
								<i class="fa fa-user"></i><?php echo  $this->datap['portlet_title']; ?>
							</div>
							<div class="tools">
								<?php 
								if($tools['collapse']==1) {
								echo '<a href="javascript:;" class="collapse"></a>';	
								}
								
								if($tools['reload']==1) {
									echo '<a href="#portlet-config" data-toggle="modal" class="config"></a>';	
								}
								if($tools['reload']==1) {
									echo '<a href="javascript:;" class="reload"></a>';	
								}
								if($tools['remove']==1) {
									echo '<a href="javascript:;" class="remove"></a>';	
								}
								?>
								
							
							</div>
							<div class="actions">
								<?php foreach($this->datap['portlet_attrs']['actions'] as $kp=>$vp) {
									
									 ?>
								<a href="#" class="<?php echo $vp['class'] ?>"><i class="<?php echo $vp['classicon'] ?>"></i> <?php echo $vp['label'] ?></a>
								
								<?php } ?>
							</div>
							
							
						</div>
						<div class="portlet-body form">
						<div class="alert alert-success alert-dismissable hidden" id="alertinfo">
								<button type="button" class="close" data-dismiss="alert" aria-hidden="true"></button>
								<span id="alertmsg"><strong>Warning!</strong> Something went wrong. Please check.</span>
							</div>

							<div id="<?php echo $grapId; ?>" class="chart">
							</div>	
							<div id="satu" class="chart">
							</div>	
							
							
						
						</div>
					</div>
					<!-- END EXAMPLE TABLE PORTLET-->
				</div>


<?php

switch($this->datap['content_attrs']['graph_lib']) 
{
	case 'plot' :
	default :
?>
	
	
<script>
jQuery(document).ready(function() {
	
	
<?php 
	switch($this->datap['content_attrs']['graph_type'])
	{
		case 'simplepie':
?>
var data = [
			<?php 
			foreach($this->dataprocess[$getapi[0]]['data'] as $vv) 
			{
				echo 	'{ label: "'.$vv[$this->datap['content_attrs']['field'][0]['key']].'",  data: '.$vv[$this->datap['content_attrs']['field'][0]['value']].'},';
			}
			?>
			];
            // DEFAULT
            $.plot($("#<?php echo $grapId; ?>"), data, {
                    series: {
                        pie: {
                            show: true
                        }
                    }
                });
<?php 
	break ;
	
	case 'simplebar' :
?>
		var data = [
			<?php 
			foreach($this->dataprocess[$getapi[0]]['data'] as $vv) 
			{
				echo 	'["'.$vv[$this->datap['content_attrs']['field'][0]['key']].'",  "'.$vv[$this->datap['content_attrs']['field'][0]['value']].'"],';
			}
			?>
			];
			
				
            // DEFAULT
            
            $.plot($("#<?php echo $grapId; ?>"), [data], {
                    series: {
                        bars: {
                            show: true,
                            barWidth: 0.6,
						align: "center"
                        }
                    },
			<?php 
			if(!is_numeric($this->dataprocess[$getapi[0]]['data'][0][$this->datap['content_attrs']['field'][0]['key']])) {
			 echo "xaxis: {
				mode: \"categories\",
				tickLength: 0
				}";	
				
			}
			?>
		
                    
                });
	
	
	
<?php	
	break ;

	case 'horizontalbar' :
?>	
	var data = [
			<?php 
			
			if(count($this->datap['content_attrs']['field'])<=1) {
				foreach($this->dataprocess[$getapi[0]]['data'] as $vv) 
				{
					echo 	'[ "'.$vv[$this->datap['content_attrs']['field'][0]['value']].'", "'.$vv[$this->datap['content_attrs']['field'][0]['key']].'"],';
				}
			} else {
				
				
			}
			
			?>
			];
			
            // DEFAULT
            
            $.plot($("#<?php echo $grapId; ?>"), [data], {
				
				
                    series:{
                        bars:{show: true}
                    },
                    bars:{
                        horizontal:true,
                     
                    },
                    <?php 
			if(!is_numeric($this->dataprocess[$getapi[0]]['data'][0][$this->datap['content_attrs']['field'][0]['key']])) {
			 echo "yaxis: {
				mode: \"categories\",
				tickLength: 0
				}";	
				
			}
			?>
				 });
	
	
<?php	
	break ;
	
	
	case 'stackchart' :
	
				$i=1;
				foreach ($this->datap['content_attrs']['field'] as $k => $v) {
				if(isset($v['api'])&&isset($this->dataV[$v['api']]['data'])) {
				echo  'var data'.$i.' = [';
				foreach ($this->dataprocess[$v['api']]['data'] as $kk=>$vv) {
						echo '[ "'.$vv[$v['key']].'" , "'.$vv[$v['value']].'" ],';
					} 
				echo '];';
					
				}
				$i++;
				}
	?>
	
                var stack = 0,
                    bars = true,
                    lines = false,
                    steps = false;

             
						$.plot($("#<?php echo $grapId; ?>"), [<?php 
						$i=1;
						foreach ($this->datap['content_attrs']['field'] as $k => $v) {
						?>
						data<?php echo $i; ?>,
                        <?php 
						$i++;
						}
						?>], {
								series: {
									stack: stack,
									lines: {
										show: lines,
										fill: true,
										steps: steps
									},
									bars: {
										show: bars,
										barWidth: 0.6
									}
								}, 
								 <?php 
							if(!is_numeric($this->dataprocess[$getapi[0]]['data'][0][$this->datap['content_attrs']['field'][0]['key']])) {
							 echo "xaxis: {
								mode: \"categories\",
								tickLength: 0
												}";	
												
							}
							?>
				
							});
					
	
	
	<?php
	break ;
	
	
	case 'pieplus' :
	?>
	
	var data = [
			<?php 
			foreach($this->dataprocess[$getapi[0]]['data'] as $vv) 
			{
				echo 	'{ label: "'.$vv[$this->datap['content_attrs']['field'][0]['key']].'",  data: '.$vv[$this->datap['content_attrs']['field'][0]['value']].'},';
			}
			?>
			];
            // DEFAULT
            $.plot($("#<?php echo $grapId; ?>"), data, {
                    series: {
                        pie: {
                            show: true,
                             radius: 3 / 4,
                             formatter: function (label, series) {
                                    return '<div style="font-size:8pt;text-align:center;padding:2px;color:white;">' + label + '<br/>' + Math.round(series.percent) + '%</div>';
							},
							background: {
								opacity: 0.5
							}
                        }
                    },
                    legend: {
                        show: false
                    }
                });
	
	 
	
	<?
	
	break ;
	
	

	
	
	case 'interactive' :
	
		$i=1;
		foreach ($this->datap['content_attrs']['field'] as $k => $v) {
				if(isset($v['api'])&&isset($this->dataprocess[$v['api']]['data'])) {
				echo  'var data'.$i.' = [';
					foreach ($this->dataprocess[$v['api']]['data'] as $kk=>$vv) {
							echo '[ "'.$vv[$v['key']].'" , "'.$vv[$v['value']].'" ],';
						} 
				echo '];';
						
				}
		$i++;
		}
	?>	

                var plot = $.plot($("#<?php echo $grapId; ?>"), [
						
						<?php 
						$i=1;
						foreach ($this->datap['content_attrs']['field'] as $k => $v) {
						?>
						
						{
							data: data<?php echo $i; ?>,
                            label: '<?php echo ($v['name']!="") ?  $v['name'] : 'label'.$i; ?>'
                        },
						<?php 
						$i++;
						}
						?>
                    
                    ], {
                        series: {
                            lines: {
                                show: true,
                                lineWidth: 2,
                                fill: true,
                                fillColor: {
                                    colors: [{
                                            opacity: 0.05
                                        }, {
                                            opacity: 0.01
                                        }
                                    ]
                                }
                            },
                            points: {
                                show: true
                            },
                            shadowSize: 2
                        },
                        grid: {
                            hoverable: true,
                            clickable: true,
                            tickColor: "#eee",
                            borderWidth: 0
                        },
                        colors: ["#d12610", "#37b7f3", "#52e136"],
                        xaxis: {
							
							<?php 
							if(!is_numeric($this->dataprocess[$getapi[0]]['data'][0][$this->datap['content_attrs']['field'][0]['key']])) {
								echo 'mode : "categories"';	
							} else {
								echo 'ticks: 11,
									tickDecimals: 0';
								}
							
							?>
							
							
							
							
                        },
                        yaxis: {
                            ticks: 11,
                            tickDecimals: 0
                        }
                    });
	
	
<?php	
	
	
	break;
	
		
	

}



?>



});
</script>

	

<?php	
	break;
	
	case 'am' :
?>

<script>
jQuery(document).ready(function() {

	 var chart = AmCharts.makeChart("satu",{
	"type": "serial",
	"pathToImages": "https://cdn.amcharts.com/lib/3/images/",
	"categoryField": "category",
	"rotate": true,
	"colors": [
		"#FF6600",
		"#CCCCCC",
		"#B0DE09",
		"#0D8ECF",
		"#2A0CD0",
		"#CD0D74",
		"#CC0000",
		"#00CC00",
		"#0000CC",
		"#DDDDDD",
		"#999999",
		"#333333",
		"#990000"
	],
	"startDuration": 1,
	"addClassNames": true,
	"color": "#439F43",
	"fontFamily": "Times  new roman",
	"handDrawn": true,
	"handDrawScatter": 5,
	"handDrawThickness": 3,
	"percentPrecision": 8,
	"categoryAxis": {
		"gridPosition": "start"
	},
	"trendLines": [],
	"graphs": [
		{
			"balloonText": "[[title]] of [[category]]:[[value]]",
			"fillAlphas": 1,
			"id": "AmGraph-1",
			"title": "graph 1",
			"type": "column",
			"valueField": "column-1"
		},
		{
			"balloonText": "[[title]] of [[category]]:[[value]]",
			"fillAlphas": 1,
			"id": "AmGraph-2",
			"title": "graph 2",
			"type": "column",
			"valueField": "column-2"
		}
	],
	"guides": [],
	"valueAxes": [
		{
			"id": "ValueAxis-1",
			"title": "Axis title"
		}
	],
	"allLabels": [],
	"balloon": {},
	"legend": {
		"useGraphSettings": true
	},
	"titles": [
		{
			"id": "Title-1",
			"size": 15,
			"text": "Chart Title"
		}
	],
	"dataProvider": [
		{
			"category": "category 1",
			"column-1": 8,
			"column-2": 5
		},
		{
			"category": "category 2",
			"column-1": 6,
			"column-2": 7
		},
		{
			"category": "category 3",
			"column-1": 2,
			"column-2": 3
		},
		{
			"category": null,
			"column-1": null,
			"column-2": null
		}
	]
}
	 
	 );

        $('#satu').closest('.portlet').find('.fullscreen').click(function() {
            chart.invalidateSize();
        });

	<?php 
	switch($this->datap['content_attrs']['graph_type'])
	{
		case 'simplebar':
		case 'horizontalbar' :
	?>
	
	var data =[
		<?php
		foreach ($this->dataprocess[$getapi[0]]['data'] as $k => $v) 
		{
			//var_dump($v);
			echo '{';
			$i=1;
			foreach  ($this->dataprocess[$getapi[0]]['data'][0] as $kk => $vv) 
			{
		
			 echo '"'.$kk.'":'.'"'.$v[$kk].'",';
			}
			$i++;		
			echo '},';
		}
		
		?>];

        var chart = AmCharts.makeChart("<?php echo $grapId; ?>", {
            "type": "serial",
            "theme": "light",
            "pathToImages": "/assets/core/plugins/amcharts/amcharts/images/",
            "autoMargins": false,
            "marginLeft": 30,
            "marginRight": 8,
            "marginTop": 10,
            "marginBottom": 26,
			"fontFamily": 'Open Sans',            
            "color":    '#888',
            
            "dataProvider": data,
            "valueAxes": [{
                "axisAlpha": 0,
                "position": "left"
            }],
            "startDuration": 1,
            "graphs": [{
                "alphaField": "alpha",
                "balloonText": "<span style='font-size:13px;'>[[title]] in [[category]]:<b>[[value]]</b> [[additional]]</span>",
                "dashLengthField": "dashLengthColumn",
                "fillAlphas": 1,
                "title": "<?php echo $this->datap['content_attrs']['field'][0]['value'];?>",
                "type": "column",
                "valueField": "<?php echo $this->datap['content_attrs']['field'][0]['value'];?>"
            }],
            
            <?php 
            if($this->datap['content_attrs']['graph_type']=='horizontalbar') {
				echo '"rotate": true,'; 	
			}
            ?>
            "categoryField": "<?php echo $this->datap['content_attrs']['field'][0]['key'];?>",
            "categoryAxis": {
                "gridPosition": "start",
                "axisAlpha": 0,
                "tickLength": 0
            }
        });

        $('#<?php echo $grapId; ?>').closest('.portlet').find('.fullscreen').click(function() {
            chart.invalidateSize();
        });
		
		<?php
		break;
		case 'simplepie':
		case 'pieplus':
		?>
		var data =[
		<?php
		foreach ($this->dataprocess[$getapi[0]]['data'] as $k => $v) 
		{
			//var_dump($v);
			echo '{';
			$i=1;
			foreach  ($this->dataprocess[$getapi[0]]['data'][0] as $kk => $vv) 
			{
		
			 echo '"'.$kk.'":'.'"'.$v[$kk].'",';
			}
			$i++;		
			echo '},';
		}
		
		?>];

		
	
		 var chart = AmCharts.makeChart("<?php echo $grapId; ?>", {
         
            "type": "pie",
            "theme": "light",

            "fontFamily": 'Open Sans',
            
            "color":    '#888',

            "dataProvider": data,
            "valueField": "<?php echo $this->datap['content_attrs']['field'][0]['value'];?>",
            "titleField": "<?php echo $this->datap['content_attrs']['field'][0]['key'];?>",
            "outlineAlpha": 0.4,
            "depth3D": 15,
            "balloonText": "[[title]]<br><span style='font-size:14px'><b>[[value]]</b> ([[percents]]%)</span>",
            "angle": 30,
            
            });
      

        $('#<?php echo $grapId; ?>').closest('.portlet').find('.fullscreen').click(function() {
            chart.invalidateSize();
        });
			
		<?php 
		break;
		
	}
		?>	
});
</script>
	
<?php	
	break;	
	
	
}


?>
