
<div class="col-md-4 ">
	<!-- BEGIN Portlet PORTLET-->
	<div class="portlet box red">
		<div class="portlet-title">
			<div class="caption">
				<i class="fa fa-reorder"></i>Portlet GENERAL
			</div>
			<div class="tools">
				<a href="javascript:;" class="collapse"></a> <a
					href="#portlet-config" data-toggle="modal" class="config"></a>
			</div>
			<div class="actions">
				<a href="#" class="btn blue btn-sm"><i class="fa fa-pencil"></i>
					Edit</a>
			</div>
		</div>
		<div class="portlet-body">
			<div class="slimScrollDiv"
				style="position: relative; overflow: hidden; width: auto; height: 200px;">
				<div class="scroller"
					style="height: 200px; overflow: hidden; width: auto;"
					data-always-visible="1" data-rail-visible="1"
					data-rail-color="blue" data-handle-color="red">
					<strong>Scroll is always visible</strong><br> Duis mollis, est non
					commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem
					nec elit. Cras mattis consectetur purus sit amet fermentum. Duis
					mollis, est non commodo luctus, nisi erat porttitor ligula, eget
					lacinia odio sem nec elit. Cras mattis consectetur purus sit amet
					fermentum. Duis mollis, est non commodo luctus, nisi erat porttitor
					ligula, eget lacinia odio sem nec elit. Cras mattis consectetur
					purus sit amet fermentum. Duis mollis, est non commodo luctus, nisi
					erat porttitor ligula, eget lacinia odio sem nec elit. Cras mattis
					consectetur purus sit amet fermentum.
				</div>
				<div class="slimScrollBar"
					style="width: 7px; position: absolute; top: 53px; opacity: 0.4; display: block; border-top-left-radius: 7px; border-top-right-radius: 7px; border-bottom-right-radius: 7px; border-bottom-left-radius: 7px; z-index: 99; right: 1px; height: 146.5201465201465px; background: red;"></div>
				<div class="slimScrollRail"
					style="width: 7px; height: 100%; position: absolute; top: 0px; display: block; border-top-left-radius: 7px; border-top-right-radius: 7px; border-bottom-right-radius: 7px; border-bottom-left-radius: 7px; opacity: 0.2; z-index: 90; right: 1px; background: blue;"></div>
			</div>
		</div>
	</div>
	<!-- END Portlet PORTLET-->
</div>