<?php
//Zend_Debug::dump($this->datap); 
	$tools=array();
	foreach($this->datap['portlet_attrs']['tools'] as $v ) 
	{
		$tools[$v]=1;
	}
		$getapi = explode(',', $this->datap['content_attrs']['api_id']); //die();
//Zend_Debug::dump($this->dataV); 
?>
<div class="col-md-<?php echo  $this->datap['portlet_attrs']['width']; ?> ">
					<!-- BEGIN EXAMPLE TABLE PORTLET-->
					<div class="portlet <?php echo  ($this->datap['portlet_attrs']['type']=="")? 'box':$this->datap['portlet_attrs']['type']; ?> <?php echo  $this->datap['portlet_attrs']['color']; ?>">
						<div class="portlet-title">
							<div class="caption">
								<i class="fa fa-user"></i><?php echo  $this->datap['portlet_title']; ?>
							</div>
							
							<div class="tools">
								<?php 
								if($tools['collapse']==1) {
								echo '<a href="javascript:;" class="collapse"></a>';	
								}
								
								if($tools['reload']==1) {
									echo '<a href="#portlet-config" data-toggle="modal" class="config"></a>';	
								}
								if($tools['reload']==1) {
									echo '<a href="javascript:;" class="reload"></a>';	
								}
								if($tools['remove']==1) {
									echo '<a href="javascript:;" class="remove"></a>';	
								}
								?>
								
							
							</div>
							<div class="actions">
								<?php foreach($this->datap['portlet_attrs']['actions'] as $kp=>$vp) {
									
									 ?>
								<a href="#" class="<?php echo $vp['class'] ?>"><i class="<?php echo $vp['classicon'] ?>"></i> <?php echo $vp['label'] ?></a>
								
								<?php } ?>
							</div>
						</div>
						<div class="portlet-body">

							<table class="table table-striped table-bordered table-hover" id="table_portlet_<?php echo $this->datap['id']; ?>">
							<thead>
							<tr>
								
								<?php
								if($this->datap['content_attrs']['attrs']['checkboxes']===TRUE){
								?>
								<th style="width1:8px;">
									<input type="checkbox" class="group-checkable" data-set="#table_portlet_<?php echo $this->datap['id']; ?> .checkboxes"/>
								</th>
								<?php }
								$v1= explode('|', $this->datap['content_attrs']['header']);
								$cek=false;
								foreach($v1 as $v) 
								{
									$cek = strpos ( $v, "#-" );
									
									if($cek !== false) {
										$no = explode("#-", $v);
										//Zend_Debug::dump($no); 
										echo "<th> ".$no[1]." </th>";	
									} else {
										
										echo "<th> ".$v." </th>";		
									} 
								}
								
								
								
								?>
							
							
							
							</tr>
							</thead>
							<tbody>
								
							<?php
							$cek = strpos ( $v1[0], "#" );
							$no = explode("#-", $v1[0]);
								
							if($cek !== false){$counting=count($v1) -1;}else{$counting=count($v1);} 
							$i=1;
							foreach($this->dataprocess[$getapi[0]]['data'] as $k2=>$v2) {
							?>	
							<tr class="gradeX">
								<?php
								if($this->datap['content_attrs']['attrs']['checkboxes']===TRUE){
								?>
								<td>
								<input type="checkbox" class="checkboxes" value="1"/>
								</td>
								<?php
								}
								
								if ($cek !== false){
								?>
								
								<?php 
								echo "<td>".$i."</td>";
								} 
								$vhader  = (array_keys($v2));
								if(is_numeric($vhader[0])) {
								
								for($z=0;$z<=$counting-1;$z++){
								?>
								<td>
								<?php
								 echo $v2[$z]; ?>
								</td>
								<?php 
								}
								
								} else {
									for($z=0;$z<=$counting-1;$z++){
								?>
								<td>
								<?php
								 echo $v2[$vhader[$z]]; ?>
								</td>
								<?php 
								}
								}
								?>
							</tr>
							<?php 
							$i++;
							} ?>	
							</tbody>
							</table>
						</div>
					</div>
					<!-- END EXAMPLE TABLE PORTLET-->
				</div>
<script>
	
jQuery(document).ready(function() {



 $('#table_portlet_<?php echo $this->datap['id'];?>').dataTable({
                "aoColumns": [
					<?php  if($this->datap['content_attrs']['attrs']['checkboxes']===TRUE){ ?>
						{ "bSortable": false },
					<?php } 
					for($z=0;$z<=count($v1) -1;$z++){
						echo "null,";
					}	
					
					?>
					
					
				
                ],
                "aLengthMenu": [
                    [5, 15, 20, -1],
                    [5, 15, 20, "All"] // change per page values here
                ],
                // set the initial value
                "iDisplayLength": 10,
                //"sPaginationType": "bootstrap",
                "oLanguage": {
                    "sLengthMenu": "_MENU_ records",
                    "oPaginate": {
                        "sPrevious": "Prev",
                        "sNext": "Next"
                    }
                },
                buttons: [
                { extend: 'print', className: 'btn dark btn-outline' },
                { extend: 'copy', className: 'btn red btn-outline' },
                { extend: 'pdf', className: 'btn green btn-outline' },
                { extend: 'excel', className: 'btn yellow btn-outline ' },
                { extend: 'csv', className: 'btn purple btn-outline ' },
                { extend: 'colvis', className: 'btn dark btn-outline', text: 'Columns'}
				],
				 "dom": "<'row' <'col-md-12'B>><'row'<'col-md-6 col-sm-12'l><'col-md-6 col-sm-12'f>r><'table-scrollable't><'row'<'col-md-5 col-sm-12'i><'col-md-7 col-sm-12'p>>", 
                "aoColumnDefs": [{
                        'bSortable': false,
                        'aTargets': [0]
                    }
                ]
            });		
         

});
</script>


