<?php
include '/zxenc/'.$this->datap['content_attrs']['server'].'.php';
?>

<script type='text/javascript' src='https://smartanalytics.telkom.co.id/javascripts/api/viz_v1.js'></script><div class='tableauPlaceholder' style='width: 1004px; height: 804px;'><object class='tableauViz' width='1004' height='804' style='display:none;'><param name='host_url' value='https%3A%2F%2Fsmartanalytics.telkom.co.id%2F' /> <param name='site_root' value='' /><param name='name' value='<?php echo $this->datap['content_attrs']['val_id'];?>' /><param name='tabs' value='no' /><param name='toolbar' value='no' /><param name="ticket" value=""></object></div>
