<?php
try{
	$params = Zend_Controller_Front::getInstance()->getRequest()->getParams();
	$control=  Zend_Controller_Front::getInstance()->getRequest()->getControllerName();
	$act=  Zend_Controller_Front::getInstance()->getRequest()->getActionName();
}catch(Exception $e){
	
}
//Zend_Debug::dump($this->data['l_app']);die();
//Zend_Debug::dump($act);die();

if(isset($_GET['ajaxview'])){
?>




<div class="clearfix">
</div>
<!-- BEGIN CONTAINER -->
<div class="page-container">

	<!-- BEGIN CONTENT -->
<div class="page-content-wrapper">
	
<?php 
	echo $this->layout()->content;
?>

	</div>
	<!-- END CONTENT -->
</div>
<?php 
}else if($control!='error' && ($control!='public' && $act!='login' && $act!='loginsoft')){
	echo $this->action('header', 'metronic', 'default', array('app'=>$params['module'], 'apid'=>$this->data['l_app']));
?>

<div class="clearfix">
</div>
<!-- BEGIN CONTAINER -->
<div class="page-container">

<?php 
echo $this->action('sidebar', 'metronic', 'default', array('app'=>$params['module']));
?>

	<!-- BEGIN CONTENT -->
	<div class="page-content-wrapper">
	
<?php 
	echo $this->layout()->content;
?>

	</div>
	<!-- END CONTENT -->
</div>

<!-- BEGIN FOOTER -->
<div class="footer">
	<?php 
    $this->addScriptPath(APPLICATION_PATH . '/views/scripts');
   // echo $this->render('util/profiler.phtml');
?>
	<div class="footer-inner">
		2015 &copy; PrabaCore
	</div>
	<div class="footer-tools">
		<span class="go-top">
			<i class="fa fa-angle-up"></i>
		</span>
	</div>
</div>
<!-- END FOOTER -->
<?php 
}

if(
	($control=='public' && ($act=='login' || $act=='loginsoft'))
	||
	$control=='error'
){
	echo $this->layout()->content;
}
