<style>
.login .content {
	padding:20px;
}

.login .logo{
	margin-top:20px;
}

.login .content .form-title {
	margin:0px 0px 20px 0px;
}

.login .content .form-actions{
	padding-bottom:10px;
	margin-left: 0px;
	margin-right: 0px;
}

dd#captcha-element img{
	margin-bottom:5px;
	width:100%;
	height:60px;
}

dd#captcha-element input#captcha-input{
	width:100%;
	height:35px;
	text-align:center;
}
</style>

<!-- BEGIN LOGO -->
<div class="logo">
	<h3 class="form-title"><span id="login-title1">PrabaC<span class="font-red1"> <?php echo date('Y'); ?></span></span></h3>
</div>
<!-- END LOGO -->
<!-- BEGIN LOGIN -->
<div class="content">
	<!-- BEGIN LOGIN FORM -->
<?php 
if(isset($_GET['msg'])){
?>
		<div class="alert alert-danger" id="alert2">
			<button class="close" data-close="alert"></button>
			<span>
				 <?php echo strip_tags($_GET['msg']); ?>
			</span>
		</div>
<?php 
}
?>
	<?php
	echo $this->form;
	?>
	
	<!-- END LOGIN FORM -->
</div>
<!-- END LOGIN -->
<!-- BEGIN COPYRIGHT -->
<div class="copyright">
	 2014 &copy; PrabaC
</div>
<!-- END COPYRIGHT -->

<script>
jQuery(document).ready(function() {
$('body').addClass('login');
App.init();
Login2.init();
$("#captcha-input").rules("add", {required:true,messages: { required: 'Captcha is required.' }});
});
</script>
