<?php
$getsentimentid = array("netral"=>0,"negatif"=>1,"positif"=>2);
$getsentimentname = array(0=>"netral",1=>"negatif",2=>"positif");
?>
<style>
.bootstrap-tagsinput{
	/*margin-bottom: 0px;*/
	width: 100%;
	max-width: 100%;
	height : 80px;
	overflow:auto;
}
.modal-open {
	overflow-y: hidden !important;
}
.chats li {
	position: relative;
}
.btn-modal1 {
	position: absolute;
	top: 55px;
	left: 5px;
}
</style>
<div class="page-content">

    <h1 class="page-title"> Discovery 
        <small>Advance &amp; Search</small>
    </h1>
                    
	<div class="page-bar">
		<ul class="page-breadcrumb">
			<li>
				<i class="icon-home"></i>
				<a href="index.html">Home</a>
				<i class="fa fa-angle-right"></i>
			</li>
			<li>
				<span>Dashboard</span>
			</li>
		</ul>
	</div>

    <div class="row">
        <div class="col-md-12">
			<form method="post" id="formFilter">
			<div class="row">
				<div class="col-md-2">
				<div class="form-group">
					<input name="keysearch" id="keysearch" type="text" class="form-control" placeholder="KEYWORD Search..." value="<?php echo $this->params["keysearch"];?>" data-role="tagsinput">
				</div>
				</div>
				<div class="col-md-2">
				<div class="form-group">
					<input name="andsearch" id="andsearch" type="text" class="form-control" placeholder="AND Search..." value="<?php echo $this->params["andsearch"];?>" data-role="tagsinput">
				</div>
				</div>
				<div class="col-md-2">
				<div class="form-group">
					<input name="exsearch" id="exsearch" type="text" class="form-control" placeholder="EXCEPTION Search..." value="<?php echo $this->params["exsearch"];?>" data-role="tagsinput">
				</div>
				</div>
				<div class="col-md-3">
					<div class="form-group">
						<div id="datepickrange" class="input-group date-picker input-daterange" 
							data-date="<?php echo date("Y-m-d"); ?>" data-date-format="yyyy-mm-dd">
							<input id="from" type="text" class="form-control" name="startdate" value='<?php echo $this->params["startdate"];?>'>
							<span class="input-group-addon"> to </span>
							<input id="to" type="text" class="form-control" name="enddate" value='<?php echo $this->params["enddate"];?>'>
						</div>    
					</div>
				</div>
				<div class="col-md-3">
					<div class="form-group">
						<button type="submit" class="btn blue btn-block">Filter</button>
						<a class="btn red btn-block" href="/domas/index/discovery2">Clear</a>
					</div>
				</div>
			</div>
			</form>
        </div>
    </div>
	<?php
	if($this->jsdata){
		foreach($this->jsdata as $k=>$v){
	?>
    	<div class="row">
	        <div class="col-md-12">
	            <div class="portlet light portlet-fit bordered">
	                <div class="portlet-title">
	                    <div class="caption">
	                        <i class=" icon-layers font-green"></i>
	                        <span class="caption-subject font-green bold uppercase"><?php echo $this->datasource[$k]; ?></span>
	                    </div>
	                </div>
	                <div class="portlet-body">
	                    <div id="pie_<?php echo $k; ?>" style="height:450px;"></div>
						<hr>
	                </div>
	            </div>
	        </div>
    	</div>		
		<div class="row hidden" id="row_<?php echo $k; ?>">
			<?php
			$color = array("netral"=>"blue","negatif"=>"red","positif"=>"green-jungle");
			echo '<div class="col-md-4">
					<div class="portlet light portlet-fit bordered">
						<div class="portlet-title">
							<div class="caption">
								<i class=" icon-layers font-red"></i>
								<span class="caption-subject font-red bold uppercase">NEGATIF</span>
								<span class="caption-helper"></span>
							</div>
						</div>
						<div class="portlet-body">							                	
							<div class="scroller" style="height: 525px;" data-always-visible="1" data-rail-visible1="1" id="scroller_'.$k.'_1">
							</div>
						</div>
					</div>
				</div>';
			echo '<div class="col-md-4">
					<div class="portlet light portlet-fit bordered">
						<div class="portlet-title">
							<div class="caption">
								<i class=" icon-layers font-blue"></i>
								<span class="caption-subject font-blue bold uppercase">NETRAL</span>
								<span class="caption-helper"></span>
							</div>
						</div>
						<div class="portlet-body">							                	
							<div class="scroller" style="height: 525px;" data-always-visible="1" data-rail-visible1="1" id="scroller_'.$k.'_0">
							</div>
						</div>
					</div>
				</div>';
			echo '<div class="col-md-4">
					<div class="portlet light portlet-fit bordered">
						<div class="portlet-title">
							<div class="caption">
								<i class=" icon-layers font-green-jungle"></i>
								<span class="caption-subject font-green-jungle bold uppercase">POSITIF</span>
								<span class="caption-helper"></span>
							</div>
						</div>
						<div class="portlet-body">							                	
							<div class="scroller" style="height: 525px;" data-always-visible="1" data-rail-visible1="1" id="scroller_'.$k.'_2">
							</div>
						</div>
					</div>
				</div>';
			?>
		</div>
	<?php
		}
	}
	?>
	
</div>

<!-- /.modal -->
<div class="modal fade bs-modal-lg" id="modal1" tabindex="-1" role="dialog" aria-hidden="true">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
				<h4 class="modal-title" id="modal1title">Modal Title</h4>
			</div>
			<div class="modal-body" id="modal1content"> Modal body goes here </div>
			<div class="modal-footer">
				<button type="button" class="btn dark btn-outline" data-dismiss="modal">Close</button>
			</div>
		</div>
		<!-- /.modal-content -->
	</div>
	<!-- /.modal-dialog -->
</div>
<!-- /.modal -->

<script type="text/javascript">
var el = {};
var xhr = {};
function getlistbysentiment(entity="",sentiment="",series="",name=""){

	if(entity=="" && sentiment=="" && name==""){
		return false;
	}

	var id = entity+"_"+sentiment;
	// console.log(id);

	var el = jQuery("#scroller_"+id);
	var param = "entity/"+entity+"/sentiment/"+sentiment+"/series/"+series+"/name/"+name;

	xhr[id] = $.ajax({
		url: "/domas/index/getdiscoverylist/ajax1/get/page/0/"+param,
		content: 'html',
		method: 'post',
		data: $("#formFilter").serialize(),
		beforeSend: function() {
			// App.blockUI(el);
			App.blockUI({target:"#scroller_"+id,boxed:!0});
			if(series!="sentiment"){				
				$("#row_"+entity+" span.caption-helper").html(name);
			}
		},
		complete: function(result) {
			App.unblockUI({target:"#scroller_"+id,boxed:!0});
		},
		success: function(data) {

			$("#scroller_"+id).html(data);
		},
		error: function() {
			// $(".<?php echo $this->params["l"]; ?> .ajaxload").hide();
		}
	});

}

var xhr1 = null;
function continueReading(me){
	if(xhr1!="" && xhr1!=null){
		xhr1.abort();
	}
	
	// console.log(me);
	var id = $(me).data("id");
	var title = $(me).data("title");
	
	$("#modal1title").html('<h3>'+title+'</h3>');
	
	
	
	xhr1 = $.ajax({
		url: "/domas/index/continuereading",
		content: 'html',
		method: 'post',
		data: {"id":id,},
		beforeSend: function() {
			// App.blockUI(el);
			App.blockUI({target:"#modal1content",boxed:!0});
		},
		complete: function(result) {
			App.unblockUI({target:"#modal1content",boxed:!0});
		},
		success: function(data) {

			$("#modal1content").html(data);
		},
		error: function() {
			// $(".<?php echo $this->params["l"]; ?> .ajaxload").hide();
		}
	});
}
jQuery(document).ready(function() {
	
	$( "#datepickrange" ).datepicker({
		 minDate: -20,
		 maxDate: "+1M +10D",
		// startDate: "-1y", 
		// endDate: "+0d",
		// title: "DateRange",
		// todayBtn:true,
		// format: "yyyy-mm-dd",
		todayHighlight:true
	});
	
	$('#datepickrange').datepicker('update', '2017-03-05', "<?php echo date("Y-m-d"); ?>");

    // ECHARTS
    require.config({
        paths: {
            echarts: '/assets/core/global/plugins/echarts/'
        }
    });

    require(
        [
            'echarts',
            'echarts/chart/pie',
            // 'echarts/chart/radar',
            // 'echarts/chart/scatter',
            // 'echarts/chart/tree',
            // 'echarts/chart/treemap',
            // 'echarts/chart/venn',
            // 'echarts/chart/wordCloud'
        ],
        function(ec) {
            // -- PIE --
<?php
if($this->jsdata){
foreach($this->jsdata as $k=>$v){
?>
    var pie_<?php echo $k; ?> = ec.init(document.getElementById('pie_<?php echo $k; ?>'));
    pie_<?php echo $k; ?>.setOption({
        tooltip: {
            show: true,
            // formatter: "{a} <br/>{b} : {c} ({d}%)"
            formatter: "{b} : {c} ({d}%)"
        },
		// title:{
            // show: false,
            // text: "KEYWORD",
            // subtext: "entity",
            // x: "center",
            // y: "top",
            // textAlign: "center"
		// },
        legend: {
            orient: 'vertical',
            x: 'left',
			y:'bottom',
            data: [{
					name:"key",
					textStyle : {
						fontSize:15,
						// fontWeight:'light',
						// color:'#aaa',
						icon:'circle'
					}
				},
				{
					name:"bundle",
					textStyle : {
						fontSize:15,
						// fontWeight:'light',
						// color:'#858585',
						icon:'circle'
					}
				},
				{
					name:"sentiment",
					textStyle : {
						fontSize:15,
						// fontWeight:'light',
						// color:'#626262',
						icon:'circle'
					}
				},
				{
					name:"netral",
					textStyle : {
						fontSize:15,
						// fontWeight:'light',
						// color:'#626262',
						icon:'circle'
					}
				},
				{
					name:"negatif",
					textStyle : {
						fontSize:15,
						// fontWeight:'light',
						// color:'#626262',
						icon:'circle'
					}
				},
				{
					name:"positif",
					textStyle : {
						fontSize:15,
						// fontWeight:'light',
						// color:'#626262',
						icon:'circle'
					}
				}
			]
        },
        toolbox: {
            show: true,
            orient: 'horizontal',
            x: 'center',
			y:'top',
            feature: {
                mark: {
                    show: false
                },
                dataView: {
                    show: true,
                    readOnly: false
                },
                restore: {
                    show: true
                },
                saveAsImage: {
                    show: true
                }
            }
        },
        calculable: true,
		loadingOption:{
			text : "Loading Data..."
		},
		noDataLoadingOption:{
			text : "No Data Found."
		},
        series: [
			{
				type:'pie',
				name:'bundle',
        		center: ['35%', 200],
				radius:['60%', '75%'],
				itemStyle:{
					// normal:{
						// borderColor:'#aaa',
						// borderWidth:2
					// }
				},
				data:<?php echo ($this->jsdata[$k]['bundle']?json_encode($this->jsdata[$k]['bundle']):'{}'); ?>,
			},
			{
				type:'pie',
				name:'key',
        		center: ['35%', 200],
				radius:['30%', '45%'],
				itemStyle:{
					// normal:{
						// borderColor:'#858585',
						// borderWidth:2
					// }
				},
				data:<?php echo ($this->jsdata[$k]['key']?json_encode($this->jsdata[$k]['key']):'{}'); ?>,
			},
			{
                name: 'sentiment',
                type: 'pie',
                clockWise: true,
                startAngle: 135,
                center: ['75%', 200],
                radius: [80, 120],
                itemStyle: {
                    normal: {
                        label: {
                        	show : true,
                            // position: 'inner',
                            // formatter: function(params) {
                            //     return (params.percent - 0).toFixed(0) + '%'
                            // }
                        },
                        labelLine: {
                            show: true
                        }
                    },
                },
                data:<?php echo ($this->jsdata[$k]['sentiment']?json_encode($this->jsdata[$k]['sentiment']):'{}'); ?>,
            }
		]
    });

	
	pie_<?php echo $k; ?>.on('click', function (params){
		// console.log(params);
		// if(params.seriesName=="key"){
			// console.log(params);
			$("#row_<?php echo $k; ?>").removeClass("hidden");

			getlistbysentiment(<?php echo $k; ?>,0,params.seriesName,params.name);
			getlistbysentiment(<?php echo $k; ?>,1,params.seriesName,params.name);
			getlistbysentiment(<?php echo $k; ?>,2,params.seriesName,params.name);
		// }
	}); 
<?php
}
}
?>
	        }
	    );
	});
</script>