<!-- analis/home/index.phtml -->
<style>
body{
	color: #b7b7b7;
}
.mt-author-name h3{
	margin: 0px;
}
.chats li .name {
    color: #d5ff5b;
}
</style>
<div class="page-content">

<div class="row">
<div class="col-md-3">
<?php
// Zend_Debug::dump($this->lap1);
?>
</div>
</div>

	<div class="row" style="margin-bottom: 20px;">
		<div class="col-md-4 col-sm-4">
			<!--button type="button" class="btn grey-cascade" onclick="setMT('nasional');">Nasional</button>
			<button type="button" class="btn grey-cascade" onclick="setMT('internasional');">Internasional</button-->
		</div>
		<div class="col-md-8 col-sm-8">		
			<form action="" id="form">
			   
				<input class="hidden" id="skey" name="search" value="<?php echo $_GET["search"]; ?>"> 
				<input class="hidden" id="is_sentiment" name="is_sentiment" value="<?php echo $this->varams["is_sentiment"]; ?>">
				<input class="hidden" id="media_type" name="media_type" value="<?php echo $this->varams["media_type"]; ?>">
				<div class="col-md-5 col-sm-5">
					<select class="form-control input-large select2me" data-placeholder="Select..." id="cat" name="cat">
						<option value="">ALL</option>
	<?php 
	foreach ($this->cat as $k=>$v) {
	echo '<option value="'.$k.'" '.(isset($_GET["cat"]) && $_GET["cat"]!="" && $_GET["cat"]==$k?"selected":"").'>'.$k.'</option>';    
	}
	?>
					</select>
				</div>
				
				<div class="col-md-5 col-sm-5">
					<div id="datepicker3" class="input-group input-large date-picker input-daterange" data-date="10/11/2012" data-date-format="yyyy-mm-dd">
						<input id="from" type="text" class="form-control" name="startdate" value='<?php echo $_GET["startdate"]; ?>'>
						<span class="input-group-addon"> to </span>
						<input id="to" type="text" class="form-control" name="enddate" value='<?php echo $_GET["enddate"]; ?>'>
					</div>    
				</div>		
				<div class="col-md-2 col-sm-2">
				<button class="btn btn-circle default">Filter</button>
				</div>
			</form>
		</div>
	</div>

<div class="row">
<div class="col-md-3">
	<div class="portlet light" style="background-color:rgba(17, 38, 55, 0.8);">
		<div class="portlet-title">
			<div class="caption font-white">
				Laporan
			</div>
			<div class="actions">
				<a href="javascript:;" class="btn btn-primary btn-sm" onclick="getCloud('laporan');">
					<i class="fa fa-refresh"></i></a>
			</div>
		</div>
		<div class="portlet-body" id="laporan">
		</div>
	</div>
	<div class="portlet light" style="background-color:rgba(17, 38, 55, 0.8);">
		<div class="portlet-title">
			<div class="caption font-white">
				Digital Media
			</div>
			<div class="actions">
				<a href="javascript:;" class="btn btn-primary btn-sm" onclick="getCloud('digmed');">
					<i class="fa fa-refresh"></i></a>
			</div>
		</div>
		<div class="portlet-body">
			<div id="digmed" style="height:100px;"></div>
		</div>
	</div>
	<div class="portlet light" style="background-color:rgba(17, 38, 55, 0.8);">
		<div class="portlet-title">
			<div class="caption font-white">
				Social Media
			</div>
			<div class="actions">
				<a href="javascript:;" class="btn btn-primary btn-sm" onclick="getCloud('socmed');"> 
					<i class="fa fa-refresh"></i></a>
			</div>
		</div>
		<div class="portlet-body">
			<div id="socmed" style="height:100px;"></div>
		</div>
	</div>
</div>

<div class="col-md-9">
	<div class="row">
		<div class="col-md-12">
			<div class="portlet">
				<div class="portlet-body">
					<div id="gmap_marker" class="gmaps"></div>
				</div>
			</div>
		</div>
		<!--div class="col-md-4">
			<div class="portlet light" style="background-color:rgba(17, 38, 55, 0.8);">
				<div class="portlet-title">
					<div class="caption">
						Laporan Terkini
					</div>
					<div class="actions">
						<a href="javascript:;" class="btn btn-primary btn-sm" onclick="getLapterkini();"> 
							<i class="fa fa-refresh"></i></a>
					</div>
				</div>				
				<div class="portlet-body" id="chats">
					<div class="scroller" style="height: 190px;" data-always-visible="1" data-rail-visible1="1" id="lapterkini"></div>
				</div>
			</div>
		</div-->
	</div>
	<div class="row">
		<div class="col-md-6">
			<div class="portlet light" style="background-color:rgba(17, 38, 55, 0.8);">
				<div class="portlet-title">
					<div class="caption font-white">
						Sentimen    
					</div>
					<div class="actions">
						<a href="javascript:;" class="btn btn-primary btn-sm" onclick="getSentiment();">
							<i class="fa fa-refresh"></i></a>
					</div>
				</div>
				<div class="portlet-body" id="sentiment">
				</div>
			</div>
		</div>
		<div class="col-md-6">
			<div class="portlet light" style="background-color:rgba(17, 38, 55, 0.8);">
				<div class="portlet-title">
					<div class="caption font-white">
						Trend Line
					</div>
					<div class="actions">
						<a href="javascript:;" class="btn btn-primary btn-sm" onclick="getTrendline();">
							<i class="fa fa-refresh"></i></a>
					</div>
				</div>
				<div class="portlet-body" id="trendline">					
				</div>
			</div>
		</div>
	</div>
</div>

</div>

<div class="row">
<div class="col-md-4">
<div class="portlet light " style="background-color:rgba(17, 38, 55, 0.8);">
     <div class="portlet-title" style="height:10px;">
		<div class="caption">
			<i class="icon-equalizer font-dark hide"></i>
			<span class="caption-subject font-dark bold uppercase" ><font color="white">Latest Laporan</font></span>
			
		</div>
		<div class="tools">
			<a href="" class="collapse" data-original-title="" title=""> </a>
		</div>
	</div>
	<div class="portlet-body">
		<div class="scroller" id="l_lap" style="height: 525px;" data-always-visible="1" data-rail-visible1="1">
		</div>
	</div>
</div>
</div>

<div class="col-md-4">
<div class="portlet light " style="background-color:rgba(17, 38, 55, 0.8);">
     <div class="portlet-title">
                                        <div class="caption">
                                            <i class="icon-equalizer font-dark hide"></i>
                                            <span class="caption-subject font-dark bold uppercase"><font color="white">Latest News</font></span>
                                        </div>
                                        <div class="tools">
                                            <a href="" class="collapse" data-original-title="" title=""> </a>
                                        </div>
                                    </div>
                                    <div class="portlet-body">
                                        <div class="scroller" id="l_news" style="height: 525px;" data-always-visible="1" data-rail-visible1="1">
                                        </div>
                                        
                                    </div>
                                </div>
</div>
<div class="col-md-4">
<div class="portlet light " style="background-color:rgba(17, 38, 55, 0.8);">
     <div class="portlet-title">
			<div class="caption">
				<i class="icon-equalizer font-dark hide"></i>
				<span class="caption-subject font-dark bold uppercase"><font color="white">Latest Socmed</font></span>
			</div>
			<div class="tools">
				<a href="" class="collapse" data-original-title="" title=""> </a>
			</div>
		</div>
		<div class="portlet-body" id="chats">
			<div class="scroller" id="l_socmed" style="height: 525px;" data-always-visible="1" data-rail-visible1="1">
			</div>
			
		</div>
	</div>
</div>

</div>







	
</div>
<script>
var words = {};
var map;
function setMT(mt){
	// console.log(mt);
	$("#media_type").val(mt);
	// console.log($("#media_type").val());
	$("#form").submit();

	
}
function getCloud(t){

App.blockUI({target:"#"+t,boxed:!0});

var formData = $("#form").serialize();


$.ajax({  
	type: "GET",
	url: '/analis/ajaxhome/wordcloud/ajax/1/t/'+t+'/skey/<?php echo $_GET["search"] ?>',
	data: formData, //last_id kita berarti 15
	dataType: "html",  //sesuai keinginan, di sini saya pengen ngambil langsung data dalam bentuk html langsung dari file data_per_load.php
	success: function(data){
		// console.log(data);
		
		$("#"+t).html(data);
		App.unblockUI("#"+t);
	}
});
	
}
function getLapterkini(){
	
	
App.blockUI({target:"#lapterkini",boxed:!0});

$.ajax({  
	type: "GET",
	url: '/analis/ajaxhome/lapterkini/',
	data: {}, //last_id kita berarti 15
	dataType: "html",  //sesuai keinginan, di sini saya pengen ngambil langsung data dalam bentuk html langsung dari file data_per_load.php
	success: function(data){
		// console.log(data);
		$("#lapterkini").html(data);
		App.unblockUI("#lapterkini");
	}
});

}
function getSentiment(){
	
	
App.blockUI({target:"#sentiment",boxed:!0});

var formData = $("#form").serialize();


var	k = "<?php echo $_GET["search"]; ?>";
$.ajax({  
	type: "GET",
	url: '/analis/ajaxhome/sentiment/skey/'+k,
	data: formData, //last_id kita berarti 15
	dataType: "html",  //sesuai keinginan, di sini saya pengen ngambil langsung data dalam bentuk html langsung dari file data_per_load.php
	success: function(data){
		//console.log(data);     
		$("#sentiment").html(data);
		App.unblockUI("#sentiment");
	}
});

}
function getTrendline(){
	
	
App.blockUI({target:"#trendline",boxed:!0});

var formData = $("#form").serialize();

$.ajax({  
	type: "GET",
	url: '/analis/ajaxhome/trendline/skey/<?php echo $_GET["search"] ?>',
	data: formData, //last_id kita berarti 15
	dataType: "html",  //sesuai keinginan, di sini saya pengen ngambil langsung data dalam bentuk html langsung dari file data_per_load.php
	success: function(data){
		// console.log(data);
		$("#trendline").html(data);
		App.unblockUI("#trendline");
	}
});

}
function getLatest(l){

App.blockUI({target:"#l_"+l,boxed:!0});

var formData = $("#form").serialize();

$.ajax({  
	type: "GET",
	url: '/analis/ajaxhome/latest/l/'+l+'/skey/<?php echo $_GET["search"] ?>',
	data: formData, //last_id kita berarti 15
	dataType: "html",  //sesuai keinginan, di sini saya pengen ngambil langsung data dalam bentuk html langsung dari file data_per_load.php
	success: function(data){
		// console.log(data);
		$("#l_"+l).html(data);
		App.unblockUI("#l_"+l);
	}
});
	
	
}
jQuery(document).ready(function(){

$( ".date-picker" ).datepicker({ minDate: -20, maxDate: "+1M +10D" });
getCloud("laporan");
getCloud("digmed");
getCloud("socmed");
// getLapterkini();
getSentiment("");
getTrendline();
getLatest("lap");
getLatest("news");
getLatest("socmed");

map = new GMaps({
	div: '#gmap_marker',
   lat: -1.131695, 
	lng: 119.503078,
});
map.addMarker({
   lat: -1.131695, 
	lng: 119.503078,
	title: 'Lima',
	details: {
		database_id: 42,
		author: 'HPNeo'
	},
	click: function (e) {
		if (console.log) console.log(e);
		alert('You clicked in this marker');
	}
});

map.setZoom(4);
map.setOptions({ minZoom: 2, maxZoom: 15,mapTypeId: google.maps.MapTypeId.SATELLITE });

// $(".news .load").click(function(){
	// $(".news .ajaxload").show();
	   
	// $.ajax({
	// url: "/analis/ajax/get/page/1/type/2/dat1/<?php echo $_GET["startdate"]; ?>/dat2/<?php echo $_GET["enddate"]; ?>/skey/<?php echo $_GET["search"]; ?>",
	// content: 'html',
	// beforeSend: function() {
	// },
	// complete: function(result) {
	// },
	// success: function(data) {
		 // $(".news .load").hide();
		// jQuery('.news').append(data);
		// $(".news .ajaxload").hide();
	// },
	// error: function() {
	// $(".news .ajaxload").hide();
	// }
// });
   
// });

// $(".socmed .load").click(function(){
// $(".socmed .ajaxload").show();
// $.ajax({
// url: "/analis/ajax/get/page/1/type/5/dat1/<?php echo $_GET["startdate"]; ?>/dat2/<?php echo $_GET["enddate"]; ?>/skey/<?php echo $_GET["search"]; ?>",
// content: 'html',
// beforeSend: function() {
// },
// complete: function(result) {
// },
// success: function(data) {
	 // $(".socmed .load").hide();
	// jQuery('.socmed').append(data);
	// $(".socmed .ajaxload").hide();
// },
// error: function() {
// $(".socmed .ajaxload").hide();
// }
// });
// });


// $(".lap .load").on("click", function(){
	// console.log("ok");
// $(".lap .ajaxload").show();
// $.ajax({
// url: "/analis/ajax/get/page/1/type/3/dat1/<?php echo $_GET["startdate"]; ?>/dat2/<?php echo $_GET["enddate"]; ?>/skey/<?php echo $_GET["search"]; ?>",
// content: 'html',
// beforeSend: function() {
// },
// complete: function(result) {
// },
// success: function(data) {
	 // $(".lap .load").hide();
	// jQuery('.lap').append(data);
	// $(".lap .ajaxload").hide();
// },
// error: function() {
// $(".lap .ajaxload").hide();
// }
// });
	
// });
// // $(".lap .load").click(function(){
// // });


});
</script>