<style>

</style>
<?php  //Zend_Debug::dump($this->media);die();?>

<div class="page-content" >
	<!-- BEGIN BREADCRUMBS -->
	<div class="breadcrumbs"  >
		<h1> <?php echo $this->data['figure_name'];?></h1>
		<ol class="breadcrumb"  >
			<li><a href="/">Home</a></li>
			<li><a href="#">/</a></li>
			<li class="active">Daftar Crawl</li>

		</ol>
	</div>
	<!-- END BREADCRUMBS -->
 <!-- BEGIN PAGE BASE CONTENT -->
 <div class="row">
    <div class="col-md-12">
       <!-- START EXAMPLE TABLE PORTLET-->
       <div class="portlet light ">
        <div class="portlet-title">
            <div class="caption font-dark">
                <i class="icon-settings font-white"></i>
                <span class="caption-subject bold uppercase" style="color:white;">Daftar Crawl</span>
            </div>
			<div class="actions">
				<select class="form-control" id="media_type" name="media_type" onchange="showMT();">
					<option value="">ALL</option>  
					                    
					<option value="1" <?php echo (isset($this->varams["type"]) && $this->varams["type"]==1?"selected":""); ?>>NASIONAL</option>
					<option value="2" <?php echo (isset($this->varams["type"]) && $this->varams["type"]==2?"selected":""); ?>>LOCAL</option>
					<option value="3" <?php echo (isset($this->varams["type"]) && $this->varams["type"]==3?"selected":""); ?>>INTERNASIONAL</option>
					<option value="4" <?php echo (isset($this->varams["type"]) && $this->varams["type"]==4?"selected":""); ?>>WEBSITE TARGET</option>
				</select>
			</div>
            <div class="tools"> </div>
        </div>
        <div class="portlet-body">
            <div class="table-toolbar">
                <div class="row">
                    <div class="col-md-6">
                        <div class="btn-group">
                        
                             <a  href="/domas/index/setcrawler" class="btn sbold green-meadow"> Tambah Crawling Media Baru
                                <i class="fa fa-plus"></i>
                            </a>
                        </div>
                    </div>
                    <div class="col-md-6">

                    </div>
                </div>
            </div>
            <table class="table table-striped table-bordered table-hover dt-responsive" width="100%" id="sample_1">
                <thead>
                    <tr>
                        <th class="gradeX">No</th>
                        <th class="gradeX">Sub Media</th>
                        <th class="gradeX">Nama Media</th>
                        <th class="gradeX">Slugname</th>
                        <th class="gradeX">Tipe Crawling</th>
                        <th class="gradeX">Url</th>
                        <th class="">Atributes</th>
                        <th class="">Atributes</th>
                    </tr>
                </thead>
                <tbody>
                    <?php 
					$i=1;
					foreach ($this->media as $v) { ?>
                    <tr  >
					 <td><?php echo $i;?></td>
					 <td><?php echo $v['subdomain'];?></td>
                        <td><img src="<?php echo $v['logo']; ?>"  width="20px"/>&nbsp;&nbsp;<?php echo $v['subdomain']; ?>&nbsp;&nbsp;<?php echo $v['media_name']; ?></td>
                        <td><?php echo $v['slugname']; ?></td>
                        <td><?php echo $v['type_crawl']; ?></td>
                      
                        <td><?php echo $v['url_crawl']; ?></td>
                          <td><?php foreach ($v['params'] as $k=>$v2) {
                              
                              echo $k.": ".$v2."<br>";
                              
                              
                          } ?></td>
                        <td><a href ="/domas/index/setcrawler/id/<?php echo $v['bid'];?>" class="btn btn-circle btn-sm blue">edit</a>
                         <a href="javascript:;" data-id="<?php echo $v['id'];?>"  class="btn btn-circle btn-sm red btn-delete"><i class="fa fa-cross"></i> delete</a>
                        
                        </td>
                    </tr>
                    <?php $i=$i+1;} ?>    
                </tbody>
            </table>
        </div>
    </div>
    <!-- END EXAMPLE TABLE PORTLET-->
    <!-- static -->
    <div id="static2" class="modal container fade modal-scroll modal-overflow in" tabindex="-1" data-backdrop="static" data-keyboard="false">
        <div class="modal-body" style="padding:5px">
            <div class="portlet box green" style="margin:0px">
                <div class="portlet-title">
                    <div class="caption">
                        Tambah Media Baru
                    </div>
                    <div class="actions">
                       <a href="#" class="btn reload" data-dismiss="modal"><i class="fa fa-times"></i></a>
                   </div>
                   <div class="tools">
                   </div>
               </div>
               <div class="portlet-body form" style="padding:15px">
                   <form  id="addconn"  enctype="multipart/form-data" method="post" class="form-horizontal">
                    <div class="form-body">
                        <div class="form-group">
                            <label class="col-md-3 control-label">Nama Media</label>
                            <div class="col-md-4">
                                <input type="text" name="medianame" class="form-control input-circle" placeholder="Media Name">
                                <span class="help-block">
                                  <span class="label label-danger"><i class="fa fa-warning"> </i>This is inline help</span>
                              </span> 
                          </div>
                      </div>
                      <div class="form-group">
                        <label class="col-md-3 control-label">Media Short Name</label>
                        <div class="col-md-4">
                        <input type="text" name="machinename" class="form-control input-circle" placeholder="Media Short Name">
                            <span class="help-block">
                              <span class="label label-danger"><i class="fa fa-warning"> </i>This is inline help</span>
                          </span> 
                      </div>
                  </div>

                   <div class="form-group">
                        <label class="col-md-3 control-label">Media url</label>
                        <div class="col-md-4">
                        <input type="text" name="url" class="form-control input-circle" placeholder="Url">
                            <span class="help-block">
                              <span class="label label-danger"><i class="fa fa-warning"> </i>This is inline help</span>
                          </span> 
                      </div>
                  </div>
                      <div class="form-group last">
                        <label class="col-md-3 control-label">Logo</label>
                        <div class="col-md-4">
                          <input type="file" name="logo" id="logo">
                            <span class="help-block">
                              <span class="label label-danger"><i class="fa fa-warning"> </i>This is inline help</span>
                          </span> 
                      </div>
                  </div>
					<!--
                  <div class="form-group last">
                    <label class="col-md-3 control-label">Attributes</label>
                    <div class="col-md-4">
                      <textarea class="form-control" rows="3"></textarea>
                         <span class="help-block">
                              <span class="label label-danger"><i class="fa fa-warning"> </i>This is inline help</span>
                          </span> 
                    </div>
                </div>-->
            </div>
            <div class="form-actions">
                <div class="row">
                    <div class="col-md-offset-3 col-md-9">
                        <button type="submit" class="btn btn-circle green">Submit</button>
                        <button type="button" class="btn btn-circle grey-salsa btn-outline">Cancel</button>
                    </div>
                </div>
            </div>
        </form>
        <!-- END FORM-->
    </div>
</div>
</div>
                <!--div class="modal-footer">
                    <button type="button" data-dismiss="modal" class="btn btn-default">Cancel</button>
                    <button type="button" data-dismiss="modal" class="btn green">Submit</button>
                </div-->
            </div>

        </div>
    </div>
    <!-- END EXAMPLE TABLE PORTLET-->
    
    <iv id="static" class="modal fade" tabindex="-1" data-backdrop="static" data-keyboard="false">
				<div class="modal-body" style="padding:0px">
				<div class="portlet box red" style="margin:0px">
					<div class="portlet-title">
						<div class="caption">
							Are you sure to delete this xpath?
						</div>
						<div class="tools">
						</div>
					</div>
					<div class="portlet-body">
						<div class="alert alert-success alert-dismissable hidden" id="alertinfo2">
							<button type="button" class="close" data-dismiss="alert" aria-hidden="true"></button>
							<span id="alertmsg2"><strong>Warning!</strong> Something went wrong. Please check.</span>
						</div>
						
						<div style="margin:0px auto;text-align:center" id="processbar2" class="hidden">
							<div class="progress progress-striped active" style="margin:0px auto;text-align:center">
								<div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
									<span class="sr-only">
										On Process
									</span>
								</div>
							</div>
							<span style="margin:0px auto;">Please wait...processing request</span>
							<br>
						</div>
					<table>
						<tr>
							<td>
								 ID
							</td>
							<td>
								 :
							</td>
							<td id="static_id">
								 
							</td>
						</tr>
						
					</table>
					</div>
				</div>
				</div>
				<div class="modal-footer" style="margin-top:0px">
					<button type="button" data-dismiss="modal" class="btn btn-default">Cancel</button>
					<button type="button" id="deleteconfirm" class="btn red">Yes</button>
				</div>
			</div>
    
</div>



<script>
	function showMT(){
	location.href = "/domas/index/listcrawl/type/"+$("#media_type").val();
}
    jQuery(document).ready(function() {
       
//        
//$("*").on("click", function(){
//  alert($(this).getSelector().join("\n"));
//  return false;
//});

        $('span.help-block').hide();
       var table = $('#sample_1');
       var oTable = table.dataTable({
            // Internationalisation. For more info refer to http://datatables.net/manual/i18n
            "language": {
                "aria": {
                    "sortAscending": ": activate to sort column ascending",
                    "sortDescending": ": activate to sort column descending"
                },
                "emptyTable": "No data available in table",
                "info": "Showing _START_ to _END_ of _TOTAL_ entries",
                "infoEmpty": "No entries found",
                "infoFiltered": "(filtered1 from _MAX_ total entries)",
                "lengthMenu": "_MENU_ entries",
                "search": "Search:",
                "zeroRecords": "No matching records found"
            },

            // Or you can use remote translation file
            //"language": {
            //   url: '//cdn.datatables.net/plug-ins/3cfcc339e89/i18n/Portuguese.json'
            //},

            // setup buttons extentension: http://datatables.net/extensions/buttons/
            buttons: [
            { extend: 'print', className: 'btn dark btn-outline' },
            { extend: 'pdf', className: 'btn green btn-outline' },
            { extend: 'csv', className: 'btn purple btn-outline ' }
            ],

            // setup responsive extension: http://datatables.net/extensions/responsive/
            responsive: {
                details: {

                }
            },

            "order": [
            [0, 'asc']
            ],
            
            "lengthMenu": [
            [5, 10, 15, 20, -1],
                [5, 10, 15, 20, "All"] // change per page values here
                ],
            // set the initial value
            "pageLength": 5,

            "dom": "<'row' <'col-md-12'B>><'row'<'col-md-6 col-sm-12'l><'col-md-6 col-sm-12'f>r><'table-scrollable't><'row'<'col-md-5 col-sm-12'i><'col-md-7 col-sm-12'p>>", // horizobtal scrollable datatable

            // Uncomment below line("dom" parameter) to fix the dropdown overflow issue in the datatable cells. The default datatable layout
            // setup uses scrollable div(table-scrollable) with overflow:auto to enable vertical scroll(see: assets/global/plugins/datatables/plugins/bootstrap/dataTables.bootstrap.js). 
            // So when dropdowns used the scrollable div should be removed. 
            //"dom": "<'row' <'col-md-12'T>><'row'<'col-md-6 col-sm-12'l><'col-md-6 col-sm-12'f>r>t<'row'<'col-md-5 col-sm-12'i><'col-md-7 col-sm-12'p>>",
        });





//	App.init(); // init metronic core componets

$.fn.modal.defaults.spinner = $.fn.modalmanager.defaults.spinner =
'<div class="loading-spinner" style="width: 200px; margin-left: -100px;">' +
'<div class="progress progress-striped active">' +
'<div class="progress-bar" style="width: 100%;"></div>' +
'</div>' +
'</div>';

$.fn.modalmanager.defaults.resize = true;

var $modal = $('#ajax-modal');

$('.modal-edit').on('click', function () {
            // create the backdrop and wait for next modal to be triggered
            $('body').modalmanager('loading');
            var edit = $(this).attr("data-id");
            setTimeout(function () {
                $modal.on('show', function () {
                    $('iframe').attr("src", edit+'');
                });
                $modal.modal()
                //$modal.load('Customer_User.aspx?edit=' + edit + '', '', function () {
                //    $modal.modal();
                //});
            }, 100);
        });




var UIExtendedModals3 = function () {
    return {
        //main function to initiate the module
        init: function () {
            // general settings
            $.fn.modal.defaults.spinner = $.fn.modalmanager.defaults.spinner = 
            '<div class="loading-spinner" style="width: 200px; margin-left: -100px;">' +
            '<div class="progress progress-striped active">' +
            '<div class="progress-bar" style="width: 100%;"></div>' +
            '</div>' +
            '</div>';

            $.fn.modalmanager.defaults.resize = true;
            
            //static demo:

            
            var $modal3 = $('#static2');

            // handle record edit/remove
            $('body').on('click', '#media_new', function() {
              $modal3.modal();   
          });
            
            $modal3.on('hide.bs.modal', function (e) {
                $('#processbar').addClass('hidden');   
                $('#alertinfo').addClass('hidden'); 
            });
            
            $modal3.on('hidden.bs.modal', function (e) {
                $('#processbar').addClass('hidden');   
                $('#alertinfo').addClass('hidden');
            });
            
            
            
             var $modal2 = $('#static');

			// handle record edit/remove
            $('body').on('click', '.btn-delete', function() {
              var id =  $(this).attr("data-id");
             
              if($modal2.find('td#static_id')!=undefined){
                $modal2.find('td#static_id').html(id);
              }
              
              $modal2.modal();                
            });
			
            $modal2.on('click', 'button#deleteconfirm', function(){
				var id = $modal2.find('td#static_id').html();
				//alert(id);
				$.ajax({
					url:"/domas/ajax/delcrawl",
					content:'json',
					type:'post',
					data:{uid:id},
					beforeSend:function(){
				$('#alertinfo').addClass('hidden');
				$('#processbar').removeClass('hidden');
				
				$('#alertinfo').removeClass('alert-success');
				$('#alertinfo').removeClass('alert-warning');
				$('#alertinfo').removeClass('alert-danger');
				$('#alertinfo').removeClass('alert-info');
					},
					complete:function(result){
						$('#processbar').addClass('hidden');
					},
					success: function(data){
				//console.log(data);
				if(data.result!=undefined){
					if(data.result==true){
						$('#alertinfo').addClass('alert-success');
						$('#alertmsg').html("<strong>Success!</strong> "+data.retMsg);
                        $("a.reload").click();
								$modal2.modal('hide');
					}else{
						$('#alertinfo').addClass('alert-warning');
						$('#alertmsg').html("<strong>Failed!</strong> "+data.retMsg);
					}
				}else{
					$('#alertinfo').addClass('alert-info');
					$('#alertmsg').html("<strong>Error!</strong> System is busy, please try again.");
				}
				$('#alertinfo').removeClass('hidden');
					},
					error:function(){
						$('#alertinfo').addClass('alert-info');
						$('#alertmsg').html("<strong>Error!</strong> System is busy, please try again.");
						$('#alertinfo').removeClass('hidden');
					}
				});
            });
            
            
            
        }

    };

}();


var AddConn = function () {

    var handleAdd = function() {
        var files = {};
        var file = jQuery("#logo"); 
        $('#logo').on('change', function prepareUpload(event){
            files['logo'] = event.target.files[0];
        });

        $('form#addconn').validate({
                //errorElement: 'span', //default input error message container
                //errorClass: 'help-block', // default input error message class
                focusInvalid: false, // do not focus the last invalid input
                rules: {
                    medianame: {
                        required: true
                    },
                    
                   // dbname: {
                    //    required: true
                   // },
                   // host: {
                     //   required: true
                    //},
                    // username: {
                    //  ''  required: true
                    //}
                },

                messages: {

                },

                invalidHandler: function (event, validator) { //display error alert on form submit   

                    $('span.help-block').hide();
                    var errorlist = validator.errorList;
                    if(errorlist.length>0){
                        for(var i = 0; i<errorlist.length; i++){
                            console.log(errorlist[i].element);
                            var el = errorlist[i].element; 
                            var next = $(el).next('span.help-block'); 
                            $(next).slideDown();
                        }
                        $('html,body').animate({
                            scrollTop: $(el).offset().top-100
                        }, 800);
                    }
                },

                highlight: function (element) { // hightlight error inputs
                    $(element)
                        .closest('.form-group').addClass('has-error'); // set error class to the control group
                    },

                    success: function (label) {
                        label.closest('.form-group').removeClass('has-error');
                    //label.remove();
                },

                errorPlacement: function (error, element) {
                    $('span.help-block').hide();
                    var next = element.next('span.help-block'); 
                    //console.log(error);
                    if(error[0].textContent!=""){
                        $(next).children('span.label').html("<i class='fa fa-warning'></i> "+ error[0].textContent);
                        $(element).next().slideDown();
                        $('html,body').animate({
                            scrollTop: $(element).offset().top-100
                        }, 800);
                    }
                },

                submitHandler: function (form) {
                    $('span.help-block').hide();
                    $('.form-group').removeClass('has-error');
                    //form.submit(); // form validation success, call ajax form submit
                    form.submit();
                    return false;
                }
            });

        $('form#addapi input').keypress(function (e) {
            if (e.which == 13) {
                $('span.help-block').hide();
                $('.form-group').removeClass('has-error');
                if ($('form#addconn').validate().form()) {
                       //$('form#addapi').submit(); //form validation success, call ajax form submit
                       submitForm();
                   }
                   return false;
               }
           });
    }
    
    var submitForm = function(form){
       // alert("ss");
        //console.log($('form#addapi').serialize());
        
       // event.stopPropagation(); // Stop stuff happening
       // event.preventDefault(); // Totally stop stuff happening
        //$( "#addconn" ).submit();   
        
    }
    
    

    var resetForm = function(){
        $('input','form#addconn')
        .not(':button, :submit, :reset, :hidden')
        .val('');

        $('select,option','form#addapi')
        .removeAttr('checked')
        .removeAttr('selected');
        
        $('.make-switch').bootstrapSwitch('setState',false);
        
        $('.ms-selectable').find('li').removeClass('ms-selected');
        $('.ms-selection').find('li').removeClass('ms-hover');
        $('.ms-selectable').find('li').removeAttr('style');
        
        $('.ms-selection').find('li').removeClass('ms-selected');
        $('.ms-selection').find('li').removeClass('ms-hover');
        $('.ms-selection').find('li').css({display:'none'});
    }
    
    return {
        //main function to initiate the module
        init: function () {
            handleAdd();
        }

    };

}();

UIExtendedModals3.init();

AddConn.init();


});
</script>

