<style>
.bootstrap-tagsinput{
	/*margin-bottom: 0px;*/
	width: 100%;
	max-width: 100%;
	height : 80px;
	overflow:auto;
}
.modal-open {
	overflow-y: hidden !important;
}
.chats li {
	position: relative;
}
.btn-modal1 {
	position: absolute;
	top: 55px;
	left: 5px;
}
.ec {
    height: 300px;
    margin: 0;
}
</style>
<div class="page-content">

    <h1 class="page-title"> Discovery Wordcloud
        <small>Advance &amp; Search</small>
    </h1>
                    
	<div class="page-bar">
		<ul class="page-breadcrumb">
			<li>
				<i class="icon-home"></i>
				<a href="index.html">Home</a>
				<i class="fa fa-angle-right"></i>
			</li>
			<li>
				<span>Dashboard</span>
			</li>
		</ul>
	</div>

    <div class="row">
        <div class="col-md-12">
			<form method="post" id="formFilter">
			<div class="row">
				<div class="col-md-2">
				<div class="form-group">
					<input name="keysearch" id="keysearch" type="text" class="form-control" placeholder="KEYWORD Search..." value="<?php echo $this->params["keysearch"];?>" data-role="tagsinput">
				</div>
				</div>
				<div class="col-md-2">
				<div class="form-group">
					<input name="andsearch" id="andsearch" type="text" class="form-control" placeholder="AND Search..." value="<?php echo $this->params["andsearch"];?>" data-role="tagsinput">
				</div>
				</div>
				<div class="col-md-2">
				<div class="form-group">
					<input name="exsearch" id="exsearch" type="text" class="form-control" placeholder="EXCEPTION Search..." value="<?php echo $this->params["exsearch"];?>" data-role="tagsinput">
				</div>
				</div>
				<div class="col-md-3">
					<div class="form-group">
						<div id="datepickrange" class="input-group date-picker input-daterange" 
							data-date="<?php echo date("Y-m-d"); ?>" data-date-format="yyyy-mm-dd">
							<input id="from" type="text" class="form-control" name="startdate" value='<?php echo $this->params["startdate"];?>'>
							<span class="input-group-addon"> to </span>
							<input id="to" type="text" class="form-control" name="enddate" value='<?php echo $this->params["enddate"];?>'>
						</div>    
					</div>
				</div>
				<div class="col-md-3">
					<div class="form-group">
						<button type="submit" class="btn blue btn-block">Filter</button>
						<a class="btn red btn-block" href="/domas/index/discovery2">Clear</a>
					</div>
				</div>
			</div>
			</form>
        </div>
    </div>

	<div class="row">
        <div class="col-md-12">
            <div class="portlet light portlet-fit bordered">
                <div class="portlet-title">
                    <div class="caption">
                        <i class=" icon-layers font-green"></i>
                        <span class="caption-subject font-green bold uppercase">Wordcloud</span>
                    </div>
                    <div class="actions">
                        <a class="btn btn-circle btn-icon-only btn-default" href="javascript:;">
                            <i class="icon-cloud-upload"></i>
                        </a>
                        <a class="btn btn-circle btn-icon-only btn-default" href="javascript:;">
                            <i class="icon-wrench"></i>
                        </a>
                        <a class="btn btn-circle btn-icon-only btn-default" href="javascript:;">
                            <i class="icon-trash"></i>
                        </a>
                    </div>
                </div>
                <div class="portlet-body">
                    <div class="ec" id="ec_wordcloud"></div>
                </div>
            </div>
	   </div>
	</div>
    <div class="row">
        <?php
        $html = '';
        $i = 0;
        $count = count($this->wc2data);
        foreach($this->wc2data as $k=>$v){
            // Zend_Debug::dump($v);die();
            $html .='<div class="col-md-'.($count==1?12:6).'">';
            $html .='   <div class="portlet light portlet-fit bordered">';
            $html .='       <div class="portlet-title">';
            $html .='           <div class="caption">'.$k.'</div>';
            $html .='       </div>';
            $html .='       <div class="portlet-body">';
            $html .='           <div class="ec" id="wc_'.$i.'"></div>';
            $html .='       </div>';
            $html .='   </div>';
            $html .='</div>';

            $i++;
        }

        echo $html;
        ?>
    </div>
	<div class="row">
<?php
$color = array("netral"=>"blue","negatif"=>"red","positif"=>"green-jungle");
echo '<div class="col-md-4">
		<div class="portlet light portlet-fit bordered">
			<div class="portlet-title">
				<div class="caption">
					<i class=" icon-layers font-red"></i>
					<span class="caption-subject font-red bold uppercase">NEGATIF</span>
					<span class="caption-helper"></span>
				</div>
			</div>
			<div class="portlet-body">							                	
				<div class="scroller" style="height: 525px;" data-always-visible="1" data-rail-visible1="1" id="scroller_1">
				</div>
			</div>
		</div>
	</div>';
echo '<div class="col-md-4">
		<div class="portlet light portlet-fit bordered">
			<div class="portlet-title">
				<div class="caption">
					<i class=" icon-layers font-blue"></i>
					<span class="caption-subject font-blue bold uppercase">NETRAL</span>
					<span class="caption-helper"></span>
				</div>
			</div>
			<div class="portlet-body">							                	
				<div class="scroller" style="height: 525px;" data-always-visible="1" data-rail-visible1="1" id="scroller_0">
				</div>
			</div>
		</div>
	</div>';
echo '<div class="col-md-4">
		<div class="portlet light portlet-fit bordered">
			<div class="portlet-title">
				<div class="caption">
					<i class=" icon-layers font-green-jungle"></i>
					<span class="caption-subject font-green-jungle bold uppercase">POSITIF</span>
					<span class="caption-helper"></span>
				</div>
			</div>
			<div class="portlet-body">							                	
				<div class="scroller" style="height: 525px;" data-always-visible="1" data-rail-visible1="1" id="scroller_2">
				</div>
			</div>
		</div>
	</div>';
?>
	</div>
</div>

<!-- /.modal -->
<div class="modal fade bs-modal-lg" id="modal1" tabindex="-1" role="dialog" aria-hidden="true">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
				<h4 class="modal-title" id="modal1title">Modal Title</h4>
			</div>
			<div class="modal-body" id="modal1content"> Modal body goes here </div>
			<div class="modal-footer">
				<button type="button" class="btn dark btn-outline" data-dismiss="modal">Close</button>
			</div>
		</div>
		<!-- /.modal-content -->
	</div>
	<!-- /.modal-dialog -->
</div>
<!-- /.modal -->

<script>
var el = {};
var xhr = {};
function getlistbysentiment(entity="",sentiment="",series="",name=""){

	if(entity=="" && sentiment=="" && name==""){
		return false;
	}

	var id = sentiment;
	// console.log(id);

	var el = jQuery("#scroller_"+id);
	var param = "entity/"+entity+"/sentiment/"+sentiment+"/series/"+series+"/name/"+name;

	xhr[id] = $.ajax({
		url: "/domas/index/getdiscoverylist/ajax1/get/page/0/"+param,
		content: 'html',
		method: 'post',
		data: $("#formFilter").serialize(),
		beforeSend: function() {
			// App.blockUI(el);
			App.blockUI({target:"#scroller_"+id,boxed:!0});
			if(series!="sentiment"){				
				$("#row_"+entity+" span.caption-helper").html(name);
			}
		},
		complete: function(result) {
			App.unblockUI({target:"#scroller_"+id,boxed:!0});
		},
		success: function(data) {

			$("#scroller_"+id).html(data);
		},
		error: function() {
			// $(".<?php echo $this->params["l"]; ?> .ajaxload").hide();
		}
	});

}
var xhr1 = null;
function continueReading(me){
	if(xhr1!="" && xhr1!=null){
		xhr1.abort();
	}
	
	// console.log(me);
	var id = $(me).data("id");
	var title = $(me).data("title");
	
	$("#modal1title").html('<h3>'+title+'</h3>');
	
	
	
	xhr1 = $.ajax({
		url: "/domas/index/continuereading",
		content: 'html',
		method: 'post',
		data: {"id":id,},
		beforeSend: function() {
			// App.blockUI(el);
			App.blockUI({target:"#modal1content",boxed:!0});
		},
		complete: function(result) {
			App.unblockUI({target:"#modal1content",boxed:!0});
		},
		success: function(data) {

			$("#modal1content").html(data);
		},
		error: function() {
			// $(".<?php echo $this->params["l"]; ?> .ajaxload").hide();
		}
	});
}

jQuery(document).ready(function(){
	
	$( "#datepickrange" ).datepicker({
		minDate: -20,
		maxDate: "+1M +10D",
		// startDate: "-1y", 
		// endDate: "+0d",
		// title: "DateRange",
		// todayBtn:true,
		// format: "yyyy-mm-dd",
		todayHighlight:true
	});
	
	$("#formFilter").on("submit", function(){
		App.blockUI({target:".page-content",boxed:!0});		
	});
	
    var chart = echarts.init(document.getElementById('ec_wordcloud'));
    chart.setOption({                
        tooltip : {
            trigger: 'axis',
            axisPointer: {
                type: 'cross',
                animation: false,
                label: {
                    backgroundColor: '#505765'
                }
            }
        },
        series: [ {
            // name: 'Google Trends',
            type: 'wordCloud',
            gridSize: 2,
            sizeRange: [12, 50],
            rotationRange: [0,0],
            shape: 'pentagon',
            // width: 600,
            // height: 400,
            textStyle: {
                normal: {
                    color: function () {
                        return 'rgb(' + [
                            Math.round(Math.random() * 160),
                            Math.round(Math.random() * 160),
                            Math.round(Math.random() * 160)
                        ].join(',') + ')';
                    }
                },
                emphasis: {
                    shadowBlur: 10,
                    shadowColor: '#333'
                }
            },
            data: <?php echo json_encode($this->wcdata); ?>,
        } ]
    });
    window.onresize = chart.resize;

    <?php
    $i = 0;
    foreach($this->wc2data as $k=>$v){
    ?>
        var chart_<?php echo $i; ?> = echarts.init(document.getElementById('wc_<?php echo $i; ?>'));
        chart_<?php echo $i; ?>.setOption({                
            tooltip : {
                trigger: 'axis',
                axisPointer: {
                    type: 'cross',
                    animation: false,
                    label: {
                        backgroundColor: '#505765'
                    }
                }
            },
            series: [ {
                name: 'words',
                type: 'wordCloud',
                gridSize: 2,
                sizeRange: [12, 50],
                // rotationRange: [-90, 90],
                rotationRange: [0,0],
                // shape: 'pentagon',
                width: "100%",
                height: "100%",
                textStyle: {
                    normal: {
                        color: function () {
                            return 'rgb(' + [
                                Math.round(Math.random() * 160),
                                Math.round(Math.random() * 160),
                                Math.round(Math.random() * 160)
                            ].join(',') + ')';
                        }
                    },
                    emphasis: {
                        shadowBlur: 10,
                        shadowColor: '#333'
                    }
                },
                data: <?php echo json_encode($v); ?>,
            } ]
        });
        window.onresize = chart_<?php echo $i; ?>.resize;

        chart_<?php echo $i; ?>.on("click", function(params){
            // console.log(params);
			getlistbysentiment(2,0,params.seriesName,params.name);
			getlistbysentiment(2,1,params.seriesName,params.name);
			getlistbysentiment(2,2,params.seriesName,params.name);
        });
    <?php
        $i++;
    }
    ?>
});
</script>