<style>
.bootstrap-tagsinput{
	/*margin-bottom: 0px;*/
	width: 100%;
	max-width: 100%;
	height : 80px;
	overflow:auto;
}
</style>
<div class="page-content">

    <h1 class="page-title"> Discovery 
        <small>Advance &amp; Search</small>
    </h1>
                    
	<div class="page-bar">
		<ul class="page-breadcrumb">
			<li>
				<i class="icon-home"></i>
				<a href="index.html">Home</a>
				<i class="fa fa-angle-right"></i>
			</li>
			<li>
				<span>Dashboard</span>
			</li>
		</ul>
	</div>

    <div class="row">
        <div class="col-md-12">
			<form method="post">
			<div class="row">
				<div class="col-md-2">
				<div class="form-group">
					<input name="keysearch" id="keysearch" type="text" class="form-control" placeholder="KEYWORD Search..." 
						value="<?php echo $this->params["keysearch"];?>" data-role="tagsinput">
				</div>
				</div>
				<div class="col-md-2">
				<div class="form-group">
					<input name="andsearch" id="andsearch" type="text" class="form-control" placeholder="AND Search..." 
						value="<?php echo $this->params["andsearch"];?>" data-role="tagsinput">
				</div>
				</div>
				<div class="col-md-2">
				<div class="form-group">
					<input name="exsearch" id="exsearch" type="text" class="form-control" placeholder="EXCEPTION Search..." 
						value="<?php echo $this->params["exsearch"];?>" data-role="tagsinput">
				</div>
				</div>
				<div class="col-md-3">
					<div class="form-group">
						<div id="datepickrange" class="input-group date-picker input-daterange" 
							data-date="<?php echo date("Y-m-d"); ?>" data-date-format="yyyy-mm-dd">
							<input id="from" type="text" class="form-control" name="startdate" value='<?php echo $this->params["startdate"];?>'>
							<span class="input-group-addon"> to </span>
							<input id="to" type="text" class="form-control" name="enddate" value='<?php echo $this->params["enddate"];?>'>
						</div>    
					</div>
				</div>
				<div class="col-md-3">
					<div class="form-group">
						<button type="submit" class="btn blue btn-block">Filter</button>
						<a class="btn red btn-block" href="/domas/index/discovery2">Clear</a>
					</div>
				</div>
			</div>
			</form>
        </div>
    </div>
<?php
if(count($this->data)>0){
	foreach($this->data as $k=>$v){
?>
    <div class="row">
        <div class="col-md-12">
            <div class="portlet light portlet-fit bordered">
                <div class="portlet-title">
                    <div class="caption">
                        <i class=" icon-layers font-green"></i>
                        <span class="caption-subject font-green bold uppercase">KEY : <?php echo $k; ?></span>
                    </div>
                </div>
                <div class="portlet-body">
 <?php
// foreach($v as $k2=>$v2){
// if($k2!="tag" && count($v2)>0){
// ?>
                    <div id="<?php echo $v['tag']; ?>_pie" style="height:450px;"></div>
					<hr>
 <?php
// }
// }
// ?>
                </div>
            </div>
        </div>
    </div>
<?php
	}
}
?>
	
</div>
<script type="text/javascript">
jQuery(document).ready(function() {
	$( "#datepickrange" ).datepicker({
		startDate: "-1y", 
		endDate: "+0d",
		title: "DateRange",
		todayBtn:true,
		format: "yyyy-mm-dd",
		todayHighlight:true
	});
	$('#datepickrange').datepicker('update', '2017-03-05', "<?php echo date("Y-m-d"); ?>");
	    // ECHARTS
	    require.config({
	        paths: {
	            echarts: '/assets/core/global/plugins/echarts/'
	        }
	    });

	    require(
	        [
	            'echarts',
	            // 'echarts/chart/bar',
	            // 'echarts/chart/chord',
	            // 'echarts/chart/eventRiver',
	            // 'echarts/chart/force',
	            // 'echarts/chart/funnel',
	            // 'echarts/chart/gauge',
	            // 'echarts/chart/heatmap',
	            // 'echarts/chart/k',
	            // 'echarts/chart/line',
	            // 'echarts/chart/map',
	            'echarts/chart/pie',
	            // 'echarts/chart/radar',
	            // 'echarts/chart/scatter',
	            // 'echarts/chart/tree',
	            // 'echarts/chart/treemap',
	            // 'echarts/chart/venn',
	            // 'echarts/chart/wordCloud'
	        ],
	        function(ec) {
	            // -- PIE --
<?php
if(count($this->data)>0){
foreach($this->data as $k=>$v){
?>
	            var entitykey0_pie = ec.init(document.getElementById('<?php echo $v['tag']; ?>_pie'));
	            entitykey0_pie.setOption({
	                tooltip: {
	                    show: true,
	                    formatter: "{a} <br/>{b} : {c} ({d}%)"
	                },
					// title:{
	                    // show: false,
	                    // text: "KEYWORD",
	                    // subtext: "entity",
	                    // x: "center",
	                    // y: "top",
	                    // textAlign: "center"
					// },
	                legend: {
	                    orient: 'horizontal',
	                    x: 'center',
						y:'bottom',
	                    data: [{
								name:"entity",
								textStyle : {
									fontSize:15,
									// fontWeight:'light',
									// color:'#aaa',
									icon:'circle'
								}
							},
							{
								name:"bundle",
								textStyle : {
									fontSize:15,
									// fontWeight:'light',
									// color:'#858585',
									icon:'circle'
								}
							},
							{
								name:"sentiment",
								textStyle : {
									fontSize:15,
									// fontWeight:'light',
									// color:'#626262',
									icon:'circle'
								}
							}
						]
	                },
	                toolbox: {
	                    show: true,
	                    orient: 'horizontal',
	                    x: 'center',
						y:'top',
	                    feature: {
	                        mark: {
	                            show: false
	                        },
	                        dataView: {
	                            show: true,
	                            readOnly: false
	                        },
	                        restore: {
	                            show: true
	                        },
	                        saveAsImage: {
	                            show: true
	                        }
	                    }
	                },
	                calculable: true,
					loadingOption:{
						text : "Loading Data..."
					},
					noDataLoadingOption:{
						text : "No Data Found."
					},
	                series: [
						{
							type:'pie',
							name:'entity',
							radius:['60%', '75%'],
							itemStyle:{
								// normal:{
									// borderColor:'#aaa',
									// borderWidth:2
								// }
							},
							data:<?php echo json_encode($this->jsdata[$k]['entity']); ?>
							// data:[{
									// value:10,
									// name:"attr1a",
									// itemStyle:{
										// normal:{
											// label : {
												// textStyle : {
													// color : 'black',
													// // align : 'center',
													// // baseline : 'middle',
													// // fontSize : 30,
													// // fontWeight : 'bolder'
												// }
											// },
											// labelLine :{
												// length:20
											// }
										// }
									// }
								// },{
									// value:50,
									// name:"attr2a",
									// itemStyle:{
										// normal:{
											// label : {
												// textStyle : {
													// color : 'black',
													// // align : 'center',
													// // baseline : 'middle'
												// }
											// },
											// labelLine :{
												// length:20
											// }
										// }
									// }
								// },{
									// value:20,
									// name:"attr3a",
									// itemStyle:{
										// normal:{
											// label : {
												// textStyle : {
													// color : 'black',
													// // align : 'center',
													// // baseline : 'middle'
												// }
											// },
											// labelLine :{
												// length:20
											// }
										// }
									// }
								// }
							// ]
						},
						{
							type:'pie',
							name:'bundle',
							radius:['30%', '45%'],
							itemStyle:{
								// normal:{
									// borderColor:'#858585',
									// borderWidth:2
								// }
							},
							data:<?php echo json_encode($this->jsdata[$k]['bundle']); ?>
							// data:[{
									// value:10,
									// name:"attr1b",
									// itemStyle:{
										// normal:{
											// label : {
												// textStyle : {
													// color : 'black',
													// align : 'center',
													// baseline : 'middle'
												// }
											// },
											// labelLine :{
												// length:3
											// }
										// }
									// }
								// },{
									// value:50,
									// name:"attr2b",
									// itemStyle:{
										// normal:{
											// label : {
												// textStyle : {
													// color : 'black',
													// align : 'center',
													// baseline : 'middle'
												// }
											// },
											// labelLine :{
												// length:3
											// }
										// }
									// }
								// },{
									// value:20,
									// name:"attr3b",
									// itemStyle:{
										// normal:{
											// label : {
												// textStyle : {
													// color : 'black',
													// align : 'center',
													// baseline : 'middle'
												// }
											// },
											// labelLine :{
												// length:3
											// }
										// }
									// }
								// }
							// ]
						},
						{
							type:'pie',
							name:'sentiment',
							radius:['0%', '15%'],
							itemStyle:{
								// normal:{
									// borderColor:'#626262',
									// borderWidth:2
								// }
							},
							data:<?php echo json_encode($this->jsdata[$k]['sentiment']); ?>
							// data:[{
									// value:10,
									// name:"attr1c",
									// itemStyle:{
										// normal:{
											// label : {
												// textStyle : {
													// color : 'black',
													// align : 'center',
													// baseline : 'middle'
												// }
											// },
											// labelLine :{
												// length:3
											// }
										// }
									// }
								// },{
									// value:50,
									// name:"attr2c",
									// itemStyle:{
										// normal:{
											// label : {
												// textStyle : {
													// color : 'black',
													// align : 'center',
													// baseline : 'middle'
												// }
											// },
											// labelLine :{
												// length:3
											// }
										// }
									// }
								// },{
									// value:20,
									// name:"attr3c",
									// itemStyle:{
										// normal:{
											// label : {
												// textStyle : {
													// color : 'black',
													// align : 'center',
													// baseline : 'middle'
												// }
											// },
											// labelLine :{
												// length:3
											// }
										// }
									// }
								// }
							// ]
						}
					]
	            });
<?php
}
}
?>
	        }
	    );
	});
</script>