<style>
.bootstrap-tagsinput{
	display:block;
	width:100%;
}

.filtertag{
	background-color:#299781;
	padding: 2px 10px;
	margin-bottom:5px;
}

.icon1 {
    font-size: 40px;
}

.m-widget24 .m-widget24__item .m-widget24__number{
	margin-bottom:10px;
}

.m-form.m-form--fit .m-form__content, .m-form.m-form--fit .m-form__heading, .m-form.m-form--fit .m-form__group{
	padding:20px;
}

.m-form .m-form__actions {
    padding: 15px;
}
</style>
<div class="m-grid__item m-grid__item--fluid m-wrapper">
	<!-- BEGIN: Subheader -->
	<div class="m-subheader ">
		<div class="d-flex align-items-center">
			<div class="mr-auto">
				<h3 class="m-subheader__title m-subheader__title--separator">
					Big Search
				</h3>
				<ul class="m-subheader__breadcrumbs m-nav m-nav--inline">
					<li class="m-nav__item m-nav__item--home">
						<a href="#" class="m-nav__link m-nav__link--icon">
							<i class="m-nav__link-icon la la-home"></i>
						</a>
					</li>
					<li class="m-nav__separator">
						-
					</li>
					<li class="m-nav__item">
						<a href="" class="m-nav__link">
							<span class="m-nav__link-text">
								Advance & Search
							</span>
						</a>
					</li>
					<li class="m-nav__separator">
						-
					</li>
					<li class="m-nav__item">
						<a href="" class="m-nav__link">
							<span class="m-nav__link-text">
								Advance Discovery
							</span>
						</a>
					</li>
				</ul>
			</div>
			<div>
				<div class="m-dropdown m-dropdown--inline m-dropdown--arrow m-dropdown--align-right m-dropdown--align-push" data-dropdown-toggle="hover" aria-expanded="true">
					<a href="#" class="m-portlet__nav-link btn btn-lg btn-secondary  m-btn m-btn--outline-2x m-btn--air m-btn--icon m-btn--icon-only m-btn--pill  m-dropdown__toggle">
						<i class="la la-plus m--hide"></i>
						<i class="la la-ellipsis-h"></i>
					</a>
					<div class="m-dropdown__wrapper">
						<span class="m-dropdown__arrow m-dropdown__arrow--right m-dropdown__arrow--adjust"></span>
						<div class="m-dropdown__inner">
							<div class="m-dropdown__body">
								<div class="m-dropdown__content">
									<ul class="m-nav">
										<li class="m-nav__section m-nav__section--first m--hide">
											<span class="m-nav__section-text">
												Quick Actions
											</span>
										</li>
										<li class="m-nav__item">
											<a href="" class="m-nav__link">
												<i class="m-nav__link-icon flaticon-share"></i>
												<span class="m-nav__link-text">
													Activity
												</span>
											</a>
										</li>
										<li class="m-nav__item">
											<a href="" class="m-nav__link">
												<i class="m-nav__link-icon flaticon-chat-1"></i>
												<span class="m-nav__link-text">
													Messages
												</span>
											</a>
										</li>
										<li class="m-nav__item">
											<a href="" class="m-nav__link">
												<i class="m-nav__link-icon flaticon-info"></i>
												<span class="m-nav__link-text">
													FAQ
												</span>
											</a>
										</li>
										<li class="m-nav__item">
											<a href="" class="m-nav__link">
												<i class="m-nav__link-icon flaticon-lifebuoy"></i>
												<span class="m-nav__link-text">
													Support
												</span>
											</a>
										</li>
										<li class="m-nav__separator m-nav__separator--fit"></li>
										<li class="m-nav__item">
											<a href="#" class="btn btn-outline-danger m-btn m-btn--pill m-btn--wide btn-sm">
												Submit
											</a>
										</li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="m-content">
		<!--begin:: Widgets/Stats-->
		<div class="m-portlet ">
			<form class="m-form m-form--fit m-form--label-align-right m-form--group-seperator-dashed" method="post" id="formFilter" onreset="resetFilter();">
			<div class="m-portlet__body">
				<div class="form-group m-form__group row">
					<div class="col-lg-4">
						<input class="form-control m-input m-input--air m_autosize tags_input" name="keysearch" id="keysearch" type="text" value="<?php echo $this->params["keysearch"];?>"/>
						<span class="m-form__help">
							KEYWORD SEARCH
						</span>
					</div>
					<div class="col-lg-4">
						<input class="form-control m-input m-input--air m_autosize tags_input" name="andsearch" id="andsearch" type="text" value="<?php echo $this->params["andsearch"];?>"/>
						<span class="m-form__help">
							AND SEARCH
						</span>
					</div>
					<div class="col-lg-4">
						<input class="form-control m--block-center m-input m-input--air m_autosize tags_input" name="exsearch" id="exsearch" type="text" value="<?php echo $this->params["exsearch"];?>"/>
						<span class="m-form__help">
							EXCEPTION SEARCH
						</span>
					</div>
				</div>
			</div>
			<div class="m-portlet__foot m-portlet__no-border m-portlet__foot--fit">
				<div class="m-form__actions m-form__actions--solid">
					<div class="row">
						<div class="col-lg-5">
							<div class="m-input-icon pull-left" id='m_daterangepicker_1'>
								<input id="startdate" name="startdate" type="hidden" value="<?php echo $this->params["startdate"];?>"/>
								<input id="enddate"name="enddate" type="hidden" value="<?php echo $this->params["enddate"];?>"/>
								<input name="filterdate" type="text" class="form-control m-input" placeholder="Daterange" value='<?php echo $this->params["startdate"].' / '.$this->params["enddate"];?>'>
								<span class="m-input-icon__icon m-input-icon__icon--right">
									<span>
										<i class="la la-calendar-check-o"></i>
									</span>
								</span>
							</div>
						</div>
						<div class="col-lg-7 m--align-right">
							<div class="btn-group m-btn-group btn-block" role="group" aria-label="...">
								<button type="submit" class="btn btn-success btn-block">
									<i class="fa fa-search" ></i>&nbsp;Filter
								</button>
								<button type="reset" class="btn btn btn-secondary">
									<i class="fa fa-refresh" ></i>&nbsp;Clear
								</button>
							</div>
						</div>
					</div>
				</div>
			</div>
			</form>
		</div>
<?php
if($this->jsdata){
	foreach($this->jsdata as $k=>$v){
?>
		<div class="row">
			<div class="col-md-12 col-lg-12 col-xl-12">
				<!--begin::Portlet-->
				<div class="m-portlet m-portlet--head-solid-bg m-portlet--head-sm" data-portlet="true">
					<div class="m-portlet__head">
						<div class="m-portlet__head-caption">
							<div class="m-portlet__head-title">
								<span class="m-portlet__head-icon">
									<i class="flaticon-multimedia"></i>
								</span>
								<h3 class="m-portlet__head-text">
									<?php echo $this->datasource[$k]; ?>
								</h3>
							</div>
						</div>
						<div class="m-portlet__head-tools">
							<ul class="m-portlet__nav">
								<li class="m-portlet__nav-item">
									<a href="#"  data-portlet-tool="fullscreen" class="m-portlet__nav-link m-portlet__nav-link--icon">
										<i class="la la-expand"></i>
									</a>
								</li>
								<li class="m-portlet__nav-item">
									<a href=""  data-portlet-tool="toggle" class="m-portlet__nav-link m-portlet__nav-link--icon">
										<i class="la la-angle-down"></i>
									</a>
								</li>
							</ul>
						</div>
					</div>
					<div class="m-portlet__body">
						<div id="pie_<?php echo $k; ?>" style="height:450px;"></div>
						<hr>
						<div class="col-md-12 col-lg-12 col-xl-12">
						<div class="row">
							<div class="col-md-4 col-lg-4 col-xl-4">
								<div class="m-portlet m-portlet--creative m-portlet--first m-portlet--bordered-semi" data-portlet="true">
									<div class="m-portlet__head">
										<div class="m-portlet__head-caption">
											<div class="m-portlet__head-title">
												<span class="m-portlet__head-icon m--hide">
													<i class="flaticon-statistics"></i>
												</span>
												<h2 class="m-portlet__head-label m-portlet__head-label--danger">
													<span>
														NEGATIF
													</span>
												</h2>
											</div>
										</div>
										<div class="m-portlet__head-tools">
											<ul class="m-portlet__nav">
												<li class="m-portlet__nav-item">
													<a href=""  data-portlet-tool="toggle" class="m-portlet__nav-link m-portlet__nav-link--icon">
														<i class="la la-angle-down"></i>
													</a>
												</li>
											</ul>
										</div>
									</div>
									<div class="m-portlet__body" id="content_<?php echo $k;?>_1">
										<div id="scroller_<?php echo $k;?>_1" class="m-widget4 m-scrollable" data-scrollbar-shown="true" data-max-height="450">
										</div>
									</div>
								</div>
							</div>
							<div class="col-md-4 col-lg-4 col-xl-4">
								<div class="m-portlet m-portlet--creative m-portlet--first m-portlet--bordered-semi" data-portlet="true">
									<div class="m-portlet__head">
										<div class="m-portlet__head-caption">
											<div class="m-portlet__head-title">
												<span class="m-portlet__head-icon m--hide">
													<i class="flaticon-statistics"></i>
												</span>
												<h2 class="m-portlet__head-label m-portlet__head-label--accent">
													<span>
														NETRAL
													</span>
												</h2>
											</div>
										</div>
										<div class="m-portlet__head-tools">
											<ul class="m-portlet__nav">
												<li class="m-portlet__nav-item">
													<a href=""  data-portlet-tool="toggle" class="m-portlet__nav-link m-portlet__nav-link--icon">
														<i class="la la-angle-down"></i>
													</a>
												</li>
											</ul>
										</div>
									</div>
									<div class="m-portlet__body" id="content_<?php echo $k;?>_0">
										<div id="scroller_<?php echo $k;?>_0" class="m-widget4 m-scrollable" data-scrollbar-shown="true" data-max-height="450">
										</div>
									</div>
								</div>
							</div>
							<div class="col-md-4 col-lg-4 col-xl-4">
								<div class="m-portlet m-portlet--creative m-portlet--first m-portlet--bordered-semi" data-portlet="true">
									<div class="m-portlet__head">
										<div class="m-portlet__head-caption">
											<div class="m-portlet__head-title">
												<span class="m-portlet__head-icon m--hide">
													<i class="flaticon-statistics"></i>
												</span>
												<h2 class="m-portlet__head-label m-portlet__head-label--success">
													<span>
														POSITIF
													</span>
												</h2>
											</div>
										</div>
										<div class="m-portlet__head-tools">
											<ul class="m-portlet__nav">
												<li class="m-portlet__nav-item">
													<a href=""  data-portlet-tool="toggle" class="m-portlet__nav-link m-portlet__nav-link--icon">
														<i class="la la-angle-down"></i>
													</a>
												</li>
											</ul>
										</div>
									</div>
									<div class="m-portlet__body" id="content_<?php echo $k;?>_2">
										<div id="scroller_<?php echo $k;?>_2" class="m-widget4 m-scrollable" data-scrollbar-shown="true" data-max-height="450">
										</div>
									</div>
								</div>
							</div>
						</div>
						</div>
					</div>
				</div>
				<!--end::Portlet-->
			</div>
		</div>
<?php
	}
} else {
?>
		<div class="row">
			<div class="col-md-12">
				<div class="m-portlet m-portlet--bordered-semi m-portlet--space m-portlet--full-height ">
					<div class="m-portlet__head">
						<div class="m-portlet__head-caption">
							<div class="m-portlet__head-title">
								<h3 class="m-portlet__head-text">
									DIGITAL MEDIA NEWS
									<span class="m-portlet__head-desc">
										Datasource
									</span>
								</h3>
							</div>
						</div>
						<div class="m-portlet__head-tools">
							<i class="icon1 fa fa-feed"></i>
						</div>
					</div>
					<div class="m-portlet__body">				
	                    <div id="echarts_pie" style="height:500px;"></div>
	                </div>
	            </div>
			</div>
		</div>
<?php
}
?>
		<!--begin::Modal-->
		<div class="modal fade" id="m_modal_1" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
			<div class="modal-dialog modal-lg" role="document">
				<div class="modal-content">
					<div id="head_modal1" class="modal-header">
						<h5 class="modal-title" id="title_modal1"></h5>
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">
								&times;
							</span>
						</button>
					</div>
					<div class="modal-body">
						<div class="m-scrollable" id="scroller_modal1" data-scrollbar-shown="true" data-max-height="400"></div>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-secondary" data-dismiss="modal">
							<i class="fa fa-times"></i> Close
						</button>
						<a id="extsource_modal1" href="#" target="_blank" class="btn btn-primary">
							<i class="fa fa-external-link"></i> &nbsp;View Source
						</a>
					</div>
				</div>
			</div>
		</div>
		<!--end::Modal-->
	</div>
</div>

<script>
var el = {};
var xhr = {};
function getlistbysentiment(entity="",sentiment="",series="",name=""){

	if(entity=="" && sentiment=="" && name==""){
		return false;
	}

	var id = entity+"_"+sentiment;
	// console.log(id);
	var param = "entity/"+entity+"/sentiment/"+sentiment+"/series/"+series+"/name/"+name;

	xhr[id] = $.ajax({
		url: "/bigbox/bigsearch/getdiscoverylist/ajax1/get/page/0/"+param,
		content: 'html',
		method: 'post',
		data: $("#formFilter").serialize(),
		beforeSend: function() {
			mApp.block('#content_'+id,{
				overlayColor: '#000000',
				type: 'loader',
				state: 'success',
				message: 'Please wait...'
			});
			// if(series!="sentiment"){				
				// $("#row_"+entity+" span.caption-helper").html(name);
			// }
		},
		complete: function(result) {
            mApp.unblock("#content_"+id);
		},
		success: function(data) {
			if($("#scroller_"+id).hasClass("mCustomScrollbar")){
				$("#scroller_"+id).mCustomScrollbar("destroy");
			}
			$("#scroller_"+id).html(data);
			// console.log($("#scroller_"+id).is(":mcsInView"));
			$("#scroller_"+id).mCustomScrollbar({
				alwaysShowScrollbar:true,
				autoScrollOnFocus : false,
				updateOnContentResize : false,
				updateOnImageLoad : false,
				setWidth : "100%",
				setHeight : 450,
				theme:"minimal-dark"
			});
			// $("#scroller_"+id).mCustomScrollbar("update");
		},
		error: function() {
			
		}
	});

}

function resetFilter(){
	$('.tags_input').tagsinput("removeAll");
	$('#formFilter').get(0).reset();
}
</script>