<style>
	.bootstrap-tagsinput{
		display:block;
		width:100%;
	}

	.filtertag{
		background-color:#299781;
		padding: 2px 10px;
		margin-bottom:5px;
	}

	.icon1 {
	    font-size: 40px;
	}

	.m-widget24 .m-widget24__item .m-widget24__number{
		margin-bottom:10px;
	}

	.m-form.m-form--fit .m-form__content, .m-form.m-form--fit .m-form__heading, .m-form.m-form--fit .m-form__group{
		padding:20px;
	}

	.m-form .m-form__actions {
	    padding: 15px;
	}
</style>
<div class="m-grid__item m-grid__item--fluid m-wrapper">
	<!-- BEGIN: Subheader -->
	<div class="m-subheader ">
		<div class="d-flex align-items-center">
			<div class="mr-auto">
				<h3 class="m-subheader__title m-subheader__title--separator">
					Big Search
				</h3>
				<ul class="m-subheader__breadcrumbs m-nav m-nav--inline">
					<li class="m-nav__item">
						<a href="" class="m-nav__link">
							<span class="m-nav__link-text">
								<?php echo $this->p["display"]; ?>
							</span>
						</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
	<div class="m-content">
		<?php
		// Zend_Debug::dump($this->p);
		?>
		<div class="m-portlet ">
			<form class="m-form m-form--fit m-form--label-align-right m-form--group-seperator-dashed" method="post" id="formFilter" onreset="resetFilter();">
			<input class="form-control m--hide" id="entity_id" name="entity_id" value="<?php echo $this->p["entity_id"]; ?>">
			<div class="m-portlet__body">
				<div class="form-group m-form__group row">
					<div class="col-lg-4">
						<input class="form-control m-input m-input--air m_autosize tags_input" name="keysearch" id="keysearch" type="text" value="<?php echo $this->p["keysearch"];?>" placeholder="KEYWORD SEARCH"/>
					</div>
					<div class="col-lg-4">
						<input class="form-control m-input m-input--air m_autosize tags_input" name="andsearch" id="andsearch" type="text" value="<?php echo $this->p["andsearch"];?>" placeholder="AND SEARCH"/>
					</div>
					<div class="col-lg-4">
						<input class="form-control m--block-center m-input m-input--air m_autosize tags_input" name="excsearch" id="exsearch" type="text" value="<?php echo $this->p["excsearch"];?>" placeholder="EXCEPTION SEARCH"/>
					</div>
				</div>
			</div>
			<div class="m-portlet__foot m-portlet__no-border m-portlet__foot--fit">
				<div class="m-form__actions m-form__actions--solid">
					<div class="row">
						<div class="col-lg-5">
							<div class="m-input-icon pull-left" id='m_daterangepicker_1'>
								<input id="startdate" name="startdate" type="hidden" value="<?php echo $this->p["startdate"];?>"/>
								<input id="enddate" name="enddate" type="hidden" value="<?php echo $this->p["enddate"];?>"/>
								<input name="filterdate" type="text" class="form-control m-input" placeholder="Daterange" value='<?php echo $this->p["startdate"].' / '.$this->p["enddate"];?>'>
								<span class="m-input-icon__icon m-input-icon__icon--right">
									<span>
										<i class="la la-calendar-check-o"></i>
									</span>
								</span>
							</div>
						</div>
						<div class="col-lg-7 m--align-right">
							<div class="btn-group m-btn-group btn-block" role="group" aria-label="...">
								<button type="submit" class="btn btn-success btn-block">
									<i class="fa fa-search" ></i>&nbsp;Filter
								</button>
								<button type="reset" class="btn btn btn-secondary">
									<i class="fa fa-refresh" ></i>&nbsp;Clear
								</button>
							</div>
						</div>
					</div>
				</div>
			</div>
			</form>
		</div>
		<div class="m-portlet m-portlet--bordered-semi m-portlet--space">
			<div class="m-portlet__body">
                <div id="echarts_pie" style="height:500px;"></div>
            </div>
        </div>
        <div class="row" id="portleDetail"></div>
	</div>
</div>

<script>
var el = {};
var xhr = {};
function getlistbysentiment(entity="",sentiment="",series="",name=""){

	if(entity=="" && sentiment=="" && name==""){
		return false;
	}

	var id = entity+"_"+sentiment;
	// console.log(id);
	var param = "entity/"+entity+"/sentiment/"+sentiment+"/series/"+series+"/name/"+name;

	xhr[id] = $.ajax({
		url: "/bigbox/bigsearch/getdiscoverylist/ajax1/get/page/0/"+param,
		content: 'html',
		method: 'post',
		data: $("#formFilter").serialize(),
		beforeSend: function() {
			mApp.block('#content_'+id,{
				overlayColor: '#000000',
				type: 'loader',
				state: 'success',
				message: 'Please wait...'
			});
			// if(series!="sentiment"){				
				// $("#row_"+entity+" span.caption-helper").html(name);
			// }
		},
		complete: function(result) {
            mApp.unblock("#content_"+id);
		},
		success: function(data) {
			if($("#scroller_"+id).hasClass("mCustomScrollbar")){
				$("#scroller_"+id).mCustomScrollbar("destroy");
			}
			$("#scroller_"+id).html(data);
			// console.log($("#scroller_"+id).is(":mcsInView"));
			$("#scroller_"+id).mCustomScrollbar({
				alwaysShowScrollbar:true,
				autoScrollOnFocus : false,
				updateOnContentResize : false,
				updateOnImageLoad : false,
				setWidth : "100%",
				setHeight : 450,
				theme:"minimal-dark"
			});
			// $("#scroller_"+id).mCustomScrollbar("update");
		},
		error: function() {
			
		}
	});

}

function resetFilter(){
	$('.tags_input').tagsinput("removeAll");
	$('#formFilter').get(0).reset();
}
</script>