<style>
.icon1 {
    font-size: 40px;
}

.m-widget24 .m-widget24__item .m-widget24__number{
	margin-bottom:10px;
}

.CSSAnimationChart {
	height: 300px;
}
</style>
<?php
	$entity_id_2 = number_format($this->data["count"][2],0,".",",");
	$entity_id_3 = number_format($this->data["count"][3],0,".",",");
	$entity_id_5 = number_format($this->data["count"][5],0,".",",");
	$entity_id_1 = number_format($this->data["count"][1],0,".",",");
?>
<div class="m-grid__item m-grid__item--fluid m-wrapper">
	<!-- BEGIN: Subheader -->
	<div class="m-subheader ">
		<div class="d-flex align-items-center">
			<div class="mr-auto">
				<h3 class="m-subheader__title m-subheader__title--separator">
					Big Search
				</h3>
				<ul class="m-subheader__breadcrumbs m-nav m-nav--inline">
					<li class="m-nav__item m-nav__item--home">
						<a href="#" class="m-nav__link m-nav__link--icon">
							<i class="m-nav__link-icon la la-home"></i>
						</a>
					</li>
					<li class="m-nav__separator">
						-
					</li>
					<li class="m-nav__item">
						<a href="" class="m-nav__link">
							<span class="m-nav__link-text">
								Dashboard & Statistics
							</span>
						</a>
					</li>
					<li class="m-nav__separator">
						-
					</li>
					<li class="m-nav__item">
						<a href="" class="m-nav__link">
							<span class="m-nav__link-text">
								Dashboard from date <b><?php echo $this->start;?></b> to <b><?php echo $this->end;?></b>
							</span>
						</a>
					</li>
				</ul>
			</div>
			<div>
				<div class="m-dropdown m-dropdown--inline m-dropdown--arrow m-dropdown--align-right m-dropdown--align-push" data-dropdown-toggle="hover" aria-expanded="true">
					<a href="#" class="m-portlet__nav-link btn btn-lg btn-secondary  m-btn m-btn--outline-2x m-btn--air m-btn--icon m-btn--icon-only m-btn--pill  m-dropdown__toggle">
						<i class="la la-plus m--hide"></i>
						<i class="la la-ellipsis-h"></i>
					</a>
					<div class="m-dropdown__wrapper">
						<span class="m-dropdown__arrow m-dropdown__arrow--right m-dropdown__arrow--adjust"></span>
						<div class="m-dropdown__inner">
							<div class="m-dropdown__body">
								<div class="m-dropdown__content">
									<ul class="m-nav">
										<li class="m-nav__section m-nav__section--first m--hide">
											<span class="m-nav__section-text">
												Quick Actions
											</span>
										</li>
										<li class="m-nav__item">
											<a href="" class="m-nav__link">
												<i class="m-nav__link-icon flaticon-share"></i>
												<span class="m-nav__link-text">
													Activity
												</span>
											</a>
										</li>
										<li class="m-nav__item">
											<a href="" class="m-nav__link">
												<i class="m-nav__link-icon flaticon-chat-1"></i>
												<span class="m-nav__link-text">
													Messages
												</span>
											</a>
										</li>
										<li class="m-nav__item">
											<a href="" class="m-nav__link">
												<i class="m-nav__link-icon flaticon-info"></i>
												<span class="m-nav__link-text">
													FAQ
												</span>
											</a>
										</li>
										<li class="m-nav__item">
											<a href="" class="m-nav__link">
												<i class="m-nav__link-icon flaticon-lifebuoy"></i>
												<span class="m-nav__link-text">
													Support
												</span>
											</a>
										</li>
										<li class="m-nav__separator m-nav__separator--fit"></li>
										<li class="m-nav__item">
											<a href="#" class="btn btn-outline-danger m-btn m-btn--pill m-btn--wide btn-sm">
												Submit
											</a>
										</li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="m-content">
		<!--begin:: Widgets/Stats-->
		<div class="m-portlet ">
			<div class="m-portlet__body  m-portlet__body--no-padding">
				<div class="row m-row--no-padding m-row--col-separator-xl">
					<div class="col-md-12 col-lg-6 col-xl-3">
						<!--begin::Total Profit-->
						<div class="m-widget24">
							<div class="m-widget24__item">
								<h4 class="m-widget24__title">
									DIGITAL MEDIA NEWS
								</h4>
								<br>
								<span class="m-widget24__desc">
									Datasource
								</span>
								<span class="m-widget24__stats m--font-brand" id="entity_id_2" data-counter="counterup" data-value="<?php echo $entity_id_2; ?>">
									<?php echo $entity_id_2; ?>
								</span>
								<div class="m--space-10"></div>
								<div class="progress m-progress--sm">
									<div class="progress-bar m--bg-brand" role="progressbar" style="width: 100%;" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
								</div>
								<span class="m-widget24__number">
									<i class="icon1 fa fa-feed"></i>
								</span>
							</div>
						</div>
						<!--end::Total Profit-->
					</div>
					<div class="col-md-12 col-lg-6 col-xl-3">
						<!--begin::New Feedbacks-->
						<div class="m-widget24">
							<div class="m-widget24__item">
								<h4 class="m-widget24__title">
									DOCUMENT
								</h4>
								<br>
								<span class="m-widget24__desc">
									Datasource
								</span>
								<span class="m-widget24__stats m--font-info" id="entity_id_3" data-counter="counterup" data-value="<?php echo $entity_id_3; ?>">
									<?php echo $entity_id_3; ?>
								</span>
								<div class="m--space-10"></div>
								<div class="progress m-progress--sm">
									<div class="progress-bar m--bg-info" role="progressbar" style="width: 100%;" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
								</div>
								<span class="m-widget24__number">
									<i class="icon1 fa fa-copy"></i>
								</span>
							</div>
						</div>
						<!--end::New Feedbacks-->
					</div>
					<div class="col-md-12 col-lg-6 col-xl-3">
						<!--begin::New Orders-->
						<div class="m-widget24">
							<div class="m-widget24__item">
								<h4 class="m-widget24__title">
									SOCIAL MEDIA TWITTER
								</h4>
								<br>
								<span class="m-widget24__desc">
									Datasource
								</span>
								<span class="m-widget24__stats m--font-danger" id="entity_id_5" data-counter="counterup" data-value="<?php echo $entity_id_5; ?>">
									<?php echo $entity_id_5; ?>
								</span>
								<div class="m--space-10"></div>
								<div class="progress m-progress--sm">
									<div class="progress-bar m--bg-danger" role="progressbar" style="width: 100%;" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
								</div>
								<span class="m-widget24__number">
									<i class="icon1 fa fa-twitter"></i>
								</span>
							</div>
						</div>
						<!--end::New Orders-->
					</div>
					<div class="col-md-12 col-lg-6 col-xl-3">
						<!--begin::New Users-->
						<div class="m-widget24">
							<div class="m-widget24__item">
								<h4 class="m-widget24__title">
									METADATA
								</h4>
								<br>
								<span class="m-widget24__desc">
									Datasource
								</span>
								<span class="m-widget24__stats m--font-success" id="entity_id_1" data-counter="counterup" data-value="<?php echo $entity_id_1; ?>">
									<?php echo $entity_id_1; ?>
									<!--i class="icon1 fa fa-compass"></i-->
								</span>
								<div class="m--space-10"></div>
								<div class="progress m-progress--sm">
									<div class="progress-bar m--bg-success" role="progressbar" style="width: 100%;" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
								</div>
								<span class="m-widget24__number">
									<i class="icon1 fa fa-compass"></i>
								</span>
							</div>
						</div>
						<!--end::New Users-->
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<div class="m-portlet m-portlet--bordered-semi m-portlet--space m-portlet--full-height ">
					<div class="m-portlet__head">
						<div class="m-portlet__head-caption">
							<div class="m-portlet__head-title">
								<h3 class="m-portlet__head-text">
									DIGITAL MEDIA NEWS
									<span class="m-portlet__head-desc">
										Datasource
									</span>
								</h3>
							</div>
						</div>
						<div class="m-portlet__head-tools">
							<i class="icon1 fa fa-feed"></i>
						</div>
					</div>
					<div class="m-portlet__body">				
                        <div id="echarts_pie" style="height:500px;"></div>
                    </div>
                </div>
			</div>
		</div>
		<div class="row">
			<div class="col-xl-6">
				<div class="m-portlet m-portlet--bordered-semi m-portlet--space m-portlet--full-height ">
					<div class="m-portlet__head">
						<div class="m-portlet__head-caption">
							<div class="m-portlet__head-title">
								<h3 class="m-portlet__head-text">
									DIGITAL MEDIA NEWS
									<span class="m-portlet__head-desc">
										Datasource
									</span>
								</h3>
							</div>
						</div>
						<div class="m-portlet__head-tools">
							<i class="icon1 fa fa-feed"></i>
						</div>
					</div>
					<div class="m-portlet__body">
						<div id="chart_entity_2" class="CSSAnimationChart"></div>
					</div>
				</div>
			</div>
			<div class="col-xl-6">
				<div class="m-portlet m-portlet--bordered-semi m-portlet--space m-portlet--full-height ">
					<div class="m-portlet__head">
						<div class="m-portlet__head-caption">
							<div class="m-portlet__head-title">
								<h3 class="m-portlet__head-text">
									DOCUMENT
									<span class="m-portlet__head-desc">
										Datasource
									</span>
								</h3>
							</div>
						</div>
						<div class="m-portlet__head-tools">
							<i class="icon1 fa fa-copy"></i>
						</div>
					</div>
					<div class="m-portlet__body">
						<div id="chart_entity_3" class="CSSAnimationChart"></div>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-xl-6">
				<div class="m-portlet m-portlet--bordered-semi m-portlet--space m-portlet--full-height ">
					<div class="m-portlet__head">
						<div class="m-portlet__head-caption">
							<div class="m-portlet__head-title">
								<h3 class="m-portlet__head-text">
									SOCIAL MEDIA WITER
									<span class="m-portlet__head-desc">
										Datasource
									</span>
								</h3>
							</div>
						</div>
						<div class="m-portlet__head-tools">
							<i class="icon1 fa fa-twitter"></i>
						</div>
					</div>
					<div class="m-portlet__body">
						<div id="chart_entity_5" class="CSSAnimationChart"></div>
					</div>
				</div>
			</div>
			<div class="col-xl-6">
				<div class="m-portlet m-portlet--bordered-semi m-portlet--space m-portlet--full-height ">
					<div class="m-portlet__head">
						<div class="m-portlet__head-caption">
							<div class="m-portlet__head-title">
								<h3 class="m-portlet__head-text">
									METADATA
									<span class="m-portlet__head-desc">
										Datasource
									</span>
								</h3>
							</div>
						</div>
						<div class="m-portlet__head-tools">
							<i class="icon1 fa fa-compass"></i>
						</div>
					</div>
					<div class="m-portlet__body">
						<div id="chart_entity_1" class="CSSAnimationChart"></div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>