<style>
.bootstrap-tagsinput{
	display:block;
	width:100%;
}

.filtertag{
	background-color:#299781;
	padding: 2px 10px;
	margin-bottom:5px;
}
.icon1 {
    font-size: 40px;
}

.m-widget24 .m-widget24__item .m-widget24__number{
	margin-bottom:10px;
}

.m-form.m-form--fit .m-form__content, .m-form.m-form--fit .m-form__heading, .m-form.m-form--fit .m-form__group{
	padding:20px;
}

.m-form .m-form__actions {
    padding: 15px;
}

.m-portlet .m-portlet__body.portlet1{
	padding-top:0px;
}

.m-portlet.m-portlet--creative .m-portlet__head .m-portlet__head-caption .m-portlet__head-label{
	min-width : 235px;
}
.m-widget4 .m-widget4__item .m-widget4__img.m-widget4__img--pic img {
    width: 3rem;
}

#content_sentiment,#content_trends{
	padding:0px;
}

#chart_sentiment .highcharts-container,#chart_trendline .highcharts-container{
	margin: auto;
}

#frontend svg g path.link {
  fill: none;
  stroke: #666;
  stroke-width: 1.5px;
}

marker#licensing {
  fill: green;
}

#frontend svg g .link.licensing {
  stroke: green;
}

svg .link.resolved {
  stroke-dasharray: 0,2 1;
}

#frontend svg g circle {
  fill: #ccc;
  stroke: #333;
  stroke-width: 1.5px;
  
}

#frontend svg g text {
  font: 12px sans-serif;
  pointer-events: none;
/*  text-shadow: 0 1px 0 #fff, 1px 0 0 #fff, 0 -1px 0 #fff, -1px 0 0 #fff;*/
color:white;
}
</style>
<div class="m-grid__item m-grid__item--fluid m-wrapper">
	<!-- BEGIN: Subheader -->
	<div class="m-subheader ">
		<div class="d-flex align-items-center">
			<div class="mr-auto">
				<h3 class="m-subheader__title m-subheader__title--separator">
					Big Search
				</h3>
				<ul class="m-subheader__breadcrumbs m-nav m-nav--inline">
					<li class="m-nav__item m-nav__item--home">
						<a href="#" class="m-nav__link m-nav__link--icon">
							<i class="m-nav__link-icon la la-home"></i>
						</a>
					</li>
					<li class="m-nav__separator">
						-
					</li>
					<li class="m-nav__item">
						<a href="" class="m-nav__link">
							<span class="m-nav__link-text">
								Advance & Search
							</span>
						</a>
					</li>
					<li class="m-nav__separator">
						-
					</li>
					<li class="m-nav__item">
						<a href="" class="m-nav__link">
							<span class="m-nav__link-text">
								Discovery
							</span>
						</a>
					</li>
				</ul>
			</div>
			<div>
				<div class="m-dropdown m-dropdown--inline m-dropdown--arrow m-dropdown--align-right m-dropdown--align-push" data-dropdown-toggle="hover" aria-expanded="true">
					<a href="#" class="m-portlet__nav-link btn btn-lg btn-secondary  m-btn m-btn--outline-2x m-btn--air m-btn--icon m-btn--icon-only m-btn--pill  m-dropdown__toggle">
						<i class="la la-plus m--hide"></i>
						<i class="la la-ellipsis-h"></i>
					</a>
					<div class="m-dropdown__wrapper">
						<span class="m-dropdown__arrow m-dropdown__arrow--right m-dropdown__arrow--adjust"></span>
						<div class="m-dropdown__inner">
							<div class="m-dropdown__body">
								<div class="m-dropdown__content">
									<ul class="m-nav">
										<li class="m-nav__section m-nav__section--first m--hide">
											<span class="m-nav__section-text">
												Quick Actions
											</span>
										</li>
										<li class="m-nav__item">
											<a href="" class="m-nav__link">
												<i class="m-nav__link-icon flaticon-share"></i>
												<span class="m-nav__link-text">
													Activity
												</span>
											</a>
										</li>
										<li class="m-nav__item">
											<a href="" class="m-nav__link">
												<i class="m-nav__link-icon flaticon-chat-1"></i>
												<span class="m-nav__link-text">
													Messages
												</span>
											</a>
										</li>
										<li class="m-nav__item">
											<a href="" class="m-nav__link">
												<i class="m-nav__link-icon flaticon-info"></i>
												<span class="m-nav__link-text">
													FAQ
												</span>
											</a>
										</li>
										<li class="m-nav__item">
											<a href="" class="m-nav__link">
												<i class="m-nav__link-icon flaticon-lifebuoy"></i>
												<span class="m-nav__link-text">
													Support
												</span>
											</a>
										</li>
										<li class="m-nav__separator m-nav__separator--fit"></li>
										<li class="m-nav__item">
											<a href="#" class="btn btn-outline-danger m-btn m-btn--pill m-btn--wide btn-sm">
												Submit
											</a>
										</li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="m-content">
		<!--begin:: Widgets/Stats-->
		<div class="m-portlet " id="content_form">
			<form class="m-form m-form--fit m-form--label-align-right m-form--group-seperator-dashed" method="post" id="formFilter" onreset="resetFilter();">
			
			<input class="form-control hidden" id="is_sentiment" name="is_sentiment" value="<?php echo $this->varams["is_sentiment"];?>">
			<div class="m-portlet__body">
				<div class="form-group m-form__group row">
					<div class="col-lg-4">
						<input class="form-control m-input m-input--air m_autosize tags_input" name="andsearch" id="andsearch" type="text" value="<?php echo $this->params["andsearch"];?>"/>
						<span class="m-form__help">
							AND SEARCH
						</span>
					</div>
					<div class="col-lg-4">
						<input class="form-control m-input m-input--air m_autosize tags_input" name="orsearch" id="orsearch" type="text" value="<?php echo $this->params["orsearch"];?>"/>
						<span class="m-form__help">
							OR SEARCH
						</span>
					</div>
					<div class="col-lg-4">
						<input class="form-control m--block-center m-input m-input--air m_autosize tags_input" name="exsearch" id="exsearch" type="text" value="<?php echo $this->params["exsearch"];?>"/>
						<span class="m-form__help">
							EXCEPTION SEARCH
						</span>
					</div>
				</div>
				<div class="form-group m-form__group row">
					<div class="col-lg-4">
						<select class="form-control m-bootstrap-select m_selectpicker" id="regsearch" name="regsearch" disabled>
							<option value="" <?php echo($this->varams["regsearch"] == "" ? "selected" : "");?>>SEMUA REGIONAL</option>
							<option value="ASIA" <?php echo($this->varams["regsearch"] == "ASIA" ? "selected" : "");?>>ASIA</option>
							<option value="AFRIKA" <?php echo($this->varams["regsearch"] == "AFRIKA" ? "selected" : "");?>>AFRIKA</option>
							<option value="AMERIKA" <?php echo($this->varams["regsearch"] == "AMERIKA" ? "selected" : "");?>>AMERIKA</option>
							<option value="EROPA" <?php echo($this->varams["regsearch"] == "EROPA" ? "selected" : "");?>>EROPA</option>
							<option value="AUSTRALIA" <?php echo($this->varams["regsearch"] == "AUSTRALIA" ? "selected" : "");?>>AUSTRALIA</option>
						</select>
						<span class="m-form__help">
							REGIONAL
						</span>
					</div>
					<div class="col-lg-4">
						<select class="form-control m-bootstrap-select m_selectpicker" id="catsearch" name="catsearch" onchange="getTopic(this.value);">
							<option value="">SEMUA TEMA</option>
<?php
foreach($this->cat as $k => $v) {
    echo '<option value="' . $v . '" ' .(isset($this->varams["catsearch"])&& $this->varams["catsearch"] != "" && $this->varams["catsearch"] == $v ? "selected" : ""). '>' . $k . '</option>';
}
?>
						</select>
						<span class="m-form__help">
							TEMA
						</span>
					</div>
					<div class="col-lg-4">
						<select class="form-control m-bootstrap-select m_selectpicker" id="topicsearch" name="topicsearch">
							<option value="">SEMUA TOPIK</option>
						</select>
						<span class="m-form__help">
							TOPIK
						</span>
					</div>
				</div>
			</div>
			<div class="m-portlet__foot m-portlet__no-border m-portlet__foot--fit">
				<div class="m-form__actions m-form__actions--solid">
					<div class="row">
						<div class="col-lg-4">
							<div class="m-input-icon pull-left" id='m_daterangepicker_1'>
								<input id="startdate" name="startdate" type="hidden" value="<?php echo $this->params["startdate"];?>"/>
								<input id="enddate"name="enddate" type="hidden" value="<?php echo $this->params["enddate"];?>"/>
								<input name="filterdate" type="text" class="form-control m-input" placeholder="Daterange" value='<?php echo $this->params["startdate"].' / '.$this->params["enddate"];?>'>
								<span class="m-input-icon__icon m-input-icon__icon--right">
									<span>
										<i class="la la-calendar-check-o"></i>
									</span>
								</span>
							</div>
						</div>
						<div class="col-lg-4">
							<div class="m-radio-inline">
								<label class="m-radio m-radio--bold m-radio--state-success">
									<input onchange="changeSource('nasional')" type="radio" name="datasource" value="nasional" <?php echo($this->varams["datasource"] == "nasional" || !isset($this->varams["datasource"]) ? "checked" : "");?>>
									Nasional
									<span></span>
								</label>
								<label class="m-radio m-radio--bold m-radio--state-success">
									<input onchange="changeSource('internasional')" type="radio" name="datasource" value="internasional" <?php echo($this->varams["datasource"] == "internasional" ? "checked" : "");?>>
									Internasional
									<span></span>
								</label>
							</div>
						</div>
						<div class="col-lg-4 m--align-right">
							<div class="btn-group m-btn-group btn-block" role="group" aria-label="...">
								<button type="submit" class="btn btn-success btn-block">
									<i class="fa fa-search" ></i>&nbsp;Filter
								</button>
								<button type="reset" class="btn btn btn-secondary">
									<i class="fa fa-refresh" ></i>&nbsp;Clear
								</button>
							</div>
						</div>
					</div>
				</div>
			</div>
			</form>
		</div>
		<div class="m-portlet m-portlet--head-solid-bg m-portlet--head-sm" data-portlet="true" id="portlet_sentiment">
			<div class="portlet1 m-portlet__body">
				<div class="row m-row--col-separator-xl">
					<div class="col-md-6 col-lg-6 col-xl-6">
						<div class="m-portlet__head">
							<div class="m-portlet__head-caption">
								<div class="m-portlet__head-title">
									<span class="m-portlet__head-icon m--hide">
										<i class="flaticon-users"></i>
									</span>
									<h3 class="m-portlet__head-text">
										<span>
											SENTIMENT
										</span>
									</h3>
								</div>
							</div>
							<div class="m-portlet__head-tools">
								<ul class="m-portlet__nav">
									<li class="m-portlet__nav-item">
										<select class="form-control m-bootstrap-select m_selectpicker" onchange="getSentiment('','',this.value);" id="sentiment_select">
											<option value="Laporan">Dokumen</option>
											<option value="News" selected>Media Digital</option>
											<option value="Social Media">Media Sosial</option>
										</select>
									</li>
									<li class="m-portlet__nav-item">
										<a href="#" onclick="getSentiment('','',$('#sentiment_select').val());" class="m-portlet__nav-link btn btn-accent m-btn m-btn--icon m-btn--icon-only">
											<i class="la la-refresh"></i>
										</a>
									</li>
								</ul>
							</div>
						</div>
						<div class="m-portlet__body m--block-center" id="content_sentiment"></div>
					</div>
					<div class="col-md-6 col-lg-6 col-xl-6">
						<div class="m-portlet__head">
							<div class="m-portlet__head-caption">
								<div class="m-portlet__head-title">
									<span class="m-portlet__head-icon m--hide">
										<i class="flaticon-statistics"></i>
									</span>
									<h3 class="m-portlet__head-text">
										<span>
											TRENDS
										</span>
									</h3>
								</div>
							</div>
							<div class="m-portlet__head-tools">
								<ul class="m-portlet__nav">
									<li class="m-portlet__nav-item">
										<a href="#" class="m-portlet__nav-link btn btn-accent m-btn m-btn--icon m-btn--icon-only" onclick="getTrendline();">
											<i class="la la-refresh"></i>
										</a>
									</li>
								</ul>
							</div>
						</div>
						<div class="m-portlet__body m--block-center" id="content_trends"></div>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-4 col-lg-4 col-xl-4">
				<div class="m-portlet m-portlet--creative m-portlet--first m-portlet--bordered-semi" data-portlet="true">
					<div class="m-portlet__head">
						<div class="m-portlet__head-caption">
							<div class="m-portlet__head-title">
								<span class="m-portlet__head-icon m--hide">
									<i class="flaticon-statistics"></i>
								</span>
								<h2 class="m-portlet__head-label m-portlet__head-label--danger">
									<span>
										DOKUMEN TERBARU
									</span>
								</h2>
							</div>
						</div>
						<div class="m-portlet__head-tools">
							<ul class="m-portlet__nav">
								<li class="m-portlet__nav-item">
									<select class="form-control m-bootstrap-select m_selectpicker" id="typefilter_lap" name="typefilter" onchange="getLatest('lap','','',this.value);">							
										<option value="0">ASC</option>
										<option value="1" selected>DESC</option>
								</select>
								</li>
								<li class="m-portlet__nav-item">
									<a href="#" class="m-portlet__nav-link btn btn-accent m-btn m-btn--icon m-btn--icon-only" onclick="getLatest('lap','','',$('#typefilter_lap').val());">
										<i class="la la-refresh"></i>
									</a>
								</li>
								<li class="m-portlet__nav-item">
									<a href=""  data-portlet-tool="toggle" class="m-portlet__nav-link m-portlet__nav-link--icon">
										<i class="la la-angle-down"></i>
									</a>
								</li>
							</ul>
						</div>
					</div>
					<div class="m-portlet__body" id="content_lap">
						<div id="scroller_lap" class="m-widget4 m-scrollable" data-scrollbar-shown="true" data-max-height="450">
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-4 col-lg-4 col-xl-4">
				<div class="m-portlet m-portlet--creative m-portlet--first m-portlet--bordered-semi" data-portlet="true">
					<div class="m-portlet__head">
						<div class="m-portlet__head-caption">
							<div class="m-portlet__head-title">
								<span class="m-portlet__head-icon m--hide">
									<i class="flaticon-statistics"></i>
								</span>
								<h2 class="m-portlet__head-label m-portlet__head-label--accent">
									<span>
										BERITA TERBARU
									</span>
								</h2>
							</div>
						</div>
						<div class="m-portlet__head-tools">
							<ul class="m-portlet__nav">
								<li class="m-portlet__nav-item">
									<select class="form-control m-bootstrap-select m_selectpicker" id="typefilter_news" name="typefilter" onchange="getLatest('news','','',this.value);">					
										<option value="0">ASC</option>
										<option value="1" selected>DESC</option>
									</select>
								</li>
								<li class="m-portlet__nav-item">
									<a href="#" class="m-portlet__nav-link btn btn-accent m-btn m-btn--icon m-btn--icon-only" onclick="getLatest('news','','',$('#typefilter_news').val());">
										<i class="la la-refresh"></i>
									</a>
								</li>
								<li class="m-portlet__nav-item">
									<a href=""  data-portlet-tool="toggle" class="m-portlet__nav-link m-portlet__nav-link--icon">
										<i class="la la-angle-down"></i>
									</a>
								</li>
							</ul>
						</div>
					</div>
					<div class="m-portlet__body" id="content_news">
						<div id="scroller_news" class="m-widget4 m-scrollable" data-scrollbar-shown="true" data-max-height="450">
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-4 col-lg-4 col-xl-4">
				<div class="m-portlet m-portlet--creative m-portlet--first m-portlet--bordered-semi" data-portlet="true">
					<div class="m-portlet__head">
						<div class="m-portlet__head-caption">
							<div class="m-portlet__head-title">
								<span class="m-portlet__head-icon m--hide">
									<i class="flaticon-statistics"></i>
								</span>
								<h2 class="m-portlet__head-label m-portlet__head-label--success">
									<span>
										MEDIA SOSIAL TERBARU
									</span>
								</h2>
							</div>
						</div>
						<div class="m-portlet__head-tools">
							<ul class="m-portlet__nav">
								<li class="m-portlet__nav-item">
									<select class="form-control m-bootstrap-select m_selectpicker" id="typefilter_socmed" name="typefilter" onchange="getLatest('socmed','','',this.value);">							
										<option value="0">ASC</option>
										<option value="1" selected>DESC</option>
									</select>
								</li>
								<li class="m-portlet__nav-item">
									<a href="#" data-portlet-tool="reload" class="m-portlet__nav-link btn btn-accent m-btn m-btn--icon m-btn--icon-only" onclick="getLatest('socmed','','',$('#typefilter_socmed').val());">
										<i class="la la-refresh"></i>
									</a>
								</li>
								<li class="m-portlet__nav-item">
									<a href=""  data-portlet-tool="toggle" class="m-portlet__nav-link m-portlet__nav-link--icon">
										<i class="la la-angle-down"></i>
									</a>
								</li>
							</ul>
						</div>
					</div>
					<div class="m-portlet__body" id="content_socmed">
						<div id="scroller_socmed" class="m-widget4 m-scrollable" data-scrollbar-shown="true" data-max-height="450">
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12 col-lg-12 col-xl-12">
				<!--begin::Portlet-->
				<div class="m-portlet m-portlet--head-solid-bg m-portlet--head-sm" data-portlet="true">
					<div class="m-portlet__head">
						<div class="m-portlet__head-caption">
							<div class="m-portlet__head-title">
								<span class="m-portlet__head-icon m--hide">
									<i class="flaticon-multimedia"></i>
								</span>
								<h3 class="m-portlet__head-text">
									KAITAN
								</h3>
							</div>
						</div>
						<div class="m-portlet__head-tools">
							<ul class="m-portlet__nav">
								<li class="m-portlet__nav-item">
									<a href="#" onclick="getLink();" class="m-portlet__nav-link btn btn-accent m-btn m-btn--icon m-btn--icon-only">
										<i class="la la-refresh"></i>
									</a>
								</li>
							</ul>
						</div>
					</div>
					<div class="m-portlet__body m--block-center" id="asd">
						<div id="frontend"></div>
					</div>
				</div>
				<!--end::Portlet-->
			</div>
		</div>
		
		<!--begin::Modal-->
		<div class="modal fade" id="m_modal_1" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
			<div class="modal-dialog modal-lg" role="document">
				<div class="modal-content">
					<div id="head_modal1" class="modal-header">
						<h5 class="modal-title" id="title_modal1"></h5>
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">
								&times;
							</span>
						</button>
					</div>
					<div class="modal-body">
						<div class="m-scrollable" id="scroller_modal1" data-scrollbar-shown="true" data-max-height="400"></div>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-secondary" data-dismiss="modal">
							<i class="fa fa-times"></i> Close
						</button>
					</div>
				</div>
			</div>
		</div>
		<!--end::Modal-->
	</div>
</div>

<script>
var xhr_gt = null;
function changeSource(code){
	// console.log(code);
	if(code=="internasional"){
		$("#regsearch").prop("disabled",false);
	}else{
		$("#regsearch").prop("disabled",true);
	}
	datasource = code;
	$('#regsearch').selectpicker('refresh');
}

function getTopic(id){
	if(xhr_gt!=null && xhr_gt!=undefined){
		xhr_gt.abort();
	}
	
	var formData = {};
	
	xhr_gt = $.ajax({  
		type: "GET",
		url: '/domas/ajax/gettopik/id/'+id+'/topik/<?php echo $this->varams["topik"];?>',
		data: formData,
		dataType: "html",
		beforeSend: function() {
			mApp.block('#content_form',{
				overlayColor: '#000000',
				type: 'loader',
				state: 'success',
				message: 'Please wait...'
			});
		},
		complete: function(result) {
            mApp.unblock("#content_form");
		},
		success: function(data){
			// console.log("ok");
			$("#topicsearch").html(data);
			$('#topicsearch').selectpicker('refresh');
		}
	});
	
}

function resetFilter(){
	$('.tags_input').tagsinput("removeAll");
	$('#formFilter').get(0).reset();
	$("#regsearch").prop("disabled",true);
	$('#regsearch').selectpicker('refresh');
	$("#topicsearch").html("<option value=''>SEMUA TOPIK</option>");
	$('#topicsearch').selectpicker('refresh');
	$('#catsearch').selectpicker('val', '');
}

var xhr_sent=null;
function getSentiment(sdate="",edate="",l=""){
	if(xhr_sent!=null && xhr_sent!=undefined){
		xhr_sent.abort();
	}

	var formData = {};
	var param ="";
	param +="&skey="+$("#andsearch").val();
	param +="&skeyexception="+$("#exsearch").val();
	param += "&cat="+$("#catsearch").val();
	param +="&searchkey="+$("#orsearch").val();
	param += "&topik="+$("#topicsearch").val();
	param += "&is_mediatype="+datasource;
	param += "&t="+l;

	if(sdate!="" && edate!=""){
		param += "&d1="+sdate+"&d2="+edate;	
		param +="&is_sentiment="+$("#is_sentiment").val();
	} else {
		param +="&d1="+$("#startdate").val()+"&d2="+$("#enddate").val();
		param +="&is_sentiment="+$("#is_sentiment").val();
	}

	//var formData = $("#form").serialize();

	xhr_sent = $.ajax({  
		type: "GET",
		url: '/domas/ajax1/sentiment?'+param,
		data: formData,
		dataType: "html",
		beforeSend: function() {
			mApp.block('#content_sentiment',{
				overlayColor: '#000000',
				type: 'loader',
				state: 'success',
				message: 'Please wait...'
			});
		},
		complete: function(result) {
			mApp.unblock("#content_sentiment");
		},
		success: function(data){
			// console.log(data);
			$("#content_sentiment").html(data);
		}
	});
}

var xhr_trend=null;
function getTrendline(sdate="",edate=""){
	if(xhr_trend!=null && xhr_trend!=undefined){
		xhr_trend.abort();
	}

	var formData = {};
	var param ="";
	param +="&skey="+$("#andsearch").val();
	param +="&skeyexception="+$("#exsearch").val();
	param += "&cat="+$("#catsearch").val();
	param +="&searchkey="+$("#orsearch").val();
	param += "&topik="+$("#topicsearch").val();
	param += "&is_mediatype="+datasource;
	param += "&gap=%2B1DAY";
	param += "&ano=0";

	if(sdate!="" && edate!=""){
		// console.log("t");
		param += "&d1="+sdate+"&d2="+edate;	
		param +="&is_sentiment="+$("#is_sentiment").val();
	} else {
		param +="&d1="+$("#startdate").val()+"&d2="+$("#enddate").val();
		param +="&is_sentiment="+$("#is_sentiment").val();
	}

	xhr_trend = $.ajax({  
		type: "GET",
		url: '/domas/ajax1/trendline?'+param,
		data: formData,
		dataType: "html", 
		beforeSend: function() {
			mApp.block('#content_trends',{
				overlayColor: '#000000',
				type: 'loader',
				state: 'success',
				message: 'Please wait...'
			});
		},
		complete: function(result) {
			mApp.unblock("#content_trends");
		},
		success: function(data){
			// console.log(data);
			$("#content_trends").html(data);
		}
	});
}

var xhr_link=null;
function getLink(sdate="",edate=""){
	
	if(xhr_link!=null && xhr_link!=undefined){
		xhr_link.abort();
	}
	
	var formData = {};
	var param ="";
	param +="&skey="+$("#andsearch").val();
	param +="&skeyexception="+$("#exsearch").val();
	param += "&cat="+$("#catsearch").val();
	param +="&searchkey="+$("#orsearch").val();
	param += "&topik="+$("#topicsearch").val();
	param += "&is_mediatype="+datasource;

	if(sdate!="" && edate!=""){
		// console.log("t");
		param += "&d1="+sdate+"&d2="+edate;	
		param +="&is_sentiment="+$("#is_sentiment").val();
	} else {
		// console.log("f");
		param +="&d1="+$("#startdate").val()+"&d2="+$("#enddate").val();
		param +="&is_sentiment="+$("#is_sentiment").val();
	}	

	xhr_link = $.ajax({  
		type: "GET",
		url: '/domas/ajax1/link?'+param,
		data: formData,
		dataType: "html",
		beforeSend: function() {
			$("#asd").html("<div id='frontend'></div>");
			mApp.block('#asd',{
				overlayColor: '#000000',
				type: 'loader',
				state: 'success',
				message: 'Please wait...'
			});
		},
		complete: function(result) {
			mApp.unblock("#asd");
		},
		success: function(data){
			// console.log(data);
			$("#frontend").html(data);
		}
	});
}

var xhr_latest_lap=null;
var xhr_latest_news=null;
var xhr_latest_socmed=null;
function getLatest(l,sdate="",edate="",typefilter=""){
	if(l=="lap"){	
		if(xhr_latest_lap!=null && xhr_latest_lap!=undefined){
			xhr_latest_lap.abort();
		}
	} else if(l=="news"){	
		if(xhr_latest_news!=null && xhr_latest_news!=undefined){
			xhr_latest_news.abort();
		}
	} else if(l=="socmed"){	
		if(xhr_latest_socmed!=null && xhr_latest_socmed!=undefined){
			xhr_latest_socmed.abort();
		}
	}

	var formData = {};
	var param = "l="+l;
	param +="&skey="+$("#andsearch").val();
	param +="&skeyexception="+$("#exsearch").val();
	param += "&cat="+$("#catsearch").val();
	param +="&searchkey="+$("#orsearch").val();
	param += "&topik="+$("#topicsearch").val();
	param += "&is_mediatype="+datasource;
	param += "&last=";

	if(sdate!="" && edate!=""){
		param += "&d1="+sdate+"&d2="+edate;	
		param +="&is_sentiment="+$("#is_sentiment").val();
	} else {	
		param +="&d1="+$("#startdate").val()+"&d2="+$("#enddate").val();
		param +="&is_sentiment="+$("#is_sentiment").val();
	}

	if(typefilter!=""){
		param += "&tf="+typefilter;
	} 

	if(l=="lap"){	
		xhr_latest_lap = $.ajax({  
			type: "GET",
			url: '/bigbox/bigsearch/latest?'+param,
			data: formData,
			dataType: "html",
			beforeSend: function() {
				mApp.block('#content_lap',{
					overlayColor: '#000000',
					type: 'loader',
					state: 'success',
					message: 'Please wait...'
				});
			},
			complete: function(result) {
				mApp.unblock("#content_lap");
			},
			success: function(data){
				// console.log(data);
				if($("#scroller_lap").hasClass("mCustomScrollbar")){
					$("#scroller_lap").mCustomScrollbar("destroy");
				}
				$("#scroller_lap").html(data);
				$("#scroller_lap").mCustomScrollbar({
					alwaysShowScrollbar:true,
					autoScrollOnFocus : false,
					updateOnContentResize : false,
					updateOnImageLoad : false,
					setWidth : "100%",
					setHeight : 450,
					theme:"minimal-dark"
				});
			}
		});
			
	} else if(l=="news"){	
		xhr_latest_news = $.ajax({  
			type: "GET",
			url: '/bigbox/bigsearch/latest?'+param,
			data: formData,
			dataType: "html",
			beforeSend: function() {
				mApp.block('#content_news',{
					overlayColor: '#000000',
					type: 'loader',
					state: 'success',
					message: 'Please wait...'
				});
			},
			complete: function(result) {
				mApp.unblock("#content_news");
			},
			success: function(data){
				// console.log(data);
				if($("#scroller_news").hasClass("mCustomScrollbar")){
					$("#scroller_news").mCustomScrollbar("destroy");
				}
				$("#scroller_news").html(data);
				$("#scroller_news").mCustomScrollbar({
					alwaysShowScrollbar:true,
					autoScrollOnFocus : false,
					updateOnContentResize : false,
					updateOnImageLoad : false,
					setWidth : "100%",
					setHeight : 450,
					theme:"minimal-dark"
				});
			}
		});
			
	} else if(l=="socmed"){	
		xhr_latest_socmed = $.ajax({  
			type: "GET",
			url: '/bigbox/bigsearch/latest?'+param,
			data: formData,
			dataType: "html",
			beforeSend: function() {
				mApp.block('#content_socmed',{
					overlayColor: '#000000',
					type: 'loader',
					state: 'success',
					message: 'Please wait...'
				});
			},
			complete: function(result) {
				mApp.unblock("#content_socmed");
			},
			success: function(data){
				// console.log(data);
				if($("#scroller_socmed").hasClass("mCustomScrollbar")){
					$("#scroller_socmed").mCustomScrollbar("destroy");
				}
				$("#scroller_socmed").html(data);
				$("#scroller_socmed").mCustomScrollbar({
					alwaysShowScrollbar:true,
					autoScrollOnFocus : false,
					updateOnContentResize : false,
					updateOnImageLoad : false,
					setWidth : "100%",
					setHeight : 450,
					theme:"minimal-dark"
				});
			}
		});
			
	}

}

function readMore(me){
	var entity = $(me).data("entity");
	var param = $(me).data("param");

	$.ajax({
		url: "/bigbox/bigsearch/get/page/1?"+param,
		method: "post",
		data: $("#formFilter").serialize(),
		content: 'html',
		beforeSend: function() {
			mApp.block('#content_'+entity,{
				overlayColor: '#000000',
				type: 'loader',
				state: 'success',
				message: 'Please wait...'
			});
		},
		complete: function(result) {
            mApp.unblock("#content_"+entity);
		},
		success: function(data) {
			$(me).remove();
			if($("#scroller_"+entity).hasClass("mCustomScrollbar")){
				$("#scroller_"+entity).mCustomScrollbar("destroy");
			}
			$("#scroller_"+entity).append(data);
			// console.log(thisx);
			$("#scroller_"+entity).mCustomScrollbar({
				alwaysShowScrollbar:true,
				autoScrollOnFocus : false,
				updateOnContentResize : false,
				updateOnImageLoad : false,
				setWidth : "100%",
				setHeight : 450,
				theme:"minimal-dark"
			});	
		},
		error: function() {
			
		}
	});
}

</script>