<?php

$data = $this->data[$this->varams["entity"]]["sentiment"][$this->varams["sentiment"]];

// Zend_Debug::dump($this->varams["page"]);die();

$cc = new CMS_General();

$getsentimentid = array("netral"=>0,"negatif"=>1,"positif"=>2);
$getsentimentname = array(0=>"netral",1=>"negatif",2=>"positif");
$color = array(0=>"accent",1=>"danger",2=>"success");
$color2 = array("netral"=>"accent","negatif"=>"danger","positif"=>"success");

$pattern = array (
	'/Mon[^day]/','/Tue[^sday]/','/Wed[^nesday]/','/Thu[^rsday]/',
	'/Fri[^day]/','/Sat[^urday]/','/Sun[^day]/','/Monday/','/Tuesday/',
	'/Wednesday/','/Thursday/','/Friday/','/Saturday/','/Sunday/',
	'/Jan[^uary]/','/Feb[^ruary]/','/Mar[^ch]/','/Apr[^il]/','/May/',
	'/Jun[^e]/','/Jul[^y]/','/Aug[^ust]/','/Sep[^tember]/','/Oct[^ober]/',
	'/Nov[^ember]/','/Dec[^ember]/','/January/','/February/','/March/',
	'/April/','/June/','/July/','/August/','/September/','/October/',
	'/November/','/December/',
);

$replace = array ( 'Sen','Sel','Rab','Kam','Jum','Sab','Min',
	'Senin','Selasa','Rabu','Kamis','Jumat','Sabtu','Minggu',
	'Jan','Feb','Mar','Apr','Mei','Jun','Jul','Ags','Sep','Okt','Nov','Des',
	'Januari','Februari','Maret','April','Juni','Juli','Agustus','Sepember',
	'Oktober','November','Desember',
);
$html = 'no data available.';
if(count($data)>0){
	$html = '';
	// if($this->varams["page"]==0){
		// $html .= '<ul class="chats" id="chats_'.$this->varams["entity"].'_'.$this->varams["sentiment"].'">';
	// }

	foreach ($data as $k1=>$v1) {

		// Zend_Debug::dump($v1);die();
		foreach ($v1["data"] as $k2 => $v2) {


			$image_path = ($v2["ss_icon"]!=""?$v2["ss_icon"]:$this->logo[$v2['bundle']]);
			// Zend_Debug::dump(file_get_contents($v2["ss_icon"]));

			$timestamp = strtotime($v2["content_date"]);
			$content_date = date("l, j F Y | H:i", $timestamp);
			$datetime = preg_replace ($pattern, $replace, $content_date);

			$link = $v2["id"];
			$label = strtoupper($v2["bundle"])."<br>".($v2["label"]!=""?$v2["label"]:$v2["bundle_name"]);
			// $datetime = date("l, d F Y | H:i", strtotime($v2["content_date"]));
			$content = $cc->chop_string($v2["content"], 200);;

			$html .= '<div class="m-widget4__item">
					<div class="m-widget4__img m-widget4__img--pic">
						<img src="'.$image_path.'" alt="">
					</div>
					<div class="m-widget4__info">
						<span class="m-widget4__title">
							'.$datetime.'
						</span>
						<br>
						<span class="m-widget4__sub">
							'.$content.'
						</span>
					</div>
					<div class="m-widget4__ext">
						<a href="#"  class="m-btn m-btn--pill m-btn--hover-'.$color[$this->varams["sentiment"]].' btn btn-sm btn-secondary" href="#modal1" data-toggle="modal" data-title="'.$label.'"  data-link="'.$link.'" data-color='.$color[$this->varams["sentiment"]].' data-target="#m_modal_1">
							<i class="fa fa-search"></i>
						</a><br><br>
						<a target="_blank" href="'.$link.'"  class="m-btn m-btn--pill m-btn--hover-'.$color[$this->varams["sentiment"]].' btn btn-sm btn-secondary">
							<i class="fa fa-external-link"></i>
						</a>
					</div>
				</div>';
		}
	}

	if($this->varams["next"]){
		$html .= '<div class="m-widget12__item">
				<button class="btn btn-block btn-metal load" data-next="'.$this->varams["nextpage"].'" data-sentiment='.$this->varams["sentiment"].' data-entity='.$this->varams["entity"].' data-series='.$this->varams["series"].' data-name='.$this->varams["name"].' onclick="readMore(this)">
					Read More
				</button>
			</div>';
	}               

	// if($this->varams["page"]==0){
		// $html .='</ul>';
	// }
}



echo $html;
// if((int)$this->varams["page"]>0){
// 	die();
// }
?>