<?php

if(count($this->data)==0 || $this->data==false){
	die("no data available.");
}
$cc = new CMS_General();
$i=1;
$cx = 0;
$pattern = array (
	'/Mon[^day]/','/Tue[^sday]/','/Wed[^nesday]/','/Thu[^rsday]/',
	'/Fri[^day]/','/Sat[^urday]/','/Sun[^day]/','/Monday/','/Tuesday/',
	'/Wednesday/','/Thursday/','/Friday/','/Saturday/','/Sunday/',
	'/Jan[^uary]/','/Feb[^ruary]/','/Mar[^ch]/','/Apr[^il]/','/May/',
	'/Jun[^e]/','/Jul[^y]/','/Aug[^ust]/','/Sep[^tember]/','/Oct[^ober]/',
	'/Nov[^ember]/','/Dec[^ember]/','/January/','/February/','/March/',
	'/April/','/June/','/July/','/August/','/September/','/October/',
	'/November/','/December/',
);
$replace = array ( 'Sen','Sel','Rab','Kam','Jum','Sab','Min',
	'Senin','Selasa','Rabu','Kamis','Jumat','Sabtu','Minggu',
	'Jan','Feb','Mar','Apr','Mei','Jun','Jul','Ags','Sep','Okt','Nov','Des',
	'Januari','Februari','Maret','April','Juni','Juli','Agustus','Sepember',
	'Oktober','November','Desember',
);
$color = array(0=>"accent",1=>"danger",2=>"success");
$color2 = array("news"=>"accent","lap"=>"danger","socmed"=>"success");
$html = "";
foreach($this->data as $v) {
	$timestamp = strtotime($v["content_date"]);
	
	$content_date = date("l, j F Y | H:i", $timestamp);
	$content_date = preg_replace ($pattern, $replace, $content_date)." WIB";
	$cl = "in";
	if($i%2==0) {
		$cl = "out";
	}
	if($this->params["l"]=="lap"){
		$img = "/images/pdf.png";
		
		if($v['ss_icon']!=""){
			$img = $cc->get_string_between($v['ss_icon'], "<img src=\"","\" align");
		}
		$href = $v["id"];
		$c2 = new CMS_LIB_parse();
		$outtext = $c2->remove($v['content'], "<!--", "</style>");

		// Zend_Debug::dump($outtext);die();

		if($outtext!=""){
			// die("i");
			$outtext = str_replace("\n","<br />",$outtext); 
		} else {
			// die("e");
			$outtext = str_replace("\n","<br />",$v['content']); 
		}
		$outtext = $cc->chop_string($outtext, 200);
	} else {
		if($this->params["l"]=="news"){
			$img = $this->logo[$v['bundle']];
			$href = $v["id"];
			$outtext = $cc->chop_string($v['content'], 200);
		} else if($this->params["l"]=="socmed"){
			$img = "/assets/pmas/images/media/twitter.png";
			if($v['ss_user_profile_imageurl']!=""){
				$img = $v['ss_user_profile_imageurl'];		
				$href = 'https://twitter.com/'.$v["ss_user_screenname"].'/status/'.$v["id"];
			}
			$outtext = $v["content"];
		}
	}
	$cx++;
	$data_id = $v["id"];
	$data_entity = $this->params["l"];
	$html .= '<div class="m-widget4__item">
			<div class="m-widget4__img m-widget4__img--pic">
				<img src="'.$img.'" alt="">
			</div>
			<div class="m-widget4__info">
				<span class="m-widget4__title">
					'.$content_date.'
				</span>
				<br>
				<span class="m-widget4__sub">
					'.$outtext.'
				</span>
			</div>
			<div class="m-widget4__ext">
				<a href="#"  class="m-btn m-btn--pill m-btn--hover-'.$color2[$data_entity].' btn btn-sm btn-secondary" data-toggle="modal" data-id="'.$data_id.'" data-entity="'.$data_entity.'" data-color="'.$color2[$data_entity].'" data-target="#m_modal_1">
					<i class="fa fa-search"></i>
				</a>
			</div>
		</div>';
	$i++;
}

 if(count($this->data)==10){
	$param = "l=".$this->params["l"]."&skey=".$this->params["skey"]."&skeyexception=".$this->params["skeyexception"].
		"&searchkey=".$this->params["searchkey"]."&cat=".$this->params["cat"]."&topik=".$this->params["topik"].
		"&is_mediatype=".$this->params["is_mediatype"]."&last=".$this->params["last"]."&d1=".$this->params["d1"]."&d2=".$this->params["d2"]."&is_sentiment=".$this->params["is_sentiment"]."&tf=1&x=".$this->params["x"];
	$html .= '<div class="m-widget12__item">
			<button class="btn btn-block btn-metal load" data-entity="'.$data_entity.'" data-param="'.$param.'" onclick="readMore(this)">
				Read More
			</button>
		</div>';
}
echo $html;