<style>
	.bootstrap-tagsinput{
		display:block;
		width:100%;
	}

	.filtertag{
		background-color:#299781;
		padding: 2px 10px;
		margin-bottom:5px;
	}

	.icon1 {
	    font-size: 40px;
	}

	.m-widget24 .m-widget24__item .m-widget24__number{
		margin-bottom:10px;
	}

	.m-form.m-form--fit .m-form__content, .m-form.m-form--fit .m-form__heading, .m-form.m-form--fit .m-form__group{
		padding:20px;
	}

	.m-form .m-form__actions {
	    padding: 15px;
	}
</style>
<div class="m-grid__item m-grid__item--fluid m-wrapper">
	<!-- BEGIN: Subheader -->
	<div class="m-subheader ">
		<div class="d-flex align-items-center">
			<div class="mr-auto">
				<h3 class="m-subheader__title m-subheader__title--separator">
					Big Search
				</h3>
				<ul class="m-subheader__breadcrumbs m-nav m-nav--inline">
					<li class="m-nav__item m-nav__item--home">
						<a href="#" class="m-nav__link m-nav__link--icon">
							<i class="m-nav__link-icon la la-home"></i>
						</a>
					</li>
					<li class="m-nav__item">
						<a href="" class="m-nav__link">
							<span class="m-nav__link-text">
								Media Analytic
							</span>
						</a>
					</li>
					<li class="m-nav__separator">
						-
					</li>
					<li class="m-nav__item">
						<a href="" class="m-nav__link">
							<span class="m-nav__link-text">
								Media Analytic
							</span>
						</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
	<div class="m-content">
		<div class="m-portlet ">
			<form class="m-form m-form--fit m-form--label-align-right m-form--group-seperator-dashed" method="post" id="formFilter" onreset="resetFilter();">
			<div class="m-portlet__body">
				<div class="form-group m-form__group row">
					<div class="col-lg-4">
						<input class="form-control m-input m-input--air m_autosize tags_input" name="keysearch" id="keysearch" type="text" value="<?php echo implode(',',$this->p['fq']["keys"]);?>"/>
						<span class="m-form__help">
							KEYWORD SEARCH
						</span>
					</div>
					<div class="col-lg-4">
						<input class="form-control m-input m-input--air m_autosize tags_input" name="andsearch" id="andsearch" type="text" value="<?php echo implode(',',$this->p['fq']["and"]);?>"/>
						<span class="m-form__help">
							AND SEARCH
						</span>
					</div>
					<div class="col-lg-4">
						<input class="form-control m--block-center m-input m-input--air m_autosize tags_input" name="exsearch" id="exsearch" type="text" value="<?php echo implode(',',$this->p['fq']["exception"]);?>"/>
						<span class="m-form__help">
							EXCEPTION SEARCH
						</span>
					</div>
				</div>
			</div>
			<div class="m-portlet__foot m-portlet__no-border m-portlet__foot--fit">
				<div class="m-form__actions m-form__actions--solid">
					<div class="row">
						<div class="col-lg-5">
							<div class="m-input-icon pull-left" id='m_daterangepicker_1'>
								<input id="startdate" name="startdate" type="hidden" value="<?php echo $this->p["startdate"];?>"/>
								<input id="enddate" name="enddate" type="hidden" value="<?php echo $this->p["enddate"];?>"/>
								<input name="filterdate" type="text" class="form-control m-input" placeholder="Daterange" value='<?php echo $this->p["startdate"].' / '.$this->p["enddate"];?>'>
								<span class="m-input-icon__icon m-input-icon__icon--right">
									<span>
										<i class="la la-calendar-check-o"></i>
									</span>
								</span>
							</div>
						</div>
						<div class="col-lg-7 m--align-right">
							<div class="btn-group m-btn-group btn-block" role="group" aria-label="...">
								<button type="submit" class="btn btn-success btn-block">
									<i class="fa fa-search" ></i>&nbsp;Filter
								</button>
								<button type="reset" class="btn btn btn-secondary">
									<i class="fa fa-refresh" ></i>&nbsp;Clear
								</button>
								<button
									type="button"
									class="btn btn-warning btn-modal m--hide"
									data-entity_id="" data-x="" data-field="" data-value="" data-formserialize=""
									data-toggle="modal" data-target="#m_modal_4">
										Launch Modal
								</button>
							</div>
						</div>
					</div>
				</div>
			</div>
			</form>
		</div>
		<div class="m-portlet m-portlet--bordered-semi m-portlet--space">
			<div class="m-portlet__head">
				<div class="m-portlet__head-caption">
					<div class="m-portlet__head-title">
						<h3 class="m-portlet__head-text">
							DIGITAL MEDIA NEWS
							<span class="m-portlet__head-desc">
								Datasource
							</span>
						</h3>
					</div>
				</div>
				<div class="m-portlet__head-tools">
					<i class="icon1 fa fa-feed"></i>
				</div>
			</div>
			<div class="m-portlet__body">
                <div id="echarts_pie" style="height:500px;"></div>
            </div>
        </div>
        <div class="row" id="portleDetail"></div>
	</div>
</div>

<div class="modal fade show" id="m_modal_4" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
	<div class="modal-dialog modal-lg" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="exampleModalLabel">
					New message
				</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">
						×
					</span>
				</button>
			</div>
			<div class="modal-body">
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-dismiss="modal">
					Close
				</button>
			</div>
		</div>
	</div>
</div>

<script>
function resetFilter(){
	$('.tags_input').tagsinput("removeAll");
	$('#formFilter').get(0).reset();
}
</script>