<div class="m-grid__item m-grid__item--fluid m-wrapper">
	<!-- BEGIN: Subheader -->
	<div class="m-subheader ">
		<div class="d-flex align-items-center">
			<div class="mr-auto">
				<h3 class="m-subheader__title m-subheader__title--separator">
					Big Search
				</h3>
				<ul class="m-subheader__breadcrumbs m-nav m-nav--inline">
					<li class="m-nav__item m-nav__item--home">
						<a href="#" class="m-nav__link m-nav__link--icon">
							<i class="m-nav__link-icon la la-home"></i>
						</a>
					</li>
					<li class="m-nav__separator">
						-
					</li>
					<li class="m-nav__item">
						<a href="" class="m-nav__link">
							<span class="m-nav__link-text">
								Search Key
							</span>
						</a>
					</li>
					<li class="m-nav__separator">
						-
					</li>
					<li class="m-nav__item">
						<a href="" class="m-nav__link">
							<span class="m-nav__link-text">
								<?php echo '<b>'.$this->params["skey"].'</b> on <b>'.implode(', ',$this->params["fk"]).'</b>'; ?>
							</span>
						</a>
					</li>
				</ul>
			</div>
			<div>
				<div class="m-dropdown m-dropdown--inline m-dropdown--arrow m-dropdown--align-right m-dropdown--align-push" data-dropdown-toggle="hover" aria-expanded="true">
					<a href="#" class="m-portlet__nav-link btn btn-lg btn-secondary  m-btn m-btn--outline-2x m-btn--air m-btn--icon m-btn--icon-only m-btn--pill  m-dropdown__toggle">
						<i class="la la-plus m--hide"></i>
						<i class="la la-ellipsis-h"></i>
					</a>
					<div class="m-dropdown__wrapper">
						<span class="m-dropdown__arrow m-dropdown__arrow--right m-dropdown__arrow--adjust"></span>
						<div class="m-dropdown__inner">
							<div class="m-dropdown__body">
								<div class="m-dropdown__content">
									<ul class="m-nav">
										<li class="m-nav__section m-nav__section--first m--hide">
											<span class="m-nav__section-text">
												Quick Actions
											</span>
										</li>
										<li class="m-nav__item">
											<a href="" class="m-nav__link">
												<i class="m-nav__link-icon flaticon-share"></i>
												<span class="m-nav__link-text">
													Activity
												</span>
											</a>
										</li>
										<li class="m-nav__item">
											<a href="" class="m-nav__link">
												<i class="m-nav__link-icon flaticon-chat-1"></i>
												<span class="m-nav__link-text">
													Messages
												</span>
											</a>
										</li>
										<li class="m-nav__item">
											<a href="" class="m-nav__link">
												<i class="m-nav__link-icon flaticon-info"></i>
												<span class="m-nav__link-text">
													FAQ
												</span>
											</a>
										</li>
										<li class="m-nav__item">
											<a href="" class="m-nav__link">
												<i class="m-nav__link-icon flaticon-lifebuoy"></i>
												<span class="m-nav__link-text">
													Support
												</span>
											</a>
										</li>
										<li class="m-nav__separator m-nav__separator--fit"></li>
										<li class="m-nav__item">
											<a href="#" class="btn btn-outline-danger m-btn m-btn--pill m-btn--wide btn-sm">
												Submit
											</a>
										</li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="m-content">
		<div class="row">
				<div class="col-md-12 col-lg-12 col-xl-12">
				<div class="m-portlet m-portlet--creative m-portlet--first m-portlet--bordered-semi" data-portlet="true">
					<div class="m-portlet__body" id="content_fk">
						<div id="scroller_fk" class="m-widget4 m-scrollable" data-scrollbar-shown="true">

<?php
if(count($this->data)==0 || $this->data==false){
	echo "no data available.";
}else{
$cc = new CMS_General();
$c2 = new CMS_LIB_parse();
$i=1;
$cx = 0;

$pattern = array (
	'/Mon[^day]/','/Tue[^sday]/','/Wed[^nesday]/','/Thu[^rsday]/',
	'/Fri[^day]/','/Sat[^urday]/','/Sun[^day]/','/Monday/','/Tuesday/',
	'/Wednesday/','/Thursday/','/Friday/','/Saturday/','/Sunday/',
	'/Jan[^uary]/','/Feb[^ruary]/','/Mar[^ch]/','/Apr[^il]/','/May/',
	'/Jun[^e]/','/Jul[^y]/','/Aug[^ust]/','/Sep[^tember]/','/Oct[^ober]/',
	'/Nov[^ember]/','/Dec[^ember]/','/January/','/February/','/March/',
	'/April/','/June/','/July/','/August/','/September/','/October/',
	'/November/','/December/',
);
$replace = array ( 'Sen','Sel','Rab','Kam','Jum','Sab','Min',
	'Senin','Selasa','Rabu','Kamis','Jumat','Sabtu','Minggu',
	'Jan','Feb','Mar','Apr','Mei','Jun','Jul','Ags','Sep','Okt','Nov','Des',
	'Januari','Februari','Maret','April','Juni','Juli','Agustus','Sepember',
	'Oktober','November','Desember',
);
$color = array(0=>"accent",1=>"danger",2=>"success");
$color2 = array("news"=>"accent","lap"=>"danger","socmed"=>"success");
foreach($this->data as $v) {
	$timestamp = strtotime($v["content_date"]);
	$content_date = gmdate("l, j F Y | H:i", $timestamp);
	$content_date = preg_replace ($pattern, $replace, $content_date)." WIB";
	
	$cl = "in";
	if($i%2==0) {
		$cl = "out";
	}
	if($v['entity_id']==9 || $v['entity_id']==1){
		$img = "/images/pdf.png";
		$outtext = '<a href="javascript:;" class="name" target="_blank">'.$v["sm_what"][0].'</a>';
		$outtext .= '<br>'.$c2->remove($v['content'], "<!--", "</style>");
		if($outtext!=""){
			$outtext = str_replace("\n","<br />",$outtext); 
		} else {
			$outtext = str_replace("\n","<br />",$v['content']); 
		}
	}else {
		$outtext = '<a href="'.$v['ss_httpurl'].'" class="name" target="_blank">'.$v['label'].'</a>';
		if($v['entity_id']==3){
			if($v['ss_icon']!=""){
				$img = $cc->get_string_between($v['ss_icon'], "<img src=\"","\" align");
			} else { 
				$img = "/images/pdf.png";
			}
		} else if($v['entity_id']==2){
			$img = $this->logo[$v['bundle']];
			$outtext = '<a href="'.$v["id"].'" class="name" target="_blank">'.($v["label"]!=""?$v["label"]:$v["id"]).'</a>';
		} else if($v['entity_id']==5){
			if($v['ss_user_profile_imageurl']!=""){
				$img = $v['ss_user_profile_imageurl'];
			} else {
				$img = "/assets/pmas/images/media/twitter.png";
			}
			$outtext = '<a href="https://twitter.com/'.$v["ss_userScreenName"].'/status/'.$v["id"].'" class="name" target="_blank">'.$v["label"].' @'.$v["ss_userScreenName"].'</a>';
		} else {
			$outtext = '<a href="'.$v['ss_httpurl'].'" class="name" target="_blank">'.$v['label'].'</a>';
		}
		$output = preg_replace('/\s{2,}/u', ' ', $v['content']);
		// Zend_Debug::dump($output);//die();
		// Zend_Debug::dump($cc->chop_string($output, 200));//die();
		// Zend_Debug::dump($cc->chop_string($output, 200));//die();
		$outtext .= '<br>'.(($this->params["x"]=="socmed")?$output:$cc->chop_string($output, 200));
		// Zend_Debug::dump($outtext);//die();
	}
	// die($outtext);
	$data_id = $v["id"];
	$data_entity = $this->params["x"];
	$cx++;
	echo '<div class="m-widget4__item">
			<div class="m-widget4__img m-widget4__img--pic">
				<img src="'.$img.'" alt="">
			</div>
			<div class="m-widget4__info">
				<span class="m-widget4__title">
					'.$content_date.'
				</span>
				<br>
				<span class="m-widget4__sub">
					'.$outtext.'
				</span>
			</div>
			<div class="m-widget4__ext">
			'.(($v['entity_id']==9 || $v['entity_id']==1 || $v['entity_id']==2)?'
				<a href="#"  class="m-btn m-btn--pill m-btn--hover-accent btn btn-sm btn-secondary" data-toggle="modal" data-toggle="modal" data-id="'.$data_id.'" data-entity="'.implode(",",$data_entity).'" data-color="danger" data-target="#m_modal_1">
					<i class="fa fa-search"></i>
				</a>':'').'
			</div>
		</div>';
	$i++;
}
if(count($this->data)==10){	
	$param = "page=1&skey=".$this->params["skey"]."&last=".$this->params["last"];
	echo '<div class="m-widget12__item">
			<button class="btn btn-block btn-metal load" data-entity="'.$data_entity.'" data-param="'.$param.'" onclick="readMore(this)">
				Read More
			</button>
		</div>';
}

}
?>
					</div>
				</div>
			</div>
			</div>
		</div>
		
		<!--begin::Modal-->
		<div class="modal fade" id="m_modal_1" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
			<div class="modal-dialog modal-lg" role="document">
				<div class="modal-content">
					<div id="head_modal1" class="modal-header">
						<h5 class="modal-title" id="title_modal1"></h5>
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">
								&times;
							</span>
						</button>
					</div>
					<div class="modal-body">
						<div class="m-scrollable" id="scroller_modal1" data-scrollbar-shown="true" data-max-height="400"></div>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-secondary" data-dismiss="modal">
							<i class="fa fa-times"></i> Close
						</button>
					</div>
				</div>
			</div>
		</div>
		<!--end::Modal-->
	</div>
</div>

<script>
function readMore(me){
	var entity = $(me).data("entity");
	var param = $(me).data("param");

	$.ajax({
		url: "/bigbox/bigsearch/getall?"+param,
		method: "post",
		content: 'html',
		beforeSend: function() {
			mApp.block('#content_fk',{
				overlayColor: '#000000',
				type: 'loader',
				state: 'success',
				message: 'Please wait...'
			});
		},
		complete: function(result) {
            mApp.unblock("#content_fk");
		},
		success: function(data) {
			$(me).remove();
			if($("#scroller_fk").hasClass("mCustomScrollbar")){
				$("#scroller_fk").mCustomScrollbar("destroy");
			}
			
			$("#scroller_fk").find(".m-widget12__item").remove();
			$("#scroller_fk").append(data);
			// console.log(thisx);
			$("#scroller_fk").mCustomScrollbar({
				alwaysShowScrollbar:true,
				autoScrollOnFocus : false,
				updateOnContentResize : false,
				updateOnImageLoad : false,
				setWidth : "100%",
				setHeight : 450,
				theme:"minimal-dark"
			});	
		},
		error: function() {
			
		}
	});
}
</script>