<div class="modal-header">
	<button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
	<h4 class="modal-title font-blue-chambray" id="ext_modaltitle">ALERT</h4>
	<h5 id="author_publisher" class="font-blue-chambray"></h5>
</div>
<div class="modal-body" style="background-color:#2C3E50;">
	<div class="row">
		<div class="col-md-12 font-white" style="padding:15px 30px;">
		<?php
		// Zend_Debug::dump($this->data);die();

			echo '<h3 style="color:#d5ff5b;margin-top:0px;">';
			echo '<br>'.$this->data[0]["IDPROFILE"];
			echo '<br><a href="/profilingmodul/home/ceknik?fr='.$this->data[0]["ID_ALERT"].'&nik='.$this->data[0]["NAMA"].'&nama='.$this->data[0]["IDPROFILE"].'" target="_blank" >'.$this->data[0]["NAMA"].'</a>';
			echo '<br><small style="color:white;">'.$this->data[0]["LAST_UPDATE"].'</small>';
			echo '</h3>';
			echo '<br>'.$this->data[0]["CAMERANAME"];
			echo '<br>'.$this->data[0]["IPCAMERA"];
			echo '<hr>';
			echo '<center>';
			echo '<br> <img src= "../../'.$this->data[0]["PHOTO"].'" >';
			echo '<br><h3>'.$this->data[0]["SIMILARITY"].'%</h3>';
			echo '</center>';
			$id=$this->data[0]["ID_ALERT"];
			?>
		</div>
	</div>
</div>
<div class="modal-footer" >
	<button type="button" class="btn dark btn-outline" onclick="setalert('<?php echo $id; ?>');" data-dismiss="modal">OK</button>
</div>