<style>

#frontend svg g path.link {
  fill: none;
  stroke: #666;
  stroke-width: 1.5px;
}


marker#licensing {
  fill: green;
}

#frontend svg g .link.licensing {
  stroke: green;
}


svg .link.resolved {
  stroke-dasharray: 0,2 1;
}


#frontend svg g circle {
  fill: #ccc;
  stroke: #333;
 
}


#frontend svg g text {
  font: 10px sans-serif;
  pointer-events: none;
  color:white;
 
 }
 div.tooltip {	
    position: absolute;			
    text-align: center;			
    width: 60px;					
    height: 28px;					
    padding: 4px;				
    font: 8px sans-serif;		
    background: lightsteelblue;	
    border: 0px;		
    border-radius: 8px;			
	color:black;
    pointer-events: none;			
}


</style>

<div id="frontend"></div>
<script>
////////////////////////////////
var div = d3.select("body").append("div")	
    .attr("class", "tooltip")				
    .style("opacity", 0);
	
var links = <?php echo $this->data; ?>;
var nodes = {};

// Compute the distinct nodes from the links.
links.forEach(function(link) {
  link.source = nodes[link.source] || (nodes[link.source] = {name: link.source, xid:link.xid, sent:link.sent});
  link.target = nodes[link.target] || (nodes[link.target] = {name: link.target, xid:link.xid, sent:link.sent});
});
console.log(nodes);
var width =$("#asd").width(),
    height = 500;
		
		var randomX = d3.random.normal(width / 2, 80),
    randomY = d3.random.normal(height / 2, 80);

var data = d3.range(2000).map(function() {
  return [
    randomX(),
    randomY()
  ];
});

var force = d3.layout.force()
    .nodes(d3.values(nodes))
    .links(links)
    .size([width, height])
    .linkDistance(60)
    .charge(-300)
    .on("tick", tick)
	//.on("click", click)
    .start();

var svg = d3.select("#frontend").append("svg")
    .attr("width", width)
    .attr("height", height)
		.append("g")
    .call(d3.behavior.zoom().scaleExtent([0.5, 9]).on("zoom", zoom))
		.append("g");
	
// Per-type markers, as they don't inherit styles.
	svg.append("defs").selectAll("marker")
		.attr("class", "overlay")
    .attr("width", width)
    .attr("height", height)
    .data(["suit", "licensing", "resolved"])
		.enter().append("marker")
    .attr("id", function(d) { return d; })
    .attr("viewBox", "0 -5 10 10")
    .attr("refX", 15)
    .attr("refY", -1.5)
    .attr("markerWidth", 6)
    .attr("markerHeight", 6)
    .attr("orient", "auto")
		.append("path")
    .attr("d", "M0,-5L10,0L0,5");
		

var path = svg.append("g").selectAll("path")
    .data(force.links())
  .enter().append("path")
    .attr("class", function(d) { return "link " + d.type; })
    .attr("marker-end", function(d) { return "url(#" + d.type + ")"; });

var circle = svg.append("g").selectAll("circle")
    .data(force.nodes())
	.enter().append("circle")
    .attr("r", 6)
	
	.call(force.drag);
		
console.log(circle);

var text = svg.append("g").selectAll("text")
.attr("transform", function(d) { return "translate(" + d + ")"; })
    .data(force.nodes())
  .enter().append("text")
    .attr("x", 8)
	.attr("y", ".31em")

    .text(function(d) { return d.name; })
		.style("color", "white");

// Use elliptical arc path segments to doubly-encode directionality.
function tick() {
  path.attr("d", linkArc);
  circle.attr("transform", transform);
  text.attr("transform", transform);
}
function click() {
 alert("xxx");
}
function make_editable(d, field)
{
	this
      .on("click", function(d) {
		  alert("xxx");
		  console.log("asdasdasdasdasd ");
		})
}	

function linkArc(d) {
  var dx = d.target.x - d.source.x,
      dy = d.target.y - d.source.y,
      dr = Math.sqrt(dx * dx + dy * dy);
  return "M" + d.source.x + "," + d.source.y + "A" + dr + "," + dr + " 0 0,1 " + d.target.x + "," + d.target.y;
}

function transform(d) {
  return "translate(" + d.x + "," + d.y + ")";
}


function zoom() {
  svg.attr("transform", "translate(" + d3.event.translate + ")scale(" + d3.event.scale + ")");
}

circle.on("click", function(d, field) {

window.open("https://twitter.com/"+d.name+'/status/'+d.xid, '_blank', 'location=yes,height=570,width=600,scrollbars=yes,status=yes');


});

circle.on("mouseover", function(d, field) {
						div.transition()		
						.duration(200)		
						.style("opacity", .9);		
						div	.html("sentiment : "+d.sent)	
						.style("left", (d3.event.pageX) + "px")		
						.style("top", (d3.event.pageY - 28) + "px");	



});


text.on("click", function(d, field) {
	//alert("xxx");
//d3.select(this).attr("r", 12).text(function(d) { return d.name; }).style("font-size", "34px")
//console.log(d);
//console.log(field);

});
///////////////////////////////
</script>

