<?php
  // Zend_Debug::dump($this->params["l"]);//die();

?>


<table class="table table-striped table-bordered" id="table_tbl5w1h" data-toggle="table" data-height="299">
	<thead>
	<tr>
		<th style="width:20px !important;">NO</th>  
		<th>Akun</th>
		<th>Count</th>
	</tr>
	</thead>
	<tbody>
<?php
foreach($this->data as $k=>$v){
	// Zend_Debug::dump($v[1]);
	if($v[1]>=1){
		echo '<tr class="w5h1detail" data-id="'.$v["id"].'" data-dl="0" onclick="getTA(this);">';
		echo '	<td>'.($k+1).'</td>';
		echo '	<td><a href="https://twitter.com/'.$v[0].'" class="name" target="_blank"><font color="white">'.$v[0].'</font></td>';
		echo '	<td>'.$v[1].'</td>';
	}
}
?>		
	</tbody>
</table>