<?php
// Zend_Debug::dump($this->tmp1);die();
?>

<div id="wc_<?php echo $this->params["t"]; ?>" style="height:200px; width:100%;"></div>
<script>
jQuery(document).ready(function() {
	// var t = <?php echo $this->params["t"]; ?>;
	// var words = <?php echo json_encode($this->tmp1); ?>;
	// // console.log(t);
	// var taglist = new Array();
	// for ( var i = 0; i < words.length; ++i ) {
		// var x = words[i];
		// // console.log(words[i].text);
			// taglist.push({
				// text: x.text,
				// weight: x.weight,
				// link: x.link,
				// details: {
					// text: x.text,
					// weight: x.weight,
				// },
				// html: {
					// title: x.weight + " varieties"
				// },
				// handlers : {
					// click: function(e) {
						// var txt = e.currentTarget.innerText;
						// console.log(txt);					
					// }
				// }
			// });
	// }
	// $('#wc_<?php echo $this->params["t"]; ?>').jQCloud(taglist, {
		// autoResize: true
	// });
<?php
if(count($this->tmp1)>0){
?>
	
	$('#wc_<?php echo $this->params["t"]; ?>').highcharts({
        chart: {
            type: 'bar'
        },
        title: {
            text: ''
        },
        subtitle: {
            text: ''
        },
        xAxis: {
            type: 'category',
            labels: {
                rotation: 0,
                style: {
                    fontSize: '10px',
                    fontFamily: 'Verdana, sans-serif'
                }
            }
        },
        yAxis: {
            min: 0,
            title: {
                text: ''
            },
			labels: {
				overflow: 'justify'
			}
        },
        legend: {
            enabled: false
        },
        tooltip: {
            pointFormat: '<b>{point.y}</b>'
        },
        plotOptions: {
            bar: {
				cursor: 'pointer',
                point: {
                    events: {
                        click:     function (e) {
							// hideChart(e);Chart3(e);
							var c = this.category;
							var l = <?php echo json_encode($this->tmp1); ?>;
							// console.log(l[c].link);
							// console.log('<?php echo $this->tmp1[0]["link"]; ?>');
							
							location.href= l[c].link;
						}
                    }
                }
            }
        },
        series: [{
            name: '',
            data: [
                ['<?php echo $this->tmp1[0]["text"] ?>', <?php echo (int)$this->tmp1[0]["weight"] ?>],
                ['<?php echo $this->tmp1[1]["text"] ?>', <?php echo (int)$this->tmp1[1]["weight"] ?>],
                ['<?php echo $this->tmp1[2]["text"] ?>', <?php echo (int)$this->tmp1[2]["weight"] ?>],
                ['<?php echo $this->tmp1[3]["text"] ?>', <?php echo (int)$this->tmp1[3]["weight"] ?>],
                ['<?php echo $this->tmp1[4]["text"] ?>', <?php echo (int)$this->tmp1[4]["weight"] ?>],
                ['<?php echo $this->tmp1[5]["text"] ?>', <?php echo (int)$this->tmp1[5]["weight"] ?>],
                ['<?php echo $this->tmp1[6]["text"] ?>', <?php echo (int)$this->tmp1[6]["weight"] ?>],
                ['<?php echo $this->tmp1[7]["text"] ?>', <?php echo (int)$this->tmp1[7]["weight"] ?>],
                ['<?php echo $this->tmp1[8]["text"] ?>', <?php echo (int)$this->tmp1[8]["weight"] ?>],
                ['<?php echo $this->tmp1[9]["text"] ?>', <?php echo (int)$this->tmp1[9]["weight"] ?>],
            ],
            dataLabels: {
                enabled: true,
                // rotation: -90,
                color: '#FFFFFF',
                align: 'right',
                format: '{point.y}', // one decimal
                y: -2, // 10 pixels down from the top
                style: {
                    fontSize: '8px',
                    fontFamily: 'Verdana, sans-serif'
                }
            }
        }]
    });
<?php
}
?>	
});
</script>