<div class="row">
<div class="col-md-12 font-white" style="padding:15px 30px;">
<?php

$timestamp = strtotime($this->content_date);

$date_format = preg_replace ("/S/", "", $date_format);
$pattern = array (
	'/Mon[^day]/','/Tue[^sday]/','/Wed[^nesday]/','/Thu[^rsday]/',
	'/Fri[^day]/','/Sat[^urday]/','/Sun[^day]/','/Monday/','/Tuesday/',
	'/Wednesday/','/Thursday/','/Friday/','/Saturday/','/Sunday/',
	'/Jan[^uary]/','/Feb[^ruary]/','/Mar[^ch]/','/Apr[^il]/','/May/',
	'/Jun[^e]/','/Jul[^y]/','/Aug[^ust]/','/Sep[^tember]/','/Oct[^ober]/',
	'/Nov[^ember]/','/Dec[^ember]/','/January/','/February/','/March/',
	'/April/','/June/','/July/','/August/','/September/','/October/',
	'/November/','/December/',
);
$replace = array ( 'Sen','Sel','Rab','Kam','Jum','Sab','Min',
	'Senin','Selasa','Rabu','Kamis','Jumat','Sabtu','Minggu',
	'Jan','Feb','Mar','Apr','Mei','Jun','Jul','Ags','Sep','Okt','Nov','Des',
	'Januari','Februari','Maret','April','Juni','Juli','Agustus','Sepember',
	'Oktober','November','Desember',
);
$content_date = date ("l, j F Y | H:i", $timestamp);
$content_date = preg_replace ($pattern, $replace, $content_date);

echo '<h3 style="color:#d5ff5b;margin-top:0px;">';
echo $this->label;
echo '<br><small style="color:white;">'.$content_date.' WIB</small>';
echo '</h3>';
echo '<hr>';

$c2 = new CMS_LIB_parse();
$outtext = $c2->remove($this->data, "<!--", "</style>");

// Zend_Debug::dump($outtext);die();

// echo $this->label;

if($outtext!=""){
	// die("i");
	echo trim(str_replace("\n","<br />",$outtext)); 
} else {
	// die("e");
	echo trim(str_replace("\n","<br />",$this->data)); 
}


foreach ($this->rawdata[0] as $v=>$valu) {
    
if(substr($v, 0, 3)=='ss_' ||substr($v, 0, 3)=='is_'||substr($v, 0, 3)=='ts_') {
  echo   "<br><span style='color:white;'>".substr($v,3)." : ".$valu."</span>";

    
}

    
}
?>
<?php //echo str_replace("<!--[if gte mso 10]>"," ",$this->data); ?>
</div>
</div>

<script>
jQuery(document).ready(function(){
$("#ext_modaltitle").html("");
});
</script>