<ul class="chats" >
<?php
foreach($this->soc as $k=>$v){
echo '<li>';
echo '	<div class="message">';
echo '		<span class="arrow"> </span>';
echo '		<div class="mt-author-name">';
echo '			<h3 class="font-grey-steel">'.$v["bundle_name"].'</h3>';
echo '		</div>';
echo '		<div class="mt-author-datetime font-grey-steel">'.$v["content_date"].'</div>';
echo '		<span class="body">'.substr($v["content"],0,100).'</span>';
echo '	</div>';
echo '</li>';
}
?>                   
</ul>