<?php
// Zend_Debug::dump($this->data);//die();
?>
<ul class="chats <?php echo $this->params["l"]; ?>">
<?php
$cc = new CMS_General();
$i=1;
$cx = 0;
foreach($this->data as $v) {
	
	if($this->params["l"]=="lap"){
		$cl = "in";
		if($i%2==0) {
			$cl = "out";
		}
?>
			
<li class="<?php echo $cl;?>">
<?php
	echo '<img  class="avatar" style="width:45px;" src="/assets/core/layouts/layout/img/avatar.png" />';
?>
	<div class="message" style="background-color:#313131;">
		<span class="arrow"> </span>
<?php
	echo '<a href="javascript:;" class="name" target="_blank">'.$v['title'].'</a>';
	
	$outtext = htmlspecialchars($v['doc_tx']);
	// echo $outtext;
?>
	<span class="datetime" style="color:white;"><?php echo gmdate("d M Y H:i", strtotime($v['create_date']));?></span>
	<span class="body" style="color:white;">  
		<?php 
		// echo $cc->chop_string(str_replace("\n","<br />",htmlspecialchars($v['doc_tx'])), 200);
		echo $cc->chop_string($outtext, 200);
		?>...</span>
	<a href="#basic" class="btn btn-sm btn-circle red easy-pie-chart-reload"  data-toggle="modal" href="#basic" data-id="<?php echo $v["id"]; ?>" data-entity="<?php echo $this->params["l"]; ?>" onclick="getExtract(this);">
		<i class="fa fa-search"></i> Lihat </a>

	</div>
</li>

<?php
	$cx++;
} else
				
				
				
				
				
				
				
				
				
				
			if($v['content']!=""){
			$cl = "in";
			if($i%2==0) {
			$cl = "out";
			}
				
			?>
			
				<li class="<?php echo $cl;?>">
<?php
if($this->params["l"]=="lap"){
	if($v['ss_icon']!=""){
		echo '<img src="'.  $cc->get_string_between($v['ss_icon'], "<img src=\"","\" align") .'"  style="width: 100%; height: 200px; display: block;" >';
	} else { 
		// echo '<img  class="avatar" style="width:45px;" src="'.$this->logo[$v['bundle']].'" />';
		echo '<img  class="avatar" style="width:45px;" src="/assets/core/layouts/layout/img/avatar.png" />';
   }
} else if($this->params["l"]=="news"){
	// if($v['ss_icon']!=""){                                                            
		// // echo '<img src="'.  $cc->get_string_between($v['ss_icon'], "<img src=\"","\" align") .'"  style="width: 100%; height: 200px; display: block;" >';
		// echo '<img  class="avatar" style="width:45px;" src="'.$v['ss_icon'].'" />';
	// } else { 
		echo '<img  class="avatar" style="width:45px;" src="'.$this->logo[$v['bundle']].'" />';
	// }	
} else if($this->params["l"]=="socmed"){
	if($v['ss_user_profile_imageurl']!=""){
		echo '<img class="avatar" style="width:45px;" src="'.$v['ss_user_profile_imageurl'].'">';		
	} else {
		echo '<img class="avatar" style="width:45px;" src="'.$this->logo[$v['bundle_name']].'">';
	}
}

?>
					<div class="message" style="background-color:#313131;">
						<span class="arrow"> </span>
<?php
// https://twitter.com/ladydelulu/status/780682362317266944
if($this->params["l"]=="news"){
	echo '<a href="'.$v["id"].'" class="name" target="_blank">'.($v["label"]!=""?$v["label"]:$v["id"]).'</a>';
} else if($this->params["l"]=="socmed"){
	echo '<a href="https://twitter.com/'.$v["ss_user_screenname"].'/status/'.$v["id"].'" class="name" target="_blank">'.$v["label"].' @'.$v["ss_user_screenname"].'</a>';
} else {
	echo '<a href="'.$v['id'].'" class="name" target="_blank">'.$v['label'].'</a>';
}
?>
						<!--a href="<?php echo $v['id'];?>" class="name" target="_blank"><?php echo $v['label'];?></a-->
						<span class="datetime" style="color:white;"><?php echo date("d M Y H:i", strtotime($v['timestamp']));?></span>
						<span class="body" style="color:white;">  <?php echo ($this->params["l"]=="socmed"?$v["content"]:$cc->chop_string($v['content'], 200));?> </span>
<?php
if($this->params["l"]=="news"){
?>
<a href="#basic" class="btn btn-sm btn-circle red easy-pie-chart-reload"  data-toggle="modal" href="#basic" data-id="<?php echo $v["id"]; ?>" data-entity="<?php echo $this->params["l"]; ?>" onclick="getExtract(this);">
	<i class="fa fa-search"></i> Lihat </a>
<?php
}
?>
					</div>
				</li>
			   <?php
				$cx++;
				}
				$i++;

			}
			   ?>
			   <?php
			   if(count($this->data)==10){
			   ?>
			   <li class="load">
				<span class="ajaxload" style="display:none">
			<img src="/assets/core/img/ajax-loading.gif"></span>
		   <font color="white">Lebih Lanjut</font>
			   </li>
			   <?php
			   } else if(count($this->data)==0){
				   echo "<li>no data available.</li>";
			   }
			   ?>
			</ul>

<script>
$(".<?php echo $this->params["l"]; ?> .load").click(function(){
$(".<?php echo $this->params["l"]; ?> .ajaxload").show();
<?php 
if($this->params["l"]=="lap"){ ?>
	$.ajax({
	url: "/analis/ajax/get/page/1/type/<?php echo $this->params["x"]; ?>/d1/<?php echo $this->params["d1"]; ?>/d2/<?php echo $this->params["d2"]; ?>/skey/<?php echo urlencode($this->params["skey"]); ?>/is_sentiment/<?php echo $this->params["is_sentiment"]; ?>/is_mediatype/<?php echo $this->params["is_mediatype"]; ?>",
	content: 'html',
	beforeSend: function() {
	},
	complete: function(result) {
	},
	success: function(data) {
		 $(".<?php echo $this->params["l"]; ?> .load").hide();
		jQuery('.<?php echo $this->params["l"]; ?>').append(data);
		$(".<?php echo $this->params["l"]; ?> .ajaxload").hide();
	},
	error: function() {
	$(".<?php echo $this->params["l"]; ?> .ajaxload").hide();
	}
	});
	
	
<?php }else{ ?>

	$.ajax({
	url: "/analis/ajax/get/page/1/type/<?php echo $this->params["x"]; ?>/d1/<?php echo $this->params["d1"]; ?>/d2/<?php echo $this->params["d2"]; ?>/skey/<?php echo urlencode($this->params["skey"]); ?>/is_sentiment/<?php echo $this->params["is_sentiment"]; ?>/is_mediatype/<?php echo $this->params["is_mediatype"]; ?>",
	content: 'html',
	beforeSend: function() {
	},
	complete: function(result) {
	},
	success: function(data) {
		 $(".<?php echo $this->params["l"]; ?> .load").hide();
		jQuery('.<?php echo $this->params["l"]; ?>').append(data);
		$(".<?php echo $this->params["l"]; ?> .ajaxload").hide();
	},
	error: function() {
	$(".<?php echo $this->params["l"]; ?> .ajaxload").hide();
	}
	});

<?php } ?>
});

</script>