<?php	
	// Zend_Debug::dump($this->data);die('sa');
?>
<style> 
.portlet.light {
    padding: 12px 5px 15px;
    background-color: transparent;
	 color: white;
}
.portlet.light>
.portlet-title>
.caption>
.caption-subject {
    color: white;
}
.page-container {
    padding: 20px 20px 5px 5px;
}
body{
	color: white !important;
}
.dataTables_wrapper .dataTables_length, .dataTables_wrapper .dataTables_filter, 
.dataTables_wrapper .dataTables_info, 
.dataTables_wrapper .dataTables_processing,
 .dataTables_wrapper .dataTables_paginate
{
  color : #1C6EA7;
}
.table-striped>tbody>tr:nth-of-type(odd) {
    background-color: rgba(39, 76, 95, 0.64);
}
.table {
    border: 1px solid #666;
}
.table-scrollable {
	border: 1px solid #666;	
}
.table-scrollable>.table {
	background-color: #0c1d2b;
}
.table-striped>tbody>tr:nth-of-type(even){
	background-color: #274c5f;
}
.portlet.light.bordered {
	background-color:rgba(17, 38, 55, 0.8);
}
table.dataTable td.sorting_1, table.dataTable td.sorting_2, table.dataTable td.sorting_3, table.dataTable th.sorting_1, table.dataTable th.sorting_2, table.dataTable th.sorting_3 {
    background: #35383c!important;
}
 
.pagination>li>a, .pagination>li>span{
color : #337ab7;
background-color : transparent;
border:transparent;
}

.pagination>.active>a, .pagination>.active>a:hover
{
  color : #333;
  background-color : #ffffff;
}

.pagination>li>a:hover
{ 
  color : #ffffff;
  background-color : #2f353b;
}
.pagination>.disabled>a, .pagination>.disabled>a:hover,.pagination>.disabled>span
{
   background-color:transparent;
   color : #1C6EA7;
}
</style>
<div class="page-content" style="min-height:539px">
	<!-- BEGIN EXAMPLE TABLE PORTLET-->	
	<div id="alertinfo">
	</div>
		
	<div class="portlet box ">
		<div class="portlet-title">
			<div class="caption">
				ALERT FR                        	
			</div>
			<div class="tools">
			</div>
			<div class="actions">
			</div>
		</div>
		<div>
				
				<table class="table table-striped table-bordered table-hover" id="user_table">
				<thead>
					<tr>
						<th>
							No
						</th>
						<th>
							PROFILE
						</th>
						<th>
							ID
						</th>
						<th>
							CAMERA NAME
						</th>
						<th>
							IP CAMERA
						</th>
						<th>
							FOTO
						</th>
						<th>
							SIMILARITY
						</th>
						<th>
							TANGGAL
						</th>
					</tr>
				</thead>
				</table>
				
		</div>
	</div>
	<!-- END EXAMPLE TABLE PORTLET-->
</div>

<style>
#frontend svg g path.link {
  fill: none;
  stroke: #666;
  stroke-width: 1.5px;
}

marker#licensing {
  fill: green;
}

#frontend svg g .link.licensing {
  stroke: green;
}

svg .link.resolved {
  stroke-dasharray: 0,2 1;
}

#frontend svg g circle {
  fill: #ccc;
  stroke: #333;
}

#frontend svg g text {
  font: 12px sans-serif;
  pointer-events: none;
  color:white;
}

div.tooltip {	
	position: absolute;			
	text-align: center;			
	width: 120px;					
	min-height: 48px;					
	padding: 4px;				
	font: 10px sans-serif;		
	background: lightsteelblue;	
	border: 0px;		
	border-radius: 8px;			
	color:#07541B;
	pointer-events: none;
}
</style>

<script>

jQuery(document).ready(function() {
var TableAjax = function () {
    return {
        //main function to initiate the module
        init: function () {
            
            if (!jQuery().dataTable) {
				
                return;
            }
			
			 // begin first table	
            var oTable = $('#user_table').dataTable({
               // "sDom" : "<'row'<'col-md-6 col-sm-12'l><'col-md-6 col-sm-12'f>r>t<'row'<'col-md-5 col-sm-12'i><'col-md-7 col-sm-12'p>>", //default layout without horizontal scroll(remove this setting to enable horizontal scroll for the table)
                "aLengthMenu": [
                    [10,50, 200, 500 -1],
                    [10,50, 200, 500, "All"] // change per page values here
                ],
                "bProcessing": true,
                "bServerSide": true,
                "sAjaxSource": "/analis/ajaxhome/tablealert/search/<?php echo $this->varams["search"] ;?>",
				//die("iiii");
                // set the initial value
                "iDisplayLength": 10,
                "sPaginationType": "bootstrap_full_number",
                "oLanguage": {
                    "sProcessing": '<i class="fa fa-coffee"></i>&nbsp;Please wait...',
                    "sLengthMenu": "_MENU_ records",
                    "oPaginate": {
                        "sPrevious": "Prev",
                        "sNext": "Next"
                    },
			"sSearch": "Search all columns:"
                },
                "aoColumnDefs": [{
                        'bSortable': false,
                        'aTargets': [0,5]
                    }
                ]
            });
			
			
        $('#sample_2_column_toggler input[type="checkbox"]').change(function(){
            /* Get the DataTables object again - this is not a recreation, just a get of the object */
            var iCol = parseInt($(this).attr("data-column"));
            var bVis = oTable.fnSettings().aoColumns[iCol].bVisible;
            oTable.fnSetColumnVis(iCol, (bVis ? false : true));
        });
		

        }
    };

}();

	TableAjax.init();

	$('span.help-block').hide();


});
</script>