
<div class="row">
	<div class="col-md-4">
		<div class="portlet light " style="background-color:rgba(17, 38, 55, 0.8);">
			 <div class="portlet-title" style="height:10px;">
				<div class="caption">
					<i class="icon-equalizer font-dark hide"></i>
					<span class="caption-subject font-dark bold uppercase" ><font color="white">Latest Laporan</font></span>
					<span class="caption-helper">...</span>
				</div>
				<div class="tools">
					<a href="" class="collapse" data-original-title="" title=""> </a>
				</div>
			</div>
			<div class="portlet-body">
				<div class="scroller" style="height: 525px;" data-always-visible="1" data-rail-visible1="1">
					<div id="l_lap"></div>
				</div>
			</div>
		</div>
	</div>

	<div class="col-md-4">
		<div class="portlet light " style="background-color:rgba(17, 38, 55, 0.8);">
			 <div class="portlet-title">
				<div class="caption">
					<i class="icon-equalizer font-dark hide"></i>
					<span class="caption-subject font-dark bold uppercase"><font color="white">Latest News</font></span>
					<span class="caption-helper">...</span>
				</div>
				<div class="tools">
					<a href="" class="collapse" data-original-title="" title=""> </a>
				</div>
			</div>
			<div class="portlet-body">
				<div class="scroller" style="height: 525px;" data-always-visible="1" data-rail-visible1="1">
					<div id="l_news"></div>
				</div>									
			</div>
		</div>
	</div>
	<div class="col-md-4">
		<div class="portlet light " style="background-color:rgba(17, 38, 55, 0.8);">
			<div class="portlet-title">
				<div class="caption">
					<i class="icon-equalizer font-dark hide"></i>
					<span class="caption-subject font-dark bold uppercase"><font color="white">Latest Socmed</font></span>
					<span class="caption-helper">...</span>
				</div>
				<div class="tools">
					<a href="" class="collapse" data-original-title="" title=""> </a>
				</div>
			</div>
			<div class="portlet-body" id="chats">
				<div class="scroller" style="height: 525px;" data-always-visible="1" data-rail-visible1="1">
					<div id="l_socmed"></div>
				</div>								
			</div>
		</div>
	</div>
</div>

<script>
function getLatest(l){

App.blockUI({target:"#l_"+l,boxed:!0});

var formData = $("#form").serialize();

$.ajax({  
	type: "GET",
	url: '/analis/ajaxhome/latest/l/'+l+'/skey/<?php echo $_GET["search"] ?>/startdate/<?php echo $this->params["tgl"] ?>/enddate/<?php echo $this->params["tgl"] ?>',
	data: formData, //last_id kita berarti 15
	dataType: "html",  //sesuai keinginan, di sini saya pengen ngambil langsung data dalam bentuk html langsung dari file data_per_load.php
	success: function(data){
		// console.log(data);
		$("#l_"+l).html(data);
		App.unblockUI("#l_"+l);
	}
});
	
	
}
jQuery(document).ready(function(){
getLatest("lap");	
getLatest("news");	
getLatest("socmed");	
});
</script>