
<div class="row">
<div class="col-md-12 font-white" style="padding:15px 30px;">
<?php 

$label = ($this->xx["sm_what"][0]!=""?$this->xx["sm_what"][0]:$this->xx["id"]);

// echo $this->data; 
// Zend_Debug::dump($this->xx);
$timestamp = strtotime($this->xx["content_date"]);

$date_format = preg_replace ("/S/", "", $date_format);
$pattern = array (
	'/Mon[^day]/','/Tue[^sday]/','/Wed[^nesday]/','/Thu[^rsday]/',
	'/Fri[^day]/','/Sat[^urday]/','/Sun[^day]/','/Monday/','/Tuesday/',
	'/Wednesday/','/Thursday/','/Friday/','/Saturday/','/Sunday/',
	'/Jan[^uary]/','/Feb[^ruary]/','/Mar[^ch]/','/Apr[^il]/','/May/',
	'/Jun[^e]/','/Jul[^y]/','/Aug[^ust]/','/Sep[^tember]/','/Oct[^ober]/',
	'/Nov[^ember]/','/Dec[^ember]/','/January/','/February/','/March/',
	'/April/','/June/','/July/','/August/','/September/','/October/',
	'/November/','/December/',
);
$replace = array ( 'Sen','Sel','Rab','Kam','Jum','Sab','Min',
	'Senin','Selasa','Rabu','Kamis','Jumat','Sabtu','Minggu',
	'Jan','Feb','Mar','Apr','Mei','Jun','Jul','Ags','Sep','Okt','Nov','Des',
	'Januari','Februari','Maret','April','Juni','Juli','Agustus','Sepember',
	'Oktober','November','Desember',
);
$content_date = date ("l, j F Y | H:i", $timestamp);
$content_date = preg_replace ($pattern, $replace, $content_date);

echo '<h3 style="margin-top:0px;"><a style="color:#d5ff5b;" href="'.$this->xx["id"].'" target="_blank">'.$label.'</a><br><small style="color:white;">'.$content_date.'</small></h3><hr>';
// echo $this->data;

$this->data = str_replace("'","",$this->data);

if($this->varams["t"]!="Laporan"){
	$text = str_replace('\n','<br>',str_replace('&lt;br/&gt;','\n',$this->data));
} else {
	$this->data = htmlspecialchars($this->data);
	$text = ltrim(str_replace("\n","<br>",$this->data),"<br>"); 
}

// Zend_Debug::dump($this->sm_who);

array_multisort(array_map('strlen', $this->sm_who), $this->sm_who);



$as =  new Analis_Model_Solr();
// $y = "";
foreach($this->sm_who as $k=>$v){
	
		// Zend_Debug::dump($V);
	if($v!="" && !strpos($v,"/") && !strpos(strtolower($v),strtolower($y))){
	
		$xx = trim(str_replace("(ORG)","",str_replace("(PER)","",$v)));
		$y = $xx;
		// Zend_Debug::dump($xx);
		
		$text = $as->highlight($text,$xx);
		// echo $text;
	}
 
	// $text = str_replace($xx,'<a href="/profilingmodul?search='.$xx.'" target="_blank" style="color:#d5ff5b;">'.$xx.'</a>',$text);
}

echo $text;

?>
</div>
</div>


<div class="row">
<div class="col-md-10">
	<a class="btn blue" href="/analis/ajaxhome/vs?id=<?php echo $this->id; ?>&dl=1"><i class="fa fa-file-word-o"> Word</i></a>
</div>
<div class="col-md-2 font-white">
	<?php 
	// Zend_Debug::dump($this->varams["sentiment"]);
	echo $this->varams["sentiment"]; ?>
</div>
</div>


<script>
// $("#ext_modaltitle").html('<a href="<?php echo $this->url; ?>" target="_blank"><?php echo $this->label; ?></a>');
// $("#author_publisher").html("<span class=\"hidden\">doc_id: <?php echo $this->id; ?><br /></span>author: <?php echo $this->author." / publisher: ".$this->publisher; ?><br /><?php echo $this->create_date; ?>");
</script>