<?php

// Zend_Debug::dump($this->varams["t"]);
 // Zend_Debug::dump($this->data[0]);


if($this->varams["t"]!="Social Media"){	
?>
<div class="table-scrollable">
<table class="table table-striped table-bordered" id="table_tbl5w1h" data-toggle="table" data-height="299">
	<thead>
	<tr>
		<th style="width:20px !important;">NO</th>  
		<th>RINGKASAN</th>
		<!--th>SIAPA</th>
		<th>APA</th>
		<th>BILAMANA</th>
		<th>DIMANA</th>
		<th>BAGAIMANA</th>
		<th>MENGAPA</th>
		<th>TANGGAL</th-->
		<th>AKSI</th>
	</tr>
	</thead>
	<tbody id="tbd5w1h">
<?php
foreach($this->data as $k=>$v){
	// Zend_Debug::dump($v["sm_who"]);
	$whotext='';
	$textanalis = 'Pada '.date(" d F Y ", strtotime($v["content_date"]));
	// if($v["when_str_mv"]!='' && $v["when_str_mv"]!=null)
	// {
		// $textanalis.='Pada '.implode(", ",$v["when_str_mv"]);
	// }
	if($v["sm_where"]!='' && $v["sm_where"]!=null)
	{
		$textanalis.=', di '.implode(", ",$v["sm_where"]);
	}
	if($v["sm_who"]!='' && $v["sm_who"]!=null)
	{
		foreach($v["sm_who"] as $k1=>$v1){
			$who = (substr($v1,0,1)=="n"?substr($v1,1):$v1);
			$whotext.=', <a class="font-default" href="/profilingmodul?search='.urlencode(trim(str_replace("(ORG)","",str_replace("(PER)","",$who)))).'" target="_blank">'.$who.'</a>';
		}
		
		$textanalis.=', '.$whotext.' melakukan '.implode(", ",$v["sm_what"]);
	}
	if($v["sm_how"]!='' && $v["sm_how"]!=null)
	{
		$textanalis.=', degancara '.implode(",",$v["sm_how"]);
	}
	if($v["sm_why"][0]!='' || $v["sm_why"][0]!=null)
	{
		$textanalis.=', karena '.implode(",",$v["sm_why"]);
	}

echo '<tr>';
echo '	<td>'.($k+1).'</td>';
echo '	<td>'.$textanalis.'</td>';

// // echo '	<td>';
// // foreach($v["who_str_mv"] as $k1=>$v1){
	// // $who = (substr($v1,0,1)=="n"?substr($v1,1):$v1);
	// // echo '<a class="font-default" href="/profilingmodul?search='.urlencode(trim(str_replace("(ORG)","",str_replace("(PER)","",$who)))).'" target="_blank">'.$who.'</a><br />';
// // }
// // echo '	</td>';
// // // echo '	<td>'.implode("<br />",$v["who_str_mv"]).'</td>';
// // echo '	<td>'.implode(",",$v["what"]).'</td>';
// // echo '	<td>'.implode(",",$v["when_str_mv"]).'</td>';
// // echo '	<td>'.implode(",<br />",$v["where_str_mv"]).'</td>';
// // echo '	<td>'.implode(",",$v["how"]).'</td>';
// // echo '	<td>'.implode(",",$v["why"]).'</td>';
// // echo '	<td>'.date("l, d F Y H:i T", strtotime($v["create_date"])).'</td>';
$id5w=base64_encode($v["id"]);
echo '	<td>
			<button class="btn blue w5h1detail" data-id="'.$v["id"].'" data-dl="0" data-t="'.$this->varams["t"].'" onclick="getVS(this);">DETAIL</button>
			<a class="btn yellow" href="/trendingtopik/index/edit5w1h/id/'.$id5w.'" target="_blank">EDIT</a>
		</td>';
echo '</tr>';
}
if(count($this->data)==10){
	echo '<tr class="load">';
	echo '<td colspan="9">';
	echo '<span>Lebih Lanjut</span>';
	echo '</td>';
	echo '</tr>';
}
?>		
	</tbody>
</table>
</div>
<?php
} else {
?>

<div class="table-scrollable">
<table class="table table-striped table-bordered" id="table_tbl5w1h" data-toggle="table" data-height="299">
	<thead>
	<tr>
		<th style="width:20px !important;">NO</th>  
		<th>SUMBER</th>
		<th>AUTHOR</th>
		<th>TEKS</th>
		<th>TANGGAL</th>
	</tr>
	</thead>
	<tbody id="tbd5w1h">
<?php
foreach($this->data as $k=>$v){
echo '<tr class="w5h1detail" data-id="'.$v["id"].'" data-dl="0" data-t="'.$this->varams["t"].'" onclick="getVS(this);">';
echo '	<td>'.($k+1).'</td>';
echo '	<td>TWITTER</td>';
echo '	<td><a href="https://twitter.com/'.$v["author"][0].'" target="_blank">'.$v["title"].'</a></td>';
echo '	<td>'.$v["doc_tx"].'</td>';
echo '	<td>'.date("l, d F Y H:i T", strtotime($v["create_date"])).'</td>';
echo '</tr>';
}
if(count($this->data)==10){
	echo '<tr class="load">';
	echo '<td colspan="5">';
	echo '<span>Lebih Lanjut</span>';
	echo '</td>';
	echo '</tr>';
}
?>		
	</tbody>
</table>
</div>
<?php
}
?>

<?php
// if(count($this->data)==10){
	// echo '<span class="load">Lebih Lanjut</span>';
// }
?>
<script>
$("#5w1h .load").on("click", function(){
	
	
	var sdate = edate = "";
	
	// console.log("ok");
	App.blockUI({target:"#5w1h",boxed:!0});

	var s = "who";
	// if($(me).data("s")!=undefined){
		// s = $(me).data("s");
	// }

	// console.log(s);

	var formData = {}
	var param = "";
	param +="t="+t;
	// param +="&s="+$(me).data("s");
	param +="&skey="+$("#skey").val();
	param += "&cat="+$("#cat").val();
	param += "&topik=<?php echo $this->varams["topik"]; ?>";

	if(sdate!="" && edate!=""){
		param += "&d1="+sdate+"&d2="+edate;	
		param +="&is_sentiment="+$("#is_sentiment").val();
	} else {	
		$("#is_sentiment").val("");
		param +="&d1="+$("#from").val()+"&d2="+$("#to").val();
		param +="&is_sentiment="+$("#is_sentiment").val();
	}

	// console.log(param);
	
	

$.ajax({  
	type: "GET",
	url: '/analis/ajaxhome/morewwwwwh/page/1?'+param,
	data: formData, //last_id kita berarti 15
	dataType: "html",  //sesuai keinginan, di sini saya pengen ngambil langsung data dalam bentuk html langsung dari file data_per_load.php
	success: function(data){
		 // console.log(data);
		// $("#5w1h").html(data);
		$("#5w1h .load").hide();
		jQuery('#tbd5w1h').append(data);
		App.unblockUI("#5w1h");
	}
});
});
</script>









