<div id="chart_trendline" class="CSSAnimationChart"></div>

<script type="text/javascript">
	jQuery(document).ready(function(){

	
	    if (typeof(AmCharts) === 'undefined' || $('#chart_trendline').size() === 0) {
	        return;
	    }

	    var chartData = <?php echo $this->chartData ?>;
	    var chart = AmCharts.makeChart("chart_trendline", {
	        type: "serial",
	        fontSize: 12,
	        fontFamily: "Open Sans",
	        dataDateFormat: "YYYY-MM-DD",
	        dataProvider: chartData,

	        addClassNames: true,
	        startDuration: 1,
	        color: "#6c7b88",
	        marginLeft: 0,

	        categoryField: "date",
	        categoryAxis: {
	            parseDates: true,
	        },

	        valueAxes: [{
	            id: "a2",
	            position: "left",
	            // gridAlpha: 0,
	            // axisAlpha: 0,
                "dashLength": 1,
	            // labelsEnabled: false
	        }],
	        graphs: [{
	            id: "g1",
	            valueField: "digital_media",
	            classNameField: "bulletClass",
	            title: "DIGITAL MEDIA",
	            type: "line",
	            valueAxis: "a2",
	            lineColor: "#F4D03F",
	            lineThickness: 2,
	            legendValueText: "[[value]]",
	            bullet: "round",
	            bulletBorderColor: "#F3C200",
	            bulletBorderAlpha: 1,
	            bulletBorderThickness: 2,
	            bulletColor: "#C5BF66",
	            labelPosition: "right",
	            balloonText: "[[value]]",
	            showBalloon: true,
	            animationPlayed: true,
	        },{
	            id: "g2",
	            valueField: "dokumen",
	            classNameField: "bulletClass",
	            title: "DOKUMEN",
	            type: "line",
	            valueAxis: "a2",
	            lineColor: "#786c56",
	            lineThickness: 2,
	            legendValueText: "[[value]]",
	            bullet: "square",
	            bulletBorderColor: "#02617a",
	            bulletBorderAlpha: 1,
	            bulletBorderThickness: 2,
	            bulletColor: "#89c4f4",
	            labelPosition: "right",
	            balloonText: "[[value]]",
	            showBalloon: true,
	            animationPlayed: true,
	        },{
	            id: "g3",
	            valueField: "social_media",
	            classNameField: "bulletClass",
	            title: "SOCIAL MEDIA",
	            type: "line",
	            valueAxis: "a2",
	            lineColor: "#BF55EC",
	            lineThickness: 2,
	            legendValueText: "[[value]]",
	            bullet: "round",
	            bulletSizeField: "townSize",
	            bulletBorderColor: "#8E44AD",
	            bulletBorderAlpha: 1,
	            bulletBorderThickness: 2,
	            bulletColor: "#BF55EC",
	            labelPosition: "right",
	            balloonText: "[[value]]",
	            showBalloon: true,
	            animationPlayed: true,
	        },],
          "chartScrollbar": {},
            "chartCursor": {
                "valueLineEnabled": true,
                "valueLineBalloonEnabled": false,
                "valueLineAlpha": 0.5,
                "fullWidth": true,
                "cursorAlpha": 0.05
            },
	        legend: {
	            bulletType: "round",
	            equalWidths: false,
	            valueWidth: 120,
	            useGraphSettings: true,
	            color: "#6c7b88"
	        }
	    });
	});
</script>