<div id="chart_sentiment" class="CSSAnimationChart"></div>

<script type="text/javascript">	
	jQuery(document).ready(function(){
		
        if (typeof(AmCharts) === 'undefined' || $('#chart_sentiment').size() === 0) {
            return;
        }

        var chartData = <?php echo $this->chartData; ?>;
        var chart = AmCharts.makeChart("chart_sentiment", {
            type: "serial",
            "theme": "light",
            fontSize: 12,
            fontFamily: "Open Sans",
            dataDateFormat: "YYYY-MM-DD",
            dataProvider: chartData,

            addClassNames: true,
            startDuration: 1,
            color: "#6c7b88",
            marginLeft: 0,

            categoryField: "DATE",
            categoryAxis: {
                parseDates: true,
            },

             "valueAxes": [{
                id: "a1",
                // "logarithmic": true,
                "dashLength": 1,
                // "guides": [{
                //     "dashLength": 6,
                //     "inside": true,
                //     "label": "average",
                //     "lineAlpha": 1,
                //     "value": 90.4
                // }],
                "position": "left"
            },{
                    id: "a2",
                    position: "right",
                    gridAlpha: 0,
                    axisAlpha: 0,
                    labelsEnabled: false
                }, ],
            graphs: [
                {
                    id: "g1",
                    valueField: "NEGATIF",
                    title: "Negatif",
                    type: "column",
                    fillAlphas: 0.7,
                    valueAxis: "a1",
                    balloonText: "Negatif : [[value]]",
                    legendValueText: "[[value]]",
                    legendPeriodValueText: "[[value.sum]]",
                    lineColor: "#E7505A",
                    alphaField: "alpha",
                },{
                    id: "g2",
                    valueField: "NETRAL",
                    title: "Netral",
                    type: "column",
                    fillAlphas: 0.7,
                    valueAxis: "a1",
                    balloonText: "Netral : [[value]]",
                    legendValueText: "[[value]]",
                    legendPeriodValueText: "[[value.sum]]",
                    lineColor: "#08a3cc",
                    alphaField: "alpha",
                },{
                    id: "g3",
                    valueField: "POSITIF",
                    title: "Positif",
                    type: "column",
                    fillAlphas: 0.7,
                    valueAxis: "a1",
                    balloonText: "Positif : [[value]]",
                    legendValueText: "[[value]]",
                    legendPeriodValueText: "[[value.sum]]",
                    lineColor: "#26C281",
                    alphaField: "alpha",
                }, {
                    id: "g4",
                    valueField: "DIGITAL_MEDIA",
                    classNameField: "bulletClass",
                    title: "DIGITAL MEDIA",
                    type: "line",
                    valueAxis: "a2",
                    lineColor: "#E87E04",
                    lineThickness: 1,
                    legendValueText: "[[value]]",
                    bullet: "round",
                    bulletBorderColor: "#E87E04",
                    bulletBorderAlpha: 1,
                    bulletBorderThickness: 2,
                    bulletColor: "#F4D03F",
                    labelPosition: "right",
                    balloonText: "DIGITAL MEDIA : [[value]]",
                    legendValueText: "[[value]]",
                    legendPeriodValueText: "[[value.sum]]",
                    showBalloon: true,
                    animationPlayed: true,
                }, {
                    id: "g5",
                    valueField: "DOKUMEN",
                    classNameField: "bulletClass",
                    title: "DOKUMEN",
                    type: "line",
                    valueAxis: "a2",
                    lineColor: "#8E44AD",
                    lineThickness: 1,
                    legendValueText: "[[value]]",
                    bullet: "square",
                    bulletBorderColor: "#8E44AD",
                    bulletBorderAlpha: 1,
                    bulletBorderThickness: 2,
                    bulletColor: "#8775A7",
                    labelPosition: "right",
                    balloonText: "DOKUMEN : [[value]]",
                    legendValueText: "[[value]]",
                    legendPeriodValueText: "[[value.sum]]",
                    showBalloon: true,
                    animationPlayed: true,
                }, {
                    id: "g6",
                    valueField: "SOCIAL_MEDIA",
                    classNameField: "bulletClass",
                    title: "SOCIAL MEDIA",
                    type: "line",
                    valueAxis: "a2",
                    lineColor: "#95A5A6",
                    lineThickness: 1,
                    legendValueText: "[[value]]",
                    bullet: "round",
                    bulletBorderColor: "#95A5A6",
                    bulletBorderAlpha: 1,
                    bulletBorderThickness: 2,
                    bulletColor: "#E9EDEF",
                    labelPosition: "right",
                    balloonText: "SOCIAL MEDIA : [[value]]",
                    legendValueText: "[[value]]",
                    legendPeriodValueText: "[[value.sum]]",
                    showBalloon: true,
                    animationPlayed: true,
                },
            ],
          "chartScrollbar": {},

            // chartCursor: {
            //     zoomable: false,
            //     categoryBalloonDATEFormat: "DD",
            //     cursorAlpha: 0,
            //     categoryBalloonColor: "#e26a6a",
            //     categoryBalloonAlpha: 0.8,
            //     valueBalloonsEnabled: true
            // },
            "chartCursor": {
                "valueLineEnabled": true,
                "valueLineBalloonEnabled": false,
                "valueLineAlpha": 0.5,
                "fullWidth": true,
                "cursorAlpha": 0.05
            },
            legend: {
                bulletType: "round",
                equalWidths: false,
                valueWidth: 120,
                useGraphSettings: true,
                color: "#6c7b88"
            }
        });
	});
</script>