<style>
.page-content{
	padding:0px !important;
	margin-left:0px !important;
}
</style>
<script>
	var chartData = [];
	var PRABAC_pid = <?php echo (isset($this->ns['pid']) && $this->ns['pid']!=null)?$this->ns['pid']:"null";?>;
	var PRABAC_cfg = {};
	PRABAC_cfg.code = <?php echo (isset($this->ns['cfg']['code']) && $this->ns['cfg']['code']!=null)?$this->ns['cfg']['code']:"{}"?>;
	PRABAC_cfg.css = <?php echo (isset($this->ns['cfg']['css']) && $this->ns['cfg']['css']!=null)?$this->ns['cfg']['css']:"{}"?>;
	PRABAC_cfg.template = <?php echo (isset($this->ns['cfg']['template']) && $this->ns['cfg']['template']!=null)?$this->ns['cfg']['template']:"{}"?>;
	var _chart,_config, _tpl,_css;
	var formsave = {};
	formsave.title = <?php echo (isset($this->ns['cfg']['title']) && $this->ns['cfg']['title']!=null)?'"'.$this->ns['cfg']['title'].'"':"null"?>;
	formsave.description = <?php echo (isset($this->ns['cfg']['description']) && $this->ns['cfg']['description']!=null)?'"'.$this->ns['cfg']['description'].'"':"null"?>;
	formsave.int_save = <?php echo (isset($this->ns['cfg']['int_save']) && $this->ns['cfg']['int_save']!=null)?$this->ns['cfg']['int_save']:"10000"?>;
	var formsave = {};
	formsave.title = <?php echo (isset($this->ns['cfg']['title']) && $this->ns['cfg']['title']!=null)?'"'.$this->ns['cfg']['title'].'"':"null"?>;
	formsave.description = <?php echo (isset($this->ns['cfg']['description']) && $this->ns['cfg']['description']!=null)?'"'.$this->ns['cfg']['description'].'"':"null"?>;
	formsave.int_save = <?php echo (isset($this->ns['cfg']['int_save']) && $this->ns['cfg']['int_save']!=null)?$this->ns['cfg']['int_save']:"10000"?>;
	
	var formapi = <?php echo (isset($this->ns['cfg']['form_api']) && $this->ns['cfg']['form_api']!=null)?$this->ns['cfg']['form_api']:"{}"?>;
	var errormsg = "";
</script>
<div class="page-content">
<div class="row">
	<div class="col-md-12">
	<div class="app">
		<section class="app-section hidden app-section-landing overflow-auto"></section>
		<section class="app-section hidden app-section-editor"></section>
		<section class="app-section hidden app-section-share fx-all-250"></section>
		<div class="app-modal am-editor-modal modal fade in">
			<div class="modal-dialog">
				<div class="modal-content"></div>
			</div>
		</div>
		</div>
	<div class="modal-backdrop modal-backdrop-init fade in"></div>
	</div>
	</div>
</div>
<script type="text/javascript">
$( document ).ready(function() {
	$('body').addClass('page-header-fixed page-sidebar-fixed page-footer-fixed');
	App.init();
	$(".app").css('height',window.innerHeight);
	// $('.page-header').hide();	
	// $('.page-sidebar-wrapper').hide();
	$('link[href="/assets/white/skins/default/css/themes/grey.css"]').prop("disabled", true);  
	$('span.help-block,.toggler').hide();
});
</script>
