<div class="modal-header">
	<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
	<h4 class="modal-title">Import Data</h4>
</div>
<div class="modal-body" style="min-width:800px">
	<div class="importer-upload" style="padding-bottom: 10px;">
		<div class="alert alert-info alert-desc hidden">
			<p>Simply drag and drop your file, copy and paste your plain data or use any URL within the input field below and define some specifics - we do the rest.</p>
			<p>Import is limited to a <strong>maximum of 2000 records</strong>.</p>
		</div>
		<form>
				<div class="form-group row row-api">
					<div class="col-md-8">
						<label class="control-label lbl" title="Indicator to split the rows">Column Delimiter</label>
						<div class="">
							<select name='post_api[]' class='col-md-12 selectlist form-control' placeholder='BigEnvelope'/>
							<textarea name='post_param[]' class='col-md-12 paramlist form-control' placeholder='Parameter (example): offset:5~limit:100'></textarea> 
						</div>
					</div>
					<div class="col-md-4">
						<label class="control-label" title="Indicator to split the rows">&nbsp;</label>
						<div class="">
							<input class='form-control tag-input' name='fapi[]' placeholder='Field/Key'/>
						</div>
					</div>
				</div>
		</form>
	</div>
</div>
<div class="modal-footer">
	<button type="button" class="btn btn-primary btn-import">Import</button>
</div>
<script type="text/javascript">
	(function() {
		// var width = $(window).width() - 200;
		// $(this).find(".modal-content").css("min-width", width);
		var apilist = listapi;
		var curval = formapi;

		var modal = jQuery(AmCharts.Editor.SELECTORS.modalContent);
		AmCharts.Editor.CONSTANT.DATASOURCE = "";
		AmCharts.Editor.CONSTANT.ISHTTP = false;
		var col = [];
		// console.log($(".am-data-input-col").length);
		if($(".am-data-input-col").length>0){
			// console.log($(modal).find('.row-api'));
			var selhtml = $(modal).find('.row-api').first();
			// console.log(selhtml);
			$(".am-data-input-col").each(function(){
				// console.log($(this).val());
				$clone = selhtml.clone( true );
				// console.log($clone.find("label.lbl"));
				$clone.find("select.selectlist").attr("name",$(this).val()+"_api");
				$clone.find("textarea.paramlist").attr("name",$(this).val()+"_param");
				$clone.find("input.tag-input").attr("name",$(this).val()+"_field");
				$clone.find("select.selectlist").attr("id",$(this).val()+"_api");
				$clone.find("textarea.paramlist").attr("id",$(this).val()+"_param");
				$clone.find("input.tag-input").attr("id",$(this).val()+"_field");
				$clone.find("label.lbl").html("<b>"+$(this).val()+"</b>");
				selhtml.before("<div class='form-group row'>"+$clone.html()+"</div>");
				col.push($(this).val());
			});
			selhtml.remove();
		}
		// console.log(col);
		// console.log(apilist);
		// console.log(curval);

		// console.log(typeof apilist);
		if(typeof apilist == "object"){
			$.each(apilist,function(key, value){
			    $(modal).find('.selectlist').append('<optgroup label=' + key + '>');
			    if(typeof value == "object"){
					$.each(value,function(key2, value2){
			    		$(modal).find('.selectlist').append('<option value=' + value2.id + '>' + value2.id + '-'+ value2.text +'</option>');
			    	});
				}
			    $(modal).find('.selectlist').append('</optgroup>');
			});
			for(i=0;i<col.length;i++){
				// console.log(curval[col[i]]);
				// console.log(col[i]);
				if(curval!=null && curval[col[i]]!=undefined){
					$(modal).find("select.selectlist#"+col[i]+"_api").val(curval[col[i]].api);
					$(modal).find("textarea.paramlist#"+col[i]+"_param").val(curval[col[i]].paramstring);
					$(modal).find("input.tag-input#"+col[i]+"_field").val(curval[col[i]].field);
				}
			}
			$(modal).find('.selectlist').select2({ width: '100%' });
			// $(modal).find('.tag-input').tagsinput({trimValue: true,allowDuplicates: false,maxTags: 1});
		}
		
		// APPLY WIDTH
		jQuery(modal).removeClass(AmCharts.Editor.SELECTORS.modalClasses);
		jQuery(modal).addClass('modal-lg');
		var btn_import	= jQuery(modal).find('.btn-import');
		var input_form	= jQuery(modal).find('form');
		// console.log(AmCharts.Editor.current);
		jQuery(btn_import).on('click',function() {
			jQuery('.modal .alert-desc').addClass('hidden');
			var data = {};
			var valid;
			jQuery(input_form).serializeArray().map(function(item) {
				if(valid==undefined){
					for(i=0;i<col.length;i++){
						if(data[col[i]]==undefined){
							data[col[i]] = {};
						}
						// console.log(col[i]);
						// console.log(item.name);
						if(item.name==col[i]+"_field"){
							if(item.value==""){
								valid = col[i];
								break;
							}else{
								data[col[i]].field = item.value;
							}
						}else if(item.name==col[i]+"_api"){
							data[col[i]].api = item.value;
						}else if(item.name==col[i]+"_param"){
							data[col[i]].paramstring = item.value;
			                var dt = {};
							if(item.value!=""){
				                var tmppar  = item.value.split("~");
				                if(tmppar.length>0){
				                    $.each(tmppar,function(keyA, valueA){
				                        var tmppar2 = valueA.split(":");
				                        if(tmppar2.length==2){
				                            dt[tmppar2[0]] = tmppar2[1];
				                        }
				                    });
				                }
				            }
			                data[col[i]].param = dt;
						}
					}
				}
			});
			// console.log(data);
			if(valid!=undefined){
				jQuery('.modal .alert-desc').html(valid+" Field/Key <strong>can not be empty.</strong>");
				jQuery('.modal .alert-desc').removeClass('hidden');
			}else{
				// console.log(input_form.serialize());
				// console.log(col);
				// console.log(config);
				// console.log(api_id);
				AmCharts.Editor.ajax({
			        url: "/bigchart/databuilder",
			        method : "post",
			        data : data,
			        complete: function (transport) {
			        	// console.log(transport);
						var response=transport.responseJSON||{error:true};
						if(!response.error){
							AmCharts.Editor.processData(transport.responseJSON);
							AmCharts.Editor.CONSTANT.DATASOURCE = "Prabac API";
							formapi = data;
							AmCharts.Editor.CONSTANT.ISHTTP = true;
							// console.log(AmCharts.Editor.CONSTANT);
							// HIDE DONE
							AmCharts.Editor.modal("hide");
						}else{
							jQuery('.modal .alert-desc').html("Failed to <strong>submit form.</strong>");
							jQuery('.modal .alert-desc').removeClass('hidden');
						}
					}
				});
			}
		});
	})(jQuery);

	// LOAD ASYNC.
	(function() {
		var resources = [];
		if ( AmCharts.Editor.importer === undefined ) resources.push(AmCharts.Editor.CONSTANT.URL_BASE + 'dist/ameditor.import.js');
		// if ( window.JSZip === undefined ) resources.push(AmCharts.Editor.CONSTANT.URL_BASE + 'vendor/import/jszip.js');
		if ( window.XLSX === undefined ) resources.push(AmCharts.Editor.CONSTANT.URL_BASE + 'vendor/import/xlsx.js');

		// POSTLOAD RESOURCES
		jQuery(resources).each(function() {
			var script = jQuery('<script>').attr({
				src: this,
				type: 'text/javascript'
			}).appendTo(document.body).on('load',function() {
				jQuery(this).remove();
			});
		});
	})(jQuery);
</script>