<?php 

Zend_Debug::dump($this->dataV[111][data]);

?>
    
<div class="col-md-8 ">
                    <!-- BEGIN EXAMPLE TABLE PORTLET-->
                    <div class="portlet box blue">
                        <div class="portlet-title">
                            <div class="caption">
                                <i class="fa fa-user"></i>KATGEORI                            </div>
                            
                            <div class="tools">
                                <a href="javascript:;" class="collapse"></a><a href="#portlet-config" data-toggle="modal" class="config"></a><a href="javascript:;" class="reload"></a><a href="javascript:;" class="remove"></a>                                
                            
                            </div>
                            <div class="actions">
                                                                <a href="#" class=""><i class=""></i> </a>
                                
                                                            </div>
                        </div>
                        <div class="portlet-body">

                            <table class="table table-striped table-bordered table-hover" id="table_portlet_108">
                            <thead>
                            <tr>
                                
                                                                
                                <th> # </th><th> ID </th><th> NAMA </th><th> URUTAN </th>                            
                            
                            
                            </tr>
                            </thead>
                            <tbody>
                                
                            <?php 
                            $i=1;
                            foreach ($this->dataV[111][data] as $v) {
                            
                            ?>    
                                
                            <tr class="gradeX">
                                                                 
                                <td><?php echo $i ;?></td>                                
                                <td><?php echo $v['urutan_kategori'] ;?></td>
                                     <td><?php echo $v['nama_kategori'] ;?></td>                
                                           <td><?php echo $v['urutan_kategori'] ;?></td>               
                                                           
                                                            </tr>
                                
                                
                              <?php 
                               $i++;
                              } ?>  
                            </tbody>
                            </table>
                        </div>
                    </div>
                    <!-- END EXAMPLE TABLE PORTLET-->
                </div>
<script>
    
jQuery(document).ready(function() {



 $('#table_portlet_108').dataTable({
                "aoColumns": [
                                            { "bSortable": false },
                    null,null,null,null,                    
                    
                
                ],
                "aLengthMenu": [
                    [5, 15, 20, -1],
                    [5, 15, 20, "All"] // change per page values here
                ],
                // set the initial value
                "iDisplayLength": 10,
                "sPaginationType": "bootstrap",
                "oLanguage": {
                    "sLengthMenu": "_MENU_ records",
                    "oPaginate": {
                        "sPrevious": "Prev",
                        "sNext": "Next"
                    }
                },
                "aoColumnDefs": [{
                        'bSortable': false,
                        'aTargets': [0]
                    }
                ]
            });        
         

});
</script>

