<div class="col-md-8 ">
                    <!-- BEGIN EXAMPLE TABLE PORTLET-->
                    <div class="portlet box red">
                        <div class="portlet-title">
                            <div class="caption">
                                <i class="fa fa-user"></i>Tambah Group Service                            </div>
                            <div class="tools">
                                <a href="javascript:;" class="collapse"></a>                                
                            </div>
                            <div class="actions">
                                                                <a href="#" class=""><i class=""></i> </a>
                                                            </div>
                            
                        </div>
                        <div class="portlet-body form">
                        <form id="add_groupservice">
    
        
    <div class="form-body">
    <div class="form-group">
                    <label for="add_group_service">Nama Group Service</label>
						<input type="hidden" placeholder="" id="group_servid" name="group_servid" class="form-control" value="<?php echo $_GET['id']; ?>">
						<input type="text" placeholder="" id="group_servname" name="group_servname" class="form-control" value="<?php echo $_GET['name']; ?>"><span class="help-block">
                        
                    </span>
                    </div><button type="submit" class="btn green">Simpan</button>
                    <a href="/prabagen/index/page/85xx" class="activate btn red">Batal</a>
                </div>    
    


</form>

<script>

jQuery(document).ready(function() {

    var Functadd_groupservice = function () {

    


    var handleAdd = function() {
      
            var formadd_groupservice = $('#add_groupservice');
            var error1 = $('.alert-danger', formadd_groupservice);
            var success1 = $('.alert-success', formadd_groupservice);

            formadd_groupservice.validate({
                errorElement: 'span', //default input error message container
                errorClass: 'help-block', // default input error message class
                focusInvalid: false, // do not focus the last invalid input
                ignore: "",
                rules: {
                    
                    add_group_service: {
                        
                    },                },

                invalidHandler: function (event, validator) { //display error alert on form submit              
                    success1.hide();
                    error1.show();
                    App.scrollTo(error1, -200);
                },

                highlight: function (element) { // hightlight error inputs
                    $(element)
                        .closest('.form-group').addClass('has-error'); // set error class to the control group
                },

                unhighlight: function (element) { // revert the change done by hightlight
                    $(element)
                        .closest('.form-group').removeClass('has-error'); // set error class to the control group
                },

                success: function (label) {
                    label
                        .closest('.form-group').removeClass('has-error'); // set success class to the control group
                },

                submitHandler: function (form) {
                    success1.show();
                    error1.hide();
                       submitForm();
                    return false;
                }
            });
    }
    
    var submitForm = function(){
        
        var data = $('form#add_groupservice');
        
        //alert("s");
        $.ajax({
            url:"/prabajax/postform/xxxxid/138",
            content:'json',
            type:'post',
            data:data.serialize(),
            beforeSend:function(){
                $('#alertinfo').addClass('hidden');
                $('#processbar').removeClass('hidden');
                $('html,body').animate({
                    scrollTop: $('h3.page-title').offset().top
                }, 800);
                $('#alertinfo').removeClass('alert-success');
                $('#alertinfo').removeClass('alert-warning');
                $('#alertinfo').removeClass('alert-danger');
                $('#alertinfo').removeClass('alert-info');
            },
            complete:function(result){
                    //alert("done");
                $('#processbar').addClass('hidden');
            },
            success: function(data){
                //alert("ok");
                console.log(data);
                if(data.transaction!=undefined){
                    if(data.transaction==true){
                    
                        $('#alertinfo').addClass('alert-success');
                        $('#alertmsg').html("<strong>Success!</strong> ");
                        window.location.href ='/prabagen/index/page/88';
                    }else{
                        
                        $('#alertinfo').addClass('alert-warning');
                        $('#alertmsg').html("<strong>Failed!</strong> "+data.message);
                    }
                }else{
                        
                    $('#alertinfo').addClass('alert-info');
                    $('#alertmsg').html("<strong>Error!</strong> System is busy, please try again.");
                }
                $('#alertinfo').removeClass('hidden');
            },
            error:function(){
                //alert("not");
                $('#alertinfo').addClass('alert-info');
                $('#alertmsg').html("<strong>Error!</strong> System is busy, please try again.");
                $('#alertinfo').removeClass('hidden');
            }
        });
    }
    
    return {
        //main function to initiate the module
        init: function () {
            handleAdd();
        }

    };

}();
Functadd_groupservice.init();

});
</script>
    
                        </div>
                    </div>
                    <!-- END EXAMPLE TABLE PORTLET-->
</div>