<?php
	//$data =  $this->dataV[$this->datap['content_attrs']['api_id']]['data'];
	//Zend_Debug::dump($this->dataV[175]['data']);

	$datas= $this->dataV[175]['data']; 

?>
<div class="col-md-12 ">
	<!-- BEGIN EXAMPLE TABLE PORTLET-->
	<div class="portlet box red">
		<div class="portlet-title">
			<div class="caption">
				<i class="fa fa-user"></i>Approve Review
			</div>
			<div class="tools">
				<a href="#portlet-config" data-toggle="modal" class="config"></a>
				<a href="javascript:;" class="reload"></a>
			</div>
			<div class="actions">
				<a href="#" class=""><i class=""></i> </a>
			</div>
		</div>
		<div class="portlet-body">
			<table class="table table-striped table-bordered table-hover" id="table_portlet_144">
				<thead>
					<tr>
						<th> # </th>
						<th> Service Name </th>
						<th> Review By </th>
						<th> Review Date </th>
						<th> Unit Support </th>
						<th> Action </th>
					</tr>
				</thead>
				<tbody>
					<?php
					$i=1;
					foreach ($datas as $row) {
					?>
						<tr class="gradeX">
							<td><?php echo $i ;?></td>
							<td><a href="/prabagen/index/page/112?idv=<?php echo $row['id_refnumber']; ?>"><?php echo $row['nama_refnumber']; ?></a></td>
							<td><?php echo $row['review_by']; ?></td>
							<td><?php echo $row['review_date']; ?></td>
							<td><?php echo $row['nama_subkategori']; ?></td>
							<td>
								<a href="/prabagen/index/page/116/xin/id_refnumber:<?php echo $row['id_refnumber'];?>~app_req_id:<?php echo $row['req_id'];?>/APP/<?php echo $row['req_id'];?>" class="activate btn green" style="padding:5px 10px;font-size:10px">
									<span>View</span>
								</a>
							
								
							</td>
						</tr>
					<?php $i++; } ?>
				</tbody>
			</table>
		</div>
	</div>
	<!-- END EXAMPLE TABLE PORTLET-->
</div>

<div class="modal fade in" id="Reject" tabindex="-1" role="basic" aria-hidden="true">
	<div class="modal-dialog modal-full">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
				<h4 class="modal-title" id="mod_title">Modal Title</h4>
			</div>
			<div class="modal-body">
				<form class="form-horizontal" role="form" id="rejectForm">
					<div class="form-body">
						<div class="form-group">
							<label class="col-md-3 control-label">Kategori</label>
							<div class="col-md-9">
								<input type="hidden" class="form-control" id="action" name="action" value="reject">
								<input type="hidden" class="form-control" id="idreq" name="idreq">
								<input type="hidden" readonly class="form-control" id="kategori" name="kategori">
								<input type="text" disabled class="form-control" id="nama_kategori" name="nama_kategori">
								<span class="help-block"></span>
							</div>
						</div>
						<div class="form-group">
							<label class="col-md-3 control-label">Sub Kategori</label>
							<div class="col-md-9">
								<input type="hidden" readonly class="form-control" id="subkategori" name="subkategori">
								<input type="text" disabled class="form-control" id="nama_subkategori" name="nama_subkategori">
								<span class="help-block"></span>
							</div>
						</div>
						<div class="form-group">
							<label class="col-md-3 control-label">Nama Service</label>
							<div class="col-md-9">
								<input type="text" disabled class="form-control" id="serv_name" name="serv_name">
								<span class="help-block"></span>
							</div>
						</div>
						<div class="form-group">
							<label class="col-md-3 control-label">Urutan Service</label>
							<div class="col-md-9">
								<input type="text" disabled class="form-control" id="urutan" name="urutan">
								<span class="help-block"></span>
							</div>
						</div>
						<div class="form-group">
							<label class="col-md-3 control-label">Alasan Reject</label>
							<div class="col-md-9">
								<textarea class="form-control" id="alasan" name="alasan" rows="4"></textarea>
								<span class="help-block"></span>
							</div>
						</div>
					</div>
				</form>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn default" data-dismiss="modal">Close</button>
				<button type="button" class="btn red" onclick="rejectService();return false;">Reject</button>
			</div>
		</div>
		<!-- /.modal-content -->
	</div>
	<!-- /.modal-dialog -->
</div>


<script>
    
jQuery(document).ready(function() {

});
</script>
<script language="javascript" type="text/javascript">
function selectRow(me){
var id = $(me).data('id');
var kategori = $(me).data('kategori_id');
var nama_kategori = $(me).data('nama_kategori');
var subkategori = $(me).data('subkategori_id');
var nama_subkategori = $(me).data('nama_subkategori');
var serv_name = $(me).data('serv_name');
var urutan = $(me).data('urutan');

$('#kategori').val(kategori);
$('#nama_kategori').val(nama_kategori);
$('#subkategori').val(subkategori);
$('#nama_subkategori').val(nama_subkategori);
$('#serv_name').val(serv_name);
$('#urutan').val(urutan);
$('#idreq').val(id);

$('#mod_title').html('Reject Service :: '+serv_name);
}


	function approveitem(vara,varb,varc,vard) {
	  alert(vard);
	if (confirm("Yakin Untuk Approve Review?")) {
	
    $.ajax({
			url: "/prabajax/callapi/api/170/ID/"+vara+"/ID2/"+varb+"/ID3/"+varc+"/ID4/"+vard,
			dataType: "html",	
			beforeSend: function() {
			   
			},
			success: function(data) {
					//alert("sukses");
					 //  $('.categoryselect').html(data);
				 location.reload();
			},
		  
			timeout:9000,
			error:function(){
					
			},
		});
    
    }
    return false;
}
</script>
