<?php


$authAdapter = Zend_Auth::getInstance ();
$identity = $authAdapter->getIdentity ();
//Zend_Debug::dump($identity);


$list_category = $this->dataV[111]['data'];
$detail_service2 = $this->dataVV[128]['data'];
$refnumber = $this->dataVV[129]['data'];
$unit_support = $this->dataVV[131]['data'];
$admin_support = $this->dataVV[132]['data'];
$file_pendukung = $this->dataVV[133]['data'];

//Zend_Debug::dump($detail_service2);

$mdl_general = new Itsd_Model_General();

$sub_kategori = $mdl_general->sub_kategori_by_subkatid($refnumber['subkategori_id']);
//Zend_Debug::dump($sub_kategori['']);

$kategori = $mdl_general->kategori_by_katid($refnumber['kategori_id']);
//Zend_Debug::dump($kategori);

$datapecah=explode("-",$detail_service2['waktu_layanan']);
?>
<div class="col-md-12">
<!-- MESSAGE CONTENT-->
			<div class="alert alert-success alert-dismissable hidden" id="messagecontent">
				<button type="button" class="close" data-dismiss="alert" aria-hidden="true"></button>
				<span id="alertmsg"></span>
			</div>
			<!-- END MESSAGE CONTENT-->
			<!-- PROGRESS BAR -->
			<div style="margin:0px auto;text-align:center" id="progressbar" class="hidden">
				<div class="progress progress-striped active" style="margin:0px auto;text-align:center">
					<div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
						<span class="sr-only">
							On Process
						</span>
					</div>
				</div>
				<span style="margin:0px auto;">Please wait...processing request</span>
			</div>
			<!-- END PROGRESS BAR -->
</div>

<div class="col-md-12">
	<div class="portlet box blue ">
		<div class="portlet-title">
			<div class="caption">
				<i class="fa fa-reorder"></i><?php echo $refnumber['nama_refnumber']; ?>
			</div>
			<div class="tools">
				<a href="javascript:;" class="collapse"></a>
				<!--a href="#portlet-config" data-toggle="modal" class="config"></a>
				<a href="javascript:;" class="reload"></a>
				<a href="javascript:;" class="remove"></a-->
			</div>
		</div>
		<div class="portlet-body form">
			<!-- BEGIN FORM-->
			<form class="form-horizontal form-bordered form-row-stripped" id="entry" method="post">			
				<input type="hidden" value="124" name="xxxxid">
				<div class="form-body">
				<input type="hidden" value="<?php echo $refnumber['subkategori_id']; ?>" name="subcategory">
					<div class="form-group">
						<label class="control-label col-md-2">Category</label>
						<div class="col-md-4">
							<input type="hidden" class="form-control" id="id_refnumber" name="id_refnumber" value="<?php echo $detail_service2['refnumber_id']; ?>" >
							<select class="form-control" name="category" id="category" <?php echo (in_array('4', $identity->mainrole)||in_array('6', $identity->mainrole) ? 'disabled' : ''); ?>>
								<option value="">Pilih Kategori ...</option>
								<?php							
								foreach($list_category as $k=>$v){
									$selected='';
									if($kategori['id_kategori']==$v['0']){
										$selected = 'selected';
									}
									echo '<option '.$selected.' value="'.$v['0'].'">'.$v['1'].'</option>';
								}
								?>
							</select>
						</div>
					</div>
					<div class="form-group">
						<label class="control-label col-md-2">Type Service</label>
						<div class="col-md-2">
							<select class="form-control" name="type_service" id="type_service" <?php echo (in_array('4', $identity->mainrole)||in_array('6', $identity->mainrole) ? 'disabled' : ''); ?>>
								<option value="">Pilih Type Service ...</option>
								<option value="Core" <?php echo ($detail_service2['service_type']=='Core' ? 'selected' : '') ?>>Core</option>
								<option value="Non-core" <?php echo ($detail_service2['service_type']=='Non-core' ? 'selected' : '') ?>>Non-Core</option>
								<option value="Other" <?php echo ($detail_service2['service_type']=='Other' ? 'selected' : '') ?>>Other</option>
							</select>
						</div>
					</div>
					<div class="form-group">
						<label class="control-label col-md-2">Service Name</label>
						<div class="col-md-4">
							<input type="text" class="form-control" readonly name="nama_refnumber" id="nama_refnumber" value="<?php echo $refnumber['nama_refnumber']; ?>" <?php echo (in_array('4', $identity->mainrole)||in_array('6', $identity->mainrole) ? 'disabled' : ''); ?>></input>
						</div>
					</div>
					<div class="form-group">
						<label class="control-label col-md-2">Deskripsi Layanan</label>
						<div class="col-md-5">
							<textarea class="form-control" name="deskripsi_layanan" id="deskripsi_layanan" rows=5 <?php echo (in_array('4', $identity->mainrole)||in_array('6', $identity->mainrole) ? 'disabled' : ''); ?>><?php echo $detail_service2['deskripsi_layanan']; ?></textarea>
						</div>
					</div>
					<div class="form-group">
						<label class="control-label col-md-2">Status Layanan</label>
						<div class="col-md-2">
							<select class="form-control" name="status_layanan" id="status_layanan" <?php echo (in_array('4', $identity->mainrole)||in_array('6', $identity->mainrole) ? 'disabled' : ''); ?>>
								<option value="">Pilih Status Layanan ...</option>
								<option value="Operated" <?php echo ($detail_service2['status_layanan']=='Operated' ? 'selected' : '') ?>>Operated</option>
								<option value="Retired" <?php echo ($detail_service2['status_layanan']=='Retired' ? 'selected' : '') ?>>Retired</option>
								<option value="Development" <?php echo ($detail_service2['status_layanan']=='Development' ? 'selected' : '') ?>>Development</option>
							</select>
						</div>
					</div>
					<div class="form-group">
						<label class="control-label col-md-2">Address Ukur / URL</label>
						<div class="col-md-4">
							<input type="text" class="form-control" name="akses_layanan" id="akses_layanan" value="<?php echo $detail_service2['akses_layanan']; ?>" <?php echo (in_array('4', $identity->mainrole)||in_array('6', $identity->mainrole) ? 'disabled' : ''); ?>></input>
							<?php echo '<a href="http://'.$detail_service2['akses_layanan'].'" target="_blank">'.$detail_service2['akses_layanan'].'</a>'; ?>
						</div>
					</div>

					<div class="form-group">
						<label class="control-label col-md-2">IP Address</label>
						<div class="col-md-4">
							<input type="text" class="form-control" name="ip_address" id="ip_address" value="<?php echo $detail_service2['ip_address']; ?>" <?php echo (in_array('4', $identity->mainrole)||in_array('6', $identity->mainrole) ? 'disabled' : ''); ?>></input>
						</div>
					</div>

					<div class="form-group">
						<label class="control-label col-md-2">Tipe Akses Aplikasi</label>
						<div class="col-md-4">
							<input type="text" class="form-control" name="tipe_akses" id="tipe_akses" value="<?php echo $detail_service2['tipe_service']; ?>" <?php echo (in_array('4', $identity->mainrole)||in_array('6', $identity->mainrole) ? 'disabled' : ''); ?>></input>
						</div>
					</div>
					<div class="form-group">
						<label class="control-label col-md-2">Produk Portfolio</label>
						<div class="col-md-6">
						<?php
						$datapf=explode(",",$detail_service2['produk_portfolio']);
						?>
							<div class="checkbox-list">
							<input class="produk" type="checkbox" id="produk1" name="produk1" value="POTS" <?php echo (($datapf[0]=='POTS'||$datapf[1]=='POTS'||$datapf[2]=='POTS'||$datapf[3]=='POTS'||$datapf[4]=='POTS') ? 'checked' : '') ?> <?php echo (in_array('4', $identity->mainrole)||in_array('6', $identity->mainrole) ? 'disabled' : ''); ?>> POTS &nbsp;&nbsp;&nbsp;
							<input class="produk" type="checkbox" id="produk2" name="produk2" <?php echo (($datapf[0]=='SPEEDY'||$datapf[1]=='SPEEDY'||$datapf[2]=='SPEEDY'||$datapf[3]=='SPEEDY'||$datapf[4]=='SPEEDY') ? 'checked' : '') ?> value="SPEEDY" <?php echo (in_array('4', $identity->mainrole)||in_array('6', $identity->mainrole) ? 'disabled' : ''); ?>> SPEEDY &nbsp;&nbsp;&nbsp;
							<input class="produk" type="checkbox" id="produk3" name="produk3" value="NETWORK SERVICE" <?php echo (($datapf[0]=='NETWORK SERVICE'||$datapf[1]=='NETWORK SERVICE'||$datapf[2]=='NETWORK SERVICE'||$datapf[3]=='NETWORK SERVICE'||$datapf[4]=='NETWORK SERVICE') ? 'checked' : '') ?> <?php echo (in_array('4', $identity->mainrole)||in_array('6', $identity->mainrole) ? 'disabled' : ''); ?>> NETWORK SERVICE &nbsp;&nbsp;&nbsp;
							<input class="produk" type="checkbox" id="produk4" name="produk4" value="FLEXI" <?php echo (($datapf[0]=='FLEXI'||$datapf[1]=='FLEXI'||$datapf[2]=='FLEXI'||$datapf[3]=='FLEXI'||$datapf[4]=='FLEXI') ? 'checked' : '') ?> <?php echo (in_array('4', $identity->mainrole)||in_array('6', $identity->mainrole) ? 'disabled' : ''); ?>> FLEXI &nbsp;&nbsp;&nbsp;
							<input class="produk" type="checkbox" id="produk5" name="produk5" value="MULTIMEDIA" <?php echo (($datapf[0]=='MULTIMEDIA'||$datapf[1]=='MULTIMEDIA'||$datapf[2]=='MULTIMEDIA'||$datapf[3]=='MULTIMEDIA'||$datapf[4]=='MULTIMEDIA') ? 'checked' : '') ?> <?php echo (in_array('4', $identity->mainrole)||in_array('6', $identity->mainrole) ? 'disabled' : ''); ?>> MULTIMEDIA &nbsp;&nbsp;&nbsp;
							</div>
						</div>
					</div>
					<div class="form-group">
						<label class="control-label col-md-2">Owner Aplikasi</label>
						<div class="col-md-5">
							<textarea class="form-control" name="owner_aplikasi" id="owner_aplikasi" rows=4 <?php echo (in_array('4', $identity->mainrole)||in_array('6', $identity->mainrole) ? 'disabled' : ''); ?>><?php echo $detail_service2['ao']; ?></textarea>
						</div>
					</div>
					<div class="form-group">
						<label class="control-label col-md-2">Bussines Process Owner</label>
						<div class="col-md-5">
							<textarea class="form-control" name="busspro_owner" id="busspro_owner" rows=4 <?php echo (in_array('4', $identity->mainrole)||in_array('6', $identity->mainrole) ? 'disabled' : ''); ?>><?php echo $detail_service2['bpo']; ?></textarea>
						</div>
					</div>
					<div class="form-group">
						<label class="control-label col-md-2">Unit Support</label>
						<div class="col-md-2">
							<select class="form-control" name="owner_ola" id="owner_ola" <?php echo (in_array('4', $identity->mainrole)||in_array('6', $identity->mainrole) ? 'disabled' : ''); ?> disabled>							
								<option value="">Pilih Unit Support ...</option>
								<?php							
								foreach($unit_support as $k=>$v){
									$selected='';
									if($detail_service2['unit_support']==$v['unit_support']){
										$selected='selected';
									}
									echo '<option '.$selected.' value="'.$v['id'].'/'.$v['unit_support'].'">'.$v['unit_support'].'</option>';
								}
								?>
							</select>
							<select class="form-control" name="owner_olah" id="owner_olah" <?php echo (in_array('4', $identity->mainrole)||in_array('6', $identity->mainrole) ? 'disabled' : ''); ?> style="visibility:hidden;">					
								<option value="">Pilih Unit Support ...</option>
								<?php							
								foreach($unit_support as $k=>$v){
									$selected='';
									if($detail_service2['unit_support']==$v['unit_support']){
										$selected='selected';
									}
									echo '<option '.$selected.' value="'.$v['id'].'/'.$v['unit_support'].'">'.$v['unit_support'].'</option>';
								}
								?>
							</select>
						</div>
					</div>
					<div class="form-group">
						<label class="control-label col-md-2">Admin Unit Service  Katalog</label>
						<div class="col-md-5">
							<select class="form-control" name="admin_unit" id="admin_unit" <?php echo (in_array('4', $identity->mainrole)||in_array('6', $identity->mainrole) ? 'disabled' : ''); ?>>
								<option value="">Pilih Admin Unit Service Katalog ...</option>
								<?php
								foreach($admin_support as $k=>$v){
									$selected='';
									if($detail_service2['admin_support']==$v['NIK'].' / '.$v['name'].' / '.$v['email'].' / '.$v['telepon']){
										$selected='selected';
									}
									echo '<option '.$selected.' value="'.$v['NIK'].' / '.$v['name'].' / '.$v['email'].' / '.$v['telepon'].'">'.$v['NIK'].' / '.$v['name'].' / '.$v['email'].' / '.$v['telepon'].'</option>';
								}
								?>
							</select>
						</div>
					</div>
					<div class="form-group">
						<label class="control-label col-md-2">Group Solver</label>
						<div class="col-md-5">
							<textarea class="form-control" name="solver" id="solver" rows=4 <?php echo (in_array('4', $identity->mainrole)||in_array('6', $identity->mainrole) ? 'disabled' : ''); ?>><?php echo $detail_service2['solver']; ?></textarea>
						</div>
					</div>
					<div class="form-group">
						<label class="control-label col-md-2">PIC/Komandan</label>
						<div class="col-md-4">
							<input class="form-control" name="pic" id="pic" value="<?php echo $detail_service2['mgr_pic']; ?>" <?php echo (in_array('4', $identity->mainrole)||in_array('6', $identity->mainrole) ? 'disabled' : ''); ?>></input>
						</div>
					</div>
					<div class="form-group">
						<label class="control-label col-md-2">Waktu Layanan</label>
						<div class="col-md-2">
							<select class="form-control" name="waktu_from" id="waktu_from" <?php echo (in_array('4', $identity->mainrole)||in_array('6', $identity->mainrole) ? 'disabled' : ''); ?>>
							<option value="">From ...</option>
							<?php
							for($jam=0; $jam<=24; $jam ++){
								if($jam<10){
									$jam='0'.$jam;
								}
								
								$selected='';
								if($datapecah[0]=="".$jam.".00"){
									$selected='selected';
								}
								
								echo '<option '.$selected.' value="'.$jam.'.00">'.$jam.':00</option>';							
							}
							?>
							</select>
							-
							<select class="form-control" name="waktu_to" id="waktu_to" <?php echo (in_array('4', $identity->mainrole)||in_array('6', $identity->mainrole) ? 'disabled' : ''); ?>>
							<option value="">To ...</option>
							<?php
							for($jam=0; $jam<=24; $jam ++){
								if($jam<10){
									$jam='0'.$jam;
								}
								
								$selected='';
								if($datapecah[1]==$jam.'.00'){
									$selected='selected';
								}
								echo '<option '.$selected.' value="'.$jam.'.00">'.$jam.':00</option>';							
							}
							?>
							</select>
						</div>
					</div>
					<div class="form-group">
						<label class="control-label col-md-2">User Pengguna</label>
						<div class="col-md-5">
							<textarea class="form-control" name="user_sla" id="user_sla"  rows=4 <?php echo (in_array('4', $identity->mainrole)||in_array('6', $identity->mainrole) ? 'disabled' : ''); ?>><?php echo $detail_service2['user_sla']; ?></textarea>
						</div>
					</div>
					<div class="form-group">
						<label class="control-label col-md-2">Jenis Perjanjian</label>
						<div class="col-md-2">
							<select class="form-control" name="jenis_perjanjian" id="jenis_perjanjian" onchange="enableField(this);" <?php echo (in_array('4', $identity->mainrole)||in_array('6', $identity->mainrole) ? 'disabled' : ''); ?>>
								<option value="">Pilih Jenis Perjanjian ...</option>
								<option value="SLA" <?php echo ($detail_service2['SLA']=='SLA' ? 'selected' : '') ?>>SLA</option>
								<option value="Non SLA" <?php echo ($detail_service2['SLA']=='Non SLA' ? 'selected' : '') ?>>Non SLA</option>
							</select>
						</div>
					</div>
					<div class="form-group">
						<label class="control-label col-md-2">Tahun SLA</label>
						<div class="col-md-2">
							<select class="form-control" name="tahun_sla" id="tahun_sla" <?php echo (in_array('4', $identity->mainrole)||in_array('6', $identity->mainrole) ? 'disabled' : ''); ?>>
								<option value="">Pilih Tahun SLA ...</option>
								<option value="<?php echo $detail_service2['tahun_sla'];?>" selected><?php echo $detail_service2['tahun_sla'];?></option>
								<?php 
								$kk= date("Y");
								$kkk=$kk+4;
								for($i=$kk; $i<=$kkk; $i++){
									$selected='';
									if($i==$detail_service2['tahun_sla']){
										$selected='selected';
									}
								
									 echo '<option '.$selected.' value="'.$i.'">'.$i.'</option>';
								 }
								 ?>
							</select>
						</div>
					</div>
					<div class="form-group">
						<label class="control-label col-md-2">Updated By</label>
						<div class="col-md-4">
							<input type="text" class="form-control" id="upd_by" name="upd_by" value="<?php echo $detail_service2['update_by']; ?>" readonly <?php echo (in_array('4', $identity->mainrole)||in_array('6', $identity->mainrole) ? 'disabled' : ''); ?>>
						</div>
					</div>
					<div class="form-group">
						<label class="control-label col-md-2">Last Update</label>
						<div class="col-md-3">
							<?php if ($detail_service2['last_update']){echo $detail_service2['last_update'];}
						      else { echo date("j-M-Y"); } ?>
							<input type="hidden" id="datepicker" name="datepicker" size="10" value="<?php echo date("j-M-Y"); ?>" <?php echo (in_array('4', $identity->mainrole)||in_array('6', $identity->mainrole) ? 'disabled' : ''); ?>>
						</div>
					</div>
					<div class="form-group">
						<label class="control-label col-md-2">Mulai Operasi</label>
						<div class="col-md-3">
							<input type="text" class="form-control" id="datepickers" name="datepickers" size="10" value="<?php echo $detail_service2['operation_date'];?>" <?php echo (in_array('4', $identity->mainrole)||in_array('6', $identity->mainrole) ? 'disabled' : ''); ?>>
						</div>
					</div>
					<div class="form-group">
						<label class="control-label col-md-2">Mitra / No. tlp</label>
						<div class="col-md-3">
							<input type="text" class="form-control" id="mitra" name="mitra" size="10" placeholder="Mitra" value="<?php echo $detail_service2['mitra'];?>" <?php echo (in_array('4', $identity->mainrole)||in_array('6', $identity->mainrole) ? 'disabled' : ''); ?>>
							/
							<input type="text" class="form-control" id="tlp_mitra" name="tlp_mitra" size="10" placeholder="No. Tlp Mitra" value="<?php echo $detail_service2['tlp_mitra'];?>" <?php echo (in_array('4', $identity->mainrole)||in_array('6', $identity->mainrole) ? 'disabled' : ''); ?>>
						</div>
					</div>
					<div class="form-group">
						<label class="control-label col-md-2">Keterangan</label>
						<div class="col-md-5">
							<textarea class="form-control" id="keterangan" name="keterangan" rows=4 <?php echo (in_array('4', $identity->mainrole)||in_array('6', $identity->mainrole) ? 'disabled' : ''); ?>><?php echo $detail_service2['ket']; ?></textarea>
						</div>
					</div>
					<div class="form-group">
						<label class="control-label col-md-2">File / Dokumen Pendukung</label>
						<div class="col-md-3">
							
							<table>
							<?php
							foreach($file_pendukung as $k=>$v){
								echo '<tr>
										<td><a target="_blank" href="/upload/'.$v['nama_file'].'">'.$v['nama_file'].'</a></td>
										<td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
										<td><a href="#myModal3" data-toggle="modal" data-refid="'.$detail_service2['refnumber_id'].'" data-filenm="'.$v['nama_file'].'" onclick="selectFile(this);return false;" ><i>hapus</i></a></td>
									</tr>';
							}
							?>
							</table>							
							<input type="file" name="file"  id="file"  <?php echo (in_array('4', $identity->mainrole)||in_array('6', $identity->mainrole) ? 'disabled' : ''); ?>/>
						</div>
					</div>
					
					<div class="form-group">
						<label class="control-label col-md-2">File View Application</label>
						<div class="col-md-3">
							
							<table>
							<?php/*
							foreach($file_pendukung as $k=>$v){
								echo '<tr>
										<td><a target="_blank" href="/upload/'.$v['nama_file'].'">'.$v['nama_file'].'</a></td>
										<td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
										<td><a href="#myModal3" data-toggle="modal" data-refid="'.$detail_service2['refnumber_id'].'" data-filenm="'.$v['nama_file'].'" onclick="selectFile(this);return false;" ><i>hapus</i></a></td>
									</tr>';
							}*/
							?>
							</table>							
							<input type="file" name="file2"  id="file2" accept="image/gif, image/jpeg, image/png" <?php echo (in_array('4', $identity->mainrole)||in_array('6', $identity->mainrole) ? 'disabled' : ''); ?>>
							<span class="help-block">(*.png, *gif, *.jpg)</span>
						</div>
					</div>
					
					<div class="form-group">
						<div class="radio-list">
						<label class="control-label col-md-2">Action</label>
						<div class="col-md-3">
							<?php
							if(in_array('138', $identity->mainrole)||in_array('2', $identity->mainrole)||in_array('3', $identity->mainrole)){
							?>
								<label>
								<input type="radio" name="g1" value="request" id="g1"> Request</label>
								<label>
								<input type="radio" name="g1" value="review" id="g2" checked> Review</label>
								<?php 
									if(in_array('138', $identity->mainrole)){
								?>
								<label>
								<input type="radio" name="g1" value="SNWF" id="g3"> Submit No WF</label>
								<?php } ?>
							<?php } ?>
						</div>
						</div>
					</div>
				</div>
				<div class="form-actions fluid">
					<div class="row">
						<div class="col-md-12">
							<div class="col-md-offset-3 col-md-7">
								<?php
								if(in_array('138', $identity->mainrole)||in_array('2', $identity->mainrole)||in_array('3', $identity->mainrole)){
									echo '<button type="submit" class="btn green" id="g11" value="request" disabled="disabled"><i class="fa fa-check"></i> Request</button>&nbsp&nbsp';
									echo '<button type="submit" class="btn blue" id="g22" value="review"><i class="fa fa-check"></i> Review</button>&nbsp&nbsp';
									if(in_array('138', $identity->mainrole)){
										echo '<button type="submit" class="btn red" id="g33" value="submit" disabled="disabled"><i class="fa fa-check"></i> Submit No WF</button>';
									}
								}
								?>
							</div>
							<div class="col-md-1">
								<?php
								if(in_array('138', $identity->mainrole)||in_array('4', $identity->mainrole)||in_array('6', $identity->mainrole)){
								//	echo '<button type="button" class="btn blue" onclick="reviewService();"><i class="fa fa-check"></i> Review</button>';
								}
								
								?>
							</div>
						</div>
					</div>
				</div>
			</form>
			<!-- END FORM-->
		</div>
	</div>
</div>
<style>
.modal-dialog{
	width:100%;
	margin:0px auto;
}
</style>
<div class="modal fade in" id="myModal3" tabindex="-1" role="basic" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
				<h4 class="modal-title">Perhatian!</h4>
			</div>
			<div class="modal-body" id="isi_content">
				
			</div>
			<div class="modal-footer" id="btn_confirm_hapus">
				<button type="button" class="btn default" data-dismiss="modal">Batal</button>
				<button type="button" class="btn blue">Hapus</button>
			</div>
		</div>
		<!-- /.modal-content -->
	</div>
	<!-- /.modal-dialog -->
</div>

<script>
	 $("#g1").click(function(){
		$("#g33").attr("disabled", "disabled");
        $("#g22").attr("disabled", "disabled");
        $("#g11").removeAttr("disabled");
		$("#owner_ola").removeAttr("disabled");
    });
    $("#g2").click(function(){
		//location.reload();
		$("#g33").attr("disabled", "disabled");
        $("#g22").removeAttr("disabled");
        $("#g11").attr("disabled", "disabled");
		$("#owner_ola").attr("disabled", "disabled");
    });
	$("#g3").click(function(){
		$("#g33").removeAttr("disabled");
        $("#g22").attr("disabled", "disabled");
        $("#g11").attr("disabled", "disabled");
		$("#owner_ola").removeAttr("disabled");
    });
</script>

<script>
var files = {};
var el = jQuery(".page-content").first();
var file = jQuery("#file");
var file2 = jQuery("#file2");

function reviewService(){

var reviewer = '<?php echo $identity->fullname.' / '.$identity->uname; ?>';
var id_refnumber = '<?php echo $refnumber['id_refnumber']; ?>';
var kategori = 
	

$.ajax({
	url:"/prabajax/postform/xxxxid/165",
	content:'json',
	type:'post',
	data:'idref='+id_refnumber+'&reviewer='+reviewer,
	beforeSend:function(){
	   
				$('body,html').animate({
					scrollTop: el.offset().top
				}, 500);
				//remove style
				$('#messagecontent').removeClass('alert-success');
				$('#messagecontent').removeClass('alert-warning');
				$('#messagecontent').removeClass('alert-danger');
				$('#messagecontent').removeClass('alert-info');
	},
	complete:function(result){
		$('#progressbar').addClass('hidden');
	},
	success: function(data){
	console.log(data);
	console.log(data.transaction);
	console.log(data.message);
	if(data.transaction==true){
		//alert("file sudah di upload");
		
		$('#messagecontent').addClass('alert-success');
		$('#messagecontent').html(data.message);
	}else{
		
		$('#messagecontent').addClass('alert-danger');
		$('#messagecontent').html(data.message);
	}
	$('#messagecontent').removeClass('hidden');
	setTimeout(function(){$('#messagecontent').addClass('hidden');},8000);
		//console.log(data);
	},
	error:function(){
	   $('#progressbar').addClass('hidden');
		$('#messagecontent').addClass('alert-info');
		$('#messagecontent').html("Bussy!");
		$('#messagecontent').removeClass('hidden');
		setTimeout(function(){$('#messagecontent').addClass('hidden');},4000);
		return false
	}
});

}

function selectFile(me){

var refid = $(me).data('refid');
var filenm = $(me).data('filenm');

$('#isi_content').html('Yakin akan menghapus file : <b>'+filenm+'</b>');
$('#btn_confirm_hapus').html('<button type="button" class="btn default" data-dismiss="modal">Batal</button><button type="button" class="btn red" data-dismiss="modal" data-refid="'+refid+'" data-filenm="'+filenm+'" onclick="hapusFile(this);return false;">Hapus</button>');
}

function hapusFile(me){
var refid = $(me).data('refid');
var filenm = $(me).data('filenm');
//alert('refid:'+refid+', filenm:'+filenm);

$.ajax({
            url:"/prabajax/postform/xxxxid/136",
            content:'json',
            type:'post',
            data:'refid='+refid+'&filenm='+filenm,
            beforeSend:function(){
               
						$('body,html').animate({
							scrollTop: el.offset().top
						}, 500);
						//remove style
						$('#messagecontent').removeClass('alert-success');
						$('#messagecontent').removeClass('alert-warning');
						$('#messagecontent').removeClass('alert-danger');
						$('#messagecontent').removeClass('alert-info');
            },
            complete:function(result){
                $('#progressbar').addClass('hidden');
            },
            success: function(data){
			console.log(data);
			if(data.transaction==true){
				//alert("file sudah di upload");
				
				$('#messagecontent').addClass('alert-success');
				$('#alertmsg').html("<strong>Success!</strong> uploaded");
			}else{
				
				$('#messagecontent').addClass('alert-danger');
				$('#alertmsg').html("<strong>Failed!</strong> uploaded");
			}
			$('#messagecontent').removeClass('hidden');
			setTimeout(function(){$('#messagecontent').addClass('hidden');},8000);
                //console.log(data);
            },
            error:function(){
               $('#progressbar').addClass('hidden');
				$('#messagecontent').addClass('alert-info');
				$('#messagecontent').html("Failed to upload files!");
				$('#messagecontent').removeClass('hidden');
				setTimeout(function(){$('#messagecontent').addClass('hidden');},4000);
				return false
            }
        });

}


function beforesendUpload(){
 //return $('form').validate();

//hide message and progress
$('#messagecontent').addClass('hidden');
//show progress
$('#progressbar').removeClass('hidden');
//scroll to top
$('body,html').animate({
	scrollTop: el.offset().top
}, 500);
//remove style
$('#messagecontent').removeClass('alert-success');
$('#messagecontent').removeClass('alert-warning');
$('#messagecontent').removeClass('alert-danger');
$('#messagecontent').removeClass('alert-info');



if (window.File && window.FileReader && window.FileList && window.Blob){
}else{
	//Error for older unsupported browsers that doesn't support HTML5 File API
	$('#progressbar').addClass('hidden');
	$('#messagecontent').addClass('alert-info');
	$('#messagecontent').html("Please upgrade your browser, because your current browser lacks some new features we need!");
	$('#messagecontent').removeClass('hidden');
	setTimeout(function(){$('#messagecontent').addClass('hidden');},4000);
	return false
}
}

function onprogressUpload(event, position, total, percentComplete){
//Progress bar
$('#processbar4').attr('aria-valuenow',percentComplete)
if(percentComplete>50){
	//$('#statustxt').css('color','#000'); //change status text to white after 50%
}
}

function oncompleteUpload(result){
	$('#progressbar').addClass('hidden');
}

function onerrorUpload(){
	$('#progressbar').addClass('hidden');
	$('#messagecontent').addClass('alert-info');
	$('#messagecontent').html("Failed to upload files!");
	$('#messagecontent').removeClass('hidden');
	setTimeout(function(){$('#messagecontent').addClass('hidden');},4000);
	return false
}

function aftersuccessUpload(data){
		console.log(data);
	
	if(data.transaction==true){
		//alert("file sudah di upload");
		
		$('#messagecontent').addClass('alert-success');
		$('#messagecontent').html("<strong>Success!</strong> uploaded");
	}else{
		
		$('#messagecontent').addClass('alert-danger');
		$('#messagecontent').html("<strong>Failed!</strong> uploaded");
	}
	$('#messagecontent').removeClass('hidden');
	setTimeout(function(){$('#messagecontent').addClass('hidden');},8000);
}

jQuery(document).ready(function() {
	
//HANDLE FILE UPLOAD CHANGE
$('#file').on('change', function prepareUpload(event){
	files['pendukung'] = event.target.files[0];
});
$('#file2').on('change', function prepareUpload(event){
	files['pendukung2'] = event.target.files[0];
});


//HANDLE FORM SUBMIT
$('#entry').submit(function(event) { 
	event.stopPropagation(); // Stop stuff happening
	event.preventDefault(); // Totally stop stuff happening

	// START A LOADING SPINNER HERE
	//App.blockUI(el);

	// Create a formdata object and add the files
	var data = new FormData();
	//console.log(files);
	//console.log(JSON.stringify($('#entry').serializeArray()));
	files['json'] = JSON.stringify($('#entry').serializeArray());;
	$.each(files, function(key, value){
		
		data.append(key, value);
	});
	console.log(data);
	//alert("s");
	
	$.ajax({
        url: '/prabajax/postform2',
        type: 'POST',
        data: data,
        cache: false,
        dataType: 'json',
        processData: false, // Don't process the files
        contentType: false, // Set content type to false as jQuery will tell the server its a query string request
        beforeSend:beforesendUpload,
		//uploadProgress:onprogressUpload,
        complete:oncompleteUpload,
        success: aftersuccessUpload,
        error: onerrorUpload
    });
    
	return false; 
}); 
       
        function movieFormatResult(movie) {
            var markup = "<table class='movie-result'><tr>";
           
            markup += "<td valign='top'><h5>" + movie.title + "</h5>";
            if (movie.critics_consensus !== undefined) {
                markup += "<div class='movie-synopsis'>" + movie.critics_consensus + "</div>";
            } else if (movie.runtime !== undefined) {
                markup += "<div class='movie-synopsis'>" + movie.runtime + "</div>";
            }
            markup += "</td></tr></table>"
            return markup;
        }

        function movieFormatSelection(movie) {
            return movie.id;
        }

	
$.fn.modal.defaults.spinner = $.fn.modalmanager.defaults.spinner = 
    '<div class="loading-spinner" style="width: 200px; margin-left: -100px;">' +
        '<div class="progress progress-striped active">' +
            '<div class="progress-bar" style="width: 100%;"></div>' +
        '</div>' +
    '</div>';
    
$('#cancelmember').on('click', function () {
	$('#form2 input').val('');
	$('#resultperson').html('');
});
    
$('#addmember').on('click', function () {
	var checked = $('.selectedmember:checked');
	//console.log(checked);
	
	var members = $('#multimember').children();
	if(checked.length>0){
		//for tags
		$.each(checked,function(idx,val){
			//console.log($(val).val());
			var value = $(val).val();
			
			var tagslist = $('#tagsmember').val().split(',');
			//console.log(tagslist);
			//console.log(jQuery.inArray(value,tagslist));
			if(jQuery.inArray(value,tagslist)!==0){
				$('#tagsmember').addTag(value);
				var tagslist = $('#tagsmember').val().split(',');
				//console.log(tagslist);
				$('#totalmember1').html(tagslist.length);
			}
		});
		
		//for multi select
		$.each(checked,function(idx,val){
			//console.log($(val).val());
			var value = $(val).val();
			var members = $('#multimember').children();
			var tagslist = [];
			$.each(members,function(idx,valx){
				tagslist[idx] = $(valx).html();
			});
			if(jQuery.inArray(value,tagslist)!==0){
				$('#multimember').append('<option>'+value+'</option>');
				var members = $('#multimember').children();
				$('#totalmember2').html(members.length);
			}
		});
	}
	$('#form2 input').val('');
	$('#resultperson').html('');
});

$('#tagsmember').tagsInput({
   //'autocomplete_url': url_to_autocomplete_api,
   /*'autocomplete': { option: value, option: value},*/
   //'height':'100px',
   //'width':'300px',
   'interactive':false,
   'defaultText':'add a member',
   'onAddTag':function(val){
		//console.log(val);
		//console.log($(this).val());
	},
   'onRemoveTag':function(val){
	   //console.log(val);
		var members = $('#multimember').children();
		$.each(members,function(idx,valx){
			if($(valx).html()==val){
				$(valx).remove();
			}
		});
		
		if($(this).val()==''){
			tagslist = [];
		}else{
			var tagslist = $(this).val().split(',');
		}
		$('#totalmember1').html(tagslist.length);
		$('#totalmember2').html(tagslist.length);
	},
   //'onChange' : function(){alert('changetag')},
   'removeWithBackspace' : true,
   'minChars' : 0,
   //'maxChars' : 0 //if not provided there is no limit,
   'placeholderColor' : '#666666'
});

$('#removemember').click(function(){
	var remove = $('#multimember').val();
	console.log(remove);
	var members = $('#multimember').children();
	$.each(members,function(idx,valx){
		var child = $(valx).html();
		console.log(child);
		console.log(child.toString());
		console.log(jQuery.inArray(child.toString(),remove));
		if(jQuery.inArray(child.toString(),remove)==0){
			$('#tagsmember').removeTag($(valx).html());
			$(valx).remove();
		}
	});
	var members = $('#multimember').children();
	$('#totalmember1').html(members.length);
	$('#totalmember2').html(members.length);
});

//$('#tag1').addTag('foo');
//$('#tag1').removeTag('beta');

//HANDLE FORM SUBMIT
$('#form2').submit(function(event) {
	event.stopPropagation(); // Stop stuff happening
	event.preventDefault(); // Totally stop stuff happening

	// START A LOADING SPINNER HERE
	//App.blockUI(el);
	
	datax = {
		NIK:$('#nik').val(),
		PEGAWAI:$('#name').val(),
		DIVISI:$('#unit').val()
	};
	//console.log(datax);
	$.ajax({
        url: '/piol/ajax/findpersonsubmit',
        type: 'POST',
        data: datax,
        //dataType: 'json',
        beforeSend:function(){
			//App.blockUI(el);
			$('#resultperson').html('<thead><tr><th>Please wait...</th></tr></thead>');
		},
        complete:function(){
			//App.unblockUI(el);
			//$('#resultperson').html('');
		},
        success: function(data){
			//console.log('success');
			//console.log(data);
			$('#resultperson').html(data);
		},
        error: function(data){
			console.log('error');
			console.log(data);
			$('#resultperson').html('<thead><tr><th>Failed to get data...</th></tr></thead>');
		}
    });
    return false; 
}); 



$("#KLASIFIKASI").change(function(){
	var value = $(this).val(); 
		
		category(value);
	
	});	
	
	
	function category(id) {
		
		
		$.ajax({
			url: "/piol/ajax/category/id/"+id,
			dataType: "html",	
			beforeSend: function() {
			   
			},
			success: function(data) {
					
					   $('.categoryselect').html(data);
					
			},
		  
			timeout:9000,
			error:function(){
				
			},
		});
	
	}


  

});
</script>
<script>
	$(function() {
		$( "#datepickers" ).datepicker();
	});
</script>

