<?php 

#Zend_Debug::dump($this->dataV[122][data]);

?>
    
<div class="col-md-12 ">
                    <!-- BEGIN EXAMPLE TABLE PORTLET-->
                    <div class="portlet box yellow">
                        <div class="portlet-title">
                            <div class="caption">
                                <i class="fa fa-user"></i>Detail Service <?php  echo $this->dataV[122][data][nama_refnumber];  ?></div>
                            
                            <div class="tools">
                                <a href="javascript:;" class="collapse"></a><a href="#portlet-config" data-toggle="modal" class="config"></a><a href="javascript:;" class="reload"></a><a href="javascript:;" ></a>                                
                            
                            </div>
                            <div class="actions">
                                                                <a href="#" class=""><i class=""></i> </a>
                                
                                                            </div>
                        </div>
                        <div class="portlet-body">

                            <table class="table table-striped   " id="table_portlet_119">
                            <thead>
                            <tr>                                
                                <td width="29%">Category</td>
                                <td width="1%"> : </td>
                                <td width="70%"><?php echo $this->dataV[122][data][nama_kategori]; ?>  </td>                                                        
                            </tr>
                            <tr>
                                <td>Type Service</td>
                                <td> : </td>
                                <td><?php echo $this->dataV[122][data][service_type]; ?>  </td>
                            </tr>

                            <tr>
                                <td>Service Name</td>
                                <td> : </td>
                                <td><?php echo $this->dataV[122][data][nama_refnumber]; ?>  </td>
                            </tr>

                            <tr>
                                <td>Deskripsi Layanan</td>
                                <td> : </td>
                                <td><?php echo $this->dataV[122][data][deskripsi_layanan]; ?>  </td>
                            </tr>
                            <tr>
                                <td>Status Layanan</td>
                                <td> : </td>
                                <td><?php echo $this->dataV[122][data][status_layanan]; ?>  </td>
                            </tr>
                            <tr>
                                <td>Adress Ukur/ URL</td>
                                <td> : </td>
                                <td><a href="<?php echo $this->dataV[122][data][akses_layanan];?> " target="_blank"><?php echo $this->dataV[122][data][akses_layanan]; ?> </a> </td>
                            </tr>
                            <tr>
                                <td>IP Address</td>
                                <td> : </td>
                                <td><?php echo $this->dataV[122][data][ip_address]; ?>  </td>
                            </tr>
                            <tr>
                                <td>Tipe Akses Aplikasi</td>
                                <td> : </td>
                                <td><?php echo $this->dataV[122][data][tipe_service]; ?>  </td>
                            </tr>
                            <tr>
                                <td>Produk Portfolio</td>
                                <td> : </td>
                                <td><?php echo $this->dataV[122][data][produk_portfolio]; ?>  </td>
                            </tr>
                            <tr>
                                <td>Owner Aplikasi</td>
                                <td> : </td>
                                <td><?php echo $this->dataV[122][data][ao]; ?>  </td>
                            </tr>
                            <tr>
                                <td>Bussines Process Owner</td>
                                <td> : </td>
                                <td><?php echo $this->dataV[122][data][bpo]; ?>  </td>
                            </tr>
                            <tr>
                                <td>Owner OLA</td>
                                <td> : </td>
                                <td><?php echo $this->dataV[122][data][unit_support]; ?>  </td>
                            </tr>
                            <tr>
                                <td>Admin Unit service Katalog</td>
                                <td> : </td>
                                <td><?php echo $this->dataV[122][data][admin_support]; ?>  </td>
                            </tr>
                            <tr>
                                <td>Group Solver</td>
                                <td> : </td>
                                <td><?php echo $this->dataV[122][data][solver]; ?>  </td>
                            </tr>
							<!--
                            <tr>
                                <td>PIC/Komandan</td>
                                <td> : </td>
                                <td><?php echo $this->dataV[122][data][mgr_pic]; ?>  </td>
                            </tr>
							-->

                            <tr>
                                <td>Waktu Layanan</td>
                                <td> : </td>
                                <td><?php echo $this->dataV[122][data][waktu_layanan]; ?>  </td>
                            </tr>
                            <tr>
                                <td>User Pengguna</td>
                                <td> : </td>
                                <td><?php echo $this->dataV[122][data][user_sla]; ?>  </td>
                            </tr>
                            <tr>
                                <td>Jenis Perjanjian</td>
                                <td> : </td>
                                <td><?php echo $this->dataV[122][data][sla]; ?>  </td>
                            </tr>
                            <tr>
                                <td>Tahun SLA</td>
                                <td> : </td>
                                <td><?php echo $this->dataV[122][data][tahun_sla]; ?>  </td>
                            </tr>
                            <tr>
                                <td>Update By</td>
                                <td> : </td>
                                <td><?php echo $this->dataV[122][data][update_by]; ?>  </td>
                            </tr>
                            <tr>
                                <td>Last Update</td>
                                <td> : </td>
                                <td><?php echo $this->dataV[122][data][last_update]; ?>  </td>
                            </tr>

                            <tr>
                                <td>Review By</td>
                                <td> : </td>
                                <td><?php echo $this->dataV[122][data][review_by]; ?>  </td>
                            </tr>
                            <tr>
                                <td>Last Review</td>
                                <td> : </td>
                                <td><?php echo $this->dataV[122][data][review_date]; ?>  </td>
                            </tr>

                            <tr>
                                <td>Keterangan</td>
                                <td> : </td>
                                <td><?php echo $this->dataV[122][data][ket]; ?>  </td>
                            </tr>


                            </thead>
                            <tbody>
                                
                                
                            </tbody>
                            </table>
                        </div>
                    </div>
                    <!-- END EXAMPLE TABLE PORTLET-->
                </div>
