<?php
	$get = new Itsd_Model_Emailblast();
	$getrole = $get->getrole();
	//Zend_Debug::dump($getrole);
?>
<script type="text/javascript" src="/tmp/ckeditor/ckeditor.js"></script>
<link href="/tmp/ckeditor/content.css" rel="stylesheet" type="text/css"/>
<div class="col-md-12 ">
	<!-- BEGIN EXAMPLE TABLE PORTLET-->
	<div class="portlet box red">
		<div class="portlet-title">
			<div class="caption">
				<i class="fa fa-user"></i>Email Blast
			</div>
			<div class="tools">
				<a href="#portlet-config" data-toggle="modal" class="config"></a>
				<a href="javascript:;" class="reload"></a>                                
			</div>
			<div class="actions">
				<a href="#" class=""><i class=""></i> </a>
			</div>
			
		</div>
		<div class="portlet-body form">
			<form id="emailblast" class="emailblast">
				<input value="" name="xxxxid" type="hidden">
				<div class="form-body">
					<div class="form-group">
						<label for="Subject">Subject</label>
						<input name="Subject" placeholder="" id="Subject" class="form-control" value="" type="text">
						<span class="help-block"></span>
					</div>
					<div class="form-group">
						<label for="Deskripsi">Deskripsi</label>
						<textarea required id="desk" name="desk" ></textarea>
						<script type="text/javascript">
							var editor = CKEDITOR.replace('desk');
						</script>
						<span class="help-block"></span>
					</div>
					<div class="form-group">
						<label for="Group">Group</label>
						<div class="checkbox-list" id="Group" placeholder="">
							<?php
								$i=1;
								foreach($getrole as $datarole){
							?>
								<input type="checkbox" name="Group<?php echo $i; ?>" id="Group" value="<?php echo $datarole['gid']; ?>"><?php echo $datarole['group_name']; ?><br>
								<input type="hidden" name="ci" id="ci" value="<?php echo $i; ?>">
							<?php $i++; } ?>
						</div>
						<span class="help-block"></span>
					</div>
					<button type="submit" class="btn green">Submit</button>
				</div>
			</form>

			<script>
			
			jQuery(document).ready(function() {

			var Functemailblast = function () {
			
			var handleAdd = function() {

			var formemailblast = $('#emailblast');
			var error1 = $('.alert-danger', formemailblast);
			var success1 = $('.alert-success', formemailblast);

			formemailblast.validate({
			errorElement: 'span', //default input error message container
			errorClass: 'help-block', // default input error message class
			focusInvalid: false, // do not focus the last invalid input
			ignore: "",
			rules: {
				
				Subject: {
					required :true
				},desk: {
					required :true
				},                },

			invalidHandler: function (event, validator) { //display error alert on form submit              
				success1.hide();
				error1.show();
				App.scrollTo(error1, -200);
			},

			highlight: function (element) { // hightlight error inputs
				$(element)
					.closest('.form-group').addClass('has-error'); // set error class to the control group
			},

			unhighlight: function (element) { // revert the change done by hightlight
				$(element)
					.closest('.form-group').removeClass('has-error'); // set error class to the control group
			},

			success: function (label) {
				label
					.closest('.form-group').removeClass('has-error'); // set success class to the control group
			},

			submitHandler: function (form) {
				success1.show();
				error1.hide();
				   submitForm();
				return false;
			}
			});
			}

			var submitForm = function(){

			var data = $('form#emailblast');
			//App.init();
			
			//alert("s");
			$.ajax({
			url:"/ajax/emailblast",
			//url:"/prabajax/postform/xxxxid/178",
			content:'json',
			type:'post',
			data:data.serialize(),
			beforeSend:function(){
			$('#alertinfo').addClass('hidden');
			$('#processbar').removeClass('hidden');
			$('html,body').animate({
				scrollTop: $('h3.page-title').offset().top
			}, 800);
			$('#alertinfo').removeClass('alert-success');
			$('#alertinfo').removeClass('alert-warning');
			$('#alertinfo').removeClass('alert-danger');
			$('#alertinfo').removeClass('alert-info');
			},
			complete:function(result){
				//alert("done");
			$('#processbar').addClass('hidden');
			},
			success: function(data){
			//alert("ok");
			console.log(data);
			if(data.transaction!=undefined){
				if(data.transaction==true){
				
					$('#alertinfo').addClass('alert-success');
					$('#alertmsg').html("<strong>Success!</strong> ");
				}else{
					
					$('#alertinfo').addClass('alert-warning');
					$('#alertmsg').html("<strong>Failed!</strong> "+data.message);
				}
			}else{
					
				$('#alertinfo').addClass('alert-info');
				$('#alertmsg').html("<strong>Error!</strong> System is busy, please try again.");
			}
			$('#alertinfo').removeClass('hidden');
			},
			error:function(){
			//alert("not");
			$('#alertinfo').addClass('alert-info');
			$('#alertmsg').html("<strong>Error!</strong> System is busy, please try again.");
			$('#alertinfo').removeClass('hidden');
			}
			});
			}

			return {
			//main function to initiate the module
			init: function () {
			handleAdd();
			}

			};

			}();
			Functemailblast.init();
			//emailblast.init();
			});
			
			</script>
		</div>
	</div>
	<!-- END EXAMPLE TABLE PORTLET-->
</div>