<?php
	//$data =  $this->dataV[$this->datap['content_attrs']['api_id']]['data'];
	//Zend_Debug::dump($data);
	$datas = $this->dataVV[183]['data'];	
?>
<div class="col-md-12 ">
	<!-- BEGIN EXAMPLE TABLE PORTLET-->
	<div class="portlet box red">
		<div class="portlet-title">
			<div class="caption">
				<i class="fa fa-user"></i>Approve Review
			</div>
			<div class="tools">
				<a href="#portlet-config" data-toggle="modal" class="config"></a>
				<a href="javascript:;" class="reload"></a>
			</div>
			<div class="actions">
				<a href="#" class=""><i class=""></i> </a>
			</div>
		</div>
		<div class="portlet-body">
			<table class="table table-striped table-bordered table-hover" id="table_portlet_144">
				<thead>
					<tr>
						<th> # </th>
						<th> Service Name </th>
						<th> Review By </th>
						<th> Review Date </th>
						<th> Desc </th>
						
					</tr>
				</thead>
				<tbody>
					<?php
					$i=1;
					foreach ($datas as $row) {
					?>
						<tr class="gradeX">
							<td><?php echo $i ;?></td>
						<td><?php echo $row['nama_refnumber']; ?></td>
							<td><?php echo $row['review_by']; ?></td>
							<td><?php echo $row['review_date']; ?></td>
							<td><?php echo $row['deskripsi_layanan']; ?></td>
						
						</tr>
					<?php $i++; } ?>
				</tbody>
			</table>
		</div>
	</div>
	<!-- END EXAMPLE TABLE PORTLET-->
</div>



<script>
    
jQuery(document).ready(function() {

				$('#table_portlet_144').dataTable({
                "aoColumns": [
                    null,null,null,null, null                    
                    
                
                ],
                "aLengthMenu": [
                    [5, 15, 20, -1],
                    [5, 15, 20, "All"] // change per page values here
                ],
                // set the initial value
                "iDisplayLength": 10,
                "sPaginationType": "bootstrap",
                "oLanguage": {
                    "sLengthMenu": "_MENU_ records",
                    "oPaginate": {
                        "sPrevious": "Prev",
                        "sNext": "Next"
                    }
                },
                "aoColumnDefs": [{
                        'bSortable': false,
                        'aTargets': [0]
                    }
                ]
            });        
         

});
</script>
<script language="javascript" type="text/javascript">
function selectRow(me){
var id = $(me).data('id');
var kategori = $(me).data('kategori_id');
var nama_kategori = $(me).data('nama_kategori');
var subkategori = $(me).data('subkategori_id');
var nama_subkategori = $(me).data('nama_subkategori');
var serv_name = $(me).data('serv_name');
var urutan = $(me).data('urutan');

$('#kategori').val(kategori);
$('#nama_kategori').val(nama_kategori);
$('#subkategori').val(subkategori);
$('#nama_subkategori').val(nama_subkategori);
$('#serv_name').val(serv_name);
$('#urutan').val(urutan);
$('#idreq').val(id);

$('#mod_title').html('Reject Service :: '+serv_name);
}


	function approveitem(vara,varb,varc,vard) {
	  alert(vard);
	if (confirm("Yakin Untuk Approve Review?")) {
	
    $.ajax({
			url: "/prabajax/callapi/api/170/ID/"+vara+"/ID2/"+varb+"/ID3/"+varc+"/ID4/"+vard,
			dataType: "html",	
			beforeSend: function() {
			   
			},
			success: function(data) {
					//alert("sukses");
					 //  $('.categoryselect').html(data);
				 //location.reload();
			},
		  
			timeout:9000,
			error:function(){
					
			},
		});
    
    }
    return false;
}
</script>
