<?php
if($_GET['msg'] && $_GET['msg']=='success'){
?>
<div class="col-md-12">
	<!-- MESSAGE CONTENT-->
	<div class="alert alert-success alert-dismissable" id="messagecontent">
		<button type="button" class="close" data-dismiss="alert" aria-hidden="false"></button>
		<span id="alertmsg"><strong>Success</strong> Import Data.</span>
	</div>
	<!-- END MESSAGE CONTENT-->
	<!-- PROGRESS BAR -->
</div>
<script>
		setTimeout(function(){ window.location.href = '/prabagen/index/page/103'; }, 3000);
</script>
<?php
} 
if($_GET['msg'] && $_GET['msg']=='failed'){
?>
<div class="col-md-12">
	<!-- MESSAGE CONTENT-->
	<div class="alert alert-danger alert-dismissable" id="messagecontent">
		<button type="button" class="close" data-dismiss="alert" aria-hidden="false"></button>
		<span id="alertmsg"><strong>Failed</strong> Import Data.</span>
	</div>
	<!-- END MESSAGE CONTENT-->
	<!-- PROGRESS BAR -->
</div>
<script>
		setTimeout(function(){ window.location.href = '/prabagen/index/page/103'; }, 3000);
</script>
<?php
}
if($_GET['msg'] && $_GET['msg']==''){
?>
<script>
window.location.href = '/prabagen/index/page/103';;
</script>
<?php
}
?>

<div class="col-md-6 ">
	<!-- BEGIN SAMPLE FORM PORTLET-->
	<div class="portlet box blue">
		<div class="portlet-title">
			<div class="caption">
				<i class="fa fa-reorder"></i> Form Upload
			</div>
			<div class="tools">
				<a href="" class="collapse"></a>
				<!--a href="#portlet-config" data-toggle="modal" class="config"></a>
				<a href="" class="reload"></a>
				<a href="" class="remove"></a-->
			</div>
		</div>
		<div class="portlet-body form">
			<form class="form-horizontal" role="form" method="post" enctype="multipart/form-data" action="/public/importdata">
				<div class="form-body">
					<div class="form-group">
						<label class="col-md-3 control-label">Contoh Format:</label>
						<div class="col-md-9">
							<p class="help-block"></p>
							<a href="#">contoh-format.xls</a>
							<p class="help-block"></p>
						</div>
					</div>
					<div class="form-group">
						<label class="col-md-3 control-label">Upload:</label>
						<div class="col-md-9">
							<p class="help-block"></p>
							<input type="file" id="upload" name="upload" accept=".csv, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel" >
							<p class="help-block"></p>
						</div>
					</div>
				</div>
				<div class="form-actions right">
					<button type="submit" class="btn blue">Submit</button>
				</div>
			</form>
		</div>
	</div>
	<!-- END SAMPLE FORM PORTLET-->
	<!-- BEGIN SAMPLE FORM PORTLET-->
</div>
