<?php

	//$data =  $this->dataV[$this->datap['content_attrs']['api_id']]['data'];
	//Zend_Debug::dump($data);
	
	$datas = $this->dataV[179]['data'];
	$status = $this->dataVV[180]['data'];
	$v_status =array();
	foreach ($status as $v) {
		$v_status[$v['ref_id_refnumber']]=1;
	}
	
	
	
	//Zend_Debug::dump($v_status);die();
?>
<div class="col-md-12 ">
	<!-- BEGIN EXAMPLE TABLE PORTLET-->
	<div class="portlet box red">
		<div class="portlet-title">
			<div class="caption">
				<i class="fa fa-user"></i>Approve Review
			</div>
			<div class="tools">
				<a href="#portlet-config" data-toggle="modal" class="config"></a>
				<a href="javascript:;" class="reload"></a>
			</div>
			<div class="actions">
				<a href="#" class=""><i class=""></i> </a>
			</div>
		</div>
		<div class="portlet-body">
			<table class="table table-striped table-bordered table-hover" id="table_portlet_144">
				<thead>
					<tr>
						<th> # </th>
						<th> Service Name </th>
					
						<th> Kategori </th>
						<th> Subkategori </th>
						<th>  Progress</th>
					</tr>
				</thead>
				<tbody>
					<?php
					$i=1;
					foreach ($datas as $row) {
					?>
						<tr class="gradeX">
							<td><?php echo $i ;?></td>
							<td>
							<?php if($v_status[$row['zid']]=="1"){ ?>	
							<?php echo $row['nama_refnumber']; ?>
							<?php }else { ?>
								<a href="/prabagen/index/page/115/xin/id_refnumber:<?php echo $row['zid']; ?>?redirect=1"><?php echo $row['nama_refnumber']; ?></a>
							
							<?php 
								}
							?>	
							</td>
						
							<td><?php echo $row['nama_kategori']; ?></td>
							<td><?php echo $row['nama_subkategori']; ?></td>
							<td><?php  if($v_status[$row['zid']]=="1" and $row['updated_type']=='Review'){echo "Sudah dikirim untuk review";}elseif($v_status[$row['zid']]=="1" and $row['updated_type']=='Request'){echo "Sudah dikirim untuk request";}; ?></td>
							
							
						</tr>
					<?php $i++; } ?>
				</tbody>
			</table>
		</div>
	</div>
	<!-- END EXAMPLE TABLE PORTLET-->
</div>

<div class="modal fade in" id="Reject" tabindex="-1" role="basic" aria-hidden="true">
	<div class="modal-dialog modal-full">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
				<h4 class="modal-title" id="mod_title">Modal Title</h4>
			</div>
			<div class="modal-body">
				<form class="form-horizontal" role="form" id="rejectForm">
					<div class="form-body">
						<div class="form-group">
							<label class="col-md-3 control-label">Kategori</label>
							<div class="col-md-9">
								<input type="hidden" class="form-control" id="action" name="action" value="reject">
								<input type="hidden" class="form-control" id="idreq" name="idreq">
								<input type="hidden" readonly class="form-control" id="kategori" name="kategori">
								<input type="text" disabled class="form-control" id="nama_kategori" name="nama_kategori">
								<span class="help-block"></span>
							</div>
						</div>
						<div class="form-group">
							<label class="col-md-3 control-label">Sub Kategori</label>
							<div class="col-md-9">
								<input type="hidden" readonly class="form-control" id="subkategori" name="subkategori">
								<input type="text" disabled class="form-control" id="nama_subkategori" name="nama_subkategori">
								<span class="help-block"></span>
							</div>
						</div>
						<div class="form-group">
							<label class="col-md-3 control-label">Nama Service</label>
							<div class="col-md-9">
								<input type="text" disabled class="form-control" id="serv_name" name="serv_name">
								<span class="help-block"></span>
							</div>
						</div>
						<div class="form-group">
							<label class="col-md-3 control-label">Urutan Service</label>
							<div class="col-md-9">
								<input type="text" disabled class="form-control" id="urutan" name="urutan">
								<span class="help-block"></span>
							</div>
						</div>
						<div class="form-group">
							<label class="col-md-3 control-label">Alasan Reject</label>
							<div class="col-md-9">
								<textarea class="form-control" id="alasan" name="alasan" rows="4"></textarea>
								<span class="help-block"></span>
							</div>
						</div>
					</div>
				</form>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn default" data-dismiss="modal">Close</button>
				<button type="button" class="btn red" onclick="rejectService();return false;">Reject</button>
			</div>
		</div>
		<!-- /.modal-content -->
	</div>
	<!-- /.modal-dialog -->
</div>


<script>
    
jQuery(document).ready(function() {

});
</script>

