<div class="col-md-12 ">
	<!-- BEGIN EXAMPLE TABLE PORTLET-->
	<?php
		$get = new Itsd_Model_Lihatview();
		$getunitsuport = $get->getunisup();
		//Zend_Debug::dump($getunitsuport);
	?>
	<div>
		<form name="filview" id="filview" class="filview">
			<table class="table table-striped table-bordered table-hover" id="table_filter">
				<tr>
					<td>
						<label for="triwulan">Triwulan</label>
						<select name="triwulan" id="triwulan" class="form-control" onchange="selectFunc(this);">
							<option value="1">1</option>
							<option value="2">2</option>
							<option value="3">3</option>
							<option value="4">4</option>
						</select>
					</td>
					<td>
						<label for="tahun">Tahun</label>
						<select name="tahun" id="tahun" class="form-control" onchange="selectFunc(this);">
						<option value="2012">2012</option>
							<?php 
#							$k = date("Y");
							$k='2013';
								for ($i=$k; $i<=$k+4; $i++){
									echo "<option value='".$i."'>".$i."</option>";
								}
							?>
						</select>
					</td>
					<td>
						<label for="unitsupport">Unit Support</label>
						<select name="unitsupport" id="unitsupport" class="form-control" onchange="selectFunc(this);">
							<option>--Pilih Unit Support--</option>
							<?php foreach ($getunitsuport as $row) {
									if($row['unit_support']==$awal['data']['unit_support']){
										$sel = "selected";
										}
									echo '<option '.$sel.' value="'.$row['unit_support'].'">'.$row['unit_support'].'</option>';
								}
							?>
						</select>
					</td>
				</tr>
			</table>
		</form>
	</div>
	<div class="portlet box red">
		<div class="portlet-title">
			<div class="caption">
				<i class="fa fa-user"></i>Review Service
			</div>
			<div class="tools">
				<a href="javascript:;" class="collapse"></a>
				<a href="#portlet-config" data-toggle="modal" class="config"></a>
				<a href="javascript:;" class="reload"></a>
			</div>
			<div class="actions">
				<a href="#" class=""><i class=""></i> </a>
			</div>
		</div>
		<div class="portlet-body">
			<table class="table table-striped table-bordered table-hover" id="table_portlet_130">
				<thead>
					<tr>
						<th> Service Name </th>
						<th> Category </th>
						<th> Update By </th>
						<th> Update Date </th>
						<th> Review By </th>
						<th> Review Date </th>
						<th> Aksi </th>
					</tr>
				</thead>
				<tbody id="isi_table">
				</tbody>
			</table>
		</div>
	</div>
	<!-- END EXAMPLE TABLE PORTLET-->
</div>
<script>
var el = jQuery(".page-content").first();

function selectFunc(me){

var triwulan = $('#triwulan').val();
var tahun = $('#tahun').val();
var unit_support = $('#unitsupport').val();

$.ajax({
            url:"/prabajax/postform/xxxxid/148",
            content:'json',
            type:'post',
            data:'triwulan='+triwulan+'&tahun='+tahun+'&unit_support='+unit_support,
            beforeSend:function(){
               
						$('body,html').animate({
							scrollTop: el.offset().top
						}, 500);
						//remove style
						$('#messagecontent').removeClass('alert-success');
						$('#messagecontent').removeClass('alert-warning');
						$('#messagecontent').removeClass('alert-danger');
						$('#messagecontent').removeClass('alert-info');
            },
            complete:function(result){
                $('#progressbar').addClass('hidden');
            },
            success: function(data){
			
				$('#isi_table').html(data);
            },
            error:function(){
               $('#progressbar').addClass('hidden');
				$('#messagecontent').addClass('alert-info');
				$('#messagecontent').html("Failed to upload files!");
				$('#messagecontent').removeClass('hidden');
				setTimeout(function(){$('#messagecontent').addClass('hidden');},4000);
				return false
            }
        });
}
    
jQuery(document).ready(function() {



 $('#table_portlet_130').dataTable({
                "aoColumns": [
                    null,null,null,null,null,null,null,                    
                    
                
                ],
                "aLengthMenu": [
                    [5, 15, 20, -1],
                    [5, 15, 20, "All"] // change per page values here
                ],
                // set the initial value
                "iDisplayLength": 10,
                "sPaginationType": "bootstrap",
                "oLanguage": {
                    "sLengthMenu": "_MENU_ records",
                    "oPaginate": {
                        "sPrevious": "Prev",
                        "sNext": "Next"
                    }
                },
                "aoColumnDefs": [{
                        'bSortable': false,
                        'aTargets': [0]
                    }
                ]
            });        
         

});
</script>