<?php 
#$data =  $this->dataV[$this->datap['content_attrs']['api_id']]['data'];
$data =  $this->dataV[152][data];
#Zend_Debug::dump($data);
?>


<div class="col-md-12 ">
                    <!-- BEGIN EXAMPLE TABLE PORTLET-->
                    <div class="portlet box blue">
                        <div class="portlet-title">
                            <div class="caption">
                                <i class="fa fa-user"></i>List Review                            </div>
                            
                            <div class="tools">
                                <a href="javascript:;" class="collapse"></a>                                
                            
                            </div>
                            <div class="actions">
                                                                <a href="#" class=""><i class=""></i> </a>
                                
                                                            </div>
                        </div>
                        <div class="portlet-body">

                            <table class="table table-striped table-bordered table-hover" id="table_portlet_133">
                            <thead>
                            <tr>                                
                                <th> # </th>
                                <th> Nama Service </th>
                                <th> Kategori </th>
                                <th> URL </th>
                                <th> Updated By </th>
                                <th> Review By </th>
                                <th> Action </th>                            
                            </tr>
                            </thead>
                            <tbody>
                                
                                
                                
                    <?php
                        $i=1;
                        foreach ($data as $row) {


                    ?>
                        <tr class="gradeX">
                            <td><?php echo $i ;?></td>
                            <td><a href="/prabagen/index/page/105/xin/ID:<?php echo $row['0']; ?>"><?php echo $row['3']; ?></a></td>
                            <td><?php echo $row['37']; ?></td>
                            <td><a href="<?php echo $row['9'];?> " target="_blank"><?php echo $row['9']; ?></a></td>
                            <td><?php echo $row['11'].' | '.$row['12']; ?></td>
                            <td><?php echo $row['31'].' | '.$row['32']; ?></td>
                            <td>
                                <a class="edit btn blue btn-sm" data-id='<?php echo $row['0'];?>' href="/prabagen/index/page/xxx?id_refnumber=<?php echo $row['0'];?>" style="padding:5px 10px;font-size:10px">
                                    <i class="fa fa-repeat"></i> <span>Review</span>
                                </a>
                                <a href="#" class="activate btn green btn-sm" style="padding:5px 10px;font-size:10px">
                                    <i class="fa  fa-check-square-o"></i> <span>Approve</span>
                                </a>
                                <a href="#" class="activate btn red btn-sm" style="padding:5px 10px;font-size:10px">
                                    <i class="fa  fa-check-square-o"></i> <span>History</span>
                                </a>

                            </td>
                        </tr>
                    <?php $i++; } ?>
                                
                            </tbody>
                            </table>
                        </div>
                    </div>
                    <!-- END EXAMPLE TABLE PORTLET-->
                </div>
<script>
    
jQuery(document).ready(function() {



 $('#table_portlet_133').dataTable({
                "aoColumns": [
                    null,null,null,null,null,null,null,                    
                    
                
                ],
                "aLengthMenu": [
                    [5, 15, 20, -1],
                    [5, 15, 20, "All"] // change per page values here
                ],
                // set the initial value
                "iDisplayLength": 10,
                "sPaginationType": "bootstrap",
                "oLanguage": {
                    "sLengthMenu": "_MENU_ records",
                    "oPaginate": {
                        "sPrevious": "Prev",
                        "sNext": "Next"
                    }
                },
                "aoColumnDefs": [{
                        'bSortable': false,
                        'aTargets': [0]
                    }
                ]
            });        
         

});
</script>
