<?php 

//Zend_Debug::dump($this->dataV[116][data]);

?>

<style>
.modal-dialog{
	width:100%;
	margin:0px auto;
}
</style>
<div class="modal fade in" id="basic" tabindex="-1" role="basic" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
				<h4 class="modal-title">Perhatian!</h4>
			</div>
			<div class="modal-body" id="isi_content">
			</div>
			<div class="modal-footer" id="footer_action">
				<button type="button" class="btn default" data-dismiss="modal">Cancel</button>
				<button type="button" class="btn red">Delete</button>
			</div>
		</div>
		<!-- /.modal-content -->
	</div>
	<!-- /.modal-dialog -->
</div>

<div class="col-md-9 ">
                    <!-- BEGIN EXAMPLE TABLE PORTLET-->
                    <div class="portlet box red">
                        <div class="portlet-title">
                            <div class="caption">
                                <i class="fa fa-user"></i>Unit Support                            </div>
                            
                            <div class="tools">
                                <a href="javascript:;" class="collapse"></a>                                
                            
                            </div>
                            <div class="actions">
                                <a href="/prabagen/index/page/95" class="edit btn green"><i class="fa fa-plus"></i> Tambah Unit Support</a>
                                
                                                            </div>
                        </div>
                        <div class="portlet-body">

                            <table class="table table-striped table-bordered table-hover" id="table_portlet_113">
                            <thead>
                            <tr>
                                
                                <th> # </th>
                                <th> Id </th>
                                <th> Unit Support </th>
                                <th> Aksi </th>                            
                            
                            
                            </tr>
                            </thead>
                            <tbody>
                                
                                
                            <?php 
                            $i=1;
                            foreach ($this->dataV[116][data] as $v) {
                            
                            ?>    
                                
                            <tr class="gradeX">
                                                                 
                                <td><?php echo $i ;?></td>                                
                                <td><?php echo $v['0'] ;?></td>
                                <td><?php echo $v['1'] ;?></td>
                                <td>
                                <a class="edit btn blue" data-id='<?php echo $v['0'];?>' href="/prabagen/index/page/95?id=<?php echo $v['0'].'&name='.$v[1];?>" style="padding:5px 10px;font-size:10px">
                                    <i class="fa fa-pencil"></i> <span>Edit</span>
                                </a>
                                <a href="#basic" class="gdel activate btn red" data-toggle="modal" data-id="<?php echo $v[0]; ?>" data-unit_support="<?php echo $v[1]; ?>" style="padding:5px 10px;font-size:10px" rel="<?php echo $v['0'];?>" onclick="selectDelete(this);return false;">
                                    <i class="fa fa-trash-o"></i> <span >Delete</span>
                                </a>
                                </td>
                                                           
                            </tr>
                                
                                
                              <?php 
                               $i++;
                              } ?>  

                                
                            </tbody>
                            </table>
                        </div>
                    </div>
                    <!-- END EXAMPLE TABLE PORTLET-->
                </div>
<script>

function selectDelete(me){
var id=$(me).data('id');
var unit_support=$(me).data('unit_support');
//console.log(id);

$('#isi_content').html('Apakah Anda yakin akan mengahpus unit support :<b>'+unit_support+'</b> ?');
$('#footer_action').html('<button type="button" class="btn default" data-dismiss="modal">Cancel</button><button type="button" class="btn red" data-id="'+id+'" onclick="hapusUnitSupport(this);return false;" data-dismiss="modal">Delete</button>');
}

function hapusUnitSupport(me){

var id = $(me).data('id');

$.ajax({
            url:"/prabajax/postform/xxxxid/146",
            content:'json',
            type:'post',
            data:'id='+id,
            beforeSend:function(){
               
						 $('#alertinfo').addClass('hidden');
                $('#processbar').removeClass('hidden');
                $('html,body').animate({
                    scrollTop: $('h3.page-title').offset().top
                }, 800);
                $('#alertinfo').removeClass('alert-success');
                $('#alertinfo').removeClass('alert-warning');
                $('#alertinfo').removeClass('alert-danger');
                $('#alertinfo').removeClass('alert-info');
            },
            complete:function(result){
                 $('#processbar').addClass('hidden');
            },
            success: function(data){
			
			if(data.transaction!=undefined){
                    if(data.transaction==true){
                    
                        $('#alertinfo').addClass('alert-success');
                        $('#alertmsg').html("<strong>Success delete data!</strong> ");
						$('#myModal3').modal('hide');
						
                    }else{
                        
                        $('#alertinfo').addClass('alert-warning');
                        $('#alertmsg').html("<strong>Failed!</strong> "+data.message);						
                    }
                }else{
                        
                    $('#alertinfo').addClass('alert-info');
                    $('#alertmsg').html("<strong>Error!</strong> System is busy, please try again.");
                }
                $('#alertinfo').removeClass('hidden');
			setTimeout(function(){$('#alertinfo').addClass('hidden');},3000);
			//setTimeout(location.reload(),10000);
		setTimeout(function(){ document.location.reload(true); }, 3000);
                //console.log(data);
            },
            error:function(){
                $('#alertinfo').addClass('alert-info');
                $('#alertmsg').html("<strong>Error!</strong> System is busy, please try again.");
                $('#alertinfo').removeClass('hidden');
            }
        });


}
    
jQuery(document).ready(function() {



 $('#table_portlet_113').dataTable({
                "aoColumns": [
                    null,null,null,null                   
                    
                
                ],
                "aLengthMenu": [
                    [5, 15, 20, -1],
                    [5, 15, 20, "All"] // change per page values here
                ],
                // set the initial value
                "iDisplayLength": 10,
                "sPaginationType": "bootstrap",
                "oLanguage": {
                    "sLengthMenu": "_MENU_ records",
                    "oPaginate": {
                        "sPrevious": "Prev",
                        "sNext": "Next"
                    }
                },
                "aoColumnDefs": [{
                        'bSortable': false,
                        'aTargets': [0]
                    }
                ]
            });        
         

});
</script>

<script language="javascript" type="text/javascript">
	jQuery(document).ready(function() {
	$(".gdel").click(function(){
		var node=	$(this);
		var vd = node.attr("rel");
		//alert (vd);
		var ans;ans=confirm('Are you sure you want to delete this data?');
		if (ans){
			$('#loader').show();
			postajax(vd);
			alert ('Berhasil di hapus');
			window.location.href = '/prabagen/index/page/99';
		}
	});
	
	tonotify=function( template, vars, opts ){
		return $container.notify("create", template, vars, opts);
	}
	
	postajax= function(id) {
		$.ajax({
			url: "/prabajax/callapi/api/146/?ID="+id,
			dataType: "html",
			beforeSend: function() {
			if(!$("#"+id).hasClass("inprogress")){
				$("#"+id).addClass("inprogress");
			}
			},
			success: function(data) {
				if(data.status=="1") {
					$('#loader').hide();
					$('#row'+id).fadeOut(300);
					$('#bypass').append('<ul id="messages"><li class="ok">'+id+' deleted</li></ul>');
				}else{
					$('#loader').hide();
					$('#bypass').append('<ul id="messages"><li class="warning">ada masalah dalam penghapusan</li></ul>');
				}
			},
			timeout:9000,
			error:function(){
				$('#loader').hide();
				tonotify("themeroller", { title:'', text:'Ajax Error' },{custom: true,expires: false});
			}
		});
	}
});
</script>