<?php 
$data =  $this->dataV[$this->datap['content_attrs']['api_id']]['data'];
//Zend_Debug::dump($data);
?>

<div class="col-md-12 ">
	<!-- BEGIN EXAMPLE TABLE PORTLET-->
	<div class="portlet box red">
		<div class="portlet-title">
			<div class="caption">
				<i class="fa fa-user"></i>Master Service                            
			</div>
			<div class="tools">
				<a href="javascript:;" class="collapse"></a><a href="#portlet-config" data-toggle="modal" class="config"></a><a href="javascript:;" class="reload"></a>                                
			</div>
			<div class="actions">
				<a href="/prabagen/index/page/99" class="edit btn green"><i class="fa fa-plus"></i> Tambah Service</a>
				<a href="#" class=""><i class=""></i> </a>
			</div>
		</div>
		<div class="portlet-body">
			<table class="table table-striped table-bordered table-hover" id="table_portlet_117">
				<thead>
					<tr>
						<th> </th>
						<th><input type="text" value="" class="headfilter" data-col="1"/></th>
						<th><input type="text" value="" class="headfilter" data-col="2"/></th>
						<th><input type="text" value="" class="headfilter" data-col="3"/></th>									
						<th> </th>
					</tr>
					<tr>
						<th> Urutan Service </th>
						<th> Service Name </th>
						<th> Nama Sub Kategori </th>
						<th> Nama Kategori </th>
						<th> Aksi </th>
					</tr>
				</thead>
				<tbody>
					<?php
						$i=1;
						foreach ($data as $row) {
					?>
						<tr class="gradeX">
							<td><?php echo $i ;?></td>
							<td><?php echo $row['3']; ?></td>
							<td><?php echo $row['6']; ?></td>
							<td><?php echo $row['5']; ?></td>
							<td><a class="edit btn blue" data-id='<?php echo $row['0'];?>' href="/prabagen/index/page/89/xin/id_refnumber:<?php echo $row['0'];?>" style="padding:5px 10px;font-size:10px">
									<i class="fa fa-pencil"></i> <span>Edit</span>
								</a>
								<!--<a href="#" class="activate btn red" style="padding:5px 10px;font-size:10px" onclick="deleteitem(<?php echo $row['0'];?>, <?php echo $row['1'];?>)">
									<i class="fa fa-trash-o"></i> <span>Delete</span>
								</a>-->
							</td>
						</tr>
					<?php $i++; } ?>
				</tbody>
			</table>
		</div>
	</div>
	<!-- END EXAMPLE TABLE PORTLET-->
</div>


<script>
	jQuery(document).ready(function() {
		
		
	var oTable = $('#table_portlet_117').dataTable({
		"aoColumns": [
			null,null,null,null,null,
		],
		"bFilter": true,
		"aLengthMenu": [
			[5, 15, 20, -1],
			[5, 15, 20, "All"] // change per page values here
		],
		// set the initial value
		"iDisplayLength": 10,
		"sPaginationType": "bootstrap",
		"oLanguage": {
			"sLengthMenu": "_MENU_ records",
			"oPaginate": {
				"sPrevious": "Prev",
				"sNext": "Next"
			}
		},
		"aoColumnDefs": [{
		'bSortable': true,
		'aTargets': [0]
		}
		]
		});
		
		var inputval = [];
		$("#table_portlet_117 thead input").keyup(function(e) {
			var code = (e.keyCode ? e.keyCode : e.which);
			//if (code==13) {
				inputval[$(this).data('col')] = this.value;
				
				//oTable.fnClearTable(false);
				oTable.fnFilter( this.value, $(this).data('col'));
				e.preventDefault();
			//}
		});

		$('#table_portlet_117 thead input').blur(function(){
			if(inputval[$(this).data('col')] != this.value){
				inputval[$(this).data('col')] = this.value;
				
				//oTable.fnClearTable(false);
				oTable.fnFilter( this.value, $(this).data('col'));
			}
		});
	});
</script>
<script language="javascript" type="text/javascript">
	function deleteitem(varx, vary) {
	  //alert(varx);
	if (confirm("Yakin Untuk Menghapus?")) {
	
    $.ajax({
			url: "/prabajax/callapi/api/153/ID/"+varx+"/un/"+vary,
			dataType: "html",	
			beforeSend: function() {
			   
			},
			success: function(data) {
					//alert("sukses");
					 //  $('.categoryselect').html(data);
				 location.reload();
			},
		  
			timeout:9000,
			error:function(){
					
			},
		});
    
    }
    return false;
}
</script>
