<?php 
$data =  $this->dataV[$this->datap['content_attrs']['api_id']]['data'];
//Zend_Debug::dump($data);
?>

<div class="col-md-12 ">
	<!-- BEGIN EXAMPLE TABLE PORTLET-->
	<div class="portlet box red">
		<div class="portlet-title">
			<div class="caption">
				<i class="fa fa-user"></i>Master User
			</div>
			<div class="tools">
				<a href="javascript:;" class="collapse"></a>
				<a href="#portlet-config" data-toggle="modal" class="config"></a>
				<a href="javascript:;" class="reload"></a>                                
			</div>
			<div class="actions">
				<a href="/prabagen/index/page/106" class="edit btn green"><i class="fa fa-plus"></i> Tambah User</a>
				<a href="#" class=""><i class=""></i> </a>
			</div>
		</div>
		<div class="portlet-body">
			<table class="table table-striped table-bordered table-hover" id="table_portlet_135">
				<thead>
					<tr>
						<th> # </th>
						<th> NIK </th>
						<th> Nama </th>
						<th> Email </th>
						<th> Telepon </th>
						<th> Unit Support </th>
						<th> Hak Akses </th>
						<th> Aksi </th>
					</tr>
				</thead>
				<tbody>
					<?php
						$i=1;
						foreach ($data as $row) {
					?>
						<tr class="gradeX">
							<td><?php echo $i ;?></td>
							<td><?php echo $row['7']; ?></td>
							<td><?php echo $row['1']; ?></td>
							<td><?php echo $row['2']; ?></td>
							<td><?php echo $row['8']; ?></td>
							<td><?php echo $row['9']; ?></td>
							<td><?php echo $row['10']; ?></td>
							<td>
								<a class="edit btn blue" data-id='<?php echo $row['0'];?>' href="/prabagen/index/page/107?id_user=<?php echo $row['0'];?>" style="padding:5px 10px;font-size:10px">
									<i class="fa fa-pencil"></i> <span>Edit</span>
								</a>
								<a href="#" class="gdel  activate btn red" style="padding:5px 10px;font-size:10px" rel1="<?php echo $row['0'];?>" rel2="<?php echo $row['7'];?>">
									<i class="fa fa-trash-o"></i> <span >Delete</span>
								</a>
							</td>
						</tr>
					<?php $i++; } ?>
				</tbody>
			</table>
		</div>
	</div>
	<!-- END EXAMPLE TABLE PORTLET-->
</div>
<script>
	jQuery(document).ready(function() {
		$('#table_portlet_135').dataTable({
		
		"aLengthMenu": [
		[5, 15, 20, -1],
		[5, 15, 20, "All"] // change per page values here
		],
		// set the initial value
		"iDisplayLength": 10,
		"sPaginationType": "bootstrap",
		"oLanguage": {
		"sLengthMenu": "_MENU_ records",
		"oPaginate": {
		"sPrevious": "Prev",
		"sNext": "Next"
		}
		},
		"aoColumnDefs": [{
		'bSortable': false,
		'aTargets': [0]
		}
		]
		});
	});
</script>
<script language="javascript" type="text/javascript">
	jQuery(document).ready(function() {
	$(".gdel").click(function(){
		var node=	$(this);
		var vd1 = node.attr("rel1");
		var vd2 = node.attr("rel2");
		//alert (vd2);
		var ans;ans=confirm('Are you sure you want to delete this data?');
		if (ans){
			$('#loader').show();
			postajax(vd1,vd2);
			alert ('Berhasil di hapus');
			window.location.href = '/prabagen/index/page/83';
		}
	});
	
	tonotify=function( template, vars, opts ){
		return $container.notify("create", template, vars, opts);
	}
	
	postajax= function(id,id2) {
		$.ajax({
			url: "/prabajax/callapi/api/157/?ID="+id+"&ID2="+id2,
			dataType: "html",
			beforeSend: function() {
			if(!$("#"+id).hasClass("inprogress")){
				$("#"+id).addClass("inprogress");
			}
			},
			success: function(data) {
				if(data.status=="1") {
					$('#loader').hide();
					$('#row'+id).fadeOut(300);
					$('#bypass').append('<ul id="messages"><li class="ok">'+id+' deleted</li></ul>');
				}else{
					$('#loader').hide();
					$('#bypass').append('<ul id="messages"><li class="warning">ada masalah dalam penghapusan</li></ul>');
				}
			},
			timeout:9000,
			error:function(){
				$('#loader').hide();
				tonotify("themeroller", { title:'', text:'Ajax Error' },{custom: true,expires: false});
			}
		});
	}
});
</script>