<?php 
$data =  $this->dataV[$this->datap['content_attrs']['api_id']]['data'];
//Zend_Debug::dump($data);
?>

<div class="col-md-12 ">
	<!-- BEGIN EXAMPLE TABLE PORTLET-->
	<div class="portlet box red">
		<div class="portlet-title">
			<div class="caption">
				<i class="fa fa-user"></i>Master Role
			</div>
			<div class="tools">
				<a href="javascript:;" class="collapse"></a>
				<a href="#portlet-config" data-toggle="modal" class="config"></a>
				<a href="javascript:;" class="reload"></a>                                
			</div>
			<div class="actions">
				<a href="/prabagen/index/page/110" class="edit btn green"><i class="fa fa-plus"></i> Tambah Role</a>
				<a href="#" class=""><i class=""></i> </a>
			</div>
		</div>
		<div class="portlet-body">
			<table class="table table-striped table-bordered table-hover" id="table_portlet_139">
				<thead>
					<tr>
						<th> # </th>
						<th> Group Name </th>
						<th> Description </th>
						<th> Last Update </th>
						<th> Action </th>
					</tr>
				</thead>
				<tbody>
				<?php
					$i=1;
					foreach ($data as $row) {
				?>
					<tr class="gradeX">						
						<td><?php echo $i;?></td>
						<td><?php echo $row['1']; ?></td>
						<td><?php echo $row['4']; ?></td>
						<td><?php echo $row['5']; ?></td>
						<td>
							<a class="edit btn blue" data-id='<?php echo $row['0'];?>' href="/prabagen/index/page/111?id_role=<?php echo $row['0'];?>" style="padding:5px 10px;font-size:10px">
								<i class="fa fa-pencil"></i> <span>Edit</span>
							</a>
							<a href="#" class="gdel  activate btn red" style="padding:5px 10px;font-size:10px" onclick="deleteitem(<?php echo $row['0'];?>)">
								<i class="fa fa-trash-o"></i> <span >Delete</span>
							</a>
						</td>
					</tr>
				<?php $i++; } ?>
				</tbody>
			</table>
		</div>
	</div>
	<!-- END EXAMPLE TABLE PORTLET-->
</div>

<script>
	jQuery(document).ready(function() {
	$('#table_portlet_139').dataTable({
	"aoColumns": [
		null,null,null,null,null,                    
		

	],
	"aLengthMenu": [
		[5, 15, 20, -1],
		[5, 15, 20, "All"] // change per page values here
	],
	// set the initial value
	"iDisplayLength": 10,
	"sPaginationType": "bootstrap",
	"oLanguage": {
		"sLengthMenu": "_MENU_ records",
		"oPaginate": {
			"sPrevious": "Prev",
			"sNext": "Next"
		}
	},
	"aoColumnDefs": [{
			'bSortable': false,
			'aTargets': [0]
		}
	]
	});
	});
</script>
<script language="javascript" type="text/javascript">
	function deleteitem(varx) {
	  
	if (confirm("Yakin Untuk Menghapus?")) {
	
    $.ajax({
			url: "/prabajax/callapi/api/163/ID/"+varx,
			dataType: "html",	
			beforeSend: function() {
			   
			},
			success: function(data) {
					//alert("sukses");
					 //  $('.categoryselect').html(data);
				 location.reload();
			},
		  
			timeout:9000,
			error:function(){
					
			},
		});
    
    }
    return false;
}
</script>