<?php 

#Zend_Debug::dump($this->dataV[116][data]);
//Zend_Debug::dump($this->dataV[118][data]);
?>

<style>
.modal-dialog{
	width:100%;
	margin:0px auto;
}
</style>
<div class="modal fade in" id="myModal3" tabindex="-1" role="basic" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
				<h4 class="modal-title" id="head_modal_titel">Tambah / Update Produk Portofolio</h4>
			</div>
			<div class="modal-body" id="isi_content">
				<form role="form" id="editForm">
					<div class="form-body">			
						<div class="form-group">
							<label for="exampleInputEmail1">Nama Produk Portofolio :</label>
							<input type="hidden" class="form-control" id="id_produk" name="id_produk" placeholder="Enter text">
							<input type="text" class="form-control" id="nm_produk" name="nm_produk" placeholder="Enter text">
							<span class="help-block"></span>
						</div>
					</div>
			</div>
			<div class="modal-footer" id="btn_confirm_hapus">
				<button type="button" class="btn default" data-dismiss="modal" onclick="resetForm();">Batal</button>
				<button type="submit" class="btn green">Save</button>
			</div>
				</form>
		</div>
		<!-- /.modal-content -->
	</div>
	<!-- /.modal-dialog -->
</div>
	

<div class="col-md-8 ">
                    <!-- BEGIN EXAMPLE TABLE PORTLET-->

<a href="#myModal3" class="btn green" data-toggle="modal" data-idprod="0"><i class="fa fa-plus"></i> Tambah Produk Portofolio</a>
<span class="help-block"></span>
	<div class="portlet box blue">
		<div class="portlet-title">
			<div class="caption">
				<i class="fa fa-user"></i>Produk Portfolio                            </div>
			
			<div class="tools">
				<a href="javascript:;" class="collapse"></a>
				<!--a href="#portlet-config" data-toggle="modal" class="config"></a>
				<!--a href="javascript:;" class="reload"></a><a href="javascript:;" class="remove"></a-->                                
			
			</div>
			<div class="actions">
				<a href="#" class=""><i class=""></i></a>
			</div>
		</div>
		<div class="portlet-body">

			<table class="table table-striped table-bordered table-hover" id="table_portlet_115">
			<thead>
			<tr>
				
				<th> # </th><th> Produk Portfolio </th><th> Aksi </th>                            
			
			
			</tr>
			</thead>
			<tbody>
				
			<?php 
			$i=1;
			foreach ($this->dataV[118][data] as $v) {
			
			?>    
				
			<tr class="gradeX">
												 
				<td><?php echo $i ;?></td>                                
				<td><?php echo $v['1'] ;?></td>
				<td><a class="edit btn blue" href="#myModal3" data-toggle="modal" data-idprod="<?php echo $v['0'];?>" data-nmprod="<?php echo $v[1]; ?>" href="#myModal3" onclick="selectFileEdit(this);return false;" style="padding:5px 10px;font-size:10px">
						<i class="fa fa-pencil"></i> <span>Edit</span>
					</a>
					<a data-toggle="modal" data-idprod="<?php echo $v['0'];?>" data-nmprod="<?php echo $v[1]; ?>" href="#myModal3" class="activate btn red" onclick="selectFileDelete(this);return false;" style="padding:5px 10px;font-size:10px">
						<i class="fa fa-trash-o"></i> <span>Delete</span>
					</a>
				</td>
										   
			</tr>
				
				
			  <?php 
			   $i++;
			  } ?>  

				
			</tbody>
			</table>
		</div>
	</div>
	<!-- END EXAMPLE TABLE PORTLET-->
</div>
<script>
var el = jQuery(".page-content").first();

function resetForm() {
    document.getElementById("editForm").reset();
}

function selectFileEdit(me){

var idprod = $(me).data('idprod');
var nmprod = $(me).data('nmprod');

$('#id_produk').val(idprod);
$('#nm_produk').val(nmprod);
}


function selectFileDelete(me){

var idprod = $(me).data('idprod');
var nmprod = $(me).data('nmprod');
$('#head_modal_titel').html('Perhatian!');
$('#isi_content').html('Yakin akan menghapus produk : <b>'+nmprod+'</b>');
$('#btn_confirm_hapus').html('<button type="button" class="btn default" data-dismiss="modal">Batal</button><button type="button" class="btn red"  data-idprod="'+idprod+'" data-namaprod="'+nmprod+'" data-dismiss="modal" onclick="hapusFile(this);return false;">Hapus</button>');
}


function hapusFile(me){
var idprod = $(me).data('idprod');
var namaprod = $(me).data('namaprod');
//alert('refid:'+refid+', filenm:'+filenm);

$.ajax({
            url:"/prabajax/postform/xxxxid/142",
            content:'json',
            type:'post',
            data:'idprod='+idprod+'&namaprod='+namaprod,
            beforeSend:function(){
               
						 $('#alertinfo').addClass('hidden');
                $('#processbar').removeClass('hidden');
                $('html,body').animate({
                    scrollTop: $('h3.page-title').offset().top
                }, 800);
                $('#alertinfo').removeClass('alert-success');
                $('#alertinfo').removeClass('alert-warning');
                $('#alertinfo').removeClass('alert-danger');
                $('#alertinfo').removeClass('alert-info');
            },
            complete:function(result){
                 $('#processbar').addClass('hidden');
            },
            success: function(data){
			
			if(data.transaction!=undefined){
                    if(data.transaction==true){
                    
                        $('#alertinfo').addClass('alert-success');
                        $('#alertmsg').html("<strong>Success delete data!</strong> ");
						$('#myModal3').modal('hide');
						
                    }else{
                        
                        $('#alertinfo').addClass('alert-warning');
                        $('#alertmsg').html("<strong>Failed!</strong> "+data.message);						
                    }
                }else{
                        
                    $('#alertinfo').addClass('alert-info');
                    $('#alertmsg').html("<strong>Error!</strong> System is busy, please try again.");
                }
                $('#alertinfo').removeClass('hidden');
			setTimeout(function(){$('#alertinfo').addClass('hidden');},3000);
			//setTimeout(location.reload(),10000);
		setTimeout(function(){ document.location.reload(true); }, 3000);
                //console.log(data);
            },
            error:function(){
                $('#alertinfo').addClass('alert-info');
                $('#alertmsg').html("<strong>Error!</strong> System is busy, please try again.");
                $('#alertinfo').removeClass('hidden');
            }
        });

}

    
jQuery(document).ready(function() {

    var FunctEntryEvent = function () {

    


    var handleAdd = function() {
      
            var formEntryEvent = $('#editForm');
            var error1 = $('.alert-danger', formEntryEvent);
            var success1 = $('.alert-success', formEntryEvent);

            formEntryEvent.validate({
                errorElement: 'span', //default input error message container
                errorClass: 'help-block', // default input error message class
                focusInvalid: false, // do not focus the last invalid input
                ignore: "",
                rules: {
                    
                    nm_produk: {
                        required :true
                    }              
					},

                invalidHandler: function (event, validator) { //display error alert on form submit              
                    success1.hide();
                    error1.show();
                    App.scrollTo(error1, -200);
                },

                highlight: function (element) { // hightlight error inputs
                    $(element)
                        .closest('.form-group').addClass('has-error'); // set error class to the control group
                },

                unhighlight: function (element) { // revert the change done by hightlight
                    $(element)
                        .closest('.form-group').removeClass('has-error'); // set error class to the control group
                },

                success: function (label) {
                    label
                        .closest('.form-group').removeClass('has-error'); // set success class to the control group
                },

                submitHandler: function (form) {
                    success1.show();
                    error1.hide();
                       submitForm();
                    return false;
                }
            });
    }
    
    var submitForm = function(){
        
        var data = $('form#editForm').serialize();
		
		console.log(data);
   
		
        $.ajax({
            url:"/prabajax/postform/xxxxid/139",
            content:'json',
            type:'post',
            data:data,
            beforeSend:function(){
                $('#alertinfo').addClass('hidden');
                $('#processbar').removeClass('hidden');
                $('html,body').animate({
                    scrollTop: $('h3.page-title').offset().top
                }, 800);
                $('#alertinfo').removeClass('alert-success');
                $('#alertinfo').removeClass('alert-warning');
                $('#alertinfo').removeClass('alert-danger');
                $('#alertinfo').removeClass('alert-info');
            },
            complete:function(result){
                $('#processbar').addClass('hidden');
            },
            success: function(data){
                //console.log(data);
                if(data.transaction!=undefined){
                    if(data.transaction==true){
                    
                        $('#alertinfo').addClass('alert-success');
                        $('#alertmsg').html("<strong>Success!</strong> ");
						$('#myModal3').modal('hide');
		setTimeout(function(){ document.location.reload(true); }, 3000);
                    }else{
                        
                        $('#alertinfo').addClass('alert-warning');
                        $('#alertmsg').html("<strong>Failed!</strong> "+data.message);
                    }
                }else{
                        
                    $('#alertinfo').addClass('alert-info');
                    $('#alertmsg').html("<strong>Error!</strong> System is busy, please try again.");
                }
                $('#alertinfo').removeClass('hidden');
            },
            error:function(){
                $('#alertinfo').addClass('alert-info');
                $('#alertmsg').html("<strong>Error!</strong> System is busy, please try again.");
                $('#alertinfo').removeClass('hidden');
            }
        });
		
	}
    
    return {
        //main function to initiate the module
        init: function () {
            handleAdd();
        }

    };

}();
FunctEntryEvent.init();



 $('#table_portlet_115').dataTable({
                "aoColumns": [
                    null,null,null,                    
                    
                
                ],
                "aLengthMenu": [
                    [5, 15, 20, -1],
                    [5, 15, 20, "All"] // change per page values here
                ],
                // set the initial value
                "iDisplayLength": 10,
                "sPaginationType": "bootstrap",
                "oLanguage": {
                    "sLengthMenu": "_MENU_ records",
                    "oPaginate": {
                        "sPrevious": "Prev",
                        "sNext": "Next"
                    }
                },
                "aoColumnDefs": [{
                        'bSortable': false,
                        'aTargets': [0]
                    }
                ]
            });        
         

});
</script>