<div class="col-md-12">
<!-- MESSAGE CONTENT-->
			<div class="alert alert-success alert-dismissable hidden" id="messagecontent">
				<button type="button" class="close" data-dismiss="alert" aria-hidden="true"></button>
				<span id="alertmsg"><strong>Success</strong> Delete Group Service.</span>
			</div>
			<!-- END MESSAGE CONTENT-->
			<!-- PROGRESS BAR -->
			<div style="margin:0px auto;text-align:center" id="progressbar" class="hidden">
				<div class="progress progress-striped active" style="margin:0px auto;text-align:center">
					<div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
						<span class="sr-only">
							On Process
						</span>
					</div>
				</div>
				<span style="margin:0px auto;">Please wait...processing request</span>
			</div>
			<!-- END PROGRESS BAR -->
</div>

<div class="col-md-8 ">
	<!-- BEGIN EXAMPLE TABLE PORTLET-->
	<div class="portlet box red">
		<div class="portlet-title">
			<div class="caption">
				<i class="fa fa-user"></i>Group Service                            </div>
			
			<div class="tools">
				<a href="javascript:;" class="collapse"></a>                                
			
			</div>
			<div class="actions">
				<a href="/prabagen/index/page/97" class="edit btn green"><i class="fa fa-plus"></i> Tambah Group Service</a>
				<a href="#" class=""><i class=""></i> </a>
				
			</div>
		</div>
		<div class="portlet-body">

			<table class="table table-striped table-bordered table-hover" id="table_portlet_116">
			<thead>
			<tr>
				
				<th> # </th><th> Group Service </th><th> Action </th>                            
			
			
			</tr>
			</thead>
			<tbody>
				
				
			<?php 
			$i=1;
			foreach ($this->dataV[120][data] as $v) {
			
			?>    
				
			<tr class="gradeX">
												 
				<td><?php echo $i ;?></td>                                
				<td><?php echo $v['1'] ;?></td>
				<td><a class="edit btn blue" data-id='<?php echo $row['0'];?>' href="/prabagen/index/page/97?id=<?php echo $v[0]; ?>&name=<?php echo $v[1]; ?>" style="padding:5px 10px;font-size:10px">
						<i class="fa fa-pencil"></i> <span>Edit</span>
					</a>
					<a href="#ModalDelete" data-toggle="modal" class="activate btn red" style="padding:5px 10px;font-size:10px" data-id="<?php echo $v[0]; ?>" data-name="<?php echo $v[1]; ?>" onclick="selectRow(this);return false;">
						<i class="fa fa-trash-o"></i> <span>Delete</span>
					</a>
				</td>
										   
			</tr>
				
				
			  <?php 
			   $i++;
			  } ?>  

			</tbody>
			</table>
		</div>
	</div>
	<!-- END EXAMPLE TABLE PORTLET-->
</div>

<style>
.modal-wide{
	width:100% !important;
}
.modal-dialog{
	width:100% !important;
	margin: 0px auto;
}

.modal-open {
overflow-y: hidden !important;
}
</style>
<div class="modal fade in" id="ModalDelete" tabindex="-1" role="basic" aria-hidden="true">
	<div class="modal-dialog modal-full">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
				<h4 class="modal-title" id="mod_title">Perhatian</h4>
			</div>
			<div class="modal-body" id="isi_content">
				
			</div>
			<div class="modal-footer">
				<button type="button" class="btn default" data-dismiss="modal">Close</button>
				<button type="button" class="btn red" onclick="HapusRow();return false;" data-dismiss="modal">Delete</button>
			</div>
		</div>
		<!-- /.modal-content -->
	</div>
	<!-- /.modal-dialog -->
</div>

<script>
function selectRow(me){

var id = $(me).data('id');
var name = $(me).data('name');

$('#isi_content').html('<input type="hidden" name="group_id" id="group_id" value="'+id+'"> Yakin akan menghapus Group Service :<b>'+name+'</b> ?');

}

function HapusRow(me){

var id = $('#group_id').val();

$.ajax({
            url:"/prabajax/postform/xxxxid/138",
            content:'json',
            type:'post',
            data:'id='+id+'&action=delete',
            beforeSend:function(){
               
						/*$('body,html').animate({
							scrollTop: el.offset().top
						}, 500);*/
						//remove style
						$('#messagecontent').removeClass('alert-success');
						$('#messagecontent').removeClass('alert-warning');
						$('#messagecontent').removeClass('alert-danger');
						$('#messagecontent').removeClass('alert-info');
            },
            complete:function(result){
                $('#progressbar').addClass('hidden');
            },
            success: function(data){
			
			console.log(data.message);
			
				if(data.transaction==true){
				//alert("file sudah di upload");
				
				$('#messagecontent').addClass('alert-success');
				$('#alertmsg').html(data.message);
		setTimeout(function(){ document.location.reload(true); }, 3000);
			}else{
				
				$('#messagecontent').addClass('alert-danger');
				$('#alertmsg').html(data.message);
			}
			$('#messagecontent').removeClass('hidden');
			setTimeout(function(){$('#messagecontent').addClass('hidden');},8000);
            },
            error:function(){
               $('#progressbar').addClass('hidden');
				$('#messagecontent').addClass('alert-info');
				$('#messagecontent').html("Failed to upload files!");
				$('#messagecontent').removeClass('hidden');
				setTimeout(function(){$('#messagecontent').addClass('hidden');},4000);
				return false
            }
        });


}
    
jQuery(document).ready(function() {



 $('#table_portlet_116').dataTable({
                "aoColumns": [
                    null,null,null,                    
                    
                
                ],
                "aLengthMenu": [
                    [5, 15, 20, -1],
                    [5, 15, 20, "All"] // change per page values here
                ],
                // set the initial value
                "iDisplayLength": 10,
                "sPaginationType": "bootstrap",
                "oLanguage": {
                    "sLengthMenu": "_MENU_ records",
                    "oPaginate": {
                        "sPrevious": "Prev",
                        "sNext": "Next"
                    }
                },
                "aoColumnDefs": [{
                        'bSortable': false,
                        'aTargets': [0]
                    }
                ]
            });        
         

});
</script>
