<div class="col-md-3">
	<select class="form-control" id="serv_request" name="serv_request" onchange="selectOption(this);return false;">
		<option value="">Pilih Service Request ...</option>
		<option value="1">Sudah di Approve</option>
		<option value="0">Belum di Approve</option>
		<option value="2">Reject</option>
	</select>
	<span class="help-block"></span>
</div>

<div class="col-md-12">
<!-- MESSAGE CONTENT-->
			<div class="alert alert-success alert-dismissable hidden" id="messagecontent">
				<button type="button" class="close" data-dismiss="alert" aria-hidden="true"></button>
				<span id="alertmsg"><strong>Success</strong></span>
			</div>
			<!-- END MESSAGE CONTENT-->
			<!-- PROGRESS BAR -->
			<div style="margin:0px auto;text-align:center" id="progressbar" class="hidden">
				<div class="progress progress-striped active" style="margin:0px auto;text-align:center">
					<div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
						<span class="sr-only">
							On Process
						</span>
					</div>
				</div>
				<span style="margin:0px auto;">Please wait...processing request</span>
			</div>
			<!-- END PROGRESS BAR -->
</div>


<div id="table"></div>

<style>
.modal-wide{
	width:100% !important;
}
.modal-dialog{
	width:100% !important;
	margin: 0px auto;
}

.modal-open {
overflow-y: hidden !important;
}
</style>
<div class="modal fade in" id="Reject" tabindex="-1" role="basic" aria-hidden="true">
	<div class="modal-dialog modal-full">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
				<h4 class="modal-title" id="mod_title">Modal Title</h4>
			</div>
			<div class="modal-body">
				<form class="form-horizontal" role="form" id="rejectForm">
					<div class="form-body">
						<div class="form-group">
							<label class="col-md-3 control-label">Kategori</label>
							<div class="col-md-9">
								<input type="hidden" class="form-control" id="action" name="action" value="reject">
								<input type="hidden" class="form-control" id="idreq" name="idreq">
								<input type="hidden" readonly class="form-control" id="kategori" name="kategori">
								<input type="text" disabled class="form-control" id="nama_kategori" name="nama_kategori">
								<span class="help-block"></span>
							</div>
						</div>
						<div class="form-group">
							<label class="col-md-3 control-label">Sub Kategori</label>
							<div class="col-md-9">
								<input type="hidden" readonly class="form-control" id="subkategori" name="subkategori">
								<input type="text" disabled class="form-control" id="nama_subkategori" name="nama_subkategori">
								<span class="help-block"></span>
							</div>
						</div>
						<div class="form-group">
							<label class="col-md-3 control-label">Nama Service</label>
							<div class="col-md-9">
								<input type="text" disabled class="form-control" id="serv_name" name="serv_name">
								<span class="help-block"></span>
							</div>
						</div>
						<div class="form-group">
							<label class="col-md-3 control-label">Urutan Service</label>
							<div class="col-md-9">
								<input type="text" disabled class="form-control" id="urutan" name="urutan">
								<span class="help-block"></span>
							</div>
						</div>
						<div class="form-group">
							<label class="col-md-3 control-label">Alasan Reject</label>
							<div class="col-md-9">
								<textarea class="form-control" id="alasan" name="alasan" rows="4"></textarea>
								<span class="help-block"></span>
							</div>
						</div>
					</div>
				</form>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn default" data-dismiss="modal">Close</button>
				<button type="button" class="btn red" onclick="rejectService();return false;">Reject</button>
			</div>
		</div>
		<!-- /.modal-content -->
	</div>
	<!-- /.modal-dialog -->
</div>
<script>
var el = jQuery(".page-content").first();

function actionRequest(me){
var action = $(me).data('action');
var id = $(me).data('id');
var tempid = $(me).data('tempid');

console.log(action);
console.log(id);
$.ajax({
            url:"/prabajax/postform/xxxxid/145",
            content:'json',
            type:'post',
            data:'action='+action+'&id='+id+'&tempid='+tempid,
            beforeSend:function(){
               
						$('body,html').animate({
							scrollTop: el.offset().top
						}, 500);
						//remove style
						$('#messagecontent').removeClass('alert-success');
						$('#messagecontent').removeClass('alert-warning');
						$('#messagecontent').removeClass('alert-danger');
						$('#messagecontent').removeClass('alert-info');
            },
            complete:function(result){
                $('#progressbar').addClass('hidden');
            },
            success: function(data){
			
				if(data.transaction==true){
				//alert("file sudah di upload");
				
				$('#messagecontent').addClass('alert-success');
				$('#alertmsg').html(data.message);
		setTimeout(function(){ document.location.reload(true); }, 3000);
			}else{
				
				$('#messagecontent').addClass('alert-danger');
				$('#alertmsg').html(data.message);
			}
			$('#messagecontent').removeClass('hidden');
			setTimeout(function(){$('#messagecontent').addClass('hidden');},8000);
            },
            error:function(){
               $('#progressbar').addClass('hidden');
				$('#messagecontent').addClass('alert-info');
				$('#messagecontent').html("Failed to upload files!");
				$('#messagecontent').removeClass('hidden');
				setTimeout(function(){$('#messagecontent').addClass('hidden');},4000);
				return false
            }
        });

}

function selectOption(me){

var id = $('#serv_request').val();
//console.log(id);

$.ajax({
            url:"/prabajax/postform/xxxxid/144",
            content:'json',
            type:'post',
            data:'id='+id,
            beforeSend:function(){
               
						$('body,html').animate({
							scrollTop: el.offset().top
						}, 500);
						//remove style
						$('#messagecontent').removeClass('alert-success');
						$('#messagecontent').removeClass('alert-warning');
						$('#messagecontent').removeClass('alert-danger');
						$('#messagecontent').removeClass('alert-info');
            },
            complete:function(result){
                $('#progressbar').addClass('hidden');
            },
            success: function(data){
			
				$('#table').html(data);
            },
            error:function(){
               $('#progressbar').addClass('hidden');
				$('#messagecontent').addClass('alert-info');
				$('#messagecontent').html("Failed to upload files!");
				$('#messagecontent').removeClass('hidden');
				setTimeout(function(){$('#messagecontent').addClass('hidden');},4000);
				return false
            }
        });

}

function selectRow(me){
var id = $(me).data('id');
var kategori = $(me).data('kategori_id');
var nama_kategori = $(me).data('nama_kategori');
var subkategori = $(me).data('subkategori_id');
var nama_subkategori = $(me).data('nama_subkategori');
var serv_name = $(me).data('serv_name');
var urutan = $(me).data('urutan');

$('#kategori').val(kategori);
$('#nama_kategori').val(nama_kategori);
$('#subkategori').val(subkategori);
$('#nama_subkategori').val(nama_subkategori);
$('#serv_name').val(serv_name);
$('#urutan').val(urutan);
$('#idreq').val(id);

$('#mod_title').html('Reject Service :: '+serv_name);
}


function beforesendUpload(){
 //return $('form').validate();

//hide message and progress
$('#messagecontent').addClass('hidden');
//show progress
$('#progressbar').removeClass('hidden');
//scroll to top
$('body,html').animate({
	scrollTop: el.offset().top
}, 500);
//remove style
$('#messagecontent').removeClass('alert-success');
$('#messagecontent').removeClass('alert-warning');
$('#messagecontent').removeClass('alert-danger');
$('#messagecontent').removeClass('alert-info');



if (window.File && window.FileReader && window.FileList && window.Blob){
}else{
	//Error for older unsupported browsers that doesn't support HTML5 File API
	$('#progressbar').addClass('hidden');
	$('#messagecontent').addClass('alert-info');
	$('#messagecontent').html("Please upgrade your browser, because your current browser lacks some new features we need!");
	$('#messagecontent').removeClass('hidden');
	setTimeout(function(){$('#messagecontent').addClass('hidden');},4000);
	return false
}
}

function onprogressUpload(event, position, total, percentComplete){
//Progress bar
$('#processbar4').attr('aria-valuenow',percentComplete)
if(percentComplete>50){
	//$('#statustxt').css('color','#000'); //change status text to white after 50%
}
}

function oncompleteUpload(result){
	$('#progressbar').addClass('hidden');
}

function onerrorUpload(){
	$('#progressbar').addClass('hidden');
	$('#messagecontent').addClass('alert-info');
	$('#messagecontent').html("Failed to upload files!");
	$('#messagecontent').removeClass('hidden');
	setTimeout(function(){$('#messagecontent').addClass('hidden');},4000);
	return false
}

function aftersuccessUpload(data){
		console.log(data);
	
	if(data.transaction==true){
		alert("file sudah di upload");
		
		$('#messagecontent').addClass('alert-success');
		$('#alertmsg').html("<strong>Success!</strong> uploaded");
	}else{
		
		$('#messagecontent').addClass('alert-danger');
		$('#alertmsg').html("<strong>Failed!</strong> uploaded");
	}
	$('#messagecontent').removeClass('hidden');
	setTimeout(function(){$('#messagecontent').addClass('hidden');},8000);
}

function rejectService(){

var data = $('#rejectForm').serialize();
console.log(data);
$.ajax({
            url:"/prabajax/postform/xxxxid/145",
            content:'json',
            type:'post',
            data:data,
            beforeSend:function(){
               
						$('body,html').animate({
							scrollTop: el.offset().top
						}, 500);
						//remove style
						$('#messagecontent').removeClass('alert-success');
						$('#messagecontent').removeClass('alert-warning');
						$('#messagecontent').removeClass('alert-danger');
						$('#messagecontent').removeClass('alert-info');
            },
            complete:function(result){
                $('#progressbar').addClass('hidden');
            },
            success: function(data){
			
				if(data.transaction==true){
				//alert("file sudah di upload");
				
				$('#messagecontent').addClass('alert-success');
				$('#alertmsg').html("<strong>Success!</strong> Reject Service");
		setTimeout(function(){ document.location.reload(true); }, 3000);
						$('#Reject').modal('hide');
			}else{
				
				$('#messagecontent').addClass('alert-danger');
				$('#alertmsg').html("<strong>Failed!</strong>");
			}
			$('#messagecontent').removeClass('hidden');
			//setTimeout(function(){$('#messagecontent').addClass('hidden');},8000);
			//selectOption();
            },
            error:function(){
               $('#progressbar').addClass('hidden');
				$('#messagecontent').addClass('alert-info');
				$('#messagecontent').html("Error!");
				$('#messagecontent').removeClass('hidden');
				setTimeout(function(){$('#messagecontent').addClass('hidden');},4000);
						$('#Reject').modal('hide');
				return false
            }
        });



}
</script>