<?php 
$data =  $this->dataV[$this->datap['content_attrs']['api_id']]['data'];
//Zend_Debug::dump($data);
?>

<div class="col-md-12 ">
	<!-- BEGIN EXAMPLE TABLE PORTLET-->
	<div class="portlet box red">
		<div class="portlet-title">
			<div class="caption">
				<i class="fa fa-user"></i>Master Kategori 
			</div>
			<div class="tools">
				<a href="javascript:;" class="collapse"></a>
				<a href="#portlet-config" data-toggle="modal" class="config"></a>
				<a href="javascript:;" class="reload"></a>                              
			</div>
			<div class="actions">
				<a href="/prabagen/index/page/92" class="edit btn green"><i class="fa fa-plus"></i> Tambah Kategori</a>
				<a href="#" class=""><i class=""></i> </a>
			</div>
		</div>
		<div class="portlet-body">
			<table class="table table-striped table-bordered table-hover" id="table_portlet_107">
				<thead>
					<tr>
						<th> # </th>
						<th> Urutan Kategori </th>
						<th> Nama Kategori </th>
						<th> Aksi </th>
					</tr>
				</thead>
				<tbody>
					<?php
						$i=1;
						foreach ($data as $row) {
					?>
						<tr class="gradeX">
							<td><?php echo $i ;?></td>
							<td><?php echo $row['2']; ?></td>
							<td><?php echo $row['1']; ?></td>
							<td>
								<a class="edit btn blue" data-id='<?php echo $row['0'];?>' href="/prabagen/index/page/94?id_kategori=<?php echo $row['0'];?>" style="padding:5px 10px;font-size:10px">
									<i class="fa fa-pencil"></i> <span>Edit</span>
								</a>
								<a href="#" class="gdel  activate btn red" style="padding:5px 10px;font-size:10px" rel="<?php echo $row['0'];?>">
									<i class="fa fa-trash-o"></i> <span >Delete</span>
								</a>
							</td>
						</tr>
					<?php $i++; } ?>
				</tbody>
			</table>
		</div>
	</div>
	<!-- END EXAMPLE TABLE PORTLET-->
</div>
<script>
jQuery(document).ready(function() {
	$('#table_portlet_107').dataTable({
		"aoColumns": [
		null,null,null,null, 
		],
		"aLengthMenu": [
			[5, 15, 20, -1],
			[5, 15, 20, "All"] // change per page values here
		],
		// set the initial value
		"iDisplayLength": 10,
		"sPaginationType": "bootstrap",
		"oLanguage": {
			"sLengthMenu": "_MENU_ records",
			"oPaginate": {
				"sPrevious": "Prev",
				"sNext": "Next"
			}
		},
		"aoColumnDefs": [{
			'bSortable': false,
			'aTargets': [0]
		}
		]
	});
});
</script>
<script language="javascript" type="text/javascript">
	jQuery(document).ready(function() {
	$(".gdel").click(function(){
		var node=	$(this);
		var vd = node.attr("rel");
		//alert (vd);
		var ans;ans=confirm('Are you sure you want to delete this data?');
		if (ans){
			$('#loader').show();
			postajax(vd);
			alert ('Berhasil di hapus');
			window.location.href = '/prabagen/index/page/82';
		}
	});
	
	tonotify=function( template, vars, opts ){
		return $container.notify("create", template, vars, opts);
	}
	
	postajax= function(id) {
		$.ajax({
			url: "/prabajax/callapi/api/127/?ID="+id,
			dataType: "html",
			beforeSend: function() {
			if(!$("#"+id).hasClass("inprogress")){
				$("#"+id).addClass("inprogress");
			}
			},
			success: function(data) {
				if(data.status=="1") {
					$('#loader').hide();
					$('#row'+id).fadeOut(300);
					$('#bypass').append('<ul id="messages"><li class="ok">'+id+' deleted</li></ul>');
				}else{
					$('#loader').hide();
					$('#bypass').append('<ul id="messages"><li class="warning">ada masalah dalam penghapusan</li></ul>');
				}
			},
			timeout:9000,
			error:function(){
				$('#loader').hide();
				tonotify("themeroller", { title:'', text:'Ajax Error' },{custom: true,expires: false});
			}
		});
	}
});
</script>