<?php 

#Zend_Debug::dump($this->dataV[115][data]);

?>
    

<div class="col-md-12 ">
                    <!-- BEGIN EXAMPLE TABLE PORTLET-->
                    <div class="portlet box green">
                        <div class="portlet-title">
                            <div class="caption">
                                <i class="fa fa-user"></i>Aplikasi Retired                            </div>
                            
                            <div class="tools">
                                <a href="javascript:;" class="collapse"></a><a href="#portlet-config" data-toggle="modal" class="config"></a><a href="javascript:;" class="reload"></a><a href="javascript:;" ></a>                                
                            
                            </div>
                            <div class="actions">
                                                                <a href="#" class=""><i class=""></i> </a>
                                
                                                            </div>
                        </div>
                        <div class="portlet-body">

                            <table class="table table-striped table-bordered table-hover" id="table_portlet_111">
                            <thead>
                            <tr>
                                
                                <th> # </th><th> Nama Kategori </th><th> Sub Kategori </th><th> Service Name </th><th> Status </th>                            
                            
                            
                            </tr>
                            </thead>
                            <tbody>
                                
                                
                            <?php 
                            $i=1;
                            foreach ($this->dataV[115][data] as $v) {
                            
                            ?>    
                                
                            <tr class="gradeX">
                                                                 
                                <td><?php echo $i ;?></td>                                
                                <td><?php echo $v['1'] ;?></td>                
                                <td><?php echo $v['2'] ;?></td>               
                                <td><a href="/prabagen/index/page/90/xin/ID:<?php echo $v['0']; ?>"><?php echo $v['3'] ;?></a></td>
                                <td><?php echo $v['4'] ;?></td>               
                                                           
                            </tr>
                                
                                
                              <?php 
                               $i++;
                              } ?>  
                                
                            </tbody>
                            </table>
                        </div>
                    </div>
                    <!-- END EXAMPLE TABLE PORTLET-->
                </div>
<script>
    
jQuery(document).ready(function() {



 $('#table_portlet_111').dataTable({
                "aoColumns": [
                    null,null,null,null,null,                    
                    
                
                ],
                "aLengthMenu": [
                    [5, 15, 20, -1],
                    [5, 15, 20, "All"] // change per page values here
                ],
                // set the initial value
                "iDisplayLength": 10,
                "sPaginationType": "bootstrap",
                "oLanguage": {
                    "sLengthMenu": "_MENU_ records",
                    "oPaginate": {
                        "sPrevious": "Prev",
                        "sNext": "Next"
                    }
                },
                "aoColumnDefs": [{
                        'bSortable': false,
                        'aTargets': [0]
                    }
                ]
            });        
         

});
</script>
