<?php
	$data =  $this->dataV[$this->datap['content_attrs']['api_id']]['data'];
	$zdata= new Itsd_Model_Review();
	$datas= $zdata->getdatareview(); 
	//Zend_Debug::dump($datas);
?>
<div class="col-md-12 ">
	<!-- BEGIN EXAMPLE TABLE PORTLET-->
	<div class="portlet box red">
		<div class="portlet-title">
			<div class="caption">
				<i class="fa fa-user"></i>Review
			</div>
			<div class="tools">
				<a href="#portlet-config" data-toggle="modal" class="config"></a><a href="javascript:;" class="reload"></a>
			</div>
			<div class="actions">
				<a href="#" class=""><i class=""></i> </a>
			</div>
		</div>
		<div class="portlet-body">
			<table class="table table-striped table-bordered table-hover" id="table_portlet_143">
				<thead>
					<tr>
						<th> # </th>
						<th> Service Name </th>
						<th> Application Owner </th>
						<th> Bussines Process Owner </th>
						<th> Unit Support </th>
						<th> Action </th>
					</tr>
				</thead>
			<tbody>
				<?php
					
					$i=1;
					foreach ($datas as $row) {
				?>
					<tr class="gradeX">
						<td><?php echo $i ;?></td>
						<td><?php echo $row['nama_refnumber']; ?></td>
						<td><?php echo $row['ao']; ?></td>
						<td><?php echo $row['bpo']; ?></td>
						<td><?php echo $row['unit_support']; ?></td>
						<td>
							<a href="#" class="activate btn blue" style="padding:5px 10px;font-size:10px" onclick="reviewitem(<?php echo $row['id_refnumber'];?>)">
								<span>Review</span>
							</a>
						</td>
					</tr>
				<?php $i++; } ?>
			</tbody>
			</table>
		</div>
	</div>
	<!-- END EXAMPLE TABLE PORTLET-->
</div>
<script>
    
jQuery(document).ready(function() {



 $('#table_portlet_143').dataTable({
                "aoColumns": [
                    null,null,null,null,null,null,
                    
                
                ],
                "aLengthMenu": [
                    [5, 15, 20, -1],
                    [5, 15, 20, "All"] // change per page values here
                ],
                // set the initial value
                "iDisplayLength": 10,
                "sPaginationType": "bootstrap",
                "oLanguage": {
                    "sLengthMenu": "_MENU_ records",
                    "oPaginate": {
                        "sPrevious": "Prev",
                        "sNext": "Next"
                    }
                },
                "aoColumnDefs": [{
                        'bSortable': false,
                        'aTargets': [0]
                    }
                ]
            });        
         

});
</script>
<script language="javascript" type="text/javascript">
	function reviewitem(vara) {
	  //alert(vara);
	if (confirm("Yakin Untuk Mereview?")) {
	
    $.ajax({
			url: "/prabajax/callapi/api/168/ID/"+vara,
			dataType: "html",	
			beforeSend: function() {
			   
			},
			success: function(data) {
					//alert("sukses");
					 //  $('.categoryselect').html(data);
				 location.reload();
			},
		  
			timeout:9000,
			error:function(){
					
			},
		});
    
    }
    return false;
}
</script>