<div class="col-md-8 ">
	<!-- BEGIN EXAMPLE TABLE PORTLET-->
	<div class="portlet box red">
		<div class="portlet-title">
			<div class="caption">
				<i class="fa fa-user"></i>Tambah Service
			</div>
			
			<div class="tools">
				<a href="javascript:;" class="collapse"></a>
				<a href="#portlet-config" data-toggle="modal" class="config"></a>
				<a href="javascript:;" class="reload"></a>                                
			</div>
			<div class="actions">
				<a href="#" class=""><i class=""></i> </a>
			</div>
		</div>
		<?php
			$authAdapter = Zend_Auth::getInstance();
			
			$usr = $authAdapter->getIdentity();
			
			$get = new Itsd_Model_Service();
			//die("s");
			$getkategori = $get->getkategori();
			//Zend_Debug::dump($get);
			//Zend_Debug::dump($usr->uid);
		?>
		<div class="portlet-body form">
			<form name="tambahservice" id="tambahservice" class="tambahservice">
				<input type="hidden" value="" name="xxxxid">
				<input type="hidden" value="<?php echo $usr->uid; ?>" name="uid">
				<input type="hidden" value="<?php echo $usr->mainrole; ?>" name="main_role">
				<div class="form-body">
					<div class="form-group">
						<label for="kategori">Kategori</label>
						<select name="kategori" placeholder="" onchange="selectFunc(this);" id="kategori" class="form-control">
							<option>--Pilih Kategori--</option>
							<?php foreach ($getkategori as $row) {
									$sql ="";
									if($row['id_kategori']==$awal['data']['id_kategori']){
										$sel = "selected";
										}
									echo '<option '.$sel.' value="'.$row['id_kategori'].'">'.$row['nama_kategori'].'</option>';
								}
							?>
						</select>
						<span class="help-block"></span>
					</div>
					<div class="form-group">
						<label for="subkategori">Sub Kategori</label>
						<div class="input-group subcategoryselect">
							<select name="subkategori" placeholder="subkategori" id="isicombo" class="form-control ">
							
							</select>
						</div>
						<span class="help-block"></span>
					</div>
					<div class="form-group">
						<label for="subkategori">Nama Service</label>
						<input type="text" name="nservice" placeholder="Nama Service" id="nservice" class="form-control   " value="">
						<span class="help-block"></span>
					</div>
					<button type="submit" class="btn green">Tambah</button>
					<a href="/prabagen/index/page/91" class="activate btn red">Batal</a>
				</div>
			</form>

			<script>

			jQuery(document).ready(function() {

			var Functtambahservice = function () {
			var handleAdd = function() {

			var formtambahservice = $('#tambahservice');
			var error1 = $('.alert-danger', formtambahservice);
			var success1 = $('.alert-success', formtambahservice);

			formtambahservice.validate({
			errorElement: 'span', //default input error message container
			errorClass: 'help-block', // default input error message class
			focusInvalid: false, // do not focus the last invalid input
			ignore: "",
			rules: {

			kategori: {
			required :true
			},subkategori: {
			required :true
			},nservice: {
			required :true
			},                },

			invalidHandler: function (event, validator) { //display error alert on form submit              
			success1.hide();
			error1.show();
			App.scrollTo(error1, -200);
			},

			highlight: function (element) { // hightlight error inputs
			$(element)
			.closest('.form-group').addClass('has-error'); // set error class to the control group
			},

			unhighlight: function (element) { // revert the change done by hightlight
			$(element)
			.closest('.form-group').removeClass('has-error'); // set error class to the control group
			},

			success: function (label) {
			label
			.closest('.form-group').removeClass('has-error'); // set success class to the control group
			},

			submitHandler: function (form) {
			success1.show();
			error1.hide();
			submitForm();
			return false;
			}
			});
			}

			var submitForm = function(){

			var data = $('form#tambahservice');

			//alert("s");
			$.ajax({
			url:"/prabajax/postform/xxxxid/143",
			content:'json',
			type:'post',
			data:data.serialize(),
			beforeSend:function(){
			$('#alertinfo').addClass('hidden');
			$('#processbar').removeClass('hidden');
			$('html,body').animate({
			scrollTop: $('h3.page-title').offset().top
			}, 800);
			$('#alertinfo').removeClass('alert-success');
			$('#alertinfo').removeClass('alert-warning');
			$('#alertinfo').removeClass('alert-danger');
			$('#alertinfo').removeClass('alert-info');
			},
			complete:function(result){
			//alert("done");
			$('#processbar').addClass('hidden');
			},
			success: function(data){
			//alert("ok");
			console.log(data);
			if(data.transaction!=undefined){
			if(data.transaction==true){

			$('#alertinfo').addClass('alert-success');
			$('#alertmsg').html("<strong>Success!</strong> ");
			window.location.href ='/prabagen/index/page/91';
			}else{

			$('#alertinfo').addClass('alert-warning');
			$('#alertmsg').html("<strong>Failed!</strong> "+data.message);
			}
			}else{

			$('#alertinfo').addClass('alert-info');
			$('#alertmsg').html("<strong>Error!</strong> System is busy, please try again.");
			}
			$('#alertinfo').removeClass('hidden');
			},
			error:function(){
			//alert("not");
			$('#alertinfo').addClass('alert-info');
			$('#alertmsg').html("<strong>Error!</strong> System is busy, please try again.");
			$('#alertinfo').removeClass('hidden');
			}
			});
			}

			return {
			//main function to initiate the module
			init: function () {
			handleAdd();
			}

			};

			}();
			Functtambahservice.init();

			});
			</script>
			<script  language="javascript">
				var el = jQuery(".page-content").first();

				function selectFunc(me){

				var kategori = $('#kategori').val();
				//alert(kategori);
				$.ajax({
							url:"/prabajax/postform/xxxxid/149",
							content:'json',
							type:'post',
							data:'kategori='+kategori,
							beforeSend:function(){
							   
										$('body,html').animate({
											scrollTop: el.offset().top
										}, 500);
										//remove style
										$('#messagecontent').removeClass('alert-success');
										$('#messagecontent').removeClass('alert-warning');
										$('#messagecontent').removeClass('alert-danger');
										$('#messagecontent').removeClass('alert-info');
							},
							complete:function(result){
								$('#progressbar').addClass('hidden');
							},
							success: function(data){
							
								$('#isicombo').html(data);
							},
							error:function(){
							   $('#progressbar').addClass('hidden');
								$('#messagecontent').addClass('alert-info');
								$('#messagecontent').html("Failed to upload files!");
								$('#messagecontent').removeClass('hidden');
								setTimeout(function(){$('#messagecontent').addClass('hidden');},4000);
								return false
							}
						});
				}
			</script>
		</div>
	</div>
	<!-- END EXAMPLE TABLE PORTLET-->
</div>
