<div class="col-md-8 ">
	<!-- BEGIN EXAMPLE TABLE PORTLET-->
	<div class="portlet box red">
		<div class="portlet-title">
			<div class="caption">
				<i class="fa fa-user"></i>Tambah Role
			</div>
			<div class="tools">
				<a href="javascript:;" class="collapse"></a>
				<a href="#portlet-config" data-toggle="modal" class="config"></a>
				<a href="javascript:;" class="reload"></a>                                
			</div>
			<div class="actions">
				<a href="#" class=""><i class=""></i> </a>
			</div>
		</div>
		<div class="portlet-body form">
			<form id="tambahrole" class="tambahrole">
				<input type="hidden" value="" name="xxxxid">
				<div class="form-body">
					<div class="form-group">
						<label for="groupname">Group Name</label>
						<input type="text" name="groupname" placeholder="" id="groupname" class="form-control   " value="">
						<span class="help-block"></span>
					</div>
					<div class="form-group">
						<label for="desc">Description</label>
						<input type="text" name="desc" placeholder="" id="desc" class="form-control   " value="">
						<span class="help-block"></span>
					</div>
					<button type="submit" class="btn green">Tambah</button>
					<a href="/prabagen/index/page/109" class="activate btn red">Batal</a>
				</div>
			</form>

			<script>
				jQuery(document).ready(function() {

				var Functtambahrole = function () {
				var handleAdd = function() {

				var formtambahrole = $('#tambahrole');
				var error1 = $('.alert-danger', formtambahrole);
				var success1 = $('.alert-success', formtambahrole);

				formtambahrole.validate({
				errorElement: 'span', //default input error message container
				errorClass: 'help-block', // default input error message class
				focusInvalid: false, // do not focus the last invalid input
				ignore: "",
				rules: {
					
					groupname: {
						required :true
					},desc: {
						required :true
					},                },

				invalidHandler: function (event, validator) { //display error alert on form submit              
					success1.hide();
					error1.show();
					App.scrollTo(error1, -200);
				},

				highlight: function (element) { // hightlight error inputs
					$(element)
						.closest('.form-group').addClass('has-error'); // set error class to the control group
				},

				unhighlight: function (element) { // revert the change done by hightlight
					$(element)
						.closest('.form-group').removeClass('has-error'); // set error class to the control group
				},

				success: function (label) {
					label
						.closest('.form-group').removeClass('has-error'); // set success class to the control group
				},

				submitHandler: function (form) {
					success1.show();
					error1.hide();
					   submitForm();
					return false;
				}
				});
				}

				var submitForm = function(){

				var data = $('form#tambahrole');

				//alert("s");
				$.ajax({
				url:"/prabajax/postform/xxxxid/161",
				content:'json',
				type:'post',
				data:data.serialize(),
				beforeSend:function(){
				$('#alertinfo').addClass('hidden');
				$('#processbar').removeClass('hidden');
				$('html,body').animate({
					scrollTop: $('h3.page-title').offset().top
				}, 800);
				$('#alertinfo').removeClass('alert-success');
				$('#alertinfo').removeClass('alert-warning');
				$('#alertinfo').removeClass('alert-danger');
				$('#alertinfo').removeClass('alert-info');
				},
				complete:function(result){
					//alert("done");
				$('#processbar').addClass('hidden');
				},
				success: function(data){
				//alert("ok");
				console.log(data);
				if(data.transaction!=undefined){
					if(data.transaction==true){
					
						$('#alertinfo').addClass('alert-success');
						$('#alertmsg').html("<strong>Success!</strong> ");
						window.location.href ='/prabagen/index/page/109';
					}else{
						
						$('#alertinfo').addClass('alert-warning');
						$('#alertmsg').html("<strong>Failed!</strong> "+data.message);
					}
				}else{
						
					$('#alertinfo').addClass('alert-info');
					$('#alertmsg').html("<strong>Error!</strong> System is busy, please try again.");
				}
				$('#alertinfo').removeClass('hidden');
				},
				error:function(){
				//alert("not");
				$('#alertinfo').addClass('alert-info');
				$('#alertmsg').html("<strong>Error!</strong> System is busy, please try again.");
				$('#alertinfo').removeClass('hidden');
				}
				});
				}

				return {
				//main function to initiate the module
				init: function () {
				handleAdd();
				}

				};

				}();
				Functtambahrole.init();

				});
			</script>
		</div>
	</div>
	<!-- END EXAMPLE TABLE PORTLET-->
</div>