<?php

var_dump($this->dataV);

?>

<div class="portlet solid bordered light-grey">
						<div class="portlet-title">
							<div class="caption">
								<i class="fa fa-bar-chart-o"></i>Site Visits
							</div>
							<div class="tools">
								<div class="btn-group" data-toggle="buttons">
									<label class="btn default btn-sm active">
									<input type="radio" name="options" class="toggle" id="option1">Users </label>
									<label class="btn default btn-sm">
									<input type="radio" name="options" class="toggle" id="option2">Feedbacks </label>
								</div>
							</div>
						</div>
						<div class="portlet-body">
							<div id="site_statistics_loading" style="display: none;">
								<img src="assets/img/loading.gif" alt="loading">
							</div>
							<div id="site_statistics_content" class="display-none" style="display: block;">
								<div id="site_statistics" class="chart" style="padding: 0px; position: relative;">
								<canvas class="flot-base" width="489" height="330" style="direction: ltr; position: absolute; left: 0px; top: 0px; width: 445px; height: 300px;"></canvas><div class="flot-text" style="position: absolute; top: 0px; left: 0px; bottom: 0px; right: 0px; font-size: smaller; color: rgb(84, 84, 84);"><div class="flot-x-axis flot-x1-axis xAxis x1Axis" style="position: absolute; top: 0px; left: 0px; bottom: 0px; right: 0px; display: block;"><div class="flot-tick-label tickLabel" style="position: absolute; max-width: 27px; top: 285px; left: 34px; text-align: center;">2</div><div class="flot-tick-label tickLabel" style="position: absolute; max-width: 27px; top: 285px; left: 63px; text-align: center;">4</div><div class="flot-tick-label tickLabel" style="position: absolute; max-width: 27px; top: 285px; left: 91px; text-align: center;">6</div><div class="flot-tick-label tickLabel" style="position: absolute; max-width: 27px; top: 285px; left: 120px; text-align: center;">8</div><div class="flot-tick-label tickLabel" style="position: absolute; max-width: 27px; top: 285px; left: 145px; text-align: center;">10</div><div class="flot-tick-label tickLabel" style="position: absolute; max-width: 27px; top: 285px; left: 174px; text-align: center;">12</div><div class="flot-tick-label tickLabel" style="position: absolute; max-width: 27px; top: 285px; left: 203px; text-align: center;">14</div><div class="flot-tick-label tickLabel" style="position: absolute; max-width: 27px; top: 285px; left: 231px; text-align: center;">16</div><div class="flot-tick-label tickLabel" style="position: absolute; max-width: 27px; top: 285px; left: 260px; text-align: center;">18</div><div class="flot-tick-label tickLabel" style="position: absolute; max-width: 27px; top: 285px; left: 288px; text-align: center;">20</div><div class="flot-tick-label tickLabel" style="position: absolute; max-width: 27px; top: 285px; left: 317px; text-align: center;">22</div><div class="flot-tick-label tickLabel" style="position: absolute; max-width: 27px; top: 285px; left: 345px; text-align: center;">24</div><div class="flot-tick-label tickLabel" style="position: absolute; max-width: 27px; top: 285px; left: 374px; text-align: center;">26</div><div class="flot-tick-label tickLabel" style="position: absolute; max-width: 27px; top: 285px; left: 402px; text-align: center;">28</div><div class="flot-tick-label tickLabel" style="position: absolute; max-width: 27px; top: 285px; left: 431px; text-align: center;">30</div></div><div class="flot-y-axis flot-y1-axis yAxis y1Axis" style="position: absolute; top: 0px; left: 0px; bottom: 0px; right: 0px; display: block;"><div class="flot-tick-label tickLabel" style="position: absolute; top: 273px; left: 12px; text-align: right;">0</div><div class="flot-tick-label tickLabel" style="position: absolute; top: 252px; left: 6px; text-align: right;">10</div><div class="flot-tick-label tickLabel" style="position: absolute; top: 231px; left: 6px; text-align: right;">20</div><div class="flot-tick-label tickLabel" style="position: absolute; top: 210px; left: 6px; text-align: right;">30</div><div class="flot-tick-label tickLabel" style="position: absolute; top: 189px; left: 6px; text-align: right;">40</div><div class="flot-tick-label tickLabel" style="position: absolute; top: 168px; left: 6px; text-align: right;">50</div><div class="flot-tick-label tickLabel" style="position: absolute; top: 147px; left: 6px; text-align: right;">60</div><div class="flot-tick-label tickLabel" style="position: absolute; top: 126px; left: 6px; text-align: right;">70</div><div class="flot-tick-label tickLabel" style="position: absolute; top: 105px; left: 6px; text-align: right;">80</div><div class="flot-tick-label tickLabel" style="position: absolute; top: 84px; left: 6px; text-align: right;">90</div><div class="flot-tick-label tickLabel" style="position: absolute; top: 63px; left: 0px; text-align: right;">100</div><div class="flot-tick-label tickLabel" style="position: absolute; top: 42px; left: 0px; text-align: right;">110</div><div class="flot-tick-label tickLabel" style="position: absolute; top: 21px; left: 0px; text-align: right;">120</div><div class="flot-tick-label tickLabel" style="position: absolute; top: 1px; left: 0px; text-align: right;">130</div></div></div><canvas class="flot-overlay" width="489" height="330" style="direction: ltr; position: absolute; left: 0px; top: 0px; width: 445px; height: 300px;"></canvas><div class="legend"><div style="position: absolute; width: 81px; height: 35px; top: 13px; right: 13px; opacity: 0.85; background-color: rgb(255, 255, 255);"> </div><table style="position:absolute;top:13px;right:13px;;font-size:smaller;color:#545454"><tbody><tr><td class="legendColorBox"><div style="border:1px solid #ccc;padding:1px"><div style="width:4px;height:0;border:5px solid rgb(209,38,16);overflow:hidden"></div></div></td><td class="legendLabel">Unique Visits</td></tr><tr><td class="legendColorBox"><div style="border:1px solid #ccc;padding:1px"><div style="width:4px;height:0;border:5px solid rgb(55,183,243);overflow:hidden"></div></div></td><td class="legendLabel">Page Views</td></tr></tbody></table></div></div>
							</div>
						</div>
					</div>
