<div class="col-md-8 ">
	<!-- BEGIN EXAMPLE TABLE PORTLET-->
	<div class="portlet box red">
		<div class="portlet-title">
			<div class="caption">
				<i class="fa fa-user"></i>Edit User
			</div>
			<div class="tools">
				<a href="javascript:;" class="collapse"></a>
				<a href="#portlet-config" data-toggle="modal" class="config"></a>
				<a href="javascript:;" class="reload"></a>                                
			</div>
			<div class="actions">
				<a href="#" class=""><i class=""></i> </a>
			</div>
		</div>
		<?php
			$idus=$_GET['id_user'];
			$get = new Itsd_Model_User();
			$getdata = $get->getuser($idus);
			$getgroup = $get->getgroup();
			$getunitsup = $get->getunitsup();
			//Zend_Debug::dump($getdata);
		?>
		<div class="portlet-body form">
			<form id="edituser" class="edituser">
				<input type="hidden" value="<?php echo $getdata[0][NIK];?>" name="xxxxid">
				<div class="form-body">
					<input type="hidden" name="iduse" value="<?php echo $getdata[0][user_id];?>" />
					<div class="form-group">
						<label for="namauser">Nama User</label>
						<input type="text" name="namauser" placeholder="" id="namauser" class="form-control   " value="<?php echo $getdata[0][name];?>">
						<span class="help-block"></span>
					</div>
					<div class="form-group">
						<label for="email">E-mail</label>
						<input type="text" name="email" placeholder="" id="email" class="form-control   " value="<?php echo $getdata[0][email];?>">
						<span class="help-block"></span>
					</div>
					<div class="form-group">
						<label for="telepon">Telepon</label>
						<input type="text" name="telepon" placeholder="" id="telepon" class="form-control   " value="<?php echo $getdata[0][telepon];?>">
						<span class="help-block"></span>
					</div>
					<div class="form-group">
						<label for="pass1">Password</label>
						<input type="password" name="pass1" placeholder="" id="pass1" class="form-control   " value="<?php echo base64_decode($getdata[0][password]);?>">
						<span class="help-block"></span>
					</div>
					<div class="form-group">
						<label for="pass2">Retype Password</label>
						<input type="password" name="pass2" placeholder="" id="pass2" class="form-control   " value="<?php echo base64_decode($getdata[0][password]);?>">
						<span class="help-block"></span>
					</div>
				
					<div class="form-group">
						<label for="nik">NIK</label>
						<input type="text" name="nik" placeholder="" id="nik" class="form-control   " value="<?php echo $getdata[0][NIK];?>" disabled>
						<span class="help-block"></span>
					</div>
					<div class="form-group">
						<label for="isldap">LDAP</label>
						<div class="make-switch" data-on="success" data-off="danger" style="display:block">
							<input id="isldap" type="radio" name="isldap" value="isldap" class="toggle" <?php echo ($this->data['isldap']=='1'?'checked':'') ?>>
						</div>
					</div>
					<div class="form-group">
						<label for="hakakses">Hak Akses</label>
						<select name="hakakses" placeholder="" id="hakakses" class="form-control  ">
							<option value="<?php echo $getdata[0][group_id];?>"><?php echo $getdata[0][nama_group];?></option>
							<?php foreach($getgroup as $row){?>
								<option value="<?php echo $row['id_group']; ?>"><?php echo $row['nama_group']; ?></option>
							<?php } ?>
						</select>
						<span class="help-block"></span>
					</div>
					<div class="form-group">
						<label for="unitsupport">Unit Support</label>
						<select name="unitsupport" placeholder="" id="unitsupport" class="form-control  ">
							<option value="<?php echo $getdata[0][unit_support];?>"><?php echo $getdata[0][unit_support];?></option>
							<?php foreach($getunitsup as $row2){?>
								<option value="<?php echo $row2['unit_support']; ?>"><?php echo $row2['unit_support']; ?></option>
							<?php } ?>
						</select>
						<span class="help-block"></span>
					</div>
					<button type="submit" class="btn green">Ubah</button>
					<a href="/prabagen/index/page/83" class="activate btn red">Batal</a>
				</div>    
			</form>

			<script>

			jQuery(document).ready(function() {

			var Functedituser = function () {
			var handleAdd = function() {

			var formedituser = $('#edituser');
			var error1 = $('.alert-danger', formedituser);
			var success1 = $('.alert-success', formedituser);

			formedituser.validate({
			errorElement: 'span', //default input error message container
			errorClass: 'help-block', // default input error message class
			focusInvalid: false, // do not focus the last invalid input
			ignore: "",
			rules: {

			namauser: {
			required :true
			},email: {
			required :true
			},telepon: {			},pass1: {
			required :true
			},pass2: {
			required :true
			},nik: {
			required :true
			},hakakses: {
			required :true
			},unitsupport: {
			required :true
			},                },

			invalidHandler: function (event, validator) { //display error alert on form submit              
			success1.hide();
			error1.show();
			App.scrollTo(error1, -200);
			},

			highlight: function (element) { // hightlight error inputs
			$(element)
			.closest('.form-group').addClass('has-error'); // set error class to the control group
			},

			unhighlight: function (element) { // revert the change done by hightlight
			$(element)
			.closest('.form-group').removeClass('has-error'); // set error class to the control group
			},

			success: function (label) {
			label
			.closest('.form-group').removeClass('has-error'); // set success class to the control group
			},

			submitHandler: function (form) {
			success1.show();
			error1.hide();
			submitForm();
			return false;
			}
			});
			}

			var submitForm = function(){

			var data = $('form#edituser');

			//alert("s");
			$.ajax({
			url:"/prabajax/postform/xxxxid/159",
			content:'json',
			type:'post',
			data:data.serialize(),
			beforeSend:function(){
			console.log(data.serialize);
			$('#alertinfo').addClass('hidden');
			$('#processbar').removeClass('hidden');
			$('html,body').animate({
			scrollTop: $('h3.page-title').offset().top
			}, 800);
			$('#alertinfo').removeClass('alert-success');
			$('#alertinfo').removeClass('alert-warning');
			$('#alertinfo').removeClass('alert-danger');
			$('#alertinfo').removeClass('alert-info');
			},
			complete:function(result){
			alert("done");
			$('#processbar').addClass('hidden');
			},
			success: function(data){
			alert("ok");
			//console.log(data.serialize);
			if(data.transaction!=undefined){
			if(data.transaction==true){

			$('#alertinfo').addClass('alert-success');
			window.location.href ='/prabagen/index/page/83';
			$('#alertmsg').html("<strong>Success!</strong> ");
			}else{

			$('#alertinfo').addClass('alert-warning');
			$('#alertmsg').html("<strong>Failed!</strong> "+data.message);
			}
			}else{

			$('#alertinfo').addClass('alert-info');
			$('#alertmsg').html("<strong>Error!</strong> System is busy, please try again.");
			}
			$('#alertinfo').removeClass('hidden');
			},
			error:function(){
			//alert("not");
			$('#alertinfo').addClass('alert-info');
			$('#alertmsg').html("<strong>Error!</strong> System is busy, please try again.");
			$('#alertinfo').removeClass('hidden');
			}
			});
			}

			return {
			//main function to initiate the module
			init: function () {
			handleAdd();
			}

			};

			}();
			Functedituser.init();

			});
			</script>
				</div>
	</div>
	<!-- END EXAMPLE TABLE PORTLET-->
</div>