<div class="col-md-8 ">
	<!-- BEGIN EXAMPLE TABLE PORTLET-->
	<div class="portlet box red">
		<div class="portlet-title">
			<div class="caption">
				<i class="fa fa-user"></i>Ubah Service
			</div>
			<div class="tools">
				<a href="javascript:;" class="collapse"></a>
				<a href="#portlet-config" data-toggle="modal" class="config"></a>
				<a href="javascript:;" class="reload"></a>                                
			</div>
			<div class="actions">
				<a href="#" class=""><i class=""></i> </a>
			</div>
		</div>
		<?php
			$idusa=$_GET['id_refnumber'];
			$get = new Itsd_Model_Service();
			$getkategori = $get->getkategori();
			$getkategori2 = $get->getkategori2($idusa);
			$getsubkategori2 = $get->getsubkategori2($idusa);
			//Zend_Debug::dump($getsubkategori2);
		?>
		<div class="portlet-body form">
			<form id="ubahservice" class="ubahservice">
				<input value="" name="xxxxid" type="hidden">
				<div class="form-body">
					<input name="id_ref" id="id_ref" class="form-control   " value="<?php echo $idusa;?>" type="text">
					<div class="form-group">
						<label for="nkategori">Kategori</label>
						<select name="nkategori" placeholder="" id="kategori" onchange="selectFunc(this);" class="form-control  ">
							<option value="<?php echo $getkategori2[0][id_kategori];?>"><?php echo $getkategori2[0][nama_kategori];?></option>
							<?php foreach($getkategori as $row){?>
									<option value="<?php echo $row['id_kategori']; ?>"><?php echo $row['nama_kategori']; ?></option>
							<?php } ?>
						</select>
						<span class="help-block"></span>
					</div>
					<div class="form-group">
						<label for="nsubkategori">Sub Kategori</label>
						<select name="nsubkategori" placeholder="" id="isicombo" class="form-control  ">
							<option value="<?php echo $getsubkategori2[0][id_subkategori];?>"><?php echo $getsubkategori2[0][nama_subkategori];?></option>
						</select>
						<span class="help-block"></span>
					</div>
					<div class="form-group">
						<label for="nservice">Nama Service</label>
						<input name="nservice" placeholder="" id="nservice" class="form-control   " value="<?php echo $getkategori2[0][nama_refnumber];?>" type="text">
						<span class="help-block"></span>
					</div>
					<div class="form-group">
						<label for="uservice">Urutan Service</label>
						<input name="uservice" placeholder="" id="uservice" class="form-control   " value="<?php echo $getkategori2[0][urutan_refnumber];?>" type="text">
						<span class="help-block"></span>
					</div>
					<button type="submit" class="btn green">Ubah</button>
					<a href="/prabagen/index/page/91" class="activate btn red">Batal</a>
			</form>

			<script>
				jQuery(document).ready(function() {

				var Functubahservice = function () {
				var handleAdd = function() {

				var formubahservice = $('#ubahservice');
				var error1 = $('.alert-danger', formubahservice);
				var success1 = $('.alert-success', formubahservice);

				formubahservice.validate({
				errorElement: 'span', //default input error message container
				errorClass: 'help-block', // default input error message class
				focusInvalid: false, // do not focus the last invalid input
				ignore: "",
				rules: {

				nkategori: {
				required :true
				},nsubkategori: {
				required :true
				},nservice: {
				required :true
				},uservice: {
				required :true
				},                },

				invalidHandler: function (event, validator) { //display error alert on form submit              
				success1.hide();
				error1.show();
				App.scrollTo(error1, -200);
				},

				highlight: function (element) { // hightlight error inputs
				$(element)
				.closest('.form-group').addClass('has-error'); // set error class to the control group
				},

				unhighlight: function (element) { // revert the change done by hightlight
				$(element)
				.closest('.form-group').removeClass('has-error'); // set error class to the control group
				},

				success: function (label) {
				label
				.closest('.form-group').removeClass('has-error'); // set success class to the control group
				},

				submitHandler: function (form) {
				success1.show();
				error1.hide();
				submitForm();
				return false;
				}
				});
				}

				var submitForm = function(){

				var data = $('form#ubahservice');

				//alert("s");
				$.ajax({
				url:"/prabajax/postform/xxxxid/151",
				content:'json',
				type:'post',
				data:data.serialize(),
				beforeSend:function(){
				$('#alertinfo').addClass('hidden');
				$('#processbar').removeClass('hidden');
				$('html,body').animate({
				scrollTop: $('h3.page-title').offset().top
				}, 800);
				$('#alertinfo').removeClass('alert-success');
				$('#alertinfo').removeClass('alert-warning');
				$('#alertinfo').removeClass('alert-danger');
				$('#alertinfo').removeClass('alert-info');
				},
				complete:function(result){
				//alert("done");
				$('#processbar').addClass('hidden');
				},
				success: function(data){
				//alert("ok");
				console.log(data);
				if(data.transaction!=undefined){
				if(data.transaction==true){

				$('#alertinfo').addClass('alert-success');
				$('#alertmsg').html("<strong>Success!</strong> ");
				}else{

				$('#alertinfo').addClass('alert-warning');
				$('#alertmsg').html("<strong>Failed!</strong> "+data.message);
				}
				}else{

				$('#alertinfo').addClass('alert-info');
				$('#alertmsg').html("<strong>Error!</strong> System is busy, please try again.");
				}
				$('#alertinfo').removeClass('hidden');
				},
				error:function(){
				//alert("not");
				$('#alertinfo').addClass('alert-info');
				$('#alertmsg').html("<strong>Error!</strong> System is busy, please try again.");
				$('#alertinfo').removeClass('hidden');
				}
				});
				}

				return {
				//main function to initiate the module
				init: function () {
				handleAdd();
				}

				};

				}();
				Functubahservice.init();

				});
			</script>
			<script  language="javascript">
				var el = jQuery(".page-content").first();

				function selectFunc(me){

				var kategori = $('#kategori').val();
				//alert(kategori);
				$.ajax({
							url:"/prabajax/postform/xxxxid/149",
							content:'json',
							type:'post',
							data:'kategori='+kategori,
							beforeSend:function(){
							   
										$('body,html').animate({
											scrollTop: el.offset().top
										}, 500);
										//remove style
										$('#messagecontent').removeClass('alert-success');
										$('#messagecontent').removeClass('alert-warning');
										$('#messagecontent').removeClass('alert-danger');
										$('#messagecontent').removeClass('alert-info');
							},
							complete:function(result){
								$('#progressbar').addClass('hidden');
							},
							success: function(data){
							
								$('#isicombo').html(data);
							},
							error:function(){
							   $('#progressbar').addClass('hidden');
								$('#messagecontent').addClass('alert-info');
								$('#messagecontent').html("Failed to upload files!");
								$('#messagecontent').removeClass('hidden');
								setTimeout(function(){$('#messagecontent').addClass('hidden');},4000);
								return false
							}
						});
				}
			</script>
		</div>
	</div>
	<!-- END EXAMPLE TABLE PORTLET-->
</div>