<div class="col-md-8 ">
	<!-- BEGIN EXAMPLE TABLE PORTLET-->
	<div class="portlet box red">
		<div class="portlet-title">
			<div class="caption">
				<i class="fa fa-user"></i>Ubah Sub Kategori
			</div>
			<div class="tools">
				<a href="javascript:;" class="collapse"></a>
				<a href="#portlet-config" data-toggle="modal" class="config"></a>
				<a href="javascript:;" class="reload"></a>                                
			</div>
			<div class="actions">
				<a href="#" class=""><i class=""></i> </a>
			</div>
		</div>
		<?php
			$idus=$_GET['id_subkategori'];
			$get = new Itsd_Model_Subkategori();
			$getsubkategori = $get->getsubkategori($idus);
			$getkategori = $get->getkategori();
			$getunitsup = $get->getunitsupport();
			//Zend_Debug::dump($getsubkategori);
		?>
		<div class="portlet-body form">
			<form id="ubahsubkategori" class="ubahsubkategori">
				<input type="hidden" value="" name="xxxxid">
				<div class="form-body">
					<input type="hidden" name="idsubkat" value="<?php echo $getsubkategori[0][id_subkategori];?>" />
					<div class="form-group">
						<label for="kategori">Kategori</label>
						<select name="kategori" placeholder="" id="kategori" class="form-control  ">
								<option value="<?php echo $getsubkategori[0][id_kategori];?>"><?php echo $getsubkategori[0][nama_kategori];?></option>
						<?php foreach($getkategori as $row){?>
								<option value="<?php echo $row['id_kategori']; ?>"><?php echo $row['nama_kategori']; ?></option>
						<?php } ?>
							</select>
						<span class="help-block"></span>
					</div>
					<div class="form-group">
						<label for="nsubkategori">Nama Sub Kategori</label>
						<select name="nsubkategori" placeholder="" id="nsubkategori" class="form-control  ">
								<option value="<?php echo $getsubkategori[0][nama_subkategori];?>"><?php echo $getsubkategori[0][nama_subkategori];?></option>
						<?php foreach($getunitsup as $rowu){?>
								<option value="<?php echo $rowu['unit_support']; ?>"><?php echo $rowu['unit_support']; ?></option>
						<?php } ?>
							</select>
						<span class="help-block"></span>
					</div>
					<div class="form-group">
						<label for="usubkategori">Urutan Sub Kategori</label>
						<input type="text" name="usubkategori" placeholder="" id="usubkategori" class="form-control" value="<?php echo $getsubkategori[0][urutan_kategori];?>">
						<span class="help-block"></span>
					</div>
					<div class="form-group">
						<label for="unitsupport">Unit Support</label>
						<select name="unitsupport" placeholder="" id="unitsupport" class="form-control  ">
								<option value="<?php echo $getsubkategori[0][id];?>"><?php echo $getsubkategori[0][unit_support];?></option>
						<?php foreach($getunitsup as $rowu){?>
								<option value="<?php echo $rowu['id']; ?>"><?php echo $rowu['unit_support']; ?></option>
						<?php } ?>
							</select>
						<span class="help-block"></span>
					</div>
					<button type="submit" class="btn green">Ubah</button>
					<a href="/prabagen/index/page/87" class="activate btn red">Batal</a>
				</div>
			</form>

		<script>
		jQuery(document).ready(function() {
			var Functubahsubkategori = function () {
			var handleAdd = function() {
			var formubahsubkategori = $('#ubahsubkategori');
			var error1 = $('.alert-danger', formubahsubkategori);
			var success1 = $('.alert-success', formubahsubkategori);

		formubahsubkategori.validate({
		errorElement: 'span', //default input error message container
		errorClass: 'help-block', // default input error message class
		focusInvalid: false, // do not focus the last invalid input
		ignore: "",
		rules: {

		kategori: {
		required :true
		},nsubkategori: {
		required :true
		},usubkategori: {
		required :true
		},                },

		invalidHandler: function (event, validator) { //display error alert on form submit              
		success1.hide();
		error1.show();
		App.scrollTo(error1, -200);
		},

		highlight: function (element) { // hightlight error inputs
		$(element)
		.closest('.form-group').addClass('has-error'); // set error class to the control group
		},

		unhighlight: function (element) { // revert the change done by hightlight
		$(element)
		.closest('.form-group').removeClass('has-error'); // set error class to the control group
		},

		success: function (label) {
		label
		.closest('.form-group').removeClass('has-error'); // set success class to the control group
		},

		submitHandler: function (form) {
		success1.show();
		error1.hide();
		submitForm();
		return false;
		}
		});
		}

		var submitForm = function(){

		var data = $('form#ubahsubkategori');

		//alert("s");
		$.ajax({
		url:"/prabajax/postform/xxxxid/140",
		content:'json',
		type:'post',
		data:data.serialize(),
		beforeSend:function(){
		$('#alertinfo').addClass('hidden');
		$('#processbar').removeClass('hidden');
		$('html,body').animate({
		scrollTop: $('h3.page-title').offset().top
		}, 800);
		$('#alertinfo').removeClass('alert-success');
		$('#alertinfo').removeClass('alert-warning');
		$('#alertinfo').removeClass('alert-danger');
		$('#alertinfo').removeClass('alert-info');
		},
		complete:function(result){
		//alert("done");
		$('#processbar').addClass('hidden');
		},
		success: function(data){
		//alert("ok");
		console.log(data);
		if(data.transaction!=undefined){
		if(data.transaction==true){

		$('#alertinfo').addClass('alert-success');
		$('#alertmsg').html("<strong>Success!</strong> ");
		window.location.href ='/prabagen/index/page/87';
		}else{

		$('#alertinfo').addClass('alert-warning');
		$('#alertmsg').html("<strong>Failed!</strong> "+data.message);
		}
		}else{

		$('#alertinfo').addClass('alert-info');
		$('#alertmsg').html("<strong>Error!</strong> System is busy, please try again.");
		}
		$('#alertinfo').removeClass('hidden');
		},
		error:function(){
		//alert("not");
		$('#alertinfo').addClass('alert-info');
		$('#alertmsg').html("<strong>Error!</strong> System is busy, please try again.");
		$('#alertinfo').removeClass('hidden');
		}
		});
		}

		return {
		//main function to initiate the module
		init: function () {
		handleAdd();
		}

		};

		}();
		Functubahsubkategori.init();

		});
		</script>

		</div>
	</div>
	<!-- END EXAMPLE TABLE PORTLET-->
</div>