<?php
try{
	$params = Zend_Controller_Front::getInstance()->getRequest()->getParams();
	$control=  Zend_Controller_Front::getInstance()->getRequest()->getControllerName();
	$act=  Zend_Controller_Front::getInstance()->getRequest()->getActionName();
    $identity = Zend_Auth::getInstance()->getIdentity();
}catch(Exception $e){
	
}

$front = array(
    'lifetime' => null,
    'automatic_serialization' => true
);
$back = array(
    'cache_dir' => APPLICATION_PATH . '/../cache2/'
);
$cache = Zend_Cache::factory('Core', 'File', $front, $back);
$var = $cache->load("themeuser_".$identity->uid."_".$params['module']);

//Zend_Debug::dump($var);die();
?>

<?php 
if($control!='error' && ($control!='public' && $act!='login' && $act!='loginsoft')){
	echo $this->action('header', 'general', 'default', array('app'=>$params['module'], 'layout'=>'2'));
?>
		<!-- BEGIN HEADER & CONTENT DIVIDER -->
        <div class="clearfix"> </div>
        <!-- END HEADER & CONTENT DIVIDER -->
        <!-- BEGIN CONTAINER -->
        <div class="page-container">

			<?php  echo $this->action('sidebar', 'general', 'default', array('app'=>$params['module'], 'layout'=>'2')); ?>

            <!-- BEGIN CONTENT -->
            <div class="page-content-wrapper">
                <form id='form-panel'>
				<!-- BEGIN THEME PANEL -->
                    <div class="theme-panel">
                        <div class="toggler tooltips" data-container="body" data-placement="left" data-html="true" data-original-title="Click to open advance theme customizer panel">
                            <i class="icon-settings"></i>
                        </div>
                        <div class="toggler-close">
                            <i class="icon-close"></i>
                        </div>
                        <div class="theme-options">
                            <div id="set-theme" data-theme="2" ></div>
                            <div class="theme-option theme-colors clearfix">
                                <span> THEME COLOR </span>
                                <ul>
                                    <li class="color-default tooltips <?php if(!isset($var[2]['style']) || $var[2]['style']=='default'){echo 'current';}?>" data-style="default" data-container="body" data-original-title="Default"> </li>
                                    <li class="color-grey tooltips <?php if($var[2]['style']=='grey'){echo "current";}?>" data-style="grey" data-container="body" data-original-title="Grey"> </li>
                                   
                                    <li class="color-blue tooltips  <?php if($var[2]['style']=='blue'){echo "current";}?>" data-style="blue" data-container="body" data-original-title="Blue"> </li>
                                    <li class="color-dark tooltips  <?php if($var[2]['style']=='dark'){echo "current";}?>" data-style="dark" data-container="body" data-original-title="Dark"> </li>
                                    <li class="color-light tooltips  <?php if($var[2]['style']=='light'){echo "current";}?>" data-style="light" data-container="body" data-original-title="Light"> </li>
                                </ul>
                            </div>
                            <div class="theme-option">
                                <span> Theme Style </span>
                                <select name="layout-style-option" class="layout-style-option form-control input-small">
                                    <option value="square" <?php if($var[2]['layout-style-option']=='square'){echo "selected='selected'";}?> >Square corners</option>
                                    <option value="rounded" <?php if($var[2]['layout-style-option']=='rounded'){echo "selected='selected'";}?>>Rounded corners</option>
                                </select>
                            </div>
                            <div class="theme-option">
                                <span> Layout </span>
                                <select name="layout-option" class="layout-option form-control input-small">
                                    <option value="fluid" <?php if($var[2]['layout-option']=='fluid'){echo "selected='selected'";}?>  >Fluid</option>
                                    <option value="boxed" <?php if($var[2]['layout-option']=='boxed'){echo "selected='selected'";}?>>Boxed</option>
                                </select>
                            </div>
                            <div class="theme-option">
                                <span> Header </span>
                                <select name="page-header-option" class="page-header-option form-control input-small">
                                    <option value="fixed" <?php if($var[2]['page-header-option']=='fixed'){echo "selected='selected'";}?> >Fixed</option>
                                    <option value="default" <?php if($var[2]['page-header-option']=='default'){echo "selected='selected'";}?>>Default</option>
                                </select>
                            </div>
                            <div class="theme-option">
                                <span> Top Dropdown</span>
                                <select name="page-header-top-dropdown-style-option" class="page-header-top-dropdown-style-option form-control input-small">
                                    <option value="light" <?php if($var[2]['page-header-top-dropdown-style-option']=='light'){echo "selected='selected'";}?> >Light</option>
                                    <option value="dark" <?php if($var[2]['page-header-top-dropdown-style-option']=='dark'){echo "selected='selected'";}?>>Dark</option>
                                </select>
                            </div>
                            <div class="theme-option">
                                <span> Sidebar Mode</span>
                                <select name="sidebar-option" class="sidebar-option form-control input-small">
                                    <option value="fixed" <?php if($var[2]['sidebar-option']=='fixed'){echo "selected='selected'";}?>>Fixed</option>
                                    <option value="default" <?php if($var[2]['sidebar-option']=='default'){echo "selected='selected'";}?>>Default</option>
                                </select>
                            </div>
                            <div class="theme-option">
                                <span> Sidebar Style</span>
                                <select name="sidebar-style-option" class="sidebar-style-option form-control input-small">
                                    <option value="default" <?php if($var[2]['sidebar-style-option']=='default'){echo "selected='selected'";}?>>Default</option>
                                    <option value="compact" <?php if($var[2]['sidebar-style-option']=='compact'){echo "selected='selected'";}?>>Compact</option>
                                </select>
                            </div>
                            <div class="theme-option">
                                <span> Sidebar Menu </span>
                                <select name="sidebar-menu-option" class="sidebar-menu-option form-control input-small">
                                    <option value="accordion" <?php if($var[2]['sidebar-menu-option']=='accordion'){echo "selected='selected'";}?>>Accordion</option>
                                    <option value="hover" <?php if($var[2]['sidebar-menu-option']=='hover'){echo "selected='selected'";}?>>Hover</option>
                                </select>
                            </div>
                            <div class="theme-option">
                                <span> Sidebar Position </span>
                                <select name="sidebar-pos-option" class="sidebar-pos-option form-control input-small">
                                    <option value="left" <?php if($var[2]['sidebar-pos-option']=='left'){echo "selected='selected'";}?>>Left</option>
                                    <option value="right" <?php if($var[2]['sidebar-pos-option']=='right'){echo "selected='selected'";}?>>Right</option>
                                </select>
                            </div>
                            <div class="theme-option">
                                <span> Footer </span>
                                <select name="page-footer-option" class="page-footer-option form-control input-small">
                                    <option value="fixed" <?php if($var[2]['page-footer-option']=='fixed'){echo "selected='selected'";}?>>Fixed</option>
                                    <option value="default" <?php if($var[2]['page-footer-option']=='default'){echo "selected='selected'";}?>>Default</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    </form>
                    <!-- END THEME PANEL -->
                <!-- BEGIN CONTENT BODY -->
               

                    <?php 
						echo $this->layout()->content;
					?>
				
                <!-- END CONTENT BODY -->
            </div>
            <!-- END CONTENT -->

<?php echo $this->action('footer', 'general', 'default', array('app'=>$params['module']));?>

            
            <!-- BEGIN QUICK SIDEBAR -->
          
            <!-- END QUICK SIDEBAR -->
        </div>
        <!-- END CONTAINER -->
 <?php 
}
 if(
	($control=='public' && ($act=='login' || $act=='loginsoft'))
	||
	$control=='error'
){
	echo $this->layout()->content;
}
 
 ?>     
 <?php if(isset($var[2])){?>
    <script src="/assets/core/layouts/layout2/scripts/setup.js" type="text/javascript"></script>
<?php } ?>