<?php
try{
	$params = Zend_Controller_Front::getInstance()->getRequest()->getParams();
	$control=  Zend_Controller_Front::getInstance()->getRequest()->getControllerName();
	$act=  Zend_Controller_Front::getInstance()->getRequest()->getActionName();
    $identity = Zend_Auth::getInstance()->getIdentity();

}catch(Exception $e){
	
}

$front = array(
    'lifetime' => null,
    'automatic_serialization' => true
);
$back = array(
    'cache_dir' => APPLICATION_PATH . '/../cache2/'
);
$cache = Zend_Cache::factory('Core', 'File', $front, $back);
$var = $cache->load("themeuser_".$identity->uid."_".$params['module']);
//Zend_Debug::dump($var); die();

?>   
<?php 
if($control!='error' && ($control!='public' && $act!='login' && $act!='loginsoft')){
	echo $this->action('header', 'general', 'default', array('app'=>$params['module'], 'layout'=>'3'));
?>
	
        <!-- BEGIN CONTAINER -->
        <div class="page-container">

			
            <!-- BEGIN CONTENT -->
            <div class="page-content-wrapper">
			    <form id='form-panel'>
                    <div id="set-theme" data-theme="3" ></div>

                <!-- BEGIN THEME PANEL -->
				   <div class="page-head">
					<div class="container">
						
				   <div class="page-toolbar">
                   <div class="btn-group btn-theme-panel">
                                <a href="javascript:;" class="btn dropdown-toggle" data-toggle="dropdown">
                                    <i class="icon-settings"></i>
                                </a>
                                <div class="dropdown-menu theme-panel pull-right dropdown-custom hold-on-click">
                                    <div id="set-theme" data-theme="3" ></div>
                                    <div class="row">
                                        <div class="col-md-6 col-sm-6 col-xs-12">
                                            <h3>THEME COLORS</h3>
                                            <div class="row">
                                                <div class="col-md-6 col-sm-6 col-xs-12">
                                                    <ul class="theme-colors">
                                                        <li class="theme-color theme-color-default <?php if(!isset($var[3]['style']) || $var[3]['style']=='default'){echo 'active';}?>" data-theme="default">
                                                            <span class="theme-color-view"></span>
                                                            <span class="theme-color-name">Default</span>
                                                        </li>
                                                        <li class="theme-color theme-color-blue-hoki <?php if($var[3]['style']=='blue-hoki'){echo 'active';}?>" data-theme="blue-hoki">
                                                            <span class="theme-color-view"></span>
                                                            <span class="theme-color-name">Blue Hoki</span>
                                                        </li>
                                                        <li class="theme-color theme-color-blue-steel <?php if($var[3]['style']=='blue-steel'){echo 'active';}?>" data-theme="blue-steel">
                                                            <span class="theme-color-view"></span>
                                                            <span class="theme-color-name">Blue Steel</span>
                                                        </li>
                                                        <li class="theme-color theme-color-yellow-orange <?php if($var[3]['style']=='yellow-orange'){echo 'active';}?>" data-theme="yellow-orange">
                                                            <span class="theme-color-view"></span>
                                                            <span class="theme-color-name">Orange</span>
                                                        </li>
                                                        <li class="theme-color theme-color-yellow-crusta 
                                                        <?php if($var[3]['style']=='yellow-crusta'){echo 'active';}?>" data-theme="yellow-crusta">
                                                            <span class="theme-color-view"></span>
                                                            <span class="theme-color-name">Yellow Crusta</span>
                                                        </li>
                                                    </ul>
                                                </div>
                                                <div class="col-md-6 col-sm-6 col-xs-12">
                                                    <ul class="theme-colors">
                                                        <li class="theme-color theme-color-green-haze <?php if($var[3]['style']=='green-haze'){echo 'active';}?>" data-theme="green-haze">
                                                            <span class="theme-color-view"></span>
                                                            <span class="theme-color-name">Green Haze</span>
                                                        </li>
                                                        <li class="theme-color theme-color-red-sunglo <?php if($var[3]['style']=='red-sunglo'){echo 'active';}?>" data-theme="red-sunglo">
                                                            <span class="theme-color-view"></span>
                                                            <span class="theme-color-name">Red Sunglo</span>
                                                        </li>
                                                        <li class="theme-color theme-color-red-intense <?php if($var[3]['style']=='red-intense'){echo 'active';}?>" data-theme="red-intense">
                                                            <span class="theme-color-view"></span>
                                                            <span class="theme-color-name">Red Intense</span>
                                                        </li>
                                                        <li class="theme-color theme-color-purple-plum <?php if($var[3]['style']=='purple-plum'){echo 'active';}?>" data-theme="purple-plum">
                                                            <span class="theme-color-view"></span>
                                                            <span class="theme-color-name">Purple Plum</span>
                                                        </li>
                                                        <li class="theme-color theme-color-purple-studio <?php if($var[3]['style']=='purple-studio'){echo 'active';}?>" data-theme="purple-studio">
                                                            <span class="theme-color-view"></span>
                                                            <span class="theme-color-name">Purple Studio</span>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6 col-sm-6 col-xs-12 seperator">
                                            <h3>LAYOUT</h3>
                                            <ul class="theme-settings">
                                                <li> Theme Style
                                                    <select name="theme-setting-style" class="theme-setting theme-setting-style form-control input-sm input-small input-inline tooltips" data-original-title="Change theme style" data-container="body" data-placement="left">
                                                        <option value="boxed" <?php if($var[3]['theme-setting-style']=='boxed'){echo "selected='selected'";}?>>Square corners</option>
                                                        <option value="rounded" <?php if($var[3]['theme-setting-style']=='rounded'){echo "selected='selected'";}?>>Rounded corners</option>
                                                    </select>
                                                </li>
                                                <li> Layout
                                                    <select name="theme-setting-layout" class="theme-setting theme-setting-layout form-control input-sm input-small input-inline tooltips" data-original-title="Change layout type" data-container="body" data-placement="left">
                                                        <option value="boxed" <?php if($var[3]['theme-setting-layout']=='boxed'){echo "selected='selected'";}?>>Boxed</option>
                                                        <option value="fluid" <?php if($var[3]['theme-setting-layout']=='fluid'){echo "selected='selected'";}?>>Fluid</option>
                                                    </select>
                                                </li>
                                                <li> Top Menu Style
                                                    <select name="theme-setting-top-menu-style" class="theme-setting theme-setting-top-menu-style form-control input-sm input-small input-inline tooltips" data-original-title="Change top menu dropdowns style" data-container="body"
                                                        data-placement="left">
                                                        <option value="dark" <?php if($var[3]['theme-setting-top-menu-style']=='dark'){echo "selected='selected'";}?>>Dark</option>
                                                        <option value="light" <?php if($var[3]['theme-setting-top-menu-style']=='light'){echo "selected='selected'";}?>>Light</option>
                                                    </select>
                                                </li>
                                                <li> Top Menu Mode
                                                    <select name="theme-setting-top-menu-mode" class="theme-setting theme-setting-top-menu-mode form-control input-sm input-small input-inline tooltips" data-original-title="Enable fixed(sticky) top menu" data-container="body" data-placement="left">
                                                        <option value="fixed" <?php if($var[3]['theme-setting-top-menu-mode']=='fixed'){echo "selected='selected'";}?>>Fixed</option>
                                                        <option value="not-fixed" <?php if($var[3]['theme-setting-top-menu-mode']=='not-fixed'){echo "selected='selected'";}?>>Not Fixed</option>
                                                    </select>
                                                </li>
                                                <li> Mega Menu Style
                                                    <select name="theme-setting-mega-menu-style" class="theme-setting theme-setting-mega-menu-style form-control input-sm input-small input-inline tooltips" data-original-title="Change mega menu dropdowns style" data-container="body"
                                                        data-placement="left">
                                                        <option value="dark" <?php if($var[3]['theme-setting-mega-menu-style']=='dark'){echo "selected='selected'";}?>>Dark</option>
                                                        <option value="light" <?php if($var[3]['theme-setting-mega-menu-style']=='light'){echo "selected='selected'";}?>>Light</option>
                                                    </select>
                                                </li>
                                                <li> Mega Menu Mode
                                                    <select name="theme-setting-mega-menu-mode" class="theme-setting theme-setting-mega-menu-mode form-control input-sm input-small input-inline tooltips" data-original-title="Enable fixed(sticky) mega menu" data-container="body"
                                                        data-placement="left">
                                                        <option value="fixed" <?php if($var[3]['theme-setting-mega-menu-mode']=='fixed'){echo "selected='selected'";}?>>Fixed</option>
                                                        <option value="not-fixed" <?php if($var[3]['theme-setting-mega-menu-mode']=='not-fixed'){echo "selected='selected'";}?>>Not Fixed</option>
                                                    </select>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                           </div>
                                   </div>
                         </div>
                        </form> 
                <!-- END THEME PANEL -->
                            <div class="page-content">
							<div class="container">
                              <?php 
							echo $this->layout()->content;
							?>
                           </div>
                           </div>
                   
                <!-- BEGIN CONTENT BODY -->
               

                 
				
                <!-- END CONTENT BODY -->
            </div>
            <!-- END CONTENT -->
			<?php echo $this->action('footer', 'general', 'default', array('app'=>$params['module']));?>
			<!-- BEGIN QUICK SIDEBAR -->
          
            <!-- END QUICK SIDEBAR -->
        </div>
        <!-- END CONTAINER -->
 <?php 
}
 if(
	($control=='public' && ($act=='login' || $act=='loginsoft'))
	||
	$control=='error'
){
	echo $this->layout()->content;
}
 
 ?>     
<?php if(isset($var[3])){?>
    <script src="/assets/core/layouts/layout2/scripts/setup.js" type="text/javascript"></script>
<?php } ?>