<?php
try{
	$params = Zend_Controller_Front::getInstance()->getRequest()->getParams();
	$control=  Zend_Controller_Front::getInstance()->getRequest()->getControllerName();
	$act=  Zend_Controller_Front::getInstance()->getRequest()->getActionName();
    $identity = Zend_Auth::getInstance()->getIdentity();

}catch(Exception $e){
	
}
$front = array(
    'lifetime' => null,
    'automatic_serialization' => true
);
$back = array(
    'cache_dir' => APPLICATION_PATH . '/../cache2/'
);
$cache = Zend_Cache::factory('Core', 'File', $front, $back);
$var = $cache->load("themeuser_".$identity->uid."_".$params['module']);
//Zend_Debug::dump($var); die();
?>   
<?php 
if($control!='error' && ($control!='public' && $act!='login' && $act!='loginsoft')){
	echo $this->action('header', 'general', 'default', array('app'=>$params['module'], 'layout'=>'4'));
?>
		<!-- BEGIN HEADER & CONTENT DIVIDER -->
        <div class="clearfix"> </div>
        <!-- END HEADER & CONTENT DIVIDER -->
        <!-- BEGIN CONTAINER -->
        <div class="page-container">

			<?php  echo $this->action('sidebar', 'general', 'default', array('app'=>$params['module'], 'layout'=>'4')); ?>

            <!-- BEGIN CONTENT -->
            <div class="page-content-wrapper">
				    <form id='form-panel'>
                   
					<!-- BEGIN THEME PANEL -->
						<div class="page-head">
						<div class="page-toolbar">
                            <div class="btn-group btn-theme-panel">
                                <a href="javascript:;" class="btn dropdown-toggle" data-toggle="dropdown">
                                    <i class="icon-settings"></i>
                                </a>
                                <div class="dropdown-menu theme-panel pull-right dropdown-custom hold-on-click">
                                    <div id="set-theme" data-theme="4" ></div>
                                    <div class="row">
                                        <div class="col-md-4 col-sm-4 col-xs-12">
                                            <h3>THEME</h3>
                                            <ul class="theme-colors">
                                                <li class="theme-color theme-color-default <?php if($var[4]['style']=='default'){echo 'active';}?>" data-theme="default">
                                                    <span class="theme-color-view"></span>
                                                    <span class="theme-color-name">Dark Header</span>
                                                </li>
                                                <li class="theme-color theme-color-light <?php if(!isset($var[4]['style']) || $var[4]['style']=='light'){echo 'active';}?>" data-theme="light">
                                                    <span class="theme-color-view"></span>
                                                    <span class="theme-color-name">Light Header</span>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="col-md-8 col-sm-8 col-xs-12 seperator">
                                            <h3>LAYOUT</h3>
                                            <ul class="theme-settings">
                                                <li> Theme Style
                                                    <select name="layout-style-option" class="layout-style-option form-control input-small input-sm">
                                                        <option value="square" <?php if($var[4]['layout-style-option']=='square'){echo "selected='selected'";}?>>Square corners</option>
                                                        <option value="rounded" <?php if($var[4]['layout-style-option']=='rounded'){echo "selected='selected'";}?>>Rounded corners</option>
                                                    </select>
                                                </li>
                                                <li> Layout
                                                    <select name="layout-option" class="layout-option form-control input-small input-sm">
                                                        <option value="fluid" <?php if($var[4]['layout-option']=='fluid'){echo "selected='selected'";}?>>Fluid</option>
                                                        <option value="boxed" <?php if($var[4]['layout-option']=='boxed'){echo "selected='selected'";}?>>Boxed</option>
                                                    </select>
                                                </li>
                                                <li> Header
                                                    <select name="page-header-option" class="page-header-option form-control input-small input-sm">
                                                        <option value="fixed" <?php if($var[4]['page-header-option']=='fixed'){echo "selected='selected'";}?>>Fixed</option>
                                                        <option value="default" <?php if($var[4]['page-header-option']=='default'){echo "selected='selected'";}?>>Default</option>
                                                    </select>
                                                </li>
                                                <li> Top Dropdowns
                                                    <select name="page-header-top-dropdown-style-option"  class="page-header-top-dropdown-style-option form-control input-small input-sm">
                                                        <option value="light"  <?php if($var[4]['page-header-top-dropdown-style-option']=='light'){echo "selected='selected'";}?>>Light</option>
                                                        <option value="dark"  <?php if($var[4]['page-header-top-dropdown-style-option']=='dark'){echo "selected='selected'";}?>>Dark</option>
                                                    </select>
                                                </li>
                                                <li> Sidebar Mode
                                                    <select name="sidebar-option" class="sidebar-option form-control input-small input-sm">
                                                        <option value="fixed" <?php if($var[4]['sidebar-option']=='fixed'){echo "selected='selected'";}?>>Fixed</option>
                                                        <option value="default" <?php if($var[4]['sidebar-option']=='default'){echo "selected='selected'";}?>>Default</option>
                                                    </select>
                                                </li>
                                                <li> Sidebar Menu
                                                    <select name="sidebar-menu-option" class="sidebar-menu-option form-control input-small input-sm">
                                                        <option value="accordion" <?php if($var[4]['sidebar-menu-option']=='accordion'){echo "selected='selected'";}?>>Accordion</option>
                                                        <option value="hover" <?php if($var[4]['sidebar-menu-option']=='hover'){echo "selected='selected'";}?>>Hover</option>
                                                    </select>
                                                </li>
                                                <li> Sidebar Position
                                                    <select name="sidebar-pos-option" class="sidebar-pos-option form-control input-small input-sm">
                                                        <option <?php if($var[4]['sidebar-pos-option']=='left'){echo "selected='selected'";}?> value="left" selected="selected">Left</option>
                                                        <option <?php if($var[4]['sidebar-pos-option']=='right'){echo "selected='selected'";}?> value="right">Right</option>
                                                    </select>
                                                </li>
                                                <li> Footer
                                                    <select name="page-footer-option" class="page-footer-option form-control input-small input-sm">
                                                        <option <?php if($var[4]['page-footer-option']=='fixed'){echo "selected='selected'";}?> value="fixed">Fixed</option>
                                                        <option <?php if($var[4]['page-footer-option']=='default'){echo "selected='selected'";}?> value="default">Default</option>
                                                    </select>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            </div>
                            </div>
                            <!-- END THEME PANEL -->
                            </form>
                <!-- BEGIN CONTENT BODY -->
               

                    <?php 
						echo $this->layout()->content;
					?>
				
                <!-- END CONTENT BODY -->
            </div>
            <!-- END CONTENT -->

<?php echo $this->action('footer', 'general', 'default', array('app'=>$params['module']));?>

            
            <!-- BEGIN QUICK SIDEBAR -->
          
            <!-- END QUICK SIDEBAR -->
        </div>
        <!-- END CONTAINER -->
 <?php 
}
 if(
	($control=='public' && ($act=='login' || $act=='loginsoft'))
	||
	$control=='error'
){
	echo $this->layout()->content;
}
 
 ?>     
