//== General Mode
.m-page {		
	//== Page loading
	.m-page--loading-enabled & {
		@include animation(m-animate-fade-in .5s both);
	}	

	.m-page--loading & {
		@include opacity(0);		
		@include animation(m-animate-fade-out .5s both);
	}
}	