<?php

/**
 * @file
 * maestro-task-and.tpl.php
 */

$var =array();

$api_type = array(
1=>'Sql',
2=>'Proc',
3=>'Proc Cursor',
4=>'Class',
5=>'Web Service',
);

$db =array(
'Oracle'=>'/assets/core/img/db/oracle.png',
'Mysql'=>'/assets/core/img/db/mysql.png',
'Mysqli'=>'/assets/core/img/db/mysql.png',
'Pdo_Mssql'=>'/assets/core/img/db/mssql.png',
'Pdo_Netezza'=>'/assets/core/img/db/netezza.png',
'Pdo_Pgsql'=>'/assets/core/img/db/postgresql.png',
'Php_File'=>'/assets/core/img/db/php.png',
'Pdo_mysql'=>'/assets/core/img/db/mysql.png',
'action'=>'/assets/core/img/db/action.png'
);


$icon =array(
	'tl'=>'/assets/core/img/telegram.png',
	'telegram'=>'/assets/core/img/telegram.png',
	'wa'=>'/assets/core/img/wa.png',
	'email'=>'/assets/core/img/email.png',
	'sms'=>'/assets/core/img/db/sms.png',
	'gtalk'=>'/assets/core/img/gtalk.png'
	
);




if($this->task['zparams_serialize']=="") {
	$var['OperatorType']='Unknown';
}


$var = unserialize($this->task['zparams_serialize']);

//Zend_Debug::dump($var); 
switch($this->class) {
case 'operator':
?>


<div class="maestro_task">
  <div class="t"><div class="b"><div class="r"><div class="l"><div class="bl"><div class="br"><div class="tl-gry"><div class="tr-gry">

    <div id="task_title<?php print $this->tdid; ?>" class="tm-gry maestro_task_title" > <span style="font-size:10px;font-weight:normal;">[pid : <?php print $this->tdid; ?>]</span> 
      <?php //print $var['OperatorType']; ?>Operator
    </div>
    <div class="maestro_task_body">
      <?php print strtoupper($var['OperatorType']); ?>
	  <?php 
	 
	 switch($var['OperatorType']) {
		case 'map':
			echo "<div style='background-color:#E9E5D2;witdh:60px;font-size:11px;padding:5px;'>";
			
			if(count($var['OperatorData']['awal'])>0) {
				for($i=0;$i<count($var['OperatorData']['awal']);$i++){
					echo 	$var['OperatorData']['awal'][$i]."=>".$var['OperatorData']['akhir'][$i]."<br>";
				}
			}
			
			echo "</div>"; 
		break;	 
		case 'custom':
			echo "<div style='background-color:#E9E5D2;witdh:60px;font-size:11px;padding:5px;'>".$var['OperatorData']['model']."->".$var['OperatorData']['method']."();";
			
			if($var['OperatorData']['inputcustom']!="") {
				
			echo "<br>[".$var['OperatorData']['inputcustom']."]";	
			}
			
		echo 	"</div>"; 
		break;	 
		
		case 'branch':
			echo "<div style='background-color:#E9E5D2;witdh:60px;font-size:11px;padding:5px;'>";
			if($var['OperatorData']['ltype']['default']!="") 
			{
				echo "if ( ".$var['OperatorData']['ltype']['default']." ){ goto defaultLine; }<br>";	
			}
			if($var['OperatorData']['ltype']['red']!="") 
			{
				echo "if ( ".$var['OperatorData']['ltype']['red']." ){ goto redLine; }<br>";	
			}
			if($var['OperatorData']['ltype']['green']!="") 
			{
				echo "if ( ".$var['OperatorData']['ltype']['green']." ){ goto greenLine; }<br>";	
			}
			if($var['OperatorData']['ltype']['orange']!="") 
			{
				echo "if ( ".$var['OperatorData']['ltype']['orange']." ){ goto orangeLine; }<br>";	
			}
			echo "</div>"; 
		
			//Zend_Debug::dump($var); 
		break;	   
			case 'setreturn':
			echo "<div style='background-color:#E9E5D2;witdh:60px;font-size:11px;padding:5px;'>";
			echo $var['OperatorData']['ret'];
			echo "</div>"; 
		
			//Zend_Debug::dump($var); 
		break;	   
	 
	 }
	  
      ?>
    </div>
</div></div></div></div></div></div></div></div>
 
</div>




<?php
break;	

case 'maestrotaskinterfacebatch':
?>
<div class="maestro_task">
  <div class="t"><div class="b"><div class="r"><div class="l"><div class="bl"><div class="br"><div class="tl-gry"><div class="tr-gry">

    <div id="task_title<?php print $this->tdid; ?>" class="tm-gry maestro_task_title">
      <?php print $this->taskname; ?>
    </div>
    <div class="maestro_task_body">
      <?php print 'Batch Task'; ?>
    </div>

  </div></div></div></div></div></div></div></div>
</div>



<?php
break;	

case 'maestrotaskinterfacebatchfunction':
?>
<div class="maestro_task">
  <div class="t"><div class="b"><div class="r"><div class="l"><div class="bl"><div class="br"><div class="tl-gry"><div class="tr-gry">

    <div id="task_title<?php print $this->tdid; ?>" class="tm-gry maestro_task_title">
      <?php print $this->taskname; ?>
    </div>
    <div class="maestro_task_body">
      Batch Function Task
    </div>

  </div></div></div></div></div></div></div></div>
</div>



<?php
break;	
case 'end':
?>

<div class="maestro_task">
  <div class="t"><div class="b"><div class="r"><div class="l"><div class="bl"><div class="br"><div class="tl-red"><div class="tr-red">
    <div id="task_title<?php print $this->tdid; ?>" class="maestro_task_title tm-red"> <span style="font-size:10px;font-weight:normal;">[pid : <?php print $this->tdid; ?>]</span> 
      <?php print $this->taskname; ?>
    </div>
    <div class="maestro_task_body">
      End of Action
    </div>
</div></div></div></div></div></div></div></div>

</div>



<?php
break;	
case 'trigger':

?>
<div class="maestro_task">
  <div class="t"><div class="b"><div class="r"><div class="l"><div class="bl"><div class="br"><div class="tl-yel"><div class="tr-yel">

    <div id="task_title<?php print $this->tdid; ?>" class="tm-yel maestro_task_title"> <span style="font-size:10px;font-weight:normal;">[pid : <?php print $this->tdid; ?>]</span> 
      Cron Trigger
    </div>
    <div class="maestro_task_body">
      <img src="/assets/core/img/cron.png" width=20px />Trigger</div>
	</div></div></div></div></div></div></div></div>
</div>

<?php
break;	

case 'if':
?>

<div class="maestro_task">
  <div class="t"><div class="b"><div class="r"><div class="l"><div class="bl"><div class="br"><div class="tl-yel"><div class="tr-yel">

    <div id="task_title<?php print $this->tdid; ?>" class="tm-yel maestro_task_title">
      <?php print $this->taskname; ?>
    </div>
    <div class="maestro_task_body">
      If Condition
    </div>

  </div></div></div></div></div></div></div></div>
</div>


<?php
break;	

case 'maestrotaskinterfaceinteractivefunction':

?>
<div class="maestro_task">
  <div class="t"><div class="b"><div class="r"><div class="l"><div class="bl"><div class="br"><div class="tl-bl"><div class="tr-bl">

    <div id="task_title<?php print $this->tdid; ?>" class="tm-bl maestro_task_title">
      <?php print $this->taskname; ?>
    </div>
    <div class="maestro_task_body">
      Interactive Function Task<br />
      <div id="task_assignment<?php print $this->tdid; ?>"><?php //print $ti->getAssignmentDisplay(); ?></div>
    </div>

  </div></div></div></div></div></div></div></div>
</div>

<?php
break;	
case 'maestrotaskinterfacemanualweb':
break;	
case 'maestrotaskInterfacesetprocessvariable':
break;
case 'task':
?>

<div class="maestro_task" style="">
 
  <div class="t"><div class="b"><div class="r"><div class="l"><div class="bl"><div class="br"><div class="tl-bl"><div class="tr-bl">
    <div id="task_title<?php print $this->tdid; ?>"  class="tm-bl maestro_task_title">
      <span style="font-size:10px;font-weight:normal;">[pid : <?php print $this->tdid; ?>]</span> 
       <?php 
      $vx = unserialize($this->api['conn_params']);
      echo ($vx['adapter']);
      echo "&nbsp;";
      echo $api_type[$this->api['api_type']];
      
		#Zend_Debug::dump($this->api);
      
      
      // print $this->taskname; 
      //Zend_Debug::dump($this->task);
      ?>
    </div>
    <div class="maestro_task_body" >
		<span style="background-color=white;"><img src ="<?php print $db[$vx['adapter']] ; ?>"  width=20px?>
		</span>[<?php print strtoupper($this->api['conn_name']) ; ?>]
			api_id  : <?php print ($this->task['ext_id']=="")? "Unknown": $this->task['ext_id']; ?><br />
      <div style="color:red;" id="task_assignment<?php print $this->tdid; ?>"><?php print substr($this->api['api_desc'], 0,50); 
      
      
      ?></div>
    </div>
	</div></div></div></div></div></div></div></div>
 
</div>

<?php
	break;
	case 'prahu':
?>

<div class="maestro_task">
  
    <div class="t"><div class="b"><div class="r"><div class="l"><div class="bl"><div class="br"><div class="tl-grn"><div class="tr-grn">
    <div id="task_title<?php print $this->tdid; ?>" class="tm-grn maestro_task_title"> <span style="font-size:10px;font-weight:normal;">[pid : <?php print $this->tdid; ?>]</span> 
      Prahu Message
       <?php 
       
     $vz = unserialize($this->task['zparams_serialize']);
  
		//Zend_Debug::dump($vz);
      ?>
    </div>
    <div class="maestro_task_body">
		<span style="background-color=white;"><img src ="<?php print $icon[$vz['Type']] ; ?>"  width=20px?>
		</span>
		Group :
       <?php echo   implode(",", $vz['Data']['group']); ?><br />
    
    </div>
	</div></div></div></div></div></div></div></div>

</div>

<?php
break;
case 'content':
?>
<div class="maestro_task">
  
    <div class="t"><div class="b"><div class="r"><div class="l"><div class="bl"><div class="br"><div class="tl-yel"><div class="tr-yel">
    <div id="task_title<?php print $this->tdid; ?>" class="tm-yel maestro_task_title"> <span style="font-size:10px;font-weight:normal;">[pid : <?php print $this->tdid; ?>]</span> 
      Task
      
	  <?php 
  	$vz = unserialize($this->task['zparams_serialize']);
	//Zend_Debug::dump($vz);
      ?>
    </div>
    <div class="maestro_task_body">
	   <?php echo   $this->task['process_name']; ?><br />
    
    </div>
	</div></div></div></div></div></div></div></div>

</div>

<?php
break;
case 'start':
?>
<div class="maestro_task">
 
<div class="t"><div class="b"><div class="r"><div class="l"><div class="bl"><div class="br"><div class="tl-red"><div class="tr-red">

    <div id="task_title<?php print $this->tdid; ?>" class="maestro_task_title tm-red"> <span style="font-size:10px;font-weight:normal;">[pid : <?php print $this->tdid; ?>]</span> 
      <?php print $this->taskname; ?>
    </div>
    <div class="maestro_task_body">
      Start of Action
    </div>
</div></div></div></div></div></div></div></div>
</div>

<?php
break;	
?>


<?php 
}
?>
