<!DOCTYPE html>

<!--[if IE 8]> <html lang="en" class="ie8 no-js"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9 no-js"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en">
    <!--<![endif]-->
    <!-- BEGIN HEAD -->

    <head>
        <meta charset="utf-8" />
    
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta content="width=device-width, initial-scale=1" name="viewport" />
        <meta content="" name="description" />
        <meta content="" name="author" />

		<title>PraBAC</title>
        <?php 
        echo $this->headMeta();
        echo $this->headTitle();
        ?>
        <!-- BEGIN GLOBAL MANDATORY STYLES -->
      
        <link href="/assets/core/global/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
        <link href="/assets/core/global/plugins/simple-line-icons/simple-line-icons.min.css" rel="stylesheet" type="text/css" />
        <link href="/assets/core/global/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
        <link href="/assets/core/global/plugins/bootstrap-switch/css/bootstrap-switch.min.css" rel="stylesheet" type="text/css" />
        <!-- END GLOBAL MANDATORY STYLES -->
      
        <!-- BEGIN THEME GLOBAL STYLES -->
        <link href="/assets/core/global/css/components.min.css" rel="stylesheet" id="style_components" type="text/css" />
        <link href="/assets/core/global/css/plugins.min.css" rel="stylesheet" type="text/css" />
        <!-- END THEME GLOBAL STYLES -->
        <!-- BEGIN THEME LAYOUT STYLES -->
        <link href="/assets/core/layouts/layout2/css/layout.min.css" rel="stylesheet" type="text/css" />
        <link href="/assets/core/layouts/layout2/css/themes/blue.min.css" rel="stylesheet" type="text/css" id="style_color" />
        <link href="/assets/core/layouts/layout2/css/custom.min.css" rel="stylesheet" type="text/css" />
        <!-- END THEME LAYOUT STYLES -->
        <link rel="shortcut icon" href="/favicon.ico" /> 
        <script src="/assets/core/global/plugins/jquery.min.js" type="text/javascript"></script>
        <script src="/assets/core/global/plugins/jquery-ui/jquery-ui.min.js" type="text/javascript"></script>
        <?php
		try{
			$var_array = Zend_Controller_Front::getInstance()->getRequest()->getParams();
		}catch(Exception $e){
			
		}

		$module =null;
		if($var_array['module'] != 'default') {
			$module =$var_array['module'];	
		}

		echo $this->headLink();
		?>
        
        </head>
    <!-- END HEAD -->

    <body class="page-header-fixed page-sidebar-closed-hide-logo page-container-bg-solid">
	<?php 
	if($this->layout()->nestedLayout){
		$this->layout()->setLayout($this->layout()->nestedLayout); 
	}else{
		$this->layout()->setLayout('l2');
	}                             
	echo $this->layout()->render();  

	?>
        <!--[if lt IE 9]>
<script src="/assets/core/global/plugins/respond.min.js"></script>
<script src="/assets/core/global/plugins/excanvas.min.js"></script> 
<![endif]-->
        <!-- BEGIN CORE PLUGINS -->
        <script src="/assets/core/global/plugins/jquery.min.js" type="text/javascript"></script>
        <script src="/assets/core/global/plugins/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
        <script src="/assets/core/global/plugins/js.cookie.min.js" type="text/javascript"></script>
        <script src="/assets/core/global/plugins/bootstrap-hover-dropdown/bootstrap-hover-dropdown.min.js" type="text/javascript"></script>
        <script src="/assets/core/global/plugins/jquery-slimscroll/jquery.slimscroll.min.js" type="text/javascript"></script>
        <script src="/assets/core/global/plugins/jquery.blockui.min.js" type="text/javascript"></script>
        <script src="/assets/core/global/plugins/bootstrap-switch/js/bootstrap-switch.min.js" type="text/javascript"></script>
        <!-- END CORE PLUGINS -->
      
        <!-- BEGIN THEME GLOBAL SCRIPTS -->
        <script src="/assets/core/global/scripts/app.min.js" type="text/javascript"></script>
        <script src="/assets/core/global/plugins/bootstrap-growl/jquery.bootstrap-growl.min.js" type="text/javascript"></script>
        <!-- END THEME GLOBAL SCRIPTS -->
      
        <!-- BEGIN THEME LAYOUT SCRIPTS -->
        <script src="/assets/core/layouts/layout2/scripts/layout.min.js" type="text/javascript"></script>
        <script src="/assets/core/layouts/layout2/scripts/demo.min.js" type="text/javascript"></script>
        <script src="/assets/core/layouts/global/scripts/quick-sidebar.min.js" type="text/javascript"></script>
        <!-- END THEME LAYOUT SCRIPTS -->
        <?php 
			echo $this->headScript();
		?>
    </body>

</html>
